// Site/App Header
//================================================== //

// Variables for this file
$header-height: 60px;
$subheader-height: 60px;

// Top Header
.header {
  @include transition(background-color 500ms cubic-bezier(.17, .04, .03, .94));
  background-color: $header-bg-color;
  display: block;
  height: $header-height;
  overflow: hidden;
  width: 100%;

  .searchfield {
    border: 1px solid transparent;

    &.has-focus {
      box-shadow: none;
    }
  }

  .row {
    max-width: 100% !important;
    width: 100%;
  }

  > * {
    vertical-align: middle;
  }

  h1 {
    @include font-size(18);
    @include transition(transform 150ms cubic-bezier(.17, .04, .03, .94));
    color: $header-text-color;
    display: inline;
    font-weight: normal;
    margin-bottom: 0;
    text-overflow: ellipsis;
    vertical-align: middle;

    span {
      height: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Used for the popupmenu header pattern
  [class^="btn"] {
    > h1 {
      width: auto;
    }

    .icon.icon-dropdown {
      margin-left: 5px;
    }
  }

  .btn-primary {
    background-color: $header-primary-btn-background-color;
    border: 1px solid $header-primary-btn-background-color;

    &:hover,
    &:focus {
      background-color: $header-primary-btn-background-hover-color;
      border: 1px solid $header-primary-btn-background-hover-color;
    }

    &:focus:not(.hide-focus) {
      box-shadow: 0 0 0 2px $azure07, 0 0 0 3px $white, $header-focus-box-shadow;

      &:active {
        box-shadow: none;
      }
    }
  }

  .page-title {
    @include font-size(18);
    color: $header-text-color;
    margin-top: 3px;

    .alert .icon {
      line-height: inherit;
      margin-left: 7px;
      position: absolute;
      top: -3px;
    }
  }

  .section-title {
    @include font-size(14);
    color: $header-text-color;
    margin-top: 2px;
    padding: 0;
    text-transform: capitalize;
  }

  .separator {
    @include font-size(22);
    color: $header-text-color;
    padding: 0 4px 0 5px;
    position: relative;
    top: 1px;
  }

  .tooltip-description {
    color: $header-text-color;
  }

  .header-search {
    margin-left: -3px;
  }

  .header-right {
    float: right;
    position: relative;
    top: -7px;
  }

  .toolbar {
    height: $header-height; // Needs to not be 100% because it's possible for headers to have other controls beneath the toolbar
    padding: 0 1rem;

    .title {
      color: $header-text-color;
      height: $header-height;
      left: 8px;
      overflow: hidden;
      position: absolute;
      text-overflow: clip;

      h1 {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        + [class^="btn"] {
          margin-left: 5px;
        }

        span {
          display: block;
        }
      }

      [class^="btn"] + h1 {
        max-width: calc(100% - 40px);
      }

      .btn-menu {
        text-transform: none;
      }
    }

    .buttonset > .separator {
      background-color: $header-button-color;
      padding: 0;
    }

    .btn-toggle.is-pressed svg,
    .btn-toggle:hover svg {
      fill: white !important;
    }

    .btn-toggle svg {
      fill: rgba(255, 255, 255, 0.7) !important;
    }

    .panel-title {
      @include font-size(20);
      line-height: 1.2;
    }

    .panel-subhead {
      @include font-size(14);
      line-height: 1;
    }

    &.has-title-button + .breadcrumb {
      padding-left: 65px;
    }

    &.do-resize {

      .title {
        left: 8px;
      }

      &.has-more-button {
        .title {
          left: 8px;
        }
      }

    }
  }

  // Header Tabs
  // See "/sass/controls/_tabs.scss" for the basic tab styles
  // See "/sass/controls/_headertabs.scss" for overrides specific to header tabs

  // Wizard
  // See "/sass/controls/_wizard.scss" for the header-based styles

  // Sticky Header
  &.is-sticky {
    z-index: 9000;
  }

  &.subheader {
    background-color: $subhead-bg-color;
  }

  .go-button {
    background-color: $header-primary-btn-background-color;
    border-color: $header-primary-btn-background-color;
    color: $header-text-color;

    &:hover,
    &:active,
    &:focus,
    &:focus:active {
      background-color: $header-primary-btn-background-hover-color;
      border-color: $header-primary-btn-background-hover-color;
    }
  }

}

// Application Subheaders
.subheader {
  @include transition(background-color 500ms cubic-bezier(.17, .04, .03, .94));
  background-color: $subhead-bg-color;
  display: block;
  height: $subheader-height;
  overflow: hidden;
  width: 100%;

  .searchfield-wrapper {
    height: inherit;
    margin-bottom: 0;

    &.has-focus {
      box-shadow: none;
    }
  }

  .go-button {
    background-color: $header-primary-btn-background-color;
    border-color: $header-primary-btn-background-color;
    color: $header-text-color;

    &:hover,
    &:active,
    &:focus,
    &:focus:active {
      background-color: $header-primary-btn-background-hover-color;
      border-color: $header-primary-btn-background-hover-color;
    }

    &:not(.hide-focus) {
      box-shadow: 0 0 0 1px $body-bg-color, 0 0 0 2px $btn-focus-border-color, $focus-box-shadow;
    }
  }
}

.header,
.subheader {
  .toolbar {
    // Buttons in the header will all appear as Tertiary/Destructive-style
    [class^="btn"] {
      background-color: transparent;
      border: 1px solid transparent;
      color: $header-button-color;

      .icon {
        fill: $header-button-color;
      }

      &.is-open .icon,
      &.btn-menu.is-open .icon {
        fill: $header-button-hover-color !important;
      }

      .audible {
        color: $header-text-color;
      }

      &:hover:not([disabled]),
      &:active:not([disabled]),
      &[aria-expanded="true"] {
        color: $header-button-hover-color;

        .icon {
          fill: $header-button-hover-color;
        }
      }

      &:focus {
        color: $header-button-focus-color;

        .icon {
          fill: $header-button-focus-color;
        }
      }

      &:focus:not(.hide-focus) {
        box-shadow: 0 0 0 2px transparent, 0 0 0 1px $header-button-focus-color, $header-focus-box-shadow;
        color: $header-button-focus-color;

        .icon {
          fill: $header-button-focus-color;
        }
      }

      &.is-selected {
        &:focus:not(.hide-focus) {
          color: $header-button-focus-color;

          .icon {
            fill: $header-button-focus-color;
          }
        }
      }

      &[disabled] {
        color: $header-button-disabled-color !important;

        .icon {
          fill: $header-button-disabled-color !important;
        }

        &:hover {
          background-color: transparent;
          border-color: transparent;
        }
      }
      .ripple-effect {
        background-color: $header-text-color;
      }

    }
  }

  .full-searchfield-container {
    margin: 0 auto;
    max-width: $breakpoint-tablet-to-desktop;
    padding: 1.4rem 4rem 0;
    vertical-align: middle;

    .hyperlink {
      @include font-size(14);
      color: $white;
      float: right;

      &:focus:not(.hide-focus)::after,
      &:active::after {
        border-color: $white;
      }

    }
  }

  .app-header {
    height: 32px;
    width: 32px;

    &.icon {
      > span {
        background-color: $header-button-color;
      }
    }
  }

  .btn-icon:hover {
    span:not(.icon) {
      color: $header-text-color;
    }
  }

  .btn-menu:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-tertiary) {
    color: $header-button-color;

    .icon {
      fill: $header-button-color;
    }

    &:focus:not(.hide-focus) {
      box-shadow: none;
      color: $header-button-focus-color;
    }

    .ripple-effect {
      background-color: $header-button-color;
    }
  }

  .breadcrumb {
    display: block;
    padding: 1px 20px 0;

    ol {
      padding: 0;
    }

    .hyperlink {
      color: $header-breadcrumb-color;

      &:active:not([disabled]),
      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        color: $header-breadcrumb-color;
      }

      &:focus:not([disabled]):not(.hide-focus) {
        outline: 1px solid $header-breadcrumb-color;
      }

      &:hover:not([disabled]) {
        border-bottom: 1px solid $header-breadcrumb-color;
      }
    }

    li {
      color: $header-breadcrumb-color;

      &::after {
        color: $header-breadcrumb-color;
      }
    }

    &.alternate {
      background-color: $header-breadcrumb-alt-bg-color;
      border-bottom: 1px solid $header-breadcrumb-alt-color;

      &:hidden {
        border-bottom: 0;
      }

      ol {
        padding: 15px 0;
      }

      .hyperlink {
        color: $header-breadcrumb-alt-color;

        &:active:not([disabled]),
        &:hover:not([disabled]),
        &:focus:not([disabled]) {
          color: $header-breadcrumb-alt-color;
        }

        &:focus:not([disabled]):not(.hide-focus) {
          outline: 1px solid $header-breadcrumb-alt-color;
        }

        &:hover:not([disabled]) {
          border-bottom: 1px solid $header-breadcrumb-alt-color;
        }

      }

      li {
        color: $header-breadcrumb-alt-color;

        &::after {
          color: $header-breadcrumb-alt-color;
        }
      }
    }

  }
}

// Title Button Styles for these three elements
.header,
.subheader,
.masthead {
  .toolbar {
    [class^="btn"] {
      .app-header,
      .app-drawer {
        &.icon {
          > span {
            background-color: $header-button-color;
          }
        }
      }

      &:hover:not([disabled]),
      &:active:not([disabled]) {
        .app-drawer,
        .app-header {
          &.icon {
            > span {
              background-color: $header-button-hover-color;
            }
          }
        }
      }

      &:focus {
        .app-drawer,
        .app-header {
          &.icon {
            > span {
              background-color: $header-button-focus-color;
            }
          }
        }
      }

    }
  }
}


.is-firefox {
  .header {
    h1 {
      margin-top: 3px;
    }
  }
}

// RTL Styles
html[dir='rtl'] {

  .header {
    .toolbar {
      .title {
        left: auto;
        right: 8px;
      }

      &.do-resize {
        .title {
          left: auto;
          right: 8px;
        }
      }
    }
  }

}

// Print Style Sheet
@media print {
  body {
    background-color: transparent;
    width: 100%;
  }

  header.header,
  .masthead {
    background-color: transparent !important;
  }

  header.header .title {
    color: $graphite07 !important;
  }

  svg {
    fill: $graphite07 !important;
  }
}
