<h1 id="header-learn-more">Header <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Default Header Example <a href="../components/header/example-index">View Example</a></li>
<li>Disabled Buttons On Header <a href="../components/header/example-disabled-buttons">View Example</a></li>
<li>Eyebrow Style (Emphasis on the ID) <a href="../components/header/example-emphasize-id">View Example</a></li>
<li>Eyebrow Style (Default <a href="../components/header/example-eyebrow">View Example</a></li>
<li>No Title Button <a href="../components/header/example-no-title-button">View Example</a></li>
<li>Non Collapsible Search Field <a href="../components/header/example-non-collapsible-searchfield">View Example</a></li>
<li>Record ID <a href="../components/header/example-record-id">View Example</a></li>
<li>Expanded Search Field (Compact) <a href="../components/header/example-searchfield-expanded">View Example</a></li>
<li>Expanded Search Field (Large) <a href="../components/header/example-searchfield-large">View Example</a></li>
</ol>
  <section>
  
    


  
    

  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
    </tbody>
  </table>


  
    <h2>Settings</h2>

  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
    </tbody>
  </table>

  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>reset</td>
        <td>
          
        </td>
        <td>
          <p>Reset the toolbar to its default removing the drilled in patterns.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings () =  </span>
                
          
        </td>
        <td>
          <p>Sync up the ui with settings.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Tear down and destroy the menu and events.</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  

<h2 id="code-example">Code Example</h2>
<p>A header element always contains a toolbar. The toolbar is composed of three parts a title area a button area and a more/overflow area. This is a simple configuration.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2"></a>
<a class="sourceLine" id="cb1-3" data-line-number="3"><span class="kw">&lt;header</span><span class="ot"> class=</span><span class="st">&quot;header is-personalizable&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;toolbar&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;title&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6">      <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;btn-icon application-menu-trigger&quot;</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">        <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="kw">&gt;</span>Show navigation<span class="kw">&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb1-8" data-line-number="8">        <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;icon app-header&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">          <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;one&quot;</span><span class="kw">&gt;&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb1-10" data-line-number="10">          <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;two&quot;</span><span class="kw">&gt;&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11">          <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;three&quot;</span><span class="kw">&gt;&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb1-12" data-line-number="12">        <span class="kw">&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb1-13" data-line-number="13">      <span class="kw">&lt;/button&gt;</span></a>
<a class="sourceLine" id="cb1-14" data-line-number="14"></a>
<a class="sourceLine" id="cb1-15" data-line-number="15">      <span class="kw">&lt;h1&gt;</span>Page Title<span class="kw">&lt;/h1&gt;</span></a>
<a class="sourceLine" id="cb1-16" data-line-number="16">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-17" data-line-number="17"></a>
<a class="sourceLine" id="cb1-18" data-line-number="18">    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;buttonset&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-19" data-line-number="19">      <span class="kw">&lt;label</span><span class="ot"> for=</span><span class="st">&quot;header-searchfield&quot;</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="kw">&gt;</span>Search<span class="kw">&lt;/label&gt;</span></a>
<a class="sourceLine" id="cb1-20" data-line-number="20">      <span class="kw">&lt;input</span><span class="ot"> id=</span><span class="st">&quot;header-searchfield&quot;</span><span class="ot"> class=</span><span class="st">&quot;searchfield&quot;</span><span class="ot"> name=</span><span class="st">&quot;header-searchfield&quot;</span> <span class="kw">/&gt;</span></a>
<a class="sourceLine" id="cb1-21" data-line-number="21">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-22" data-line-number="22"></a>
<a class="sourceLine" id="cb1-23" data-line-number="23">    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;more&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-24" data-line-number="24">      <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;btn-actions&quot;</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-25" data-line-number="25">        <span class="kw">&lt;svg</span><span class="ot"> class=</span><span class="st">&quot;icon&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-26" data-line-number="26">          <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-more&quot;</span><span class="kw">&gt;&lt;/use&gt;</span></a>
<a class="sourceLine" id="cb1-27" data-line-number="27">        <span class="kw">&lt;/svg&gt;</span></a>
<a class="sourceLine" id="cb1-28" data-line-number="28">        <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="ot"> data-translate=</span><span class="st">&quot;text&quot;</span><span class="kw">&gt;</span>More<span class="kw">&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb1-29" data-line-number="29">      <span class="kw">&lt;/button&gt;</span></a>
<a class="sourceLine" id="cb1-30" data-line-number="30">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-31" data-line-number="31"></a>
<a class="sourceLine" id="cb1-32" data-line-number="32">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-33" data-line-number="33"><span class="kw">&lt;/header&gt;</span></a>
<a class="sourceLine" id="cb1-34" data-line-number="34"></a></code></pre></div>
<h2 id="behavior-guidelines">Behavior Guidelines</h2>
<ul>
<li>Add the class is-personalizable so that this element will get the company personalization color when set.</li>
</ul>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Use button elements for buttonset</li>
<li>Use invisible Labels for searchfield and icon buttons</li>
<li>Use html 5 header elements</li>
<li>Use F1 (or F2 if the layout prescribes) for the title element for correct page structure</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>See toolbar guidlines</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>See toolbar guidlines</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Replaces Module Header</li>
<li>Has entirely different structure with no great mapping</li>
</ul>
