<div class="row">
  <div class="twelve columns">
    <h1 class="section-title">Block Grid - Paging</h1>
    <div class="row blockgrid l-center" id="blockgrid">
  </div>
</div>

<script>
  $('body').on('initialized', function () {
    var data = [];

    data.push({
      image: '{{basepath}}/images/3.jpg',
      title: 'Sheena Taylor',
      subtitle: 'Infor, Developer',
      id: 1
    });
    data.push({
      image: '{{basepath}}/images/8.jpg',
      title: 'Jane Taylor',
      subtitle: 'Infor, Developer',
      id: 2
    });
    data.push({
      image: '{{basepath}}/images/13.jpg',
      title: 'Sam Smith',
      subtitle: 'Infor, SVP',
      id: 3
    });
    data.push({
      image: '{{basepath}}/images/22.jpg',
      title: 'Mary Pane',
      subtitle: 'Infor, Developer',
      id: 4
    });
    data.push({
      image: '{{basepath}}/images/3.jpg',
      title: 'Paula Paulson',
      subtitle: 'Infor, Architect',
      id: 5
    });
    data.push({
      image: '{{basepath}}/images/8.jpg',
      title: 'Nancy Packer',
      subtitle: 'Infor, Manager',
      id: 6
    });
    data.push({
      image: '{{basepath}}/images/13.jpg',
      title: 'Danielle Land',
      subtitle: 'Infor, Developer',
      id: 7
    });
    data.push({
      image: '{{basepath}}/images/22.jpg',
      title: 'Donna Horrocks',
      subtitle: 'Infor, Developer',
      id: 8
    });
    data.push({
      image: '{{basepath}}/images/3.jpg',
      title: 'Mary McConnel',
      subtitle: 'Infor, SVP',
      id: 9
    });
    data.push({
      image: '{{basepath}}/images/8.jpg',
      title: 'Julie Ayers',
      subtitle: 'Infor, Developer',
      id: 10
    });
    data.push({
      image: '{{basepath}}/images/13.jpg',
      title: 'Emily Bronte',
      subtitle: 'Infor, Architect',
      id: 11
    });
    data.push({
      image: '{{basepath}}/images/22.jpg',
      title: 'Rita Coyle',
      subtitle: 'Infor, Manager',
      id: 12
    });

    $('#blockgrid').blockgrid({
      dataset: data,
      selectable: 'multiple',
      paging: true,
      pagerSettings: {
        pagesize: 3,
        pagesizes: [3, 10, 25, 50, 75]
      }
    }).on('selected', function (e, args) {
      console.log(args);
    }).on('unselected', function (e, args) {
      console.log(args);
    });

  });

</script>
