<div class="row is-personalizable">
  <div class="six columns">
    <span class="label">Icon</span>
    <button class="btn-icon" type="button" id="primary-action-one" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-left', color: 'complete'}}">
      <span>Date</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use href="#icon-calendar"></use>
      </svg>
    </button>
    <button class="btn-icon" type="button" id="primary-action-two" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-left', color: 'yield'}}">
      <span>Date</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use href="#icon-calendar"></use>
      </svg>
    </button>
    <button class="btn-icon" type="button" id="primary-action-three" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-right', color: 'warning'}}">
      <span>Date</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use href="#icon-calendar"></use>
      </svg>
    </button>
    <button class="btn-icon" type="button" id="primary-action-four" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-right', color: 'alert'}}">
      <span>Date</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use href="#icon-calendar"></use>
      </svg>
    </button>
  </div>
</div>


