<div class="row is-personalizable">
  <div class="six columns">
    <span class="label">Primary</span>
    <button class="btn-primary" type="button" id="primary-action-one" data-options="{badge: 'true', badgeOptions: {position: 'lower-left', color: 'complete'}}">Action</button>
    <button class="btn-primary" type="button" id="primary-action-two" data-options="{badge: 'true', badgeOptions: {position: 'upper-left', color: 'yield'}}">Action</button>
    <button class="btn-primary" type="button" id="primary-action-three" data-options="{badge: 'true', badgeOptions: {position: 'lower-right', color: 'warning'}}">Action</button>
    <button class="btn-primary" type="button" id="primary-action-four" data-options="{badge: 'true', badgeOptions: {position: 'upper-right', color: 'alert'}}">Action</button>
  </div>
</div>


