<div class="row top-padding">
  <div class="twelve columns">
    <p class="section-title">Button with Notification Badge</p>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <span class="label">Icon</span>
    <button class="btn-icon" type="button" id="primary-action-two" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-left', color: 'complete'}}">
      <span>Date</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use href="#icon-calendar"></use>
      </svg>
    </button>
    <button class="btn-icon" type="button" id="primary-action-four" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-right', color: 'alert'}}">
      <span>Date</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use href="#icon-calendar"></use>
      </svg>
    </button>
    <button class="btn-icon" type="button" id="primary-action-one" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-left', color: 'progress'}}">
      <span>Date</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use href="#icon-calendar"></use>
      </svg>
    </button>
    <button class="btn-icon" type="button" id="primary-action-three" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-right', color: 'warning'}}">
      <span>Date</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use href="#icon-calendar"></use>
      </svg>
    </button>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">
    <span class="label">Toolbar Flex Nav</span>
    <button id="header-hamburger" class="btn-icon application-menu-trigger" type="button" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-left', color: 'complete'}}">
      <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>

    <button id="header-hamburger" class="btn-icon application-menu-trigger" type="button" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-right', color: 'alert'}}">
      <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>

    <button id="header-hamburger" class="btn-icon application-menu-trigger" type="button" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-left', color: 'progress'}}">
      <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>

    <button id="header-hamburger" class="btn-icon application-menu-trigger" type="button" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-right', color: 'warning'}}">
      <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">
    <span class="label">Tertiary</span>
  </div>

  <button type="button" class="btn-tertiary" id="tertiary-filter-one" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-left', color: 'complete'}}">
    <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
      <use href="#icon-calendar"></use>
    </svg>
    <span>Action Label</span>
  </button>

  <button type="button" class="btn-tertiary" id="tertiary-filter-one" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-right', color: 'alert'}}">
    <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
      <use href="#icon-calendar"></use>
    </svg>
    <span>Action Label</span>
  </button>

  <button type="button" class="btn-tertiary" id="tertiary-filter-one" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-left', color: 'progress'}}">
    <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
      <use href="#icon-calendar"></use>
    </svg>
    <span>Action Label</span>
  </button>

  <button type="button" class="btn-tertiary" id="tertiary-filter-one" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-right', color: 'warning'}}">
    <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
      <use href="#icon-calendar"></use>
    </svg>
    <span>Action Label</span>
  </button>
</div>

