
<div class="row">
  <div class="four columns">

    <button type="button" id="favorite-1" class="btn-icon icon-favorite btn-toggle" title="Favorite" aria-pressed="true" data-options="{toggleOnIcon: 'icon-star-filled', toggleOffIcon: 'icon-star-outlined'}">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-star-filled"></use>
       </svg>
       <span class="audible">Favorite</span>
    </button>

    <button type="button" id="favorite-2" class="btn-icon icon-favorite btn-toggle" title="Favorite" aria-pressed="false" data-options="{toggleOnIcon: 'icon-star-filled', toggleOffIcon: 'icon-star-outlined'}">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-star-outlined"></use>
      </svg>
      <span class="audible">Favorite</span>
    </button>

    <button type="button" id="love-it" class="btn-icon btn-toggle" title="Love It" aria-pressed="false" data-options="{toggleOnIcon: 'icon-heart-filled', toggleOffIcon: 'icon-heart-outlined'}">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-heart-outlined"></use>
       </svg>
       <span class="audible">Love It</span>
    </button>

    <button type="button" id="filter" class="btn-icon btn-toggle" title="Show Filter Row" aria-pressed="false">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use href="#icon-filter"></use>
       </svg>
       <span class="audible">Filter</span>
    </button>

  </div>
</div>
