
<div class="row">
  <div class="twelve columns">

    <button type="button" class="btn-menu">
      <span>Settings</span>
    </button>
    <ul class="popupmenu">
      <li><a id="setting-1" href="#">Setting 1</a>
      <li><a id="setting-2" href="#">Setting 2</a>
      <li><a id="setting-3" href="#">Setting 3</a>
      <li class="submenu">
        <a id="more-options" href="#">More Settings</a>
        <ul class="popupmenu">
          <li><a id="sub-setting-1" href="#">Sub-Setting 1</a>
          <li><a id="sub-setting-2" href="#">Sub-Setting 2</a>
          <li><a id="sub-setting-3" href="#">Sub-Setting 3</a>
        </ul>
      </li>
    </ul>

  </div>
</div>
