// Uplift Lookup
//================================================== //
.field-short,
.form-layout-compact .field {
  .lookup-wrapper {
    .trigger {
      .icon {
        top: 7px;
      }
    }
  }
}

.lookup-wrapper {
  .searchfield-wrapper {
    > .icon.close {
      right: 35px;
      top: 12px;
    }
  }
}

html.is-firefox {
  .lookup-wrapper {
    .trigger {
      .icon {
        top: 6px;
      }
    }
  }
}

html[dir='rtl'] {
  .field-short,
  .form-layout-compact .field {
    .lookup-wrapper {
      .trigger {
        .icon {
          top: 7px;
        }
      }
    }
  }
}
