// Uplift Lookup
//================================================== //
.lookup-wrapper {
  .trigger {
    margin-top: 7px;

    .icon {
      right: 0;
      top: 0;
    }
  }

  .searchfield-wrapper {
    > .icon.close {
      right: 35px;
      top: 14px;
    }
  }

  .has-custom-icon .icon {
    height: 16px;
    right: -8px;
    width: 16px;
  }
}

.field-short,
.form-layout-compact .field {
  .lookup-wrapper {
    .trigger {
      margin-top: 4px;

      .icon {
        right: 0;
        top: -2px;
      }
    }
  }
}

html.is-firefox {
  .lookup-wrapper {
    .trigger {
      .icon {
        top: 0;
      }
    }
  }
}

html[dir='rtl'] {
  .lookup-wrapper {
    .trigger {
      margin-right: -32px;
      margin-top: 8px;

      .icon {
        left: auto;
      }
    }

    .searchfield-wrapper {
      > .icon.close {
        left: 35px;
      }
    }
  }

  .field-short,
  .form-layout-compact .field {
    .lookup-wrapper {
      .trigger {
        margin-right: -25px;
        margin-top: 4px;

        .icon {
          right: 0;
          top: -2px;
        }
      }
    }
  }
}

.modal-content {
  .toolbar {
    .buttonset {
      .searchfield-wrapper {
        .btn-icon {
          top: 4px;

          .close.icon {
            border: 1px solid transparent;
            left: 4px;
            top: calc(50% - 3px);
          }

          &:focus {
            .close.icon {
              display: block;
              left: 4px;
              top: calc(50% - 3px);
            }
          }
        }
      }
    }
  }
}
