// Uplift Lookup
//================================================== //
.field-short,
.form-layout-compact .field {
  .lookup-wrapper {
    .trigger {
      .icon {
        top: 7px;
      }
    }
  }
}

.lookup-wrapper {
  .searchfield-wrapper {
    > .icon.close {
      right: 35px;
      top: 14px;
    }
  }

  .has-custom-icon .icon {
    height: 16px;
    right: -8px;
    width: 16px;
  }
}

html.is-firefox {
  .lookup-wrapper {
    .trigger {
      .icon {
        top: 6px;
      }
    }
  }
}

html[dir='rtl'] {
  .field-short,
  .form-layout-compact .field {
    .lookup-wrapper {
      .trigger {
        .icon {
          top: 7px;
        }
      }
    }
  }

  .lookup-wrapper {
    .searchfield-wrapper {
      > .icon.close {
        left: 35px;
      }
    }
  }
}

.modal-content {
  .toolbar {
    .buttonset {
      .searchfield-wrapper {
        .btn-icon {
          &:focus {
            .close.icon {
              display: block;
              left: 4px;
              top: 0.5px;
            }
          }
          .close.icon {
            top: -3px;
          }
        }
      }
    }
  }
}
