<div class="homepage page-container scrollable" data-columns="3">
  <div class="content">
    <div class="widget double-width double-height border-less show-buttons">
      <div class="widget-content">
        <div class="listview card-list" id="custom-listview">
          <ul id="custom-listview-items" role="presentation">
            <li>
              <div class="card card-variant show-buttons" id="test-select">
                <div class="card-image">
                  <svg class="icon amber05-color" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-clock"></use>
                  </svg>
                </div>
                <div class="card-content">
                  <div class="card-content-header">There are <b>5 records</b> for the company ‘Masrani Corp.’, location ‘WH28 - Main Warehouse’ and item ‘23- Bandage’</div>
                </div>
                <div class="card-buttonset">
                  <button class="btn-icon heart" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-heart-filled"></use>
                    </svg>
                  </button>
                  <button class="btn-icon star" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-star-filled"></use>
                    </svg>
                  </button>
                  <button class="btn-icon settings" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-settings"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>

            <li>
              <div class="card card-variant show-buttons">
                <div class="card-image">
                  <svg class="icon amber05-color" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-clock"></use>
                  </svg>
                </div>
                <div class="card-content">
                  <div class="card-content-header">There are <b>5 records</b> for the company ‘Masrani Corp.’, location ‘WH28 - Main Warehouse’ and item ‘23- Bandage’</div>
                </div>
                <div class="card-buttonset">
                  <button class="btn-secondary filter" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                      <use href="#icon-filter"></use>
                    </svg>
                    <span>Filter</span>
                  </button>
                  <button class="btn-secondary filter" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                      <use href="#icon-filter"></use>
                    </svg>
                    <span>Filter</span>
                  </button>
                </div>
              </div>
            </li>

            <li>
              <div class="card card-variant show-buttons">
                <div class="card-image">
                  <svg class="icon amber05-color" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-clock"></use>
                  </svg>
                </div>
                <div class="card-content">
                  <div class="card-content-header">There are <b>5 records</b> for the company ‘Masrani Corp.’, location ‘WH28 - Main Warehouse’ and item ‘23- Bandage’</div>
                </div>
                <div class="card-buttonset">
                  <button class="btn filter" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                      <use href="#icon-filter"></use>
                    </svg>
                    <span>Filter</span>
                  </button>
                  <button class="btn-icon star" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-star-filled"></use>
                    </svg>
                  </button>
                  <button class="btn-icon heart" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-heart-filled"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>

            <li>
              <div class="card card-variant show-buttons">
                <div class="card-image">
                  <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of John" tabindex="0"/>
                </div>
                <div class="card-content">
                  <div class="card-content-header">Test Peer appraisal process For Michelles Harding; Performance Review Period: January 1, 2011-December 31, 2011 Acknowledge</div>
                  <div class="card-content-sub">Yesterday at 7:34 PM</div>
                </div>
                <div class="card-buttonset">
                  <button class="btn filter" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                      <use href="#icon-filter"></use>
                    </svg>
                    <span>Filter</span>
                  </button>
                  <button class="btn-icon heart" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-heart-filled"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>

            <li>
              <div class="card card-variant show-buttons">
                <div class="card-content">
                  <div class="card-content-status error">
                      <span class="tag error"><span class="audible">Error</span>Late</span>
                  </div>
                  <div class="card-content-header">Test Peer appraisal process For Michelles Harding; Performance Review Period: January 1, 2011-December 31, 2011 Acknowledge</div>
                  <div class="card-content-sub">Yesterday at 7:34 PM</div>
                </div>
                <div class="card-buttonset">
                  <button class="btn filter" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                      <use href="#icon-filter"></use>
                    </svg>
                    <span>Filter</span>
                  </button>
                  <button class="btn-icon star" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-star-filled"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>

            <li>
              <div class="card card-variant show-buttons">
                <div class="card-content">
                  <div class="card-content-header">8 Mile Resurfacing</div>
                  <div class="card-content-sub">City of Detroit</div>
                </div>

              </div>
            </li>

            <li>
              <div class="card card-variant">
                <div class="card-content">
                  <p class="listview-heading-lg">listview-heading-lg</p>
                  <p class="listview-heading">listview-heading</p>
                  <p class="listview-subheading">
                    listview-subheading
                  </p>
                  <p class="listview-micro">listview-micro</p>
                  <span class="listview-data-label">listview-data-label</span><br>
                  <span class="listview-data">listview-data</span>
                  <span class="listview-text">listview-text</span><br>
                  <a class="hyperlink" href="# disabled tabindex="-1" target="_blank">hyperlink</a><br>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="widget show-buttons">
      <div class="widget-header">
        <h2 class="widget-title">Listview Custom</h2>
        <div class="card-buttonset">
          <button type="button" class="btn-icon hide-focus" id="search-id">
            <span>Search</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-search"></use>
            </svg>
            <span class="audible">Search</span>
          </button>
          <button class="btn-actions" type="button">
            <span class="audible">Actions</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-vertical-ellipsis"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="widget-content">
        <div class="listview-search">
          <label class="audible" for="gridfilter">Search</label>
          <input class="searchfield" placeholder="Search My Alerts" name="searchfield" id="gridfilter" data-options="{clearable: true}"/>
        </div>

        <div class="listview" id="search-listview" style="overflow-x: hidden">
          <ul>
            <li class="d-flex">
              <div style="width: 240px">
                <p class="listview-data">8 Mile Resurfacing</p>
                <p class="listview-micro">City of Detroit</p>
              </div>
              <span class="tag warning"><span class="audible">Alert</span>On Hold</span>
            </li>

            <li>
              <p class="listview-heading-lg">listview-heading-lg</p>
              <p class="listview-heading">listview-heading</p>
              <p class="listview-subheading">
                listview-subheading
              </p>
              <p class="listview-micro">listview-micro</p>
              <span class="listview-data-label">listview-data-label</span><br>
              <span class="listview-data">listview-data</span>
              <span class="listview-text">listview-text</span><br>
              <a class="hyperlink" href="# disabled tabindex="-1" target="_blank">hyperlink</a><br>
            </li>

            <li>
              <label class="l-vertical-center inline inline-checkbox" style="left: 18px; margin-top: -9px; position: absolute;">
                <input type="checkbox" class="checkbox">
                <span class="label-text" role="presentation">
                  <span class="audible">Checkbox Not Selected.</span>
                </span>
              </label>
              <div style="padding-left: 45px;">
                <p class="listview-heading" style="width: 1156px;">Task #Task 191/2001</p>
                <p class="listview-subheading">Special fields test - New item has been created. </p>
                <p class="listview-micro">Due: 10/11/2015</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="widget show-buttons border-less">
      <div class="widget-header">
        <h2 class="widget-title">Listview Card List</h2>
        <div class="card-buttonset">
          <button type="button" class="btn-icon hide-focus">
            <span>Search</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-search"></use>
            </svg>
            <span class="audible">Search</span>
          </button>
          <button class="btn-actions" type="button">
            <span class="audible">Actions</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-vertical-ellipsis"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="widget-content">
        <div class="listview card-list" id="small-card-listview">
          <ul>
            <li>
              <div class="card card-variant show-buttons">
                <div class="card-image">
                  <svg class="icon amber05-color" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-clock"></use>
                  </svg>
                </div>
                <div class="card-content">
                  <div class="card-content-header">There are <b>5 records</b> for the company ‘Masrani Corp.’, location ‘WH28 - Main Warehouse’ and item ‘23- Bandage’</div>
                </div>
                <div class="card-buttonset">
                  <button class="btn-icon settings" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-settings"></use>
                    </svg>
                  </button>
                  <button class="btn-icon heart" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-heart-filled"></use>
                    </svg>
                  </button>
                  <button class="btn-icon star" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-star-filled"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>

            <li>
              <div class="card card-variant show-buttons">
                <div class="card-image">
                  <svg class="icon amber05-color" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-clock"></use>
                  </svg>
                </div>
                <div class="card-content">
                  <div class="card-content-header">There are <b>5 records</b> for the company ‘Masrani Corp.’, location ‘WH28 - Main Warehouse’ and item ‘23- Bandage’</div>
                </div>
                <div class="card-buttonset">
                  <button class="btn-secondary filter" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                      <use href="#icon-filter"></use>
                    </svg>
                    <span>Filter</span>
                  </button>
                  <button class="btn-icon settings" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-settings"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>

            <li>
              <div class="card card-variant show-buttons">
                <div class="card-image">
                  <svg class="icon amber05-color" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-clock"></use>
                  </svg>
                </div>
                <div class="card-content">
                  <div class="card-content-header">There are <b>5 records</b> for the company ‘Masrani Corp.’, location ‘WH28 - Main Warehouse’ and item ‘23- Bandage’</div>
                </div>
                <div class="card-buttonset">
                  <button class="btn filter" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                      <use href="#icon-filter"></use>
                    </svg>
                    <span>Filter</span>
                  </button>
                  <button class="btn-icon heart" type="button">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-heart-filled"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{={{{ }}}=}}
<script>
  $('body').on('initialized', function () {
    const cardlistview = $('#custom-listview').listview().data('listview');
    const listviewEl = $('#search-listview').listview().data('listview');
    const smallCardListview = $('#small-card-listview').listview().data('listview');

    $('button.star').on('click', () => {
      $('body').toast({
        title: 'Star',
        message: 'This is a starry message.'
      });
    });

    $('button.heart').on('click', () => {
      $('body').toast({
        title: 'Heart',
        message: 'This is a hearty message.'
      });
    });

    $('button.settings').on('click', () => {
      $('body').toast({
        title: 'Settings',
        message: 'This is a message.'
      });
    });

    $('button.filter').on('click', () => {
      $('body').toast({
        title: 'Filter',
        message: 'This is a filter message.'
      });
    });
  });
</script>
