// Uplift Dropdown
//================================================== //

// Create a token for this
$dropdown-size-padding-x-r: 30px;

div.dropdown,
div.multiselect {
  + .icon {
    right: 10px;
    top: 3px;
  }
}

.dropdown-list {
  > .trigger {
    margin-left: -$dropdown-size-padding-x-r;
    width: $dropdown-size-padding-x-r;

    .icon {
      top: 9px;
    }
  }
}
