// Uplift Dropdown
//================================================== //

// Create a token for this
$dropdown-size-padding-x-r: 30px;

div.dropdown,
div.multiselect {
  + .icon {
    right: 8px;
    top: 3px;
  }

  > .listoption-icon {
    left: 12px;
    top: 11px;

    &.swatch {
      left: 13px;
    }

    + span {
      padding-left: 25px;
    }
  }

  &.has-tags {
    padding: 0;

    .tag-content {
      line-height: 19px;
    }

    + .icon {
      height: 30px;
    }
  }

  .tag-list {
    padding: 2px 30px 4px 10px;

    &.empty {
      padding: 16px 0 15px;
    }

    .btn-dismissible,
    .btn-linkable {
      .icon {
        vertical-align: middle;
      }
    }
  }
}

.dropdown-list {
  &.small-rowheight {
    &.datagrid-dropdown-list .trigger .icon {
      top: 8.5px;
      margin-left: -0.5px;
    }
  }

  &.has-icons {
    .dropdown-search {
      padding-left: 35px;
    }
  }

  > .trigger {
    width: $dropdown-size-padding-x-r;

    .icon {
      top: 9px;
    }
  }

  > .listoption-icon {
    top: 10px;

    &.swatch {
      left: 12px;
    }
  }

  li {
    span {
      &.swatch {
        margin-left: -18px;
      }
    }
  }

  &.ffdropdown {
    &.is-ontop {
      > .trigger {
        .icon {
          top: 11px;
        }
      }
    }
  }

  &.is-ontop {
    > .listoption-icon {
      bottom: 8px;
      top: auto;
    }
  }

  &.text-align-reverse {
    input.dropdown-search {
      &.text-align-reverse {
        padding-right: 19px !important;
      }
    }

    &.search-mode {
      input.dropdown-search {
        padding-right: 20px !important;
      }
    }
  }
}

// Adjust Short Field Dropdowns
.field-short,
.form-layout-compact .field {
  div.dropdown,
  div.multiselect {
    + .icon {
      top: 3px;
      width: 16px;
    }

    &.has-tags {
      .tag-content {
        line-height: 17px;
      }
    }
  }
}

.dropdown-list.dropdown-short {
  .trigger {
    .icon {
      left: -1px;
      top: 5px;
      width: 16px;
    }
  }

  .dropdown-search {
    padding: 2px 16px 2px 5px;
  }
}

// Dropdown Arrow is finicky on IE11
.ie.ie11 {
  div.dropdown,
  div.multiselect {
    > .listoption-icon {
      left: 12px;
      top: 12px;

      &.swatch {
        left: 12px;

        + span {
          position: relative;
          top: 1px;
        }
      }

      + span {
        padding-left: 26px;
      }
    }
  }

  .dropdown-list {
    &.has-icons {
      .dropdown-search {
        padding-left: 36px;
      }
    }

    > ul {
      li.dropdown-option {
        .listoption-icon {
          top: 3px;
        }
      }

      li {
        &.is-swatch {
          padding-left: 26px;
        }

        span.swatch {
          margin-left: -15px;
        }
      }
    }

    &:not(.dropdown-short) {
      > .trigger {
        margin-left: -29px;
      }

      .listoption-icon {
        top: 11px;

        &.swatch {
          left: 11px;
        }
      }

      &.is-ontop {
        > .listoption-icon {
          bottom: 6px;
          top: auto;
        }
      }
    }

    &.dropdown-short {
      > .trigger .icon {
        left: -8px;
      }
    }
  }

  .field-short,
  .form-layout-compact .field {
    div.dropdown,
    div.multiselect {
      > .listoption-icon {
        top: 6px;
      }
    }
  }
}

// Fix Tag icon placement on Mac OSX
.is-mac {
  div.dropdown,
  div.multiselect {
    .btn-dismissible,
    .btn-linkable {
      .icon {
        top: -2px;
      }
    }
  }
}

// Fix Tag icon placement on IE/Edge
.ie {
  div.dropdown,
  div.multiselect {
    .tag-list {
      .btn-dismissible,
      .btn-linkable {
        .icon {
          top: -1px;
        }
      }
    }
  }
}

.is-safari,
.ios {
  div.dropdown,
  div.multiselect {
    .tag-list {
      .btn-dismissible,
      .btn-linkable {
        .icon {
          top: -1px;
        }
      }
    }
  }
}

// Dropdown icon and Tags for Firefox
.is-firefox {
  div.dropdown,
  div.multiselect {
    > .listoption-icon {
      left: 12px;

      &.swatch {
        left: 12px;
      }
    }

    .tag-content {
      line-height: normal;
    }

    .btn-dismissible,
    .btn-linkable {
      .icon {
        top: -1px;
      }
    }
  }

  .dropdown-list {
    > .listoption-icon {
      &.swatch {
        left: 11px;
      }
    }

    .dropdown-option {
      &.is-swatch {
        padding-left: 26px;
      }

      .swatch {
        margin-left: -15px;
      }
    }

    &.is-ontop {
      > .listoption-icon {
        bottom: 8px;
        top: auto;
      }
    }
  }

  &.android {
    .field-short,
    .form-layout-compact .field {
      div.dropdown,
      div.multiselect {
        + .icon {
          top: 2px;
        }
      }
    }
  }
}

// Icon placement isn't quite right on Firefox
html.is-firefox:not([dir='rtl']) {
  div.dropdown,
  div.multiselect {
    padding: 5px 30px 6px 10px;

    + .icon {
      top: 2px;
    }

    > .listoption-icon {
      top: 10px;

      + span {
        padding-left: 26px;
      }
    }

    &.has-tags {
      padding: 0;
    }

    .tag-list {
      padding: 4px 30px 6px 10px;

      &.empty {
        &::after {
          content: ' ';
          display: inline-block;
        }
      }
    }
  }

  .dropdown-search {
    padding: 6px 30px 6px 10px;
  }

  .dropdown-list {
    > .trigger .icon {
      top: 7.5px;
    }

    &.datagrid-dropdown-list.is-editing .trigger .icon {
      top: 8.5px;
      margin-left: -0.5px;
    }

    &.small-rowheight {
      &.datagrid-dropdown-list .trigger .icon {
        top: 7.5px;
        margin-left: 0.5px;
      }
    }

    &.extra-small-rowheight {
      &.datagrid-dropdown-list .trigger .icon {
        top: 7px;
        margin-left: 0;
      }
    }

    > .listoption-icon {
      top: 9px;
    }

    &.is-ontop {
      > .listoption-icon {
        bottom: 8px;
        top: auto;
      }
    }

    &.has-icons {
      .dropdown-search {
        padding: 6px 30px 6px 36px;
      }
    }

    &.dropdown-short {
      .dropdown-search {
        padding: 2px 16px 5px 5px !important;
      }

      > .trigger .icon {
        top: 6px;
      }

      &.has-icons {
        .dropdown-search {
          padding: 3px 16px 2px 25px;
        }
      }
    }
  }

  .field-short,
  .form-layout-compact .field {
    div.dropdown,
    div.multiselect {
      padding: 2px 16px 2px 5px;

      + .icon {
        top: 3px;
      }

      &.has-tags {
        .tag-content {
          line-height: 17px;
        }
      }
    }
  }

  .form-layout-compact .field {
    .dropdown.has-tags {
      + .icon {
        height: 31px;
        top: 1px;
      }
    }
  }

  .field {
    .dropdown.has-tags {
      + .icon {
        height: 35px;
      }
    }
  }
}

// Reset the `.dropdown-search` padding on Firefox RTL
html[dir='rtl'] {
  div.dropdown,
  div.multiselect {
    + .icon {
      left: 8px;
    }

    .listoption-icon {
      top: 10px;
    }
  }

  .dropdown-list {
    > .listoption-icon {
      top: 9px;
    }

    > .trigger {
      .icon {
        margin-right: -24px;
      }
    }
  }

  .dropdown-search {
    padding: 8px 10px 7px 39px;
  }

  .field-short,
  .form-layout-compact .field {
    div.dropdown,
    div.multiselect {
      padding: 5px 5px 2px 8px;

      + .icon {
        left: 5px;
        top: 0;
      }

      .listoption-icon {
        top: 5px;
      }
    }
  }

  .dropdown-list {
    &.has-icons {
      .dropdown-search {
        padding: 8px 39px 7px 30px;
      }
    }
  }

  .dropdown-list.dropdown-short {
    .dropdown-search {
      padding: 2px 5px 2px 16px;
    }

    > .trigger .icon {
      margin-right: -21px;
      right: auto;
      top: 6px;
    }

    > .listoption-icon {
      top: 4px;
    }

    &.has-icons {
      .dropdown-search {
        padding: 2px 25px 2px 16px;
      }
    }

    &.is-ontop {
      > .trigger .icon {
        top: 8px;
      }
    }
  }

  // Dropdown Arrow is finicky on IE11
  &.ie.ie11 {
    .dropdown-list {
      &:not(.dropdown-short) {
        > .trigger {
          margin-left: -29px;
        }
      }

      &.dropdown-short {
        > .trigger .icon {
          left: -5px;
        }
      }
    }
  }

  // Re-apply extended padding for Firefox
  &.is-firefox {
    .field-short,
    .form-layout-compact .field {
      div.dropdown,
      div.multiselect {
        padding: 2px 5px 2px 16px;

        + .icon {
          top: -2px;
        }
      }
    }

    .dropdown-search {
      padding: 9px 10px 7px 32px;
    }

    .dropdown-list.dropdown-short {
      .dropdown-search {
        padding: 3px 5px 2px 16px;
      }

      > .trigger .icon {
        right: 5px;
        top: 3px;
      }

      &.has-icons {
        .dropdown-search {
          padding: 3px 25px 2px 21px;
        }
      }
    }
  }
}

.compound-field {
  .field-short,
  .form-layout-compact .field {
    div.dropdown,
    div.multiselect {
      + .icon {
        top: -1px;
      }
    }
  }
}

.dropdown-list.dropdown-short > .trigger .icon.search {
  left: -1px;
  right: 0;
  top: 3px;
}

// Default swatch's list option icon color
div.dropdown > .listoption-icon,
div.multiselect > .listoption-icon,
.dropdown-list > .listoption-icon,
.dropdown-list li span {
  &.swatch {
    html.theme-new-light &.primary-bg-color,
    html.theme-new-contrast &.primary-bg-color {
      border: 1px solid $ids-color-palette-slate-30;
      background-color: $ids-color-palette-white;
    }

    html.theme-new-dark &.primary-bg-color {
      background-color: $ids-color-brand-primary-base;
    }
  }
}
