<div class="row">
  <div class="six columns">
    <h2>Dropdown Test: Single-Value Short Fields</h2>
    <p>Related JIRA Ticket: <a class="hyperlink" href="https://jira.infor.com/browse/SOHO-7192">SOHO-7192</a>.</p>
  </div>
</div>

<div class="row">
	<div class="one column">
		<div class="field-short">
			<select class="dropdown" style="width: 50.4px; left: 176.8px; top: 60px;">
				<option value="1" selected="true">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
			</select>
		</div>
	</div>
</div>
