<div class="row top-padding">
  <div class="six columns">
    <h2>Color Picker (Case Types)</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="colorpicker-uc">Upper Case</label>
      <input class="colorpicker" id="colorpicker-uc" type="text" data-options="{'uppercase': true}" />
    </div>

    <div class="field">
      <label for="colorpicker-lc">Lower Case</label>
      <input class="colorpicker" id="colorpicker-lc" type="text" data-options="{'uppercase': false}" />
    </div>

  </div>
</div>
