<h1 id="tabs-component-learn-more">Tabs Component <a href="https://soho.infor.com/index.php?p=component/tabs">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li><a href="../components/tabs/example-index">Common Configuration</a></li>
<li><a href="../components/tabs/example-counts">Tabs With Counts</a></li>
<li><a href="../components/tabs/example-dismissible-tabs">Dismissible Tabs</a></li>
<li><a href="../components/tabs/example-dropdown-tabs">Dropdown Tabs</a></li>
<li><a href="../components/tabs/example-update-count-api"><code>updateCount()</code> Demo</a></li>
<li><a href="../components/tabs/example-url-hash-change"><code>changeTabOnHashChange</code> Setting with Callback Demo</a></li>
<li><a href="../components/tabs/example-beforeactivate-callback"><code>beforeActivate</code> Callback example</a></li>
</ol>
 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      


  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      the base element for this component
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      object
    </td>
    <td>
      incoming settings
    </td>
  </tr>


  <tr>
    <td>
      settings.addTabButton
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If set to true, creates a button at the end
of the tab list that can be used to add an empty tab and panel
    </td>
  </tr>


  <tr>
    <td>
      settings.addTabButtonCallback
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      function
    </td>
    <td>
      if defined as a function, will
be used in-place of the default Tab Adding method
    </td>
  </tr>


  <tr>
    <td>
      settings.appMenuTrigger
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If set to true, will force an App Menu
trigger to be present on Non-Vertical Tabs implementatations.
    </td>
  </tr>


  <tr>
    <td>
      settings.appMenuTriggerText
    </td>
    <td>
      <span>undefined</span>
    </td>
    <td>
      string
    </td>
    <td>
      If defined, replaces the default "Menu" text used
in the app menu trigger.
    </td>
  </tr>


  <tr>
    <td>
      settings.ajaxOptions
    </td>
    <td>
      <span>undefined</span>
    </td>
    <td>
      object
    </td>
    <td>
      if defined, will be used by any internal
Tabs AJAX calls as the desired request settings.
    </td>
  </tr>


  <tr>
    <td>
      settings.beforeActivate
    </td>
    <td>
      <span>undefined</span>
    </td>
    <td>
      function
    </td>
    <td>
      If defined as a function, fires
this before a tab is activated to allow a possible "veto" of the tab swap (SOHO-5250).
    </td>
  </tr>


  <tr>
    <td>
      settings.containerElement
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      
    </td>
    <td>
      Defines a separate element
to be used for containing the tab panels.  Defaults to a `.tab-panel-container`
element that is created if it doesn't already exist.
    </td>
  </tr>


  <tr>
    <td>
      settings.changeTabOnHashChange
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true, will change the selected
tab on invocation based on the URL that exists after the hash.
    </td>
  </tr>


  <tr>
    <td>
      settings.hashChangeCallback
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      function
    </td>
    <td>
      If defined as a function,
provides an external method for adjusting the current page hash used by these tabs.
    </td>
  </tr>


  <tr>
    <td>
      settings.lazyLoad
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      if true, when using full URLs in tab HREFs,
or when using Ajax calls, tabs will be loaded as needed instead of the markup
all being established at once.
    </td>
  </tr>


  <tr>
    <td>
      settings.moduleTabsTooltips
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      if true, will display a tooltip on
Module Tabs with cut-off text content.
    </td>
  </tr>


  <tr>
    <td>
      settings.source
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      function
    </td>
    <td>
      If defined, will serve as a way of pulling
in external content to fill tabs.
    </td>
  </tr>


  <tr>
    <td>
      settings.sourceArguments
    </td>
    <td>
      <span>{}</span>
    </td>
    <td>
      object
    </td>
    <td>
      If a source method is defined, this
flexible object can be passed into the source method, and augmented with
parameters specific to the implementation.
    </td>
  </tr>


  <tr>
    <td>
      settings.tabCounts
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true, Displays a modifiable count above each tab.
    </td>
  </tr>


  <tr>
    <td>
      settings.verticalResponsive
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If Vertical Tabs & true, will automatically
switch to Horizontal Tabs on smaller breakpoints.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>handleOutboundLink</td>
        <td>
          
                
                  <span>href (string) = incoming href link
 </span>
                
                  <span>useRelativePath (boolean) = don't prepend the full domain, port,
protocol, etc. to the HREF.
 </span>
                
          
        </td>
        <td>
          <p>Changes the location in the browser address bar to force outbound links.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>hasAnimatedBar</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset's tab list should display an animated selected state on a tab.</p>

        </td>
        <td>
          whether or not the animated selected state should display.
boolean
        </td>
      </tr>
      <tr>
        <td>hasSquareFocusState</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset's tab list should display a square focus state on a tab.</p>

        </td>
        <td>
          whether or not the square focus state should display.
boolean
        </td>
      </tr>
      <tr>
        <td>hasMoreButton</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset currently has a "More Tabs" spillover button.</p>

        </td>
        <td>
          whether or not the "More Tabs" button is currently displayed.
boolean
        </td>
      </tr>
      <tr>
        <td>isInResponsiveMode</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this normally "vertical" tabset is in an optional "horizontal" responsive mode</p>

        </td>
        <td>
          whether or not the responsive mode is active.
boolean
        </td>
      </tr>
      <tr>
        <td>isModuleTabs</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset is currently operating as Module Tabs</p>

        </td>
        <td>
          whether or not this is a Module tabset.
boolean
        </td>
      </tr>
      <tr>
        <td>isVerticalTabs</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset is currently operating as Vertical Tabs</p>

        </td>
        <td>
          whether or not this is a Vertical tabset.
boolean
        </td>
      </tr>
      <tr>
        <td>isResponsiveVerticalTabs</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset is Vertical Tabs with a responsive, horizontal capability</p>

        </td>
        <td>
          whether or not this is a Vertical tabset.
boolean
        </td>
      </tr>
      <tr>
        <td>isHeaderTabs</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset is currently operating as Header Tabs</p>

        </td>
        <td>
          whether or not this is a Header tabset.
boolean
        </td>
      </tr>
      <tr>
        <td>isScrollableTabs</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset is showing tabs that allow for selection via horizontal scrolling.</p>

        </td>
        <td>
          whether or not horizontal scrolling is possible.
boolean
        </td>
      </tr>
      <tr>
        <td>isHidden</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset is currently hidden</p>

        </td>
        <td>
          whether or not this tabset is hidden.
boolean
        </td>
      </tr>
      <tr>
        <td>isNested</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset is nested inside a parent Tab Panel</p>

        </td>
        <td>
          whether or not this tabset is nested.
boolean
        </td>
      </tr>
      <tr>
        <td>isActive</td>
        <td>
          
                
                  <span>href (string) = representing the HTML "id" attribute of a corresponding tab panel
 </span>
                
          
        </td>
        <td>
          <p>Determines whether or not a particular tab panel is currently the active (displayed) tab panel</p>

        </td>
        <td>
          whether or not the tab panel is active.
boolean
        </td>
      </tr>
      <tr>
        <td>isNestedInLayoutTabs</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not this tabset is nested inside a "Layout"-style of Tab container</p>

        </td>
        <td>
          whether or not this tabset is nested.
boolean
        </td>
      </tr>
      <tr>
        <td>isTab</td>
        <td>
          
                
                  <span>obj (object) = incoming object
 </span>
                
          
        </td>
        <td>
          <p>Determines if an object is an HTML List Item representing a tab</p>

        </td>
        <td>
          whether or not the item is a tab
boolean
        </td>
      </tr>
      <tr>
        <td>isAnchor</td>
        <td>
          
                
                  <span>obj (object) = incoming object
 </span>
                
          
        </td>
        <td>
          <p>Determines if an object is an HTML Anchor Tag representing a tab's actionable element</p>

        </td>
        <td>
          whether or not the item is an anchor tag
boolean
        </td>
      </tr>
      <tr>
        <td>getAnchor</td>
        <td>
          
                
                  <span>href () = either a string that can be used as a Tab ID, or an actual jQuery wrapped Anchor Tag.
 </span>
                
          
        </td>
        <td>
          <p>Gets a reference to an Anchor tag.</p>

        </td>
        <td>
          the Anchor tag
jQuery
        </td>
      </tr>
      <tr>
        <td>getPanel</td>
        <td>
          
                
                  <span>href () = either a string that can be used as a Tab ID, or an actual jQuery wrapped Anchor Tag.
 </span>
                
          
        </td>
        <td>
          <p>Gets a reference to a Tab panel.</p>

        </td>
        <td>
          the Anchor tag
jQuery
        </td>
      </tr>
      <tr>
        <td>getPreviousTab</td>
        <td>
          
                
                  <span>tabId (string) = the tab ID
 </span>
                
          
        </td>
        <td>
          <p>Takes a tab ID and returns a jquery object containing the previous available tab</p>

        </td>
        <td>
          jQuery-wrapped element reference for the tab
Array
        </td>
      </tr>
      <tr>
        <td>activatePreviousTab</td>
        <td>
          
                
                  <span>tabId (string) = the tab ID
 </span>
                
                  <span>target () = a reference to the previous tab in the list (before this one)
 </span>
                
          
        </td>
        <td>
          <p>Takes a tab ID and returns a jquery object containing the previous available tab
If an optional target Tab (li) is provided, use this to perform activation events</p>

        </td>
        <td>
          potentially-updated target
Array
        </td>
      </tr>
      <tr>
        <td>isURL</td>
        <td>
          
                
                  <span>href (string) = a string that may or may not contain a URL
 </span>
                
          
        </td>
        <td>
          <p>Determines whether or not a string has an outbound URL, instead of a hash (#) that would match up to a Tab ID.</p>

        </td>
        <td>
          whether or not the incoming string is a URL
boolean
        </td>
      </tr>
      <tr>
        <td>activate</td>
        <td>
          
                
                  <span>href (string) = a string that either matches up to a Tab ID, or an outbound link to grab AJAX content from.
 </span>
                
          
        </td>
        <td>
          <p>Causes a new tab panel to become active.  Will also trigger AJAX calls on unloaded tab panels, if necessary.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>callSource</td>
        <td>
          
                
                  <span>href (string) = string representing the target tab to load content under.
 </span>
                
                  <span>isURL (boolean) = detects whether or not the URL is actually an external /
call, or an ID for an existing tab in the page.
 </span>
                
          
        </td>
        <td>
          <p>Calls an options-provided source method to fetch content that will be displayed inside a tab.</p>

        </td>
        <td>
          true if source call was successful, false for failure/ignore,
or a promise object that will fire callbacks in either "success" or "failure" scenarios.

        </td>
      </tr>
      <tr>
        <td>resizeNestedTabs</td>
        <td>
          
        </td>
        <td>
          <p>Causes <code>handleResize()</code> to be fired on any Tab components that are nested inside of this tab component's panels.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>add</td>
        <td>
          
                
                  <span>tabId (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
                  <span>options (object) = incoming options for the new tab.
 </span>
                
                  <span>atIndex (number) = if defined, inserts the tab at a particular number index in the tab list.  Defaults to the last tab in the list.
 </span>
                
          
        </td>
        <td>
          <p>Adds a new tab into the list and properly binds all of its events</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>remove</td>
        <td>
          
                
                  <span>tabId (string) = tab ID that corresponds to a 
<code>.tab-panel</code>
 element's ID attribute
 </span>
                
                  <span>disableBeforeClose (boolean) = whether or not tab closing can become veteoed
 </span>
                
          
        </td>
        <td>
          <p>Removes a tab from the list and cleans up properly
NOTE: Does not take advantage of <em>activatePreviousTab()</em> due to specific needs
of selecting certain Tabs/Anchors at certain times.</p>

        </td>
        <td>
          component instance

        </td>
      </tr>
      <tr>
        <td>createTabPanel</td>
        <td>
          
                
                  <span>tabId (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
                  <span>content (string) = representing HTML markup that will be added inside of the new tab panel.
 </span>
                
                  <span>doInsert (boolean) = if true, actually appends the new content to the tab panel.
 </span>
                
          
        </td>
        <td>
          <p>Adds a new tab into the list and properly binds all of its events</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>checkPopupMenuItems</td>
        <td>
          
                
                  <span>tab (jQuery) = the tab to be checked for popupmenu items.
 </span>
                
          
        </td>
        <td>
          
        </td>
        <td>
          a list of avaiable popupmenu items
Array
        </td>
      </tr>
      <tr>
        <td>hide</td>
        <td>
          
                
                  <span>e (jQuery.Event) = the jQuery Event
 </span>
                
                  <span>tabId (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
          
        </td>
        <td>
          <p>Hides a tab</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>show</td>
        <td>
          
                
                  <span>e (jQuery.Event) = the jQuery Event
 </span>
                
                  <span>tabId (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
          
        </td>
        <td>
          <p>Shows a tab</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>disableTab</td>
        <td>
          
                
                  <span>e (jQuery.Event) = the jQuery Event
 </span>
                
                  <span>tabId (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
          
        </td>
        <td>
          <p>Disables an individual tab</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>enableTab</td>
        <td>
          
                
                  <span>e (jQuery.Event) = the jQuery Event
 </span>
                
                  <span>tabId (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
          
        </td>
        <td>
          <p>Enables an individual tab</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>rename</td>
        <td>
          
                
                  <span>e (jQuery.Event) = the jQuery Event
 </span>
                
                  <span>tabId (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
                  <span>name (string) = the new tab name
 </span>
                
          
        </td>
        <td>
          <p>Renames a tab and resets the focusable bar/animation.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>updateCount</td>
        <td>
          
                
                  <span>e (jQuery.Event) = the jQuery Event
 </span>
                
                  <span>tabId (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
                  <span>count () = the new tab count
 </span>
                
          
        </td>
        <td>
          <p>For tabs with counts, updates the count and resets the focusable bar/animation</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>getActiveTab</td>
        <td>
          
        </td>
        <td>
          <p>returns the currently active tab</p>

        </td>
        <td>
          the currently active tab
jQuery
        </td>
      </tr>
      <tr>
        <td>getVisibleTabs</td>
        <td>
          
        </td>
        <td>
          <p>returns all visible tabs</p>

        </td>
        <td>
          all visible tabs
Array
        </td>
      </tr>
      <tr>
        <td>getOverflowTabs</td>
        <td>
          
        </td>
        <td>
          <p>returns a list of all tabs that are currenly in the "More Tabs" overflow menu.</p>

        </td>
        <td>
          all overflowed tabs
Array
        </td>
      </tr>
      <tr>
        <td>select</td>
        <td>
          
                
                  <span>href (string) = a string representing the HTML 
<code>id</code>
 attribute of the new tab panel.
 </span>
                
          
        </td>
        <td>
          <p>Selects a Tab</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>buildPopupMenu</td>
        <td>
          
                
                  <span>startingHref (string) = a string representing the HTML 
<code>href</code>
 attribute of the popupmenu item to be selected.
 </span>
                
          
        </td>
        <td>
          <p>Selects a Tab</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>isTabOverflowed</td>
        <td>
          
                
                  <span>li (jQuery) = tab list item
 </span>
                
          
        </td>
        <td>
          <p>Used for checking if a particular tab (in the form of a jquery-wrapped list item)
is spilled into the overflow area of the tablist container <UL>.</p>

        </td>
        <td>
          whether or not the tab is overflowed.
boolean
        </td>
      </tr>
      <tr>
        <td>findLastVisibleTab</td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          representing the last visible tab.
jQuery
        </td>
      </tr>
      <tr>
        <td>findFirstVisibleTab</td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>focusBar</td>
        <td>
          
                
                  <span>li (jQuery) = the new tab list item
 </span>
                
                  <span>callback (function) = fires after the animation is completed.
 </span>
                
          
        </td>
        <td>
          <p>Moves the animated "selected" state bar to a new tab</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>defocusBar</td>
        <td>
          
        </td>
        <td>
          <p>Clears the animated "selected" state bar away.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>scrollTabList</td>
        <td>
          
                
                  <span>target (Array) = the target 
<li>
 or 
<a>
 tag
 </span>
                
                  <span>duration (number) = the time it will take to scroll
 </span>
                
          
        </td>
        <td>
          <p>Wrapper for the Soho behavior <em>smoothScrollTo()</em> that will determine scroll distance.</p>

        </td>
        <td>
          

        </td>
      </tr>
      <tr>
        <td>hideFocusState</td>
        <td>
          
        </td>
        <td>
          <p>Hides the focus state, if it's visible.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>positionFocusState</td>
        <td>
          
                
                  <span>target () = the element that will receive the focus state
 </span>
                
                  <span>unhide (boolean) = if true, unhides the focus state if it's previously been hidden.
 </span>
                
          
        </td>
        <td>
          <p>Updates the position of the focus state, to the tab/button that currently has focus.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>checkFocusedElements</td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = incoming settings
 </span>
                
          
        </td>
        <td>
          <p>Causes the entire tabset to reset with new settings.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>disableOtherTabs</td>
        <td>
          
        </td>
        <td>
          <p>Disables all tabs in the list</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
                
                  <span>isPartial (boolean) = whether or not this disable call is a partial
disabling of the tabset
 </span>
                
          
        </td>
        <td>
          <p>Disables the entire Tab Component</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enables the entire Tabs component</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>closeDismissibleTab</td>
        <td>
          
                
                  <span>tabId (string) = the ID of the target tab panel
 </span>
                
          
        </td>
        <td>
          <p>Pass-through for the <code>remove()</code> method, which gets used for removing a dismissible tab.</p>

        </td>
        <td>
          ?
boolean
        </td>
      </tr>
      <tr>
        <td>teardown</td>
        <td>
          
        </td>
        <td>
          <p>Tears down this instance of the tabs component by removing events,
other components, and extraneous markup.</p>

        </td>
        <td>
          ?
this
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroys this component instance, removing its attachment from its parent element.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>beforeactivated
  </td>
  <td>
  
  </td>
  <td>Fires when an attempt at activating a tab is started
</td>
</tr>

      
        <tr>
  <td>activated
  </td>
  <td>
  
  </td>
  <td>Fires when a new tab has been activated
</td>
</tr>

      
        <tr>
  <td>afteractivated
  </td>
  <td>
  
  </td>
  <td>Fires when a new tab has been completely activated, and the activation process is done
</td>
</tr>

      
        <tr>
  <td>hash-change
  </td>
  <td>
  
  </td>
  <td></td>
</tr>

      
        <tr>
  <td>close
  </td>
  <td>
  
  </td>
  <td>Fires when a tab is removed from the tabset
</td>
</tr>

      
        <tr>
  <td>afterclose
  </td>
  <td>
  
  </td>
  <td>Fires after a tab is completely removed from the tabset, and the close process has completed.
</td>
</tr>

      
      </tbody>
    </table>
  </section>

<h2 id="code-examples">Code Examples</h2>
<h3 id="tabs---default-settings">Tabs - Default Settings</h3>
<p>The Tabs Control provides a clickable, touchable interface for accessing content that is separated between several panels. We’ve constructed the SoHo Xi Tabs Control with responsive design in mind, doing our best to keep the HTML markup needed very simple. The simplest way to create a Tabs Control is to create markup containing:</p>
<ul>
<li>A Main container <code>&lt;div&gt;</code> tag with a unique ID attribute and a “tab-container” CSS class.</li>
<li>Inside of that, a <code>&lt;ul&gt;</code> tag with a “tab-list” CSS class. Each <code>&lt;li&gt;</code> inside the <code>&lt;ul&gt;</code> tag should contain an <code>&lt;a&gt;</code> tag with a very specific HREF attribute.</li>
<li>Adjacent to the <code>&lt;div&gt;</code> tag, a second <code>&lt;div&gt;</code> tag with a “tab-panel-container” CSS class.</li>
<li>Inside the <code>&lt;div class=&quot;tab-panel-container&quot;&gt;</code>, a series of <code>&lt;div&gt;</code> tags should exist that matches the number of list items in the <code>&lt;ul&gt;</code>. Each one should have an ID that corresponds to one of the anchor tags in the <code>&lt;ul&gt;</code>.</li>
</ul>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2">  <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-normal&quot;</span><span class="ot"> class=</span><span class="st">&quot;tab-container&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-3" data-line-number="3">    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;tab-list&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-normal-contracts&quot;</span><span class="kw">&gt;</span>Contracts<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-normal-opportunities&quot;</span><span class="kw">&gt;</span>Opportunites<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-normal-attachments&quot;</span><span class="kw">&gt;</span>Attachments<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-normal-contacts&quot;</span><span class="kw">&gt;</span>Contacts<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb1-8" data-line-number="8">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-normal-notes&quot;</span><span class="kw">&gt;</span>Notes<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">    <span class="kw">&lt;/ul&gt;</span></a>
<a class="sourceLine" id="cb1-10" data-line-number="10">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11">  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;tab-panel-container&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-12" data-line-number="12">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-normal-contracts&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-13" data-line-number="13">      <span class="kw">&lt;h3&gt;</span>Contracts<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb1-14" data-line-number="14">      <span class="kw">&lt;p&gt;</span>Facilitate cultivate monetize, seize e-services peer-to-peer content integrateAJAX-enabled user-centric strategize. Mindshare; repurpose integrate global addelivery leading-edge frictionless, harness real-time plug-and-play standards-compliant 24/7 enterprise strategize robust infomediaries: functionalities back-end. Killer disintermediate web-enabled ubiquitous empower relationships, solutions, metrics architectures.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb1-15" data-line-number="15">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-16" data-line-number="16">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-normal-opportunities&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-17" data-line-number="17">      <span class="kw">&lt;h3&gt;</span>Opportunities<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb1-18" data-line-number="18">      <span class="kw">&lt;p&gt;</span>Bricks-and-clicks? Evolve ubiquitous matrix B2B 24/365 vertical 24/365 platforms standards-compliant global leverage dynamic 24/365 intuitive ROI seamless rss-capable. Cutting-edge grow morph web services leverage; ROI, unleash reinvent innovative podcasts citizen-media networking.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb1-19" data-line-number="19">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-20" data-line-number="20">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-normal-attachments&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-21" data-line-number="21">      <span class="kw">&lt;h3&gt;</span>Attachments<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb1-22" data-line-number="22">      <span class="kw">&lt;p&gt;</span>Frictionless webservices, killer open-source innovate, best-of-breed, whiteboard interactive back-end optimize capture dynamic front-end. Initiatives ubiquitous 24/7 enhance channels B2B drive frictionless web-readiness generate recontextualize widgets applications. Sexy sticky matrix, user-centred, rich user-centric: peer-to-peer podcasting networking addelivery optimize streamline integrated proactive: granular morph.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb1-23" data-line-number="23">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-24" data-line-number="24">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-normal-contacts&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-25" data-line-number="25">      <span class="kw">&lt;h3&gt;</span>Contacts<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb1-26" data-line-number="26">      <span class="kw">&lt;p&gt;</span>Exploit niches; enable A-list web-enabled holistic end-to-end. Exploit experiences value-added tagclouds, open-source cross-platform e-tailers, user-contributed, implement! Convergence, solutions front-end, &quot;synergize markets initiatives integrateAJAX-enabled platforms; wireless, supply-chains reinvent, mindshare, synergies implement, drive evolve!&quot; Post incentivize; rich-clientAPIs customized revolutionize 24/365 killer incentivize integrate intuitive utilize!<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb1-27" data-line-number="27">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-28" data-line-number="28">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-normal-notes&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-29" data-line-number="29">      <span class="kw">&lt;h3&gt;</span>Notes<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb1-30" data-line-number="30">      <span class="kw">&lt;p&gt;</span> Post incentivize; rich-clientAPIs customized revolutionize 24/365 killer incentivize integrate intuitive utilize!<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb1-31" data-line-number="31">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-32" data-line-number="32">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-33" data-line-number="33"></a></code></pre></div>
<h3 id="tabs---counts-example">Tabs - Counts Example</h3>
<p>This is an example of what the Tabs Control looks like when you use the “tabCounts” option or “data-tab-counts” attribute. Additionally, in this example there are separator elements that break the tabs apart into visually-distinct groups.</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb2-1" data-line-number="1"></a>
<a class="sourceLine" id="cb2-2" data-line-number="2">  <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-counts&quot;</span><span class="ot"> class=</span><span class="st">&quot;tab-container&quot;</span><span class="ot"> data-tab-counts=</span><span class="st">&quot;true&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-3" data-line-number="3">    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;tab-list&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-4" data-line-number="4">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-counts-pending&quot;</span><span class="kw">&gt;</span>Pending<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-5" data-line-number="5">      <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;separator&quot;</span><span class="kw">&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-6" data-line-number="6">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-counts-unreleased&quot;</span><span class="kw">&gt;</span>Unreleased<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-7" data-line-number="7">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-counts-notConfirmed&quot;</span><span class="kw">&gt;</span>Not Confirmed<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-8" data-line-number="8">      <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;separator&quot;</span><span class="kw">&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-9" data-line-number="9">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-counts-requests&quot;</span><span class="kw">&gt;</span>Requests<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-10" data-line-number="10">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-counts-purchaseOrders&quot;</span><span class="kw">&gt;</span>Purchase Orders<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-11" data-line-number="11">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-counts-receipts&quot;</span><span class="kw">&gt;</span>Receipts<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-12" data-line-number="12">      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#tabs-counts-invoices&quot;</span><span class="kw">&gt;</span>Invoices<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb2-13" data-line-number="13">    <span class="kw">&lt;/ul&gt;</span></a>
<a class="sourceLine" id="cb2-14" data-line-number="14">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-15" data-line-number="15">  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;tab-panel-container&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-16" data-line-number="16">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-counts-pending&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-17" data-line-number="17">      <span class="kw">&lt;h3&gt;</span>Pending<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb2-18" data-line-number="18">      <span class="kw">&lt;p&gt;</span>Facilitate cultivate monetize, seize e-services peer-to-peer content integrateAJAX-enabled user-centric strategize. Mindshare; repurpose integrate global addelivery leading-edge frictionless, harness real-time plug-and-play standards-compliant 24/7 enterprise strategize robust infomediaries: functionalities back-end. Killer disintermediate web-enabled ubiquitous empower relationships, solutions, metrics architectures.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb2-19" data-line-number="19">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-20" data-line-number="20">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-counts-unreleased&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-21" data-line-number="21">      <span class="kw">&lt;h3&gt;</span>Unreleased<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb2-22" data-line-number="22">      <span class="kw">&lt;p&gt;</span>Bricks-and-clicks? Evolve ubiquitous matrix B2B 24/365 vertical 24/365 platforms standards-compliant global leverage dynamic 24/365 intuitive ROI seamless rss-capable. Cutting-edge grow morph web services leverage; ROI, unleash reinvent innovative podcasts citizen-media networking.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb2-23" data-line-number="23">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-24" data-line-number="24">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-counts-notConfirmed&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-25" data-line-number="25">      <span class="kw">&lt;h3&gt;</span>Not Confirmed<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb2-26" data-line-number="26">      <span class="kw">&lt;p&gt;</span>Frictionless webservices, killer open-source innovate, best-of-breed, whiteboard interactive back-end optimize capture dynamic front-end. Initiatives ubiquitous 24/7 enhance channels B2B drive frictionless web-readiness generate recontextualize widgets applications. Sexy sticky matrix, user-centred, rich user-centric: peer-to-peer podcasting networking addelivery optimize streamline integrated proactive: granular morph.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb2-27" data-line-number="27">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-28" data-line-number="28">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-counts-requests&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-29" data-line-number="29">      <span class="kw">&lt;h3&gt;</span>Requests<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb2-30" data-line-number="30">      <span class="kw">&lt;p&gt;</span>Exploit niches; enable A-list web-enabled holistic end-to-end. Exploit experiences value-added tagclouds, open-source cross-platform e-tailers, user-contributed, implement! Convergence, solutions front-end, &quot;synergize markets initiatives integrateAJAX-enabled platforms; wireless, supply-chains reinvent, mindshare, synergies implement, drive evolve!&quot; Post incentivize; rich-clientAPIs customized revolutionize 24/365 killer incentivize integrate intuitive utilize!<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb2-31" data-line-number="31">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-32" data-line-number="32">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-counts-purchaseOrders&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-33" data-line-number="33">      <span class="kw">&lt;h3&gt;</span>Purchase Orders<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb2-34" data-line-number="34">      <span class="kw">&lt;p&gt;</span>Facilitate cultivate monetize, seize e-services peer-to-peer content integrateAJAX-enabled user-centric strategize. Mindshare; repurpose integrate global addelivery leading-edge frictionless, harness real-time plug-and-play standards-compliant 24/7 enterprise strategize robust infomediaries: functionalities back-end. Killer disintermediate web-enabled ubiquitous empower relationships, solutions, metrics architectures.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb2-35" data-line-number="35">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-36" data-line-number="36">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-counts-receipts&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-37" data-line-number="37">      <span class="kw">&lt;h3&gt;</span>Receipts<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb2-38" data-line-number="38">      <span class="kw">&lt;p&gt;</span>Bricks-and-clicks? Evolve ubiquitous matrix B2B 24/365 vertical 24/365 platforms standards-compliant global leverage dynamic 24/365 intuitive ROI seamless rss-capable. Cutting-edge grow morph web services leverage; ROI, unleash reinvent innovative podcasts citizen-media networking.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb2-39" data-line-number="39">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-40" data-line-number="40">    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;tabs-counts-invoices&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-41" data-line-number="41">      <span class="kw">&lt;h3&gt;</span>Invoices<span class="kw">&lt;/h3&gt;</span></a>
<a class="sourceLine" id="cb2-42" data-line-number="42">      <span class="kw">&lt;p&gt;</span>Frictionless webservices, killer open-source innovate, best-of-breed, whiteboard interactive back-end optimize capture dynamic front-end. Initiatives ubiquitous 24/7 enhance channels B2B drive frictionless web-readiness generate recontextualize widgets applications. Sexy sticky matrix, user-centred, rich user-centric: peer-to-peer podcasting networking addelivery optimize streamline integrated proactive: granular morph.<span class="kw">&lt;p&gt;</span></a>
<a class="sourceLine" id="cb2-43" data-line-number="43">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-44" data-line-number="44">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-45" data-line-number="45"></a></code></pre></div>
<h3 id="tabs---dismissible-example">Tabs - Dismissible Example</h3>
<p>It’s possible to create Tabs and Panels that are dismissible. Dismissible Tabs/Panels will be removed from the Tabs Control when their close button is clicked/tapped.</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb3-1" data-line-number="1"></a>
<a class="sourceLine" id="cb3-2" data-line-number="2">      <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;tab-list&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb3-3" data-line-number="3">        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#firefox&quot;</span><span class="kw">&gt;</span>Firefox<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb3-4" data-line-number="4">        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#chrome&quot;</span><span class="kw">&gt;</span>Chrome<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb3-5" data-line-number="5">        <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;dismissible&quot;</span><span class="kw">&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#ie&quot;</span><span class="kw">&gt;</span>Internet Explorer<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb3-6" data-line-number="6">        <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;dismissible&quot;</span><span class="kw">&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#opera&quot;</span><span class="kw">&gt;</span>Opera<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb3-7" data-line-number="7">        <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;dismissible&quot;</span><span class="kw">&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#safari&quot;</span><span class="kw">&gt;</span>Safari<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb3-8" data-line-number="8">      <span class="kw">&lt;/ul&gt;</span></a>
<a class="sourceLine" id="cb3-9" data-line-number="9"></a></code></pre></div>
<h3 id="tabs---dropdown-example">Tabs - Dropdown Example</h3>
<p>It’s possible to create a Tab that contains a Dropdown menu. In the case of a Dropdown Tab, the top-level “Tab” does not correspond to a Tab panel, but all of its children (any of the “dropdown” options) will be linked to a panel. When the Tabs Control’s responsive design takes over and pushes a dropdown tab into the “More…” menu, the children of the Dropdown tab will be pushed into a submenu.</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb4-1" data-line-number="1"></a>
<a class="sourceLine" id="cb4-2" data-line-number="2">    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;tab-list&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb4-3" data-line-number="3">        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#information&quot;</span><span class="kw">&gt;</span>Information<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-4" data-line-number="4">        <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;has-popupmenu&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb4-5" data-line-number="5">          <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Paper<span class="kw">&lt;/a&gt;</span></a>
<a class="sourceLine" id="cb4-6" data-line-number="6">          <span class="kw">&lt;ul&gt;</span></a>
<a class="sourceLine" id="cb4-7" data-line-number="7">            <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#paper-cash&quot;</span><span class="kw">&gt;</span>Cash<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-8" data-line-number="8">            <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#paper-plates&quot;</span><span class="kw">&gt;</span>Plates<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-9" data-line-number="9">            <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#paper-bags&quot;</span><span class="kw">&gt;</span>Bags<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-10" data-line-number="10">          <span class="kw">&lt;/ul&gt;</span></a>
<a class="sourceLine" id="cb4-11" data-line-number="11">        <span class="kw">&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-12" data-line-number="12">        <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;has-popupmenu&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb4-13" data-line-number="13">          <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Plastic<span class="kw">&lt;/a&gt;</span></a>
<a class="sourceLine" id="cb4-14" data-line-number="14">          <span class="kw">&lt;ul&gt;</span></a>
<a class="sourceLine" id="cb4-15" data-line-number="15">            <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#plastic-creditcards&quot;</span><span class="kw">&gt;</span>Credit Cards<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-16" data-line-number="16">            <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#plastic-plates&quot;</span><span class="kw">&gt;</span>Plates<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-17" data-line-number="17">            <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#plastic-bags&quot;</span><span class="kw">&gt;</span>Bags<span class="kw">&lt;/a&gt;&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-18" data-line-number="18">          <span class="kw">&lt;/ul&gt;</span></a>
<a class="sourceLine" id="cb4-19" data-line-number="19">        <span class="kw">&lt;/li&gt;</span></a>
<a class="sourceLine" id="cb4-20" data-line-number="20">    <span class="kw">&lt;/ul&gt;</span></a>
<a class="sourceLine" id="cb4-21" data-line-number="21"></a></code></pre></div>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<h3 id="down-arrowright-arrow"><strong>Down Arrow/Right Arrow</strong></h3>
<ul>
<li>When focus is on the Tab, a press of down/right will move focus to the next logical Tab.</li>
<li>When focus reaches the last Tab, further key presses will wrap to the first Tab in the order.</li>
<li>In cases where responsive design collapses tabs into the “More…” menu:</li>
<li>Pressing down/right on the last available tab will cause the More Button to be selected, and cause its menu to open, focusing on the first available option</li>
<li>Subsequent down/right presses will navigate through the menu options</li>
<li>On the last menu option, pressing down/right will close the menu and focus the first Tab in the order</li>
</ul>
<h3 id="up-arrowleft-arrow-is-generally-the-reverse-of-downright-arrows"><strong>Up Arrow/Left Arrow</strong> is generally the reverse of Down/Right arrows</h3>
<ul>
<li>When focus reaches the first tab, further key presses will either:</li>
<li>Wrap to the last available Tab in the order</li>
<li>Select the “More…” button if responsive design causes the tabs to collapse. This will open the menu and focus the last option in the menu</li>
<li>If the “More…” button is open and the top option is focused, pressing up/left will close the menu and focus the last available tab in the order</li>
</ul>
<h3 id="enterspace"><strong>Enter/Space</strong></h3>
<ul>
<li>Causes the currently focused Tab or “More…” menu option to be selected, causing its corresponding panel to become visible.</li>
</ul>
<h3 id="tab"><strong>Tab</strong></h3>
<ul>
<li>When focus is on a Tab, a TAB keystroke will move focus in the following manner:</li>
<li>If interactive glyphs or menus are present in the Accordion Header / Tab, focus will move to each of these glyphs or menus in order.</li>
<li>When the corresponding Tab panel is expanded (its aria-expanded state is ‘true’), then focus moves to the first focusable element in the panel.</li>
</ul>
<h3 id="shifttab"><strong>Shift+Tab</strong></h3>
<p>Shift + Tab works similarly to the strategy for the Tab key, but moves focus backwards instead of forwards.</p>
<p><strong>NOTE:</strong> For tabs to work correctly on mac you need to go to apple &gt;&gt; keyboard shortcuts, then click the checkbox at the bottom of the page at the bottom that says full keyboard access - all controls. This way the system can tab into any elements (this is a mac setting).</p>
<p>If using Safari on a Mac, you also need to go into Safari &gt;&gt; Preferences… then click the checkbox near the top that says Press Tab to Highlight Each Option on a webpage. This allows hyperlinks to be focusable by default (without having to press Option + Tab).</p>
<h3 id="altbackspace-altdelete">** Alt+backspace / Alt+Delete**</h3>
<ul>
<li>If the tab is dismissible that tab will be closed. We use the alt combination because backspace can be used to go back a page.</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<p>The Tabs Control itself can be either completely active, or completely disabled.</p>
<p>Each Individual Tab has the following states:</p>
<ul>
<li>Normal</li>
<li>Hover</li>
<li>Focused</li>
<li>Selected (Active)</li>
<li>Disabled</li>
</ul>
<h3 id="alternate-style">Alternate Style</h3>
<p>In-Page/Horizontal tabs can be placed on a white background. In these cases, the <code>.tab-container</code> element should be given a CSS class of <code>.alternate</code> to allow its faded edges to match the background.</p>
<h3 id="types-of-tabsets">Types of Tabsets</h3>
<p>Soho currently supports four major types of Tabs.</p>
<ul>
<li><strong>In-Page (Horizontal) Tabs</strong> - This is the default type of tabset that will exist inside of pages/forms, and has a minimal style. These will be used for switching between groups of content or form components that are related, but not necessarily important to show all at once.</li>
<li><a href="../components/tabs-header"><strong>Header Tabs</strong></a> - This tabset is inside of <a href="../components/header">Header Components</a> to define a tab list that will appear to sit adjacently to a Page Container. These will generally be used for Contextual Navigation of a major feature in your application.</li>
<li><a href="../components/tabs-vertical"><strong>Vertical Tabs</strong></a> - This tabset serves a similar purpose to Header Tabs, but instead displays the tab list vertically on the left edge of the tab content.</li>
<li><a href="../components/tabs-module"><strong>Module Tabs</strong></a> - Module Tabs are another similar construct that are styled in a way that suits them for top-level application navigation. Module Tabs are built to contain a toolbar.</li>
</ul>
