<h1 id="contextual-action-panel-learn-more">Contextual Action Panel <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Default CAP Example <a href="../components/contextualactionpanel/example-index">View Example</a></li>
<li>CAP using jQuery Object for Content <a href="../components/contextualactionpanel/example-jquery">View Example</a></li>
<li>CAP using Inline Markup for Content <a href="../components/contextualactionpanel/example-markup">View Example</a></li>
<li>CAP example triggering on adjacent content <a href="../components/contextualactionpanel/example-trigger">View Example</a></li>
<li>Toolbar Alignment Test <a href="/component/contextualactionpanel/test-alignment">View Test</a></li>
<li>Destroy Test <a href="../components/contextualactionpanel/test-destroy">View Test</a></li>
<li>Launching From a Menu <a href="../components/contextualactionpanel/test-from-menu">View Test</a></li>
<li>IFrame for Contents <a href="../components/contextualactionpanel/test-iframe">View Test</a></li>
<li>Open on Grid Rows <a href="../components/contextualactionpanel/test-trigger-immediate">View Test</a></li>
<li>Search Field / Keyboard Test <a href="../components/contextualactionpanel/test-searchfield">View Test</a></li>
</ol>
 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component element.
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component settings.
    </td>
  </tr>


  <tr>
    <td>
      settings.id
    </td>
    <td>
      <span>`contextual-action-modal-cnt`</span>
    </td>
    <td>
      string
    </td>
    <td>
      The id to use for the CAP, or defaults to generated.
    </td>
  </tr>


  <tr>
    <td>
      settings.buttons
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      array
    </td>
    <td>
      A list of buttons that will sit in the toolbar's Buttonset area.
    </td>
  </tr>


  <tr>
    <td>
      settings.title
    </td>
    <td>
      <span>&#39;Contextual Action Panel&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      String that sits in the toolbar's title field.
    </td>
  </tr>


  <tr>
    <td>
      settings.content
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      content
    </td>
    <td>
      Pass content through to CAP.
    </td>
  </tr>


  <tr>
    <td>
      settings.initializeContent
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      Initialize content before opening with defaults.
    </td>
  </tr>


  <tr>
    <td>
      settings.trigger
    </td>
    <td>
      <span>&#39;click&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      Can be 'click' or 'immediate'.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>close</td>
        <td>
          
        </td>
        <td>
          <p>Close the Contextual Action Panel if open and call destroy.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Add a disabled attribute to the main component element.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Remove disabled attribute from the main component element.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = the settings to update to.
 </span>
                
          
        </td>
        <td>
          <p>Update the component and optionally apply new settings.</p>

        </td>
        <td>
          The plugin api for chaining.
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroy and remove added markup and events</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  

<h2 id="code-example">Code Example</h2>
<p>This example shows how to invoke a Contextual Action Panel (CAP) and pass in the content for the CAP body. The buttons option lets you customize the CAP’s toolbar and functions.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2"><span class="at">$</span>(<span class="st">&#39;body&#39;</span>).<span class="at">contextualactionpanel</span>(<span class="op">{</span></a>
<a class="sourceLine" id="cb1-3" data-line-number="3">  <span class="dt">id</span><span class="op">:</span> <span class="st">&#39;contextual-action-modal-id&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">  <span class="dt">title</span><span class="op">:</span> <span class="st">&#39;Expenses: $50,000.00&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">  <span class="dt">content</span><span class="op">:</span> <span class="st">&#39;&lt;markup&gt;&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6">  <span class="dt">trigger</span><span class="op">:</span> <span class="st">&#39;immediate&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">  <span class="dt">buttons</span><span class="op">:</span> [</a>
<a class="sourceLine" id="cb1-8" data-line-number="8">    <span class="op">{</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">      <span class="dt">type</span><span class="op">:</span> <span class="st">&#39;input&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-10" data-line-number="10">      <span class="dt">text</span><span class="op">:</span> <span class="st">&#39;Keyword&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11">      <span class="dt">id</span><span class="op">:</span> <span class="st">&#39;filter&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-12" data-line-number="12">      <span class="dt">name</span><span class="op">:</span> <span class="st">&#39;filter&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-13" data-line-number="13">      <span class="dt">cssClass</span><span class="op">:</span> <span class="st">&#39;searchfield&#39;</span></a>
<a class="sourceLine" id="cb1-14" data-line-number="14">    <span class="op">},</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb1-15" data-line-number="15">      <span class="dt">text</span><span class="op">:</span> <span class="st">&#39;Close&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-16" data-line-number="16">      <span class="dt">cssClass</span><span class="op">:</span> <span class="st">&#39;btn&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-17" data-line-number="17">      <span class="dt">icon</span><span class="op">:</span> <span class="st">&#39;#icon-close&#39;</span></a>
<a class="sourceLine" id="cb1-18" data-line-number="18">    <span class="op">}</span></a>
<a class="sourceLine" id="cb1-19" data-line-number="19">  ]</a>
<a class="sourceLine" id="cb1-20" data-line-number="20"><span class="op">}</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb1-21" data-line-number="21"></a></code></pre></div>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<p>The Contextual Action Panel inherits the following keystrokes from other controls:</p>
<ul>
<li><strong>Escape</strong> closes the Contextual Action Panel the same way it would close an <a href="https://soho.infor.com/index.php?p=component/input-dialog">Input Dialog</a>.</li>
<li>When focused on elements inside the Toolbar at the top of the Contextual Action Panel, all <a href="https://soho.infor.com/index.php?p=component/toolbar">Toolbar</a> keystrokes take effect.</li>
<li><strong>Tab</strong> - should never tab off the Dialog</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<ul>
<li>Hidden</li>
<li>Visible</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<p>The Contextual Action Panel responds similarly to an <a href="https://soho.infor.com/index.php?p=component/input-dialog">Input Dialog</a>, in that it will resize and center itself horizontally and vertically in the browser window, never fitting beyond 80% width and height of the window.</p>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Did not exist in 3.X, but any complex Modals should be changed to use this.</li>
</ul>
