// Soho XI - 508 Theme
//================================================== */
@import 'config';

//Theme Overrides
$primary-color: #0977d5;
$primary-button-bg-color: $primary-color;

// Standard CSS reset stuff here
@import 'reset';
@import 'mixins';

// Core Controls
@import 'controls';

//Other Overrides with no Settings
.link {
  text-decoration: underline;
}
