// Variables
//================================================== //

@import 'colorpalette';

// Form Background Color
$body-bg-color:  $graphite01;
$header-bg-color: $slate07;
$header-icon-color: $white;
$header-text-color: $white;
$header-disabled-color: $slate05;
$panel-bg-color: $white;
$panel-border-color: $graphite02;

// Base Colors
$primary-color: $azure06;
$inverse-color: $white;

//The hyperlink Style
$hyperlink-color: $primary-color;

// Text Color
$font-color-extrahighcontrast: $graphite10;
$font-color-highcontrast: $graphite08;
$font-color: $graphite06;
$font-color-lowcontrast: $graphite04;
$label-color: $graphite06;
$disabled-color: $graphite03;

// Rules
$hr-top-color: $graphite03;
$hr-bottom-color: $white;

// Popovers
$popover-bg-color: $white;
$popover-border-color: transparent;
$popover-shadow-color: #e5e5e5;
$popover-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
$popover-color: $font-color;
$popover-separator-color: #eeeeee;

// Tooltips
$tooltip-bg-color: $graphite06;
$tooltip-border-color: transparent;
$tooltip-color: $white;
$tooltip-error-bg-color: $alert-red;
$tooltip-error-color: $white;

// Popup Menu
$popupmenu-color: $font-color;
$popupmenu-color-filtered-text: $font-color-lowcontrast;
$popupmenu-bg-color: $inverse-color;
$popupmenu-border-color: #e5e5e5;
$popupmenu-checked-color: $azure08;
$popupmenu-hover-color: #ededed;
$popupmenu-alternate-bg-color: $graphite08;
$popupmenu-alternate-border-color: $graphite08;
$popupmenu-alternate-color: $white;
$popupmenu-alternate-filtered-text: $font-color-lowcontrast;
$popupmenu-alternate-hover-color: $graphite09;

// Form Buttons
$primary-btn-bg-color: $primary-color;
$primary-btn-hover-bg-color: $azure08;
$primary-btn-focus-bg-color: $primary-color;
$primary-btn-active-bg-color: $azure08;

// Secondary/Normal Buttons
$btn-color: $inverse-color;
$btn-bg-color: $slate04;
$btn-hover-bg-color: $slate05;
$btn-focus-bg-color: $primary-color;
$btn-focus-border-color: $primary-color;
$btn-active-bg-color: $slate06;
$btn-disabled-color: $inverse-color;
$btn-disabled-bg-color: $slate02;

// Tertiary Buttons
$tertiary-btn-color: $graphite06;
$tertiary-btn-hover-color: $primary-color;
$tertiary-btn-active-color: $primary-color;
$tertiary-btn-disabled-color: $slate03;

// Buttons
$button-font-size: 12;

// Menu Button
$menubutton-height: 34px;

// Input Fields
$input-border-color: $graphite03;
$input-color: $graphite08;
$input-bg-color: transparent;
$input-disabled-bg-color: transparent;
$input-disabled-border-color: $graphite02;
$input-disabled-color: $disabled-color;
$input-focus-border-color: $primary-color;
$input-placeholder-color: $graphite04;
$input-readonly-border-color: #dadada;
$input-readonly-bg-color: #e9e9e9;
$input-readonly-color: $graphite04;

//States
$error-color: $alert-red;
$error-icon-fill: $alert-red;
$dirty-icon-fill: $amber05;
$confirm-icon-fill: $alert-green;
$info-icon-fill: $alert-info;

// Autocomplete
$autocomplete-light-text: $graphite05;
$trigger-icon-fill-color: $graphite04;
$trigger-hover-color: $graphite05;
$trigger-active-color: $primary-color;

//List View
$listview-bg-color: $inverse-color;
$listview-bg-color-alternate: $graphite01;
$listview-border-color: $graphite02;
$listview-color: $graphite06;
$listview-disabled-color: $input-disabled-color;
$listview-selected-text-color: $graphite06;
$listview-selection-toolbar-color: $inverse-color;
$listview-header-bg-color: #e4e4e4;
$listview-header-color: $graphite05;
$listview-subhead-color: $graphite04;

$listview-toolbar-button-text-color: $tertiary-btn-color;
$listview-toolbar-button-icon-color: $tertiary-btn-color;
$listview-toolbar-button-text-hover-color: $primary-color;
$listview-toolbar-button-icon-hover-color: $primary-color;
$listview-toolbar-button-text-selected-color: $primary-color;
$listview-toolbar-button-icon-selected-color: $primary-color;

// Drop down
$dropdown-filter-color: $font-color-extrahighcontrast;
$dropdown-color: $input-color;
$dropdown-search-color: $autocomplete-light-text;
$dropdown-menu-border-color: $primary-color;
$dropdown-menu-separator-color: $graphite02;
$dropdown-group-label-color: $graphite04;

//Date Picker
$datepicker-alt-month-color: $graphite04;
$datepicker-selected-bg-color: $azure06;
$datepicker-selected-color: $inverse-color;
$datepicker-today-color: $graphite10;
$datepicker-hover-bg-color: $graphite01;

// Color Picker
$colorpicker-initial-bg-color: $graphite03;

//Spinbox
$spinbox-bg-color: $graphite02;
$spinbox-button-color: transparent;

//Mast Head
$masthead-bg-color: $slate07;
$masthead-border-color: #313135;

// Icons
$icon-color: $font-color-lowcontrast;

//Field Set
$fieldset-border-top-color: $graphite02;
$fieldset-border-bottom-color: $inverse-color;

// Expandable Area
$expandable-area-border-color: $graphite02;

// Cardlist
$cardlist-bg-color: $inverse-color;
$cardlist-border-color: $graphite02;
$cardlist-header-bg-color: $inverse-color;
$cardlist-header-color: $font-color;
$cardlist-actions-color: $graphite06;

// Checkboxes
$checkbox-color: $primary-color;
$checkbox-arrow-color: #ffffff;
$checkbox-border-color: #666666;
$checkbox-bg-color: transparent;
$checkbox-disabled-font-color: #c2c2c2;
$checkbox-disabled-border-color: #c2c2c2;
$checkbox-disabled-bg-color: #ececec;
$checkbox-disabled-select-bg-color: #c2c2c2;
$checkbox-disabled-arrow-color: #f4f4f4;
$checkbox-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Switch
$switch-checked-color: $primary-color;
$switch-checked-bg-color: $azure01;
$switch-unchecked-bar-color: $input-disabled-border-color;
$switch-unchecked-color: $font-color;
$switch-disabled-color: $input-disabled-border-color;
$switch-disabled-label-color: #aaaaaa;

// Editor
$editor-bg-color: transparent;
$editor-border-color: $input-border-color;
$editor-focus-border-color: $input-focus-border-color;
$editor-color: $input-color;
$editor-toolbar-bg-color: #ededed;
$editor-btn-color: $graphite05;  //Was #999999  in design
$editor-middle-border-color: $graphite02;

// Radio Buttons
$radio-border-color: $graphite05;
$radio-selected-color: $primary-color;
$radio-disabled-opacity: .65;
$radio-disabled-border-color: #c2c2c2;
$radio-disabled-bg-color: #ececec;
$radio-disabled-select-bg-color: #c2c2c2;
$radio-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

//Pager
$pager-selected-color: $primary-color;
$pager-focus-border-color: $input-focus-border-color;
$pager-hover-color: $primary-color;
$pager-disabled-color: $graphite02;

//Slider
$slider-bg-color: $graphite03;
$slider-active-bg-color: $primary-color;
$slider-disabled-color: $graphite01;

//Modal
$modal-bg-color: #ffffff;
$modal-btn-color: $graphite06;
$modal-shadow: 0 0 5px rgba(0, 0, 0, .2);
$modal-color: $graphite06;
$modal-btn-border-color: $graphite02;
$modal-btn-hover-color: $graphite08;
$modal-btn-primary-color: $primary-color;
$modal-btn-primary-hover-color: $graphite07;
$modal-btn-disabled-color: $graphite03;

// Accordion
$accordion-bg-color: $graphite01;
$accordion-alternate-bg-color: $white;
$accordion-border-color: $graphite02;
$accordion-pane-bg-color: $graphite02;
$accordion-pane-alternate-bg-color: $graphite01;

$accordion-text-color: $graphite06;
$accordion-text-active-color: $graphite10;

$accordion-icon-color: $graphite04;
$accordion-icon-hover-color: $graphite06;

$accordion-focused-text-color: $primary-color;
$accordion-focused-pane-bg-color: $azure01;
$accordion-selected-bg-color: $primary-color;
$accordion-selected-text-color: $white;

$accordion-disabled-bg-color: $slate02;
$accordion-disabled-border-color: $slate03;
$accordion-disabled-text-color: $slate03;
$accordion-disabled-pane-bg-color: $slate01;
$accordion-disabled-pane-text-color: $slate04;

// Application Menu (extends Accoridon)
$app-accordion-header-bg-color: $slate08;
$app-accordion-border-color: $slate09;
$app-accordion-pane-bg-color: $slate09;

$app-accordion-header-text-color: $slate02;
$app-accordion-header-text-active-color: $white;
$app-accordion-pane-text-color: $slate03;

$app-accordion-icon-color: $slate02;
$app-accordion-icon-hover-color: $white;
$app-accordion-chevron-color: $slate05;

$application-menu-width: 300px;

// Contextual Action Panel
$contextual-panel-bg: #d8d8d8;
$contextual-panel-color: $graphite06;
$contextual-panel-searchfield-bg-color: $body-bg-color;
$contextual-panel-searchfield-border-color: $graphite03;

//BreadCrumb
$breadcrumb-color: $graphite05;
$breadcrumb-disabled-color: $graphite02;

// Rating (Stars)
$rating-bg-color: $amber06;
$rating-border-color: $slate04;
$rating-hover-color: $primary-color;

// Tabs
$tab-selected-color: $primary-color;
$tab-border-color: $graphite03;
$tab-hover-color: $font-color-extrahighcontrast;

//Charts
$chart-line-color: $graphite02;
$chart-font-color: $graphite05;

// DataGrid
$datagrid-border-color: $graphite01;
$datagrid-header-color: #ffffff;
$datagrid-header-bg-color: $graphite06;
$datagrid-header-border-color: $graphite02;
$datagrid-header-hover-color: $graphite07;
$datagrid-header-active-color: $graphite07;
$datagrid-cell-bg-color: #ffffff;
$datagrid-cell-readonly-bg-color: $graphite01;
$datagrid-cell-readonly-color: $graphite05;
$datagrid-cell-border-color: $graphite02;
$datagrid-data-color: $font-color-extrahighcontrast;
$datagrid-row-selected-color: #eaf8fe;
$datagrid-row-hover-color: #e4e4e4;

// Search Results
$sr-masthead-text-color: $font-color;
$sr-result-bottom-border-color: $hr-top-color;
$sr-masthead-item-color: $font-color-lowcontrast;

// Tree
$tree-selected-color: $primary-color;
$tree-icon-color: $graphite04;
$tree-line-color: $graphite03;
$tree-link-color: $font-color-extrahighcontrast;
$tree-folder-link-color: $font-color-extrahighcontrast;
$tree-disabled-opacity: .6;

//Chart Progress Bar
$chart-progressbar-bg-color: $graphite02;
$chart-progressbar-completed-fill: $emerald07;
$chart-progressbar-target-fill: $graphite04;
$chart-progressbar-primary-fill: $primary-color;
$chart-progressbar-dark-fill: $graphite06;

//Timeline
$timeline-indicator-color: $graphite03;
$timeline-indicator-processing-color: $primary-color;
$timeline-indicator-complete-color: $primary-color;
$timeline-line-color: $graphite04;
$timeline-header-color: $primary-color;

//Wizard
$wizard-active-color: $primary-color;
$wizard-default-bg: $body-bg-color;
$wizard-bar-bg: $graphite02;
$wizard-active-color: $primary-color;

//Hierarch
$hierarchy-line-color: $graphite03;

//Searchfield Colors
$searchfield-bg-color: $graphite02;
$searchfield-border-color: $graphite03;
$searchfield-icon-color: $tertiary-btn-color;
$searchfield-text-color: $tertiary-btn-color;

$searchfield-card-bg-color: $graphite01;
$searchfield-card-border-color: $graphite02;
$searchfield-card-icon-color: $graphite03;
$searchfield-card-text-color: $font-color;

$searchfield-header-bg-color: $slate08;
$searchfield-header-border-color: $slate09;
$searchfield-header-text-color: $white;
$searchfield-header-placeholder-text-color: $slate03;
$searchfield-header-icon-color: $header-icon-color;

//Image Border Color
$image-border-color: $graphite02;

//Toast
$toast-bg-color: $white;
$toast-shadow: 0 0 5px rgba(0, 0, 0, .2);

//Builder Pattern
$builder-header-bg-color: $slate06;

//Breakpoint sizes - Grid
$breakpoint-phone: 320px;
$breakpoint-slim: 400px;
$breakpoint-phablet: 610px;
$breakpoint-phone-to-tablet: 767px;
$breakpoint-wide-tablet: 968px;
$breakpoint-tablet-to-desktop: 1280px;
$breakpoint-desktop-to-extralarge: 1600px;

