// Variables
//================================================== //

// Form Background Color
$body-bg-color: #f5f5f5;

// Base Colors
$header-color: #454545;
$primary-color: #0c7ad8;  //0896e9 or 0c7ad8 ??
$inverse-color: #ffffff;
$secondary-color: #69d2ce;

// Text Color
$font-color-dark: #333333;
$font-color: #666666;
$font-color-light: #767676; //Was 999999 in design
$label-color: #666666;

// Rules
$hr-top-color: #b6b6b6;
$hr-bottom-color: #ffffff;

// Form Buttons
$primary-btn-bg-color: #0c7ad8; //Was #0896e9 in design
$primary-btn-hover-bg-color: #0977d5;
$primary-btn-focus-bg-color: #1d98e6;
$primary-btn-active-bg-color: #1a7cd4;

// Secondary/Normal Buttons
$btn-color: #5a5a5a;
$btn-bg-color: #d2d2d2;
$btn-hover-bg-color: #b6b6b6;
$btn-focus-bg-color: #d2d2d2;
$btn-active-bg-color: #a8a8a8;
$btn-active-color: #333333;
$btn-disabled-opacity: .6;

// Switch
$switch-checked-color: #6ec90d;
$switch-unchecked-color: #999999;
$switch-disabled-color: #d2d2d2;
$switch-disabled-label-color: #aaaaaa;

// Tertiary Buttons
$tertiary-btn-color: #666666;
$tertiary-btn-hover-color: #333333;
$tertiary-btn-focus-border-color: $primary-color;
$tertiary-btn-focus-color: $primary-color;

// Input Fields
$input-border-color: #999999;
$input-color: #1a1a1a;
$input-disabled-bg-color: #e5e5e5;
$input-disabled-border-color: #d2d2d2;
$input-disabled-color: #666666; //Was #737373 in design
$input-focus-shadow: 0 0 5px rgba(8, 150, 233, .2);
$input-focus-border-color: $primary-color;
$input-placeholder-color: #999999;
$input-readonly-border-color: #d2d2d2;

// Context Menu
$menu-hover-color: #ededed;
$menu-border-color: $primary-color;
$menu-color: #333333;
$menu-underline-color: $primary-color;

// Drop down
$dropdown-bg-color: transparent;
$dropdown-disabled-bg-color: #e5e5e5;
$dropdown-disabled-border-color: #d2d2d2;
$dropdown-disabled-color: #737373;
$dropdown-focus-border-color: $input-focus-border-color;
$dropdown-filter-color: #0099ff;
$dropdown-color: $input-color;

// Editor
$editor-border-color: $input-border-color;
$editor-focus-border-color: $input-focus-border-color;
$editor-focus-shadow: $input-focus-shadow;
$editor-color: $input-color;
$editor-toolbar-bg-color: #ffffff;
$editor-btn-color: #767676;  //Was #999999  in design

// Multiselect
$multiselect-focus-border-color: $input-focus-border-color;
$multiselect-focus-shadow: $input-focus-shadow;
$multiselect-tag-color: #999999;
$multiselect-tag-hover-color: #0896e9;
$multiselect-height: 34px;

// Menu Button
$menubutton-border-color: #999999;
$menubutton-bg-color: transparent;
$menubutton-height: 34px;
$menubutton-focus-shadow: $input-focus-shadow;
$menubutton-focus-border-color: $input-focus-border-color;
$menubutton-disabled-bg-color: $input-disabled-bg-color;
$menubutton-disabled-border-color: $input-disabled-border-color;
$menubutton-disabled-color: $input-disabled-color;

// popupmenu Button
$popupmenu-color: #444444;

// Checkboxes
$checkbox-color: $primary-color;
$checkbox-border-color: #999999;
$checkbox-disabled-color: #d2d2d2;
$checkbox-disabled-font-color: #aaaaaa;
$checkbox-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Radio Buttons
$radio-border-color: #999999;
$radio-color: $primary-color;
$radio-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Date Picker
$datepicker-alt-month-color: #999999; //Was 999999 in design but 767676 passes
$datepicker-selected-bg-color: #007bc4;
$datepicker-selected-color: $inverse-color;
$datepicker-today-color: #1a1a1a;
$datepicker-hover-bg-color: #ededed;

//Pager
$pager-selected-color: #0086e6;

// Tooltips
$tooltip-bg-color: #5e5e5e;

// Popovers
$popover-bg-color: #ffffff;
$popover-border-color: #e8e8e8;
$popover-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
$popover-color: $font-color;

//Slider
$slider-bg-color: #b6b6b6;
$slider-active-bg-color: $primary-color;
$slider-disabled-color: #d2d2d2;

//States
$error-color: #ed1c24;
$error-icon-fill: #d5000e;
$dirty-icon-fill: #ffa800;
$validated-icon-fill: #2db329;

// Color Picker
$colorpicker-initial-bg-color: #999999;

//Spinbox
$spinbox-bg-shadow: inset 0 0 5px #aaaaaa;
$spinbox-bg-color: #e5e5e5;

// Tree
$tree-border-color: #e0e0e0;
$tree-selected-color: $primary-color;

//Colors
$turqoise: #00c2b4;
$azure: $primary-color;
$emerald: #2db329;
$amber: #ffa800;
$ruby: #ed1c24;
$error: #ed1c24;
$red: #d5000e;
$tourmaline: #a352cb;
$amethyst: #e63262;
$graphite: #999999;

///////////////////

//Color Of Labels and Some Hs
$label-color: #666666;  //Was #6666666

//Text that is disabled
$disabled-color: #cccccc;

//The Focus Indicator on Fields
$focus-shadow: 0 0 3px #0095ff;

//The Link Style
$link-color: #0c7ad8; // Design has #0896e9 but #0072b5 is accessible
$link-hover-color: #0c7ad8;
$link-active-color: #004096;

//Breakpoint sizes
$breakpoint-phone: 360px;
$breakpoint-phone-to-tablet: 980px;
$breakpoint-tablet-to-desktop: 1240px;
$breakpoint-desktop-to-extralarge: 1440px;
