// Variables
//================================================== //

@import 'colorpalette';

// Form Background Color
$body-bg-color:  $graphite01;
$header-bg-color: $slate07;
$header-icon-color: #eff0f4;
$panel-bg-color: $white;
$panel-border-color: $graphite02;

// Base Colors
$primary-color: $azure06;
$inverse-color: #ffffff;

//The hyperlink Style
$hyperlink-color: $primary-color;

// Text Color
$font-color-extrahighcontrast: $graphite10;
$font-color-highcontrast: $graphite08;
$font-color: $graphite06;
$font-color-lowcontrast: $graphite04;
$label-color: $graphite06;
$disabled-color: $graphite03;

// Rules
$hr-top-color: $graphite03;
$hr-bottom-color: $white;

// Form Buttons
$primary-btn-bg-color: $primary-color;
$primary-btn-hover-bg-color: $azure08;
$primary-btn-focus-bg-color: $primary-color;
$primary-btn-active-bg-color: $azure08;

// Secondary/Normal Buttons
$btn-color: $inverse-color;
$btn-bg-color: $slate04;
$btn-hover-bg-color: #9a9ca4;
$btn-focus-bg-color: #acaeb7;
$btn-focus-border-color: $primary-color;
$btn-active-bg-color: #9a9ca4;
$btn-disabled-color: #f0f1f2;
$btn-disabled-bg-color: #cecfd4;

// Tertiary Buttons
$tertiary-btn-color: $slate06;
$tertiary-btn-hover-color: $primary-color;
$tertiary-btn-active-color: $primary-color;
$tertiary-btn-disabled-color: #b6b6b6;

// Icons
$icon-color: $font-color-lowcontrast;
$caps-color-arrow: #ffffff;
$caps-color-background: #bdbdbd;

// Input Fields
$input-border-color: #b0b0b0;
$input-color: $graphite08;
$input-disabled-bg-color: transparent;
$input-disabled-border-color: #dadada;
$input-disabled-color: #cccccc;
$input-focus-border-color: $primary-color;
$input-placeholder-color: $graphite04;
$input-readonly-border-color: #dadada;
$input-readonly-bg-color: #e9e9e9;
$input-readonly-color: $graphite04;

// Autocomplete
$autocomplete-light-text: #777777;

// Expandable Area
$expandable-area-border-color: $font-color-lowcontrast;

// Context Menu
$menu-hover-color: #ededed;
$menu-border-color: $primary-color;
$menu-color: #333333;
$menu-underline-color: $primary-color;

// Drop down
$dropdown-bg-color: transparent;
$dropdown-disabled-bg-color: #ececec;
$dropdown-disabled-border-color: #d2d2d2;
$dropdown-disabled-color: #999999;
$dropdown-focus-border-color: $input-focus-border-color;
$dropdown-filter-color: $font-color-extrahighcontrast;
$dropdown-color: $input-color;
$dropdown-search-color: $autocomplete-light-text;

// Editor
$editor-border-color: #9e9e9e;
$editor-focus-border-color: $input-focus-border-color;
$editor-color: $input-color;
$editor-toolbar-bg-color: #ededed;
$editor-btn-color: #767676;  //Was #999999  in design

// Multiselect
$multiselect-focus-border-color: $input-focus-border-color;
$multiselect-tag-color: #999999;
$multiselect-tag-hover-color: #0896e9;
$multiselect-height: 34px;

// Buttons
$button-font-size: 12;

// Menu Button
$menubutton-border-color: #999999;
$menubutton-bg-color: transparent;
$menubutton-height: 34px;
$menubutton-focus-border-color: $input-focus-border-color;
$menubutton-disabled-bg-color: $input-disabled-bg-color;
$menubutton-disabled-border-color: $input-disabled-border-color;
$menubutton-disabled-color: $input-disabled-color;

// popupmenu Button
$popupmenu-color: $font-color-extrahighcontrast;
$popupmenu-color-filtered-text: $font-color-lowcontrast;
$popupmenu-bg-color: $inverse-color;

// Action Button
$actionbutton-bg-color: $inverse-color;

// Cardlist
$cardlist-bg-color: $inverse-color;

// Checkboxes
$checkbox-color: $primary-color;
$checkbox-arrow-color: #ffffff;
$checkbox-border-color: #666666;
$checkbox-disabled-font-color: #c2c2c2;
$checkbox-disabled-opacity: .65;
$checkbox-disabled-border-color: #c2c2c2;
$checkbox-disabled-bg-color: #ececec;
$checkbox-disabled-select-bg-color: #c2c2c2;
$checkbox-disabled-arrow-color: #f4f4f4;
$checkbox-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Switch
$switch-checked-color: $primary-color;
$switch-checked-bg-color: $azure01;
$switch-unchecked-color: $font-color;
$switch-disabled-color: $input-disabled-border-color;
$switch-disabled-label-color: #aaaaaa;

// Radio Buttons
$radio-border-color: #666666;
$radio-selected-color: $primary-color;
$radio-disabled-opacity: .65;
$radio-disabled-border-color: #c2c2c2;
$radio-disabled-bg-color: #ececec;
$radio-disabled-select-bg-color: #c2c2c2;
$radio-disabled-dot-color: #f4f4f4;
$radio-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Date Picker
$datepicker-alt-month-color: #999999; //Was 999999 in design but 767676 passes
$datepicker-selected-bg-color: $azure06;
$datepicker-selected-color: $inverse-color;
$datepicker-today-color: #1a1a1a;
$datepicker-hover-bg-color: #ededed;

//Pager
$pager-selected-color: $primary-color;
$pager-focus-border-color: $input-focus-border-color;

// Toolbar
$toolbar-height: 44px;

// Tooltips
$tooltip-bg-color: #5e5e5e;

// Popovers
$popover-bg-color: #ffffff;
$popover-border-color: #e8e8e8;
$popover-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
$popover-color: $font-color;
$popover-separator-color: #eeeeee;

//Slider
$slider-bg-color: #b6b6b6;
$slider-active-bg-color: $primary-color;
$slider-disabled-color: #d2d2d2;

//Modal
$modal-btn-color: #666666;
$modal-btn-hover-color: #333333;
$modal-btn-primary-color: $primary-color;
$modal-btn-primary-hover-color: #005bb8;
$modal-btn-disabled-color: #b6b6b6;

//BreadCrumb
$breadcrumb-disabled-color: $graphite02;
$breadcrumb-color: #666666;

//States
$error-color: $alert-red;
$error-icon-fill: $alert-red;
$dirty-icon-fill: $alert-yellow;
$validated-icon-fill: $alert-green;

// Color Picker
$colorpicker-initial-bg-color: #999999;

//Spinbox
$spinbox-bg-shadow: inset 0 0 5px #aaaaaa;
$spinbox-bg-color: #e5e5e5;

// Tree
$tree-border-color: #e0e0e0;
$tree-selected-color: $primary-color;
$tree-icon-color: #7a7a7a;
$tree-line-color: $switch-unchecked-color;
$tree-link-color: $font-color-extrahighcontrast;
$tree-folder-link-color: $font-color-extrahighcontrast;
$tree-disabled-opacity: .5;

// Tabs
$tab-selected-color: $primary-color;  //TODO: $primary-color;
$tab-border-color: #b6b6b6;
$tab-hover-color: $font-color-extrahighcontrast;

// Contextual Action Panel
$contextual-panel-bg: #d8d8d8;

// Switches
$switch-disabled-label-color: #707070;

// Rating (Stars)
$rating-bg-color: #ffd042;
$rating-border-color: #a4a4a4;
$rating-hover-color: $primary-color;

//Charts
$chart-line-color: $graphite03;
$chart-font-color: $graphite06;

// DataGrid
$datagrid-row-selected-color: #eaf8fe;
$datagrid-row-hover-color: #e4e4e4;

// Search Results
$sr-masthead-text-color: $font-color;
$sr-result-bottom-border-color: $hr-top-color;
$sr-masthead-item-color: $font-color-lowcontrast;

//Breakpoint sizes - Grid
$breakpoint-phone: 320px;
$breakpoint-slim: 400px;
$breakpoint-phablet: 610px;
$breakpoint-phone-to-tablet: 767px;
$breakpoint-wide-tablet: 968px;
$breakpoint-tablet-to-desktop: 1280px;
$breakpoint-desktop-to-extralarge: 1600px;

