// Soho Xi - 508 - Dark Theme
//================================================== //

// Standard CSS reset stuff here
@import 'reset';
@import 'mixins';
@import 'config';

//Override Config
//================================================== //

// Form Background Color
$body-bg-color:  $slate08;
$header-bg-color: $slate09;
$header-icon-color: #eff0f4;

// Base Colors
$primary-color: $azure06;
$inverse-color: #ffffff;

//The hyperlink Style
$hyperlink-color: $azure04;

// Text Color
$font-color-extrahighcontrast: $white;
$font-color-highcontrast: $slate01;
$font-color: $slate02;
$font-color-lowcontrast: $slate03;
$label-color: $slate03;
$disabled-color: $slate05;

// Rules
$hr-top-color: $slate09;
$hr-bottom-color: transparent;

// Popovers
$popover-bg-color: $slate06;
$popover-border-color: $slate09;
$popover-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
$popover-color: $font-color;
$popover-separator-color: $slate09;

// Tooltips
$tooltip-bg-color: $slate06;
$tooltip-border-color: transparent;
$tooltip-color: $white;
$tooltip-error-bg-color: $alert-red;
$tooltip-error-color: $white;

// Popup Menu
$popupmenu-color: $white;
$popupmenu-color-filtered-text: $font-color-lowcontrast;
$popupmenu-bg-color: $slate06;
$popupmenu-border-color: $slate09;
$popupmenu-checked-color: $white;
$popupmenu-hover-color: $slate05;

// Form Buttons - Same
// Secondary/Normal Buttons - Same Except Disabled
$btn-disabled-color: $slate04;
$btn-disabled-bg-color: $slate06;

// Tertiary Buttons
$tertiary-btn-color: $slate03;
$tertiary-btn-hover-color: $primary-color;
$tertiary-btn-active-color: $primary-color;
$tertiary-btn-disabled-color: $slate06;

// Input Fields
$input-border-color: $slate04;
$input-color: $white;
$input-bg-color: transparent;
$input-disabled-bg-color: transparent;
$input-disabled-border-color: $slate06;
$input-disabled-color: $disabled-color;
$input-focus-border-color: $primary-color;
$input-placeholder-color: $slate05;
$input-readonly-border-color: $slate05;
$input-readonly-bg-color: $slate06;
$input-readonly-color: $slate03;

// Autocomplete
$autocomplete-light-text: $slate04;
$trigger-icon-fill-color: $slate04;
$trigger-hover-color: $slate02;
$trigger-active-color: $primary-color;

// Drop down
$dropdown-filter-color: $font-color-extrahighcontrast;
$dropdown-color: $input-color;
$dropdown-search-color: $autocomplete-light-text;
$dropdown-menu-border-color: $primary-color;
$dropdown-menu-seperator-color: $slate05;
$dropdown-group-label-color: $slate03;

// Date Picker
$datepicker-alt-month-color: $slate04;
$datepicker-selected-bg-color: $primary-color;
$datepicker-selected-color: $inverse-color;
$datepicker-today-color: $inverse-color;
$datepicker-hover-bg-color: $slate05;

//Mast Head
$masthead-bg-color: $header-bg-color;
$masthead-border-color: $slate08;

// Icons
$icon-color: $slate03;

//Field Set
$fieldset-border-top-color: $slate06;
$fieldset-border-bottom-color: transparent;

// Expandable Area
$expandable-area-border-color: $slate06;

// Cardlist
$cardlist-bg-color: $slate07;
$cardlist-border-color: $slate09;
$cardlist-header-bg-color: $slate07;
$cardlist-header-color: $white;
$cardlist-actions-color: $white;

// Checkboxes
$checkbox-color: $primary-color;
$checkbox-arrow-color: #ffffff;
$checkbox-border-color: $slate04;
$checkbox-bg-color: transparent;
$checkbox-disabled-font-color: $slate05;
$checkbox-disabled-border-color: $slate06;
$checkbox-disabled-bg-color:$slate06;
$checkbox-disabled-select-bg-color: $slate06;
$checkbox-disabled-arrow-color: #f4f4f4;
$checkbox-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Switch
$switch-checked-color: $primary-color;
$switch-checked-bg-color: $azure04;
$switch-unchecked-color: $slate03;
$switch-unchecked-bar-color: $slate03;
$switch-disabled-color: $input-disabled-border-color;
$switch-disabled-label-color: $disabled-color;

//Multi Select
.dropdown-list.multiple li:hover:not(.group-label)::before {
  border: 1px solid $slate04;
}

//================================================== //
// Core Controls
@import 'controls';

