// Soho Xi - 508 - Dark Theme
//================================================== //

// Standard CSS reset stuff here
@import 'reset';
@import 'mixins';
@import 'config';

//Override Config
//================================================== //

// Form Background Color
$body-bg-color:  $slate08;
$header-bg-color: $slate09;
$header-icon-color: #eff0f4;

// Base Colors
$primary-color: $azure06;
$inverse-color: #ffffff;

//The hyperlink Style
$hyperlink-color: $azure04;

// Text Color
$font-color-extrahighcontrast: $white;
$font-color-highcontrast: $slate01;
$font-color: $slate02;
$font-color-lowcontrast: $slate03;
$label-color: $slate03;
$disabled-color: $graphite04;

// Rules
$hr-top-color: $slate09;
$hr-bottom-color: transparent;

// Popovers
$popover-bg-color: $slate08;
$popover-border-color: $slate03;
$popover-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
$popover-color: $font-color;
$popover-separator-color: $slate05;

// Popup Menu
$popupmenu-color: $white;
$popupmenu-color-filtered-text: $font-color-lowcontrast;
$popupmenu-bg-color: $slate08;
$popupmenu-border-color: $slate03;
$popupmenu-checked-color: $white;
$popupmenu-hover-color: $slate06;
$popupmenu-border-color: $slate04;

//================================================== //
// Core Controls
@import 'controls';

