/* Styling use in the Demo App Only
================================================== */
@import "config";
@import "mixins";

.demo-heading {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 30px;
  text-transform: uppercase;
}

.demo-heading span {
  color: $label-color;
  text-transform: none;
  font-weight: normal;
}

.demo-header {
	height: 70px;
	background-color: #4D4D4D;
  border-bottom: 2px solid #363636;
	@include font-size(24);
  color: #fff;
	font-family: $font-stack;
	padding: 23px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.demo-header .grid {
  height: 70px;
  margin-top: -26px;
  padding-top: 25px;
}

.demo-header span {
  color: #FFFFFF;
  @include font-size(24);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAA2CAMAAADj5An2AAAABGdBTUEAALGPC/xhBQAAAJZQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOgvNKgAAADJ0Uk5TKCsIHCAjJgYWIi4HHzESDh0NLCQaDwkpHhshDCoEFxMvFAoLGCUQGREyMAIBFQMnMwASPEIoAAABcklEQVQ4y+2U2ZqCMAxGmVFnHDfcQFHZpBQoLabv/3LTBRj2ay8mV0nOR0j+pjX4n+Vm6D8bMTdqjyICwh6HAUgXUJrfh2eAAN2tOUD27EJ3C8FaOj7AqQtFjmnvC7K8A0XVb+15AM8OdGqIAOwmLKxw0ygLPrYrmO8zNULwKROhnucDK+g+qgFJYuJbFUAi4QngyA67V52FW5puRDHMjTvApZD1NiXKUhmZGRy5sa86z4PyO93XDCAyYgjKxn80THVkiqZHofhd2Ci70vBaS3aQDRlKy2vVUCQjm8CK6lHCexrXk2zPUZQQqVhThLbNlXzFNesjsqyFxww58bZMxzPkWXl7wbh7UpLSoe3jfC2Xb3g1RXUBX//wLSBGTL4R1GJJDzryhMVyMr0HbXiRqcuOrYbgor1YbcimIMWPcaj3ahS6E2WjeBx6Uw3FU1CJcPQSMgTVnRX3dTnYUOgk8hnId2g/dWSU1A9NH3LbY0Uz/gWGuQ8SEuSkzQAAAABJRU5ErkJggg==");
  background-position: 13px 0;
  background-repeat: no-repeat;
  display: block;
  height: 54px;
  margin-top: -15px;
  padding-top: 16px;
}

.demo .grid.grid-pad:nth-child(3) {
  padding-top: 90px;
}

.demo .content {
	background: #DADADA;
	color: #444;
	padding: 1px 20px 20px 20px;
}

.demo .content:hover {
	background: #c2c2c2;
}

.demo .loader {
  height: 160px;
  left: 113px;
  margin-bottom: 21px;
  position: relative;
  top: 65px;
}

.demo-header .label, .demo-header .select {
  float: left;
  display: inline-block;
}

.demo-header .label {
  color: #fff;
}

.field.aligned {
  margin-bottom: 0.5em;
}

.field.aligned .label {
  display: inline-block;
  margin: 0.4em 0 0 0;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
}

.field.aligned .select {
  display: inline-block;
  margin-top: 0;
  padding: 6px 10px !important;
  vertical-align: middle;
  width: 12em;
}

.doc-block {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px rgba(0,0,0,.2);
  @include rem(padding, 5);
}
