/* Styling use in the Demo App Only
================================================== */
@import "config";
@import "mixins";

.demo .center {
  text-align: center;
}

.demo .inline-code {
  font-family: Courier;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px 5px;
}

.demo .content {
  background: none repeat scroll 0 0 #e2b7ba;
  color: #666666;
  height: 50px;
  padding: 0 0 10px 20px;
}

.demo .content h3 {
  line-height: 52px;
}

.demo .content span {
  margin: 0;
  padding: 0;
}

.demo .loader {
  height: 160px;
  left: 113px;
  margin-bottom: 21px;
  position: relative;
  top: 65px;
}

.demo-header .label, .demo-header .dropdown {
  float: left;
  display: inline-block;
}

.demo-header .label {
  color: #fff;
}

/* TODO: Move this to forms */
.field.aligned {
  margin-bottom: 0.5em;
}

.field.aligned .label {
  display: inline-block;
  margin: 0.4em 0 0 0;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
}

.field.aligned .dropdown {
  display: inline-block;
  height: 26px;
  margin-top: 2px;
  padding: 3px 20px 3px 10px !important;
  vertical-align: middle;
  width: 12em;
}

.field.aligned .dropdown + .icon {
  margin-top: 1px;
  height: 28px;
}

/* TODO: Hide Drop Down For Now on Smaller Res */
@media handheld, only screen and (max-width: 767px) {
  .demo-header .field.aligned {
    display: none;
  }
}

/* Documentation - Might go in its own sass later */
.doc-block {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px rgba(0,0,0,.2);
  @include rem(padding, 5);
}

.doc h1 {
  margin-top: 50px;
}

.doc h1:first-child {
  margin-top: 5px;
}

