// Soho Xi - 508 - High Contrast Theme
//================================================== //

// Standard CSS reset stuff here
@import 'reset';
@import 'mixins';
@import 'config';

//Override Config
//================================================== //

// Form Background Color
$body-bg-color:  $graphite02;
$header-bg-color: $slate09;
$header-icon-color: #eff0f4;
$header-disabled-color: $graphite05;
$panel-bg-color: $graphite01;
$panel-border-color: $graphite03;

// Base Colors
$primary-color: $azure07;
$inverse-color: #ffffff;

//The hyperlink Style
$hyperlink-color: $azure09;

// Text Color
$font-color-extrahighcontrast: $graphite10;
$font-color-highcontrast: $graphite10;
$font-color: $graphite08;
$font-color-lowcontrast: $graphite06;
$label-color: $graphite08;
$disabled-color: rgba(86, 86, 86, .6);

// Alert Colors
$alert-info: $azure07;
$alert-green: $emerald09;
$alert-yellow: #c65211;
$alert-red: #ee0000;

// Rules
$hr-top-color: $graphite03;
$hr-bottom-color: transparent;

// Popovers
$popover-bg-color: $white;
$popover-border-color: $graphite01;
$popover-shadow-color: #b8bac3;
$popover-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
$popover-color: $font-color;
$popover-separator-color: $graphite01;

// Tooltips
$tooltip-bg-color: $graphite05;
$tooltip-border-color: transparent;
$tooltip-color: $font-color-highcontrast;
$tooltip-error-bg-color: $alert-red;
$tooltip-error-color: $white;

// Popup Menu
$popupmenu-color: $font-color-extrahighcontrast;
$popupmenu-color-filtered-text: $font-color;
$popupmenu-bg-color: $white;
$popupmenu-border-color: #e5e5e5;
$popupmenu-checked-color: $font-color;
$popupmenu-border-color: $graphite03;

// Form Buttons
$primary-btn-bg-color: $primary-color;
$primary-btn-hover-bg-color: $azure08;
$primary-btn-focus-bg-color: $primary-color;
$primary-btn-active-bg-color: $azure08;

// Secondary/Normal Buttons
$btn-color: $inverse-color;
$btn-bg-color: $graphite06;
$btn-hover-bg-color: $graphite05;
$btn-focus-bg-color: $primary-color;
$btn-focus-border-color: $primary-color;
$btn-active-bg-color: $graphite05;
$btn-disabled-color: $inverse-color;
$btn-disabled-bg-color: $graphite04;

// Tertiary Buttons
$tertiary-btn-color: $graphite07;
$tertiary-btn-hover-color: $primary-color;
$tertiary-btn-active-color: $primary-color;
$tertiary-btn-disabled-color: $graphite04;

// Input Fields
$input-border-color: $graphite03;
$input-color: $graphite10;
$input-bg-color: $inverse-color;
$input-disabled-bg-color: transparent;
$input-disabled-border-color: $graphite03;
$input-disabled-color: $graphite04;
$input-focus-border-color: $primary-color;
$input-placeholder-color: $graphite03;
$input-readonly-border-color: $graphite03;
$input-readonly-bg-color: $graphite03;
$input-readonly-color: $graphite07;

//States
$error-color: $alert-red;
$error-icon-fill: $alert-red;
$dirty-icon-fill: $amber10;
$confirm-icon-fill: $alert-green;
$info-icon-fill: $alert-info;

// Autocomplete
$autocomplete-light-text: $graphite05;
$trigger-icon-fill-color: $graphite05;

//List View
$listview-bg-color: $inverse-color;
$listview-border-color: $graphite03;
$listview-color: $font-color-extrahighcontrast;
$listview-disabled-color: $disabled-color;
$listview-selected-text-color: $font-color-extrahighcontrast;
$listview-selection-toolbar-color: $inverse-color;
$listview-header-bg-color: $graphite04;
$listview-header-color: $font-color-extrahighcontrast;

$listview-toolbar-button-text-color: $graphite03;
$listview-toolbar-button-icon-color: $graphite03;
$listview-toolbar-button-text-hover-color: $white;
$listview-toolbar-button-icon-hover-color: $white;
$listview-toolbar-button-text-selected-color: $white;
$listview-toolbar-button-icon-selected-color: $white;

// Drop down
$dropdown-filter-color: $font-color-extrahighcontrast;
$dropdown-color: $input-color;
$dropdown-search-color: $autocomplete-light-text;
$dropdown-menu-border-color: $primary-color;
$dropdown-menu-separator-color: $graphite02;
$dropdown-group-label-color: $graphite05;

// Date Picker
$datepicker-alt-month-color: $graphite04;
$datepicker-selected-bg-color: $primary-color;
$datepicker-selected-color: $inverse-color;
$datepicker-today-color: $graphite10;
$datepicker-hover-bg-color: $graphite02;

// Color Picker
$colorpicker-initial-bg-color: $graphite06;

//Spinbox
$spinbox-bg-color: $graphite03;
$spinbox-button-color: #ffffff;

//Mast Head
$masthead-bg-color: $graphite09;
$masthead-border-color: $graphite06;

// Icons
$icon-color: $font-color;

//Field Set
$fieldset-border-top-color: $graphite03;
$fieldset-border-bottom-color: transparent;

// Expandable Area
$expandable-area-border-color: $graphite03;

// Cardlist
$cardlist-bg-color: $inverse-color;
$cardlist-border-color: $graphite03;
$cardlist-header-bg-color: $graphite06;
$cardlist-header-color: $white;
$cardlist-actions-color: $white;

// Checkboxes
$checkbox-color: $primary-color;
$checkbox-arrow-color: #ffffff;
$checkbox-border-color: $graphite03;
$checkbox-bg-color: #ffffff;
$checkbox-disabled-font-color: $disabled-color;
$checkbox-disabled-border-color: $input-disabled-border-color;
$checkbox-disabled-bg-color: $input-readonly-bg-color;
$checkbox-disabled-select-bg-color: $input-readonly-bg-color;
$checkbox-disabled-arrow-color: #f4f4f4;
$checkbox-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Switch
$switch-checked-color: $primary-color;
$switch-checked-bg-color: $azure06;
$switch-unchecked-color: $graphite08;
$switch-unchecked-bar-color: $graphite08;
$switch-disabled-color: $input-disabled-border-color;
$switch-disabled-label-color: $disabled-color;

// Editor
$editor-bg-color: $input-bg-color;
$editor-border-color: $input-border-color;
$editor-focus-border-color: $input-focus-border-color;
$editor-color: $input-color;
$editor-toolbar-bg-color: $white;
$editor-btn-color: $graphite04;  //Was #999999  in design
$editor-middle-border-color: $graphite03;

// Radio Buttons
$radio-border-color: $graphite06;
$radio-selected-color: $primary-color;
$radio-disabled-opacity: .65;
$radio-disabled-border-color: $input-disabled-border-color;
$radio-disabled-bg-color: $input-readonly-bg-color;
$radio-disabled-select-bg-color: $input-readonly-bg-color;
$radio-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Pager
$pager-selected-color: $primary-color;
$pager-focus-border-color: $input-focus-border-color;
$pager-hover-color: $primary-color;
$pager-disabled-color: $graphite04;

// Slider
$slider-bg-color: $graphite04;
$slider-active-bg-color: $primary-color;
$slider-disabled-color: $graphite01;

//Modal
$modal-bg-color: $graphite01;
$modal-shadow: 0 0 5px rgba(255, 255, 255, .2);
$modal-btn-color: $graphite08;
$modal-color: $graphite08;
$modal-btn-border-color: $graphite05;
$modal-btn-hover-color: $graphite09;
$modal-btn-primary-color: $primary-color;
$modal-btn-primary-hover-color: $azure09;
$modal-btn-disabled-color: $graphite04;

// Accordion
$accordion-bg-color: $graphite01;
$accordion-alternate-bg-color: $white;
$accordion-border-color: $graphite02;
$accordion-pane-bg-color: $graphite02;
$accordion-pane-alternate-bg-color: $graphite01;

$accordion-text-color: $graphite08;
$accordion-text-active-color: $graphite10;

$accordion-icon-color: $graphite06;
$accordion-icon-hover-color: $graphite06;

$accordion-focused-text-color: $primary-color;
$accordion-focused-pane-bg-color: $azure01;
$accordion-selected-bg-color: $primary-color;
$accordion-selected-text-color: $white;

$accordion-disabled-bg-color: $graphite04;
$accordion-disabled-border-color: $graphite07;
$accordion-disabled-text-color: $graphite10;
$accordion-disabled-pane-bg-color: $graphite03;
$accordion-disabled-pane-text-color: $graphite10;

// Application Menu (extends Accoridon)
$app-accordion-header-bg-color: $graphite09;
$app-accordion-border-color: $graphite10;
$app-accordion-pane-bg-color: $graphite10;

$app-accordion-header-text-color: $graphite01;
$app-accordion-header-text-active-color: $white;
$app-accordion-pane-text-color: $graphite01;

$app-accordion-icon-color: $graphite01;
$app-accordion-icon-hover-color: $white;
$app-accordion-chevron-color: $graphite02;

// Contextual Action Panel
$contextual-panel-bg: $graphite07;
$contextual-panel-color: $white;

//BreadCrumb
$breadcrumb-color: $font-color-highcontrast;
$breadcrumb-disabled-color: $disabled-color;

// Rating (Stars)
$rating-bg-color: $amber06;
$rating-border-color: $graphite06;
$rating-hover-color: $primary-color;

// Tabs
$tab-selected-color: $azure09;
$tab-border-color: $graphite04;
$tab-hover-color: $font-color-extrahighcontrast;

//Charts
$chart-line-color: $graphite03;
$chart-font-color: $font-color-extrahighcontrast;

// DataGrid
$datagrid-border-color: $graphite04;
$datagrid-header-color: #ffffff;
$datagrid-header-bg-color: $graphite05;
$datagrid-header-border-color: $graphite04;
$datagrid-header-hover-color: $graphite08;
$datagrid-header-active-color: $graphite08;
$datagrid-cell-bg-color: #ffffff;
$datagrid-cell-readonly-bg-color: $graphite03;
$datagrid-cell-readonly-color: $graphite08;
$datagrid-cell-border-color: $graphite04;
$datagrid-data-color: $font-color-extrahighcontrast;
$datagrid-row-selected-color: #eaf8fe;
$datagrid-row-hover-color: $graphite01;

// Search Results
$sr-masthead-text-color: $font-color;
$sr-result-bottom-border-color: $hr-top-color;
$sr-masthead-item-color: $font-color-lowcontrast;

// Tree
$tree-selected-color: $primary-color;
$tree-icon-color: $graphite06;
$tree-line-color: $graphite04;
$tree-link-color: $font-color-extrahighcontrast;
$tree-folder-link-color: $font-color-extrahighcontrast;
$tree-disabled-opacity: .6;

//Chart Progress Bar
$chart-progressbar-bg-color: $graphite01;
$chart-progressbar-completed-fill: $emerald08;
$chart-progressbar-target-fill: $graphite05;
$chart-progressbar-primary-fill: $primary-color;
$chart-progressbar-dark-fill: $graphite08;

//Timeline
$timeline-indicator-color: $graphite05;
$timeline-indicator-processing-color: $primary-color;
$timeline-indicator-complete-color: $primary-color;
$timeline-line-color: $graphite05;
$timeline-header-color: $azure09;

//Wizard
$wizard-active-color: $primary-color;
$wizard-default-bg: $body-bg-color;
$wizard-bar-bg: $graphite05;
$wizard-active-color: $primary-color;

//Themable Variables in config.scss
$hierarchy-line-color: $graphite03;

// Searchfield Colors
$searchfield-bg-color: $white;
$searchfield-border-color: $graphite03;
$searchfield-icon-color: $tertiary-btn-color;
$searchfield-text-color: $tertiary-btn-color;

$searchfield-card-bg-color: $graphite01;
$searchfield-card-border-color: $graphite02;
$searchfield-card-icon-color: $graphite03;
$searchfield-card-text-color: $font-color;

$searchfield-header-bg-color: $graphite08;
$searchfield-header-border-color: $graphite09;
$searchfield-header-text-color: $white;
$searchfield-header-placeholder-text-color: $graphite03;
$searchfield-header-icon-color: $header-icon-color;

//Image Border Color
$image-border-color: $graphite03;

//Toast
$toast-bg-color: $white;
$toast-shadow: 0 0 5px rgba(255, 255, 255, .2);

//================================================== //
// Core Controls
@import 'controls';

//================================================== //
// Other Overrides
.hyperlink {
  border-bottom: 1px solid $hyperlink-color;

  &[disabled] {
    border-bottom: 1px solid transparent;
  }

  &:focus {
    outline: 1px dotted $hyperlink-color;
    outline-offset: 1px;
  }
}

