// Soho Xi - 508 - High Contrast Theme
//================================================== //

// Standard CSS reset stuff here
@import 'reset';
@import 'mixins';
@import 'config';

//Override Config
//================================================== //

// Form Background Color
$body-bg-color:  $slate02;
$header-bg-color: $slate09;
$header-icon-color: #eff0f4;

// Base Colors
$primary-color: $azure07;
$inverse-color: #ffffff;

//The hyperlink Style
$hyperlink-color: $azure09;

// Text Color
$font-color-extrahighcontrast: $slate10;
$font-color-highcontrast: $slate10;
$font-color: $slate08;
$font-color-lowcontrast: $slate06;
$label-color: $slate08;
$disabled-color: rgba(86, 86, 86, .6);

// Alert Colors
$alert-info: $azure07;
$alert-green: $emerald09;
$alert-yellow: $amber07;
$alert-red: #ee0000;

// Rules
$hr-top-color: $slate03;
$hr-bottom-color: transparent;

// Popovers
$popover-bg-color: $white;
$popover-border-color: $slate01;
$popover-shadow-color: #b8bac3;
$popover-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
$popover-color: $font-color;
$popover-separator-color: $slate01;

// Tooltips
$tooltip-bg-color: $slate05;
$tooltip-border-color: transparent;
$tooltip-color: $font-color-highcontrast;
$tooltip-error-bg-color: $alert-red;
$tooltip-error-color: $white;

// Popup Menu
$popupmenu-color: $font-color-extrahighcontrast;
$popupmenu-color-filtered-text: $font-color;
$popupmenu-bg-color: $white;
$popupmenu-border-color: #e5e5e5;
$popupmenu-checked-color: $font-color;
$popupmenu-border-color: $slate03;

// Form Buttons
$primary-btn-bg-color: $primary-color;
$primary-btn-hover-bg-color: $azure08;
$primary-btn-focus-bg-color: $primary-color;
$primary-btn-active-bg-color: $azure08;

// Secondary/Normal Buttons
$btn-color: $inverse-color;
$btn-bg-color: $slate06;
$btn-hover-bg-color: $slate05;
$btn-focus-bg-color: $primary-color;
$btn-focus-border-color: $primary-color;
$btn-active-bg-color: $slate05;
$btn-disabled-color: $inverse-color;
$btn-disabled-bg-color: $slate04;

// Tertiary Buttons
$tertiary-btn-color: $slate07;
$tertiary-btn-hover-color: $primary-color;
$tertiary-btn-active-color: $primary-color;
$tertiary-btn-disabled-color: $slate04;

// Input Fields
$input-border-color: $graphite03;
$input-color: $graphite10;
$input-bg-color: $inverse-color;
$input-disabled-bg-color: transparent;
$input-disabled-border-color: $slate03;
$input-disabled-color: $slate04;
$input-focus-border-color: $primary-color;
$input-placeholder-color: $slate03;
$input-readonly-border-color: $slate03;
$input-readonly-bg-color: $slate03;
$input-readonly-color: $slate07;

//States
$error-color: $alert-red;
$error-icon-fill: $alert-red;
$dirty-icon-fill: $amber10;
$confirm-icon-fill: $alert-green;
$info-icon-fill: $alert-info;

// Autocomplete
$autocomplete-light-text: $slate05;
$trigger-icon-fill-color: $slate05;

// Drop down
$dropdown-filter-color: $font-color-extrahighcontrast;
$dropdown-color: $input-color;
$dropdown-search-color: $autocomplete-light-text;
$dropdown-menu-border-color: $primary-color;
$dropdown-menu-seperator-color: $slate02;
$dropdown-group-label-color: $slate05;

// Date Picker
$datepicker-alt-month-color: $slate04;
$datepicker-selected-bg-color: $primary-color;
$datepicker-selected-color: $inverse-color;
$datepicker-today-color: $slate10;
$datepicker-hover-bg-color: $slate02;

// Color Picker
$colorpicker-initial-bg-color: $slate06;

//Spinbox
$spinbox-bg-color: $graphite03;
$spinbox-button-color: #ffffff;

//Mast Head
$masthead-bg-color: $slate09;
$masthead-border-color: $slate06;

// Icons
$icon-color: $font-color;

//Field Set
$fieldset-border-top-color: $slate03;
$fieldset-border-bottom-color: transparent;

// Expandable Area
$expandable-area-border-color: $slate03;

// Cardlist
$cardlist-bg-color: $inverse-color;
$cardlist-border-color: $slate03;
$cardlist-header-bg-color: $slate06;
$cardlist-header-color: $white;
$cardlist-actions-color: $white;

// Checkboxes
$checkbox-color: $primary-color;
$checkbox-arrow-color: #ffffff;
$checkbox-border-color: $graphite03;
$checkbox-bg-color: #ffffff;
$checkbox-disabled-font-color: $disabled-color;
$checkbox-disabled-border-color: $input-disabled-border-color;
$checkbox-disabled-bg-color: $input-readonly-bg-color;
$checkbox-disabled-select-bg-color: $input-readonly-bg-color;
$checkbox-disabled-arrow-color: #f4f4f4;
$checkbox-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Switch
$switch-checked-color: $primary-color;
$switch-checked-bg-color: $azure06;
$switch-unchecked-color: $graphite08;
$switch-unchecked-bar-color: $graphite08;
$switch-disabled-color: $input-disabled-border-color;
$switch-disabled-label-color: $disabled-color;

// Editor
$editor-bg-color: $input-bg-color;
$editor-border-color: $input-border-color;
$editor-focus-border-color: $input-focus-border-color;
$editor-color: $input-color;
$editor-toolbar-bg-color: $white;
$editor-btn-color: $slate04;  //Was #999999  in design
$editor-middle-border-color: $slate03;

// Radio Buttons
$radio-border-color: $graphite06;
$radio-selected-color: $primary-color;
$radio-disabled-opacity: .65;
$radio-disabled-border-color: $input-disabled-border-color;
$radio-disabled-bg-color: $input-readonly-bg-color;
$radio-disabled-select-bg-color: $input-readonly-bg-color;
$radio-focus-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $checkbox-color;

// Pager
$pager-selected-color: $primary-color;
$pager-focus-border-color: $input-focus-border-color;
$pager-hover-bg-color: $slate03;
$pager-disabled-color: $slate04;

// Slider
$slider-bg-color: $graphite04;
$slider-active-bg-color: $primary-color;
$slider-disabled-color: $graphite01;

//Modal
$modal-bg-color: $slate01;
$modal-shadow: 0 0 5px rgba(255, 255, 255, .2);
$modal-btn-color: $slate08;
$modal-color: $slate08;
$modal-btn-border-color: $slate05;
$modal-btn-hover-color: $slate09;
$modal-btn-primary-color: $primary-color;
$modal-btn-primary-hover-color: $azure09;
$modal-btn-disabled-color: $slate04;

// Contextual Action Panel
$contextual-panel-bg: $slate07;
$contextual-panel-color: $white;

//BreadCrumb
$breadcrumb-color: $font-color-highcontrast;
$breadcrumb-disabled-color: $disabled-color;

// Rating (Stars)
$rating-bg-color: $amber06;
$rating-border-color: $slate06;
$rating-hover-color: $primary-color;

// Tabs
$tab-selected-color: $primary-color;
$tab-border-color: $slate04;
$tab-hover-color: $font-color-extrahighcontrast;

//Charts
$chart-line-color: $slate03;
$chart-font-color: $font-color-extrahighcontrast;

// DataGrid
$datagrid-border-color: $slate04;
$datagrid-header-bg-color: $slate05;
$datagrid-header-border-color: $slate04;
$datagrid-header-hover-color: $slate08;
$datagrid-header-active-color: $slate08;
$datagrid-cell-bg-color: #ffffff;
$datagrid-cell-readonly-bg-color: $slate03;
$datagrid-cell-readonly-color: $slate08;
$datagrid-cell-border-color: $slate04;
$datagrid-data-color: $font-color-extrahighcontrast;
$datagrid-row-selected-color: #eaf8fe;
$datagrid-row-hover-color: $slate01;

//================================================== //
// Core Controls
@import 'controls';

//================================================== //
// Other Overrides
.hyperlink {
  border-bottom: 1px solid $hyperlink-color;

  &[disabled] {
    border-bottom: 1px solid transparent;
  }
}
