// Site Styling
//==================================================//

@import 'mixins';
@import 'config';

// Home Page
//==================================================//

$site-maxwidth: 1080px;
$vision-color: $azure05;
$code-color: $emerald06;
$code-color-alt: $emerald08;

body {
  background-color: $inverse-color !important;
}

h1,
h2,
h3,
h4,
label,
p,
small,
span {
  font-weight: 100;
  @include font-size(16);
}

// Header Adjustments
.header {
  h1 {
    line-height: 20px;
  }
}

.header.is-sticky + .scrollable-container {
  padding-top: 0 !important;
}

.site-hero {
  background-color: transparent;
  height: 540px;
  overflow: hidden;
  padding-top: 85px;
  position: relative;

  .hero-img {
    background-position: 55% 60%;
    background-size: cover;
    bottom: 0;
    left: 0;
    max-height: 540px;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;

    &::after {
      content: '';
      display: block;
      padding-top: 33.333%;
      width: 100%;
    }
  }

  &.home {
    .hero-img {
      background-image: url('/assets/site/0.0_Soho_xi_home_2260_blue_02.jpg');
    }
  }

  &.components {
    .hero-img {
      background-image: url('/assets/site/0.0_Soho_xi_home_2260_green_02.jpg');
    }

    + .site-text-section {
      h2 {
        text-align: left;
      }

      .site-component {
        float: left;
        height: 100px !important;
        margin: 10px;
        min-height: 0;
        text-align: center;
        text-decoration: none;
        width: 300px !important;
      }
    }

  }

  img {
    height: auto;
    margin-top: -7px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .row {
    position: relative;
    top: calc(50% - 18px);
    transform: translateY(-50%);
    vertical-align: top;
  }

  h1,
  h2 {
    color: $inverse-color;
    display: block;
    @include font-size(60);
    line-height: 6rem;
    margin: 0 10px;
    padding-top: 15px;

    span {
      color: $inverse-color;
      @include font-size(30);
      line-height: 3rem;
    }
  }

  a {
    border-bottom: 1px solid $inverse-color;
    color: $inverse-color;
    display: inline-block;
    @include font-size(16);
    font-weight: 300;
    line-height: 25px;
    position: relative;
    text-decoration: none;
    width: auto;

    &:after {
      content: ' ›';
    }
  }

  .breadcrumb {
    margin: 10px 0 0 10px;

    li:after {
      color: $inverse-color;
      @include font-size(16);
      padding: 0 12px 0 3px;
      position: relative;
      top: 4px;
    }

    a {
      border-bottom: 1px solid transparent;
      color: $inverse-color !important;

      &:after {
        content: none;
      }

      &:focus {
        border-bottom: 1px solid #ffffff;
        outline: none;
      }
    }
  }

  .tag {
    background-color: $code-color-alt;
  }

  .tags {
    margin: 10px 10px 0 5px;
  }
}

.site-hero.component .row {
  max-width: 1080px !important;
}

.site-text-section,
.site-howto-nav,
.site-recent {
  background-color: $body-bg-color;
  padding-top: 50px;
  text-align: center;

  > div {
    max-width: $site-maxwidth;
  }

  h2 {
    @include font-size(40);
    font-weight: 300;
    line-height: 40px;
    margin-top: 30px;
  }

  pre[class*="language-"] {
    left: 10%;
    width: calc(100% - 20%);
  }

  p {
    @include font-size(16);
    font-weight: 300;
    line-height: 25px;
    margin: 25px 0 30px;
    padding: 0 10%;
    text-align: center;
  }

  img {
    margin-bottom: 75px;
  }

  a,
  ul {
    @include font-size(16);
  }

  ul {
    list-style: initial;
    list-style-type: disc;
    list-style-position: unset;
    margin-left: 20px;

    li {
    margin-bottom: 5px;
    }
  }
}

.site-recent {
  h2 {
    text-align: left;
    margin-bottom: 40px;
  }
}

.site-text-section.component {
  p,
  ul,
  h2 {
    padding: 0;
    text-align: left;
  }

  h2 {
    padding: 40px 0 0;
  }
}

.site-component.card {
  height: 150px;
  min-height: 0;
  min-width: 0;
  position: relative;
  text-decoration: none;
  width: 320px;

  img {
    display: table-cell;
    height: inherit;
    float: left;
    width: 50%;
  }

  .title {
    color: #5c5c5c;
    display: table;
    height: inherit;
    left: 150px;
    margin-left: 15px;
    position: absolute;
    width: 45%;

    span {
      display: table-cell;
      @include font-size(22);

      text-align: center;
      vertical-align: middle;
    }
  }
}

.site-howto-nav {
  background-color: $inverse-color;
  padding-bottom: 70px;

  > div {
    max-width: 100%;
  }

  .site-navbox {
    background-color: $vision-color;
    background-image: url('/assets/site/blue-lego.png');
    background-position: center 15%;
    background-repeat: no-repeat;
    background-size: 102px 82px;
    cursor: pointer;
    display: block;
    height: 300px;
    text-decoration: none;
    width: 300px;

    &:focus {
      box-shadow: 0 0 0 2px $inverse-color, 0 0 0 4px $vision-color;
    }

    &.controls {
      background-color: $code-color;
      background-image: url('/assets/site/green-lego.png');

      &:focus {
        box-shadow: 0 0 0 2px $inverse-color, 0 0 0 4px $code-color;
      }
    }

    h3 {
      color: $inverse-color;
      font-weight: 200;
      padding-top: 46%;
      @include font-size(26);
    }

    p {
      color: $inverse-color;
      font-weight: 200;
      padding-top: 5%;
      @include font-size(18);
    }
  }
}

.site-home {
  .row {
    max-width: 880px;
  }

}

.alt-bgrnd.site-home.editorial {
  padding-bottom: 50px;
}

@include respond-to(phablet) {
  .site-home .article-brief {
    display: table;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    .copy {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    p {
      max-height: unset;
    }
  }

  .site-text-section h2,
  .site-howto-nav h2,
  .site-recent h2 {
    padding: 0 20px;
  }

}

// Footer
//==================================================//

.site-footer {
  background-color: #e3e3e3;
  border-top: 1px solid #ffffff;
  clear: both;
  position: relative;
  text-align: center;
  z-index: 1;

  nav {

    .icon-logo {
      float: left;
      height: 50px;
      margin: 22px 0;
      width: 50px;
    }

    ul {
      float: right;
      margin: 0 auto;
    }

    li {
      display: inline-block;
      margin: 37px 10px 0 !important;
    }
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  .legal {
    color: #656565;
    float: left;
    @include font-size(15);
    font-weight: 100;
    line-height: 15px;
    margin: 42px 20px 0;
    text-align: left;
  }
}

// Media Queries - For Main Page
//==================================================//

@include respond-to(phone) {
  .site-text-section > div,
  .site-howto-nav > div {
    max-width: 80%;
    padding: 0 20px;
  }
}

@include respond-to(phablet) {

  .components .blockgrid {
    padding: 0 20px;
    text-align: center;
  }

  .site-text-section > div,
  .site-howto-nav > div {
    max-width: 80%;
  }

  .component-group.site-text-section > div {
    max-width: 80%;
  }

  .site-footer nav {
    margin: 0 30px;

    ul {
      display: none;
    }
  }

}

@include respond-to(tablet) {

  .site-howto-nav .site-navbox h3 {
    @include font-size(22);
    height: 135px;
    padding: 49% 10px 0;
  }

  .site-howto-nav .site-navbox p {
    padding-top: 10%;
  }

  .site-text-section > div,
  .site-howto-nav > div {
    max-width: 80%;
  }

  .component-group.site-text-section > div {
    padding: 0 20px;
  }

  .site-footer nav {
    margin: 0 40px;
    max-width: 100%;
  }

}

// Vision Page
//==================================================//
.row {
  max-width: $site-maxwidth !important;
}

.editorial {

  .hero {
    height: auto !important;

    .image {
      background-image: url('/assets/site/article-example-large.jpg');
      background-position: center center;
      background-size: cover;
      height: 500px;
    }

   .copy {
      margin: 40px auto 0;
      max-width: 767px;
      text-align: center;
      padding: 0 40px;

      h1 {
        @include font-size(40);
      }

    }
  }

  .author {
    color: #999999;
    @include font-size(14);
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;

    + .tags {
      margin: -15px 0 25px;

      ul {
        margin-left: 0;
      }
    }
  }

  .btn-primary {
    margin-bottom: 40px;
  }

  h2 {
    @include font-size(30);

    &:first-child {
      border-top: 0 none;
      margin-top: 0;
      padding-top: 0;
    }
  }

  img + h2 {
    padding-top: 40px;
  }

  h3 {
    margin: 30px 0;
  }

  h1 {
    @include font-size(40);
  }

  p {
    @include font-size(16);
    line-height: 24px;
    margin: 15px 0;
  }

  p:first-child {
    margin-top: 40px;
  }

  small + img + p {
    padding-top: 25px;
  }

  ul,
  ol {
    color: #666666;
    @include font-size(16);
    margin-left: 20px;
    font-weight: lighter;
    line-height: 28px;
    list-style: initial;
    list-style-type: disc;
    list-style-position: unset;
  }

  ol {
    list-style-type: decimal;
  }

  a.hyperlink {
    @include font-size(16);
  }

  li {
    margin-bottom: 10px;
  }

  .article-brief {
    border-bottom: 1px solid $graphite02;
    margin-bottom: 40px;
    padding: 0 20px;

    img {
      margin-bottom: 40px;
    }
  }

  figure {
    margin: 0;
  }

  figcaption {
    color: $graphite04;
    @include font-size(14);
    font-weight: normal;
    margin-top: 20px;
  }

  .article {
    margin-bottom: 80px;
  }

  &.detail {
    .author {
      display: block;
      margin-bottom: 20px;
    }

    .article h2 {
      padding: 10px 0;
    }

    .article h3 {
      @include font-size(22);
      padding-top: 20px;
    }
  }

  .main {
    max-width: 767px !important;

    .content {
      max-width: 767px  !important;
    }
  }

}

code.snippet {
  background-color: #ebebeb;
  color: #1a1a1a;
  font-family: helvetica, arial;
  line-height: 30px;
  margin-top: 10px;
  padding: 4px 1px;
}


// Media Queries For Vision Page and Shared
//==================================================//

@include respond-to(tabletdown) {

  .site-category-box {
    display: block;

    .site-category-header,
    .site-category-content {
      display: inline-block;
      width: 100%;
    }

    h3 {
      padding: 50px 0 !important;
      text-align: center !important;
    }
  }

  .site-category-section {
    height: auto;

  }

  .site-hero {
    .timestamp {
      @include font-size(12);
    }
  }

  .site-footer nav {
    margin: 0 30px;
  }
}

@include respond-to(phone) {
  .site-category-section {
    display: block;
    width: 100% !important;
  }
}

.sidebar-nav a {
  display: block;
  max-width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Guide/Controls Pages
//==================================================//

section.alt-bgrnd {
  background-color: $body-bg-color;
}

section.light-bgrnd,
div.light-bgrnd {
  background-color: $inverse-color;
}

.component {
  background-color: $inverse-color;

  &.site-hero {
    background-color: $code-color;
    height: 200px;
    padding-top: 25px;
  }

  &.container {
    max-width: unset;
  }

  &.site-text-section {
    background-color: $inverse-color;
    padding: 20px 20px 40px;
  }

  .main h2 {
    border-top: 1px solid #d8d8d8;
    line-height: 70px;
    margin-top: 50px;

    &:first-child {
      border-top: 0;
      margin-top: 0;
    }
  }

  &.site-text-section h2 {
    margin-top: 0;
  }

}

// Controls Category Pages
//==================================================//
.components {

  &.site-hero {
    padding-top: 0;
  }

  .site-category-icon {
    background-color: $code-color;
    height: 200px;
    margin: 0 10px 10px 0px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 200px;

    h3 {
      color: $inverse-color;
      @include font-size(22);
      padding-top: 85px !important;
      margin: 0;
    }

    &:nth-child(2n) {
      background-color: $code-color-alt;
    }

    &:focus {
      outline: 2px solid #54a1d3;
      outline-offset: 3px;
    }

  }

  h2 {
    margin-top: 0;
    text-align: left;
  }

  .blockgrid {
    margin-bottom: 40px;
    margin-left: -10px;
    margin-top: 40px;
    padding-right: 0;
    text-align: left;
  }
}

.site-text-section.component-group {
  p {
    text-align: left;
  }
}

.editorial.component {
  margin-bottom: 80px;

  h2 {
    @include font-size(30);
    padding-bottom: 5px;
  }

  p {
    color: #666666;
    @include font-size(16);
    line-height: 24px;

    + p {
      margin-top: 0;
    }

    + h2 {
      padding-top: 20px;
    }
  }

  pre + h2 {
    padding-top: 20px;
  }

  p:empty {
    border: 1px dotted #999;
  }

  ol,
  ul {
    color: #666666;
    @include font-size(16);
    font-weight: lighter;
    line-height: 24px;
    list-style: initial;
    list-style-type: disc;
    list-style-position: unset;
    margin: 0 0 20px 30px;

    li {
      margin-bottom: 10px;
    }

    + h2 {
      padding-top: 20px;
    }
  }

  .example {
    padding: 45px 0 50px 0;
  }

  .listview-table tr,
  .listview-table td {
    @include font-size(16);
    line-height: 1.5em;
  }

  .listview-table tr:hover,
  .listview-table tr:focus {
    background-color: transparent !important;
  }

}

.code {
  background-color: #ebebeb;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  color: #4d4d4c;
  font-size: inherit;
  padding: 1px 9px;
}

.code.snippet {
  @include font-size(16);
  line-height: 1.5em;
  margin: 0 10%;
  text-align: left;
  width: 300px;
}

.timestamp {
  color: #ffffff;
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  margin-right: 30px;
  margin-top: 0;
  padding: 5px;
  position: absolute;
  right: 1px;
  text-transform: uppercase;
  top: 15px;

  + p {
    padding-top: 15px;
  }
}

.example-section {
  background-color: $body-bg-color;
  border-bottom: 1px solid #d2d2d2;
  padding: 50px 0;

  .row {
    max-width: $site-maxwidth;
    padding: 0 30px;
  }
}


.asset-item {
  background-color: #ffffff;
  color: #666666;
  height: 125px;
  min-height: 300px;
  text-decoration: none;
  width: 125px;

  &:hover {
    background-color: $azure07;
  }

  img {
    height: 100px;
    margin: 3px 0 0 !important;
  }

  span {
    font-size: 16px;
    position: relative;
    top: -27px;
  }
}

.tags {
  margin: 15px 0 50px;

  .tag {
    margin: 6px 4px 0 0;
  }
}

.site-categories {
  padding-bottom: 80px;
  .row {
    padding-right: 0;
  }
}

// Component Group Adjustments
//==================================================//

.component-group.editorial {
  .content {
    display: block !important;
    margin: 0 0 0 -15px !important;
    float: none !important;
    max-width: $site-maxwidth !important;
  }

}

.component-group.site-text-section {
  h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
  }

  .blockgrid {
    text-align: left;
  }
}

// 404 Page
//==================================================//

.error-page {
  background-color: #cd0103;
  height: 100%;
  position: relative;

  .hero-error {
    background-image: url('/assets/site/error-bg-404.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 900px;
    width: auto;
  }

  .content {
    margin: -432px auto 158px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 700px;

    h1 {
      @include font-size(40);
      color: #ffffff;
      margin-bottom: 40px;
    }

    p {
      @include font-size(22);
      color: $inverse-color;
      margin-bottom: 60px;
    }

    .home {
      background-color: #ffffff;
      color: #cc0000;
      @include font-size(19);
      padding: 15px 30px;
      text-decoration: none;
    }
  }

}

@include respond-to(tabletdown) {
  .error-page {
    .content {
      width: 80%;
    }
  }

  .component-group.editorial .content {
    margin: 0 auto !important;
    max-width: 100% !important;
  }
}


// Syntax High Lighting
//==================================================//

code[class*="language-"],
pre[class*="language-"] {
  color: #4d4d4c;
  direction: ltr;
  @include font-size(16);
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  font-family: Helvetica,Arial;
  font-weight: lighter;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-align: left;

  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

.token,
.token.tag {
  font-family: Helvetica,Arial;
  @include font-size(16);
  font-weight: lighter;
}

// Code blocks
pre[class*="language-"] {
  margin: .5em 0;
  overflow: hidden;
  padding: 20px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #ebebeb;
}

// Inline code
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $graphite07;
}

.token.punctuation {
  color: $azure07;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  background-color: transparent;
  color: $azure07;
  margin: 0;
  padding: 0;
}

.token.property {
  color: $ruby06;
}

.token.boolean,
.token.number {
  color: $azure07;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $azure07;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: $ruby06;
}

.token.atrule,
.token.attr-value {
  color: $ruby06;
}

.token.keyword {
  color: $ruby06;
}

.token.regex,
.token.important {
  color: $azure07;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre[class*='language-'] {
  position: relative;

  > code[data-language] {
    display: block;
    max-height: 28em;
    overflow: scroll;
  }

  > code[data-language]::before {
    background-color: $amethyst06;
    border-radius: 1px;
    color: $inverse-color;
    content: attr(data-language);
    display: inline-block;
    @include font-size(11);
    font-family: Helvetica,Arial;
    font-size: 1.1rem;
    line-height: 14px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
  }

  .language-markup:before {
    background-color: $azure06 !important
  }

  .language-css:before {
    background-color: $amber08 !important
  }

}
