// Site Styling
//==================================================//

@import 'mixins';
@import 'config';

// Home Page
//==================================================//

$site-maxwidth: 980px;  //320x3 + two 30px gutters
$vision-color: $azure05;
$code-color: $emerald06;
$code-color-alt: $emerald08;

body {
  background-color: $inverse-color !important;
}

// Header Adjustments
.header {
  h1 {
    line-height: 40px;
  }

  &.is-sticky + .scrollable-container {
    padding-top: 0 !important;
  }

}

.search-detail {
  background-color: $white;
  border-bottom: 1px solid $graphite02;
  height: 56px;
  padding: 15px 0 0 20px;

  .row {
    max-width: $site-maxwidth !important;
  }

  h2 {
    display: inline-block;
    margin: 14px 0 13px;

    + .tag {
      margin-left: 10px;
    }
  }

  .tag + .tag {
    margin-left: 10px;
  }
}

.site-hero {
  background-color: transparent;
  height: 350px;
  overflow: hidden;
  position: relative;

  .hero-content {
    max-width: 450px;
    padding-left: 20px;
    width: 50%;
  }

  .hero-img {
    background-position: 25% 60%;
    background-size: cover;
    bottom: 0;
    left: 0;
    max-height: 540px;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;

    &::after {
      content: '';
      display: block;
      padding-top: 33.333%;
      width: 100%;
    }
  }

  &.home {
    .hero-img {
      background-image: url('/assets/site/sohoXILego.jpg');
    }

  }

  &.components {
    .hero-img {
      background-image: url('/assets/site/ComponentLegoAmethyst.jpg');
    }

  }

  img {
    height: auto;
    margin-top: -7px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .row {
    padding-top: 50px;
    position: relative;
    vertical-align: top;
  }

  h1,
  h2 {
    color: $inverse-color;
    display: inline-block;
    @include font-size(48);
    line-height: normal;
    padding-left: 0;
    vertical-align: middle;
  }

  span {
    color: $inverse-color;
    display: block;
    @include font-size(16);
    line-height: 25px;
    margin: 0 10px;
    margin-top: 25px;
    padding-left: 0;
  }

  a {
    border-bottom: 1px solid $inverse-color;
    color: $inverse-color;
    display: inline-block;
    @include font-size(12);
    line-height: 25px;
    position: relative;
    text-decoration: none;
    width: auto;

    &:after {
      content: ' ›';
    }
  }

  .breadcrumb {

    li:after {
      color: $graphite08;
    }

    a {
      border-bottom: 1px solid transparent;
      color: $graphite08 !important;
      @include font-size(12);
      line-height: 17px !important;

      &:after {
        content: none;
      }

      &:focus {
        border-bottom: 1px solid $graphite08 !important;
        outline: none;
      }

      &:hover {
        border-bottom: 1px solid $graphite08 !important;
      }
    }
  }

  .tag {
    background-color: $code-color-alt;
  }

  .tags {
    margin: 10px 10px 0 5px;
  }
}

.site-hero.home .row {
  height: 310px;
  line-height: 310px;

  h1 {
    left: 50px;
    position: relative;
    top: -20px;
  }
}


.site-hero.component .row {
  max-width: $site-maxwidth !important;
}

.site-home {
  .editorial {
    border-top: 1px solid #d8d8d8;
    padding-bottom: 50px;
  }
}


.home.menubar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d8d8d8;
  height: 135px;
  padding: 0 30px;
  width: 100%;

  .left,
  .right {
    float: left;
    text-align: center;
    width: 50%;

    span {
      color: $graphite09;
      display: block;
      @include font-size(18);
      padding-bottom: 10px;
      padding-top: 37px;
    }
  }

  .btn-primary {
    margin-bottom: 25px;
    line-height: 35px;
    width: 200px;
  }

}

.site-intro {
  h1 {
    color: $graphite06;
    @include font-size(36);
    @include antialiased();
    margin: 70px 60px 45px;
    line-height: 45px;
    text-align: center;

    span {
      font-weight: normal;
      @include font-size(36);
    }
  }

  .one-third {
    padding-top: 10px;
    text-align: center;

    .site-intro-user .icon {
      background-image: url('../assets/site/UserCentered.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      height: 100px;
      width: 100px;
    }

    .site-intro-mobile .icon {
      background-image: url('../assets/site/MobileInMind.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      height: 100px;
      width: 100px;
    }

    .site-intro-accessible .icon {
      background-image: url('../assets/site/Accessible.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      height: 100px;
      width: 100px;
    }

    h2 {
      border-top: 1px solid #d8d8d8;
      color: $graphite08;
      @include font-size(18);
      margin-top: 10px;
      font-weight: bold;
      line-height: 45px;
      padding-top: 20px;
      text-align: left;
    }

    .hyperlink {
      float: left;
      margin-bottom: 65px;
      text-transform: uppercase;
    }

    p {
      text-align: left;
    }
  }
}

.site-text-section {
  background-color: $body-bg-color;
  padding: 20px 0;
  text-align: center;

  > div {
    max-width: $site-maxwidth;
  }

  h2 {
    color: $graphite08;
    @include font-size(28);
    font-weight: lighter;
    line-height: 40px;
  }

  pre[class*="language-"] {
    left: 10%;
    width: calc(100% - 20%);
  }

  p {
    @include font-size(16);
    line-height: 25px;
    margin: 25px 0 30px;
    padding: 0 10%;
    text-align: center;
  }

  img {
    margin-bottom: 75px;
  }

  a,
  ul {
    @include font-size(16);
  }

  ul {
    list-style: initial;
    list-style-type: disc;
    list-style-position: unset;
    margin-left: 20px;

    li {
    margin-bottom: 5px;
    }
  }
}

.site-text-section.component {
  p,
  ul,
  h2 {
    padding: 0;
    text-align: left;
  }

  h2 {
    padding: 40px 0 0;
  }
}

.site-component.card {
  background-color: #ffffff;
  display: inline-block;
  height: 75px;
  margin-left: 20px;
  min-height: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  width: 280px;

  .title-wrapper {
    display: inline-block;
    height: 75px;
    pointer-events: none;
    position: relative;
    width: 150px;
  }

  .img-wrapper {
    display: inline;
    height: 50px;
    margin: 12px 5px 12px 15px;
    width: 50px;
    pointer-events: none;
    position: relative;
    left: -1px;
    top: -13px;
  }

  img {
    height: 25px;
    margin: 13px 12px;
    width: 25px;
  }

  .title {
    color: $graphite07;
    @include font-size(18);
    display: table;
    height: 75px;
    position: absolute;
    width: 200px;

    span {
      display: table-cell;
      line-height: 20px;
      padding-right: 20px;
      vertical-align: middle;
    }
  }

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: 0 0 5px rgba(8, 150, 233, .2);
  }
}

.kitchen-sink {
  p {
    margin-left: 0px !important;
    text-align: center !important;
  }

  .btn-primary {
    display: inline-block;
    left: 40px;
    position: relative;
    top: 10px;
  }

}

@include respond-to(tablet) {

  .articles-columns {
    max-width: 670px !important;
  }


}

@include respond-to(tabletdown) {
  .site-hero .hero-content {
    max-width: 425px;
    width: 100%;
  }

  .site-hero.home {
    h1 {
      @include font-size(40);
    }
  }

  .site-hero.components {
    h2 {
      margin-bottom: -10px;
      @include font-size(35);
      padding-top: 25px;
      margin-left: 10px;
    }
  }

  .site-intro {

    .one-third.column {
      width: 100%;
    }

    h2 {
      border-top: 1px solid transparent !important;
      padding-top: 10px;
      line-height: 24px !important;
    }

    p,
    .hyperlink {
      margin-left: 120px;
    }

    .icon {
      float: left;
    }

    .site-intro-user,
    .site-intro-accessible,
    .site-intro-mobile {
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 50px;
    }

    .icon {
      margin-right: 20px;
    }

  }

  .layouts-example .one-half.column {
    display:block;
    width: 100%;
  }

  .application-menu.is-open + .page-container .main {
    margin-left: 12px;
    width: calc(100% - 90px);
  }
}

@include respond-to(phablet) {
  .site-hero.components {
    h2 {
      padding-top: 0;
    }
  }

  .component.site-hero h1 {
    margin: 10px 0 0;
  }

  .site-hero.component h1 {
    margin: 10px 0px 0 !important;
    @include font-size(40);
  }

  .site-component.card {
    width: calc(100% - 40px);

    .title-wrapper {
      width: 320px;

      .title {
        width: 320px;
      }
    }
  }

  .articles-columns {
    max-width: 400px !important;
  }

}

// Footer
//==================================================//

.site-footer {
  background-color: #e3e3e3;
  border-top: 1px solid #ffffff;
  clear: both;
  position: relative;
  text-align: center;
  z-index: 1;

  .full.column {
    margin-left: -20px;
    text-align: left;
  }

  .row {
    margin-bottom: 0;
  }

  nav {

    ul {
      margin: 0;
      padding: 0;
      text-align: left;
    }

    li {
      display: inline-block;
      margin: 30px 30px 25px;
    }
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }

}

// Media Queries - For Main Page
//==================================================//

@include respond-to(phablet) {

  .components .blockgrid {
    padding: 0 20px;
    text-align: center;
  }


  .site-footer nav {
    margin: 0 30px;
  }


  .site-footer nav li {
    display: block;
    margin: 30px 10px 25px;
  }

  .site-footer ul {
    text-align: center;
  }


}

@include respond-to(tablet) {
  .site-footer .full.column {
    margin-left: 0;
  }
}

// articles Page
//==================================================//
.row {
  max-width: $site-maxwidth !important;
}

.articles {
  .editorial {
    background-color: $body-bg-color;

    .hero {
      height: auto !important;
    }
  }

  .main {
    background-color: $body-bg-color !important;
    padding-bottom: 30px;
    width: 100% !important;

    h1 {
      @include font-size(30);
      color: $graphite06;
      margin-bottom: 30px;
      padding-top: 45px;
      text-align: center;
    }
  }

  .content {
    max-width: $site-maxwidth;
  }

}

.articles-columns {

  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;

  -moz-column-width: 305px;
  -webkit-column-width: 305px;
  column-width: 305px;

  margin: 50px auto;
  max-width: 1020px;
  text-align: center;

  margin: 50px auto;
  text-align: center;

  .article-brief {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;

    display: inline-block;
    max-width: 310px;
    vertical-align: top;
  }
}


.editorial {
  min-height: calc(100% - 78px);

  .main {
    max-width: $site-maxwidth !important;
  }

  .hero {
    background-color: #ffffff !important;
    height: 350px !important;

    .image {
      background-image: url('/assets/site/article-example-large.jpg');
      background-position: center center;
      background-size: cover;
      height: 350px;
    }

    .hyperlink {
      display: inline-block;
      margin-bottom: 40px;
    }

    .copy {
      margin: 40px auto 0;
      max-width: 820px;
      padding: 0 40px;

      h1 {
        color: $graphite06;
        @include font-size(30);
        line-height: 40px;
      }

    }
  }

  .author {
    color: $graphite04;
    @include font-size(14);
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;

    + .tags {
      margin: -15px 0 25px;

      ul {
        margin-left: 0;
      }
    }
  }


  h2 {
    color: $graphite08;
    @include font-size(24);

    &:first-child {
      border-top: 0 none;
      margin-top: 0;
      padding-top: 0;
    }
  }

  img + h2 {
    padding-top: 40px;
  }

  h3 {
    margin: 30px 0;
  }

  h1 {
    @include font-size(40);
  }

  .byline {
    color: $graphite08;
    @include font-size(18);
  }

  blockquote {
    color: $azure08;
    @include font-size(16);
    margin-bottom: 25px;
    text-align: center;
  }

  p {
    color: $graphite06;
    @include font-size(16);
    line-height: 26px;
    margin: 15px 0;
  }

  p:first-child {
    margin-top: 40px;
  }

  small + img + p {
    padding-top: 25px;
  }

  ul,
  ol {
    color: $graphite06;
    @include font-size(16);
    margin-bottom: 25px;
    margin-left: 20px;
    @include antialiased();
    line-height: 28px;
    list-style: initial;
    list-style-type: disc;
    list-style-position: unset;
  }

  ol {
    list-style-type: decimal;
  }

  a.hyperlink {
    @include font-size(16);
  }

  li {
    margin-bottom: 10px;
  }

  .article-brief {
    background-color: $inverse-color;
    border: 1px solid $graphite02;
    margin-bottom: 30px;
    margin-right: 5px;
    text-align: left;

    h2 {
      @include font-size(20);
      color: $graphite07;
      padding: 20px 20px 0px;

      a {
        border-bottom: 1px solid transparent;
        color: $hyperlink-color;
        text-decoration: none;
        line-height: 25px;
        padding-bottom: 1px;

        &:hover {
          border-bottom: 1px solid $hyperlink-color;
        }
      }
    }

    p {
      @include font-size(14);
      margin-bottom: 0 !important;
      padding: 20px;
      padding-bottom: 10px;
      padding-top: 0;
      line-height: 22px;
    }

    img {
      height: 140px;
      width: 100%;
    }

    .tags {
      margin: 0 0 20px;

      .tag {
        background-color: $graphite01;
      }

      a.tag:hover {
        background-color: $graphite02;
      }
    }

    .hyperlink {
      display: inline-block;
      @include font-size(14);
      margin: 0 20px 20px;
      text-transform: uppercase;
    }
  }

  figure {
    margin: 0;
  }

  figcaption {
    color: $graphite04;
    @include font-size(12);
    font-weight: normal;
    line-height: 20px;
    margin-top: 5px;
  }

  .article {
    margin-bottom: 80px;

    h1 {
      color: $graphite06;
      @include font-size(28);
      font-weight: lighter;
      @include antialiased();
    }
  }

  &.detail {
    .author {
      display: block;
      margin-bottom: 20px;
    }

    .article h2 {
      padding: 10px 0;
    }

    .article h3 {
      @include font-size(22);
      padding-top: 20px;
    }
  }

}

.no-margin {
  margin-top: 0 !important;
}

code.snippet {
  background-color: #ebebeb;
  color: $graphite07;
  font-family: 'Source Code Pro', monospace;
  line-height: 30px;
  margin-top: 10px;
  padding: 4px 1px;
}

// Media Queries For Vision Page and Shared
//==================================================//

@include respond-to(tabletdown) {

  .site-category-box {
    display: block;

    .site-category-header,
    .site-category-content {
      display: inline-block;
      width: 100%;
    }

    h3 {
      padding: 50px 0 !important;
      text-align: center !important;
    }
  }

  .home.menubar {
    height: 300px;

    .left,
    .right {
      display: block;
      width: 100%;
    }

    .left {
      border-bottom: 1px solid #d8d8d8;
    }
  }

  .kitchen-sink {
    padding: 20px 0 0 0 !important;

    a {
      display: block !important;
      left: 0 !important;
      margin: 0 auto !important;
      width: 100px !important;
    }
  }

  .site-category-section {
    height: auto;

  }

  .site-hero {
    .timestamp {
      @include font-size(12);
    }
  }

}

@include respond-to(phone) {
  .site-category-section {
    display: block;
    width: 100% !important;
  }

}

.sidebar-nav a {
  display: block;
  max-width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Guide/Controls Pages
//==================================================//

.alt-bgrnd {
  background-color: $body-bg-color !important;
}

.fix-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

section.light-bgrnd,
div.light-bgrnd {
  background-color: $inverse-color;
}

.component {
  background-color: $inverse-color;

  &.site-hero {
    background-color: $inverse-color;
    height: 210px !important;

    h1,
    h2 {
      color: $graphite06 !important;
      margin: 55px 0 0;
    }

    .timestamp {
      color: $graphite04;
      margin-top: 5px;
      position: static !important;
    }
  }

  &.container {
    max-width: unset;
  }

  .main h2 {

    &:first-child {
      border-top: 0;
      margin-top: 0;
    }
  }

  hr {
    border-top: 1px solid #d8d8d8;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  b {
    color: 000000;
    font-weight: bold;
  }

  &.dark-bgrnd {
    background-color: $body-bg-color;
  }

  h3 {
    color: $graphite07;
    @include font-size(24);
    @include antialiased();
    margin-top: 20px;
    text-align: left;
  }

  .card-list {
    display: inline-block;
    margin: 10px auto 20px;
    text-align: left;
  }

}

.ie9 .site-hero.component {
  height: auto !important;
  padding-top: 30px;
}

// Link Style in Case Forgotten
.editorial.component > .main > .content {

  a:not(.tag):not(.btn-primary):not(.card):not(.asset-item) {
    border-bottom: 1px solid transparent;
    color: $hyperlink-color;
    cursor: pointer;
    @include font-size(16);
    line-height: 25px;
    text-decoration: none;
    @include transition(all .3s);
    white-space: nowrap;

    // Mouse Over States is Same as the focus
    &:hover,
    &:active,
    &:focus,
    &:hover {
      border-bottom: 1px solid $hyperlink-color;
    }
  }
}

// Controls Category Pages
//==================================================//
.components {

  &.site-hero {
    padding-top: 0;
  }

  h2 {
    margin-top: 25px;
    text-align: left;
  }

  p {
    text-align: left;
  }

  .blockgrid {
    margin-bottom: 40px;
    margin-left: -10px;
    margin-top: 40px;
    padding-right: 0;
    text-align: left;
  }
}

.page-container.component {
  background-color: $body-bg-color;
  transform: none;
}

.editorial.component {
  background-color: $body-bg-color;
  padding-bottom: 70px;

  .content {
    background-color: $body-bg-color;
    margin-bottom: 35px;
  }

  .sidebar-nav {

    .content {
      max-height: calc(100% - 150px);
      overflow: auto;
    }

    h3 {
      padding: 0;
      margin: 0;
    }

    .tag-list,
    .link-list {
      padding-bottom: 10px;
      margin-left: 8px;

      .timestamp {
        position: static;
      }
    }

    a.tag:hover {
      background-color: $graphite03;
    }

    a:not(.tag) {
      display: inline-block;
      @include font-size(14);
      line-height: 20px;
    }
  }

  .is-sticky .content {
    top: 50px;
  }

  h2 {
    @include font-size(28);
    color: $graphite08;
    padding-bottom: 5px;
  }

  h3 {
    color: $graphite08;
    @include font-size(18);
    margin-bottom: 10px !important;
    margin-left: 0px;
    margin-top: 20px;
    text-align: left;
  }

  p {
    color: $graphite06;
    @include font-size(16);
    line-height: 24px;

    + p {
      margin-top: 0;
    }

    + h2 {
      padding-top: 20px;
    }
  }

  pre + h2 {
    padding-top: 20px;
  }

  p:empty {
    border: 1px dotted #999;
  }

  ol,
  ul {
    color: $graphite06;
    @include font-size(16);
    @include antialiased();
    line-height: 24px;
    list-style: initial;
    list-style-type: disc;
    list-style-position: unset;
    margin: 0 0 20px 30px;

    li {
      margin-bottom: 10px;
    }

    + h2 {
      padding-top: 20px;
    }
  }

  .example {
    padding: 45px 0 50px 0;
  }

  .listview-table {
    margin-top: 20px;
  }

  .listview-table tr,
  .listview-table td {
    color: $graphite06;
    @include font-size(16);
    line-height: 1.5em;
    padding: 15px 0;
  }

  .listview-table tr {
    border-bottom: 1px solid $graphite02;
  }

  .listview-table.show-header th {
    color: $graphite06;
    display: table-cell;
    @include font-size(18);
    padding: 10px 80px 10px 0;
    text-align: left;
  }

  .listview-table tr:hover,
  .listview-table tr:focus {
    background-color: transparent !important;
  }

}

.code {
  background-color: $graphite02;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  font-size: inherit;
  padding: 1px 9px;
}

.code.snippet {
  @include font-size(16);
  line-height: 1.5em;
  text-align: left;
  width: 300px;
}

.timestamp {
  color: #ffffff;
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  margin-right: 30px;
  margin-top: 0;
  padding: 5px;
  position: absolute;
  right: 1px;
  text-transform: uppercase;
  top: 15px;

  + p {
    padding-top: 15px;
  }
}

.example-section {
  background-color: #ffffff;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 0 0px;

  .row {
    max-width: $site-maxwidth;
    padding: 0 30px;

    &.expanded {
      max-width: 1280px !important;
    }
  }
}

.row.layouts-example {
  margin: 50px 0;
}

.asset-item {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  height: 85px;
  text-decoration: none;
  margin: 20px 60px 60px 0 !important;
  width: 85px !important;

  img {
    height: 22px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
  }

  span {
    color: $graphite07;
    display: block;
    font-size: 16px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
  }

  &:focus {
    border: solid 1px $input-focus-border-color;
    box-shadow: 0 0 5px rgba(8, 150, 233, .2);
  }

  &:hover {
    background-color: $graphite02;
  }
}

.tags {
  margin: 15px 0 50px;

  .tag {
    margin: 6px 4px 0 0;
  }
}

.site-categories {
  padding-bottom: 80px;

  .row {
    padding-right: 0;
  }
}

// Component Group Adjustments
//==================================================//

.component-group.editorial {
  .content {
    display: block !important;
    float: none !important;
    margin: 0 0 0 -15px !important;
    max-width: $site-maxwidth !important;
  }

}

// Search Results
//==================================================//
.search-results {
  &.container.masthead {
    margin-bottom: 2.5em;
  }

  .toolbar {
    height: 60px;

    .title {
      margin-top: 10px;
    }
  }
}


// Layouts Page
//==================================================//

.layouts-example {
  p {
    margin: 0 0 10px 20px !important;
  }

  .one-half.column {
    margin-left: 0;
    margin-right: 20px;
  }
}

// 404 Page
//==================================================//

.error-page {
  background-color: #cd0103;
  height: 100%;
  position: relative;

  .hero-error {
    background-image: url('/assets/site/error-bg-404.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 900px;
    width: auto;
  }

  .content {
    margin: 120px 0;
    padding: 100px 50px;
    position: absolute;
    text-align: center;
    top: 10px;
    vertical-align: middle;
    width: 100%;

    h1 {
      @include font-size(40);
      color: #ffffff;
      margin-bottom: 40px;
    }

    p {
      @include font-size(22);
      color: $inverse-color;
      margin-bottom: 60px;
    }

    .home {
      background-color: #ffffff;
      color: #cc0000;
      @include font-size(18);
      padding: 10px 20px;
      text-decoration: none;
    }
  }

}

@include respond-to(tabletdown) {

  .component-group.editorial .content {
    margin: 0 auto !important;
    max-width: 100% !important;
  }

  .card-list {
    max-width: 645px !important
  }
}


// Syntax High Lighting
//==================================================//

code[class*="language-"],
pre[class*="language-"] {
  color: #ffffff;
  direction: ltr;
  @include font-size(16);
  font-family: 'Source Code Pro', monospace;
  line-height: normal;
  padding: 40px 20px 40px 20px;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

.token,
.token.tag {
  @include font-size(16);
  line-height: normal;
}

// Code blocks
pre[class*="language-"] {
  margin: .5em 0;
  overflow: hidden;
  padding: 20px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $graphite06;
}

// Inline code
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $graphite03;
}

.token.punctuation {
  color: #ffffff;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  background-color: transparent;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.token.property {
  color: $ruby02;
}

.token.function {
  color: $azure03;
}

.token.boolean,
.token.number {
  color: #ffffff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ffffff;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #ffffff;
}

.token.atrule,
.token.attr-value {
  color: $azure03;
}

.token.keyword {
  color: $emerald04;
}

.token.regex,
.token.important {
  color: $azure03;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre[class*='language-'] {
  position: relative;

  > code[data-language] {
    display: block;
    max-height: 32em;
    overflow: auto;
  }

  > code[data-language]::before {
    background-color: $amethyst06;
    border-radius: 1px;
    color: $inverse-color;
    content: attr(data-language);
    display: inline-block;
    font-family: helvetica,arial;
    @include font-size(11);
    line-height: normal;
    padding: 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
  }

  .language-markup:before {
    background-color: $azure06 !important
  }

  .language-css:before {
    background-color: $amber08 !important
  }

}
