// Site Styling
//==================================================//

@import 'reset';
@import 'mixins';
@import 'config';

@import 'controls/grid';
@import 'controls/typography';
@import 'controls/header';
@import 'controls/icons';
@import 'controls/input';


// Home Page
//==================================================//

$site-maxwidth: 960px;
$home-color: $amber10;
$vision-color: $turquoise05;
$gallery-color: #ac6cbc;
$code-color: $amber07;
$code-color-alt: $amber08;

body {
  background-color: $inverse-color !important;
}

h1,
h2,
h3,
h4,
label,
p,
small,
span {
  //font-family: Helvetica Neue, Helvetica, Arial !important;
  font-weight: 100;
  @include font-size(20);
}

// Header Adjustments
.header {
  h1 {
    line-height: 20px;
  }
}

.header.is-sticky + .scrollable-container {
  padding-top: 0 !important;
}

.site-hero {
  background-color: $home-color;
  height: 540px;
  overflow: hidden;
  padding-top: 85px;

  .row {
    position: relative;
    top: calc(50% - 18px);
    transform: translateY(-50%);
    vertical-align: top;
  }

  h2 {
    color: $inverse-color;
    display: block;
    @include font-size(60);
    line-height: 6rem;
    margin: 0 10px;
    padding-top: 15px;

    span {
      color: $inverse-color;
      @include font-size(30);
      line-height: 3rem;
    }
  }

  a {
    border-bottom: 1px solid $inverse-color;
    color: $inverse-color;
    display: inline-block;
    @include font-size(20);
    font-weight: 300;
    line-height: 25px;
    position: relative;
    text-decoration: none;
    width: auto;

    &:after {
      content: ' ›';
    }
  }

  .breadcrumb {
    margin: 10px 0 0 10px;

    li:after {
      color: $inverse-color;
    }

    a {
      border-bottom: 1px solid transparent;
      color: $inverse-color !important;

      &:after {
        content: none;
      }

      &:focus {
        border: 1px solid #ffffff;
      }
    }
  }

  .tag {
    background-color: $code-color-alt;
  }

  .tags {
    margin: 10px 10px 0 5px;
  }
}

.site-home.gallery-thumbs {
  padding: 10px 0 40px;
}

.site-text-section,
.site-howto-nav,
.site-recent {
  background-color: $body-bg-color;
  padding-top: 50px;
  text-align: center;

  > div {
    max-width: $site-maxwidth;
  }

  h2 {
    color: #666666;
    @include font-size(40);
    font-weight: 300;
    line-height: 40px;
    margin-top: 30px;
  }

  p {
    color: #666666;
    @include font-size(20);
    font-weight: 300;
    line-height: 25px;
    margin: 25px 0 30px;
    padding: 0 10%;
    text-align: center;
  }

  img {
    margin-bottom: 75px;
  }
}

.site-howto-nav {
  background-color: $inverse-color;
  padding-bottom: 70px;

  > div {
    max-width: 100%;
  }

  .site-navbox {
    background-color: $vision-color;
    background-image: url('/assets/site/lego-turq@2x.png');
    background-position: center 15%;
    background-repeat: no-repeat;
    background-size: 102px 82px;
    cursor: pointer;
    display: block;
    height: 300px;
    text-decoration: none;
    width: 300px;

    &:focus {
      box-shadow: 0 0 0 2px $inverse-color, 0 0 0 4px #00c3b5;
    }

    &.visual-gallery {

      background-color: $gallery-color;
      background-image: url('/assets/site/lego-amethyst@2x.png');

      &:focus {
        box-shadow: 0 0 0 2px $inverse-color, 0 0 0 4px #c77cff;
      }
    }

    &.controls {
      background-color: $code-color;
      background-image: url('/assets/site/lego-ruby@2x.png');

      &:focus {
        box-shadow: 0 0 0 2px $inverse-color, 0 0 0 4px #ff6545;
      }
    }

    h3 {
      color: $inverse-color;
      font-weight: 200;
      padding-top: 46%;
      @include font-size(26);
    }

    p {
      color: $inverse-color;
      font-weight: 200;
      padding-top: 5%;
      @include font-size(18);
    }
  }
}


// Footer
//==================================================//

.site-footer {
  background-color: #e3e3e3;
  border-top: 1px solid #ffffff;
  clear: both;
  text-align: center;

  nav {

    .icon-logo {
      float: left;
      margin: 30px 0;
    }

    ul {
      float: right;
      margin: 0 auto;
    }

    li {
      display: inline-block;
      margin: 37px 10px 0 !important;
    }
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  .legal {
    color: #656565;
    float: left;
    @include font-size(15);
    font-weight: 100;
    line-height: 15px;
    margin: 42px 20px 0;
    text-align: left;
  }
}

// Media Queries - For Main Page
//==================================================//

@include respond-to(phone) {
  .site-text-section > div,
  .site-howto-nav > div {
    max-width: 80%;
  }
}

@include respond-to(phablet) {

  .site-text-section > div,
  .site-howto-nav > div {
    max-width: 80%;
  }

  .site-footer nav {
    margin: 0 30px;

    ul {
      display: none;
    }
  }

  .gallery-thumb {
    margin: 20px 0 0 !important;
  }

}

@include respond-to(tablet) {

  .site-howto-nav .site-navbox h3 {
    @include font-size(22);
    height: 135px;
    padding: 49% 10px 0;
  }

  .site-howto-nav .site-navbox p {
    padding-top: 10%;
  }

  .site-text-section > div,
  .site-howto-nav > div {
    max-width: $breakpoint-phone-to-tablet;
  }

  .site-footer nav {
    margin: 0 40px;
    max-width: 100%;
  }

}

// Vision Page
//==================================================//
.row {
  max-width: $site-maxwidth !important;
}

.site-vision-carousel {
  background-color: #00c2b4;
  height: 433px;
  margin-top: 70px !important;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  h2 {
    color: $inverse-color;
    display: table-cell;
    @include font-size(50);
    font-weight: 200;
    height: 433px;
    line-height: 50px;
    padding-left: 20%;
    position: relative;
    vertical-align: middle;
  }

  .site-vision-carousel-content {
    float: left;
    width: 50%;
  }

  .site-vision-carousel-img {
    float: right;
    width: 50%;

    img {
      border: 1px dashed #ffffff;
      height: 300px;
      margin: 61px auto 0;
    }
  }
}

.breadcrumb {
  margin: 20px 0;
}

.vision.site-hero {
  background-color: $vision-color;
  height: 270px;

  h2 {
    position: relative;
    top: -40px;
  }
}

.vision-section-title {
  margin: 0 auto;
  max-width: $site-maxwidth;

  h2 {
    color: #666666;
    @include font-size(40);
    line-height: 45px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
  }
}

.site-category-box {
  display: table;
  margin: 20px auto;
  max-width: $site-maxwidth;

  &.alt-color {
    .site-category-header {
      background-color: $azure06;
    }

    .site-category-content {
      background-color: $azure05;
    }
  }

  .site-category-header {
    background-color: $turquoise06;
    display: table-cell;
    vertical-align: top;
    width: 35%;

    h3 {
      color: $inverse-color;
      @include font-size(46);
      line-height: normal;
      padding: 50px;
      text-align: left;
    }
  }

  .site-category-content {
    background-color: $turquoise05;
    display: table-cell;
    padding: 40px 0;
    width: 65%;

    .site-category-section {
      float: left;
      min-height: 75px;
      padding: 20px 50px;
      text-align: left;
      width: 100%;
    }

    h4 {
      color: $inverse-color;
      @include font-size(24);
      font-weight: 400;
      line-height: normal;
    }

    p {
      color: $inverse-color;
      @include font-size(18);
      line-height: normal;
      margin-bottom: 45px;
    }
  }
}

.site-categories {
  background-color: $body-bg-color;
  margin: 0 auto;
  text-align: center;

  h2 {
    color: #666666;
    margin: 80px auto 0;
    max-width: $site-maxwidth;
    padding: 80px 0 40px;
    @include font-size(40);
    text-align: center;
  }

  p {
    margin-bottom: 40px;
    @include font-size(18);
    padding: 0 40px;
    text-align: center;
  }

  &.vision {
    padding-bottom: 70px;
  }

  .site-category-icon {
    background-color: $turquoise05;

    display: inline-block;
    height: 320px;

    margin: 10px 0 0 10px;
    text-decoration: none;
    width: 320px;

    &:focus {
      box-shadow: 0 0 0 4px #ffffff, 0 0 0 6px $turquoise05;
    }

    &:nth-child(even) {
      background-color: $azure05;

      &:focus {
        box-shadow: 0 0 0 4px #ffffff, 0 0 0 6px $azure05;
      }

      .site-icon {
        background-color: $azure06;
      }
    }

    h3 {
      color: $inverse-color;
      @include font-size(27);
      @include vertical-align();
      padding: 15px;
      margin: 0;
      text-align: center;
    }

    // Section Icons
    .site-icon {
      background-color: $turquoise06;
      height: 90px;
      left: 50%;
      margin-left: -45px;
      margin-top: -70px;
      position: relative;
      top: 50%;
      width: 90px;

      + h3 {
        margin-top: 30px;
      }

      .icon {
        height: 50px;
        margin-top: -25px;
        position: relative;
        top: 50%;
        width: 50px;
      }
    }
  }
}

// Code For Gallery Page
//==================================================//

.gallery {
  &.site-hero {
    background-color: $gallery-color;
  }
}

.gallery-headline {
  h2 {
    @include font-size(40);
    margin: 30px 40px 40px;
  }
}

.gallery-thumbs {
  padding: 50px 0;
}

.gallery-thumb {
  backface-visibility: hidden;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: #666666;
  height: 480px;
  margin: 20px 0 0 20px !important;
  overflow: hidden;
  text-decoration: none;
  transform: translateZ(0);
  width: 330px;

  &:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $azure05;
  }

  &:visited {
    color: #666666;
  }

  h3 {
    @include font-size(24);
    color: $graphite07;
    margin: 30px 20px 0;

    + span {
      @include font-size(16);
      color: $graphite07;
      display: block;
      margin-left: 20px;
      margin-top: 5px;
      padding-bottom: 20px;
    }
  }

  p {
    @include font-size(16);
    line-height: 22px;
    margin: 0 20px;
  }

  .tags {
    border-top: 1px solid #e1e1e1;
    margin-top: 20px;
    padding-top: 7px;
    text-align: center;
  }

  .gallery-overlay {
    background-color: $amethyst05;
    display: block;
    height: 480px;
    opacity: .8;
    overflow: hidden;
    position: absolute;
    visibility: visible;
    width: 330px;
    z-index: 6;
  }
}

// Media Queries For Vision Page and Shared
//==================================================//

@include respond-to(tabletdown) {
  .site-vision-carousel {
    height: 355px;

    h2 {
      height: 355px;
    }

    img {
      margin: 30px auto 0 !important;
    }
  }

  .site-category-box {
    display: block;

    .site-category-header,
    .site-category-content {
      display: inline-block;
      width: 100%;
    }

    h3 {
      padding: 50px 0 !important;
      text-align: center !important;
    }
  }

  .site-category-section {
    height: auto;

  }

  .site-hero {
    .timestamp {
      @include font-size(12);
    }
  }

  .site-footer nav {
    margin: 0 30px;
  }
}

@include respond-to(phone) {
  .site-category-section {
    display: block;
    width: 100% !important;
  }
}

// Guide/Controls Pages
//==================================================//

section.alt-bgrnd {
  background-color: $body-bg-color;
}

section.light-bgrnd {
  background-color: $inverse-color;
}

.component {
  background-color: $inverse-color;

  &.site-hero {
    background-color: $code-color;
    height: 275px;
    padding-top: 25px;
  }

  .site-category-header {
    background-color: $ruby07;
  }

  .site-category-content {
    background-color: $ruby06;
  }

  &.site-categories {
    padding-bottom: 70px;
  }

  &.site-category-box {
    background-color: $body-bg-color;

    .hyperlink {
      color: $inverse-color;
      display: inline-block;
      line-height: 24px;
      margin-bottom: -3px;
      margin-left: 0;
      padding: 1px 9px;

      &:focus {
        border-color: $inverse-color;
      }

      .ripple {
        background-color: $inverse-color;
      }
    }

    &.alt-bgrnd {
      .site-category-header {
        background-color: $code-color;
      }

      .site-category-content {
        background-color: $amber09;
      }
    }
  }

  &.container {
    max-width: unset;
  }

  &.site-text-section {
    background-color: $inverse-color;
    padding: 20px 0 60px;
  }

  .site-categories {
    text-align: left;

    h2 {
      padding: 25px 0 0;
      text-align: left;
    }

    .site-category-icon {
      background-color: $code-color;
      float: left;
      height: 225px;
      width: 225px;

      &:nth-child(2n) {
        background-color: $amber07;
      }
    }
  }

  &.site-category-icon {
    background-color: $amber07;
    vertical-align: top;

    &:focus {
      box-shadow: 0 0 0 4px #ffffff, 0 0 0 6px $amber07;
    }

    .site-icon {
      background-color: $amber06;
    }
  }

  &.site-categories {
    h2 {
      padding: 50px 0 40px;
    }
  }

  &.site-category-icon:nth-child(even) {
    background-color: $amber05;

    &:focus {
      box-shadow: 0 0 0 4px #ffffff, 0 0 0 6px $amber05;
    }

    .site-icon {
      background-color: $amber06;
    }
  }
}


// Guide/Controls Category Pages
//==================================================//
.guide-category {

  .site-categories {
    max-width: 70%;

    h2 {
      padding: 0 0 40px;
      text-align: left;
    }
  }

  .site-category-icon {
    height: 220px;
    width: 220px;
  }
}

.guide-example {
  display: table-cell;
  padding-top: 30px;
  width: 70%;

  h2 {
    @include font-size(40);
    padding-bottom: 5px;
  }

  p {
    color: #666666;
    @include font-size(16);
    line-height: 24px;
    padding-bottom: 20px;
  }

  ol,
  ul {
    color: #666666;
    @include font-size(16);
    font-weight: lighter;
    line-height: 24px;
    list-style: inside none disc;
    margin: 0 0 20px 30px;

    li {
      margin-bottom: 15px;
    }
  }
}

.timestamp {
  color: #ffffff;
  display: block;
  @include font-size(12);
  margin-right: 30px;
  margin-top: -30px;
  padding: 5px;
  position: absolute;
  right: 1px;
  top: 1px;

  + p {
    padding-top: 15px;
  }
}

.asset-item {
  background-color: #ffffff;
  color: #666666;
  height: 125px;
  text-decoration: none;
  width: 125px;

  &:hover {
    background-color: $azure07;
  }

  img {
    height: 100px;
    margin: 3px 0 0 !important;
  }

  span {
    font-size: 16px;
    position: relative;
    top: -27px;
  }
}

.guide-example {
  display: block;
  width: 100%;

  .example-tag {
    background-color: $code-color;
    color: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    line-height: 18px;
    margin-bottom: 10px;
    padding: 7px 12px;
    text-transform: uppercase;
    width: 80px;
  }

  .example {
    padding: 45px 0 50px 0;
  }

}

.tags {
  margin: 15px 0 50px;

  .tag {
    margin: 6px 4px 0 0;
  }
}

.site-sidebar {
  display: table-cell;
  padding-left: 25px;
  width: 30%;

  h3 {
    @include font-size(20);
  }
}

.site-copy {
  .row {
    padding: 40px 0 70px;
  }

  img {
    margin: 25px 0 0;
  }

  .author + img {
    margin: 50px 0 0;
  }

  p {
    @include font-size(16);
    line-height: 30px;
    margin-bottom: 15px;
    padding-right: 20px;
  }

  //TODO: Make these text sizes align with soho XI heading
  figcaption {
    @include font-size(14);
    color: #666666;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 12px 0;
    width: 84%;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    font-weight: lighter;
    @include font-size(16);
    line-height: 30px;
    list-style: inside none disc;
    margin: -10px 20px 20px;
  }

  ol {
    list-style: inside none number;
  }

  li > ul,
  li > ol {
     padding-top: 20px;
  }

  h3 + ul,
  h3 + ol {
    padding-top: 20px;
  }

  h2 + ul,
  h2 + ol {
    padding-top: 20px;
  }

  h1 {
    @include font-size(40);
  }

  .author {
    @include font-size(16);
  }

  h2 {
    @include font-size(30);
    margin: 40px 0 20px;
  }

  h3 {
    @include font-size(22);
    margin: 20px 0;
    clear: both;
  }

  .tab-container {
    margin-top: 20px;

    ul {
      margin: 0;

      a {
        @include font-size(18);
      }
    }
  }

  .related-controls {

    .guide-related-control {
      border-bottom: 1px solid #d6d6d6;
      display: block;
      padding: 10px 0;
    }

    .hyperlink {
      @include font-size(16);
    }

    > div {
      border-bottom: 1px solid #d6d6d6;
      padding: 10px 0;
    }
  }

  .listview-table {
    margin: 20px 0;
  }
}

// Media Queries for Guide/Controls Category Pages
//==================================================//

@include respond-to(tabletdown) {

  .site-sidebar {
    display: block;
    padding-left: 0;
    text-align: left;
    width: 100%;

    .tags,
    h3 {
      text-align: left;
    }
  }

  .site-categories {
    padding-bottom: 0;
  }

}

// Syntax High Lighting
//==================================================//

code[class*="language-"],
pre[class*="language-"] {
  color: #4d4d4c;
  direction: ltr;
  @include font-size(16);
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  font-family: Helvetica,Arial;
  font-weight: lighter;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-align: left;

  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

.token,
.token.tag {
  font-family: Helvetica,Arial;
  @include font-size(16);
  font-weight: lighter;
}

// Code blocks
pre[class*="language-"] {
  margin: .5em 0;
  overflow: auto;
  padding: 20px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #ebebeb;
}

// Inline code
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $graphite07;
}

.token.punctuation {
  color: $azure07;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  background-color: transparent;
  color: $azure07;
  margin: 0;
  padding: 0;
}

.token.property {
  color: $ruby06;
}

.token.boolean,
.token.number {
  color: $azure07;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $azure07;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: $ruby06;
}

.token.atrule,
.token.attr-value {
  color: $ruby06;
}

.token.keyword {
  color: $ruby06;
}

.token.regex,
.token.important {
  color: $azure07;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre[class*='language-'] {
  position: relative;

  > code[data-language] {
    display: block;
    max-height: 28em;
    overflow: scroll;
  }

  > code[data-language]::before {
    background-color: $amethyst06;
    border-radius: 1px;
    color: $inverse-color;
    content: attr(data-language);
    display: inline-block;
    @include font-size(11);
    font-family: Helvetica,Arial;
    font-size: 1.1rem;
    line-height: 14px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
  }

  .language-markup:before {
    background-color: $azure06 !important
  }

  .language-css:before {
    background-color: $amber08 !important
  }

}
