// Notification
//================================================== //

.notification {
  height: 0;
  padding: 10px 45px;
  position: relative;
  z-index: 1;

  .notification-text,
  .notification-link {
    color: $theme-color-palette-graphite-60;
  }

  .notification-link {
    font-weight: 300;
    padding-left: 5px;
    text-decoration: none;

    &:hover {
      color: $theme-color-brand-secondary-contrast;
      text-decoration: underline;
    }
  }

  .notification-icon {
    left: 15px;
    position: absolute;
    top: calc(50% - 9px);
  }

  .notification-close {
    position: absolute;
    right: 15px;
    top: calc(50% - 18px);

    .icon {
      color: $icon-color-fill;
      height: 15px;
    }

    &:hover .icon,
    &:active .icon {
      color: $button-color-tertiary-hover-font;
    }
  }

  &.error {
    background-color: $notification-color-error-initial-background;
    color: $notification-color-error-initial-font;
  }

  &.alert {
    background-color: $notification-color-alert-initial-background;
    color: $notification-color-alert-initial-font;
  }

  &.success {
    background-color: $notification-color-success-initial-background;
    color: $notification-color-success-initial-font;
  }

  &.info {
    background-color: $notification-color-info-initial-background;
    color: $notification-color-info-initial-font;
  }
}
