// TimePicker
// ==================================================

.timepicker {
  width: 150px;

  + .icon,
  + .tooltip-description + .icon {
    @include css3(user-select, none);

    color: $trigger-icon-fill-color;
    cursor: pointer;
    height: 18px;
    margin-left: -31px;
    margin-top: 9px;
    position: absolute;

    &:hover {
      color: $trigger-hover-color;
    }

    &:active {
      color: $trigger-active-color;
    }

  }

  ~ .icon-error {
    margin-left: -51px;
    right: auto !important;
  }

  &.error {
    ~ .icon {
      color: $error-color;
    }
  }

  &.is-open {
    border-color: $input-color-focus-border;

    + .icon {
      color: $trigger-active-color;
    }
  }

  + .icon + .icon-error {
    right: 50px;
  }

  + .audible + .icon + .icon-error {
    right: 55px;
  }

  &:disabled {
    + .icon {
      color: $timepicker-disabled-icon-color;
      cursor: default;
    }
  }

  &[readonly] {
    + .icon {
      color: $timepicker-readonly-icon-color;
      cursor: default;
    }
  }
}

#timepicker-period + .dropdown-wrapper {
  .dropdown {
    width: 68px;
  }
}

#timepicker-popup {
  max-width: none;

  > .tooltip-content {
    padding: 0;
  }

  .time-parts {
    padding: 15px;
    text-align: center;
    white-space: nowrap;

    > label {
      width: 72px;
    }

    .colons {
      @include rem(font-size, 1.4rem);

      font-weight: $ids-number-font-weight-bold;
      min-width: 15px;

      &:empty {
        min-width: 10px;
      }
    }
  }

  .dropdown-wrapper {
    margin-bottom: 0;
  }

  .dropdown {
    width: 70px;

    &.period {
      + .dropdown-wrapper .dropdown {
        width: 70px;
      }
    }

    + .icon {
      right: 6px;
      top: 2px;
    }
  }

  .label {
    display: inline-block;
    padding: 0 2px;
  }

  .modal-buttonset {
    margin: 0;
  }
}

// Short Fields
.field-short,
.form-layout-compact .field {
  .timepicker {
    padding-right: 18px;

    + .icon,
    + .tooltip-description + .icon {
      height: 14px;
      margin-left: -24px;
      margin-top: 6px;
    }

    ~ .icon-error {
      margin-left: -40px;
    }

  }
}

// RTL Styles
html[dir='rtl'] {
  .timepicker {
    + .icon,
    + .tooltip-description + .icon {
      margin-left: inherit;
      margin-right: -31px;
    }

    + .icon + .icon-error {
      right: auto;
    }

    + .audible + .icon + .icon-error {
      margin-right: -48px;
      right: auto;
    }
  }

  .timepicker-popup {
    .dropdown {
      + .icon {
        left: 5px;
        right: auto;
      }
    }
  }

  // Short Fields
  .field-short,
  .form-layout-compact .field {
    .timepicker {
      padding-left: 18px;
      padding-right: 2px;

      + .icon,
      + .tooltip-description + .icon {
        margin-left: inherit;
        margin-right: -24px;
      }

      ~ .icon-error {
        margin-left: inherit;
        margin-right: -38px !important;
      }
    }
  }
}
