// Uplift Timepicker
//================================================== //

.timepicker {
  + .icon,
  + .tooltip-description + .icon {
    margin-left: -29px;
    margin-top: 10px;
  }
}

.field-short {
  .timepicker {
    + .icon,
    + .tooltip-description + .icon {
      margin-left: -25px;
      margin-top: 8px;
    }
  }
}

#timepicker-popup .dropdown + .icon {
  right: 8px;
  top: 3px;
}

html.is-firefox {
  .timepicker {
    + .icon,
    + .tooltip-description + .icon {
      margin-top: 8px;
    }
  }
}

html[dir='rtl'] {
  .timepicker {
    + .icon,
    + .tooltip-description + .icon {
      margin-left: auto;
      margin-right: -29px;
    }
  }

  .field-short {
    .timepicker {
      + .icon,
      + .tooltip-description + .icon {
        margin-top: 6px;
      }
    }
  }

  &.is-firefox {
    .field-short {
      .timepicker {
        + .icon,
        + .tooltip-description + .icon {
          margin-top: 8px;
        }
      }
    }
  }
}
