// Uplift Timepicker
//================================================== //

.timepicker {
  + .trigger,
  + .tooltip-description + .trigger {
    margin-left: -32px;
    margin-top: 7px;
  }
}

.field-short,
.form-layout-compact .field {
  .timepicker {
    + .trigger,
    + .tooltip-description + .trigger {
      margin-left: -25px;
      margin-top: 4px;

      .icon {
        top: -3px;
      }
    }
  }
}

#timepicker-popup .dropdown + .icon {
  right: 8px;
  top: 3px;
}

html.is-firefox {
  .timepicker {
    + .icon,
    + .tooltip-description + .trigger {
      margin-top: 8px;
    }
  }

  .form-layout-compact {
    .timepicker {
      + .icon,
      + .tooltip-description + .trigger {
        margin-top: 9px !important;
      }
    }
  }
}

html[dir='rtl'] {
  .timepicker {
    + .trigger,
    + .tooltip-description + .trigger {
      margin-left: auto;
      margin-right: -32px;
      margin-top: 8px;
    }
  }

  .field-short,
  .form-layout-compact .field {
    .timepicker {
      + .trigger,
      + .tooltip-description + .trigger {
        margin-right: -23px;
        margin-top: 5px;
      }
    }
  }

  &.is-firefox {
    .field-short,
    .form-layout-compact .field {
      .timepicker {
        + .trigger,
        + .tooltip-description + .trigger {
          margin-top: 8px;
        }
      }
    }
  }
}

html:not([lang='en-US']) {
  #timepicker-popup .dropdown.period + .dropdown-wrapper .dropdown {
    width: 75px;
  }
}
