<div class="row">
  <div class="twelve columns">
    <div class="field">
      <button class="btn-secondary" type="button" id="disabled-btn">Click to Disable</button>
      <button class="btn-secondary" type="button" id="enabled-btn" disabled="true">Click to Enable</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="field">
      <label for="disabled-field">Input Field</label>
      <input type="text" id="disabled-field" name="disabled-field" value="Disabled field" />
    </div>

    <div class="field">
      <label for="states" class="label">Dropdown Field</label>
      <select id="states" name="states" class="dropdown">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ" selected>New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>

    <div class="field">
      <label for="desc-disabled">Textarea Field</label>
      <textarea id="desc-disabled" class="textarea" maxlength="90" name="desc-disabled">Line One</textarea>
    </div>

    <div class="field">
      <label for="multi-disabled-standard" class="label">Multi Select Field</label>
      <select multiple id="multi-disabled-standard" name="multi-disabled-standard" data-maxselected="2"
        class="multiselect">
        <option value="2">Apple</option>
        <option value="3">Apple</option>
        <option>Grapefruit</option>
        <option>Kiwi</option>
        <option>Lemon</option>
        <option>Lime</option>
        <option selected>Orange</option>
        <option>Strawberry</option>
      </select>
    </div>

    <div class="field">
      <label for="background-color">Colorpicker Field</label>
      <input class="colorpicker" id="background-color" type="text" />
    </div>

    <div class="field">
      <label for="lookup-field-disabled" class="label">Lookup Field</label>
      <input id="lookup-field-disabled" class="lookup" name="lookup-field-disabled" type="text" value="2241202" />
    </div>

    <div class="field">
      <label for="date-field-disabled" class="label">Datepicker Field</label>
      <input id="date-field-disabled" value="10/31/2014" class="datepicker" name="date-field-disabled" type="text" />
    </div>

    <div class="field">
      <input type="checkbox" class="checkbox" id="checkbox-disabled" />
      <label for="checkbox-disabled" class="checkbox-label">Checkbox Field</label>
    </div>

    <div class="field">
      <label for="autocomplete-default">Autocomplete Field</label>
      <input type="text" autocomplete="off" class="autocomplete" data-options="{source: '{{basepath}}api/states?term='}"
        placeholder="Type to Search" id="autocomplete-default" />
    </div>

  </div>

  <div class="six columns">
    <div class="field">
      <span class="label">Editor Field</span>
      <div class="editor" id="editor-disabled" role="textbox" aria-multiline="true" aria-label="Comments">
        <p>Embrace <a href="http://en.wikipedia.org/wiki/e-commerce" class="hyperlink">e-commerce action-items</a>,
          reintermediate, ecologies paradigms wireless share life-hacks create innovative harness. Evolve solutions
          rich-clientAPIs synergies harness relationships virtual vertical facilitate end-to-end, wireless, evolve
          synergistic synergies.</p>
        <p>Cross-platform, evolve, ROI scale cultivate eyeballs addelivery, e-services content cross-platform leverage
          extensible viral incentivize integrateAJAX-enabled sticky evolve magnetic cultivate leverage; cutting-edge.
          Innovate, end-to-end podcasting, whiteboard streamline e-business social; compelling, "cross-media exploit
          infomediaries innovative integrate integrateAJAX-enabled." Killer interactive reinvent, cultivate widgets
          leverage morph.</p>
      </div>
    </div>

    <div class="field">
      <label for="timepicker-main" class="label">Timepicker Field</label>
      <input id="timepicker-main" class="timepicker" type="text" />
    </div>

    <div class="field">
      <label for="regular-spinbox">Spinbox Field</label>
      <input id="regular-spinbox" name="regular-spinbox" type="text" class="spinbox" data-options="{min: 0, max: 10}" />
    </div>

    <div class="field">
      <input type="radio" class="radio" name="options" id="option-disabled" value="delivery" />
      <label for="option-disabled" class="radio-label">Radio Button Field</label>
    </div>

    <div class="field">
      <label for="disabled-slider">Slider Field</label>
      <input id="disabled-slider" name="disabled-slider" class="slider" type="range" min="0" max="5" value="4" step="1"
        data-options='{ "tooltipContent": [] }' data-ticks='[
          {"value": 0, "description": "Very Poor", "color": "very-poor"},
          {"value": 1, "description": "Poor", "color": "poor"},
          {"value": 2, "description": "Adequate", "color": "adequate"},
          {"value": 3, "description": "Good", "color": "good"},
          {"value": 4, "description": "Very Good", "color": "very-good"},
          {"value": 5, "description": "Superior", "color": "superior"}
        ]' />
    </div>

    <div class="switch">
      <input type="checkbox" checked="true" id="requests-on" name="requests-on" class="switch" />
      <label for="requests-on">Allow connections</label>
    </div>

    <div class="field">
      <label for="searchfield">Search</label>
      <input id="searchfield" data-init="false" class="searchfield" placeholder="Type a search term" />
    </div>
  </div>

</div>

<script>
  $('#regular-spinbox').spinbox();

  $('#disabled-btn').on('click', function () {
    $('#disabled-field, #disabled-btn, #states ~ .dropdown-wrapper > .dropdown, #desc-disabled, #multi-disabled-standard ~ .dropdown-wrapper > .dropdown, #background-color, #lookup-field-disabled, #date-field-disabled ,#checkbox-disabled , #autocomplete-default, #editor-disabled, #timepicker-main, #regular-spinbox, #option-disabled, #disabled-slider, #requests-on, #searchfield')
      .disable();
    $('#enabled-btn').enable();
    $('#states').disable();

    $('.colorpicker-container, .spinbox-wrapper, .slider-wrapper').addClass('is-disabled');
    $('#editor-disabled').attr('contenteditable', 'false');
  });

  $('#enabled-btn').on('click', function () {
    $('#disabled-field, #disabled-btn, #states ~ .dropdown-wrapper > .dropdown, #desc-disabled, #multi-disabled-standard ~ .dropdown-wrapper > .dropdown, #background-color, #lookup-field-disabled, #date-field-disabled, #checkbox-disabled, #autocomplete-default, #editor-disabled, #timepicker-main, #regular-spinbox, #option-disabled, #disabled-slider, #requests-on, #searchfield')
      .enable();
    $('#enabled-btn').disable();
    $('#states').enable();

    $('.colorpicker-container, .spinbox-wrapper, .slider-wrapper').removeClass('is-disabled');
    $('#editor-disabled').attr('contenteditable', 'true');
  });

</script>

<script id="test-script">
  $('#searchfield').searchfield({
    clearable: true,
    source: '{{basepath}}api/states?term='
  });

</script>
