<div class="page-contents">

  <div class="form-responsive row">
    <div class="one-half column">
      <div class="field">
        <label for="batch-id" class="label">Batch ID</label>
        <input type="text" id="batch-id" name="batch-id" />
      </div>
    </div>
    <div class="one-half column">
      <span class="checkbox-group-label">Allowed Transactions</span>
      <div class="compound-field">
        <div class="field">
          <input type="checkbox" class="checkbox" id="allowed-in" name="allowed-in" />
          <label for="allowed-in" class="checkbox-label">Invoices</label>
        </div>
        <div class="field">
          <input type="checkbox" class="checkbox" id="allowed-py" name="allowed-py" />
          <label for="allowed-py" class="checkbox-label">Checks</label>
        </div>
        <div class="field">
          <input type="checkbox" class="checkbox" id="allowed-bi" name="allowed-bi" />
          <label for="allowed-bi" class="checkbox-label">Billings</label>
        </div>
        <div class="field">
          <input type="checkbox" class="checkbox" id="allowed-dp" name="allowed-dp" />
          <label for="allowed-dp" class="checkbox-label">Receipts</label>
        </div>
        <div class="field">
          <input type="checkbox" class="checkbox" id="allowed-je" name="allowed-je" />
          <label for="allowed-je" class="checkbox-label">JE's</label>
        </div>
        <div class="field">
          <input type="checkbox" class="checkbox" id="allowed-inv" name="allowed-inv" />
          <label for="allowed-inv" class="checkbox-label">Inventory</label>
        </div>
      </div>
    </div>
  </div>

</div>
