<h1 id="field-set-learn-more">Field Set <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol>
<li>Default Fieldset Example <a href="../components/fieldset/example-index">View Example</a></li>
<li>50/50 Fieldset Example <a href="../components/fieldset/example-50-50">View Example</a></li>
<li>Example Showing Input Fields <a href="../components/fieldset/example-fields">View Example</a></li>
</ol>
<h2 id="code-example">Code Example</h2>
<p>A field set uses the standard html field set and legend element and simply adds css to style the legend element text. A field set is not expandable for that you could use the <a href="../components/expandablearea">expandable area component</a>. Here is an example showing a few input fields in a field set. Anything can go inside a field set but its usually something like input fields or data input fields.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2"></a>
<a class="sourceLine" id="cb1-3" data-line-number="3"><span class="kw">&lt;form</span><span class="ot"> action=</span><span class="st">&quot;#&quot;</span><span class="ot"> method=</span><span class="st">&quot;post&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">  <span class="kw">&lt;fieldset&gt;</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">    <span class="kw">&lt;legend&gt;</span>Company Information<span class="kw">&lt;/legend&gt;</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6"></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;field&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-8" data-line-number="8">      <span class="kw">&lt;label</span><span class="ot"> for=</span><span class="st">&quot;example-fs-company-name&quot;</span><span class="kw">&gt;</span>Company Name<span class="kw">&lt;/label&gt;</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">      <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;text&quot;</span><span class="ot"> id=</span><span class="st">&quot;example-fs-company-name&quot;</span><span class="ot"> name=</span><span class="st">&quot;example-fs-company-name&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-10" data-line-number="10">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11"></a>
<a class="sourceLine" id="cb1-12" data-line-number="12">    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;field&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-13" data-line-number="13">      <span class="kw">&lt;label</span><span class="ot"> for=</span><span class="st">&quot;example-fs-company-type&quot;</span><span class="kw">&gt;</span>Company Type<span class="kw">&lt;/label&gt;</span></a>
<a class="sourceLine" id="cb1-14" data-line-number="14">      <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;password&quot;</span><span class="ot"> id=</span><span class="st">&quot;example-fs-company-type&quot;</span><span class="ot"> name=</span><span class="st">&quot;example-fs-company-type&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-15" data-line-number="15">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-16" data-line-number="16"></a>
<a class="sourceLine" id="cb1-17" data-line-number="17">    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;field&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-18" data-line-number="18">      <span class="kw">&lt;label</span><span class="ot"> for=</span><span class="st">&quot;example-fs-company-address&quot;</span><span class="kw">&gt;</span>Company Address<span class="kw">&lt;/label&gt;</span></a>
<a class="sourceLine" id="cb1-19" data-line-number="19">      <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;password&quot;</span><span class="ot"> id=</span><span class="st">&quot;example-fs-company-address&quot;</span><span class="ot"> name=</span><span class="st">&quot;example-fs-company-address&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-20" data-line-number="20">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-21" data-line-number="21"></a>
<a class="sourceLine" id="cb1-22" data-line-number="22">    <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;btn-primary&quot;</span><span class="ot"> type=</span><span class="st">&quot;submit&quot;</span><span class="kw">&gt;</span>Submit<span class="kw">&lt;/button&gt;</span></a>
<a class="sourceLine" id="cb1-23" data-line-number="23">  <span class="kw">&lt;/fieldset&gt;</span></a>
<a class="sourceLine" id="cb1-24" data-line-number="24"><span class="kw">&lt;/form&gt;</span></a>
<a class="sourceLine" id="cb1-25" data-line-number="25"></a>
<a class="sourceLine" id="cb1-26" data-line-number="26"></a></code></pre></div>
<h2 id="code-tip">Code Tip</h2>
<p>There are some added classes to style sections like field sets for cases you semantically don't require a fieldset. The <code>fieldset-title</code> element will make a text header, you should use a H element for this in the structure of your page. Then you can add a <code>&lt;hr class=&quot;fieldset-hr&quot;&gt;</code> element at the top of each subsequent section for a divider. This would be laid out like this example:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb2-1" data-line-number="1"></a>
<a class="sourceLine" id="cb2-2" data-line-number="2"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;row&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-3" data-line-number="3">  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;twelve columns&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-4" data-line-number="4">    <span class="kw">&lt;h2</span><span class="ot"> class=</span><span class="st">&quot;fieldset-title&quot;</span><span class="kw">&gt;</span>Section One<span class="kw">&lt;/h2&gt;</span></a>
<a class="sourceLine" id="cb2-5" data-line-number="5">    <span class="co">&lt;!-- Content Section One--&gt;</span></a>
<a class="sourceLine" id="cb2-6" data-line-number="6"></a>
<a class="sourceLine" id="cb2-7" data-line-number="7">    <span class="kw">&lt;hr</span><span class="ot"> class=</span><span class="st">&quot;fieldset-hr&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-8" data-line-number="8">    <span class="kw">&lt;h2</span><span class="ot"> class=</span><span class="st">&quot;fieldset-title&quot;</span><span class="kw">&gt;</span>Section Two<span class="kw">&lt;/h1&gt;</span></a>
<a class="sourceLine" id="cb2-9" data-line-number="9">    <span class="co">&lt;!-- Content Section Two--&gt;</span></a>
<a class="sourceLine" id="cb2-10" data-line-number="10"></a>
<a class="sourceLine" id="cb2-11" data-line-number="11">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-12" data-line-number="12"><span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb2-13" data-line-number="13"></a></code></pre></div>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Normal rules for content inside apply</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>Uses form guidelines</li>
</ul>
<h2 id="upgrading-from-3x">Upgrading from 3.X</h2>
<ul>
<li>Remove expand/collapse button</li>
<li>Move div content to field setup body (optional)</li>
<li>Remove class inforFieldSetLabel and inforFieldSet</li>
</ul>
