<div class="row">
	<div class="six columns">
    <span class="radio-group-label">This promotion applied to</span>

    <fieldset class="radio-group">
      <div class="field">
        <input type="radio" class="radio" name="options" id="radio1" value="radio1" />
        <label for="radio1" class="radio-label">All Stores/Retail Units</label>
        <div class="field-pane" data-required-pair="#radio1">
          <div class="field-content">
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
            <p>B2C ubiquitous communities maximize B2C synergies extend dynamic revolutionize, world-class robust peer-to-peer. Action-items semantic technologies clicks-and-mortar iterate min</p>
          </div>
        </div>
      </div>

      <div class="field">
        <input type="radio" class="radio" name="options" id="radio2" value="radio2" />
        <label for="radio2" class="radio-label">Limit by unit types and/or numbers </label>

        <div class="field-pane" data-required-pair="#radio2">
          <div class="field-content">
            <div class="field">
              <input type="checkbox" class="checkbox" id="checkbox1">
              <label for="checkbox1" class="checkbox-label">Include only these unit types and/or unit numbers and/or store hierarchies</label>
              <div class="field-pane" data-required-pair="#checkbox1">
                <div class="field-content">
                  <div id="datagrid"></div>
                </div>
              </div>
            </div>
            <br>
            <div class="field">
              <input type="checkbox" class="checkbox" id="checkbox2">
              <label for="checkbox2" class="checkbox-label">Exclude these unit types and/or store hierarchies</label>
              <div class="field-pane" data-required-pair="#checkbox2">
                <div class="field-content">
                  <p>B2C ubiquitous communities maximize B2C synergies extend dynamic revolutionize, world-class robust peer-to-peer. Action-items semantic technologies clicks-and-mortar iterate min</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

	</div>
</div>

<script>
  $('body').one('initialized', function () {

    $('.radio, .checkbox').on('change', function(e){
      $('.field-pane').each(function() {
        var el = $(this).data('required-pair');

        if( $(el).is(':checked') ) {
          $(this).css('display', 'block').animateOpen();
        } else {
          $(this).animateClosed();
        }
      });
    })

    //Locale.set('en-US').done(function () {
    var grid,
    columns = [],
    data = [];

    // Some Sample Data
    data.push({ typeName: 'Retail Unit Type', typeDesc: 'Outlet Store', action: 'Action' });

    //Define Columns for the Grid.
    columns.push({ id: 'typeName', name: 'Type', field: 'typeName' });
    columns.push({ id: 'typeDesc', name: 'Description', field: 'typeDesc' });
    columns.push({ id: 'action', name: 'Action', field: 'action', width: '60%' });

    //Init and get the api for the grid
    $('#datagrid').datagrid({
      columns: columns,
      dataset: data,
      saveColumns: false,
      toolbar: {title: 'Inclusions', actions: true, rowHeight: true, personalize: true}
    });

  });
</script>
