
<div class="row">
  <div class="one-half column">
    <div class="card auto-height">
      <div class="card-header">

          <h2 class="widget-title">My Projects</h2>
          <button id="btn-1" class="btn-actions" type="button">
            <span class="audible">Actions</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-vertical-ellipsis"></use>
            </svg>
          </button>
          <ul class="popupmenu">
            <li><a id="action-one" href="#">Action One</a></li>
            <li><a id="action-two" href="#">Action Two</a></li>
          </ul>

      </div>
      <div class="card-content">

        <!-- Step Chart Component -->
        <div class="step-chart">
          <span class="step-chart-label">7 of 7 Steps Completed
            <svg class="icon icon-success" focusable="false" aria-hidden="true" role="presentation">
               <use href="#icon-success"></use>
            </svg>
          </span>
          <div class="step-chart-steps is-complete">
            <span class="step-chart-step is-complete"></span>
            <span class="step-chart-step is-complete"></span>
            <span class="step-chart-step is-inprogress"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
          </div>
        </div>

        <div class="step-chart">
          <span class="step-chart-label">2 of 7 Steps Completed
          </span>
          <div class="step-chart-steps">
            <span class="step-chart-step is-complete"></span>
            <span class="step-chart-step is-complete"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
          </div>
        </div>

        <div class="step-chart">
          <span class="step-chart-label">2 of 7 Steps Completed
            <span class="step-chart-label-small">5 Days Remaining</span>
          </span>

          <div class="step-chart-steps">
            <span class="step-chart-step is-complete"></span>
            <span class="step-chart-step is-complete"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
          </div>
        </div>

        <div class="step-chart">
          <span class="step-chart-label">2 of 7 Steps Completed
            <svg class="icon icon-error" focusable="false" aria-hidden="true" role="presentation">
               <use href="#icon-error"></use>
            </svg>
            <span class="step-chart-label-small">2 Days Overdue</span>
          </span>

          <div class="step-chart-steps">
            <span class="step-chart-step is-complete"></span>
            <span class="step-chart-step is-complete"></span>
            <span class="step-chart-step is-inprogress"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
          </div>
        </div>

        <div class="step-chart">
          <span class="step-chart-label">0 of 7 Steps Completed
          </span>
          <div class="step-chart-steps">
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
            <span class="step-chart-step"></span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
