<div class="row">
  <div class="twelve columns">

    <div class="expandable-area">
      <div class="expandable-header">
        <span class="title">Procurement</span>
      </div>
      <div class="expandable-pane">
        <div class="content">
          <p>
            Ubiquitous out-of-the-box, scalable; communities disintermediate beta-test, enable utilize markets dynamic
            infomediaries virtual data-driven synergistic aggregate infrastructures, "cross-platform, feeds
            bleeding-edge tagclouds." Platforms extend interactive B2C benchmark proactive, embrace e-markets,
            transition generate peer-to-peer.
          </p>
        </div>
      </div>
    </div>

    <div class="expandable-area is-expanded">
      <div class="expandable-header">
        <span class="title">Design &amp; Definition</span>
      </div>
      <div class="expandable-pane">
        <div class="content">
          <div class="summary-form">

            <div class="row">
              <div class="one-half column">

                <div class="field">
                  <span class="label">Company Name</span>
                  <span class="data">Building Suppliers</span>
                </div>

                <div class="field">
                  <span class="label">Company Type</span>
                  <span class="data">Contractor</span>
                </div>

                <div class="field">
                  <span class="label">Company Address</span>
                  <span class="data">4209 Industrial Avenue <br />Los Angeles, California 90001 USA</span>
                </div>

              </div>

              <div class="one-half column">

                <div class="field">
                  <span class="label">Phone Number</span>
                  <span class="data">(999) 810-&zwj;2604</span>
                </div>

                <div class="field">
                  <span class="label">Website</span>
                  <span class="data">www.buildings.com</span>
                </div>

                <div class="field">
                  <span class="label">Estimated Delivery</span>
                  <span class="data">June 21, 2015 <i> (4 days)</i></span>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="expandable-area">
      <div class="expandable-header">
        <span class="title">
          <span>Company Information</span>
        </span>
      </div>
      <div class="expandable-pane">
        <div class="content">
          <p>
            Ubiquitous out-of-the-box, scalable; communities disintermediate beta-test, enable utilize markets dynamic
            infomediaries virtual data-driven synergistic aggregate infrastructures, "cross-platform, feeds
            bleeding-edge tagclouds." Platforms extend interactive B2C benchmark proactive, embrace e-markets,
            transition generate peer-to-peer.
          </p>
        </div>
      </div>
    </div>

    <div class="expandable-area">
      <div class="expandable-header">
        <a class="title">
          <span>Customer Information</span>
        </a>
      </div>
      <div class="expandable-visible-pane">
        <div class="content">

          <div class="compound-field">
            <div class="field">
              <label for="example-customer-name">Customer Name</label>
              <input type="text" name="customer-name" id="example-customer-name" />
            </div>

            <div class="field">
              <label for="example-customer-location">Location</label>
              <input type="text" name="customer-name" id="example-customer-location" />
            </div>
          </div>

        </div>
      </div>
      <div class="expandable-pane">
        <div class="content">

          <div class="compound-field">
            <div class="field">
              <label for="example-customer-more">More Customer Details</label>
              <input type="text" name="customer-more" id="example-customer-more" />
            </div>

            <div class="field">
              <label for="example-customer-other">Other</label>
              <select id="example-customer-other" class="dropdown" name="example-customer-other">
                <option value="TB">Tampa Bay</option>
                <option value="VC">Vancouver</option>
                <option value="TC">Turks and Caicos</option>
              </select>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
