// Skip Link
//================================================== //

.skip-link {
  @include font-size(12);
  background-color: $skip-link-bg-color;
  border: 1px solid $skip-link-border-color;
  border-radius: 0 0 2px 2px;
  border-top: 1px;
  color: $skip-link-color;
  left: 0;
  line-height: 31px;
  margin-left: 20px;
  padding: 0 10px;
  position: absolute;
  text-decoration: none;
  top: -40px;
  transition: top 1s ease-out 0s, background 1s linear 0s;
  z-index: 100;

  &:hover::after {
    border-bottom: 1px solid $skip-link-color;
    content: '';
    height: 23px;
    left: 10px;
    position: absolute;
    width: calc(100% - 20px);
  }

}

.skip-link:focus {
  left: 0;
  outline: 0 none;
  position: absolute;
  top: 0;
  transition: top .3s ease-in 0s, background .3s linear 0s;
}

//Right To Left Styles
html[dir='rtl'] {
  .skip-link:focus {
    left: initial;
    margin-right: 20px;
    right: 0;
  }
}
