<button id="header-hamburger" class="btn-icon application-menu-trigger personalize-actionable" type="button" id="hamburger-button">
  <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
    <use href="#icon-menu"></use>
  </svg>
</button>
<button class="btn-icon personalize-actionable" type="button" id="back-button">
  <span class="audible">Drill Down</span>
  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
    <use href="#icon-arrow-left"></use>
  </svg>
</button>
