<!-- included in all "header-*.html" templates -->
<div class="{{#useFlexToolbar}}toolbar-section {{/useFlexToolbar}}more">
  <button class="btn-actions page-changer" type="button" title="More">
    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-more"></use>
    </svg>
    <span class="audible" data-translate="text">More</span>
  </button>
  <ul class="popupmenu is-selectable">
    <li class="heading" role="presentation">Theme</li>
    <li class="is-selectable is-checked"><a href="#" data-theme="theme-soho-light">Light</a></li>
    <li class="is-selectable"><a href="#" data-theme="theme-soho-dark">Dark</a></li>
    <li class="is-selectable"><a href="#" data-theme="theme-soho-contrast">High Contrast</a></li>
    <li class="separator"></li>
    <li class="personalization-colors"></li>
  </ul>
</div>
