// Typography
//================================================== */

// Font Variables
$font-regular: Helvetica, Arial;
$font-source-sans: 'Source Sans Pro', Helvetica, Arial;

// Special Fonts for Certain Languages
$cultures-font-family: (
  'ar-EG': ('Helvetica', 'Arial', 'Tahoma', 'DejaVu'),
  'ar-SA': ('Helvetica', 'Arial', 'Tahoma', 'DejaVu'),
  'ja-JP': ('Helvetica', 'Arial', 'MS PGothic'),
  'ko-KR': ('Helvetica', 'Arial', 'Batang', 'Gulim'),
  'zh-CN': ('Helvetica', 'Arial', 'Microsoft YaHei New', '微软雅黑', '宋体', 'SimSun', 'STXihei', '华文细黑'),
  'zh-tw': ('Helvetica', 'Arial', 'MingLiU')
);

// Body Sizes and Color
html {
  font-size: 62.5%;

  body {
    background-color: $body-bg-color;
    color: $font-color-default;
    font-family: $font-regular;
    font-size: 1rem;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  &.font-source-sans {
    font-family: $font-source-sans;
  }

  @each $key, $value in $cultures-font-family {
    &[lang='#{$key}'] body {
      font-family: $value;
    }
  }
}

// Text Elements
h1,
h2,
h3,
h4,
label,
p,
small,
span,
ul,
ol {
  @include antialiased();
  font-weight: normal;
  line-height: normal;
}

h1 {
  @include font-size(18);
  @include rem(line-height, 2.5rem);
  color: $font-color-default;

  + p {
    margin: 20px 0;
  }
}

h2 {
  @include font-size(16);
  @include rem(line-height, 2rem);
  color: $font-color-default;

  + p {
    margin: 20px 0;
  }
}

h3 {
  @include font-size(16);
  @include rem(line-height, 2rem);
  color: $font-color-default;
}

h4 {
  @include font-size(16);
  @include rem(line-height, 2rem);
  color: $font-color-default;
}

p {
  @include font-size(14);
  color: $font-color-default;
  line-height: 2rem;

  + h1,
  + h2,
  + h3,
  + h4 {
    @include rem(margin-top, 2rem);
  }

  + p {
    @include rem(margin-top, 1.5rem);
  }
}

// Text Color Labels
.text-default {
  color: $font-color-default;
}

.text-descriptive {
  color: $font-color-descriptive;
}

.text-link {
  color: $font-color-hyperlink;
}

.text-muted {
  color: $font-color-muted;
}

// scss-lint:disable ImportantRule
.text-emphasis {
  font-style: italic !important;
}

.text-strong {
  font-weight: bold !important;
}
// scss-lint:enable ImportantRule

.text-alert {
  color: $alert-red;
}

.text-primary,
a.text-primary {
  @include font-size(18);
  @include rem(line-height, 2.5rem);
}

.text-secondary,
a.text-secondary {
  @include font-size(16);
  @include rem(line-height, 2rem);
}


.text-base,
a.text-base {
  @include font-size(14);
  @include rem(line-height, 1.5rem);
}

.text-small,
a.text-small {
  @include font-size(12);
}


// Labels
label,
.label {
  @include font-size(12);
  color: $label-color;
  display: block;
  line-height: 13px;
  margin-bottom: 8px;
  min-height: 13px; //prevents need to use &nbsp;
}

.is-disabled.label,
.is-disabled .label,
label.is-disabled,
.is-disabled label {
  color: $label-disabled-color;
}

.data-description {
  @include font-size(14);
  color: $font-color-extrahighcontrast;
  margin-left: 6px;
}

label.side,
.label.side {
  @include font-size(14);
  color: $label-color;
  display: inline-block;
  height: 100%;
  line-height: 1.5;
  min-width: 120px;
}

// App Specific Typography Classes

.widget-title,
.card-title {
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2.2rem);
  @include font-size(16);
  @include ellipsis();
  color: $cardlist-header-color;
  margin-top: 2px;
  max-width: calc(100% - 45px);
}

.list-title {
  @include font-size(16);
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2rem);
  color: $font-color-highcontrast;
}

small,
.micro-text {
  @include font-size(12);
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 1.5rem);
  color: $font-color-default;
}

.alert-text {
  @include font-size(11);
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2rem);
  color: $font-color-lowcontrast;
  font-weight: bold;
}

.error-text {
  @include font-size(11);
  color: $alert01;
  font-weight: bold;
}

.warning-text {
  @include font-size(11);
  color: $alert02;
  font-weight: bold;
}

.good-text {
  @include font-size(11);
  color: $alert04;
  font-weight: bold;
}

.info-text {
  @include font-size(11);
  color: $azure07;
  font-weight: bold;
}

.small-thin-text {
  @include font-size(10);
  color: $font-color;
  font-weight: bold;

  + .small-thin-text {
    margin-top: 0;
  }
}

.larger-heavy-text {
  @include font-size(14);
  color: $font-color-highcontrast;
  font-weight: bold;
}

.align-text-left {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.center-text {
  text-align: center;
}

.uppercase-text {
  text-transform: uppercase;
}

.alert-text {
  color: $alert-red;
  padding-left: 15px;

  &::before {
    background-color: $alert-red;
    border-radius: 50%;
    content: '';
    height: 8px;
    margin-left: -14px;
    margin-top: 4px;
    position: absolute;
    width: 8px;
  }
}

//RTL Styles
html[dir='rtl'] {

  .alert-text {
    padding-left: inherit;
    padding-right: 15px;

    &::before {
      margin-left: inherit;
      margin-right: -14px;
    }
  }

}
