// Uplift Input
//================================================== //

.field {
  .btn-actions {
    font-size: normal;

    .icon {
      height: 18px;
      width: 18px;
    }
  }
}

label.required:not(.inline) .required-asterisk,
.label.required:not(.inline) .required-asterisk,
label.required:not(.inline):not(.accessible)::after,
.label.required:not(.inline):not(.accessible)::after,
label.required .label-text:not(.accessible)::after,
.label.required .label-text:not(.accessible)::after {
  font-size: $theme-size-font-md;
}

.field-info {
  .icon {
    margin-top: -3px;
  }

  + .error-message {
    margin-top: 0;
  }
}

.error-message {
  .icon {
    height: 15px;
  }
}

html:not(.is-firefox) {
  .field-short {
    input {
      padding: 3px 5px;
    }
  }
}

.compound-field > .checkbox-group-label {
  margin-bottom: -13px;
}

// Pushes down the the checkboxes in the grid (test-checkbox-in-column)
.field > .checkbox-label {
  margin-top: 38px;
}

.compound-field > .field.field-checkbox label,
.compound-field > .field-short.field-checkbox label {
  margin-top: 30px !important;
}
