<div class="row">
  <div class="seven columns">
    <h2>Accordion with Contextmenu Test</h2>
    <p>This test is working if you right click the first item in the accordion and a context menu appears.
    To close the contextmenu click on any item.</p>
  </div>
</div>

<div class="row top-padding">
  <div class="four columns">

    <!-- Regular Panel Accordion Example -->
    <div id="regular-panel-accordion-example" class="accordion panel">
      <div class="accordion-header">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-user"></use>
        </svg>
        <a href="#" class="popup-trigger"><span>Personal</span></a>
      </div>
      <div class="accordion-pane">
        <div class="accordion-header">
          <a href="#"><span>Item 1</span></a>
        </div>
        <div class="accordion-header">
          <a href="#"><span>Item 2</span></a>
        </div>
      </div>

      <div class="accordion-header" >
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-roles"></use>
        </svg>
        <a href="#" class="xd2"><span>Position</span></a>
      </div>
      <div class="accordion-pane">
        <div class="accordion-header">
          <a href="#"><span>Item 1</span></a>
        </div>
        <div class="accordion-header is-disabled">
          <a href="#"><span>Item 2</span></a>
        </div>
        <div class="accordion-header">
          <a href="#"><span>Item 3</span></a>
        </div>
      </div>

      <div class="accordion-header">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-payment-request"></use>
        </svg>
        <a href="#"><span>Financials</span></a>
      </div>
      <div class="accordion-pane">
        <div class="accordion-header">
          <a href="#"><span>Item 1</span></a>
        </div>
        <div class="accordion-header">
          <a href="#"><span>Item 2</span></a>
        </div>
      </div>
    </div>

    <ul id="action-popupmenu" class="popupmenu">
      <li><a href="#" data-cmd="expand">Expand/Collapse</a></li>
      <li><a href="#" data-cmd="select">Select</a></li>
      <li><a href="#" data-cmd="explorer">Explore</a></li>
    </ul>

  </div>
</div>

<script>
  var menu = $('#ction-popupmenu');

  $('.popup-trigger').on('contextmenu', function(e, args) {
    console.log('contextmenu fired', args);
    e.preventDefault();
    $(e.target).on('selected', function(args, a) {
      console.log(args, a);
    }).popupmenu({
      menu: 'action-popupmenu',
      trigger: 'immediate',
      attached: 'body',
      offset: {y: -15}
    });
  });

  $('.accordion-header').children().click(function (e, args) {
    var popup = $('.popup-trigger').data("popupmenu");
    if (popup) {
      popup.destroy();
    }
  });
</script>
