<!-- included in all "header-*.html" partials -->

        <div class="more">
          <button class="btn-actions">
            <svg class="icon" viewBox="0 0 32 32" focusable="false">
              <use xlink:href="#icon-more"></use>
            </svg>
            <span class="audible">More Actions</span>
          </button>
          <ul class="popupmenu is-padded">
            <li>
              <a href="#">Theme</a>
              <ul class="popupmenu">
                <li class="is-checked"><a href="#" data-theme="grey-theme">Light</a></li>
                <li><a href="#" data-theme="dark-theme">Dark</a></li>
                <li><a href="#" data-theme="high-contrast-theme">High Contrast</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Personalization</a>
              <ul class="popupmenu is-padded">
                <li><a data-rgbcolor="#368AC0" href="#">Azure</a></li>
                <li><a data-rgbcolor="#EFA836" href="#">Amber</a></li>
                <li><a data-rgbcolor="#9279A6" href="#">Amethyst</a></li>
                <li><a data-rgbcolor="#579E95" href="#">Turqoise</a></li>
                <li><a data-rgbcolor="#76B051" href="#">Emerald</a></li>
                <li><a data-rgbcolor="#5C5C5C" href="#">Graphite</a></li>
                <li class="is-checked"><a data-rgbcolor="#414247" href="#">Slate</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Language</a>
              <ul class="popupmenu is-padded">
                <li class="is-checked"><a href="#" data-lang="en-US">English</a></li>
                <li><a href="#" data-lang="de-DE">German</a></li>
                <li><a href="#" data-lang="es-ES">Spanish</a></li>
              </ul>
            </li>
          </ul>
        </div>
