<header class="header is-personalizable">
  <div class="toolbar">
    <div class="title">
      <button class="btn-icon application-menu-trigger" type="button" id="button1">
        <span class="audible">Show navigation</span>
        <span class="icon app-header go-back is-hidden" >
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </span>
      </button>

      {{> includes/page-title}}
    </div>

    <div class="buttonset">
      <input id="header-searchfield" class="searchfield" name="header-searchfield" />
    </div>

    {{> includes/header-actionbutton}}
  </div>

  <script>

    $('#button1').button().on('click', function (e) {
      window.location.href= '.';

      e.preventDefault();
      return false;
    });

    if (isIndex) {
      $('#button1').find('.go-back').removeClass('go-back');
    }
  </script>


</header>
