<!-- included in all "header-*.html" partials -->

        <div class="more">
          <button class="btn-actions">
            <svg class="icon" viewBox="0 0 32 32" focusable="false">
              <use xlink:href="#action-button"></use>
            </svg>
            <span class="audible">More Actions</span>
          </button>
          <ul class="popupmenu is-padded">
            <li>
              <a href="#">Theme</a>
              <ul class="popupmenu">
                <li class="is-checked"><a href="#" data-theme="grey-theme">Light</a></li>
                <li><a href="#" data-theme="dark-theme">Dark</a></li>
                <li><a href="#" data-theme="508-theme">High Contrast</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Personalization</a>
              <ul class="popupmenu is-padded">
                <li><a data-rgbcolor="#EF720C" href="#">Amber</a></li>
                <li><a data-rgbcolor="#60A633" href="#">Emerald</a></li>
                <li><a data-rgbcolor="#41A5E7" href="#">Azure</a></li>
                <li><a data-rgbcolor="#2D7F67" href="#">Turqoise</a></li>
                <li><a data-rgbcolor="#6E5282" href="#">Amethyst</a></li>
                <li><a data-rgbcolor="#50535A" href="#">Slate</a></li>
                <li class="is-checked"><a data-rgbcolor="#414247" href="#">Graphite</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Language</a>
              <ul class="popupmenu is-padded">
                <li class="is-checked"><a href="#" data-lang="en-US">English</a></li>
                <li><a href="#" data-lang="de-DE">German</a></li>
                <li><a href="#" data-lang="es-ES">Spanish</a></li>
              </ul>
            </li>
          </ul>
        </div>
