<header class="header is-personalizable">
  <div class="container">
    <div class="row">
      <div class="full column">

       <nav class="breadcrumb" role="navigation">
        <ol aria-label="breadcrumb">
          <li><a href="#" class="hyperlink">Home</a></li>
          <li>
            <svg class="icon breadcrumb-arrow" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-caret-right"></use>
            </svg>
          </li>
          <li><a href="#" class="hyperlink">Second Item</a></li>
          <li>
            <svg class="icon breadcrumb-arrow" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-caret-right"></use>
            </svg>
          </li>
          <li><a href="#" class="hyperlink">Third Item</a></li>
          <li>
            <svg class="icon breadcrumb-arrow" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-caret-right"></use>
            </svg>
          </li>
          <li><a href="#" class="hyperlink current">Current Item</a></li>
        </ol>
      </nav>

        <div class="header-right ">
          <button class="btn-icon header-search hidden-sm">
            <span class="audible">Search</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-search"></use>
            </svg>
          </button>

          <button class="btn-actions" id="page-changer">
            <span class="audible">Actions</span>
            <svg class="icon" focusable="false" aria-hidden="false" role="presentation">
              <use xlink:href="#icon-more"></use>
            </svg>
          </button>
          <ul class="popupmenu has-icons">
            <li>
              <a href="#">Theme</a>
              <ul class="popupmenu">
                <li class="is-checked"><a href="#" data-theme="grey-theme">Light</a></li>
                <li><a href="#" data-theme="dark-theme">Dark</a></li>
                <li><a href="#" data-theme="508-theme">High Contrast</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Personalization</a>
              <ul class="popupmenu">
                <li><a data-rgbcolor="#368AC0" href="#">Azure!!</a></li>
                <li><a data-rgbcolor="#EFA836" href="#">Amber</a></li>
                <li><a data-rgbcolor="#9279A6" href="#">Amethyst</a></li>
                <li><a data-rgbcolor="#579E95" href="#">Turqoise</a></li>
                <li><a data-rgbcolor="#76B051" href="#">Emerald</a></li>
                <li><a data-rgbcolor="#5C5C5C" href="#">Graphite</a></li>
                <li class="is-checked"><a data-rgbcolor="#414247" href="#">Slate</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Language</a>
              <ul class="popupmenu">
                <li class="is-checked"><a href="#" data-lang="en-US">English</a></li>
                <li><a href="#" data-lang="de-DE">German</a></li>
                <li><a href="#" data-lang="es-ES">Spanish</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</header>
