<section class="masthead" role="toolbar">
  <button class="masthead-square application-menu-trigger" ><span class="audible">Open Menu</span></button>

  <h1 class="masthead-appname">Active Product Name Text</h1>

  <div class="l-pull-right">
    <svg class="icon">
      <use xlink:href="#icon-user"></use>
    </svg>
        <svg class="icon">
      <use xlink:href="#icon-share"></use>
    </svg>
        <svg class="icon">
      <use xlink:href="#icon-bookmark-filled"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="#icon-search"></use>
    </svg>
  </div>
</section>
