<section class="masthead">
  <div class="toolbar no-actions-button">
    <div class="title">
      <button id="logo-homepage">
        <svg class="icon icon-logo" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-logo"></use>
        </svg>
      </button>

      <button class="btn-icon" type="button">
        <svg class="icon" viewBox="0 0 32 32" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-grid"></use>
        </svg>
        <span class="audible">Application Switcher</span>
      </button>

      <h1 class="masthead-appname">Infor CloudSuite</h1>
    </div>

    <div class="buttonset">
      <button type="button" class="btn-icon">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-user"></use>
        </svg>
        <span>User</span>
      </button>

      <button type="button" class="btn-icon">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-mingle-share"></use>
        </svg>
        <span>Share</span>
      </button>

      <button type="button" class="btn-icon">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-bookmark-filled"></use>
        </svg>
        <span>Bookmark</span>
      </button>

      <button type="button" class="btn-icon">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-search"></use>
        </svg>
        <span>Search</span>
      </button>
    </div>
  </div>
</section>
