// Virtual Scroll Component
// ======================================================== /

.ids-virtual-scroll {
  height: 250px;
  overflow: auto;
  width: 100%;

  &:focus {
    @include focus-state();
  }
}

.ids-virtual-scroll-viewport {
  position: relative;
}
