<div class="row">
  <div class="six columns">

    <h2>Dropdown Test: Validation</h2>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="validated-dd">Validated Dropdown</label>
      <select id="validated-dd" data-validate="required" class="dropdown">
        <option value=""><em>Select One...</em></option>
        <option value="1" selected>One<option>
        <option value="2">Two<option>
        <option value="3">Three<option>
        <option value="4">Four<option>
      </select>
    </div>

  </div>
</div>
