// Rating Control
//==================================================//

.rating {
  display: inline-block;

  input {
    @include opacity(0);
    cursor: pointer;
    height: 14px;
    margin: 4px 0 0 1px;
    position: absolute;
    width: 14px;
    z-index: 1;
  }

  label {
    cursor: pointer;
    display: inline-block;
    margin-right: 7px;
    padding: 0;
  }

  // States
  &.is-readonly input,
  &.is-readonly label {
    cursor: default;
  }

  // Rating Icons - Svg
  svg.icon {
    display: inline-block;
    fill: transparent;
    height: 22px;
    position: relative;
    stroke: $rating-border-color;
    stroke-width: 1px;
    width: 22px;
  }

  .rating .inline input:focus + svg.icon,
  input:focus + label > svg.icon {
    stroke: $rating-hover-color !important;
  }

}

.rating-text {
  @include font-size(14);
  color: $rating-border-color;
  display: inline-block;
  line-height: 20px;
  padding-left: 40px;
}

.rating:not(.is-readonly) .inline input:hover + svg.icon,
.rating:not(.is-readonly) input:hover + label > svg.icon {
  stroke: $rating-hover-color;
}

.rating .inline .is-filled + svg.icon,
.rating .is-filled + label > svg.icon {
  @include opacity(1);
  fill: $rating-bg-color;
  stroke: $rating-bg-color;
}

.rating .inline input:checked + svg.icon,
.rating .inline .is-half + svg.icon,
.rating input:checked + label > svg.icon,
.rating .is-half + label > svg.icon {
  @include opacity(1);
  fill: $rating-bg-color;
  stroke: transparent;
}

.rating:not(.is-readonly) .inline input:active + svg.icon,
.rating:not(.is-readonly) input:active + label > svg.icon {
  stroke: $rating-hover-color;
}
