// Contextual Action Panel - Uplift changes
//================================================== //

.modal.contextual-action-panel .toolbar .title,
.modal.contextual-action-panel .flex-toolbar .title,
.modal.contextual-action-panel .flex-toolbar .title {
  font-size: 2.2rem;
  margin-top: 2px;

  h2 {
    font-size: 2.2rem;
  }
}
