// Contextual Action Panel
//================================================== //

.modal.contextual-action-panel {
  @include css3(transition, opacity 0.2s, transform 0.2s);

  &.is-animating {
    @include css3(transform, translate3d(0%, 50%, 0));

    opacity: 0;
  }

  .modal-content {
    padding: 0;

    .modal-body-wrapper {
      background: $panel-bg-color;
      padding: 0;
    }
  }

  .modal-header {
    background-color: $contextual-panel-bg;
    border-bottom: 1px solid $contextual-panel-border-color;
    height: 50px;
    padding: 0;
  }

  .flex-toolbar {
    margin: 0 auto;
    padding: 0 5px;
  }

  .toolbar {
    height: 50px;
    margin-bottom: 0;

    .title {
      @include font-size(18);

      height: inherit;
      margin-left: 15px;
    }

    .separator {
      background-color: $contextual-panel-seperator-bg-color;
      margin: 5px 1px 0;
      pointer-events: none; //fixes wierd IE10 over effect
      top: 5px;
    }

    .has-close-button {
      display: inline-block;
      width: calc(100% - 105px);
    }
  }

  .toolbar-section {
    &.buttonset,
    &.search {
      &:last-child {
        padding-right: 0;
      }

      > *:last-child {
        margin-right: 0;
      }
    }
  }

  .toolbar-searchfield-wrapper.is-open {
    .searchfield {
      background-color: $contextual-panel-searchfield-bg-color;
      border-color: $contextual-panel-searchfield-border-color;
    }
  }

  .close-button {
    display: inline-block;

    .btn {
      margin: 7px 5px 3px 0;
      vertical-align: middle;
    }
  }

  .buttonset {
    [class^='btn']:last-child {
      margin-right: 1px;
    }
  }

  .modal-body {
    padding: 3rem 0;

    .field:last-child input,
    .field:last-child textarea {
      margin-bottom: 10px;
    }

    .full-width {
      padding-top: 0;
    }

  }
}

html[dir='rtl'] {
  .modal.contextual-action-panel {
    .toolbar-section {
      &.buttonset,
      &.search {
        &:last-child {
          padding-left: 0;
          padding-right: auto;
        }

        > *:last-child {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }
  }
}

@include respond-to(phone) {
  .modal.contextual-action-panel {
    .btn-close .icon {
      width: 16px;
    }

    .toolbar {
      height: 50px;
      margin-bottom: 0;

      .title {
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
}
