<div class="row">
  <div class="six columns">

    <h2>Slider Test: Decimal Points</h2>
    <p><a class="hyperlink" href="" target="_blank">Related JIRA Ticket</a>.</p>
    <p></p>

  </div>
</div>

<div class="row">
  <div class="two columns">

    <div class="field">
      <label for="decimal">Decimal Slider</label>
      <input id="decimal" name="decimal" min="-15.00" max="15.00" value="0.00" class="slider" type="range" data-tooltip-content='[""]' data-tooltip-persist="true" />
    </div>

  </div>
</div>
