
<div class="page-container scrollable" role="main">

<!--This is only needed because it renders first on the server on the first one-->
{{={{{ }}}=}}

<script id="swaplist-tmpl" type="text/html">
  <ul data-swap-handle=".handle">
    {{#dataset}}
    {{#text}}
      <li
      {{#value}}
        data-value="{{value}}"
      {{/value}}
      {{#selected}}
        selected="selected"
      {{/selected}}
      {{#disabled}}
        class="is-disabled"
      {{/disabled}}
      >
        <span class="handle" focusable="false" aria-hidden="true" role="presentation">&#8286;</span>
        <div class="swaplist-item-content">
          <p>{{text}}</p>
        </div>
      </li>
    {{/text}}
    {{/dataset}}
  </ul>
</script>

<div class="row top-padding">
  <div class="columns six">

    <div class="swaplist" id="example-swaplist-1" data-init="false">
      <div class="card available">
        <div class="card-header">
          <h2 class="card-title">Available</h2>
          <div class="buttons">
            <button class="btn btn-moveto-selected" type="button">
              <span class="audible">Select</span>
              <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                <use href="#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="listview"></div>
        </div>
      </div>
      <div class="card selected">
        <div class="card-header">
          <h2 class="card-title">Selected</h2>
          <div class="buttons">
            <button class="btn btn-moveto-left" type="button">
              <span class="audible">Move to left</span>
              <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                <use href="#icon-left-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="listview"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="columns nine">

    <div class="swaplist one-third" id="example-swaplist-2" data-init="false">
      <div class="card available">
        <div class="card-header">
          <h2 class="card-title">Available</h2>
          <div class="buttons">
            <button class="btn btn-moveto-selected" type="button">
              <span class="audible">Select</span>
              <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                <use href="#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="listview"></div>
        </div>
      </div>
      <div class="card selected">
        <div class="card-header">
          <h2 class="card-title">Selected</h2>
          <div class="buttons">
            <button class="btn btn-moveto-left" type="button">
              <span class="audible">Move to left</span>
              <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                <use href="#icon-left-arrow"></use>
              </svg>
            </button>
            <button class="btn btn-moveto-right" type="button">
              <span class="audible">Move to right</span>
              <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                <use href="#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="listview"></div>
        </div>
      </div>
      <div class="card full-access">
        <div class="card-header">
          <h2 class="card-title">Full Access</h2>
          <div class="buttons">
            <button class="btn btn-moveto-selected" type="button">
              <span class="audible">Select</span>
              <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                <use href="#icon-left-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="listview"></div>
        </div>
      </div>
    </div>

  </div>
</div>

</div>

<script id="swaplist-code">
  $(function () {
    var ds1 = [],
      dsAvailable = [];
      dsSelected = [];
      dsAdditional = [],
      elem1 = $('#example-swaplist-1'),
      elem2 = $('#example-swaplist-2');

    ds1.push({id: 1, value: 'opt-1', text: 'Option A'});
    ds1.push({id: 2, value: 'opt-2', text: 'Option B'});
    ds1.push({id: 3, value: 'opt-3', text: 'Option C'});
    ds1.push({id: 4, value: 'opt-4', text: 'Option D'});
    ds1.push({id: 5, value: 'opt-5', text: 'Option E', disabled: true});
    ds1.push({id: 6, value: 'opt-6', text: 'Option F'});
    ds1.push({id: 7, value: 'opt-7', text: 'Option G', selected: true});
    ds1.push({id: 8, value: 'opt-8', text: 'Option H', selected: true});
    ds1.push({id: 9, value: 'opt-9', text: 'Option I'});

    dsAvailable.push({id: 1, value: 'opt-1', text: 'Option A'});
    dsAvailable.push({id: 2, value: 'opt-2', text: 'Option B'});
    dsAvailable.push({id: 3, value: 'opt-3', text: 'Option C'});
    dsAvailable.push({id: 5, value: 'opt-5', text: 'Option E', disabled: true});
    dsAvailable.push({id: 6, value: 'opt-6', text: 'Option F'});
    dsAvailable.push({id: 8, value: 'opt-8', text: 'Option H'});
    dsAvailable.push({id: 9, value: 'opt-9', text: 'Option I'});

    dsSelected.push({id: 4, value: 'opt-4', text: 'Option D'});
    dsSelected.push({id: 7, value: 'opt-7', text: 'Option G'});
    dsSelected.push({id: 11, value: 'opt-11', text: 'Option K'});

    dsAdditional.push({id: 10, value: 'opt-10', text: 'Option J'});
    dsAdditional.push({id: 12, value: 'opt-12', text: 'Option L'});
    dsAdditional.push({id: 13, value: 'opt-13', text: 'Option M'});
    dsAdditional.push({id: 14, value: 'opt-14', text: 'Option N'});


    // Single Dataset Example ==================================================
    elem1.swaplist({
      available: ds1,
      template: $('#swaplist-tmpl').html()
    });


    // Additional Dataset Example ==============================================
    elem2.swaplist({
      available: dsAvailable,
      selected: dsSelected,
      additional: dsAdditional,
      template: $('#swaplist-tmpl').html()
    });


    // On swap update ==========================================================
    elem1.on('swapupdate', function (e, args) {
      var api = elem1.data('swaplist');

      console.log(api.dataset);
      console.log(api.getAvailable());
      console.log(api.getSelected());
    });

  });
</script>
