// Images
//================================================== //

$placeholder-icon-height: 22px;

$images-size: (
  'sm': (60px, 60px),
  'md': (154px, 120px),
  'lg': (300px, 350px)
);

// Image Placeholder
@mixin image-placeholder($this-width, $this-height, $this-icon-height) {
  background: $theme-color-palette-white;
  border: 1px solid $image-border-color;
  height: $this-height;
  max-height: $this-height;
  max-width: $this-width;
  text-align: center;
  width: $this-width;

  .icon {
    margin-top: ($this-height - $this-icon-height) / 2;
  }
}

@each $key, $value in $images-size {
  .image-#{$key} {
    img {
      max-height: nth($value, 2);
      max-width: nth($value, 1);
    }

    &.placeholder {
      @include image-placeholder(nth($value, 1), nth($value, 2), $placeholder-icon-height);
    }
  }
}

.image-round {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
}

// Photo with svg status
.image-user-status {
  display: inline-block;

  .icon {
    left: 3px;
    margin-left: -22px;
    position: relative;
    top: 6px;
  }
}

// Initials for when photo is absent
.image-initials {
  background: $theme-color-palette-amethyst-50;
  border-radius: 50%;
  color: $theme-color-palette-white;
  display: inline-block;
  font-size: 1.8rem;
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  vertical-align: middle;
  width: 4.8rem;

  + .icon {
    left: 6px;
    position: relative;
    top: 22px;
  }
}
