// Images - Uplift theme
//================================================== //

.image-initials {
  font-size: 2.2rem;
  line-height: 4.6rem;
}

.image-user-status {
  .icon use[href='#icon-user-status-available'] {
    color: $ids-color-status-success;
  }

  .icon use[href='#icon-user-status-away'] {
    color: $ids-color-status-caution;
  }

  .icon use[href='#icon-user-status-busy'],
  .icon use[href='#icon-user-status-do-not-disturb'] {
    color: $ids-color-status-danger;
  }

  .icon use[href='#icon-user-status-unknown'] {
    color: $ids-color-palette-slate-30;
  }
}
