
<script id="icons-example-tmpl" type="text/html">
  <ul>
    {{#dataset}}
      <li {{#rowHeight}} style="height:{{rowHeight}}px"{{/rowHeight}}>
        {{#icon}}
          <svg class="icon icon-{{icon}}" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-{{icon}}"></use>
          </svg>
        {{/icon}}
        {{^icon}}
          <svg class="icon icon-confirm" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-confirm"></use>
          </svg>
        {{/icon}}
        <p class="listview-heading">{{firstName}} {{lastName}}</p>
        {{#accepted}}
          <button type="button" class="btn-icon" title="First Page">
            <svg class="icon icon-first-page" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-first-page">
            </svg>
            <span class="audible">First Page</span>
          </button>
          <button type="button" class="btn-icon" title="Home">
            <svg class="icon icon-home" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-home">
            </svg>
            <span class="audible">Home</span>
          </button>
          <button type="button" class="btn-icon" title="Last Page">
            <svg class="icon icon-last-page" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-last-page">
            </svg>
            <span class="audible">Last Page</span>
          </button>
        {{/accepted}}
      </li>
    {{/dataset}}
  </ul>
</script>

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Icons Example</h2>
  </div>
</div>

<div class="row">
  <div class="one-third column">

    <div class="card" >
      <div class="card-header">
        <h2 class="card-title">Icons Example</h2>
        <button class="btn-actions" type="button">
          <span class="audible">Actions</span>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-more"></use>
          </svg>
        </button>
        <ul class="popupmenu">
          <li><a href="#">Action One</a></li>
          <li><a href="#">Action Two</a></li>
        </ul>
      </div>

      <div class="card-content">
        <div class="listview" id="icons-example" data-options="{ template: 'icons-example-tmpl', source: '{{basepath}}api/people' }"></div>
      </div>

    </div>
  </div>
</div>
