// Chart - Svg and Css
//==================================================//

// Alternate Text message
.chart-message {
  background-color: $ruby01;
  color: $font-color-highcontrast;
  padding: 20px;
  text-align: center;
}

// SVG Chart Styles
.chart-container {
  overflow: hidden;

  // Center
  svg {
    display: block;
    margin: 0 auto;
  }

  // Line Colors - and Visibility
  .axis {
    path,
    line {
      fill: none;
      shape-rendering: crispEdges;
      stroke: $chart-line-color;
    }

    .tick0 line {
      stroke: $chart-line-color-axis;
    }

    &.x .domain,
    &.y .domain {
      stroke: transparent;
    }
  }

  // Text Color
  text {
    @include font-size(12);
    @include antialiased();
    fill: $chart-font-color;
  }

  .inverse {
    fill: $chart-font-color-inverse;
  }

  .chart-donut-text {
    @include font-size(18);
  }

  .label-line {
    stroke: $chart-line-color;
  }

  .label-circle {
    fill: $chart-line-color;
  }

  // Bar Chart Style
  .bar,
  .arc {
    cursor: pointer;
  }

  .arc {
    stroke: $chart-arc-stroke;
  }

  .bar {
    cursor: pointer;
    stroke: transparent;
    stroke-width: 1px;
  }

  //Bar Grouped Style
  &.column-chart {
    .domain {
      stroke: transparent;
    }

    .tick {
      line {
        stroke: $chart-line-color;
      }

      &.tick0 {
        line {
          stroke: $chart-line-color-axis;
        }
      }

      &.is-selected {
        font-weight: bold;
      }
    }

    rect {
      cursor: pointer;

      &.is-not-selected {
        opacity: .35;
      }
    }
  }

  //Line Chart Style
  &.line-chart {
    .domain {
      stroke: transparent;
    }

    .dot {
      cursor: pointer;
      stroke: transparent;
    }

    .line-group .line {
      cursor: pointer;
    }

    .area {
      opacity: .2;
      pointer-events: none;
    }

    .is-not-selected {
      opacity: .35;
    }
  }

  // Svg Hidden
  .is-hidden {
    @include opacity(0);
  }

  // Pie Chart
  .pie path {
    stroke: $inverse-color;
    stroke-width: 1px;
  }

  &.completion-chart {
    margin: 30px;
  }

}

// Tooltip Swatch
.chart-swatch {
  display: table;

  .swatch-caption {
    display: table-caption;
    margin-bottom: .7em;
    text-align: center;

    .indicator-box {
      display: inline-block;
      height: 14px;
      margin-right: 10px;
      width: 14px;
    }
  }

  .swatch-row {
    display: table-row;
    height: 25px;

    div {
      border-bottom: 9px solid $tooltip-bg-color;
      display: table-cell;
      height: 14px;
      width: 14px;
    }

    span,
    b {
      color: $tooltip-color;
      display: table-cell;
      line-height: 12px;
      padding: 0 10px;
    }

    b {
      padding: 0;
    }

    br {
      display: block;
      margin: 5px 0;
    }
  }

}

.chart-tooltip-total {
  color: $tooltip-color;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

// Legend Styling
.chart-legend {
  margin-left: 55px;
  margin-top: -13px;

  &.is-below {
    border-top: 1px solid $panel-border-color;
    margin: 0 auto;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .chart-legend-item {
    border: 1px solid transparent;
    float: left;
    margin-right: 10px;
    outline: none;
    padding: 7px;

    &:focus {
      border-color: $input-focus-border-color;
      // Removed box shadow to match current style
      box-shadow: $focus-box-shadow;
      outline: none;
    }

    &.is-two-column {
      display: inline-block;
      float: none;
      margin: 0;
      padding: 0 30px;
      width: 50%;
    }

  }

  .chart-legend-color {
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    position: relative;
    top: 1px;
    width: 12px;
  }

  .chart-legend-item-text {
    @include ellipsis;
    @include font-size(12);
    color: $chart-font-color;
    width: auto;
  }

  .lg {
    .chart-legend-color {
      height: 20px;
      width: 20px;
    }

    .chart-legend-item-text {
      vertical-align: super;
    }
  }

}

// Spark Line Charts
.sparkline {
  // height: 70px;
  // margin: 50px auto;
  // position: relative;
  // width: 200px;

  path {
    fill: none;
    stroke-width: 2px;
  }

  .bar-rect {
    fill: transparent;
    stroke-width: 0;
  }

  .point {
    stroke-width: 2;
  }

  .is-not-selected {
    opacity: .35;
  }
}

// Pie Charts
.chart-pie {
  width: inherit;

  .tspan {
    fill: $chart-font-color;
  }

  .label-text {
    @include font-size(14);
  }

  .label-line {
    fill: none;
    stroke-width: 2px;
  }
}

.chart-vertical-bar {
  text {
    text-align: left;
  }
}

.chart-targeted-achievement {
  // scss-lint:disable ImportantRule
  margin-bottom: 17px !important;

  .label {
    @include font-size(14);
    margin-top: 2px;
  }

  .bar {
    background-color: $chart-targeted-achievement-bg-color;
    cursor: default;
    height: 25px !important;

    &.completed {
      margin-bottom: 5px;
      margin-top: -25px;
    }
  }

  .target::after,
  .completed::after {
    content: none !important;
  }
  // scss-lint:enable ImportantRule

  .remaining {
    background: repeating-linear-gradient(
      150deg,
      $azure04,
      $azure04 1px,
      $azure02 1px,
      $azure02 10px
    );
  }

  //Labels
  .completed {
    .value {
      display: none;
    }

    span {
      @include font-size(14);
      // scss-lint:disable ImportantRule
      color: $font-color !important;
      // scss-lint:enable ImportantRule
      font-weight: normal;
      right: unset;
      top: 20px;
    }
  }

  .target .value {
    display: none;
  }

  .icon-error {
    display: inline-block;
    height: 16px;
    margin-bottom: 1px;
    margin-right: 0;
    right: inherit;
    top: 0;
    width: 16px;
  }

}

.colored.label {
  color: $turquoise06;

  &.amethyst07 {
    background-color: transparent;
    color: $amethyst07;

    .value {
      color: $amethyst07;
    }
  }

  span {
    background: transparent;
    color: $font-color;
  }

  .value {
    color: $turquoise06;

    &.error-color,
    &.error {
      color: $error-color;
    }

    &.alert {
      color: $alert-orange;
    }

    &.alert-yellow {
      color: $alert-yellow;
    }

    &.alert-neutral {
      color: $alert-neutral;
    }

    &.dark {
      color: $chart-progressbar-dark-fill;
    }

    &.good {
      color: $alert-green;
    }

    &.primary {
      color: $chart-progressbar-primary-fill;
    }
  }
}

// Move Pattern Swatches Off Screen
.svg-patterns {
  position: fixed;
  top: -9999999px;
}

// Temporary fix for SVG Tooltips
// scss-lint:disable IdSelector
#svg-tooltip.tooltip {
  &.top,
  &.bottom {
    .arrow {
      left: calc(50% - 6px);
    }
  }

  &.left,
  &.right {
    .arrow {
      top: calc(50% - 6px);
    }
  }
}
// scss-lint:enable IdSelector

//RTL Styles
html[dir='rtl'] {
  .chart-legend {
    margin-left: inherit;
    margin-right: 55px;

    .chart-legend-color {
      margin-left: 10px;
      margin-right: inherit;
    }

    .chart-legend-item {
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
  }

  .completion-chart {
    .icon-error {
      left: -20px;
    }

    &.chart-targeted-achievement {
      .icon-error {
        left: auto;
        right: -5px;
      }
    }
  }

  // Progess Bar Charts
  .chart-completion-target,
  .chart-completion {

    span:not(.audible) {
      left: 2px;
      right: auto;
      text-align: left;
    }

    .completed {
      border-left: 1px solid $chart-progressbar-bg-color;
      border-right: 0 solid $chart-progressbar-bg-color;

      &::after {
        left: auto;
        right: 100%;
      }
    }

    .target {
      span:not(.audible) {
        left: -2px;
        right: auto;
        text-align: right;
      }

      &::after {
        left: auto;
        right: 100%;
      }
    }

    .target-line {
      left: auto;
      right: 45px;
    }
  }

  .sparkline,
  .chart-container.line-chart,
  .chart-container.bullet-chart,
  .chart-container.column-chart,
  .chart-container.chart-vertical-bar {
    svg {
      @include css3(transform, scale(-1, 1));

      text {
        @include css3(transform, scale(-1, 1));

        &.dir-ltr,
        &.negative,
        &.negative-value {
          direction: ltr;
        }
      }

      tspan {
        unicode-bidi: embed;
      }

      .axis.y {
        text {
          text-anchor: start;
        }
      }

      .axis-labels {
        text {
          @include css3(transform, inherit);
        }
      }

    }
  }
}
