<div class="row">
  <div class="six columns">

    <!-- Fill out all the information about this test page below, in plain English -->
    <h2>XYZ Test: [Name of Test]</h2>

    <p>Here is a description of what this test does.  A <a class="hyperlink" href="#" target="_blank">bug was reported</a> where [problem and solution described here].</p>

    <p>[Additional Info here if needed].</p>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <!-- insert example of control configured for the test here -->
    <!-- CLEAN UP AFTER YOURSELF and remove these example comments from the completed test pages. -->

  </div>
</div>
