<div class="grid grid-pad">
	<div class="col-1-2">
		<h1>Select</h1>

    <div class="field">
      <label for="states" class="label">States</label>
      <select id="states" name="states" class="dropdown">
        <option value="AL">Alabama</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        </select>
     </div>

     <div class="field">
      <label for="special" class="label">Special Chars</label>
      <select id="special" name="special" class="dropdown">
        <option value="a&#039;z">A&#039;rizona</option>
        <option value="<"><</option>
        <option value=">">></option>
        <option value="a&#039;z">A&#039;rizona</option>
        <option value="<="><=</option>
        <option value=">=">>=</option>
        <option value="1">&lt;test&gt;</option>
        <option value="7" >Customer &amp; Internal</option>
        <option value="a" selected>Apostraphe's</option>
        <option value="p'p">papa john's pizza</option>
       </select>
     </div>

    <div class="field">
      <label for="setWidth" class="label">Set Width</label>
        <select id="setWidth" name="setWidth" class="dropdown" style="width: 50px">
          <option value="AL">Alabama</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
        </select>
    </div>

    <div class="field" style="left: 436px; position: absolute;top: 356px;">
      <label for="abs1" class="label">Absolute Position (Bad Practice)</label>
      <select id="abs1" name="abs1" class="dropdown" style="width: 50px;">
        <option value="AL">Alabama</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
      </select>
    </div>

    <label for="abs2" class="label" style="left: 436px; position: absolute;top: 442px;">Absolute Position No Field (Bad Practice)</label>
    <select id="abs2" name="abs2" class="dropdown" style="width: 50px;left: 436px; position: absolute;top: 488px;">
      <option value="AL">Alabama</option>
      <option value="DE">Delaware</option>
      <option value="DC">District Of Columbia</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
    </select>

    <div class="field">
      <label for="empty" class="label">Empty List</label>
      <select id="empty" name="empty" class="dropdown">
      </select>
    </div>

	</div>
</div>
