<div class="row">
  <div class="twelve columns">

    <h1 class="fieldset-title">Form - Dirty Indicator</h1>

    <form id="test-form" action="#" method="POST">
        <div class="field">
          <label for="department-code">Department Code</label>
          <input type="text" id="department-code" data-trackdirty="true" placeholder="Dirty Tracking">

          <label for="output">Test</label>
          <input id="output">
        </div>
    </form>
  </div>
</div>

<script>
  $('#department-code').on('dirty', function () {
    $('#output').val('changed');
  });

   $('body').on('dirty', function () {
    $('#output').val('changed');
  });
</script>
