<div class="grid grid-pad">
  <div class="col-1-2">
    <h1>Globalize Tests</h1>

    <div id="output" class="output" style="background-color: white; display: block; line-height: 15px;height: 80%; width: 100%">
      <span>Test Conversions</span><br><br>
    </div>

    <script>

      var output = $('#output');
      var append = function (value) {
        output.append('<span>' + value + '</span><br>');
      };

      Globalize.locale('de');
      append(Globalize.formatDate(new Date()));
      append(Globalize.formatDate(new Date(), {date: 'medium'}));
      append(Globalize.formatDate(new Date(), {date: 'long'}));

      Globalize.locale('de');
      append(Globalize.translate('Required'));

    </script>

  </div>
</div>
