<div class="row">
  <div class="twelve columns">
    <h1 class="fieldset-title">Locale - Tests</h1>

    <div id="output" class="output" style="background-color: white; display: block; line-height: 15px;height: 80%; width: 100%">
      <span>Test Conversions</span><br><br>
    </div>

    <script>
      function loadDone() {
        var output = $('#output');
        var append = function (value) {
          output.append('<span>' + value + '</span><br>');
        };
       Locale.set('en-US');

       setTimeout(function () {
          console.log(Locale.parseDate('11/8/2001 10:10 PM', Locale.calendar().dateFormat.datetime));

         // console.log(Number(new Date(2001, 9, 11, 20, 10)));
        }, 1000)



       setTimeout(function () {
          Locale.set('de-DE');
          setTimeout(function () {
            console.log(Locale.parseDate('11/10/2001 20:10', Locale.calendar().dateFormat.datetime));
          }, 1000);

         // console.log(Number(new Date(2001, 9, 11, 20, 10)));
        }, 2000)

      }
    </script>

    {{^amd}}
    <script>
      $(function() {
        loadDone();
      });
    </script>
    {{/amd}}
  </div>
</div>
