<div class="grid">
  <div class="col-1-1">
    <h1>Spinboxes</h1>
    <hr>

    <div class="grid">
      <div class="col-1-2">

        <div class="field">
          <label for="regular-spinbox">#regular-spinbox (no pre-defined limits or initial value)</label>
          <input id="regular-spinbox" name="regular-spinbox" type="text" inputmode="numeric" class="spinbox" />
        </div>

        <div class="field">
          <label for="limited-spinbox">#limited-spinbox (init 0, min -50, max 50)</label>
          <input id="limited-spinbox" name="limited-spinbox" type="text" inputmode="numeric" class="spinbox" min="-50" max="50" value="0" />
        </div>

        <div class="field">
          <label for="disabled-spinbox" >#disabled-spinbox (disabled)</label>
          <input id="disabled-spinbox" name="disabled-spinbox" type="text" inputmode="numeric" class="spinbox" min="-50" max="50" value="0" disabled />
        </div>

      </div>
      <div id="extra-spinboxes" class="col-1-2">

        <div class="field">
          <label for="stepped-spinbox">#stepped-spinbox (init 0, min -99, max 99, step 3)</label>
          <input id="stepped-spinbox" name="stepped-spinbox" type="text" inputmode="numeric" class="spinbox" min="-99" max="99" value="0" step="3"/>
        </div>

        <div class="field">
          <label for="weird-spinbox">#weird-spinbox (no initial value, min -582, max 46)</label>
          <input id="weird-spinbox" name="weird-spinbox" type="text" inputmode="numeric" class="spinbox" min="-582" max="46"/>
        </div>

        <div class="field">
          <label for="reverse-weird-spinbox">#reverse-weird-spinbox (no initial value, min -23, max 9285)</label>
          <input id="reverse-weird-spinbox" name="reverse-weird-spinbox" type="text" inputmode="numeric" class="spinbox" min="-23" max="9285"/>
        </div>

        <div class="field">
          <label for="regular-input">used for clipboard access</label>
          <input id="regular-input" type="text" />
        </div>

      </div>
    </div>

  </div>
</div>
