<div class="row">
  <div class="twelve columns">

    <h1>Tmpl</h1>
    <span class="label">Client Side Templates</span>
    <hr>

    <!--This is only needed because it renders first on the server-->
    {{={{{ }}}=}}
    <script id="cardstackTemplate" type="text/html">
      <ul>
        {{#demoTasks}}
          {{#error}}
            <li id="{{task}}" class="error">
          {{/error}}
          {{^error}}
            <li>
          {{/error}}
            <p class="header">Task #{{task}}</p>
            <p>{{desc}}</p>
          </li>
        {{/demoTasks}}
      </ul>
    </script>

    <div class="cardstack" style="height: 200px;" data-tmpl="cardstackTemplate" data-dataset="demoTasks">
    </div>

  </div>
</div>
