// Line Chart Specific Css
//==================================================//

// SVG Chart Styles
.chart-container {
  //Line Chart Style
  &.line-chart {
    .domain {
      stroke: transparent;
    }

    .dot {
      cursor: pointer;
      stroke: transparent;
      -webkit-tap-highlight-color: $transparent;
    }

    .line-group .line {
      cursor: pointer;
      -webkit-tap-highlight-color: $transparent;
    }

    .area {
      opacity: 0.2;
      pointer-events: none;
    }

    .is-not-selected {
      opacity: 0.35;
    }
  }
}

.line-chart:not(.bubble):not(.scatterplot) {
  .x.axis .tick line {  //small line that shows up on the x axis
    visibility: hidden;
  }
}

.line-chart.scatterplot {
  .chart-legend-color {
    top: -4px;
  }
}

// Mobile Specific style
@include respond-to(phone) {
  .line-chart {
    .chart-legend {
      margin-left: 10px;

      .chart-legend-item {
        margin-right: 0;
      }
    }
  }
}
