<!--
Not working see: https://jira.infor.com/browse/SOHO-7520

<div class="row demo-grid">
  <div class="full column"><div class="content-area"><h2>Full</h2></div></div>
</div>
<div class="row demo-grid">
  <div class="full column">
    <div class="row">
      <div class="four columns"><div class="content-area"><h2>Four</h2></div></div>
      <div class="eight columns"><div class="content-area"><h2>Eight</h2></div></div>
    </div>
  </div>
</div>
<div class="row demo-grid">
  <div class="six columns">
    <div class="row">
      <div class="four columns"><div class="content-area"><h2>Eight</h2></div></div>
      <div class="eight columns"><div class="content-area"><h2>Eight</h2></div></div>
    </div>
  </div>
  <div class="six columns"><div class="content-area"><h2>Half</h2></div></div>
</div>
-->

<div class="row demo-grid">
  <div class="full column"><div class="content-area"><h2>Full</h2></div></div>

  <div class="four columns"><div class="content-area"><h2>Four</h2></div></div>
  <div class="eight columns"><div class="content-area"><h2>Eight</h2></div></div>

  <div class="four columns"><div class="content-area"><h2>Eight</h2></div></div>
  <div class="eight columns"><div class="content-area"><h2>Eight</h2></div></div>

  <div class="six columns"><div class="content-area"><h2>Half</h2></div></div>
</div>
