 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component element.
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component settings.
    </td>
  </tr>


  <tr>
    <td>
      settings.buttons
    </td>
    <td>
      <span>{editor:[&#39;header1&#39;,&#39;header2&#39;,&#39;separator&#39;,&#39;bold&#39;,&#39;italic&#39;,&#39;underline&#39;,&#39;strikethrough&#39;,
&#39;separator&#39;,&#39;foreColor&#39;,&#39;backColor&#39;,&#39;separator&#39;,&#39;justifyLeft&#39;,&#39;justifyCenter&#39;,&#39;justifyRight&#39;,&#39;separator&#39;,&#39;quote&#39;,&#39;orderedlist&#39;,
&#39;unorderedlist&#39;,&#39;separator&#39;,&#39;anchor&#39;,&#39;separator&#39;,&#39;image&#39;,&#39;separator&#39;,&#39;source&#39;],source:[&#39;visual&#39;]}</span>
    </td>
    <td>
      string
    </td>
    <td>
      An array with all the visible buttons in it.
    </td>
  </tr>


  <tr>
    <td>
      settings.excludeButtons
    </td>
    <td>
      <span>{editor:[&#39;backColor&#39;],source:[]}</span>
    </td>
    <td>
      string
    </td>
    <td>
      An array with all the buttons in it to excloude
    </td>
  </tr>


  <tr>
    <td>
      settings.firstHeader
    </td>
    <td>
      <span>&#39;h3&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      Allows you to set if the first header inserted is a h3 or h4 element.
You should set this to match the structure of the parent page for accessibility
    </td>
  </tr>


  <tr>
    <td>
      settings.secondHeader
    </td>
    <td>
      <span>&#39;h4&#39;</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      Allows you to set if the second header inserted is a h3 or
h4 element. You should set this to match the structure of the parent page for accessibility
    </td>
  </tr>


  <tr>
    <td>
      settings.pasteAsPlainText
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      string
    </td>
    <td>
      If true, when you paste into the editor the element will be unformatted to plain text.
    </td>
  </tr>


  <tr>
    <td>
      settings.anchor
    </td>
    <td>
      <span>{url:&#39;http://www.example.com&#39;,class:&#39;hyperlink&#39;,target:&#39;New window&#39;,isClickable:false,showIsClickable:false}</span>
    </td>
    <td>
      string
    </td>
    <td>
      An object with settings related to controlling link behavior when inserted example: `{url: 'http://www.example.com', class: 'hyperlink', target: 'New window', isClickable: false, showIsClickable: false},` the url is the default url to display. Class should normally stay hyperlink and represents the styling class. target can be 'New window' or 'Same window', isClickable make the links appear clickable in the editor, showIsClickable will show a checkbox to allow the user to make clickable links in the link popup.
    </td>
  </tr>


  <tr>
    <td>
      settings.image
    </td>
    <td>
      <span>{url:&#39;http://lorempixel.com/output/cats-q-c-300-200-3.jpg&#39;}</span>
    </td>
    <td>
      string
    </td>
    <td>
      Info object to populate the image dialog defaulting to ` {url: 'http://lorempixel.com/output/cats-q-c-300-200-3.jpg'}`
    </td>
  </tr>


  <tr>
    <td>
      settings.onLinkClick
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      function
    </td>
    <td>
      Call back for clicking on links to control link behavior.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>switchToolbars</td>
        <td>
          
        </td>
        <td>
          <p>Switch between source and editing toolbar.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The settings to apply.
 </span>
                
          
        </td>
        <td>
          <p>Updates the component instance.  Can be used after being passed new settings.</p>

        </td>
        <td>
          The api
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroy this component instance and remove all events and reset back to default.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disable the editable area.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enable the editable area.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>readonly</td>
        <td>
          
        </td>
        <td>
          <p>Make the editable area readonly.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>beforepaste
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>pastedData (string)
        
        = .

        </span>
        
      </div>
    
  
  </td>
  <td>Fires before paste.
</td>
</tr>

      
        <tr>
  <td>afterpaste
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>pastedData (string)
        
        = .

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after paste.
</td>
</tr>

      
      </tbody>
    </table>
  </section>
