// Icons and Icon Buttons
//================================================== //

// Svg Styles
.icon {
  display: inline-block;
  fill: $graphite04;
  height: 18px; //Older ones at 32 but now based on 40
  position: relative;
  width: 22px;
}

//Glyphs on the Header
.header .icon {
  fill: $white;
}

// Specific Icon Types
.icon-error,
.icon-confirm,
.icon-alert,
.icon-info,
.icon-info-field,
.icon-in-progress,
svg.icon-dirty,
.icon-new,
.icon-pending,
.icon-empty-circle,
.icon-half-empty-circle {
  position: relative;
  top: 10px;
  vertical-align: top;
}

.icon-info-field {
  fill: $primary-color;
}

.field {
  .icon-error,
  .icon-confirm,
  .icon-alert,
  .icon-info,
  .icon-pending {
    margin-left: -28px;
    margin-top: 9px;
    position: absolute;
    top: inherit;
  }

  .icon-error,
  .icon-confirm {
    height: 14px;
    position: absolute;
    right: 5px;
    top: 24px;
    width: 18px;
  }

  .icon-confirm {
    position: relative;
    right: auto;
    top: auto;
  }

  [data-error-type="tooltip"] ~ .icon-error,
  [data-error-type="tooltip"] ~ .icon-confirm {
    position: relative;
    right: auto;
    top: -5px;
  }

  .dropdown-wrapper {
    [data-error-type="tooltip"] ~ .icon-error,
    [data-error-type="tooltip"] ~ .icon-confirm {
      position: absolute;
      right: 25px;
      top: 1px;
    }
  }

  &.editor-container {
    [data-error-type="tooltip"] ~ .icon-error,
    [data-error-type="tooltip"] ~ .icon-confirm {
      position: absolute;
      right: 10px;
      top: 55px;
    }
  }

  textarea {
    &[data-error-type="tooltip"] ~ .icon-error,
    &[data-error-type="tooltip"] ~ .icon-confirm {
      position: absolute;
      top: 20px;
    }
  }

  .lookup-wrapper {
    .icon-error,
    .icon-confirm {
      right: 31px;
      top: 1px;
    }
  }

  .popover-trigger {
    .icon-info {
      height: 14px;
      position: relative;
      width: 14px;
    }
  }

  .icon {
    vertical-align: middle;
  }

  .icon + span {
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
    width: calc(100% - 27px);
  }
}

// scss-lint:disable ImportantRule

.icon-dirtyerror,
.icon-error {
  fill: $alert-red !important;
}

.icon-confirm {
  fill: $confirm-icon-fill !important;
}


.icon-empty-circle,
.icon-half-empty-circle {
  fill: $icon-color;
}

.icon-alert {
  fill: $alert-orange !important;
}

.icon-pending {
  background: $alert-yellow  !important;
  border: 2px solid $alert-yellow;
  border-radius: 50%;
  fill: $white !important;
  height: 18px;
  width: 18px;
}

.icon-info {
  fill: $info-icon-fill !important;
}

svg.icon-close {
  height: 16px !important;
}

.icon-sohoxi {
  fill: $inverse-color;
  height: 22px;
  left: -15px;
  top: 5px;
  width: 115px;
}

.icon-favorite {
  svg {
    fill: $rating-bg-color !important;
  }
}

//Prevent freezing on IE11 - Win 7 - http://bit.ly/1EW17mx
svg use {
  pointer-events: none;
}

svg.icon-logo {
  height: 34px;
  width: 34px;
}

.icon-dirty {
  @include css3(border-radius, 2px 0 0);
  border-color: $dirty-icon-fill transparent transparent $dirty-icon-fill;
  border-style: solid;
  border-width: 4px;
  height: 0;
  left: 2px;
  margin: 3px 0 0 1px;
  position: absolute;
  width: 0;

  &.is-checked {
    margin: 0;
    z-index: 1;
  }

  &.dirty-checkbox {

    &.is-checked {
      border-width: 4px;
      left: 1px;
      top: 0;
      z-index: 2;
    }
  }

}

.inline {
  .icon-dirty {
    margin-top: 8px;

    &.dirty-checkbox {
      left: -4px;
      margin-top: inherit;
      top: 1px;

      &.is-checked {
        // left: -4px;
        top: 0;
      }
    }
  }
}

.img-placeholder {
  background-color: $image-background-color;
  border: 1px solid $image-border-color;
  border-radius: 2px;
  display: table-cell;
  height: 100px;
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
  width: 100px;

  svg {
    display: inline-block;
    fill: $white;
    height: 45px;
    margin-left: 26px;
    margin-top: 25px;
    position: relative;
    width: 45px;
  }

}

.drilldown.btn-icon {
  border-radius: 0;

  svg {
    height: 22px;
    width: 22px;
  }

  span {
    color: transparent;
  }

  &:hover span {
    color: transparent;
  }
}

svg.icon-dirty {
  fill: $dirty-icon-fill;
  height: 12px;
  stroke: $dirty-icon-fill;
  top: 7px;
  width: 12px;
}

.icon-in-progress {
  fill: $amethyst07;
}

.icon-new {
  fill: $amber07;
}

// Psuedo-element Icons
//================================================== //

.icon.plus-minus {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    @include css3(transform-origin, 50% 50% 0);
    @include transition(transform 300ms cubic-bezier(.17, .04, .03, .94) 0s);
    background-color: $icon-color;
    border-radius: 2px;
    content: '';
    height: 2px;
    left: .65em;
    position: absolute;
    top: 1.4em;
    width: 14px;
  }

  &::before {
    @include css3(transform, rotate(90deg));
  }

  &::after {
    @include css3(transform, rotate(0deg));
  }

  &.active {
    &::before,
    &::after {
      @include css3(transform, rotate(180deg));
    }
  }

}

// Hamburger by default,
// Has different modes based on CSS classes
.icon.app-header {

  span:not(.audible) {
    @include css3(transform-origin, 50% 50% 0);
    @include transition(transform 300ms cubic-bezier(.17, .04, .03, .94) 0s,
      left 300ms cubic-bezier(.17, .04, .03, .94),
      top 300ms cubic-bezier(.17, .04, .03, .94));
    background-color: $icon-color;
    border-radius: 4px;
    height: 2px;
    position: absolute;
    width: 20px;
  }

  span.one {
    left: 6px;
    top: 8.5px;
  }

  span.two {
    left: 6px;
    top: 14.5px;
  }

  span.three {
    left: 6px;
    top: 20.5px;
  }

  &.go-back {
    span.one {
      @include css3(transform, rotate(-45deg) translateX(-5.75px) translateY(-2.5px) scaleX(.6));
    }

    span.three {
      @include css3(transform, rotate(45deg) translateX(-5.75px) translateY(2.5px) scaleX(.6));
    }
  }

  &.close {
    span.one {
      @include css3(transform, rotate(45deg));
      top: 12.5px;
    }

    span.two {
      @include css3(transform, rotate(45deg));
    }

    span.three {
      @include css3(transform, rotate(-45deg));
      top: 12.5px;
    }
  }

}

@mixin app-drawer-box() {
  display: inline-block;
  background-color: $icon-color;
  border-radius: 1px;
  height: 4px;
  width: 4px;
  @include css3(transform-origin, 50% 50% 0);
  @include transition(transform 350ms cubic-bezier(.17, .04, .03, .94) 0s,
    left 350ms cubic-bezier(.17, .04, .03, .94),
    top 350ms cubic-bezier(.17, .04, .03, .94),
    height 350ms cubic-bezier(.17, .04, .03, .94),
    width 350ms cubic-bezier(.17, .04, .03, .94));
}

// This icon is presumably 18px x 18px - The dimensions defined reflect this
.app-drawer {
  position: relative;

  span:not(.audible) {
    @include app-drawer-box();
    padding: 0;
    position: absolute;
  }

  .one {
    left: 9px;
    top: 7px;
  }

  .two {
    left: 15px;
    top: 7px;
  }

  .three {
    left: 21px;
    top: 7px;
  }

  .four {
    left: 9px;
    top: 13px;
  }

  .five {
    left: 15px;
    top: 13px;
  }

  .six {
    left: 21px;
    top: 13px;
  }

  .seven {
    left: 9px;
    top: 19px;
  }

  .eight {
    left: 15px;
    top: 19px;
  }

  .nine {
    left: 21px;
    top: 19px;
  }

  &.active {

    .one,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .nine {
      height: 0;
      left: 16px;
      top: 14px;
      width: 0;
    }

    .two {
      @include css3(transform-origin, 50% 50% 0);
      @include css3(transform, rotate(45deg));
      height: 2px;
      left: 8px;
      top: 14px;
      width: 18px;
    }

    .eight {
      @include css3(transform-origin, 50% 50% 0);
      @include css3(transform, rotate(45deg));
      height: 18px;
      left: 16px;
      top: 6px;
      width: 2px;
    }

  }

}


// Check Mark Ticks
.icon {
  &.checkmark,
  &.checkmark-selected {
    border: 2px solid $icon-color;
    border-radius: 50%;
    height: 26px;
    width: 26px;

    &::after {
      @include css3(transform, scaleX(-1) rotate(135deg));
      border-color: $icon-color $icon-color $icon-color transparent;
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      height: 12px;
      left: 7px;
      margin-top: 3px;
      position: absolute;
      width: 5px;
    }
  }

  &.checkmark-selected {
    background-color: $primary-color;
    border-color: $primary-color;

    &::after {
      border-color: $inverse-color $inverse-color $inverse-color transparent;
    }
  }
}

// Caps Lock
.icon-capslock {
  display: inline;
  height: 24px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 6px;
  top: 22px;
  width: 24px;
  z-index: 1;
}

.no-animate {
  -moz-transition: none 0s ease 0s !important;
  -webkit-transition: none 0s ease 0s !important;
  transition: none 0s ease 0s !important;
}

.icon-rtl-rotate {
  -ms-filter: fliph;
  filter: fliph;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

//RTL Styles
html[dir='rtl'] {
  .field {
    .icon-error,
    .icon-confirm,
    .icon-alert,
    .icon-info,
    .icon-pending {
      left: 30px;
      margin-left: -21px;
      margin-right: inherit;
      right: auto;
    }

    .icon-error,
    .icon-confirm {
      left: auto;
      margin-left: inherit;
      margin-right: -30px;
      right: 0;
    }

    .error-message {
      .icon-error {
        margin-right: inherit;
      }
    }

    .lookup-wrapper {
      .icon-error,
      .icon-confirm {
        left: 50px;
        margin-left: -20px;
        margin-right: inherit;
        right: auto;
      }
    }
  }

  .icon.app-header {
    &.go-back {
      span.one {
        @include css3(transform, rotate(45deg) translateX(5.75px) translateY(-2.5px) scaleX(.6));
      }

      span.three {
        @include css3(transform, rotate(-45deg) translateX(5.75px) translateY(2.5px) scaleX(.6));
      }
    }
  }

  .img-placeholder {
    svg {
      margin-left: inherit;
      margin-right: 26px;
    }
  }

  .icon-dirty:not(.dirty-checkbox) {
    @include css3(border-radius, 2px 0 0);
    border-color: $dirty-icon-fill $dirty-icon-fill transparent transparent;
    left: auto;
    margin: 1px 1px 0 0;
  }

}

// Empty State Widget Icons
// NOTE: These styles also live inside of "<project root>/svg/icons-empty.svg"
//================================================== //

.icon-empty-state {
  display: inline-block;
  fill: $azure06; // Themable Empty Icons
  height: 65px;
  position: relative;
  width: 65px;
}

.empty-message .icon-empty-state {
  fill: $icon-empty-bg-color; // Themable Empty Icons
}

// color defs

.icon-empty-offset-color {
  opacity: .4;
}

.icon-empty-center-color {
  fill: $white;
}

.space-icons {
  svg {
    margin-right: 20px;
  }
}
