
<div class="row top-padding">
  <div class="twelve columns">
    <h2 class="fieldset-title">Icons - Animate Pseudo-Element</h2>

  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">

    <span id="icon-plus-minus" class="icon plus-minus" aria-hidden="true" focusable="false" title="ExpandCollapse">
      <span class="audible">Plus &amp; Minus Icon</span>
    </span>

    &nbsp;&nbsp;

    <span id="icon-app-header" class="icon app-header" aria-hidden="true" focusable="false" title="OpenBackClose">
      <span class="audible">Application Header Icon</span>
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
    </span>

    &nbsp;&nbsp;

    <span id="icon-app-drawer" class="icon app-drawer" aria-hidden="true" focusable="false" title="AppDrawerClose">
      <span class="audible">Ming.le App Drawer Icon</span>
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
      <span class="four"></span>
      <span class="five"></span>
      <span class="six"></span>
      <span class="seven"></span>
      <span class="eight"></span>
      <span class="nine"></span>
    </span>

  </div>
</div>
