
<div class="row top-padding">
  <div class="twelve columns">
    <h2 class="fieldset-title">Icons Extended</h2>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">

    <button type="button" class="btn-icon" title="Add Grid Record">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-add-grid-record"></use>
      </svg>
      <span>Add Grid Record</span>
    </button>

    <button type="button" class="btn-icon" title="Add Grid Row">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-add-grid-row"></use>
       </svg>
       <span>Add Grid Row</span>
    </button>

    <button type="button" class="btn-icon" title="Additional Help">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-additional-help"></use>
       </svg>
       <span>Additional Help</span>
    </button>

    <button type="button" class="btn-icon" title="Agent">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-agent"></use>
       </svg>
       <span>Agent</span>
    </button>

    <button type="button" class="btn-icon" title="Amend">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-amend"></use>
       </svg>
       <span>Amend</span>
    </button>

    <button type="button" class="btn-icon" title="Apply Rule">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-apply-rule"></use>
       </svg>
       <span>Amend</span>
    </button>

    <button type="button" class="btn-icon" title="Area">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-area"></use>
       </svg>
       <span>Area</span>
    </button>

    <button type="button" class="btn-icon" title="Archives">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-archives"></use>
       </svg>
       <span>Archives</span>
    </button>

    <button type="button" class="btn-icon" title="Articles">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-articles"></use>
       </svg>
       <span>Articles</span>
    </button>

    <button type="button" class="btn-icon" title="Bar">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-bar"></use>
       </svg>
       <span>Bar</span>
    </button>

    <button type="button" class="btn-icon" title="Bar Code">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-barcode"></use>
       </svg>
       <span>Bar Code</span>
    </button>

    <button type="button" class="btn-icon" title="Binoculars">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-binoculars"></use>
       </svg>
       <span>Binoculars</span>
    </button>

    <button type="button" class="btn-icon" title="Bubble">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-bubble"></use>
       </svg>
       <span>Bubble</span>
    </button>

    <button type="button" class="btn-icon" title="Building">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-building"></use>
       </svg>
       <span>Building</span>
    </button>

    <button type="button" class="btn-icon" title="Calculator">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-calculator"></use>
       </svg>
       <span>Calculator</span>
    </button>

    <button type="button" class="btn-icon" title="Cascade">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-cascade"></use>
       </svg>
       <span>Cascade</span>
    </button>

    <button type="button" class="btn-icon" title="Cascade Objects">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-cascade-objects"></use>
       </svg>
       <span>Cascade Objects</span>
    </button>

    <button type="button" class="btn-icon" title="Change Font">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-change-font"></use>
       </svg>
       <span>Change Font</span>
    </button>

    <button type="button" class="btn-icon" title="Change Row Line Height">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-change-row-line-height"></use>
       </svg>
       <span>Change Row Line Height</span>
    </button>

    <button type="button" class="btn-icon" title="Check List">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-check-list"></use>
       </svg>
       <span>Check List</span>
    </button>

    <button type="button" class="btn-icon" title="Clear Screen">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-clear-screen"></use>
       </svg>
       <span>Clear Screen</span>
    </button>

    <button type="button" class="btn-icon" title="Cloud">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-cloud"></use>
       </svg>
       <span>Cloud</span>
    </button>

    <button type="button" class="btn-icon" title="Collapse All">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-collapse-all"></use>
       </svg>
       <span>Collapse All</span>
    </button>

    <button type="button" class="btn-icon" title="Component">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-component"></use>
       </svg>
       <span>Component</span>
    </button>

    <button type="button" class="btn-icon" title="Comment">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-comment"></use>
       </svg>
       <span>Comment</span>
    </button>

    <button type="button" class="btn-icon" title="Chat">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-comment-alt"></use>
       </svg>
       <span>Chat</span>
    </button>

    <button type="button" class="btn-icon" title="Script">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-script"></use>
       </svg>
       <span>Script</span>
    </button>

    <button type="button" class="btn-icon" title="Schedule">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-schedule"></use>
       </svg>
       <span>Schedule</span>
    </button>

    <button type="button" class="btn-icon" title="Clockwise 90 Degrees">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-clockwise-90"></use>
       </svg>
       <span>Clockwise 90 Degrees</span>
    </button>

    <button type="button" class="btn-icon" title="Close and Cancel Changes">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-close-cancel"></use>
       </svg>
       <span>Close and Cancel Changes</span>
    </button>

    <button type="button" class="btn-icon" title="Close and Save Changes">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-close-save"></use>
       </svg>
       <span>Close and Save Changes</span>
    </button>

    <button type="button" class="btn-icon" title="Connect">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-connect"></use>
       </svg>
       <span>Connect</span>
    </button>

    <button type="button" class="btn-icon" title="Connections">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-connections"></use>
       </svg>
       <span>Connections</span>
    </button>

    <button type="button" class="btn-icon" title="Contacts">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-contacts"></use>
       </svg>
       <span>Contacts</span>
    </button>

    <button type="button" class="btn-icon" title="Copy From">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-copy-from"></use>
       </svg>
       <span>Copy From</span>
    </button>

    <button type="button" class="btn-icon" title="Copy Mail">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-copy-mail"></use>
       </svg>
       <span>Copy Mail</span>
    </button>

    <button type="button" class="btn-icon" title="Copy Url">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-copy-url"></use>
       </svg>
       <span>Copy Url</span>
    </button>

    <button type="button" class="btn-icon" title="Counter Clockwise 90 Degrees">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-counter-clockwise-90"></use>
       </svg>
       <span>Counter Clockwise 90 Degrees</span>
    </button>

    <button type="button" class="btn-icon" title="Create Report">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-create-report"></use>
       </svg>
       <span>Create Report</span>
    </button>

    <button type="button" class="btn-icon" title="Dashboard">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-dashboard"></use>
       </svg>
       <span>Dashboard</span>
    </button>

    <button type="button" class="btn-icon" title="Database">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-database"></use>
       </svg>
       <span>Database</span>
    </button>

    <button type="button" class="btn-icon" title="Decrease Row Line Height">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-decrease-row-line-height"></use>
       </svg>
       <span>Decrease Row Line Height</span>
    </button>

    <button type="button" class="btn-icon" title="Default">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-default"></use>
       </svg>
       <span>Default</span>
    </button>

    <button type="button" class="btn-icon" title="Delete Grid Record">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-delete-grid-record"></use>
       </svg>
       <span>Delete Grid Record</span>
    </button>

    <button type="button" class="btn-icon" title="Delete Grid Row">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-delete-grid-row"></use>
       </svg>
       <span>Delete Grid Row</span>
    </button>

    <button type="button" class="btn-icon" title="Document (2)">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-document2"></use>
       </svg>
       <span>Document 2</span>
    </button>

    <button type="button" class="btn-icon" title="Drag">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-drag"></use>
       </svg>
       <span>Drag</span>
    </button>

    <button type="button" class="btn-icon" title="Display">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-display"></use>
       </svg>
       <span>Display</span>
    </button>

    <button type="button" class="btn-icon" title="Distribution">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-distribution"></use>
       </svg>
       <span>Distribution</span>
    </button>

    <button type="button" class="btn-icon" title="Employee Directory">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-employee-directory"></use>
       </svg>
       <span>Employee Directory</span>
    </button>

    <button type="button" class="btn-icon" title="Enterprise Planning">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-enterprise-planning"></use>
       </svg>
       <span>Enterprise Planning</span>
    </button>

    <button type="button" class="btn-icon" title="Exclamation">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-exclamation"></use>
       </svg>
       <span>Exclamation</span>
    </button>

    <button type="button" class="btn-icon" title="Expand All">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-expand-all"></use>
       </svg>
       <span>Expand All</span>
    </button>

    <button type="button" class="btn-icon" title="Expense Report">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-expense-report"></use>
       </svg>
       <span>Expense Report</span>
    </button>

    <button type="button" class="btn-icon" title="Expense Report">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-expired-schedule"></use>
       </svg>
       <span>Expired Schedule</span>
    </button>

    <button type="button" class="btn-icon" title="Export">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-export-2"></use>
       </svg>
       <span>Export 2</span>
    </button>

    <button type="button" class="btn-icon" title="Export to PDF">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-export-to-pdf"></use>
       </svg>
       <span>Export to PDF</span>
    </button>

    <button type="button" class="btn-icon" title="Export to XML">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-export-xml"></use>
       </svg>
       <span>Export to XML</span>
    </button>

    <button type="button" class="btn-icon" title="Export to XSD">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-export-xsd"></use>
       </svg>
       <span>Export to XSD</span>
    </button>

    <button type="button" class="btn-icon" title="Freight Management">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-freight-mgmt"></use>
       </svg>
       <span>Freight Management</span>
    </button>

    <button type="button" class="btn-icon" title="Finance">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-finance"></use>
       </svg>
       <span>Finance</span>
    </button>

    <button type="button" class="btn-icon" title="Formula Constituents">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-formula-constituents"></use>
       </svg>
       <span>Formula Constituents</span>
    </button>

    <button type="button" class="btn-icon" title="Formula Constituents">
       <svg class="icon icon-error" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-flag"></use>
       </svg>
       <span>Flag</span>
    </button>

    <button type="button" class="btn-icon" title="Genealogy">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-genealogy"></use>
       </svg>
       <span>Genealogy</span>
    </button>

    <button type="button" class="btn-icon" title="Generate Key">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-generate-key"></use>
       </svg>
       <span>Generate Key</span>
    </button>

    <button type="button" class="btn-icon" title="Get More Rows">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-get-more-rows"></use>
       </svg>
       <span>Get More Rows</span>
    </button>

    <button type="button" class="btn-icon" title="Group Selection">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-group-selection"></use>
       </svg>
       <span>Group Selection</span>
    </button>

    <button type="button" class="btn-icon" title="Hcm Calendar">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-hcm-calendar"></use>
       </svg>
       <span>Hcm Calendar</span>
    </button>

    <button type="button" class="btn-icon" title="Headphones">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-headphones"></use>
       </svg>
       <span>Headphones</span>
    </button>

    <button type="button" class="btn-icon" title="Favorite">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-heart-filled"></use>
       </svg>
       <span>Favorite</span>
    </button>

    <button type="button" class="btn-icon" title="Favorite">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-heart-outlined"></use>
       </svg>
       <span>Favorite</span>
    </button>

    <button type="button" class="btn-icon" title="Help">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-help"></use>
       </svg>
       <span>Help</span>
    </button>

    <button type="button" class="btn-icon" title="Helper List Select">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-helper-list-select"></use>
       </svg>
       <span>Helper List Select</span>
    </button>

    <button type="button" class="btn-icon" title="History">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-history"></use>
      </svg>
      <span>History</span>
    </button>

    <button type="button" class="btn-icon" title="Import XML">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-import-xml"></use>
      </svg>
      <span>Import XML</span>
    </button>

    <button type="button" class="btn-icon" title="Increase Row Line Height">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-increase-row-line-height"></use>
       </svg>
       <span>Increase Row Line Height</span>
    </button>

    <button type="button" class="btn-icon" title="Invoicing">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-invoicing"></use>
       </svg>
       <span>Invoicing</span>
    </button>

    <button type="button" class="btn-icon" title="Invoice Released">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-invoice-released"></use>
       </svg>
       <span>Invoice Released</span>
    </button>

    <button type="button" class="btn-icon" title="Insert Grid Row">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-insert-grid-row"></use>
       </svg>
       <span>Insert Grid</span>
    </button>

    <button type="button" class="btn-icon" title="Item Purchase Data">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-item-purchase-data"></use>
       </svg>
       <span>Item Purchase Data</span>
    </button>

    <button type="button" class="btn-icon" title="Language">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-language"></use>
       </svg>
       <span>Language</span>
    </button>

    <button type="button" class="btn-icon" title="Logout">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-logout"></use>
       </svg>
       <span>Logout</span>
    </button>

    <button type="button" class="btn-icon" title="Key">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-key"></use>
       </svg>
       <span>Key</span>
    </button>

    <button type="button" class="btn-icon" title="Knowledge Base">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-knowledge-base"></use>
       </svg>
       <span>Knowledge Base</span>
    </button>

    <button type="button" class="btn-icon" title="Rope Select">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-lasso"></use>
       </svg>
       <span>Rope Select</span>
    </button>

    <button type="button" class="btn-icon" title="Line Bar Chart">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-line-bar-chart"></use>
       </svg>
       <span>Line Bar Chart</span>
    </button>

    <button type="button" class="btn-icon" title="Line Chart">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-line-chart"></use>
       </svg>
       <span>Line Chart</span>
    </button>

    <button type="button" class="btn-icon" title="Ledger">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-ledger"></use>
       </svg>
       <span>Ledger</span>
    </button>

    <button type="button" class="btn-icon" title="Manufacturing">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-manufacturing"></use>
       </svg>
       <span>Map</span>
    </button>

    <button type="button" class="btn-icon" title="Magic Wand">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-magic-wand"></use>
       </svg>
       <span>Magic Wand</span>
    </button>

    <button type="button" class="btn-icon" title="Map">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-map"></use>
       </svg>
       <span>Map</span>
    </button>

    <button type="button" class="btn-icon" title="Outline">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-marquee"></use>
       </svg>
       <span>Outline</span>
    </button>

    <button type="button" class="btn-icon" title="Misc">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-misc"></use>
       </svg>
       <span>Misc</span>
    </button>

    <button type="button" class="btn-icon" title="Mobile">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-mobile"></use>
       </svg>
       <span>Mobile</span>
    </button>

    <button type="button" class="btn-icon" title="Money">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-money"></use>
       </svg>
       <span>Money</span>
    </button>

    <button type="button" class="btn-icon" title="Move">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-move"></use>
       </svg>
       <span>Move</span>
    </button>

    <button type="button" class="btn-icon" title="New Case">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-new-case"></use>
      </svg>
      <span>New Case</span>
    </button>

    <button type="button" class="btn-icon" title="New Expense Report">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-new-expense-report"></use>
       </svg>
       <span>New Expense Report</span>
    </button>

    <button type="button" class="btn-icon" title="New Payment Request">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-new-payment-request"></use>
      </svg>
      <span>New Payment Request</span>
    </button>

    <button type="button" class="btn-icon" title="New Schedule">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-new-schedule"></use>
      </svg>
      <span>New Schedule</span>
    </button>

    <button type="button" class="btn-icon" title="New Time Sheet">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-new-time-sheet"></use>
      </svg>
      <span>New Time Sheet</span>
    </button>

    <button type="button" class="btn-icon" title="New Travel Plan">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-new-travel-plan"></use>
       </svg>
       <span>New Travel Plan</span>
    </button>

    <button type="button" class="btn-icon" title="No Attachement">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-no-attachment"></use>
      </svg>
      <span>No Attachement</span>
    </button>

    <button type="button" class="btn-icon" title="No Comment">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-no-comment"></use>
       </svg>
       <span>No Comment</span>
    </button>

    <button type="button" class="btn-icon" title="No Filter">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-no-filter"></use>
       </svg>
       <span>No Filter</span>
    </button>

    <button type="button" class="btn-icon" title="Notification">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-notification"></use>
       </svg>
       <span>Notification</span>
    </button>

    <button type="button" class="btn-icon" title="Overy Line">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-overlay-line"></use>
       </svg>
       <span>Overlay Line</span>
    </button>

    <button type="button" class="btn-icon" title="Parameter">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-parameter"></use>
       </svg>
       <span>Parameter</span>
    </button>

    <button type="button" class="btn-icon" title="Pdf File">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-pdf-file"></use>
       </svg>
       <span>Pdf File</span>
    </button>

    <button type="button" class="btn-icon" title="Phone">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-phone"></use>
       </svg>
       <span>Phone</span>
    </button>

    <button type="button" class="btn-icon" title="Pause">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-pause"></use>
       </svg>
       <span>Pause</span>
    </button>

    <button type="button" class="btn-icon" title="Pause Schedule">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-paused-schedule"></use>
       </svg>
       <span>Pause Schedule</span>
    </button>

    <button type="button" class="btn-icon" title="Payment Request">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-payment-request"></use>
       </svg>
       <span>Payment Request</span>
    </button>

    <button type="button" class="btn-icon" title="Pie Chart">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-pie-chart"></use>
       </svg>
       <span>Pie Chart</span>
    </button>

    <button type="button" class="btn-icon" title="Process">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-process"></use>
       </svg>
       <span>Process</span>
    </button>

    <button type="button" class="btn-icon" title="Profile">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-profile"></use>
       </svg>
       <span>Profile</span>
    </button>

    <button type="button" class="btn-icon" title="Project">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-project"></use>
       </svg>
       <span>Project</span>
    </button>

    <button type="button" class="btn-icon" title="Purchasing">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-purchasing"></use>
       </svg>
       <span>Purchasing</span>
    </button>

    <button type="button" class="btn-icon" title="Quality">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-quality"></use>
       </svg>
       <span>Quality</span>
    </button>

    <button type="button" class="btn-icon" title="Queries">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-queries"></use>
       </svg>
       <span>Queries</span>
    </button>

    <button type="button" class="btn-icon" title="Quick Access">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-quick-access"></use>
      </svg>
      <span>Quick Access</span>
    </button>

    <button type="button" class="btn-icon" title="Quick Edit">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-quick-edit"></use>
       </svg>
       <span>Quick Edit</span>
    </button>

    <button type="button" class="btn-icon" title="Quick Reference">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-quick-reference"></use>
       </svg>
       <span>Quick Reference</span>
    </button>

    <button type="button" class="btn-icon" title="Recycle">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-recycle"></use>
       </svg>
       <span>Recycle</span>
    </button>

    <button type="button" class="btn-icon" title="Refresh Current">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-refresh-current"></use>
       </svg>
       <span>Refresh Current</span>
    </button>

    <button type="button" class="btn-icon" title="Reject">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-reject"></use>
       </svg>
       <span>Reject</span>
    </button>

    <button type="button" class="btn-icon" title="Rename">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-rename"></use>
       </svg>
       <span>Rename</span>
    </button>

    <button type="button" class="btn-icon" title="Reply">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-reply"></use>
       </svg>
       <span>Reply</span>
    </button>

    <button type="button" class="btn-icon" title="Reply All">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-reply-all"></use>
       </svg>
       <span>Reply All</span>
    </button>

    <button type="button" class="btn-icon" title="Restore User">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-restore-user"></use>
       </svg>
       <span>Restore User</span>
    </button>

    <button type="button" class="btn-icon" title="Rocket">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-rocket"></use>
       </svg>
       <span>Rocket</span>
    </button>

    <button type="button" class="btn-icon" title="Run Job">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-run-job"></use>
       </svg>
       <span>Run Job</span>
    </button>

    <button type="button" class="btn-icon" title="Run Quick Access">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-run-quick-access"></use>
       </svg>
       <span>Run Quick Access</span>
    </button>

    <button type="button" class="btn-icon" title="Save As">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-save-as"></use>
       </svg>
       <span>Save As</span>
    </button>

    <button type="button" class="btn-icon" title="Save And Close">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-save-close"></use>
       </svg>
       <span>Save And Close</span>
    </button>

    <button type="button" class="btn-icon" title="Save Options">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-save-options"></use>
       </svg>
       <span>Save Options</span>
    </button>

    <button type="button" class="btn-icon" title="Save And New">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-save-new"></use>
       </svg>
       <span>Save And New</span>
    </button>

    <button type="button" class="btn-icon" title="Scale">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-scale"></use>
       </svg>
       <span>Scale</span>
    </button>

    <button type="button" class="btn-icon" title="Screen">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-screen"></use>
       </svg>
       <span>Screen</span>
    </button>

    <button type="button" class="btn-icon" title="Search Results History">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-search-results-history"></use>
       </svg>
       <span>Search Results History</span>
    </button>

    <button type="button" class="btn-icon" title="Select">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-select"></use>
       </svg>
       <span>Select</span>
    </button>

    <button type="button" class="btn-icon" title="Send Submit">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-send-submit"></use>
       </svg>
       <span>Send Submit</span>
    </button>

    <button type="button" class="btn-icon" title="Select All">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-select-all"></use>
       </svg>
       <span>Select All</span>
    </button>

    <button type="button" class="btn-icon" title="Server">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-server"></use>
       </svg>
       <span>Server</span>
    </button>

    <button type="button" class="btn-icon" title="Service">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-service"></use>
       </svg>
       <span>Service</span>
    </button>

    <button type="button" class="btn-icon" title="Show Last X Days">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-show-last-x-days"></use>
       </svg>
       <span>Show Last X Days</span>
    </button>

    <button type="button" class="btn-icon" title="Special Item">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-special-item"></use>
       </svg>
       <span>Special Item</span>
    </button>

    <button type="button" class="btn-icon" title="Spreadsheet">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-spreadsheet"></use>
       </svg>
       <span>Spreadsheet</span>
    </button>

    <button type="button" class="btn-icon" title="Stacked">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-stacked"></use>
       </svg>
       <span>Stacked</span>
    </button>

    <button type="button" class="btn-icon" title="Subscribe">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-subscribe"></use>
       </svg>
       <span>Subscribe</span>
    </button>

    <button type="button" class="btn-icon" title="Technology">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-technology"></use>
       </svg>
       <span>Technology</span>
    </button>

    <button type="button" class="btn-icon" title="Like">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-thumbs-down"></use>
       </svg>
       <span>Like</span>
    </button>

    <button type="button" class="btn-icon" title="Dislike">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-thumbs-up"></use>
       </svg>
       <span>Dislike</span>
    </button>

    <button type="button" class="btn-icon" title="Time Sheet">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-timesheet"></use>
       </svg>
       <span>Time Sheet</span>
    </button>

    <button type="button" class="btn-icon" title="Tools">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-tools"></use>
       </svg>
       <span>Tools</span>
    </button>

    <button type="button" class="btn-icon" title="Tools Addons">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-tools-addons"></use>
       </svg>
       <span>Tools Addons</span>
    </button>

    <button type="button" class="btn-icon" title="Translate">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-translate"></use>
       </svg>
       <span>Translate</span>
    </button>

    <button type="button" class="btn-icon" title="Travel Plan">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-travel-plan"></use>
       </svg>
       <span>Travel Plan</span>
    </button>

    <button type="button" class="btn-icon" title="Truck / Shipping">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-truck"></use>
       </svg>
       <span>Truck</span>
    </button>

    <button type="button" class="btn-icon" title="Unsubscribe">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-unsubscribe"></use>
       </svg>
       <span>Unsubscribe</span>
    </button>

    <button type="button" class="btn-icon" title="Update Preview">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-update-preview"></use>
       </svg>
       <span>Update Preview</span>
    </button>

    <button type="button" class="btn-icon" title="Utilities">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-utilities"></use>
       </svg>
       <span>Utilities</span>
    </button>

    <button type="button" class="btn-icon" title="Warehouse">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-warehouse"></use>
       </svg>
       <span>Warehouse</span>
    </button>

    <button type="button" class="btn-icon" title="Workflow">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-workflow"></use>
       </svg>
       <span>Workflow</span>
    </button>

    <button type="button" class="btn-icon" title="Wrench">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-wrench"></use>
       </svg>
       <span>Wrench</span>
    </button>

    <button type="button" class="btn-icon" title="Zoom 100%">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-zoom-100"></use>
       </svg>
       <span>Zoom 100%</span>
    </button>

    <button type="button" class="btn-icon" title="Zoom Fit">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-zoom-fit"></use>
       </svg>
       <span>Zoom Fit</span>
    </button>

    <button type="button" class="btn-icon" title="Zoom In">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-zoom-in"></use>
       </svg>
       <span>Zoom In</span>
    </button>

    <button type="button" class="btn-icon" title="Zoom Out">
       <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
           <use xlink:href="#icon-zoom-out"></use>
       </svg>
       <span>Zoom Out</span>
    </button>

  </div>
</div>
