<h1 id="icons-learn-more">Icons <a href="#">Learn More</a></h1>
<p>{{api-details}}</p>
<h2 id="configuration-options">Configuration Options</h2>
<ol>
<li>Basic Icons <a href="../components/icons/example-index">View Example</a><br /></li>
<li>Extended Icon Set <a href="../components/icons/example-extended">View Example</a><br /></li>
<li>Caret Icons <a href="../components/icons/example-caret">View Example</a><br /></li>
<li>Checkmarks <a href="../components/icons/example-checks">View Example</a><br /></li>
<li>Empty Widget Icons <a href="../components/icons/example-empty-widgets">View Example</a><br /></li>
<li>Infor / SoHo Logos <a href="../components/icons/example-logos">View Example</a><br /></li>
<li>Animated Pseudo Elements (Hamburger / Back) / SoHo Logos <a href="../components/icons/example-pseudo-elements">View Example</a><br /></li>
<li>Tree Icons <a href="../components/icons/example-tree">View Example</a></li>
</ol>
<h2 id="code-example">Code Example</h2>
<h3 id="svg-icons-support">SVG Icons Support</h3>
<p>It is required to inline the svg icons in html markup in order to be able to change dimensions and colors with css. To achieve this, follow the following steps:</p>
<ol>
<li>Add a div containing all icons (referred to as the svg block) as per <a href="http://git.infor.com/projects/SOHO/repos/controls/browse/views/controls/svg.html"><a href="http://git.infor.com/projects/SOHO/repos/controls/">http://git.infor.com/projects/SOHO/repos/controls/</a>...</a>, then click the raw element for the exact html. This should be at the top of the page for wider support (Safari needs this at the top).<br /></li>
<li><p>Add markup as per the <a href="../components/icons/example-index">example page</a>, for example:</p>
<ol>
<li>focusable=&quot;false&quot; is added so that the element does not get a tab stop in some browsers<br /></li>
<li>role=&quot;presentation&quot; is added to stop duplicate control feedback when using down arrows while using assistive technology<br /></li>
<li>aria-hidden=&quot;true&quot; causes the icon to be hidden for assistive technologies</li>
</ol></li>
</ol>
<pre class="sourceCode html"><code class="sourceCode html">
// As Button
<span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;btn-icon&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;svg</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="ot"> class=</span><span class="st">&quot;icon&quot;</span><span class="kw">&gt;</span>
     <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-calendar&quot;</span><span class="kw">/&gt;</span>
   <span class="kw">&lt;/svg&gt;</span>
   <span class="kw">&lt;span&gt;</span>Calendar<span class="kw">&lt;/span&gt;</span>
 <span class="kw">&lt;/button&gt;</span>

// With Button - Just Icon
<span class="kw">&lt;svg</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="ot"> class=</span><span class="st">&quot;icon&quot;</span> <span class="kw">&gt;</span>
   <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-calendar&quot;</span><span class="kw">/&gt;</span>
<span class="kw">&lt;/svg&gt;</span>
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>When used alone (icon with out text) an audible span should be used for screen readers to now what the button does.<br /></li>
<li>Tooltips should be shown on icons (but not on icons with text as it is redundant)</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>Icons are usually on buttons, so the usually keyboard shortcuts of tab and shift tab apply. Buttons can also be disabled</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<ul>
<li>When on a button, will have distinct focus, hover and disabled states.</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>At large breakpoints on the toolbar icon + text or just text is shown<br /></li>
<li>At smaller breakpoints just icon is shown. (This is handled by the soho toolbar control)</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Icons nows use svg<br /></li>
<li>Need to add the SVG document containing all icons/symbals at the head of the document<br /></li>
<li>svg elements should be added to the page to replace the iconButton classes</li>
</ul>
