{{> includes/masthead}}

<div class="page-container scrollable">
  <header class="header is-personalizable has-tabs">
    <div class="toolbar">
      <div class="title">
        <h1>Page Pane Patterns</h1>
      </div>

      <div class="buttonset">
        <button class="btn-icon header-search" type="button">
          <span class="audible">Search</span>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-search"></use>
          </svg>
        </button>
      </div>
      {{> includes/header-actionbutton}}
    </div>

    <div class="tab-container" data-options="{ containerElement: '#maincontent' }">
      <div class="tab-list-container">
        <ul class="tab-list">
          <li class="tab"><a href="#header-tab0">Single List</a></li>
          <li class="tab"><a href="#header-tab1">Left/Right</a></li>
          <li class="tab"><a href="#header-tab2">Top/Bottom</a></li>
          <li class="tab"><a href="#header-tab3">Left Column</a></li>
          <li class="tab"><a href="#header-tab4">Right Column</a></li>
          <li class="tab"><a href="#header-tab5">Top Row</a></li>
          <li class="tab"><a href="#header-tab6">Bottom Row</a></li>
          <li class="tab"><a href="#header-tab7">4 Panes</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div id="maincontent" class="page-container tab-panel-container scrollable" role="main">
    <div id="header-tab0" class="tab-panel">
      <div class="page-container">
        <section class="pane no-scroll full-width full-height">{{> examples/landmark/pagepanes-grid1}}</section>
      </div>
    </div>
    <div id="header-tab1" class="tab-panel">
      <div class="page-container">
        <section class="pane left no-scroll">{{> examples/landmark/pagepanes-grid1}}</section>
        <section class="pane right no-scroll">{{> examples/landmark/pagepanes-grid2}}</section>
      </div>
    </div>
    <div id="header-tab2">
      <div class="page-container">
        <section class="pane top no-scroll">{{> examples/landmark/pagepanes-grid1}}</section>
        <section class="pane bottom no-scroll">{{> examples/landmark/pagepanes-grid2}}</section>
      </div>
    </div>
    <div id="header-tab3">
      <div class="page-container">
        <section class="pane left no-scroll">{{> examples/landmark/pagepanes-grid1}}</section>
        <section class="pane top-right no-scroll">{{> examples/landmark/pagepanes-grid2}}</section>
        <section class="pane bottom-right no-scroll">{{> examples/landmark/pagepanes-grid3}}</section>
      </div>
    </div>
    <div id="header-tab4">
      <div class="page-container">
        <section class="pane right no-scroll">{{> examples/landmark/pagepanes-grid1}}</section>
        <section class="pane top-left no-scroll">{{> examples/landmark/pagepanes-grid2}}</section>
        <section class="pane bottom-left no-scroll">{{> examples/landmark/pagepanes-grid3}}</section>
      </div>
    </div>
    <div id="header-tab5">
      <div class="page-container">
        <section class="pane top no-scroll">{{> examples/landmark/pagepanes-grid1}}</section>
        <section class="pane bottom-left no-scroll">{{> examples/landmark/pagepanes-grid2}}</section>
        <section class="pane bottom-right no-scroll">{{> examples/landmark/pagepanes-grid3}}</section>
      </div>
    </div>
    <div id="header-tab6">
      <div class="page-container">
        <section class="pane top-left no-scroll">{{> examples/landmark/pagepanes-grid2}}</section>
        <section class="pane top-right no-scroll">{{> examples/landmark/pagepanes-grid3}}</section>
        <section class="pane bottom no-scroll">{{> examples/landmark/pagepanes-grid1}}</section>
      </div>
    </div>
    <div id="header-tab7">
      <div class="page-container">
        <section class="pane top-left no-scroll">{{> examples/landmark/pagepanes-grid1}}</section>
        <section class="pane top-right no-scroll">{{> examples/landmark/pagepanes-grid2}}</section>
        <section class="pane bottom-left no-scroll">{{> examples/landmark/pagepanes-grid3}}</section>
        <section class="pane bottom-right no-scroll">{{> examples/landmark/pagepanes-grid4}}</section>
      </div>
    </div>
  </div>
</div>

<script>
  function getColumns() {
    var columns = [];
    //Define Columns for the Grid.

    columns.push({
      id        : 'selectionCheckbox',
      sortable  : false,
      resizable : false,
      width     : 50,
      formatter : Formatters.SelectionCheckbox,
      align     : 'center'
    });


    columns.push({ id: 'productId', name: 'Product Id', field: 'productId', width: 140, filterType: 'integer', formatter: Formatters.Readonly});
    columns.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', filterType: 'text', formatter: Formatters.Hyperlink});
    columns.push({ id: 'activity', hidden: true, name: 'Activity', field: 'activity'});
    columns.push({ id: 'quantity', name: 'Quantity', field: 'quantity', filterType: 'integer'});
    columns.push({ id: 'price', name: 'Price', field: 'price', filterType: 'decimal', formatter: Formatters.Decimal});
    columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', filterType: 'date', formatter: Formatters.Date, dateFormat: 'M/d/yyyy'});
    return columns;
  }

  function init() {
    var gridPageSize = 10;

    $('.datagrid').datagrid({
      columns: getColumns(),
      selectable: 'single',
      clickToSelect: true,
      rowHeight: 'small', //(short, medium or tall)
      paging: true,
      filterable: true,
      pagesize: gridPageSize,
      indeterminate: true,
      source: function(req, response) {
        var pageNum = req.activePage;
        var pagesize = req.pagesize;

        if (req.type === 'initial') {
          pageNum = 1;
          pagesize = gridPageSize;
        }

        var url = '{{basepath}}api/compressors?pageNum='+ pageNum +'&pageSize='+ pagesize;

        if (req.sortField){
          url += '&sortField=' + req.sortField + '&sortAsc=' + req.sortAsc;
        }

        if (req.filterExpr && req.filterExpr[0]) {
          url += '&filterValue=' + req.filterExpr[0].value;
          url += '&filterOp=' + req.filterExpr[0].operator;
          url += '&filterColumn=' + req.filterExpr[0].columnId;
        }

        $.getJSON(url, function(res) {
          req.total = res.total;
          response(res.data, req);  //Option 1, return paging info here.
        });
      }
    });

    $('.show-filter').on('click', function(e) {
      var datagrid = $(this).closest(".has-toolbar").next().data('datagrid');
      datagrid.toggleFilterRow();
    });


    $('.toolbar').find('[data-option="row-short"],[data-option="row-medium"],[data-option="row-normal"]').on('click', function(e) {
      var datagrid = $(this).closest(".has-toolbar").next().data('datagrid');
      var $toolbar = $(this).closest('.toolbar');

      // datagrid.settings.rowHeight = $(this).data().option.substring(4);
      // datagrid.renderRows();
      datagrid.rowHeight($(this).data().option.substring(4));

      refreshSelectedRowHeight(datagrid, $toolbar);
    });

    function refreshSelectedRowHeight(datagrid, $toolbar) {
      var short = $toolbar.find('[data-option="row-short"]'),
          med = $toolbar.find('[data-option="row-medium"]'),
          normal = $toolbar.find('[data-option="row-normal"]');

      if (datagrid.settings.rowHeight === 'short') {
        short.parent().addClass('is-checked');
        med.parent().removeClass('is-checked');
        normal.parent().removeClass('is-checked');
      }

      if (datagrid.settings.rowHeight === 'medium') {
        short.parent().removeClass('is-checked');
        med.parent().addClass('is-checked');
        normal.parent().removeClass('is-checked');
      }

      if (datagrid.settings.rowHeight === 'normal') {
        short.parent().removeClass('is-checked');
        med.parent().removeClass('is-checked');
        normal.parent().addClass('is-checked');
      }
    }
  }

  $(function() {
    init();
  });
</script>
