// Hyperlinks
//================================================== //

@mixin hyperlink-focus-state {
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  left: -4px;
  top: -4px;

  @include css3(transition, border-color 100ms cubic-bezier(.17, .04, .03, .94));
  border: 1px solid transparent;
  border-radius: 2px;
}

.hyperlink {
  @include font-size(12);
  @include antialiased();
  color: $hyperlink-color;
  cursor: pointer;
  line-height: 1.5rem;
  position: relative;
  text-decoration: underline;

  // Focus states appear in ::after pseudo elements to take
  // advantage of border radius.
  &::after {
    @include hyperlink-focus-state;
  }

  &:hover:not([disabled]) {
    color: $hyperlink-hover-color;
  }

  &.object-count {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  &.show-visited:visited,
  &.force-visited {
    color: $hyperlink-visited-color;

    &:focus:not(.hide-focus),
    &:active {
      outline: none;
    }
  }

  &:focus:not(.hide-focus),
  &:active {
    outline: none;

    &::after {
      border-color: $hyperlink-focus-border-color;
      box-shadow: $focus-box-shadow;
    }
  }

  &[disabled] {
    color: $hyperlink-disabled-color;

    &:hover {
      cursor: default;
    }

    &:focus:not(.hide-focus) {
      outline: none;

      &::after {
        border-color: $disabled-color;
      }
    }
  }

  &.back,
  &.directional {
    @include font-size(12);
    color: $hyperlink-color;

    &::after {
      display: none;
    }

    span {

      &::after {
        @include hyperlink-focus-state;
      }
    }

    .icon {
      display: inline;
      fill: $hyperlink-color;
      height: 20px;
      position: relative;
      top: -1px;
      vertical-align: middle;
      width: 20px;
    }

    &:focus:not(.hide-focus) {
      span {
        &::after {
          border-color: $hyperlink-focus-border-color;
          box-shadow: $focus-box-shadow;
        }
      }
    }
  }

  &.back {
    .icon {
      left: -6px;
      margin-right: -12px;
    }

    span {
      &::after {
        margin-left: -2px;
        width: calc(100% + 4px);
      }
    }
  }

  &.directional {
    .icon {
      left: -5px;
      margin-right: -3px;
    }

    span {
      &::after {
        left: -5px;
        width: calc(100% - 1px);
      }
    }
  }
}

//Inline text should be 14px to match content
p .hyperlink {
  @include font-size(14);
  white-space: nowrap;
}

// Links Stacked - as on the controls index page
.link-list {
  margin-bottom: 40px;

  li {
    line-height: 25px;

    svg {
      fill: $primary-color;
      height: 16px;
      left: 6px;
      margin-right: 2px;
      top: 4px;
      width: 16px;
    }

    a span {
      border: 1px solid transparent;
      padding-bottom: 3px;
      padding-left: 2px;
      position: relative;
      text-transform: capitalize;
      top: 0;
    }

  }

  div {
    margin-bottom: 10px;
    padding-bottom: 5px;

    &:last-child {
      border: 0;
    }

  }

  .timestamp {
    color: $graphite04;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: static;
  }
}

//Firefox
.is-firefox {
  .hyperlink {
    &:not(.directional) {
      padding-top: 2px;
    }

    &.directional {
      span {
        padding-top: 2px;
      }
    }
  }
}

//Right To Left Styles
html[dir='rtl'] {

  .hyperlink {
    &.back {
      .icon {
        left: auto;
        margin-left: -10px;
        margin-right: auto;
        right: -8px;
      }

      span::after {
        margin-left: 0;
      }
    }

    &.directional {
      span::after {
        margin-left: 18px;
      }
    }
  }

}
