<h1 id="visibility-css-classes-learn-more">Visibility CSS Classes <a href="#">Learn More</a></h1>
<p>The Soho visibility classes allow elements to become conditionally visible or hidden based on breakpoint size. They also provide a way to conveniently change the CSS <code>display</code> property on a per-breakpoint basis.</p>
<h2 id="configuration-examples">Configuration Examples</h2>
<ol>
<li><a href="../components/visibility/example-index">All Examples</a></li>
<li><a href="../components/visibility/example-multiple-visibility-classes">Multiple classes at once</a></li>
</ol>
