<div class="row">
  <div class="twelve columns">
    <nav id="level-breadcrumb" class="breadcrumb"></nav>
  </div>
</div>

<script id="test-script">
  $('#level-breadcrumb').breadcrumb({
    breadcrumbs: [
      {
        content: 'Home',
        id: 'test-breadcrumb-home',
        href: '#'
      },
      {
        content: 'Second Item',
        id: 'test-breadcrumb-second',
        href: '#'
      },
      {
        content: 'Third Item',
        id: 'test-breadcrumb-third',
        href: '#'
      },
      {
        content: 'Fourth Item',
        current: true,
        id: 'test-breadcrumb-fourth',
        href: '#'
      }
    ]
  });
</script>
