
<div class="row">
  <div class="twelve columns">

		<div class="compound-field">

			<div class="field">
				<label for="lapappl-fmtnum" class="label">Application</label>
				<input type="text" id="lapappl-fmtnum" class="" name="lapappl-fmtnum" readonly  value ="31/2012/LD"/>
			</div>

			<div class="field">
				<label for="lapappl-fmtlocn" class="label">Location</label>
				<input type="text" id="lapappl-fmtlocn" class=" input-lg" name="lapappl-fmtlocn" readonly  value ="355 Jim Bird Boulevard, EASTWOOD SA. 5063"/>
			</div>

		</div>

		<div class="compound-field">

			<div id="lapv1130_request-tfklapcont-field" class="field">
				<label for="lapv1130_request-tfklapcont" class="label">Consent Type</label>
				<input type="text" class="lookup" data-init="false" id="lapv1130_request-tfklapcont" name="lapv1130_request-tfklapcont" value=""/>
			</div>

			<div class="field">
				<label for="lapv1130_request-lodgedate" class="label">Lodgement Date</label>
				<input type="text" class="datepicker  " id="lapv1130_request-lodgedate" data-init="false" name="lapv1130_request-lodgedate" data-validate=" UTCDate " data-validation-events="{  '': 'blur change listclosed' , 'UTCDate': 'blur change listclosed' , '': 'blur change listclosed'  }" />
			</div>

		</div>

	</div>
</div>
