<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Date Picker - Tests</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="date-field" class="label">Date Field</label>
      <input id="date-field" class="datepicker" placeholder="M / D / YYYY" name="date-field" type="text">
    </div>

    <div class="field">
      <label for="date-field-2" class="label">Date Field</label>
      <input id="date-field-2" class="datepicker" placeholder="M / D / YYYY" name="date-field" type="text">
    </div>

    <div class="field">
      <label for="date-field-disabled" class="label">Date Field (Disabled)</label>
      <input id="date-field-disabled" class="datepicker" disabled name="date-field-disabled" type="text">
    </div>

  </div>
</div>
