<li><a href="./a1.html?title=Supplier%20Relationship%20Management" class="appl-icon relationship"><span>Supplier Relationship Management</span></a></li>
<li><a href="./a1.html?title=PLM%20Process" class="appl-icon process"><span>PLM Process</span></a></li>
<li><a href="./a1.html?title=Enterprise%20Asset%20Management" class="appl-icon assets"><span>Enterprise Asset Management</span></a></li>
<li><a href="./a1.html?title=Public%20Sector" class="appl-icon government"><span>Public Sector</span></a></li>
<li><a href="./a1.html?title=Human%20Capital%20Management" class="appl-icon hcm"><span>Human Capital Management</span></a></li>
<!--
<li><a href="#" class="appl-icon marketing"><span>Epiphany Marketing</span></a></li>
<li><a href="#" class="appl-icon supplier"><span>Supplier Exchange</span></a></li>
<li><a href="#" class="appl-icon hospitality"><span>Hospitality Management System</span></a></li>
-->
