// Uplift Button
//================================================== //

// Reset standard button alignments.
[class*='btn'] {
  height: auto;
  line-height: normal;
  min-height: 34px;
  padding-bottom: 6px;
  padding-top: 6px;

  > * {
    vertical-align: baseline;
  }

  > .icon {
    vertical-align: middle;
  }
}

// Icon/Actions button icons should be better-centered against the focus state.
.btn-icon,
.btn-actions {
  > .icon {
    vertical-align: sub;
  }
}

// IE11's `middle`, `sub`, and `text-bottom` alignments don't jive
// well with our iconography.
.ie11 {
  [class*='btn'] {
    > .icon {
      vertical-align: -20%;
    }
  }
}

// Reset specific line height on Mac Firefox from the standard component
.is-mac.is-firefox {
  .field-short [class*='btn'] {
    line-height: normal;
  }
}

.field-short [class*='btn'] {
  min-height: 25px;

  > .icon {
    vertical-align: sub;

    &:not(.icon-dropdown) {
      height: 18px;
      vertical-align: sub;

      + span:not(.audible) {
        position: relative;
      }
    }
  }
}
