//  Block Grid
//================================================== //
.blockgrid {
  margin: 0;
  max-width: 100%;
  text-align: left;

  .block {
    border-radius: 2px;
    display: inline-block;
    margin: 20px 0 0 20px;
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
    width: 200px;

    img {
      margin-bottom: 10px;
    }

    a {
      display: inline-block;
      margin-bottom: 10px;
    }

    &.is-selected {
      background-color: $selected-bg-color;
    }
  }

  &.l-center {
    text-align: center;
  }

  &.blockgrid-md .block {
    width: 145px;
  }

  &.blockgrid-sm .block {
    width: 120px;
  }

  &.is-selectable {
    cursor: pointer;
  }

  .blockgrid-title {
    @include antialiased();
    @include font-size(14);
    color: $font-color;
    display: block;
    padding-bottom: 10px;
    text-align: center;
  }
}

//RTL Styles
html[dir='rtl'] {

  .blockgrid {
    text-align: right;

    .block {
      margin: 20px 20px 0 0;
    }
  }

}
