  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          dataset
        </td>
        <td>
          array
        </td>
        <td>
          An array of data objects

        </td>
      </tr>
      <tr>
        <td>
          selectable
        </td>
        <td>
          string
        </td>
        <td>
          Controls the selection mode this can be:
false, 'single' or 'multiple' or 'mixed'

        </td>
      </tr>
    </tbody>
  </table>



  
    



  
    



  
    



  
    



  
    



  
  
  </section>

  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>selected
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>ui (object)
        
        = The dialog object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a block is selected
</td>
</tr>

      
        <tr>
  <td>unselected
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>ui (object)
        
        = The dialog object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a block is unselected
</td>
</tr>

      
      </tbody>
    </table>
  </section>
