<h1 id="blockgrid-learn-more">Blockgrid <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Image Block Grid Example <a href="../components/blockgrid/example-index">View Example</a></li>
<li>Image and Text Block Grid Example <a href="../components/blockgrid/example-text">View Example</a></li>
<li>Single Selection Example <a href="../components/blockgrid/example-singleselect">View Example</a></li>
<li>Multiple Selection Example <a href="../components/blockgrid/example-multiselect">View Example</a></li>
<li>Mixed Selection Example <a href="../components/blockgrid/example-mixed-selection">View Example</a></li>
</ol>
<h2 id="code-example">Code Example</h2>
<p>This example shows how to place several object (image placeholders) in side a block grid. The block grid will layout the elements across the parent width and flow to next line if need be.</p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;row blockgrid l-center&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span>
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Note that tab order should be maintained and not changed with tabindex.</li>
</ul>
<h2 id="code-tips">Code Tips</h2>
<p>The elements should be the same or very close in size (width/height). Due to constraints the bottom rows if not filled out are not ideally centered at this time.</p>
