<h1 id="blockgrid-learn-more">Blockgrid <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Blockgrid with images <a href="../components/blockgrid/example-index">View Example</a></li>
<li>Blockgrid with image and text <a href="../components/blockgrid/example-text">View Example</a></li>
<li>Blockgrid with single selection <a href="../components/blockgrid/example-singleselect">View Example</a></li>
<li>Blockgrid with multiselect select <a href="../components/blockgrid/example-multiselect">View Example</a></li>
<li>Blockgrid with mixed selection select <a href="../components/blockgrid/example-mixed-selection">View Example</a></li>
</ol>
 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The plugin element for the constuctor
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The settings element.
    </td>
  </tr>


  <tr>
    <td>
      settings.dataset
    </td>
    <td>
      <span>[]</span>
    </td>
    <td>
      array
    </td>
    <td>
      An array of data objects
    </td>
  </tr>


  <tr>
    <td>
      settings.selectable
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      string
    </td>
    <td>
      Controls the selection mode this can be:
false, 'single' or 'multiple' or 'mixed'
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>selectBlock</td>
        <td>
          
                
                  <span>activeBlock (element) = Dom element to use
 </span>
                
                  <span>isCheckbox (boolean) = True if a checkbox, used for mixed mode.
 </span>
                
          
        </td>
        <td>
          <p>Run selection over a block item</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (settings) = The new settings to use.
 </span>
                
          
        </td>
        <td>
          <p>Handle updated settings and values.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown - Remove added markup and events.</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>deactivated
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>ui (object)
        
        = The dialog object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a block is selected
</td>
</tr>

      
        <tr>
  <td>activated
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>ui (object)
        
        = The dialog object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a block is unselected
</td>
</tr>

      
        <tr>
  <td>selected
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>ui (object)
        
        = The dialog object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a block is selected
</td>
</tr>

      
        <tr>
  <td>unselected
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>ui (object)
        
        = The dialog object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a block is unselected
</td>
</tr>

      
      </tbody>
    </table>
  </section>

<h2 id="code-example">Code Example</h2>
<p>This example shows how to place several object (image placeholders) in side a block grid. The block grid will layout the elements across the parent width and flow to next line if need be.</p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;row blockgrid l-center&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">/&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">/&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">/&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">/&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;block&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> alt=</span><span class="st">&quot;Placeholder Image&quot;</span><span class="ot"> src=</span><span class="st">&quot;http://placehold.it/200x200/d8d8d8/ffffff&quot;</span><span class="kw">/&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span>
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<p>Note that tab order should be maintained and not changed with an explicit tabindex.</p>
<h2 id="code-tips">Code Tips</h2>
<p>The elements should be the same or very close in size (width/height). Due to constraints the bottom rows are not ideally centered at this time if the counts are not even per row.</p>
