// Uplift Application Menu
//================================================== //

.application-menu {
  background-color: $theme-color-palette-slate-90;

  .searchfield-wrapper {
    background-color: $theme-color-palette-slate-100;
    border-radius: 6px;
    margin: 0 $theme-number-spacing-base;
    width: calc(100% - calc(#{$theme-number-spacing-base} * 2));
  }

  .application-menu-header button:hover,
  .application-menu-footer button:hover {
    background-color: $theme-color-palette-slate-100;
  }

  .btn-icon {
    font-size: unset;
  }

  .application-menu-header {
    .name-xl {
      font-size: $theme-size-font-md;
      font-weight: $theme-number-font-weight-bold;
      padding-top: calc(#{$theme-number-spacing-base} * 2);
    }

    button.application-menu-switcher-trigger {
      margin: 0 8px 0 0;

      > * {
        vertical-align: bottom;
      }
    }
  }

  .application-menu-switcher-panel {
    background-color: $theme-color-palette-slate-100;

    .accordion.panel.inverse {
      background-color: $theme-color-palette-slate-100;

      .accordion-header {
        border-color: $theme-color-palette-slate-100;
      }

      .accordion-header:hover {
        background-color: $theme-color-palette-black;
      }
    }
  }

  .application-menu-header,
  .application-menu-footer {
    background-color: $theme-color-palette-slate-90;

  }

  .accordion {
    margin: calc(#{$theme-number-spacing-base} * 1);
    width: unset;

    .accordion-header {
      border-radius: 6px;
    }

    > .accordion-header > a > span {
      font-weight: $theme-number-font-weight-bold;
    }

    &.has-icons .accordion-pane .accordion-header > a {
      letter-spacing: 0.2px;
    }

    &.has-icons .accordion-pane .accordion-header.is-selected {
      background-color: unset;
    }

    &.has-icons .accordion-pane .accordion-header.is-selected > a {
      letter-spacing: 0;
    }

    .accordion-pane .accordion-header.is-selected > a > span {
      font-weight: $theme-number-font-weight-bold;
    }

    &.panel.inverse .accordion-header:hover {
      background-color: $theme-color-palette-slate-100;
    }
  }
}
