// Uplift Application Menu
//================================================== //

@import '../accordion/accordion-mixins';

// Application Menu's Accordion alignment rules
//================================================== //

.application-menu {

  // Level 1 Pane
  .accordion-pane {
    @include left-align-cascade-styles-pane(20px, 46px, 40px);

    // Level 2 Header
    .accordion-header {
      @include left-align-cascade-styles-header(20px, 18px, 49px, 41px);
    }

    // Level 2 Pane
    .accordion-pane {
      @include left-align-cascade-styles-pane(49px, 72px, 40px);

      // Level 3 Header
      .accordion-header {
        @include left-align-cascade-styles-header(40px, 44px, 72px, 41px);
      }

      // Level 3 Pane
      .accordion-pane {
        @include left-align-cascade-styles-pane(78px, 97px, 59px);

        // Level 4 Header
        .accordion-header {
          @include left-align-cascade-styles-header(59px, 69px, 97px, 60px);
        }

        // Level 4 Pane
        .accordion-pane {
          @include left-align-cascade-styles-pane(97px, 122px, 78px);

          // Level 5 Header
          .accordion-header {
            @include left-align-cascade-styles-header(78px, 94px, 122px, 79px);
          }

          // Level 5 Pane
          .accordion-pane {
            @include left-align-cascade-styles-pane(116px, 150px, 122px);

            // Level 6 Header
            .accordion-header {
              @include left-align-cascade-styles-header(122px, 122px, 150px, 99px);

              &.no-icon {
                > a {
                  padding-left: 150px;
                }
              }
            }

            // Level 6 Pane
            .accordion-pane {
              @include left-align-cascade-styles-pane(135px, 177px, 122px);
            }
          }
        }
      }
    }
  }

  &.has-icons {
    // Level 1 Pane
    .accordion-pane {
      @include left-align-cascade-styles-pane(20px, 46px, 40px);

      .accordion-header {
        @include left-align-cascade-styles-header(5px, 18px, 49px, 41px);
      }

      // Level 2 Pane
      .accordion-pane {
        @include left-align-cascade-styles-pane(49px, 46px, 40px);

        // Level 3 Header
        .accordion-header {
          @include left-align-cascade-styles-header(40px, 44px, 77px, 41px);
        }

        // Level 3 Pane
        .accordion-pane {
          @include left-align-cascade-styles-pane(78px, 78px, 59px);

          // Level 4 Header
          .accordion-header {
            @include left-align-cascade-styles-header(59px, 69px, 97px, 60px);
          }

          // Level 4 Pane
          .accordion-pane {
            @include left-align-cascade-styles-pane(97px, 97px, 78px);

            // Level 5 Header
            .accordion-header {
              @include left-align-cascade-styles-header(78px, 94px, 122px, 79px);
            }

            // Level 5 Pane
            .accordion-pane {
              @include left-align-cascade-styles-pane(116px, 150px, 122px);

              // Level 6 Header
              .accordion-header {
                @include left-align-cascade-styles-header(122px, 122px, 150px, 99px);
              }

              // Level 6 Pane
              .accordion-pane {
                @include left-align-cascade-styles-pane(116px, 122px, 122px);
              }
            }
          }
        }
      }
    }
  }
}

.application-menu {
  background-color: $uplift-appmenu-main-bg-color;

  .searchfield-wrapper {
    background-color: $uplift-acc-expanded-bg-color;
    border-radius: $uplift-acc-border-radius;
    margin: 0 $theme-number-spacing-base;
    width: calc(100% - calc(#{$theme-number-spacing-base} * 2));

    .searchfield {
      height: 40px;

      &::placeholder {
        color: #d0d0d0;
        opacity: 1;
      }

      &::-webkit-input-placeholder {
        color: #d0d0d0;
        opacity: 1;
        -webkit-text-fill-color: #d0d0d0;
      }

      &::-moz-placeholder {
        color: #d0d0d0;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #d0d0d0;
        opacity: 1;
      }
    }

    > .icon {
      top: 13px;
    }
  }

  .application-menu-header,
  .application-menu-footer {
    padding: 10px 0;

    button {
      .icon {
        color: $uplift-acc-header-text-color;
      }

      &:hover {
        background-color: $uplift-appmenu-hover-bg-color;
      }
    }
  }

  .btn-icon {
    font-size: normal;
  }

  .application-menu-header {
    .icon.avatar {
      left: 29px;
      top: 0;
    }

    .name-xl {
      font-size: $theme-size-font-md;
      font-weight: $theme-number-font-weight-bold;
      padding-left: 29px;
      padding-top: calc(#{$theme-number-spacing-base} * 2);
    }

    button.application-menu-switcher-trigger {
      margin: 0 8px 0 0;

      > * {
        vertical-align: bottom;
      }
    }
  }

  .application-menu-footer {
    .application-menu-toolbar {
      padding: 10px 0 10px 19px;
    }
  }

  .application-menu-switcher-panel {
    background-color: $uplift-appmenu-footer-bg-color;

    .accordion.panel.inverse {
      background-color: $uplift-appmenu-footer-bg-color;

      .accordion-header {
        border-radius: $uplift-acc-border-radius;

        &.is-selected {
          background-color: $uplift-appmenu-selected-bg-color;
        }
      }

      .accordion-header:hover {
        background-color: $uplift-appmenu-hover-bg-color;
      }
    }
  }

  .application-menu-header {
    background-color: $uplift-appmenu-header-bg-color;
  }

  .application-menu-footer {
    background-color: $uplift-appmenu-footer-bg-color;
  }

  // NOTE: panelled accordion is used inside of the app menu,
  // so all internal accordion styles have to override this rule.
  .accordion.panel.inverse {
    background-color: transparent;
    margin: calc(#{$theme-number-spacing-base} * 1);
    width: auto;

    .accordion-header {
      @include transition(border-color 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94));

      border-bottom-color: transparent;
      color: $uplift-acc-header-text-color;
      height: auto;

      .btn,
      .btn-expander {
        color: inherit;
        margin-right: 3px;

        &:focus:not(.hide-focus) {
          border-color: $uplift-appmenu-selected-border-color;
          box-shadow: none;
        }
      }

      .icon {
        color: inherit;

        &.plus-minus {
          &::before,
          &::after {
            background-color: $uplift-acc-header-text-color;
          }
        }
      }

      &:hover {
        background-color: $uplift-appmenu-hover-bg-color;
        color: $uplift-acc-header-selected-text-color;
      }

      &.is-focused:not(.hide-focus) {
        border-color: $uplift-appmenu-selected-border-color;
        box-shadow: none;
      }

      &.is-selected {
        background-color: $uplift-appmenu-selected-bg-color;
        color: $uplift-acc-header-selected-text-color;

        .icon.plus-minus {
          &::before,
          &::after {
            background-color: $uplift-acc-header-selected-text-color;
          }
        }
      }
    }

    // Top level rules
    > .accordion-header {
      border-radius: $uplift-acc-border-radius;

      > a {
        padding: 10px 0 10px 20px;
      }

      &.is-selected {
        border-bottom-color: transparent;

        &:hover {
          border-bottom-color: transparent;
        }

        &.is-focused {
          border-bottom-color: $uplift-appmenu-selected-border-color;
        }

        > a > span {
          font-weight: $theme-number-font-weight-bold;
        }
      }

      &.is-expanded {
        background-color: $uplift-acc-expanded-bg-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:not(.is-focused),
        &:not(.is-selected) {
          border-bottom-color: transparent;
        }

        &.is-focused {
          border-bottom-color: $uplift-appmenu-selected-border-color;

          &.is-selected {
            border-bottom-color: $uplift-appmenu-selected-border-color;
          }
        }

        &.is-selected {
          background-color: $uplift-appmenu-selected-bg-color;
          border-bottom-color: transparent;
        }

        + .accordion-pane {
          background-color: $uplift-acc-expanded-bg-color;
          border-bottom-left-radius: $uplift-acc-border-radius;
          border-bottom-right-radius: $uplift-acc-border-radius;

          .accordion-header:not(.is-selected):not(.is-focused) {
            border-color: transparent;
          }

          .accordion-pane {
            background: transparent;
          }
        }
      }

      + .accordion-header {
        margin-top: 4px;
      }
    }

    // Visible accordion panes force a border to show up on the next
    // accordion header for visual separation
    .accordion-pane {
      .accordion-header {
        border-bottom-color: transparent;
        color: $uplift-acc-subheader-text-color;

        a {
          font-size: 14px;
          padding-bottom: 9px;
          padding-top: 9px;
        }

        .btn,
        .btn-expander {
          height: 25px;
          width: 25px;

          .icon.plus-minus {
            &::before,
            &::after {
              left: 4px;
              top: 11px;
              width: 15px;
            }
          }
        }

        .icon.plus-minus {
          &::before,
          &::after {
            background-color: $uplift-acc-subheader-text-color;
          }
        }

        &:hover {
          color: $uplift-acc-header-selected-text-color;

          .icon.plus-minus {
            &::before,
            &::after {
              background-color: $uplift-acc-header-selected-text-color;
            }
          }
        }

        &.is-selected {
          color: $uplift-acc-header-selected-text-color;

          > a > span {
            font-weight: $theme-number-font-weight-bold;
          }

          .icon.plus-minus {
            &::before,
            &::after {
              background-color: $uplift-acc-header-selected-text-color;
            }
          }
        }
      }

      &.is-expanded {
        + .accordion-header:not(.is-focused):not(.is-selected),
        + .accordion-content {
          border-top-color: transparent;
        }

        + .accordion-header {
          &.is-focused {
            border-top-color: $uplift-appmenu-selected-border-color;
          }
        }
      }
    }

    // Round the borders of 2nd-level accordion headers in some special cases
    > .accordion-pane {
      > .accordion-header {
        &:not(.is-expanded):last-of-type {
          border-bottom-left-radius: $uplift-acc-border-radius;
          border-bottom-right-radius: $uplift-acc-border-radius;
        }

        &:last-child {
          border-bottom-left-radius: $uplift-acc-border-radius;
          border-bottom-right-radius: $uplift-acc-border-radius;
        }
      }

      &.is-expanded {
        &:last-of-type {
          border-bottom-left-radius: $uplift-acc-border-radius;
          border-bottom-right-radius: $uplift-acc-border-radius;
        }
      }

      + .accordion-header {
        margin-top: 4px;
      }
    }

    // Change some things on top-level icon app menus
    &.has-icons {
      > .accordion-header {
        > a {
          padding-left: 0;
        }
      }

      .accordion-pane {
        .accordion-header {
          > a {
            letter-spacing: 0.2px;
          }

          &.is-selected {
            > a {
              letter-spacing: 0;
            }
          }
        }
      }
    }
  }
}

// Reset the Searchfield Wrapper height on Firefox
html.is-firefox {
  .application-menu {
    .searchfield-wrapper {
      height: auto;

      > .icon {
        top: 14px;
      }
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .application-menu {
    .application-menu-header {
      .icon.avatar {
        left: 0;
        right: 29px;
      }

      .name-xl {
        padding-left: 0;
        padding-right: 29px;
      }
    }

    .accordion {
      > .accordion-header > a {
        padding: 10px 20px 10px 0;
      }
    }
  }
}
