<figure class="hierarchy" id="hierarchy"></figure>

<script>

  var options = {
    templateId: 'hierarchyChartTemplate',
    legendKey: 'EmploymentType',
    legend: [
      { 'value' : 'FT', 'label' : 'Full Time'     },
      { 'value' : 'PT', 'label' : 'Part Time'     },
      { 'value' : 'C',  'label' : 'Contractor'    },
      { 'value' : 'O',  'label' : 'Open Position' }
    ],
    dataset: [],
    paging: true
  };

  $.getJSON('{{basepath}}api/orgstructure-paging', function(data) {
    options.dataset = data;
    $('#hierarchy').hierarchy(options);
  });

  $('#hierarchy').on('selected', function(event, eventInfo) {
    var hierarchyControl = $('#hierarchy').data('hierarchy');

    if (eventInfo.eventType === 'back') {
      options.dataset = eventInfo.data.parentDataSet;
      hierarchyControl.reload(options);
    } else if (!eventInfo.data.isLoaded && !eventInfo.data.isLeaf) {
      $.getJSON('{{basepath}}api/orgstructure-children', function(newData) {
        eventInfo.data.children = newData;
        options.dataset = [eventInfo.data];
        hierarchyControl.reload(options);
      });
    }
  });
</script>

{{={{{ }}}=}}
<script type="text/html" id="hierarchyChartTemplate">
  <div class="leaf {{colorClass}}" id="{{id}}">

    {{#Picture}}
    <img src="{{Picture}}" class="image" alt="Image of {{Name}}"/>
    {{/Picture}}
    {{^Picture}}
    <span class="image-placeholder"></span>
    {{/Picture}}

    <div class="detail">
      <p class="heading">{{Name}}</p>
      <p class="subheading">{{Position}}</p>
      <p class="micro">{{EmploymentType}}</p>
    </div>

    <button class="btn btn-icon" type="button">
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use xlink:href="#icon-caret-up"/>
      </svg>
      <span class="audible">Expand/Collapse</span>
    </button>
  </div>

  </div>
</script>
