<div id="maincontent" class="homepage page-container scrollable" data-columns="3" role="main">
  <div class="content">

    <!-- BEGIN Bar Chart Widget -->
    <div class="widget triple-width">
      <div class="widget-header">
        <h2 class="widget-title">Chart Title</h2>
        <button class="btn-actions" type="button">
          <span class="audible">Actions</span>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-more"></use>
          </svg>
        </button>
        <ul class="popupmenu actions top">
          <li><a href="#">Action One</a></li>
          <li><a href="#">Action Two</a></li>
        </ul>
      </div>
      <div class="widget-content">
        <div id="bar-stacked-example" class="chart-container"></div>
      </div>
    </div>
    <!-- END Bar Chart Widget -->

    <!-- BEGIN Alerts Widget -->
    <div class="widget">
      <div class="widget-header">
        <h2 class="widget-title">Alerts</h2>
        <button class="btn-actions" type="button">
          <span class="audible">Actions</span>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-more"></use>
          </svg>
        </button>
        <ul class="popupmenu actions top">
          <li><a href="#">Action One</a></li>
          <li><a href="#">Action Two</a></li>
        </ul>
      </div>

      <div class="widget-content">
        <div class="listview" id="alerts-listview" data-options="{'source': '{{basepath}}api/tasks', 'template': 'alerts-tmpl'}"></div>
      </div>
    </div>
    <!-- END Alerts Widget -->

    <!-- BEGIN Tasks Widget -->
    <div class="widget">
      <div class="widget-header">
        <h2 class="widget-title">Tasks</h2>
        <button class="btn-actions" type="button">
          <span class="audible">Actions</span>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-more"></use>
          </svg>
        </button>
        <ul class="popupmenu actions top">
          <li><a href="#">Action One</a></li>
          <li><a href="#">Action Two</a></li>
        </ul>
      </div>

      <div class="widget-content">
        <div class="listview" id="multiselect-listview" data-options="{'source': '{{basepath}}api/inventory-tasks', 'template': 'multiselect-tmpl', 'selectable': 'multiple'}"></div>
      </div>
    </div>
    <!-- END Tasks Widget -->

    <!-- BEGIN Business Insight Widget -->
    <div class="widget">
      <div class="widget-header">
        <h2 class="widget-title">Business Insight</h2>
        <button class="btn-actions" type="button">
          <span class="audible">Actions</span>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-more"></use>
          </svg>
        </button>
        <ul class="popupmenu actions top">
          <li><a href="#">Action One</a></li>
          <li><a href="#">Action Two</a></li>
        </ul>
      </div>

      <div class="widget-content">
        <div id="pie-chart-example" class="chart-container">
        </div>
      </div>
    </div>
    <!-- END Business Insight Widget -->
  </div>
</div>

<script id="test-script">
  $('body').on('initialized', function () {
    var barData = [{
      data: [{
        name: '2008',
        value: 123
      }, {
        name: '2009',
        value: 234
      }, {
        name: '2010',
        value: 345
      }],
      name: 'Series 1'
    }, {
      data: [{
        name: '2008',
        value: 235
      }, {
        name: '2009',
        value: 267
      }, {
        name: '2010',
        value: 573
      }],
      name: 'Series 2'
    }];

    var pieData = [{
      data: [{
        name: 'Component A',
        value: 7.6
      }, {
        name: 'Component B',
        value: 6.25
      }, {
        name: 'Component C',
        value: 4.35
      }, {
        name: 'Component D',
        value: 5.6
      }, {
        name: 'Component E',
        value: 11.6
      }, {
        name: 'Component F',
        value: 12.6
      }]
    }];

    $('#bar-stacked-example').chart({
      type: 'bar',
      dataset: barData
    });

    $('#pie-chart-example').chart({
      type: 'pie',
      dataset: pieData
    });
  });
</script>

{{={{{ }}}=}}
<script id="alerts-tmpl" type="text/html">
    <ul>
      {{#dataset}}
        <li>
          {{#escalated}}
            <small class="alert-text">Escalated ({{escalated}}X)</small>
          {{/escalated}}
          <span class="listview-micro l-pull-right">{{time}}</span>
          <p class="listview-heading">{{taskName}}</p>
          <p class="listview-subheading">{{desc}}</p>
          <p class="listview-micro">{{comments}} Comments</p>
        </li>
      {{/dataset}}
    </ul>
  </script>
<script id="multiselect-tmpl" type="text/html">
<ul>
  {{#dataset}}
     <li>
      <p>{{desc}}</p>
    </li>
  {{/dataset}}
</ul>
</script>
