<div class="page-contents">
  <div class="row">
    <div class="six columns">
      <fieldset>
        <legend>Company Information</legend>
        <div class="summary-form">

          <div class="field">
            <span class="label">Company Name</span>
            <span class="data">Building Suppliers</span>
          </div>

          <div class="field">
            <span class="label">Company Type</span>
            <span class="data">Contractor</span>
          </div>

          <div class="field">
            <span class="label">Company Address</span>
             <span class="data">4209 Industrial Avenue <br>Los Angeles, California 90001 USA</span>
          </div>

          <div class="field">
            <span class="label">Phone Number</span>
            <span class="data">(999) 810-2604</span>
          </div>

          <div class="field">
            <span class="label">Website</span>
            <span class="data">www.buildings.com</span>
          </div>

          <div class="field">
            <span class="label">Estimated Delivery</span>
            <span class="data">June 21, 2015 <i> (4 days)</i></span>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="six columns">
      <div class="fieldset" role="region" aria-labelledby="fieldset-two-title">
        <h2 class="fieldset-title" id="fieldset-two-title">Credit Information</h2>

        <span class="label" id="prbc-label1">Available Credit <span class="l-pull-right">$95,000</span></span>
        <div class="chart-completion-target" id="chart-progressbar1" role="image" aria-labelledby="prbc-label1">
          <div class="target" style="width: 66%">
            <span>$10,000 <br/> Pending</span>
          </div>
          <div class="completed" style="width: 50%">
            <span>$50,000 <br/> Spent</span>
          </div>
        </div>


    </div>
  </div>
</div>
