//  Form Layouts
//================================================== //

// Pushes down the checkbox in the grid (form/example-inputs.html)
.form-responsive .field .checkbox-label,
.form-responsive .field .checkbox > label {
  margin-top: 39px !important;
}

.form-responsive .compound-field .checkbox-label {
  margin-top: 0 !important;
}

.column .field > .checkbox-label.top-margin,
.columns .field > .checkbox-label.top-margin {
  margin-top: 39px !important;
}

@include respond-to(phone) {
  .column .field > .checkbox-label.top-margin,
  .columns .field > .checkbox-label.top-margin {
    margin-bottom: 16px !important;
    margin-top: 0 !important;
  }

  .column .field-checkbox span.label,
  .columns .field-checkbox span.label {
    margin-top: -29px !important;
  }
}
