//  Form Layouts
//================================================== //

.page-container,
.container {
  .form-responsive {
    input,
    textarea {
      max-width: 100% !important;
      width: 100%;
    }

    .field-checkbox {
      margin-top: 30px;

      .icon-dirty.dirty-checkbox.is-checked {
        @media (max-width: $breakpoint-phone-to-tablet) {
          top: -1px;
        }
      }
    }

    .colorpicker-container {
      position: relative;
      width: 100%;

      .colorpicker {
        width: auto;
      }

      .trigger {
        position: absolute;
        right: 0;
      }
    }

    .dropdown-wrapper {
      width: 100%;

      div.dropdown,
      div.multiselect {
        width: inherit;
      }
    }

    .field .checkbox-label,
    .field .checkbox > label {
      margin-top: 0;
      white-space: unset;
    }

    .checkbox-group-label + .compound-field {
      .field .checkbox-label,
      .field .checkbox > label {
        margin-top: 0;
      }

      .field.field-checkbox {
        margin-bottom: 0;
      }
    }

    .field-checkbox {
      text-align: left;
    }

    .lookup-wrapper {
      width: 100%;
    }

    .label,
    label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .row.flex-align-bottom,
    &.row.flex-align-bottom {
      .label,
      label:not(.checkbox-label) {
        overflow: visible;
        white-space: normal;
      }
    }

    .row.no-bottom-margin {
      margin-bottom: 0;
    }

    .spinbox-wrapper {
      width: 100%;

      input {
        width: calc(100% - 66px);
      }
    }
  }
}

@media (max-width: ($breakpoint-phone-to-tablet + 1)) {
  .page-container,
  .container {
    .form-responsive {
      .field .checkbox-label,
      .field .checkbox > label {
        margin-bottom: 13px;
        margin-top: -1px;
      }
    }
  }

  .form-responsive .checkbox-group-label + .compound-field .field .checkbox-label {
    margin-bottom: 0;
  }
}

// Setup specific widths for modals/CAPs with a responsive form
.modal {
  &.display-fullsize {
    .form-responsive {
      input,
      textarea {
        max-width: none;
        width: 100%;
      }

      .colorpicker-container {
        width: 100%;

        .colorpicker {
          width: auto;
        }
      }

      .dropdown-wrapper {
        width: 100%;

        div.dropdown,
        div.multiselect {
          width: inherit;
        }
      }
    }
  }
}

html {
  // Field with Label Left in fr Locale
  &[lang^='fr'] {
    .field.label-left {
      .label::after {
        padding-left: 8px;
      }
    }
  }

  &:not([lang^='fr']) {
    .field.label-left {
      .label::after {
        padding-left: 0;
      }
    }
  }
}

// Hide and show password functionality
.input-hideshow-text {
  color: $ids-color-palette-slate-50;
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  transform: translate(calc(-100% + -8px), 11px);
}

.input-hide-text {
  &::-ms-reveal,
  &::-ms-clear {
    display: none !important;
  }

  -webkit-text-security: disc;
}

html[dir='rtl'] {
  .form-responsive {
    .colorpicker-container {
      .trigger {
        left: 0;
        right: auto;
      }
    }
  }

  .input-hideshow-text {
    transform: translate(calc(100% + 8px), 7px);
  }
}
