//  Form Layouts
//================================================== //

.form-responsive {
  input,
  textarea {
    width: 100% !important;
  }

  .colorpicker-container {
    position: relative;
    width: 100% !important;

    .colorpicker {
      width: auto !important;
    }

    .trigger {
      position: absolute;
      right: 0;
    }
  }

  .dropdown-wrapper {
    width: 100%;

    div.dropdown,
    div.multiselect {
      width: inherit;
    }
  }

  .field .checkbox-label,
  .field .checkbox > label {
    margin-top: 30px;
  }

  .field-checkbox {
    text-align: left;
  }

  .lookup-wrapper {
    width: 100%;
  }

  .label,
  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .row.no-bottom-margin {
    margin-bottom: 0;
  }
}

@media (max-width: $breakpoint-phone-to-tablet + 1) {
  .form-responsive {
    .field .checkbox-label,
    .field .checkbox > label {
      margin-top: -10px;
    }
  }
}

html[dir='rtl'] {
  .form-responsive {
    .colorpicker-container {
      .trigger {
        left: 0;
        right: auto;
      }
    }
  }
}
