//  Form Layouts
//================================================== //

.form-responsive {
  input,
  textarea {
    width: 100%;
  }

  .dropdown-wrapper {
    width: 100%;

    div.dropdown,
    div.multiselect {
      width: inherit;
    }
  }

  .field .checkbox-label,
  .field .checkbox > label {
    margin-top: 30px;
  }

  .field-checkbox {
    text-align: left;
  }

  .lookup-wrapper {
    width: 100%;
  }

  .label,
  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

@include respond-to(phone) {
  .form-responsive {
    .field .checkbox-label,
    .field .checkbox > label {
      margin-top: -10px;
    }
  }
}
