//* Date Picker
//================================================== *

.datepicker {
  width: $datepicker-default-width;

  &.input-xs {
    width: $field-xs;
  }

  &.input-sm {
    width: $field-sm;
  }

  &.input-mm {
    width: $field-mm;
  }

  &.input-md {
    width: $field-md;
  }

  &.input-lg {
    width: $field-lg;
  }

  &.input-full {
    width: $field-full;
  }

  &.datetime {
    padding-right: 30px;
    width: auto;
  }

  + .icon,
  + .tooltip-description + .icon {
    cursor: pointer;
    fill: $trigger-icon-fill-color;
    height: 16px;
    margin-left: -26px;
    margin-top: 8px;
    position: absolute;
    width: 16px;
    z-index: 1;

    &:hover {
      fill: $trigger-hover-color;
    }

    &:active {
      fill: $trigger-active-color;
    }
  }

  &.is-active {
    border-color: $input-focus-border-color;

    + .icon {
      fill: $datepicker-icon-active-color;
    }
  }

  &.error,
  &.error:hover {
    ~ .icon {
      // scss-lint:disable ImportantRule
      fill: $alert-red !important;
      // scss-lint:enable ImportantRule
    }
  }

  + .icon + .icon-error {
    margin-left: -50px;
  }

  + .audible + .icon + .icon-error {
    margin-left: -50px;
  }

  &:disabled {
    border-color: $datepicker-disabled-border-color;

    + .icon {
      cursor: default;
      fill: $datepicker-disabled-icon-color;
    }
  }

  &[readonly] {
    + .icon {
      cursor: default;
      fill: $trigger-icon-fill-color;
    }
  }
}

.calendar {
  background-color: $popover-bg-color;
  display: inline-block;
  min-height: 300px;
  min-width: 297px;
  text-align: center;
  vertical-align: middle;
  width: 100%;

  // Hide Days Option
  &.is-monthyear {
    min-height: 0;

    .calendar-header {
      border-bottom: 0;
      margin-top: 7px;

      button.prev {
        right: 35px;
      }

      button.next {
        right: 4px;
      }

    }

    .popup-footer {
      margin-top: 6px;

      button {
        width: 100%;
      }
    }
  }

  tr {
    text-align: center;
  }

  // Header
  thead {
    th {
      @include rem(font-size, 1.4rem);
      color: $datepicker-day-color;
      margin: 20px;
      text-transform: uppercase;
      width: 35px;
    }
  }

  // Cells / Days
  td {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 40px;
    width: 39px;

    span {
      @include rem(font-size, 1.4rem);
      border-radius: 50%;
      color: $datepicker-day-color;
      cursor: pointer;
      display: block;
      height: 36px;
      line-height: 36px;
      margin: 1px;
      transition: .2s background-color ease;
      width: 36px;
    }

    //Other month color
    &.alternate {
      span {
        color: $datepicker-alternate-month-color;
      }
    }

    //Today
    &.is-today,
    &.is-today:focus {
      //border-color: $datepicker-today-color;
      // color: $datepicker-today-color;
      // font-weight: bold;

      span {
        color: $datepicker-today-color;
        font-weight: bold;
      }

      &.is-selected,
      &.is-selected span {
        color: $datepicker-selected-color;
      }
    }

    //Selected
    &:hover span {
      background-color: $datepicker-hover-bg-color;
    }

    //Color Coded
    &.is-colored.is-selected span {
      height: 34px;
      line-height: 34px;
      margin: 2px;
      width: 34px;
    }

    &.is-disabled,
    &.is-disabled:active {
      @include unselectable;

      span {
        background-color: $datepicker-disabled-bg-color;
        color: $datepicker-disabled-color;
        cursor: default;
      }
    }

    &.is-selected,
    &.is-selected:hover {
      // color: $datepicker-selected-color;

      span {
        background-color: $datepicker-selected-bg-color;
        color: $datepicker-selected-color;
      }
    }

    &:focus {
      border-color: $datepicker-focus-border-color;
      outline: none;
      -moz-outline-style: none;
    }

    // &:focus:not(.is-selected) {
    //   box-shadow: 0 0 0 2px $popover-bg-color inset;
    // }

    &:active span {
      background-color: $datepicker-selected-bg-color;
      color: $datepicker-selected-color;
    }

  }

  &.is-timepicker {
    td {
      &:focus {
        border-color: $datepicker-focus-border-color;
      }
    }
  }

  .datepicker-timepicker {
    border: 0;
    box-shadow: none;
    left: 0;
    margin-bottom: -40px;
    position: relative;
    top: -108px;
    width: 300px;
  }

  .calendar-table {
    margin: 17px auto 0;
    padding: 0 10px;
    width: 100%;

    thead {
      height: 20px;
      vertical-align: top;
    }
  }
}

// Header Area of Calendar
.calendar-header {
  border-bottom: 1px solid $popover-separator-color;
  height: 49px;
  line-height: 50px;
  position: relative;
  text-align: left;
  text-indent: 18px;

  button {
    background-color: $popover-bg-color;
    border: 1px solid transparent;
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0;
    min-height: 30px;
    min-width: 30px;
    position: absolute;
    top: 8px;
    transition: border-color .3s ease;
    width: 30px;

    .icon {
      height: 24px;
      width: 24px;
    }

    &.prev {
      right: 44px;
    }

    &.next {
      right: 8px;
    }

  }

  .month,
  .year {
    @include font-size(18);
    color: $datepicker-month-year-color;
  }

  .dropdown-wrapper {
    text-indent: 0;
    width: 120px;
  }

  #year-dropdown + .dropdown-wrapper {
    left: 10px;
    width: 80px;
  }
}

//Calendar legend
.calendar-legend {
  margin: 0 auto;
  max-width: 300px;
  padding: 10px 5px 0;

  .calendar-legend-item {
    display: inline-block;
  }

  .calendar-legend-text {
    @include font-size(11);
    color: $chart-font-color;
    padding: 0 17px 0 8px;
    position: relative;
    top: -2px;
  }

  .calendar-legend-swatch {
    display: inline-block;
    height: 12px;
    width: 12px;
  }
}

// Popup Adjustments
#calendar-popup {
  border-radius: 2px;
  max-width: inherit;

  .tooltip-content {
    padding: 0;
  }
}

// Short fields
.field-short {
  .datepicker {
    padding-right: 24px;

    + .icon {
      height: 13px;
      margin-left: -22px;
      margin-top: 6px;
    }
  }
}

//RTL Styles
html[dir='rtl'] {

  .datepicker {
    + .icon,
    + .tooltip-description + .icon {
      margin-left: inherit;
      margin-right: -24px;
    }

    + .icon + .icon-error {
      margin-left: inherit;
      margin-right: -50px;
    }

    + .audible + .icon + .icon-error {
      margin-left: inherit;
      margin-right: -50px;
    }
  }

  // Header Area of Calendar
  .calendar-header {
    padding-right: 0;
    text-align: right;

    .month {
      padding-left: 5px;
    }

    #year-dropdown + .dropdown-wrapper {
      left: 0;
      right: 5px;
    }

    button {
      left: 0;
      right: auto;

      &.prev {
        margin: 3px 0 0 5px;

        svg {
          left: auto;
          right: 0;
        }
      }

      &.next {
        left: 30px;
        margin: 3px 5px 0 0;
        right: auto;

        svg {
          left: auto;
          right: 0;
        }
      }

    }
  }

  .calendar {
    td {
      span {
        margin-left: inherit;
        margin-right: 1px;
      }
    }
  }


  //Footer Buttons
  .calendar-footer {
    button {
      border-left: 1px solid transparent;
      border-right: 1px solid $popover-separator-color;
      float: right;
      margin: 0;

      &:nth-child(1) {
        border-left: 1px solid $popover-separator-color;
        border-right: 1px solid transparent;
      }
    }
  }

  // Short fields
  .field-short {
    .datepicker {
      padding-left: 24px;
      padding-right: 2px;

      + .icon {
        margin-left: inherit;
        margin-right: -20px;
      }
    }
  }
}


// IE Hack
.ie9,
.ie10,
.ie11 {

  .datepicker + .icon {
    background-color: rgba($white, 0);
  }

  .calendar-header {
    line-height: normal;
    padding-left: 18px;
    text-indent: inherit;

    .month,
    .year {
      position: relative;
      top: 15px;
    }

    .btn-icon {
      top: 11px;
    }
  }

  .is-monthyear {

    .month,
    .year {
      line-height: normal;
      position: relative;
      top: 7px;
    }

    .calendar-header {
      margin-bottom: -8px;
      margin-top: 12px;

      button {
        top: 4px;
      }
    }
  }
}
