
<div class="row">
  <div class="two-thirds column">
      <div class="widget">
        <div class="widget-header">
          <h2 class="widget-title">Column Chart Example</h2>
        </div>
        <div class="widget-content">
          <div id="column-bar-example" class="chart-container">
          </div>
        </div>
      </div>
  </div>
</div>

{{={{{ }}}=}}

<script>
$('body').on('initialized', function () {

    var dataset = [{
            data: [{
                name: 'Automotive',
                shortName: 'Auto',
                abbrName: 'A',
                value: 7,
                tooltip: 'Custom Tooltip - {{value}}',
                attributes: [
                 { name: 'id', value: 'column-auto' },
                 { name: 'data-automation-id', value: 'automation-id-column-auto' }
               ]
            }, {
                name: 'Distribution',
                shortName: 'Dist',
                abbrName: 'D',
                value: 10,
                attributes: [
                 { name: 'id', value: 'column-dist' },
                 { name: 'data-automation-id', value: 'automation-id-column-dist' }
               ]
            }, {
                name: 'Equipment',
                shortName: 'Equip',
                abbrName: 'E',
                value: 14,
                attributes: [
                 { name: 'id', value: 'column-equip' },
                 { name: 'data-automation-id', value: 'automation-id-column-equip' }
               ]
            }, {
                name: 'Fashion',
                shortName: 'Fash',
                abbrName: 'F',
                value: 10,
                attributes: [
                 { name: 'id', value: 'column-fash' },
                 { name: 'data-automation-id', value: 'automation-id-column-fash' }
               ]
            }, {
                name: 'Food',
                shortName: 'Food',
                abbrName: 'F',
                value: 14,
                attributes: [
                 { name: 'id', value: 'column-food' },
                 { name: 'data-automation-id', value: 'automation-id-column-food' }
               ]
            }, {
                name: 'Healthcare',
                shortName: 'Health',
                abbrName: 'H',
                value: 8,
                attributes: [
                 { name: 'id', value: 'column-health' },
                 { name: 'data-automation-id', value: 'automation-id-column-health' }
               ]
            }, {
                name: 'Other',
                shortName: 'Other',
                abbrName: 'O',
                value: 7,
                attributes: [
                 { name: 'id', value: 'column-other' },
                 { name: 'data-automation-id', value: 'automation-id-column-other' }
               ]
            }]
          }];

    $('#column-bar-example').chart({type: 'column', dataset: dataset});

});
</script>
