
<div class="row">
  <div class="two-thirds column">
      <div class="widget">
        <div class="widget-header">
          <h2 class="widget-title">Column Chart Example</h2>
        </div>
        <div class="widget-content">
          <div id="column-bar-example" class="chart-container">
          </div>
        </div>
      </div>
  </div>
  <div class="two-thirds column">
    <div class="widget">
      <div class="widget-header">
        <h2 class="widget-title">Grouped Column Chart</h2>
      </div>
      <div class="widget-content">
        <div id="column-grouped-example" class="chart-container">
        </div>
      </div>
    </div>
</div>
</div>

<div class="row">
  <div class="two-thirds column">
      <button class="btn-secondary" type="button" id="btn-toggle-legend">Toggle Legend</button>
  </div>
</div>

<script>
$('body').on('initialized', function () {
    var datasetSingle = [{
            data: [{
                name: 'Automotive',
                shortName: 'Auto',
                abbrName: 'A',
                value: 7,
                color: '#dc62d5'
            }, {
                name: 'Distribution',
                shortName: 'Dist',
                abbrName: 'D',
                value: 10,
                color: '#efcc9f'
            }, {
                name: 'Equipment',
                shortName: 'Equip',
                abbrName: 'E',
                value: 14,
                color: '#8ED1C6'
            }, {
                name: 'Fashion',
                shortName: 'Fash',
                abbrName: 'F',
                value: 10,
                color: '#f60fa9'     
            }],
            name: 'Monthly Target',
            color: '#efcc9f'
        }];
    
    var datasetGrouped = [{
        data: [{
            name: 'Jan',
            value: 12,
            color: '#efcc9f',
            attributes: [
             { name: 'id', value: 'columngrouped-c1-jan' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c1-jan' }
           ]
        }, {
            name: 'Feb',
            value: 11,
            attributes: [
             { name: 'id', value: 'columngrouped-c1-feb' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c1-feb' }
           ]
        }, {
            name: 'Mar',
            value: 14,
            attributes: [
             { name: 'id', value: 'columngrouped-c1-mar' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c1-mar' }
           ]
        }, {
            name: 'Apr',
            value: 10,
            attributes: [
             { name: 'id', value: 'columngrouped-c1-apr' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c1-apr' }
           ]
        }, {
            name: 'May',
            value: 14,
            attributes: [
             { name: 'id', value: 'columngrouped-c1-may' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c1-may' }
           ]
        }, {
            name: 'Jun',
            value: 8,
            attributes: [
             { name: 'id', value: 'columngrouped-c1-jun' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c1-jun' }
           ]
        }],
        name: 'Component A',
        color: '#8ED1C6'
        
      }, {
        data: [{
            name: 'Jan',
            value: 22,
            attributes: [
             { name: 'id', value: 'columngrouped-c2-jan' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c2-jan' }
           ]
        }, {
            name: 'Feb',
            value: 21,
            attributes: [
             { name: 'id', value: 'columngrouped-c2-feb' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c2-feb' }
           ]
        }, {
            name: 'Mar',
            value: 24,
            attributes: [
             { name: 'id', value: 'columngrouped-c2-mar' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c2-mar' }
           ]
        }, {
            name: 'Apr',
            value: 20,
            attributes: [
             { name: 'id', value: 'columngrouped-c2-apr' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c2-apr' }
           ]
        }, {
            name: 'May',
            value: 24,
            attributes: [
             { name: 'id', value: 'columngrouped-c2-may' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c2-may' }
           ]
        }, {
            name: 'Jun',
            value: 28,
            attributes: [
             { name: 'id', value: 'columngrouped-c2-jun' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c2-jun' }
           ]
        }],
        name: 'Component B'
      }, {
        data: [{
            name: 'Jan',
            value: 32,
            attributes: [
             { name: 'id', value: 'columngrouped-c3-jan' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c3-jan' }
           ]
        }, {
            name: 'Feb',
            value: 31,
            attributes: [
             { name: 'id', value: 'columngrouped-c3-feb' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c3-feb' }
           ]
        }, {
            name: 'Mar',
            value: 34,
            attributes: [
             { name: 'id', value: 'columngrouped-c3-mar' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c3-mar' }
           ]
        }, {
            name: 'Apr',
            value: 30,
            attributes: [
             { name: 'id', value: 'columngrouped-c3-apr' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c3-apr' }
           ]
        }, {
            name: 'May',
            value: 34,
            attributes: [
             { name: 'id', value: 'columngrouped-c3-may' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c3-may' }
           ]
        }, {
            name: 'Jun',
            value: 38,
            attributes: [
             { name: 'id', value: 'columngrouped-c3-jun' },
             { name: 'data-automation-id', value: 'automation-id-columngrouped-c3-jun' }
           ]
        }],
        name: 'Component C'
    }];

    // Set variables
    var apiSingle,
      elemSingle = $('#column-bar-example'),
      btnToggle = $('#btn-toggle-legend'),
      optionsSingle = {type: 'column', dataset: datasetSingle, showLegend: false},

      apiGrouped,
      elemGrouped = $('#column-grouped-example'),
      optionsGrouped = {type: 'column-grouped', dataset: datasetGrouped, showLegend: false},

      // Toggle api option "showLegend"
      showLegendToggle = function() {
        optionsSingle.showLegend = !optionsSingle.showLegend;
        optionsGrouped.showLegend = !optionsGrouped.showLegend;
      },

      // Initialize charts
      init = function() {
        apiSingle = elemSingle.chart(optionsSingle).data('chart');
        apiGrouped = elemGrouped.chart(optionsGrouped).data('chart');
      },

      // Destroy charts
      destroy = function() {
        if (apiSingle && apiSingle.destroy) {
          apiSingle.destroy();
        }

        if (apiGrouped && apiGrouped.destroy) {
          apiGrouped.destroy();
        }
      };

    // Bind toggle button
    btnToggle.on('click', function() {
      showLegendToggle();
      destroy();
      init();
    });

    // Initialize charts first time
    init();

});
</script>
