// New Theme Editor
//================================================== //

@import '../toolbar/toolbar-new';

.toolbar.formatter-toolbar,
.flex-toolbar.formatter-toolbar {
  .separator {
    height: 18px;
    margin: 1px 11px 0 7px;
  }

  [class^='btn'] {
    margin-top: 3px;
    min-height: 24px;

    &:first-child {
      margin-left: $ids-number-spacing-base;
    }

    &.btn-editor .icon:not(.icon-dropdown) {
      height: 18px;
      margin: -4px 1px 0;
      width: 18px;
    }

    &.btn-editor[data-element='h3'],
    &.btn-editor[data-element='h4'] {
      margin-right: $ids-number-spacing-base;
      min-width: 32px;

      .icon {
        margin-left: auto;
        width: 30px;
      }
    }

    &.btn-editor[data-element='foreColor'] .icon,
    &.btn-editor[data-element='foreColor'] .icon {
      margin-right: 4px;
      margin-top: auto;
    }

    &.btn-editor.colorpicker-editor-button {
      right: 7px;

      > span.swatch {
        background-color: $editor-btn-color;
        display: flex;
        height: 0.25rem;
        position: relative;
        top: 19px;
        left: 2.6px;
        width: 1.5rem;
      }
    }

    &.btn-editor[data-element='b'] .icon {
      height: 18px;
      margin: -4px 0 0 2px;
      width: 18px;
    }

    &.btn-editor[data-element='i'] .icon {
      height: 18px;
      margin: -4px 0 0 1px;
      width: 18px;
    }

    &.btn-editor[data-element='u'] .icon {
      height: 18px;
      margin: -2px 0 0 1px;
      width: 18px;
    }

    &.btn-editor[data-element='strike'] .icon {
      height: 18px;
      margin: -4px 0 0 1px;
      width: 18px;
    }

    &.btn-editor[data-element='foreColor'] {
      .icon {
        height: 18px;
        margin: -2px 0 0 1px;
        width: 18px;
      }

      .trigger .icon {
        margin: -6px 0 0 1px;
      }
    }

    &.btn-editor[data-element='ul'] {
      margin-right: 10px;

      .icon {
        height: 18px;
        left: 0 !important;
        margin: -3px 0 1px;
        width: 18px;
      }
    }

    &.btn-editor[data-element='a'] {
      .icon {
        height: 18px;
        margin: -4px 1px 0;
        width: 18px;
      }
    }

    &.btn-editor[data-action='insertunorderedlist'] {
      .icon {
        left: 8px;
        position: relative;
      }
    }

    &.btn-editor .icon.html-icon {
      height: 30px;
      margin: -4px 2px 0;
      width: 40px;
    }

    &.btn-editor .icon.visual-icon {
      height: 30px;
      margin: -3px 2px 0;
      width: 52px;
    }
  }

  .more {
    [class^='btn'].btn-editor .icon:not(.icon-dropdown) {
      height: 18px;
      margin: -6px -1px 0;
      width: 18px;
    }
  }
}

.editor-container .icon-dirty {
  top: 61px;
}

.editor {
  p {
    line-height: 2.6rem;
  }
}

.is-safari {
  .flex-toolbar.formatter-toolbar {
    > * {
      display: unset;
    }
  }
}
