// Uplift Editor
//================================================== //

.toolbar.formatter-toolbar,
.flex-toolbar.formatter-toolbar {
  .separator {
    height: 17px;
    margin: 3px 15px 0 3px;
  }

  [class*='btn'] {
    margin-top: 4px;
    min-height: 24px;

    &:first-child {
      margin-left: $theme-number-spacing-base;
    }

    &[data-element='foreColor'] .icon,
    &[data-element='foreColor'] .icon {
      margin-right: 4px;
      margin-top: auto;
    }

    &[data-element='u'] .icon {
      height: 17px;
      margin-top: 1px;
    }

    &[data-element='h3'],
    &[data-element='h4'] {
      margin-right: $theme-number-spacing-base;
      min-width: 32px;

      .icon {
        margin-left: auto;
        width: 30px;
      }
    }

    &[data-action='insertunorderedlist'] {
      .icon {
        left: 8px;
        position: relative;
      }
    }

    &[data-action='visual'] {
      .visual-icon {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .html-icon {
      margin-left: 3px;
      margin-right: 2px;
      width: 45px;
    }
  }
}

.editor-container .icon-dirty {
  top: 61px;
}

.is-safari {
  .flex-toolbar.formatter-toolbar {
    > * {
      display: unset;
    }
  }
}

// IE/Edge have different icon alignments
.ie-edge {
  .toolbar.formatter-toolbar,
  .flex-toolbar.formatter-toolbar {
    [class*='btn'] {
      &[data-action='visual'] {
        width: 85px;
      }
    }
  }
}
