.toolbar.formatter-toolbar [class^='btn'],
.flex-toolbar.formatter-toolbar [class^='btn'] {
  font-size: unset;
  height: 22px;
  margin-top: 5px;
}

.toolbar.formatter-toolbar [class^='btn'][data-element='foreColor'] .icon,
.flex-toolbar.formatter-toolbar [class^='btn'][data-element='foreColor'] .icon {
  margin-right: 4px;
  margin-top: unset;
}
