  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          animate
        </td>
        <td>
          
        </td>
        <td>
          true|false - will do or not do the animation.
'initial' will do only first time the animation.

        </td>
      </tr>
      <tr>
        <td>
          redrawOnResize
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, the component will not resize when resizing the page.

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The new settings to use.
 </span>
                
          
        </td>
        <td>
          <p>Handle updated settings and values.</p>

        </td>
        <td>
          The api for chaining.
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown - Remove added markup and events.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
