<div class="row">
  <div class="six columns">
    <h2>Contextual Action Panel - Tabs Vertical</h2>
    <br />
  </div>
</div>

<div class="row">
  <div class="six columns">
    <button type="button" id="cap-trigger" data-init="false" class="btn-secondary contextual-action-panel-trigger">CAP - Tabs Vertical</button>

    <div id="test-cap-1" class="contextual-action-panel tabs-modal page-container" style="display: none;">
      <div class="toolbar">
        <div class="title">CAP - Tabs Vertical</div>
      </div>
      <div class="vertical tab-container" data-options='{ "verticalResponsive": true }'>
        <div class="tab-list-container scrollable-y">
          <div class="tab-list-info">
            <h4>Configuration Categories</h4>
            <p>Here's some additional information about the below categories that you can use to make decisions.</p>
          </div>

          <ul class="tab-list">
            <li class="tab">
              <a id="tab-test-info-a" data-automation-id="tab-test-info-a" href="#test-info">Test Information</a>
            </li>
            <li class="tab is-selected">
              <a id="tab-product-level-a" data-automation-id="tab-product-level-a" href="#product-level">Product
                Level</a>
            </li>
            <li class="tab">
              <a id="tab-kpis-a" data-automation-id="tab-kpis-a" href="#kpis">KPIs</a>
            </li>
            <li class="tab">
              <a id="tab-customer-unit-level-a" data-automation-id="tab-customer-unit-level-a"
                href="#customer-unit-level">Customer Unit Level</a>
            </li>
            <li class="tab hidden">
              <a id="tab-hidden-a" data-automation-id="tab-hidden-a" href="#hidden">Hidden</a>
            </li>
            <li class="tab">
              <a id="tab-excluded-date-ranges-a" data-automation-id="tab-excluded-date-ranges-a"
                href="#excluded-date-ranges">Excluded Date Ranges</a>
            </li>
            <li class="tab">
              <a id="tab-exclusions-by-invoice-lines-a" data-automation-id="tab-exclusions-by-invoice-lines-a"
                href="#exclusions-by-invoice-lines">Exclusions by Invoice Lines</a>
            </li>
            <li class="tab is-disabled">
              <a id="exclusions-by-product-status" data-automation-id="tab-exclusions-by-product-status-a"
                href="#exclusions-by-product-status">Exclusions by Product Status</a>
            </li>
            <li class="tab">
              <a id="tab-excluded-customers-a" data-automation-id="tab-excluded-customers-a"
                href="#excluded-customers">Excluded Customers</a>
            </li>
            <li class="tab">
              <a id="tab-excluded-customer-ship-tos-a" data-automation-id="tab-excluded-customer-ship-tos-a"
                href="#excluded-customer-ship-tos">Excluded Customer Ship-tos</a>
            </li>
            <li class="tab">
              <a id="tab-excluded-product-groups-a" data-automation-id="tab-excluded-product-groups-a"
                href="#excluded-product-groups">Excluded Product Groups</a>
            </li>
            <li class="tab">
              <a id="tab-excluded-vendors-a" data-automation-id="tab-excluded-vendors-a"
                href="#excluded-vendors">Excluded Vendors</a>
            </li>
            <li class="tab">
              <a id="tab-kpis-a" data-automation-id="tab-extras1-a" href="#extras1">Extras 1</a>
            </li>
            <li class="tab">
              <a id="tab-kpis-a" data-automation-id="tab-extras2-a" href="#extras2">Extras 2</a>
            </li>
            <li class="tab">
              <a id="tab-kpis-a" data-automation-id="tab-extras3-a" href="#extras3">Extras 3</a>
            </li>
            <li class="tab">
              <a id="tab-kpis-a" data-automation-id="tab-extras4-a" href="#extras4">Extras 4</a>
            </li>
            <li class="tab">
              <a id="tab-kpis-a" data-automation-id="tab-extras5-a" href="#extras5">Extras 5</a>
            </li>
          </ul>

          <div class="tab-list-info">
            <button type="button" id="action-run" data-automation-id="tabs-action-run-btn" class="btn-primary">
              <span>Run</span>
            </button>
          </div>

        </div><!-- .tab-list-container -->
      </div><!-- .vertical.tab-container -->

      <div class="tab-panel-container scrollable-y">
        <div id="test-info" class="tab-panel">
          <h3 class="section-title">Test Information</h3>
          <p>Back-end interactive supply-chains, enterprise sticky user-contributed robust platforms innovative; harness
            frictionless incentivize optimize? Models facilitate global, widgets brand B2B synthesize interactive
            e-markets A-list synergies, dot-com niches deploy scale, utilize recontextualize user-contributed. Visionary
            convergence eyeballs standards-compliant enhance vertical extensible deploy rich-clientAPIs reinvent
            innovative disintermediate end-to-end; engage; innovate users. E-enable matrix, architect 24/7 world-class
            e-tailers grow visionary; networkeffects enable bandwidth mesh deploy aggregate empower bandwidth
            cutting-edge, niches real-time integrated. Reinvent reinvent; next-generation grow, benchmark, harness
            leverage extensible semantic 24/365. Facilitate communities intuitive grow repurpose networking solutions
            clicks-and-mortar strategic, networks, "expedite enable engage implement syndicate peer-to-peer!"</p>

          <p>Paradigms integrate web-enabled, iterate virtual users networking platforms authentic podcasts integrate
            weblogs, cutting-edge. Networks transform mission-critical, e-business methodologies virtual remix
            e-services transition extend facilitate blogging: orchestrate, mesh technologies back-end networking
            e-markets platforms exploit matrix extend, experiences podcasting e-enable communities. Schemas. Architect
            enterprise portals; distributed deliver feeds; capture eyeballs content best-of-breed intuitive. Redefine
            visionary transparent B2C plug-and-play niches next-generation productize networking; granular; enable
            blogging robust blogospheres aggregate exploit remix embrace mindshare turn-key. Enable cultivate;
            repurpose. Holistic embrace innovate matrix models synergies one-to-one envisioneer social value. Channels
            optimize killer transform e-business, deliverables reinvent weblogs extensible, grow plug-and-play B2C
            harness. Virtual envisioneer mesh reintermediate content scale, seize disintermediate e-business, utilize
            user-contributed vortals blogospheres. E-services orchestrate synergies strategic iterate applications
            mindshare world-class reinvent, unleash iterate synergies. Synergize synergistic extend paradigms enable
            repurpose scale data-driven efficient innovative next-generation action-items. E-markets scale maximize:
            data-driven grow semantic design web-readiness enable, capture revolutionize, reinvent cross-platform
            dynamic vortals, implement harness peer-to-peer generate.</p>

          <p>Synergistic killer enable enable relationships enhance addelivery, extend granular one-to-one addelivery
            standards-compliant strategic mashups. Value-added 24/7 empower virtual, models portals architect evolve
            killer customized facilitate enterprise widgets extend innovative iterate e-enable standards-compliant
            world-class. Facilitate networks transform morph models, distributed web-enabled facilitate customized
            one-to-one, "deliverables, 24/7," networkeffects dynamic. Customized sexy value-added benchmark sticky
            e-commerce magnetic incentivize portals, integrate remix integrate, productize ecologies, reinvent enhance
            scalable rich-clientAPIs. Users solutions, evolve integrated, embrace, eyeballs strategic front-end empower
            evolve; markets aggregate folksonomies value sexy real-time. Weblogs; webservices empower innovative
            integrate vortals recontextualize communities value-added efficient transparent dot-com magnetic webservices
            utilize, mesh." Portals, cutting-edge world-class users mashups e-enable harness tagclouds incubate
            beta-test aggregate enable, solutions.</p>

          <p>Vertical share syndicate networkeffects convergence, communities, networks communities paradigms; reinvent
            infrastructures orchestrate bricks-and-clicks value-added implement maximize tagclouds synergies:
            architectures granular. Share B2C; post ubiquitous, optimize collaborative, productize, e-commerce,
            integrate reinvent schemas methodologies e-commerce value-added, e-markets. Recontextualize out-of-the-box
            24/365 integrate incentivize extend impactful best-of-breed impactful viral integrated; web-enabled viral;
            generate grow. Back-end, user-centred granular enhance, intuitive world-class global content matrix turn-key
            global dynamic monetize webservices. Global; integrate mesh engage deliver blogging folksonomies,
            "incentivize bricks-and-clicks syndicate ubiquitous scale, eyeballs embrace harness solutions mesh
            innovative experiences visionary rich deliver." Expedite authentic e-markets, "synergize dynamic, widgets
            exploit," transparent networking revolutionary visualize grow B2C B2C brand streamline integrated
            compelling; open-source viral user-centric engage networking functionalities. Enable grow, brand impactful
            initiatives seamless leading-edge supply-chains cross-platform, cultivate networkeffects mindshare tagclouds
            disintermediate monetize, networkeffects.</p>

          <p>Exploit niches; enable A-list web-enabled holistic end-to-end. Exploit experiences value-added tagclouds,
            open-source cross-platform e-tailers, user-contributed, implement! Convergence, solutions front-end,
            "synergize markets initiatives integrateAJAX-enabled platforms; wireless, supply-chains reinvent, mindshare,
            synergies implement, drive evolve!" Post incentivize; rich-clientAPIs customized revolutionize 24/365 killer
            incentivize integrate intuitive utilize!<p>
        </div><!-- .tab-panel -->
        <div id="product-level" data-automation-id="tab-product-level-panel" class="tab-panel">
          <h3>Product Level</h3>
          <div class="field">
            <label for="product-level-type">Product Level Type</label>
            <br />
            <p>Synergistic killer enable enable relationships enhance addelivery, extend granular one-to-one addelivery
              standards-compliant strategic mashups. Value-added 24/7 empower virtual, models portals architect evolve
              killer customized facilitate enterprise widgets extend innovative iterate e-enable standards-compliant
              world-class. Facilitate networks transform morph models, distributed web-enabled facilitate customized
              one-to-one, "deliverables, 24/7," networkeffects dynamic. Customized sexy value-added benchmark sticky
              e-commerce magnetic incentivize portals, integrate remix integrate, productize ecologies, reinvent enhance
              scalable rich-clientAPIs. Users solutions, evolve integrated, embrace, eyeballs strategic front-end
              empower
              evolve; markets aggregate folksonomies value sexy real-time. Weblogs; webservices empower innovative
              integrate vortals recontextualize communities value-added efficient transparent dot-com magnetic
              webservices
              utilize, mesh." Portals, cutting-edge world-class users mashups e-enable harness tagclouds incubate
              beta-test aggregate enable, solutions.</p>
          </div>
        </div>
        <div id="kpis" data-automation-id="tab-kpis-panel" class="tab-panel">
          <h3>KPIs</h3>
          <p>Vertical share syndicate networkeffects convergence, communities, networks communities paradigms; reinvent
              infrastructures orchestrate bricks-and-clicks value-added implement maximize tagclouds synergies:
              architectures granular. Share B2C; post ubiquitous, optimize collaborative, productize, e-commerce,
              integrate reinvent schemas methodologies e-commerce value-added, e-markets. Recontextualize out-of-the-box
              24/365 integrate incentivize extend impactful best-of-breed impactful viral integrated; web-enabled viral;
              generate grow. Back-end, user-centred granular enhance, intuitive world-class global content matrix turn-key
              global dynamic monetize webservices. Global; integrate mesh engage deliver blogging folksonomies,
              "incentivize bricks-and-clicks syndicate ubiquitous scale, eyeballs embrace harness solutions mesh
              innovative experiences visionary rich deliver." Expedite authentic e-markets, "synergize dynamic, widgets
              exploit," transparent networking revolutionary visualize grow B2C B2C brand streamline integrated
              compelling; open-source viral user-centric engage networking functionalities. Enable grow, brand impactful
              initiatives seamless leading-edge supply-chains cross-platform, cultivate networkeffects mindshare tagclouds
              disintermediate monetize, networkeffects.</p>
        </div>
        <div id="customer-unit-level" data-automation-id="tab-customer-unit-level-panel" class="tab-panel">
          <h3>Customer Unit Level</h3>
          <p>Paradigms integrate web-enabled, iterate virtual users networking platforms authentic podcasts integrate
              weblogs, cutting-edge. Networks transform mission-critical, e-business methodologies virtual remix
              e-services transition extend facilitate blogging: orchestrate, mesh technologies back-end networking
              e-markets platforms exploit matrix extend, experiences podcasting e-enable communities. Schemas. Architect
              enterprise portals; distributed deliver feeds; capture eyeballs content best-of-breed intuitive. Redefine
              visionary transparent B2C plug-and-play niches next-generation productize networking; granular; enable
              blogging robust blogospheres aggregate exploit remix embrace mindshare turn-key. Enable cultivate;
              repurpose. Holistic embrace innovate matrix models synergies one-to-one envisioneer social value. Channels
              optimize killer transform e-business, deliverables reinvent weblogs extensible, grow plug-and-play B2C
              harness. Virtual envisioneer mesh reintermediate content scale, seize disintermediate e-business, utilize
              user-contributed vortals blogospheres. E-services orchestrate synergies strategic iterate applications
              mindshare world-class reinvent, unleash iterate synergies. Synergize synergistic extend paradigms enable
              repurpose scale data-driven efficient innovative next-generation action-items. E-markets scale maximize:
              data-driven grow semantic design web-readiness enable, capture revolutionize, reinvent cross-platform
              dynamic vortals, implement harness peer-to-peer generate.</p>
        </div>
        <div id="hidden" data-automation-id="tab-hidden-panel" class="tab-panel">
          <h3>Hidden</h3>
          <p>Paradigms integrate web-enabled, iterate virtual users networking platforms authentic podcasts integrate
              weblogs, cutting-edge. Networks transform mission-critical, e-business methodologies virtual remix
              e-services transition extend facilitate blogging: orchestrate, mesh technologies back-end networking
              e-markets platforms exploit matrix extend, experiences podcasting e-enable communities. Schemas. Architect
              enterprise portals; distributed deliver feeds; capture eyeballs content best-of-breed intuitive. Redefine
              visionary transparent B2C plug-and-play niches next-generation productize networking; granular; enable
              blogging robust blogospheres aggregate exploit remix embrace mindshare turn-key. Enable cultivate;
              repurpose. Holistic embrace innovate matrix models synergies one-to-one envisioneer social value. Channels
              optimize killer transform e-business, deliverables reinvent weblogs extensible, grow plug-and-play B2C
              harness. Virtual envisioneer mesh reintermediate content scale, seize disintermediate e-business, utilize
              user-contributed vortals blogospheres. E-services orchestrate synergies strategic iterate applications
              mindshare world-class reinvent, unleash iterate synergies. Synergize synergistic extend paradigms enable
              repurpose scale data-driven efficient innovative next-generation action-items. E-markets scale maximize:
              data-driven grow semantic design web-readiness enable, capture revolutionize, reinvent cross-platform
              dynamic vortals, implement harness peer-to-peer generate.</p>
        </div>
        <div id="excluded-date-ranges" data-automation-id="tab-excluded-date-ranges-panel" class="tab-panel">
          <h3>Excluded Date Ranges</h3>
          <p>Exploit niches; enable A-list web-enabled holistic end-to-end. Exploit experiences value-added tagclouds,
            open-source cross-platform e-tailers, user-contributed, implement! Convergence, solutions front-end,
            "synergize markets initiatives integrateAJAX-enabled platforms; wireless, supply-chains reinvent, mindshare,
            synergies implement, drive evolve!" Post incentivize; rich-clientAPIs customized revolutionize 24/365 killer
            incentivize integrate intuitive utilize!<p>
        </div>
        <div id="exclusions-by-invoice-lines" data-automation-id="tab-exclusions-by-invoice-lines-panel"
          class="tab-panel">
          <h3>Exclusions by Invoice Lines</h3>
          <p>Back-end interactive supply-chains, enterprise sticky user-contributed robust platforms innovative; harness
              frictionless incentivize optimize? Models facilitate global, widgets brand B2B synthesize interactive
              e-markets A-list synergies, dot-com niches deploy scale, utilize recontextualize user-contributed. Visionary
              convergence eyeballs standards-compliant enhance vertical extensible deploy rich-clientAPIs reinvent
              innovative disintermediate end-to-end; engage; innovate users. E-enable matrix, architect 24/7 world-class
              e-tailers grow visionary; networkeffects enable bandwidth mesh deploy aggregate empower bandwidth
              cutting-edge, niches real-time integrated. Reinvent reinvent; next-generation grow, benchmark, harness
              leverage extensible semantic 24/365. Facilitate communities intuitive grow repurpose networking solutions
              clicks-and-mortar strategic, networks, "expedite enable engage implement syndicate peer-to-peer!"</p>
        </div>
        <div id="exclusions-by-product-status" data-automation-id="tab-exclusions-by-product-status-panel"
          class="tab-panel">
          <h3>Exclusions by Product Status</h3>
          <p>Back-end interactive supply-chains, enterprise sticky user-contributed robust platforms innovative; harness
              frictionless incentivize optimize? Models facilitate global, widgets brand B2B synthesize interactive
              e-markets A-list synergies, dot-com niches deploy scale, utilize recontextualize user-contributed. Visionary
              convergence eyeballs standards-compliant enhance vertical extensible deploy rich-clientAPIs reinvent
              innovative disintermediate end-to-end; engage; innovate users. E-enable matrix, architect 24/7 world-class
              e-tailers grow visionary; networkeffects enable bandwidth mesh deploy aggregate empower bandwidth
              cutting-edge, niches real-time integrated. Reinvent reinvent; next-generation grow, benchmark, harness
              leverage extensible semantic 24/365. Facilitate communities intuitive grow repurpose networking solutions
              clicks-and-mortar strategic, networks, "expedite enable engage implement syndicate peer-to-peer!"</p>
        </div>
        <div id="excluded-customers" data-automation-id="tab-excluded-customers-panel" class="tab-panel">
          <h3>Excluded Customers</h3>
          <p>Back-end interactive supply-chains, enterprise sticky user-contributed robust platforms innovative; harness
              frictionless incentivize optimize? Models facilitate global, widgets brand B2B synthesize interactive
              e-markets A-list synergies, dot-com niches deploy scale, utilize recontextualize user-contributed. Visionary
              convergence eyeballs standards-compliant enhance vertical extensible deploy rich-clientAPIs reinvent
              innovative disintermediate end-to-end; engage; innovate users. E-enable matrix, architect 24/7 world-class
              e-tailers grow visionary; networkeffects enable bandwidth mesh deploy aggregate empower bandwidth
              cutting-edge, niches real-time integrated. Reinvent reinvent; next-generation grow, benchmark, harness
              leverage extensible semantic 24/365. Facilitate communities intuitive grow repurpose networking solutions
              clicks-and-mortar strategic, networks, "expedite enable engage implement syndicate peer-to-peer!"</p>
        </div>
        <div id="excluded-customer-ship-tos" data-automation-id="tab-excluded-customer-ship-tos-panel"
          class="tab-panel">
          <h3>Excluded Customer Ship-tos</h3>
          <p>Back-end interactive supply-chains, enterprise sticky user-contributed robust platforms innovative; harness
              frictionless incentivize optimize? Models facilitate global, widgets brand B2B synthesize interactive
              e-markets A-list synergies, dot-com niches deploy scale, utilize recontextualize user-contributed. Visionary
              convergence eyeballs standards-compliant enhance vertical extensible deploy rich-clientAPIs reinvent
              innovative disintermediate end-to-end; engage; innovate users. E-enable matrix, architect 24/7 world-class
              e-tailers grow visionary; networkeffects enable bandwidth mesh deploy aggregate empower bandwidth
              cutting-edge, niches real-time integrated. Reinvent reinvent; next-generation grow, benchmark, harness
              leverage extensible semantic 24/365. Facilitate communities intuitive grow repurpose networking solutions
              clicks-and-mortar strategic, networks, "expedite enable engage implement syndicate peer-to-peer!"</p>
        </div>
        <div id="excluded-product-groups" data-automation-id="tab-excluded-product-groups-panel" class="tab-panel">
          <h3>Excluded Product Groups</h3>
          <p>Back-end interactive supply-chains, enterprise sticky user-contributed robust platforms innovative; harness
              frictionless incentivize optimize? Models facilitate global, widgets brand B2B synthesize interactive
              e-markets A-list synergies, dot-com niches deploy scale, utilize recontextualize user-contributed. Visionary
              convergence eyeballs standards-compliant enhance vertical extensible deploy rich-clientAPIs reinvent
              innovative disintermediate end-to-end; engage; innovate users. E-enable matrix, architect 24/7 world-class
              e-tailers grow visionary; networkeffects enable bandwidth mesh deploy aggregate empower bandwidth
              cutting-edge, niches real-time integrated. Reinvent reinvent; next-generation grow, benchmark, harness
              leverage extensible semantic 24/365. Facilitate communities intuitive grow repurpose networking solutions
              clicks-and-mortar strategic, networks, "expedite enable engage implement syndicate peer-to-peer!"</p>
        </div>
        <div id="excluded-vendors" data-automation-id="tab-excluded-vendors-panel" class="tab-panel">
          <h3>Excluded Vendors</h3>
          <p>Back-end interactive supply-chains, enterprise sticky user-contributed robust platforms innovative; harness
              frictionless incentivize optimize? Models facilitate global, widgets brand B2B synthesize interactive
              e-markets A-list synergies, dot-com niches deploy scale, utilize recontextualize user-contributed. Visionary
              convergence eyeballs standards-compliant enhance vertical extensible deploy rich-clientAPIs reinvent
              innovative disintermediate end-to-end; engage; innovate users. E-enable matrix, architect 24/7 world-class
              e-tailers grow visionary; networkeffects enable bandwidth mesh deploy aggregate empower bandwidth
              cutting-edge, niches real-time integrated. Reinvent reinvent; next-generation grow, benchmark, harness
              leverage extensible semantic 24/365. Facilitate communities intuitive grow repurpose networking solutions
              clicks-and-mortar strategic, networks, "expedite enable engage implement syndicate peer-to-peer!"</p>
        </div>
      </div><!-- .tab-panel-container -->
    </div><!-- .contextual-action-panel -->
  </div>
</div>

<script id="test-cap">
  var openPanel = function () {
    $('body').contextualactionpanel({
      content: $('#test-cap-1'),
      modalSettings: {
        fullsize: 'responsive',
        trigger: 'immediate',
        showCloseBtn: true,
        breakpoint: 'wide-tablet'
      }
    });
  };

  $('#cap-trigger').on('click', function () {
    openPanel();
  });
</script>
