<div class="row">
  <div class="six columns">
    <p><b>NOTE: </b>In this example, the markup is removed when the Contextual Action Panel closes. Therefore, clicking the button a second time will not allow the CAP to re-open.</p>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">
     <button class="btn-secondary" type="button" id="show">Show Contextual Action Panel</button>
  </div>
</div>

<div id="test-cap" class="contextual-action-panel" style="display: none;">
   <div class="modal-content">
      <div class="modal-header">
         <div class="toolbar" data-init="false">
            <div class="title">Company Information</div>
            <div class="buttonset">
               <button class="btn" type="button">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                     <use xlink:href="#icon-save"></use>
                  </svg>
                  <span>Save</span>
               </button>
               <div class="separator"></div>
               <button name="close" class="btn-close" type="button">
                  <svg class="icon icon-close" focusable="false" aria-hidden="true" role="presentation">
                     <use xlink:href="#icon-close"></use>
                  </svg>
                  <span class="audible">Close</span>
               </button>
            </div>
         </div>
      </div>

      <div class="modal-body-wrapper">
         <div class="modal-body">
            <div class="row">
               <div class="six columns">
                  <div class="field">
                     <label class="inline">
                        <span class="label-text">Field 1</span>
                        <input type="text" />
                     </label>
                  </div>

                  <div class="field">
                     <label class="inline">
                        <span class="label-text">Field 2</span>
                        <input type="text" />
                     </label>
                  </div>
               </div>

               <div class="six columns">
                  <div class="field">
                     <label class="inline">
                        <span class="label-text">Field 3</span>
                        <input type="text" />
                     </label>
                  </div>

                  <div class="field">
                     <label class="inline">
                        <span class="label-text">Field 4</span>
                        <input type="text" />
                     </label>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
  $('#show').on('click', function () {
    $(this).disable();
    $('body').contextualactionpanel({
      content: $('#test-cap'),
      trigger: 'immediate'
    });
  });
</script>
