
<!-- Grid Full-->
<div class="form-responsive row">
  <div class="full column">
    <div class="field">
      <label for="full-column-fileupload-advanced">Full Column</label>
      <div class="fileupload-advanced" id="full-column-fileupload-advanced" name="full-column-fileupload-advanced" data-init="false"></div>
    </div>
  </div>
</div>

<!-- Grid Halves -->
<div class="form-responsive row">
  <div class="one-half column">
    <div class="field">
      <label for="half-column-fileupload-advanced-1">Half Column</label>
      <div class="fileupload-advanced" id="half-column-fileupload-advanced-1" name="half-column-fileupload-advanced-1" data-init="false"></div>
    </div>
  </div>

  <div class="one-half column">
    <div class="field">
      <label for="half-column-fileupload-advanced-2">Half Column</label>
      <div class="fileupload-advanced" id="half-column-fileupload-advanced-2" name="half-column-fileupload-advanced-2" data-init="false"></div>
    </div>
  </div>
</div>

<!-- Grid Thirds -->
<div class="form-responsive row">
  <div class="one-third column">
    <div class="field">
      <label for="one-third-column-fa-1">One Third Column</label>
      <div class="fileupload-advanced" id="one-third-column-fa-1" name="one-third-column-fa-1" data-init="false"></div>
    </div>
  </div>

  <div class="one-third column">
    <div class="field">
      <label for="one-third-column-fa-2">One Third Column</label>
      <div class="fileupload-advanced" id="one-third-column-fa-2" name="one-third-column-fa-2" data-init="false"></div>
    </div>
  </div>

  <div class="one-third column">
    <div class="field">
      <label for="one-third-column-fa-3">One Third Column</label>
      <div class="fileupload-advanced" id="one-third-column-fa-3" name="one-third-column-fa-3" data-init="false"></div>
    </div>
  </div>
</div>

<!-- Grid Thirds -->
<div class="form-responsive row">
  <div class="one-third column">
    <div class="field">
      <label for="one-third-column-fa-4">One Third Column</label>
      <div class="fileupload-advanced" id="one-third-column-fa-4" name="one-third-column-fa-4" data-init="false"></div>
    </div>
  </div>

  <div class="two-thirds column">
    <div class="field">
      <label for="two-third-column-fa-1">One Two/Third Column</label>
      <div class="fileupload-advanced" id="two-third-column-fa-1" name="two-third-column-fa-1" data-init="false"></div>
    </div>
  </div>
</div>

<div class="form-responsive row">
  <div class="two-thirds column">
    <div class="field">
      <label for="two-third-column-fa-2">Two Thirds Column</label>
      <div class="fileupload-advanced" id="two-third-column-fa-2" name="two-third-column-fa-2" data-init="false"></div>
    </div>
  </div>

  <div class="one-third column">
    <div class="field">
      <label for="two-third-column-fa-3">One Third Column</label>
      <div class="fileupload-advanced" id="two-third-column-fa-3" name="two-third-column-fa-3" data-init="false"></div>
    </div>
  </div>
</div>

<!-- Grid Fourths -->
<div class="form-responsive row">
  <div class="one-fourth column">
    <div class="field">
      <label for="one-fourth-column-fa-1">One Fourth Column</label>
      <div class="fileupload-advanced" id="one-fourth-column-fa-1" name="one-fourth-column-fa-1" data-init="false"></div>
    </div>
  </div>

  <div class="one-fourth column">
    <div class="field">
      <label for="one-fourth-column-fa-2">One Fourth Column</label>
      <div class="fileupload-advanced" id="one-fourth-column-fa-2" name="one-fourth-column-fa-2" data-init="false"></div>
    </div>
  </div>

  <div class="one-fourth column">
    <div class="field">
      <label for="one-fourth-column-fa-3">One Fourth Column</label>
      <div class="fileupload-advanced" id="one-fourth-column-fa-3" name="one-fourth-column-fa-3" data-init="false"></div>
    </div>
  </div>

  <div class="one-fourth column">
    <div class="field">
      <label for="one-fourth-column-fa-4">One Fourth Column</label>
      <div class="fileupload-advanced" id="one-fourth-column-fa-4" name="one-fourth-column-fa-4" data-init="false"></div>
    </div>
  </div>

</div>


<!-- Grid Fifths -->
<div class="form-responsive row">
  <div class="one-fifth column">
    <div class="field">
      <label for="one-fifth-fa-1">One Fifth Column</label>
      <div class="fileupload-advanced" id="one-fifth-fa-1" name="one-fifth-fa-1" data-init="false"></div>
    </div>
  </div>

  <div class="one-fifth column">
    <div class="field">
      <label for="one-fifth-fa-2">One Fifth Column</label>
      <div class="fileupload-advanced" id="one-fifth-fa-2" name="one-fifth-fa-2" data-init="false"></div>
    </div>
  </div>

  <div class="one-fifth column">
    <div class="field">
      <label for="one-fifth-fa-3">One Fifth Column</label>
      <div class="fileupload-advanced" id="one-fifth-fa-3" name="one-fifth-fa-3" data-init="false"></div>
    </div>
  </div>

  <div class="one-fifth column">
    <div class="field">
      <label for="one-fifth-fa-4">One Fifth Column</label>
      <div class="fileupload-advanced" id="one-fifth-fa-4" name="one-fifth-fa-4" data-init="false"></div>
    </div>
  </div>

  <div class="one-fifth column">
    <div class="field">
      <label for="one-fifth-fa-5">One Fifth Column</label>
      <div class="fileupload-advanced" id="one-fifth-fa-5" name="one-fifth-fa-5" data-init="false"></div>
    </div>
  </div>
</div>

<!-- Grid Fifths to Twos -->
<div class="form-responsive row">

  <div class="one-fifth column one-half-mobile">
    <div class="field">
      <label for="one-fifth-mobile-fa-1">One Fifth Column / Two Up Mobile</label>
      <div class="fileupload-advanced" id="one-fifth-mobile-fa-1" name="one-fifth-mobile-fa-1" data-init="false"></div>
    </div>
  </div>

  <div class="one-fifth column one-half-mobile">
    <div class="field">
      <label for="one-fifth-mobile-fa-2">One Fifth Column / Two Up Mobile</label>
      <div class="fileupload-advanced" id="one-fifth-mobile-fa-2" name="one-fifth-mobile-fa-2" data-init="false"></div>
    </div>
  </div>

  <div class="one-fifth column one-half-mobile">
    <div class="field">
      <label for="one-fifth-mobile-fa-3">One Fifth Column / Two Up Mobile</label>
      <div class="fileupload-advanced" id="one-fifth-mobile-fa-3" name="one-fifth-mobile-fa-3" data-init="false"></div>
    </div>
  </div>

  <div class="one-fifth column one-half-mobile">
    <div class="field">
      <label for="one-fifth-mobile-fa-4">One Fifth Column / Two Up Mobile</label>
      <div class="fileupload-advanced" id="one-fifth-mobile-fa-4" name="one-fifth-mobile-fa-4" data-init="false"></div>
    </div>
  </div>

  <div class="one-fifth column one-half-mobile">
    <div class="field">
      <label for="one-fifth-mobile-fa-5">One Fifth Column / Two Up Mobile</label>
      <div class="fileupload-advanced" id="one-fifth-mobile-fa-5" name="one-fifth-mobile-fa-5" data-init="false"></div>
    </div>
  </div>

</div>

<script>
  $('body').on('initialized', function() {
    $('.fileupload-advanced').fileuploadadvanced();
  });

  setTimeout(() => {
    const fileuploadAdvancedText1 = $('#half-column-fileupload-advanced-1 label.fileupload-adv-browse-lbl > span');
    const fileuploadAdvancedText2 = $('#half-column-fileupload-advanced-2 label.fileupload-adv-browse-lbl > span');

    const loremIpsumText = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at tellus ultricies, viverra lorem eu, tincidunt lectus. Nulla facilisi. Integer id arcu in ante lacinia congue. Ut at elit aliquet, mollis nulla non, vulputate leo. Suspendisse potenti. Morbi at dolor a leo sollicitudin aliquam. Nullam tincidunt odio non quam blandit, eget feugiat elit semper. Mauris dapibus sem sit amet enim venenatis, eget malesuada elit luctus. Donec pretium magna id nibh posuere, ac vestibulum risus tincidunt. Nam id ipsum in libero posuere laoreet. Curabitur vitae neque justo. Sed scelerisque magna nec dolor finibus, vel gravida odio mattis. In hac habitasse platea dictumst. Vivamus et eros vehicula, rhoncus odio sit amet, sollicitudin elit.';
    
    fileuploadAdvancedText1.text(loremIpsumText);
    fileuploadAdvancedText2.text(loremIpsumText);
  }, 100);
</script>
