<!DOCTYPE html>
<html lang="en-US">
<head>

  <title>{{title}}</title>

  <!-- Meta Info -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Style Sheets -->
  <link rel="stylesheet" id="stylesheet" href="{{basepath}}stylesheets/light-theme.css" type="text/css">
  <link rel="stylesheet" href="{{basepath}}stylesheets/site.css" type="text/css">

  <!-- jQuery and Plugin Code-->
  <script src="{{basepath}}js/jquery-3.1.0.js"></script>
  <script src="{{basepath}}js/sohoxi.js"></script>

  <!--
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40840710-3', 'auto');
    ga('send', 'pageview');

  </script>
  -->
</head>
<body class="no-scroll">
  {{> includes/svg-inline-refs}}
  {{> docs/svg-frontpage}}
  {{> docs/applicationmenu}}

  <div class="page-container scrollable no-transform site-home">

    <section class="top-frame">
      {{> docs/header-home}}

      <div class="row header-grid">
        <div class="seven columns">
          <h1>
            <span>The Foundation of Infor Product Experience</span>
            <span class="smaller">User Tested. User Driven.</span>
          </h1>
        </div>
        <div class="five columns">
          <button type="button" class="btn-primary">
            <span>Get Started</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="row links-grid">
        <div class="four columns">
          <a href="">
            <img class="link-icon" src="{{basepath}}assets/site/hp_icon_components.svg"/>
          </a>
          <h2>Components</h2>
          <p>Donec hendrerit libero eu ornare dictum. Aenean luctus risus quis ex ultrices, vitae convallis ante rutrum morbi cursus enim erat.</p>
          <p>
            <a href="#" class="hyperlink ">View Components<svg role="presentation" aria-hidden="true" focusable="false" class="icon chevron"><use xlink:href="#icon-caret-right"/></svg></a>
          </p>
        </div>

        <div class="four columns">
          <a href="">
            <img class="link-icon" src="{{basepath}}assets/site/hp_icon_styling.svg"/>
          </a>
          <h2>Styling</h2>
          <p>Donec hendrerit libero eu ornare dictum. Aenean luctus risus quis ex ultrices, vitae convallis ante rutrum morbi cursus enim erat.</p>
          <p>
            <a href="#" class="hyperlink ">View Styling Basics<svg role="presentation" aria-hidden="true" focusable="false" class="icon chevron"><use xlink:href="#icon-caret-right"/></svg></a>
          </p>
        </div>

        <div class="four columns">
          <a href="">
            <img class="link-icon" src="{{basepath}}assets/site/hp_icon_layouts.svg"/>
          </a>
          <h2>Layouts</h2>
          <p>Donec hendrerit libero eu ornare dictum. Aenean luctus risus quis ex ultrices, vitae convallis ante rutrum morbi cursus enim erat.</p>
          <p>
            <a href="#" class="hyperlink ">View Example Layouts<svg role="presentation" aria-hidden="true" focusable="false" class="icon chevron"><use xlink:href="#icon-caret-right"/></svg></a>
          </p>
        </div>
      </div>
    </section>

     <section class="page-slice widgets">
      <div class="row">
        <div class="six columns description">
          <h1>Creating Widgets</h1>
          <p class="subheader">
            Guidelines for designing and developing Xi widgets.
          </p>
          <a download="SoHo_Xi_Widget_Guideline_04182016.pdf" href="/assets/visual-assets/SoHo_Xi_Widget_Guideline_04182016.pdf" class="btn-primary">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-download"></use>
            </svg>
            <span>View Guidelines</span>
          </a>
        </div>
        <div class="six columns">
          <div class="background-image" aria-hidden="true" role="presentation">
            <img src="/assets/site/hp_creating_widgets.png">
          </div>
        </div>
      </div>
    </section>

    <section class="page-slice visualize">
      <div class="background-image" aria-hidden="true" role="presentation">
        <img src="{{basepath}}assets/site/hp_graphic_chart.png">
      </div>

      <div class="row">
        <div class="six columns">&nbsp;</div>
        <div class="six columns description">
          <h1>Visualize Your Data</h1>
          <p class="subheader">
            Get all the guidelines you need to best visualize your data.  Chart types, colors, all in a single resource.
          </p>
          <button type="button" class="btn-primary">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-download"></use>
            </svg>
            <span>Download PDF</span>
          </button>
        </div>
      </div>
    </section>

    <section class="page-slice mobile-tools">
      <div class="background-image" aria-hidden="true" role="presentation">&nbsp;</div>

      <div class="row">
        <div class="six columns description">
          <h1>Native Mobile Tools</h1>
          <p class="subheader">
            Duis at ligula tristique, pellentesque nibh eu, commodo lorem. Pellentesque quis sodales nunc, non iaculis nisi.
          </p>
          <button type="button" class="btn-primary">
            <span>View Guidelines</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="six columns">&nbsp;</div>
      </div>
    </section>

    <section class="page-slice articles">
      <div class="background-image" aria-hidden="true" role="presentation">&nbsp;</div>

      <div class="row">
        <div class="six columns">&nbsp;</div>
        <div class="six columns description">
          <h1>Articles</h1>
          <p class="subheader">
            Duis at ligula tristique, pellentesque nibh eu, commodo lorem. Pellentesque quis sodales nunc, non iaculis nisi.
          </p>
          <button type="button" class="btn-primary">
            <span>View Articles</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </section>

    <section class="page-slice download">
      <svg class="background-image">
        <use xlink:href="#download-bg-graphic"></use>
      </svg>

      <div class="row">
        <div class="five columns description">
          <h1>Downloads</h1>
          <p class="subheader">
            Duis at ligula tristique, pellentesque nibh eu, commodo lorem. Pellentesque quis sodales nunc, non iaculis nisi.
          </p>
        </div>
        <div class="seven columns">

          <div class="download-link-row">
            <a href="#" class="download-link">
              <div class="overlay" aria-hidden="true" role="presentation">
                <div class="overlay-container">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                    <use xlink:href="#icon-download"></use>
                  </svg>
                  <br>
                  <span>Download</span>
                </div>
              </div>
              <div class="content">
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use xlink:href="#icon-reg-mark"></use>
                </svg>
                <span class="download-text-small">Design</span>
                <span class="download-text-large">Specs</span>
              </div>
            </a>

            <a href="#" class="download-link">
              <div class="overlay" aria-hidden="true" role="presentation">
                <div class="overlay-container">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                    <use xlink:href="#icon-download"></use>
                  </svg>
                  <br>
                  <span>Download</span>
                </div>
              </div>
              <div class="content">
                <svg class="icon icon-icons" focusable="false" aria-hidden="true" role="presentation">
                  <use xlink:href="#icon-icons"></use>
                </svg>
                <span class="download-text-small">Entire</span>
                <span class="download-text-large">Icons</span>
              </div>
            </a>

            <a href="#" class="download-link">
              <div class="overlay" aria-hidden="true" role="presentation">
                <div class="overlay-container">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                    <use xlink:href="#icon-download"></use>
                  </svg>
                  <br>
                  <span>Download</span>
                </div>
              </div>
              <div class="content">
                <svg class="icon icon-code" focusable="false" aria-hidden="true" role="presentation">
                  <use xlink:href="#icon-code"></use>
                </svg>
                <span class="download-text-small">Latest</span>
                <span class="download-text-large">Code</span>
              </div>
            </a>

          </div>

        </div>
      </div>
    </section>

    {{> docs/footer}}
    {{> docs/search-results-modal}}
  </div>
</body>
