.form-compact-container {
  .summary-area {

  }
}

.form-compact {
  background-color: $body-color-primary-background;
  margin: 0 auto;
  max-width: 1280px;

  .row {
    min-height: 50px;

    .row:last-child {
      margin-bottom: 0;
    }
  }

  .column,
  .columns {
    float: none;
    padding: 0;

    &.form-section-header {
      padding: 0 10px;
    }

    label {
      @include font-size(14);
      @include transition(background-color 100ms $cubic-ease, color 100ms $cubic-ease);

      background-color: $panel-bg-color;
      margin-bottom: 0;
      overflow: hidden;
      padding: 4px 9px 0;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.required:not(.inline) {
        &::after {
          color: $theme-color-brand-primary-base;
          content: '●';
          top: 0;
        }
      }
    }

    input {
      @include font-size(18);
      @include transition(background-color 100ms $cubic-ease, border-color 100ms $cubic-ease, color 100ms $cubic-ease);

      background-color: $panel-bg-color;
      border-bottom: 1px solid $theme-color-palette-black;
      border-left: 0;
      border-radius: 0;
      border-right: 1px solid $theme-color-palette-black;
      border-top: 0;
      padding: 0 8px 4px;
      text-overflow: ellipsis;
      width: 100%;

      &:focus {
        box-shadow: none;
      }
    }

    &.is-focused {
      input {
        background-color: $theme-color-palette-azure-10;
        border-bottom-color: $theme-color-brand-primary-base;
        border-right-color: $theme-color-brand-primary-base;
      }

      label {
        background-color: $theme-color-palette-azure-10;
      }
    }

    &.is-readonly {
      input {
        background-color: $body-color-primary-background;
        border-bottom-color: $input-color-readonly-border;
        border-right-color: $input-color-readonly-border;
        color: $input-color-readonly-font;
      }

      label {
        background-color: $body-color-primary-background;
      }
    }

    &.is-disabled {
      input {
        border-bottom-color: $input-color-disabled-border;
        border-right-color: $input-color-disabled-border;
        color: $input-color-disabled-font;
      }
    }
  }
}

.form-section-header {
  @include font-size(16);

  align-items: center;
  border-bottom: 1px solid $input-color-readonly-border;
  display: flex;
  font-weight: 700;
}

// Ensures a common min-height on headers
@media (max-width: $breakpoint-phone-to-tablet + 1) {
  .form-compact {
    .row {
      .column,
      .columns {
        min-height: 50px;
      }
    }
  }
}

// Overrides for the gutters in `../grid/_grid.scss`, which are not present
// on grids inside of the Form Compact component.
// For tabledevices larger than 550px
@media (min-width: $breakpoint-phone-to-tablet) {
  .form-compact {
    .row {
      display: flex;
      padding-right: 0;
    }

    .column,
    .columns {
      padding: 0;
    }

    .one.column,
    .one.columns {
      margin-left: 0;
      width: 8.33333333333%;
    }

    .one-one-half.column,
    .one-one-half.columns {
      margin-left: 0;
      width: 12.499999999965%;
    }

    .two.columns {
      margin-left: 0;
      width: 16.6666666666%;
    }

    .three.columns {
      margin-left: 0;
      width: 25%;
    }

    .four.columns {
      margin-left: 0;
      width: 33.3333333333%;
    }

    .five.columns {
      margin-left: 0;
      width: 41.6666666666%;
    }

    .six.columns {
      margin-left: 0;
      width: 50%;
    }

    .seven.columns {
      margin-left: 0;
      width: 58.3333333333%;
    }

    .eight.columns {
      margin-left: 0;
      width: 66.6666666666%;
    }

    .nine.columns {
      margin-left: 0;
      width: 75%;
    }

    .ten.columns {
      margin-left: 0;
      width: 83.3333333333%;
    }

    .eleven.columns {
      margin-left: 0;
      width: 91.6666666666%;
    }

    .twelve.columns,
    .full.column {
      margin-left: 0;
      width: 100%;

      &.center {
        display: block;
        min-width: 300px;
        text-align: center;
      }
    }

    .one-fifth.column {
      margin-left: 0;
      width: 20%;
    }

    .one-fourth.column {
      margin-left: 0;
      width: 25%;
    }

    .one-third.column {
      margin-left: 0;
      width: 33.3333333%;
    }

    .two-thirds.column {
      margin-left: 0;
      width: 66.6666666666%;
    }

    .one-half.column {
      margin-left: 0;
      width: 50%;
    }
  }
}
