
<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="product-lookup" class="label">Products</label>
      <input id="product-lookup" data-init="false" class="lookup" name="product-lookup" type="text">
    </div>
    <button type="button" class="btn-secondary" type="button" id="destroy">Destroy</button>
  </div>
</div>

<script>
    var element,
    opts = {field: 'productId',
            beforeShow: function (api, response) {
              var url = '{{basepath}}api/lookupInfo';

              $.getJSON(url, function(data) {
                api.settings.options.columns = data[0].columns;
                api.settings.options.dataset = data[0].dataset;
                response();
              });
            },
            options: {
              selectable: 'single', //multiple or single
              toolbar: {title: 'Products', results: true, dateFilter: false ,keywordFilter: true, advancedFilter: true, actions: true, views: true , rowHeight: true}
            }
        };

    //In this Test we have an Ajax call that returns the columns and lookup data
    element = $('#product-lookup').lookup(opts);

    $('#destroy').on('click', function () {

      if (element.data('lookup')) {
        element.data('lookup').destroy();
        $(this).text('Invoke');
      } else {
        element.lookup(opts);
        $(this).text('Destroy');
      }

    });

</script>
