{{> includes/masthead}}

  <div class="tab-container module-tabs">
    <div class="tab-list-container">
      <ul class="tab-list">
        <li><a href="#auto-ship-dash">Automotive Shipment Dashboard</a></li>
      </ul>
    </div>
  </div>

  {{> includes/applicationmenu}}
  <div class="page-container scrollable">
    <div id="auto-ship-dash" class="tab-panel">
      <div id="auto-ship-dash-toolbar" class="toolbar standalone right-aligned">
        <div class="buttonset">
          <button id="auto-ship-dash-load-manager" class="btn">
            <span>Load Manager</span>
          </button>

          <button id="auto-ship-dash-item-inventory" class="btn">
            <span>Item Inventory</span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="eight columns">

          <!-- BEGIN Column Chart -->
          <div class="widget">
            <div class="widget-header">
              <h2 class="widget-title">Workload</h2>
            </div>
            <div class="widget-content">
              <div id="column-bar-example" class="chart-container"></div>
            </div>
          </div>
          <!-- END Column Chart -->

        </div>
        <div class="four columns">

          <!-- BEGIN Pie Chart -->
          <div class="widget">
            <div class="widget-header">
              <h2 class="widget-title">Today In Detail</h2>
            </div>
            <div class="widget-content">
              <div id="pie-chart-example" class="chart-container"></div>
            </div>
          </div>
          <!-- END Pie Chart -->

        </div>
      </div>

      <div class="row">
        <div class="twelve columns">

          <div class="toolbar">
            <div class="title">
              <span>Shipments</span>
              <span class="datagrid-result-count">(148)</span>
            </div>
            <div class="buttonset">

              <label class="audible" for="datagrid-search">Keyword Search</label>
              <input id="datagrid-search" name="common-toolbar-searchfield" class="searchfield" />

              <button class="btn" type="button">
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-filter"></use>
                </svg>
                <span>Filter By (0)</span>
              </button>

              <button class="btn-menu" type="button">
                <span>Sort By: Due Time</span>
              </button>
              <ul class="popupmenu is-selectable">
                <li class="is-checked"><a href="#">Due Time</a></li>
              </ul>

              <div class="separator"></div>

              <button class="btn" type="button">
                <span>Day View</span>
              </button>

              <div class="separator"></div>

              <button class="btn" type="button">
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-settings"></use>
                </svg>
                <span>Grid Settings</span>
              </button>

            </div>
          </div>
          <div id="datagrid"></div>

        </div>
      </div>

    </div>
  </div>

  <script>
    // Constants
    var COLOR_PROJECTED = '#d8d8d8',
      COLOR_CONFIRMED = '#89BF65',
      COLOR_ISSUE = '#C65F5F',
      COLOR_IN_PROGRESS = '#2578A9',
      TODAY = {
        projected: 92,
        confirmed: 39,
        issue: 12,
        inProgress: 5
      };

    // Data for charts and grid
    var columnChartDataset = [{
      data: [{
        name: 'Today',
        value: TODAY.confirmed
      }, {
        name: 'Tuesday',
        value: 9
      }, {
        name: 'Wednesday',
        value: 0
      }, {
        name: 'Thursday',
        value: 0
      }, {
        name: 'Friday',
        value: 0
      }, {
        name: 'Saturday',
        value: 0
      }, {
        name: 'Sunday',
        value: 0
      }, {
        name: 'Monday',
        value: 0
      }, {
        name: 'Tuesday',
        value: 0
      }, {
        name: 'Wednesday',
        value: 0
      }],
      name: 'Confirmed',
      color: COLOR_CONFIRMED
    }, {
      data: [{
        name: 'Today',
        value: TODAY.inProgress
      }, {
        name: 'Tuesday',
        value: 0
      }, {
        name: 'Wednesday',
        value: 0
      }, {
        name: 'Thursday',
        value: 0
      }, {
        name: 'Friday',
        value: 0
      }, {
        name: 'Saturday',
        value: 0
      }, {
        name: 'Sunday',
        value: 0
      }, {
        name: 'Monday',
        value: 0
      }, {
        name: 'Tuesday',
        value: 0
      }, {
        name: 'Wednesday',
        value: 0
      }],
      name: 'In Progress',
      color: COLOR_IN_PROGRESS
    }, {
      data: [{
        name: 'Today',
        value: TODAY.issue
      }, {
        name: 'Tuesday',
        value: 0
      }, {
        name: 'Wednesday',
        value: 0
      }, {
        name: 'Thursday',
        value: 10
      }, {
        name: 'Friday',
        value: 0
      }, {
        name: 'Saturday',
        value: 0
      }, {
        name: 'Sunday',
        value: 0
      }, {
        name: 'Monday',
        value: 0
      }, {
        name: 'Tuesday',
        value: 0
      }, {
        name: 'Wednesday',
        value: 0
      }],
      name: 'Issue',
      color: COLOR_ISSUE
    }, {
      data: [{
        name: 'Today',
        value: TODAY.projected
      }, {
        name: 'Tuesday',
        value: 100
      }, {
        name: 'Wednesday',
        value: 120
      }, {
        name: 'Thursday',
        value: 40
      }, {
        name: 'Friday',
        value: 138
      }, {
        name: 'Saturday',
        value: 142
      }, {
        name: 'Sunday',
        value: 75
      }, {
        name: 'Monday',
        value: 115
      }, {
        name: 'Tuesday',
        value: 90
      }, {
        name: 'Wednesday',
        value: 148
      }],
      name: 'Projected',
      color: COLOR_PROJECTED
    }];

    var pieChartDataset = [{
      data: [{
          name: 'Projected',
          shortName: 'pg',
          value: TODAY.projected,
          tooltip: 'Projected: %value%',
          color: COLOR_PROJECTED
        }, {
          name: 'Confirmed',
          shortName: 'cn',
          value: TODAY.confirmed,
          tooltip: 'Confirmed: %value%',
          color: COLOR_CONFIRMED
        }, {
          name: 'Issue',
          shortName: 'is',
          value: TODAY.issue,
          tooltip: 'Issue: %value%',
          color: COLOR_ISSUE
        }, {
          name: 'In Progress',
          shortName: 'ip',
          value: TODAY.inProgress,
          tooltip: 'In Progress: %value%',
          color: COLOR_IN_PROGRESS
        }]
      }];

    var datagrid,
      datagridColumns = [],
      datagridDataset = [];

    datagridDataset.push({ id: 1, productId: 2142201, productName: 'Compressor', activity:  'Assemble Paint', quantity: 1, price: '500', status: 'OK', orderDate: new Date(2014, 12, 8), action: 'Action'});
    datagridDataset.push({ id: 2, productId: 2241202, productName: 'Different Compressor', activity:  'Inspect and Repair', quantity: '2', price: 210.99, status: '', orderDate: new Date(2015, 7, 3), action: 'On Hold'});
    datagridDataset.push({ id: 3, productId: 2342203, productName: 'Compressor', activity:  'Inspect and Repair', quantity: 1, price: '120.99', status: null, orderDate: new Date(2014, 6, 3), action: 'Action'});
    datagridDataset.push({ id: 4, productId: 2445204, productName: 'Another Compressor', activity:  'Assemble Paint', quantity: 3, price: '2345', status: 'OK', orderDate: new Date(2015, 3, 3), action: 'Action'});
    datagridDataset.push({ id: 5, productId: 2542205, productName: 'I Love Compressors', activity:  'Inspect and Repair', quantity: 4, price: '210.99', status: 'OK', orderDate: new Date(2015, 5, 5), action: 'On Hold'});
    datagridDataset.push({ id: 6, productId: 2642206, productName: 'Some Compressor', activity:  'inspect and Repair', quantity: 41, price: '123.99', status: 'OK', orderDate: null, action: 'On Hold'});
    datagridDataset.push({ id: 7, productId: 2142207, productName: 'Compressor', activity:  'Assemble Paint', quantity: 1, price: '500', status: 'OK', orderDate: new Date(2014, 12, 8), action: 'Action'});
    datagridDataset.push({ id: 8, productId: 2241208, productName: 'Different Compressor', activity:  'Inspect and Repair', quantity: '2', price: 210.99, status: '', orderDate: new Date(2015, 7, 3), action: 'On Hold'});
    datagridDataset.push({ id: 9, productId: 2342209, productName: 'Compressor', activity:  'Inspect and Repair', quantity: 1, price: '120.99', status: null, orderDate: new Date(2014, 6, 3), action: 'Action'});
    datagridDataset.push({ id: 10, productId: 2445210, productName: 'Another Compressor', activity:  'Assemble Paint', quantity: 3, price: '2345', status: 'OK', orderDate: new Date(2015, 3, 3), action: 'Action'});
    datagridDataset.push({ id: 11, productId: 2542211, productName: 'I Love Compressors', activity:  'Inspect and Repair', quantity: 4, price: '210.99', status: 'OK', orderDate: new Date(2015, 5, 5), action: 'On Hold'});
    datagridDataset.push({ id: 12, productId: 2642212, productName: 'Air Compressors', activity:  'Inspect and Repair', quantity: 41, price: '120.99', status: 'OK', orderDate: new Date(2014, 6, 9), action: 'On Hold'});
    datagridDataset.push({ id: 13, productId: 2642213, productName: 'Some Compressor', activity:  'inspect and Repair', quantity: 41, price: '123.99', status: 'OK', orderDate: null, action: 'On Hold'});
    datagridDataset.push({ id: 14, productId: 2142214, productName: 'Compressor', activity:  'Assemble Paint', quantity: 1, price: '500', status: 'OK', orderDate: new Date(2014, 12, 8), action: 'Action'});
    datagridDataset.push({ id: 15, productId: 2241215, productName: 'Different Compressor', activity:  'Inspect and Repair', quantity: '2', price: 210.99, status: '', orderDate: new Date(2015, 7, 3), action: 'On Hold'});
    datagridDataset.push({ id: 16, productId: 2342216, productName: 'Compressor', activity:  'Inspect and Repair', quantity: 1, price: '120.99', status: null, orderDate: new Date(2014, 6, 3), action: 'Action'});
    datagridDataset.push({ id: 17, productId: 2445217, productName: 'Another Compressor', activity:  'Assemble Paint', quantity: 3, price: '2345', status: 'OK', orderDate: new Date(2015, 3, 3), action: 'Action'});
    datagridDataset.push({ id: 18, productId: 2542218, productName: 'I Love Compressors', activity:  'Inspect and Repair', quantity: 4, price: '210.99', status: 'OK', orderDate: new Date(2015, 5, 5), action: 'On Hold'});
    datagridDataset.push({ id: 19, productId: 2642219, productName: 'Air Compressors', activity:  'Inspect and Repair', quantity: 41, price: '120.99', status: 'OK', orderDate: new Date(2014, 6, 9), action: 'On Hold'});
    datagridDataset.push({ id: 20, productId: 2642220, productName: 'Some Compressor', activity:  'inspect and Repair', quantity: 41, price: '123.99', status: 'OK', orderDate: null, action: 'On Hold'});
    datagridDataset.push({ id: 21, productId: 2142221, productName: 'Compressor', activity:  'Assemble Paint', quantity: 1, price: '500', status: 'OK', orderDate: new Date(2014, 12, 8), action: 'Action'});
    datagridDataset.push({ id: 22, productId: 2241222, productName: 'Different Compressor', activity:  'Inspect and Repair', quantity: '2', price: 210.99, status: '', orderDate: new Date(2015, 7, 3), action: 'On Hold'});
    datagridDataset.push({ id: 23, productId: 2342223, productName: 'Compressor', activity:  'Inspect and Repair', quantity: 1, price: '120.99', status: null, orderDate: new Date(2014, 6, 3), action: 'Action'});
    datagridDataset.push({ id: 24, productId: 2445224, productName: 'Another Compressor', activity:  'Assemble Paint', quantity: 3, price: '2345', status: 'OK', orderDate: new Date(2015, 3, 3), action: 'Action'});
    datagridDataset.push({ id: 25, productId: 2542225, productName: 'I Love Compressors', activity:  'Inspect and Repair', quantity: 4, price: '210.99', status: 'OK', orderDate: new Date(2015, 5, 5), action: 'On Hold'});
    datagridDataset.push({ id: 26, productId: 2642226, productName: 'Air Compressors', activity:  'Inspect and Repair', quantity: 41, price: '120.99', status: 'OK', orderDate: new Date(2014, 6, 9), action: 'On Hold'});
    datagridDataset.push({ id: 27, productId: 2642227, productName: 'Some Compressor', activity:  'inspect and Repair', quantity: 41, price: '123.99', status: 'OK', orderDate: null, action: 'On Hold'});
    datagridDataset.push({ id: 28, productId: 2542228, productName: 'I Love Compressors', activity:  'Inspect and Repair', quantity: 4, price: '210.99', status: 'OK', orderDate: new Date(2015, 5, 5), action: 'On Hold'});
    datagridDataset.push({ id: 29, productId: 2642229, productName: 'Air Compressors', activity:  'Inspect and Repair', quantity: 41, price: '120.99', status: 'OK', orderDate: new Date(2014, 6, 9), action: 'On Hold'});
    datagridDataset.push({ id: 30, productId: 2642230, productName: 'Some Compressor', activity:  'inspect and Repair', quantity: 41, price: '123.99', status: 'OK', orderDate: null, action: 'On Hold'});

    //Define Columns for the Grid.
    datagridColumns.push({ id: 'productId', name: 'Product Id', field: 'productId', width: '50%', formatter: Formatters.Readonly});
    datagridColumns.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', width: 175, formatter: Formatters.Hyperlink});
    datagridColumns.push({ id: 'activity', name: 'Activity', field: 'activity', width: 125});
    datagridColumns.push({ id: 'quantity', name: 'Quantity', field: 'quantity', width: 125});
    datagridColumns.push({ id: 'price', name: 'Price', field: 'price', width: 125, formatter: Formatters.Decimal});
    datagridColumns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy'});
    datagridColumns.push({ id: 'status', name: 'Status', field: 'status', width: 200, formatter: Formatters.Text});
    datagridColumns.push({ id: 'action', name: 'Action Item', field: 'action', width: 200});

    // Kickoff
    $('body').one('initialized', function () {
      Locale.set('en-US').done(function () {

        $('#column-bar-example').chart({type: 'column-stacked', dataset: columnChartDataset});
        $('#pie-chart-example').chart({
          type: 'pie',
          dataset: pieChartDataset,
          showLegend: true,
          labels: {
            contentsTop: 'value',
            contentsBottom: 'name',
            isTwoline: true,
            lineWidth: 2
          }
        });

        //Init and get the api for the grid
        datagrid = $('#datagrid').datagrid({
          columns: datagridColumns,
          dataset: datagridDataset,
          rowHeight: 'small',
          isList: true,
          paging: true,
          pagesize: 10,
          toolbar: { keyword: true, results: false },
          selectable: 'single'
        }).data('datagrid');
      });
    });



  </script>
