
<div class="row">
  <div class="twelve columns">
    <form >
      <div class="field">
        <label for="dp1" class="label">Date Time Picker with Custom Pattern</label>
        <input id="dp1" data-init="false" class="datepicker datetime" name="dp1" type="text" />
      </div>
      <div class="field">
        <label for="dp2" class="label">Date Time Picker in Locale (Time to Midnight)</label>
        <input id="dp2" data-init="false" class="datepicker datetime" name="dp2" type="text"/>
      </div>
      <div class="field">
        <label for="dp3" class="label">Date Time Picker in Locale (Time to Current)</label>
        <input id="dp3" data-init="false" class="datepicker datetime" name="dp3" type="text"/>
      </div>
      <div class="field">
        <label for="dp4" class="label">Date Time Timestamp</label>
        <input id="dp4" data-init="false" class="datepicker datetime" name="dp4" type="text"/>
      </div>
    </form>
  </div>
</div>

<script>
$('body').on('initialized', function () {
  $('#dp1').datepicker({
    dateFormat: Soho.Locale.calendar().dateFormat['short'],
    timeFormat: Soho.Locale.calendar().dateFormat['hour'],
    showTime: true
  });

  $('#dp2').datepicker({
    showTime: true
  });

  $('#dp3').datepicker({
    showTime: true,
    useCurrentTime: true
  });

  $('#dp4').datepicker({
    showTime: true,
    useCurrentTime: true,
    dateFormat: Soho.Locale.calendar().dateFormat['short'] + ' ' + Soho.Locale.calendar().dateFormat['timestamp'],
    minuteInterval: 1,
    secondInterval: 1
  });
});
</script>
