
<div class="row">
  <div class="four columns">

    <div class="field">
      <label for="month-year" class="label">Month / Year Picker</label>
      <input id="month-year" class="datepicker" name="month-year" data-options="{'showMonthYearPicker': 'true', 'hideDays': 'true', 'dateFormat': 'MM/yyyy'}" type="text"/>
    </div>

    <div class="field">
      <label for="month-only" class="label">Month Picker (Long)</label>
      <input id="month-only" class="datepicker" name="month-only" data-options="{'showMonthYearPicker': 'true', 'hideDays': 'true', 'dateFormat': 'MMMM'}" type="text"/>
    </div>

    <div class="field">
      <label for="month-only-med" class="label">Month Picker (Medium)</label>
      <input id="month-only-med" class="datepicker" name="month-only-med" data-options="{'showMonthYearPicker': 'true', 'hideDays': 'true', 'dateFormat': 'MMM'}" type="text"/>
    </div>

    <div class="field">
      <label for="month-only-short" class="label">Month Picker (Short)</label>
      <input id="month-only-short" class="datepicker" name="month-only-short" data-options="{'showMonthYearPicker': 'true', 'hideDays': 'true', 'dateFormat': 'MM'}" type="text"/>
    </div>

    <div class="field">
      <label for="year-only" class="label">Year Picker</label>
      <input id="year-only" class="datepicker" name="year-only" data-options="{'showMonthYearPicker': 'true', 'hideDays': 'true', 'dateFormat': 'yyyy'}" type="text"/>
    </div>

    <div class="field">
      <label for="together-year" class="label ">Year Dropdown</label>
      <select id="together-year" name="together-year" class="dropdown input-sm">
      </select>
    </div>

    <div class="field">
      <label for="together-month" class="label ">Month Dropdown</label>
      <select id="together-month" name="together-month" class="dropdown input-sm">
      </select>
    </div>

  </div>
</div>

<script>
  $('body').on('initialized', function () {

    //Dynamically populate the month with current locale data.
    var wideMonths = Soho.Locale.calendar().months.wide,
      months = '';

    wideMonths.map(function (month, i) {
      months += '<option value="'+ i +'">'+ month +'</option>';
    });

    $('#month-only').append(months).trigger('updated');
    $('#together-month').append(months).trigger('updated');

    //Dynamically populate the month with an advance month range
    var advanceYears = 5, years= [], yearDropdown='', year = new Date().getFullYear();

    for (var i = advanceYears; i >= 1; i--) {
      years.push(parseInt(year) - i);
    }
    years.push(year);
    for (var j = 1; j <= advanceYears; j++) {
      years.push(parseInt(year) + j);
    }

    years.map(function (yearMap) {
      yearDropdown += '<option '+ (year===yearMap ? ' selected ' : '') + ' value="'+ yearMap +'">'+ yearMap +'</option>';
    });

    $('#year-only').append(yearDropdown).trigger('updated');
    $('#together-year').append(yearDropdown).trigger('updated');


  });
</script>
