
<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="date-field" class="label">Date Field</label>
      <input id="date-field"  class="datepicker" name="date-field" type="text" data-validate="required" data-options="{'disable':{'dates': ['6/9/2015', '6/12/2015'], 'dayOfWeek': '[0,6]'}}">
    </div>

    <script>
      $('body').on('initialized', function () {
        $('#date-field').data('datepicker').setValue('05/12/2015');
      });
    </script>
  </div>
</div>
