
<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="date-field" class="label">Date Field (Restricted to Apr - June)</label>
      <input id="date-field" class="datepicker" name="date-field" type="text" data-validate="required" data-init="false"/>
    </div>

  </div>
</div>

<script>
  $('body').on('initialized', function () {

    var api = $('#date-field').datepicker({
      dateFormat: 'MM/dd/yyyy',
      disable: {
        restrictMonths: true,
        minDate: '04/01/2018',
        maxDate: '06/30/2018'
      }
    }).data('datepicker');

    api.setValue('04/15/2018');

  });
</script>
