<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Date Picker - With Placeholder</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="date-field" class="label">Date Field with Legend</label>
      <input id="date-field" data-init="false" class="datepicker" name="date-field" type="text" />
    </div>

  </div>
</div>

<script>
  $('#date-field').datepicker({
    placeholder: true,
    dateFormat: 'yyyy-MM-dd'
  });
</script>
