
<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="islamic-date" class="label">Date Picker (ar-EG - umalqura)</label>
      <input id="islamic-date" data-init="false" class="datepicker" name="islamic-date" type="text"/>
    </div>

  </div>
</div>

<script>
  $('body').on('initialized', function () {

    // Change locale to ar-EG which has the default calendar as gregorian
    // But use the optional umalqura calendar in that locale instead
    Soho.Locale.set('ar-EG').done(function () {
      $('#islamic-date').datepicker({calendarName: 'islamic-umalqura'}).on('change', function () {
        $('body').toast({
          'title': 'Change Event Fired',
          'message': 'Value changed to <span class="text-strong">' + $(this).val() + '</span> '
        });
      });
    });

  });

</script>
