
<div class="row">
  <div class="twelve columns">

    <button class="btn-secondary" type="button" data-modal="modal-1">Add Context</button>
    <div class="modal" id="modal-1" data-options="{'autoFocus': false}">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title">Add Context</h1>
        </div>

        <div class="modal-body">

          <div class="field">
            <label for="context-type">Type</label>
            <select class="dropdown" id="context-type" name="type">
              <option value="1">Context 01</option>
              <option value="2">Context 02</option>
              <option value="3">Context 03</option>
              <option value="4">Context 04</option>
              <option value="5">Context 05</option>
            </select>
          </div>

          <div class="field">
            <label for="context-name" class="required">Name</label>
            <input id="context-name" name="context-name" data-validate="required" type="text" placeholder="Example: Name One"/>
          </div>

          <div class="field">
            <label for="date-field" class="label">Date Field</label>
            <input id="date-field" class="datepicker" name="date-field" type="text"/>
          </div>

          <div class="field">
            <label for="field-1" class="required">Extra Field</label>
            <input id="field-1" name="field-1" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="field-2" class="required">Extra Field</label>
            <input id="field-2" name="field-2" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="field-3" class="required">Extra Field</label>
            <input id="field-3" name="field-3" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="field-4" class="required">Extra Field</label>
            <input id="field-4" name="field-4" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="field-5" class="required">Extra Field</label>
            <input id="field-5" name="field-5" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="field-6" class="required">Extra Field</label>
            <input id="field-6" name="field-6" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="field-7" class="required">Extra Field</label>
            <input id="field-7" name="field-7" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="field-8" class="required">Extra Field</label>
            <input id="field-8" name="field-8" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="field-9" class="required">Extra Field</label>
            <input id="field-9" name="field-9" data-validate="required" type="text"/>
          </div>

          <div class="field">
            <label for="date-field-2" class="label">Date Field 2</label>
            <input id="date-field-2" class="datepicker" name="date-field-2" type="text"/>
          </div>

          <div class="modal-buttonset">
            <button type="button" class="btn-modal">Cancel</button>
            <button type="button" id="submit" class="btn-modal-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
