 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The plugin element for the constuctor
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The settings element.
    </td>
  </tr>


  <tr>
    <td>
      settings.dataset
    </td>
    <td>
      
    </td>
    <td>
      array
    </td>
    <td>
      The data to use in the radar
    </td>
  </tr>


  <tr>
    <td>
      settings.redrawOnResize
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If false, the component will not resize when resizing the page.
    </td>
  </tr>


  <tr>
    <td>
      settings.margin
    </td>
    <td>
      
    </td>
    <td>
      object
    </td>
    <td>
      The margins of the SVG, you may want to adjust
depending on text location.
    </td>
  </tr>


  <tr>
    <td>
      settings.levels
    </td>
    <td>
      <span>4</span>
    </td>
    <td>
      number
    </td>
    <td>
      How many levels or inner circles should there be drawn.
    </td>
  </tr>


  <tr>
    <td>
      settings.maxValue
    </td>
    <td>
      <span>0</span>
    </td>
    <td>
      number
    </td>
    <td>
      What is the value that the biggest circle will represent
    </td>
  </tr>


  <tr>
    <td>
      settings.labelFactor
    </td>
    <td>
      <span>1.27</span>
    </td>
    <td>
      number
    </td>
    <td>
      How far out than the outer circle should the labels be placed,
this may be useful to adjust for some charts.
    </td>
  </tr>


  <tr>
    <td>
      settings.wrapWidth
    </td>
    <td>
      <span>60</span>
    </td>
    <td>
      number
    </td>
    <td>
      The number of pixels after which a label needs to be
given a new line. You may want to change this based on label data.
    </td>
  </tr>


  <tr>
    <td>
      settings.showCrosslines
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      Set to false to hide the cross line axes.
    </td>
  </tr>


  <tr>
    <td>
      settings.showAxisLabels
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      Set to false to hide percent labels.
    </td>
  </tr>


  <tr>
    <td>
      settings.opacityArea
    </td>
    <td>
      <span>0.2</span>
    </td>
    <td>
      number
    </td>
    <td>
      The opacity value of the blobs. This is set to the correct Infor Style.
    </td>
  </tr>


  <tr>
    <td>
      settings.dotRadius
    </td>
    <td>
      <span>3</span>
    </td>
    <td>
      number
    </td>
    <td>
      The size of the colored circles of each blog. Set to zero to remove dots.
    </td>
  </tr>


  <tr>
    <td>
      settings.opacityCircles
    </td>
    <td>
      <span>0</span>
    </td>
    <td>
      number
    </td>
    <td>
      The opacity of the circles of each blob 0 or .1 are good values.
This is set to the correct Infor Style.
    </td>
  </tr>


  <tr>
    <td>
      settings.strokeWidth
    </td>
    <td>
      <span>1</span>
    </td>
    <td>
      number
    </td>
    <td>
      The width of the stroke around each blob.
This is set to the correct Infor Style.
    </td>
  </tr>


  <tr>
    <td>
      settings.roundStrokes
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true the area and stroke will follow a
round path (cardinal-closed).
    </td>
  </tr>


  <tr>
    <td>
      settings.showCrosslines
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If false the axis lines will not be shown in the diagonals.
    </td>
  </tr>


  <tr>
    <td>
      settings.showAxisLabels
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If false the axis labels will not be shown.
    </td>
  </tr>


  <tr>
    <td>
      settings.axisFormatter
    </td>
    <td>
      <span>&#39;.0%&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      D3 formatter to use on the axis labels
    </td>
  </tr>


  <tr>
    <td>
      settings.colors
    </td>
    <td>
      
    </td>
    <td>
      array
    </td>
    <td>
      An array of colors to use.
    </td>
  </tr>


  <tr>
    <td>
      settings.showTooltips
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If false no tooltips will be shown.
    </td>
  </tr>


  <tr>
    <td>
      settings.tooltip
    </td>
    <td>
      
    </td>
    <td>
      object
    </td>
    <td>
      A setting that controls the tooltip values and format.
    </td>
  </tr>


  <tr>
    <td>
      settings.tooltip.show
    </td>
    <td>
      <span>&#39;value&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      Controls what is visible in the tooltip, this can be value, label
or percent or custom function.
    </td>
  </tr>


  <tr>
    <td>
      settings.tooltip.formatter
    </td>
    <td>
      <span>&#39;.0%&#39;</span>
    </td>
    <td>
      object
    </td>
    <td>
      The d3.formatter string.
    </td>
  </tr>


  <tr>
    <td>
      settings.showLegend
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If false the legend will not be shown.
    </td>
  </tr>


  <tr>
    <td>
      settings.legendPlacement
    </td>
    <td>
      <span>&#39;right&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      Where to locate the legend. This can be bottom or right at
the moment.
    </td>
  </tr>


  <tr>
    <td>
      settings.emptyMessage
    </td>
    <td>
      
    </td>
    <td>
      object
    </td>
    <td>
      An empty message will be displayed when there is no chart data.
This accepts an object of the form emptyMessage:
`{title: 'No Data Available',
 info: 'Make a selection on the list above to see results', icon: 'icon-empty-no-data',
 button: {text: 'xxx', click: <function>}
 }`
 Set this to null for no message or will default to 'No Data Found with an icon.'
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updateData</td>
        <td>
          
                
                  <span>data (object) = The data to use.
 </span>
                
          
        </td>
        <td>
          <p>Update the chart with a new dataset</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>getSelected</td>
        <td>
          
        </td>
        <td>
          <p>Get info on the currently selected lines.</p>

        </td>
        <td>
          An object with the matching data and reference to the triggering element.
object
        </td>
      </tr>
      <tr>
        <td>setSelected</td>
        <td>
          
                
                  <span>o (object) = The selection data object
 </span>
                
                  <span>isToggle (boolean) = If true toggle the current state.
 </span>
                
          
        </td>
        <td>
          <p>Get info on the currently selected lines.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>toggleSelected</td>
        <td>
          
                
                  <span>options (object) = The selected info object.
 </span>
                
          
        </td>
        <td>
          <p>Get info on the currently selected lines.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The new settings to use.
 </span>
                
          
        </td>
        <td>
          <p>Handle updated settings and values.</p>

        </td>
        <td>
          The api for chaining.
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown - Remove added markup and events.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  
  
  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>rendered
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>svg (array)
        
        = The svg object.

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when the chart is complete done rendering, for customization.
</td>
</tr>

      
      </tbody>
    </table>
  </section>
