  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          dataset
        </td>
        <td>
          array
        </td>
        <td>
          The data to use in the radar

        </td>
      </tr>
      <tr>
        <td>
          redrawOnResize
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, the component will not resize when resizing the page.

        </td>
      </tr>
      <tr>
        <td>
          margin
        </td>
        <td>
          object
        </td>
        <td>
          The margins of the SVG, you may want to adjust
depending on text location.

        </td>
      </tr>
      <tr>
        <td>
          levels
        </td>
        <td>
          number
        </td>
        <td>
          How many levels or inner circles should there be drawn.

        </td>
      </tr>
      <tr>
        <td>
          maxValue
        </td>
        <td>
          number
        </td>
        <td>
          What is the value that the biggest circle will represent

        </td>
      </tr>
      <tr>
        <td>
          labelFactor
        </td>
        <td>
          number
        </td>
        <td>
          How far out than the outer circle should the labels be placed,
this may be useful to adjust for some labels.

        </td>
      </tr>
      <tr>
        <td>
          showCrosslines
        </td>
        <td>
          boolean
        </td>
        <td>
          Set to false to hide the cross line axes.

        </td>
      </tr>
      <tr>
        <td>
          showAxisLabels
        </td>
        <td>
          boolean
        </td>
        <td>
          Set to false to hide percent labels.

        </td>
      </tr>
      <tr>
        <td>
          wrapWidth
        </td>
        <td>
          number
        </td>
        <td>
          The number of pixels after which a label needs to be
given a new line. You may want to change this based on label data.

        </td>
      </tr>
      <tr>
        <td>
          opacityArea
        </td>
        <td>
          number
        </td>
        <td>
          The opacity of the area of the blob.
This is set to the correct Infor Style.

        </td>
      </tr>
      <tr>
        <td>
          dotRadius
        </td>
        <td>
          number
        </td>
        <td>
          The size of the colored circles of each blog.
Set to zero to remove dots.

        </td>
      </tr>
      <tr>
        <td>
          opacityCircles
        </td>
        <td>
          number
        </td>
        <td>
          The opacity of the circles of each blob 0 or .1 are good values.
This is set to the correct Infor Style.

        </td>
      </tr>
      <tr>
        <td>
          strokeWidth
        </td>
        <td>
          number
        </td>
        <td>
          The width of the stroke around each blob.
This is set to the correct Infor Style.

        </td>
      </tr>
      <tr>
        <td>
          roundStrokes
        </td>
        <td>
          boolean
        </td>
        <td>
          If true the area and stroke will follow a
round path (cardinal-closed).

        </td>
      </tr>
      <tr>
        <td>
          showCrosslines
        </td>
        <td>
          boolean
        </td>
        <td>
          If false the axis lines will not be shown in the diagonals.

        </td>
      </tr>
      <tr>
        <td>
          showAxisLabels
        </td>
        <td>
          boolean
        </td>
        <td>
          If false the axis labels will not be shown.

        </td>
      </tr>
      <tr>
        <td>
          colors
        </td>
        <td>
          array
        </td>
        <td>
          An array of colors to use.

        </td>
      </tr>
      <tr>
        <td>
          showTooltips
        </td>
        <td>
          boolean
        </td>
        <td>
          If false now tooltips will be shown even if

        </td>
      </tr>
      <tr>
        <td>
          tooltip
        </td>
        <td>
          object
        </td>
        <td>
          A setting that controls the tooltip values and format.

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updateData</td>
        <td>
          
                
                  <span>data (object) = The data to use.
 </span>
                
          
        </td>
        <td>
          <p>Update the chart with a new dataset</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>toggleSelected</td>
        <td>
          
                
                  <span>options (object) = The selected info object.
 </span>
                
          
        </td>
        <td>
          <p>Get info on the currently selected lines.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The new settings to use.
 </span>
                
          
        </td>
        <td>
          <p>Handle updated settings and values.</p>

        </td>
        <td>
          The api for chaining.
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown - Remove added markup and events.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
