<body class="no-scroll">

  <a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
  {{> includes/svg-inline-refs}}

  <!-- Masthead -->
  {{> includes/masthead}}

  <!-- Module Tabs -->
  <section id="module-tabs-example" class="tab-container module-tabs">
    <div class="tab-list-container">
      <ul class="tab-list">
      </ul>
    </div>
  </section>

  {{> includes/applicationmenu}}

  <!-- Page Container -->
  <div id="module-tabs-container" class="page-container no-scroll"></div>

  <script type="text/javascript">
    $('body').on('initialized', function() {

      const $tabs = $('#module-tabs-example').tabs({
          containerElement: '#module-tabs-container',
          addTabButton: true,
          moduleTabsTooltips: true
        }),
        control = $tabs.data('tabs');

      control.add('tab1', {
        name: 'This is a really really really really really really long title',
        content: '<button class="btn-secondary" style="margin:2em;">Rename</button>'
      });

      control.select('tab1');

      control.getPanel('tab1').find('.btn').click(function() {
        control.rename('tab1', 'Now this text is even longer longer longer longer longer longer longer longer longer longer longer');
      });
    });
  </script>

</body>
