<h1 id="lookup-learn-more">Lookup <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Default Lookup <a href="../components/lookup/example-index">View Example</a></li>
<li>Multiselect Lookup <a href="../components/lookup/example-multiselect">View Example</a></li>
<li>Lookup with Paging <a href="../components/lookup/example-paging">View Example</a></li>
<li>Lookup with Filter <a href="../components/lookup/example-filter-row">View Example</a></li>
<li>Editable Lookup <a href="../components/lookup/example-editable">View Example</a></li>
<li>Editable Strict <a href="../components/lookup/example-editable-strict">View Example</a></li>
<li>Custom Toolbar <a href="../components/lookup/example-custom-toolbar">View Example</a></li>
<li>Custom Buttons <a href="../components/lookup/example-custom-buttons">View Example</a></li>
</ol>
  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          click
        </td>
        <td>
          function
        </td>
        <td>
          Provide a special function to run when the dialog opens to
customize the interaction entirely.

        </td>
      </tr>
      <tr>
        <td>
          field
        </td>
        <td>
          string
        </td>
        <td>
          Field name to return from the dataset or can be a function
which returns a string on logic

        </td>
      </tr>
      <tr>
        <td>
          title
        </td>
        <td>
          string
        </td>
        <td>
          Dialog title to show, or befault shows  field label + "Lookup"

        </td>
      </tr>
      <tr>
        <td>
          buttons
        </td>
        <td>
          array
        </td>
        <td>
          Pass dialog buttons or Cancel / Apply

        </td>
      </tr>
      <tr>
        <td>
          options
        </td>
        <td>
          object
        </td>
        <td>
          Options to pass to the datagrid

        </td>
      </tr>
      <tr>
        <td>
          beforeShow
        </td>
        <td>
          function
        </td>
        <td>
          Call back that executes async before the lookup is opened.

        </td>
      </tr>
      <tr>
        <td>
          modalContent
        </td>
        <td>
          string
        </td>
        <td>
          Custom modal markup can be sent in here

        </td>
      </tr>
      <tr>
        <td>
          editable
        </td>
        <td>
          boolean
        </td>
        <td>
          Can the user type text in the field

        </td>
      </tr>
      <tr>
        <td>
          autoApply
        </td>
        <td>
          string
        </td>
        <td>
          If set to false the dialog wont apply the value on
clicking a value.

        </td>
      </tr>
      <tr>
        <td>
          validator
        </td>
        <td>
          function
        </td>
        <td>
          A function that fires to let you validate form
items on open and select

        </td>
      </tr>
      <tr>
        <td>
          autoWidth
        </td>
        <td>
          boolean
        </td>
        <td>
          If true the field will grow/change in size based
on the content selected.

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>openDialog</td>
        <td>
          
                
                  <span>e (jQuery.Event) = click or keyup event
 </span>
                
          
        </td>
        <td>
          <p>Create and Open the Dialog</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>createModal</td>
        <td>
          
        </td>
        <td>
          <p>Overidable function to create the modal dialog</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>createGrid</td>
        <td>
          
                
                  <span>grid () = jQuery wrapped element containing a pre-invoked datagrid instance
 </span>
                
          
        </td>
        <td>
          <p>Overridable Function in which we create the grid on the current UI dialog.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>selectGridRows</td>
        <td>
          
                
                  <span>val (object) = incoming value from the grid row
 </span>
                
          
        </td>
        <td>
          <p>Given a field value, select the row</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>selectRowByValue</td>
        <td>
          
                
                  <span>field (string) = the ID of the field whose value is to be returned.
 </span>
                
                  <span>value (string) = the value to set.
 </span>
                
          
        </td>
        <td>
          <p>Find the row and select it based on select value / function / field value</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>insertRows</td>
        <td>
          
        </td>
        <td>
          <p>Get the selected rows and return them to the UI</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enable the input.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disable the input.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>readonly</td>
        <td>
          
        </td>
        <td>
          <p>Make the input readonly.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>isDisabled</td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          whether or not the Input is disabled
boolean
        </td>
      </tr>
      <tr>
        <td>isReadonly</td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          whether or not the Input is readonly
boolean
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = incoming settings
 </span>
                
          
        </td>
        <td>
          <p>Updates the lookup instance with new settings</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown events and objects.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  

<h2 id="behavior-guidelines">Behavior Guidelines</h2>
<ul>
<li>To distinguish between single and multi-select situations, use checkboxes in multi-select lists.</li>
<li>The height of a multi-select list can grow up to 3 lines to accommodate multiple entries. After this point, scrolling should be available.</li>
<li>In some situations (such as when a Lookup is used in a filter row in a table), the field height is fixed (cannot expand to show multiple selections). Include a design approach for multi-select dropdowns in this scenario.</li>
</ul>
<h2 id="code-example">Code Example</h2>
<h3 id="lookup-markup">Lookup Markup</h3>
<p>The lookup element is a simple text input field. Always include a matching label for accessibility. To initialize the lookup call the .lookup() plugin.</p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;field&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;label</span><span class="ot"> for=</span><span class="st">&quot;product-lookup&quot;</span><span class="ot"> class=</span><span class="st">&quot;label&quot;</span><span class="kw">&gt;</span>Products<span class="kw">&lt;/label&gt;</span>
  <span class="kw">&lt;input</span><span class="ot"> id=</span><span class="st">&quot;product-lookup&quot;</span><span class="ot"> data-init=</span><span class="st">&quot;false&quot;</span><span class="ot"> class=</span><span class="st">&quot;lookup&quot;</span><span class="ot"> name=</span><span class="st">&quot;product-lookup&quot;</span><span class="ot"> type=</span><span class="st">&quot;text&quot;</span><span class="kw">&gt;</span>
<span class="kw">&lt;/div&gt;</span>
</code></pre>
<h3 id="lookup-example">Lookup Example</h3>
<p>The field is the field to be returned from the grid. You can also pass reasonable grid options to the lookup (not all features will work by design). The selectable option can be set to either <code>single</code> or <code>multiselect</code>. This defines the key difference between a Single Select Lookup and a Multi Select Lookup.</p>
<pre class="sourceCode javascript"><code class="sourceCode javascript">
grid = <span class="fu">$</span>(<span class="st">&#39;#product-lookup&#39;</span>).<span class="fu">lookup</span>({
  <span class="dt">field</span>: <span class="st">&#39;productId&#39;</span>,
  <span class="dt">options</span>: {
    <span class="dt">columns</span>: columns,
    <span class="dt">dataset</span>: data,
    <span class="dt">selectable</span>: <span class="st">&#39;single&#39;</span>, <span class="co">//multiselect or single</span>
    <span class="dt">toolbar</span>: {
      <span class="dt">results</span>: <span class="kw">true</span>,
      <span class="dt">rowHeight</span>: <span class="kw">false</span>
    }
  }
});
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>This is a very complex control and interaction and is not currently accessible to screen readers.</li>
<li>It does work with keyboard however.</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li><strong>Tab/Shift Tab</strong> moves focus into the field to/from the next focusable item in the tab order.</li>
<li><strong>Down Arrow</strong> opens the dialog</li>
<li><strong>Esc</strong> cancels and closes the open dialog</li>
<li><strong>Tab/Shift Tab</strong> when the dialog is open, tab will move around the tabbable items. Fx from the search to the datagrid</li>
<li><strong>Down/up Arrow</strong> when focus is on the grid in the dialog this moves the focus up and down on the rows</li>
<li><strong>Space</strong> toggle selection on the current row if multi select. If single select the row is selected and inserted</li>
<li><strong>Enter</strong> if focus is on the grid in the lookup if single select the current row will be selected. If multiselect then all the selected rows will be inserted.</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<p>The Lookup field itself uses the same states as the Text Input field, while the values use the same states as those in the context menu. The trigger icon supports the following states:</p>
<ul>
<li>Normal</li>
<li>Focus</li>
<li>Hover</li>
<li>Active</li>
</ul>
<p>When a Lookup field is read-only or disabled, the field is disabled like other inputs.</p>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>The dialog stretches to 90% at smaller breakpoints</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>inforLookup class changed to 'lookup'</li>
<li>Initialization options and api is different</li>
<li>Use events rather than call backs</li>
</ul>
