
	<div class="grid">
		<div class="col-8-12 doc-block">
			<h1>Simple Responsiveness</h1>
      <h2>Build on the basic template above with many components.</h2>
      <p>You can customize components to varying degrees, but most fall into two camps: light and overhauls. Plenty examples of both are available from third parties. Once you are comfortable performing light customizations and visual overhauls are just as straightforward. For a site like Karma, which uses Bootstrap as a CSS reset with heavy modifications, more extensive work is involved. But the same principle applies: include Bootstrap's default stylesheet first, then apply your custom stylesheet file</p>

      <pre>
      <code data-language="html">
      &lt;div class=&quot;grid grid-pad&quot;&gt;
        &lt;div class=&quot;col-1-1&quot;&gt;
          &lt;div class=&quot;content&quot;&gt;
            &lt;h3&gt;col-1-1&lt;/h3&gt;
            &lt;!-- Your Content --&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      </code>
      </pre>
		</div>
	</div>

  <div class="grid">
  </div>

