  <div class="grid">

   <div class="col-3-12">
      <div class="content">
        <h3>Nav</h3>
      </div>
    </div>

    <div class="col-9-12 doc-block">
      <h1>Title/Component Name</h1>
      <p>Description: Clicks-and-mortar incentivize create functionalities e-markets; interfaces bandwidth revolutionize. Web services, "grow," holistic leading-edge: capture infomediaries dot-com viral real-time.</p>

      <h2>Example</h2>
      <% include controls/buttons %>

      <h2>Control Design Specs (Generated Dynamically)</h2>
      <p>Margin, Padding Ect</p>

      <pre>
      <code data-language="html">
      &lt;div class=&quot;grid grid-pad&quot;&gt;
        &lt;div class=&quot;col-1-1&quot;&gt;
          &lt;div class=&quot;content&quot;&gt;
            &lt;h3&gt;col-1-1&lt;/h3&gt;
            &lt;!-- Your Content --&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      </code>
      </pre>
    </div>
  </div>

  <div class="grid">
  </div>

