<!DOCTYPE html>
<html lang="en-US">
<head>

    <title>Infor Html Controls - Gramercy Park</title>

    <!-- Meta
	================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Sheets - Only application.css is needed in end applications
	================================================== -->
    <link rel="stylesheet" id="stylesheet" href="stylesheets/grey-theme.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/highlight.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/demo.css" type="text/css">

     <!-- jQuery and Plugin Code
    ================================================== -->
   <!-- <script type="text/javascript" src="//dl1d2m8ri9v3j.cloudfront.net/releases/1.2.5/tracker.js" data-customer="25edbfb6e27d4bdc95feb3f7cdf02a93"></script>-->
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/gramercy.js"></script>
    <script src="js/initialize.js"></script>
    <script src="js/demo.js"></script>

</head>
