{{>controls/typography}}

<div class="grid">
  <div class="col-1-2">
   {{>controls/input}}
  </div>

  <div class="col-1-2">
    {{>controls/buttons}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/checkboxes}}
  </div>

  <div class="col-1-2">
    {{>controls/radios}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/switch}}
  </div>

  <div class="col-1-2">
    {{>controls/loader}}
  </div>
</div>

<div class="grid">
  <div class="col-1-1">
   {{>controls/tabs}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/dropdown}}
  </div>

  <div class="col-1-2">
    {{>controls/multiselect}}
  </div>
</div>

<div class="grid">
  <div class="col-1-1">
   {{>controls/autocomplete}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/modal}}
  </div>

  <div class="col-1-2">
    {{>controls/message}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/slider}}
  </div>

  <div class="col-1-2">

  </div>
</div>

{{>controls/icons}}

<div class="grid">
  <div class="col-1-1">
   {{>controls/editor}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/popupmenu}}
  </div>

  <div class="col-1-2">
    {{>controls/btn-menu}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/tooltip}}
  </div>

  <div class="col-1-2">
    {{>controls/popover}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/tree}}
  </div>

  <div class="col-1-2">
  {{>controls/rating}}
  </div>
</div>

<div class="grid">
  <div class="col-1-1">
   {{>controls/masthead}}
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
   {{>controls/cardstack}}
  </div>
  <div class="col-1-2">
   {{>controls/pager}}
  </div>
</div>

<div class="grid">
  <div class="col-1-1">
   {{>controls/badges}}
  </div>
</div>

<div class="grid">
  <div class="col-1-1">
   {{>controls/visibility}}
  </div>
</div>






