<!-- Basics -->
{{>controls/typography}}
{{>controls/colors}}

<!-- Group One -->
{{>controls/buttons}}
{{>controls/input}}
{{>controls/textarea}}
{{>controls/dropdown}}
{{>controls/autocomplete}}
{{>controls/datepicker}}
{{>controls/timepicker}}
{{>controls/multiselect}}
{{>controls/colorpicker}}
{{>controls/spinbox}}
{{>controls/checkboxes}}
{{>controls/switch}}
{{>controls/radios}}
{{>controls/slider}}
{{>controls/menubutton}}
{{>controls/popupmenu}}
{{>controls/tabs}}
{{>controls/tooltip}}
{{>controls/modal}}
{{>controls/message}}
{{>controls/toast}}
{{>controls/tree}}
{{>controls/editor}}
{{>controls/cards}}
{{>controls/rating}}

<!--  Group Two -->
{{>controls/breadcrumb}}

<!--  Group Three -->
{{>controls/listview}}
{{>controls/badges}}

<!-- Charts -->
{{>controls/pie}}
{{>controls/donut}}
{{>controls/bar}}
{{>controls/bar-stacked}}
{{>controls/bar-stacked-100}}
{{>controls/bar-grouped}}
{{>controls/column}}


{{>controls/sparkline}}
