
  <% include controls/typography %>
  <% include controls/input %>
  <% include controls/buttons %>
  <% include controls/checkboxes %>
  <% include controls/switch %>
  <% include controls/loader %>
  <% include controls/tabs %>
  <% include controls/dropdown %>
  <% include controls/modal %>
  <% include controls/message %>
  <% include controls/svg %>
  <% include controls/slider %>
  <% include controls/editor %>

  <div class="grid grid-pad">
    <div class="col-1-1">
      <h1 class="demo-heading">Responsive Grid <span>(12 Column)</span></h1>
    </div>
  </div>

  <!-- Grid 1/1 -->
  <div class="grid grid-pad">
    <div class="col-1-1">
      <div class="content">
        <h3>
          col-1-1
        </h3>
      </div>
    </div>
    <div class="col-1-1">

<pre>
<code data-language="html">
&lt;div class=&quot;grid grid-pad&quot;&gt;
  &lt;div class=&quot;col-1-1&quot;&gt;
    &lt;div class=&quot;content&quot;&gt;
      &lt;h3&gt;col-1-1&lt;/h3&gt;
      &lt;!-- Your Content --&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

  </div>
</div>

  <!-- Grid 1/2 -->
  <div class="grid grid-pad">
    <div class="col-1-2">
      <div class="content">
        <h3>
          col-1-2
        </h3>
      </div>
    </div>
    <div class="col-1-2">
      <div class="content">
        <h3>
          col-1-2
        </h3>
      </div>
    </div>
    <div class="col-1-1">
<pre>
<code data-language="html">
&lt;div class=&quot;grid grid-pad&quot;&gt;
    &lt;div class=&quot;col-1-2&quot;&gt;
      &lt;div class=&quot;content&quot;&gt;
        &lt;h3&gt;col-1-2&lt;/h3&gt;
      &lt;/div&gt;
  &lt;/div&gt;
    &lt;div class=&quot;col-1-2&quot;&gt;
      &lt;div class=&quot;content&quot;&gt;
        &lt;h3&gt;col-1-2&lt;/h3&gt;
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>

