<!-- Basics -->
<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Typography</h2>
  </div>
</div>
{{>controls/typography}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Color Palette</h2>
  </div>
</div>
{{>controls/colors}}


<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Form Action Buttons</h2>
  </div>
</div>
{{>controls/buttons}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Menu Buttons</h2>
  </div>
</div>
{{>controls/menubutton}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Right Click Menu</h2>
  </div>
</div>
{{>controls/popupmenu}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Text Input Fields</h2>
  </div>
</div>
{{>controls/input}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Text Input Field Sizes</h2>
  </div>
</div>
{{>controls/input-sizes}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Text Area</h2>
  </div>
</div>
{{>controls/textarea}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Single-Select Dropdown</h2>
  </div>
</div>
{{>controls/dropdown}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Single-Select Lookup</h2>
  </div>
</div>
{{>controls/lookup}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Autocomplete</h2>
  </div>
</div>
{{>controls/autocomplete}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Search Field</h2>
  </div>
</div>
{{>controls/searchfield}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Date Picker</h2>
  </div>
</div>
{{>controls/datepicker}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Time Picker</h2>
  </div>
</div>
{{>controls/timepicker}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Multi-Select Dropdown</h2>
  </div>
</div>
{{>controls/multiselect}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Color Picker</h2>
  </div>
</div>
{{>controls/colorpicker}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Spin Box</h2>
  </div>
</div>
{{>controls/spinbox}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">File Upload</h2>
  </div>
</div>
{{>controls/fileupload}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Checkboxes</h2>
  </div>
</div>
{{>controls/checkboxes}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Switches</h2>
  </div>
</div>
{{>controls/switch}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Radios</h2>
  </div>
</div>
{{>controls/radios}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Editor - Html</h2>
  </div>
</div>
{{>controls/editor}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Slider</h2>
  </div>
</div>
{{>controls/slider}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Toolbar Actions</h2>
  </div>
</div>
{{>controls/toolbar}}

<!-- Navigation -->
<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Modal</h2>
  </div>
</div>
{{>controls/modal}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Message</h2>
  </div>
</div>
{{>controls/message}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Toast</h2>
  </div>
</div>
{{>controls/toast}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">About</h2>
  </div>
</div>
{{>controls/about}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Cards</h2>
  </div>
</div>
{{>controls/cards}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Contextual Action Panel</h2>
  </div>
</div>
{{>controls/contextualactionpanel}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Tooltip</h2>
  </div>
</div>
{{>controls/tooltip}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Popover</h2>
  </div>
</div>
{{>controls/popover}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Tabs</h2>
  </div>
</div>
{{>controls/tabs}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Masthead</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
{{>controls/masthead}}
  </div>
</div>

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Pager</h2>
  </div>
</div>
{{>controls/pager}}

<!-- Navigation -->

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Bread Crumb</h2>
  </div>
</div>
{{>controls/breadcrumb}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Application Menu</h2>
  </div>
</div>
{{>controls/applicationmenu}}

<!-- Grids/Lists -->
<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Datagrid</h2>
  </div>
</div>
{{>controls/datagrid}}


<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Accordion</h2>
  </div>
</div>
{{>controls/accordion}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Accordion Panels</h2>
  </div>
</div>
{{>controls/accordion-panels}}

<!--  Visualisation -->
<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Tags</h2>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
  {{>controls/tags}}
  </div>
</div>


<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Badges</h2>
  </div>
</div>
{{>controls/badges}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Alerts</h2>
  </div>
</div>
{{>controls/alerts}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Process Indicator - Large Size</h2>
  </div>
</div>
{{>controls/processindicator}}


<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Time Line</h2>
  </div>
</div>
{{>controls/timeline}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Rating</h2>
  </div>
</div>
{{>controls/rating}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Busy Indicator</h2>
  </div>
</div>
{{>controls/busyindicator}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Progress</h2>
  </div>
</div>
{{>controls/progress}}

<!-- Charts -->

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Pie Chart</h2>
  </div>
</div>
{{>controls/pie}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Donut Chart</h2>
  </div>
</div>
{{>controls/donut}}


<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Vertical Bar Chart</h2>
  </div>
</div>
{{>controls/bar}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Stacked Bar - Vertical</h2>
  </div>
</div>
{{>controls/bar-stacked}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Stacked Bar - Vertical 100%</h2>
  </div>
</div>
{{>controls/bar-stacked-100}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Grouped Bar Chart</h2>
  </div>
</div>
{{>controls/bar-grouped}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Stacked Column Chart</h2>
  </div>
</div>
{{>controls/column}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Stacked Column Chart</h2>
  </div>
</div>
{{>controls/column-stacked}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Sparklines</h2>
  </div>
</div>
{{>controls/sparkline}}


<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Line Chart</h2>
  </div>
</div>
{{>controls/line}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Area Chart</h2>
  </div>
</div>
{{>controls/area}}

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Bullet Chart</h2>
  </div>
</div>
{{>controls/bullet}}

<br/>
<br/>
