<div class="row">
  <div class="twelve columns">
    <h2>Toolbar Test: Overflow Examples</h2>
    <p>The following methods of toolbar item overflow are described in <a href="http://jira/browse/HFC-2950" target="_blank">this JIRA Ticket</a>:</p>
    <ul>
      <li>1 Button: all buttons may be shown</li>
      <li>2 Buttons: all buttons may be shown</li>
      <li>3 Buttons: all buttons may be shown</li>
      <li>More than 3 Buttons: "More Actions" button becomes present, Button 3 and above spill into overflow menu.</li>
    </ul>
    <p></p><p></p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">1 Button, No Pre-built More Menu</div>
      <div class="buttonset">
        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-mingle-share"></use>
          </svg>
          <span>Share</span>
        </button>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">2 Buttons, No Pre-built More Menu</div>
      <div class="buttonset">
        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-calendar"></use>
          </svg>
          <span>Date</span>
        </button>

        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-mingle-share"></use>
          </svg>
          <span>Share</span>
        </button>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">3 Buttons, No Pre-built More Menu</div>
      <div class="buttonset">
        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-filter"></use>
          </svg>
          <span>Category</span>
        </button>

        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-calendar"></use>
          </svg>
          <span>Date</span>
        </button>

        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-mingle-share"></use>
          </svg>
          <span>Share</span>
        </button>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">4 Buttons, No Pre-built More Menu</div>
      <div class="buttonset">
        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-save"></use>
          </svg>
          <span>Save</span>
        </button>

        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-filter"></use>
          </svg>
          <span>Category</span>
        </button>

        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-calendar"></use>
          </svg>
          <span>Date</span>
        </button>

        <button type="button" class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="/svg/icons.svg#icon-mingle-share"></use>
          </svg>
          <span>Share</span>
        </button>
      </div>
    </div>

  </div>
</div>
