<header id="topBanner" style="display:none;" class="header" >
  <div class="toolbar" role="toolbar">
    <div class="title">
      <button class="btn-icon application-menu-trigger" type="button" tabindex="0">
        <span class="audible">Show navigation</span>
        <span class="icon app-header">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </span>
      </button>
      <h1>Infor Lawson</h1>
    </div>
    <div class="buttonset">
      <div id="lawsearchField" class="searchfield-wrapper" style="display:none;">
        <input type="text" id="findText" class="searchfield" spellcheck="false" placeholder="Search..." onkeydown="prtlOnSearchKeyDown(event)" autofocus>
      </div>
      <button id="LAWMENUBTNSEARCH" class="inforSplitButton search inforIconButton"  type="button" title="Search Lawson Applications" style="float:left"><span></span></button>
      <button id="LAWMENUBTNNEWTAB"></button>
    </div>
  </div>
</header>
