  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          toggleOnIcon
        </td>
        <td>
          string
        </td>
        <td>
          The icon to use for on state on toggle buttons

        </td>
      </tr>
      <tr>
        <td>
          toggleOffIcon
        </td>
        <td>
          string
        </td>
        <td>
          The icon to use for off state on toggle buttons

        </td>
      </tr>
      <tr>
        <td>
          replaceText
        </td>
        <td>
          string
        </td>
        <td>
          If true the selection will be used to replace the content
in the button.

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings () = The settings you would like to modify.
 </span>
                
          
        </td>
        <td>
          <p>Update the component with new settings.</p>

        </td>
        <td>
          The api.
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown and remove any added markup and events.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
