<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Button Tests</h2>

    <div class="field">
      <button id="preferred" class="btn-primary" type="button">Prefered Action</button>
      <button id="standard" class="btn-secondary" type="button">Standard Action</button>
      <button id="disabled" class="btn-primary" type="button" disabled>Disabled</button>
      <button id="cancel" class="btn-tertiary" type="button">Cancel</button>
      <button id="accept" class="btn-tertiary" type="button">Accept</button>
    </div>

    <br>
    <br>

     <hr class="fieldset-hr">
     <h2 class="fieldset-title">100% Button</h2>

    <div class="field">
      <button id="one-hundred" class="btn-primary full-width" type="button">One Hundred Percent</button>
    </div>

    <div class="field">
      <button id="fitty" class="btn-primary half-width" type="button">Fifty Percent</button>
    </div>

  </div>
</div>
