{{> includes/head}}

<body class="no-scroll">
  <a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
  {{> includes/svg-inline-refs}}
  {{> includes/applicationmenu-with-searchfield-custom}}

  <div class="page-container scrollable" role="main">

      <header class="header is-personalizable" id="maincontent">
        <div class="toolbar">
          <div class="title">
            {{> includes/header-appmenu-trigger}}
            {{> includes/page-title}}
          </div>

          <div class="buttonset">
          </div>

          {{> includes/header-actionbutton}}
        </div>

      </header>

  </div>

  {{> includes/footer}}

  <script>
    $('#application-menu').on('filtered.test', function(e, results) {
      var msg = (function() {
        var str = '';
        if (!results.length) {
          return 'No filter results!';
        } else {
          for (var i = 0; i < results.length; i++) {
            str += '<p>'+ results[i].text +'</p>';
          }
        }
        return str;
      })();
    });
  </script>
</body>
</html>
