// Sidebar Nav
//================================================== //

.sidebar-nav {
  display: inline-block;
  float: right;
  height: auto;
  margin-right: 30px;
  //margin-top: 48px;
  min-height: 100px;
  width: 210px;

  a {
    max-width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(.tag) {
      display: inline-block;
      @include font-size(14);
      line-height: 20px;
    }

    &.tag {
      display: block;

      &:hover {
        background-color: $graphite03;
      }
    }

  }

  h3 {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .content {
    height: auto;
    max-height: calc(100% - 310px);
    min-width: 260px;
    padding: 0 30px 30px;
    width: 150px;

    > h3 {
      border-bottom: 1px solid  $graphite03;
      clear: both;
      color: $graphite06;
      @include font-size(18);
      margin-bottom: 15px !important;
      padding-bottom: 15px !important;
      padding-top: 30px;

      &:not(:first-child) {
        margin-top: 35px;
      }
    }
  }

  > .tags {
    background-color: $graphite01;
  }

  .tag-list,
  .link-list {
    margin-left: 8px;
    padding-bottom: 10px;

    .timestamp {
      position: static;
    }
  }

  &.affix,
  &.affix-bottom {
    position: relative;

    /*
    .content {
      top: 50px;
    }
    */

  }

}
