// Tabs (Vertical and Horizontal)
//==================================================/

.animated-bar {
  height: 7px;
}

.tab-container.horizontal.has-counts .tab a {
  padding: 5px 11px 10px;
}

.tab-container.horizontal,
.tab-container.header-tabs {
  > .tab-list-container {
    .tab {
      &.is-disabled {
        color: $ids-color-brand-secondary-lighter !important;
      }

      // Adds "semi-bold" style to selected/active tabs
      &.is-selected {
        a {
          font-weight: 700;
          letter-spacing: -0.2px;
        }
      }
    }
  }
}

.popupmenu.tab-list-spillover,
.popupmenu.dropdown-tab {
  .icon {
    &.icon-error,
    &.icon-info,
    &.icon-alert {
      top: 10px;
    }
  }
}

.tab-container.horizontal > .tab-list-container .tab .icon-error {
  right: 3px;
  top: 16px;
  width: 15px;
}

.tab-container.horizontal .add-tab-button {
  margin-top: 7px;
  padding: 0;
  width: 35px;

  span[aria-hidden] {
    font-size: 25px;
    top: -1px;
  }
}

@import '../tabs-module/tabs-module-uplift';
