// Tabs (Vertical and Horizontal)
//==================================================/

.animated-bar {
  height: 7px;
}

.tab-container.has-counts {
  > .tab-list-container {
    .tab-list {
      padding: unset;
    }
  }
}

.tab-container.horizontal {
  > .tab-list-container {
    margin-top: 5px;
    height: 34px;

    .tab {
      a {
        padding: 7px 11px 5px;
      }

      &:not(.is-selected):not(.is-disabled):hover {
        border-bottom: 2px solid $tab-hover-color;
      }

      &:not(.is-disabled).is-selected {
        border-bottom: 2px solid $tab-selected-color;
      }

    }
  }
}

.tab-container.header-tabs {
  > .tab-list-container {
    .tab {
      a {
        padding: 12px 11px 5px;
      }
    }
  }
}

.tab-container.horizontal,
.tab-container.header-tabs {
  &.has-counts {
    .tab-list {
      margin-bottom: -1px;

      .separator {
        margin-bottom: -6px;
      }

      .tab a {
        padding: 5px 11px 4px !important;
      }
    }
  }

  > .tab-list-container {
    margin-bottom: -1px;

    .tab {
      &.has-popupmenu {
        .icon {
          height: 16px;
          margin: 7px 0 0 -5px;
          position: static;
          width: 32px;
        }
      }

      &.dismissible {
        .icon {
          &.close {
            margin-top: 3px;
          }
        }
      }

      top: 0;

      // Adds "semi-bold" style to selected/active tabs
      &:not(.is-disabled).is-selected {
        a {
          font-weight: 700;
          letter-spacing: -0.2px;
        }
      }
    }
  }

  .add-tab-button {
    span[aria-hidden] {
      @include font-size(24);
    }
  }

  .more-actions-button {
    margin-top: 3px;

    .btn-actions {
      height: auto;
      min-height: 32px;
      min-width: 32px;
      width: auto;
    }
  }
}

.tab-container.has-placeholder {
  .tab.draggable.arrange-placeholder {
    height: 34px !important;
    top: 0;
  }
}

.popupmenu.tab-list-spillover,
.popupmenu.dropdown-tab {
  .icon {
    &.icon-error,
    &.icon-info,
    &.icon-alert {
      top: 9px;
    }

    &.icon-error {
      margin-top: 0;
    }
  }
}

.tab-container.horizontal > .tab-list-container .tab {
  .icon-error,
  .icon-info,
  .icon-success,
  .icon-alert {
    right: 1px;
    top: 14px;
    width: 18px;
    height: 18px;
  }
}

.tab-container.horizontal .add-tab-button {
  top: 10px;
  padding: 0;
  width: 35px;
  height: 30px;
  color: $tab-add-tab-color;

  span[aria-hidden] {
    font-size: 25px;
    top: 2px;
  }
}

.tab-focus-indicator.is-visible {
  border-color: $tab-selected-color;
  box-shadow: $focus-box-shadow-new;
}

// RTL Styles
html[dir='rtl'] {
  .tab-container.horizontal,
  .tab-container.header-tabs {
    .tab {
      .icon-error {
        right: auto !important;
      }
    }
  }
}

html[dir='rtl'] .tab-container.horizontal .tab:not(.last-child).is-error a[role='tab'],
html[dir='rtl'] .tab-container.header-tabs .tab:not(.last-child).is-error a[role='tab'] {
  padding: 12px 13px 6px 21px;
}

html[dir='rtl'] .tab-container.horizontal .tab .icon-error,
html[dir='rtl'] .tab-container.header-tabs .tab .icon-error {
  left: 0;
  right: auto;
  top: 13px;
}

@import '../tabs-module/tabs-module-new';
@import '../tabs-multi/multi-tabs-new';
@import './tabs-horizontal-new';
@import '../tabs-vertical/tabs-vertical-new';
