
<div class="row">
  <div class="twelve columns">
    <h2>Wizard - Example Labels Ellipsis</h2>
    <p>Resize the browser window to see ellipsis to labels in place.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="wizard">
      <div class="wizard-header">
        <div class="bar">
          <div class="completed-range"></div>
          <a id="context-apps" href="#" class="tick complete">
            <span class="label">Context Lightweight Applications</span>
          </a>
          <a id="util-apps" href="#" class="tick complete">
            <span class="label">Best Utility Applications</span>
          </a>
          <a id="inbound-config" href="#" class="tick current">
            <span class="label">Inbound Configuration</span>
          </a>
          <a id="oid-mapping" href="#" class="tick">
            <span class="label">Object Identifiers Mapping</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
