<h1 id="popupmenu-component-learn-more">Popupmenu Component <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Popupmenu as a Menu Button <a href="../components/popupmenu/example-menubutton">View Example</a></li>
<li>Popupmenu with multiselect <a href="../components/popupmenu/example-selectable-multiple">View Example</a></li>
<li>Popupmenu with single select <a href="../components/popupmenu/example-selectable">View Example</a></li>
<li>Popupmenu with disabled submenus <a href="../components/popupmenu/example-disabled-submenus">View Example</a></li>
<li>Popupmenu with icons <a href="../components/popupmenu/example-icons">View Example</a></li>
</ol>
  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          menu
        </td>
        <td>
          string
        </td>
        <td>
          Menu's ID Selector, or a jQuery object representing a menu

        </td>
      </tr>
      <tr>
        <td>
          trigger
        </td>
        <td>
          string
        </td>
        <td>
          Action on which to trigger a menu can be: click,
rightClick, immediate ect

        </td>
      </tr>
      <tr>
        <td>
          autoFocus
        </td>
        <td>
          boolean
        </td>
        <td>
          If false the focus will not focus the first list
element. (At the cost of accessibility)

        </td>
      </tr>
      <tr>
        <td>
          attachToBody
        </td>
        <td>
          boolean
        </td>
        <td>
          If true the menu will be moved out to the body.
To be used in certin overflow situations.

        </td>
      </tr>
      <tr>
        <td>
          beforeOpen
        </td>
        <td>
          function
        </td>
        <td>
          Callback that can be used for populating the
contents of the menu.

        </td>
      </tr>
      <tr>
        <td>
          ariaListbox
        </td>
        <td>
          string
        </td>
        <td>
          Switches aria to use listbox construct instead
of menu construct (internal)

        </td>
      </tr>
      <tr>
        <td>
          eventObj
        </td>
        <td>
          string
        </td>
        <td>
          Can pass in the event object so you can do a right
click with immediate

        </td>
      </tr>
      <tr>
        <td>
          returnFocus
        </td>
        <td>
          string
        </td>
        <td>
          If set to false, focus will not be returned to
the calling element. It usually should be for accessibility purposes.

        </td>
      </tr>
      <tr>
        <td>
          placementOpts
        </td>
        <td>
          object
        </td>
        <td>
          Gets passed to this control's Place behavior

        </td>
      </tr>
      <tr>
        <td>
          offset
        </td>
        <td>
          object
        </td>
        <td>
          Can tweak the menu position in the x and y direction.
Takes an object of form: 
<code>{x: 0, y: 0}</code>

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>isRTL</td>
        <td>
          
        </td>
        <td>
          <p>Checks whether or not Right-To-Left reading mode is active.</p>

        </td>
        <td>
          whether or not the reading/writing direction is RTL
boolean
        </td>
      </tr>
      <tr>
        <td>markupItems</td>
        <td>
          
                
                  <span>contextElement () = the top-most element that will
be modified (defaults to the top-level menu).
 </span>
                
          
        </td>
        <td>
          
        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>getPositionFromEvent</td>
        <td>
          
                
                  <span>e (jQuery.Event) = the mouse event to be checked for pageX/pageY
 </span>
                
          
        </td>
        <td>
          <p>Get the event position, handling browser cases (IE,FF) as well as SVG</p>

        </td>
        <td>
          containing x/y coordinates
object
        </td>
      </tr>
      <tr>
        <td>position</td>
        <td>
          
                
                  <span>e (jQuery.Event) = jQuery Event that caused the menu to open (can be several types)
 </span>
                
          
        </td>
        <td>
          <p>Sets the position of the context menu.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>highlight</td>
        <td>
          
                
                  <span>anchor () = the anchor tag representing the menu item.
 </span>
                
          
        </td>
        <td>
          <p>Places a highlighted visual state on an item inside the menu</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>select</td>
        <td>
          
                
                  <span>anchor () = the anchor tag representing the menu item.
 </span>
                
          
        </td>
        <td>
          <p>Adds/removes checkmarks that are in selectable groups inside the Popupmenu</p>

        </td>
        <td>
          updated references to the anchor and its state.
array
        </td>
      </tr>
      <tr>
        <td>getSelected</td>
        <td>
          
        </td>
        <td>
          <p>Gets references to top-level menu items that are currently selected.</p>

        </td>
        <td>
          elements inside the top-level menu that are selected.

        </td>
      </tr>
      <tr>
        <td>isInSelectableSection</td>
        <td>
          
                
                  <span>anchor () = the anchor tag being checked.
 </span>
                
          
        </td>
        <td>
          <p>Determines whether or not an anchor resides inside of a selectable Popupmenu section.</p>

        </td>
        <td>
          elements inside the top-level menu that are selected.

        </td>
      </tr>
      <tr>
        <td>isInSingleSelectSection</td>
        <td>
          
                
                  <span>anchor () = the anchor tag being checked.
 </span>
                
          
        </td>
        <td>
          <p>Determines whether or not an anchor resides inside of a single-selectable Popupmenu section.</p>

        </td>
        <td>
          elements inside the top-level menu that are selected
within a single-selectable section.

        </td>
      </tr>
      <tr>
        <td>isInMultiselectSection</td>
        <td>
          
                
                  <span>anchor () = the anchor tag being checked.
 </span>
                
          
        </td>
        <td>
          <p>Determines whether or not an anchor resides inside of a multi-selectable Popupmenu section.</p>

        </td>
        <td>
          elements inside the top-level menu that are selected
within a multi-selectable section.

        </td>
      </tr>
      <tr>
        <td>detach</td>
        <td>
          
        </td>
        <td>
          <p>Removes event listeners from all popupmenu elements.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>close</td>
        <td>
          
                
                  <span>isCancelled (boolean) = Internally set option used if the operation is a cancel.
Wont matter for manual api call.
 </span>
                
                  <span>noFocus () = Do not return focus to the calling element (fx a button)
 </span>
                
          
        </td>
        <td>
          <p>Close the open menu</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>teardown</td>
        <td>
          
        </td>
        <td>
          <p>Removes bound events and generated markup from this component</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings () = incoming settings
 </span>
                
          
        </td>
        <td>
          <p>Updates this Popupmenu instance with new settings</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown markup and detach all events.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  

<h2 id="code-example">Code Example</h2>
<p>Popupmenu can be invoked in several ways. As a right click action menu fx on an input field or grid or list row (also known as a <a href="../components/contextmenu">Context Menu</a>). Via a click action menu for example on a menu or actions button. Or manually <code>trigger='immediate'</code> as needed via the popupmenu api.</p>
<p>The structure of the menu is a ul element with li elements containing links for each of the rows in the menu. An other ul element can be added to create a submenu. But try to only one level of submenus for accessibility and usability reasons.</p>
<p>The class popupmenu should be added to the ul elements at the top and submenu level. You can create rows as space separators for grouping with the tag with the class <code>separator</code>. You can create rows as groups with titles as well with the class group.</p>
<p>Here is an example of a menu button using a popupmenu. This is also described on the menu button page as the components are linked.</p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;btn-menu&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;span&gt;</span>Normal Menu<span class="kw">&lt;/span&gt;</span>
  <span class="kw">&lt;svg</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> class=</span><span class="st">&quot;icon icon-dropdown&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-dropdown&quot;</span><span class="kw">&gt;&lt;/use&gt;</span>
  <span class="kw">&lt;/svg&gt;</span>
<span class="kw">&lt;/button&gt;</span>
<span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;popupmenu&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Menu Option #1<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Menu Option #2<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Menu Option #3<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
<span class="kw">&lt;/ul&gt;</span>
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Make sure to always focus the triggering element when closing</li>
<li>Add aria-hidden when menu is in closed/invisible state</li>
<li>Uses role = application for correct modality</li>
<li>Elements with a popup get aria-haspopup and aria-owns = id</li>
<li>li elements get role = presentation for groups and separators</li>
<li>Checked items get aria-checked</li>
<li>Set aria-expanded when open</li>
<li>Can role = menu (usually role menu for popup menu, list box is for dropdown cases.</li>
<li>Anchor elements get role = menuitem</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li><strong>Shift F10</strong>
<ul>
<li>Posts the Popup Menu Widget When it is used as a <a href="http://en.wikipedia.org/wiki/Context_menu">Contextual Menu</a></li>
<li>Place input focus on the first available menuitem in the Popup Menu</li>
<li><strong>Note:</strong> The Browser's Contextual Menu pops up if the element with input focus does not have a Popup Menu attached</li>
</ul></li>
<li><strong>ESC</strong>
<ul>
<li>Causes no menu action and dismisses Popup Menu</li>
<li>Input focus is returned to the element from which the Popup Menu was called</li>
</ul></li>
<li><strong>Up/Down Arrow</strong>
<ul>
<li>Moves input focus vertically between each menuitem</li>
<li>Input focus wraps from the last to the first menuitem on a Down key press and vice-versa when the Up key is pressed.</li>
</ul></li>
<li><strong>Right/Left Arrow</strong>
<ul>
<li>Where applicable, causes a sub-menu to post or un-post</li>
<li>Causes no action if there is no sub-menu</li>
</ul></li>
<li><strong>Enter</strong>
<ul>
<li>Opens the menu if on an element with click linkage. If open, then enter will select the focused menu item.</li>
</ul></li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<p>The values within the Context Menu take the following states:</p>
<ul>
<li>Focus</li>
<li>Hover</li>
<li>Disabled</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>Should always fit on the screen and scroll inside if necessary.</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Is relatively backwards compatible except inforContextMenu should be replaced with popupmenu in the api call and class name</li>
<li>Remove class divider it is deprecated</li>
<li>Checkbox construct is simplified</li>
<li>Group replaced with heading</li>
</ul>
