  <section>
  
    



  
    



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>markupItems</td>
        <td>
          
                
                  <span>contextElement () =  </span>
                
          
        </td>
        <td>
          
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>close</td>
        <td>
          
                
                  <span>isCancelled (boolean) = Internally set option used if the operation is a cancel. Wont matter for manual api call.
 </span>
                
                  <span>noFocus (boolean) = Do not return focus to the calling element (fx a button)
 </span>
                
          
        </td>
        <td>
          <p>Close the open menu</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown markup and detach all events.</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
