<div class="row">
  <div class="six columns">
    <h2>Busy Indicator Test: Block Entire UI</h2>
    <p></p>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="six columns">

    <form id="busy-form" class="busy" action="#" method="POST" data-display-delay="300">
      <div class="field">
        <label for="busy-field-name">Name</label>
        <input id="busy-field-name" name="busy-field-name" />
      </div>
      <div class="field">
        <label for="busy-field-address">Address</label>
        <input id="busy-field-address" name="busy-field-address" />
      </div>
      <div class="field">
        <label for="busy-field-cats">Number of Cats</label>
        <input id="busy-field-cats" name="busy-field-cats" />
      </div>
      <div class="field">
        <button type="reset" class="btn-secondary">Clear</button>
        <button type="submit" class="btn-primary">Submit</button>
      </div>
    </form>

  </div>
</div>

<script type="text/javascript">
  $('body').on('initialized', function() {
    $('#busy-form button[type="submit"]').click(function(e) {
      e.preventDefault();
      $('#busy-form').trigger('start.busyindicator');
    });
  });
</script>
