// Splitter
//========================================================

.splitter-container {
  @include flexbox();
  @include flex-direction(row);
  @include flex(1 1 auto);

  &.is-horizontal {
    @include flex-direction(column);
  }

  * {
    @include flex(0 0 auto);
  }

  .flex-grow-shrink {
    @include flex(1 1 auto);

    &.is-right-side {
      margin-left: 20px;
    }
  }

  .is-right-side {
    border-right: 0;

    .panel-header {
      border-bottom: 0;
      height: 41px;
      padding-right: 0;
    }
  }

  .content {
    height: 100%;
  }
}

.splitter {
  @include transition(background-color 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94));

  background-color: inherit;
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  width: 20px;
  z-index: 100;

  &:hover,
  &:active,
  &:focus,
  &.is-dragging {
    background-color: $splitter-active-bg-color;
    outline: none;

    &::after {
      color: $splitter-active-grip-bg-color;
    }

    .splitter-btn .icon {
      color: $splitter-active-grip-bg-color;
    }
  }

  .splitter-btn {
    height: 30px;
    left: -4px;
    margin-top: -2px;
    min-width: 30px;
    position: absolute;
    transform: none;
    width: 30px;
    z-index: 101;

    .icon {
      color: $splitter-grip-bg-color;
      height: 16px;
      width: 16px;
    }

    &.rotate {
      left: -6px;
      margin-top: -5px;
      transform: rotate(180deg);
    }
  }

  &.is-dragging {
    box-shadow: -2px 0 3px 0 $splitter-box-shadow-color;
  }

  .panel-header {
    height: 41px;
  }

  &::after {
    color: $splitter-grip-bg-color;
    content: '⁞';
    display: block;
    font-size: 28px;
    left: 5px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
  }

  //Other Layouts
  &.splitter-right {
    border-right: 1px solid $panel-border-color;
    left: 229px;
    position: absolute;
    top: 0;

    &.is-dragging {
      box-shadow: 2px 0 3px 0 $splitter-box-shadow-color;
    }
  }

  //Other Layouts
  &.splitter-horizontal {
    cursor: ns-resize;
    height: 20px;
    position: absolute;
    width: 100%;

    &::after {
      @include transform(rotate(90deg));

      color: $splitter-grip-bg-color;
      content: '⁞';
      display: block;
      font-size: 28px;
      left: 50%;
      margin-left: -10px;
      position: absolute;
      top: 30%;
    }
  }

  + .tab-container.horizontal {
    margin: 0 20px;
  }
}

@include respond-to(phonedown) {
  .splitter {
    display: none;

    &.splitter-horizontal {
      display: block;
    }
  }
}

.ie {
  .splitter-container {
    .toolbar .buttonset > [class*='btn'] {
      line-height: normal;
    }
  }
}

.splitter-overlay {
  height: 100%;
  opacity: 0.6;
  visibility: visible;
}
