// Splitter
//========================================================

.splitter-container {
  @include flexbox();
  @include flex-direction(row);
  @include flex(1 1 auto);

  &.is-horizontal {
    @include flex-direction(column);
  }

  * {
    @include flex(0 0 auto);
  }

  .flex-grow-shrink {
    @include flex(1 1 auto);
  }

  .is-right-side {
    .panel-header {
      border-bottom: 0;
      height: 41px;
      padding-right: 0;
    }
  }

  .content {
    height: 100%;
  }
}

.splitter {
  border-inline-end: 1px solid $splitter-border-color;
  cursor: ew-resize;
  height: 100%;
  outline: none;
  position: absolute;
  margin-inline-start: -1px;
  width: 0;
  z-index: 100;

  // Hit Box
  &::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 100%;
    margin-inline-start: -6px;
  }

  .splitter-drag-handle {
    background-color: $splitter-handle-background-color;
    border-radius: 4px;
    display: block;
    height: 32px;
    margin-inline-start: -3px;
    opacity: 0;
    position: absolute;
    width: 6px;
  }

  &:hover,
  &:active,
  &.is-dragging {
    border: 2px solid $splitter-focus-border-color;
    margin-inline-start: -1.5px;

    .splitter-drag-handle {
      opacity: 1;
    }
  }

  &:focus:not(:hover) {
    border: 2px solid $splitter-focus-border-color;

    .splitter-drag-handle {
      opacity: 1;
      top: 50% !important;
      transform: translateY(-50%);
    }
  }

  .splitter-btn {
    height: 30px;
    left: -20px;
    margin-top: -2px;
    min-width: 16px;
    position: absolute;
    transform: rotate(180deg);
    width: 16px;
    z-index: 101;

    .icon {
      color: $splitter-border-color;
      height: 16px;
      width: 16px;
    }

    &.rotate {
      transform: rotate(0deg);
      left: 4px;
    }
  }

  .panel-header {
    height: 41px;
  }

  //Other Layouts
  &.splitter-right {
    left: 229px;
    margin-inline-start: 0;
    top: 0;

    .splitter-btn {
      transform: none;
      margin-left: 0.7px;

      &.rotate {
        margin-top: -6px;
        margin-left: -2px;
        transform: rotate(180deg);
      }
    }
  }

  //Other Layouts
  &.splitter-horizontal {
    border-inline-end: none;
    border-block-end: 1px solid $splitter-border-color;
    cursor: ns-resize;
    height: 0;
    width: 100%;

    .splitter-drag-handle {
      height: 6px;
      margin-inline-start: unset;
      margin-block-start: -3px;
      width: 32px;
    }

    // Hit Box
    &::after {
      content: '';
      position: absolute;
      height: 11px;
      width: 100%;
      z-index: 0;
      margin-top: -5px;
    }
  }

  &.is-dragging {
    border-color: $splitter-focus-border-color;
  }
}

@include respond-to(phonedown) {
  .splitter {
    display: none;

    &.splitter-horizontal {
      display: block;
    }
  }
}

.splitter-overlay {
  background-color: $ids-color-palette-white;
  height: 100%;
  opacity: 0.1;
  position: static;
  visibility: visible;
}

// RTL Styles
html[dir='rtl'] {
  .splitter {
    .splitter-btn {
      left: -20px;

      .icon {
        -ms-filter: fliph;
        filter: fliph;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
}
