
<div class="form-responsive row">
  <div class="one column">
    <div class="field">
      <label for="row-1-1">One</label>
      <input type="text" id="row-1-1" name="row-1-1">
    </div>
  </div>
  <div class="one column">
    <div class="field">
      <input type="checkbox" class="checkbox" id="row-1-2" name="row-1-2">
      <label for="row-1-2" class="checkbox-label">Two</label>
    </div>
  </div>
  <div class="one column">
    <div class="field">
      <label for="row-1-3">Three</label>
      <input type="text" id="row-1-3" name="row-1-3">
    </div>
  </div>
  <div class="one column">
    <div class="field">
      <label for="row-1-4">Four</label>
      <input type="text" id="row-1-4" name="row-1-4">
    </div>
  </div>
  <div class="one column">
    <div class="field">
      <label for="row-1-5">Five</label>
      <input type="text" id="row-1-5" name="row-1-5">
    </div>
  </div>
  <div class="one column">
    <div class="field">
      <label for="row-1-6">Six</label>
      <input type="text" id="row-1-6" name="row-1-6">
    </div>
  </div>
  <div class="one column">
    <div class="field">
      <label for="row-1-7">Seven</label>
      <input type="text" id="row-1-7" name="row-1-7">
    </div>
  </div>
  <div class="one column">
    <div class="field">
      <label for="row-1-8">Eight</label>
      <input type="text" id="row-1-8" name="row-1-8">
    </div>
  </div>
  <div class="one column">
      <div class="field">
        <label for="row-1-9">Nine</label>
        <input type="text" id="row-1-9" name="row-1-9">
      </div>
  </div>
  <div class="one column">
    <div class="field">
      <label for="row-1-10">Ten</label>
      <input type="text" id="row-1-10" name="row-1-10">
    </div>
 </div>
 <div class="one column">
    <div class="field">
      <label for="row-1-11">Eleven</label>
      <input type="text" id="row-1-11" name="row-1-11">
    </div>
 </div>
 <div class="one column">
    <div class="field">
      <label for="row-1-12">Twelve</label>
      <input type="text" id="row-1-12" name="row-1-12">
    </div>
 </div>
</div>
<div class="form-responsive row">
  <div class="one column">
    <div class="field">
      <label for="row-2-1">Field One</label>
      <input type="text" id="row-2-1" name="row-2-1">
    </div>
  </div>
  <div class="eleven columns">
    <div class="field">
      <label for="row-2-2" class="label">Field Eleven</label>
      <input id="row-2-2" class="datepicker" name="row-2-2"  type="text">
    </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="two columns">
    <div class="field">
      <label class="fileupload">
          <span class="audible">Field Two</span>
          <input type="file" name="file-input" />
      </label>
    </div>
  </div>
  <div class="ten columns">
    <div class="field">
      <label for="row-3-10">Field Ten</label>
      <input type="text" id="row-3-10" name="row-3-10">
    </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="three columns">
    <div class="field">
      <label for="row-4-3" class="label">Field Three</label>
      <input id="row-4-3" class="lookup" name="row-4-3" type="text">
    </div>
  </div>
  <div class="nine columns">
    <div class="field">
      <label for="row-4-9">Field Nine</label>
      <input type="text" id="row-4-9" name="row-4-9">
    </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="four columns">
    <div class="field">
      <label for="row-5-4">Field Four</label>
      <input type="text" id="row-5-4" name="row-5-4">
    </div>
  </div>
  <div class="eight columns">
    <div class="field">
      <label for="row-5-8" class="label">States</label>
      <select id="row-5-8" name="row-5-8" class="dropdown">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
      </select>
    </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="five columns">
      <div class="field">
        <label for="row-6-5">Field Five</label>
        <input type="text" id="row-6-5" name="row-6-5">
      </div>
  </div>
  <div class="seven columns">
      <div class="field">
        <label for="row-6-7">Field Seven</label>
        <input type="text" id="row-6-7" name="row-6-7">
      </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="six columns">
      <div class="field">
        <label for="row-7-6">Field Six</label>
        <input type="text" id="row-7-6" name="row-7-6">
      </div>
  </div>
  <div class="six columns">
      <div class="field">
        <label for="row-7-66">Field Six</label>
        <input type="text" id="row-7-66" name="row-7-66">
      </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="seven columns">
      <div class="field">
        <label for="row-8-7">Field Seven</label>
        <input type="text" id="row-8-7" name="row-8-7">
      </div>
  </div>
  <div class="five columns">
      <div class="field">
        <label for="row-8-5">Field Five</label>
        <input type="text" id="row-8-5" name="row-8-5">
      </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="eight columns">
    <div class="field">
      <label for="row-9-8">Field Eight</label>
      <input type="text" id="row-9-8" name="row-9-8">
    </div>
  </div>
  <div class="four columns">
    <div class="field">
      <label for="row-9-4">Field Four</label>
      <input type="text" id="row-9-4" name="row-9-4">
    </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="nine columns">
    <div class="field">
      <label for="row-10-4">Field Nine</label>
      <input type="text" id="row-10-4" name="row-10-4">
    </div>
  </div>
  <div class="three columns">
      <div class="field">
        <label for="row-10-3">Field Three</label>
        <input type="text" id="row-10-3" name="row-10-3">
      </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="ten columns">
      <div class="field">
        <label for="row-11-10">Field Ten</label>
        <input type="text" id="row-11-10" name="row-11-10">
      </div>
  </div>
  <div class="two columns">
    <div class="field">
      <label for="row-11-2">Field Two</label>
      <input type="text" id="row-11-2" name="row-112">
    </div>
  </div>
</div>
<div class="form-responsive row">
  <div class="eleven columns">
    <div class="field">
      <label for="row-12-11">Field Eleven</label>
      <input type="text" id="row-12-11" name="row-12-11">
    </div>
  </div>
  <div class="one column">
    <div class="field">
      <label for="row-12-1">Field One</label>
      <input type="text" id="row-12-1" name="row-12-1">
    </div>
  </div>
</div>
