<h1 id="form-functionality-and-form-layout-learn-more">Form Functionality and Form Layout <a href="#">Learn More</a></h1>
<h2 id="general-information">General Information</h2>
<p>The forms plugins are a set of form related small utils and functionality contained in <code>forms.js</code>. This page outlines the functionality contained in that plugin and shows some from related examples for layout from other areas.</p>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Form Inputs in the Responsive Grid <a href="../components/form/example-inputs">View Example</a></li>
<li>Form Inputs in the Responsive Simplified Grid <a href="../components/form/example-inputs-simple">View Example</a></li>
<li>Dirty Fields <a href="#">View Example</a></li>
<li>Form Layouts <a href="../components/form/example-forms">View Example</a></li>
<li>Form Labels <a href="../components/form/example-labels">View Example</a></li>
</ol>
<h2 id="form-layout-classes">Form Layout Classes</h2>
<p>Note: For text/typography specific classes see the classes section on the <a href="../components/typography">typography page</a></p>
<p>The following classes can be used for form labels:</p>
<ul>
<li><code>label</code> - Used for styling spans like labels or form labels.</li>
<li><code>data-description</code> - Used for stying data in a label when used next to an input.</li>
<li><code>data</code> - Used for stying data in a label without an input.</li>
</ul>
<p>The following classes can be used for form and label alignment.</p>
<ul>
<li><code>form-responsive</code> - Makes all the fields inside go to width 100% so that the fields will align in a responsive grid. You have the option to use fixed field sizes (default) or responsive forms. This class forces a responsive form. <a href="../components/form/example-inputs">See Example</a></li>
<li><code>field-flex</code> - Makes all the labels and fields inside go into a side by side layout. Yet still work responsively. This can be used for labels input description situations or to force some labels to sit together , similar to compound fields <a href="../components/form/example-labels">See Example</a></li>
<li><code>label-left</code> - Used to put a label and data label to the left of each other rather than on top. This may be used on some forms but not with editable inputs. <a href="../components/form/example-labels">See Example</a></li>
<li><code>compound-field</code> - Used to put several fields next to each other in a row. This may be used for related fields like phone + extension <a href="../components/form/example-forms">See Example</a></li>
</ul>
