<div class="row">
  <div class="six columns">
    <h2>Tooltip Test: Hyperlinks</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <button class="btn-secondary" type="button" data-options="{ 'keepOpen': true, 'attributes': [ { 'name': 'data-automation-id', 'value': 'awesome' } ] }" title="Check out the <a class='hyperlink' data-automation-id='my-hyperlink' href='http://www.infor.com' target='_blank'>Infor Website</a>">
      <span>Example</span>
    </button>

  </div>
</div>
