<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="date-field" class="label">Date Field</label>
      <input id="date-field"  class="datepicker" name="date-field" type="text" data-validate="required" data-options="{'dateFormat': 'yyyy', 'disable':{'dates': '','minDate': '12/31/2016','maxDate': '1/1/2018','dayOfWeek': '[]'}}">
    </div>
    <span>Only valid year is 2017. minDate = 12/31/2016 and maxDate = 1/1/2018</span>
    <script>
//      $('body').on('initialized', function () {
//        $('#date-field').data('datepicker').setValue('05/12/2015', true);
//      });
      $('#date-field').on('error valid', function(e) {
        console.log(e.type);
      });
    </script>
  </div>
</div>
