<h1 id="vertical-tabs-learn-more">Vertical Tabs <a href="https://soho.infor.com/index.php?p=component/tabs">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol>
<li><a href="../components/tabs-vertical/example-independent-scrolling">Independent Column Scrolling</a><br /></li>
<li><a href="../components/tabs-vertical/example-outbound-links-page1">Vertical Tabs as outbound links</a><br /></li>
<li><a href="../components/tabs-vertical/example-responsive">Responsive Setting (changes to header tabs)</a></li>
</ol>
<h2 id="api-details">API Details</h2>
<p>All Soho Tabs components use the same API. For details on this component's API, please read the <a href="../components/tabs">Tabs Component API</a>.</p>
