// Uplift Chart - Svg and Css
//================================================== //

@import '../popupmenu/popupmenu-new';
@import '../tooltip/tooltip-new';

.chart-container {
  .chart-legend.is-bottom {
    padding-bottom: 0;
    padding-top: 5px;
  }

  &.has-bottom-legend.auto-height {
    .chart-legend.is-bottom {
      padding-left: 0;
    }
  }

  .chart-legend .chart-legend-item-text,
  .text,
  text {
    font-family: $ids-font-family-base;
    font-size: $ids-size-font-px-16;
    line-height: 1.8rem;
  }

  .chart-donut-text {
    font-size: 1.8rem;

    ::selection {
      color: $inverse-color;
      fill: $inverse-color;
    }

    ::-moz-selection {
      color: $inverse-color;
      fill: $inverse-color;
    }
  }

  .chart-legend-title {
    font-size: $ids-size-font-px-16;
  }
}
