// Uplift Chart - Svg and Css
//================================================== //

.chart-container {
  .chart-legend .chart-legend-item-text,
  .text,
  text {
    font-family: $theme-font-family-base;
    font-size: $theme-size-font-xs;
  }

  .chart-donut-text {
    font-size: 1.8rem;
  }
}
