// Uplift Chart - Svg and Css
//================================================== //

.chart-container {
  .chart-legend.is-bottom {
    padding-bottom: 0;
    padding-top: 0.7em;
  }

  .chart-legend .chart-legend-item-text,
  .text,
  text {
    font-family: $ids-font-family-base;
    font-size: $ids-size-font-xs;
  }

  .chart-donut-text {
    font-size: 1.8rem;
  }
}
