 <div class="row">
    <div class="twelve columns">

       <h3>Grid Example: List Scrolling Contained Max Height</h3>
       <p>
          This grid uses the List style, a max-height of 400px, and automatic column widths.
          The grid should start out empty and only take up the minimum height needed to show the header and footer.
          After clicking "Add Data" the grid should max out at a height of 400px and have a scroll bar.
       </p>
       <p></p>

       <div class="contained" style="width: 100%; max-height: 400px;">
          <div class="toolbar has-more-button" role="toolbar">
             <div class="title">Custom Toolbar <span class="datagrid-result-count">(N Results)</span></div>
             <div class="buttonset">
                <button class="btn" type="button" id="add-data">Add Data</button>
                <button class="btn" type="button" id="remove-data">Remove Data</button>
             </div>

             <div class="more">
                <button type="button" class="btn-actions">
                   <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                      <use xlink:href="#icon-more"></use>
                   </svg><span class="audible">Grid Features</span>
                </button>
                <ul class="popupmenu">
                   <li><a href="#">Option One</a></li>
                   <li><a href="#">Option Two</a></li>
                   <li class="separator single-selectable-section"></li>
                   <li class="heading">Row Height</li>
                   <li class="is-selectable"><a data-option="row-short">Short</a></li>
                   <li class="is-selectable"><a data-option="row-medium">Medium</a></li>
                   <li class="is-selectable is-checked"><a data-option="row-normal">Normal</a></li>
                </ul>
             </div>
          </div>

          <div id="datagrid" class="datagrid-contained"></div>
       </div>

    </div>
 </div>

 <script>
    var grid;

    $('body').one('initialized', function () {

       var columns = [],
          data = [];

       // Some Sample Data
       data.push({ id: 1, productId: 2142201, productName: 'Compressor', activity:  'Assemble Paint', quantity: 1, price: 210.99, status: 'OK', orderDate: new Date(2014, 12, 8), action: 'Action'});
       data.push({ id: 2, productId: 2241202, productName: 'Different Compressor', activity:  'Inspect and Repair', quantity: 2, price: 210.99, status: '', orderDate: new Date(2015, 7, 3), action: 'On Hold'});
       data.push({ id: 3, productId: 2342203, productName: 'Some Other Compressor ABC-12345', activity:  'Inspect and Repair', quantity: 1, price: 120.99, status: null, orderDate: new Date(2014, 6, 3), action: 'Action'});
       data.push({ id: 4, productId: 2342204, productName: 'Compressor', activity:  'This is some very long text to make the grid have horizontal scrolling ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ...'});
       data.push({ id: 5, productId: 2342205, productName: 'Compressor', activity:  'Inspect and Repair'});
       data.push({ id: 6, productId: 2342206, productName: 'Compressor', activity:  'Inspect and Repair'});
       data.push({ id: 7, productId: 2342207, productName: 'Compressor', activity:  'Inspect and Repair'});
       data.push({ id: 8, productId: 2342208, productName: 'Compressor', activity:  'Inspect and Repair'});
       data.push({ id: 9, productId: 2342209, productName: 'Compressor', activity:  'Inspect and Repair'});
       data.push({ id: 10, productId: 2342210, productName: 'Compressor', activity:  'Inspect and Repair'});
       data.push({ id: 11, productId: 2342211, productName: 'Compressor', activity:  'Inspect and Repair'});

       //Define Columns for the Grid.
       columns.push({ id: 'productId', name: 'Product Id', field: 'productId', formatter: Formatters.Readonly});
       columns.push({ id: 'productName', name: 'Product Name', field: 'productName',  formatter: Formatters.Hyperlink});
       columns.push({ id: 'activity', name: 'Activity', field: 'activity'});
       columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy'});

       //Init and get the api for the grid
       grid = $('#datagrid').datagrid({
          columns: columns,
          dataset: [],
          selectable: 'single',
          isList: true,
          paging: true,
          pagesize: 10,
          toolbar: {results: true}
       }).data('datagrid');

       $('#add-data').on('click', function () {
          grid.loadData(data);
       });

       $('#remove-data').on('click', function () {
          grid.loadData([]);
       });

    });
 </script>
