
<div class="row">
  <div class="twelve columns">
    <div id="datagrid">
    </div>
  </div>
</div>

<script>
  $('body').one('initialized', function () {

      //This example is testing a situation where teh grid is initialized with zero rows and then having data added.
      var columns = [];

      //Define Columns for the Grid.
      columns.push({ id: 'productId', name: 'Product Id', field: 'productId', width: 140, formatter: Formatters.Readonly});
      columns.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', width: 150, formatter: Formatters.Hyperlink});
      columns.push({ id: 'activity', hidden: true, name: 'Activity', field: 'activity', width: 125});
      columns.push({ id: 'quantity', name: 'Quantity', field: 'quantity', width: 125});
      columns.push({ id: 'price', name: 'Price', field: 'price', width: 125, formatter: Formatters.Decimal});
      columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy'});

     $('#datagrid').datagrid({
      columns: columns,
      dataset: [],
      selectable: 'single',
      paging: true,
      pagesize: 15,
      toolbar: {title: 'Data Grid Header Title', results: true, dateFilter: false ,keywordFilter: true, advancedFilter: true, actions: true, views: true, rowHeight: true}
      });

      //Get some data via ajax
      var url = '/api/compressors?pageNum=1&pageSize=1000';

      setTimeout(function () {

         $.getJSON(url, function(data) {
          $('#datagrid').data('datagrid').loadData(data);
        });

      }, 3000);

  });
</script>

