
<div class="row">
  <div class="two-thirds column">
      <div class="widget">
        <div class="widget-header">
          <h2 class="widget-title">Pie Chart Title</h2>
        </div>
        <div class="widget-content">
          <div id="pie-chart-example" class="chart-container">
          </div>
        </div>
      </div>
  </div>
</div>

{{={{{ }}}=}}

<script>
$('body').on('initialized', function () {

  var pieData = [{
      data: [{
          name: 'Item A',
          value: 10.1,
          id: 'ca',
          tooltip: 'Item A <b>{{percent}}</b>'
      }, {
          name: 'Item B',
          value: 12.2,
          id: 'cb',
          tooltip: 'Item B <b>{{percent}}</b>'
      }, {
          name: 'Item C',
          value: 14.35,
          tooltip: 'Item C Is Very Cool<b>{{percent}}</b>'
      }, {
          name: 'Item D',
          value: 15.6,
          tooltip: 'Item D <b>{{percent}}</b>'
      }, {
          name: 'Item E',
          value: 21.6,
          tooltip: 'Item E <b>{{percent}}</b>'
      }, {
          name: 'Item F',
          value: 41.6,
          tooltip: 'Item F <b>{{percent}}</b>'
      }]
    }];

  $('#pie-chart-example').chart({type: 'pie', dataset: pieData}).on('selected', function(e, elem, info) {
  //  window.location = info.data.url;
  });

});
</script>
