
<div class="row top-padding">
  <div class="two-thirds column">

      <div class="widget auto-height">
        <div class="widget-header">
          <h2 class="widget-title">Taxes and Deductions</h2>
        </div>
        <div class="widget-content" style="height: 400px">
          <div id="pie-chart-example" class="chart-container">
          </div>
        </div>
      </div>

  </div>
</div>

{{={{{ }}}=}}

<script>
$('body').on('initialized', function () {

  var pieData = [{
    data: [{
        name: 'Company Deductions',
        shortName: 'CD',
        value: 0,
        tooltip: 'Company Deductions <b>{{value}}</b>',
        color: '#000000'
      }, {
        name: 'After-tax Deductions',
        shortName: 'After-tax',
        value: 11,
        tooltip: 'After-tax Deductions <b>{{value}}</b>'
      }, {
        name: 'Pre-tax Deductions',
        shortName: 'Pre-tax',
        value: 12,
        tooltip: 'Pre-tax Deductions <b>{{value}}</b>'
      }, {
        name: 'Taxes',
        shortName: 'Af-tax',
        value: 17,
        tooltip: 'Taxes <b>%value%</<b>'
      }, {
        name: 'Wages',
        shortName: 'Wages',
        value: 52,
        tooltip: 'Wages <b>%value%</b>'
      }]
    }];

  $('#pie-chart-example').chart({
    type: 'pie',
    dataset: pieData,
    showLines: false
  });

});
</script>
