<h1 id="pie-chart-learn-more">Pie Chart <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol>
<li>Pie Chart Main Example <a href="../components/pie/example-index">View Example</a><br /></li>
<li>Hcm Example <a href="../components/pie/example-hcm">View Example</a><br /></li>
<li>Tooltips <a href="../components/pie/example-tooltip">View Example</a><br /></li>
<li>Donut Chart <a href="../components/donut/example-index">View Example</a></li>
<li>Example showing get selected value <a href="../components/pie/example-get-selected">View Example</a></li>
</ol>
<h2 id="api-details">API Details</h2>
<h3 id="settings">Settings</h3>
<ul>
<li><code>redrawOnResize</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong><br /></li>
<li><code>animate</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If false chart will not animate when rendering<br /></li>
<li><code>labels</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></strong>  -  An object with options to configure the labels of form <code>labels : {hideLabels: true}</code><br /></li>
<li><code>labels: {hideLabels}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong> - Do not show labels<br /></li>
<li><code>labels: {isTwoline}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong> - Show the labels on two different lines<br /></li>
<li><code>labels: {contentsTop}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - Customize the top of two the labels, can be <code>'name'|'value'|'percentage'|'name, value'|'name (value)'|'name (percentage)'</code>. If only one label this setting will be used.<br /></li>
<li><code>labels: {contentsBottom}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - Customize the bottom of the two labels, can be <code>'name'|'value'|'percentage'|'name, value'|'name (value)'|'name (percentage)'</code><br /></li>
<li><code>labels: {formatterTop}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - Use d3 Format on the top label, see <a href="http://koaning.s3-website-us-west-2.amazonaws.com/html/d3format.html">http://koaning.s3-website-us-west-2.amazonaws.com/html/d3format.html</a><br /> (percentage)'`<br /></li>
<li><code>labels: {formatterBottom}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - Use d3 Format on the top label, see <a href="http://koaning.s3-website-us-west-2.amazonaws.com/html/d3format.html">http://koaning.s3-website-us-west-2.amazonaws.com/html/d3format.html</a><br /> (percentage)'`<br /></li>
<li><code>labels: {colorTop}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - How to colorize the top label it can be one of <code>'default'|'color-as-arc'|'#000000'|'black'</code><br /></li>
<li><code>labels: {colorBottom}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - How to colorize the bottom label it can be one of <code>'default'|'color-as-arc'|'#000000'|'black'</code><br /></li>
<li><code>labels: {lineColor}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - How to colorize the line links can be one of <code>'default'|'color-as-arc'|'#000000'|'black'</code><br /></li>
<li><code>labels: {lineWidth}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - How many pixels should the line be (default 2)<br /></li>
<li><code>labels: {linehideWhenMoreThanPercentage}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - If the percentage is less than this (default 10), hide the line.</li>
</ul>
<h2 id="code-example">Code Example</h2>
<p>This example shows how to invoke a pie bar chart with a dataset controlling the values.</p>
<pre class="sourceCode javascript"><code class="sourceCode javascript">
  <span class="kw">var</span> pieData = [{
      <span class="dt">data</span>: [{
          <span class="dt">name</span>: <span class="st">&#39;Component A&#39;</span>,
          <span class="dt">value</span>: <span class="fl">10.1</span>,
          <span class="dt">id</span>: <span class="st">&#39;A&#39;</span>,
          <span class="dt">tooltip</span>: <span class="st">&#39;Component A &lt;b&gt;{{percent}}&lt;/b&gt;&#39;</span>
      }, {
          <span class="dt">name</span>: <span class="st">&#39;Component B&#39;</span>,
          <span class="dt">value</span>: <span class="fl">12.2</span>,
          <span class="dt">id</span>: <span class="st">&#39;B&#39;</span>,
          <span class="dt">tooltip</span>: <span class="st">&#39;Component B &lt;b&gt;{{percent}}&lt;/b&gt;&#39;</span>
      }, {
          <span class="dt">name</span>: <span class="st">&#39;Component C&#39;</span>,
          <span class="dt">value</span>: <span class="fl">14.35</span>,
          <span class="dt">id</span>: <span class="st">&#39;C&#39;</span>,
          <span class="dt">tooltip</span>: <span class="st">&#39;Component C Is Very Cool&lt;b&gt;{{percent}}&lt;/b&gt;&#39;</span>
      }]
    }];

  <span class="fu">$</span>(<span class="st">&#39;#pie-chart-example&#39;</span>).<span class="fu">chart</span>({<span class="dt">type</span>: <span class="st">&#39;pie&#39;</span>, <span class="dt">dataset</span>: pieData});</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>The contrast and actual colors can be a concern for visibility impaired and color blind people. However, you can customize the color by passing different contrast colors.</li>
</ul>
<h2 id="code-tips">Code Tips</h2>
<p>You can control the size of the donut chart by setting the size of the parent element the pie chart lives in.<br />This may include possibly using an inset margin in some cases.</p>
<p>See also <a href="../components/donut/example-index">Donut Chart Example</a></p>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>None</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>The pie chart and dount chart was added in 3.6; so 3.6 the api is mostly compatible.</li>
</ul>
