<h1 id="pie-chart-learn-more">Pie Chart <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol>
<li>Pie Chart Main Example <a href="../components/pie/example-index">View Example</a></li>
<li>Hcm Example <a href="../components/pie/example-hcm">View Example</a></li>
<li>Tooltips <a href="../components/pie/example-tooltip">View Example</a></li>
<li>Donut Chart <a href="../components/donut/example-index">View Example</a></li>
<li>Set animation speed <a href="../components/pie/example-animation">View Example</a></li>
<li>Example showing Get Selected value <a href="../components/pie/example-get-selected">View Example</a></li>
<li>Example showing Set Selected value <a href="../components/pie/example-set-selected">View Example</a></li>
</ol>
<h2 id="api-details">API Details</h2>
<h3 id="settings">Settings</h3>
<ul>
<li><code>redrawOnResize</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong></li>
<li><code>animate</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If false chart will not animate when rendering</li>
<li><code>labels</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></strong>  -  An object with options to configure the labels of form <code>labels : {hideLabels: true}</code></li>
<li><code>labels: {hideLabels}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong> - Do not show labels</li>
<li><code>labels: {isTwoline}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong> - Show the labels on two different lines</li>
<li><code>labels: {contentsTop}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - Customize the top of two the labels, can be <code>'name'|'value'|'percentage'|'name, value'|'name (value)'|'name (percentage)'</code>. If only one label this setting will be used.</li>
<li><code>labels: {contentsBottom}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - Customize the bottom of the two labels, can be <code>'name'|'value'|'percentage'|'name, value'|'name (value)'|'name (percentage)'</code></li>
<li><code>labels: {formatterTop}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - Use d3 Format on the top label, see <a href="http://koaning.s3-website-us-west-2.amazonaws.com/html/d3format.html" class="uri">http://koaning.s3-website-us-west-2.amazonaws.com/html/d3format.html</a> (percentage)'`</li>
<li><code>labels: {formatterBottom}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - Use d3 Format on the top label, see <a href="http://koaning.s3-website-us-west-2.amazonaws.com/html/d3format.html" class="uri">http://koaning.s3-website-us-west-2.amazonaws.com/html/d3format.html</a> (percentage)'`</li>
<li><code>labels: {colorTop}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - How to colorize the top label it can be one of <code>'default'|'color-as-arc'|'#000000'|'black'</code></li>
<li><code>labels: {colorBottom}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - How to colorize the bottom label it can be one of <code>'default'|'color-as-arc'|'#000000'|'black'</code></li>
<li><code>labels: {lineColor}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - How to colorize the line links can be one of <code>'default'|'color-as-arc'|'#000000'|'black'</code></li>
<li><code>labels: {lineWidth}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - How many pixels should the line be (default 2)</li>
<li><code>labels: {linehideWhenMoreThanPercentage}</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong> - If the percentage is less than this (default 10), hide the line.</li>
</ul>
<h2 id="code-example">Code Example</h2>
<p>This example shows how to invoke a pie bar chart with a dataset controlling the values.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2">  <span class="kw">var</span> pieData <span class="op">=</span> [<span class="op">{</span></a>
<a class="sourceLine" id="cb1-3" data-line-number="3">      <span class="dt">data</span><span class="op">:</span> [<span class="op">{</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">          <span class="dt">name</span><span class="op">:</span> <span class="st">&#39;Component A&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">          <span class="dt">value</span><span class="op">:</span> <span class="fl">10.1</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6">          <span class="dt">id</span><span class="op">:</span> <span class="st">&#39;A&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">          <span class="dt">tooltip</span><span class="op">:</span> <span class="st">&#39;Component A &lt;b&gt;{{percent}}&lt;/b&gt;&#39;</span></a>
<a class="sourceLine" id="cb1-8" data-line-number="8">      <span class="op">},</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">          <span class="dt">name</span><span class="op">:</span> <span class="st">&#39;Component B&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-10" data-line-number="10">          <span class="dt">value</span><span class="op">:</span> <span class="fl">12.2</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11">          <span class="dt">id</span><span class="op">:</span> <span class="st">&#39;B&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-12" data-line-number="12">          <span class="dt">tooltip</span><span class="op">:</span> <span class="st">&#39;Component B &lt;b&gt;{{percent}}&lt;/b&gt;&#39;</span></a>
<a class="sourceLine" id="cb1-13" data-line-number="13">      <span class="op">},</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb1-14" data-line-number="14">          <span class="dt">name</span><span class="op">:</span> <span class="st">&#39;Component C&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-15" data-line-number="15">          <span class="dt">value</span><span class="op">:</span> <span class="fl">14.35</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-16" data-line-number="16">          <span class="dt">id</span><span class="op">:</span> <span class="st">&#39;C&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-17" data-line-number="17">          <span class="dt">tooltip</span><span class="op">:</span> <span class="st">&#39;Component C Is Very Cool&lt;b&gt;{{percent}}&lt;/b&gt;&#39;</span></a>
<a class="sourceLine" id="cb1-18" data-line-number="18">      <span class="op">}</span>]</a>
<a class="sourceLine" id="cb1-19" data-line-number="19">    <span class="op">}</span>]<span class="op">;</span></a>
<a class="sourceLine" id="cb1-20" data-line-number="20"></a>
<a class="sourceLine" id="cb1-21" data-line-number="21">  <span class="at">$</span>(<span class="st">&#39;#pie-chart-example&#39;</span>).<span class="at">chart</span>(<span class="op">{</span><span class="dt">type</span><span class="op">:</span> <span class="st">&#39;pie&#39;</span><span class="op">,</span> <span class="dt">dataset</span><span class="op">:</span> pieData<span class="op">}</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb1-22" data-line-number="22"></a></code></pre></div>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>The contrast and actual colors can be a concern for visibility impaired and color blind people. However, you can customize the color by passing different contrast colors.</li>
</ul>
<h2 id="code-tips">Code Tips</h2>
<p>You can control the size of the donut chart by setting the size of the parent element the pie chart lives in. This may include possibly using an inset margin in some cases.</p>
<p>See also <a href="../components/donut/example-index">Donut Chart Example</a></p>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>None</li>
</ul>
<h2 id="upgrading-from-3x">Upgrading from 3.X</h2>
<ul>
<li>The pie chart and dount chart was added in 3.6; so 3.6 the api is mostly compatible.</li>
</ul>
