// Column Chart
//==================================================//

// SVG Chart Styles
.chart-container {

  //Bar Grouped Style
  &.column-chart {
    .domain {
      stroke: transparent;
    }

    .tick {
      line {
        stroke: $chart-line-color;
      }

      &.tick0 {
        line {
          stroke: $chart-line-color-axis;
        }
      }

      &.is-selected {
        font-weight: $ids-number-font-weight-bold;
      }
    }

    rect {
      cursor: pointer;

      &.is-not-selected {
        opacity: 0.35;
      }
    }
  }

}
