<div class="row top-padding">
    <div class="six columns">
      <div class="avatar round">MN</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="avatar large round">MN</div>
      <br /><br />
      <div class="avatar">AC</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="avatar large">Ac</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <br /><br />
      <div class="avatar azure05">AC</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="avatar large azure05">Ac</div>
      <br /><br />
      <div class="avatar three-char">mon</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="avatar large three-char">mon</div>
      <br /><br />
      <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of Evyn" tabindex="0"/>
      <br/><br/>

      <div class="image-user-status">
        <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of Evyn" tabindex="0"/>
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-user-status-available"></use>
        </svg>
      </div>
      <br/><br/>

      <div class="image-user-status">
        <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of Evyn" tabindex="0"/>
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-user-status-away"></use>
        </svg>
      </div>
      <br/><br/>

      <div class="image-user-status">
        <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of Evyn" tabindex="0"/>
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-user-status-busy"></use>
        </svg>
      </div>
      <br/><br/>

      <div class="image-user-status">
        <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of Evyn" tabindex="0"/>
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-user-status-do-not-disturb"></use>
        </svg>
      </div>
      <br/><br/>

      <div class="image-user-status">
        <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of Evyn" tabindex="0"/>
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-user-status-unknown"></use>
        </svg>
      </div>
      <br/><br/>
    </div>
  </div>
</div>
