 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      The DOM element
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      object
    </td>
    <td>
      incoming settings
    </td>
  </tr>


  <tr>
    <td>
      settings.value
    </td>
    <td>
      <span>[50]</span>
    </td>
    <td>
      array
    </td>
    <td>
      An array with the slider values. Or one if a single value slider.
    </td>
  </tr>


  <tr>
    <td>
      settings.min
    </td>
    <td>
      <span>0</span>
    </td>
    <td>
      number
    </td>
    <td>
      The minimum slider value.
    </td>
  </tr>


  <tr>
    <td>
      settings.max
    </td>
    <td>
      <span>100</span>
    </td>
    <td>
      number
    </td>
    <td>
      The maximum slider value.
    </td>
  </tr>


  <tr>
    <td>
      settings.range
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true a range slider with two selectors is formed.
    </td>
  </tr>


  <tr>
    <td>
      settings.step
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      If added will be the number of slider steps to use.
    </td>
  </tr>


  <tr>
    <td>
      settings.ticks
    </td>
    <td>
      <span>[]</span>
    </td>
    <td>
      array
    </td>
    <td>
      An array of the ticks to use for the steps
    </td>
  </tr>


  <tr>
    <td>
      settings.tooltipContent
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      Special customizable tooltip content.
    </td>
  </tr>


  <tr>
    <td>
      settings.persistTooltip
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true the tooltip will stay visible.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>getIncrement</td>
        <td>
          
        </td>
        <td>
          <p>Gets a 10% increment/decrement as a value within the range of minimum and maximum values.</p>

        </td>
        <td>
          nearest 10% increment
number
        </td>
      </tr>
      <tr>
        <td>increaseValue</td>
        <td>
          
                
                  <span>e (jQuery.Event) = jQuery 
<code>click</code>
 or 
<code>keydown</code>
 event.
 </span>
                
                  <span>handle (Array) = represents a slider handle element.
 </span>
                
                  <span>value (number) = target value - will be automatically determined if not passed.
 </span>
                
                  <span>increment (number) = an integer that will be used as the amount to increment.
 </span>
                
          
        </td>
        <td>
          <p>Increases the value of one of the slider handles, accounting for step value, percentage, etc.
Also visually updates the handle on the visual part of the slider.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>decreaseValue</td>
        <td>
          
                
                  <span>e (jQuery.Event) = jQuery 
<code>click</code>
 or 
<code>keydown</code>
 event.
 </span>
                
                  <span>handle (Array) = element representing a slider handle.
 </span>
                
                  <span>value (number) = target value - will be automatically determined if not passed.
 </span>
                
                  <span>decrement (number) = an integer that will be used as the amount to decrement.
 </span>
                
          
        </td>
        <td>
          <p>Decreases the value of one of the slider handles, accounting for step value, percentage, etc.
Also visually updates the handle on the visual part of the slider.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>updateTooltip</td>
        <td>
          
                
                  <span>handle () = element representing a slider handle.
 </span>
                
          
        </td>
        <td>
          <p>If tooltips are active, updates the current placement and content of the Tooltip.
If no handle argument is passed, this method simply hides both handles' tooltips.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>value</td>
        <td>
          
                
                  <span>minVal (number) = the smaller handle's value
 </span>
                
                  <span>maxVal (number) = the larger handle's value, if applicable
 </span>
                
          
        </td>
        <td>
          <p>External Facing Function to set the value. Works as percent for now but need it on ticks.
NOTE:  Does not visually update the range.  Use <em>setValue()</em> to do both in one swoop.</p>

        </td>
        <td>
          both currently set handle values
array
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enables the slider instance.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disables the slider instance.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>readonly</td>
        <td>
          
        </td>
        <td>
          <p>Sets the slider in a readonly state</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>isDisabled</td>
        <td>
          
        </td>
        <td>
          <p>Detects whether or not this slider is disabled</p>

        </td>
        <td>
          whether or not this slider is disabled
boolean
        </td>
      </tr>
      <tr>
        <td>isVertical</td>
        <td>
          
        </td>
        <td>
          <p>Detects whether or not this slider is vertical</p>

        </td>
        <td>
          whether or not this slider is vertical
boolean
        </td>
      </tr>
      <tr>
        <td>setValue</td>
        <td>
          
                
                  <span>lowVal (number) = the value for the lower slider handle.
 </span>
                
                  <span>highVal (number) = the value for the upper slider handle, if applicable.
 </span>
                
          
        </td>
        <td>
          <p>Externally-facing function that updates the current values and correctly
animates the range handles, if applicable.</p>

        </td>
        <td>
          the newly set values
array
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings () = incoming settings
 </span>
                
          
        </td>
        <td>
          <p>Updates the slider instance after a settings change.
Settings and markup are complicated in the slider so we just destroy and re-invoke it
with fresh settings.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroys the slider component instance and unlinks it from its base element.</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>sliding
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>args (object)
        
        = Extra event information.

        </span>
        
          <ul>
            
              <li><code>args.handle</code> HTMLElement
                
                <p>The slider handle DOM element.</p>
</li>
            
              <li><code>args.value</code> number
                
                <p>The current range value.</p>
</li>
            
          </ul>
        
      </div>
    
  
  </td>
  <td>Fires while the slider is being slid.
</td>
</tr>

      
        <tr>
  <td>slidestart
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>args (object)
        
        = Extra event information.

        </span>
        
          <ul>
            
              <li><code>args.handle</code> HTMLElement
                
                <p>The slider handle DOM element.</p>
</li>
            
          </ul>
        
      </div>
    
  
  </td>
  <td>Fires while the slider is being slid.
</td>
</tr>

      
        <tr>
  <td>slidestop
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>args (object)
        
        = Extra event information.

        </span>
        
          <ul>
            
              <li><code>args.handle</code> HTMLElement
                
                <p>The slider handle DOM element.</p>
</li>
            
          </ul>
        
      </div>
    
  
  </td>
  <td>Fires while the slider is being slid.
</td>
</tr>

      
      </tbody>
    </table>
  </section>
