<div class="row">
  <div class="six columns">

    <h2>Slider Test:  Tall Vertical Slider</h2>

    <p>This test ensures that the Vertical Slider's height can be adjusted properly and still return values that sit within its limits.  A Vertical Slider's default minimum height is 150px (not accounting for top/bottom margins)</p>

    <p></p>

  </div>
</div>

<div class="row">
  <div class="two columns">

    <div class="field">
      <label for="slider-vertical-regular">300px Tall Slider</label>
      <input id="slider-vertical-regular" name="slider-vertical-regular" class="slider vertical" type="range" data-tooltip-content='[""]' data-tooltip-persist="true" style="height: 300px;" data-ticks='[
        {"value": 0, "description": "0"},
        {"value": 25, "description": "25"},
        {"value": 50, "description": "50"},
        {"value": 75, "description": "75"},
        {"value": 100, "description": "100"}
      ]' />
    </div>

  </div>
  <div class="two columns">

    <div class="field">
      <label for="slider-vertical-regular">120px Tall Slider</label>
      <input id="slider-vertical-regular" name="slider-vertical-regular" class="slider vertical" type="range" data-tooltip-content='[""]' data-tooltip-persist="true" style="min-height: 120px;" data-ticks='[
        {"value": 0, "description": "0"},
        {"value": 50, "description": "50"},
        {"value": 100, "description": "100"}
      ]' />
    </div>

  </div>


</div>
