<style>
  html[class*="-dark"] p[class*="01"],
  html[class*="-dark"] div[class*="01"],
  html[class*="-dark"] span[class*="01"] {
    color: #606066;
  }

  h2:not(.section-title) {
    font-weight: 900;
  }

  .width-100 {
    width: 100%;
  }

  .padding-15 {
    padding: 15px;
  }
</style>

<div class="row p-top-20">
  <div class="twelve columns p-bottom-30">
    <h2 class="section-title">CSS Utilities</h2>
  </div>
</div>

<div class="row p-bottom-50">
  <div class="six columns">
    <h2>Text</h2>
    <p class="text-center padding-15 azure01">.text-center</p>
    <p class="text-left padding-15 emerald01">.text-left</p>
    <p class="text-right padding-15 amethyst01">.text-right</p>
    <p class="text-lowercase ruby01 padding-15">TEXT IN LOWERCASE use .text-lowercase</p>
    <p class="text-uppercase slate01 padding-15 text-right">text in uppercase use .text-uppercase</p>
  </div>
</div>

<div class="row p-bottom-50">
  <six class="six columns">
    <h2 class="m-bottom-20">Display</h2>
    <div class="d-flex azure01 padding-15">I'm a flex (.d-flex) container!</div>
    <br />
    <span class="d-block padding-15 amethyst01">.d-block</span>
    <span class="d-block padding-15 ruby01">.d-block</span>
    <br />
    <span class="d-i-block padding-15 amethyst01">.d-i-block</span>
    <span class="d-i-block padding-15 ruby01">.d-i-block</span>
    <br /><br />
    <p class="padding-15 emerald01">This is some text. <span class="d-inline amber01">This is an inline (.d-inline) element.</span> This is some more text.</p>
  </six>
</div>


<div class="row p-bottom-50">
  <div class="six columns">
    <h2 class="m-bottom-20">Float</h2>
    <div class="f-left padding-15 slate01">Float left, use .f-left</div><br />
    <div class="f-right padding-15 ruby01">Float right, use .f-right</div><br />
    <div class="f-none padding-15 emerald01">Float none, use .f-none</div>
  </div>
</div>

<div class="row p-bottom-50">
  <div class="six columns">
    <h2 class="m-bottom-20">Flexbox</h2>
    <p>Align Items Center (.align-items-center)</p>
    <div class="d-flex align-items-center padding-15 azure01">
      <div class="padding-15 azure02">Item 1</div>
      <div class="padding-15 azure02">Item 2</div>
      <div class="padding-15 azure02">Item 3</div>
    </div><br />
    <p class="m-bottom-20">Justify Content Center (.justify-content-center)</p>
    <div class="d-flex justify-content-center padding-15 emerald01">
      <div class="padding-15 emerald02">Item 1</div>
      <div class="padding-15 emerald02">Item 2</div>
      <div class="padding-15 emerald02">Item 3</div>
    </div><br />
    <p class="m-bottom-20">Flex Center (.flex-center)</p>
    <div class="d-flex flex-center padding-15 ruby01">
      <div class="padding-15 ruby02">Item 1</div>
      <div class="padding-15 ruby02">Item 2</div>
      <div class="padding-15 ruby02">Item 3</div>
    </div><br />
  </div>
</div>

<div class="row p-bottom-50">
  <div class="six columns">
    <h2>Spacing</h2>
    <p>The padding and margin utilities provide classes for adding padding and margin to elements in increments of 0, up to a maximum of 80 pixels.</p>

    <p class="m-bottom-10 p-bottom-10 azure01">(.m-bottom-10) Margin bottom 10px with (.p-bottom-10) padding bottom 10px</p>
    <p class="m-bottom-10 p-top-30 amethyst01">Margin bottom 10px with 30px padding top</p>
    <p class="p-padding-25 m-bottom-15 p-left-25 p-bottom-30 p-top-45 p-right-30 ruby01">.p-padding-25 .p-left-25 .m-bottom-15 .p-top-45 .p-bottom-30 .p-right-30</p>
    <p class="m-bottom-20 m-top-30 p-top-50 p-bottom-50 emerald01">.m-bottom-20 .m-top-30 .p-top-50 .p-bottom-50</p>
    <p class="m-bottom-20 m-top-30 p-top-50 p-bottom-50 p-left-80 slate01">.m-bottom-20 .m-top-30 .p-top-50 .p-bottom-50 .p-left-50</p>
  </div>
</div>
