// Uplift Field Filter
//================================================== */

.field.fieldfilter-wrapper {
  div:first-of-type {
    margin-right: auto;
  }

  select.field-filter + .dropdown-wrapper div.dropdown {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  div.dropdown-wrapper .dropdown:not(.dropdown-md):hover {
    transition: 0.3s;
    border-right: transparent;
  }

  div.dropdown-wrapper .dropdown:not(.dropdown-md):focus {
    border-right: transparent;
  }

  div.dropdown-wrapper:hover + input {
    border-left: 1px solid $trigger-hover-color;
  }

  div.dropdown-wrapper:focus-within + input {
    border-left: 1px solid $input-color-focus-border;
  }
}

.field-short.fieldfilter-wrapper {
  .field-filter {
    position: relative;
    z-index: 2;
  }

  div.dropdown {
    &:focus {
      position: relative;
      z-index: 3;
    }

    > .listoption-icon {
      left: 1px;
      position: relative;
      top: -1px;
    }
  }
}

.field-short {
  .icon,
  span.trigger,
  button.trigger {
    z-index: 2;
  }

  div.dropdown {
    + .icon {
      z-index: 3;
    }

    &:hover:not([disabled]) {
      &:not(.is-disabled) {
        &:not(.is-readonly) {
          &:not(.error) {
            position: relative;
            z-index: 3;
          }
        }
      }
    }
  }
}

// Firefox
.is-firefox {
  .field.fieldfilter-wrapper div:first-of-type,
  .field-short.fieldfilter-wrapper div:first-of-type {
    height: 38px;
  }

  .field-short.fieldfilter-wrapper {
    .dropdown-wrapper {
      .dropdown {
        .listoption-icon {
          top: 0;
        }
      }
    }
  }

  .dropdown-list.ffdropdown {
    > .trigger {
      margin-left: -40px;

      .icon {
        left: 2px !important;
      }
    }

    &.is-ontop {
      > .trigger {
        .icon {
          top: 11px !important;
        }
      }
    }

    &.dropdown-short {
      > .trigger {
        margin-left: 0;

        .icon {
          top: 6px;
        }
      }
    }
  }

  &:not(.is-mac) {
    .dropdown-list.ffdropdown {
      &.is-ontop {
        > .trigger {
          .icon {
            top: 6px !important;
          }
        }
      }
    }
  }
}

// Safari
.is-safari {
  .dropdown-list.ffdropdown {
    > .trigger {
      .icon {
        top: 8.5px !important;
      }
    }

    &.is-ontop {
      > .trigger {
        .icon {
          top: 12px !important;
        }
      }
    }
  }
}

// Fix icon placement in `.ffdropdown` for IE
.ie.ie11 {
  .dropdown-list.ffdropdown {
    .listoption-icon {
      top: inherit;
    }
  }
}
