// FieldFilter
//==============================================================================
$dd-width: 55px;

@function el-width($width) {
  @return calc(#{$width} - #{$dd-width});
}

.field,
.field-short {
  &.fieldfilter-wrapper {
    white-space: nowrap;

    div:first-of-type {
      margin-right: -1px;
      vertical-align: top;

      div.dropdown {
        border-radius: 2px 0 0 2px;
        border-right-color: $fieldfilter-border-side-color;
        text-overflow: inherit;
        width: $dd-width;

        span {
          position: static;
        }

        > .listoption-icon {
          height: 14px;
        }

        &.is-open {
          + .ffdropdown-icon {
            opacity: 0;
          }
        }
      }
    }

    .icon-dirty {
      left: $dd-width + 2px;
    }

    .icon-success {
      vertical-align: top;
    }

    .field-filter {
      border-radius: 0 2px 2px 0;
      max-width: $field-md;
      width: el-width($field-md);

      &.timepicker,
      &.datepicker {
        width: el-width($datepicker-default-width);
      }

      &.input-xs {
        width: el-width($field-xs);
      }

      &.input-sm {
        width: el-width($field-sm);
      }

      &.input-mm {
        width: el-width($field-mm);
      }

      &.input-md {
        width: el-width($field-md);
      }

      &.input-lg {
        width: el-width($field-lg);
      }

      &.input-full {
        width: el-width(100%);
      }
    }

    .dropdown-xs {
      width: el-width($field-xs);
    }

    .dropdown-sm {
      width: el-width($field-sm);
    }

    .dropdown-mm {
      width: el-width($field-mm);
    }

    .dropdown-md {
      width: el-width($field-md);
    }

    .dropdown-lg {
      width: el-width($field-lg);
    }

    .dropdown-full {
      width: el-width(100%);
    }
  }
}

.field-short,
.form-layout-compact .field {
  &.fieldfilter-wrapper {
    div:first-of-type div.dropdown {
      width: 45px;
    }
  }
}

// Opened Dropdown list
.dropdown-list.ffdropdown {
  .dropdown-search {
    opacity: 0;
    padding-left: 23px;
    width: 0;
  }

  > .listoption-icon {
    display: none;
  }

  .listoption-icon {
    height: 14px;
  }
}

// Firefox
.is-firefox {
  .field,
  .field-short {
    &.fieldfilter-wrapper {
      div:first-of-type {
        height: 34px;
      }
    }
  }
}

// IOS
.ios {
  .dropdown-list.ffdropdown {
    .dropdown-search {
      width: 100%;
    }
  }
}

// RTL Styles ******************************************************************
html[dir='rtl'] {
  .field,
  .field-short {
    &.fieldfilter-wrapper {
      div:first-of-type {
        margin-left: -1px;
        margin-right: inherit;

        div.dropdown {
          border-left-color: $fieldfilter-border-side-color;
          border-radius: 0 2px 2px 0;
          border-right-color: $input-color-initial-border;
          padding-top: 8px;
        }
      }

      .field-filter {
        border-radius: 2px 0 0 2px;
      }
    }
  }

  // Opened Dropdown list
  .dropdown-list.ffdropdown {
    .dropdown-search {
      padding-left: inherit;
      padding-right: 23px;
    }

    > .trigger {
      margin-left: inherit;
      margin-right: 26px;
    }
  }
}

// Fixes some layout issues on iPhones
@media (max-width: 767px) {
  .field.fieldfilter-wrapper .field-filter.input-md,
  .field.fieldfilter-wrapper .field-filter.colorpicker-input-md,
  .field.fieldfilter-wrapper select.field-filter.dropdown + .dropdown-wrapper {
    width: calc(300px - 75px);
  }

  .field-short.fieldfilter-wrapper .field-filter.input-md,
  .field-short.fieldfilter-wrapper .field-filter.colorpicker-input-md,
  .field-short.fieldfilter-wrapper select.field-filter.dropdown + .dropdown-wrapper {
    width: calc(300px - 75px);
  }
}
