// Uplift Field Filter
//================================================== */

.field.fieldfilter-wrapper {
  div:first-of-type {
    margin-right: auto;
  }

  select.field-filter + .dropdown-wrapper div.dropdown {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.dropdown-list.ffdropdown {
  > .trigger .icon {
    left: 1px;
  }
}

// Firefox
.is-firefox {
  .field.fieldfilter-wrapper div:first-of-type,
  .field-short.fieldfilter-wrapper div:first-of-type {
    height: 38px;

    .listoption-icon {
      top: 12px;
    }
  }

  .dropdown-list.ffdropdown {
    > .trigger {
      margin-left: -40px;

      .icon {
        left: 2px !important;
        top: 7px !important;
      }
    }

    &.is-ontop {
      > .trigger {
        .icon {
          top: 11px !important;
        }
      }
    }
  }

  &:not(.is-mac) {
    .dropdown-list.ffdropdown {
      > .trigger {
        .icon {
          top: 6px !important;
        }
      }

      &.is-ontop {
        > .trigger {
          .icon {
            top: 14px !important;
          }
        }
      }
    }
  }
}

// Safari
.is-safari {
  .dropdown-list.ffdropdown {
    > .trigger {
      .icon {
        top: 8px !important;
      }
    }

    &.is-ontop {
      > .trigger {
        .icon {
          top: 10px !important;
        }
      }
    }
  }
}

// Fix icon placement in `.ffdropdown` for IE
.ie.ie11 {
  .dropdown-list.ffdropdown {
    .listoption-icon {
      top: inherit;
    }
  }
}
