  <section>
  
    



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>initAll</td>
        <td>
          
        </td>
        <td>
          <p>Initializes all Soho components inside the root element provided.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
