<style>
  /* Defines rules for the custom icon style */
  .custom-icon {
    border: 1px solid var(--ids-color-slate-100);
    border-radius: 2px;
    height: 18px;
    margin-inline-end: 8px;
    top: 3px;
    width: 18px;
  }
</style>

<div class="row top-padding">
  <div class="twelve columns">

    <div class="field">
      <label for="example-icon">Dropdown with Icons</label>
      <select id="example-icon" name="example-icon" class="dropdown">
        <option value="opt-1" data-icon="user-profile">Icon (default as string)</option>
        <option value="opt-2" data-icon="{icon: 'mail'}">Icon (as object)</option>
        <option value="opt-3" data-icon="{icon: 'camera', class:'good'}">Icon with color</option>
        <option value="opt-4" data-icon="{icon: 'send', color:'info'}">Icon with over color</option>
        <option value="opt-5" data-icon="{icon: 'notes', color:'alert'}">Icon with over color</option>
      </select>
    </div>

    <div class="field">
      <div class="field">
        <label for="example-colors">Dropdown With Colors</label>
        <select id="example-colors" name="example-colors" class="dropdown" data-init="false">
        </select>
      </div>
    </div>

    <div class="field">
      <label for="example-external">Dropdown With External icons</label>
        <select id="example-external" name="example-external" class="dropdown">
        <option value="opt-2" data-icon="{icon: 'https://randomuser.me/api/portraits/lego/7.jpg'}">One</option>
        <option value="opt-3" data-icon="{icon: 'https://randomuser.me/api/portraits/lego/1.jpg'}">Two</option>
        <option value="opt-4" data-icon="{icon: 'https://randomuser.me/api/portraits/lego/2.jpg'}">Three</option>
        <option value="opt-5" data-icon="{icon: 'https://randomuser.me/api/portraits/lego/3.jpg'}">Four</option>
      </select>
    </div>
  </div>
</div>

<script>
  $('body').on('initialized', function () {
    // Set up colors dropdown
    var colorsDropdown = $('#example-colors');
    var colors = Soho.theme.personalizationColors();
    var colorsHtml = '';
    for (color in colors) {
     colorsHtml += '<option data-icon="{icon: \'swatch\', class: \'' + colors[color].backgroundColorClass +' swatch\'}" value="' + colors[color].id + '" data-hex="' + colors[color].value + '">'+ colors[color].name +'</option>';
    }

    colorsDropdown.on('selected', function (e, args) {
      var val = this.options[this.selectedIndex].value;
      var api = $('html').data('personalize');
      if (val === 'default') {
        api.setColorsToDefault(val);
        return;
      }
      api.setColors(this.options[this.selectedIndex].getAttribute('data-hex'));
    }).html(colorsHtml).dropdown().val('azure').trigger('updated');

    $('html').on('colorschanged', function (e, args) {
      console.log('colorschanged', args)
    });
  });
</script>
