<div class="row">
  <div class="six columns">
    <h2>Dropdown Test: Allows custom keystoke</h2>
    <p>
      Related JIRA: <a class="hyperlink" href="https://jira.infor.com/browse/SOHO-4815" target="_blank">SOHO-4815</a>
      This is a demo where a user will not be able to used the up/down arrows on selecting a value in the dropdown.
      This will allow the developers to customized the event for the up/down arrows.
    </p>
  </div>
</div>

<div class="row top-padding">
  <div class="six columns">

    <div class="field">
      <label for="dropdown" class="label">Dropdown allows custom keystroke</label>
      <select id="dropdown" name="dropdown" class="dropdown">
        <option value="FE1">Fire Level E1</option>
        <option value="FE2">Fire Level E2</option>
        <option value="FE3">Fire Level E3</option>
        <option value="FE4">Fire Level E4</option>
        <option value="FE5">Fire Level E5</option>
      </select>
    </div>

  </div>
</div>

<script>
  $('body').one('initialized', function () {

    $('#dropdown').dropdown({
      onKeyDown: function(e) {
        if (e.which === 40) {
          alert('You customized the down key (:');
          return false;
        }
      }
    })

  })
</script>
