<div class="row">
    <form id="example-mulitcolumn-form">
        <div class="row demo-grid">
            <div class="full column">
                <div class="compound-field">
                    <!--Button-->
                    <h1 class="fieldset-title">Button</h1>
                    <div class="field">
                        <button id="ub" class="btn-secondary" type="button">Update</button>
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--Spinbox-->
                    <h1 class="fieldset-title">Spinbox</h1>
                    <div class="field">
                        <input id="stepped-spinbox" name="stepped-spinbox" type="text" class="spinbox" min="-99" max="99" value="0" step="3" />
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--Checkbox-->
                    <h1 class="fieldset-title">Checkbox</h1>
                    <div class="field">
                        <input type="checkbox" class="checkbox" id="checkbox1">
                        <label for="checkbox1" class="checkbox-label">Unchecked</label>
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--Datefield-->
                    <h1 class="fieldset-title">DateField</h1>
                    <div class="field">
                        <label for="date-field" class="label">Date Field</label>
                        <input id="date-field" class="datepicker" name="date-field" type="text">
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--Dropdown-->
                    <h1 class="fieldset-title">Dropdown</h1>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--Fileupload-->
                    <h1 class="fieldset-title">File Upload</h1>
                    <div class="field">
                        <label class="fileupload">
                            <span class="audible">Upload a File</span>
                            <input type="file" class="fileupload" id="fileupload" name="fileupload" tabindex="-1" style="position: fixed; left: -10000px;">
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--TextField-->
                    <h1 class="fieldset-title">Text Field</h1>
                    <div class="field">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" name="first-name" placeholder="Normal text field">
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--MultiSelect-->
                    <h1 class="fieldset-title">Multi-Select</h1>
                    <div class="field">
                        <label for="states" class="label">States</label>
                        <select multiple id="states" name="states" data-maxselected="3" class="multiselect">
                            <option value="AL">Alabama</option>
                            <option value="CA">California</option>
                            <option value="DE">Delaware</option>
                            <option value="NY">New York</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--Searchfield-->
                    <h1 class="fieldset-title">Search Field</h1>
                    <div class="field">
                        <label for="searchfield">Search</label>
                        <input id="searchfield" name="searchfield" class="searchfield" data-options="{'clearable': 'true'}" placeholder="Type a search term" />
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--Timepicker-->
                    <h1 class="fieldset-title">Time Picker</h1>
                    <div class="field">
                        <label for="timepicker-main" class="label">Timepicker</label>
                        <input id="timepicker-main" class="timepicker" type="text">
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <hr class="fieldset-hr" />
                <div class="compound-field">
                    <!--Lookup-->
                    <h1 class="fieldset-title">Lookup</h1>
                    <div class="field">
                        <label for="product-lookup" class="label">Products</label>
                        <input id="product-lookup" data-init="false" class="lookup" name="product-lookup" type="text">
                    </div>
                    <div class="field">
                        <label for="pid" class="audible label">Units</label>
                        <span class="label">&nbsp;</span>
                        <select id="pid" name="pid" class="dropdown">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
