<div class="row">
  <div class="six columns">

    <h2>Dropdown Test: Configured as Multiselect with Tooltip</h2>
    <br/>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <h2 class="fieldset-title">Configured like Multiselect with Tooltip</h2>

    <label for="config-like-multi">Bytes:</label>
    <select id="config-like-multi" multiple class="dropdown" data-options='{ "enableTooltip": true, "closeOnSelect": false, "empty": true, "moveSelected": "all", "multiple": true }'>
      <option selected>0</option>
      <option>1</option>
      <option>2</option>
      <option>4</option>
      <option>8</option>
      <option>16</option>
      <option>32</option>
      <option>64</option>
      <option>128</option>
      <option>256</option>
      <option>512</option>
      <option>1024</option>
      <option>2048</option>
      <option>4096</option>
    </select>
  </div>

</div>
