<h1 id="empty-widgets-learn-more">Empty Widgets <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Example Showing all Types of Empty Widgets <a href="../components/empty-widgets/example-index">View Example</a></li>
</ol>
<h2 id="api-details">API Details</h2>
<h3 id="html-sections">Html Sections</h3>
<ul>
<li><code>card-empty-icon</code> -  If true will contain one of the icons from the <a href="http://git.infor.com/projects/SOHO/repos/controls/browse/components/empty-widgets/svg-empty.html">icon list</a></li>
<li><code>card-empty-title</code> -  If true chart will not resize / update when resizing the page.</li>
<li><code>card-empty-info</code> -  If true chart will not resize / update when resizing the page.</li>
<li><code>card-empty-actions</code> -  If adding this section will contain some actions a person can do to resolve the empty situation such as reload ect. Should be preferably one action.</li>
</ul>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;card-content&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-3" data-line-number="3">  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;card-empty-icon&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">    <span class="kw">&lt;svg</span><span class="ot"> class=</span><span class="st">&quot;icon-empty-state&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">      <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-empty-new-project&quot;</span><span class="kw">&gt;&lt;/use&gt;</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6">    <span class="kw">&lt;/svg&gt;</span></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-8" data-line-number="8">  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;card-empty-title&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">    Add a New Project</a>
<a class="sourceLine" id="cb1-10" data-line-number="10">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11">  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;card-empty-info&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-12" data-line-number="12">    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do siusmod temp.</a>
<a class="sourceLine" id="cb1-13" data-line-number="13">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-14" data-line-number="14">  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;card-empty-actions&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-15" data-line-number="15">    <span class="kw">&lt;button</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="ot"> class=</span><span class="st">&quot;btn-primary&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-16" data-line-number="16">      <span class="kw">&lt;span&gt;</span>Start<span class="kw">&lt;/span&gt;</span></a>
<a class="sourceLine" id="cb1-17" data-line-number="17">    <span class="kw">&lt;/button&gt;</span></a>
<a class="sourceLine" id="cb1-18" data-line-number="18">  <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-19" data-line-number="19"><span class="kw">&lt;/div&gt;</span></a></code></pre></div>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Do not use only an icon. There should be text as well as the icon for screen reader users.</li>
</ul>
<h2 id="code-tips">Code Tips</h2>
<ul>
<li>Submit a new example showing your usage, we would like to refactor these to be used on lists, pages ect.</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>None</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>This is a new concept</li>
</ul>
