// Hierarchy
//================================================== //

$hierarchy-padding: 20px;
$hierarchy-node-height: 75px;
$hierarchy-node-width: 275px;
$hierarchy-line-width: 1px;

.hierarchy {
  margin: 0;
  padding: 20px 30px;

  .branch-collapsed > ul * {
    display: none;
  }

  legend {
    @include font-size(14);
    margin: 20px 40px;

    li {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 20px;
    }

    .key {
      border-radius: 50%;
      display: inline-block;
      float: left;
      height: 15px;
      margin: -2px 10px;
      width: 15px;
    }
  }


  // The Centering Container
  .container {
    display: table;
    margin: 0 auto;

    li {
      @include transition(all 200ms cubic-bezier(.17, .04, .03, .94));
    }
  }

  // A node in the tree
  .leaf {
    background-color: $panel-bg-color;
    border: 1px solid $panel-border-color;
    border-left: 5px solid $graphite06;
    border-radius: 2px;
    cursor: pointer;
    height: $hierarchy-node-height;
    overflow: hidden;

    width: $hierarchy-node-width;

    &.azure08 {
      border-left-color: $azure08;
    }

    &.turquoise02 {
      border-left-color: $turquoise02;
    }

    &.amethyst06 {
      border-left-color: $amethyst06;
    }

    &.slate06 {
      border-left-color: $slate06;
    }

    &.amber06 {
      border-left-color: $amber06;
    }

    &.emerald07 {
      border-left-color: $emerald07;
    }

    &.ruby06 {
      border-left-color: $ruby06;
    }

    &.is-selected {
      box-shadow: 0 0 0 5px rgba(203, 235, 244, .83);
    }

    //Styling for objects in the leafs
    img,
    .image-placeholder {
      border-radius: 50%;
      display: inline-block;
      float: left;
      height: 55px;
      margin-left: 14px;
      margin-top: 8px;
      width: 55px;
    }

    .image-placeholder {
      border: 2px solid $graphite04;
    }

    .detail {
      display: inline-block;
      float: left;
      margin-left: 20px;
      margin-right: 10px;
      max-width: 165px;
      overflow: hidden;
      text-align: left;
    }

    .heading {
      @include ellipsis();
      @include font-size(16);
      color: $font-color-extrahighcontrast;
      line-height: 20px;
      margin-top: 8px;
    }

    .subheading {
      @include ellipsis();
      @include font-size(14);
      color: $listview-color;
      line-height: 20px;
      margin-top: 0;
    }

    .micro {
      @include ellipsis();
      @include font-size(12);
      color: $listview-color;
      line-height: 18px;
      margin-top: 0;
    }

    .btn-icon {
      float: right;
      left: 0;
      position: relative;
      top: -16px;
    }

    .btn-hidden {
      display: none;
    }
  }

  //Adjust size for buttons
  ul > li > .leaf {
    width: 315px;

    .btn-expand,
    .btn-collapse {
      left: -12px;
      top: 17px;

      .icon {
        height: 24px;
        width: 24px;
      }
    }
  }

  //The Top Level Node
  .root {
    margin: 0 auto 20px;

    //draw a line down
    &::after {
      background: $hierarchy-line-color none repeat scroll 0 0;
      content: '';
      height: 142px;
      margin-left: -65px;
      margin-top: 73px;
      position: absolute;
      width: $hierarchy-line-width;
      z-index: -1;
    }
  }

  //The Second to Top Level - Flows left to right
  .top-level {
    overflow: hidden;
    text-align: center;

    li {
      display: inline-block;
      padding: $hierarchy-padding;

      //Draw Line Up and Left
      &::before {
        border-top: $hierarchy-line-width solid $hierarchy-line-color;
        content: '';
        display: inline-block;
        height: 2px;
        margin-left: 150px;
        margin-top: 35px;
        position: absolute;
        width: 50px;
        z-index: -1;
      }

      &:last-child::before {
        border-top: 0;
      }

    }

  }

  //The Bottom Levels - Flow Down and Up
  .sub-level {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;

    // Top Level Nodes still follow left to right
    > li {
      display: inline-block;
      margin-top: 10px;
      padding: 20px 10px;
      vertical-align: top;

      //Draw Line Up and right
      &:first-child::before {
        border-left: $hierarchy-line-width solid $hierarchy-line-color;
        border-top: $hierarchy-line-width solid $hierarchy-line-color;
        content: '';
        display: inline-block;
        height: 25px;
        width: calc(90% + 20px);
        margin-left:10%;
      }

      &::before {
        border-left: none;
        border-right:none;
        border-top: $hierarchy-line-width solid $hierarchy-line-color;
        content: '';
        display: inline-block;
        height: 25px;
        width: 100%;
      }

      //Draw Line Up and Left
      &:last-child::before {
        border-right: $hierarchy-line-width solid $hierarchy-line-color;
        border-top: $hierarchy-line-width solid $hierarchy-line-color;
        border-left: none;
        content: '';
        display: inline-block;
        height: 25px;
        width: 75%;
        float: left;
        margin-left: -20px;
      }
    }

    // Child Nodes - 4th level down
    li ul {
      margin-left: 45px;
      overflow: hidden;
      padding-left: 31px;
      padding-right: 5px;

      li {
        margin: 15px 0;
        position: relative;

        .ln {
          border-bottom: $hierarchy-line-width solid $hierarchy-line-color;
          border-left: $hierarchy-line-width solid $hierarchy-line-color;
          display: block;
          height: 90px;
          margin-left: -27px;
          margin-top: -52px;
          position: absolute;
          width: 30px;
          z-index: -1;
        }
      }

    }
  }

}

//Media Query for Mobile View
@include respond-to(phablet) {

  .hierarchy {
    margin: 0 auto;
    text-align: center;

    legend {
      text-align: left;

      li {
        margin-bottom: 10px;
        text-align: center;
      }

    }

    .container {
      display: inline-block;
      margin: 0;
    }

    // Top of the Chain
    .root {
      margin: 0 0 10px;

      &::after {
        //height: 190px;
        //margin-left: -218px;
        background: transparent;
        height: 0;
        width: 0;
      }
    }

    .sub-level {
      margin-left: 45px;
    }

    //Top level attached to root
    .top-level li {
      display: block;
      padding: 10px 0;
    }

    // TODO: borders look weird on mobile view.
    // Hiding for now
    .top-level > li:first-child::before,
    .sub-level > li:first-child::before,
    .sub-level > li::before,
    .top-level > li::before,
    .sub-level > li:last-child::before,
    .top-level > li:last-child::before {
      border: none;
    }

    //Bottom Nodes
    .sub-level > li {
      display: block;
      padding: 0px;
    }
  }
}




//RTL Styles
html[dir='rtl'] {
  .hierarchy {
    legend {
      li {
        margin-left: 20px;
        margin-right: inherit;
      }

      .key {
        float: right;
      }
    }


    // A node in the tree
    .leaf {
      border-left: 1px solid $panel-border-color;
      border-right: 5px solid $graphite06;

      &.azure08 {
        border-left-color: $panel-border-color;
        border-right-color: $azure08;
      }

      &.turquoise02 {
        border-left-color: $panel-border-color;
        border-right-color: $turquoise02;
      }

      &.amethyst06 {
        border-left-color: $panel-border-color;
        border-right-color: $amethyst06;
      }

      &.slate06 {
        border-left-color: $panel-border-color;
        border-right-color: $slate06;
      }

      &.amber06 {
        border-left-color: $panel-border-color;
        border-right-color: $amber06;
      }

      &.emerald07 {
        border-left-color: $panel-border-color;
        border-right-color: $emerald07;
      }

      &.ruby06 {
        border-left-color: $panel-border-color;
        border-right-color: $ruby06;
      }

      //Styling for objects in the leafs
      img,
      .image-placeholder {
        float: right;
        margin-left: inherit;
        margin-right: 14px;
      }

      .detail {
        // display: inline-block;
        float: right;
        margin-left: 10px;
        margin-right: 20px;
        text-align: right;
      }

      .btn-icon {
        float: left;
        left: auto;
        right: 0;
      }
    }

    //Adjust size for buttons
    ul > li > .leaf {
      .btn-expand {
        left: auto;
        right: -12px;
      }
    }

    //The Top Level Node
    .root {

      //draw a line down
      &::after {
        margin-left: inherit;
        margin-right: -65px;
      }
    }

    //The Second to Top Level - Flows left to right
    .top-level {
      li {
        //Draw Line Up and Left
        &::before {
          margin-left: inherit;
          margin-right: 150px;
        }
      }
    }

    //The Bottom Levels - Flow Down and Up
    .sub-level {
      // Top Level Nodes still follow left to right
      > li {
        //Draw Line Up and Left
        &::before {
          border-left: none;
          border-bottom: none;
          border-left: 0 solid $hierarchy-line-color;
          border-right: $hierarchy-line-width solid $hierarchy-line-color;
          margin-left: inherit;
          margin-right: -110px;
        }

        &:last-child::before {
          width: 0;
        }
      }

      // Child Nodes - 4th level down
      li ul {
        margin-left: inherit;
        margin-right: 45px;
        padding-left: 5px;
        padding-right: 30px;

        li .ln {
          border-left: 0 solid $hierarchy-line-color;
          border-right: $hierarchy-line-width solid $hierarchy-line-color;
          margin-left: inherit;
          margin-right: -27px;
        }
      }
    }
  }

  //Media Query for Mobile View
  @include respond-to(phablet) {
    .hierarchy {
      // Top of the Chain
      .root {
        &::after {
          margin-left: inherit;
          margin-right: -205px;
        }
      }

      //Top level attached to root
      .top-level li {
        &::before {
          border-left: 0 solid $hierarchy-line-color;
          border-right: 1px solid $hierarchy-line-color;
          margin-left: inherit;
          margin-right: -149px;
        }
      }

      //Bottom Nodes
      .sub-level > li {
        &::before {
          border-left: 0 solid $hierarchy-line-color;
          border-right: 1px solid $hierarchy-line-color;
          margin-left: inherit;
          margin-right: -149px;
        }

        // Child Nodes - 4th level down
        ul {
          padding-left: 34px;
        }
      }
    }
  }
}
