  <section>
  
    <h2>Settings</h2>

  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          legend
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Pass in custom markdown for the legend structure.

        </td>
      </tr>
      <tr>
        <td>
          legendKey
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Key to use for the legend matching

        </td>
      </tr>
      <tr>
        <td>
          dataset
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Hierarchical Data to display

        </td>
      </tr>
      <tr>
        <td>
          newData
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 New data to be appended into dataset

        </td>
      </tr>
      <tr>
        <td>
          templateId
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Additional product name information to display

        </td>
      </tr>
      <tr>
        <td>
          mobileView
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 If true will only show mobile view, by default using device info to determine.

        </td>
      </tr>
      <tr>
        <td>
          beforeExpand
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 A callback that fires before node expansion of a node.

        </td>
      </tr>
    </tbody>
  </table>

  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>handleEvents</td>
        <td>
          
        </td>
        <td>
          <p>Private function
Attach all event handlers</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isAddEvent</td>
        <td>
          
                
                  <span>eventType () =  </span>
                
          
        </td>
        <td>
          <p>Private function
check if event is add</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isExpandEvent</td>
        <td>
          
                
                  <span>eventType () =  </span>
                
          
        </td>
        <td>
          <p>Private function
check if event is expand</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isCollapseEvent</td>
        <td>
          
                
                  <span>eventType () =  </span>
                
          
        </td>
        <td>
          <p>Private function
check if event is collapse</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isSelectedEvent</td>
        <td>
          
                
                  <span>eventType () =  </span>
                
          
        </td>
        <td>
          <p>Private function
check if event is select</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>allowLazyLoad</td>
        <td>
          
                
                  <span>data () =  </span>
                
                  <span>eventType () =  </span>
                
          
        </td>
        <td>
          <p>Private function
Check to see if lazy load is allowed</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>data</td>
        <td>
          
                
                  <span>nodeId () =  </span>
                
                  <span>currentDataObject () =  </span>
                
                  <span>newDataObject () =  </span>
                
                  <span>params () =  </span>
                
          
        </td>
        <td>
          <p>Public function
Process data attached through jquery data</p>

        </td>
        <td>
          

        </td>
      </tr>
      <tr>
        <td>reload</td>
        <td>
          
                
                  <span>options () = -- hierarchy options
 </span>
                
          
        </td>
        <td>
          <p>Public function
Reloads hierarchy control with new dataset</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Public function
Removes the component from existence</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>add</td>
        <td>
          
                
                  <span>nodeId () =  </span>
                
                  <span>currentDataObject () =  </span>
                
                  <span>newDataObject () =  </span>
                
          
        </td>
        <td>
          <p>Public function
Add data as children for the given nodeId.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>expand</td>
        <td>
          
                
                  <span>event () =  </span>
                
                  <span>nodeData () =  </span>
                
                  <span>domObject () =  </span>
                
          
        </td>
        <td>
          <p>Private function
Expand the nodes until nodeId is displayed on the page.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>collapse</td>
        <td>
          
                
                  <span>event () =  </span>
                
                  <span>nodeData () =  </span>
                
                  <span>domObject () =  </span>
                
          
        </td>
        <td>
          <p>Private function
Collapse the passed in nodeId.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>render</td>
        <td>
          
                
                  <span>data () =  </span>
                
          
        </td>
        <td>
          <p>Private Function
Main render method</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isSingleChildWithChildren</td>
        <td>
          
        </td>
        <td>
          <p>Private function:
Checks to see if children have children
used to set a class if there is only a single child with children</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>createLegend</td>
        <td>
          
                
                  <span>element () =  </span>
                
          
        </td>
        <td>
          <p>Private function
Add the legend from the Settings</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>createLeaf</td>
        <td>
          
                
                  <span>nodeData () =  </span>
                
                  <span>container () =  </span>
                
          
        </td>
        <td>
          <p>Private function
Creates a leaf node under element for nodeData</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>setColor</td>
        <td>
          
                
                  <span>data () =  </span>
                
          
        </td>
        <td>
          <p>Private function
Determine the color from settings</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isLeaf</td>
        <td>
          
                
                  <span>dataNode () =  </span>
                
          
        </td>
        <td>
          <p>Return whether or not a particular node is a leaf
private function</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>updateState</td>
        <td>
          
                
                  <span>leaf () =  </span>
                
                  <span>isRoot () =  </span>
                
                  <span>nodeData () =  </span>
                
                  <span>eventType () =  </span>
                
          
        </td>
        <td>
          <p>Handle all leaf state here,
get the current state via .data() and re-attach the new state
private function</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  
    


  </section>

  
