<h1 id="hierarchy-learn-more">Hierarchy <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Org Chart Example <a href="../components/hierarchy/example-index">View Example</a></li>
<li>Lazy Loading Example <a href="../components/hierarchy/example-lazy-loading">View Example</a></li>
<li>Example Paging <a href="../components/hierarchy/example-paging">View Example</a></li>
<li>Example Single Manager/Subordinate <a href="../components/hierarchy/example-single">View Example</a></li>
</ol>
 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component element.
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component settings.
    </td>
  </tr>


  <tr>
    <td>
      settings.legend
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      Pass in custom markdown for the legend structure.
    </td>
  </tr>


  <tr>
    <td>
      settings.legendKey
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      Key to use for the legend matching
    </td>
  </tr>


  <tr>
    <td>
      settings.dataset
    </td>
    <td>
      <span>[]</span>
    </td>
    <td>
      string
    </td>
    <td>
      Hierarchical Data to display
    </td>
  </tr>


  <tr>
    <td>
      settings.newData
    </td>
    <td>
      <span>[]</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      New data to be appended into dataset
    </td>
  </tr>


  <tr>
    <td>
      settings.templateId
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      Additional product name information to display
    </td>
  </tr>


  <tr>
    <td>
      settings.mobileView
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true will only show mobile view, default using device info.
    </td>
  </tr>


  <tr>
    <td>
      settings.leafHeight
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      number
    </td>
    <td>
      Set the height of the leaf
    </td>
  </tr>


  <tr>
    <td>
      settings.leafWidth
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      number
    </td>
    <td>
      Set the width of the leaf
    </td>
  </tr>


  <tr>
    <td>
      settings.beforeExpand
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      string
    </td>
    <td>
      A callback that fires before node expansion of a node.
    </td>
  </tr>


  <tr>
    <td>
      settings.paging
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true show pagination.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The settings to apply.
 </span>
                
          
        </td>
        <td>
          <p>Resync the UI and Settings.</p>

        </td>
        <td>
          The api
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Removes the component from existence</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>selected
  </td>
  <td>
  
  </td>
  <td>Fires when node is selected
</td>
</tr>

      
        <tr>
  <td>expanded
  </td>
  <td>
  
  </td>
  <td>Fires when leaf expanded.
</td>
</tr>

      
        <tr>
  <td>collapsed
  </td>
  <td>
  
  </td>
  <td>Fires when leaf collapsed.
</td>
</tr>

      
      </tbody>
    </table>
  </section>

<h2 id="code-example">Code Example</h2>
<p>This example shows how to invoke the hierarchy component passing in data and legend info for matching.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode javascript"><code class="sourceCode javascript"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2">    <span class="kw">var</span> legendData <span class="op">=</span> [</a>
<a class="sourceLine" id="cb1-3" data-line-number="3">      <span class="op">{</span> <span class="st">&#39;value&#39;</span> <span class="op">:</span> <span class="st">&#39;FT&#39;</span><span class="op">,</span> <span class="st">&#39;label&#39;</span> <span class="op">:</span> <span class="st">&#39;Full Time&#39;</span>     <span class="op">},</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">      <span class="op">{</span> <span class="st">&#39;value&#39;</span> <span class="op">:</span> <span class="st">&#39;PT&#39;</span><span class="op">,</span> <span class="st">&#39;label&#39;</span> <span class="op">:</span> <span class="st">&#39;Part Time&#39;</span>     <span class="op">},</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">      <span class="op">{</span> <span class="st">&#39;value&#39;</span> <span class="op">:</span> <span class="st">&#39;C&#39;</span><span class="op">,</span>  <span class="st">&#39;label&#39;</span> <span class="op">:</span> <span class="st">&#39;Contractor&#39;</span>    <span class="op">},</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6">      <span class="op">{</span> <span class="st">&#39;value&#39;</span> <span class="op">:</span> <span class="st">&#39;O&#39;</span><span class="op">,</span>  <span class="st">&#39;label&#39;</span> <span class="op">:</span> <span class="st">&#39;Open Position&#39;</span> <span class="op">}</span></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">    ]<span class="op">;</span></a>
<a class="sourceLine" id="cb1-8" data-line-number="8"></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">    <span class="at">$</span>(<span class="st">&#39;#hierarchy&#39;</span>).<span class="at">hierarchy</span>(<span class="op">{</span></a>
<a class="sourceLine" id="cb1-10" data-line-number="10">      <span class="dt">templateId</span><span class="op">:</span> <span class="st">&#39;hierarchyChartTemplate&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11">      <span class="dt">legendKey</span><span class="op">:</span> <span class="st">&#39;EmploymentType&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb1-12" data-line-number="12">      <span class="dt">legend</span><span class="op">:</span> legendData<span class="op">,</span></a>
<a class="sourceLine" id="cb1-13" data-line-number="13">      <span class="dt">dataset</span><span class="op">:</span> data</a>
<a class="sourceLine" id="cb1-14" data-line-number="14">    <span class="op">}</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb1-15" data-line-number="15"></a></code></pre></div>
<p>Required template HTML markup</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb2-1" data-line-number="1">  <span class="kw">&lt;script</span><span class="ot"> type=</span><span class="st">&quot;text/html&quot;</span><span class="ot"> id=</span><span class="st">&quot;</span><span class="er">&lt;</span><span class="st">YOUR_TEMPLATE_ID&gt;&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-2" data-line-number="2">    <span class="op">&lt;</span>div <span class="kw">class</span><span class="op">=</span><span class="st">&quot;leaf&quot;</span><span class="op">&gt;</span></a>
<a class="sourceLine" id="cb2-3" data-line-number="3">      <span class="op">&lt;</span>div <span class="kw">class</span><span class="op">=</span><span class="st">&quot;content&quot;</span><span class="op">&gt;</span></a>
<a class="sourceLine" id="cb2-4" data-line-number="4">        ... <span class="at">your</span> <span class="at">content</span></a>
<a class="sourceLine" id="cb2-5" data-line-number="5">      &lt;/div<span class="op">&gt;</span></a>
<a class="sourceLine" id="cb2-6" data-line-number="6">    &lt;/div<span class="op">&gt;</span></a>
<a class="sourceLine" id="cb2-7" data-line-number="7">  <span class="kw">&lt;/script&gt;</span></a></code></pre></div>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>This component is lacking accessibility at the moment.</li>
<li>Needs, Keyboard, Aria Added or an Alternate view.</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>None</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>This component was very similar in 3.5, just rename inforHierarchy to hierarchy</li>
</ul>
