 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component element.
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component settings.
    </td>
  </tr>


  <tr>
    <td>
      settings.trigger
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      string
    </td>
    <td>
      Id of some other button to use as a trigger
    </td>
  </tr>


  <tr>
    <td>
      settings.bottomBorder
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      string
    </td>
    <td>
      Change the border to bottom vs top (for some cases)
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>isDisabled</td>
        <td>
          
        </td>
        <td>
          <p>Return if the expandable area is current disable or not.</p>

        </td>
        <td>
          True or False depending on the disabled status.
boolean
        </td>
      </tr>
      <tr>
        <td>isExpanded</td>
        <td>
          
        </td>
        <td>
          <p>Returns expanded status about the current expandable area</p>

        </td>
        <td>
          True of alse depending on current expanded status.
boolean
        </td>
      </tr>
      <tr>
        <td>toggleExpanded</td>
        <td>
          
        </td>
        <td>
          <p>Toggle current expansion state.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>open</td>
        <td>
          
        </td>
        <td>
          <p>Open the pane if closed.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>close</td>
        <td>
          
        </td>
        <td>
          <p>Close the pane if open.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disable the expandable area from being closable.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enable the expandable area to allow close.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroy by removing markup and canceling events.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = the settings to update to.
 </span>
                
          
        </td>
        <td>
          <p>Update the component and optionally apply new settings.</p>

        </td>
        <td>
          The plugin api for chaining.
object
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>beforeexpand
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after a row is added via the api.
</td>
</tr>

      
        <tr>
  <td>expand
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after a row is added via the api.
</td>
</tr>

      
        <tr>
  <td>afterexpand
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after a row is added via the api.
</td>
</tr>

      
        <tr>
  <td>beforecollapse
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after a row is added via the api.
</td>
</tr>

      
        <tr>
  <td>collapse
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after a row is added via the api.
</td>
</tr>

      
        <tr>
  <td>aftercollapse
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after a row is added via the api.
</td>
</tr>

      
      </tbody>
    </table>
  </section>
