.datagrid-header {
  // Fix the size of the drag icon
  &.medium-rowheight {
    .datagrid-column-wrapper,
    th {
      .handle,
      .is-draggable-target {
        font-size: 2.3rem;
      }
    }
  }

  // Adjust some icons
  .datagrid-filter-wrapper {
    .dropdown + .icon {
      top: 5px !important;
    }

    .datepicker + .icon {
      margin-left: -10px;
      top: -5px;
    }

    .timepicker + .icon {
      right: -3px;
      top: -4px;
    }
  }

  th .datagrid-header-text.required::after {
    font-size: 1.8rem;
  }
}

// Adjust header text
.datagrid-header-text {
  font-size: $theme-size-font-xs !important;
}

// Adjust Filter Text
.datagrid-header .datagrid-filter-wrapper .dropdown {
  padding: 1px 0 0 5px;
}

// Main Grid
.datagrid {
  td {
    // Adjust Row Links
    .hyperlink {
      margin-top: -2px;
    }

    &.is-editing {
      .datepicker {
        margin-top: 6px;

        ~ .icon {
          top: calc(50% - 18px);
        }
      }
    }
  }

  // Medium Row Height
  &.medium-rowheight {
    tbody tr {
      td {
        &.is-editing {
          &.has-singlecolumn {
            min-height: $datagrid-medium-row-height + 10;
          }

          .datepicker {
            margin-top: 0;

            ~ .icon {
              top: calc(50% - 17px);
            }
          }
        }
      }
    }
  }

  // Short Row Height
  &.short-rowheight {
    tbody {
      tr {
        td {
          &.is-editing {
            .datepicker {
              ~ .icon {
                top: calc(50% - 18px);
              }
            }
          }

          // Adjust Tags
          span {
            line-height: 22px;
          }

          // Adjust Row Buttons
          .row-btn {
            min-height: 25px;
          }
        }
      }
    }
  }
}

// Adjust handle for resize on lists
.is-gridlist.has-draggable-columns th .handle {
  font-size: 23px;
  top: -3px;
}

// Firefox
.is-firefox {
  // Adjust icon for firefox
  .datagrid-header .datagrid-filter-wrapper .timepicker + .icon {
    top: -2px;
  }

  // Main Grid for firefox
  .datagrid {
    td {
      &.is-editing {
        .datepicker {
          ~ .icon {
            top: calc(50% - 17px);
          }
        }
      }
    }

    // Medium Row Height for firefox
    &.medium-rowheight {
      tbody tr {
        td {
          &.is-editing {
            .datepicker {
              margin-top: 0;

              ~ .icon {
                top: calc(50% - 17px);
              }
            }
          }
        }
      }
    }
  }
}
