// Datagrid Uplift Styles
//================================================== //

// NOTE: see `src/core/_required.scss` for other datagrid dependencies
@import '../badges/badges-uplift';
@import '../button/button-uplift';
@import '../dropdown/dropdown-uplift';
@import '../input/input-uplift';
@import '../listview/listview-uplift';
@import '../modal/modal-uplift';
@import '../popupmenu/popupmenu-uplift';
@import '../searchfield/searchfield-uplift';
@import '../tag/tag-uplift';
@import '../toolbar/toolbar-uplift';
@import '../tooltip/tooltip-uplift';

.datagrid-header {
  // Fix the size of the drag icon
  &.medium-rowheight {
    .datagrid-column-wrapper,
    th {
      .handle,
      .is-draggable-target {
        font-size: 2.3rem;
      }
    }
  }

  // Adjust some icons
  .datagrid-filter-wrapper {
    .dropdown + .icon {
      right: 5px;
      top: 1px;
    }

    .datepicker + .icon {
      top: -5px;
    }

    .timepicker + .icon {
      right: 1px;
      top: -4px;
    }
  }

  th .datagrid-header-text.required::after {
    font-size: 1.8rem;
  }
}

// Adjust header text
.datagrid-header-text {
  font-size: $ids-size-font-xs !important;
}

.datagrid-checkbox-wrapper {
  margin-top: -15px;
}

// Adjust Filter Text
.datagrid-header .datagrid-filter-wrapper .dropdown {
  padding: 1px 0 0 5px;
}

// Main Grid
.datagrid {
  > tbody > tr .icon.plus-minus::before,
  > tbody > tr .icon.plus-minus::after {
    color: $font-color-highcontrast;
  }

  td.is-editing {
    .lookup-wrapper {
      padding-top: 5px;

      .trigger {
        margin-left: -36px;
        margin-top: 1px;
      }
    }

    &.is-editing {
      .datepicker {
        margin-top: 6px;

        ~ .icon {
          top: calc(50% - 18px);
        }
      }
    }
  }

  // Short Row Height
  &.small-rowheight {
    tbody {
      tr {
        td {
          &.is-editing {
            .datepicker {
              ~ .icon {
                top: calc(50% - 18px);
              }
            }
          }

          // Adjust Tags
          span {
            line-height: 22px;
          }

          // Adjust Row Buttons
          .row-btn {
            min-height: 25px;
          }
        }
      }
    }
  }
}

// Fix Editor Alignment
.datagrid.medium-rowheight {
  tbody tr {
    line-height: 26px;
  }

  > tbody > tr .datagrid-cell-wrapper {
    padding: 7px 16px 4px !important;

    .datagrid-checkbox-wrapper {
      margin-top: -14px;
    }
  }

  .is-editing .lookup-wrapper .trigger {
    margin-left: -28px !important;
    margin-top: -7px !important;
  }

  .datagrid-trigger-cell .icon.icon-calendar {
    top: 1px;
  }

  tbody tr td.is-editing {
    input {
      height: 26px;
    }

    .datepicker {
      margin-top: -1px;
      padding-left: 1px;
      padding-top: 0;
    }

    .datepicker ~ .icon {
      margin-left: 11px;
      top: calc(50% - 19px) !important;
    }
  }

  .datagrid-trigger-cell .icon.icon-search-list {
    top: 6px;
  }
}

// Fix Editor Alignment
.datagrid.small-rowheight {
  .icon-search-list {
    left: -1px !important;
    top: 4px !important;
  }

  .datagrid-cell-wrapper, {
    padding: 2px 8px 0;

    .datagrid-checkbox-wrapper {
      margin-top: -14px;
    }
  }

  tbody tr td.is-editing {
    .lookup-wrapper {
      padding-left: 10px;
      padding-top: 0;
    }

    input.lookup {
      margin-left: -4px;
      margin-top: 2px;
      padding-right: 5px;
    }

    input {
      height: 26px;
    }

    .lookup-wrapper .trigger {
      margin-left: -25px;
      margin-top: -3px !important;
    }

    .datepicker + .icon {
      top: -4px;
    }
  }
}

// Fix Editor Alignment
.datagrid.extra-small-rowheight {
  tbody tr td .icon-search-list {
    left: -3px !important;
    top: 4px !important;
  }

  tbody tr td.is-editing .lookup-wrapper .trigger {
    margin-top: 5px;
  }
}

.datagrid-trigger-cell.is-editing .datagrid-cell-wrapper {
  padding: 0 !important;
}

// Fix header alignment
.datagrid-container {
  th.text-ellipsis .datagrid-header-text {
    margin: 7px 0 0 !important;
  }

  &.small-rowheight th.text-ellipsis .datagrid-header-text,
  &.extra-small-rowheight th.text-ellipsis .datagrid-header-text {
    margin: 3px 0 0 !important;
  }

  &.medium-rowheight th.text-ellipsis .datagrid-header-text {
    margin: 5px 0 0 !important;
  }
}

.datagrid.small-rowheight tbody tr td.datagrid-trigger-cell .icon {
  top: 4px;
}

.datagrid.small-rowheight tbody tr td .hyperlink {
  margin-top: -4px;
}

// Extra small mode adjustments
.datagrid-container.extra-small-rowheight {
  .datagrid-header .datagrid-filter-wrapper .datepicker + .icon {
    top: -6px;
  }
}

// Adjust handle for resize on lists
.is-gridlist.has-draggable-columns th .handle {
  font-size: 23px;
  top: -3px;
}

// Firefox
.is-firefox {
  // Adjust icon for firefox
  .datagrid-header .datagrid-filter-wrapper .timepicker + .icon {
    top: -2px;
  }

  // Main Grid for firefox
  .datagrid {
    td {
      &.is-editing {
        .datepicker {
          ~ .icon {
            top: calc(50% - 17px);
          }
        }
      }
    }

    // Medium Row Height for firefox
    &.medium-rowheight {
      tbody tr {
        td {
          &.is-editing {
            .datepicker {
              margin-top: 0;

              ~ .icon {
                top: calc(50% - 17px);
              }
            }
          }
        }
      }
    }
  }

  .modal.datagrid-columns-dialog {
    .searchfield-wrapper {
      height: auto;
    }
  }
}

// Adjustments for uplift mode
.datagrid.extra-small-rowheight {
  tbody tr td.is-editing input {
    height: 24px;
  }

  tbody tr td.is-editing .dropdown {
    padding: 6px 22px 0 5px;
  }

  tbody tr td.is-editing .dropdown + .icon {
    height: 16px;
    right: 4px;
    top: 6px;
    width: 16px;
  }

  .datagrid-cell-wrapper {
    min-height: 29px;
  }

  tbody tr td.is-editing .datepicker {
    height: 27px;
  }

  div.dropdown + .icon,
  div.multiselect + .icon {
    height: 16px;
    right: 4px;
    top: 7px !important;
    width: 14px;
  }

  tbody tr td.is-editing .datepicker + .icon {
    top: -4px !important;
  }

  tbody tr td.datagrid-trigger-cell .dropdown-trigger + .icon {
    top: 4px !important;
  }

  tbody tr td .datagrid-checkbox-wrapper {
    margin-top: -13px;
  }
}

.datagrid-container.extra-small-rowheight {
  &.has-filterable-columns .is-filterable .datagrid-filter-wrapper .btn-filter {
    left: 6px;
    padding-top: 4px;
  }

  .datagrid-header .datagrid-filter-wrapper .dropdown + .icon {
    top: -2px !important;
  }

  .datagrid-header .datagrid-filter-wrapper .timepicker + .icon {
    right: 4px;
    top: -5px;
  }
}

.datagrid-container.medium-rowheight {
  &.has-filterable-columns .is-filterable .datagrid-column-wrapper.l-right-text {
    top: -3px;
  }
}

.datagrid-dropdown-list.extra-small-rowheight .trigger .icon {
  left: 5px !important;
  top: 7px;
}

.datagrid-dropdown-list.small-rowheight .trigger .icon {
  top: 8px;
}

// Timepicker
.datagrid td.is-editing input.timepicker {
  margin-top: 5px;
  padding: 0 0 0 15px;

  ~ .icon {
    left: auto;
    margin-left: -4px;
  }
}

.datagrid.medium-rowheight td.is-editing input.timepicker {
  margin-top: -1px !important;
  padding: 0 !important;

  ~ .icon {
    margin-left: 16px !important;
    top: calc(50% - 18px) !important;
  }
}

// EmptyMessage
.datagrid-container.has-empty-message.is-empty {
  .empty-title {
    font-size: 1.8rem !important;
  }

  &.empty-message-height-small {
    .empty-message {
      top: calc(50% + 33px) !important;
    }

    &.medium-rowheight .empty-message {
      top: calc(50% + 31px) !important;
    }

    &.small-rowheight .empty-message {
      top: calc(50% + 28px) !important;
    }

    &.extra-small-rowheight .empty-message {
      top: calc(50% + 26px) !important;
    }
  }
}
