// Datagrid New Styles
//================================================== //

// NOTE: see `src/core/_required.scss` for other datagrid dependencies
@import '../badges/badges-new';
@import '../button/button-new';
@import '../dropdown/dropdown-new';
@import '../input/input-new';
@import '../listview/listview-new';
@import '../modal/modal-new';
@import '../popupmenu/popupmenu-new';
@import '../searchfield/searchfield-new';
@import '../tag/tag-new';
@import '../toolbar/toolbar-new';
@import '../tooltip/tooltip-new';

.datagrid-header {
  // Fix the size of the drag icon
  &.medium-rowheight {
    .datagrid-column-wrapper,
    th {
      .handle,
      .is-draggable-target {
        font-size: 2.3rem;
      }
    }
  }

  // Adjust some icons
  .datagrid-filter-wrapper {
    .dropdown + .trigger {
      .icon {
        right: 5px;
        top: 1px;
      }
    }

    .datepicker,
    .timepicker {
      + .trigger {
        .icon {
          right: 2px;
          top: 4px;
        }
      }
    }

    .datepicker,
    .timepicker {
      + .trigger {
       &:hover {
         background-color: transparent;
       }
      }
    }

    .lookup-wrapper {
      .trigger {
        .icon {
          height: 16px;
          right: 0;
          top: -2px;
          width: 16px;
        }
      }
    }

    .searchfield-wrapper.has-close-icon-button .icon {
      right: 14px;
      top: 6px;
    }
  }

  th .datagrid-header-text.required::after {
    font-size: 1.8rem;
  }
}

// Adjust header text
.datagrid-header-text {
  font-size: $ids-size-font-xs !important;
}

.datagrid-checkbox-wrapper {
  margin-top: -15px;
}

// Adjust Filter Text
.datagrid-header .datagrid-filter-wrapper .dropdown {
  padding: 1px 0 0 5px;
}

// Adjust some trigger cells
.datagrid-trigger-cell {
  .icon-calendar {
    top: -3px;
  }

  .btn-icon > .icon {
    top: 0;
  }

  // Date Picker
  .datepicker {
    + .trigger {
      margin-top: 11px;
    }
  }
}

.datagrid-drilldown {
  top: -2px;
}

// Main Grid
.datagrid {
  > tbody > tr .icon.plus-minus::before,
  > tbody > tr .icon.plus-minus::after {
    color: $font-color-highcontrast;
  }

  td {
    .chart-completion-target {
      height: 28px;

      .target {
        margin-top: 6px;
      }

      .chart-targeted-text {
        margin-top: -41px;
      }
    }
  }

  td.is-editing {
    .lookup-wrapper {
      padding-top: 0;
    }

    input.lookup {
      + .trigger {
        margin-left: -16px;
        margin-top: 10.5px;

        &:hover > .icon {
          background-color: transparent;
          box-shadow: none;
        }
      }
    }

    .datepicker {
      margin-top: 0;
      padding: unset;

      ~ .icon {
        top: calc(50% - 18px);
      }

      + .trigger {
        margin-top: 12px;
      }

      + .btn-icon.trigger {
        margin-top: 8px;
        margin-left: 13px;
      }
    }

    input.timepicker {
      margin-top: 2px;

      ~ .trigger {
        margin-left: -7px;
        margin-top: 14px;
      }

      + .btn-icon.trigger {
        margin-left: -2px;
        margin-top: 10px;
      }
    }

    &.datagrid-trigger-cell {
      input.timepicker + .btn-icon.trigger {
        margin-left: 0;
      }

      .datepicker + .btn-icon.trigger {
        margin-top: 10px;
      }
    }
  }

  &.extra-small-rowheight {
    tbody tr td .row-btn {
      top: 0;
    }

    .datagrid-trigger-cell {
      .icon.icon-calendar {
        left: -5px !important;
        top: -1px !important;
      }
    }

    td.is-editing {
      input.timepicker {
        + .trigger {
          margin-left: -1px;
          margin-top: 2px;

          > .icon {
            top: 0;
          }
        }
      }

      .datepicker {
        padding: unset !important;

        + .btn-icon.trigger {
          margin-left: 5px;
          margin-top: 1px;
        }
      }
    }
  }

  // Short Row Height
  &.small-rowheight {
    tbody {
      tr {
        td {
          &.datagrid-trigger-cell {
            .dropdown-trigger {
              + .icon {
                top: -3px;
              }
            }

            .icon.icon-calendar {
              left: -1px;
              top: -2px;
            }

            &.has-editor:not(.is-readonly) {
              &.is-fileupload .datagrid-cell-wrapper .icon.icon-error:not(.datagrid-alert-icon) {
                left: 99%;
                margin-top: 1px;
              }

              .datagrid-cell-wrapper {
                .colorpicker-container + .icon.icon-error:not(.datagrid-alert-icon) {
                  left: 100%;
                  margin-top: 2px;
                }

                .datepicker + .trigger {
                  margin-left: 8px;
                  margin-top: 1px;
                  background-color: transparent;
                }

                .trigger {
                  + .icon-search-list + .icon.icon-error:not(.datagrid-alert-icon) {
                    left: 100%;
                  }

                  + .icon-calendar + .icon.icon-error:not(.datagrid-alert-icon) {
                    left: 101%;
                    margin-top: 1px;
                  }

                  +.icon-clock + .icon.icon-error:not(.datagrid-alert-icon) {
                    margin-top: 1px;
                    left: 98%;
                  }
                }
              }
            }
          }

          &.is-editing {
            .datepicker {
              + .trigger {
                > .icon {
                  top: -1px;
                  left: -1px;
                }
              }
            }
          }

          // Adjust Tags
          span {
            line-height: 25px;
          }

          // Adjust Row Buttons
          .row-btn {
            min-height: 25px;
          }
        }
      }
    }

    td.is-editing {
      .datepicker {
        padding: unset !important;

        + .trigger {
          margin-left: 1px;
          margin-top: 0;
        }

        + .btn-icon.trigger {
          margin-left: 9px;
          margin-top: 0;
        }
      }

      input.timepicker {
        + .trigger {
          margin-left: -2px;
          margin-top: -1px;

          > .icon {
            top: 0;
          }
        }
      }
    }
  }

  &.small-rowheight,
  &.extra-small-rowheight {
    tbody {
      tr {
        td {
          .datagrid-cell-wrapper {
            .row-btn {
              top: -1px;

              &.btn-icon {
                height: 22px;
              }

              .icon {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  &.extra-small-rowheight {
    .datagrid-cell-wrapper {
      .icon-clock.icon {
        top: -2px !important;
      }
    }
  }

  &.small-rowheight {
    .datagrid-cell-wrapper {
      .icon-clock.icon {
        top: -2px !important;
      }
    }
  }

  &.medium-rowheight {
    .datagrid-cell-wrapper {
      .icon-clock.icon {
        top: 0;
      }

      .row-btn {
        min-height: 32px;
      }

      .dropdown-trigger:not(.colorpicker-container) {
        + .icon {
          top: 1px !important;
          left: 4px !important;
        }
      }
    }

    .datagrid-trigger-cell {
      .icon.icon-calendar {
        left: 4px;
        top: 0;
      }
    }

    td.is-editing {
      &:not(.datagrid-trigger-cell) .datepicker {
        + .trigger {
          margin-top: 7px;
        }

        + .trigger.btn-icon {
          margin-top: 3px;
        }
      }

      &.datagrid-trigger-cell input.timepicker + .btn-icon.trigger {
        right: 5px;
        top: 2.5px;
      }

      .datepicker {
        + .trigger {
          margin-left: -2px;
        }

        + .trigger.btn-icon {
          margin-left: 12.5px;
          margin-top: 3px;

          &:hover {
            background-color: transparent;
          }
        }
      }

      input.timepicker {
        + .btn-icon.trigger {
          margin-left: -3px !important;
          margin-top: 3px !important;
        }
      }
    }

    // fix focus gets cutoff on medium row height
    .datagrid-rowgroup-header {
      .datagrid-expand-btn {
        margin-bottom: 2px;
        margin-top: 2px;
      }
    }
  }
}

// Fix Editor Alignment
.datagrid.medium-rowheight {
  tbody tr {
    line-height: 26px;
  }

  > tbody > tr .datagrid-cell-wrapper {
    .datagrid-checkbox-wrapper {
      margin-top: -14px;
    }
  }

  tbody tr td.is-editing {
    &.datagrid-trigger-cell {
      input.lookup {
        margin-top: 0;
      }
    }

    input {
      margin-top: 0;
      margin-left: 0;

      :not(.colorpicker) {
        height: 22px !important;
      }

      &.lookup {
        margin-left: -1px;
      }
    }

    input.lookup {
      + .trigger {
        margin-left: -15px;
        margin-top: 3.5px;
      }
    }

    .lookup-wrapper {
      padding: 0;
    }

    .datepicker {
      padding-left: 0;
      padding-top: 0;
    }

    .datepicker ~ .icon {
      margin-left: 11px;
      top: calc(50% - 19px) !important;
    }

    &:not(.datagrid-trigger-cell) {
      input.datepicker {
        margin-top: 4px !important;
      }
    }
  }

  tbody tr td .datagrid-drilldown {
    top: 2px;
  }

  .datagrid-trigger-cell.has-editor .icon.icon-search-list {
    top: 1px;
  }

  .datagrid-trigger-cell .icon.icon-search-list {
    top: 4px;
  }
}

// Fix Editor Alignment
.datagrid.small-rowheight {
  .icon-search-list {
    left: -1px !important;
    top: 4px !important;
  }

  .datagrid-cell-wrapper {
    padding: 4px 8px 0;

    .datagrid-checkbox-wrapper {
      margin-top: -14px;
    }
  }

  tbody tr td.is-editing {
    .lookup-wrapper {
      padding-left: 0;
      padding-top: 0;
    }

    input.lookup {
      margin-left: -1px;
      margin-top: -1px;
      padding-right: 15px;
    }

    input {
      height: 26px;
    }

    input.lookup {
      + .trigger {
        margin-left: -16px;
        margin-top: 0;
        top: 4px;

        > .icon {
          top: -2px;
        }
      }
    }

    .datepicker + .icon {
      top: -4px;
    }
  }

  tbody tr td .datagrid-drilldown {
    top: 0;
  }
}

// Fix Editor Alignment
.datagrid.extra-small-rowheight {
  tbody tr td {
    .icon-search-list {
      left: -3px;
      top: 4px;
    }

    &.is-editing {
      input.lookup {
        + .trigger {
          margin-left: -23px;
          margin-top: 2px;
        }
      }
    }
  }
}

// Fix header alignment
.datagrid-container {
  th.text-ellipsis .datagrid-header-text {
    margin: 9px 0 0 !important;
  }

  &.small-rowheight th.text-ellipsis .datagrid-header-text {
    margin: 4px 0 0 !important;
  }

  &.medium-rowheight th.text-ellipsis .datagrid-header-text {
    margin: 6px 0 0 !important;
  }

  &:not(.extra-small-rowheight) .datagrid-header {
    .datagrid-filter-wrapper .dropdown + .icon {
      top: 1px;
    }
  }
}

.datagrid.small-rowheight tbody tr td {
  &.datagrid-trigger-cell {
    .trigger:not(.colorpicker-container) {
      top: 4px;
    }

    .trigger.colorpicker-container {
      height: 22px;
    }

    span.trigger.is-clearable {
      width: calc(100% - 32px);
    }

    &.is-editing .datagrid-cell-wrapper {
      padding: 2px 8px !important;

      .icon-close {
        margin-left: -21px !important;
        left: -7px;
      }

      .icon-fileupload {
        left: -2px;
      }
    }
  }

  .hyperlink {
    margin-top: -4px;
  }
}

// Small mode adjustments
.datagrid-container.small-rowheight {
  .datagrid-header .datagrid-filter-wrapper {
    .datepicker,
    .timepicker {
      + .trigger {
        right: 2px;
      }
    }

    .lookup-wrapper {
      .trigger {
        margin-left: -22px;
        margin-top: 2px;
      }
    }
  }
}

// Adjust handle for resize on lists
.is-gridlist.has-draggable-columns th .handle {
  font-size: 23px;
  top: -3px;
}

// Firefox
.is-firefox {
  // Adjust icon for firefox
  .datagrid-header .datagrid-filter-wrapper .timepicker + .trigger {
    top: -2px;
  }

  .datagrid {
    .datagrid-trigger-cell .icon.icon-clock {
      top: -2px;
    }
  }

  // Main Grid for firefox
  .datagrid {
    td {
      &.is-editing {
        .datepicker {
          ~ .icon {
            top: calc(50% - 17px);
          }
        }

        .lookup-wrapper {
          padding-top: 5px;

          .lookup + .trigger {
            margin-top: 4px;
          }
        }
      }
    }

    // Medium Row Height for firefox
    &.medium-rowheight {
      tbody tr {
        td {
          &.is-editing {
            .datepicker {
              margin-top: 0;

              ~ .icon {
                top: calc(50% - 17px);
              }
            }

            &.datagrid-trigger-cell {
              input.datepicker {
                margin-top: -6px;
              }

              .datepicker + .trigger.btn-icon {
                margin-top: 1px;
              }

              input.timepicker + .btn-icon.trigger {
                top: 4px;
              }
            }

            .lookup-wrapper {
              padding-top: 1px;

              .lookup {
                ~ .trigger {
                  top: -2px;

                  .icon {
                    top: calc(50% - 10px);
                  }
                }
              }
            }
          }
        }
      }
    }

    &.small-rowheight {
      tbody tr {
        td {
          &.is-editing {
            .lookup {
              + .trigger {
                top: 1px;
              }
            }
          }
        }
      }
    }
  }

  .modal.datagrid-columns-dialog {
    .searchfield-wrapper {
      height: auto;
    }
  }
}

// Adjustments for uplift mode
.datagrid.extra-small-rowheight {
  tbody tr td.datagrid-trigger-cell.has-editor {
    .icon.icon-search-list {
      top: -1px;
    }
  }

  tbody tr td.is-editing input {
    height: 24px;

    &.lookup {
      height: 27px;
      margin-top: -1px;
    }
  }

  tbody tr td.is-editing .dropdown {
    padding: 4px 22px 0 3px !important;
  }

  tbody tr td.is-editing .dropdown-wrapper .dropdown + .icon {
    height: 16px;
    right: 1px;
    top: 5px !important;
    width: 16px;
  }

  .datagrid-cell-wrapper {
    min-height: 30px;
  }

  tbody tr td.is-editing .datepicker {
    height: 26px;
  }

  div.dropdown + .icon,
  div.multiselect + .icon {
    height: 16px;
    right: 4px;
    top: 7px !important;
    width: 14px;
  }

  tbody tr td.is-editing .datepicker + .icon {
    top: -4px !important;
  }

  tbody tr td.datagrid-trigger-cell .dropdown-trigger :not(.colorpicker-container) + .icon {
    top: 1px !important;
    left: -5px !important;
  }

  tbody tr td .datagrid-checkbox-wrapper {
    margin-top: -13px;
  }
}

.datagrid-cell-wrapper {
  .custom-card {
    svg.icon {
      top: 5px;
    }
  }
}

.datagrid-container.extra-small-rowheight {
  &.has-filterable-columns .is-filterable .datagrid-filter-wrapper .btn-filter {
    left: 6px;
    padding-top: 4px;
  }

  .datagrid-header .datagrid-filter-wrapper .dropdown + .icon {
    top: -2px !important;
  }

  .datagrid-header .datagrid-filter-wrapper .timepicker + .icon {
    right: 4px;
    top: -5px;
  }
}

.datagrid-container.medium-rowheight {
  &.has-filterable-columns .is-filterable .datagrid-column-wrapper.l-right-text {
    top: -3px;
  }
}

.datagrid-dropdown-list.extra-small-rowheight .trigger .icon {
  left: 4px !important;
  top: 6px;
}

.datagrid-dropdown-list.small-rowheight .trigger .icon {
  top: 8px;
}

.datagrid.medium-rowheight td.is-editing:not(.datagrid-trigger-cell) input.timepicker {
  margin-top: 3px !important;

  ~ .icon {
    margin-left: 16px !important;
    top: calc(50% - 18px) !important;
  }
}

.datagrid {
  &.extra-small-rowheight {
    tbody tr {
      td.is-editing {
        .datepicker + .btn-icon.trigger {
          margin-top: 1px;
          background-color: transparent;
        }
      }
    }

    td.is-editing {
      .timepicker {
        margin: 0 !important;
        padding: unset !important;

        + .btn-icon.trigger {
          margin-left: 4px !important;
          margin-top: -1px !important;
        }
      }
    }

    .datagrid-header th.text-ellipsis .datagrid-column-wrapper {
      .datagrid-header-text {
        margin: 4px 0 0 !important;
      }
    }

    .datagrid-trigger-cell.has-editor:not(.is-readonly) {
      &.is-fileupload .datagrid-cell-wrapper .icon.icon-error:not(.datagrid-alert-icon) {
        left: 99%;
        margin-top: 1px;
      }

      .datagrid-cell-wrapper {
        .colorpicker-container + .icon.icon-error:not(.datagrid-alert-icon) {
          left: 101%;
          margin-top: 1px;
        }

        .trigger {
          + .icon-search-list + .icon.icon-error:not(.datagrid-alert-icon) {
            left: 96%;
          }

          + .icon-calendar + .icon.icon-error:not(.datagrid-alert-icon) {
            left: 99%;
            margin-top: 1px;
          }

          + .icon-clock + .icon.icon-error:not(.datagrid-alert-icon) {
            left: 97%;
            margin-top: 0;
          }
        }
      }
    }
  }

  &.small-rowheight {
    tbody tr {
      td.is-editing {
        .datepicker {
          height: 26px;
        }
      }
    }

    td.is-editing {
      .timepicker {
        margin-left: 0 !important;
        padding: unset !important;
        width: calc(100% - 25px);

        + .btn-icon.trigger {
          margin-left: 4px !important;
          margin-top: 0;
        }
      }
    }
  }

  &.medium-rowheight {
    td.is-editing {
      .timepicker {
        margin-top: 4px;
      }

      &.datagrid-trigger-cell .timepicker {
        margin-top: -6px;
      }
    }

    .datagrid-trigger-cell.has-editor:not(.is-readonly) {
      &.is-fileupload .datagrid-cell-wrapper .icon.icon-error:not(.datagrid-alert-icon) {
        left: 97%;
        margin-top: 1px;
      }

      .datagrid-cell-wrapper {
        .colorpicker-container + .icon.icon-error:not(.datagrid-alert-icon) {
          left: 100%;
          top: 9px;
        }

        .trigger {
          &.dropdown-trigger:not(.colorpicker-container) + .icon + .icon.icon-error:not(.datagrid-alert-icon) {
            left: 100%;
          }

          + .icon-calendar + .icon.icon-error:not(.datagrid-alert-icon) {
            margin-top: -2px;
            left: 98%;
          }

          + .icon-clock + .icon.icon-error:not(.datagrid-alert-icon) {
            margin-top: -2px;
            left: 97%;
          }
        }
      }
    }
  }
}

// EmptyMessage
.datagrid-container.has-empty-message.is-empty {
  .empty-title {
    font-size: 1.8rem !important;
  }

  &.empty-message-height-small {
    .empty-message {
      top: calc(50% + 33px) !important;
    }

    &.medium-rowheight .empty-message {
      top: calc(50% + 31px) !important;
    }

    &.small-rowheight .empty-message {
      top: calc(50% + 28px) !important;
    }

    &.extra-small-rowheight .empty-message {
      top: calc(50% + 26px) !important;
    }
  }
}

.datagrid-container.extra-small-rowheight.has-filterable-columns .is-filterable .datagrid-filter-wrapper {
  .lookup-wrapper .trigger {
    margin-top: 1px;
  }

  .has-close-icon-button .icon {
    right: 21px;
    top: calc(50% + 2px);
  }
}

.datagrid-header .datagrid-filter-wrapper .lookup-wrapper .searchfield-wrapper.has-close-icon-button .icon {
  top: calc(50% + 3px);
  height: 15px;
}

.datagrid-container.small-rowheight.has-filterable-columns .is-filterable .datagrid-filter-wrapper .has-close-icon-button .icon {
  right: 23px;
  top: calc(50% + 2px);
}

// Process Indivator Formatter
.datagrid > tbody > tr .process-indicator {
  top: 8px;

  &.responsive .lines .indicator.current {
    left: -1px;
    top: 0;
  }
}

.datagrid.extra-small-rowheight .process-indicator {
  top: 0 !important;
}

.datagrid.small-rowheight .process-indicator {
  top: 1px !important;
}

.datagrid.medium-rowheight .process-indicator {
  top: 1px !important;
}

// Adjust the lookup X
.is-safari {
  .datagrid-header .datagrid-filter-wrapper .lookup-wrapper .searchfield-wrapper.has-close-icon-button .icon {
    top: 1px;
  }

  .datagrid-container {
    &.small-rowheight,
    &.extra-small-rowheight {
      .datagrid-header .datagrid-filter-wrapper {
        .timepicker {
          + .trigger {
            top: -9px;
            margin-left: -22px;
          }
        }
      }
    }
  }
}

html[dir='rtl'] {
  .datagrid-container.extra-small-rowheight .sort-indicator {
    left: 8px;
    position: relative;
  }

  .datagrid-container.extra-small-rowheight th .handle .icon {
    top: 4px !important;
  }

  .datagrid {
    &.extra-small-rowheight {
      .datagrid-header .datagrid-column-wrapper.l-center-text .sort-indicator {
        left: 12px;
        top: 6px;
        position: absolute;
      }

      th .datagrid-column-wrapper .datagrid-header-text {
        padding: 0 5px;
      }

      .datagrid-header {
        .datagrid-column-wrapper {
          &.l-right-text {
            .sort-indicator {
              position: relative;
              right: 8px;
              top: 1px;
            }
          }
        }
      }
    }
  }

  .datagrid {
    td.is-editing {
      input.lookup {
        + .trigger {
          margin-left: 6px;
          margin-top: 7px;

          > .icon {
            left: -1px;
          }
        }
      }

      input.timepicker {
        + .trigger {
          margin-left: 7px;
          margin-top: 13px;

          > .icon {
            top: 0;
          }
        }
      }
    }
  }

  .datagrid.medium-rowheight {
    .is-editing .datepicker {
      + .trigger.btn-icon {
        margin-top: 5px;
      }
    }

    .datagrid-trigger-cell.has-editor {
      .datepicker ~ .trigger {
        left: 1px;
        top: 1px;
      }

      .icon-error {
        left: 0 !important;
        margin-top: 0 !important;
        top: 11px;
      }
    }

    .datagrid-cell-wrapper {
      .dropdown-trigger:not(.colorpicker-container) + .icon {
        top: 2px !important;
        left: -4px !important;
      }
    }
  }

  .datagrid.small-rowheight {
    .is-editing .datepicker {
      + .trigger.btn-icon {
        left: -9px;
        margin-top: 0;
        top: 5px;
      }
    }

    .datagrid-trigger-cell.has-editor {
      .icon-calendar {
        top: 0 !important;
      }

      .icon-error {
        top: 6px;
      }
    }
  }

  .datagrid.extra-small-rowheight {
    .datagrid-trigger-cell.has-editor {
      &.is-editing .trigger {
        top: 2px;
      }
    }
  }

  .datagrid {
    td.error {
      .datagrid-cell-wrapper {
        .trigger + .icon-calendar + .icon-error {
          left: 0;
          margin-top: 0;
        }
      }
    }
  }

  .datagrid-trigger-cell.has-editor {
    &:not(.is-readonly) {
      &:hover,
      &:focus {
        svg.icon + .icon-error,
        svg.icon + .icon-info,
        svg.icon + .icon-alert {
          &:not(.datagrid-alert-icon) {
            margin-left: 27px !important;
          }
        }
      }
    }
  }

  // Small mode adjustments
  .datagrid-container {
    &.small-rowheight {
      .datagrid-header .datagrid-filter-wrapper {
        .datepicker,
        .timepicker {
          + .trigger {
            left: 16px;
            right: auto;
          }
        }
      }

      td.is-editing {
        input.lookup {
          + .trigger {
            margin-left: 6px;
            margin-top: -1px;

            > .icon {
              left: -1px;
              top: 0;
            }
          }
        }

        input.timepicker {
          + .trigger {
            margin-left: 5px;
            margin-top: -2px;
          }
        }
      }
    }

    &.extra-small-rowheight {
      td.is-editing {
        .datepicker {
          + .trigger {
            margin-top: 3px;
          }
        }

        input.timepicker {
          + .trigger {
            margin-left: 5px;
          }
        }
      }
    }

    &.small-rowheight,
    &.extra-small-rowheight {
      .datagrid-header .datagrid-filter-wrapper {
        .lookup-wrapper {
          .trigger {
            left: 0;
            margin-left: 2px;
            margin-right: auto;
            margin-top: 2px;
          }
        }
      }
    }

    &.medium-rowheight {
      .datagrid-trigger-cell {
        .icon.icon-calendar {
          left: auto;
          right: 7px;
        }
      }

      td.is-editing {
        .datepicker {
          ~ .trigger {
            margin-left: auto;
            margin-right: 17px;
          }
        }

        input.lookup {
          padding: 0;

          + .trigger {
            margin-left: -6px;
            margin-top: 0;

            > .icon {
              left: -1px;
            }
          }
        }

        input.timepicker {
          + .trigger {
            margin-top: 0;
          }
        }
      }
    }
  }

  &.is-firefox {
    .datagrid.medium-rowheight {
      .datagrid-trigger-cell.has-editor {
        &.is-editing .datepicker + .trigger.btn-icon {
          margin-top: 5px;
        }
      }
    }

    .datagrid.medium-rowheight {
      .datagrid-trigger-cell.has-editor {
        &.is-editing .datepicker + .trigger.btn-icon {
          margin-top: 2px;
        }
      }
    }

    .datagrid.extra-small-rowheight {
      .datagrid-trigger-cell.has-editor:not(.is-readonly) {
        .datagrid-cell-wrapper {
          .trigger + .icon.icon-calendar {
            top: -2.5px;
          }
        }
      }
    }
  }
}

.android.is-firefox {
  .datagrid-header .datagrid-filter-wrapper {
    .dropdown + .icon:not(.close) {
      top: 1px;
    }
  }

  .dropdown-list > .trigger .icon.close {
    top: 6px;
  }
}
