// Datagrid Uplift Styles
//================================================== //

// NOTE: see `src/core/_required.scss` for other datagrid dependencies
@import '../badges/badges-uplift';
@import '../button/button-uplift';
@import '../dropdown/dropdown-uplift';
@import '../input/input-uplift';
@import '../listview/listview-uplift';
@import '../modal/modal-uplift';
@import '../popupmenu/popupmenu-uplift';
@import '../searchfield/searchfield-uplift';
@import '../tag/tag-uplift';
@import '../toolbar/toolbar-uplift';
@import '../tooltip/tooltip-uplift';

.datagrid-header {
  // Fix the size of the drag icon
  &.medium-rowheight {
    .datagrid-column-wrapper,
    th {
      .handle,
      .is-draggable-target {
        font-size: 2.3rem;
      }
    }
  }

  // Adjust some icons
  .datagrid-filter-wrapper {
    .dropdown + .icon {
      top: 5px !important;
    }

    .datepicker + .icon {
      margin-left: -10px;
      top: -5px;
    }

    .timepicker + .icon {
      right: -3px;
      top: -4px;
    }
  }

  th .datagrid-header-text.required::after {
    font-size: 1.8rem;
  }
}

// Adjust header text
.datagrid-header-text {
  font-size: $theme-size-font-xs !important;
}

// Adjust Filter Text
.datagrid-header .datagrid-filter-wrapper .dropdown {
  padding: 1px 0 0 5px;
}

// Main Grid
.datagrid {
  > tbody > tr .datagrid-cell-wrapper {
    padding: 3px 19px 0;
  }

  > tbody > tr .icon.plus-minus::before,
  > tbody > tr .icon.plus-minus::after {
    color: $font-color-highcontrast;
  }

  td.is-editing {
    .lookup-wrapper {
      padding-top: 5px;

      .trigger {
        margin-left: -36px;
        margin-top: 0;
      }
    }

    &.is-editing {
      .datepicker {
        margin-top: 6px;

        ~ .icon {
          top: calc(50% - 18px);
        }
      }
    }
  }

  // Medium Row Height
  &.medium-rowheight {
    tbody tr {
      td {
        &.is-editing {
          &.has-singlecolumn {
            min-height: $datagrid-medium-row-height + 10;
          }

          .datepicker {
            margin-top: 0;

            ~ .icon {
              top: calc(50% - 17px);
            }
          }
        }
      }
    }

    .is-editing .lookup-wrapper .trigger {
      margin-left: -10px !important;
      margin-top: -3px !important;
    }
  }

  // Short Row Height
  &.short-rowheight {
    tbody {
      tr {
        td {
          &.is-editing {
            .datepicker {
              ~ .icon {
                top: calc(50% - 18px);
              }
            }
          }

          // Adjust Tags
          span {
            line-height: 22px;
          }

          // Adjust Row Buttons
          .row-btn {
            min-height: 25px;
          }

          // Adjust editors
          &.is-editing {
            .lookup-wrapper .trigger {
              margin-left: -34px;
              margin-top: -6px;
            }
          }
        }
      }
    }
  }
}

// Fix header alignment
.datagrid-container {
  th.text-ellipsis .datagrid-header-text {
    margin: 7px 0 0 !important;
  }

  &.short-rowheight th.text-ellipsis .datagrid-header-text {
    margin: 3px 0 0 !important;
  }

  &.medium-rowheight th.text-ellipsis .datagrid-header-text {
    margin: 5px 0 0 !important;
  }
}

.datagrid.short-rowheight tbody tr td.datagrid-trigger-cell .icon {
  top: 4px;
}

.datagrid.short-rowheight tbody tr td .hyperlink,
.datagrid.medium-rowheight tbody tr td .hyperlink {
  margin-top: -4px;
}

// Extra small mode adjustments
.datagrid-container.extra-small-rowheight {
  .datagrid-header .datagrid-filter-wrapper .datepicker + .icon {
    top: -6px;
  }
}

// Adjust handle for resize on lists
.is-gridlist.has-draggable-columns th .handle {
  font-size: 23px;
  top: -3px;
}

// Firefox
.is-firefox {
  // Adjust icon for firefox
  .datagrid-header .datagrid-filter-wrapper .timepicker + .icon {
    top: -2px;
  }

  // Main Grid for firefox
  .datagrid {
    td {
      &.is-editing {
        .datepicker {
          ~ .icon {
            top: calc(50% - 17px);
          }
        }
      }
    }

    // Medium Row Height for firefox
    &.medium-rowheight {
      tbody tr {
        td {
          &.is-editing {
            .datepicker {
              margin-top: 0;

              ~ .icon {
                top: calc(50% - 17px);
              }
            }
          }
        }
      }
    }
  }

  .modal.datagrid-columns-dialog {
    .searchfield-wrapper {
      height: auto;
    }
  }
}

// Adjustments for uplift mode
.datagrid.extra-small-rowheight {
  tbody tr td.is-editing input {
    height: 25px;
  }

  tbody tr td.is-editing .datepicker {
    height: 28px;
  }

  div.dropdown + .icon,
  div.multiselect + .icon {
    height: 16px;
    right: 4px;
    top: 7px !important;
    width: 14px;
  }

  tbody tr td.is-editing .datepicker + .icon {
    top: -4px !important;
  }

  tbody tr td.datagrid-trigger-cell .dropdown-trigger + .icon {
    top: 4px !important;
  }

  .datagrid-checkbox-wrapper {
    margin-top: -15px;
  }
}

.datagrid.small-rowheight {
  tbody tr td.is-editing .datepicker + .icon {
    top: -3px;
  }
}
