<div id="maincontent" class="page-container two-column fixed">

  <section class="sidebar scrollable-y" role="complementary">
    <div class="content">
      <div class="row">
        <div class="twelve columns">
          <p>
            This tests the display of datagrids in various containers (2-column layout, tabs, expandable areas, etc.)
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="main scrollable-y" role="main">
    <div class="content">

      <div class="tab-container">
        <ul class="tab-list">
          <li class="tab"><a href="#first-tab">Tab 1</a></li>
          <li class="tab"><a href="#second-tab">Tab 2</a></li>
        </ul>

        <div id="first-tab" class="tab-panel">
          <div class="row">
            <div class="twelve columns">
              <div id="datagrid"></div>
            </div>
          </div>
        </div>

        <div id="second-tab" class="tab-panel">
          <div class="row">
            <div class="twelve columns">
              <div class="expandable-area is-expanded">
                <div class="expandable-header">
                  <span class="title">Expandable Area</span>
                </div>
                <div class="expandable-pane">
                  <div class="content">
                    <div id="datagrid2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <script>
    $('body').one('initialized', function () {
      var columns = [], columns2 = [],
        data = [], data2 = [];

      // Some Sample Data
      data.push({ id: 1, productId: 2142201, productName: 'Compressor', activity:  'Assemble Paint', quantity: 1, price: 210.99, status: 'OK', orderDate: new Date(2014, 12, 8), action: 'Action'});
      data.push({ id: 2, productId: 2241202, productName: '1 Different Compressor', activity:  'Inspect and Repair', quantity: 3100, price: 210.99, status: '', orderDate: new Date(2015, 7, 3), action: 'On Hold'});
      data.push({ id: 3, productId: 2342203, productName: 'Compressor', activity:  'Inspect and Repair', quantity: 1, price: 120.99, status: null, orderDate: new Date(2014, 6, 3), action: 'Action'});
      data.push({ id: 4, productId: 2445204, productName: '1 Another Compressor', activity:  'Assemble Paint', quantity: 3, price: 210.99, status: 'OK', orderDate: new Date(2015, 3, 3), action: 'Action'});
      data.push({ id: 5, productId: 2542205, productName: 'I Love Compressors', activity:  'Inspect and Repair', quantity: 4, price: 210.99, status: 'OK', orderDate: new Date(2015, 5, 5), action: 'On Hold'});
      data.push({ id: 5, productId: 2642205, productName: 'Air Compressors', activity:  'Inspect and Repair', quantity: 41, price: 120.99, status: 'OK', orderDate: new Date(2014, 6, 9), action: 'On Hold'});
      data.push({ id: 6, productId: 2642206, productName: 'Some Compressor', activity:  'inspect and Repair', quantity: 41, price: 123.99, status: 'OK', orderDate: new Date(2014, 6, 9), action: 'On Hold'});

      data2.push({ id: 1, productId: 2142201, productName: 'Compressor', activity:  'Assemble Paint', quantity: 1, price: 210.99, status: 'OK', orderDate: new Date(2014, 12, 8), action: 'Action'});
      data2.push({ id: 2, productId: 2241202, productName: '1 Different Compressor', activity:  'Inspect and Repair', quantity: 3100, price: 210.99, status: '', orderDate: new Date(2015, 7, 3), action: 'On Hold'});
      data2.push({ id: 3, productId: 2342203, productName: 'Compressor', activity:  'Inspect and Repair', quantity: 1, price: 120.99, status: null, orderDate: new Date(2014, 6, 3), action: 'Action'});
      data2.push({ id: 4, productId: 2445204, productName: '1 Another Compressor', activity:  'Assemble Paint', quantity: 3, price: 210.99, status: 'OK', orderDate: new Date(2015, 3, 3), action: 'Action'});
      data2.push({ id: 5, productId: 2542205, productName: 'I Love Compressors', activity:  'Inspect and Repair', quantity: 4, price: 210.99, status: 'OK', orderDate: new Date(2015, 5, 5), action: 'On Hold'});
      data2.push({ id: 5, productId: 2642205, productName: 'Air Compressors', activity:  'Inspect and Repair', quantity: 41, price: 120.99, status: 'OK', orderDate: new Date(2014, 6, 9), action: 'On Hold'});
      data2.push({ id: 6, productId: 2642206, productName: 'Some Compressor', activity:  'inspect and Repair', quantity: 41, price: 123.99, status: 'OK', orderDate: new Date(2014, 6, 9), action: 'On Hold'});

      var activities = [{id: 'Assemble Paint', value:'Assemble Paint', label: 'Assemble Paint'},
        {id: 'Inspect and Repair', value:'Inspect and Repair', label: 'Inspect and Repair'}];

      // Columns for the Grids
      columns.push({ id: 'selectionCheckbox', sortable: false, resizable: false, formatter: Formatters.SelectionCheckbox, align: 'center'});
      columns.push({ id: 'drilldown', sortable: false, resizable: false, formatter: Formatters.Drilldown, align: 'center'});
      columns.push({ id: 'productId', name: 'Product ID', field: 'productId', formatter: Formatters.Text, filterType: 'text' });
      columns.push({ id: 'productName', name: 'Product Name', field: 'productName', formatter: Formatters.Text, filterType: 'text' });
      columns.push({ id: 'quantityback', name: 'Quantity Back Ordered', field: 'quantity', formatter: Formatters.Integer, align: 'right', filterType: 'integer' });
      columns.push({ id: 'quantity', name: 'Quantity Available', field: 'quantity', formatter: Formatters.Integer, align: 'right', filterType: 'integer' });
      columns.push({ id: 'activity', name: 'Activity', field: 'activity', filterType: 'select', options: activities });
      columns.push({ id: 'badge', name: 'Badge', field: 'quantity', align: 'center', formatter: Formatters.Badge, ranges: [{'min': 0, 'max': 150, 'classes': 'azure07'}]});
      columns.push({ id: 'tag', name: 'Tag', field: 'price', align: 'center', formatter: Formatters.Tag, ranges: [{'min': 151, 'max': 9999, 'classes': 'info'}]});
      columns.push({ id: 'listprice', name: 'List Price', field: 'price', align: 'right', formatter: Formatters.Decimal, filterType: 'decimal'});
      columns.push({ id: 'price', name: 'Final Price', field: 'price', align: 'right', formatter: Formatters.Decimal, filterType: 'decimal'});
      columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy', filterType: 'date'});
      columns.push({ id: 'shipDate', name: 'Estimated Ship Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy', filterType: 'date'});
      columns.push({ id: 'status', name: 'Status', field: 'status', formatter: Formatters.Checkbox, align: 'center', filterType: 'checkbox' });

      columns2.push({ id: 'selectionCheckbox', sortable: false, resizable: false, formatter: Formatters.SelectionCheckbox, align: 'center'});
      columns2.push({ id: 'drilldown', sortable: false, resizable: false, formatter: Formatters.Drilldown, align: 'center'});
      columns2.push({ id: 'productId', name: 'Product ID', field: 'productId', formatter: Formatters.Text, readonly: true, filterType: 'text' });
      columns2.push({ id: 'productName', name: 'Product Name', field: 'productName', formatter: Formatters.Text, filterType: 'text' });
      columns2.push({ id: 'quantityback', name: 'Quantity Back Ordered', field: 'quantity', formatter: Formatters.Integer, align: 'right', filterType: 'integer' });
      columns2.push({ id: 'quantity', name: 'Quantity Available', field: 'quantity', formatter: Formatters.Integer, align: 'right', filterType: 'integer' });
      columns2.push({ id: 'activity', name: 'Activity', field: 'activity', filterType: 'select', options: activities });
      columns2.push({ id: 'badge', name: 'Badge', field: 'quantity', align: 'center', formatter: Formatters.Badge, ranges: [{'min': 0, 'max': 150, 'classes': 'azure07'}]});
      columns2.push({ id: 'tag', name: 'Tag', field: 'price', align: 'center', formatter: Formatters.Tag, ranges: [{'min': 151, 'max': 9999, 'classes': 'info'}]});
      columns2.push({ id: 'listprice', name: 'List Price', field: 'price', align: 'right', formatter: Formatters.Decimal, filterType: 'decimal'});
      columns2.push({ id: 'price', name: 'Final Price', field: 'price', align: 'right', formatter: Formatters.Decimal, filterType: 'decimal'});
      columns2.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy', filterType: 'date'});
      columns2.push({ id: 'shipDate', name: 'Estimated Ship Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy', filterType: 'date'});
      columns2.push({ id: 'status', name: 'Status', field: 'status', formatter: Formatters.Checkbox, align: 'center', filterType: 'checkbox' });

      $('#datagrid').datagrid({
        columns: columns,
        dataset: data,
        isList: true,
        selectable: 'multiple',
        columnReorder: true,
        filterable: false,
        paging: true,
        pagesize: 3,
        pagesizes: [3, 10, 25],
        toolbar: {title: 'Data Grid List', results: true, keywordFilter: true, actions: true, exportToExcel: true, filterRow: true, personalize: true, resetLayout: true, rowHeight: true, collapsibleFilter: true}
      });

      $('#datagrid2').datagrid({
        columns: columns2,
        dataset: data2,
        selectable: 'multiple',
        columnReorder: true,
        filterable: true,
        paging: true,
        pagesize: 5,
        pagesizes: [5, 10, 25],
        toolbar: {title: 'Data Grid', results: true, keywordFilter: true, actions: true, exportToExcel: true, filterRow: true, personalize: true, resetLayout: true, rowHeight: true, collapsibleFilter: true}
      });
    });

  </script>
</div>
