
<div class="row">
  <div class="twelve columns">

    <div class="switch" id="switch-id-1" data-automation-id="switch-automation-id-1">
      <input type="checkbox" checked="true" id="allow-notifications" name="allow-notifications" class="switch" />
      <label for="allow-notifications">Allow notifications</label>
    </div>

    <div class="switch" id="switch-id-2" data-automation-id="switch-automation-id-2">
      <input type="checkbox" id="searched" name="searched" class="switch" />
      <label for="searched">Allow my profile to be searched</label>
    </div>

    <div class="switch" id="switch-id-3" data-automation-id="switch-automation-id-3">
      <input type="checkbox" id="requests" name="requests" disabled="true" class="switch" />
      <label for="requests">Automatically approve requests</label>
    </div>

    <div class="switch" id="switch-id-4" data-automation-id="switch-automation-id-4">
      <input type="checkbox" checked="true" id="requests-on" name="requests-on" disabled="true" class="switch" />
      <label for="requests-on">Allow connections</label>
    </div>

  </div>
</div>
