
<div class="row">
  <div class="twelve columns">

      <div class="field">
        <label for="some-input">Some Input</label>
        <input type="text" id="some-input" name="some-input"/>
      </div>

      <button type="button" class="btn-menu">
        <span>Add Item</span>
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-dropdown"></use>
        </svg>
      </button>
      <ul class="popupmenu has-icons">
        <li><a href="#">Create a form</a></li>
        <li class="separator"></li>
        <li><a href="#">Spelling...</a></li>
        <li><a href="#">Solver...</a></li>
        <li class="separator"></li>
        <li class="is-checked"><a href="#">Enable Autocomplete</a></li>
        <li><a href="#">Notification Rules</a></li>
        <li><a href="#">Protect Sheet Rules</a></li>
      </ul>

  </div>
</div>
