<div class="row">
  <div class="two-thirds column">
      <div class="widget">
        <div class="widget-header">
          <h2 class="widget-title">Area Chart Title</h2>
        </div>
        <div class="widget-content">
          <div id="area-example" class="chart-container">
          </div>
        </div>
      </div>
  </div>
</div>

<script id="area-script">
$('body').on('initialized', function () {

    var dataset = [{
      data: [{
          name: 'Jan',
          value: 32,
          attributes: [
           { name: 'id', value: 'area-a-jan' },
           { name: 'data-automation-id', value: 'automation-id-area-a-jan' }
         ]
      }, {
          name: 'Feb',
          value: 31,
          attributes: [
           { name: 'id', value: 'area-a-feb' },
           { name: 'data-automation-id', value: 'automation-id-area-a-feb' }
         ]
      }, {
          name: 'Mar',
          value: 34,
          attributes: [
           { name: 'id', value: 'area-a-mar' },
           { name: 'data-automation-id', value: 'automation-id-area-a-mar' }
         ]
      }, {
          name: 'Apr',
          value: 30,
          attributes: [
           { name: 'id', value: 'area-a-apr' },
           { name: 'data-automation-id', value: 'automation-id-area-a-apr' }
         ]
      }, {
          name: 'May',
          value: 34,
          attributes: [
           { name: 'id', value: 'area-a-may' },
           { name: 'data-automation-id', value: 'automation-id-area-a-may' }
         ]
      }, {
          name: 'Jun',
          value: 38,
          attributes: [
           { name: 'id', value: 'area-a-jun' },
           { name: 'data-automation-id', value: 'automation-id-area-a-jun' }
         ]
      }],
      name: 'Component A',
      legendShortName: 'Comp A',
      legendAbbrName: 'A',
      attributes: [
       { name: 'id', value: 'area-comp-a' },
       { name: 'data-automation-id', value: 'automation-id-area-comp-a' }
     ]
    }, {
      data: [{
          name: 'Jan',
          value: 22,
          attributes: [
           { name: 'id', value: 'area-b-jan' },
           { name: 'data-automation-id', value: 'automation-id-area-b-jan' }
         ]
      }, {
          name: 'Feb',
          value: 21,
          attributes: [
           { name: 'id', value: 'area-b-feb' },
           { name: 'data-automation-id', value: 'automation-id-area-b-feb' }
         ]
      }, {
          name: 'Mar',
          value: 24,
          attributes: [
           { name: 'id', value: 'area-b-mar' },
           { name: 'data-automation-id', value: 'automation-id-area-b-mar' }
         ]
      }, {
          name: 'Apr',
          value: 20,
          attributes: [
           { name: 'id', value: 'area-b-apr' },
           { name: 'data-automation-id', value: 'automation-id-area-b-apr' }
         ]
      }, {
          name: 'May',
          value: 24,
          attributes: [
           { name: 'id', value: 'area-b-may' },
           { name: 'data-automation-id', value: 'automation-id-area-b-may' }
         ]
      }, {
          name: 'Jun',
          value: 28,
          attributes: [
           { name: 'id', value: 'area-b-jun' },
           { name: 'data-automation-id', value: 'automation-id-area-b-jun' }
         ]
      }],
      name: 'Component B',
      legendShortName: 'Comp B',
      legendAbbrName: 'B',
      attributes: [
       { name: 'id', value: 'area-comp-b' },
       { name: 'data-automation-id', value: 'automation-id-area-comp-b' }
     ]
    }, {
      data: [{
          name: 'Jan',
          value: 12,
          attributes: [
           { name: 'id', value: 'area-c-jan' },
           { name: 'data-automation-id', value: 'automation-id-area-c-jan' }
         ]
      }, {
          name: 'Feb',
          value: 11,
          attributes: [
           { name: 'id', value: 'area-c-feb' },
           { name: 'data-automation-id', value: 'automation-id-area-c-feb' }
         ]
      }, {
          name: 'Mar',
          value: 14,
          attributes: [
           { name: 'id', value: 'area-c-mar' },
           { name: 'data-automation-id', value: 'automation-id-area-c-mar' }
         ]
      }, {
          name: 'Apr',
          value: 10,
          attributes: [
           { name: 'id', value: 'area-c-apr' },
           { name: 'data-automation-id', value: 'automation-id-area-c-apr' }
         ]
      }, {
          name: 'May',
          value: 14,
          attributes: [
           { name: 'id', value: 'area-c-may' },
           { name: 'data-automation-id', value: 'automation-id-area-c-may' }
         ]
      }, {
          name: 'Jun',
          value: 8,
          attributes: [
           { name: 'id', value: 'area-c-jun' },
           { name: 'data-automation-id', value: 'automation-id-area-c-jun' }
         ]
      }],
      name: 'Component C',
      legendShortName: 'Comp C',
      legendAbbrName: 'C',
      attributes: [
       { name: 'id', value: 'area-comp-c' },
       { name: 'data-automation-id', value: 'automation-id-area-comp-c' }
     ]
    }];

  $('#area-example').chart({type: 'area', dataset: dataset});

});
</script>
