// Uplift Module Tabs
//================================================== //

.tab-container.module-tabs {
  min-height: 40px;
  max-height: 40px;

  .toolbar {
    .buttonset {
      height: 38px;
    }
  }

  > .toolbar-searchfield-wrapper.active {
    min-height: 38px;
  }

  .toolbar-searchfield-wrapper.has-categories {
    .searchfield-category-button {
      height: 38px;
    }

    .searchfield {
      height: 38px;

      + .close {
        top: -5px;
      }
    }
  }

  .tab-list-container {
    min-height: 40px;
    max-height: 40px;
  }

  .tab-list {
    min-height: inherit;
    max-height: inherit;

    .tab {
      min-height: inherit;
      max-height: inherit;

      > a {
        height: 40px;
        padding: 7px 16px;
        line-height: 1.5;
      }

      &.dismissible {
        a {
          padding: 7px 24px;
        }

        .icon {
          height: 18px;
        }

        svg.icon.close {
          display: none;
        }
      }

      &.application-menu-trigger {
        a {
          padding: 5px 12px 7px;
          width: 100%;
        }
      }

      &:hover {
        &.dismissible {
          svg.icon.close {
            display: block;
          }
        }
      }
    }
  }

  &.has-more-button {
    .tab-more {
      padding: 6px 6px 7px;

      .more-text {
        left: -2px;
        position: relative;
        top: -2px;
        font-weight: 400;
        line-height: 1.8;
      }
    }
  }

  &.has-add-button {
    .add-tab-button {
      height: 38px;

      span:first-child {
        font-size: $ids-size-font-lg;
      }
    }
  }

  .icon.app-header {
    left: -6px;
    top: -7px;

    span:not(.audible) {
      width: 18px;
    }
  }
}

.tab-panel-container {
  padding-top: 9px;

  .tab-panel {
    .header .toolbar .title [class^='btn'] + h1 {
      margin-top: 4px;
    }
  }
}

.multitabs-section {
  .tab-panel-container {
    padding-top: unset;
  }
}

.tab-container.module-tabs .tab-focus-indicator.is-visible {
  box-shadow: none;

  &:not(.is-selected) {
    border-color: $ids-color-palette-white;
  }

  &.is-selected {
    border-color: transparent;
  }
}

.tab-container.module-tabs + .tab-panel-container {
  .tab-panel {
    padding-inline-start: unset;
  }
}
