// Uplift Module Tabs
//================================================== //

.tab-container.module-tabs {
  .tab {
    > a {
      padding: 7px 16px;
    }

    &.dismissible {
      a {
        padding: 7px 24px;
      }

      .icon {
        height: 11px;
        margin-top: 1px;
      }

      svg.icon.close {
        display: none;
      }
    }

    &.application-menu-trigger {
      a {
        padding: 5px 12px 7px;
        width: 100%;
      }
    }

    &:hover {
      &.dismissible {
        svg.icon.close {
          display: block;
        }
      }
    }
  }

  &.has-more-button {
    .tab-more {
      padding: 6px 6px 7px;

      .more-text {
        left: -2px;
        position: relative;
        top: -2px;
      }
    }
  }

  &.has-add-button {
    .add-tab-button span:first-child {
      font-size: $ids-size-font-lg;
      top: -10px;
    }
  }

  .icon.app-header {
    left: -6px;
    top: -7px;

    span:not(.audible) {
      width: 18px;
    }
  }
}
