// New Module Tabs
//================================================== //

.tab-container.module-tabs {
  min-height: 40px;
  max-height: 40px;
  border-top: 1px solid $module-tabs-x-border-color;
  border-bottom: 1px solid $module-tabs-x-border-color;
  background-color: $module-tabs-list-container-bg-color;

  &.has-toolbar {
    .tab-list-container {
      + .toolbar {
        border-left: 1px solid $module-tabs-y-border-color;

        .more {
          .btn-actions {
            svg.icon {
              color: $module-tabs-icon-normal-color;
            }

            &:hover {
              background-color: $module-tabs-more-button-hover-color;

              svg.icon {
                color: $module-tabs-more-text-hover-color;
              }
            }
          }
        }
      }
    }
  }

  .toolbar {
    background-color: $module-tabs-normal-bg-color;

    .buttonset {
      height: 38px;

      > * {
        margin: 2px 5px 0 0;
      }
    }
  }

  > .toolbar-searchfield-wrapper.active {
    min-height: 38px;
  }

  .toolbar-searchfield-wrapper.has-categories {
    .searchfield-category-button {
      height: 38px;
    }

    .searchfield {
      height: 38px;

      + .close {
        top: -5px;
      }
    }
  }

  .tab-list-container {
    min-height: 40px;
    max-height: 40px;
    background-color: $module-tabs-list-container-bg-color;
  }

  .tab-list {
    min-height: inherit;
    max-height: inherit;

    .tab {
      background-color: $module-tabs-normal-bg-color;
      color: $module-tabs-normal-text-color;
      min-height: inherit;
      max-height: inherit;

      &:not(:first-child) {
        border-left: 1px solid $module-tabs-y-border-color;
      }

      > a {
        height: 40px;
        padding: 7px 16px;
        line-height: 1.45;
        font-weight: 400;
      }

      &.dismissible {
        a {
          padding: 7px 24px;
        }

        .icon {
          height: 18px;
        }

        svg.icon.close {
          display: none;
        }

        &:hover {
          background-color: $module-tabs-hover-bg-color;

          svg.icon.close {
            color: $module-tabs-close-hover-color;
            display: block;
          }
        }
      }

      &.is-selected {
        background-color: $module-tabs-active-bg-color;
        color: $module-tabs-active-text-color;

        > a {
          font-weight: 700;
        }
      }

      &.application-menu-trigger {
        a {
          padding: 5px 12px 7px;
          width: 100%;
        }
      }
    }
  }

  &.has-more-button {
    .tab-more {
      padding: 6px 6px 7px;
      background-color: $module-tabs-normal-bg-color;
      border-left: 1px solid $module-tabs-y-border-color;

      .more-text {
        color: $module-tabs-normal-text-color;
        left: -2px;
        position: relative;
        top: -2px;
        font-weight: 400;
        line-height: 1.8;
      }

      svg {
        color: $module-tabs-normal-text-color;
      }

      &:hover {
        background-color: $module-tabs-hover-bg-color;

        svg.icon {
          color: $module-tabs-normal-text-color;
        }
      }
    }
  }

  &.has-add-button {
    .add-tab-button {
      height: 38px;
      background-color: $module-tabs-normal-bg-color;
      border-left: 1px solid $module-tabs-y-border-color;

      span:first-child {
        font-size: $ids-size-font-lg;
      }

      .icon {
        color: $module-tabs-icon-normal-color;
      }

      &:hover {
        background-color: $module-tabs-hover-bg-color;

        .icon {
          color: $module-tabs-icon-hover-color;
        }
      }
    }
  }

  .icon.app-header {
    left: -6px;
    top: -7px;

    span:not(.audible) {
      width: 18px;
    }
  }
}

.tab-panel-container {
  padding-top: 9px;

  .tab-panel {
    .header .toolbar .title [class^='btn'] + h1 {
      margin-top: 4px;
    }
  }
}

.multitabs-section {
  .tab-panel-container {
    padding-top: unset;
  }
}

.tab-container.module-tabs .tab-focus-indicator.is-visible {
  box-shadow: none;

  &:not(.is-selected) {
    border-color: $ids-color-palette-white;
  }

  &.is-selected {
    border-color: transparent;
  }
}

.tab-container.module-tabs + .tab-panel-container {
  .tab-panel {
    padding-inline-start: unset;
  }
}

.is-firefox {
  .tab-container.module-tabs {
    .add-tab-button {
      span:first-child {
        top: -7px;
      }
    }
  }
}

html[dir='rtl'] {
  .tab-container.module-tabs {
    .tab-list {
      .tab:first-child {
        border-left: 1px solid $module-tabs-y-border-color;
      }
    }
  }
}
