<div class="page-container no-scroll">
  <header class="header is-personalizable">
    <div class="toolbar">
      <div class="title">
        <h1>Custom Personalization Sections</h1>
      </div>

      <div class="buttonset">
      </div>

      {{> includes/header-actionbutton}}
    </div>
  </header>

  <div id="maincontent" class="page-container scrollable is-personalizable" role="main">
    <div class="personalize-header form-layout-compact personalize-horizontal-bottom-border">
      <div class="row l-center top-padding">
        <div class="one-fifth column one-half-mobile">
          <span class="object-count personalize-text">
            <span>Active <br/> Opportunities</span>
            <span class="xl-text">7</span>
          </span>
        </div>

        <div class="one-fifth column one-half-mobile">
          <span class="object-count personalize-text">
            <span>Open <br/> Incidents</span>
            <span class="xl-text">2</span>
          </span>
        </div>

        <div class="one-fifth column one-half-mobile">
          <span class="object-count personalize-text">
            <span>Escalated <br/> Incidents</span>
            <span class="xl-text">4</span>
          </span>
        </div>

        <div class="one-fifth column one-half-mobile">
          <span class="object-count personalize-text">
            <span>Open <br/> Projects</span>
            <span class="xl-text">7</span>
          </span>
        </div>

        <div class="one-fifth column one-half-mobile">
          <span class="object-count personalize-text">
            <span>Active <br/> Contacts</span>
            <span class="xl-text">7</span>
          </span>
        </div>

      </div>
      <div class="row top-padding">
        <div class="ten columns">
          &nbsp;
        </div>
        <div class="one column">
          <a class="hyperlink personalize-actionable personalize-actionable-disabled" href="#">Incidents</a><br /><br />
        </div>
        <div class="one column">
          <a class="hyperlink personalize-actionable" href="#">More Info</a><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
