
  <div class="row">
    <div class="twelve columns">

      <div class="field">
        <label class="fileupload" data-bind="fileupload: {value: filename, visible: isVisible, readonly: isReadonly, enable: isEnabled}">
            <span class="audible">Upload a File</span>
            <input type="file" name="file-input" />
        </label>
      </div>

      <button type="button" class="btn" id="showValue">Show</button>
      <button type="button" class="btn" id="changeValue">Change</button>
      <button type="button" class="btn" id="toggleVisibility">Visible</button>
      <button type="button" class="btn" id="toggleReadonly">Readonly</button>
      <button type="button" class="btn" id="toggleDisabled">Disabled</button>
    </div>
  </div>

   <script>
    $(function () {
      var viewModel = {
        filename: ko.observable('c:\\test.png'),
        isVisible: ko.observable(true),
        isEnabled: ko.observable(true),
        isReadonly: ko.observable(false)
      };

      ko.applyBindings(viewModel);

      //show the value...
      $('#showValue').click(function() {
        console.log(ko.toJSON(viewModel), $('#fileupload-1').val());
      });

      //change the value in the viewModel
      $('#changeValue').click(function() {
        viewModel.filename('c:\\test2.png');
      });

      //toggleVisibility
      $('#toggleVisibility').click(function(){
        viewModel.isVisible(!viewModel.isVisible());
      });

      $('#toggleReadonly').click(function(){
        viewModel.isReadonly(!viewModel.isReadonly());
      });

      $('#toggleDisabled').click(function(){
        viewModel.isEnable(!viewModel.isEnable());
      });

    });
  </script>
