
  <div class="row">
    <div class="twelve columns">

      <div class="field">
        <label for="lookup-field" class="label">Lookup Field</label>
        <input id="lookup-field" class="lookup" name="lookup-field" type="text"data-bind="lookup: {value:selectedType, visible: isVisible, readonly: isReadonly, enable: isEnabled}">
      </div>


      <button type="button" class="btn" id="showValue">Show</button>
      <button type="button" class="btn" id="changeValue">Change</button>
      <button type="button" class="btn" id="toggleVisibility">Visible</button>
      <button type="button" class="btn" id="toggleReadonly">Readonly</button>
      <button type="button" class="btn" id="toggleDisabled">Disabled</button>
    </div>
  </div>

   <script>
    $(function () {
      var viewModel = {
        //TODO: data: types,  - A grid
        selectedType: ko.observable('DA'),
        isVisible: ko.observable(true),
        isEnabled: ko.observable(true),
        isReadonly: ko.observable(false)
      };

      ko.applyBindings(viewModel);

      //show the value...
      $('#showValue').click(function() {
        console.log(ko.toJSON(viewModel), $('#lookup-field').val());
      });

      //change the value in the viewModel
      $('#changeValue').click(function() {
        viewModel.selectedType('CD');
      });

      //toggleVisibility
      $('#toggleVisibility').click(function(){
        viewModel.isVisible(!viewModel.isVisible());
      });

      $('#toggleReadonly').click(function(){
        viewModel.isReadonly(!viewModel.isReadonly());
      });

      $('#toggleDisabled').click(function(){
        viewModel.isEnabled(!viewModel.isEnabled());
      });
    });
  </script>
