// Buttons
//================================================== //

.breadcrumb {
  li {
    @include antialiased();
    color: $breadcrumb-color;
    display: inline-block;
    list-style: none;

    &::after {
      @include font-size(10);
      content: '\002F';
      padding: 0 10px;
    }

    &:last-child::after {
      content: '';
      padding: 0;
    }

    .current,
    &.current {
      @include font-size(12);
      color: $breadcrumb-color;
      font-weight: bold;
    }

  }

  .hyperlink {
    @include font-size(12);
    @include antialiased();
    color: $breadcrumb-color;
    line-height: 2em;
    text-decoration: none;

    &:visited {
      color: $breadcrumb-color;
    }

    &:hover:not([disabled]) {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &:focus {
      border-radius: 2px;
      color: $breadcrumb-hover-color;

      &:hover {
        border-bottom: 1px solid $breadcrumb-hover-color;
      }
    }

    &:active {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &.current {
      font-weight: bold;
    }

    &[disabled] {
      color: $breadcrumb-disabled-color;
    }

  }
}

//Breadcrumb on a toolbar (see grid example)
.toolbar .breadcrumb {
  padding-top: 6px;

  a,
  span {
    @include font-size(14);
  }
}

//RTL Styles
html[dir='rtl'] {
  .breadcrumb {
    li {

      &::after {
        content: '\005C';
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}
