// Uplift Badges
//================================================== //

.tag,
.badge {
  font-size: 14px;
  line-height: 20px;

  &.round {
    width: 30px;
  }

  &.is-dismissible {
    .dismissible-btn {
      .icon {
        top: -2px;
      }
    }
  }

  &.is-linkable {
    .linkable-btn {
      top: -2px;
    }
  }
}

.ie11 {
  .tag,
  .badge {
    &.is-dismissible {
      .dismissible-btn {
        .icon {
          top: -5px;
        }
      }
    }

    &.is-linkable {
      .linkable-btn .icon {
        top: -2px;
      }
    }
  }
}

html[dir='rtl'] {
  .tag,
  .badge {
    line-height: 22px;
  }
}
