// Uplift Badges
//================================================== //

.tag,
.badge {
  font-size: 14px;

  a {
    font-size: 14px;
    line-height: 20px;

    &.round {
      width: 30px;
    }
  }
}

.badge {
  height: 23px;
  line-height: 22px;
}

.theme-new-contrast .badge {
  height: 23px;
  line-height: 20px;
}

.badge {
  line-height: 22px;
}

// Firefox behaves odd
.is-firefox {
  .tag.is-linkable .btn-linkable .icon {
    vertical-align: baseline;
  }

  .tag.is-dismissible .btn-dismissible .icon {
    top: -2px;
    vertical-align: middle;
  }
}

// For multiselect support
.form-layout-compact {
  .multiselect {
    ~ .dropdown-wrapper .dropdown.has-tags {
      .tag-list .tag.is-dismissible {
        .btn-dismissible {
          .icon {
            top: 0;
          }
        }
      }
    }
  }
}

// For multiselect firefox support
.is-firefox {
  .form-layout-compact {
    .multiselect {
      ~ .dropdown-wrapper .dropdown.has-tags {
        padding: 0 !important;

        .tag-list .tag.is-dismissible {
          .btn-dismissible {
            .icon {
              top: 3px;
            }
          }
        }
      }
    }
  }

  .multiselect {
    ~ .dropdown-wrapper .dropdown.has-tags {
      .tag-list .tag.is-dismissible {
        .btn-dismissible {
          .icon {
            top: -2px;
          }
        }
      }
    }
  }
}

// For Safari
.is-safari {
  .multiselect {
    ~ .dropdown-wrapper .dropdown.has-tags {
      .tag-list .tag.is-dismissible {
        .btn-dismissible {
          .icon {
            top: -2px;
          }
        }
      }
    }
  }

  .form-layout-compact {
    .multiselect {
      ~ .dropdown-wrapper .dropdown.has-tags {
        .tag-list .tag.is-dismissible {
          .btn-dismissible {
            .icon {
              top: 0;
            }
          }
        }
      }
    }
  }
}
