// New Badges
//================================================== //

.badge {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  span {
    line-height: 20px;
  }

  a {
    font-size: 14px;
    line-height: 20px;

    &.round {
      width: 30px;
    }
  }
}

.badge {
  height: 24px;
}

.theme-new-contrast .badge {
  height: 24px;
}
