// Badges & Tags
//================================================== */

// See also Colors.scss
.tag,
.badge {
  @include antialiased();

  background-color: $badge-neutral-bg-color;
  border-radius: 15px;
  color: $badge-neutral-color;
  display: inline-flex;
  font-size: $theme-size-font-sm;
  font-weight: $theme-number-font-weight-base;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  text-decoration: none;
  vertical-align: middle;

  > * {
    vertical-align: middle;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  [class*='btn'] {
    cursor: pointer;
    margin-right: 0;
    min-height: auto;

    > .icon {
      margin-top: auto;
    }
  }

  .icon,
  .dismissible-btn,
  .linkable-btn {
    color: inherit;

    .icon {
      position: relative;
    }
  }

  span {
    line-height: inherit;
  }

  &.round {
    display: inline-block;
    padding: 0;
    text-align: center;
    width: 22px;
  }

  &.is-linkable {
    @include transition(background-color 200ms $cubic-ease, border-color 200ms $cubic-ease, color 200ms $cubic-ease);

    border: 1px solid transparent;
    line-height: 21px;

    a {
      cursor: pointer;
    }

    .linkable-btn {
      padding-left: 5px;

      .icon {
        height: 10px;
        width: 10px;
      }
    }

    &:not(.hide-focus) {
      border-color: $theme-color-brand-primary-base;
      box-shadow: $focus-box-shadow;
    }

    // Neutral color style for focus/hover
    &:hover,
    &.is-focused:not(.hide-focus) {
      background-color: $badge-neutral-hover-bg-color;
    }
  }

  &.is-dismissible {
    border: 1px solid transparent;
    line-height: 21px;
    padding: 0 10px;

    .dismissible-btn {
      padding-left: 5px;

      .icon {
        height: 10px;
        width: 10px;
      }
    }
  }

  &.is-focused:not(.hide-focus) {
    border-color: $theme-color-brand-primary-base;
    box-shadow: $focus-box-shadow;

    a {
      outline: none;
      -moz-outline-style: none;
    }
  }

  &.is-disabled {

  }

  // Neutral (Default-style) Tags
  &.neutral {
    background-color: $badge-neutral-bg-color;
    color: $badge-neutral-color;

    .dismissible-btn,
    .linkable-btn {
      color: $badge-neutral-icon-color;

      &:hover {
        .icon {
          color: $badge-neutral-hover-icon-color;
        }
      }
    }

    &.is-linkable {
      &:hover,
      &.is-focused:not(.hide-focus) {
        background-color: $badge-neutral-hover-bg-color;
      }
    }
  }

  // Alternate Color Tags
  &.secondary {
    background-color: $badge-secondary-bg-color;
    border: 1px solid $badge-secondary-border-color;
    color: $badge-secondary-color;
    line-height: 21px;

    .dismissible-btn,
    .linkable-btn {
      color: $badge-secondary-icon-color;

      &:hover {
        color: $badge-secondary-hover-icon-color;
      }
    }

    &.is-linkable {
      &:hover,
      &.is-focused:not(.hide-focus) {
        background-color: $badge-secondary-hover-bg-color;
        border-color: $badge-secondary-hover-border-color;
      }
    }

    &.is-dismissible {
      border-color: $badge-secondary-border-color;
    }

    // Re-inforce the border color on secondary-style tags, which
    // add a border by default.
    &.is-focused,
    &.is-linkable.is-focused,
    &.is-dismissible.is-focused {
      &:not(.hide-focus) {
        border-color: $theme-color-brand-primary-base;
      }
    }
  }

  // Error Tags
  &.error {
    background-color: $badge-error-bg-color;
    color: $badge-error-color;

    .dismissible-btn,
    .linkable-btn {
      color: $badge-error-icon-color;

      &:hover {
        .icon {
          color: $badge-error-hover-icon-color;
        }
      }
    }

    &.is-linkable {
      &:hover,
      &.is-focused:not(.hide-focus) {
        background-color: $badge-error-hover-bg-color;
      }
    }
  }

  // Alert (Warning) Tags
  &.alert {
    background-color: $badge-alert-bg-color;
    color: $badge-alert-color;

    .dismissible-btn,
    .linkable-btn {
      color: $badge-alert-icon-color;

      &:hover {
        .icon {
          color: $badge-alert-hover-icon-color;
        }
      }
    }

    &.is-linkable {
      &:hover,
      &.is-focused:not(.hide-focus) {
        background-color: $badge-alert-hover-bg-color;
      }
    }
  }

  // Good (Success) Tags
  &.good {
    background-color: $badge-good-bg-color;
    color: $badge-good-color;

    .dismissible-btn,
    .linkable-btn {
      color: $badge-good-icon-color;

      &:hover {
        color: $badge-good-hover-icon-color;
      }
    }

    &.is-linkable {
      &:hover,
      &.is-focused:not(.hide-focus) {
        background-color: $badge-good-hover-bg-color;
      }
    }
  }

  // Info Tags
  &.info {
    background-color: $badge-info-bg-color;
    color: $badge-info-color;

    .dismissible-btn,
    .linkable-btn {
      color: $badge-info-icon-color;

      &:hover {
        color: $badge-info-hover-icon-color;
      }
    }

    &.is-linkable {
      &:hover,
      &.is-focused:not(.hide-focus) {
        background-color: $badge-info-hover-bg-color;
      }
    }
  }

  &.graphite03,
  &.graphite02 {
    color: $theme-color-palette-graphite-20;
  }
}

.badge {
  &.pending {
    min-height: 22px;
    min-width: 22px;
    position: relative;

    // Clock circle
    &::before {
      border: 1px solid $badge-alert-color;
      border-radius: 50%;
      content: '';
      height: 14px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 14px;
    }

    // Clock hands
    &::after {
      border-bottom: 1px solid $badge-alert-color;
      border-left: 1px solid $badge-alert-color;
      content: '';
      height: 6px;
      left: 9px;
      position: absolute;
      top: 7px;
      width: 5px;
    }

    [class*='ie'] &::before {
      left: 3px !important;
      top: 2.5px;
    }

    &.current {
      background-color: $theme-color-status-warning;
    }
  }

  &.checked {
    &::after {
      @include css3(transform, scaleX(-1) rotate(135deg));

      border-color: $checkbox-color-checked-initial-arrow;
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      height: 10px;
      left: 8px;
      margin-top: 4px;
      position: absolute;
      width: 4px;
    }
  }

  &.exclamation {
    &::before {
      color: $inverse-color;
      content: '!';
      display: inline-block;
      font-size: 1.3em;
      font-weight: $theme-number-font-weight-bold;
      height: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 100%;
    }
  }
}

.hyperlink + .tag {
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: -2px;
}

.alert {
  &.slate03 {
    background-color: transparent;

    svg {
      color: $theme-color-palette-slate-30;
    }
  }
}

//Tag Strip/List
.tag-list {
  margin: 20px 20px 0 25px;

  .tag {
    margin: 0 5px 5px 0;
  }
}

html[class*='theme-soho-'] {
  .tag,
  .badge {
    button {
      .icon {
        top: 1px;
      }
    }
  }

  &.ie {
    .tag,
    .badge {
      .dismissible-btn,
      .linkable-btn {
        .icon {
          top: 0;
        }
      }
    }
  }
}

html[class*='theme-uplift-'] {
  .tag,
  .badge {
    .dismissible-btn,
    .linkable-btn {
      .icon {
        top: -1px;
      }
    }
  }

  &.is-firefox {
    .tag,
    .badge {
      &.is-linkable {
        line-height: 19px;
      }
    }
  }

  &.is-firefox,
  &.is-safari {
    .dismissible-btn,
    .linkable-btn {
      .icon {
        top: 0;
      }
    }
  }

  &.ie {
    .tag,
    .badge {
      .dismissible-btn,
      .linkable-btn {
        .icon {
          top: -3px;
        }
      }
    }
  }
}

// IE
html.ie {
  .tag,
  .badge {
    .dismissible-btn,
    .linkable-btn {
      .icon {
        top: 0;
      }
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .hyperlink + .tag {
    margin-left: inherit;
    margin-right: 10px;
  }

  .tag,
  .badge {
    &.is-dismissible {
      .dismissible-btn {
        .icon {
          left: -7px;
        }
      }
    }
  }

  .badge {
    &.pending {
      // Clock Hands
      &::after {
        border-left: 0;
        border-right: 1px solid $theme-color-palette-white;
        left: 8px;
      }
    }
  }
}
