<div class="row">
  <div class="twelve columns">
    <div id="datagrid">
    </div>
  </div>
</div>

<script>
  $('body').one('initialized', function () {
      var grid,
        columns = [];

      //Define Columns for the Grid.

      columns.push({ id: 'rowReorder', name: '', field: 'id', align: 'center', sortable: false, formatter: Soho.Formatters.RowReorder});
      columns.push({ id: 'id', name: 'Id', field: 'id', sortable: false});
      columns.push({ id: 'taskName', name: 'Task Name', sortable: false, field: 'taskName',formatter: Soho.Formatters.Hyperlink});
      columns.push({ id: 'desc', name: 'Description', sortable: false, field: 'desc'});
      columns.push({ id: 'comments', name: 'Comments', sortable: false, field: 'comments'});
      columns.push({ id: 'escalated', name: 'Status', sortable: false, field: 'escalated'});

       var url = '{{basepath}}api/tasks';

      $.getJSON(url, function(res) {
         //Init and get the api for the grid
        grid = $('#datagrid').datagrid({
          columns: columns,
          editable: false,
          dataset: res,
          rowReorder: true,
          toolbar: {results: true, actions: true, rowHeight: true, title: 'My Tasks'}
        }).on('rowreorder', function (e, args) {
          console.log(args);
        });
      });

    });
</script>
