<div class="row">
  <div class="twelve columns">
    <br />
    <h3>Grid Example: Customization</h3>
    <p>Shows using the password input as an editor/formatter.</p><br />
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div id="datagrid">

    </div>
  </div>
</div>

<script>

  $('body').one('initialized', function () {
         var grid,
          columns = [],
          data = [];

      $.getJSON('{{basepath}}api/users', function(res) {

        //Define Columns for the Grid.
        columns.push({ id: 'id', name: 'Id', field: 'id', width: 55, formatter: Formatters.Readonly});
        columns.push({ id: 'userId', name: 'User Id', field: 'userId', formatter: Formatters.Text, editor: Editors.Input});
        columns.push({ id: 'password', name: 'Password', field: 'password', formatter: Formatters.Password, editor: Editors.Input, inputType: 'password'});

        //Init and get the api for the grid
        $('#datagrid').datagrid({
          columns: columns,
          dataset: res,
          editable: true})
        .on('cellchange', function(e, args) {
          console.log(args);
        });

      });
  });

</script>
