<div class="row">
  <div class="twelve columns">

    <div class="toolbar" role="toolbar">
      <div class="title">
        Compressors
        <span class="datagrid-result-count">(N Results)</span>
      </div>
      <div class="buttonset">

        <label class="audible" for="common-toolbar-searchfield">Keyword Search</label>
        <input id="common-toolbar-searchfield" name="common-toolbar-searchfield" class="searchfield" />

      </div>

      <div class="more">
        <button class="btn-actions" type="button">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#">Option One</a></li>
          <li><a href="#">Option Two</a></li>
          <li><a href="#">Option Three</a></li>
          <li class="separator"></li>
          <li><a data-option="personalize-columns" href="#" data-translate="text">PersonalizeColumns</a></li>
          <li><a data-option="reset-layout" href="#" data-translate="text">ResetDefault</a></li>
          <li class="separator"></li>
          <li><a data-option="export-to-excel" href="#" data-translate="text">ExportToExcel</a></li>
          <li class="separator single-selectable-section"></li>
          <li class="heading">Row Height</li>
          <li class="is-selectable"><a data-option="row-extra-small" href="#" data-translate="text">ExtraSmall</a></li>
          <li class="is-selectable"><a data-option="row-small" href="#" data-translate="text">Small</a></li>
          <li class="is-selectable"><a data-option="row-medium" href="#" data-translate="text">Medium</a></li>
          <li class="is-selectable is-checked"><a data-option="row-large" href="#" data-translate="text">Large</a></li>
        </ul>

      </div>
    </div>

    <div id="datagrid">
    </div>
  </div>
</div>

<script id="datagrid-script">
  $('body').one('initialized', function () {
    var someCustomFormatter = function (row, cell, value, col) {
      var names = [];
      value = (value instanceof Array) ? value : [];
      value.forEach(function(group) {
        names.push(group.groupName);
      });
      return names.join(', ');
    };

    var columns = [
    {
      "id": "selectionCheckbox",
      "sortable": false,
      "resizable": false,
      "width": 43,
      "align": "center",
      "exportable": false,
      "hideable": true,
      formatter: Soho.Formatters.SelectionCheckbox
    },
    {
      "id": "name",
      "name": "User Name",
      "field": "name",
      "sortable": true,
      "filterType": "text",
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      formatter: Soho.Formatters.Hyperlink
    },
    {
      "id": "title",
      "name": "Title",
      "field": "title",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 150,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "email",
      "name": "Email Address",
      "field": "email",
      "sortable": true,
      "filterType": "text",
      "hidden": false,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 150,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "groupName",
      "name": "Groups",
      "field": "groups",
      "sortable": true,
      "filterType": "text",
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 400,
      formatter: someCustomFormatter
    },
    {
      "id": "fullName",
      "name": "Full Name",
      "field": "fullName",
      "sortable": true,
      "filterType": "text",
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 160,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "operatorCode",
      "name": "Operator Code",
      "field": "operatorCode",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 140,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "defaultBusinessUnit",
      "name": "Default Business Unit",
      "sortable": true,
      "filterType": "text",
      "field": "defaultBusinessUnit",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 180,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "defaultLedger",
      "name": "Default Ledger",
      "field": "defaultLedger",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 130,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "lastLogonDateTime",
      "name": "Last Logon",
      "field": "lastLogonDateTime",
      "sortable": true,
      "filterType": "date",
      "dateFormat": "dd/MM/yyyy HH:mm",
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      formatter: Soho.Formatters.Date
    },
    {
      "id": "lockStatus",
      "name": "Locked",
      "field": "locked",
      "filterType": "checkbox",
      "sortable": true,
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 90,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "deleted",
      "name": "Deleted",
      "field": "deleted",
      "sortable": true,
      "filterType": "checkbox",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 90,
      formatter: Soho.Formatters.Checkbox
    },
    {
      "id": "description",
      "name": "Description",
      "field": "description",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 250,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "lookupCode",
      "name": "Lookup Code",
      "field": "lookupCode",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 180,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "shortHeading",
      "name": "Short Heading",
      "field": "shortHeading",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 230,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "language",
      "name": "Language",
      "field": "language",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 120,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "setOperatingSystemDate",
      "name": "Set Operating System Date",
      "field": "setOperatingSystemDate",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 210,
      formatter: Soho.Formatters.Text
    },
    {
      "id": "status",
      "name": "Status",
      "field": "status",
      "sortable": true,
      "filterType": "text",
      "hidden": true,
      "reorderable": true,
      "textOverflow": "ellipsis",
      "hideable": true,
      "width": 120,
      formatter: Soho.Formatters.Text
    }
  ];

  var data = [
    {
      "id": "19fccbd2-8da4-4dbb-81f5-d7234dbe28e6",
      "name": "admin",
      "fullName": "System Administrator",
      "description": "Member of the SunSystems Administrator Group set during installation of SunSystems",
      "title": null,
      "preferredLocale": "en-GB",
      "email": null,
      "locked": "Unlocked",
      "lastLogonDateTime": "2020-03-04T23:19:41.82Z",
      "userPhoto": null,
      "operatorCode": null,
      "status": "Open",
      "lookupCode": null,
      "shortHeading": null,
      "defaultBusinessUnit": null,
      "defaultLedger": null,
      "language": null,
      "setOperatingSystemDate": "ForceEntry",
      "dateSource": "DateFromServer",
      "hijriCalendar": false,
      "groups": [
        {
          "status": null,
          "id": "643f0212-e61f-11e1-985c-5a316288709b",
          "groupName": "Configuration Administrators",
          "description": "Members can amend SunSystems settings using Configuration Manager",
          "isChecked": false,
          "parent": null,
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 0,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "c460d47a-7c59-4b7e-9363-cf8bb06027c8",
          "groupName": "Security Administrators",
          "description": "Administrators of SunSystems User Accounts, Groups and Security Policy",
          "isChecked": false,
          "parent": null,
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 0,
          "expanded": false,
          "singleChild": true,
          "deleted": false,
          "canParent": true,
          "users": []
        }
      ],
      "deleted": false,
      "createdDateTime": "2020-03-04T22:26:16.19Z",
      "standardAuthentication": true,
      "password": null,
      "userMustChangePasswordAtNextLogin": false,
      "sunSystemsAuthorization": false,
      "authorizationPassword": null,
      "invalidAuthorizationCount": 0,
      "singleSignOn": false,
      "windowsAccount": null,
      "upn": null,
      "directoryServiceAuthentication": false,
      "directoryServiceAccount": null,
      "windowsSid": null,
      "windowsEnableWorkflowApproval": false
    },
    {
      "id": "25c824ae-28c3-4779-8b0b-4b4f8777fe00",
      "name": "PK1",
      "fullName": "Mr PK1",
      "description": "PK1 Menu User 1",
      "title": null,
      "preferredLocale": "en-GB",
      "email": null,
      "locked": "Unlocked",
      "lastLogonDateTime": "2013-10-22T15:01:14Z",
      "userPhoto": null,
      "operatorCode": "PK1",
      "status": "Open",
      "lookupCode": "PK1            ",
      "shortHeading": "PK1 Menu User 1",
      "defaultBusinessUnit": "PK1",
      "defaultLedger": "A",
      "language": "1",
      "setOperatingSystemDate": "ConfirmAtLogin",
      "dateSource": "DateFromServer",
      "hijriCalendar": false,
      "groups": [
        {
          "status": null,
          "id": "142eec4e-1875-4422-a71a-2d986d68b3ae",
          "groupName": "PK1",
          "description": "PK1 Financials Group",
          "isChecked": false,
          "parent": "f4c31f9b-806b-4156-878e-ed45f11aa5c1",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "f4c31f9b-806b-4156-878e-ed45f11aa5c1",
          "groupName": "SunSystems Users",
          "description": "SunSystems Users",
          "isChecked": false,
          "parent": null,
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": false,
          "depth": 0,
          "expanded": false,
          "singleChild": true,
          "deleted": false,
          "canParent": true,
          "users": []
        }
      ],
      "deleted": false,
      "createdDateTime": "2020-03-04T22:27:58.053Z",
      "standardAuthentication": true,
      "password": null,
      "userMustChangePasswordAtNextLogin": true,
      "sunSystemsAuthorization": false,
      "authorizationPassword": null,
      "invalidAuthorizationCount": 0,
      "singleSignOn": false,
      "windowsAccount": null,
      "upn": null,
      "directoryServiceAuthentication": false,
      "directoryServiceAccount": null,
      "windowsSid": null,
      "windowsEnableWorkflowApproval": false
    },
    {
      "id": "67eaec29-6a81-41e0-ae3d-04f0cece3f6c",
      "name": "PK2",
      "fullName": "Ms PK2",
      "description": "PK1 Menu User 2",
      "title": null,
      "preferredLocale": "en-GB",
      "email": null,
      "locked": "Unlocked",
      "lastLogonDateTime": "2013-10-15T10:12:41Z",
      "userPhoto": null,
      "operatorCode": "PK2",
      "status": "Open",
      "lookupCode": "PK2            ",
      "shortHeading": "PK1 Menu User 2",
      "defaultBusinessUnit": "PK1",
      "defaultLedger": "A",
      "language": "1",
      "setOperatingSystemDate": "ConfirmAtLogin",
      "dateSource": "DateFromServer",
      "hijriCalendar": false,
      "groups": [
        {
          "status": null,
          "id": "9c76f780-2603-4aef-984f-aec6e410a419",
          "groupName": "PK2",
          "description": "PK2 Order Fulfillment Group",
          "isChecked": false,
          "parent": "f4c31f9b-806b-4156-878e-ed45f11aa5c1",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "f4c31f9b-806b-4156-878e-ed45f11aa5c1",
          "groupName": "SunSystems Users",
          "description": "SunSystems Users",
          "isChecked": false,
          "parent": null,
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": false,
          "depth": 0,
          "expanded": false,
          "singleChild": true,
          "deleted": false,
          "canParent": true,
          "users": []
        }
      ],
      "deleted": false,
      "createdDateTime": "2020-03-04T22:27:58.24Z",
      "standardAuthentication": true,
      "password": null,
      "userMustChangePasswordAtNextLogin": true,
      "sunSystemsAuthorization": false,
      "authorizationPassword": null,
      "invalidAuthorizationCount": 0,
      "singleSignOn": false,
      "windowsAccount": null,
      "upn": null,
      "directoryServiceAuthentication": false,
      "directoryServiceAccount": null,
      "windowsSid": null,
      "windowsEnableWorkflowApproval": false
    },
    {
      "id": "6ba162a9-4704-435b-9763-a5898413385c",
      "name": "PK3",
      "fullName": "PK3",
      "description": "PK3",
      "title": null,
      "preferredLocale": "en-GB",
      "email": null,
      "locked": "Unlocked",
      "lastLogonDateTime": "2013-10-15T10:12:41Z",
      "userPhoto": null,
      "operatorCode": "PK3",
      "status": "Open",
      "lookupCode": "PK3            ",
      "shortHeading": "PK3            ",
      "defaultBusinessUnit": "PK1",
      "defaultLedger": "A",
      "language": "1",
      "setOperatingSystemDate": "ConfirmAtLogin",
      "dateSource": "DateFromServer",
      "hijriCalendar": false,
      "groups": [
        {
          "status": null,
          "id": "142eec4e-1875-4422-a71a-2d986d68b3ae",
          "groupName": "PK1",
          "description": "PK1 Financials Group",
          "isChecked": false,
          "parent": "f4c31f9b-806b-4156-878e-ed45f11aa5c1",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "f4c31f9b-806b-4156-878e-ed45f11aa5c1",
          "groupName": "SunSystems Users",
          "description": "SunSystems Users",
          "isChecked": false,
          "parent": null,
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": false,
          "depth": 0,
          "expanded": false,
          "singleChild": true,
          "deleted": false,
          "canParent": true,
          "users": []
        }
      ],
      "deleted": false,
      "createdDateTime": "2020-03-04T22:27:58.433Z",
      "standardAuthentication": true,
      "password": null,
      "userMustChangePasswordAtNextLogin": true,
      "sunSystemsAuthorization": false,
      "authorizationPassword": null,
      "invalidAuthorizationCount": 0,
      "singleSignOn": false,
      "windowsAccount": null,
      "upn": null,
      "directoryServiceAuthentication": false,
      "directoryServiceAccount": null,
      "windowsSid": null,
      "windowsEnableWorkflowApproval": false
    },
    {
      "id": "fd4ecaf9-46fa-4cfc-8ead-f9c73f95ca16",
      "name": "ZZZ",
      "fullName": "System",
      "description": "System",
      "title": null,
      "preferredLocale": "en-GB",
      "email": null,
      "locked": "Unlocked",
      "lastLogonDateTime": "2013-10-15T10:12:41Z",
      "userPhoto": null,
      "operatorCode": "ZZZ",
      "status": "Open",
      "lookupCode": "ZZZ            ",
      "shortHeading": "System",
      "defaultBusinessUnit": "PK1",
      "defaultLedger": "A",
      "language": "1",
      "setOperatingSystemDate": "ConfirmAtLogin",
      "dateSource": "DateFromServer",
      "hijriCalendar": false,
      "groups": [
        {
          "status": null,
          "id": "fbc1b19a-3dd6-4481-b6dc-39802e0aa012",
          "groupName": "Administrators",
          "description": "SunSystems Connect Administrators",
          "isChecked": false,
          "parent": "b75a918c-f13f-4b54-865f-0cd20f052b0f",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "a48f62a0-c540-468a-b452-241ba3cfbe6b",
          "groupName": "Reporting",
          "description": "Members are permitted to use SunSystems Reporting",
          "isChecked": false,
          "parent": null,
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": false,
          "depth": 0,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": true,
          "users": []
        },
        {
          "status": null,
          "id": "73e2b729-4d1d-495f-8cd2-914a2618c1d7",
          "groupName": "Reporting Administrators",
          "description": "Members can administer Reporting",
          "isChecked": false,
          "parent": "a48f62a0-c540-468a-b452-241ba3cfbe6b",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "4b9e9cf7-0d8d-4d8c-b2b8-2c976dc2d4bb",
          "groupName": "Reporting Designers",
          "description": "Members can author reports using Report Designer",
          "isChecked": false,
          "parent": "a48f62a0-c540-468a-b452-241ba3cfbe6b",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "93d5d4f9-2c5d-41d3-a4f4-c8a2e71db72f",
          "groupName": "Reporting Model Managers",
          "description": "Members can synchronize and manage Report Models",
          "isChecked": false,
          "parent": "a48f62a0-c540-468a-b452-241ba3cfbe6b",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "bbe0a97f-6af3-49ab-808a-8198f112ef74",
          "groupName": "Reporting Publishers",
          "description": "Members can access and store reports in the report store",
          "isChecked": false,
          "parent": "a48f62a0-c540-468a-b452-241ba3cfbe6b",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "2a590555-df39-4187-be63-84a8537bd08e",
          "groupName": "Reporting Schedulers",
          "description": "Members can schedule reports",
          "isChecked": false,
          "parent": "a48f62a0-c540-468a-b452-241ba3cfbe6b",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        },
        {
          "status": null,
          "id": "b75a918c-f13f-4b54-865f-0cd20f052b0f",
          "groupName": "SunSystems Connect",
          "description": "SunSystems Connect",
          "isChecked": false,
          "parent": null,
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": false,
          "depth": 0,
          "expanded": false,
          "singleChild": true,
          "deleted": false,
          "canParent": true,
          "users": []
        },
        {
          "status": null,
          "id": "f4c31f9b-806b-4156-878e-ed45f11aa5c1",
          "groupName": "SunSystems Users",
          "description": "SunSystems Users",
          "isChecked": false,
          "parent": null,
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": false,
          "depth": 0,
          "expanded": false,
          "singleChild": true,
          "deleted": false,
          "canParent": true,
          "users": []
        },
        {
          "status": null,
          "id": "d84969b8-2bf8-4751-842b-0db960e99a19",
          "groupName": "ZZZZZ",
          "description": "System",
          "isChecked": false,
          "parent": "f4c31f9b-806b-4156-878e-ed45f11aa5c1",
          "children": null,
          "operatorGroupCode": null,
          "lookupCode": null,
          "shortHeading": null,
          "defaultBusinessUnit": null,
          "setOperationSystemDate": null,
          "defaultLedger": null,
          "joinable": true,
          "depth": 1,
          "expanded": false,
          "singleChild": false,
          "deleted": false,
          "canParent": false,
          "users": []
        }
      ],
      "deleted": false,
      "createdDateTime": "2020-03-04T22:27:58.643Z",
      "standardAuthentication": true,
      "password": null,
      "userMustChangePasswordAtNextLogin": true,
      "sunSystemsAuthorization": false,
      "authorizationPassword": null,
      "invalidAuthorizationCount": 0,
      "singleSignOn": false,
      "windowsAccount": null,
      "upn": null,
      "directoryServiceAuthentication": false,
      "directoryServiceAccount": null,
      "windowsSid": null,
      "windowsEnableWorkflowApproval": false
    }
  ];

  $('#datagrid').datagrid({
    columns: columns,
    dataset: data,
    filterable: true,
    selectable: 'multiple',
    saveColumns: false,
    toolbar: { keywordFilter: false, results: true },
    saveUserSettings: {
      columns: true,
      rowHeight: true,
      sortOrder: true,
      pagesize: true,
      activePage: true,
      filter: true
    }
  });

 });
</script>
