
<div class="row">
  <div class="twelve columns">
    <div id="datagrid">
    </div>
  </div>
</div>

<script>
  $('body').one('initialized', function () {

      var grid,
        columns = [],
        data = [];


      //Define Columns for the Grid.
      columns.push({ id: 'incidentId', name: 'Incident Id', field: 'incidentId'});
      columns.push({ id: 'priority', name: 'Priority', field: 'priority', rowspan: true});
      columns.push({ id: 'location', name: 'Location', field: 'location', formatter: Soho.Formatters.Hyperlink, rowspan: true});
      columns.push({ id: 'nature', name: 'Nature', field: 'nature', rowspan: true});
      columns.push({ id: 'time', name: 'Time', field: 'time', rowspan: true});
      columns.push({ id: 'units', name: 'Vehicles on Scene', field: 'units'});

      //Get some data via ajax
      var url = '{{basepath}}api/incidents';

      $.getJSON(url, function(res) {

        $('#datagrid').datagrid({
          columns: columns,
          dataset: res,
          groupBy: ['incidentId'],
          selectable: 'single',
          cellNavigation: true,
          toolbar: {title: 'Data Grid Header Title', results: true, personalize: true, actions: true, rowHeight: true, keywordFilter: true,  collapsibleFilter: true}
        });
      });
 });

</script>
