<div class="full-height full-width">
    <div id="datagrid" class="datagrid">
    </div>
</div>


<script>
  $('body').one('initialized', function () {
      var grid,
        columns = [];

      //Define Columns for the Grid.

      columns.push({ id: 'favorite', name: '', field: 'favorite', formatter: Soho.Formatters.Favorite});
      columns.push({ id: 'companyName', name: 'Company Name', field: 'companyName', formatter: Soho.Formatters.Hyperlink});
      columns.push({ id: 'phone', name: 'Phone', field: 'phone'});
      columns.push({ id: 'location', name: 'Location', field: 'location'});
      columns.push({ id: 'contact', name: 'Contact Name', field: 'contact'});
      columns.push({ id: 'customerSince', name: 'Customer Since', field: 'customerSince'});
      columns.push({ id: 'action', name: 'Action Item', field: 'action', text: 'New Order', formatter: Soho.Formatters.Button, focusable: true, click: function () {console.log('Nice Clicking'); } });

       var url = '{{basepath}}api/companies';

      $.getJSON(url, function(res) {
        grid = $('#datagrid').datagrid({
          columns: columns,
          editable: false,
          isList: true,
          dataset: res,
          toolbar: {title: 'Results in Companies for "Gravel"', actions: true, rowHeight: true, personalize: true}
        });
      });

    });
</script>
