<div class="full-height full-width">
  <div id="datagrid1" style='height: 50%'>
  </div>

  <div id="datagrid2" style='height: 50%'>
</div>

<script id="datagrid-script">
  $('body').one('initialized', function () {

    var grid,
    columns = [];

  //Define Columns for the Grid.
  columns.push({
    id: 'taskName',
    hideable: false,
    name: 'Task',
    field: 'taskName',
    expanded: 'expanded',
    formatter: Soho.Formatters.Tree,
  });
  columns.push({ id: 'id', name: 'Id', field: 'id' });
  columns.push({ id: 'desc', name: 'Description', field: 'desc' });
  columns.push({
    id: 'comments',
    name: 'Comments',
    field: 'comments',
    formatter: Soho.Formatters.Hyperlink,
  });
  columns.push({ id: 'time', name: 'Time', field: 'time' });

  const tasks = [
    {
      id: 1,
      escalated: 2,
      depth: 1,
      expanded: false,
      taskName: 'Follow up action with HMM Global',
      desc: '',
      comments: null,
      orderDate: new Date(2014, 12, 8),
      time: '',
      expanded: true,
      children: [
        {
          id: 2,
          escalated: 1,
          depth: 2,
          taskName:
            'Follow up action with Logistics Follow up action with Logistics Follow up action with Logistics Follow up action with Logistics',
          desc: 'Update pending quotes.',
          comments: 'Example Comment',
          orderDate: new Date(2015, 7, 3),
          time: '7:10 AM',
        },
        {
          id: 3,
          escalated: 0,
          depth: 2,
          taskName: 'Follow up action with logistics',
          desc: 'Contact sales representative with the updated purchase order.',
          comments: 'Example Comment',
          orderDate: new Date(2014, 6, 3),
          time: '9:10 AM',
        },
        {
          id: 4,
          escalated: 0,
          depth: 2,
          taskName: 'Follow up action with trucking',
          desc: 'Contact sales representative with the updated purchase order.',
          comments: 'Example Comment',
          orderDate: new Date(2015, 3, 4),
          time: '14:10 PM',
        },
      ],
    },
    {
      id: 5,
      escalated: 0,
      depth: 1,
      taskName: 'Follow up action with Residental Housing',
      desc: 'Contact sales representative with the updated purchase order.',
      comments: 'Example Comment',
      orderDate: new Date(2015, 5, 5),
      time: '18:10 PM',
    },
    {
      id: 6,
      escalated: 0,
      depth: 1,
      taskName: 'Follow up action with HMM USA',
      desc: 'Contact sales representative with the updated purchase order.',
      comments: 'Example Comment',
      orderDate: new Date(2014, 6, 9),
      time: '20:10 PM',
      portable: true,
    },
  ];

  $('#datagrid1')
    .datagrid({
      columns: columns,
      dataset: tasks,
      treeGrid: true,
      selectable: 'mixed',
    })
    .on('selected', function (e, args) {
      console.log(args);
    })
    .on('rowactivated', function (e, args) {
      console.log(args);
    });

  const tasks2 = [
    {
      id: 1,
      escalated: 2,
      depth: 1,
      expanded: false,
      taskName: 'Task 1',
      desc: '',
      comments: null,
      orderDate: new Date(2014, 12, 8),
      time: '',
      expanded: true,
      children: [
        {
          id: 2,
          escalated: 1,
          depth: 2,
          taskName: 'Task 1.1',
          desc: 'Update pending quotes.',
          comments: 'Example Comment',
          orderDate: new Date(2015, 7, 3),
          time: '7:10 AM',
        },
        {
          id: 3,
          escalated: 0,
          depth: 2,
          taskName: 'Task 1.2',
          desc: 'Contact sales representative with the updated purchase order.',
          comments: 'Example Comment',
          orderDate: new Date(2014, 6, 3),
          time: '9:10 AM',
        },
        {
          id: 4,
          escalated: 0,
          depth: 2,
          taskName: 'Task 1.3',
          desc: 'Contact sales representative with the updated purchase order.',
          comments: 'Example Comment',
          orderDate: new Date(2015, 3, 4),
          time: '14:10 PM',
        },
      ],
    },
    {
      id: 5,
      escalated: 0,
      depth: 1,
      taskName: 'Task 2',
      desc: 'Contact sales representative with the updated purchase order.',
      comments: 'Example Comment',
      orderDate: new Date(2015, 5, 5),
      time: '18:10 PM',
    },
    {
      id: 6,
      escalated: 0,
      depth: 1,
      taskName: 'Task 3',
      desc: 'Contact sales representative with the updated purchase order.',
      comments: 'Example Comment',
      orderDate: new Date(2014, 6, 9),
      time: '20:10 PM',
      portable: true,
    },
  ];

  $('#datagrid2')
    .datagrid({
      columns: columns,
      dataset: tasks2,
      treeGrid: true,
      selectable: 'mixed',
    })
    .on('selected', function (e, args) {
      console.log(args);
    })
    .on('rowactivated', function (e, args) {
      console.log(args);
    });
 });
</script>
