<div class="row">
  <div class="twelve columns">
    <h2>Data Grid - Focus on reload data.</h2>
    <p>
      Related Ticket: <a class="hyperlink" href="https://github.com/infor-design/enterprise-ng/issues/358" target="_blank">enterprise-ng #358</a><br/>
      1) Click on any cell in grid to get focused<br/>
      2) Click on Input Textbox and start typing<br/>
      3) Every keystroke, grid should reload data with one less row<br/>
      4) And focus should remain on Input Textbox
    </p>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="field">
      <label for="txt-test">Input Textbox</label>
      <input type="text" id="txt-test" name="txt-test" />
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div id="datagrid">
    </div>
  </div>
</div>

<script id="datagrid-script">
  $('body').one('initialized', function () {

    var grid,
      data = [],
      columns = [];

    // Define Columns for the Grid.
    columns.push({ id: 'selectionCheckbox', sortable: false, resizable: false, formatter: Soho.Formatters.SelectionCheckbox, align: 'center'});
    columns.push({ id: 'productId', hideable: false, name: 'Id', field: 'productId', reorderable: true, formatter: Soho.Formatters.Text, width: 100 });
    columns.push({ id: 'productName', name: 'Product Name', field: 'productName', reorderable: true, formatter: Soho.Formatters.Hyperlink, width: 200, minWidth: 150 });
    columns.push({ id: 'activity', name: 'Activity', field: 'activity', reorderable: true });
    columns.push({ id: 'hidden', hidden: true, name: 'Hidden', field: 'hidden' });
    columns.push({ id: 'price', align: 'right', name: 'Actual Price', field: 'price', reorderable: true, formatter: Soho.Formatters.Decimal, numberFormat: {minimumFractionDigits: 0, maximumFractionDigits: 0, style: 'currency', currencySign: '$' }});
    columns.push({ id: 'percent', align: 'right', name: 'Actual %', field: 'percent', reorderable: true, formatter: Soho.Formatters.Decimal, numberFormat: { minimumFractionDigits: 0, maximumFractionDigits: 0, style: 'percent' }});
    columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', reorderable: true, formatter: Soho.Formatters.Date, dateFormat: 'M/d/yyyy' });
    columns.push({ id: 'phone', name: 'Phone', field: 'phone', reorderable: true, formatter: Soho.Formatters.Text });

    // Load Data
    var url = '{{basepath}}api/datagrid-sample-data';
    $.getJSON(url, function(res) {
      data = res;

      // Invoke Grid
      grid = $('#datagrid').datagrid({
        columns: columns,
        dataset: data,
        selectable: 'multiple',
        toolbar: { title: 'Compressors', results: true, actions: true, rowHeight: true, personalize: true }
      }).data('datagrid');
    });

    // Input Textbox
    $('#txt-test').on('keyup', function () {
      data = data.slice(0, data.length - 1);
      grid.loadData(data);
    });

 });
</script>
