<div class="row">
  <div class="six columns">
    <p>The data for the dropdown is part of an object and the grid stores the key. This example shows how to handle this.
    </p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div role="toolbar" class="toolbar">
      <div class="title">
        <span>Dropdown Object Data</span>
        <span class="datagrid-result-count">(N Results)</span>
      </div>
      <div class="buttonset"></div>
    </div>

    <div id="datagrid"></div>
  </div>
</div>

<script>
  var gridApi = null;

  $('body').one('initialized', function () {
    var grid,
      columns = [],
      data = [];

    var unitList = [{value: 0, label: 'meters'}, {value: 1, label: 'litres'}, {value: 2, label: 'millimeters'}];

    // Some Sample Data
    data.push({ id: 1, productId: 2142201, productName: 'Compressor', price: 210.99, orderDate:  new Date(2016, 2, 15, 12, 30, 36), unit: 0, units: unitList });

    data.push({ id: 2, productId: 2241202, productName: 'Different Compressor', price: 210.991, orderDate: new Date(2016, 2, 15, 0, 30, 36), unit: 1 , units: unitList});
    data.push({ id: 3, productId: 2342203, productName: 'Portable Compressor', price: 120.992, orderDate: new Date(2014, 6, 3), unit: 0 , units: unitList});
    data.push({ id: 4, productId: 2445204, productName: 'Another Compressor', price: null, orderDate: new Date(2015, 3, 3), unit: 1 , units: unitList});
    data.push({ id: 5, productId: 2542205, productName: 'De Wallt Compressor', price: 210.99, orderDate: new Date(2015, 5, 5), unit: 1 , units: unitList});
    data.push({ id: 6, productId: 2642205, productName: 'Air Compressors', price: 120.99, orderDate: new Date(2014, 6, 9), unit: 1 , units: unitList});
    data.push({ id: 7, productId: 2642206, productName: 'Some Compressor', price: 123.99, orderDate: new Date(2014, 6, 9), unit: 0 , units: unitList});

    columns.push({ id: 'selectionCheckbox', sortable: false, resizable: false, formatter: Soho.Formatters.SelectionCheckbox, align: 'center'});
    columns.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', formatter: Soho.Formatters.Hyperlink});
    columns.push({ id: 'price', name: 'Price', field: 'price', align: 'right'});
    columns.push({ id: 'unit', name: 'Units', field: 'unit', formatter: Soho.Formatters.Dropdown, editor: Soho.Editors.Dropdown, options: unitList});
    columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Soho.Formatters.Date, editor: Soho.Editors.Date});

    //Init and get the api for the grid
    grid = $('#datagrid').datagrid({
      columns: columns,
      dataset: data,
      editable: true,
      clickToSelect: false,
      selectable: 'multiple',
      toolbar: { keywordFilter: true, results: true }
    }).on('cellchange', function (e, args) {
      console.log(e, args);
    });

  });
</script>
