<div class="row">
  <div class="six columns">

    <button type="button" id="js-contextual-panel" class="btn-secondary contextual-action-panel-trigger">
      Open Panel with Toolbar
    </button>
    <div class="contextual-action-panel" style="display:none">

      <div class="flex-toolbar" role="toolbar">
        <div class="toolbar-section title"><h2>Header Toolbar</h2></div>
        <div class="toolbar-section buttonset">
          <button type="button" class="btn">
            <svg class="icon" focusable="false" role="presentation">
              <use href="#icon-new"></use>
            </svg>
            <span>Button A</span>
          </button>
          <button type="button" class="btn">
            <svg class="icon" focusable="false" role="presentation">
              <use href="#icon-edit"></use>
            </svg>
            <span>Button B</span>
          </button>
        </div>
        <div class="toolbar-section static">
          <button id="close-button" class="btn-close btn-icon">
            <svg class="icon" focusable="false" role="presentation">
              <use href="#icon-close"></use>
            </svg>
            <span>Close</span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <div class="field">
            <label for="expense-type">Field 1</label>
            <input id="expense-type" type="text" />
          </div>
        </div>

        <div class="six columns">
          <div class="field">
            <label for="purchase-form">Field 2</label>
            <select id="purchase-form" name="purchase-form" class="dropdown">
              <option value=""></option>
              <option selected>Meal</option>
              <option>Flight</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <div class="flex-toolbar" role="toolbar">
            <div class="toolbar-section title">
              <h2>Grid Toolbar</h2>
              <span class="datagrid-result-count">(N Results)</span>
            </div>
            <div class="buttonset">
              <button type="button" class="btn">
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-filter"></use>
                </svg>
                <span>Button C</span>
              </button>
            </div>
            <div class="more">
              <button class="btn-actions" type="button">
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-more"></use>
                </svg>
                <span class="audible">More Actions</span>
              </button>
              <ul class="popupmenu">
                <li class="heading">Row Height</li>
                <li class="is-selectable"><a data-option="row-extra-small" href="#" data-translate="text">ExtraSmall</a></li>
                <li class="is-selectable"><a data-option="row-small" href="#" data-translate="text">Small</a></li>
                <li class="is-selectable"><a data-option="row-medium" href="#" data-translate="text">Medium</a></li>
                <li class="is-selectable is-checked"><a data-option="row-large" href="#" data-translate="text">Large</a></li>
              </ul>
            </div>
          </div>
          <div class="datagrid"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $('body').on('initialized', function () {

    var data = [],
      columns = [];

    columns.push({ id: 'date', name: 'Date', field: 'date', formatter: Soho.Formatters.Date});
    columns.push({ id: 'description', name: 'Description', field: 'description'});
    columns.push({ id: 'category', name: 'Category', field: 'category'});
    columns.push({ id: 'projectWork', name: 'Project Work', field: 'projectWork'});
    columns.push({ id: 'resource', name: 'Resource', field: 'resource'});
    columns.push({ id: 'amount', name: 'Amount', field: 'amount'});

    data.push({ date: new Date(2015, 1, 20), description: 'Pending Benefits', paidBy: 'PR', category: '2244 Personnel', projectWork: 'Structural Design', resource: 'Charles Dunn', amount: '$204.00' });
    data.push({ date: new Date(2015, 1, 24), description: 'Pending Wages', paidBy: 'PR', category: '2244 Personnel', projectWork: 'Structural Design', resource: 'Vendor 3 Meylin Clark', amount: '$146.00' });
    data.push({ date: new Date(2015, 1, 24), description: 'Apple Computer INC', paidBy: 'AP', category: '2919 Supplies', projectWork: 'Structural Design', resource: 'Vendor 3 Meylin Clark', amount: '$1299.00' });
    data.push({ date: new Date(2015, 2, 2), description: 'PO #1292', paidBy: 'AP', category: '2244 Personnel', projectWork: 'Structural Design', resource: 'Vendor 3 Meylin Clark', amount: '$398.00' });

    $('.contextual-action-panel .datagrid').datagrid({
      columns: columns,
      dataset: data,
      isList: true,
      paging: true,
      pagesize: 15,
      toolbar: {results: true}
    });

  });

</script>
