
<div class="row">
  <div class="twelve columns">
    <div role="toolbar" class="toolbar">

      <div class="title">
        Data Grid Header Title
        <span class="datagrid-result-count">(N Results)</span>
      </div>

      <div class="buttonset">

      </div>

      <div class="more">
        <button class="btn-actions" type="button">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#">Option One</a></li>
          <li><a href="#">Option Two</a></li>
          <li><a href="#">Option Three</a></li>
          <li class="separator single-selectable-section"></li>
          <li class="heading">Row Height</li>
          <li class="is-selectable"><a data-option="row-extra-small" href="#" data-translate="text">ExtraSmall</a></li>
          <li class="is-selectable"><a data-option="row-small" href="#" data-translate="text">Small</a></li>
          <li class="is-selectable"><a data-option="row-medium" href="#" data-translate="text">Medium</a></li>
          <li class="is-selectable is-checked"><a data-option="row-large" href="#" data-translate="text">Large</a></li>
        </ul>

      </div>
    </div>

    <div class="contextual-toolbar toolbar is-hidden">
      <div class="title selection-count">1 Selected</div>
      <div class="buttonset">
        <button class="btn-icon" type="button" id="remove-btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-delete"></use>
          </svg>
          <span class="audible">Remove</span>
        </button>
      </div>
    </div>

    <div id="datagrid">

    </div>
  </div>
</div>

<script>
  $('body').one('initialized', function () {

      var grid,
        columns = [],
        data = [];

      //Define Columns for the Grid.
      columns.push({ id: 'selectionCheckbox', sortable: false, resizable: false, formatter: Soho.Formatters.SelectionCheckbox, align: 'center'});
      columns.push({ id: 'id', name: 'Id', field: 'id'});
      columns.push({ id: 'productId', name: 'Product Id', field: 'productId', width: 140, filterType: 'text'});
      columns.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', width: 150, formatter: Soho.Formatters.Hyperlink, editor: Soho.Editors.Input, filterType: 'text'});
      columns.push({ id: 'activity', hidden: true, name: 'Activity', field: 'activity', width: 125, editor: Soho.Editors.Input, filterType: 'text'});
      columns.push({ id: 'quantity', name: 'Quantity', field: 'quantity', width: 125});
      columns.push({ id: 'price', name: 'Price', field: 'price', width: 125, formatter: Soho.Formatters.Decimal});
      columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Soho.Formatters.Date, dateFormat: 'M/d/yyyy'});

      //Init and get the api for the grid
      grid = $('#datagrid').datagrid({
        columns: columns,
        selectable: 'multiple',
        paging: true,
        filterable: true,
        editable: false,
        selectable: 'multiple',
        allowSelectAcrossPages: true,
        columnIds: ['productName', 'activity', 'productId'],
        pagesize: 5,
        pagesizes: [5, 10, 15, 20],
        source: function(req, response) {
          var url = '{{basepath}}api/compressors?pageNum='+ req.activePage +'&pageSize='+ req.pagesize;

          if (req.sortField) {
            url += '&sortField=' + req.sortField + '&sortAsc=' + req.sortAsc;
          }

          if (req.filterExpr && req.filterExpr[0]) {
            url += '&filterValue=' + req.filterExpr[0].value;
            url += '&filterOp=' + req.filterExpr[0].operator;
            url += '&filterColumn=' + req.filterExpr[0].columnId;
          }

          //Get Page Based on info in Req, return results into response;
          $.getJSON(url, function(res) {
            req.total = res.total;
            req.preserveSelected = true;
            response(res.data, req);
          });
        },
        toolbar: {title: 'Data Grid Header Title', results: true, dateFilter: false ,keywordFilter: true, actions: true, views: true, rowHeight: true, collapsibleFilter: true}
      }).on('selected', function (e, args, action) {
        console.log(action, args);
      });

  });
</script>
