
<div class="row bottom-padding">
  <div class="twelve columns">
    <div id="datagrid">
    </div>
  </div>
</div>


<script>
  $('body').one('initialized', function () {

      var grid,
        columns = [],
        data = [];

      //Define Columns for the Grid.
      columns.push({ id: 'id', name: 'Customer Id', field: 'id'});
      //columns.push({ id: 'type', name: 'Type', field: 'type', width: 200});
      columns.push({ id: 'location', name: 'Location', field: 'location', formatter: Soho.Formatters.Hyperlink});
      columns.push({ id: 'firstname', name: 'First Name', field: 'firstname'});
      columns.push({ id: 'lastname', name: 'Last Name', field: 'lastname'});
      columns.push({ id: 'phone', name: 'Phone', field: 'phone'});
      columns.push({ id: 'purchases', name: 'Purchases', field: 'purchases'});

      //Get some data via ajax
      var url = '{{basepath}}api/accounts';

      $.getJSON(url, function(res) {

        $('#datagrid').datagrid({
          columns: columns,
          dataset: res,
          groupable: {
            fields: ['type'],
            expanded: function (row, cell, value, col, item) {
              //Similate some logic to determin which rows should be Collapsed
              return item.type.indexOf('Customer') != -1;
            },
            aggregator: 'sum',
            aggregate: 'purchases',
            groupRowFormatter: function (row, cell, value, col, item, api) {
              return item.type + 's ~ $' + item.sum;
            }
          },
          toolbar: {title: 'Accounts', results: true, personalize: true, actions: true, rowHeight: true, keywordFilter: false}
        });
      });
 });

</script>
