
<div class="row">
  <div class="twelve columns">
    <div id="datagrid">
    </div>
  </div>
</div>

<style>
  .unit-on-scene {
    border-radius: 3px;
    display: inline-block;
    height: 30px;
    line-height: 16px;
    margin: 5px;
    overflow-wrap: break-word;
    padding: 9px 20px;
    text-overflow: clip;
    vertical-align: middle;
    white-space: pre-line;
  }

  .short-rowheight .unit-on-scene {
    height: 19px;
    line-height: 3px !important;
    margin: 3px 5px 0 0;
    position: relative;
    top: -3px;
  }

  .medium-rowheight .unit-on-scene {
    height: 18px;
    line-height: 5px !important;
    margin: 2px 5px 0 0;
    position: relative;
    top: -1px;
  }

</style>

<ul id="units-popupmenu" class="popupmenu">
  <li><a href="#">Option One</a></li>
  <li><a href="#">Option Two</a></li>
  <li><a href="#">Option Three</a></li>
</ul>

<script>
  $('body').one('initialized', function () {

      var grid,
        columns = [],
        data = [];

      //Custom Formatter for vehical columns
      Formatters.VehicalsOnScene = function(row, cell, value, column, rowData, api) {
        var vehicals = rowData.list,
          html = '';

        if (!vehicals) {
          return '';
        }

        html += '<span class="datagrid-multiline-text">';
        for (var i = 0; i < vehicals.length; i++) {
          var list = vehicals[i];

          for (var j = 0; j < list.length; j++) {
            var unitNo = list[j].key.replace('unitName', '');

            //"Convert" ARGB values - Since this data is all FF for alpha channel
            //Just drop that. Use your code here for that. #simple example
            var foreColor = rowData.values[i]['statusForeColor'+(unitNo)].substr(2),
              backColor = rowData.values[i]['statusBackColor'+(unitNo)].substr(2);

            html += '<span class="unit-on-scene" style="background-color: #'+ backColor+ ';' +
                'color: #' + foreColor + '">' + list[j].value + '</span>'
          }
        }
        html += '</span>';
        return html;
      };

      //Define Columns for the Grid.
      //columns.push({ id: 'incidentId', name: 'Incident Id', field: 'incidentId', width: 50});
      columns.push({ id: 'priority', name: 'Priority', field: 'priority'});
      columns.push({ id: 'location', name: 'Location', field: 'location', formatter: Soho.Formatters.Hyperlink});
      columns.push({ id: 'nature', name: 'Nature', field: 'nature'});
      columns.push({ id: 'time', name: 'Time', field: 'time'});
      columns.push({ id: 'units', width: '40%', name: 'Vehicles on Scene', field: 'units', formatter: Soho.Formatters.VehicalsOnScene});

      //Get some data via ajax
      var url = '{{basepath}}api/incidents';

      $.getJSON(url, function(res) {
        $('#datagrid').datagrid({
          columns: columns,
          dataset: res,
          columnReorder: true,
          groupable: {
            fields: ['incidentId'],
            suppressGroupRow: true, //Do not show the grouping row
            aggregator: 'list',
            showOnlyGroupRow: true, //Show only the group row not the children (spanning)
            aggregatorOptions: {list: ['unitName1', 'unitName2', 'unitName3', 'unitName4',
                                'unitName5', 'unitName6', 'unitName7','unitName8']}
          },
          selectable: 'single',
          cellNavigation: true,
          toolbar: {title: 'Data Grid Header Title', results: true, personalize: true, actions: true, rowHeight: true, keywordFilter: true,  collapsibleFilter: true}
        });

        //Attach Right Click menu via a delegate
        $('.unit-on-scene').on('contextmenu', function (e) {

          if (e.button !== 2) { //Right Click
            return;
          }

          //Prevent Browser Menu
          e.preventDefault();

          // Show IDS Enterprise Menu
          $(this).popupmenu({menuId: 'units-popupmenu', trigger: 'immediate', offset: {y: 5}})
        });

      });
});

</script>
