<div class="full-height full-width">
  <div id="datagrid" class="datagrid">
  </div>
</div>

<script>
  $('body').one('initialized', function () {

    //Locale.set('en-US').done(function () {
      var grid,
        columns = [],
        data = [];

      var url = '{{basepath}}api/compressors?pageNum=1&pageSize=100';
      $.getJSON(url, function(res) {
        data = res.data;

        //Define Columns for the Grid.
        columns.push({ id: 'productId', name: 'Product Id', field: 'productId', formatter: Formatters.Text, filterType: 'text', align: 'left'});
        columns.push({ id: 'productName', name: 'Product Name', field: 'productName', formatter: Formatters.Hyperlink, filterType: 'text'});
        columns.push({ id: 'activity', hidden: true, name: 'Activity', field: 'activity', filterType: 'text'});
        columns.push({ id: 'quantity', hidden: true, name: 'Quantity', field: 'quantity', filterType: 'integer'});
        columns.push({ id: 'price', align: 'right', name: 'Actual Price', field: 'price', formatter: Formatters.Decimal, filterType: 'decimal', width: 130, numberFormat: {minimumFractionDigits: 0, maximumFractionDigits: 0, style: 'currency', currencySign: '$'}});
        columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy', filterType: 'date'});
        columns.push({ id: 'status', name: 'Status', field: 'status', formatter: Formatters.Text, filterType: 'text'});
        columns.push({ id: 'action', name: 'Action Item', field: 'action', filterType: 'text'});

        //Init and get the api for the grid
        $('#datagrid').datagrid({
          columns: columns,
          columnReorder: true,
          saveColumns: false,
          dataset: data,
          filterable: true,
          rowHeight: 'small',
          showTooltips: true,
          toolbar: {title: 'Filterable Datagrid', filterRow: true, results: true, dateFilter: false ,keywordFilter: false, actions: true, views: false, rowHeight: true, collapsibleFilter: false}
        });

      });


 });
</script>
