
<div class="row">
  <div class="twelve columns">

    <div id="datagrid">

    </div>
  </div>
</div>

<script>
  $('body').one('initialized', function () {

         var grid,
          columns = [],
          data = [];

        //Define Columns for the Grid.
        columns.push({ id: 'id', name: 'Row Id', field: 'id', formatter: Soho.Formatters.Readonly});
        columns.push({ id: 'productName', name: 'Product Name', field: 'productName', formatter: Soho.Formatters.Hyperlink, editor: Soho.Editors.Input});
        columns.push({ id: 'activity', name: 'Activity', field: 'activity', editor: Soho.Editors.Input});
		    columns.push({ id: 'boolean', name: 'Checkbox', field: 'Boolean', formatter: Soho.Formatters.Checkbox, editor: Soho.Editors.Checkbox});

        var url = '{{basepath}}api/compressors?pageNum=1&pageSize=100';

        $.getJSON(url, function(res) {

            //Init and get the api for the grid
            grid = $('#datagrid').datagrid({
              dataset: res.data,
              columns: columns,
              editable: true,
              clickToSelect: false,
              selectable: 'multiple',
              paging: true,
              pagesize: 10,
              pagesizes: [5, 10, 25, 50]
            }).on('cellchange', function (e, args) {
              console.log(args);
            });
        });

  });

</script>
