<style>
  .six.columns {
    max-width: 900px;
    height: 250px;
    margin-bottom: 60px;
  }

  .row:first-of-type {
    padding-top: 10px;
  }
</style>

<div class="row">
  <div class="six columns">
    <div id="datagrid"></div>
  </div>
  <div class="six columns">
    <div id="datagrid-filters"></div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div id="datagrid-groups"></div>
  </div>
  <div class="six columns">
    <div id="datagrid-both"></div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div id="datagrid-paging"></div>
  </div>
  <div class="six columns">
    <div id="datagrid-paging-filters"></div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div id="datagrid-paging-groups"></div>
  </div>
  <div class="six columns">
    <div id="datagrid-paging-both"></div>
  </div>
</div>

<script>
  $('body').one('initialized', function() {
    var grid,
      columns = [],
      data = [];

    // Some Sample Data
    data.push({
      id: 1,
      productId: 2142201,
      productName: 'Compressor',
      activity: 'Assemble Paint',
      quantity: 1,
      price: '500',
      status: 'OK',
      orderDate: new Date(2014, 12, 8),
      action: 'Action'
    });
    data.push({
      id: 2,
      productId: 2241202,
      productName: 'Different Compressor',
      activity: 'Inspect and Repair',
      quantity: '2',
      price: 210.99,
      status: '',
      orderDate: new Date(2015, 7, 3),
      action: 'On Hold'
    });
    data.push({
      id: 3,
      productId: 2342203,
      productName: 'Compressor',
      activity: 'Inspect and Repair',
      quantity: 1,
      price: '120.99',
      status: null,
      orderDate: new Date(2014, 6, 3),
      action: 'Action'
    });
    data.push({
      id: 4,
      productId: 2445204,
      productName: 'Another Compressor',
      activity: 'Assemble Paint',
      quantity: 3,
      price: '2345',
      status: 'OK',
      orderDate: new Date(2015, 3, 3),
      action: 'Action'
    });
    data.push({
      id: 5,
      productId: 2542205,
      productName: 'I Love Compressors',
      activity: 'Inspect and Repair',
      quantity: 4,
      price: '210.99',
      status: 'OK',
      orderDate: new Date(2015, 5, 5),
      action: 'On Hold'
    });
    data.push({
      id: 5,
      productId: 2642205,
      productName: 'Air Compressors',
      activity: 'Inspect and Repair',
      quantity: 41,
      price: '120.99',
      status: 'OK',
      orderDate: new Date(2014, 6, 9),
      action: 'On Hold'
    });
    data.push({
      id: 6,
      productId: 2642206,
      productName: 'Some Compressor',
      activity: 'inspect and Repair',
      quantity: 41,
      price: '123.99',
      status: 'OK',
      orderDate: null,
      action: 'On Hold'
    });

    // Define Columns for the Grid.
    columns.push({
      id: 'selectionCheckbox',
      sortable: false,
      resizable: false,
      formatter: Soho.Formatters.SelectionCheckbox,
      align: 'center'
    });
    columns.push({
      id: 'productId',
      name: 'Product Id',
      field: 'productId',
      formatter: Soho.Formatters.Readonly
    });
    columns.push({
      id: 'productName',
      name: 'Product Name',
      sortable: false,
      field: 'productName',
      filterType: 'text',
      formatter: Soho.Formatters.Text
    });
    columns.push({
      id: 'activity',
      hidden: true,
      name: 'Activity',
      field: 'activity',
      filterType: 'text'
    });
    columns.push({
      id: 'quantity',
      name: 'Quantity',
      field: 'quantity',
      filterType: 'text'
    });
    columns.push({
      id: 'price',
      name: 'Price',
      field: 'price',
      formatter: Soho.Formatters.Decimal
    });
    columns.push({
      id: 'orderDate',
      name: 'Order Date',
      field: 'orderDate',
      formatter: Soho.Formatters.Date,
      dateFormat: 'M/d/yyyy'
    });
    columns.push({
      id: 'status',
      name: 'Status',
      field: 'status',
      formatter: Soho.Formatters.Text
    });
    columns.push({ id: 'action', name: 'Action Item', field: 'action' });

    // Init and get the api for the grid
    $('#datagrid').datagrid({
      columns: columns,
      dataset: data,
      selectable: 'multiple',
      toolbar: {
        title: 'No extras',
        actions: true,
        rowHeight: true
      }
    });

    $('#datagrid-filters').datagrid({
      columns: columns,
      dataset: data,
      selectable: 'multiple',
      filterable: true,
      toolbar: {
        title: 'Filters',
        actions: true,
        rowHeight: true
      }
    });

    $('#datagrid-groups').datagrid({
      columns: columns,
      columnGroups: [
        { colspan: 3, id: 'group1', name: 'Column Group One' },
        { colspan: 1, id: 'group2', name: 'Column Group Two' },
        { colspan: 2, id: 'group3', name: 'Column Group Three' },
        { colspan: 3, id: 'group4', name: 'Column Group four' }
      ],
      dataset: data,
      selectable: 'multiple',
      toolbar: {
        title: 'Groups',
        actions: true,
        rowHeight: true
      }
    });

    $('#datagrid-both').datagrid({
      columns: columns,
      columnGroups: [
        { colspan: 3, id: 'group1', name: 'Column Group One' },
        { colspan: 1, id: 'group2', name: 'Column Group Two' },
        { colspan: 2, id: 'group3', name: 'Column Group Three' },
        { colspan: 3, id: 'group4', name: 'Column Group four' }
      ],
      dataset: data,
      selectable: 'multiple',
      filterable: true,
      toolbar: {
        title: 'Both',
        actions: true,
        rowHeight: true
      }
    });

    $('#datagrid-paging').datagrid({
      columns: columns,
      dataset: data,
      selectable: 'multiple',
      paging: true,
      toolbar: {
        title: 'No extras',
        actions: true,
        rowHeight: true
      }
    });

    $('#datagrid-paging-filters').datagrid({
      columns: columns,
      dataset: data,
      selectable: 'multiple',
      paging: true,
      filterable: true,
      toolbar: {
        title: 'Filters',
        actions: true,
        rowHeight: true
      }
    });

    $('#datagrid-paging-groups').datagrid({
      columns: columns,
      columnGroups: [
        { colspan: 3, id: 'group1', name: 'Column Group One' },
        { colspan: 1, id: 'group2', name: 'Column Group Two' },
        { colspan: 2, id: 'group3', name: 'Column Group Three' },
        { colspan: 3, id: 'group4', name: 'Column Group four' }
      ],
      dataset: data,
      selectable: 'multiple',
      paging: true,
      toolbar: {
        title: 'Groups',
        actions: true,
        rowHeight: true
      }
    });

    $('#datagrid-paging-both').datagrid({
      columns: columns,
      columnGroups: [
        { colspan: 3, id: 'group1', name: 'Column Group One' },
        { colspan: 1, id: 'group2', name: 'Column Group Two' },
        { colspan: 2, id: 'group3', name: 'Column Group Three' },
        { colspan: 3, id: 'group4', name: 'Column Group four' }
      ],
      dataset: data,
      selectable: 'multiple',
      paging: true,
      filterable: true,
      toolbar: {
        title: 'Both',
        actions: true,
        rowHeight: true
      }
    });
  });
</script>
