
<div class="row">
  <div class="twelve columns">

    <div class="contextual-toolbar toolbar is-hidden">
      <div class="title selection-count">1 Selected</div>
      <div class="buttonset">
        <button class="btn" type="button" id="remove-btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-delete"></use>
          </svg>
          <span>Remove</span>
        </button>
      </div>
    </div>

    <div id="datagrid">

    </div>
  </div>
</div>

<script>
  var gridApi = null;

  $('body').one('initialized', function () {

    Soho.Locale.set('en-US').done(function () {
        var grid,
          data = [],
          columns = [],
          states = [
            'Alabama',
            'Alaska',
            'American Samoa',
            'Arizona',
            'Arkansas',
            'California',
            'Colorado',
            'Connecticut',
            'Delaware',
            'District Of Columbia',
            'Federated States Of Micronesia',
            'Florida',
            'Georgia',
            'Guam',
            'Hawaii',
            'Idaho',
            'Illinois',
            'Indiana',
            'Iowa',
            'Kansas',
            'Kentucky',
            'Louisiana',
            'Maine',
            'Marshall Island Teritory',
            'Maryland',
            'Massachusetts',
            'Michigan',
            'Minnesota',
            'Mississippi',
            'Missouri',
            'Montana',
            'Nebraska',
            'Nevada',
            'New Hampshire',
            'New Jersey',
            'New Mexico',
            'New York',
            'North Carolina',
            'North Dakota',
            'Northern Mariana Island Teritory',
            'Ohio',
            'Oklahoma',
            'Oregon',
            'Palau',
            'Pennsylvania',
            'Puerto Rico',
            'Rhode Island Teritory',
            'South Carolina',
            'South Dakota',
            'Tennessee',
            'Texas',
            'Utah',
            'Vermont',
            'Virgin Island Teritory',
            'Virginia',
            'Washington',
            'West Virginia',
            'Wisconsin',
            'Wyoming'
          ],

          autocompleteSource = function(request, response) {
            var data = states,
              matches = [];

            for (var i=0; i < data.length; i++) {
              if (data[i].toLowerCase().indexOf(request.toLowerCase()) != -1) {
                matches.push(data[i]);
              }
            }
            response(request, matches);
          };

        // Some Sample Data
        data.push({ id: 1, productId: 2142201, productName: 'Compressor', activity:  '<svg/onload=alert(1)>', quantity: 1, price: 210.99, status: 'OK', state:'California', orderDate:  new Date(2016, 2, 15, 12, 30, 36), portable: false, action: 'ac', description: 'Compressor comes with various air compressor accessories, to help you with a variety of projects. All fittings are with 1/4 NPT connectors. The kit has an air blow gun that can be used for cleaning'});
        data.push({ id: 2, productId: 2241202, productName: 'Different Compressor', activity:  'Inspect and Repair', quantity: 2, price: 210.991, status: '', state:'Oklahoma', orderDate: new Date(2016, 2, 15, 0, 30, 36), portable: false, action: 'oh', description: 'The kit has an air blow gun that can be used for cleaning'});
        data.push({ id: 3, productId: 2342203, productName: 'Portable Compressor', activity:  'Inspect and Repair', portable: true, quantity: 1, price: 120.992, status: null, state:'Wisconsin', orderDate: new Date(2014, 6, 3), action: 'ac'});
        data.push({ id: 4, productId: 2445204, productName: 'Another Compressor', activity:  'Assemble Paint', portable: true, quantity: 3, price: null, status: 'OK', state:'Michigan', orderDate: new Date(2015, 3, 3), action: 'ac', description: 'Compressor comes with with air tool kit'});
        data.push({ id: 5, productId: 2542205, productName: 'De Wallt Compressor', activity:  'Inspect and Repair', portable: false, quantity: 4, price: 210.99, status: 'OK', state:'Northern Mariana Island Teritory', orderDate: new Date(2015, 5, 5), action: 'oh'});
        data.push({ id: 6, productId: 2642205, productName: 'Air Compressors', activity:  'Inspect and Repair', portable: false, quantity: 41, price: 120.99, status: 'OK', state:'New York', orderDate: new Date(2014, 6, 9), action: 'oh'});
        data.push({ id: 7, productId: 2642206, productName: 'Some Compressor', activity:  'inspect and Repair', portable: true, quantity: 41, price: 123.99, status: 'OK', state:'Idaho', orderDate: new Date(2014, 6, 9), action: 'oh'});

        //Define Columns for the Grid.
        columns.push({ id: 'selectionCheckbox', sortable: false, resizable: false, formatter: Soho.Formatters.SelectionCheckbox, align: 'center'});
        columns.push({ id: 'id', name: 'Row Id', field: 'id', width: 70, formatter: Soho.Formatters.Readonly});
        columns.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', formatter: Soho.Formatters.Hyperlink, editor: Soho.Editors.Input});
	      columns.push({ id: 'quantity', name: 'Quantity', field: 'quantity', align: 'right', required: true, validate: 'required', editor: Soho.Editors.Input, mask: '##0', maskMode: 'number', isEditable: function (row) {
            //For this fake logic just disable odd rows
            return (row % 2 === 0);
          }});
        columns.push({ id: 'state', name: 'State', field: 'state', width: 200, formatter: Soho.Formatters.Autocomplete, editor: Soho.Editors.Autocomplete, editorOptions: {'source': autocompleteSource} });
        columns.push({ id: 'price', name: 'Price', field: 'price', width: 125, align: 'right', formatter: Soho.Formatters.Decimal, numberFormat: {minimumFractionDigits: 3, maximumFractionDigits: 3}, editor: Soho.Editors.Input, mask: '###.000'});
        columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Soho.Formatters.Date, editor: Soho.Editors.Date});

        //Init and get the api for the grid
        grid = $('#datagrid').datagrid({
          columns: columns,
          dataset: data,
          editable: true,
          clickToSelect: false,
          selectable: 'multiple',
          toolbar: {title: 'Compressors', results: true, actions: true, rowHeight: true}
        }).on('cellchange', function (e, args) {
          console.log(e, args);
        }).on('rowadd', function (e, args) {
          console.log(e, args);
        }).on('rowremove', function (e, args) {
          console.log(e, args);
        });

        gridApi = $('#datagrid').data('datagrid');
    });
  });

  var newId = 8;
  //Add Code for Add and icon-delete
  $('#add-btn').on('click', function () {
    gridApi.addRow({ id: newId++, productId: 2642206, quantity: 0, productName: 'New Product'});
	gridApi.validateAll();
    console.log(gridApi.settings.dataset[1])
  });

  //Add Code for Add and icon-delete
  $('#remove-btn').on('click', function () {
    gridApi.removeSelected();
  });
</script>
