<div class="row">
  <div class="six columns">
    <h2>Datagrid Test: Force Disable the Pager</h2>
    <p><a class="hyperlink" href="http://jira.infor.com/browse/SOHO-6122" target="_blank">Related JIRA Ticket</a>.</p>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="field">
      <button id="force-disabled" class="btn-primary">
        <span>Force the Pager to become Disabled</span>
      </button>

      <button id="force-enabled" class="btn-secondary">
        <span>Force the Pager to become Enabled</span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="toolbar">
      <div class="title">
        &nbsp;
      </div>
      <div class="buttonset"></div>
      <div class="more">
        <button class="btn-actions" type="button">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#">Option One</a></li>
          <li><a href="#">Option Two</a></li>
          <li><a href="#">Option Three</a></li>
          <li class="separator single-selectable-section"></li>
          <li class="heading">Row Height</li>
          <li class="is-selectable"><a data-option="row-short" href="#">Short</a></li>
          <li class="is-selectable"><a data-option="row-medium" href="#">Medium</a></li>
          <li class="is-selectable is-checked"><a data-option="row-normal" href="#">Normal</a></li>
        </ul>
      </div>
    </div>
    <div id="datagrid"></div>
  </div>
</div>

<script>
  $('body').one('initialized', function () {
    var columns = [],
      data = [];

    //Define Columns for the Grid.
    columns.push({ id: 'id', name: 'Id', field: 'id', formatter: Formatters.Readonly});
    columns.push({ id: 'productId', name: 'Product Id', field: 'productId', width: 140, formatter: Formatters.Readonly});
    columns.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', width: 150, formatter: Formatters.Hyperlink});
    columns.push({ id: 'activity', hidden: true, name: 'Activity', field: 'activity', width: 125});
    columns.push({ id: 'quantity', name: 'Quantity', field: 'quantity', width: 125});
    columns.push({ id: 'price', name: 'Price', field: 'price', width: 125, formatter: Formatters.Decimal});
    columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy'});

    function gridSource(req, done) {
      var url = '{{basepath}}api/compressors?pageNum='+ req.activePage +'&pageSize='+ req.pagesize;

      return $.getJSON(url, function(res) {
        req.total = res.total;
        done(res.data, req);
      });
    }

    //Init and get the api for the grid
    gridApi = $('#datagrid').datagrid({
      columns: columns,
      selectable: 'multiple',
      paging: true,
      pagesize: 5,
      source: gridSource,
      toolbar: {
        title: 'Data Grid Header Title',
        results: true,
        dateFilter: false,
        keywordFilter: true,
        advancedFilter: true,
        actions: true,
        views: true,
        rowHeight: true,
        collapsibleFilter: true
      }
    }).data('datagrid');

    function reloadGrid(forceDisable) {
      var pagingInfo = {};
      pagingInfo.activePage = gridApi.pagerAPI.activePage;
      pagingInfo.pagesize = gridApi.pagerAPI.settings.pagesize;

      if (forceDisable !== undefined) {
        if (forceDisable === true) {
          pagingInfo.firstPage = true;
          pagingInfo.lastPage = true;
        } else if (forceDisable === false) {
          pagingInfo.firstPage = false;
          pagingInfo.lastPage = false;
        }
      }

      gridSource(pagingInfo, function(data, req) {
        gridApi.loadData(data, pagingInfo, true);
      });
    }

    $('#force-disabled').on('click', function() {
      forceStop = true;
      reloadGrid(true);
    });

    $('#force-enabled').on('click', function() {
      forceStop = true;
      reloadGrid(false);
    });
  });
</script>
