// Uplift Process Indicator
//================================================== //

.indicator {
  &.more-info {
    &::before {
      top: 0.11em;
    }
  }
}

.is-firefox {
  .indicator {
    &.more-info {
      &::before {
        top: 0.11em;
      }
    }
  }
}

html[dir='rtl'] {
  &.is-firefox {
    .indicator {
      &.more-info {
        &::before {
          top: 0.25em;
        }
      }
    }
  }
}
