// Process Indicators
//================================================== //
//
// Also see: /sass/controls/_timeline.scss

$indicator-darkest: $azure08;
$indicator-darker: $theme-color-brand-primary-alt;
$indicator-lighter: $theme-color-brand-primary-base;
$indicator-lightest: $azure05;
$indicator-warning: $alert-red;
$indicator-blank: $graphite02;

$indicator-size: 1.3em;
$indicator-current-size: ($indicator-size * 1.6);

// Container
.process-indicator {
  margin-bottom: 20px;

  @include font-size(14);

  // Main blocks:  .display, .header, .details
  .display {
    margin-bottom: 20px;
    word-spacing: -($indicator-size * 0.22);

    > * {
      vertical-align: middle;
      white-space: nowrap;
    }

    .separator {
      border: 1px solid transparent;
      display: inline-block;
      height: 0;
      width: $indicator-size;

      &.darkest {
        border-color: $indicator-darkest;
      }

      &.darker {
        border-color: $indicator-darker;
      }

      &.lighter {
        border-color: $indicator-lighter;
      }

      &.lightest {
        border-color: $indicator-lightest;
      }

      // smaller size for sitting in-between 'minor' indicators
      &.minor {
        width: ($indicator-size / 2);
      }

    }
  }

  .details {
    color: $font-color;

    @include font-size(10);
    @include antialiased();

    > * {
      vertical-align: middle;
    }

    > .icon {
      height: 15px;
      margin-right: 10px;
      width: 15px;
    }
  }

  // Makes the size of the process indicator smaller
  &.compact {
    .display {
      @include css3(transform, scale(0.7, 0.7));
      @include css3(transform-origin, left center);
    }

    .heading,
    .sub-heading,
    .details {
      display: inline-block;
    }
  }

}

// Indicator icons
.indicator {
  background-color: $body-color-primary-background;
  border: 2px solid $indicator-blank;
  border-radius: ($indicator-size / 2);
  display: inline-block;
  height: $indicator-size;
  position: relative;
  width: $indicator-size;

  // Color defs
  &.darkest {
    background-color: $indicator-darkest;
    border: 0;
  }

  &.darker {
    background-color: $indicator-darker;
    border: 0;
  }

  &.lighter {
    background-color: $indicator-lighter;
    border: 0;
  }

  &.lightest {
    background-color: $indicator-lightest;
    border: 0;
  }

  // State Defs:
  // Processing
  &.processing {
    border: 2px solid $indicator-lightest;
    border-radius: ($indicator-size / 2);
  }

  // Current is larger than the rest
  &.current {
    border-radius: ($indicator-current-size / 2);
    height: $indicator-current-size;
    width: $indicator-current-size;

    // circle
    &::before {
      border-radius: ($indicator-current-size / 2);
    }
  }

  // Rejected
  &.rejected {
    border: 0;

    &::before,
    &::after {
      background-color: #fff;
      border-radius: 0.2em;
      content: '';
      display: inline-block;
      height: 0.15em;
      left: 0.14em;
      position: absolute;
      top: 0.54em;
      width: ($indicator-size * 0.82);
    }

    &::before {
      @include css3(transform, rotate(135deg));
    }

    &::after {
      @include css3(transform, rotate(45deg));
    }

    &.current {
      background-color: $indicator-warning;

      &::before,
      &::after {
        left: 0.51em;
        top: 0.93em;
      }
    }

  }

  &.more-info {
    border: 0;

    &::before {
      color: #fff;
      content: '!';
      display: inline-block;
      font-size: 1.4em;
      font-weight: $theme-number-font-weight-bold;
      height: 100%;
      position: relative;
      text-align: center;
      top: 0.25em;
      width: 100%;

      @include antialiased();
    }

    &.current {
      background-color: $indicator-warning;
    }
  }

  &.time-out {
    border: 0;

    // Clock circle
    &::before {
      border: 0.15em solid #fff;
      content: '';
      height: 50%;
      left: 0.37em;
      position: absolute;
      top: 0.37em;
      width: 50%;
    }

    // Clock hands
    &::after {
      border-bottom: 0.15em solid #fff;
      border-left: 0.15em solid #fff;
      content: '';
      height: 20%;
      left: 0.97em;
      position: absolute;
      top: 0.6em;
      width: 10%;
    }

    &.current {
      background-color: $indicator-warning;
    }
  }

  // Really small indicator for long processes
  &.minor {
    border-radius: ($indicator-size / 4);
    height: ($indicator-size / 2);
    width: ($indicator-size / 2);
  }

}

.process-indicator,
.timeline {
  .heading {
    @include font-size(12);

    font-weight: $theme-number-font-weight-bold;
    line-height: 1.5;

    @include antialiased();
  }

  .sub-heading {
    color: $font-color;
    line-height: 1.5;
    margin-bottom: 10px;

    @include font-size(12);
    @include antialiased();
  }

}

// Keyframes for the  "processing" animation
@include keyframes(rotate-processing-indicator) {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}
