// Toolbars - New Theme overrides
//================================================== */

@import '../button/button-new';
@import '../colorpicker/colorpicker-new';
@import '../fontpicker/fontpicker-new';
@import '../popupmenu/popupmenu-new';

// Styles for regular toolbar only
.toolbar {
  .title {
    @include font-size(18);
  }

  &.do-resize {
    .toolbar-searchfield-wrapper {
      > svg.icon.close {
        top: 50%;
      }
    }
  }

  &.has-more-button {
    .buttonset {
      height: 41px;
    }
  }

  .datagrid-result-count,
  .datagrid-group-count {
    @include font-size(18);
  }

  .buttonset {
    height: 41px;
  }

  .more .btn-actions:hover:not(:disabled) {
    background-color: $button-color-tertiary-hover-background-new;
  }
}

@media (max-width: $breakpoint-phablet) {
  .toolbar {
    .buttonset {
      height: auto;
    }
  }
}
