<h1 id="counts-learn-more">Counts <a href="#">Learn More</a></h1>
<h2 id="api-details">API Details</h2>
<h3 id="settings">Settings</h3>
<ul>
<li>Icon Types - icon-alert, icon-confirm, icon-dirty, icon-error, icon-info, icon-pending, icon-new, icon-in-progress, icon-info-field<br /></li>
<li>Icon Colors - This is done automatically by the type (alert, error ect)</li>
</ul>
<h2 id="configuration-options">Configuration Options</h2>
<ol>
<li>Counts - Of an Instance <a href="../components/counts/example-instance-count">View Example</a><br /></li>
<li>Counts - Of an Object <a href="../components/counts/example-object-count">View Example</a></li>
</ol>
<h2 id="code-example">Code Example</h2>
<p>Instance Counts are simple css/html components with a count and title element. You can use any of the <a href="../components/colors/example-index">colors in the pallette.</a></p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;instance-count &quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;count emerald07&quot;</span><span class="kw">&gt;</span>40<span class="kw">&lt;/span&gt;</span>
  <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;title&quot;</span><span class="kw">&gt;</span>Active Goals<span class="kw">&lt;/span&gt;</span>
<span class="kw">&lt;/div&gt;</span>&gt;
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Be careful to select a color that passes <a href="http://webaim.org/resources/contrastchecker/">WCAG AA or AAA contrast</a> with the background its on.</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<p>No Keyboard, screen readers can access the information via a virtual keyboard. Make sure to augment the labels with audible only spans to add additional context if needed.</p>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>New component</li>
</ul>
