// Instance Count
//================================================== //

.instance-count {
  display: inline-block;
  margin: 20px 10px;
  vertical-align: top;
  width: 150px;

  .count {
    @include font-size(22);

    border-radius: 50%;
    color: $theme-color-palette-white;
    display: inline;
    float: left;
    font-weight: $theme-number-font-weight-bold;
    height: 38px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 38px;
  }

  // No Color Class.
  .count[class=count] {
    background-color: $theme-color-brand-secondary-alt;
  }

  .title {
    @include antialiased();

    color: $font-color;
    display: inline-block;
    float: left;
    font-size: $theme-size-font-base;
    line-height: 20px;
    max-width: 50px;
    padding-left: 11px;
    text-align: left;
  }

}

.object-count {
  color: $font-color-descriptive;
  display: inline-block;
  min-width: 150px;
  text-align: center;

  &.hyperlink {
    margin: -1px 0 0;
    padding: 0 0 8px;
    text-decoration: none;
  }

  span,
  .xl-text {
    color: inherit;
    display: block;
  }
}

.form-layout-compact {
  .object-count {
    .xl-text {
      font-size: $theme-size-font-px-40;
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .instance-count {
    .count {
      float: right;
    }

    .title {
      float: right;
      padding-left: inherit;
      padding-right: 11px;
      text-align: right;
    }
  }
}
