// Breadcrumbs (Uplift)
//================================================== //
.breadcrumb {
  .hyperlink {
    @include font-size(14);

    line-height: 1.8em;
  }

  li {
    &::after {
      @include font-size(12);
    }

    .current,
    &.current {
      @include font-size(12);
    }
  }

  &.truncated {
    li {
      &::after {
        margin-top: 5px;
      }
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .breadcrumb {
    ul,
    ol {
      &:empty {
        min-height: calc(#{$breadcrumb-container-height} + 4px);
      }
    }
  }
}
