// Breadcrumbs (Uplift)
//================================================== //
.breadcrumb {
  .hyperlink {
    font-size: 14px;
    line-height: 1.8em;
  }

  &.truncated {
    li,
    .condense-container {
      &::after {
        font-size: 1.2rem;
      }
    }

    li::after {
      margin-top: 5px;
    }

    .condense-container::after {
      margin-top: 8px;
    }
  }
}

.scrollable-flex-header {
  .breadcrumb {
    &.truncated {
      .condense-container::after {
        margin-top: 8px;
      }
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .breadcrumb {
    ul,
    ol {
      &:empty {
        min-height: calc(#{$breadcrumb-container-height} + 4px);
      }
    }
  }
}
