// Buttons
//================================================== //

.breadcrumb {
  ul,
  ol {
    min-height: $theme-size-font-sm;
  }

  li {
    @include antialiased();

    color: $breadcrumb-color;
    display: inline-block;
    list-style: none;

    &::after {
      content: '\002F';
      font-size: $theme-size-font-xs;
      padding: 0 10px;
    }

    &:last-child::after {
      content: '';
      padding: 0;
    }

    .current,
    &.current {
      color: $breadcrumb-color;
      font-size: $theme-size-font-sm;
      font-weight: $theme-number-font-weight-bold;

      a {
        color: inherit;
      }
    }

  }

  .hyperlink {
    @include antialiased();

    color: $breadcrumb-color;
    font-size: $theme-size-font-sm;
    line-height: 2em;
    text-decoration: none;

    &:visited {
      color: $breadcrumb-color;
    }

    &:hover:not([disabled]) {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &:focus {
      border-radius: 2px;
      color: $breadcrumb-hover-color;

      &:hover {
        border-bottom: 1px solid $breadcrumb-hover-color;
      }
    }

    &:active {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &.current {
      font-weight: $theme-number-font-weight-bold;
    }

    &[disabled] {
      color: $breadcrumb-disabled-color;
    }

  }
}

//Breadcrumb on a toolbar (see grid example)
.toolbar .breadcrumb {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;

  a,
  span {
    font-size: $theme-size-font-base;
  }
}

// RTL Styles
html[dir='rtl'] {
  .breadcrumb {
    li {
      &::after {
        content: '\005C';
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}
