// Buttons
//================================================== //

$breadcrumb-container-height: $theme-size-font-xl;

.breadcrumb {
  ul,
  ol {
    min-height: $breadcrumb-container-height;
  }

  li {
    @include antialiased();

    color: $breadcrumb-color;
    display: inline-block;
    list-style: none;

    &::after {
      content: '\002F';
      font-size: $theme-size-font-xs;
      padding: 0 8px;
    }

    &:last-child::after {
      content: '';
      padding: 0;
    }

    .current,
    &.current {
      color: $breadcrumb-color;
      font-size: $theme-size-font-sm;
      font-weight: $theme-number-font-weight-bold;

      a {
        color: inherit;
      }
    }
  }

  // Truncated behavior forces all breadcrumbs onto one line and some to become collapsible.
  // Currently not fully implemented -- see infor-design/enterprise#4091
  &.truncated {
    ul,
    ol {
      display: flex;
      overflow: hidden;
    }

    li {
      overflow: hidden;
      white-space: nowrap;

      > * {
        vertical-align: middle;
      }

      a {
        display: inline-block;
        margin-left: 4px;
        overflow: hidden;
        padding: 0 3px;
        text-overflow: ellipsis;
        width: calc(100% - 18px); // accounts for the pseudo-element "/" delimeter
      }

      &:first-child,
      &.current,
      &:last-child {
        flex-shrink: 0;

        a {
          overflow: auto;
          width: auto;
        }
      }

      &:last-child {
        a {
          margin-right: 4px;
        }
      }
    }
  }

  .hyperlink {
    @include antialiased();

    color: $breadcrumb-color;
    font-size: $theme-size-font-sm;
    line-height: 2em;
    text-decoration: none;

    &:visited {
      color: $breadcrumb-color;
    }

    &:hover:not([disabled]) {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &:focus {
      border-radius: 2px;
      color: $breadcrumb-hover-color;

      &:hover {
        border-bottom: 1px solid $breadcrumb-hover-color;
      }
    }

    &:active {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &.current {
      font-weight: $theme-number-font-weight-bold;
    }

    &[disabled] {
      color: $breadcrumb-disabled-color;
    }

  }
}

//Breadcrumb on a toolbar (see grid example)
.toolbar .breadcrumb {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;

  a,
  span {
    font-size: $theme-size-font-base;
  }
}

// RTL Styles
html[dir='rtl'] {
  .breadcrumb {
    li {
      &::after {
        content: '\005C';
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}
