// Breadcrumbs (Uplift)
//================================================== //
.breadcrumb {
  .hyperlink,
  .breadcrumb-text,
  li > span {
    font-size: 14px;
    line-height: 1.6em;
  }

  .btn-actions {
    line-height: 1.6em;
  }

  .breadcrumb-list,
  ol {
    li {
      .current,
      &.current {
        font-size: 14px;
      }
    }
  }

  &.truncated {
    .breadcrumb-list li,
    .breadcrumb-overflow-container {
      &::after {
        font-size: 1.2rem;
        margin-top: $breadcrumb-separator-margin-top;
      }
    }
  }
}

.scrollable-flex-header {
  .breadcrumb {
    .hyperlink,
    .breadcrumb-text,
    li > span {
      line-height: 1.5em;
    }

    &.truncated {
      .breadcrumb-overflow-container::after {
        margin-top: 6px;
      }
    }
  }
}

html[dir='rtl'] {
  .scrollable-flex-header {
    .breadcrumb.truncated {
      .breadcrumb-list li {
        &::after {
          margin-top: 4px;
        }
      }

      .breadcrumb-overflow-container {
        &::after {
          margin-top: 6px;
        }
      }
    }
  }
}
