// Breadcrumbs
//================================================== //

.breadcrumb {
  a {
    display: inline-block;
    height: 24px;
    padding: 0 3px;
  }

  .btn-actions {
    @include antialiased();

    color: $breadcrumb-color;
    font-size: $theme-size-font-sm;
    line-height: 1.8em;
    margin-right: 0;
  }

  ul,
  ol {
    min-height: $breadcrumb-container-height;

    &:empty {
      min-height: $breadcrumb-empty-container-height;
    }
  }

  .condense-container {
    display: none;
    white-space: nowrap;
  }

  li {
    @include antialiased();

    color: $breadcrumb-color;
    display: inline-block;
    list-style: none;

    .current,
    &.current {
      color: $breadcrumb-color;
      font-size: $theme-size-font-sm;
      font-weight: $theme-number-font-weight-bold;

      a {
        color: inherit;
      }
    }

    &:first-child {
      .hyperlink {
        margin-left: 0;
      }
    }
  }

  li,
  .condense-container {
    &::after {
      @include antialiased();

      color: $breadcrumb-color;
      content: '\002F';
      font-size: $theme-size-font-sm;
      padding-left: 4px;
      padding-right: 8px;
    }

    &:last-child::after {
      content: '';
      padding: 0;
    }
  }

  // Truncated behavior forces all breadcrumbs onto one line and some to become collapsible.
  // Currently not fully implemented -- see infor-design/enterprise#4091
  &.truncated {
    align-items: center;
    display: flex;

    ul,
    ol {
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
    }

    li,
    .condense-container {
      display: inline-block;

      &::after {
        display: inline-block;
        padding-right: 4px;
        vertical-align: top;
      }
    }

    li::after {
      margin-top: 6px;
    }

    .condense-container::after {
      margin-top: 11px;
    }

    > .btn-actions {
      flex-shrink: 0;
      height: auto;
      vertical-align: middle;
    }

    li {
      padding-left: 6px;
      white-space: nowrap;

      a {
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 7px); // accounts for the pseudo-element "/" delimeter + padding
      }

      &:first-child,
      &.current,
      &.condense-btn,
      &:last-child {
        flex-shrink: 0;

        a {
          overflow: auto;
          text-overflow: clip;
          width: auto;
        }
      }

      &:last-child {
        a {
          margin-right: 4px;
        }
      }
    }
  }

  .hyperlink {
    @include antialiased();

    color: $breadcrumb-color;
    font-size: $theme-size-font-sm;
    line-height: 2em;
    padding-top: 1px;
    text-decoration: none;

    &:visited {
      color: $breadcrumb-color;
    }

    &:hover:not([disabled]) {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &:focus {
      border-radius: 2px;
      color: $breadcrumb-hover-color;

      &:hover {
        border-bottom: 1px solid $breadcrumb-hover-color;
      }
    }

    &:active {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &.current {
      font-weight: $theme-number-font-weight-bold;
    }

    &[disabled] {
      color: $breadcrumb-disabled-color;
    }

  }
}

// Breadcrumb on a toolbar (see grid example)
.toolbar .breadcrumb {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;

  a,
  span {
    font-size: $theme-size-font-base;
  }
}

// Scrollable-Flex Headers can change background color of the breadcrumb list
.scrollable-flex-header {
  .breadcrumb {
    background-color: $header-bg-color;
    display: block;
    padding: 1px 10px 0;

    a {
      border: 0;
    }

    ol {
      padding-bottom: 15px;
      padding-top: 15px;
    }

    .hyperlink {
      color: $header-breadcrumb-color;

      &:active:not([disabled]),
      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        color: $header-breadcrumb-color;
      }

      &:focus:not([disabled]):not(.hide-focus) {
        border-color: transparent;
        box-shadow: none;
        outline: 1px solid $header-breadcrumb-color;
      }

      &:hover:not([disabled]) {
        border-bottom: 1px solid $header-breadcrumb-color;
      }
    }

    .btn-actions {
      .icon {
        color: $header-breadcrumb-color;
      }
    }

    li {
      color: $header-breadcrumb-color;

      &::after {
        color: $header-breadcrumb-color;
      }
    }

    .condense-container::after {
      color: $header-breadcrumb-color;
    }

    &.alternate {
      background-color: $header-breadcrumb-alt-bg-color;
      border-bottom: 1px solid $header-breadcrumb-border-color;

      ol {
        padding: 15px 0;
      }

      .hyperlink {
        color: $header-breadcrumb-alt-color;

        &:active:not([disabled]),
        &:hover:not([disabled]),
        &:focus:not([disabled]) {
          color: $header-breadcrumb-alt-color;
        }

        &:focus:not([disabled]):not(.hide-focus) {
          outline: 1px solid $header-breadcrumb-alt-color;
        }

        &:hover:not([disabled]) {
          border-bottom: 1px solid $header-breadcrumb-alt-color;
        }
      }

      .btn-actions {
        .icon {
          color: $header-breadcrumb-alt-color;
        }
      }

      li {
        color: $header-breadcrumb-alt-color;

        &::after {
          color: $header-breadcrumb-alt-color;
        }
      }

      .condense-container::after {
        color: $header-breadcrumb-alt-color;
      }
    }

    &.truncated {
      display: flex;

      .condense-container::after {
        margin-top: 10px;
      }
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .breadcrumb {
    ul,
    ol {
      &:empty {
        min-height: calc(#{$breadcrumb-container-height} + 4px);
      }
    }

    li,
    .condense-container {
      &::after {
        content: '\005C';
        padding-left: 8px;
        padding-right: 4px;
      }

      &:last-child::after {
        content: '';
      }

      &:first-child {
        .hyperlink {
          margin-right: 0;
        }
      }
    }

    &.truncated {
      li {
        padding-left: 0;
        padding-right: 4px;

        &::after {
          content: '\005C';
          padding-left: 4px;
        }

        a {
          margin-right: 0;
        }
      }
    }
  }
}
