// Breadcrumbs
//================================================== //

.breadcrumb {
  .hyperlink {
    display: inline-block;
    height: 24px;
    padding: 0 3px;
  }

  .btn-actions {
    @include antialiased();

    color: $breadcrumb-color;
    font-size: $theme-size-font-sm;
    height: 28px;
    line-height: 1.8em;
    margin-right: 0;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
  }

  .breadcrumb-overflow-container {
    display: none;
    white-space: nowrap;
  }

  .breadcrumb-list {
    min-height: $breadcrumb-container-height;
    position: relative;
    vertical-align: middle;

    // Defines the faded edge of the `.breadcrumb-list`
    &::before {
      @include transition(width 200ms $cubic-ease);

      background-color: transparent;
      content: '';
      display: inline-block;
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 0;
      z-index: 20;
    }

    // Wraps each hyperlink
    li {
      @include antialiased();

      color: $breadcrumb-color;
      display: inline-block;
      list-style: none;

      .current,
      &.current {
        color: $breadcrumb-color;
        font-size: $theme-size-font-sm;
        font-weight: $theme-number-font-weight-bold;

        .hyperlink {
          // color: inherit;

          &[disabled] {
            color: $breadcrumb-disabled-color;
          }
        }
      }

      &:first-child {
        .hyperlink {
          margin-left: 0;
        }
      }
    }
  }

  // Added to the JS Component automatically when `truncate: false` is set.
  &.no-truncate {
    .breadcrumb-list li:first-child {
      .hyperlink {
        margin-left: -4px;
      }
    }
  }

  // Creates the "/" separator
  .breadcrumb-list li,
  .breadcrumb-overflow-container {
    &::after {
      @include antialiased();

      color: $breadcrumb-color;
      content: '\002F';
      font-size: $theme-size-font-sm;
      padding-left: 4px;
      padding-right: 8px;
    }

    &:last-child::after {
      content: '';
      padding: 0;
    }
  }

  // Truncated behavior forces all breadcrumbs onto one line and some to become collapsible.
  // Currently not fully implemented -- see infor-design/enterprise#4091
  &.truncated {
    align-items: center;
    display: flex;
    font-size: 0;
    position: relative;

    .breadcrumb-list li,
    .breadcrumb-overflow-container {
      display: inline-block;

      &::after {
        display: inline-block;
        margin-top: $breadcrumb-separator-margin-top;
        padding-right: 4px;
        vertical-align: top;
      }
    }

    .breadcrumb-overflow-container {
      > .btn-actions {
        flex-shrink: 0;
        height: auto;
        vertical-align: middle;
      }
    }

    .breadcrumb-list {
      display: flex;
      justify-content: flex-end;
      overflow: hidden;

      // Enlarges the faded edge of the `.breadcrumb-list`
      &::before {
        background-image: linear-gradient(
          to right,
          rgba($body-color-primary-background, 1),
          rgba($body-color-primary-background, 0)
        );
        width: 32px;
      }

      li {
        font-size: 0;
        padding-left: 6px;
        white-space: nowrap;

        a {
          overflow: hidden;
          text-overflow: ellipsis;
          width: calc(100% - 7px); // accounts for the pseudo-element "/" delimeter + padding
        }

        &:first-child,
        &.current,
        &:last-child {
          flex-shrink: 0;

          a {
            text-overflow: clip;
            width: auto;
          }
        }

        &:last-child {
          a {
            margin-right: 4px;
            overflow: hidden;
          }
        }
      }
    }
  }

  .hyperlink {
    @include antialiased();

    color: $breadcrumb-color;
    font-size: $theme-size-font-sm;
    line-height: 2em;
    padding-top: 1px;
    text-decoration: none;

    &:visited {
      color: $breadcrumb-color;
    }

    &:hover:not([disabled]) {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &:focus {
      border-radius: 2px;
      color: $breadcrumb-hover-color;

      &:hover {
        border-bottom: 1px solid $breadcrumb-hover-color;
      }
    }

    &:active {
      border-bottom: 1px solid $breadcrumb-hover-color;
      color: $breadcrumb-hover-color;
    }

    &.current {
      font-weight: $theme-number-font-weight-bold;
    }

    &[disabled] {
      color: $breadcrumb-disabled-color;
    }

  }
}

// Breadcrumb on a toolbar (see grid example)
.toolbar .breadcrumb {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;

  a,
  span {
    font-size: $theme-size-font-base;
  }
}

// Scrollable-Flex Headers can change background color of the breadcrumb list
.scrollable-flex-header {
  .breadcrumb {
    background-color: $header-bg-color;
    display: block;
    padding: 1px 10px 0;

    .hyperlink {
      border: 0;
      color: $header-breadcrumb-color;

      &:active:not([disabled]),
      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        color: $header-breadcrumb-color;
      }

      &:focus:not([disabled]):not(.hide-focus) {
        border-color: transparent;
        box-shadow: none;
        outline: 1px solid $header-breadcrumb-color;
      }

      &:hover:not([disabled]) {
        border-bottom: 1px solid $header-breadcrumb-color;
      }
    }

    .btn-actions {
      .icon {
        color: $header-breadcrumb-color;
      }

      &:focus:not(.hide-focus) {
        box-shadow: 0 0 0 2px transparent,
          0 0 0 1px $header-breadcrumb-color,
          0 0 1px 2px rgba($header-breadcrumb-color, 0.3);
      }
    }

    .breadcrumb-list {
      padding-bottom: 15px;
      padding-top: 15px;

      li {
        color: $header-breadcrumb-color;

        &::after {
          color: $header-breadcrumb-color;
        }
      }
    }

    .breadcrumb-overflow-container::after {
      color: $header-breadcrumb-color;
      margin-top: 9px;
    }

    &.alternate {
      background-color: $header-breadcrumb-alt-bg-color;
      border-bottom: 1px solid $header-breadcrumb-border-color;

      .hyperlink {
        color: $header-breadcrumb-alt-color;

        &:active:not([disabled]),
        &:hover:not([disabled]),
        &:focus:not([disabled]) {
          color: $header-breadcrumb-alt-color;
        }

        &:focus:not([disabled]):not(.hide-focus) {
          outline: 1px solid $header-breadcrumb-alt-color;
        }

        &:hover:not([disabled]) {
          border-bottom: 1px solid $header-breadcrumb-alt-color;
        }
      }

      .btn-actions {
        .icon {
          color: $header-breadcrumb-alt-color;
        }

        &:focus:not(.hide-focus) {
          box-shadow: 0 0 0 2px transparent,
            0 0 0 1px $header-breadcrumb-alt-color,
            0 0 1px 2px rgba($header-breadcrumb-alt-color, 0.3);
        }
      }

      .breadcrumb-list {
        padding: 15px 0;

        // Change the faded edge to match the header background color
        &::before {
          background-image: linear-gradient(
            to right,
            rgba($header-breadcrumb-alt-bg-color, 1),
            rgba($header-breadcrumb-alt-bg-color, 0)
          );
        }

        li {
          color: $header-breadcrumb-alt-color;

          &::after {
            color: $header-breadcrumb-alt-color;
          }
        }
      }

      .breadcrumb-overflow-container::after {
        color: $header-breadcrumb-alt-color;
      }
    }

    &.truncated {
      display: flex;

      // Change the faded edge to match the header background color
      .breadcrumb-list {
        &::before {
          background-image: linear-gradient(
            to right,
            rgba($header-bg-color, 1),
            rgba($header-bg-color, 0)
          );
        }
      }

      // Change the faded edge to match the alternate header background color
      &.alternate {
        .breadcrumb-list {
          &::before {
            background-image: linear-gradient(
              to right,
              rgba($header-breadcrumb-alt-bg-color, 1),
              rgba($header-breadcrumb-alt-bg-color, 0)
            );
          }
        }
      }
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .breadcrumb li,
  .breadcrumb-overflow-container {
    &::after {
      content: '\005C';
      padding-left: 8px;
      padding-right: 4px;
    }

    &:last-child::after {
      content: '';
    }

    &:first-child {
      .hyperlink {
        margin-right: 0;
      }
    }
  }

  .breadcrumb-list {
    &::before {
      left: auto;
      right: 0;
    }
  }

  .breadcrumb {
    // Added to the JS Component automatically when `truncate: false` is set.
    &.no-truncate {
      .breadcrumb-list li:first-child {
        .hyperlink {
          margin-right: -4px;
        }
      }
    }

    &.truncated {
      .breadcrumb-list {
        &::before {
          background-image: linear-gradient(
            to right,
            rgba($body-color-primary-background, 0),
            rgba($body-color-primary-background, 1)
          );
        }

        li {
          padding-left: 0;
          padding-right: 4px;

          &::after {
            content: '\005C';
            padding-left: 4px;
          }

          a {
            margin-right: 0;
          }

          &:last-child::after {
            content: '';
          }
        }
      }
    }
  }

  .scrollable-flex-header {
    .breadcrumb.truncated {
      .breadcrumb-list li {
        &::after {
          margin-top: 5px;
        }
      }

      .breadcrumb-overflow-container {
        &::after {
          margin-top: 7px;
        }
      }

      .breadcrumb-list {
        &::before {
          background-image: linear-gradient(
            to right,
            rgba($header-bg-color, 0),
            rgba($header-bg-color, 1)
          );
        }
      }

      &.alternate {
        .breadcrumb-list {
          &::before {
            background-image: linear-gradient(
              to right,
              rgba($header-breadcrumb-alt-bg-color, 0),
              rgba($header-breadcrumb-alt-bg-color, 1)
            );
          }
        }
      }
    }
  }
}
