<div class="row">
  <div class="six columns">
    <h2>Testing Destroy (Requires Chrome Console) <a class="hyperlink" href="https://jira.infor.com/browse/SOHO-6476">SOHO-6476</a></h2>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">

    <button class="btn-secondary" type="button" id="test" title="Tooltips Provide Additional Information">
      Normal Tooltip
    </button>

    <button class="btn-secondary" type="button" id="destroy">
      Remove
    </button>

  </div>
</div>

<script>

  $('#destroy').on('click', function () {
    $('#test').data('tooltip').destroy();
    $('#test').remove();
    alert('Now Check Chrome Profiler')
  });

</script>
