<body class="no-scroll">
  {{> controls/svg}}
  {{> includes/masthead}}
  <header class="header is-sticky is-personalizable has-tabs">
    <div class="toolbar">
      <div class="title">

      <button class="btn-icon application-menu-trigger" type="button">
        <span class="audible">Show navigation</span>
        <span class="icon app-header">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </span>
      </button>
      {{> includes/applicationmenu}}

       <!-- <h1>Manager | My Staff</h1> -->
        <h1>
          <span class="page-title">Manager</span>
          <span class="section-title">John Smith</span>
        </h1>
      </div>

      <div class="buttonset">
        <button class="btn-icon header-search" type="button">
          <span class="audible">Search</span>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-search"></use>
          </svg>
        </button>
      </div>

      {{> includes/header-actionbutton}}
    </div>

    <div class="tab-container">
      <ul class="tab-list">
        <li class="tab"><a href="#header-tabs-staff">My Staff</a></li>
        <li class="tab"><a href="#header-tabs-org">My Organization</a></li>
      </ul>
    </div>
  </header>

  <div id="maincontent" class="page-container " role="main">
    <div id="header-tabs-staff" class="tab-panel">

      <div id="maincontent" class="two-column fixed list-detail">

        <div class="sidebar scrollable" role="complementary">
          {{={{{ }}}=}}

            <script id="task-tmpl" type="text/html">
              <ul>
                {{#dataset}}
                  {{#disabled}}
                    <li class="is-disabled">
                  {{/disabled}}
                  {{^disabled}}
                    <li>
                  {{/disabled}}
                    <p class="listview-heading">Task #{{task}}</p>
                    <p class="listview-subheading">{{desc}}</p>
                    <p class="listview-micro">Due: {{date}}</p>
                  </li>
                {{/dataset}}
              </ul>
            </script>

            <div class="listview" id="task-listview" data-tmpl="task-tmpl" data-dataset="demoTasks"></div>

        </div>

        <div class="main scrollable" role="main">

          <div class="row">
            <div class="full column card">

            </div>
            <div class="full column card">

            </div>
            <div class="full column card">

            </div>
            <div class="full column card">

            </div>
            <div class="full column card">

            </div>
            <div class="full column card">

            </div>
            <div class="full column card">

            </div>
            <div class="full column card">

            </div>

          </div>

        </div>

      </div>

    </div>
    <div id="header-tabs-org" class="tab-panel">

      <div class="row">
        <div class="six columns">
          <p>Empower, rss-capable value long-tail maximize convergence, "orchestrate 24/7 systems granular." Metrics front-end, Cluetrain infrastructures web-enabled initiatives productize; efficient strategize deliver open-source peer-to-peer web-enabled seize relationships dot-com deliver out-of-the-box incubate end-to-end; user-centric productize. Synthesize seamless drive global engineer seize methodologies remix. E-business collaborative morph open-source folksonomies, ROI evolve harness embrace best-of-breed, iterate sticky morph. Paradigms ROI data-driven benchmark systems?</p>
        </div>
        <div class="six columns">
          <p>Bricks-and-clicks integrate evolve tag collaborative, collaborative best-of-breed e-business platforms. Efficient action-items dot-com leverage matrix interfaces bricks-and-clicks convergence communities tagclouds; mindshare platforms, embrace: networkeffects engage virtual harness synergistic synthesize. Podcasts turn-key networking, visualize initiatives deploy, enhance life-hacks dot-com end-to-end back-end deliver web-readiness authentic enterprise--Cluetrain wikis aggregate. Maximize bandwidth communities, matrix synergize whiteboard reintermediate productize, "expedite solutions back-end."</p>
        </div>
      </div>
    </div>

  </div>
