// Hierarchy
//================================================== //

$hierarchy-padding: 20px;
$hierarchy-node-height: 75px;
$hierarchy-node-width: 275px;
$hierarchy-line-width: 1.34px; //Fixes zoom somewhat

// placeholder
@mixin hierarchy-vertical-line {
  background: $hierarchy-line-color none repeat scroll 0 0;
  content: '';
  position: absolute;
  width: $hierarchy-line-width;
  z-index: -1;
}

.hierarchy {
  margin: 0;
  padding: 20px;

  .branch-collapsed {
    > ul * {
      display: none;
    }
  }

  legend {
    @include font-size(14);

    margin: 20px 40px;

    li {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 20px;
    }

    .key {
      border-radius: 50%;
      display: inline-block;
      float: left;
      height: 15px;
      margin: 0 10px;
      width: 15px;
    }
  }

  // The Centering Container
  .container {
    display: table;
    margin: 0 auto;

    @media (max-width: $breakpoint-slim - 1px) {
      width: 100%;
    }

    .display-for-paging {
      @media only screen and (min-width: $breakpoint-slim) and (max-width: $breakpoint-phablet) {
        left: 35px;
      }
    }

    li {
      @include transition(all 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94));
    }

    .chart {
      position: relative;

      &.display-for-paging {
        &::after {
          @include hierarchy-vertical-line;

          height: calc(100% - 124px);
          left: -15px;
          top: 38px;

          @media (min-width: $breakpoint-phablet) {
            left: 0;
          }
        }

        .back {
          left: -152px;
          position: relative;
          top: -10px;

          @media only screen and (min-width: $breakpoint-slim) and (max-width: $breakpoint-phablet) {
            left: -205px;
            top: 55px;
          }

          @media (min-width: $breakpoint-phablet) {
            left: -245px;
            top: 55px;
          }

          button {
            background: $theme-color-brand-primary-base;
            color: $white;
            display: block;
            margin: 0 0 0 122px;
            max-width: 36px;

            @media (min-width: $breakpoint-slim) {
              margin: 0 auto;
            }

            svg {
              fill: $white;
            }
          }
        }

        .root {
          margin-left: -30px !important;
          overflow: visible;
          position: relative;

          &::after {
            content: '';
            display: none;
            height: $hierarchy-line-width;
            left: 0;
            position: absolute;
            top: 50%;
            width: 50%;
            z-index: -1;

            @media (min-width: $breakpoint-slim) {
              display: block;
            }
          }
        }

        &.has-back .root {
          &::after {
            left: -25px;
          }
        }
      }

      &.has-back {
        &::after {
          height: calc(100% - 170px);
          left: -15px;
          top: 84px;

          @media (min-width: $breakpoint-phablet) {
            left: 0;
          }
        }
      }

      &.has-single-child .sub-level > li:last-child::before,
      &.has-single-child .sub-level > li:first-child::before,
      &.has-single-child .sub-level > li::before {
        display: none;
      }

      // Single child
      &.has-single-child .root {
        margin: 0;

        + .sub-level::before {
          height: 66px;
          left: 20px;
        }

        + .sub-level > li .leaf::before {
          border-bottom: $hierarchy-line-width solid $hierarchy-line-color;
          border-left: $hierarchy-line-width solid $hierarchy-line-color;
          content: '';
          display: block;
          height: 105px;
          left: -30px;
          position: absolute;
          top: -65px;
          width: calc(50% + 2px);
          z-index: -1;
        }
      }
    }

    .sub-level > li > ul .leaf::before {
      border-bottom: $hierarchy-line-width solid $hierarchy-line-color;
      border-left: $hierarchy-line-width solid $hierarchy-line-color;
      content: '';
      display: block;
      height: 105px;
      left: -30px;
      position: absolute;
      top: -65px;
      width: 50%;
      z-index: -1;
    }

    .sub-level > li ul:not(.popupmenu) {
      position: relative;
    }

    .sub-level > li.branch-expanded > ul > li.branch-expanded:not(:last-child)::after {
      border-left: $hierarchy-line-width solid $hierarchy-line-color;
      content: '';
      height: 100%;
      left: -25px;
      position: absolute;
      top: 0;
    }

    // Remove the last node if its expandable
    .chart:not(.has-single-child) > .sub-level > li.branch-expanded:last-child::after {
      background-color: $body-color-primary-background;
      content: '';
      height: 100%;
      left: 13px;
      margin-top: calc(-100% + 53px);
      position: absolute;
      width: 52px;
      z-index: -1;
    }

  }

  // A node in the tree
  .leaf {
    background-color: $panel-bg-color;
    border: 1px solid $panel-border-color;
    border-left: 5px solid $graphite06;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    height: $hierarchy-node-height;
    position: relative;
    width: $hierarchy-node-width;

    &.azure08 {
      border-left-color: $azure08;
    }

    &.turquoise02 {
      border-left-color: $turquoise02;
    }

    &.amethyst06 {
      border-left-color: $amethyst06;
    }

    &.slate06 {
      border-left-color: $slate06;
    }

    &.amber06 {
      border-left-color: $amber06;
    }

    &.emerald07 {
      border-left-color: $emerald07;
    }

    &.ruby06 {
      border-left-color: $ruby06;
    }

    &.is-selected {
      box-shadow: 0 0 0 5px $focus-box-shadow-color;
    }

    //Styling for objects in the leafs
    img,
    .image-placeholder {
      border-radius: 50%;
      display: inline-block;
      float: left;
      height: 55px;
      margin-left: 14px;
      margin-top: 8px;
      width: 55px;
    }

    .image-initials {
      display: inline-block;
      float: left;
      height: 55px;
      line-height: 5.5rem;
      margin-left: 14px;
      margin-top: 8px;
      width: 55px;
    }

    .image-placeholder {
      border: 2px solid $theme-color-brand-secondary-alt;
    }

    .detail {
      flex-grow: 1;
      margin-left: 20px;
      margin-right: 10px;
      max-width: 178px;
      overflow: hidden;
      text-align: left;
    }

    .heading {
      @include ellipsis();
      @include font-size(16);

      color: $font-color-extrahighcontrast;
      line-height: 20px;
      margin-top: 8px;
    }

    .subheading {
      @include ellipsis();
      @include font-size(14);

      color: $listview-color;
      line-height: 20px;
      margin-top: 0;
    }

    .micro {
      @include ellipsis();
      @include font-size(12);

      color: $listview-color;
      line-height: 18px;
      margin-top: 0;
    }

    .btn-icon {
      left: 0;
      position: relative;
      top: -16px;
    }

    .btn-hidden {
      display: none;
    }
  }

  //Adjust size for buttons
  ul > li > .leaf {
    width: 260px;

    @media only screen and (min-width: $breakpoint-slim) and (max-width: $breakpoint-phablet) {
      width: 280px;
    }

    @media (min-width: $breakpoint-phablet) {
      width: 315px;
    }

    .btn-actions,
    .btn-expand,
    .btn-collapse {
      height: 30px;
      left: auto;
      min-height: 30px;
      min-width: 30px;
      right: 13px;
      top: 22px;
      width: 30px;

      .icon {
        height: 24px;
        width: 24px;
      }
    }

    .btn-actions svg {
      height: 20px;
      width: 20px;
    }
  }

  li[data-disabled='true'],
  li[data-disabled='true'] > a {
    cursor: default;
    opacity: 0.5;
  }

  //The Top Level Node
  .root {
    margin: 0 auto;
    position: relative;

    //draw a line down
    &::after {
      @include hierarchy-vertical-line;

      bottom: 0;
      height: 50%;
      left: 50%;
    }

    + .sub-level {
      padding-bottom: 5px;
      padding-left: 35px;
      padding-top: 25px;

      //draw a line up
      &::before {
        @include hierarchy-vertical-line;

        height: 32px;
        left: 50%;
        top: 0;
      }
    }
  }

  //The Second to Top Level - Flows left to right
  .top-level {
    overflow: hidden;
    padding: 30px 0;
    position: relative;
    text-align: center;

    //draw a line down
    &::after {
      @include hierarchy-vertical-line;

      height: 100%;
      left: 50%;
      top: 0;
    }

    &.no-sublevel::after {
      height: calc(100% - 40px);
    }

    li {
      display: inline-block;
      padding: $hierarchy-padding;

      &:last-child::before {
        border-top: 0;
      }

    }
  }

  // Single level, paging display
  .child-nodes {
    padding: 30px 0;
    position: relative;

    > li .leaf {
      margin: 0 0 20px 6px;
      overflow: visible;
      position: relative;

      @media (min-width: $breakpoint-phablet) {
        margin: 0 0 20px 40px;
      }

      &::after {
        border-top: $hierarchy-line-width solid $hierarchy-line-color;
        content: '';
        display: block;
        left: -25px;
        position: absolute;
        top: 50%;
        width: 50%;
        z-index: -1;

        @media (min-width: $breakpoint-phablet) {
          left: -45px;
        }
      }
    }
  }

  //The Bottom Levels - Flow Down and Up
  .sub-level {
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;

    // Top Level Nodes still follow left to right
    > li {
      display: inline-block;
      padding: 5px 10px;
      vertical-align: top;

      //Draw Line Up and right
      &:first-child::before {
        border-left: $hierarchy-line-width solid $hierarchy-line-color;
        border-top: $hierarchy-line-width solid $hierarchy-line-color;
        content: '';
        display: inline-block;
        height: 25px;
        margin-left: 51%;
        width: 55%;
      }

      &::before {
        border-left: 0;
        border-right: 0;
        border-top: $hierarchy-line-width solid $hierarchy-line-color;
        content: '';
        display: inline-block;
        height: 25px;
        width: 120%;
      }

      //Draw Line Up and Left
      &:last-child::before {
        border-left: 0;
        border-right: $hierarchy-line-width solid $hierarchy-line-color;
        border-top: $hierarchy-line-width solid $hierarchy-line-color;
        content: '';
        display: inline-block;
        height: 25px;
        margin-left: -51%;
        width: 50%;
      }
    }

    // Child Nodes - 4th level down
    li ul:not(.popupmenu) {
      overflow: hidden;
      padding-left: 45px;
      padding-right: 5px;

      li {
        margin: 30px 0;

        &:last-child:not(:first-child) {
          margin: 5px 0;
        }
      }
    }

    li ul.popupmenu li {
      margin: 0;

      &:last-child:not(:first-child) {
        margin: 0;
      }
    }
  }

  .image-user-status {
    display: block;
  }

  .popupmenu.has-detail-fields {
    padding-top: 0;
  }

  .popupmenu.has-detail-fields + .arrow {
    border-bottom-color: $slate08;
  }

  .popupmenu.has-detail-fields + .arrow::after {
    border-bottom-color: $slate08;
  }

  .detail-fields {
    background: $slate08;
    padding: 10px;

    .dt-fields-row {
      display: table-row;
    }

    .dt-fields-cell:first-child {
      opacity: 0.7;
      padding-right: 8px;
      text-align: right;

      &::after {
        content: ':';
      }
    }

    .dt-fields-cell {
      color: $white;
      display: table-cell;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }
}

// Media Query for Mobile View
@mixin hierarchy-mobile {
  margin: 0 auto;
  text-align: center;

  legend {
    text-align: left;

    li {
      margin-bottom: 10px;
      text-align: center;
    }

  }

  .container {
    display: inline-block;
    margin: 0;

    .chart {
      .sub-level {
        padding-left: 45px;

        li {
          .leaf {
            max-width: 315px;
            width: 100%;
          }
        }
      }
    }
  }

  // Top of the Chain
  .root {
    margin: 0;

    &::after {
      background: transparent;
      height: 0;
      width: 0;
    }

    + .sub-level {
      .leaf::before {
        background-color: transparent;
        border-bottom: 1px solid $hierarchy-line-color;
        content: '';
        height: 1px;
        left: -29px;
        position: absolute;
        top: 35px;
        width: 24px;
      }

      &::before {
        background-color: transparent;
        border-bottom: 1px solid $hierarchy-line-color;
        border-left: 1px solid $hierarchy-line-color;
        height: calc(100% - 73px);
        left: 20px;
        width: 300px;
        z-index: -1;
      }
    }
  }

  .display-for-paging {
    left: 20px;

    .root {
      &::after {
        background-color: $hierarchy-line-color;
      }
    }
  }

  .sub-level {
    margin-left: 0;
  }

  //Top level attached to root
  .top-level::after {
    left: 158px;
  }

  .top-level li {
    display: block;
    padding: 10px 0;
  }

  // TODO: borders look weird on mobile view.
  // Hiding for now
  .top-level > li:first-child::before,
  .sub-level > li:first-child::before,
  .sub-level > li::before,
  .top-level > li::before,
  .sub-level > li:last-child::before,
  .top-level > li:last-child::before {
    display: none;
  }

  //Bottom Nodes
  .sub-level > li {
    display: block;
    padding: 0;
    padding-bottom: 30px;
  }

  .sub-level > li.branch-collapsed {
    padding-bottom: 30px;
    padding-right: 5px;
  }
}

@include respond-to(phablet) {
  .hierarchy {
    @include hierarchy-mobile;
  }
}

.is-mobile {
  @include hierarchy-mobile;
}

// RTL Styles
html[dir='rtl'] {
  .hierarchy {
    legend {
      li {
        margin-left: 20px;
        margin-right: inherit;
      }

      .key {
        float: right;
      }
    }

    // A node in the tree
    .leaf {
      border-left: 1px solid $panel-border-color;
      border-right: 5px solid $graphite06;

      &.azure08 {
        border-left-color: $panel-border-color;
        border-right-color: $azure08;
      }

      &.turquoise02 {
        border-left-color: $panel-border-color;
        border-right-color: $turquoise02;
      }

      &.amethyst06 {
        border-left-color: $panel-border-color;
        border-right-color: $amethyst06;
      }

      &.slate06 {
        border-left-color: $panel-border-color;
        border-right-color: $slate06;
      }

      &.amber06 {
        border-left-color: $panel-border-color;
        border-right-color: $amber06;
      }

      &.emerald07 {
        border-left-color: $panel-border-color;
        border-right-color: $emerald07;
      }

      &.ruby06 {
        border-left-color: $panel-border-color;
        border-right-color: $ruby06;
      }

      //Styling for objects in the leafs
      img,
      .image-placeholder {
        float: right;
        margin-left: inherit;
        margin-right: 14px;
      }

      .btn-icon {
        left: auto;
        right: 0;
      }
    }

    //Adjust size for buttons
    ul > li > .leaf {
      .btn-expand,
      .btn-collapse {
        left: auto;
        right: calc(100% - 40px);
      }
    }

    //The Top Level Node
    .root {

      //draw a line down
      &::after {
        margin-left: inherit;
        margin-right: -65px;
      }
    }

    //The Second to Top Level - Flows left to right
    .top-level {
      li {
        //Draw Line Up and Left
        &::before {
          margin-left: inherit;
          margin-right: 150px;
        }
      }
    }

    //The Bottom Levels - Flow Down and Up
    .sub-level {
      // Top Level Nodes still follow left to right
      > li {
        //Draw Line Up and Left
        &::before {
          border-bottom: 0;
          border-left: 0 solid $hierarchy-line-color;
          border-right: $hierarchy-line-width solid $hierarchy-line-color;
          margin-left: inherit;
          margin-right: 160px;
          width: 110%;
        }

        &:last-child::before {
          margin-left: 127px;
          width: 0;
        }

        > ul .leaf::before {
          border-left: 0;
          border-right: $hierarchy-line-width solid $hierarchy-line-color;
          left: auto;
          right: -35px;
        }
      }

      // Child Nodes - 4th level down
      li ul:not(.popupmenu) {
        margin-left: inherit;
        margin-right: 45px;
        padding-left: 5px;
        padding-right: 30px;
      }
    }
  }
}
