{{> includes/head}}
<body class="no-scroll">
  <a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
  {{> includes/svg-inline-refs}}
  {{> includes/header}}
  <div class="page-container scrollable" role="main">

    <section class="scrollable-y contained-scrolling-left-col">
      <div class="content"></div>
    </section>

    <section class="scrollable-y contained-scrolling-right-top">
      <div class="content"></div>
    </section>

    <section class="scrollable contained-scrolling-right-bottom">
      <div class="content"></div>
    </section>

  </div>
  {{> includes/footer}}
</body>
</html>
