// Demo Grid
//========================================================//
//

.demo-grid { // make this adjacent to the .row class on a grid
  > * > .content-area {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
  }

  h2 {
    font-size: 1.8rem;
    padding-top: 11px;
  }

}

.row.demo-tests-grid {

  .column,
  .columns {
    min-height: 60px;

    > * {
      vertical-align: middle;
    }

  }

}

.draggable.card.demo {
  min-height: 150px;
  width: 150px;
}
