.card,
.widget {
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card-header,
.widget-header {
  border-bottom: none;
  height: 34px;
  line-height: unset;

  .card-title,
  .widget-title {
    font-size: $theme-size-font-md;
    font-weight: $theme-number-font-weight-base;
    line-height: 2.8rem;
  }
}

.card-header,
.card-footer,
.widget-header,
.widget-footer {
  margin: 8px 20px;
  padding: unset;
}
