<h1 id="datagrid-learn-more">Datagrid <a href="https://soho.infor.com/index.php?p=component/about-dialog">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol>
<li>Simple Datagrid Example <a href="../components/datagrid/example-index">View Example</a><br /></li>
<li>Alternate Row Shading <a href="../components/datagrid/example-alternate-row-shading.html">View Example</a><br /></li>
<li>Drilldown Formatter <a href="../components/datagrid/example-drilldown.html">View Example</a><br /></li>
<li>Paging (Indeterminate) <a href="../components/datagrid/example-paging-indeterminate.html">View Example</a><br /></li>
<li>Paging (Server Side) <a href="../components/datagrid/example-paging.html">View Example</a><br /></li>
<li>Paging (Client Side) <a href="../components/datagrid/example-paging-client-side.html">View Example</a><br /></li>
<li>Editing <a href="../components/datagrid/example-editable.html">View Example</a><br /></li>
<li>Column Reordering <a href="../components/datagrid/example-reorder.html">View Example</a><br /></li>
<li>Expandable Row <a href="../components/datagrid/example-expandable-row.html">View Example</a><br /></li>
<li>Row Reordering <a href="../components/datagrid/example-row-reorder.html">View Example</a><br /></li>
<li>Filtering <a href="../components/datagrid/example-filter.html">View Example</a><br /></li>
<li>Selection (Single) <a href="../components/datagrid/example-singleselect.html">View Example</a><br /></li>
<li>Selection (Multiple) <a href="../components/datagrid/example-multiselect.html">View Example</a><br /></li>
<li>Grouped Headers <a href="../components/datagrid/example-grouped-headers.html">View Example</a><br /></li>
<li>Tooltips <a href="../components/datagrid/example-tooltips.html">View Example</a><br /></li>
<li>Datagrid List Styling <a href="../components/datagrid/example-list.html">View Example</a><br /></li>
<li>Tree Grid <a href="../components/datagrid/example-tree.html">View Example</a><br /></li>
<li>Using Nested Objects <a href="../components/datagrid/example-nested-objects.html">View Example</a><br /></li>
<li>Making a custom toolbar <a href="../components/datagrid/example-custom-toolbar.html">View Example</a><br /></li>
<li>Comments Grid (Flexible Row Size) <a href="../components/datagrid/example-comments.html">View Example</a><br /></li>
<li>Fixed Header <a href="../components/datagrid/example-fixed-header.html">View Example</a><br /></li>
<li>Datagrid Grouping <a href="../components/datagrid/example-grouping.html">View Example</a><br /></li>
<li>Datagrid Grouping (Totals) <a href="../components/datagrid/example-grouping-totals.html">View Example</a><br /></li>
<li>Selection (Mixed) <a href="../components/datagrid/example-mixed-selection.html">View Example</a><br /></li>
<li>Summary Row <a href="../components/datagrid/example-summary-row.html">View Example</a><br /></li>
<li>Export to Excel <a href="../components/datagrid/example-export-from-button.html">View Example</a></li>
</ol>
<!-- Generated by documentation.js. Update this documentation by updating the source code. -->


<h2 id="api-details">API Details</h2>
<h3 id="settings">Settings</h3>
<ul>
<li><code>actionableMode</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If actionableMode is &quot;true”, tab and shift tab behave like left and right arrow key, if the cell is editable it goes in and out of edit mode. F2 - toggles actionableMode &quot;true&quot; and &quot;false&quot;<br /></li>
<li><code>cellNavigation</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If cellNavigation is &quot;false”, will show border around whole row on focus<br /></li>
<li><code>rowNavigation</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If rowNavigation is &quot;false”, will NOT show border around the row<br /></li>
<li><code>alternateRowShading</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Sets shading for readonly grids<br /></li>
<li><code>columns</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a></strong>  -  an array of columns (see column options)<br /></li>
<li><code>dataset</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a></strong>  -  an array of data objects<br /></li>
<li><code>columnReorder</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Allow Column reorder<br /></li>
<li><code>saveColumns</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Save Column Reorder and resize<br /></li>
<li><code>saveUserSettings</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></strong>  -  Save one or all of the following to local storage : columns: true, rowHeight: true, sortOrder: true, pagesize: true, activePage: true, filter: true<br /></li>
<li><code>editable</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Enable editing in the grid, requires column editors.<br /></li>
<li><code>isList</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Makes the grid have readonly &quot;list&quot; styling<br /></li>
<li><code>menuId</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong>  -  Id to link a right click context menu element<br /></li>
<li><code>menuSelected</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong>  -  Callback for the grid level context menu<br /></li>
<li><code>uniqueId</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong>  -  Unique ID to use as local storage reference and internal variable names<br /></li>
<li><code>rowHeight</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong>  -  Controls the height of the rows / number visible rows. May be (short, medium or normal)<br /></li>
<li><code>selectable</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong>  -  Controls the selection Mode this may be: false, 'single' or 'multiple' or 'mixed'<br /></li>
<li><code>groupable</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></strong>  -  Controls fields to use for data grouping Use Data grouping fx. {fields: ['incidentId'], supressRow: true, aggregator: 'list', aggregatorOptions: ['unitName1']}<br /></li>
<li><code>clickToSelect</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Controls if using a selection mode if you can click the rows to select<br /></li>
<li><code>toolbar</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></strong>  -  Toggles and appends toolbar features fx.. {title: 'Data Grid Header Title', results: true, keywordFilter: true, filter: true, rowHeight: true, views: true}<br /></li>
<li><code>initializeToolbar</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Set to false if you will initialize the toolbar yourself<br /></li>
<li><code>paging</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Enable paging mode<br /></li>
<li><code>pagesize</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">Number</a></strong>  -  Number of rows per page<br /></li>
<li><code>pagesizes</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a></strong>  -  Array of page sizes to show in the page size dropdown.<br /></li>
<li><code>indeterminate</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Disable the ability to go to a specific page when paging.<br /></li>
<li><code>source</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function">Function</a></strong>  -  Callback function for paging<br /></li>
<li><code>hidePagerOnOnePage</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If true, hides the pager if there's only one page worth of results.<br /></li>
<li><code>filterable</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Enable Column Filtering, This will require column filterTypes as well.<br /></li>
<li><code>disableClientFilter</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Disable Filter Logic client side and let your server do it<br /></li>
<li><code>disableClientSort</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Disable Sort Logic client side and let your server do it<br /></li>
<li><code>resultsText</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong>  -  Can provide a custom function to adjust results text on the toolbar<br /></li>
<li><code>rowReorder</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If set you can reorder rows. Requires rowReorder formatter<br /></li>
<li><code>showDirty</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If true the dirty indicator will be shown on the rows<br /></li>
<li><code>allowOneExpandedRow</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Controls if you cna expand more than one expandable row.<br /></li>
<li><code>enableTooltips</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Process tooltip logic at a cost of performance<br /></li>
<li><code>disableRowDeactivation</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  if a row is activated the user should not be able to deactivate it by clicking on the activated row<br /></li>
<li><code>sizeColumnsEqually</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If true make all the columns equal width<br /></li>
<li><code>expandableRow</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If true we append an expandable row area without the rowTemplate feature being needed.<br /></li>
<li><code>redrawOnResize</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  If set to false we skip redraw logic on the resize of the page.</li>
</ul>
<h3 id="functions">Functions</h3>
<h4 id="addrow">addRow</h4>
<p>Add a row of data to the grid and dataset.</p>
<p><strong>Parameters</strong></p>
<ul>
<li><code>data</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></strong>  -  An data row object<br /></li>
<li><code>location</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong>  -  Where to add the row. This can be 'top' or leave off for 'bottom'</li>
</ul>
<h4 id="removerow">removeRow</h4>
<p>Remove a row of data to the grid and dataset.</p>
<p><strong>Parameters</strong></p>
<ul>
<li><code>row</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">Number</a></strong>  -  The row index<br /></li>
<li><code>nosync</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></strong>  -  Dont sync the selected rows.</li>
</ul>
<h4 id="removeselected">removeSelected</h4>
<p>Remove all selected rows from the grid and dataset.</p>
<h4 id="clearfilter">clearFilter</h4>
<p>Clear the Filter row Conditions and Reset the Data.</p>
<h4 id="hidecolumn">hideColumn</h4>
<p>Hide a column.</p>
<p><strong>Parameters</strong></p>
<ul>
<li><code>id</code> <strong><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></strong>  -  The id of the column to hide.</li>
</ul>
<h2 id="code-example">Code Example</h2>
<p>The Datagrid is created via JS or via direct html markup (css table styling). You should pass an array of objects in to the grid on the dataset object. Also pass the columns array for the column information. There are a number of events described in the events and api section, as well as the column settings.</p>
<p>A Read-Only Datagrid uses &quot;Formatters&quot; to render cell content. A number of these are listed in the api section, and it is possible to create your own.</p>
<pre class="sourceCode html"><code class="sourceCode html">

<span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;row&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;twelve columns&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;datagrid&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span>
</code></pre>
<pre class="sourceCode javascript"><code class="sourceCode javascript">

  <span class="co">//Define Columns for the Grid.</span>
  <span class="ot">columns</span>.<span class="fu">push</span>({ <span class="dt">id</span>: <span class="st">&#39;productId&#39;</span>, <span class="dt">name</span>: <span class="st">&#39;Product Id&#39;</span>, <span class="dt">field</span>: <span class="st">&#39;productId&#39;</span>, <span class="dt">width</span>: <span class="st">&#39;50%&#39;</span>, <span class="dt">formatter</span>: <span class="ot">Formatters</span>.<span class="fu">Readonly</span>});
  <span class="ot">columns</span>.<span class="fu">push</span>({ <span class="dt">id</span>: <span class="st">&#39;productName&#39;</span>, <span class="dt">name</span>: <span class="st">&#39;Product Name&#39;</span>, <span class="dt">sortable</span>: <span class="kw">false</span>, <span class="dt">field</span>: <span class="st">&#39;productName&#39;</span>, <span class="dt">width</span>: <span class="st">&#39;50%&#39;</span>, <span class="dt">formatter</span>: <span class="ot">Formatters</span>.<span class="fu">Hyperlink</span>});

  <span class="co">//Init and get the api for the grid</span>
  <span class="fu">$</span>(<span class="st">&#39;#datagrid&#39;</span>).<span class="fu">datagrid</span>({
    <span class="dt">columns</span>: columns,
    <span class="dt">dataset</span>: data <span class="co">//Json Array</span>
  });
</code></pre>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li><strong>Tab  </strong>The initial tab enters the grid with focus on the first cell of the first row, often a header. A second tab moves out of the grid to the next tab stop on the page. Once focus is established in the grid, a TAB into or a Shift Tab into the grid will return to the cell which last had focus.<br /></li>
<li><strong>Left and Right Arrow</strong> Move focus to the adjacent column's cell. There is no wrap at the end or beginning of columns.<br /></li>
<li><strong>Up and Down Arrow</strong> Move focus to the adjacent row's cell. There is no wrap at the first or last row.<br /></li>
<li><strong>Home</strong> moves focus to the first cell of the current row<br /></li>
<li><strong>End</strong> moves focus to the last cell of the current row<br /></li>
<li><strong>Page Up</strong> moves focus to the first cell in the current column<br /></li>
<li><strong>Page Down</strong> moves focus to the last cell in the current column<br /></li>
<li><strong>Enter</strong> toggles edit mode on the cell if it is editable. There is also an &quot;auto edit detection&quot;. If the user starts typing then edit mode will happen automatically without enter.<br /></li>
<li><strong>F2</strong> toggles actionable Mode. Pressing the <strong>Tab</strong> key while in actionable mode moves focus to the next actionable cell. There is no wrap at the end or beginning of columns. While in actionable mode you can do things like type + enter. This will move you down a row when you hit enter. If the cell has a control that uses down arrow (like the dropdowns or lookups that are editable). Then the user needs to hit enter to enable the edit mode on that cell.</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<ul>
<li>Hover<br /></li>
<li>Selected</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>Grid resizes to max in a table, allows scrolling vertically. Scrolling horizontally is at the parent container.</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Still uses same columns and data set options. Some column options enhanced and changed.<br /></li>
<li>Uses normal events vs the custom OnThing Event<br /></li>
<li>Some Api Functions changed<br /></li>
<li>Drill Down Tool tip option moved to the column tooltip option</li>
</ul>
