<div class="row">
  <div class="twelve columns">
    <br />
    <h3>Grid Example: Customization</h3>
    <p>Shows using the password input as an editor/formatter.</p><br />
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div id="datagrid">

    </div>
  </div>
</div>

<script>

  $('body').one('initialized', function () {
         var grid,
          columns = [],
          data = [];

        // Some Sample Data
        data.push({ id: 1, userId: 2142201, email: 'jfreeman2@fastcompany.com', password: 'myCatsName'});
        data.push({ id: 2, userId: 2241202, email: 'egrant5@marketwatch.com', password: 'myCatsName'});
        data.push({ id: 3, userId: 2342203, email: 'gmcdonald7@weather.com', password: 'myDogsName'});
        data.push({ id: 4, userId: 2445204, email: 'jrussellf@usa.gov', password: 'myBabysName'});
        data.push({ id: 5, userId: 2542205, email: 'De Wallt Compressor', password: 'myBabysName'});
        data.push({ id: 6, userId: 2642205, email: 'tsimmonsg@ucla.edu', password: 'myBabysName'});
        data.push({ id: 7, userId: 2642206, email: 'tburnsj@cdbaby.com', password: 'myBabysName'});

        //Define Columns for the Grid.
        columns.push({ id: 'id', name: 'Row Id', field: 'id', width: 50, formatter: Formatters.Readonly});
        columns.push({ id: 'userId', name: 'User Id', field: 'userId', formatter: Formatters.Text, editor: Editors.Input});
        columns.push({ id: 'password', name: 'Password', field: 'password', formatter: Formatters.Password, editor: Editors.Input, inputType: 'password'});

        //Init and get the api for the grid
        $('#datagrid').datagrid({
          columns: columns,
          dataset: data,
          editable: true})
        .on('cellchange', function(e, args) {
          console.log(args);
        });

  });

</script>
