// Code Example Styles
// ===============================================

.code-block {
  background: #555;
  border: 2px solid #333;
  color: #ccc;
  font-size: 14px;
  margin: 1em 0;
  overflow: auto;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  white-space: pre-wrap;
}
