.error-code-container {
  line-height: normal;
  text-align: center;
}

.error-code-number {
  color: $theme-color-palette-ruby-60;
  font-size: 150px;
  font-weight: 900;
  line-height: normal;
}

.error-code-standard {
  color: $theme-color-palette-ruby-60;
  font-size: 24px;
  line-height: normal;
}

.error-stack {
  @include code-style();
}

// Fix top rows that come after a notification area.
.notification-area + .row {
  padding-top: 20px;
}
