.error-code-container {
  line-height: normal;
  text-align: center;
}

.error-code-number {
  color: $ids-color-palette-ruby-60;
  font-size: 150px;
  font-weight: 900;
  line-height: normal;
}

.error-code-standard {
  color: $ids-color-palette-ruby-60;
  font-size: 24px;
  line-height: normal;
  word-break: break-word;
}

.error-stack {
  @include code-style();
}
