// Specific CSS For Forms
//=============================================

#busy-form {
  padding: 0 0 1em;
}

.field #btn-reload {
  position: absolute;
  right: 0px;
  top: -10px;
  height: 28px;
  width: 28px;
  min-width: 28px;
  min-height: 28px;
}
