// Demo Patterns
// Used for keeping inline CSS out of the demos in the patterns folder
//================================================== //

// Contained Scrolling Example's definitions for columns
//================================================== //

.contained-scrolling-left-col {
  background-color: $ids-color-palette-white;
  display: inline-block;
  height: calc(100% - 45px);
  margin-left: 20px;
  margin-top: 20px;
  min-height: 0;
  width: calc(30% - 20px);

  > .content {
    height: 5000px;
    width: 3000px;
  }
}

.contained-scrolling-right-top {
  background-color: $ids-color-palette-white;
  display: inline-block;
  height: calc(42% - 20px);
  margin-left: 20px;
  margin-top: 20px;
  min-height: 0;
  position: absolute;
  top: 0;
  width: calc(70% - 40px);

  > .content {
    height: 5000px;
    width: 3000px;
  }
}

.contained-scrolling-right-bottom {
  background-color: $ids-color-palette-white;
  display: inline-block;
  height: calc(55% - 25px);
  margin-left: 20px;
  margin-top: 20px;
  min-height: 0;
  width: calc(70% - 40px);

  > .content {
    height: 5000px;
    width: 3000px;
  }
}

.demo-column-content {
  > .content {
    min-height: 5000px;
  }
}

@include respond-to(tabletdown) {
  .demo-column-content {
    > .content {
      min-height: 1000px;
    }
  }
}

// ===================================================================================================
// These rules allow for a header/page container to animate their height.
// This can be useful and good aesthetically for demo pages where header components are swapped often.
// Apply `animate-containers` on the `body` tag.
// ===================================================================================================
.animate-containers {
  header {
    @include transition(height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94));
  }

  .page-container {
    @include transition(height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94));
  }
}
