<div class="row">
  <div class="six columns">

    <h2>Multiselect Test: AJAX</h2>

    <p>The multiselect control on this page has its options created by loading from an external source with an AJAX request.

    If you click the term option will be blank meaning - fetch all.
    If you type to filter the term will show that value. In this case in the ajax call you should get BOTH the records that match and all the selected records.
    </p>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="ajax-test">Ajax Test</label>
      <select id="ajax-test" name="ajax-test" class="dropdown" data-init="false"></select>
    </div>

  </div>
</div>

<script type="text/javascript">
  $('body').on('initialized', function() {

    $('#ajax-test').multiselect({
      source: function (response, term) {
        console.log('Searching for term:' + term);
        if (term === '') {
          response([]);
          return;
        }

        $.getJSON('/api/states' + (term ? '?term='+term : '') , function(data) {
          //Structure the data with val, label syntax. In this example its down on the server

          //Fake two selected since we dont have persistence
          //data[0].selected = true;
          //data[1].selected = true;
          response(data);
        });
      }
    });

  });
</script>
