<div class="row">
  <div class="six columns">
    <h2>Popover Test: Simple Example Content</h2>
    <p>Common configuration for popupmenus attached to buttons.</p>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">

    <div class="field">
      <button id="popover-trigger" class="btn-secondary" type="button" title="test">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-upload"></use>
        </svg>
        <span>Click To Show Popover</span>
      </button>
    </div>

  </div>
</div>

<div id="popover-contents" class="popover-content-area hidden">
  <p>Purchase <strong>2</strong> more to save <a href="#" class="hyperlink"><strong>$100</strong></a> total</p>
  <div class="demo-popover">
    <br><br>
    <table role="grid">
      <thead>
        <tr>
          <th scope="col" role="columnheader">Quantity</th>
          <th scope="col" role="columnheader">Unit Price</th>
          <th scope="col" role="columnheader">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>50</td>
          <td>$18.00</td>
          <td><strong>$900.00</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  var POPOVER_OPTIONS = {
    closebutton: true,
    popover: true,
    content: $('#popover-contents').html(),
    placement: 'right',
    title: 'ABC Company',
    trigger: 'click'
  };

  $('#popover-trigger').popover(POPOVER_OPTIONS);
</script>
