<div class="row">
  <div class="twelve columns">

    <h2 class="fieldset-title">Example Form</h2>
    <form id="test-form" autocomplete="off" data-validate-on="submit">

       <div class="field">
        <label class="required" for="email-address-ok">Email Address <span class="audible">Required</span></label>
        <input type="text" id="email-address-ok" name="email-address-ok" data-validate="required" value="someone@someplace.com">
      </div>

      <div class="field">
        <label class="required" for="credit-card">Credit Card <span class="audible">Required</span></label>
        <input type="text" id="credit-card" name="credit-card" data-validate="required" value="xxxx-xxxx-xxxx-xxxx">
      </div>

      <div class="field">
        <label class="required" for="date-field" >Date Field <span class="audible">Required</span></label>
        <input id="date-field-normal" class="datepicker" name="date-field" type="text" data-validate="required date">
        <!-- data-validation-events="{'required': 'change blur keypress', 'date' : 'change blur'}"-->
      </div>

      <button type="submit" id="test1" class="btn-primary" disabled>Submit</button>
    </form>

  </div>
</div>
