<div class="row top-padding">
  <div class="six columns">

    <h2>Input Test:  Short Fields</h2>
    <p>Tests the use of validation on short field types</p>
    <p></p>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <hr class="fieldset-hr" />
    <h2 class="fieldset-title">Normal Input Fields</h2>

  </div>
</div>

<div class="row">
  <div class="five columns">

    <label for="input-custom">Custom</label>
    <div class="field-short">
      <input data-validate="test" id="input-custom" style="width: 40px;" />
    </div>

    <label for="input-xs">input-xs</label>
    <div class="field-short">
      <input data-validate="test" id="input-xs" class="input-xs" />
    </div>

    <label for="input-sm">input-sm</label>
    <div class="field-short">
      <input data-validate="test" id="input-sm" class="input-sm" />
    </div>

  </div>
</div>
