
<div class="row">
   <div class="twelve columns">
      <fieldset class="radio-group">
         <legend>Select delivery method</legend>
         <input type="radio" class="radio" name="options" id="option1" value="option1" />
         <label for="option1" class="radio-label">Option One</label>
         <br>
         <input type="radio" class="radio" name="options" id="option2" value="option1" checked />
         <label for="option2"  class="radio-label">Option Two</label>
         <br>
         <input type="radio" class="radio" name="options" id="option3" value="option3" />
         <label for="option3" class="radio-label">Option Three</label>
         <br>
         <input type="radio" class="radio" name="options" id="option4" value="delivery" />
         <label for="option4" class="radio-label">Option Four</label>
      </fieldset>

      <div class="field">
         <label for="option-label">Label</label>
         <input type="text" id="option-label" />
      </div>

      <fieldset class="radio-group">
         <legend>Select delivery method</legend>
         <input type="radio" class="radio" name="options2" id="option5" value="option1" />
         <label for="option5" class="radio-label">Option One</label>
         <br>
         <input type="radio" class="radio" name="options2" id="option6" value="option1" checked />
         <label for="option6"  class="radio-label">Option Two</label>
         <br>
         <input type="radio" class="radio" name="options2" id="option7" value="option3" />
         <label for="option7" class="radio-label">Option Three</label>
         <br>
         <input type="radio" class="radio" name="options2" id="option8" value="delivery" disabled />
         <label for="option8" class="radio-label">Option Four</label>
         <br>
         <input type="checkbox" id="inner-checkbox" class="checkbox" />
         <label class="checkbox-label" for="inner-checkbox">Checkbox (Inside Group)</label>
      </fieldset>

      <div class="field">
         <input type="checkbox" id="outer-checkbox" class="checkbox" />
         <label class="checkbox-label" for="outer-checkbox">Checkbox (Outside Group)</label>
      </div>
   </div>
</div>
