// Fileupload Uplift styles
// ===========================================

.fileupload-wrapper {
  .container {
    .file-row,
    .progress-row {
      .status-icon {
        > .icon {
          top: -3px;
        }

        button {
          .icon {
            left: 0;
            top: -4px;
          }
        }
      }
    }
  }
}

html[dir='rtl'] {
  .fileupload-wrapper {
    .container {
      .file-row,
      .progress-row {
        .status-icon {
          > .icon {
            top: -1px;
          }

          button {
            .icon {
              left: inherit;
              right: 0;
              top: -1px;
            }
          }
        }
      }
    }
  }
}
