// Personalization Elements
//================================================== //
.personalize-overlay {
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
