// Color Classes
//================================================== //

@each $name in $color-names {
  $i: index($color-names, $name);
  $color: nth($color-vars, $i);

  .#{$name} {
    background: $color;
  }

  .#{$name}-color {
    color: $color !important;
  }

  //Classes for Tags
  .#{$name}.tag {
    background: nth($color-vars, $i);
  }
}

// Css variables for Primary Colors
.primary-bg-color {
  background: $ids-color-brand-primary-base;
}

.primary-color {
  color: $ids-color-brand-primary-base !important;
}

// Palette Shapes
.palette-grid {
  display: table;
  padding: 30px 20px 20px;
  width: 100%;

  .palette-label-column {
    text-transform: lowercase;
    width: 30px;

    .palette-color {
      border: none;
    }
  }

  .palette-label-column:last-child {
    width: 100px;
  }
}

.palette-column {
  @include antialiased();

  display: table-cell;
  font-size: $ids-size-font-md;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;

  .palette-color {
    border: 1px solid $color-border-color;
    font-size: $ids-size-font-sm;
    height: 55px;
    margin: 10px;
    margin-bottom: 40px;
    width: auto;
  }

  .dark-color,
  .light-color {
    left: 5px;
    position: relative;
    top: 60px;
  }

  .palette-label {
    @include antialiased();

    display: block;
    font-size: 1.6rem;
    text-align: center;
    text-transform: none;
  }

  .palette-number {
    position: relative;
    top: 32%;
  }

  .palette-hex {
    margin-left: -10px;
  }
}

.theme-new-light,
.theme-new-dark,
.theme-new-contrast {
  .palette-column:nth-child(9) {
    display: none;
  }
}

// Personalization Colors
.personalization-bg-color {
  background-color: $ids-color-palette-white;
}

// RTL Styles
html[dir='rtl'] {
  .palette-column {
    .palette-label {
      text-align: right;
    }

    .palette-number {
      float: right;
      margin-left: 0;
      margin-right: 15px;
    }
  }
}
