// Color Classes
//================================================== //

@each $name in $color-names {
  $i: index($color-names, $name);
  $color: nth($color-vars, $i);

  .#{$name} {
    background: $color;
  }

  .#{$name}-color {
    color: $color !important;
  }

  //Classes for Tags
  .#{$name}.tag {
    background: nth($color-vars, $i);
  }
}

// Css variables for Primary Colors
.primary-bg-color {
  background: $ids-color-brand-primary-base;
}

html.theme-new-light .primary-bg-color {
  background: $ids-color-palette-azure-60;
}

html.theme-new-contrast .primary-bg-color {
  background: $ids-color-palette-azure-60;
}

html.theme-new-dark .primary-bg-color {
  background: #606066;
}

html.theme-classic-light .primary-bg-color {
  background: #368ac0;
}

html.theme-classic-contrast .primary-bg-color {
  background: #134d71;
}

html.theme-classic-dark .primary-bg-color {
  background: #50535a;
}

.alabaster {
  background-color: #fff;

  &.swatch {
    border: 1px solid #b7b7ba;
  }
}

.primary-color {
  color: $ids-color-brand-primary-base !important;
}

// Palette Shapes
.palette-grid {
  display: table;
  padding: 30px 20px 20px;
  width: 100%;

  .palette-label-column {
    text-transform: lowercase;
    width: 30px;

    .palette-color {
      border: none;
    }
  }

  .palette-label-column:last-child {
    width: 100px;
  }
}

.palette-column {
  @include antialiased();

  display: table-cell;
  font-size: $ids-size-font-md;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;

  .palette-color {
    border: 1px solid $color-border-color;
    font-size: $ids-size-font-sm;
    height: 55px;
    margin: 10px;
    margin-bottom: 40px;
    width: auto;
  }

  .dark-color,
  .light-color {
    left: 5px;
    position: relative;
    top: 60px;
  }

  .palette-label {
    @include antialiased();

    display: block;
    font-size: 1.6rem;
    text-align: center;
    text-transform: none;
  }

  .palette-number {
    position: relative;
    top: 32%;
  }

  .palette-hex {
    margin-left: -10px;
  }
}

.palette-border {
  border: none;
  border-width: 5px;
  border-style: dashed;
  height: 55px;
  width: auto;
  margin: 10px;
  margin-bottom: 40px;
  font-size: 1.6rem;
}

.palette-svg {
  font-size: 1.6rem;

  .palette-hex-svg {
    text-align: center;
    margin-top: 10px;
  }
}

.demo-center {
  display: block;
  margin: auto;
}

.theme-new-light,
.theme-new-dark,
.theme-new-contrast {
  .palette-column:nth-child(9) {
    display: none;
  }
}

// Personalization Colors
.personalization-bg-color {
  background-color: $ids-color-palette-white;
}

// Status Colors
//   Status Background Colors
.status-01 {
  background-color: $status-01-color;
}

.status-02 {
  background-color: $status-02-color;
}

.status-03 {
  background-color: $status-03-color;
}

.status-04 {
  background-color: $status-04-color;
}

.status-05 {
  background-color: $status-05-color;
}

//   Status Border Colors
.status-01-border {
  border-color: $status-01-color;
}

.status-02-border {
  border-color: $status-02-color;
}

.status-03-border {
  border-color: $status-03-color;
}

.status-04-border {
  border-color: $status-04-color;
}

.status-05-border {
  border-color: $status-05-color;
}

//   Status Colors
.status-01-color {
  color: $status-01-color;
}

.status-02-color {
  color: $status-02-color;
}

.status-03-color {
  color: $status-03-color;
}

.status-04-color {
  color: $status-04-color;
}

.status-05-color {
  color: $status-05-color;
}

// RTL Styles
html[dir='rtl'] {
  .palette-column {
    .palette-label {
      text-align: right;
    }

    .palette-number {
      float: right;
      margin-left: 0;
      margin-right: 15px;
    }
  }
}
