<div class="row">
  <div class="full column">

    <div class="palette-column">
      <span class="palette-label">Ruby</span>
      <div class="palette-color ruby01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#F4BCBC</span>
        </span>
      </div>
      <div class="palette-color ruby02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#EB9D9D</span>
        </span>
      </div>
      <div class="palette-color ruby03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#DE8181</span>
        </span>
      </div>
      <div class="palette-color ruby04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#D26D6D</span>
        </span>
      </div>
      <div class="palette-color ruby05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex">#C65F5F</span>
        </span>
      </div>
      <div class="palette-color ruby06">
        <span class="light-color">
          <span class="palette-number">6</span>
          <span class="palette-hex">#B94E4E</span>
        </span>
      </div>
      <div class="palette-color ruby07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex">#AD4242</span>
        </span>
      </div>
      <div class="palette-color ruby08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex">#A13030</span>
        </span>
      </div>
      <div class="palette-color ruby09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex">#941E1E</span>
        </span>
      </div>
      <div class="palette-color ruby10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex">#880E0E</span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Amber</span>
      <div class="palette-color amber01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#FBE9BF</span>
        </span>
      </div>
      <div class="palette-color amber02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#F8E09C</span>
        </span>
      </div>
      <div class="palette-color amber03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#F6D67B</span>
        </span>
      </div>
      <div class="palette-color amber04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#F4C951</span>
        </span>
      </div>
      <div class="palette-color amber05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex">#F2BC41</span>
        </span>
      </div>
      <div class="palette-color amber06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex">#EFA836</span>
        </span>
      </div>
      <div class="palette-color amber07">
        <span class="dark-color">
          <span class="palette-number">7</span>
          <span class="palette-hex">#EE9A36</span>
        </span>
      </div>
      <div class="palette-color amber08">
        <span class="dark-color">
          <span class="palette-number">8</span>
          <span class="palette-hex">#E4882B</span>
        </span>
      </div>
      <div class="palette-color amber09">
        <span class="dark-color">
          <span class="palette-number">9</span>
          <span class="palette-hex">#DB7726</span>
        </span>
      </div>
      <div class="palette-color amber10">
        <span class="dark-color">
          <span class="palette-number">10</span>
          <span class="palette-hex">#D66221</span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Emerald</span>
      <div class="palette-color emerald01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#D5F6C0</span>
        </span>
      </div>
      <div class="palette-color emerald02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#C3E8AC</span>
        </span>
      </div>
      <div class="palette-color emerald03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#AFDC91</span>
        </span>
      </div>
      <div class="palette-color emerald04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#9CCE7C</span>
        </span>
      </div>
      <div class="palette-color emerald05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex">#89BF65</span>
        </span>
      </div>
      <div class="palette-color emerald06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex">#76B051</span>
        </span>
      </div>
      <div class="palette-color emerald07">
        <span class="dark-color">
          <span class="palette-number">7</span>
          <span class="palette-hex">#66A140</span>
        </span>
      </div>
      <div class="palette-color emerald08">
        <span class="dark-color">
          <span class="palette-number">8</span>
          <span class="palette-hex">#56932A</span>
        </span>
      </div>
      <div class="palette-color emerald09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex">#488421</span>
        </span>
      </div>
      <div class="palette-color emerald10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex">#397514</span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Azure</span>
      <div class="palette-color azure01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#CBEBF4</span>
        </span>
      </div>
      <div class="palette-color azure02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#ADD8EB</span>
        </span>
      </div>
      <div class="palette-color azure03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#8DC9E6</span>
        </span>
      </div>
      <div class="palette-color azure04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#69B5DD</span>
        </span>
      </div>
      <div class="palette-color azure05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex">#54A1D3</span>
        </span>
      </div>
      <div class="palette-color azure06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex">#368AC0</span>
        </span>
      </div>
      <div class="palette-color azure07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex">#2578A9</span>
        </span>
      </div>
      <div class="palette-color azure08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex">#1D5F8A</span>
        </span>
      </div>
      <div class="palette-color azure09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex">#134D71</span>
        </span>
      </div>
      <div class="palette-color azure10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex">#133C59</span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Turquoise</span>
      <div class="palette-color turquoise01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#C0EDE3</span>
        </span>
      </div>
      <div class="palette-color turquoise02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#A9E1D6</span>
        </span>
      </div>
      <div class="palette-color turquoise03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#8ED1C6</span>
        </span>
      </div>
      <div class="palette-color turquoise04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#7CC0B5</span>
        </span>
      </div>
      <div class="palette-color turquoise05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex">#69ADA3</span>
        </span>
      </div>
      <div class="palette-color turquoise06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex">#579E95</span>
        </span>
      </div>
      <div class="palette-color turquoise07">
        <span class="dark-color">
          <span class="palette-number">7</span>
          <span class="palette-hex">#448D83</span>
        </span>
      </div>
      <div class="palette-color turquoise08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex">#317C73</span>
        </span>
      </div>
      <div class="palette-color turquoise09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex">#206B62</span>
        </span>
      </div>
      <div class="palette-color turquoise10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex">#0E5B52</span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Amethyst</span>
      <div class="palette-color amethyst01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#EDE3FC</span>
        </span>
      </div>
      <div class="palette-color amethyst02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#DACCEC</span>
        </span>
      </div>
      <div class="palette-color amethyst03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#C7B4DB</span>
        </span>
      </div>
      <div class="palette-color amethyst04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#B59ECA</span>
        </span>
      </div>
      <div class="palette-color amethyst05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex">#A38DB7</span>
        </span>
      </div>
      <div class="palette-color amethyst06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex">#9279A6</span>
        </span>
      </div>
      <div class="palette-color amethyst07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex">#806594</span>
        </span>
      </div>
      <div class="palette-color amethyst08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex">#6e5282</span>
        </span>
      </div>
      <div class="palette-color amethyst09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex">#5d3e70</span>
        </span>
      </div>
      <div class="palette-color amethyst10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex">#4B2A5E</span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Slate</span>
      <div class="palette-color slate01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#DEE1E8</span>
        </span>
      </div>
      <div class="palette-color slate02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#C8CBD4</span>
        </span>
      </div>
      <div class="palette-color slate03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#ABAEB7</span>
        </span>
      </div>
      <div class="palette-color slate04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#888B94</span>
        </span>
      </div>
      <div class="palette-color slate05">
        <span class="light-color">
          <span class="palette-number">5</span>
          <span class="palette-hex">#656871</span>
        </span>
      </div>
      <div class="palette-color slate06">
        <span class="light-color">
          <span class="palette-number">6</span>
          <span class="palette-hex">#50535A</span>
        </span>
      </div>
      <div class="palette-color slate07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex">#414247</span>
        </span>
      </div>
      <div class="palette-color slate08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex">#313236</span>
        </span>
      </div>
      <div class="palette-color slate09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex">#212224</span>
        </span>
      </div>
      <div class="palette-color slate10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex">#1C1819</span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Graphite</span>
      <div class="palette-color graphite01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#F0F0F0</span>
        </span>
      </div>
      <div class="palette-color graphite02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#D8D8D8</span>
        </span>
      </div>
      <div class="palette-color graphite03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#BDBDBD</span>
        </span>
      </div>
      <div class="palette-color graphite04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#999999</span>
        </span>
      </div>
      <div class="palette-color graphite05">
        <span class="light-color">
          <span class="palette-number">5</span>
          <span class="palette-hex">#737373</span>
        </span>
      </div>
      <div class="palette-color graphite06">
        <span class="light-color">
          <span class="palette-number">6</span>
          <span class="palette-hex">#5C5C5C</span>
        </span>
      </div>
      <div class="palette-color graphite07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex">#454545</span>
        </span>
      </div>
      <div class="palette-color graphite08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex">#383838</span>
        </span>
      </div>
      <div class="palette-color graphite09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex">#292929</span>
        </span>
      </div>
      <div class="palette-color graphite10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex">#1A1A1A</span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Alert</span>
      <div class="palette-color alert01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex">#E84F4F</span>
        </span>
      </div>
      <div class="palette-color alert02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex">#FF9426</span>
        </span>
      </div>
      <div class="palette-color alert03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex">#FFD726</span>
        </span>
      </div>
      <div class="palette-color alert04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex">#80CE4D</span>
        </span>
      </div>
    </div>

  </div>
</div>
