{{> includes/head}}

<body class="no-scroll">
  <a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
  {{> includes/svg-inline-refs}}

  {{> includes/applicationmenu}}
  <div class="page-container no-scroll" id="maincontent" role="main">
    <header class="header is-personalizable">
      <div class="toolbar has-more-button do-resize">
        <div class="title">
          {{#headerHamburger}}
          {{> includes/header-appmenu-trigger}}
          {{/headerHamburger}}

          {{> includes/page-title}}
        </div>

        <div class="buttonset">
          <button type="button" class="btn-icon btn-menu" id="actions" title="Add">
            <span>Add</span>
            <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
              <use href="#icon-add"></use>
            </svg>
          </button>
          <ul class="popupmenu">
            <li><a href="#" data-action="add-api"><span data-translate="text">Add</span> <span data-translate="text">Event</span>  (Api)</a></li>
            <li><a href="#" data-action="add-modal"><span data-translate="text">Add</span> <span data-translate="text">Event</span> (Modal)</a></li>
            <li><a href="#" data-action="clear"><span data-translate="text">Clear</span> <span data-translate="text">Events</span></a></li>
          </ul>
        </div>

        {{> includes/header-actionbutton}}
      </div>
    </header>
    <div class="page-container no-scroll" id="calendar-container">
      {{> content}}
    </div>
  </div>
  {{> includes/footer}}
</body>
</html>
