

<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="paging" class="label">Paging</label>
      <input id="paging" data-init="false" class="lookup" name="paging" type="text"/>
    </div>

    <div class="field">
      <label for="pagingSmall" class="label">Paging Small</label>
      <input id="pagingSmall" data-init="false" class="lookup" name="pagingSmall" type="text"/>
    </div>

    <div class="field">
      <label for="pagingSmallMinWidth" class="label">Paging Small (minWidth=640)</label>
      <input id="pagingSmallMinWidth" data-init="false" class="lookup" name="pagingSmallMinWidth" type="text"/>
    </div>

  </div>
</div>

<script>

      var columns = [];

      //Define Columns for the Grid.
      columns.push({ id: 'productId', name: 'Product Id', field: 'productId', width: 140});
      columns.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', width: 150, formatter: Formatters.Hyperlink});
      columns.push({ id: 'activity', hidden: true, name: 'Activity', field: 'activity', width: 125});
      columns.push({ id: 'quantity', name: 'Quantity', field: 'quantity', width: 125});
      columns.push({ id: 'price', name: 'Price', field: 'price', width: 125, formatter: Formatters.Decimal});
      columns.push({ id: 'orderDate', name: 'Order Date', field: 'orderDate', formatter: Formatters.Date, dateFormat: 'M/d/yyyy'});

      var columnsSmall = [];

      //Define Columns for the Grid.
      columnsSmall.push({ id: 'productName', name: 'Product Name', sortable: false, field: 'productName', formatter: Formatters.Hyperlink});
      columnsSmall.push({ id: 'price', name: 'Price', field: 'price', formatter: Formatters.Decimal});

      //Get some data via ajax
      var url = '{{basepath}}api/compressors?pageNum=1&pageSize=1000';
      $.getJSON(url, function(data) {
        //Init the Lookup with that data and paging options
        $('#paging').lookup({
            field: 'productId',
            options: {
              columns: columns,
              dataset: data.data,
              selectable: 'single',
              paging: true,
              pagesize: 5,
              toolbar: {
                results: true,
                dateFilter: false,
                keywordFilter: true,
                advancedFilter: true,
                actions: true,
                views: true,
                rowHeight: false,
                collapsibleFilter: false,
                fullWidth: true
              }
            }
        });

        //Init the Lookup with that data and paging options
        $('#pagingSmall').lookup({
            field: 'productId',
            options: {
              columns: columnsSmall,
              dataset: data.data,
              selectable: 'single',
              paging: true,
              pagesize: 5,
              toolbar: {
                results: true,
                dateFilter: false,
                keywordFilter: true,
                advancedFilter: true,
                actions: true,
                views: true,
                rowHeight: false,
                collapsibleFilter: false,
                fullWidth: true
              }
            }
        });

        //Init the Lookup with that data and paging options
        $('#pagingSmallMinWidth').lookup({
            field: 'productId',
            minWidth: 640,
            options: {
              columns: columnsSmall,
              dataset: data.data,
              selectable: 'single',
              paging: true,
              pagesize: 5,
              toolbar: {
                results: true,
                dateFilter: false,
                keywordFilter: true,
                advancedFilter: true,
                actions: true,
                views: true,
                rowHeight: false,
                collapsibleFilter: false,
                fullWidth: true
              }
            }
        });


      });
</script>
