@import './module-nav.common.scss';

// Module Nav Switcher Component
//================================================== //

.module-nav-switcher {
  @include nav-item-style;

  gap: $module-nav-switcher-button-gutter-size;
  justify-content: center;
  padding-block: $module-nav-item-padding-size;
  padding-inline: ($module-nav-item-padding-size / 2);
}

.module-nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-nav-section.role-dropdown {
  display: none;

  // IDS Dropdown
  .dropdown-wrapper {
    max-width: ($module-nav-submenu-size - $module-nav-gutter-size);
    margin-bottom: 0;
  }
}

// Reset location of icon in Module Switcher button (user defined?)
.module-nav-section.module-btn {
  .btn-icon {
    // Reset size
    font-size: 0;
    height: $module-nav-switcher-button-size;
    min-height: 0;
    min-width: 0;
    width: $module-nav-switcher-button-size;
  }
}

// =====================================================
// Display Mode: Collapsed

.module-nav-container.mode-collapsed {
  .module-nav-switcher {
    justify-content: center;
  }
}

// =====================================================
// Display Mode: Expanded

.module-nav-container.mode-expanded {
  .module-nav-section.role-dropdown {
    display: block;
  }
}
