@import './module-nav.common.scss';

// Module Nav Component
//================================================== //

.module-nav-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 0;
  width: 100%;
  height: 100%;

  .page-container {
    position: static;
  }

  // =====================================================
  // Display Mode: Hidden

  &:not(.mode-expanded):not(.mode-collapsed) {
    .module-nav {
      pointer-events: none;
    }

    .module-nav-bar {
      display: none;
    }

    .module-nav-detail {
      display: none;
    }

    .module-nav-footer {
      display: none;
    }
  }

  // =====================================================
  // Display Mode: Collapsed/Expanded

  &.mode-collapsed,
  &.mode-expanded {
    .module-nav-bar {
      z-index: $module-nav-z-index;
    }

    &:not(.show-detail) {
      .module-nav-detail {
        display: none;
      }
    }

    &.show-detail {
      .module-nav-bar {
        border-inline-end: 1px solid $module-nav-border-color;
      }

      .module-nav-detail {
        width: $module-nav-submenu-size;
        z-index: $module-nav-z-index;
      }
    }
  }

  // =====================================================
  // Display Mode: Collapsed

  &.mode-collapsed {
    .module-nav {
      border-inline-end: 1px solid $module-nav-border-color;
    }

    .module-nav-bar {
      width: $module-nav-collapsed-size;
    }

    .module-nav-item {
      justify-content: center;
      margin-inline: $module-nav-item-margin-inline;
      padding-block: $module-nav-item-padding-size;

      > .icon {
        margin-block: auto;
        margin-inline: 0;
      }

      // Can't use `audible` here, need to retain line height
      span {
        clip: rect(0, 0, 0, 0);
        width: 1px;
        overflow: hidden;
      }
    }

    &.show-detail {
      .page-container {
        margin-inline-start: ($module-nav-submenu-size * -1);
      }
    }
  }

  // =====================================================
  // Display Mode: Expanded

  &.mode-expanded {
    border-right: 1px solid $module-nav-border-color;

    .module-nav-bar {
      width: $module-nav-expanded-size;
    }

    .module-nav-item {
      margin-inline: $module-nav-item-margin-inline;
      padding: $module-nav-item-padding-size;
      padding-inline-start: $module-nav-item-margin-inline;

      > .icon {
        margin-inline-end: $module-nav-item-icon-end-spacing;
      }
    }

    .page-container {
      margin-inline-start: ($module-nav-submenu-size * -1);
    }

    &.show-detail {
      .module-nav-detail {
        width: $module-nav-submenu-size;
      }

      .page-container {
        margin-inline-start: ($module-nav-submenu-size * -2);
      }
    }
  }

  // =====================================================
  // Display Mode: Expanded

  &:not(.pin-sections) {
    .module-nav-main {
      flex-grow: 1;
      overflow: auto;
    }
  }
}

.module-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.module-nav-bar {
  display: flex;
  flex-direction: column;
  background-color: $module-nav-bg-color;
  color: $module-nav-text-color;
  height: 100%;
}

.module-nav-detail {
  background-color: $module-nav-detail-bg-color;
  border-inline-end: 1px solid $module-nav-border-color;
  height: 100%;
}

.module-nav-item {
  @include nav-item-style;

  span {
    @include font-size(16);
  }

  &:not([disabled]):not(.is-disabled) {
    cursor: pointer;
  }

  &:hover {
    @include nav-item-box-shadow;
  }
}

.module-nav-footer {
  border-top: 1px solid $module-nav-separator-color;
  margin-block-start: $module-nav-footer-gutter-size;
  padding-block-start: $module-nav-footer-gutter-size;

  display: block;
  position: relative;
}
