@import './module-nav.common.scss';

// Module Nav Switcher Component
//================================================== //

.module-nav-switcher {
  @include nav-item-style;

  gap: ($module-nav-gutter-size * 2);
  justify-content: center;
  padding-block: $module-nav-item-padding-size;
  padding-inline: ($module-nav-item-padding-size / 2);
}

.section {
  align-content: center;
}

.section.role-dropdown {
  display: none;

  // IDS Dropdown
  .dropdown-wrapper {
    max-width: ($module-nav-submenu-size - $module-nav-gutter-size);
    margin-bottom: 0;
  }
}

// =====================================================
// Display Mode: Collapsed

.module-nav-container.mode-collapsed {
  .module-nav-switcher {
    justify-content: center;
  }
}

// =====================================================
// Display Mode: Expanded

.module-nav-container.mode-expanded {
  .section.role-dropdown {
    display: block;
  }
}
