@import './module-nav.common.scss';

// button + button borders + dropdown size
$module-nav-container-size: $module-nav-switcher-button-size + $module-nav-switcher-button-gutter-size + 2;

// Module Nav Dropdown Component
//================================================== //

.module-nav-section.role-dropdown {
  .dropdown-wrapper {
    max-width: ($module-nav-submenu-size - $module-nav-gutter-size);
    margin-bottom: 0;
  }

  div.dropdown {
    background-color: $module-nav-input-bg-color;
    border-radius: $module-nav-input-border-radius;
    border: $module-nav-input-border-width solid $module-nav-input-border-color;
    color: $module-nav-input-text-color;

    height: $module-nav-switcher-dropdown-height;
    width: ($module-nav-submenu-size - $module-nav-gutter-size - 2);

    .icon {
      color: inherit;
      margin-block-end: $module-nav-input-border-radius;
    }

    // Override top/right from Dropdown
    + .icon {
      right: 14px;
    }
  }
}

// Module Nav Dropdown List Component
//================================================== //

.dropdown-list.role-dropdown {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: $module-nav-input-text-color;

  margin-block-start: $module-nav-gutter-size;

  > .trigger {
    margin-inline-start: -33px;
    color: inherit;

    .icon {
      top: 10px;
    }
  }

  input.dropdown-search {
    background-color: $module-nav-input-bg-color;
    border-radius: $module-nav-input-border-radius;
    border: $module-nav-input-border-width solid $module-nav-input-border-color;
    color: inherit;
    height: $module-nav-switcher-dropdown-height;

    // visibly separate the input field from the list
    margin-inline-start: $module-nav-container-size;
    width: calc(100% - #{$module-nav-container-size});

    // re-align text with in-page dropdown
    padding-block-start: 7px;
    padding-block-end: 9px;
  }

  ul {
    @include dropdown-box-shadow;

    background-color: $module-nav-input-bg-color;
    border-radius: $module-nav-input-border-radius;
    border: $module-nav-input-border-width solid $module-nav-input-border-color;
    color: inherit;

    margin-block-start: $module-nav-switcher-button-gutter-size;
  }

  li {
    // height: $module-nav-switcher-dropdown-item-height;

    a {
      color: $module-nav-switcher-dropdown-item-text-color;
      margin-block: $module-nav-switcher-button-gutter-size;
    }

    &.is-focused:not(.is-disabled) {
      background-color: $module-nav-switcher-dropdown-item-focus-bg-color;

      a {
        color: $module-nav-switcher-dropdown-item-text-color;
      }
    }
  }
}

// =====================================================
// Scrollable, non-pinned (changes some component sizes)

.module-nav-accordion.has-scrollbar {
  .module-nav-section.role-dropdown {
    div.dropdown {
      width: $module-nav-switcher-dropdown-size;
    }
  }
}
