@mixin module-nav-box-shadow() {
  @include drawer-box-shadow;
}

@mixin nav-item-box-shadow() {
  @include css3(box-shadow, 0 0 8px 1px rgba(0, 0, 0, 0.16));
}

@mixin nav-item-style() {
  align-items: center;
  border-radius: 4px;
  display: flex;
}
