// Navigation Menu
//================================================== //

@mixin nav-item-box-shadow() {
  @include css3(box-shadow, 0 0 8px 1px rgba(0, 0, 0, 0.16));
}

.module-nav-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 0;
  width: 100%;
  height: 100%;

  .page-container {
    position: static;
  }

  // =====================================================
  // Display Mode: Hidden

  &:not(.mode-expanded):not(.mode-collapsed) {
    .module-nav {
      pointer-events: none;
    }

    .module-nav-bar {
      display: none;
    }

    .module-nav-detail {
      display: none;
    }
  }

  // =====================================================
  // Display Mode: Collapsed/Expanded

  &.mode-collapsed,
  &.mode-expanded {
    .module-nav-bar {
      z-index: 1;
    }

    &:not(.show-detail) {
      .module-nav-detail {
        display: none;
      }
    }

    &.show-detail {
      .module-nav-bar {
        border-inline-end: 1px solid $module-nav-border-color;
      }

      .module-nav-detail {
        @include drawer-box-shadow;

        width: $module-nav-submenu-size;
      }
    }
  }

  // =====================================================
  // Display Mode: Collapsed

  &.mode-collapsed {
    .module-nav {
      border-inline-end: 1px solid $module-nav-border-color;
    }

    .module-nav-bar {
      width: $module-nav-collapsed-size;
    }

    .module-nav-item {
      justify-content: center;
      padding-block: $module-nav-item-padding-size;

      // Can't use `audible` here, need to retain line height
      span {
        clip: rect(0, 0, 0, 0);
        width: 1px;
        overflow: hidden;
      }
    }

    &.show-detail {
      .page-container {
        margin-inline-start: ($module-nav-submenu-size * -1);
      }
    }
  }

  // =====================================================
  // Display Mode: Expanded

  &.mode-expanded {
    border-right: 1px solid $module-nav-border-color;

    .module-nav-bar {
      width: $module-nav-expanded-size;
    }

    .module-nav-item {
      padding: $module-nav-item-padding-size;

      .icon {
        margin-inline-end: $module-nav-item-text-icon-spacing;
      }
    }

    .page-container {
      margin-inline-start: ($module-nav-submenu-size * -1);
    }

    &:not(.show-detail) {
      .module-nav-bar {
        @include drawer-box-shadow;
      }
    }

    &.show-detail {
      .module-nav-detail {
        width: $module-nav-submenu-size;
      }

      .page-container {
        margin-inline-start: ($module-nav-submenu-size * -2);
      }
    }
  }
}

.module-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.module-nav-bar {
  display: flex;
  flex-direction: column;
  background-color: $module-nav-bg-color;
  color: $module-nav-text-color;
  height: 100%;
  padding: 8px;
  gap: 8px;
}

.module-nav-detail {
  background-color: $module-nav-detail-bg-color;
  border-inline-end: 1px solid $module-nav-border-color;
  height: 100%;
}

.module-nav-item {
  align-items: center;
  border-radius: 4px;
  display: flex;

  span {
    @include font-size(16);
  }

  &:not([disabled]):not(.is-disabled) {
    cursor: pointer;
  }

  &:hover {
    @include nav-item-box-shadow;
  }
}
