@import './module-nav.common.scss';

// Module Nav Settings Component
//================================================== //

/*
.module-nav-settings-btn {
  @include nav-item-style;

  flex-shrink: 0;
  gap: $module-nav-switcher-button-gutter-size;
}

// =====================================================
// Display Mode: Collapsed

.module-nav-container.mode-collapsed {
  .module-nav-settings-btn {
    justify-content: center;
  }
}

// =====================================================
// Display Mode: Expanded

.module-nav-container.mode-expanded {
  .module-nav-settings-btn {
    // display: block;
  }
}
*/
