@import './module-nav.common.scss';

// Module Nav Accordion Component
//================================================== //

.module-nav-accordion {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.accordion.panel.module-nav-accordion {
  background-color: transparent;
  border: 0;
  margin: $module-nav-accordion-gutter-size;

  // Module Nav Accordion Section
  //================================================== //

  .accordion-section {
    display: block;
  }

  // Module Nav Accordion Header
  //================================================== //

  .accordion-header {
    border-color: transparent;
    border-radius: $module-nav-gutter-size;
    border-style: solid;
    border-width: 1px;

    height: $module-nav-item-height;
    margin-block-end: $module-nav-accordion-gutter-size;

    > [class^='btn'] {
      color: inherit;

      > .icon {
        color: inherit;
      }
    }

    > a,
    > .icon {
      color: inherit;
    }

    &.is-focused {
      &:not(.hide-focus) {
        border-color: $module-nav-item-selected-text-color;
        box-shadow: none;
      }

      > a,
      > .icon {
        color: inherit;
      }
    }

    &.is-selected {
      background-color: $module-nav-item-selected-bg-color;
      color: $module-nav-item-selected-text-color;

      [class^='btn'] {
        &:focus:not(.hide-focus) {
          border-color: $module-nav-item-selected-text-color;
        }
      }

      > a,
      > .icon {
        color: inherit;
      }

      > a {
        span {
          font-weight: 700;
        }
      }
    }

    &:not(.is-disabled) {
      &:hover {
        background-color: $module-nav-item-hover-bg-color;
        color: $module-nav-item-hover-text-color;

        > a,
        > .icon {
          color: inherit;
        }

        // Override
        &.is-selected:not(.is-focused) {
          border-bottom-color: transparent;
        }
      }

      &:active {
        background-color: $module-nav-item-selected-bg-color;
        border-color: $module-nav-item-selected-text-color;
        color: $module-nav-item-selected-text-color;

        > a,
        > .icon {
          color: inherit;
        }
      }
    }

    // Override to inherit text color
    &.is-focused.is-selected {
      > [class^='btn'] .icon {
        color: inherit;
      }
    }

    // Fix padding/margin for current size
    &.has-chevron {
      > .icon + a {
        width: calc(100% - 90px);
      }
    }
  }

  // Module Nav Accordion Pane
  //================================================== //

  .accordion-pane {
    background-color: transparent;

    .accordion-header {
      height: $module-nav-item-height;

      > a {
        @include font-size(14);

        padding: 12px 0 12px 20px;
      }

      &:last-child {
        border-bottom-color: transparent;
      }

      &.is-focused {
        &:not(.hide-focus) {
          border-color: $module-nav-item-selected-text-color;
        }
      }
    }

    // 1st-level Accordion Headers that come after a pane
    + .accordion-header {
      &:last-child {
        border-top-color: transparent;
      }

      &.is-focused {
        &:not(.hide-focus) {
          border-top-color: $module-nav-item-selected-text-color;
        }
      }
    }

    // No support for 3+ layers
    .accordion-pane {
      display: none;
      pointer-events: none;
    }
  }

  // Module Nav Accordion Alignment-only rules
  // =================================================== //

  &.has-icons {
    // 2nd-level Accordion Headers
    .accordion-pane {
      .accordion-header {
        &.no-icon {
          > a {
            padding-inline-start: 49px;
          }
        }
      }
    }
  }
}

// Module Nav Accordion Component (Collapsed Mode)
//================================================== //

.module-nav-container {
  &.mode-collapsed {
    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;

      > .icon {
        position: static;
        margin: 0;
        top: auto;
      }

      .btn {
        display: none;
        pointer-events: none;
      }
    }

    .accordion-pane {
      .accordion-header,
      .accordion-pane {
        display: none;
        pointer-events: none;
      }
    }
  }
}

// Module Nav Accordion Component (Expanded Mode)
//================================================== //

.module-nav-container {
  &.mode-expanded {
    .accordion-header {
      > .icon {
        margin-inline-end: $module-nav-item-icon-end-spacing;
        margin-inline-start: $module-nav-item-icon-start-spacing;
      }
    }
  }
}
