<div class="row">
  <div class="two-thirds column">
      <div class="widget double-height">
        <div class="widget-header">
          <h2 class="widget-title">Bar Chart</h2>
        </div>
        <div class="widget-content">
          <div id="bar-example" class="axis-formatter chart-container">
          </div>
        </div>
      </div>
  </div>
</div>

<script>
$('body').on('initialized', function () {

 var dataset = [{
    data:  [
    //  {'name': 'Lee Hogan', 'value': 1101061117},
      {'name': 'Dan Barret', 'abbrName': 'Dan Barret', 'shortName': 'Dan Barret', 'value': 1105272},
      {'name': 'Ed Martinez', 'abbrName': 'Ed Martinez', 'shortName': 'Ed Martinez', 'value': 773456},
      {'name': 'Linda Walsh', 'abbrName': 'Linda Walsh', 'shortName': 'Linda Walsh', 'value': 752648},
      {'name': 'Cathy Hughes', 'abbrName': 'Cathy Hughes', 'shortName': 'Cathy Hughes', 'value': 274582},
      {'name': 'Kim Lee', 'abbrName': 'Kim Lee', 'shortName': 'Kim Lee', 'value': 143623},
      {'name': 'Derek Murray', 'abbrName': 'Derek Murray', 'shortName': 'Derek Murray', 'value': 91783},
      {'name': 'Manuel Fuentes', 'abbrName': 'Manuel Fuentes', 'shortName': 'Manuel Fuentes', 'value': 79700},
      {'name': 'Georgine Ekels', 'abbrName': 'Georgine Ekels', 'shortName': 'Georgine Ekels', 'value': 79594},
      {'name': 'Hans Stichler', 'abbrName': 'Hans Stichler', 'shortName': 'Hans Stichler', 'value': 68719},
      {'name': 'Rajeev Mitra', 'abbrName': 'Rajeev Mitra', 'shortName': 'Rajeev Mitra', 'value': 41814},
      {'name': 'Jean Grant', 'abbrName': 'Jean Grant', 'shortName': 'Jean Grant', 'value': 14153},
      {'name': 'Agnes Kumer', 'abbrName': 'Agnes Kumer', 'shortName': 'Agnes Kumer', 'value': 11612},
      {'name': 'Administrator', 'abbrName': 'Administrator', 'shortName': 'Administrator', 'value': 10330},
      {'name': 'Brian McNulty', 'abbrName': 'Brian McNulty', 'shortName': 'Brian McNulty', 'value': 3812},
      {'name': 'Ken Dryden', 'abbrName': 'Ken Dryden', 'shortName': 'Ken Dryden', 'value': 0},
      {'name': 'Lou Pizzutti', 'abbrName': 'Lou Pizzutti', 'shortName': 'Lou Pizzutti', 'value': 0},
      {'name': 'John Smith', 'abbrName': 'John Smith', 'shortName': 'John Smith', 'value': 0}
    ],
    name:  ''
  }];

  $('#bar-example').chart({
      type:  'bar',
      dataset:  dataset,
      showLegend:  false,
      ticks: {largeNumber: 10, mediumNumber: 5, smallNumber: 3, format: ',.1s'}});

});
</script>
