// Builder Pattern
//==================================================//
// NOTE:  Duplicates some CSS from the List/Detail pattern in 'controls/_layouts.scss', could be more DRY

// has similar properties to a "scrollable" .page-container
.page-container.builder {

  // Both main areas are scrollable-y
  .main,
  .sidebar {
    display: inline-block;
    height: 100%;
  }

  .sidebar {
    width: 250px;

    // remove the Listview's default BG color when used inside a builder sidebar
    .listview {
      background-color: transparent;
    }
  }

  .main {
    width: calc(100% - 253px);
  }

}

.builder-pane {
  height: 100%;
}

.builder-header {
  min-height: 80px;

  .toolbar {
    margin: 0 20px;
    padding-top: 10px;
  }

  .panel-title {
    @include font-size(20);
    line-height: 1.2;
  }

  .panel-subhead {
    @include font-size(15);
    line-height: 1;
  }

  [class^="btn-"] {
    color: $white;

    > span:not(.audible) {
      color: $white;
    }

    > .icon {
      fill: $white;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    color: $white;
  }

  .btn-menu,
  .btn-tertiary,
  .btn-icon,
  .btn-actions {
    &:focus:not(.hide-focus) {
      box-shadow: 0 0 0 2px transparent, 0 0 0 1px $white;

      &:hover {
        box-shadow: 0 0 0 2px transparent, 0 0 0 1px $white;

        > .icon {
          fill: $white;
        }
      }
    }

    &:hover {
      color: $white;

      > .icon {
        fill: $white;
      }
    }
  }
}

.builder-content {
  height: calc(100% - 80px);
}

.builder-actions,
.builder-sidebar {
  display: inline-block;
  height: 100%;
  padding-top: 10px;
  vertical-align: top;
}

.builder-actions {
  background-color: $white;
  width: calc(100% - 323px);

  > .listview {
    overflow: visible;
  }
}

.builder-actions-header,
.builder-sidebar-header {
  height: 50px;
  margin: 0 20px;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  // vertical alignment fix
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 1px;
  }
}

.builder-actions-content {
  margin: 10px 20px;
}

.builder-sidebar {
  width: 320px;

  > .modal-buttonset {
    margin: 0 -20px;
  }
}

.builder-sidebar-content {
  height: calc(100% - 150px);

  > .listview {
    height: 100%;
  }
}

.builder-sidebar-footer {
  height: 80px;
  margin-top: 10px;
}

@include respond-to(phone) {
  // Animate the same way list/detail pattern works
  .page-container.builder {

    .main,
    .sidebar {
      @include transform-transition-list(300ms cubic-bezier(.17, .04, .03, .94));
      display: block;
      position: absolute;
      width: 100%;
    }

    .main {
      @include css3(transform, translateX(100%));
    }

    .sidebar {
      @include css3(transform, translateX(0));
    }

    &.show-detail {
      .main {
        @include css3(transform, translateX(0));
      }

      .sidebar {
        @include css3(transform, translateX(-100%));
      }
    }

  }
}

// Inside the builder pane, the cart will show up as a popupmenu when on Tablet view-size and lower, so hide the cart
@include respond-to(tabletdown) {

  .builder-actions {
    display: block;
    width: auto;
  }

  .builder-sidebar {
    display: none;
  }

}
