// Full List Page Pattern
//================================================== //

.full-width {
  padding: 30px;
  width: 100%;

  &.contained {
    height: inherit;
  }

  &.no-padding {
    margin: 0;
  }
}

.full-height {
  height: calc(100% - 60px);
  margin: 30px;
  overflow: hidden;

  &.full-width {
    padding: 0;
    width: calc(100% - 60px);
  }

  &.no-padding {
    margin: 0;
  }
}

.tab-panel > .full-width {
  padding-top: 0;
}

.toolbar + .full-width {
  padding-top: 0;
}
