// Full List Page Pattern
//================================================== //

.full-width {
  padding: 30px;
  width: calc(100% - 60px);

  &.contained {
    height: inherit;
  }

  &.no-padding {
    margin: 0;
  }
}

.content .full-width {
  padding: 0 20px;
  width: 100%;
}

.full-height {
  height: calc(100% - 60px);
  margin: 30px;
  overflow: hidden;
}

.tab-panel > .full-width {
  margin-top: 0;
}
