
// Form - List - Footer or Form - List Contained Pattern
//================================================== //
.header-detail {
  height: 100%;
  position: relative;

  &.contained,
  .contained {
    height: inherit;
  }

  .header {
    background-color: $panel-bg-color;
    height: 50%;

    .content {
      background-color: $panel-bg-color;
    }
  }

  .detail {
    background-color: $body-bg-color;
    border-top: 1px solid $panel-border-color;
    height: 50%;
  }
}
