// Form - List - Footer or Form - List Contained Pattern
//================================================== //
.header-detail {

  &.contained,
  .contained {
    height: inherit;
  }

  .header {
    background-color: $panel-bg-color;
    display: initial;

    .content {
      background-color: $panel-bg-color;
      padding: 30px;
    }
  }

  .detail {
    background-color: $body-bg-color;
    border-bottom: 1px solid $panel-border-color;
  }
}
