// Home Page Pattern
//==================================================//
.card,
.widget {
  background-color: $cardlist-bg-color;
  border: 1px solid $cardlist-border-color;
  border-radius: 2px;
  margin-bottom: 20px;
  min-height: 360px;
  position: relative;
  width: 100%;

  .card-header,
  .card-footer,
  .widget-header,
  .widget-footer {
    background-color: $cardlist-header-bg-color;
    padding: 13px 20px;
    position: relative;
  }

  .card-header,
  .widget-header {

    border-bottom: 1px solid $cardlist-border-color;
    height: 50px;
    line-height: 50px;

    &.has-toolbar {
      padding: 0 13px 0 20px;

      .toolbar {
        line-height: normal;
      }

      .title {
        @include font-size(18);
        color: $cardlist-header-color;
        -webkit-font-smoothing: antialiased;
        font-weight: 100;
        margin: 0;
        text-rendering: optimizeLegibility !important;
        padding-top: 8px;
      }

      //Prevent FOUC
      .searchfield {
        border: 1px solid transparent;
      }

      .searchfield-wrapper {
        margin: 8px 5px 5px 0;
      }

      .buttonset {
        > *:not(.searchfield-wrapper) {
          margin-top: 6px;
        }
      }

      .more {
        > * {
          margin-top: 6px;
        }
      }
    }

    [class^="btn"] {
      color: $listview-toolbar-button-text-color;

      span {
        color: $listview-toolbar-button-text-color;
      }

      .icon {
        fill: $listview-toolbar-button-icon-color;
      }

      &:focus,
      &:hover {
        color: $listview-toolbar-button-text-hover-color;

        span {
          color: $listview-toolbar-button-text-hover-color;
        }

        .icon {
          fill: $listview-toolbar-button-icon-hover-color;
        }
      }

      &.is-selected,
      &.is-selected:focus,
      &.is-selected:hover {
        color: $listview-toolbar-button-text-selected-color;
        box-shadow: 0 0 0 2px transparent, 0 0 0 1px $listview-toolbar-button-text-selected-color;

        span {
          color: $listview-toolbar-button-text-selected-color;
        }

        .icon {
          fill: $listview-toolbar-button-icon-selected-color;
        }
      }
    }

    > h2,
    > h1,
    > button {
      display: inline-block;
      float: left;
    }

    .btn-actions {
      background-color: $cardlist-header-bg-color;

      svg {
        fill: $cardlist-actions-color;
      }

      .audible {
        color: $cardlist-actions-color;
      }
    }

    &:not(.has-toolbar) > .btn-actions {
      line-height: normal;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 18px;
      top: 7px;

      svg {
        top: -1px;
      }
    }
  }

  .widget-content,
  .card-content {
    height: 318px;
    min-height: 318px;
    overflow: auto;
  }

  .card-footer,
  .widget-footer {
    border-top: 1px solid $cardlist-border-color;
    min-height: 50px;
  }
}

// Different Widget Heights and Widths

.homepage {
  margin: 0 auto;
  padding: 20px 0;
  position: relative;

  .card,
  .widget {
    height: 370px;
    left: 0;
    position: absolute;
    top: 0;
    width: 360px;

    &:last-child::after {
      content: '';
      display: inline-block;
      height: 20px;
      position: absolute;
      top: 370px;
      width: 10px;
    }
  }

  > .content {
    left: 50%;
    margin-left: -500px;
    position: absolute;
  }
}

.header + .homepage,
.header + nav + .homepage {
  height: calc(100% - 80px);
  margin-top: 0 !important;
  overflow: scroll;
}

.card.double-height,
.widget.double-height {
  height: 760px;

  .widget-content,
  .card-content {
    height: 708px;
    min-height: 708px;
    overflow: auto;
  }
}

.card.auto-height,
.widget.auto-height {
  height: auto;

  .widget-content,
  .card-content {
    height: auto;
    min-height: auto;
    overflow: none;
  }

  .chart-container {
    min-height: 270px;
  }
}

.card.double-width.to-single,
.widget.double-width.to-single,
.card.triple-width.to-single,
.widget.triple-width.to-single,
.card.quad-width.to-single,
.widget.quad-width.to-single {
  width: 360px; // 320 (single)
}

.card.double-width,
.widget.double-width,
.card.triple-width.to-double,
.widget.triple-width.to-double,
.card.quad-width.to-double,
.widget.quad-width.to-double {
  width: 740px; // 660 (double: 380 + single)
}

.card.triple-width,
.widget.triple-width,
.card.quad-width.to-triple,
.widget.quad-width.to-triple {
  width: 1120px; //1000 (triple: 380 + double)
}

.card.quad-width,
.widget.quad-width {
  width: 1500px; //1340 (quad: 380 + triple)
}

.card.half-height,
.widget.half-width {
  height: 270px;
  min-height: 270px;

  .card-content,
  .widget-content {
    height: 216px;
    min-height: 216px;
  }
}

// Centering
.widget-content.l-center,
.card-content.l-center {
  overflow: hidden;
  text-align: center;
}

//RTL Styles
html[dir='rtl'] {
  .card,
  .widget {

    .card-header,
    .widget-header {

      &.has-toolbar {
        padding: 0 20px 0 13px;

        .searchfield-wrapper {
          margin: 8px 0 5px 5px;
        }
      }

      > button {
        float: right;
      }
      > h2,
      > h1 {
        float: right;
        width: 100%;
      }

      &:not(.has-toolbar) > .btn-actions {
        left: 18px;
        right: auto;
      }
    }
  }
}
