// Home Page Pattern
//==================================================//

.homepage {
  margin-bottom: 20px;
  margin-top: 20px;
}

.card,
.widget {
  background-color: $cardlist-bg-color;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  margin-bottom: 20px;
  min-height: 360px;
  position: relative;
  width: 100%;

  .card-header,
  .widget-header {
    background-color: $cardlist-bg-color;
    border-bottom: 1px solid #d8d8d8;
    height: 50px;
    line-height: 50px;
    padding: 13px 20px;
    position: relative;
    z-index: 11;

    > h2,
    > h1,
    > button {
      display: inline-block;
      float: left;
    }

    > .btn-actions {
      background-color: $actionbutton-bg-color;
      float: none;
      position: absolute;
      right: 10px;
      top: 9px;
    }
  }

  .widget-content,
  .card-content {
    height: 310px;
    min-height: 310px;
    overflow: auto;
  }
}

// Double and Triple Height Widths
.double-height {
  height: 740px;
  min-height: 740px;

  .widget-content,
  .card-content {
    height: 680px;
    min-height: 680px;
  }
}

.double-width {
  position: absolute;
  width: calc(66.66% - 40px);
}

.triple-height {
  height: 1120px;
  min-height: 1120px;

  .widget-content,
  .card-content {
    height: 1070px;
    min-height: 1070px;
  }
}

// Centering
.widget-content.l-center,
.card-content.l-center {
  text-align: center;
}

