// Home Page Pattern
//==================================================//

.homepage {
  margin: 20px;
}

.widget {
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  margin: 30px;
  min-height: 250px;
  overflow: auto;
  resize: both;

  .widget-header {
    border-bottom: 1px solid #e8e8e8;
    height: 48px;
  }
}

