// List Detail Pattern
//================================================== //

// Common design between List/Detail and Builder Patterns
.list-detail {
  font-size: 0;
  height: 100%;

  .main,
  .sidebar {
    position: relative;
  }

  .main {
    background-color: $panel-bg-color;
    border-left: 0;

    &.alternate {
      background-color: $body-bg-color;
    }
  }

  .sidebar {
    border-right: 0;
    height: 100%;

    .listview,
    .listview-search {
      border-right: 1px solid $panel-border-color;
    }

    .header {
      border-right: 1px solid $header-border-color;

      .toolbar {
        padding-right: 5px;
      }

      &.azure07 {
        border-right: 1px solid $azure09;
      }

      .title {
        width: calc(100% - 41px);
      }

      .buttonset {
        width: 40px;
      }
    }

    .pager-toolbar {
      border-top: 1px solid $panel-border-color;
      margin: 0;
      position: relative;
    }

    .pager-prev,
    .pager-next {
      position: absolute;
    }

    .pager-prev {
      left: 10px;
    }

    .pager-next {
      right: 10px;
    }

    .expandable-area {
      border-right: 1px solid $panel-border-color;
    }
  }

  .header + .sidebar {
    height: calc(100% - 60px);

    .listview-search + .listview.paginated {
      height: calc(100% - 87px);
    }

    .pager-toolbar {
      border-right: 1px solid $panel-border-color;
    }

    .listview.paginated {
      height: calc(100% - 77px);
    }

  }

  .toolbar {

    .searchfield-wrapper {
      width: 35px;

      input {
        color: transparent;
        transition: none !important;
      }

      &.is-open {
        width: 220px;

        + .title {
          opacity: 0;
        }
      }

      .close {
        right: 5px !important;
      }
    }
  }

}

.list-detail-back-button {
  display: none;
}

// In List-Detail View, Main/Sidebar slide left/right instead of being stacked
@include respond-to(phone) {

  .list-detail {
    .main,
    .sidebar {
      @include transform-transition-list(300ms cubic-bezier(.17, .04, .03, .94));
      position: absolute;

      &.scrollable,
      &.scrollable-y {
        height: 100%;
        overflow: auto;
      }
    }

    .main {
      @include css3(transform, translateX(100%));
    }

    .sidebar {
      @include css3(transform, translateX(0));
    }

    &.show-detail {
      .main {
        @include css3(transform, translateX(0));
      }

      .sidebar {
        @include css3(transform, translateX(-100%));
      }
    }
  }

  .list-detail-back-button {
    display: inline-block;
  }

  // Remove excess left-margin in this scenario
  .header .toolbar .title .list-detail-back-button + h1 {
    margin-left: 0;
  }

  //Make this color target specifically header
  .header .searchfield-wrapper:not(.context) input {
    color: $header-text-color;
  }
}
