// Search Results Pattern
//================================================== */

.container.search-results {
  margin-top: 3em;

  .masthead {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    color: $sr-masthead-text-color;
    height: 44px;
    margin-bottom: 3em;
    overflow: visible;
    position: relative;
    width: auto;

    &.toolbar {

      .title {

        > * {
          vertical-align: top;
        }
      }

    }

    [class^="btn-"]:hover,
    [class^="btn-"]:focus {
      box-shadow: 0 0 0 2px transparent, 0 0 0 1px $font-color-highcontrast;
      color: $font-color-highcontrast;

      svg {
        fill: $font-color-highcontrast;
      }
    }

    .icon-sohoxi {
      margin-right: 12px;
    }

    .masthead-square {
      background-color: $sr-masthead-text-color;
      min-width: 0;
    }

    .masthead-appname {
      @include font-size(24);
      color: $sr-masthead-text-color;
      line-height: 34px;
      margin-left: -5px;
    }

    .icon {
      fill: $sr-masthead-text-color;
    }

    .btn-icon .icon {
      height: 19px;
      top: -3px;
    }
  }

  input.search {
    @include font-size(72);
    border: 0;
    color: $primary-color;
    font-weight: 100;
    padding: 9px 20px 8px;
    width: 100%;

    &::-webkit-input-placeholder {
      @include antialiased();
      @include font-size(60);
      color: $graphite03;
      font-weight: lighter;
      line-height: 72px;
    }

    // scss-lint:disable VendorPrefix
    &::-moz-placeholder {
      @include antialiased();
      @include font-size(60);
      color: $graphite03;
      font-weight: lighter;
      line-height: 72px;
    }
    // scss-lint:enable VendorPrefix

    &:focus {
      border-color: transparent;
      box-shadow: none;
    }

    &:-ms-input-placeholder {
      @include antialiased();
      @include font-size(60);
      color: $graphite03;
      font-weight: lighter;
      line-height: 72px;
    }

  }

  .search-result {
    border-bottom: 1px solid $sr-result-bottom-border-color;
    margin-bottom: 3rem;
    padding-bottom: 3rem;

    &.none {
      @include font-size(18);
      border-bottom: 0;
      text-align: center;
    }

    > * {
      display: inline-block;
    }

    .type {
      @include font-size(14);
      color: $sr-masthead-item-color;
      line-height: 1.5em;
    }

    .description,
    .description > a {
      @include font-size(18);
      color: $primary-color;
      line-height: 1.5em;
      text-decoration: none;
    }

    .detail {
      @include font-size(14);
      line-height: 1.5em;
      margin-right: .3em;

      + span {
        @include font-size(16);
        color: $font-color-extrahighcontrast;
        line-height: 1.5em;
      }
    }

    .date {
      @include font-size(14);
      line-height: 1.5em;
    }

    .related-business-object {
      @include font-size(12);
      color: $emerald06;
      margin-top: 1rem;

      > * {
        margin-right: -6px;
        vertical-align: middle;
      }
    }

    .icon-bo {
      height: 1.6em;
      left: -.4em;
    }

    .stamp-text {
      line-height: 1.2rem;
      margin-bottom: 0;
    }

  }
}

// scss-lint:disable ImportantRule
@include respond-to(phone) {
  input.search {
    &::-webkit-input-placeholder {
      font-size: 3.8rem !important;
      line-height: 72px;
    }

    // scss-lint:disable VendorPrefix
    &::-moz-placeholder {
      font-size: 3.8rem !important;
    }
    // scss-lint:enable VendorPrefix

    &:-ms-input-placeholder {
      font-size: 3.8rem !important;
    }
  }
}
// scss-lint:enable ImportantRule

@include respond-to(large) {
  .slider-wrapper {
    margin: 25px 3% 50px;
    width: 94%;
  }
}
