// Sign In Page Pattern
//================================================== //

.wrapper {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.signin {
  display: table-cell;
  margin-top: -100px;
  text-align: center;
  vertical-align: middle;
  width: 300px;

  .field::after {
    clear: both;
    content: '';
    display: block;
  }

  label {
    text-align: left;
  }

  .checkbox-label {
    float: left;
    top: -6px;
  }

  h1 {
    @include font-size(24);
    color: $signin-title-color;
    margin-bottom: 30px;
    margin-top: -20px;
    padding: 0;
    text-align: center;
  }

  input[name='password'] {
    display: none;
  }

  &.sent h1,
  &.sent p {
    margin: 0;
  }

  .hyperlink {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
  }

  .btn-primary,
  input {
    width: 100%;
  }

  .dropdown-wrapper {
    width: 100%;
  }

  .icon-logo {
    display: block;
    height: 90px;
    margin: 0 auto 40px;
    width: 90px;
  }

  .error-message {
    .message-text {
      text-align: left;
    }
  }

}

// scss-lint:disable ImportantRule
.ios .signin .icon-error,
.ios .signin .icon-confirm {
  top: 26.5px !important;
}
// scss-lint:enable ImportantRule

.password-hint {
  strong {
    font-weight: bold;
  }

  li {
    list-style: inside;
  }
}
