// Sign In Page Pattern
//================================================== //

.wrapper {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.signin {
  display: table-cell;
  margin-top: -100px;
  vertical-align: middle;
  text-align: center;
  width: 300px;

  label {
    text-align: left;
  }

  h1 {
    @include font-size(24);
    color: #454545;
    margin-bottom: 30px;
    margin-top: -20px;
    padding: 0;
    text-align: center;
  }
  &.sent h1,
  &.sent p {
    margin: 0;
  }

  .hyperlink {
    display: inline-block;
    padding-top: 20px;
    text-align: center;
  }

  .field,
  .btn-primary,
  input {
    width: 100%;
  }

  .icon-logo {
    display: block;
    height: 90px;
    margin: 0 auto 40px;
    width: 90px;
  }
}

.password-hint {
  strong {
    font-weight: bold;
  }
  li {
    list-style: inside;
  }
}
