/* Sign In Page Pattern
================================================== */
.wrapper {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.signin {
  width: 300px;
  display: table-cell;
  vertical-align: middle;

  h1 {
    text-align: center;
    @include rem(padding, 2rem);
    padding-top: 0;
  }

  .forgot {
    float: right;
  }

  .btn-default {
    width: 100%;
  }

  .small-text {
    text-align: center;
    text-transform: uppercase;
    display: block;
    @include rem(padding-top, 4rem);
  }

  .icon-logo {
    margin: 0 auto;
    display: block;
  }

  .icon-error {
    float: right;
    left: 100% !important;
    margin-left: -23px;
    position: absolute !important;
    top: 9px !important;
    width: 16px !important;
  }

}



