// Tree - Steps
// Use styles to conver the tree to a stepped wizard
//==================================================//


.step-process-container {

  // Additional custom toolbar styles
  .toolbar-custom {
    background-color: $panel-bg-color;
    border-bottom: solid 2px $panel-border-color;
    height: 60px;
    position: relative;

    .title {
      &.title-wide {
        width: 98%;
      }
    }

    .heading {
      @include font-size(18);
      color: $font-color-extrahighcontrast;
      display: table-cell;
      height: 60px;
      padding-left: 20px;
      vertical-align: middle;

      small {
        @include font-size(14);
        display: block;
        margin: 2px 0 0;
        padding: 0;
        text-transform: capitalize;
      }
    }

    .actions {
      position: absolute;
      right: 0;
      top: 13px;
    }

    .btn-toggle-steps {
      left: 10px;
      position: absolute;
      top: 13px;
    }
  }

  .tree {
    height: 100%;
    margin: 0;
    overflow: auto;
    width: 100%;

    li {

      // Selected State (similar to accordion)
      &.is-selected,
      &.is-selected:hover,
      &.is-selected.is-focused {
        background-color: $accordion-selected-bg-color;
        border-bottom-color: $accordion-selected-bg-color;
        color: $accordion-selected-text-color;

        > a {
          .tree-text {
            color: $accordion-selected-text-color;
          }

          .icon,
          .icon-confirm,
          .icon-error {
            fill: $accordion-selected-text-color !important;
          }
        }
      }

      > a {
        // Borrow some accordion styles
        background-color: transparent;
        border-bottom: 1px solid $accordion-border-color;
        border-radius: 0;
        border-top: 1px solid transparent;
        cursor: pointer;
        display: block;
        height: 45px;
        line-height: 45px;
        margin-left: 0;
        padding: 0 15px;
        position: relative;

        .icon {
          // Position new alert icon for step "status"
          &.step-alert {
            margin-right: 11px;
            position: relative;
            top: calc(50% - 8px);
          }

          // Hide normal tree icons
          &.icon-tree {
            display: none;
          }
        }

        // Focus State
        &:not(.hide-focus):focus {
          border: 1px solid $tree-focus-border-color;
        }


      }
    }

    // Show the caret icons for folder nodes
    li.folder > a {
      .icon-tree {
        display: block;
        height: 28px;
        position: absolute;
        right: 15px;
        top: calc(50% - 14px);
        width: 28px;
      }
    }

    // Unindent and tweak the lower tree lists
    ul {
      left: 0;
      top: 0;

      li {
        margin: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    // Style the background of the tree folder contents
    ul.folder {
      background-color: $accordion-pane-bg-color;
      padding: 0;
    }
  }

  // Style the container and step content panels
  .step-container {
    height: calc(100% - 60px);
    padding: 15px 30px;

    .js-step-panel {
      display: none;

      &.step-panel-active {
        display: block;
      }
    }
  }

  .js-step-links-scroll {
    height: 100%;
    overflow: auto;
  }

  .btn-toggle-steps,
  .phone-visible {
    display: none;
  }
}

@include respond-to(tablet) {
  .step-process-container {
    .sidebar,
    .main {
      @include transform(translateX(0));
    }

    &.tablet-hide-steps {
      .main {
        position: absolute;
        width: 100%;
      }

      .sidebar,
      .main {
        @include transform(translateX(-250px));
      }
    }
  }
}

@include respond-to(tabletdown) {
  .step-process-container {
    .main,
    .sidebar {
      @include transform-transition-list(300ms cubic-bezier(.17, .04, .03, .94));
    }

    .main .btn-toggle-steps {
      display: inline-block;
    }

    .toolbar-custom .heading {
      padding-left: 60px;
    }

    .toolbar-collapsible {
      @include transition(margin-top 300ms cubic-bezier(.17, .04, .03, .94));
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .js-step-container-scroll {
      height: 100%;
      padding-top: $header-height + 15px;
    }

    .scrolled-down .toolbar-collapsible {
      margin-top: -60px;
    }
  }
}

@include respond-to(phone) {
  .step-process-container {
    $header-height: 60px;

    .phone-visible {
      display: block;
    }

    .phone-hidden {
      display: none;
    }

    .main,
    .sidebar {
      $this-height: calc(100% - #{$header-height});
      position: absolute;
      height: $this-height;
      min-height: $this-height !important;
      height: 100%;
    }

    .sidebar {
      @include css3(transform, translateX(0));
      display: block !important;

      .tree {
        padding-top: 60px;
      }
    }

    .main {
      @include css3(transform, translateX(100%));

      .toolbar .title {
        width: auto;
      }
    }

    &.phone-hide-steps {
      .main {
        @include css3(transform, translateX(0));
        width: 100%;
      }

      .sidebar {
        @include css3(transform, translateX(-100%));
      }
    }

    .toolbar-custom .actions {
      display: none;
    }

    .js-step-links-scroll {
      top: $header-height;
      padding-top: $header-height;
    }

    .js-step-container-scroll {
      height: calc(100% - #{$header-height});
    }

    .phone-action-bar {
      position: absolute;
      bottom: 0;
      width: 100%;

      button {
        border-radius: 0;
        display: inline-block;
        height: $header-height;
        width: 50%;
        margin: 0;
      }
    }
  }
}
