// Stepped Process Pattern
//  ** Note that some styles are in _accordion.scss
//==================================================//

.soho-step-process {

  // Borrow and tweak some accordion styles for consistency
  .step-process-accordion.accordion.panel {
    border-color: transparent;

    .step-process-item {
      border: 1px solid transparent;
      border-bottom-color: $accordion-border-color;
      cursor: pointer;
      font-size: 0;
      height: 45px;
      overflow: hidden;
      position: relative;
      -webkit-touch-callout: none;
      -webkit-user-select: none;

      > * {
        vertical-align: middle;
      }

      &:focus,
      &.is-focused {
        border-color: $accordion-selected-bg-color;
      }

      a {
        color: inherit;
        @include font-size(14);
        text-decoration: none;
        text-overflow: ellipsis;
      }

      > a {
        display: inline-block;
        overflow: hidden;
        padding: 13px 0 13px 54px;
        white-space: nowrap;
        width: calc(100% - 56px);
      }

      > .icon {
        color: $white;
        fill: $accordion-icon-color;
        height: 16px;
        margin: 0 18px;
        top: -1px;
        width: 18px;

        & + a {
          padding-left: 0;
        }
      }

      &.is-disabled {
        background-color: $accordion-disabled-bg-color !important;
        color: $accordion-disabled-text-color !important;

        a {
          color: $accordion-disabled-text-color !important;
        }

        .icon {
          fill: $accordion-disabled-text-color !important;
        }
      }

      &.is-selected,
      &.is-selected:hover,
      &.is-selected.is-focused {
        background-color: $accordion-selected-bg-color;
        border-bottom-color: $accordion-selected-bg-color;
        color: $accordion-selected-text-color;

        > a {
          color: $accordion-selected-text-color;
        }
      }
    }

    .step-process-item,
    .accordion-header {
      &.is-selected,
      &.is-selected:hover,
      &.is-selected.is-focused {
        > .icon,
        > .icon-confirm,
        > .icon-error {
          fill: $accordion-selected-text-color !important;
        }
      }
    }
  }

  // Original step process styles

  .toolbar-custom {
    border-bottom: solid 2px $panel-border-color;
    height: 60px;

    .title.title-wide {
      width: 98%;
    }

    .dual-title {
      @include font-size(18);
      color: $font-color-extrahighcontrast;
      display: inline-block;
      margin-top: 2px;

      > small {
        @include font-size(14);
        display: block;
        margin: 2px 0 0 0;
        padding: 0;
        text-transform: capitalize;
      }
    }
  }

  .btn-toggle-steps {
    display: none;
  }

  .step-panels {
    padding: 15px 30px;
    height: calc(100% - 60px);
  }

  .js-step-links-scroll {
    overflow: auto;
    height: 100%;
  }

  .js-step-process-panel {
    display: none;

    &.step-panel-active {
      display: block;
    }
  }

  .phone-visible {
    display: none;
  }
}

@include respond-to(tablet) {
  .soho-step-process {
    .sidebar,
    .main {
      @include transform(translateX(0));
    }

    &.show-main {
      .main {
        position: absolute;
        width: 100%;

        .btn-toggle-steps {
          display: inline-block;
        }
      }

      .sidebar,
      .main {
        @include transform(translateX(-250px));
      }
    }
  }
}

@include respond-to(tabletdown) {
  .soho-step-process {
    .main,
    .sidebar {
      @include transform-transition-list(300ms cubic-bezier(.17, .04, .03, .94));
    }

    .main {
      position: relative;
      width: 100%;
    }

    .collapsible-bar {
      @include transition(margin-top 300ms cubic-bezier(.17, .04, .03, .94));
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .js-step-panels-scroll {
      height: 100%;
      padding-top: $header-height + 15px;
    }

    .scrolled-down .collapsible-bar {
      margin-top: -60px;
    }
  }
}

@include respond-to(phone) {
  .soho-step-process {
    $header-height: 60px;

    .phone-visible {
      display: block;
    }

    .phone-hidden {
      display: none;
    }

    .main,
    .sidebar {
      $this-height: calc(100% - #{$header-height});
      position: absolute;
      height: $this-height;
      min-height: $this-height !important;
      height: 100%;
    }

    .main {
      @include css3(transform, translateX(100%));

      .toolbar .title {
        width: auto;
      }
    }

    .sidebar {
      @include css3(transform, translateX(0));
      border: none;

      .status-bar {
        background-color: $white;
        border-bottom: solid 2px $graphite02;
        color: $graphite08;
        height: $header-height;
        line-height: $header-height;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 0 10px;
        width: 100%;
      }
    }

    &.show-main {
      .main {
        @include css3(transform, translateX(0));
        width: calc(100% - 250px);
      }
      .sidebar {
        @include css3(transform, translateX(-100%));
      }
    }

    .btn-toggle-steps {
      display: inline-block;
    }

    .js-step-links-scroll {
      top: $header-height;
      padding-top: $header-height;
    }

    .js-step-panels-scroll {
      height: calc(100% - #{$header-height});
    }

    .phone-button-bar {
      position: absolute;
      bottom: 0;
      width: 100%;

      button {
        border-radius: 0;
        display: inline-block;
        height: $header-height;
        width: 50%;
        margin: 0;
      }
    }
  }
}
