// Stepped Process Pattern
//==================================================//

.step-process-accordion.accordion.panel {
  border-color: transparent;
}

.step-process-container {
  .step-panel-example {
    display: none;
  }

  .step-panel-active {
    display: block;
  }
}

@include respond-to(tabletdown) {

}
