// Stepped Process Pattern
//  ** Note that some styles are in _accordion.scss
//==================================================//

.soho-step-process {

  // Borrow and tweak some accordion styles for consistency
  .step-process-accordion.accordion.panel {
    border-color: transparent;

    .step-process-item {
      border: 1px solid transparent;
      border-bottom-color: $accordion-border-color;
      cursor: pointer;
      font-size: 0;
      height: 45px;
      overflow: hidden;
      position: relative;
      -webkit-touch-callout: none;
      -webkit-user-select: none;

      > * {
        vertical-align: middle;
      }

      a {
        color: inherit;
        @include font-size(14);
        text-decoration: none;
        text-overflow: ellipsis;
      }

      > a {
        display: inline-block;
        overflow: hidden;
        padding: 13px 0 13px 54px;
        white-space: nowrap;
        width: calc(100% - 56px);
      }

      > .icon {
        fill: $accordion-icon-color;
        height: 16px;
        margin: 0 18px;
        top: -1px;
        width: 18px;

        &.plus-minus {
          &::before,
          &::after {
            background-color: $accordion-disabled-text-color !important;
          }
        }

        & + a {
          padding-left: 0;
        }
      }

      &.is-disabled {
        background-color: $accordion-disabled-bg-color !important;
        color: $accordion-disabled-text-color !important;

        a {
          color: $accordion-disabled-text-color !important;
        }

        .icon {
          fill: $accordion-disabled-text-color !important;

          &.plus-minus {
            &::before,
            &::after {
              background-color: $accordion-disabled-text-color !important;
            }
          }
        }
      }

      &.is-selected,
      &.is-selected:hover,
      &.is-focused.is-selected {
        background-color: $accordion-selected-bg-color;
        border-bottom-color: $accordion-selected-bg-color;
        color: $accordion-selected-text-color;

        > a {
          color: $accordion-selected-text-color;
        }

        > .icon {
          fill: $accordion-selected-text-color;
        }
      }
    }
  }

  // Original step process styles
  .js-step-process-panel {
    display: none;

    &.step-panel-active {
      display: block;
    }
  }

  // Custom classes for scrollAction plugin
  .js-scroll-target {

    .js-scroll-watch,
    .subheader {
      @include css3(transition, all .3s ease-out);
    }

    .subheader {
      overflow-y: hidden;
      max-height: 60px;
    }

    &.scrolled-down {

      .subheader {
        margin-top: -60px;
      }

      .js-scroll-watch {
        top: 0;
        margin: 0;
      }
    }
  }

  // Responsive styles
  .responsive-hidden {
    display: block;
  }
  .responsive-visible {
    display: none;
  }
}

@include respond-to(tabletdown) {

  .soho-step-process {

    .responsive-hidden {
      display: none;
    }

    .responsive-visible {
      display: block;

      &.responsive-two-col-back-button {
        display: inline-block;
      }
    }

    > .page-container {
      height: 100%;
    }

    .main,
    .sidebar {
      @include transform-transition-list(300ms cubic-bezier(.17, .04, .03, .94));
      position: absolute;

      &.scrollable,
      &.scrollable-y {
        height: 100%;
        overflow: auto;
      }
    }

    .main {
      @include css3(transform, translateX(100%));
    }

    .sidebar {
      @include css3(transform, translateX(0));
    }


    &.show-main {
      .main {
        @include css3(transform, translateX(0));
      }
      .sidebar {
        @include css3(transform, translateX(-100%));
      }
    }
  }
}
