//* Calendar
//================================================== *

.calendar {
  background-color: $calendar-bg-color;
  display: inline-block;
  height: 100%;
  overflow: auto;
  vertical-align: top;
  width: 100%;

  // The event container
  .calendar-events {
    border-right: 1px solid $calendar-line-color;
    border-top: 1px solid $calendar-line-color;
    display: inline-block;
    height: 100%;
    margin-right: -1px;
    overflow-y: scroll;
    vertical-align: top;
    width: 220px;

    .accordion-header a {
      @include font-size(16);
    }
  }

  // Changes to the monthview container
  .calendar-monthview {
    background-color: $calendar-bg-color;
    width: calc(100% - 440px);

    .monthview-table {
      table-layout: fixed;
    }

    .monthview-header {
      height: 46px;

      button {
        top: 9px;
      }

      .datepicker {
        margin-top: 5px;
        padding-bottom: 6px;
        padding-top: 8px;

        + .icon {
          top: 7px !important;
        }
      }

      .today {
        top: -1px;
      }

      #calendar-view-changer + .dropdown-wrapper {
        float: right;
        line-height: initial;
        position: relative;
        right: 15px;
        top: 5px;
        width: 105px;
      }
    }
  }

  .calendar-event-types {
    margin-bottom: -3px;
    margin-right: 5px;
  }

  // A calendar event
  .calendar-event {
    @include font-size(11);

    background-color: $theme-color-palette-azure-20;
    border-left: 5px solid $theme-color-brand-primary-alt;
    border-radius: 3px;
    color: $font-color-extrahighcontrast;
    cursor: pointer;
    display: block;
    height: 18px;
    margin: 0 2px 3px;
    width: calc(100% - 4px);

    //Event spanning
    &.event-day-start {
      border-radius: 3px 0 0 3px;
      padding-right: 4px;
      width: calc(100% - 1px);
    }

    &.event-day-span {
      border-left: 0 !important;
      border-radius: 0;
      margin: 0;
      width: 100%;
      z-index: 1;

      .calendar-event-icon {
        display: none;
      }

      .calendar-event-title {
        display: none;
      }
    }

    &.event-day-end {
      border-left: 0 !important;
      border-radius: 0 3px 3px 0;
      margin-left: 0;
      width: calc(100% - 2px);
      z-index: 1;

      .calendar-event-icon {
        display: none;
      }

      .calendar-event-title {
        display: none;
      }
    }

    .calendar-event-content {
      color: $calendar-event-color;
      overflow: hidden;
      padding: 3px 5px;
      position: relative;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .calendar-event-icon {
      width: 20px;

      .icon {
        color: $font-color;
        height: 12px;
        top: initial;
        vertical-align: top;
        width: 13px;
      }
    }

    &.ruby {
      background-color: $theme-color-palette-ruby-20;
      border-left: 5px solid $theme-color-palette-ruby-70;
    }

    &.amber {
      background-color: $theme-color-palette-amber-30;
      border-left: 5px solid $theme-color-palette-amber-70;
    }

    &.emerald {
      background-color: $theme-color-palette-emerald-30;
      border-left: 5px solid $theme-color-palette-emerald-70;
    }

    &.turquoise {
      background-color: $theme-color-palette-turquoise-30;
      border-left: 5px solid $theme-color-palette-turquoise-70;
    }

    &.amethyst {
      background-color: $theme-color-palette-amethyst-30;
      border-left: 5px solid $theme-color-palette-amethyst-70;
    }

    &.slate {
      background-color: $theme-color-palette-slate-30;
      border-left: 5px solid $theme-color-palette-slate-70;
    }

    &.graphite {
      background-color: $theme-color-palette-graphite-30;
      border-left: 5px solid $theme-color-palette-graphite-70;
    }
  }

  .calendar-event-more {
    @include font-size(11);

    color: $font-color-extrahighcontrast;
    cursor: pointer;
    display: block;
    height: 18px;
    margin: 4px 10px;
    text-align: left;
    width: auto;
  }

  // The upcoming event details section
  .calendar-upcoming-events.accordion-content {
    padding: 5px 0 15px 12px !important; //so it works on RTL
  }

  .calendar-upcoming-event {
    border: 1px solid transparent;
    border-bottom: 1px solid $calendar-line-color;
    color: $font-color-extrahighcontrast;
    cursor: pointer;
    display: block;
    margin: -5px 0 5px -12px;
    padding: 0 10px 10px;
    text-decoration: none;

    &:focus {
      border-color: $theme-color-brand-primary-base !important;
      box-shadow: 0 0 4px 1px $focus-box-shadow-color;
      outline: none;
    }

    .calendar-upcoming-date {
      display: block;
      font-size: $theme-size-font-base;
      padding: 10px;
    }

    .calendar-upcoming-event-color {
      background-color: $theme-color-palette-azure-60;
      border-radius: 50%;
      color: transparent;
      display: inline-block;
      font-size: 0;
      height: 8px;
      margin-left: 10px;
      vertical-align: top;
      width: 8px;

      &.ruby {
        background-color: $theme-color-palette-ruby-60;
      }

      &.amber {
        background-color: $theme-color-palette-amber-60;
      }

      &.emerald {
        background-color: $theme-color-palette-emerald-60;
      }

      &.azure {
        background-color: $theme-color-palette-azure-60;
      }

      &.turquoise {
        background-color: $theme-color-palette-turquoise-60;
      }

      &.amethyst {
        background-color: $theme-color-palette-amethyst-60;
      }

      &.slate {
        background-color: $theme-color-palette-slate-60;
      }

      &.graphite {
        background-color: $theme-color-palette-graphite-60;
      }
    }

    .calendar-upcoming-description {
      display: inline-block;
      font-size: $theme-size-font-sm;
      left: 5px;
      position: relative;
      top: -4px;
      width: 145px;
    }

    .calendar-upcoming-status-text {
      display: block;
      font-size: $theme-size-font-sm;
      font-style: italic;
      left: 25px;
      position: relative;
      top: 2px;

      &:empty + .calendar-upcoming-duration {
        top: -18px;
      }
    }

    .calendar-upcoming-duration {
      display: block;
      float: right;
      font-size: $theme-size-font-sm;
      font-style: italic;
      position: relative;
      right: 5px;
      top: -12px;
    }
  }
}

// Calendar Event Details section
.calendar-event-details {
  background-color: $body-color-primary-background;
  border-left: 1px solid $calendar-line-color;
  display: inline-block;
  height: 100%;
  margin-top: -1px;
  overflow: auto;
  vertical-align: top;
  width: 221px;

  &.has-only-one {
    .accordion-pane {
      height: calc(100% - 49px) !important;
    }

    .accordion-header {
      &.has-chevron > a {
        width: calc(100% - 3px);
      }

      .btn {
        display: none;
      }
    }
  }

  .accordion-pane {
    background-color: $calendar-bg-color;

    .data {
      font-size: $theme-size-font-sm;
    }

    .icon {
      height: 16px;
      margin-left: 5px;
      margin-top: 1px;
      width: 16px;
    }

    .field {
      border-top: 1px solid $calendar-line-color;
      margin-bottom: 15px;
      padding-top: 15px;
      width: calc(100% - 20px);

      &:first-child {
        border-top-color: transparent;
      }
    }
  }

  .accordion-header {
    &.has-chevron > a {
      line-height: 15px;
      width: calc(100% - 40px);
    }

    a {
      color: $theme-color-palette-white;
      font-size: $theme-size-font-lg;
      -webkit-font-smoothing: antialiased;
      font-weight: 400;
    }

    .btn {
      margin-left: -4px;
      margin-top: -7px;

      .chevron {
        color: $theme-color-palette-white;
      }
    }

    &.ruby {
      background-color: $theme-color-palette-ruby-60;
    }

    &.amber {
      background-color: $theme-color-palette-amber-60;
    }

    &.emerald {
      background-color: $theme-color-palette-emerald-60;
    }

    &.azure {
      background-color: $theme-color-palette-azure-60;
    }

    &.turquoise {
      background-color: $theme-color-palette-turquoise-60;
    }

    &.amethyst {
      background-color: $theme-color-palette-amethyst-60;
    }

    &.slate {
      background-color: $theme-color-palette-slate-60;
    }

    &.graphite {
      background-color: $theme-color-palette-graphite-60;
    }
  }
}

// Styles to reset the modal
.calendar-popup {
  .tooltip-content {
    padding: 20px 0;
  }

  .modal-buttonset {
    margin-bottom: -21px;
    margin-top: 0;

    button {
      width: 50%;
    }
  }
}

// Responsive Styles
@include respond-to(phabletdown) {
  .calendar {
    .calendar-events,
    .calendar-event-details {
      display: none;
    }

    .calendar-monthview {
      width: 100%;
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .calendar {
    #calendar-view-changer + .dropdown-wrapper {
      float: left !important;
      right: -15px !important;
    }

    .today {
      margin-right: 15px;
    }
  }

  .calendar-event-details {
    border-left: 0;
    border-right: 1px solid $calendar-line-color;
  }

  .calendar-upcoming-events {
    .calendar-upcoming-description {
      margin-left: 0;
      margin-right: 10px;
    }

    .calendar-upcoming-status-text {
      left: initial;
      right: 25px;
    }

    .calendar-upcoming-duration {
      float: left;
      left: 5px;
      right: initial;
    }
  }
}
