// Autocomplete
//================================================== //

// Uses Many Popup Menu Styles and Text Input
.popupmenu.autocomplete {
  border: 1px solid $input-focus-border-color;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid $dropdown-menu-separator-color;
  box-shadow: $dropdown-box-shadow, $autocomplete-box-shadow;
  // box-shadow: $focus-box-shadow;
  // box-shadow: $dropdown-box-shadow, $focus-box-shadow;
  line-height: 30px;
  margin-top: -1px;
  overflow: auto;
  padding: 5px 0;

  li {
    color: $popupmenu-color;

    &:hover {
      background-color: $popupmenu-hover-color;
    }

    &.is-selected {
      background-color: $dropdown-selected-bg-color;
      color: $dropdown-selected-color;
    }
  }

  // Disable arrows
  + .arrow {
    display: none;
  }

  a {
    color: inherit;
    padding: 0 10px;

    > * {
      vertical-align: middle;
    }

    > .icon {
      position: static;
    }

    span {
      line-height: normal;
    }
  }

  small {
    color: inherit;
  }

  a::before,
  a::after {
    display: none;
  }

  .is-selected i {
    color: $dropdown-selected-color;
  }

  li:hover i {
    // color: $dropdown-selected-color;
  }
}

input.autocomplete.is-open {
  background-color: $autocomplete-active-bg-color;
  border: 1px solid $dropdown-menu-border-color;
  border-bottom: 1px solid $dropdown-menu-separator-color;
  border-radius: 3px 3px 0 0;
}
