  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          steps
        </td>
        <td>
          number
        </td>
        <td>
          The number of steps to show.

        </td>
      </tr>
      <tr>
        <td>
          completed
        </td>
        <td>
          number
        </td>
        <td>
          The number of steps complete (linear).

        </td>
      </tr>
      <tr>
        <td>
          inProgress
        </td>
        <td>
          number
        </td>
        <td>
          The number of the in progress step (linear).

        </td>
      </tr>
      <tr>
        <td>
          iconType
        </td>
        <td>
          boolean
        </td>
        <td>
          The icon to display fx. 'icon-error', 'icon-confirm'

        </td>
      </tr>
      <tr>
        <td>
          completedText
        </td>
        <td>
          string
        </td>
        <td>
          The completed text or uses a localized 'N of N Steps complete'.
You can use {0} and {1} to replace n of n in the string.

        </td>
      </tr>
      <tr>
        <td>
          extraText
        </td>
        <td>
          boolean
        </td>
        <td>
          The additional text to show on the right. Defaults to none. You
can use {0} to replace with the steps remaining count and {1} to replace the number of steps.

        </td>
      </tr>
      <tr>
        <td>
          completedColor
        </td>
        <td>
          string
        </td>
        <td>
          The color to show completed steps. Defaults to primary color.

        </td>
      </tr>
      <tr>
        <td>
          allCompletedColor
        </td>
        <td>
          string
        </td>
        <td>
          The color to steps when all are completed. Defaults to
primary color.

        </td>
      </tr>
      <tr>
        <td>
          inProgressColor
        </td>
        <td>
          string
        </td>
        <td>
          The color to show in-progress steps. Defaults to ruby02.

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The new settings to use.
 </span>
                
          
        </td>
        <td>
          <p>Handle updated settings and values.</p>

        </td>
        <td>
          The api for chaining.
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Tear down and remove.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
