// Listbuilder - Uplift
//================================================== //

.listbuilder {
  .toolbar.formatter-toolbar [class^='btn'] .icon,
  .flex-toolbar.formatter-toolbar [class^='btn'] .icon {
    height: 17px;
    margin: -4px 0 0;
    width: 19px;
  }
}
