
  <div class="row" ng-controller="demo">
      <div class="twelve columns">

      <div class="field">
        <label for="dropdown-id">{{ label }}</label>
        <select data-dropdown id="dropdown-id" class="dropdown" data-ng-model="selectedItem" data-ng-options="option as option for option in options" data-ng-change="log()"></select>
      </div>

      <button type="button" class="btn" data-ng-click="change()">Change</button>
    </div>
  </div>

  <script>
      // Example App and Controller
      var app = angular.module('exampleApp', ['sohoxi-angular']);

      app.controller('demo', function($scope) {
        $scope.id = 'id1';
        $scope.label = 'Drop Down One';
        $scope.options = ['Option One', 'Option Two', 'Option Three'];
        $scope.selectedItem = $scope.options[2];

        $scope.log = function () {
          console.log('Changed to '+ $scope.selectedItem);
        };

        $scope.change = function () {
          $scope.selectedItem = $scope.options[1];
        };
      });
  </script>
