<style>
  .test-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  .is-active .heading {
    color: #0072ed;
  }
  .sub-heading {
    color: #7C7C83;
    margin-top: 8px;
  }
</style>

<div class="row">
  <div class="six columns">
    <div class="monthview" data-init="false">
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div id="test-content"></div>
    <br />
  </div>
</div>

<script>
  $('body').on('initialized', function () {

    // Cache variables
    var elem = $('.monthview');
    var container = $('#test-content');
    var initDate = { day: 7, month: 8, year: 2021 };
    var maxContentItems = 3;

    // Scheduled dates
    var scheduledDates = [
      '9/4/2021',
      '9/10/2021',
      '9/11/2021',
      '9/15/2021',
      '9/16/2021',
      '9/17/2021',
      '9/18/2021',
      '9/21/2021',
      '9/22/2021',
      '9/23/2021',
      '9/25/2021',
    ];

    // Not Scheduled dates
    var notScheduledDates = [
      '9/5/2021',
      '9/12/2021',
      '9/19/2021',
      '9/26/2021',
    ];

    // Invoke monthview
    elem.monthview({
      day: initDate.day,
      month: initDate.month,
      year: initDate.year,
      inPage: true,
      inPageExpanded: false,
      showMonthYearPicker: false,
      showLegend: true,
      legend: [
        { name: 'Scheduled', color: 'azure03', dates: scheduledDates },
        { name: 'Not Scheduled', color: 'slate03', dates: notScheduledDates }
      ]
    }).on('selected', function(e, args) {
      handleSelected(args);
    }).on('monthrendered', function(e, args) {
      handleMonthChange(args);
    });

    /*
     * Below here some helper functions for use in this example
     */

    // Init test content first time on load
    var dateOnLoad = new Date((initDate.month + 1) + '/' + initDate.day + '/' + initDate.year);
    updateContent(dateOnLoad);

    // handle selected date
    function handleSelected(args) {
      if (args) {
        var dt = new Date((args.month + 1) + '/' + args.day + '/' + args.year);
        var dtStr = getDateString(dt);

        updateContent(dt);
      }
    }

    // handle month change
    function handleMonthChange(args) {
      if (args && args.api) {
        var dt = args.api.currentDate;
        var dtStr = getDateString(dt);

        updateContent(dt);
      }
    }

    // Remove older api
    function cleanOlderApi() {
      var buttons = container.find('.btn-actions');
      buttons.each(function() {
        var thisBtn = $(this);
        var popupmenuApi = thisBtn.data('popupmenu');
        if (popupmenuApi) {
          popupmenuApi.destroy();
        }
        if (popupmenuApi) {
          popupmenuApi.destroy();
        }
        var buttonApi = thisBtn.data('button');
        if (buttonApi) {
          buttonApi.destroy();
        }
      });
    }

    // Update test content for given date
    function updateContent(dt) {
      var currentTime = dt.getTime();
      var oneDayTime = 86400000;
      var max = maxContentItems;
      var outHtml = '';
      for (var i = 0, len = max; i < max; i++) {
        var thisDate = new Date(currentTime + (i * oneDayTime));
        var dtStr = getDateString(thisDate);
        var dayStr = getDayString(thisDate);
        var isActiveDate = currentTime === thisDate.getTime();
        outHtml += getCardHtml(dtStr, dayStr, isActiveDate);
      }
      cleanOlderApi();
      container.html(outHtml)
        .find('.btn-actions').popupmenu().button();
    }

    // Get card html string for given date
    function getCardHtml(dtStr, dayStr, isActive) {
      var menuBtnHtml = '' +
        '<button type="button" class="btn-actions vertical" type="button">' +
          '<span class="audible">Actions</span>' +
          '<svg class="icon" focusable="false" aria-hidden="true" role="presentation">' +
            '<use href="#icon-more"></use>' +
          '</svg>' +
        '</button>' +
        '<ul class="popupmenu actions">' +
          '<li><a href="#" id="action-1">Action One</a></li>' +
          '<li><a href="#" id="action-2">Action Two</a></li>' +
        '</ul>';

      return '' +
        '<div class="card auto-height compact-bottom' + (isActive ? ' is-active' : '') + '">' +
          '<div class="card-content">' +
            '<div class="test-container">' +
              '<div class="start">' +
                '<h2 class="heading">' + dayStr + ', ' + dtStr + '</h2>' +
                '<h3 class="sub-heading">8:40 AM - 4:00 PM</h3>' +
              '</div>' +
              '<div class="end">' +
                menuBtnHtml +
              '</div>' +
            '</div>' +
          '</div>' +
        '</div>';
    }

    // Get day string for given date
    function getDayString(dt) {
      return ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][dt.getDay()];
    }

    // Get date string for given date
    function getDateString(dt, isYear) {
      function nth(d) {
        if (d > 3 && d < 21) {
          return 'th';
        };
        switch (d % 10) {
          case 1: return 'st';
          case 2: return 'nd';
          case 3: return 'rd';
          default: return 'th';
        }
      }
      var date = dt.getDate();
      var month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][dt.getMonth()];
      return date + nth(date) + ' ' + month + ' ' + (isYear ? dt.getFullYear() : '');
    }

});
</script>
