<div class="row">
  <div class="six columns">

    <h2>Popupmenu Test: Has Icons</h2>
    <p>Shows some popup menus that contain various types of icons to test alignment, sizing, positioning, etc.</p>
    <br />
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <button type="button" class="btn-menu" id="icon-menu-button">
      <span>Icon Menu</span>
    </button>
    <ul class="popupmenu has-icons is-selectable">
      <li><a href="#">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-folder"></use>
          </svg>
          <span>Create new folder</span>
          <span class="shortcut-text">⌘+R</span>
        </a></li>
      <li><a href="#">
          <span>Previous</span>
          <span class="shortcut-text">⌘+⇧+←</span>
        </a></li>
      <li><a href="#">
          <span>Next</span>
          <span class="shortcut-text">⌘+⇧+→</span>
        </a></li>
      <li class="separator"></li>
      <li><a href="#"><span>Copy To...</span></a></li>
      <li><a href="#"><span>Move To...</span></a></li>

      <li><a href="#">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-edit"></use>
          </svg>
          <span>Long form shortcut text</span>
          <span class="shortcut-text">Cmd+Shift+R</span>
        </a></li>

      <li class="separator"></li>

      <li><a href="#">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-delete"></use>
          </svg>
          <span>Delete folder</span>
          <span class="shortcut-text">⌘+⌥+⇧</span>
        </a></li>
    </ul>

  </div>
</div>

<div class="row">
  <div class="six columns">

    <h2>Popupmenu Test: Short Cut Menus</h2>
    <br />
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <button type="button" class="btn-menu" id="icon-menu-button">
      <span>Icon Menu with Shortcut Text</span>
    </button>
    <ul class="popupmenu has-icons is-selectable">
      <li><a href="#">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-folder"></use>
          </svg>
          <span>Create new folder</span>
          <span class="shortcut-text">⌘+R</span>
        </a></li>
      <li><a href="#">
          <span>Previous</span>
          <span class="shortcut-text">⌘+⇧+←</span>
        </a></li>
      <li><a href="#">
          <span>Next</span>
          <span class="shortcut-text">⌘+⇧+→</span>
        </a></li>
      <li class="separator"></li>
      <li><a href="#"><span>Copy To...</span></a></li>
      <li><a href="#"><span>Move To...</span></a></li>

      <li><a href="#">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-edit"></use>
          </svg>
          <span>Long form shortcut text</span>
          <span class="shortcut-text">Cmd+Shift+R</span>
        </a></li>

      <li class="separator"></li>

      <li><a href="#">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-delete"></use>
          </svg>
          <span>Delete folder</span>
          <span class="shortcut-text">⌘+⌥+⇧</span>
        </a></li>
    </ul>

  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">

    <button type="button" class="btn-menu" id="icon-menu-button">
      <span>Regular Menu with Shortcut Text</span>
    </button>
    <ul class="popupmenu">
      <li><a href="#">
          <span>Create new folder</span>
          <span class="shortcut-text">⌘+R</span>
        </a></li>
      <li><a href="#">
          <span>Previous</span>
          <span class="shortcut-text">⌘+⇧+←</span>
        </a></li>
      <li><a href="#">
          <span>Next</span>
          <span class="shortcut-text">⌘+⇧+→</span>
        </a></li>
    </ul>

  </div>
</div>
