<div class="row">
  <div class="six columns">

    <h2>Popupmenu Test:  Has Icons</h2>
    <p>Shows some popup menus that contain various types of icons to test alignment, sizing, positioning, etc.</p>
    <br />
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <button type="button" class="btn-menu" id="icon-menu-button">
      <span>Icon Menu</span>
    </button>
    <ul class="popupmenu has-icons is-selectable">
      <li><a href="#">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-folder"></use>
        </svg>
        <span>Create new folder</span>
      </a></li>

      <li class="separator"></li>
      <li><a href="#"><span>Copy To...</span></a></li>
      <li><a href="#"><span>Move To...</span></a></li>

      <li><a href="#">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-edit"></use>
        </svg>
        <span>Edit folder settings</span>
      </a></li>

      <li class="separator"></li>

      <li><a href="#">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-delete"></use>
        </svg>
        <span>Delete folder</span>
      </a></li>
    </ul>

    <div class="field">
      <button id="menu-trigger" class="btn-menu">
        <span>Icon Menu (Sub Menus)</span>
      </button>
      <ul class="popupmenu has-icons">
        <li>
          <a href="#">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-edit"></use>
            </svg>
            <span>Item 1</span>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-settings"></use>
            </svg>
            <span>Item 2</span>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-map"></use>
            </svg>
            <span>Submenu 1</span>
          </a>
          <ul class="popupmenu">
            <li>
              <a href="#">
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-clock"></use>
                </svg>
                <span>Item 1.1</span>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-delete"></use>
                </svg>
                <span>Item 1.1</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <button id="btn-icon" class="btn-icon" type="button">
      <svg class="icon">
        <use href="#icon-star-filled"></use>
      </svg>
    </button>
    <ul id="popup-action-menu" class="popupmenu">
      <li><a href="#" id="menu-option-1">Menu Option #1</a></li>
      <li><a href="#" id="menu-option-2">Menu Option #2</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $('#btn-icon').popupmenu({ menu: 'popup-action-menu', trigger: 'click', showArrow: true });
</script>
