<div class="row">
  <div class="six columns">
    <h2>Popupmenu Test:  Fixed-Placement Trigger Button</h2>
    <p>The menu button below has a fixed-position.  Its popupmenu should still open and live completely inside the viewport.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns" style="height: 1000px;">

    <div class="field" style="position: fixed; top: 269px;">
      <button class="btn-menu" type="button" id="fixed-trigger">
        <span>Show Menu</span>
      </button>
      <ul id="action-big-popupmenu" class="popupmenu">
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">File</a></li>
        <li><a href="#">Edit</a></li>
        <li>
          <a href="#">Image</a>
          <ul class="popupmenu">
            <li>
              <a href="#">Mode</a>
              <ul class="popupmenu">
                <li><a href="#">Bitmap</a></li>
                <li><a href="#">Grayscale</a></li>
                <li><a href="#">Duotone</a></li>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Indexed Color...</a></li>
                <li><a href="#">RGB Color</a></li>
                <li><a href="#">CMYK Color</a></li>
                <li><a href="#">Lab Color</a></li>
                <li><a href="#">Multichannel</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Adjustments</a>
              <ul class="popupmenu">
                <li><a href="#">Brightness/Contrast...</a></li>
                <li><a href="#">Levels...</a></li>
                <li><a href="#">Curves...</a></li>
                <li><a href="#">Exposure...</a></li>
              </ul>
            </li>
            <li><a href="#">Image Size</a></li>
            <li><a href="#">Canvas Size</a></li>
            <li>
              <a href="#">Image Rotation</a>
              <ul class="popupmenu">
                <li><a href="#">180&deg;</a></li>
                <li><a href="#">90&deg; Clockwise</a></li>
                <li><a href="#">90&deg; Counter Clockwise</a></li>
                <li><a href="#">Arbitrary...</a></li>
                <li><a href="#">Flip Canvas Horizontally</a></li>
                <li><a href="#">Flip Canvas Vertically</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Layer</a></li>
        <li><a href="#">Type</a></li>
        <li><a href="#">Select</a></li>
        <li><a href="#">Filter</a></li>
        <li><a href="#">3D</a></li>
        <li><a href="#">View</a></li>
        <li>
          <a href="#">Window</a>
          <ul class="popupmenu">
            <li>
              <a href="#">Arrange</a>
              <ul class="popupmenu">
                <li><a href="#">Tile All Vertically</a></li>
                <li><a href="#">Tile All Horizontally</a></li>
                <li><a href="#">2-Up Horizontal</a></li>
                <li><a href="#">2-Up Vertical</a></li>
                <li><a href="#">3-Up Horizontal</a></li>
                <li><a href="#">3-Up Vertical</a></li>
                <li><a href="#">3-Up Stacked</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Workspace</a>
              <ul class="popupmenu">
                <li><a href="#">Essentials</a></li>
                <li><a href="#">3D</a></li>
                <li><a href="#">Motion</a></li>
                <li><a href="#">Painting</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="#">Typography</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Help</a></li>
      </ul>

    </div>

  </div>
</div>
