<div class="row">
  <div class="twelve columns">
    <div class="field">
      <label for="timepicker-1" class="label">Timepicker (Danish Locale)</label>
      <input id="timepicker-1" class="timepicker" type="text" data-options="{ locale: 'da-DK' }"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="field">
      <label for="timepicker-2" class="label">Timepicker (Swedish Language De locale)</label>
      <input id="timepicker-2" class="timepicker" type="text" data-options="{ locale: 'de-DE', language: 'sv' }"/>
    </div>
  </div>
</div>
