// Timeline
//================================================== //
//
// See also:  /sass/controls/_processindicator.scss

.timeline {
  min-height: 44px;
  position: relative;

  // vertical line
  &::before {
    border-left: 1px dashed $timeline-line-color;
    bottom: 60px;
    content: '';
    left: 1.125em;
    position: absolute;
    top: 0;
    width: 3px;
  }

  .indicator {
    border: 2px solid $timeline-indicator-color;

    &.processing {
      border: 2px solid $timeline-indicator-processing-color;
    }

    &.complete {
      background-color: $timeline-indicator-complete-color;
      border: 2px solid $timeline-indicator-complete-color;
    }
  }

}

.timeline-block {
  margin-bottom: 20px;
  position: relative;

  // micro-clearfix
  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .date {
    margin-left: 6em;

    > * {
      vertical-align: middle;
    }

    > span {
      @include font-size(11);
      line-height: 1.5rem;
    }

    > .icon {
      height: 15px;
      margin-right: 8px;
      width: 15px;
    }
  }

  .indicator-container {
    float: left;
    position: relative;
    text-align: center;
    width: 2.5em;

    > * {
      vertical-align: middle;
    }

    // line behind the indicator
    &::after {
      background-color: transparent;
      border-bottom: 1px dashed $timeline-line-color;
      content: '';
      display: inline-block;
      height: 0;
      position: absolute;
      top: .7em;
      width: 100%;
    }
  }

  .content {
    margin-left: 6em;

    .heading {
      color: $timeline-header-color;
    }
  }

}

@mixin mobile-timeline() {
  .timeline {
    &::before {
      bottom: 44px;
      left: 12.65em;
    }
  }

  .timeline-block {
    .date,
    .indicator-container,
    .content {
      float: left;
    }

    .date {
      margin-left: 0;
      position: absolute;
      text-align: right;
      width: 11em;
    }

    .indicator-container {
      margin-left: 11.5em;
    }

    .content {
      margin-left: 3em;
    }
  }
}

@media (min-width: $breakpoint-phone-to-tablet) {
  @include mobile-timeline();
}

.card .timeline,
.widget .timeline {
  margin-left: 20px;
  margin-top: 20px;
}

//RTL Styles
html[dir='rtl'] {
  .timeline {
    // vertical line
    &::before {
      border-left: 0;
      border-right: 1px dashed $timeline-line-color;
      left: auto;
      right: 1.125em;
    }
  }

  .timeline-block {
    .date {
      margin-left: inherit;
      margin-right: 6em;

      > .icon {
        margin-left: 8px;
        margin-right: inherit;
      }
    }

    .indicator-container {
      float: right;
    }

    .content {
      margin-left: inherit;
      margin-right: 6em;
    }

  }

  @media (min-width: $breakpoint-phone-to-tablet) {
    .timeline {
      &::before {
        left: auto;
        right: 12.65em;
      }
    }

    .timeline-block {
      .date,
      .indicator-container,
      .content {
        float: right;
      }

      .date {
        margin-left: inherit;
        margin-right: 0;
        text-align: left;
      }

      .indicator-container {
        margin-left: inherit;
        margin-right: 11.5em;
      }

      .content {
        margin-left: inherit;
        margin-right: 3em;
      }
    }
  }
}
