<div class="row">

  <div class="three columns">
    <button type="button" id="primary-with-icon" class="btn-primary">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-delete"></use>
      </svg>
      <span>Add to Trash</span>
    </button>
  </div>

  <div class="three columns">
    <button type="button" id="regular-with-icon" class="btn">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-delete"></use>
      </svg>
      <span>Add to Trash</span>
    </button>
  </div>

  <div class="three columns">
    <button type="button" id="secondary-with-icon" class="btn-secondary">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-delete"></use>
      </svg>
      <span>Add to Trash</span>
    </button>
  </div>

  <div class="three columns">
    <button type="button" id="tertiary-with-icon" class="btn-tertiary">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-delete"></use>
      </svg>
      <span>Add to Trash</span>
    </button>
  </div>

</div>

<div class="row" style="margin-top: 20px;">

  <div class="three columns">
    <button type="button" id="primary-menu-with-icon" class="btn-primary btn-menu">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-settings"></use>
      </svg>
      <span>Settings</span>
    </button>
    <ul class="popupmenu">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>

  <div class="three columns">
    <button type="button" id="regular-menu-with-icon" class="btn btn-menu">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-settings"></use>
      </svg>
      <span>Settings</span>
    </button>
    <ul class="popupmenu">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>

  <div class="three columns">
    <button type="button" id="secondary-menu-with-icon" class="btn-secondary btn-menu">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-settings"></use>
      </svg>
      <span>Settings</span>
    </button>
    <ul class="popupmenu">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>

  <div class="three columns">
    <button type="button" id="tertiary-menu-with-icon" class="btn-tertiary btn-menu">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-settings"></use>
      </svg>
      <span>Settings</span>
    </button>
    <ul class="popupmenu">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>

</div>

<div class="row" style="margin-top: 20px;">
  <div class="three columns">

    <button type="button" id="menu-button-alone" class="btn-menu">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-settings"></use>
      </svg>
      <span>Settings</span>
    </button>
    <ul class="popupmenu">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>

  </div>
</div>
