<h1 id="targeted-achievement-chart-learn-more">Targeted Achievement Chart <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Main Target to Achievement Example showing 3 examples <a href="../components/targeted-achievement/example-index">View Example</a></li>
<li>Grid Example, this chart is available as a formatter. <a href="../components/datagrid/test-targeted-achievement.html">View Example</a></li>
<li>Example showing Percent Text <a href="../components/targeted-achievement/example-percent-text">View Example</a></li>
</ol>
<h2 id="api-details">API Details</h2>
<h3 id="dataset-settings">Dataset Settings</h3>
<ul>
<li>name - Applies a name label to the left most section of the chart.</li>
<li>completed - Gives a label, value, color and format to the completed bar of the chart.</li>
<li>remaining - (optional) shows a hatched section that shows the remaining bit to a set target</li>
<li>total - will be used on the top of the chart if applied. The total is used to set the total. ## Code Example</li>
</ul>
<p>This example shows how to invoke a simple target to achievement chart with a dataset with a value several of the key points of the chart.</p>
<pre class="sourceCode javascript"><code class="sourceCode javascript">
<span class="kw">var</span> dataset1 = [{
  <span class="dt">data</span>: [{
    <span class="dt">name</span>: {<span class="dt">text</span>: <span class="st">&#39;Label A&#39;</span>},
    <span class="dt">completed</span>: {<span class="dt">text</span>: <span class="st">&#39;50K of 250K&#39;</span>, <span class="dt">value</span>: <span class="dv">50000</span>, <span class="dt">format</span>: <span class="st">&#39;.2s&#39;</span>, <span class="dt">color</span>: <span class="st">&#39;primary&#39;</span>},
    <span class="dt">remaining</span>: {<span class="dt">value</span>: <span class="dv">20000</span>, <span class="dt">format</span>: <span class="st">&#39;.2s&#39;</span>, <span class="dt">text</span>: <span class="st">&#39; To Target&#39;</span>},
    <span class="dt">total</span>: {<span class="dt">value</span>: <span class="dv">250000</span>, <span class="dt">format</span>: <span class="st">&#39;.2s&#39;</span>},
  }]
}];

<span class="kw">var</span> api1 = <span class="fu">$</span>(<span class="st">&#39;#example-1&#39;</span>).<span class="fu">chart</span>({<span class="dt">dataset</span>: dataset1, <span class="dt">type</span>: <span class="st">&#39;targeted-achievement&#39;</span>}).<span class="fu">data</span>(<span class="st">&#39;chart&#39;</span>);
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>The contrast and actual colors can be a concern for visibility impaired and color blind people. However, you can customize the color by passing higher contrast colors.</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>None</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>This is a new element</li>
</ul>
