// Circle Pager
//================================================== //

.circlepager {
  overflow: hidden;
  position: relative;
  width: 100%;

  .slides {
    left: 0;
    overflow: hidden;
    position: relative;
    transition: left .3s ease 0s;

    > .slide {
      float: left;
      position: relative;
    }
  }

  .controls {
    display: none;
  }


  &.is-active {

    //Next and Previous Buttons
    .btn-next,
    .btn-previous {
      background-color: $graphite10;
      border: 1px solid $graphite04;
      border-radius: 50%;
      display: none;
      height: 32px;
      left: 5px;
      margin: -30px 0 0;
      min-width: 32px;
      position: absolute;
      top: 50%;
      width: 32px;
      z-index: 1001;

      .icon {
        fill: $graphite04;
        height: 18px;
        width: 18px;
      }

      &:hover {
        border: 1px solid $white;

        .icon {
          fill: $white;
        }
      }
    }

    .btn-next {
      left: auto;
      right: 10px;

      .icon {
        margin-left: 2px;
      }
    }

    .controls {
      bottom: 20px;
      display: block;
      left: 50%;
      margin-left: -50%;
      position: absolute;
      text-align: center;
      width: 100%;

      .control-button {
        background-color: $circlepager-bg-color;
        border: 1px solid $circlepager-border-color;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin: 0 20px 0 0;
        text-align: center;
        text-decoration: none;
        width: 10px;

        &:last-child {
          margin: 0;
        }

        &:hover {
          background-color: $circlepager-hover-bg-color;
          border-color: $circlepager-hover-border-color;
        }

        &:focus {
          background-color: $circlepager-focus-bg-color;
          border-color: $circlepager-focus-border-color;
        }

        &.is-active {
          background-color: $circlepager-active-bg-color;
          border-color: $circlepager-active-border-color;

          &:hover {
            background-color: $circlepager-active-hover-bg-color;
            border-color: $circlepager-active-hover-border-color;
          }

          &:focus {
            background-color: $circlepager-active-focus-bg-color;
            border-color: $circlepager-active-focus-border-color;
          }
        }

        &[disabled],
        &.is-disable {
          background-color: $circlepager-disable-bg-color;
          border-color: $circlepager-disable-border-color;

          &:hover {
            background-color: $circlepager-disable-hover-bg-color;
            border-color: $circlepager-disable-hover-border-color;
          }

          &:focus {
            background-color: $circlepager-disable-focus-bg-color;
            border-color: $circlepager-disable-focus-border-color;
          }
        }
      }
    }
  }

  &.is-bullets-nav-hidden {
    .btn-next,
    .btn-previous {
      display: inherit;
    }

    .controls {
      .control-button {
        display: none;

        &.is-active {
          background-color: $graphite10;
          border: 1px solid $graphite04;
          border-radius: 2px;
          color: $graphite04;
          cursor: default;
          display: inline-block;
          height: auto;
          padding: 5px 10px;
          width: auto;

          &:hover {
            background-color: $graphite10;
            border-color: $graphite04;
          }

          &:focus {
            background-color: $graphite10;
            border-color: $graphite04;
          }
        }
      }
    }
  }
}

html[dir='rtl'] {
  .circlepager {
    &.is-active {
      .controls {
        .control-button {
          margin: 0 0 0 20px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
