  <section>
  
    
  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          slidesToShow
        </td>
        <td>
          Integer
        </td>
        <td>
          The number of slides to show in one view / pane

        </td>
      </tr>
      <tr>
        <td>
          startingSlide
        </td>
        <td>
          Integer
        </td>
        <td>
          First showing slide/group, an 0-based integer

        </td>
      </tr>
      <tr>
        <td>
          loop
        </td>
        <td>
          boolean
        </td>
        <td>
          Setting loop: true will loop back after next/previous reached to end

        </td>
      </tr>
    </tbody>
  </table>



  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>show</td>
        <td>
          
                
                  <span>index (string) = The index of the slide to show (0 based)
 </span>
                
          
        </td>
        <td>
          <p>Show a slide to First Slide</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>first</td>
        <td>
          
        </td>
        <td>
          <p>Move to First Slide</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>last</td>
        <td>
          
        </td>
        <td>
          <p>Move to Last Slide</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>prev</td>
        <td>
          
        </td>
        <td>
          <p>Move to Previous Slide</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>next</td>
        <td>
          
        </td>
        <td>
          <p>Move to Next Slide</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
