// Uplift Checkboxes
//================================================== //

html.is-firefox:not([dir='rtl']) {
  label.inline .checkbox ~ .label-text::before,
  input.checkbox + label::before,
  input.checkbox + input[type='hidden'] + label::before,
  span.checkbox > label::before {
    margin-top: 1px;
  }

  label.inline .checkbox:checked ~ .label-text::after,
  input.checkbox:checked + label::after,
  input.checkbox:checked + input[type='hidden'] + label::after,
  span.checkbox > input:checked + label::after {
    top: 10px;
  }

  label.inline .checkbox.partial:checked ~ .label-text::after,
  input.checkbox.partial:checked + label::after,
  input.checkbox.partial:checked + input[type='hidden'] + label::after,
  span.checkbox.partial > input:checked + label::after {
    top: -2px;
  }
}

// RTL Font changes on Uplift need the top/margin-top values
// for pseudo-elements adjusted.
html[dir='rtl']:not(.is-firefox):not(.ie) {
  label.inline .checkbox ~ .label-text::before,
  input.checkbox + label::before,
  input.checkbox + input[type='hidden'] + label::before,
  span.checkbox > label::before {
    margin-top: -3px;
  }

  label.inline .checkbox:checked ~ .label-text::after,
  input.checkbox:checked + label::after,
  input.checkbox:checked + input[type='hidden'] + label::after,
  span.checkbox > input:checked + label::after {
    top: 7px;
  }

  label.inline .checkbox.partial:checked ~ .label-text::after,
  input.checkbox.partial:checked + label::after,
  input.checkbox.partial:checked + input[type='hidden'] + label::after,
  span.checkbox.partial > input:checked + label::after {
    top: -5px;
  }
}
