// New Popupmenu
//================================================== //

.popup-footer {
  button {
    line-height: normal;
  }
}

.popupmenu.has-icons .icon:not(.arrow) {
  height: 18px;
  margin-top: 7px;
}
