// Loading Indicator

$delay: 0.14s; // Define common delay value

.ai-loading-indicator {
  display: flex;
  position: relative;
  width: 56px;

  .bar {
    margin-right: 2px;
    margin-left: 2px;
    background-color: $loading-indicator-ai-bar-base-bg-color;
    width: 16px;
    height: 8px;
    border-radius: 8px;
    transition: 0.2s;
    animation: loading 1.2s ease-in-out 0.2s infinite;
  
    &:nth-child(1) {
      background-color: $loading-indicator-ai-bar-one-bg-color;
      animation-delay: 0s;
    }
  
    &:nth-child(2) {
      background-color: $loading-indicator-ai-bar-two-bg-color;
      animation-delay: $delay;
    }
  
    &:nth-child(3) {
      background-color: $loading-indicator-ai-bar-three-bg-color;
      animation-delay: 3 * $delay; // Adjusted delay for the third bar
    }
  }
}

@keyframes loading {
  0% {
    height: 8px;
  }
  50% {
    width: 56px;
  }
  100% {
    height: 8px;
  }
}
