
<div class="row">
  <div class="twelve columns">

    <button class="btn-secondary" type="button" data-modal="modal-1">Add Context</button>
    <div class="modal" id="modal-1">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title">Add Context</h1>
        </div>

        <div class="modal-body">

          <div class="field">
            <label for="context-type" class="required label">Type</label>
            <select class="dropdown" data-error-type="tooltip" id="context-type" name="type" data-validate="required">
              <option value=""></option>
              <option value="1">Context 01</option>
              <option value="2">Context 02</option>
              <option value="3">Context 03</option>
              <option value="4">Context 04</option>
              <option value="5">Context 05</option>
            </select>
          </div>

          <div class="field">
            <label for="context-name" class="required">Email</label>
            <input name="context-name" data-error-type="tooltip" class="required" id="context-name" type="text" data-validate="required email" data-validation-events="{'required': 'keydown change blur', 'email': 'change blur'}"/>
          </div>

          <div class="field">
           <label for="context-desc" class="required">Description</label>
           <textarea id="context-desc" data-validate="required" name="context-desc"></textarea>
          </div>

          <div class="field hidden">
           <label for="context-desc2" class="required">Description (Hidden)</label>
           <textarea id="context-desc2" data-validate="required" name="context-desc2"></textarea>
          </div>

          <div class="modal-buttonset">
            <button type="button" class="btn-modal" >Cancel</button>
            <button type="button" id="submit" class="btn-modal-primary" >Submit</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
  Soho.Locale.set('en-US');

  $('#yyyy-date').datepicker({dateFormat: 'yyyy'});
</script>
