// Uplift Modal
//================================================== //

.modal {
  .modal-content {
    h1 {
      line-height: 3.5rem;
    }
  }
}

.modal-buttonset {
  button {
    line-height: normal;
  }
}

.modal-content {
  > .btn-close {
    right: 11px;
    top: 15px;
  }
}

.modal .field.editor-container {
  max-width: 810px;
}

html[dir='rtl'] {
  .modal-content {
    > .btn-close {
      left: 11px;
      right: auto;
    }
  }
}
