
<div class="row">
  <div class="twelve columns">

    <fieldset class="radio-group">
      <label>Radio</label>
      <input type="radio" class="radio" name="optionsVA" id="option1" value="option1" checked="true" data-trackdirty="true"/>
      <label for="option1" class="radio-label">Option One</label>
      <br/>
      <input type="radio" class="radio" name="optionsVA" id="option2" value="option2" data-trackdirty="true"/>
      <label for="option2"  class="radio-label">Option Two</label>
      <br/>
      <input type="radio" class="radio" name="optionsVA" id="option3" value="option3" data-trackdirty="true"/>
      <label for="option3" class="radio-label">Option Three</label>
      <br/>
      <input type="radio" class="radio" name="optionsVA" id="option4" value="delivery" data-trackdirty="true" />
      <label for="option4" class="radio-label">Option Four</label>
    </fieldset>

  </div>
</div>
