<div class="row">
  <div class="column one-half">
    <fieldset class="radio-group">
      <legend>legend1</legend>
      <input type="radio" id="gregorianOption" class="radio" name="calendarGroup" value="GREGORIAN" />
      <label for="gregorianOption" class="radio-label">label1</label>
      <br>
      <input type="radio" id="hijriOption" class="radio" name="calendarGroup" value="HIJRI" />
      <label for="hijriOption" class="radio-label">label2</label>
    </fieldset>
    <br>
    <fieldset class="radio-group">
      <legend>legend2</legend>
      <input type="radio" id="hr12Option" class="radio" name="timeFormatGroup" value="HR12" />
      <label for="hr12Option" class="radio-label">label1</label>
      <br>
      <input type="radio" id="hr24Option" class="radio" name="timeFormatGroup" value="HR24" />
      <label for="hr24Option" class="radio-label">label2</label>
    </fieldset>
    <br>
    <fieldset class="radio-group">
      <legend>legend3</legend>
      <input type="radio" id="currencyPrefixOption" class="radio" name="currencySymbolPositionGroup" value="PREFIX" />
      <label for="currencyPrefixOption" class="radio-label">label1</label>
      <br>
      <input type="radio" id="currencySuffixOption" class="radio" name="currencySymbolPositionGroup" value="SUFFIX" />
      <label for="currencySuffixOption" class="radio-label">label2</label>
    </fieldset>
  </div>
</div>
