
<div class="row">
  <div class="twelve columns">

    <div class="field">
    <fieldset style="margin-bottom: 20px;" class="radio-group">
      <input type="radio" id="delivery1" name="delivery" class="radio" value="true">
      <label class="radio-label" for="delivery1">Use the ledger current period</label>
      <br>
      <input type="radio" id="delivery2" name="delivery" class="radio " value="false">
      <label class="radio-label" for="delivery2">Select Period</label>
      <input type="text" style="margin-left: 14px; width: 150px !important" class="input-sm">
    </fieldset>
  </div>

  </div>
</div>

