// Soho Xi - Default Theme with Grey Background
//================================================== //

// Standard CSS reset stuff here
@import '../core/reset';
@import '../core/mixins';
@import '../core/config';

// Core Controls
@import '../core/controls';

// Searchfield
$searchfield-disabled-opacity: .5;
$searchfiled-disabled-border-color: #c8cbd4;
$searchfiled-disabled-icon-color: $graphite03;
