// IDS Enterprise - Uplift Theme
//================================================== //

// Standard CSS reset stuff here
@import '../core/reset';
@import '../core/mixins';

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-uplift/tokens/web/theme-uplift';

// Enterprise color variables
@import '../components/colors/colorpalette';

// Enterprise vars
@import '../core/config';

// Uplift Light Overrides
$body-color-primary-background: $theme-color-palette-white;

$application-menu-border-color: $theme-color-palette-slate-90;
$accordion-inverse-bg-color: $theme-color-palette-slate-90;
$accordion-inverse-pane-bg-color: $theme-color-palette-slate-90;
$accordion-inverse-border-color:  $theme-color-palette-slate-90;
$accordion-inverse-text-color: $theme-color-palette-white;

$datagrid-header-bg-color:  $theme-color-palette-graphite-80;
$datagrid-list-header-color: $theme-color-font-base;
$datagrid-list-header-bg-color: $theme-color-palette-white;
$datagrid-list-header-active-color: $theme-color-palette-graphite-20;
$datagrid-list-sort-icon-color: $theme-color-palette-slate-40;
$listview-border-color: $theme-color-palette-slate-20;
$panel-border-color: $theme-color-palette-slate-20;

// Core Uplift Controls
@import '../core/controls-uplift';

html.is-chrome:not(.is-mac) {
  ::-webkit-scrollbar-track {
    background-color: $theme-color-body-base;
    border-left: 1px solid $theme-color-brand-secondary-lighter;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: $theme-color-brand-secondary-base;
    border-radius: 10px;

    &:hover {
      background: $theme-color-brand-secondary-alt;
    }
  }
}
