/* stylelint-disable scss/no-global-function-names */
/* stylelint-disable no-invalid-position-at-import-rule */
// IDS Enterprise - New/Uplift Theme
//================================================== //

// Standard CSS reset stuff here
@import '../core/reset';
@import '../core/mixins';
@import '../core/css-utilities';

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-new/tokens/web/theme-new-contrast';

// Enterprise color variables
@import '../components/colors/colorpalette';

// Enterprise vars
@import '../core/config';

// Form Background Color
$header-bg-color: $ids-color-palette-azure-80;
$header-default-bg-color: $ids-color-palette-azure-80;
$header-default-bg-hover-color: rgba(0, 0, 0, .3);
$subhead-bg-color: $ids-color-palette-azure-90;
$header-border-color: $ids-color-palette-slate-100;
$header-button-color: $ids-color-palette-white;
$header-button-focus-color: $ids-color-palette-white;
$header-button-hover-color: rgba($ids-color-palette-slate-70, 0.85);
$header-button-disabled-color: rgba($ids-color-palette-white, 0.3);
$header-primary-btn-background-color: $ids-color-brand-primary-base;
$header-primary-btn-background-hover-color: $ids-color-palette-azure-50;
$header-disabled-color: $ids-color-palette-slate-50;
$header-focus-box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.3);

$body-color-primary-background: rgba($ids-color-palette-slate-10, 0.5);
$homepage-background-color: $body-color-primary-background;
$header-hero-widget-bg-color: $subhead-bg-color;

$dropdown-search-bg-color: $ids-color-palette-white;
$panel-bg-color: $ids-color-palette-white;
$panel-border-color: $ids-color-palette-slate-40;
$drop-shadow-depth: rgba($ids-color-palette-black, 0.2);
$focus-box-shadow-color: rgba(41, 41, 41, 0.3);
$focus-box-shadow: 0 0 4px 2px $focus-box-shadow-color;

$focus-box-shadow-spinbox: 0 -3px 3px 0 $focus-box-shadow-color,
  0 3px 3px 0 $focus-box-shadow-color;

$focus-box-shadow-spinbox-down: 0 -3px 3px 0 $focus-box-shadow-color,
  0 3px 3px 0 $focus-box-shadow-color,
  -3px 0 3px 0 $focus-box-shadow-color;

$focus-box-shadow-spinbox-up: 0 -3px 3px 0 $focus-box-shadow-color,
  0 3px 3px 0 $focus-box-shadow-color,
  3px 0 3px 0 $focus-box-shadow-color;

// Base Colors
$inverse-color: $ids-color-palette-white;

// Text Color
$font-color-extrahighcontrast: $ids-color-palette-slate-100;
$font-color-highcontrast: $ids-color-palette-slate-100;
$font-color: $ids-color-palette-slate-90;
$font-color-lowcontrast: $ids-color-palette-slate-70;
$label-disabled-color: $input-color-disabled-border;
$disabled-color: $ids-color-palette-slate-50;
$signin-title-color: $ids-color-palette-slate-100;

// New Text Colors
$font-color-default: $ids-color-palette-black;
$font-color-descriptive: $ids-color-palette-slate-90;
$font-color-hyperlink: $ids-color-brand-primary-base;
$font-color-muted: $ids-color-palette-slate-50;
$font-color-alert: $ids-color-status-danger;

// The hyperlink Style
$hyperlink-color: $link-color-initial-font;
$hyperlink-focus-border-color: $link-color-initial-font;
$hyperlink-visited-color: $ids-color-palette-amethyst-100;
$hyperlink-disabled-color: $disabled-color;
$hyperlink-hover-color: $ids-color-brand-primary-alt;

// Rules
$hr-top-color: $ids-color-palette-slate-30;
$hr-bottom-color: transparent;

// Circle Pager
$circlepager-border-color: $ids-color-palette-slate-60;
$circlepager-hover-bg-color: $ids-color-palette-white;
$circlepager-hover-border-color: $ids-color-palette-black;
$circlepager-focus-bg-color: $ids-color-palette-white;
$circlepager-focus-border-color: $ids-color-brand-primary-alt;

$circlepager-active-bg-color: $ids-color-brand-primary-base;
$circlepager-active-border-color: $ids-color-brand-primary-base;
$circlepager-active-hover-bg-color: $ids-color-brand-primary-base;
$circlepager-active-hover-border-color: $ids-color-brand-primary-base;
$circlepager-active-focus-bg-color: $ids-color-brand-primary-base;
$circlepager-active-focus-border-color: $ids-color-brand-primary-base;

$circlepager-disable-bg-color: transparent;
$circlepager-disable-border-color: $ids-color-brand-secondary-alt;
$circlepager-disable-hover-bg-color: transparent;
$circlepager-disable-hover-border-color: $ids-color-brand-secondary-alt;
$circlepager-disable-focus-bg-color: transparent;
$circlepager-disable-focus-border-color: $ids-color-brand-secondary-alt;

// Popovers
$popover-bg-color: $ids-color-palette-white;
$popover-border-color: $ids-color-palette-slate-30;
$popover-box-shadow: 0 2px 5px $drop-shadow-depth;
$popover-arrow-border-color: $ids-color-palette-slate-30;
$popover-color: $ids-color-font-base;
$popover-separator-color: $ids-color-palette-slate-30;

// Tooltips
$tooltip-bg-color: $ids-color-palette-slate-80;
$tooltip-border-color: $ids-color-palette-slate-80;
$tooltip-box-shadow: 0 2px 5px $drop-shadow-depth;
$tooltip-color: $ids-color-palette-white;
$tooltip-error-bg-color: $ids-color-status-danger;
$tooltip-error-border-color: $ids-color-status-danger;
$tooltip-error-color: $ids-color-palette-white;

// Badges
$badge-neutral-color: $ids-color-palette-slate-100;
$badge-neutral-icon-color: $ids-color-palette-slate-100;
$badge-neutral-bg-color: $ids-color-palette-slate-20;
$badge-neutral-hover-border-color: $ids-color-palette-slate-100;
$badge-neutral-hover-bg-color: $ids-color-palette-white;
$badge-secondary-color: $ids-color-palette-black;
$badge-secondary-icon-color: $ids-color-palette-black;
$badge-secondary-bg-color: $ids-color-palette-white;
$badge-secondary-border-color: $ids-color-palette-slate-60;
$badge-secondary-hover-bg-color: $ids-color-palette-white;
$badge-secondary-disabled-border-color: $ids-color-palette-slate-50;
$badge-error-bg-color: $ids-color-palette-ruby-80;
$badge-error-color: $ids-color-palette-white;
$badge-error-icon-color: $ids-color-palette-white;
$badge-error-hover-icon-color: $ids-color-palette-slate-40;
$badge-error-hover-bg-color: $ids-color-palette-ruby-90;
$badge-alert-bg-color: $ids-color-palette-amber-100;
$badge-alert-color: $ids-color-palette-white;
$badge-alert-icon-color: $ids-color-palette-white;
$badge-alert-hover-icon-color: $ids-color-palette-slate-40;
$badge-good-color: $ids-color-palette-white;
$badge-good-icon-color: $ids-color-palette-white;
$badge-good-hover-icon-color: $ids-color-palette-white;
$badge-good-bg-color: $ids-color-palette-emerald-100;
$badge-good-hover-bg-color: $ids-color-palette-emerald-30;
$badge-info-bg-color: $ids-color-palette-azure-80;
$badge-info-color: $ids-color-palette-white;
$badge-info-icon-color: $ids-color-palette-white;
$badge-info-hover-icon-color: $ids-color-palette-slate-40;
$badge-neutral-icon-color: $ids-color-palette-slate-90;
$badge-neutral-hover-icon-color: $ids-color-palette-slate-60;

// Status Colors
$status-01-bg-color: $ids-color-palette-ruby-80;
$status-02-bg-color: $ids-color-palette-amber-100;
$status-03-bg-color: $ids-color-palette-amber-100;
$status-04-bg-color: $ids-color-palette-emerald-100;
$status-05-bg-color: $ids-color-palette-azure-80;

.tag,
.badge {
  font-weight: $ids-number-font-weight-bold !important;
}

// Popup Menu
$popupmenu-color: $font-color-extrahighcontrast;
$popupmenu-icon-color: $ids-color-palette-slate-60;
$popupmenu-bg-color: $ids-color-palette-white;
$popupmenu-border-color: $ids-color-palette-slate-60;
$popupmenu-box-shadow: 0 2px 5px $drop-shadow-depth;
$popupmenu-heading-color: $ids-color-palette-slate-70;
$popupmenu-hover-color: $ids-color-palette-slate-20;
$popupmenu-checked-color: $ids-color-palette-azure-90;
$popupmenu-checked-color-inverse: $ids-color-brand-primary-base;

// Buttons
$button-color-secondary-initial-font-new: $ids-color-palette-azure-80;
$button-color-secondary-initial-border-new: $ids-color-palette-azure-80;
$button-color-secondary-hover-border-new: $ids-color-palette-azure-90;
$button-color-secondary-hover-background-new: $ids-color-palette-azure-10;
$button-color-secondary-disabled-background-new: $ids-color-palette-slate-10;
$button-color-secondary-disabled-border-new: $ids-color-palette-slate-50;
$button-color-secondary-disabled-font-new: $ids-color-palette-slate-50;
$button-disabled-background-color: transparent;

$button-color-tertiary-hover-background-new: $ids-color-palette-azure-20;
$button-color-tertiary-hover-font-new: $ids-color-palette-azure-80;

$button-color-primary-disabled-font-new: $ids-color-palette-white;

// Tertiary Buttons
$button-color-tertiary-initial-font: $ids-color-palette-slate-80;
$button-color-tertiary-actionsheet-hover-font: $button-color-tertiary-hover-font-new;
$tertiary-btn-ripple-color: $ids-color-brand-primary-alt;

$button-editor-color-hover-background-new: rgba(0, 0, 0, .7);

// Secondary with Border
$secondary-border-btn-color: $ids-color-palette-slate-90;
$secondary-border-btn-border-color: $ids-color-palette-slate-90;
$secondary-border-btn-hover-color: $ids-color-palette-slate-100;
$secondary-border-btn-hover-border-color: $ids-color-palette-slate-100;
$secondary-border-btn-ripple-color: $ids-color-brand-primary-alt;

// Input Fields
$input-color: $input-color-initial-font;
$input-disabled-color: $input-color-disabled-font;
$input-placeholder-color: $ids-color-palette-slate-60;
$input-readonly-color: $input-color-readonly-font;

// States
$error-color: #a30d11;
$error-icon-fill: #a30d11;
$error-border-color: #a30d11;
$alert-color: $ids-color-palette-amber-100;
$error-text-color: $ids-color-status-danger;
$success-color: $ids-color-status-success;
$info-color: $status-05-color;
$error-focus-box-shadow: 0 0 4px 2px rgba(222, 129, 129, 0.3);
$dirty-icon-fill: $ids-color-palette-amber-50;
$success-icon-fill: $ids-color-status-success;
$info-icon-fill: $ids-color-palette-azure-80;
$selected-bg-color: rgba($ids-color-brand-primary-base, 0.3);

// Autocomplete
$autocomplete-light-text: $ids-color-palette-slate-50;
$autocomplete-active-bg-color: $body-color-primary-background;
$autocomplete-box-shadow: 0 2px 5px 2px $focus-box-shadow-color;
$autocomplete-box-shadow-flipped: 0 -2px 5px 2px $focus-box-shadow-color;
$trigger-icon-fill-color: $ids-color-palette-slate-90;
$trigger-icon-fill-light-color: $ids-color-palette-slate-80;
$trigger-hover-color: $ids-color-palette-slate-60;
$trigger-active-color: $ids-color-brand-primary-base;
$trigger-focus-color: $ids-color-brand-primary-base;

//List View
$listview-bg-color: $ids-color-palette-white;
$listview-bg-color-alternate: $ids-color-palette-slate-20;
$listview-hover-bg-color: $ids-color-palette-slate-10;
$listview-border-color: $ids-color-palette-slate-50;
$listview-color: $ids-color-palette-black;
$listview-secondary-color: $ids-color-palette-slate-90;
$listview-tertiary-color: $ids-color-palette-slate-70;
$listview-disabled-color: $disabled-color;
$listview-selected-text-color: $font-color-extrahighcontrast;
$listview-header-bg-color: $ids-color-brand-secondary-alt;
$listview-header-color: $font-color-extrahighcontrast;
$listview-subhead-color: $ids-color-palette-slate-60;

$listview-toolbar-button-text-color: $button-color-tertiary-initial-font;
$listview-toolbar-button-icon-color: $button-color-tertiary-initial-font;
$listview-toolbar-button-text-hover-color: $ids-color-brand-primary-base;
$listview-toolbar-button-icon-hover-color: $ids-color-brand-primary-base;
$listview-toolbar-button-text-selected-color: $ids-color-brand-primary-base;
$listview-toolbar-button-icon-selected-color: $ids-color-brand-primary-base;

$listview-search-disabled-color: $ids-color-palette-black;
$listview-search-disabled-opacity: 0.8;
$listview-search-disabled-border-color: $ids-color-palette-slate-60;
$listview-search-disabled-icon-color: $ids-color-palette-slate-60;

// Listbuilder
$listbuilder-bg-color: $input-color-initial-background;
$listbuilder-bg-color-hover: $ids-color-brand-secondary-alt;
$listbuilder-bg-color-selected: $ids-color-brand-primary-base;
$listbuilder-border-color: $input-color-initial-border;
$listbuilder-border-color-focus: $ids-color-brand-primary-alt;
$listbuilder-icon-color-hover: $font-color-highcontrast;
$listbuilder-text-color: $ids-color-palette-black;
$listbuilder-input-selection-bg-color: $ids-color-palette-azure-100;

$listview-search-border-color: $ids-color-palette-black;
$listview-full-width-bg-color: $ids-color-palette-white;
$listview-search-wrapper-border-color: $ids-color-palette-slate-50;

// Toolbar
$toolbar-standalone-bg-color: $ids-color-palette-slate-10;
$toolbar-standalone-border-color: $ids-color-palette-slate-60;
$toolbar-standalone-disabled-color: $ids-color-palette-slate-40;
$toolbar-separator-color: $ids-color-palette-slate-60;
$toolbar-btn-actions-hover-bg-color: $button-color-tertiary-hover-background-new;

// Field Filter
$fieldfilter-border-side-color: $input-color-initial-border;

// Formatter Toolbar
$formatter-toolbar-separator-color: $ids-color-palette-slate-60;

//Contextual Toolbar
$contextual-toolbar-bg-color: $ids-color-brand-primary-base;
$contextual-toolbar-color: $inverse-color;
$contextual-toolbar-button-color: rgba($inverse-color, 1);
$contextual-toolbar-button-hover-color: rgba($inverse-color, 0.7);
$contextual-toolbar-button-disabled-color: rgba($inverse-color, 0.3);
$contextual-panel-separator-bg-color: $ids-color-palette-slate-60;

// Drop down
$dropdown-menu-border-color: $ids-color-brand-primary-base;
$dropdown-selected-bg-color: $ids-color-brand-primary-base;
$dropdown-menu-separator-color: $ids-color-palette-slate-70;
$dropdown-menu-separator-border-color: $ids-color-palette-slate-60;
$dropdown-readonly-icon-color: $ids-color-palette-slate-40;

// Date Picker
$datepicker-month-year-color: $ids-color-palette-black;
$datepicker-icon-active-color: $ids-color-palette-azure-90;
$datepicker-alternate-month-color: $ids-color-palette-slate-50;
$datepicker-day-color: $ids-color-palette-black;
$datepicker-focus-border-color: $ids-color-brand-primary-alt;
$datepicker-selected-bg-color: $ids-color-brand-primary-base;
$datepicker-selected-color: $inverse-color;
$datepicker-today-color: $ids-color-palette-black;
$datepicker-hover-text-color: $ids-color-palette-black;
$datepicker-hover-bg-color: $ids-color-palette-slate-30;
$datepicker-disabled-border-color: $input-color-disabled-border;
$datepicker-disabled-bg-color: $ids-color-palette-slate-20;
$datepicker-disabled-color: $ids-color-brand-secondary-alt;
$datepicker-readonly-icon-color: $ids-color-palette-slate-40;

.calendar-table .is-today {
  text-decoration: underline;
}

//Time Picker
$timepicker-disabled-border-color: $input-color-disabled-border;
$timepicker-disabled-color: $ids-color-brand-secondary-alt;
$timepicker-disabled-icon-color: $input-disabled-color;
$timepicker-readonly-icon-color: $ids-color-palette-slate-40;

// Color Palette Background
$color-border-color: rgba(0, 0, 0, 0.2);

// Color Picker
$colorpicker-initial-bg-color: $ids-color-palette-slate-60;
$colorpicker-swatch-border-color: $ids-color-palette-slate-60;
$colorpicker-checkmark-one-color: $ids-color-palette-black;
$colorpicker-checkmark-two-color: $ids-color-palette-white;
$colorpicker-readonly-icon-color: $ids-color-palette-slate-40;

// Fileupload
$fileupload-border-color: $ids-color-palette-slate-50;
$fileupload-droparea-color: $ids-color-palette-slate-50;
$fileupload-secondary-color: $ids-color-palette-slate-70;
$fileupload-error-border-color: $ids-color-status-danger;
$fileupload-completed-color: #225800;
$fileupload-completed-border-color: #225800;
$fileupload-droparea-hover-color: $ids-color-palette-slate-50;
$fileupload-droparea-hover-bg-color: $ids-color-palette-azure-20;
$fileupload-cancel-bg-color: $ids-color-palette-slate-50;
$fileupload-cancel-hover-bg-color: darken($ids-color-palette-slate-50, 15%);
$fileupload-droparea-bg-color: rgba($ids-color-palette-slate-10, 0.5);
$fileupload-droparea-hover-bg-color: $ids-color-palette-slate-10;
$fileupload-droparea-dd-hover-bg-color: rgba(200, 233, 244, 0.8);
$fileupload-droparea-dd-hover-border-color: $ids-color-brand-primary-base;

//Spinbox
$spinbox-active-color: $font-color-extrahighcontrast;
$spinbox-bg-color: $ids-color-palette-slate-30;
$spinbox-button-color: $ids-color-palette-white;

// Error Page
$error-page-bg-color: $ids-color-palette-slate-20;
$error-page-content-bg-color: $ids-color-palette-slate-10;
$error-page-title-color: $ids-color-palette-black;
$error-page-info-color: $label-color;
$error-border-color: $ids-color-status-danger;
$error-box-shadow: 0 2px 5px $drop-shadow-depth;

//Skip Link
$skip-link-border-color: $ids-color-palette-slate-60;
$skip-link-bg-color: $ids-color-palette-slate-10;
$skip-link-color: $ids-color-brand-primary-base;

// Icons
$icon-color: $font-color;
$icon-empty-bg-color: $ids-color-palette-slate-60;

//Field Set
$fieldset-border-top-color: $ids-color-palette-slate-60;
$fieldset-border-bottom-color: transparent;
$fieldset-title-color: $font-color-highcontrast;

// Expandable Area
$expandable-area-border-color: $ids-color-palette-slate-60;
$expandable-area-title-color: $ids-color-palette-black;

// Cards
$card-selected-background-color: $selected-bg-color;
$card-scrolling-box-shadow: 0 0 4px 0 #00000050;
$card-scrolling-border-color: $ids-color-palette-slate-30;
$card-expandable-sub-heading: $ids-color-palette-slate-90;

// Cardlist
$cardlist-border-color: $ids-color-palette-slate-60;
$cardlist-header-color: $ids-color-palette-black;
$cardlist-actions-color: $ids-color-palette-slate-90;
$cardlist-box-shadow-color: rgba(0, 0, 0, 0.15);

// Switch
$radio-checked-color: $ids-color-palette-azure-100;
$switch-checked-bg-color: $ids-color-palette-azure-90;
$switch-unchecked-bg-color: $ids-color-palette-white;
$switch-unchecked-bar-color: $ids-color-palette-slate-80;
$switch-unchecked-border-color: $ids-color-palette-slate-60;
$switch-unchecked-color: $ids-color-palette-slate-50;
$switch-unchecked-pressed-bg-color: $ids-color-palette-slate-40;
$switch-checked-disabled-bar-color: $ids-color-palette-azure-30;
$switch-disabled-bg-color: $ids-color-palette-slate-20;
$switch-disabled-border-color: $ids-color-palette-slate-20;
$switch-disabled-bar-color: $ids-color-palette-slate-40;
$switch-focus-box-shadow: 0 0 0 3px #3f505f, 0 0 0 4px $ids-color-brand-primary-base, 0 0 4px 6px rgba(41, 41, 41, 0.3);
$switch-hover-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

// Editor
$editor-bg-color: $input-color-initial-background;
$editor-border-color: $input-color-initial-border;
$editor-hover-border-color: $input-color-hover-border;
$editor-focus-border-color: $input-color-focus-border;
$editor-line-number-color: $ids-color-palette-slate-50;
$editor-color: $input-color;
$editor-toolbar-bg-color: $ids-color-palette-slate-90;
$editor-toolbar-bottom-border-color: $ids-color-palette-slate-30;
$editor-btn-color: $ids-color-palette-slate-20;
$editor-btn-hover-color: $ids-color-palette-white;
$editor-btn-active-color: $ids-color-palette-azure-40;
$editor-btn-disabled-color: $ids-color-palette-slate-40;
$editor-readonly-color: $input-readonly-color;
$editor-btn-active-box-shadow: 0 0 0 2px transparent, 0 0 0 1px $ids-color-brand-primary-base, $focus-box-shadow;
$editor-top-focus-box-shadow: -2px -2px 3px 0 rgba(41, 41, 41, 0.3);
$editor-blockquote-color: $ids-color-palette-slate-70;

// Radio Buttons
$radio-border-hover-color: $radio-color-unchecked-hover-border;
$radio-checked-color: $ids-color-brand-primary-base;
$radio-checked-bg-color: $radio-color-checked-initial-background;
$radio-disabled-checked-bg-color: $radio-color-checked-disabled-background;

// Pager
$pager-text-color: $ids-color-brand-primary-base;
$pager-selected-color: $font-color-highcontrast;
$pager-focus-border-color: $input-color-focus-border;
$pager-hover-color: $font-color-extrahighcontrast;
$pager-disabled-color: $ids-color-palette-slate-40;

// Slider
$slider-bg-color: $ids-color-palette-slate-60;
$slider-active-bg-color: $ids-color-brand-primary-base;
$slider-labels-color: $ids-color-palette-slate-90;
$slider-disabled-color: $ids-color-brand-secondary-alt;
$slider-disabled-active-bg-color: $ids-color-palette-slate-60;
$slider-disabled-handle-color: $ids-color-palette-slate-60;
$slider-disabled-range-color: $ids-color-palette-slate-60;
$slider-readonly-color: $ids-color-palette-slate-60;
$slider-readonly-active-bg-color: $ids-color-palette-slate-80;
$slider-readonly-labels-color: $ids-color-palette-slate-70;
$slider-readonly-handle-color: $ids-color-palette-slate-80;
$slider-readonly-range-color: $ids-color-palette-slate-80;
$slider-hover-shadow: 0 2px 5px 0 rgba($ids-color-palette-black, 0.3);

//Modal
$modal-bg-color: $ids-color-palette-slate-10;
$modal-border-color: $ids-color-palette-slate-60;
$modal-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
$modal-btn-color: $ids-color-palette-slate-80;
$modal-color: $ids-color-palette-slate-90;
$modal-btn-border-color: $ids-color-palette-slate-60;
$modal-btn-hover-color: $ids-color-palette-slate-50;
$modal-btn-primary-color: $ids-color-palette-azure-90;
$modal-btn-primary-hover-color: $ids-color-palette-azure-90;
$modal-btn-disabled-color: $ids-color-palette-slate-80;
$modal-btn-disabled-opacity: 0.5;
$modal-primary-color: $ids-color-palette-black;
$modal-secondary-color: $ids-color-palette-slate-90;

// Accordion
$accordion-bg-color: $ids-color-palette-slate-10;
$accordion-border-color: $ids-color-palette-slate-30;
$accordion-toplevel-border-color: $ids-color-palette-slate-40;
$accordion-pane-bg-color: $ids-color-palette-slate-40;
$accordion-text-color: $ids-color-palette-slate-90;
$accordion-text-active-color: $ids-color-palette-black;
$accordion-icon-color: $ids-color-palette-slate-90;
$accordion-icon-hover-color: $ids-color-palette-black;
$accordion-hover-border-color: $ids-color-palette-black;
$accordion-hover-text-color: $ids-color-palette-slate-100;

$accordion-panel-border-color: $ids-color-palette-slate-40;
$accordion-static-panel-bg-color: $ids-color-palette-slate-90;

$accordion-alternate-bg-color: $ids-color-palette-white;
$accordion-alternate-border-color: $ids-color-palette-slate-40;
$accordion-alternate-pane-bg-color: $ids-color-palette-slate-40;

$accordion-inverse-bg-color: $ids-color-palette-slate-80;
$accordion-inverse-pane-bg-color: $ids-color-palette-black;
$accordion-inverse-border-color: $ids-color-palette-slate-100;
$accordion-inverse-border-hover-color: $ids-color-palette-white;
$accordion-inverse-text-color: $ids-color-palette-slate-30;
$accordion-inverse-text-hover-color: $ids-color-palette-white;
$accordion-inverse-focus-state-color: $ids-color-palette-white;

$accordion-focused-text-color: $ids-color-palette-azure-50;
$accordion-focused-border-color: $ids-color-palette-azure-50;

$accordion-selected-bg-color: $ids-color-palette-slate-50;
$accordion-selected-text-color: $ids-color-palette-white;

$accordion-highcontrast-text-decoration: underline;

$accordion-disabled-bg-color: transparent;
$accordion-disabled-border-color: $ids-color-palette-slate-70;
$accordion-disabled-text-color: $ids-color-palette-slate-60;
$accordion-disabled-pane-bg-color: transparent;
$accordion-disabled-pane-text-color: $ids-color-palette-slate-60;

$accordion-header-filtered-children-background-color: $ids-color-palette-black;
$accordion-filtered-background-color: $ids-color-palette-black;
$accordion-filtered-text-color: $ids-color-palette-slate-60;

// Application Menu (extends Accoridon)
$application-menu-border-color: $ids-color-palette-slate-40;
$application-menu-trigger-icon-fill-color: $ids-color-palette-slate-30;

// Contextual Action Panel
$contextual-panel-bg: $ids-color-palette-slate-10;
$contextual-panel-border-color: $ids-color-palette-slate-50;
$contextual-panel-color: $ids-color-palette-white;
$contextual-panel-button-color: $ids-color-palette-slate-90;
$contextual-panel-icon-color: $ids-color-palette-slate-90;
$contextual-panel-hover-icon-color: $button-color-tertiary-hover-font;

// BreadCrumb
$breadcrumb-color: $ids-color-palette-slate-80;
$breadcrumb-hover-color: $ids-color-palette-slate-100;
$breadcrumb-disabled-color: $input-color-disabled-border;
$breadcrumb-container-height: $ids-size-font-lg;
$breadcrumb-separator-margin-top: 4px;
$breadcrumb-empty-container-height: calc(#{$breadcrumb-container-height} + 2px);

// Rating (Stars)
$rating-bg-color: $ids-color-palette-amber-60;
$rating-border-color: $ids-color-palette-slate-60;
$rating-hover-color: $ids-color-brand-primary-base;

// Tabs
$tab-text-color: $ids-color-palette-slate-100;
$tab-selected-color: $ids-color-palette-azure-90;
$tab-border-color: $ids-color-brand-secondary-alt;
$tab-hover-color: $ids-color-palette-azure-90;
$tab-background-hover-color-new: $ids-color-palette-azure-10;

// Vertical Tabs
$vertical-tab-text-color: $font-color-extrahighcontrast;
$vertical-tab-text-hover-color: $font-color-extrahighcontrast;
$vertical-tab-text-hover-decoration: underline;
$vertical-tab-bg-hover-color: $ids-color-palette-slate-40;
$vertical-tab-focus-border-color: $ids-color-brand-primary-base;
$vertical-tab-active-text-color: $ids-color-palette-white;
$vertical-tab-active-bg-color: $ids-color-brand-primary-base;

$vertical-tab-panel-bg-color: $panel-bg-color;
$vertical-tab-sidebar-bg-color: $body-color-primary-background;
$vertical-tab-sidebar-border-color: $ids-color-palette-slate-60;

//Multi-tabs
$mutlitabs-section-border-color: $ids-color-palette-slate-60;
$mutlitabs-section-alt-bg-color: $ids-color-palette-white;
$mutlitabs-section-alt-border-color: $ids-color-palette-slate-30;

//Charts
$chart-line-color: $ids-color-palette-slate-30;
$chart-font-color: $font-color-extrahighcontrast;
$chart-font-color-inverse: $font-color-extrahighcontrast;

// DataGrid
$datagrid-border-color: $ids-color-palette-slate-60;
$datagrid-header-color: $ids-color-palette-white;
$datagrid-header-bg-color: $ids-color-palette-slate-70;
$datagrid-nested-header-bg-color: $ids-color-palette-slate-60;
$datagrid-nested-header-border-color: $ids-color-brand-secondary-alt;
$datagrid-header-border-color: $ids-color-palette-slate-50;
$datagrid-header-hover-color: $ids-color-palette-slate-100;
$datagrid-header-active-color: $ids-color-palette-slate-80;
$datagrid-header-checkbox-border-color: $ids-color-palette-slate-50;
$datagrid-sort-icon-color: $ids-color-palette-slate-40;
$datagrid-list-alt-sorted-icon-color: $ids-color-palette-slate-50;
$datagrid-list-draggable-sorted-icon-color: $ids-color-palette-slate-50;
$datagrid-sort-icon-sorted-color: $ids-color-palette-white;
$datagrid-required-icon-color: $ids-color-palette-white;

$datagrid-cell-color: $font-color;
$datagrid-cell-bg-color: $ids-color-palette-white;
$datagrid-light-header-border-color: $ids-color-palette-slate-60;
$datagrid-cell-editing-bg-color: $ids-color-palette-white;
$datagrid-cell-readonly-bg-color: rgba(215, 215, 216, 0.5);
$datagrid-cell-readonly-color: $font-color;
$datagrid-cell-border-color: $ids-color-palette-slate-60;
$datagrid-group-row-border-color: $ids-color-palette-slate-60;
$datagrid-cell-focus-box-shadow: 0 0 4px 1px rgba(80, 83, 90, 0.4);
$datagrid-data-color: $font-color-extrahighcontrast;
$datagrid-row-selected-color: #b3ccdb;
$datagrid-row-selected-color-dark: #a2bbca;
$datagrid-row-hover-color: $ids-color-palette-azure-10;
$datagrid-row-icon-color: $ids-color-palette-slate-90;

$datagrid-alternate-bg-color: $ids-color-palette-slate-30;
$datagrid-alternate-row-hover-color: $ids-color-brand-secondary-alt;
$datagrid-list-header-bg-color: $ids-color-palette-slate-30;
$datagrid-list-group-header-bg-color: $ids-color-palette-slate-40;
$datagrid-list-group-header-border-color: $ids-color-palette-slate-30;
$datagrid-list-header-active-color: $ids-color-palette-slate-40;
$datagrid-list-header-focus-border-color: $ids-color-brand-primary-base;
$datagrid-list-header-box-shadow: 0 0 4px 1px rgba(80, 83, 90, 0.4);
$datagrid-list-header-border-color: transparent;
$datagrid-list-header-color: $ids-color-palette-slate-100;
$datagrid-list-header-hover-color: $ids-color-palette-slate-40;
$datagrid-list-row-hover-color: transparent;
$datagrid-list-sort-icon-color: $ids-color-brand-secondary-alt;
$datagrid-list-sort-icon-hover-color: $ids-color-palette-slate-60;
$datagrid-header-focus-bg-color: $ids-color-palette-slate-80;
$datagrid-header-focus-border-color: $ids-color-palette-white;
$datagrid-list-header-checkbox-border-color: $ids-color-palette-slate-50;
$datagrid-list-row-group-hover-color: $datagrid-row-selected-color;

$datagrid-filter-border-color: $ids-color-palette-slate-40;
$datagrid-filter-hover-border-color: $ids-color-palette-white;
$datagrid-filter-color: $ids-color-palette-white;
$datagrid-filter-hover-color: $ids-color-palette-white;
$datagrid-filter-disabled-color: $ids-color-palette-slate-60;
$datagrid-filter-icon-color: $ids-color-palette-slate-30;
$datagrid-filter-focus-color: $ids-color-palette-azure-40;
$datagrid-filter-active-color: $ids-color-palette-azure-40;

$datagrid-list-filter-border-color: $ids-color-palette-slate-60;
$datagrid-list-filter-hover-border-color: $ids-color-palette-slate-100;
$datagrid-list-filter-color: $ids-color-palette-slate-100;
$datagrid-list-filter-hover-color: $ids-color-palette-slate-100;
$datagrid-list-filter-icon-color: $ids-color-palette-slate-60;
$datagrid-list-filter-disabled-color: $ids-color-palette-slate-40;
$datagrid-list-filter-focus-color: $ids-color-palette-azure-90;
$datagrid-list-filter-active-color: $ids-color-palette-azure-90;

$datagrid-rowgroup-header: $ids-color-palette-slate-20;
$datagrid-rowgroup-color: $font-color;
$datagrid-empty-bg-color: $ids-color-palette-slate-10; //$datagrid-cell-bg-color
$datagrid-badges-azure-font-color: $ids-color-palette-white;

// Search Results
$sr-masthead-text-color: $font-color;
$sr-result-bottom-border-color: $hr-top-color;
$sr-masthead-item-color: $font-color-lowcontrast;

// Tree
$tree-selected-color: $ids-color-palette-black;
$tree-selected-bg-color: $ids-color-palette-slate-30;
$tree-focus-border-color: $ids-color-brand-primary-alt;
$tree-active-bg-color: $ids-color-palette-slate-10;
$tree-icon-color: $ids-color-palette-slate-90;
$tree-link-color: $ids-color-palette-slate-90;
$tree-disabled-color: $ids-color-palette-slate-30;
$tree-hover-color: $ids-color-palette-black;
$tree-hover-icon-color: $ids-color-palette-slate-60;

//Progress
$progress-bg-color: $ids-color-palette-slate-10;
$progress-border-color: $ids-color-palette-slate-60;
$progress-bar-bg-color: $ids-color-palette-azure-90;

//Chart Progress Bar
$chart-progressbar-bg-color: $ids-color-palette-slate-40;
$chart-progressbar-bg-color-dark: $ids-color-palette-slate-20;
$chart-progressbar-completed-fill: $ids-color-palette-emerald-80;
$chart-progressbar-target-fill: $ids-color-palette-slate-60;
$chart-progressbar-primary-fill: $ids-color-brand-primary-base;
$chart-progressbar-dark-fill: $ids-color-brand-primary-base;
$chart-targeted-achievement-bg-color: $ids-color-palette-slate-40;

//Timeline
$timeline-indicator-color: $ids-color-palette-slate-50;
$timeline-indicator-processing-color: $ids-color-brand-primary-base;
$timeline-indicator-complete-color: $ids-color-brand-primary-base;
$timeline-line-color: $ids-color-palette-slate-50;
$timeline-header-color: $ids-color-palette-azure-90;

//Wizard
$wizard-default-bg: $body-color-primary-background;
$wizard-bar-bg: $ids-color-palette-slate-60;
$wizard-color: $ids-color-palette-slate-90;
$wizard-disabled-color: $ids-color-brand-secondary-alt;
$wizard-active-color: $ids-color-brand-primary-base;
$wizard-active-text-color: $ids-color-brand-primary-base;
$wizard-focus-box-shadow: 0 0 0 1px $ids-color-brand-primary-alt;

//Org Chart
$hierarchy-line-color: $ids-color-palette-slate-100;

// Searchfield Colors
$searchfield-bg-color: $ids-color-palette-white;
$searchfield-border-color: $ids-color-palette-slate-30;
$searchfield-icon-color: $button-color-tertiary-initial-font;
$searchfield-text-color: $ids-color-palette-slate-100;
$searchfield-placeholder-text-color: $ids-color-palette-slate-60;
$searchfield-lighter-bg-color: $ids-color-palette-slate-20;
$searchfield-lighter-text-color: $ids-color-palette-slate-50;
$searchfield-lighter-placeholder-text-color: $ids-color-brand-secondary-alt;
$searchfield-active-icon-color: $ids-color-palette-azure-90;

$searchfield-alt-bg-color: $ids-color-palette-white;
$searchfield-alt-border-color: $ids-color-palette-slate-50;

$searchfield-context-bg: $ids-color-palette-slate-10;
$searchfield-context-alt-bg: $ids-color-palette-white;
$searchfield-context-border-color: $ids-color-palette-slate-30;
$searchfield-context-box-shadow-color: $ids-color-palette-slate-30;
$searchfield-context-icon-color: $ids-color-brand-secondary-alt;
$searchfield-context-text-color: $font-color;

$searchfield-card-bg-color: $ids-color-palette-white;
$searchfield-card-border-color: $ids-color-palette-slate-30;
$searchfield-card-icon-color: $ids-color-palette-slate-30;
$searchfield-card-text-color: $font-color;

$searchfield-header-bg-color: $ids-color-palette-white;
$searchfield-header-border-color: $ids-color-palette-slate-90;
$searchfield-header-text-color: $ids-color-palette-white;
$searchfield-header-placeholder-text-color: rgba(255, 255, 255, 0.7);
$searchfield-header-icon-color: $ids-color-palette-slate-60;

//Image Border Color
$image-border-color: $ids-color-palette-slate-30;
$image-background-color: $ids-color-palette-slate-30;

//Toast
$toast-bg-color: $ids-color-palette-white;
$toast-border-color: $ids-color-palette-slate-30;
$toast-header-color: $ids-color-palette-slate-100;
$toast-text-color: $ids-color-font-base;

$toast-shadow: none; //0 0 5px rgba(255, 255, 255, .2);

//Builder Pattern
$builder-header-bg-color: $ids-color-palette-slate-70;

//About
$about-header-color: $ids-color-palette-black;
$about-text-color: $ids-color-palette-black;
$about-text-border-color: $ids-color-palette-slate-60;
$about-text-hover-border-color: $ids-color-palette-black;

// Header
$subheader-searchfield-context-bg: $ids-color-palette-white;
$subheader-input-color-focus-border: $ids-color-palette-slate-100;
$subheader-input-text-color-focus: $ids-color-palette-slate-80;
$header-primary-btn-background-color: $ids-color-palette-azure-70;
$header-primary-btn-background-hover-color: $ids-color-palette-azure-80;
$subheader-searchfield-category-button-font-color: $ids-color-palette-slate-100;

// Header Tabs
$header-tabcontainer-border-color: $ids-color-brand-secondary-alt;
$header-tab-separator: $ids-color-brand-secondary-alt;
$header-tab-selected-color: $inverse-color;
$header-tab-alt-bg-color: $ids-color-palette-slate-10;
$header-tab-alt-separator: $header-tabcontainer-border-color;
$header-tab-alt-normal-color: $ids-color-palette-slate-100;
$header-tab-alt-hover-color: $ids-color-palette-slate-100;
$header-tab-alt-selected-color: $ids-color-palette-slate-100;

$header-tab-background-initial-color-new: $header-default-bg-color;

// Header Breadcrumb
$header-breadcrumb-color: $ids-color-palette-slate-10;
$header-breadcrumb-alt-bg-color: $ids-color-palette-white;
$header-breadcrumb-alt-color: $font-color-highcontrast;
$header-breadcrumb-border-color: $ids-color-palette-slate-60;

// Module Tabs
$module-tabs-bg-color: $ids-color-palette-azure-90;
$module-tabs-x-border-color: $ids-color-palette-azure-50;
$module-tabs-y-border-color: $ids-color-palette-azure-100;
$module-tabs-inactive-bg-color: $ids-color-palette-azure-100;
$module-tabs-active-bg-color: $ids-color-palette-azure-80;
$module-tabs-hover-bg-color: $ids-color-palette-azure-60;
$module-tabs-inactive-text-color: rgba($ids-color-palette-white, 0.85);
$module-tabs-active-text-color: $ids-color-palette-white;
$module-tabs-hover-text-color: $ids-color-palette-white;
$module-tabs-disabled-bg-color: $ids-color-brand-primary-base;
$module-tabs-disabled-x-border-color: $ids-color-palette-azure-40;
$module-tabs-disabled-y-border-color: $ids-color-brand-primary-alt;
$module-tabs-disabled-text-color: $ids-color-palette-azure-40;

// Composite Tabs
$composite-tabs-panel-bg-color: $ids-color-palette-white;

// Splitter
$splitter-grip-bg-color: $ids-color-palette-slate-90;
$splitter-active-bg-color: $ids-color-palette-slate-20;
$splitter-active-grip-bg-color: $ids-color-palette-black;
$splitter-box-shadow-color: rgba(37, 120, 169, 0.75);

// Step Chart
$step-chart-bg-color: $ids-color-palette-slate-20;
$step-chart-border-color: $ids-color-palette-slate-10;
$step-chart-inprogress-bg-color: $ids-color-palette-ruby-20;
$step-chart-completed-bg-color: $ids-color-brand-primary-base;
$step-chart-totally-completed-bg-color: $ids-color-status-success;

//Swaplist
$swaplist-bg-color-hover: $ids-color-brand-secondary-alt;
$swaplist-bg-color-selected: $ids-color-brand-primary-base;
$swaplist-border-color-focus: $ids-color-brand-primary-alt;
$swaplist-icon-color: $ids-color-palette-slate-50;
$swaplist-icon-color-hover: $font-color-highcontrast;
$swaplist-border-color-hover: $font-color-highcontrast;
$swaplist-text-color: $ids-color-palette-black;
$swaplist-title-text-color: $ids-color-palette-black;

// Block Grid
$blockgrid-selected-bg-color: $selected-bg-color;
$blockgrid-selected-border-color: $button-color-secondary-focus-border;
$blockgrid-hover-color: $listview-hover-bg-color;
$blockgrid-focus-border-color: $ids-color-brand-primary-base;

// Tree Map
$treemap-title-bg-color: $ids-color-palette-slate-80;
$treemap-title-color: $ids-color-palette-white;

// Calendar
$calendar-bg-color: $ids-color-palette-white;
$calendar-event-color: $ids-color-palette-slate-100;
$calendar-line-color: $ids-color-palette-slate-30;
$calendar-line-color-light: $ids-color-palette-slate-20;
$calendar-selected-border-color: $ids-color-brand-primary-base;
$calendar-selected-bg-color: $ids-color-palette-slate-10;
$calendar-hover-bg-color: rgba(74, 74, 74, 0.1);
$calendar-disabled-bg-color: $input-color-readonly-background;
$calendar-disabled-color: $ids-color-palette-slate-80;

// Swipe Action
$swipeaction-left-bg-color: $ids-color-palette-slate-30;
$swipeaction-left-active-bg-color: $ids-color-palette-slate-40;
$swipeaction-left-hover-bg-color: $ids-color-palette-slate-40;
$swipeaction-right-bg-color: $ids-color-palette-azure-50;
$swipeaction-right-color: $ids-color-palette-white;
$swipeaction-right-active-bg-color: $ids-color-palette-azure-60;
$swipeaction-right-hover-bg-color: $ids-color-palette-azure-60;
$swipeaction-right-hover-color: $ids-color-palette-white;

// New Theme Only Variables
$new-acc-border-radius: 6px;
$new-acc-header-text-color: $ids-color-palette-slate-10;
$new-acc-header-selected-text-color: $ids-color-palette-white;

$new-acc-subheader-text-color: $ids-color-palette-slate-10;

$new-acc-expanded-bg-color: $ids-color-palette-slate-100;

$new-appmenu-searchfield-placeholder-color: $ids-color-palette-slate-30;

$new-appmenu-main-bg-color: $ids-color-palette-black;
$new-appmenu-header-bg-color: $ids-color-palette-black;
$new-appmenu-footer-bg-color: $ids-color-palette-black;

$new-appmenu-hover-bg-color: $ids-color-palette-slate-80;
$new-appmenu-selected-bg-color: $ids-color-palette-slate-70;
$new-appmenu-selected-border-color: $ids-color-palette-white;

// Core New Theme Components
@import '../core/controls-new';

//Swaplist
.swaplist {
  .audible {
    background-color: $ids-color-palette-slate-70;
  }
}

// Tree - add a line
.tree a:not(.is-disabled):hover .tree-text {
  border-bottom: 1px solid;
}

// Override contrast text on high contrast
.datagrid-cell-wrapper .chart-targeted-text {
  color: $ids-color-palette-white;
}

// Override disabled border color when in hover state
.listview-search {
  .searchfield {
    &[disabled] {
      &:hover {
        border-bottom: 1px solid $ids-color-palette-slate-60 !important;
        border-color: transparent;
      }
    }
  }
}

html.is-chrome:not(.is-mac) {
  ::-webkit-scrollbar-track {
    background-color: $ids-color-body-lightest;
    border: 1px solid $ids-color-palette-slate-20;
  }

  ::-webkit-scrollbar-corner {
    background-color: $ids-color-body-lightest;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    height: 14px;
    width: 14px;
  }

  ::-webkit-scrollbar-thumb {
    background: $ids-color-palette-slate-20;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 12px;

    &:hover {
      background: $ids-color-palette-slate-50;
      background-clip: content-box;
      border: 2px solid transparent;
    }
  }
}

//Override background color when hover on high contrast
.listview {
  &.disable-hover {
    li:hover {
      background-color: $ids-color-palette-white;
    }
  }
}
