// IDS Enterprise - Default Theme - Light with Grey Background
//================================================== //

// Standard CSS reset
@import '../core/reset';
@import '../core/mixins';

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-soho/tokens/web/theme-soho';

// Enterprise color palette
@import '../components/colors/colorpalette';

// Local vars
@import '../core/config';

// Core Components
@import '../core/controls';
