// IDS Enterprise - Uplift Theme
//================================================== //

// Standard CSS reset stuff here
@import '../core/reset';
@import '../core/mixins';

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-uplift/tokens/web/theme-uplift';

// Enterprise color variables
@import '../components/colors/colorpalette';

// Enterprise vars
@import '../core/config';

// Uplift Light Overrides
$body-color-primary-background: $theme-color-palette-white;
$drop-shadow-depth: rgba($theme-color-boxshadow-base, 0.2);

$application-menu-border-color: $theme-color-palette-slate-90;
$accordion-inverse-bg-color: $theme-color-palette-slate-90;
$accordion-inverse-pane-bg-color: $theme-color-palette-slate-90;
$accordion-inverse-border-color:  $theme-color-palette-slate-90;
$accordion-inverse-text-color: $theme-color-palette-white;

$cardlist-box-shadow-color: rgba(0, 0, 0, 0.1);

$masthead-bg-color: $theme-color-palette-slate-80;
$masthead-border-color: $theme-color-palette-slate-90;

$datagrid-header-bg-color:  $theme-color-palette-graphite-80;
$datagrid-list-header-color: $theme-color-font-base;
$datagrid-list-header-bg-color: $theme-color-palette-white;
$datagrid-list-header-active-color: $theme-color-palette-graphite-20;
$datagrid-list-sort-icon-color: $theme-color-palette-slate-40;
$listview-border-color: $theme-color-palette-slate-20;
$panel-border-color: $theme-color-palette-graphite-30;

// Tabs
$tab-text-color: $theme-color-palette-graphite-70;

// Uplift-only Variables
$uplift-acc-border-radius: 6px;
$uplift-acc-header-text-color: $theme-color-palette-slate-40;
$uplift-acc-header-selected-text-color: $theme-color-palette-white;

$uplift-acc-subheader-text-color: $theme-color-palette-slate-50;

$uplift-acc-expanded-bg-color: $theme-color-palette-slate-100;

$uplift-appmenu-searchfield-placeholder-color: $theme-color-palette-slate-40;

$uplift-appmenu-main-bg-color: $theme-color-palette-slate-90;
$uplift-appmenu-header-bg-color: $theme-color-palette-slate-90;
$uplift-appmenu-footer-bg-color: $theme-color-palette-slate-100;

$uplift-appmenu-hover-bg-color: $theme-color-palette-slate-80;
$uplift-appmenu-selected-bg-color: $theme-color-palette-black;
$uplift-appmenu-selected-border-color: $theme-color-palette-white;

// Core Uplift Controls
@import '../core/controls-uplift';

html.is-chrome:not(.is-mac) {
  ::-webkit-scrollbar-track {
    background-color: $theme-color-body-base;
    border-left: 1px solid $theme-color-brand-secondary-lighter;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: $theme-color-brand-secondary-base;
    border-radius: 10px;

    &:hover {
      background: $theme-color-brand-secondary-alt;
    }
  }
}
