// IDS Enterprise - Default Theme - Light with Grey Background
//================================================== //

// Standard CSS reset
@import '../core/reset';
@import '../core/mixins';

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-classic/tokens/web/theme-classic';

// Enterprise color palette
@import '../components/colors/colorpalette';

// Local vars
@import '../core/config';

$header-toolbar-searchfield-icon-color: $ids-color-palette-white;
$header-toolbar-button-hover-color: transparent;

$header-tab-normal-color: rgba($ids-color-palette-white, 0.7);
$header-tab-hover-color: $ids-color-palette-white;

// Buttons
$button-disabled-background-color: transparent;


//================================================== //
// Core Components

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import '../core/controls';

