// IDS Enterprise - Uplift Theme
//================================================== //

// Standard CSS reset stuff here
@import '../core/reset';
@import '../core/mixins';

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-uplift/tokens/web/theme-uplift';

// Enterprise color variables
@import '../components/colors/colorpalette';

// Enterprise vars
@import '../core/config';

// Uplift Light Overrides
$header-bg-color: $theme-color-brand-primary-base;
$subhead-bg-color: $theme-color-brand-primary-alt;
$disabled-color: $theme-color-palette-slate-30;
$label-disabled-color: $input-color-disabled-border;
$input-disabled-color: $input-color-disabled-font;

$body-color-primary-background: $theme-color-palette-white;
$drop-shadow-depth: rgba($theme-color-boxshadow-base, 0.2);

$application-menu-border-color: $theme-color-palette-slate-90;
$accordion-inverse-bg-color: $theme-color-palette-slate-90;
$accordion-inverse-pane-bg-color: $theme-color-palette-slate-90;
$accordion-inverse-border-color:  $theme-color-palette-slate-90;
$accordion-inverse-text-color: $theme-color-palette-white;
$accordion-static-panel-bg-color: $theme-color-palette-slate-90;

$cardlist-box-shadow-color: rgba(0, 0, 0, 0.1);

$masthead-bg-color: $theme-color-palette-slate-80;
$masthead-border-color: $theme-color-palette-slate-90;

$datagrid-header-bg-color:  $theme-color-palette-graphite-80;
$datagrid-list-header-color: $theme-color-font-base;
$datagrid-list-header-bg-color: $theme-color-palette-graphite-10;
$datagrid-list-group-header-bg-color: $theme-color-palette-graphite-20;
$datagrid-list-group-header-border-color: $theme-color-palette-graphite-10;
$datagrid-list-header-active-color: $theme-color-palette-graphite-20;
$datagrid-list-sort-icon-color: $theme-color-palette-slate-40;
$datagrid-sort-icon-color: $theme-color-palette-slate-50;
$listview-border-color: $theme-color-palette-slate-20;
$panel-border-color: $theme-color-palette-graphite-30;

// Calendar
$calendar-bg-color: $panel-bg-color;
$calendar-line-color: $theme-color-palette-graphite-20;
$calendar-line-color-light: $theme-color-palette-graphite-10;
$calendar-event-color: $theme-color-font-base;
$calendar-selected-border-color: $theme-color-brand-primary-base;
$calendar-selected-bg-color: $theme-color-palette-graphite-10;
$calendar-hover-bg-color: rgba(240, 240, 240, 0.5);
$calendar-disabled-bg-color: $theme-color-palette-graphite-20;
$calendar-disabled-color: $theme-color-brand-secondary-contrast;

// Time Picker
$timepicker-disabled-icon-color: $input-disabled-color;

// Color Picker
$colorpicker-readonly-icon-color: $theme-color-palette-slate-40;

// Color Palette Background
$color-border-color: rgba(0, 0, 0, 0.2);

// Date Picker
$datepicker-readonly-icon-color: $theme-color-palette-slate-40;

// Dropdown
$dropdown-readonly-icon-color: $theme-color-palette-slate-40;

// Editor
$editor-bg-color: transparent;
$editor-border-color: $input-color-initial-border;
$editor-hover-border-color: $input-color-hover-border;
$editor-focus-border-color: $input-color-focus-border;
$editor-line-number-color: $theme-color-brand-secondary-alt;
$editor-color: $input-color;
$editor-toolbar-bg-color: $theme-color-palette-graphite-50;
$editor-toolbar-bottom-border-color: $theme-color-palette-graphite-30;
$editor-btn-color: $theme-color-palette-graphite-10;
$editor-btn-hover-color: $theme-color-palette-white;
$editor-btn-active-color: $theme-color-palette-azure-40;
$editor-btn-disabled-color: $theme-color-palette-graphite-40;
$editor-btn-active-box-shadow: 0 0 0 2px transparent, 0 0 0 1px $theme-color-palette-azure-40, $focus-box-shadow;
$editor-top-focus-box-shadow: -2px -2px 3px 0 rgba(54, 138, 192, 0.3);
$editor-blockquote-color: $theme-color-palette-graphite-40;

// Formatter Toolbar
$formatter-toolbar-separator-color: $theme-color-palette-graphite-80;

// Tabs
$tab-text-color: $theme-color-palette-graphite-70;

// Tree
$tree-disabled-color : $theme-color-palette-graphite-30;

// Uplift-only Variables
$uplift-acc-border-radius: 6px;
$uplift-acc-header-text-color: $theme-color-palette-slate-20;
$uplift-acc-header-selected-text-color: $theme-color-palette-white;

$uplift-acc-subheader-text-color: $theme-color-palette-slate-20;

$uplift-acc-expanded-bg-color: $theme-color-palette-black;

$uplift-appmenu-searchfield-placeholder-color: $theme-color-palette-slate-60;

$uplift-appmenu-main-bg-color: $theme-color-palette-slate-100;
$uplift-appmenu-header-bg-color: $theme-color-palette-slate-100;
$uplift-appmenu-footer-bg-color: $theme-color-palette-slate-100;

$uplift-appmenu-hover-bg-color: $theme-color-palette-slate-90;
$uplift-appmenu-selected-bg-color: $theme-color-palette-slate-80;
$uplift-appmenu-selected-border-color: $theme-color-brand-primary-alt;

// Core Uplift Controls
@import '../core/controls-uplift';

html.is-chrome:not(.is-mac) {
  ::-webkit-scrollbar-track {
    background-color: $body-color-primary-background;
    border: 1px solid $theme-color-palette-slate-10;
  }

  ::-webkit-scrollbar-corner {
    background-color: $body-color-primary-background;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: $theme-color-palette-slate-20;
    border-radius: 10px;

    &:hover {
      background: $theme-color-palette-slate-30;
    }
  }
}
