// IDS Enterprise - Default Theme - Light with Grey Background
//================================================== //

// Standard CSS reset
@import '../core/reset';
@import '../core/mixins';
@import '../core/css-utilities';

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-classic/tokens/web/theme-classic';

// Enterprise color palette
@import '../components/colors/colorpalette';

// Local vars
@import '../core/config';

$header-default-bg-color: $ids-color-palette-white;
$module-default-bg-color: $ids-color-brand-primary-alt;
$toolbar-btn-actions-hover-bg-color: transparent;

// Accordion
$accordion-selected-bg-color: $ids-color-palette-slate-50;
$accordion-selected-text-color: $ids-color-palette-white;

// Buttons
$button-disabled-background-color: transparent;
$button-icon-disabled-color: $ids-color-palette-slate-30;
$button-color-secondary-initial-background: $ids-color-palette-graphite-30;
$button-color-secondary-initial-font-new: $ids-color-palette-azure-60;
$button-color-secondary-initial-border-new: $ids-color-palette-azure-60;
$button-color-secondary-hover-background-new: $ids-color-palette-azure-60;

// Datagrid
$datagrid-sort-icon-sorted-color: $ids-color-palette-slate-40;

//================================================== //
// Core Components

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import '../core/controls';

