
<div class="row">
  <div class="twelve columns">

    <div class="flex-toolbar-main-app-content flex-toolbar" role="toolbar">

      <div class="toolbar-section favor title">
        <h2><span style="max-width: 970px;">New (2 Results)</span></h2>
      </div>

      <div class="toolbar-section search">
        <span
          class="searchfield-wrapper toolbar-searchfield-wrapper has-collapse-button has-custom-collapse-size has-close-icon-button">

          <input
            placeholder="Keyword"
            class="searchfield"
            autocomplete="off"
            aria-label="Keyword"
            tabindex="-1"
          />

          <svg class="close is-empty icon" focusable="true" aria-hidden="true" role="presentation" tabindex="-1">
            <use href="#icon-close"></use></svg>
              <button class="btn-secondary collapse-button" type="button">
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-exit-fullview"></use>
                </svg>
                <span class="audible">Collapse</span>
              </button>
              <svg class="icon" focusable="false" aria-hidden="true" role="presentation"><use href="#icon-search"></use>
          </svg>
        </span>
      </div>

      <div class="toolbar-section buttonset">

        <button soho-button="btn" soho-tooltip="" class="btn has-tooltip btn-toggle"
            type="button" aria-pressed="false" tabindex="-1">
          <svg soho-icon="" aria-hidden="true" focusable="false" role="presentation" class="icon ng-star-inserted">
            <use href="#icon-filter"></use>
          </svg><span>Filter</span>
        </button>

        <button class="btn-menu hide-focus has-tooltip btn" type="button" tabindex="-1" aria-haspopup="true">
          <svg soho-icon="" aria-hidden="true" focusable="false" role="presentation" class="icon icon-dropdown">
            <use href="#icon-sort-up"></use>
          </svg>Sort
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-dropdown">
            <use href="#icon-dropdown"></use>
          </svg>
        </button>

        <button class="btn has-tooltip" type="button" tabindex="-1"><span>Open Detail</span></button>

        <button class="btn has-tooltip" type="button" tabindex="-1"><span>Move To Step</span></button>

        <button class="btn has-tooltip" type="button" tabindex="-1"><span>Send Email</span></button>

      </div>

      <div class="more toolbar-section">
        <button type="button" class="btn-actions" tabindex="-1" aria-haspopup="true">
          <svg focusable="false" aria-hidden="true" role="presentation" class="icon"><use href="#icon-more"></use></svg>
          <span class="audible">More Actions</span>
        </button>
      </div>

    </div>

  </div>
</div>
