<div class="row top-padding">
  <div class="twelve columns">

    <!-- BEGIN Toolbar with All Buttons (Buttonset Favoring) -->
    <div class="flex-toolbar" id="flex-toolbar">
      <div class="toolbar-section title">
        <h2>Incredibly Long Toolbar (Favor's Buttonset)</h2>
      </div>

      <div class="toolbar-section buttonset">
        <button class="btn">
          <span>Text Button</span>
        </button>

        <button class="btn-menu" id="menu-button">
          <span>Menu Button</span>
        </button>
        <ul class="popupmenu" id="menu-button-popupmenu"> </ul>

        <button class="btn-icon" disabled>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-settings"></use>
          </svg>
          <span class="audible">Settings</span>
        </button>

        <button class="btn-icon">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-delete"></use>
          </svg>
          <span class="audible">Trash</span>
        </button>
      </div>

      <div class="toolbar-section more">
        <button class="btn-actions">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#">More One</a></li>
          <li><a href="#">More Two</a></li>
          <li class="submenu">
            <a href="#">More Three</a>
            <ul class="popupmenu">
              <li><a href="#">Sub-Item One</a></li>
              <li><a href="#">Sub-Item Two</a></li>
            </ul>
          </li>
          <li><a href="#">More Three</a></li>
        </ul>
      </div>
    </div>
    <!-- END Toolbar with All Buttons (Buttonset Favoring) -->

  </div>
</div>

<script type="text/javascript">
  var TOP_LEVEL_POPUPMENU_CONTENT = '' +
    '<li><a href="#">AJAX Option #1</a></li>' +
    '<li><a href="#">AJAX Option #2</a></li>' +
    '<li class="submenu">' +
    '<a href="#">AJAX Option #3</a>' +
    '<ul class="popupmenu"></ul>' +
    '</li>' +
    '<li><a href="#">AJAX Option #4</a></li>';

  var TOP_LEVEL_MENU_BUTTON_POPUPMENU_CONTENT = '' +
    '<li><a href="#">Menu Button Option #1</a></li>' +
    '<li><a href="#">Menu Button Option #2</a></li>' +
    '<li><a href="#">Menu Button Option #3</a></li>';

  var SUB_LEVEL_POPUPMENU_CONTENT = '' +
    '<li><a href="#">AJAX Sub-option #1</a></li>' +
    '<li><a href="#">AJAX Sub-option #2</a></li>' +
    '<li><a href="#">AJAX Sub-option #3</a></li>' +
    '<li><a href="#">AJAX Sub-option #4</a></li>';

  var TOP_LEVEL_MENU_BUTTON_POPUPMENU_CONTENT = '' +
    '<li><a href="#">Menu Button Option #1</a></li>' +
    '<li><a href="#">Menu Button Option #2</a></li>' +
    '<li class="submenu">' +
    '<a href="#">Menu Button Option #3</a>' +
    '<ul class="popupmenu" id="menu-button-submenu"></ul>' +
    '</li>' +
    '<li><a href="#">Menu Button Option #4</a></li>' +
    '';

  var SUBMENU_MENU_BUTTON_RESPONSE_HTML = '' +
    '<li><a href="#">Sub-item One</a></li>' +
    '<li><a href="#">Sub-item Two</a></li>' +
    '<li><a href="#">Sub-item Three</a></li>' +
    '<li><a href="#">Sub-item Four</a></li>' +
    '';

  // Populate the menu with some fake content for the sake of testing the AJAX call.
  function popupmenuBeforeOpen(response, options) {
    if (options.contextElement) {
      if (options.contextElement[0].parentElement.parentElement.id === 'menu-button') {
        options.isSubmenu = false;
        return menuButtonPopupmenuBeforeOpen(response, options);
      } else if (options.contextElement[0].id === 'menu-button-submenu') {
        return menuButtonPopupmenuBeforeOpen(response, options);
      }
      return response( $(SUB_LEVEL_POPUPMENU_CONTENT) );
    }
    return response( $(TOP_LEVEL_POPUPMENU_CONTENT) );
  }

  // Populate the menu with some fake content for the sake of testing the AJAX call.
  function menuButtonPopupmenuBeforeOpen(response, options) {
    if (options.isSubmenu) {
      return response( $(SUBMENU_MENU_BUTTON_RESPONSE_HTML) );
    }
    return response( $(TOP_LEVEL_MENU_BUTTON_POPUPMENU_CONTENT) );
  }

  $('body').on('initialized', function() {
    $('#menu-button').popupmenu({
      beforeOpen: menuButtonPopupmenuBeforeOpen,
      menu: 'menu-button-popupmenu'
    });

    var toolbarApi = $('#flex-toolbar').data('toolbar-flex');

    toolbarApi.settings.beforeMoreMenuOpen = popupmenuBeforeOpen;
    toolbarApi.updated();
  });

  $('.flex-toolbar').on('selected.test', function(e, item, secondArg) {
    var text = $(item.element).text().trim();
    var selectedItem;

    if (secondArg) {
      selectedItem = 'Selected Menu Item: ' + $(secondArg).text().trim() + '<br />';
    }

    $('body').toast({
      title: 'Toolbar Item Selected',
      message: '<p>' +
        'text content: "<b>'+ text +'</b>"<br/>' +
        'item type: "<b>'+ item.type +'</b>"' +
        (selectedItem ? '<br />' + selectedItem : '') +
        '</p>'
    });
  });
</script>
