<div class="row">
  <div class="six columns">
    <p>Github Issue: <a class="hyperlink" href="https://github.com/infor-design/enterprise/issues/2944" target="_blank">#2944</a></p>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">

    <!-- BEGIN Toolbar with All Buttons (Buttonset Favoring) -->
    <div class="flex-toolbar">
      <div class="toolbar-section title">
        <h2>Incredibly Long Toolbar (Favor's Buttonset)</h2>
      </div>

      <div class="toolbar-section search">
        <div class="searchfield-wrapper">
          <label for="toolbar-searchfield-01" class="audible">Toolbar Search</label>
          <input id="toolbar-searchfield-01" class="searchfield" placeholder="Search..." value="Test Search" data-options="{ clearable: true, collapsible: true }"/>
        </div>
      </div>

      <div class="toolbar-section buttonset">
        <button class="btn">
          <span>Text Button</span>
        </button>
      </div>

      <div class="toolbar-section more">
        <button class="btn-actions">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#">Pre-defined Item #1</a></li>
          <li><a href="#">Pre-defined Item #2</a></li>
          <li><a href="#">Pre-defined Item #3</a></li>
        </ul>
      </div>
    </div>
    <!-- END Toolbar with All Buttons (Buttonset Favoring) -->

  </div>
</div>

<script>
  $('.flex-toolbar').on('selected.test', function(e, item, secondArg) {
    var text = $(item.element).text().trim();
    var selectedItem;

    if (secondArg) {
      selectedItem = 'Selected Menu Item: ' + $(secondArg).text().trim() + '<br />';
    }

    $('body').toast({
      title: 'Toolbar Item Selected',
      message: '<p>' +
        'text content: "<b>'+ text +'</b>"<br/>' +
        'item type: "<b>'+ item.type +'</b>"' +
        (selectedItem ? '<br />' + selectedItem : '') +
        '</p>'
    });
  });
</script>
