<div class="row">
  <div class="six columns">
    <p>Toolbar Flex Nav Badge</p>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">
    <button id="header-hamburger" class="btn-icon application-menu-trigger" type="button" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-right', color: 'alert'}}">
      <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>

    <button id="header-hamburger" class="btn-icon application-menu-trigger" type="button" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'upper-left', color: 'alert'}}">
      <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>

    <button id="header-hamburger" class="btn-icon application-menu-trigger" type="button" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-right', color: 'alert'}}">
      <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>

    <button id="header-hamburger" class="btn-icon application-menu-trigger" type="button" data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-left', color: 'alert'}}">
      <span class="audible" data-translate="text">AppMenuTriggerTextAlt</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>
  </div>
</div>
