  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          autoGrow
        </td>
        <td>
          boolean
        </td>
        <td>
          Will automatically expand the text area to fit the contents.

        </td>
      </tr>
      <tr>
        <td>
          autoGrowAnimate
        </td>
        <td>
          boolean
        </td>
        <td>
          Will animate the text area growing.

        </td>
      </tr>
      <tr>
        <td>
          autoGrowAnimateSpeed
        </td>
        <td>
          integer
        </td>
        <td>
          The speed of the animation.

        </td>
      </tr>
      <tr>
        <td>
          characterCounter
        </td>
        <td>
          boolean
        </td>
        <td>
          Displays a counter that counts down from the maximum
length allowed.

        </td>
      </tr>
      <tr>
        <td>
          printable
        </td>
        <td>
          boolean
        </td>
        <td>
          Determines whether or not the text area can be displayed on a
printed page.

        </td>
      </tr>
      <tr>
        <td>
          charRemainingText
        </td>
        <td>
          
        </td>
        <td>
          Text that will be used in place of the "remaining"
text.

        </td>
      </tr>
      <tr>
        <td>
          charMaxText
        </td>
        <td>
          
        </td>
        <td>
          Text that will be used in place of the "Max" text.

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>isSelected</td>
        <td>
          
                
                  <span>input (object) = The input dom element (jQuery)
 </span>
                
          
        </td>
        <td>
          <p>Determines if the text is selected.</p>

        </td>
        <td>
          True if the text is selected in the input.
boolean
        </td>
      </tr>
      <tr>
        <td>isPrintable</td>
        <td>
          
                
                  <span>keycode (number) = a number representing an ASCII keycode value
 </span>
                
          
        </td>
        <td>
          <p>Checks a keycode value and determines if it belongs to a printable character.</p>

        </td>
        <td>
          Returns true if the key is a printable one.
boolean
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enables this component instance.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disables this component instance.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isDisabled</td>
        <td>
          
        </td>
        <td>
          <p>Returns true if the texarea is disabled</p>

        </td>
        <td>
          True if the elemet is disabled.
boolean
        </td>
      </tr>
      <tr>
        <td>readonly</td>
        <td>
          
        </td>
        <td>
          <p>Sets this component instance to "readonly"</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The settings object.
 </span>
                
          
        </td>
        <td>
          <p>Call whenever the plugin's settings are changed</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroys this component instance and unlinks it from its element.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handleEvents</td>
        <td>
          
                
                  <span>keyup (object) = Fires when the button is clicked (if enabled).
 </span>
                
                  <span>focus (object) = Fires when the menu is focused.
 </span>
                
                  <span>keypress (object) =  
-
 
 </span>
                
                  <span>blur (object) =  
-
 
 </span>
                
          
        </td>
        <td>
          <p>This component fires the following events.</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
