
<div class="row">

  <div class="six columns">
    <ul id="light-accordion" class="accordion light">
      <li class="accordion-header">
        <a href="#">
          <svg class="icon">
            <use xlink:href="#icon-user"></use>
          </svg>
          <span class="title">My Account</span>
        </a>
        <ul class="accordion-pane">
          <li class="accordion-header">
            <a href="#">
              <span class="title">Notifications</span>
            </a>
          </li>
          <li class="accordion-header">
            <a href="#">
              <span class="title">Administrator</span>
            </a>
          </li>
          <li class="accordion-header">
            <a href="#">
              <span class="title">User Settings</span>
            </a>
          </li>
          <li class="accordion-header">
            <a href="#">
              <span class="title">Help</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="accordion-header">
        <a href="#">
          <svg class="icon">
            <use xlink:href="#icon-bookmark-filled"></use>
          </svg>
          <span class="title">Bookmarks</span>
        </a>
        <div class="accordion-pane">
          <div class="accordion-content">
            Here is some information about Bookmarks.
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">Bookmark #1</span>
            </a>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">Bookmark #2</span>
            </a>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">Bookmark #3</span>
            </a>
          </div>
        </div>
      </li>
      <li class="accordion-header">
        <a href="#">
          <svg class="icon">
            <use xlink:href="#icon-clock"></use>
          </svg>
          <span class="title">History</span>
        </a>
        <div class="accordion-pane">
          <div class="accordion-header">
            <a href="#">
              <span class="title">History Listing #1</span>
            </a>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">History Listing #2</span>
            </a>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">History Listing #3</span>
            </a>
          </div>
        </div>
      </li>
      <li class="accordion-header">
        <a href="#">
          <svg class="icon">
            <use xlink:href="#icon-home"></use>
          </svg>
          <span class="title">Homepages</span>
        </a>
        <div class="accordion-pane">
          <div class="accordion-content">
            Dynamic e-markets, next-generation weblogs front-end, impactful user-centred. Tagclouds, distributed integrated methodologies seize benchmark visualize engage, viral, cross-platform supply-chains authentic strategic.
          </div>
        </div>
      </li>
      <li class="accordion-header">
        <a href="#">
          <svg class="icon">
            <use xlink:href="#icon-roles"></use>
          </svg>
          <span class="title">My Roles</span>
        </a>
        <ul class="accordion-pane">
          <li class="accordion-header">
            <a href="#">
              <span class="title">Role One</span>
            </a>
            <ul class="accordion-pane">
              <li class="accordion-header">
                <a href="#">
                  <span class="title">Task #1</span>
                </a>
              </li>
              <li class="accordion-header">
                <a href="#">
                  <span class="title">Task #2</span>
                </a>
              </li>
              <li class="accordion-header">
                <a href="#">
                  <span class="title">Task #3</span>
                </a>
              </li>
              <li class="accordion-header">
                <a href="#">
                  <span class="title">Task #4</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion-header">
            <a href="#">
              <span class="title">Role Two</span>
            </a>
          </li>
          <li class="accordion-header">
            <a href="#">
              <span class="title">Role Three</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="accordion-header">
        <a href="#">
          <svg class="icon">
            <use xlink:href="#icon-share"></use>
          </svg>
          <span class="title">Option #7</span>
        </a>
        <div class="accordion-pane">
          <div class="accordion-content">
            Dynamic e-markets, next-generation weblogs front-end, impactful user-centred. Tagclouds, distributed integrated methodologies seize benchmark visualize engage, viral, cross-platform supply-chains authentic strategic.
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="six columns" style="width: 300px">

    <div id="dark-accordion" class="accordion dark" data-allow-one-pane="true">
      <div class="accordion-header">
        <a href="#">
          <svg class="icon">
            <use xlink:href="#icon-home"></use>
          </svg>
          <span class="title">Home</span>
        </a>
        <div class="accordion-pane">
          <div class="accordion-header">
            <a href="#">
              <span class="title">Bookmark #1</span>
            </a>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">Bookmark #2</span>
            </a>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">Bookmark #3</span>
            </a>
          </div>
        </div>
      </div>
      <div class="accordion-header">
        <a href="#">
          <svg class="icon">
            <use xlink:href="#icon-clock"></use>
          </svg>
          <span class="title">History</span>
        </a>
        <div class="accordion-pane">
          <div class="accordion-content">
            This section contains a few selectable options related to your history.  Please use the arrow keys to navigate below.
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">History #1</span>
            </a>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">History #2</span>
            </a>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">History #3</span>
            </a>
          </div>
        </div>
      </div>
      <div class="accordion-header">

        <button tabindex="-1" class="plus-minus"><span focusable="false" aria-hidden="true" class="icon plus-minus"></span><span class="audible">Expand/Collapse</span></button>

        <a href="#">
          <span class="title">Roles</span>
        </a>
        <div class="accordion-pane">
          <div class="accordion-header">
            <a href="#">
              <span class="title">Role #1</span>
            </a>
            <div class="accordion-pane">
              <div class="accordion-header is-selected">
                <a href="http://www.soho.infor.com">
                  <span class="title">Task #1</span>
                </a>
              </div>
              <div class="accordion-header">
                <a href="#">
                  <span class="title">Task #2</span>
                </a>
              </div>
              <div class="accordion-header">
                <a href="#">
                  <span class="title">Task #3</span>
                </a>
              </div>
            </div>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">Name and Address System Housekeeping</span>
            </a>
            <div class="accordion-pane">
              <div class="accordion-header">
                <a href="#">
                  <span class="title">Task #1</span>
                </a>
              </div>
              <div class="accordion-header">
                <a href="#">
                  <span class="title">Task #2</span>
                </a>
              </div>
              <div class="accordion-header">
                <a href="#">
                  <span class="title">Task #3</span>
                </a>
              </div>
            </div>
          </div>
          <div class="accordion-header">
            <a href="#">
              <span class="title">Role #3</span>
            </a>
            <div class="accordion-pane">
              <div class="accordion-header">
                <a href="#">
                  <span class="title">Task #1</span>
                </a>
              </div>
              <div class="accordion-header">
                <a href="#">
                  <span class="title">Task #2</span>
                </a>
              </div>
              <div class="accordion-header">
                <a href="#">
                  <span class="title">Task #3</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
