<style>
.example {
  margin: 0;
  padding: 0;
  width: 310px;
}
.grid {
  overflow: hidden;
}
.example li {
  font-size: 1.3em;
  height: 35px;
  list-style: none;
  margin: 3px;
  padding: 7px 10px;
}
.grid > div {
  float: left;
  font-size: 1.3em;
  height: 80px;
  line-height: 67px;
  margin: 3px;
  padding: 7px 10px;
  text-align: center;
  width: 80px;
}
.connected-wrap {
  overflow: hidden;
  width: 650px;
}
.connected {
  float: left;
}
.connected.no2 {
  float: right;
}
.connected .green {
  background: #D5F6C0;
}
.example li:not(.arrange-placeholder),
.grid > div:not(.arrange-placeholder) {
  border: 1px solid #BDBDBD;
}
html[dir='rtl'] .connected.no2 {
  float: left;
}
html[dir='rtl'] .connected,
html[dir='rtl'] .grid > div {
  float: right;
}
</style>

<div class="row">
  <div class="twelve columns">
    <h1>Drag and drop</h1>

    <br><br>
    <h2>Sortable List</h2>
    <ul class="arrange list example">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
      <li>Item 6</li>
    </ul>

    <br><br>
    <h2>Sortable Grid</h2>
    <div class="arrange grid example">
      <div>Item 1</div>
      <div>Item 2</div>
      <div>Item 3</div>
      <div>Item 4</div>
      <div>Item 5</div>
      <div>Item 6</div>
    </div>

    <br><br>
    <h2>Exclude Items</h2>
    <ul class="arrange list example">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li data-arrange-exclude="true">Item 4</li>
      <li data-arrange-exclude="true">Item 5</li>
      <li data-arrange-exclude="true">Item 6</li>
    </ul>

    <br><br>
    <h2>Sortable List with Handles</h2>
    <ul class="arrange list example" data-arrange-handle=".handle">
      <li><span class="handle">::</span> Item 1</li>
      <li><span class="handle">::</span> Item 2</li>
      <li><span class="handle">::</span> Item 3</li>
      <li><span class="handle">::</span> Item 4</li>
      <li><span class="handle">::</span> Item 5</li>
      <li><span class="handle">::</span> Item 6</li>
    </ul>

    <br><br>
    <h2>Connected Sortable Lists</h2>
    <div class="connected-wrap">
      <ul class="arrange list example connected" data-arrange-connectWith=".connected">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
      </ul>
      <ul class="list example connected no2">
        <li class="green">Item 1</li>
        <li class="green">Item 2</li>
        <li class="green">Item 3</li>
        <li class="green">Item 4</li>
        <li class="green">Item 5</li>
        <li class="green">Item 6</li>
      </ul>
    </div>


    <br><br>
  </div>
</div>
