<div class="row">
  <div class="twelve columns">
    <h1>Tags</h1>
    <span class="label">Visual Indicators</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <span class="tag">#Tagged</span>
    <span class="error tag"><span class="audible">Action Needed Order Is</span>Delayed</span>
    <span class="good tag">Open Order</span>
    <span class="alert tag"><span class="audible">Alert</span>Help Order</span>
    <span class="azure07 tag"><span class="audible">Neutral</span>Back Order</span>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h1>Badges</h1>
    <span class="label">Visual Indicators</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

     <span class="error badge"><span class="audible">Action Needed </span>8<span class="audible">New Alerts</span></span>

    <span class="large error badge"><span class="audible">Action Needed </span>8<span class="audible">New Alerts</span></span>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h1>Alerts</h1>
    <span class="label">Visual Indicators</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <span class="good badge">&nbsp;<span class="audible">Good</span></span>
    <span class="alert badge">&nbsp;<span class="audible">Alert</span></span>
    <span class="error badge">&nbsp;<span class="audible">Error</span></span>

    <span class="alert pending badge">&nbsp;<span class="audible">Alert Pending</span></span>
    <span class="error pending badge">&nbsp;<span class="audible">Error Pending</span></span>
     <svg aria-hidden="true" focusable="false" class="icon icon-error"><use xlink:href="#icon-error"/></svg>
    <svg aria-hidden="true" focusable="false" class="icon icon-validated"><use xlink:href="#icon-validated"/></svg>
  </div>
</div>
