<div class="row">
  <div class="twelve columns">
    <h1>Progress Bar Chart</h1>
    <span class="label">Charts</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="one-third column">

    <span class="label" id="prbc-label1">Available Credit <span class="l-pull-right">$95,000</span></span>
    <div class="chart-progressbar" id="chart-progressbar1" aria-labelledby="prbc-label1">
      <div class="target" style="width: 66%">
        <span aria-hidden="true">$10,000 <br> Pending</span>
      </div>
      <div class="completed" style="width: 50%">
        <span aria-hidden="true">$50,000 <br> Spent</span>
      </div>
    </div>

    <span class="label" id="prbc-label2">Procurement <span class="l-pull-right">$49,000</span></span>
    <div class="chart-progressbar" aria-labelledby="prbc-label2">
      <div class="target" style="width: 66%">
        <span aria-hidden="true">16% <span class="audible">left to target</span></span>
      </div>
      <div class="completed azure07" style="width: 50%">
        <span aria-hidden="true">50% <span class="audible">complete</span></span>
      </div>
    </div>

    <span class="label" id="prbc-label3">Construction $19,000</span>
    <div class="chart-progressbar" aria-labelledby="prbc-label3">
      <div class="target" style="width: 100%">
        <span aria-hidden="true">50% <span class="audible">left to target</span></span>
      </div>
      <div class="completed graphite06" style="width: 50%">
        <span aria-hidden="true">50% <span class="audible">complete</span></span>
      </div>
    </div>

    <br>
    <button class="btn" id="upd-progressbar-chart">Update</button>
  </div>
</div>

<script>
  $('#upd-progressbar-chart').on('click', function () {
    $('#chart-progressbar1').find('.completed').css('width', '100%').find('span:first').html('$95,000<br>Spent');
  });
</script>
