<div class="row">
  <div class="twelve columns">
    <h1>Breadcrumbs</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="breadcrumb">
      <a href="#" class="breadcrumb-link">Home</a>
      <svg class="icon breadcrumb-arrow" focusable="false" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-right"></use>
      </svg>
      <a href="#" class="breadcrumb-link">Trucks</a>
      <svg class="icon breadcrumb-arrow" focusable="false" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-right"></use>
      </svg>
      <a href="#" class="breadcrumb-link">Main Part</a>
      <svg class="icon breadcrumb-arrow" focusable="false" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-right"></use>
      </svg>
      <a href="#" class="breadcrumb-link current">Charging System</a>
    </div>
  </div>
</div>