<h1>Menu Buttons <span>(46px Height)</span></h1>

<button type="button" class="btn-menu" id="addButton">
  <span>Add Item</span>
  <svg class="icon" viewBox="0 0 32 32">
    <use xlink:href="#icon-arrow"/>
  </svg>
</button>
<ul id="menu1" class="popupmenu">
  <li>
    <a href="#">
      <svg class="icon" viewBox="0 0 32 32">
        <use xlink:href="#icon-document"/>
      </svg>Add Page
    </a>
  </li>
  <li>
    <a href="#">
      <svg class="icon" viewBox="0 0 32 32">
        <use xlink:href="#icon-folder"/>
      </svg>Add Folder
    </a>
  </li>
  <li>
    <a href="#">
      <svg class="icon" viewBox="0 0 32 32">
        <use xlink:href="#icon-package"/>
      </svg>Add Product
    </a>
  </li>
  <li>
    <a href="#">
      <svg class="icon" viewBox="0 0 32 32">
        <use xlink:href="#icon-page"/>
      </svg>Add Blog
    </a>
  </li>
  <li>
    <a href="#">
      <svg class="icon" viewBox="0 0 32 32">
        <use xlink:href="#icon-bars"/>
      </svg>Add Navigation
    </a>
  </li>
</ul>
