
<div class="row">
  <div class="one-half column">

    <span class="label">Regular Example (UI Blocking)</span>
    <form id="busy-form" class="busy" action="#" method="POST" data-options="{'text' : 'test'}">
      <div class="field">
        <label for="busy-field-name">Name</label>
        <input type="text" id="busy-field-name" name="busy-field-name" value="" />
      </div>
      <div class="field">
        <label for="busy-field-address">Address</label>
        <input type="text" id="busy-field-address" name="busy-field-address" value="" />
      </div>
      <div class="field">
        <label for="busy-field-cats">Number of Cats</label>
        <input type="text" id="busy-field-cats" name="busy-field-cats" value="" />
      </div>
      <div class="field">
        <button type="submit" class="btn-primary">Submit</button>
      </div>
    </form>
  </div>

</div>

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Busy Indicator - Standalone Example (Non-UI-Blocking)</h2>
  </div>
</div>

<div class="row">
  <div class="one-half column">

    <button class="btn" id="busy-start-trigger" type="button">Fire "start" Event</button>
    <button class="btn" id="busy-complete-trigger" type="button">Fire "complete" Event</button>
    <br>
    <br>
    <br>
    <div id="standalone-busy" class="busy card"></div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">On Input Fields</h2>
  </div>
</div>

<div class="row">
  <div class="one-half column">
    <div class="field">
      <label class="label" for="busy-input">Busy Input Field</label>
      <input class="busy" type="text" id="busy-input" data-block-ui="false"/>
      <br><button class="btn" id="trigger-busy-input" type="button">Load</button><br><br>
    </div>
  </div>

  <div class="one-half column">
    <div class="field">
      <label class="label" for="busy-dropdown">Busy Dropdown</label>
      <select class="dropdown busy" id="busy-dropdown" data-block-ui="false" data-display-delay="0" data-completion-time="5000" data-close-time="6000">
        <option selected>Busy</option>
        <option>Preoccupied</option>
        <option>Distracted</option>
        <option>Engaged</option>
      </select>

      <br><button class="btn" id="trigger-busy-dropdown" type="button">Load</button><br><br>
    </div>
  </div>
</div>



<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Small Busy Indicator</h2>
  </div>
</div>

<div class="row">
  <div class="one-half column">

    <div style="display: table;">
      <button class="btn" id="trigger-busy-sm" type="button"
        style="display: inline-block; vertical-align: middle;">Load</button>

      <div style="display: inline-block; vertical-align: middle; font-size: 14px;">Some Text</div>

      <div class="busy-sm" id="busy-sm" data-display-delay="0" data-completion-time="5000" data-close-time="6000"
        style="display: inline-block; vertical-align: middle;"></div>
    </div>

  </div>
</div>


<br><br>
<div style="height: 100px;"></div>

<script type="text/javascript">
  $(document).ready(function() {

    $('#busy-start-trigger').click(function(e) {
      e.preventDefault();
      $('#standalone-busy').trigger('start.busyindicator');
    });

    $('#busy-complete-trigger').click(function(e) {
      e.preventDefault();
      $('#standalone-busy').trigger('complete.busyindicator');
    });

    $('#busy-form button[type="submit"]').click(function(e) {
      e.preventDefault();
      $('#busy-form').trigger('start.busyindicator');
    });

    $('#trigger-busy-input').click(function(e) {
      e.preventDefault();
      $('#busy-input').trigger('start');
    });

    $('#trigger-busy-dropdown').click(function(e) {
      e.preventDefault();
      $('#busy-dropdown').trigger('start');
    });

    $('#trigger-busy-sm').click(function(e) {
      e.preventDefault();
      $('#busy-sm').trigger('start');
    });

  });
</script>
