<div class="grid">
  <div class="col-1-1">
    <h1>Buttons</h1>
    <span class="label">Form Actions</span>
    <hr>

    <div class="grid">
      <div class="col-2-12">
        <span class="label vertical-align">Primary</span>
      </div>
      <div class="col-10-12">
        <div class="grid">
          <div class="col-3-12">
            <button class="button-primary" type="button">Normal</button>
          </div>
          <div class="col-9-12">
            <button class="button-primary" disabled type="button">Disabled</button>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-2-12">
        <span class="label vertical-align">Standard (Secondary)</span>
      </div>
      <div class="col-10-12">
        <div class="grid">
          <div class="col-3-12">
            <button class="button" type="button">Normal</button>
          </div>
          <div class="col-9-12">
            <button class="button" disabled type="button">Disabled</button>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-2-12">
        <span class="label vertical-align">Destructive (Tertiary)</span>
      </div>
           <div class="col-10-12">
        <div class="grid">
          <div class="col-3-12">
            <button class="button-destructive" type="button">Normal</button>
          </div>
          <div class="col-9-12">
            <button class="button-destructive" disabled type="button">Disabled</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
