<div class="row">
  <div class="twelve columns">
    <h1>Buttons</h1>
    <span class="label">Form Actions (34px height)</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <span class="label">Primary</span>
    <button class="btn-primary" type="button">Action</button><br><br><br>
  </div>

  <div class="four columns">
    <span class="label">Secondary</span>
    <button class="btn-secondary" type="button">Action</button><br><br><br>
    <button class="btn-secondary" type="button" disabled>Action</button><br><br><br>
  </div>

  <div class="four columns">
    <span class="label">Tertiary</span>
    <button class="btn-tertiary" type="button">Action</button><br><br><br>
    <button class="btn-tertiary" type="button" disabled>Action</button><br><br><br>
  </div>
</div>
