<div class="grid grid-pad">
	<div class="col-1-2">
		<h1>Buttons</h1>
		<button class="btn" type="button">Standard Action</button>
		<button class="btn-default" type="button">Prefered Action</button>
		<button class="btn-default" type="button" disabled>Disabled</button>
    <button class="btn-cancel" type="button" disabled>Cancel</button>
    <button class="btn-accept" type="button" disabled>Accept</button>
	</div>
</div>
