
<div class="row">
  <div class="two-thirds column">
      <div class="widget">
        <div class="widget-header">
          <h2 class="widget-title">Donut Chart Title</h2>
        </div>
        <div class="widget-content">
          <div id="pie-donut-example" class="chart-container">
          </div>
        </div>
      </div>
  </div>
</div>


<script>

  var donutData = [{
    data: [{
        name: 'Component A',
        value: 17.6
    }, {
        name: 'Component B',
        value: 1.25
    }],
    centerLabel: 'Donut Chart'
  }];

  $('#pie-donut-example').chart({type: 'donut', dataset: donutData});
</script>
