<div class="row">
  <div class="twelve columns">
    <h1>Donut Chart</h1>
    <span class="label">Charts</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="two-thirds column">
      <div class="widget">
        <div class="widget-header">
          <h2 class="widget-title">Donut Chart Title</h2>
        </div>
        <div class="widget-content">
          <div id="pie-donut-example" class="chart-container">
          </div>
        </div>
      </div>
  </div>
</div>

<script>

  var donutData = [{
    data: [{
        name: 'Component A',
        value: 7.6
    }, {
        name: 'Component B',
        value: 6.25
    }, {
        name: 'Component C',
        value: 4.35
    }, {
        name: 'Component D',
        value: 5.6
    }],
    centerLabel: 'Donut Chart'
  }];

  $('#pie-donut-example').chart({type: 'donut', dataset: donutData});
</script>
