<div class="grid grid-pad">
	<div class="col-1-2">
		<h1 class="demo-heading">Editor <span>(Rich Text)</span></h1>

		<div class="field">
      <label class="label" for="title">Title</label>
      <input type="text" id="title" value="The Page Title">
    </div>

    <div class="field">
      <span class="label">Comments</span>
      <div class="editor" aria-label="Comments - Type To Replace Existing Content">
          <p>Embrace <a href="http://en.wikipedia.org/wiki/e-commerce">e-commerce action-items</a>, reintermediate, ecologies paradigms wireless share life-hacks create innovative harness. Evolve solutions rich-clientAPIs synergies harness relationships virtual vertical facilitate end-to-end, wireless, evolve synergistic synergies.</p>
          <p>Cross-platform, evolve, ROI scale cultivate eyeballs addelivery, e-services content cross-platform leverage extensible viral incentivize integrateAJAX-enabled sticky evolve magnetic cultivate leverage; cutting-edge. Innovate, end-to-end podcasting, whiteboard streamline e-business social; compelling, "cross-media exploit infomediaries innovative integrate integrateAJAX-enabled." Killer interactive reinvent, cultivate widgets leverage morph.</p>
     </div>

     <!-- Dialog for the Url Insertion -->
      <div class="modal editor-modal-url" id="editor-modal-url">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title" tabindex="0">Insert Url</h1>
          </div>

          <div class="modal-body">
            <div class="field">
              <label for="url">URL</label>
              <input id="url" name="url" type="text" value="http://www.example.com">
            </div>
            <div class="modal-buttonset">
              <a href="#" class="link link-cancel">Cancel</a>
              <button type="button" class="btn-default btn-close">Insert</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Dialog for the Image Insertion -->
      <div class="modal editor-modal-image" id="editor-modal-image">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title" tabindex="0">Insert Image</h1>
          </div>

          <div class="modal-body">
            <div class="field">
              <label for="image">URL</label>
              <input id="image" name="image" type="text" value="http://images2.fanpop.com/image/photos/12900000/Cute-kittens-12929201-1600-1200.jpg">
            </div>
            <div class="modal-buttonset">
              <a href="#" class="link link-cancel">Cancel</a>
              <button type="button" class="btn-default btn-close">Insert</button>
            </div>
          </div>
        </div>
      </div>

    </div>

	</div>

</div>

<svg display="none" id="editor-icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32">
    <defs>
     <g id="icon-justify-left" >
      <rect x="5.6" y="6.274" width="20.733" height="4.549"/>
      <rect x="5.599" y="13.446" width="14.688" height="4.55"/>
      <rect x="5.6" y="20.618" width="20.733" height="4.55"/>
    </g>
    <g id="icon-justify-center">
      <path d="M5.6,25.168"/>
      <rect x="5.633" y="6.639" width="20.734" height="4.55"/>
      <rect x="8.68" y="20.812" width="14.687" height="4.549"/>
      <rect x="5.633" y="13.983" width="20.734" height="4.55"/>
    </g>
    <g id="icon-justify-right">
      <rect x="5.633" y="6.553" width="20.734" height="4.55"/>
      <rect x="11.68" y="13.726" width="14.687" height="4.55"/>
      <rect x="5.633" y="20.897" width="20.734" height="4.55"/>
    </g>
    <g id="icon-link">
      <path d="M24.231,6.398L24.072,6.24c-1.014-1.016-2.356-1.529-3.686-1.527
        C19.059,4.711,17.714,5.225,16.7,6.24l-1.537,1.537c-0.63,0.63-0.63,1.652,0,2.281s1.651,0.629,2.28,0l1.537-1.537
        c0.393-0.392,0.893-0.58,1.406-0.583c0.514,0.003,1.013,0.191,1.405,0.583l0.159,0.158c0.392,0.393,0.58,0.892,0.581,1.402
        c-0.001,0.517-0.189,1.016-0.582,1.408l-3.738,3.74c-0.392,0.391-0.894,0.579-1.42,0.582c-0.501-0.002-0.998-0.19-1.39-0.582
        l-0.16-0.16l-2.281,2.281l0.159,0.159c1.006,1.007,2.34,1.528,3.672,1.526h0.009c1.323,0,2.672-0.506,3.692-1.526l3.738-3.739
        c1.017-1.016,1.529-2.361,1.527-3.689C25.761,8.753,25.245,7.411,24.231,6.398z M14.63,19.975l-1.611,1.611
        c-0.391,0.391-0.894,0.579-1.42,0.582c-0.501-0.001-0.998-0.19-1.39-0.582l-0.16-0.159c-0.391-0.393-0.58-0.892-0.582-1.411
        c0.002-0.51,0.19-1.008,0.582-1.4l3.738-3.738c0.393-0.391,0.893-0.58,1.406-0.582c0.514,0.002,1.013,0.191,1.405,0.582l0.16,0.159
        l2.279-2.28l0,0l0,0l-0.159-0.16l-0.288-0.289c-0.125-0.124-0.263-0.223-0.412-0.298c-0.893-0.626-1.943-0.941-2.985-0.94
        c-1.328-0.001-2.673,0.514-3.687,1.527l-3.739,3.74c-1.012,1.01-1.528,2.352-1.526,3.68c-0.003,1.329,0.51,2.676,1.526,3.693
        l0.159,0.158c1.006,1.006,2.341,1.528,3.672,1.526h0.009c1.323,0,2.672-0.506,3.692-1.526l1.61-1.611
        c0.631-0.631,0.631-1.651,0-2.281C16.281,19.346,15.26,19.346,14.63,19.975z"/>
    </g>
    <g id="icon-blockquote">
      <path d="M9.286,23v-6.025c-0.026-0.866,0.099-1.682,0.374-2.442s0.662-1.431,1.162-2.009c0.498-0.578,1.097-1.057,1.791-1.438
  c0.695-0.381,1.453-0.623,2.268-0.729v2.601c-1,0.342-1.684,0.846-2.049,1.517c-0.368,0.669-0.551,1.489-0.551,2.462h2.6V23H9.286z
   M17.676,23v-6.025c-0.025-0.866,0.1-1.682,0.375-2.442s0.663-1.431,1.162-2.009c0.498-0.578,1.096-1.057,1.792-1.438
  c0.695-0.381,1.45-0.623,2.265-0.729v2.601c-0.998,0.342-1.681,0.846-2.049,1.517c-0.367,0.669-0.552,1.489-0.552,2.462h2.601V23
  H17.676z"/>
    </g>

    <g id="icon-orderedlist">
      <path d="M12.312,25.594H27 M7.118,25.577"/>
      <path d="M12.266,6.354v4.549h14.687V6.354H12.266z M12.265,18.076h14.688v-4.549H12.265V18.076z
         M12.266,25.249h14.687v-4.55H12.266V25.249z M7.127,11.062h0.991V6.14H7.311c0,0.042-0.013,0.108-0.038,0.196
        C7.23,6.484,7.167,6.601,7.084,6.689c-0.122,0.129-0.28,0.215-0.475,0.258C6.488,6.975,6.274,6.996,5.97,7.009v0.659h1.157V11.062z
         M7.152,17.202c0.09-0.077,0.256-0.202,0.499-0.373l0.387-0.275c0.327-0.231,0.562-0.44,0.704-0.628
        c0.218-0.283,0.327-0.606,0.327-0.971c0-0.475-0.154-0.857-0.463-1.146c-0.308-0.289-0.723-0.433-1.243-0.433
        c-0.659,0-1.118,0.246-1.376,0.737c-0.137,0.258-0.213,0.596-0.229,1.015h0.94c0.012-0.276,0.048-0.478,0.108-0.604
        c0.106-0.22,0.308-0.329,0.601-0.329c0.216,0,0.381,0.069,0.497,0.207c0.115,0.138,0.172,0.312,0.172,0.52
        c0,0.256-0.101,0.491-0.302,0.706c-0.132,0.138-0.42,0.367-0.865,0.686c-0.515,0.367-0.84,0.715-0.978,1.043
        c-0.143,0.291-0.219,0.613-0.228,0.967h3.37v-0.852H6.927C6.988,17.369,7.063,17.279,7.152,17.202z M8.322,22.684
        c0.117-0.046,0.23-0.13,0.339-0.255c0.173-0.199,0.258-0.443,0.258-0.733c0-0.41-0.144-0.736-0.432-0.979
        c-0.288-0.244-0.668-0.365-1.138-0.365c-0.254,0-0.468,0.029-0.642,0.092c-0.174,0.061-0.324,0.148-0.451,0.265
        c-0.168,0.162-0.293,0.341-0.372,0.532c-0.075,0.221-0.117,0.451-0.126,0.696h0.903c-0.005-0.242,0.046-0.437,0.154-0.581
        c0.106-0.145,0.274-0.217,0.503-0.217c0.198,0,0.353,0.059,0.461,0.176c0.11,0.119,0.165,0.271,0.165,0.459
        c0,0.29-0.107,0.482-0.321,0.577c-0.124,0.057-0.343,0.087-0.656,0.092v0.693c0.32,0,0.555,0.03,0.704,0.091
        c0.262,0.109,0.392,0.325,0.392,0.647c0,0.245-0.069,0.432-0.212,0.563c-0.141,0.129-0.306,0.195-0.495,0.195
        c-0.31,0-0.523-0.119-0.641-0.357c-0.062-0.13-0.095-0.292-0.095-0.488h-0.95c0.017,0.391,0.095,0.709,0.237,0.95
        c0.271,0.454,0.756,0.682,1.451,0.682c0.565,0,0.992-0.158,1.28-0.474c0.288-0.314,0.433-0.681,0.433-1.098
        c0-0.396-0.123-0.708-0.37-0.937C8.537,22.76,8.41,22.684,8.322,22.684z"/>
    </g>
    <g id="icon-unorderedlist">
      <path d="M27,6.7H12.312v4.549H27V6.7z M27,13.872H12.312v4.55H27V13.872z M12.312,21.044v4.55H27
    v-4.55H12.312z M7.118,6.632c-1.315,0-2.381,1.066-2.381,2.382s1.065,2.382,2.381,2.382c1.316,0,2.383-1.066,2.383-2.382
    S8.435,6.632,7.118,6.632z M7.118,13.481c-1.315,0-2.381,1.066-2.381,2.382s1.065,2.382,2.381,2.382
    c1.316,0,2.383-1.066,2.383-2.382S8.435,13.481,7.118,13.481z M7.118,20.812c-1.315,0-2.381,1.066-2.381,2.383
    c0,1.314,1.065,2.382,2.381,2.382c1.316,0,2.383-1.067,2.383-2.382C9.501,21.878,8.435,20.812,7.118,20.812z"/>
    </g>
    <g id="icon-image">
      <path d="M16.447,18.566l-3.881-4.127l-2.638,4.879v1.347h13.107c-1.669-1.44-5.189-4.52-5.189-4.52L16.447,18.566z
     M21.003,15.459c0.729,0,1.317-0.589,1.317-1.317c0-0.726-0.588-1.317-1.317-1.317c-0.726,0-1.315,0.591-1.315,1.317
    C19.688,14.87,20.277,15.459,21.003,15.459z M6.984,9.653v13.898h19.706V9.653H6.984z M24.939,21.8H8.793L8.792,11.462h16.091l0,0
    h0.059V21.8H24.939z"/>
    </g>
    <g id="icon-video">
      <path class="st0" d="M20.638,14.73v4.618l5.645,3.645V11.086L20.638,14.73z M18.577,11.796H7.75c-0.514,0-0.928,0.415-0.928,0.926
    v8.629c0,0.513,0.414,0.928,0.928,0.928h10.826c0.513,0,0.927-0.415,0.927-0.928v-8.629C19.503,12.211,19.089,11.796,18.577,11.796z
    "/>
    </g>
    </defs>
  </svg>
