<div class="grid grid-pad">
  <div id="dropdowns-container" class="col-1-2">
    <h1>Formatted User Input</h1>

    <div class="field">
      <label for="input-format-phone">Phone Number</label>
      <input type="tel" class="format" id="input-format-phone">
    </div>

  </div>
</div>
