  <div class="container" id="maincontent">

    <div class="row">
      <div class="twelve columns">
        <h1>Responsive Grid (Simple Thirds)</h1>
        <span class="label">Simple version for 1/3 and 1/2 Layouts</span>
        <hr>
      </div>
    </div>

    <!-- Grid Full-->
    <div class="row">
      <div class="full column">
        <div class="content"><h3>outer:1339 inner:1319</h3></div>
      </div>
    </div>

    <!-- Grid Halves -->
    <div class="row">
      <div class="one-half column">
        <div class="content">
          <h3>outer:660 inner:640</h3>
        </div>
      </div>

      <div class="one-half column">
        <div class="content">
          <h3>outer:660 inner:640</h3>
        </div>
      </div>
    </div>

    <!-- Grid Thirds -->
    <div class="row">
      <div class="one-third column">
        <div class="content">
          <h3>outer:433 inner:413</h3>
        </div>
      </div>

      <div class="one-third column">
        <div class="content">
          <h3>outer:433 inner:413</h3>
        </div>
      </div>

      <div class="one-third column">
        <div class="content">
          <h3>outer:433 inner:413</h3>
        </div>
      </div>
    </div>

    <!-- Grid Thirds -->
    <div class="row">
      <div class="one-third column">
        <div class="content">
          <h3>outer:433 inner:413</h3>
        </div>
      </div>

      <div class="two-thirds column">
        <div class="content">
          <h3>outer:886 inner:866</h3>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="two-thirds column">
        <div class="content">
          <h3>outer:886 inner:866</h3>
        </div>
      </div>

      <div class="one-third column">
        <div class="content">
          <h3>outer:433 inner:413</h3>
        </div>
      </div>

    </div>

    <script>
      var showWidths = function () {
        $('.content').each(function () {
          var w1 = $(this).outerWidth(),
            w2 = $(this).width()-20,
            h3 = $(this).find('h3');

          h3.text('outer:'+ w1 + ' inner:' + w2);
        });
      };

      showWidths();
      $(window).resize(function () {
        showWidths();
      });

    </script>
  </div>
