
			<div class="grid">
				<div class="col-1-1">
					<div class="content">
						<h3>
							col-1-1
						</h3>
					</div>
				</div>
				<div class="col-1-1">
					<pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"grid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-1-1"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L3"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-1-1</span><span class="tag">&lt;/h3&gt;</span></li><li class="L4"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L5"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L6"><span class="tag">&lt;/div&gt;</span></li></ol></pre>
				</div>
			</div>
			<!-- Grid 1/2 -->
			<div class="grid">
				<div class="col-1-2">
					<div class="content">
						<h3>
							col-1-2
						</h3>
					</div>
				</div>
				<div class="col-1-2">
					<div class="content">
						<h3>
							col-1-2
						</h3>
					</div>
				</div>
				<div class="col-1-1">
					<pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"grid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-1-2"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L3"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-1-2</span><span class="tag">&lt;/h3&gt;</span></li><li class="L4"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L5"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L6"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-1-2"</span><span class="tag">&gt;</span></li><li class="L7"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L8"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-1-2</span><span class="tag">&lt;/h3&gt;</span></li><li class="L9"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L0"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L1"><span class="tag">&lt;/div&gt;</span></li></ol></pre>
				</div>
			</div>

			<!-- Grid 1/3 -->
			<div class="grid">
				<div class="col-1-3">
					<div class="content">
						<h3>
							col-1-3
						</h3>
					</div>
				</div>
				<div class="col-1-3">
					<div class="content">
						<h3>
							col-1-3
						</h3>
					</div>
				</div>
				<div class="col-1-3">
					<div class="content">
						<h3>
							col-1-3
						</h3>
					</div>
				</div>
				<div class="col-1-1">
					<pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"grid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-1-3"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L3"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-1-3</span><span class="tag">&lt;/h3&gt;</span></li><li class="L4"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L5"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L6"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-1-3"</span><span class="tag">&gt;</span></li><li class="L7"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L8"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-1-3</span><span class="tag">&lt;/h3&gt;</span></li><li class="L9"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L0"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L1"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-1-3"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L3"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-1-3</span><span class="tag">&lt;/h3&gt;</span></li><li class="L4"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L5"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L6"><span class="tag">&lt;/div&gt;</span></li></ol></pre>
				</div>
			</div>
			<!-- Grid 1/4 -->
			<div class="grid">
				<div class="col-1-4">
					<div class="content">
						<h3>
							col-1-4
						</h3>
					</div>
				</div>
				<div class="col-1-4">
					<div class="content">
						<h3>
							col-1-4
						</h3>
					</div>
				</div>
				<div class="col-1-4">
					<div class="content">
						<h3>
							col-1-4
						</h3>
					</div>
				</div>
				<div class="col-1-4">
					<div class="content">
						<h3>
							col-1-4
						</h3>
					</div>
				</div>
			</div>
			<!-- Grid 1/5 -->
			<div class="grid">
				<div class="col-1-5">
					<div class="content">
						<h3>
							col-1-5
						</h3>
					</div>
				</div>
				<div class="col-1-5">
					<div class="content">
						<h3>
							col-1-5
						</h3>
					</div>
				</div>
				<div class="col-1-5">
					<div class="content">
						<h3>
							col-1-5
						</h3>
					</div>
				</div>
				<div class="col-1-5">
					<div class="content">
						<h3>
							col-1-5
						</h3>
					</div>
				</div>
				<div class="col-1-5">
					<div class="content">
						<h3>
							col-1-5
						</h3>
					</div>
				</div>
			</div>
			<!-- Grid 1/6 -->
			<div class="grid">
				<div class="col-1-6">
					<div class="content">
						<h3>
							col-1-6
						</h3>
					</div>
				</div>
				<div class="col-1-6">
					<div class="content">
						<h3>
							col-1-6
						</h3>
					</div>
				</div>
				<div class="col-1-6">
					<div class="content">
						<h3>
							col-1-6
						</h3>
					</div>
				</div>
				<div class="col-1-6">
					<div class="content">
						<h3>
							col-1-6
						</h3>
					</div>
				</div>
				<div class="col-1-6">
					<div class="content">
						<h3>
							col-1-6
						</h3>
					</div>
				</div>
				<div class="col-1-6">
					<div class="content">
						<h3>
							col-1-6
						</h3>
					</div>
				</div>
			</div>
			<!-- Grid 1/7 -->
			<div class="grid">
				<div class="col-1-7">
					<div class="content">
						<h3>
							col-1-7
						</h3>
					</div>
				</div>
				<div class="col-1-7">
					<div class="content">
						<h3>
							col-1-7
						</h3>
					</div>
				</div>
				<div class="col-1-7">
					<div class="content">
						<h3>
							col-1-7
						</h3>
					</div>
				</div>
				<div class="col-1-7">
					<div class="content">
						<h3>
							col-1-7
						</h3>
					</div>
				</div>
				<div class="col-1-7">
					<div class="content">
						<h3>
							col-1-7
						</h3>
					</div>
				</div>
				<div class="col-1-7">
					<div class="content">
						<h3>
							col-1-7
						</h3>
					</div>
				</div>
				<div class="col-1-7">
					<div class="content">
						<h3>
							col-1-7
						</h3>
					</div>
				</div>
			</div>
			<!-- Grid 1/8 -->
			<div class="grid">
				<div class="col-1-8">
					<div class="content">
						<h3>
							col-1-8
						</h3>
					</div>
				</div>
				<div class="col-1-8">
					<div class="content">
						<h3>
							col-1-8
						</h3>
					</div>
				</div>
				<div class="col-1-8">
					<div class="content">
						<h3>
							col-1-8
						</h3>
					</div>
				</div>
				<div class="col-1-8">
					<div class="content">
						<h3>
							col-1-8
						</h3>
					</div>
				</div>
				<div class="col-1-8">
					<div class="content">
						<h3>
							col-1-8
						</h3>
					</div>
				</div>
				<div class="col-1-8">
					<div class="content">
						<h3>
							col-1-8
						</h3>
					</div>
				</div>
				<div class="col-1-8">
					<div class="content">
						<h3>
							col-1-8
						</h3>
					</div>
				</div>
				<div class="col-1-8">
					<div class="content">
						<h3>
							col-1-8
						</h3>
					</div>
				</div>
			</div>
			<!-- Grid 1/9 -->
			<div class="grid">
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
				<div class="col-1-9">
					<div class="content">
						<h3>
							col-1-9
						</h3>
					</div>
				</div>
			</div>
			<!-- Grid 1/10 -->
			<div class="grid">
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
				<div class="col-1-10">
					<div class="content">
						<h3>
							1-10
						</h3>
					</div>
				</div>
			</div>
			<!-- Grid 1/11 -->
			<div class="grid">
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
				<div class="col-1-11">
					<div class="content">
						<h3>
							1-11
						</h3>
					</div>
				</div>
			</div>
			<!-- Grid 1/12 -->
			<div class="grid">
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
					<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="features">
					<h1>
						Layout Columns
					</h1>
				</div>
			</div>
			<!-- 11/12 and 1/12 layout -->
			<div class="grid">
				<div class="col-1-12">
				<div class="content">
						<h3>
							1-12
						</h3>
					</div>				</div>
				<div class="col-11-12">
				<div class="content">
						<h3>
							col-11-12
						</h3>
					</div>
				</div>
				<div class="col-1-1">
					<pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"grid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-1-12"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L3"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-1-12</span><span class="tag">&lt;/h3&gt;</span></li><li class="L4"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L5"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L6"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-11-12"</span><span class="tag">&gt;</span></li><li class="L7"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L8"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-11-12</span><span class="tag">&lt;/h3&gt;</span></li><li class="L9"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L0"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L1"><span class="tag">&lt;/div&gt;</span></li></ol></pre>
				</div>
			</div>
			<!-- 10/12 and 2/12 layout -->
			<div class="grid">
				<div class="col-2-12">
				<div class="content">
						<h3>
							col-2-12
						</h3>
					</div>
				</div>
				<div class="col-10-12">
				<div class="content">
						<h3>
							col-10-12
						</h3>
					</div>
				</div>
				<div class="col-1-1">
					<pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"grid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-2-12"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L3"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-2-12</span><span class="tag">&lt;/h3&gt;</span></li><li class="L4"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L5"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L6"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-10-12"</span><span class="tag">&gt;</span></li><li class="L7"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L8"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-10-12</span><span class="tag">&lt;/h3&gt;</span></li><li class="L9"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L0"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L1"><span class="tag">&lt;/div&gt;</span></li></ol></pre>
				</div>
			</div>
			<!-- 9/12 and 3/12 layout -->
			<div class="grid">
				<div class="col-3-12">
				<div class="content">
						<h3>
							col-3-12
						</h3>
					</div>
				</div>
				<div class="col-9-12">
				<div class="content">
						<h3>
							col-9-12
						</h3>
					</div>
				</div>
				<div class="col-1-1">
					<pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"grid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-3-12"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L3"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-3-12</span><span class="tag">&lt;/h3&gt;</span></li><li class="L4"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L5"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L6"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"col-9-12"</span><span class="tag">&gt;</span></li><li class="L7"><span class="pln">       </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"content"</span><span class="tag">&gt;</span></li><li class="L8"><span class="pln">           </span><span class="tag">&lt;h3&gt;</span><span class="pln">col-9-12</span><span class="tag">&lt;/h3&gt;</span></li><li class="L9"><span class="pln">       </span><span class="tag">&lt;/div&gt;</span></li><li class="L0"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L1"><span class="tag">&lt;/div&gt;</span></li></ol></pre>
				</div>
			</div>
			<!-- 8/12 and 4/12 layout -->
			<div class="grid">
				<div class="col-4-12">
				<div class="content">
						<h3>
							col-4-12
						</h3>
					</div>
				</div>
				<div class="col-8-12">
				<div class="content">
						<h3>
							col-8-12
						</h3>
					</div>
				</div>
			</div>
			<!-- 7/12 and 5/12 layout -->
			<div class="grid">
				<div class="col-5-12">
				<div class="content">
						<h3>
							col-5-12
						</h3>
					</div>
				</div>
				<div class="col-7-12">
				<div class="content">
						<h3>
							col-7-12
						</h3>
					</div>
				</div>
			</div>
			<!-- 6/12 and 6/12 layout -->
			<div class="grid">
				<div class="col-6-12">
				<div class="content">
						<h3>
							col-6-12
						</h3>
					</div>
				</div>
				<div class="col-6-12">
				<div class="content">
						<h3>
							col-6-12
						</h3>
					</div>
				</div>
			</div>
			<!-- 7/12 and 5/12 layout -->
			<div class="grid">
				<div class="col-7-12">
				<div class="content">
						<h3>
							col-7-12
						</h3>
					</div>
				</div>
				<div class="col-5-12">
				<div class="content">
						<h3>
							col-5-12
						</h3>
					</div>
				</div>
			</div>
			<!-- 8/12 and 4/12 layout -->
			<div class="grid">
				<div class="col-8-12">
				<div class="content">
						<h3>
							col-8-12
						</h3>
					</div>
				</div>
				<div class="col-4-12">
				<div class="content">
						<h3>
							col-4-12
						</h3>
					</div>
				</div>
			</div>
			<!-- 9/12 and 3/12 layout -->
			<div class="grid">
				<div class="col-9-12">
				<div class="content">
						<h3>
							col-9-12
						</h3>
					</div>
				</div>
				<div class="col-3-12">
				<div class="content">
						<h3>
							col-3-12
						</h3>
					</div>
				</div>
			</div>
			<!-- 10/12 and 2/12 layout -->
			<div class="grid">
				<div class="col-10-12">
				<div class="content">
						<h3>
							col-10-12
						</h3>
					</div>
				</div>
				<div class="col-2-12">
				<div class="content">
						<h3>
							col-2-12
						</h3>
					</div>
				</div>
			</div>
			<!-- 11/12 and 1/12 layout -->
			<div class="grid">
				<div class="col-11-12">
				<div class="content">
						<h3>
							col-11-12
						</h3>
					</div>
				</div>
				<div class="col-1-12">
				<div class="content">
						<h3>
							1-12
						</h3>
					</div>
				</div>
			</div>
