
<div class="row">
  <div class="one-half column">
    <a class="hyperlink hide-focus" href="#">Normal Hyperlink</a><p>&nbsp;</p>
    <a class="hyperlink hide-focus" disabled tabindex="-1" href="#">Disabled Hyperlink</a><p>&nbsp;</p>
    <a class="hyperlink show-visited force-visited" href="#">Visited Hyperlink (Forced)</a><p>&nbsp;</p>
    <a class="hyperlink directional hide-focus" href="#">
      <span>Forward Link with Caret</span>
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use xlink:href="#icon-caret-right"/>
      </svg>
    </a><p>&nbsp;</p>
    <a href="#" class="hyperlink back hide-focus">
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
        <use xlink:href="#icon-caret-left"/>
      </svg>
      <span>Forward Link with Caret</span>
    </a>
  </div>

<!--
  <div class="one-half column">
    <h1>Inline with Text</h1>
    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. <a class="hyperlink" href="#">Dramatically maintain</a> clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. </p>
    <p>Purchase <b>3 more</b> to save <b><a class="hyperlink" href="#price">$150</a></b> total.</p>
  </div>
-->

</div>
