<svg display="none">
<defs>
<g id="icon-cog">
  <path d="M36.047,19.745v-4.053l-0.58-0.187l-4.391-1.417l-1.169-2.794l2.252-4.708l-2.903-2.866l-0.543,0.273l-4.116,2.066
  l-2.83-1.159L19.987,0h-4.101l-0.188,0.574l-1.434,4.337l-2.828,1.157L6.668,3.844l-2.9,2.865l0.277,0.536l2.091,4.07l-1.17,2.792
  L0,15.863v4.055l0.58,0.185l4.393,1.417l1.171,2.794l-2.251,4.708l2.899,2.864l0.543-0.272l4.12-2.065l2.827,1.157l1.778,4.903
  h4.102l0.191-0.572l1.433-4.338l2.827-1.158l4.766,2.225l2.903-2.865l-0.277-0.537l-2.092-4.068l1.173-2.795L36.047,19.745z
   M18.023,23.478c-3.171,0-5.743-2.54-5.743-5.673c0-3.135,2.572-5.674,5.743-5.674c3.175,0,5.746,2.54,5.746,5.674
  C23.769,20.938,21.198,23.478,18.023,23.478z"/>
</g>
<g id="icon-error">
  <path  fill="#d5000e" d="M14.937-0.025c-8.246,0-14.93,6.685-14.93,14.93c0,8.247,6.685,14.931,14.93,14.931
  c8.247,0,14.931-6.685,14.931-14.931C29.868,6.659,23.184-0.025,14.937-0.025z M16.391,22.715h-2.362v-2.359h2.362V22.715z
   M19.655,12.601c-0.106,0.348-0.245,0.664-0.415,0.948c-0.171,0.284-0.366,0.545-0.585,0.786c-0.22,0.241-0.442,0.475-0.671,0.703
  c-0.227,0.212-0.451,0.429-0.67,0.649c-0.22,0.219-0.418,0.452-0.595,0.701s-0.319,0.519-0.426,0.808
  c-0.106,0.292-0.16,0.621-0.16,0.99v0.829h-1.808v-0.999c0.029-0.596,0.139-1.104,0.329-1.522c0.192-0.417,0.427-0.789,0.702-1.116
  c0.277-0.326,0.568-0.627,0.874-0.904c0.303-0.277,0.588-0.568,0.85-0.873c0.263-0.305,0.471-0.642,0.627-1.01
  c0.156-0.37,0.22-0.815,0.19-1.34c-0.056-0.779-0.307-1.39-0.755-1.83c-0.446-0.439-1.052-0.66-1.817-0.66
  c-0.51,0-0.951,0.094-1.318,0.277c-0.37,0.185-0.679,0.433-0.925,0.745c-0.249,0.311-0.429,0.68-0.543,1.105
  c-0.113,0.425-0.17,0.887-0.17,1.382h-1.808c-0.013-0.723,0.089-1.396,0.309-2.02c0.22-0.625,0.535-1.167,0.946-1.628
  c0.412-0.46,0.915-0.818,1.51-1.074c0.596-0.255,1.262-0.382,2-0.382c0.667,0,1.272,0.095,1.817,0.287
  c0.547,0.191,1.018,0.468,1.416,0.83c0.396,0.361,0.704,0.805,0.925,1.33c0.219,0.525,0.33,1.127,0.33,1.808
  C19.814,11.86,19.762,12.254,19.655,12.601z"/>
</g>
</defs>
</svg>

<button class="icon-btn">
   <svg class="icon icon-cog" viewBox="0 0 37 37">
       <use xlink:href="#icon-cog"></use>
   </svg>
   File Icon
</button>

<svg class="icon icon-error" viewBox="0 0 32 32">
   <use xlink:href="#icon-error"></use>
</svg>

