<!-- A directory of all controls, to be styled later -->
<link rel="stylesheet" href="/stylesheets/site.css" type="text/css">

<section class="site-content container gallery controls-index" role="main">
  <h2>User Input</h2>

  <div class="row">
    <div class="three columns">
      <div class="card">
        <h3>Textbox</h3>
        <div class="gallery-details">
          <p>
            Standard Css Textbox with extensions provide support for input masking, required indicator, dirty indicator and validation.
          </p>
          <div class="gallery-tags">
            <ul>
              <li class="gallery-tag warning-text">#responsive</li>
              <li class="gallery-tag positive-text">#accessible</li>
              <li class="gallery-tag error-text">#testing</li>
            </ul>
          </div>
          <time class="gallery-post-date" datetime="2015-01-07">Feb 27, 2015</time>
        </div>
      </div>
    </div>

    <div class="three columns">
      <div class="card">
      </div>
    </div>

    <div class="three columns">
      <div class="card">
      </div>
    </div>

    <div class="three columns">
      <div class="card">
      </div>
    </div>

  </div>

</section>
