<div class="grid">
	<div class="col-1-2">
		<h1 class="demo-heading">User Input <span>(43px High)</span></h1>

		<div class="field">
      <label class="required" for="input-standard">Label (Required)</label>
		  <input type="text" id="input-standard" placeholder="User Input Field Label">
		</div>

		<div class="field">
      <label for="input-focused">Label</label>
		  <input type="text" class="is-focused" value="Entering Content (in focus state)" id="input-focused">
		</div>

		<div class="field">
      <span class="label">Data</span>
		  <span class="data">Read Only Text Field without Field Box</span>
		</div>

		<div class="field">
      <label for="input-disabled">Label</label>
		  <input type="text" disabled value="Data (disabled field)" id="input-disabled">
		</div>

    <div class="field">
      <label for="input-error">Label</label>
      <input type="text" class="has-error" value="073021" id="input-error">
      <span role="alert" class="has-error">
      The zipcode you entered is incorrect.
        <svg class="icon icon-error" viewBox="0 0 32 32">
          <use xlink:href="#icon-error"></use>
        </svg>
      </span>

    </div>

	</div>

