
<!--This is only needed because it renders first on the server on the first one-->
{{={{{ }}}=}}

<div class="row">
  <div class="twelve columns">

    <div class="toolbar" role="toolbar">
      <div class="title">
        8 Shipping Lists
      </div>
      <div class="buttonset">

        <button class="btn-tertiary" type="button">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-bullet-list"></use>
          </svg>
          <span>Manage Lists</span>
        </button>

      </div>
    </div>

    <script id="shopping-lists-tmpl" type="text/html">

        <table role="grid" class="listview-table show-headers">
          <thead>
            <tr>
              <th scope="col" role="columnheader">Item</th>
              <th scope="col" role="columnheader" class="l-right-text">Number of Items</th>
              <th scope="col" role="columnheader" class="l-right-text">Owner/Title</th>
            </tr>
          </thead>
          <tbody>

          {{#dataset}}
            <tr>
              <td>
                <a href="#" class="hyperlink listview-heading">{{item}}</a>
              </td>
              <td class="l-right-text">{{count}}</td>
              <td class="l-right-text">{{owner}},  {{role}}</td>
            </tr>
          {{/dataset}}
          </tbody>

        </table>
    </script>

    <div class="listview" id="task-listview" data-options="{ selectable: false, template: 'shopping-lists-tmpl', source: '{{basepath}}api/supplies' }"></div>

  </div>
</div>
