<div class="grid grid-pad">
	<div class="col-1-2">
		<h1>Loading Indicator</h1>
		
    <div class="loader" id="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <p aria-live="polite">Please Wait...</p>
    </div>
    
	</div>
</div>
