<div class="grid">
	<div class="col-1-2">
		<h1 class="demo-heading">Loading Indicator <span>(Standard)</span></h1>

    <div class="loader" id="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <p aria-live="polite">Please Wait...</p>
    </div>

	</div>
</div>
