<div class="grid grid-pad">
  <div id="dropdowns-container" class="col-1-2">
    <h1>Formatted User Input</h1>

    <div class="field">
      <label for="input-format-phone">Phone Number</label>
      <input id="input-format-phone" type="tel" data-mask="(###) ###-####" placeholder="(###) ###-####">
    </div>

    <div class="field">
      <label for="input-format-date">Date</label>
      <input id="input-format-date" type="text" data-mask="##/##/####" placeholder="MM/DD/YYYY">
    </div>

    <div class="field">
      <label for="input-format-letters">Letters Only</label>
      <input id="input-format-letters" type="text" data-mask="aaaa-aaaa-aaaaaaaa" placeholder="AAAA-AAAA-AAAAAAAA">
    </div>

    <div class="field">
      <label for="input-format-letters">Number (Thousands)</label>
      <input id="input-format-letters" type="text" data-mask="#,###.00" placeholder="#,###.##">
    </div>

    <div class="field">
      <label for="input-format-alphanumeric">Product Code (Alpha-numeric)</label>
      <input id="input-format-alphanumeric" type="text" data-mask="****-***-**********" placeholder="****-***-**********">
    </div>

  </div>
</div>
