<div class="grid">
  <div class="col-1-1">
    <h1>Menu Buttons</h1>
    <span class="label">Button with Popupmenu</span>
    <hr>

    <div class="grid">
      <div class="col-1-1">

        <div class="button-group">
          <button type="button" class="menubutton">
            <span>Add Item</span>
            <svg class="icon">
              <use xlink:href="#icon-dropdown-arrow"/>
            </svg>
          </button>
          <ul class="popupmenu">
            <li>
              <a href="#">Add Page</a>
            </li>
            <li>
              <a href="#">Add Folder</a>
            </li>
            <li>
              <a href="#">Add Product</a>
            </li>
            <li>
              <a href="#">Add Blog</a>
            </li>
            <li>
              <a href="#">Add Navigation</a>
            </li>
          </ul>
        </div>

        <div class="button-group">
          <button type="button" disabled class="menubutton">
            <span>Disabled</span>
            <svg class="icon">
              <use xlink:href="#icon-dropdown-arrow"/>
            </svg>
          </button>
        </div>

        <div class="button-group">
          <button type="button" class="splitbutton">
            <span>Split Button</span>
          </button>
          <button class="splitbutton-menu">
            <svg class="icon">
              <use xlink:href="#icon-dropdown-arrow"/>
            </svg>
          </button>
          <ul class="popupmenu">
            <li>
              <a href="#">Add Page</a>
            </li>
            <li>
              <a href="#">Add Folder</a>
            </li>
            <li>
              <a href="#">Add Product</a>
            </li>
            <li>
              <a href="#">Add Blog</a>
            </li>
            <li>
              <a href="#">Add Navigation</a>
            </li>
          </ul>
        </div>

        <div class="button-group">
          <button type="button" class="splitbutton" disabled>
            <span>Split Button</span>
          </button>
          <button class="splitbutton-menu" disabled>
            <svg class="icon">
              <use xlink:href="#icon-dropdown-arrow"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
