<div class="grid">
  <div class="col-1-1">
    <h1>Message</h1>
    <span class="label">Popup Messages</span>
    <hr>

    <button class="btn" type="button" id="show-message-button">Show Message</button>
    <script>
      $('#show-message-button').on('click', function () {
        $('body').message({title: 'Confirmation',
                          message: 'Do you want to save your changes?',
                          buttons: [{text: 'Ok',
                                      click: function() {
                                        $(this).modal('close');
                                      },
                                      isDefault: true
                                    },{
                                      text: 'Cancel',
                                      click: function() {
                                        $(this).modal('close');
                                      }
                                    }]
        });
      });
    </script>
  </div>
</div>
