<div class="grid grid-pad">
	<div class="col-1-2">
		<h1 class="demo-heading">Message <span>(Dialogs)</span></h1>
    <button class="btn" type="button" data-message="{title: 'Test Title', message: 'This is a Test Message}">Show Message</button>
	</div>
</div>
