<div class="grid">
  <div class="col-1-2">
    <h1 class="demo-heading">Popup Menu <span>(Right Click)</span></h1>

    <div class="field">
      <label for="input-menu">Label</label>
      <input type="text" data-popupmenu="action-popupmenu" value="Right Click Me" id="input-menu">
    </div>

    <button class="btn" data-popupmenu="action-popupmenu"  type="button">Standard Action</button>
    <ul id="action-popupmenu" class="popupmenu">
      <li><a href="#">Change Available Number</a></li>
      <li>
        <a href="#">Sub Menu</a>
        <ul class="popupmenu">
          <li><a href="#">Sub Menu 1</a></li>
          <li><a href="#">Sub Menu 2</a></li>
        </ul>
      </li>
      <li><a href="#">Cancel Line</a></li>
      <li><a href="#">Cancel Requisition</a></li>
      <li><a href="#">Close Requisition Short</a></li>
    </ul>

  </div>
</div>
