<div class="row">
  <div class="twelve columns">
    <h1>Radio Buttons</h1>
    <span class="label">User Input</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <fieldset class="radio-group">
    <legend>Select delivery method</legend>
        <input type="radio" class="radio" name="delivery" id="delivery1" value="in" />
        <label for="delivery1" class="radio-label">Dine in</label>
        <br>
        <input type="radio" checked class="radio" name="delivery" id="delivery2" value="out" />
        <label for="delivery2"  class="radio-label">Carry out</label>
        <br>
        <input type="radio" class="radio" name="delivery" id="delivery3" value="delivery" />
        <label for="delivery3" class="radio-label">Delivery</label>
    </fieldset>

  </div>
</div>

