
	<div class="col-2-2">
		<h1 class="demo-heading">Radio Buttons <span>20px x 20px</span></h1>
    <input type="radio" name="sex" class="radio" id="option1">
    <label for="option1" class="radio-label">Not Selected</label><br>

    <input type="radio" name="sex" class="radio" id="option2">
    <label for="option2" checked class="radio-label">Selected</label><br>

    <input type="radio" disabled name="sex" class="radio" id="option3">
    <label for="option3" class="radio-label">Disabled</label><br>
  </div>
</div>
