<div class="grid">
  <div class="col-1-2">
    <h1 class="demo-heading">Toggle Switches <span>(66px X 33px)</span></h1>
    <div class="switch">
        <input type="checkbox" name="onOff1" class="switch-checkbox" id="onOff1" >
        <label class="switch-container" for="onOff1">
          <span class="switch-control">
            <span class="switch-inner"></span>
            <span class="switch-knob"></span>
          </span>
          <span class="switch-label">Switch Unchecked</span>
        </label>
      </div>

    <div class="switch">
        <input type="checkbox" name="onOff2" class="switch-checkbox" id="onOff2" checked>
        <label class="switch-container" for="onOff2">
          <span class="switch-control">
            <span class="switch-inner"></span>
            <span class="switch-knob"></span>
          </span>
          <span class="switch-label">Switch Checked</span>
        </label>
      </div>

  </div>
</div>
