
<div class="row">
  <div class="twelve columns">

    <div id="tabs-normal" class="tab-container">
      <ul class="tab-list">
        <li class="tab"><a href="#tabs-normal-contracts">Contracts</a></li>
        <li class="tab"><a href="#tabs-normal-opportunities">Opportunites</a></li>
        <li class="tab is-selected"><a href="#tabs-normal-attachments">Attachments</a></li>
        <li class="tab"><a href="#tabs-normal-contacts">Contacts</a></li>
        <li class="tab"><a href="#tabs-normal-notes">Notes</a></li>
      </ul>
      <div id="tabs-normal-contracts" class="tab-panel">
        <p>Facilitate cultivate monetize, seize e-services peer-to-peer content integrateAJAX-enabled user-centric strategize. Mindshare; repurpose integrate global addelivery leading-edge frictionless, harness real-time plug-and-play standards-compliant 24/7 enterprise strategize robust infomediaries: functionalities back-end. Killer disintermediate web-enabled ubiquitous empower relationships, solutions, metrics architectures.</p>
      </div>
      <div id="tabs-normal-opportunities" class="tab-panel">
        <p>Bricks-and-clicks? Evolve ubiquitous matrix B2B 24/365 vertical 24/365 platforms standards-compliant global leverage dynamic 24/365 intuitive ROI seamless rss-capable. Cutting-edge grow morph web services leverage; ROI, unleash reinvent innovative podcasts citizen-media networking.</p>
    </div>
      <div id="tabs-normal-attachments" class="tab-panel">
        <p>Frictionless webservices, killer open-source innovate, best-of-breed, whiteboard interactive back-end optimize capture dynamic front-end. Initiatives ubiquitous 24/7 enhance channels B2B drive frictionless web-readiness generate recontextualize widgets applications. Sexy sticky matrix, user-centred, rich user-centric: peer-to-peer podcasting networking addelivery optimize streamline integrated proactive: granular morph.</p>
      </div>
      <div id="tabs-normal-contacts" class="tab-panel top-padding">
          <p>Bricks-and-clicks? Evolve ubiquitous matrix B2B 24/365 vertical 24/365 platforms standards-compliant global leverage dynamic 24/365 intuitive ROI seamless rss-capable. Cutting-edge grow morph web services leverage; ROI, unleash reinvent innovative podcasts citizen-media networking.</p>
      </div>
      <div id="tabs-normal-notes" class="tab-panel">
        <p> Post incentivize; rich-clientAPIs customized revolutionize 24/365 killer incentivize integrate intuitive utilize!</p>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Tabs with Counts</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div id="tabs-counts" class="tab-container has-counts" data-options="{'tabCounts': true}">
      <ul class="tab-list">
        <li class="tab"><a href="#tabs-counts-pending">Pending</a></li>
        <li class="separator"></li>
        <li class="tab"><a href="#tabs-counts-unreleased">Unreleased</a></li>
        <li class="tab"><a href="#tabs-counts-notConfirmed">Not Confirmed</a></li>
        <li class="separator"></li>
        <li class="tab"><a href="#tabs-counts-requests">Requests</a></li>
        <li class="tab"><a href="#tabs-counts-purchaseOrders">Purchase Orders</a></li>
        <li class="tab"><a href="#tabs-counts-receipts">Receipts</a></li>
        <li class="tab"><a href="#tabs-counts-feedback">Feedback</a></li>
        <li class="tab"><a href="#tabs-counts-invoices">Invoices</a></li>
      </ul>
      <div id="tabs-counts-pending" class="tab-panel">
        <p>Facilitate cultivate monetize, seize e-services peer-to-peer content integrateAJAX-enabled user-centric strategize. Mindshare; repurpose integrate global addelivery leading-edge frictionless, harness real-time plug-and-play standards-compliant 24/7 enterprise strategize robust infomediaries: functionalities back-end. Killer disintermediate web-enabled ubiquitous empower relationships, solutions, metrics architectures.<p>
      </div>
      <div id="tabs-counts-unreleased" class="tab-panel">
        <p>Bricks-and-clicks? Evolve ubiquitous matrix B2B 24/365 vertical 24/365 platforms standards-compliant global leverage dynamic 24/365 intuitive ROI seamless rss-capable. Cutting-edge grow morph web services leverage; ROI, unleash reinvent innovative podcasts citizen-media networking.<p>
      </div>
      <div id="tabs-counts-notConfirmed" class="tab-panel">
        <p>Frictionless webservices, killer open-source innovate, best-of-breed, whiteboard interactive back-end optimize capture dynamic front-end. Initiatives ubiquitous 24/7 enhance channels B2B drive frictionless web-readiness generate recontextualize widgets applications. Sexy sticky matrix, user-centred, rich user-centric: peer-to-peer podcasting networking addelivery optimize streamline integrated proactive: granular morph.<p>
      </div>
      <div id="tabs-counts-requests" class="tab-panel">
         <p>Exploit niches; enable A-list web-enabled holistic end-to-end. Exploit experiences value-added tagclouds, open-source cross-platform e-tailers, user-contributed, implement! Convergence, solutions front-end, "synergize markets initiatives integrateAJAX-enabled platforms; wireless, supply-chains reinvent, mindshare, synergies implement, drive evolve!" Post incentivize; rich-clientAPIs customized revolutionize 24/365 killer incentivize integrate intuitive utilize!<p>
      </div>
      <div id="tabs-counts-purchaseOrders" class="tab-panel">
       <p>Facilitate cultivate monetize, seize e-services peer-to-peer content integrateAJAX-enabled user-centric strategize. Mindshare; repurpose integrate global addelivery leading-edge frictionless, harness real-time plug-and-play standards-compliant 24/7 enterprise strategize robust infomediaries: functionalities back-end. Killer disintermediate web-enabled ubiquitous empower relationships, solutions, metrics architectures.<p>
      </div>
      <div id="tabs-counts-receipts" class="tab-panel">
        <p>Bricks-and-clicks? Evolve ubiquitous matrix B2B 24/365 vertical 24/365 platforms standards-compliant global leverage dynamic 24/365 intuitive ROI seamless rss-capable. Cutting-edge grow morph web services leverage; ROI, unleash reinvent innovative podcasts citizen-media networking.<p>
      </div>
      <div id="tabs-counts-feedback" class="tab-panel">
        <p>Feedback<p>
        <div class="field">
          <label class="required" for="text-counts-feedback">Text</label>
          <input type="text" name="text-counts-feedback" id="text-counts-feedback" data-validate="required" aria-required="true">
        </div>
        <div class="field">
          <label class="required" for="tel-counts-feedback">Telephone</label>
          <input type="tel" name="tel-counts-feedback" id="tel-counts-feedback" data-validate="required" aria-required="true">
        </div>
      </div>
      <div id="tabs-counts-invoices" class="tab-panel">
        <p>Frictionless webservices, killer open-source innovate, best-of-breed, whiteboard interactive back-end optimize capture dynamic front-end. Initiatives ubiquitous 24/7 enhance channels B2B drive frictionless web-readiness generate recontextualize widgets applications. Sexy sticky matrix, user-centred, rich user-centric: peer-to-peer podcasting networking addelivery optimize streamline integrated proactive: granular morph.<p>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Dismissible Tabs</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div id="tabs-dismissible" class="tab-container">
      <ul class="tab-list">
        <li class="tab"><a href="#tabs-dismissible-firefox">Firefox</a></li>
        <li class="tab is-selected"><a href="#tabs-dismissible-chrome">Chrome</a></li>
        <li class="tab dismissible"><a href="#tabs-dismissible-internetExplorer">Internet Explorer</a></li>
        <li class="tab dismissible"><a href="#tabs-dismissible-opera">Opera</a></li>
        <li class="tab dismissible"><a href="#tabs-dismissible-form">Form</a></li>
        <li class="tab dismissible"><a href="#tabs-dismissible-safari">Safari</a></li>
      </ul>
      <div id="tabs-dismissible-firefox" class="tab-panel">
        <p>Enhance value, initiatives communities integrateAJAX-enabled transition drive front-end 24/365 granular authentic schemas reinvent; holistic solutions matrix innovative. Semantic plug-and-play recontextualize magnetic applications optimize platforms impactful innovate visionary virtual brand. Cutting-edge folksonomies expedite bricks-and-clicks channels architect innovate incentivize e-enable, transparent, evolve magnetic; dynamic. Post streamline systems turn-key extensible incubate impactful tag bricks-and-clicks tag frictionless, rich strategic integrate e-business deploy.<p>
      </div>
      <div id="tabs-dismissible-chrome" class="tab-panel">
         <p>Back-end e-services end-to-end streamline portals methodologies post relationships enable e-markets users B2B, paradigms monetize eyeballs. Rich front-end, "dynamic webservices users revolutionary enterprise wireless capture orchestrate blogging; synergize; mindshare models engage!" Portals networkeffects mission-critical embrace, orchestrate, incentivize; relationships, platforms incentivize. Scalable applications world-class beta-test, target synergies frictionless synergies evolve web-readiness niches incentivize orchestrate.<p>
      </div>
      <div id="tabs-dismissible-internetExplorer" class="tab-panel">
        <p>Disintermediate enterprise ecologies revolutionize 24/365 mesh embedded feeds webservices world-class rss-capable innovative; e-business empower user-centric best-of-breed architect customized create." Bandwidth peer-to-peer user-centric share communities, rss-capable turn-key metrics deliverables productize robust integrate seize harness platforms killer, facilitate A-list 24/7 deliver tag. Reinvent viral scale leading-edge networking solutions web-readiness.<p>
      </div>
      <div id="tabs-dismissible-opera" class="tab-panel">
        <p>Podcasts e-enable, robust viral rich-clientAPIs widgets cutting-edge strategic embedded integrateAJAX-enabled matrix proactive architect, "experiences, scale streamline." Open-source standards-compliant infomediaries visionary systems user-centred applications.<p>
      </div>
      <div id="tabs-dismissible-form" class="tab-panel">
         <p>Form<p>
          <div class="field">
            <label class="required" for="text-dismissible-form">Text</label>
            <input type="text" name="text-dismissible-form" id="text-dismissible-form" data-validate="required" aria-required="true">
          </div>
          <div class="field">
            <label class="required" for="tel-dismissible-form">Telephone</label>
            <input type="tel" name="tel-dismissible-form" id="tel-dismissible-form" data-validate="required" aria-required="true">
          </div>
      </div>
      <div id="tabs-dismissible-safari" class="tab-panel">
         <p>Virtual supply-chains rich users iterate magnetic; proactive citizen-media granular strategic compelling blogging interactive bleeding-edge transform. Standards-compliant monetize enhance drive e-services.<p>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">
      <hr class="fieldset-hr">
      <h2 class="fieldset-title">Dropdown Tabs</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div id="tabs-dropdown" class="tab-container">
      <ul class="tab-list">
        <li class="tab"><a href="#tabs-dropdown-information">Information</a></li>
        <li class="tab has-popupmenu">
          <a href="#">Paper</a>
          <ul>
            <li><a href="#tabs-dropdown-paper-cash">Cash</a></li>
            <li><a href="#tabs-dropdown-paper-plates">Plates</a></li>
            <li><a href="#tabs-dropdown-paper-bags">Bags</a></li>
          </ul>
        </li>
        <li class="tab has-popupmenu">
          <a href="#">Plastic</a>
          <ul>
            <li><a href="#tabs-dropdown-plastic-creditcards">Credit Cards</a></li>
            <li><a href="#tabs-dropdown-plastic-plates">Plates</a></li>
            <li><a href="#tabs-dropdown-plastic-bags">Bags</a></li>
          </ul>
        </li>
      </ul>
      <div id="tabs-dropdown-information" class="tab-panel">
         <p>Integrate harness implement social web-readiness. E-business global syndicate integrate, "granular bricks-and-clicks addelivery, communities relationships, networking integrate." Transition, methodologies; 24/7 user-centred Cluetrain efficient; brand synergies; revolutionary synthesize incubate, interactive, enable metrics initiatives applications sexy. Aggregate plug-and-play reinvent, facilitate, reinvent leading-edge syndicate, revolutionize schemas streamline enable interactive, productize viral markets, reinvent; productize wireless; niches vertical applications front-end.<p>
      </div>
      <div id="tabs-dropdown-paper-cash" class="tab-panel">
        <p>Back-end e-services end-to-end streamline portals methodologies post relationships enable e-markets users B2B, paradigms monetize eyeballs. Rich front-end, "dynamic webservices users revolutionary enterprise wireless capture orchestrate blogging; synergize; mindshare models engage!" Portals networkeffects mission-critical embrace, orchestrate, incentivize; relationships, platforms incentivize. Scalable applications world-class beta-test, target synergies frictionless synergies evolve web-readiness niches incentivize orchestrate.<p>
      </div>
      <div id="tabs-dropdown-paper-plates" class="tab-panel">
        <p>Disintermediate enterprise ecologies revolutionize 24/365 mesh embedded feeds webservices world-class rss-capable innovative; e-business empower user-centric best-of-breed architect customized create." Bandwidth peer-to-peer user-centric share communities, rss-capable turn-key metrics deliverables productize robust integrate seize harness platforms killer, facilitate A-list 24/7 deliver tag. Reinvent viral scale leading-edge networking solutions web-readiness.<p>
        <div class="field">
          <label class="required" for="text-dropdown-paper-plates">Text</label>
          <input type="text" name="text-dropdown-paper-plates" id="text-dropdown-paper-plates" data-validate="required">
        </div>
        <div class="field">
          <label class="required" for="tel-dropdown-paper-plates">Telephone</label>
          <input type="tel" name="tel-dropdown-paper-plates" id="tel-dropdown-paper-plates" data-validate="required" aria-required="true">
        </div>
      </div>
      <!-- </div> -->
      <div id="tabs-dropdown-paper-bags" class="tab-panel">
        <p>Podcasts e-enable, robust viral rich-clientAPIs widgets cutting-edge strategic embedded integrateAJAX-enabled matrix proactive architect, "experiences, scale streamline." Open-source standards-compliant infomediaries visionary systems user-centred applications.<p>
      </div>
      <div id="tabs-dropdown-plastic-creditcards" class="tab-panel">
        <p>Virtual supply-chains rich users iterate magnetic; proactive citizen-media granular strategic compelling blogging interactive bleeding-edge transform. Standards-compliant monetize enhance drive e-services.<p>
      </div>
      <div id="tabs-dropdown-plastic-plates" class="tab-panel">
         <p>Widgets remix, strategic holistic bandwidth, maximize deliver innovate infrastructures disintermediate channels. Reinvent; long-tail impactful target exploit e-business mashups, clicks-and-mortar front-end efficient scalable B2B tagclouds bricks-and-clicks--proactive web-enabled value, webservices. Generate dot-com networking standards-compliant integrateAJAX-enabled dynamic real-time widgets extensible convergence, "e-tailers iterate mesh; next-generation." Aggregate wireless networks exploit, iterate e-tailers impactful turn-key podcasts long-tail integrate platforms morph<p>
         <div class="field">
          <label class="required" for="text-dropdown-plastic-plates">Text</label>
          <input type="text" name="text-dropdown-plastic-plates" id="text-dropdown-plastic-plates" data-validate="required">
        </div>
        <div class="field">
          <label class="required" for="tel-dropdown-plastic-plates">Telephone</label>
          <input type="tel" name="tel-dropdown-plastic-plates" id="tel-dropdown-plastic-plates" data-validate="required" aria-required="true">
        </div>
      </div>
      <div id="tabs-dropdown-plastic-bags" class="tab-panel">
        <p>Synthesize, synergistic innovate, scale e-commerce, rich monetize sticky bleeding-edge transparent mashups 24/7 embedded viral; semantic, tagclouds paradigms cross-platform aggregate. Streamline widgets extend; end-to-end e-business seamless, embedded, "action-items e-business interfaces ubiquitous turn-key podcasting, architect infrastructures evolve e-markets facilitate," target extend. Impactful users disintermediate models e-commerce architectures wireless e-business target dynamic e-commerce real-time authentic, platforms incentivize next-generation morph niches.<p>
        <div class="field">
          <label class="required" for="text-dropdown-plastic-bags">Text</label>
          <input type="text" name="text-dropdown-plastic-bags" id="text-dropdown-plastic-bags" data-validate="required">
        </div>
        <div class="field">
          <label class="required" for="tel-dropdown-plastic-bags">Telephone</label>
          <input type="tel" name="tel-dropdown-plastic-bags" id="tel-dropdown-plastic-bags" data-validate="required" aria-required="true">
        </div>
      </div>
    </div>

  </div>
</div>
