<div class="grid">
  <div class="col-1-1">

    <h1>Time Picker</h1>
    <hr>

    <div class="grid">
      <div class="col-1-1">

        <div class="field">
          <label for="time-field" class="label">Time Field</label>
          <input id="time-field" class="timepicker" name="time-field" type="text">
        </div>

        <div class="field">
          <label for="twentyfour-time-field" class="label">Time Field (24-hour)</label>
          <input id="twentyfour-time-field" class="timepicker" name="twentyfour-time-field" type="text">
        </div>

        <div class="field">
          <label for="time-field-disabled" class="label">Time Field (Disabled)</label>
          <input id="time-field-disabled" class="timepicker" disabled name="time-field-disabled" type="text">
        </div>

      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#twentyfour-time-field').timepicker({
          forceHourMode: '24'
        });
      });
    </script>

  </div>
</div>
