<div class="grid grid-pad">
	<div class="col-1-2">
		<h1 class="demo-heading">Typography</h1>
		<br>
		<h1>H1 3.2rems</h1>
		<h2>H2 2.4rems</h2>
		<h3>H3 1.8rems</h3>
		<h4>H4 1.4rems Bold</h4>
		<p>Paragraph 1.4rems</p>
		<small>Small text 1.2rems</small>
	</div>

	<div class="col-1-2">
		<br><br><br><br>
		<h1>Gramercy Park Style Guide</h1>
		<h2>H&amp;L’s Next Level of Design</h2>
    <h3>Section One</h3>
		<p>A small description od text to explain why we are introducing Gramercy park.</p>
		<h4>Sub-Section Title</h4>
    <p>How to get onboard with Gramercy Park? It is Hook & Loops initiative to bring all of their products
into the new age of innovative experiences and beatiful design.</p>
    <small>Updated March 27, 2014</small>
    <h3>Section Two</h3>
    <p>A small description od text to explain why we are introducing Gramercy park.</p>
    <br>
    <a class="link" href="#">Hyperlink Normal</a>
		<a class="link is-hovered" href="#">Hyperlink Hover</a>
		<a class="link is-active" href="#">Hyperlink Pressed</a>
	</div>
</div>
