<div class="grid">
	<div class="col-1-2">
		<h1 class="demo-heading">Typography <span>(Universal)</span></h1>
		<br>
		<h1 class="even-distribution">H1 3.2rems</h1>
		<h2 class="even-distribution">H2 2.4rems</h2>
		<h3 class="even-distribution">H3 1.8rems</h3>
		<h4 class="even-distribution">H4 1.4rems Bold</h4>
		<p class="even-distribution">Paragraph 1.4rems</p>
		<small class="even-distribution">Small text 1.2rems</small>
	</div>

	<div class="col-1-2">
		<h1 class="demo-heading">Typography <span>(Sample)</span></h1>
    <h1>Soho 2.0 Style Guide</h1>
		<h2>H&amp;L’s Next Level of Design</h2>
    <h3>Section One</h3>
		<p>A small description to explain why we are introducing Soho Style 2.0.</p>
		<h4>Sub-Section Title</h4>
    <p>How to get onboard with Soho Style 2.0? It is Hook & Loops initiative to bring all of their products
into the new age of innovative experiences and beatiful design.</p>
    <small>Updated March 27, 2014</small>
    <h3>Section Two</h3>
    <p>A small description to explain why we are introducing Soho Style 2.0.</p>
    <br>
    <a class="link" href="#">Link Normal</a>
	</div>
</div>
