
<div class="row">
  <div class="twelve columns">
    <h1>Typography</h1>
    <span class="label">Helvetica / Arial</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="one-half column">
    <h1>Heading 1 (Regular, 24rem)</h1>
    <h2>Heading 2 (Regular, 20rem)</h2>
    <h3>Heading 3 (Regular, 18rem)</h3>
    <h4>Heading 4 (Regular, 16rem)</h4>
    <p>Paragraph (Regular, 14rem)</p>
    <a class="hyperlink" href="#">Hyperlink</a><br>
  </div>
<!--
  <div class="one-half column">
    <h1 class="app-title">Application Page Header</h1>
    <h2 class="widget-title">Widget and Section titles</h2>
    <h2 class="list-title">Multiline List Title</h2>
    <p>Standard Text</p>
    <small class="micro-text">Micro text, tertiary content</small><br>
    <small class="stamp-text">Data Stamp and Counters</small><br>
    <small class="alert-text">Escalated (2X)</small><br>
    <a class="hyperlink" href="#">Hyperlink</a><br>
    <a class="hyperlink" href="#" disabled>Hyperlink Disabled</a>
  </div>-->

</div>
