<div class="row">
  <div class="twelve columns">
    <h1>Wizard</h1>
    <span class="label">Process Indicator</span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="wizard">
      <div class="wizard-header">
        <div class="bar">
          <div class="completed-range"></div>
          <a href="#" class="tick complete">
            <span class="label">Context Apps</span>
          </a>
          <a href="#" class="tick complete">
            <span class="label">Utility Apps</span>
          </a>
          <a href="#" class="tick current">
            <span class="label">Inbound Configuration</span>
          </a>
          <a href="#" class="tick">
            <span class="label">OID Mapping</span>
          </a>
        </div>
      </div>
    </div>

    <div class="wizard">
      <div class="wizard-header white">
        <div class="bar">
          <div class="completed-range"></div>
          <a href="#" class="tick complete">
            <span class="label">Context Apps</span>
          </a>
          <a href="#" class="tick complete">
            <span class="label">Utility Apps</span>
          </a>
          <a href="#" class="tick current">
            <span class="label">Inbound Configuration</span>
          </a>
          <a href="#" class="tick">
            <span class="label">OID Mapping</span>
          </a>
        </div>
      </div>
    </div>

    <div class="wizard">
      <div class="wizard-header blue">
        <div class="bar">
          <div class="completed-range"></div>
          <a href="#" class="tick complete">
            <span class="label">Context Apps</span>
          </a>
          <a href="#" class="tick complete">
            <span class="label">Utility Apps</span>
          </a>
          <a href="#" class="tick current">
            <span class="label">Inbound Configuration</span>
          </a>
          <a href="#" class="tick">
            <span class="label">OID Mapping</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
