<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Datepicker Sizes</h2>
  </div>
</div>

<div class="row">
  <div class="one-half column">
    <div class="field">
      <label for="default-input-example" class="label">Default Input</label>
      <input id="default-input-example" name="default-input-example" class="input" type="text" />
    </div>
  </div>
  <div class="one-half column">
    <div class="field">
      <label for="default-spinbox-example" class="label">Default Spinbox</label>
      <input id="default-spinbox-example" name="default-spinbox-example" class="spinbox" type="text" />
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr" />
  </div>
</div>

<div class="row">
  <div class="one-half column">

    <div class="field">
      <label class="required" for="xs-input-example">Extra-Small Input</label>
      <input type="text" id="xs-input-example" class="input-xs" name="xs-input-example" aria-required="true" data-validate="required">
    </div>

  </div>
  <div class="one-half column">

    <div class="field">
      <label class="required" for="xs-spinbox-example">Extra-Small Spinbox</label>
      <input type="text" id="xs-spinbox-example" class="spinbox input-xs" name="xs-spinbox-example" data-options="{min: 0, max: 9}" aria-required="true" data-validate="required">
    </div>

  </div>
</div>

<div class="row">
  <div class="one-half column">

    <div class="field">
      <label class="required" for="sm-input-example">Small Input</label>
      <input type="text" id="sm-input-example" class="input-sm" name="sm-input-example" aria-required="true" data-validate="required">
    </div>

  </div>
  <div class="one-half column">

    <div class="field">
      <label class="required" for="sm-spinbox-example">Small Spinbox</label>
      <input type="text" id="sm-spinbox-example" class="spinbox input-sm" name="sm-spinbox-example" aria-required="true" data-validate="required">
    </div>

  </div>
</div>

<div class="row">
  <div class="one-half column">

    <div class="field">
      <label class="required" for="mm-input-example">Small/Medium Input</label>
      <input type="text" id="mm-input-example" class="input-mm" name="mm-input-example" aria-required="true" data-validate="required">
    </div>

  </div>
  <div class="one-half column">

    <div class="field">
      <label class="required" for="mm-input-example">Small/Medium Spinbox</label>
      <input type="text" id="mm-spinbox-example" class="spinbox input-mm" name="mm-spinbox-example" aria-required="true" data-validate="required">
    </div>

  </div>
</div>

<div class="row">
  <div class="one-half column">

    <div class="field">
      <label class="required" for="md-input-example">Medium Input</label>
      <input type="text" id="md-input-example" name="md-input-example" aria-required="true" data-validate="required">
    </div>

  </div>
  <div class="one-half column">

    <div class="field">
      <label class="required" for="md-spinbox-example">Medium Spinbox</label>
      <input type="text" class="spinbox input-md" id="md-spinbox-example" name="md-spinbox-example" aria-required="true" data-validate="required">
    </div>

  </div>
</div>

<div class="row">
  <div class="one-half column">

    <div class="field">
      <label class="required" for="lg-input-example">Large Input</label>
      <input type="text" class="input-lg" id="lg-input-example" name="lg-input-example" aria-required="true" data-validate="required">
    </div>

  </div>
  <div class="one-half column">

    <div class="field">
      <label class="required" for="lg-spinbox-example">Large Spinbox</label>
      <input type="text" class="spinbox input-lg" id="lg-spinbox-example" name="lg-spinbox-example" aria-required="true" data-validate="required">
    </div>

  </div>
</div>
