<div id="parent">
  <div id="fake-header"></div>
</div>

<script>
  $('#fake-header').notification({
    type: 'error',
    message: 'DTO rejcted by your manager for Sept 30, 2018.',
    parent: '#fake-header',
    link: '#',
    linkText: 'Click to view'
  });
</script>

<script>
  $('#fake-header').notification({
    type: 'info',
    message: 'DTO rejcted by your manager for Sept 30, 2018.',
    parent: '#fake-header',
    link: '#',
    linkText: 'Click to view'
  });
</script>


<script>
  $('#fake-header').notification({
    type: 'alert',
    message: 'DTO rejcted by your manager for Sept 30, 2018.',
    parent: '#fake-header',
    link: '#',
    linkText: 'Click to view'
  });
</script>


<script>
  $('#fake-header').notification({
    type: 'success',
    message: 'DTO rejcted by your manager for Sept 30, 2018.',
    parent: '#fake-header',
    link: '#',
    linkText: 'Click to view'
  });
</script>
