// File Upload
//================================================== //

label.fileupload {
  display: inline-block;
  margin-left: -34px;
  position: absolute;
  top: 18px;

  // Label
  span:not(.audible):not(.icon-dirty) {
    cursor: pointer;
    display: inline-block;
    height: 34px;
    outline: 0;
    padding-top: 14px;
    position: relative;
    text-align: center;
    width: 36px;

    &.trigger {

      .icon {
        fill: $trigger-icon-fill-color;
        height: 14px;
        width: 14px;
      }

      &:hover {
        .icon {
          fill: $trigger-hover-color;
        }
      }

      &:active .icon {
        fill: $trigger-active-color;
      }
    }
  }

  // Make this flow offscreen
  input[type="file"] {
    left: -10000px;
    position: fixed;

    &:disabled + span:not(.audible) {
      cursor: default;

      svg {
        fill: $input-disabled-border-color;
      }

      &:hover {
        svg {
          fill: $input-disabled-border-color;
        }
      }
    }
  }

}

.field-fileupload {
  input[type="text"] {
    padding-right: 40px;
    text-overflow: ellipsis;
  }
}

// IE Hack
.ie9 .fileupload .icon,
.ie10 .fileupload .icon {
  background-color: rgba($white, 0);
}

// Safari Hack
.is-safari {
  label.fileupload {
    position: static;
  }
}

//RTL Styles
html[dir='rtl'] {

  label.fileupload {
    margin-left: inherit;
    margin-right: -34px;

    // Make this flow offscreen
    input[type="file"] {
      left: auto;
      right: -1000px;
    }
  }

  .field-fileupload {
    input[type="text"] {
      padding-left: 40px;
      padding-right: 10px;
    }
  }

}

//Allows fileupload to be readonly without textarea readonly styling
input.fileupload-background-transparent {
  background-color: transparent;
  padding-right: 40px;
  text-overflow: ellipsis;
}

// File Upload Advanced
//================================================== //
.fileupload-wrapper {
  min-width: 335px;

  &.standalone {
    padding: 25px 20px;
  }

  .container {
    border: 1px dotted $fileupload-border-color;
    border-radius: 2px;
    margin-bottom: 10px;

    .btn-icon {
      height: 26px;
      margin-right: 4px;
      min-height: 26px;
      min-width: 26px;
      top: -2px;
      width: 26px;

      .icon {
        height: 13px;
        width: 13px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before,
    &::after {
      content: ' ';
      display: table;
    }

    &::after {
      clear: both;
    }

    &.drop-area {
      color: $fileupload-droparea-color;
      padding: 25px 30px;

      .icon {
        fill: $fileupload-droparea-color;
        float: left;
        height: 25px;
        margin-right: 10px;
        width: 35px;
      }

      p {
        color: $fileupload-primary-color;
        padding-top: 5px;
      }

      &.hover {
        background-color: $fileupload-droparea-hover-bg-color;
        border-color: $fileupload-droparea-hover-border-color;
        color: $fileupload-droparea-hover-color;

        .icon {
          fill: $fileupload-droparea-hover-color;
        }
      }
    }

    .file-row,
    .progress-row {

      .status-icon,
      .description,
      .size,
      .action,
      .progress,
      .progress-bar {
        display: inline-block;
      }

      .description,
      .size {
        @include font-size(14);
        color: $fileupload-secondary-color;
        height: 34px;
        line-height: 34px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .status-icon {
        background-color: $fileupload-cancel-bg-color;
        border-radius: 50%;
        float: left;
        height: 16px;
        margin: 8px 10px 0;
        width: 16px;

        .btn-icon {
          height: 18px;
          left: -1px;
          margin: 0;
          min-height: 18px;
          min-width: 18px;
          top: -1px;
          width: 18px;
        }

        .icon {
          fill: $fileupload-status-color;
          height: 10px;
          left: 3px;
          top: 3px;
          width: 10px;
        }

        &:hover {
          background-color: $fileupload-cancel-hover-bg-color;

          .icon {
            fill: $fileupload-status-hover-color;
          }
        }
      }

      .description {
        color: $fileupload-primary-color;
        max-width: 55%;
      }

      .size {
        color: $fileupload-secondary-color;
        line-height: 36px;
        margin-right: 42px;
        max-width: 75px;
      }

      .action {
        margin: 0 5px 0 10px;
        width: 16px;
      }

      &.file-row .l-pull-right .action {
        float: right;
        height: 16px;
        margin-top: 7px;

        .icon {
          fill: $fileupload-secondary-color;
        }

        &:hover {
          .icon {
            fill: $fileupload-hover-color;
          }
        }
      }

      .progress {
        margin: 0 0 7px 33px;
        width: calc(100% - 65px);
      }
    }

    &.completed {
      border-color: $fileupload-completed-border-color;

      .status-icon {
        background-color: $fileupload-completed-color;

        &:hover {
          background-color: $fileupload-completed-color;

          .icon {
            fill: $fileupload-status-color;
          }
        }
      }

      .description {
        color: $fileupload-completed-color;
      }

      .size {
        margin-right: inherit;
      }
    }

    &.error {
      border-color: $fileupload-error-border-color;
      color: $fileupload-error-color;

      .status-icon {
        background-color: $fileupload-error-color;

        &:hover {
          background-color: $fileupload-error-hover-color;

          .icon {
            fill: $fileupload-status-color;
          }
        }
      }

      // Area for each file error
      div.msg {
        @include font-size(14);
        clear: both;
        padding: 0 10px;
      }

      // Area for general error
      span.msg {
        @include font-size(14);
        display: inline-block;
        padding: 10px 10px 10px 0;
        width: calc(100% - 36px);
      }
    }
  }

  em {
    font-style: normal;
  }

  @include respond-to(phone) {
    min-width: inherit;

    &.standalone {
      border: 0;
      padding: 0;
    }

    .drop-area {
      text-align: center;

      .icon {
        display: block;
        float: none !important;
        margin: 0 auto !important;
      }
    }

  }
}

@include respond-to(phone) {
  .is-safari {
    .modal {
      label.fileupload {
        position: absolute;
      }
    }
  }

  label.fileupload {
    margin-left: -36px;
  }
}
