
<div class="row">
  <div class="six columns">

    <button type="button" class="btn-secondary contextual-action-panel-trigger">
      Contextual Action Panel
    </button>
    <div class="contextual-action-panel" class="hidden">
      <div class="toolbar">
        <div class="title">Company Information</div>
        <div class="buttonset">
          <button class="btn" type="button">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-save"></use>
            </svg>
          <span>Save</span>
          </button>
          <div class="separator"></div>
          <button name="close" class="btn" type="button">
            <svg class="icon icon-close" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-close"></use>
            </svg>
            <span>Close</span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="six columns">

          <div class="field">
            <label for="fileupload">Upload a File</label>
            <input type="file" class="fileupload" id="fileupload" name="fileupload"/>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
