<body class="no-scroll">
  <a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
  {{> includes/svg-inline-refs}}

  <div class="page-container no-scroll">
    <header class="header is-personalizable has-toolbar">
      <div class="toolbar">
        <div class="title">
          <h1>IDS Enterprise Controls | Patterns</h1>
        </div>

        <div class="buttonset">
          <input class="searchfield" />
        </div>

        {{> includes/header-actionbutton}}
      </div>
    </header>

    <div id="maincontent" class="page-container scrollable" role="main">
      <div class="toolbar standalone">
        <div class="buttonset">
          <button type="button" class="btn">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-add"></use>
            </svg>
            <span>Add</span>
          </button>

          <button type="button" class="btn">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-filter"></use>
            </svg>
            <span>Category</span>
          </button>

          <button type="button" class="btn">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-calendar"></use>
            </svg>
            <span>Date</span>
          </button>

          <button type="button" class="btn">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-mingle-share"></use>
            </svg>
            <span>Share</span>
          </button>
        </div>
      </div>

      <div class="row top-padding">
        <div class="twelve columns">
          <p>Viral viral whiteboard transparent utilize deliverables, vertical cutting-edge channels, "markets, integrate clicks-and-mortar." B2B exploit niches partnerships morph B2B embrace ecologies synergies ubiquitous, customized 24/7.</p>
          <p>Action-items user-centred incentivize, 24/365 experiences collaborative innovate matrix seize holistic markets rich--weblogs; orchestrate remix wireless, "incentivize communities Cluetrain." Extend mindshare value-added design reinvent reinvent engage aggregate integrate cutting-edge envisioneer."</p>
        </div>
      </div>

    </div>
  </div>
