  <section>
  
    


  
    


  
    


  
    <h2>Settings</h2>

  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          caseSensitive
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 Set to true if searches ARE case sensitive

        </td>
      </tr>
      <tr>
        <td>
          filterMode
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Type of search can current be either 'startsWith' or 'contains'

        </td>
      </tr>
      <tr>
        <td>
          highlightMatchedText
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 Inserts markup that appears to highlight text

        </td>
      </tr>
      <tr>
        <td>
          highlightCallback
        </td>
        <td>
          function
        </td>
        <td>
           
-
 
 If defined, will execute this code for highlighting text instead of the built-in highlighting code

        </td>
      </tr>
      <tr>
        <td>
          searchableTextCallback
        </td>
        <td>
          function
        </td>
        <td>
           
-
 
 If defined, will take each filterable item passed and return user-defined, searchable text content

        </td>
      </tr>
    </tbody>
  </table>

  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>filter</td>
        <td>
          
                
                  <span>list (Array) =  
-
 
 The array to search.
 </span>
                
                  <span>term (String) =  
-
 
 The term to look for.
 </span>
                
          
        </td>
        <td>
          <p>Run the filter on the list for the given sreach term.</p>

        </td>
        <td>
          

        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
