<body class="no-scroll">

  <a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
  {{> includes/svg-inline-refs}}
  {{> includes/applicationmenu}}


  <div class="page-container no-scroll">
    <!-- Module Tabs -->
    <section id="module-tabs-example" class="tab-container module-tabs" data-options='{ "moduleTabsTooltips" : true }'>
      <div class="tab-list-container">
        <ul class="tab-list">
          <li class="tab is-selected"><a href="#tab-01">Super Long Cutoff Tab Number One</a></li>
          <li class="tab"><a href="#tab-02">Small Tab Two</a></li>
          <li class="tab"><a href="#tab-03">Super Long Cutoff Tab Number Three</a></li>
          <li class="tab"><a href="#tab-04">Small Tab Four</a></li>
          <li class="tab"><a href="#tab-05">Super Long Cutoff Tab Number Five</a></li>
          <li class="tab"><a href="#tab-06">Super Long Cutoff Tab Number Six</a></li>
        </ul>
      </div>
    </section>

    <!-- Page Container -->
    <div id="module-tabs-container" class="page-container no-scroll">
      <div id="tab-01" class="tab-panel">
        <div class="header">
          <div class="toolbar">
            <div class="title">
              Super Long Cutoff Tab Number One
            </div>
            <div class="buttonset"></div>
          </div>
        </div>
        <div class="page-container scrollable">

          <div class="row">
            <div class="six columns">

              <h2>Module Tabs Test: Cutoff Tooltips</h2>
              <p>
                <a class="hyperlink" href="http://jira.infor.com/browse/SOHO-5437" target="_blank">Related JIRA Ticket</a>.  When the <b>moduleTabsTooltips</b> setting is enabled, a Module Tab with text content that's too large to display in the tab will instead display a Tooltip containing the text content when hovered or focused.
              </p>

            </div>
          </div>

        </div>
      </div>

      <div id="tab-02" class="tab-panel">
        <div class="header">
          <div class="toolbar">
            <div class="title">
              Small Tab Two
            </div>
            <div class="buttonset"></div>
          </div>
        </div>
      </div>

      <div id="tab-03" class="tab-panel">
        <div class="header">
          <div class="toolbar">
            <div class="title">
              Super Long Cutoff Tab Number Three
            </div>
            <div class="buttonset"></div>
          </div>
        </div>
      </div>

      <div id="tab-04" class="tab-panel">
        <div class="header">
          <div class="toolbar">
            <div class="title">
              Small Tab Four
            </div>
            <div class="buttonset"></div>
          </div>
        </div>
      </div>

      <div id="tab-05" class="tab-panel">
        <div class="header">
          <div class="toolbar">
            <div class="title">
              Super Long Cutoff Tab Number Five
            </div>
            <div class="buttonset"></div>
          </div>
        </div>
      </div>

      <div id="tab-06" class="tab-panel">
        <div class="header">
          <div class="toolbar">
            <div class="title">
              Super Long Cutoff Tab Number Six
            </div>
            <div class="buttonset"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
