<div class="row">
  <div class="one-half column">

    <div class="field">
      <label for="description-max">Notes (maxlength)</label>
      <textarea id="description-max" class="textarea" maxlength="90" name="description-max">Line One</textarea>
    </div>

    <div class="field is-disabled">
      <label for="description-disabled">Notes (disabled)</label>
      <textarea id="description-disabled" class="textarea" disabled="true" name="description-disabled" >Line One</textarea>
    </div>

    <div class="field">
      <label for="description">Notes (resizable)</label>
      <textarea id="description" class="textarea resizable" name="description" placeholder="Type your notes here..."></textarea>
    </div>

  </div>
  <div class="one-half column">
    <div class="field">
      <label for="description-readonly">Notes (readonly)</label>
      <textarea id="description-readonly" class="textarea" readonly="true" name="description-readonly" >Line One</textarea>
    </div>

    <div class="field">
      <label for="description-dirty">Notes (dirty tracking)</label>
      <textarea id="description-dirty" class="textarea" data-trackdirty="true" name="description-dirty" >I will show a dirty indicator if change me and tab out.</textarea>
    </div>

    <div class="field">
      <label for="description-error" class="required">Notes (error)</label>
      <textarea id="description-error" class="textarea" aria-required="true" data-validate="required" name="description-error" >I will show an error if you clear the value and tab out.</textarea>
    </div>
  </div>
</div>

<script>
$('body').on('initialized', function () {
  $('#description-max').textarea({
    attributes: [
      { name: 'id', value: 'textarea-id-1' },
      { name: 'data-automation-id', value: 'automation-id-textarea-1' }
    ]
  });

  $('#description-disabled').textarea({
    attributes: [
      { name: 'id', value: 'textarea-id-2' },
      { name: 'data-automation-id', value: 'automation-id-textarea-2' }
    ]
  });

  $('#description').textarea({
    attributes: [
      { name: 'id', value: 'textarea-id-3' },
      { name: 'data-automation-id', value: 'automation-id-textarea-3' }
    ]
  });

  $('#description-readonly').textarea({
    attributes: [
      { name: 'id', value: 'textarea-id-4' },
      { name: 'data-automation-id', value: 'automation-id-textarea-4' }
    ]
  });

  $('#description-dirty').textarea({
    attributes: [
      { name: 'id', value: 'textarea-id-5' },
      { name: 'data-automation-id', value: 'automation-id-textarea-5' }
    ]
  }).trackdirty();

  $('#description-error').textarea({
    attributes: [
      { name: 'id', value: 'textarea-id-6' },
      { name: 'data-automation-id', value: 'automation-id-textarea-6' }
    ]
  });
});
</script>
