<body class="no-scroll">

  <a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
  {{> controls/svg}}
  {{> includes/applicationmenu}}

  <!-- Page Container -->
  <div class="page-container no-scroll">

    {{> includes/header}}

    <div class="page-container scrollable">

      <div class="row">
        <div class="six columns">

          <h2>Base Tag Test</h2>
          <p><a class="hyperlink" href="http://jira/browse/HFC-3847" target="_blank">Related JIRA Ticket</a>.</p>
          <p></p>

        </div>
      </div>

      <div class="row">
        <div class="twelve columns">

          <button class="btn">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-alert"></use>
            </svg>
            <span>This button should have an alert icon</span>
          </button>

        </div>
      </div>

    </div>

  </div>
