// Docs Site Styling
// Compiles down to what used to be `site.css`
//================================================== //

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-classic/tokens/web/theme-classic';

// Enterprise color palette
@import '../../src/components/colors/colorpalette';

// Soho Core/Helpers
@import '../../src/core/config';
@import '../../src/core/mixins';

// Soho CSS rules only needed on static docs pages
@import '../../src/components/grid/grid';
@import '../../src/components/visibility/visibility';
@import '../../src/components/blockgrid/blockgrid';

// Variables for this page
$color-font-lighter: #606060;
$color-font-lighter2: rgba(96, 96, 96, 0.3);
$color-font-darker: #606060;

$color-accent-green: #007567;
$color-accent-blue: #007567;
$color-accent-magenta: #9d1ca1;
$color-accent-green-dark-bg: #1ad1d1;
$color-accent-blue-dark-bg: #5eadff;
$color-accent-magenta-dark-bg: #ec53f1;
$color-main-blue: #0060d4;
$color-header-grey: #727272;
$color-code-bg: #f7f7f9;
$color-code-border: #e1e8e8;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$font-family: 'Source Sans Pro', helvetica, arial;
$font-family-monospace: 'source code pro', monospace;

html {
  font-size: 62.5%;

  body {
    background-color: $ids-color-palette-white;
    color: $color-font-lighter;
    font-family: $font-family;
    font-size: 100%;
    margin: 20px 0;
  }
}

// Icons
.svg-icons {
  display: none;
}

// Letters on the Home Page
.doc-index {

  // Change Letter Color and Size
  .fieldset-title {
    color: $color-font-lighter;
    font-size: $ids-size-font-base;
  }

  // Align the Letter columns
  .columns {
    text-align: center;

    .link-list {
      text-align: left;
    }
  }

  .row {
    max-width: 100%;
    width: 100%;
  }

}

@include respond-to(phabletdown) {
  .doc-index .columns {
    text-align: left;
  }
}

// Typography
h1 {
  @include font-size(50);

  color: $ids-color-palette-black;
  line-height: 60px;
}

h2 {
  @include font-size(26);

  color: $ids-color-palette-black;
  font-weight: 400;
  line-height: 42px;
}

h3 {
  color: $ids-color-palette-black;
  font-size: $ids-size-font-base;
  letter-spacing: 1.17px;
  line-height: 16px;
  text-transform: uppercase;
}

h4 {
  color: $ids-color-palette-black;
  font-size: $ids-size-font-base;
}

p,
ul,
li,
code {
  @include font-size(16);

  color: $color-font-lighter;
  font-family: $font-family;
  font-weight: 400;
  line-height: 2.4rem;
}

ol {
  padding-left: 20px;
}

a {
  @include font-size(16);

  color: $color-main-blue;
  font-weight: $ids-number-font-weight-base;
  text-decoration: none;

  svg {
    color: $color-main-blue;
    height: 14px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 14px;
  }
}

// Style the Code Block
pre {
  background-color: $color-code-bg;
  border: 1px solid $color-code-border;
  border-radius: 2px;
  line-height: 24px;
  max-width: 100%;
  overflow: hidden;
}

//Hide Table Of Contents (for now)
#table-of-contents,
#table-of-contents + ul {
  display: none;
}

// Format the Paramaters Label
p strong {
  @include font-size(16);

  font-weight: $ids-number-font-weight-base;
  padding-left: 0;

  &::after {
    content: ':';
  }
}

// Main Header Area
.doc-header {
  height: 100px;
  margin: -19px 0 5px;
  padding: 0;
  vertical-align: middle;

  .row {
    max-width: 100%;
    padding-left: 37px;
    padding-right: 40px;
    width: 100%;

    > * {
      display: inline-block;
      float: left;
    }
  }

  .doc-logo {
    display: inline-block;
    margin-top: 22px;
    padding-right: 7px;

    svg {
      height: 48px;
      width: 149px;
    }
  }

  .doc-header-logo {
    margin-right: 128px;
  }

  .doc-header-link {
    @include font-size(16);

    border-bottom: 2px solid transparent;
    color: $ids-color-palette-black;
    display: inline-block;
    margin: 29px 18px 29px 18.5px;
    padding: 15px 5px 1px;
    text-decoration: none;

    &.is-active {
      border-bottom: 2px solid $color-main-blue;
      color: $color-main-blue;
    }
  }

  .doc-header-secondary-links {
    float: right;
    margin-right: 2px;
  }

  .doc-header-secondary-link {
    @include font-size(16);

    color: $color-header-grey;
    display: inline-block;
    margin: 29px 18px 29px 18.5px;
    padding: 15px 5px 1px;
    text-decoration: none;
  }

  .doc-header-search {
    margin: 25px 20px;

    svg {
      color: $color-header-grey;
    }
  }

}

.doc-main-index {
  margin: 0;
  max-width: 100%;
  width: 100%;

  .link-list {
    text-align: left;
  }

  .full.column {
    margin-left: 40px;
    width: calc(100% - 60px);
  }

}

// Media Queries for Header Area
@media (min-width: 0) and (max-width: $breakpoint-wide-tablet - 1) {
  .doc-header .doc-header-secondary-links {
    clear: both;
    display: block;
    float: none;
    margin: 0 0 0 -21px;
    position: relative;
    top: -55px;
  }

  .doc-version-ddl {
    margin-top: 15px;
  }

}

@media (min-width: 0) and (max-width: $breakpoint-slim - 1) {
  .doc-header {
    //background-color: orange;
  }
}

// Pandoc code highlight styles - customized
// https://github.com/jgm/highlighting-kate/blob/master/css/hk-pyg.css
//==================================================//

table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.sourceCode {
  font-size: 16px;
}

td.lineNumbers {
  border-right: 1px solid #aaa;
  color: #aaa;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
}

td.sourceCode {
  padding-left: 5px;
}

code.sourceCode span.kw {
  color: #069;
}

code.sourceCode span.dt {
  color: #902000;
}

code.sourceCode span.dv {
  color: #40a070;
}

code.sourceCode span.bn {
  color: #40a070;
}

code.sourceCode span.fl {
  color: #40a070;
}

code.sourceCode span.ch {
  color: #4070a0;
}

code.sourceCode span.st {
  color: #d44950;
}

code.sourceCode span.co {
  color: #60a0b0;
  font-style: italic;
}

code.sourceCode span.ot {
  color: #4f9fcf;
}

code.sourceCode span.al {
  color: #f00;
}

code.sourceCode span.fu {
  color: #06287e;
}

code.sourceCode span.er {
  color: #f00;
}

// Inline Code

code {
  background-color: $color-code-bg;
  border: 1px solid #e1e8e8;
  border-radius: 0.25rem 0.25rem 0 0;
  font-family: $font-family-monospace;
  font-size: $ids-size-font-base;
  line-height: 24px;
  padding: 0 4px;

  &.sourceCode {
    border: 0;
  }
}

// Tables
.section-table {
  border-collapse: collapse;
  border-spacing: 0;
  color: $color-font-lighter;
  width: 100%;

  thead {
    text-align: left;

    th {
      @include font-size(16);

      font-weight: $ids-number-font-weight-base;
      padding: 16px 30px 16px 0;
    }

    tr {
      border-bottom: 1px solid $color-font-lighter;
    }
  }

  tr {
    border-bottom: 1px solid $color-font-lighter2;
  }

  td {
    @include font-size(16);

    padding-right: 30px;
    vertical-align: middle;

    &:first-child {
      line-height: 1.5rem;
      padding: 24px 30px 24px 0;
    }

    p {
      @include font-size(16);
    }
  }
}
