// Demo/Docs Pages Extra Styles
// Used for Demonstration purposes, mostly in Kitchen Sink.
//
// This stylesheet assumes that it's being loaded alongside
// a IDS Enterprise Theme, and therefore doesn't pull in any of those
// styles.
//================================================== //

// ids-identity token vars
@import '../../node_modules/ids-identity/dist/theme-classic/tokens/web/theme-classic';

// Soho Core/Helpers
@import '../../src/core/config';
@import '../../src/core/mixins';

// Layout styles
@import 'sass/layouts/nofrills';
@import 'sass/layouts/embedded';

// Demo-specific styles
@import 'sass/code';
@import 'sass/directory';
@import 'sass/grid';
@import 'sass/forms';
@import 'sass/patterns';
@import 'sass/typography';
@import 'sass/popover';
@import 'sass/wizard';
@import 'sass/info-popup';
@import 'sass/icons';
@import 'sass/error';
