// Uplift Site/App Header
//================================================== //

.header {
  h1 {
    font-size: $theme-size-font-md;
  }

  .page-title {
    font-size: $theme-size-font-md;
    margin-top: unset;
  }
}
