<style>

  #pre {
    background: #555;
    border: 2px solid #333;
    color: #ccc;
    font-size: 14px;
    overflow: auto;
    margin: 1em 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    white-space: pre-wrap;
  }

  #msg {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }
</style>

<div class="row top-padding">
  <div class="six columns">
  <h2>Copies a string to the clipboard.</h2>
  <p>
    Must be called from within an event handler such as click.<br>
    May return false if it failed, but this is not always<br>
    possible. Browser support for Chrome 43+, Firefox 42+, Edge and IE 10+.<br>
    No Safari support, as of (Mar. 2016). Returns false.<br>
    IE: The clipboard feature may be disabled by an adminstrator. By default a prompt is
    shown the first time the clipboard is used (per session).
  </p>

<pre id="pre"><code>
(function() {
  var s = document.createElement('script');
  s.id = "some-id";
  s.type = "text/javascript";
  document.body.appendChild(s);
})();
</code></pre>


  </div>
</div>

<div class="row">
  <div class="two columns">
    <button type="button" id="copy" class="btn-primary">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-copy"></use>
      </svg>
      <span>Copy to clipboard</span>
    </button>
  </div>
  <div class="four columns">
    <div id="msg"></div>
  </div>
</div>

<script>

$('#copy').on('click', function() {
  var pre = $('#pre code')[0],
    str = (pre.innerText) ? pre.innerText : pre.textContent,
    result = $.copyToClipboard(str),
    output = $('#msg').removeClass('green red').text('');

  if (result) {
    output.addClass('green').text('Success! copied to clipboard.');
  }
  else {
    output.addClass('red').text('Error! something went wrong.');
  }
});

</script>
