.common-nav-application-list {
  width: 300px;

  li {
    display: inline-block;
    height: 115px;
    text-align: center;
    width: 97px;

    a {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}
