//* Date Picker
//================================================== *

.datepicker {
  width: $datepicker-default-width;

  &.input-xs {
    width: $field-xs;
  }

  &.input-sm {
    width: $field-sm;
  }

  &.input-mm {
    width: $field-mm;
  }

  &.input-md {
    width: $field-md;
  }

  &.input-lg {
    width: $field-lg;
  }

  &.input-full {
    width: $field-full;
  }

  &.input-auto {
    width: auto;
  }

  &.datetime {
    padding-right: 30px;
    width: auto;
  }

  + .icon,
  + .tooltip-description + .icon {
    cursor: pointer;
    fill: $trigger-icon-fill-color;
    height: 16px;
    margin-left: -26px;
    margin-top: 8px;
    position: absolute;
    width: 16px;
    z-index: 1;

    &:hover {
      fill: $trigger-hover-color;
    }

    &:active {
      fill: $trigger-active-color;
    }
  }

  &.is-open {
    border-color: $input-color-focus-border;

    + .icon {
      fill: $datepicker-icon-active-color;
    }
  }

  &.error,
  &.error:hover {
    ~ .icon {
      fill: $alert-red !important;
    }
  }

  + .icon + .icon-error {
    margin-left: -50px;
  }

  + .audible + .icon + .icon-error {
    margin-left: -50px;
  }

  &:disabled {
    border-color: $datepicker-disabled-border-color;

    + .icon {
      cursor: default;
      fill: $datepicker-disabled-icon-color;
    }
  }

  &[readonly] {
    + .icon {
      cursor: default;
      fill: $trigger-icon-fill-color;
    }
  }
}

// Popup Adjustments
.monthview-popup.popover {
  max-width: inherit;

  .tooltip-content {
    padding: 0;
  }
}

// Short fields
.field-short {
  .datepicker {
    padding-right: 24px;

    + .icon {
      height: 13px;
      margin-left: -22px;
      margin-top: 6px;
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .datepicker {
    + .icon,
    + .tooltip-description + .icon {
      margin-left: inherit;
      margin-right: -24px;
    }

    + .icon + .icon-error {
      margin-left: inherit;
      margin-right: -50px;
    }

    + .audible + .icon + .icon-error {
      margin-left: inherit;
      margin-right: -50px;
    }
  }

  // Short fields
  .field-short {
    .datepicker {
      padding-left: 24px;
      padding-right: 2px;

      + .icon {
        margin-left: inherit;
        margin-right: -20px;
      }
    }
  }
}

// IE Hack
.ie9,
.ie10,
.ie11 {
  .datepicker + .icon {
    background-color: rgba($white, 0);
  }

  .is-monthyear {
    .month,
    .year {
      line-height: normal;
      position: relative;
      top: 7px;
    }

    .monthview-header {
      margin-bottom: -8px;
      margin-top: 12px;

      button {
        top: 4px;
      }
    }
  }
}
