// New Datepicker
//================================================== //

.datepicker {
  + .trigger,
  + .tooltip-description + .trigger {
    margin-left: -30px;
    margin-top: 7px;

    .icon {
      top: -1px;
    }
  }
}

.field-short,
.form-layout-compact .field {
  .datepicker {
    + .trigger,
    + .tooltip-description + .trigger {
      margin-top: 4px;

      .icon {
        top: -1px;
      }
    }
  }
}

.calendar-toolbar .toolbar-section {
  .btn-cal-month-year,
  .btn-monthyear-pane {
    font-size: 2rem !important;
    top: -1px;
  }
}

// Short fields - firefox
.is-firefox {
  .field-short,
  .form-layout-compact .field {
    .datepicker {
      + .trigger,
      + .tooltip-description + .trigger {
        margin-top: 4px;
      }
    }
  }
}

html[dir='rtl'] {
  .datepicker {
    + .trigger,
    + .tooltip-description + .trigger {
      margin-left: auto;
      margin-right: -30px;
      margin-top: 9px;
    }
  }

  .field-short,
  .form-layout-compact .field {
    .datepicker {
      + .trigger,
      + .tooltip-description + .trigger {
        margin-left: auto;
        margin-right: -23px;
        margin-top: 5px;
      }
    }
  }
}

html.is-safari {
  .field-short,
  .form-layout-compact {
    .datepicker + .trigger {
      top: 2px;

      .icon {
        top: -2px;
      }
    }
  }
}
