// Uplift Datepicker
//================================================== //

.datepicker {
  + .trigger,
  + .tooltip-description + .trigger {
    margin-left: -32px;
    margin-top: 7px;

    .icon {
      top: -2px;
    }
  }
}

.field-short,
.form-layout-compact .field {
  .datepicker {
    + .trigger {
      margin-top: 6px;
    }
  }
}

.calendar-toolbar .toolbar-section .btn-monthyear-pane {
  font-size: 2rem !important;
  top: -1px;
}

// Short fields - firefox
.is-firefox {
  .field-short,
  .form-layout-compact .field {
    .datepicker {
      + .trigger {
        margin-top: 8px;
      }
    }
  }
}
