// Uplift Datepicker
//================================================== //

.datepicker {
  + .icon,
  + .tooltip-description + .icon {
    margin-left: -28px;
    margin-top: 11px;
  }
}

.field-short,
.form-layout-compact .field {
  .datepicker {
    + .icon {
      margin-top: 6px;
    }
  }
}

.calendar-toolbar .toolbar-section .btn-monthyear-pane {
  font-size: 2rem !important;
  top: -1px;
}

// Short fields - firefox
.is-firefox {
  .field-short,
  .form-layout-compact .field {
    .datepicker {
      + .icon {
        margin-top: 8px;
      }
    }
  }
}
