// Uplift Datepicker
//================================================== //

.datepicker {
  + .icon,
  + .tooltip-description + .icon {
    margin-left: -28px;
    margin-top: 11px;
  }
}

.field-short {
  .datepicker {
    + .icon {
      margin-top: 8px;
    }
  }
}

.calendar-toolbar .toolbar-section .btn-monthyear-pane {
  font-size: $theme-size-font-md !important;
}

// Firefox needs some help
html.is-firefox {
  .datepicker {
    + .icon,
    + .tooltip-description + .icon {
      margin-top: 9px;
    }
  }
}

html[dir='rtl'] {
  .field-short {
    .datepicker {
      + .icon {
        margin-top: 6px;
      }
    }
  }

  &.is-firefox {
    .field-short {
      .datepicker {
        + .icon {
          margin-top: 8px;
        }
      }
    }
  }
}
