//* Date Picker
//================================================== *

.datepicker {
  width: $datepicker-default-width;

  &.input-xs {
    width: $field-xs;
  }

  &.input-sm {
    width: $field-sm;
  }

  &.input-mm {
    width: $field-mm;
  }

  &.input-md {
    width: $field-md;
  }

  &.input-lg {
    width: $field-lg;
  }

  &.input-full {
    width: $field-full;
  }

  &.input-auto {
    width: auto;
  }

  &.datetime {
    padding-right: 30px;
    width: auto;
  }

  + .icon,
  + .tooltip-description + .icon {
    color: $trigger-icon-fill-color;
    cursor: pointer;
    height: 16px;
    margin-left: -26px;
    margin-top: 9px;
    position: absolute;
    width: 16px;
    z-index: 1;

    &:hover {
      color: $trigger-hover-color;
    }

    &:active {
      color: $trigger-active-color;
    }
  }

  &.is-open {
    border-color: $input-color-focus-border;

    + .icon {
      color: $datepicker-icon-active-color;
    }
  }

  + .icon + .icon-error {
    margin-left: -50px;
  }

  + .audible + .icon + .icon-error {
    margin-left: -50px;
  }

  &:disabled {
    border-color: $datepicker-disabled-border-color;

    + .icon {
      color: $datepicker-disabled-icon-color;
      cursor: default;
    }
  }

  &[readonly] {
    + .icon {
      color: $datepicker-readonly-icon-color;
      cursor: default;
    }
  }
}

// Popup Adjustments
.monthview-popup.popover {
  max-width: inherit;

  @media screen and (max-height: $breakpoint-big-phone + 20) {
    overflow-y: auto;
  }

  // Supports landscape orientation for small iPhone (5, 5S, 5C and 5SE)
  @media only screen
    and (min-device-width: $breakpoint-phone)
    and (max-device-width: $breakpoint-big-phone + 88)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
    height: 250px;
    overflow-y: auto;
  }

  .monthview {
    min-width: 330px;
  }

  .monthview .monthview-table {
    max-width: 330px;
  }

  // Week picker adjustments
  &.is-range-week {
    .monthview td .day-text {
      transition: none;
    }

    tr:focus {
      border-radius: 50px;
      box-shadow: 0 0 0 1px $input-color-focus-border;
      outline: none;
    }
  }

  .tooltip-content {
    padding: 0;

    @media only screen
      and (max-width: $breakpoint-phone-to-tablet - 1)
      and (-webkit-min-device-pixel-ratio: 2) {
      padding: 7px 10px 5px;
    }
  }

  .popup-footer {
    button {
      background-color: transparent;
      width: 50%;

      &.btn-primary:focus {
        box-shadow: 0 0 0 0 $body-color-primary-background, 0 0 0 1px $button-color-primary-initial-background, $focus-box-shadow;
      }
    }
  }

  .time-parts {
    padding: 10px;
  }
}

// Short fields
.field-short,
.form-layout-compact .field {
  .datepicker {
    padding-right: 24px;

    + .icon {
      margin-left: -21px;
      margin-top: 5px;
      width: 14px;
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .datepicker {
    + .icon {
      margin-left: -23px;
      margin-right: -26px;
    }

    + .icon + .icon-error {
      margin-left: inherit;
      margin-right: -50px;
    }

    + .audible + .icon + .icon-error {
      margin-left: inherit;
      margin-right: -50px;
    }

    &.datetime {
      padding-left: 30px;
      padding-right: 10px;
    }
  }

  // Short fields
  .field-short,
  .form-layout-compact .field {
    .datepicker {
      padding-left: 24px;
      padding-right: 2px;

      + .icon {
        margin-left: inherit;
        margin-right: -20px;
      }
    }
  }

  .monthview-popup .calendar-toolbar {
    button.prev {
      margin-left: -6px;
    }

    button.next {
      margin-left: 5px;
    }

    &.is-alternate .today {
      left: 0;
    }
  }

  .monthview-popup {
    button.btn-primary:hover {
      border-left: none;
    }
  }
}

// TODO
.ie-edge {
  .monthview .btn-monthyear-pane {
    margin-left: 8px;
  }
}

@include respond-to(tabletdown) {
  .monthview-popup.popover .monthview {
    min-width: 310px;

    @media only screen
      and (min-device-width: $breakpoint-phone)
      and (max-device-width: $breakpoint-big-phone + 88)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
      min-width: 280px;
    }
  }
}
