{{={{{ }}}=}}

 <div class="row" data-ng-controller="demo">
    <div class="twelve columns">

      <button type="button" class="btn-menu" data-popupmenu>
        <span>Add Item</span>
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-dropdown"></use>
        </svg>
      </button>
      <ul class="popupmenu has-icons">
        <li><a href="#" ng-click="test()">{{option1}}</a></li>
        <li class="separator" ng-click="test()"></li>
        <li><a href="#" ng-click="test()">{{option2}}</a></li>
        <li><a href="#" ng-click="test()"><span ng-bind="option3"></span></a></li>
      </ul>

    </div>
  </div>

  <script>

    // Example App and Controller
    var app = angular.module('exampleApp', ['sohoxi-angular']);

    app.controller('demo', function($scope) {

      $scope.option1 = 'Option One';
      $scope.option2 = 'Option Two';
      $scope.option3 = 'Option Three';

      $scope.test = function () {
        $scope.option1 = 'Options X';
        $scope.option2 = 'Options Y';
        $scope.option3 = 'Options Z';
      };

    });

  </script>
