{{={{{ }}}=}}

 <div class="row" data-ng-controller="demo">
    <div class="twelve columns">

      <div id="datagrid-toolbar" class="toolbar" role="toolbar" data-toolbar>
        <div class="title">
          Title of This Class of Toolbar
        </div>
        <div class="buttonset">
          <button class="btn-tertiary" type="button" data-ng-click="test()">
            <span ng-bind="optionsText"></span>
          </button>
          <button class="btn-tertiary" type="button" data-ng-click="test()">
            <span>{{optionsText}}</span>
          </button>
          <button class="btn-tertiary" type="button" data-ng-click="test()">
            <span>Manual</span>
          </button>
          <button class="btn-tertiary" type="button" data-ng-click="test()">
            <span ng-bind="optionsText"></span>
          </button>
          <button class="btn-tertiary" type="button" data-ng-click="test()">
            <span>{{optionsText}}</span>
          </button>
         </div>
      </div>

    </div>
  </div>

  <script>

    // Example App and Controller
    var app = angular.module('exampleApp', ['sohoxi-angular']);

    app.controller('demo', function($scope) {

      $scope.id = 'id1';
      $scope.optionsText = 'Options';

      $scope.test = function () {
        $scope.optionsText = 'Options X';
      };

    });

  </script>

