
  <div class="row" data-ng-controller="demo">
    <div class="twelve columns">

      <div id="datagrid-toolbar" class="toolbar" role="toolbar">
        <div class="title">
          Title of This Class of Toolbar
        </div>
        <div class="buttonset">
          <button class="btn-icon has-text" type="button" data-ng-click="test()">
            <svg class="icon">
              <use xlink:href="#icon-datagrid-categories"></use>
            </svg>
            <span>Category</span>
          </button>
          <button class="btn-icon has-text" type="button" data-ng-click="test()">
            <svg class="icon">
              <use xlink:href="#icon-calendar-date"></use>
            </svg>
            <span>Date</span>
          </button>
          <button class="btn-icon has-text" type="button" data-ng-click="test()">
            <svg class="icon">
              <use xlink:href="#icon-datagrid-search"></use>
            </svg>
            <span>Keyword</span>
          </button>

          <div class="overflow-break"></div>

          <button class="btn-tertiary has-text" type="button" data-ng-click="test()">
            <span>Option #1</span>
          </button>

          <button class="btn-menu" type="button" data-ng-click="test()">
            <span>Option #2</span>
          </button>
          <ul class="popupmenu is-padded">
            <li><a href="#">Sub Option #1</a></li>
            <li><a href="#">Sub Option #2</a></li>
            <li><a href="#">Sub Option #3</a></li>
            <li class="is-checked"><a href="#">Sub Option #4</a></li>
            <li><a href="#">Sub Option #5</a></li>
            <li><a href="#">Sub Option #6</a></li>
          </ul>

          <button class="btn-menu" type="button" data-ng-click="test()">
            <span>Option #3</span>
          </button>
          <ul class="popupmenu is-padded">
            <li><a href="#">Sub Option #1</a></li>
            <li><a href="#">Sub Option #2</a></li>
            <li><a href="#">Sub Option #3</a></li>
            <li class="is-checked"><a href="#">Sub Option #4</a></li>
            <li><a href="#">Sub Option #5</a></li>
            <li><a href="#">Sub Option #6</a></li>
          </ul>

        </div>
      </div>

    </div>
  </div>

  <script>

    // Example App and Controller
    var app = angular.module('sohoxi-angular', []);

    app.controller('demo', function($scope) {
      $scope.id = 'id1';

      $scope.test = function () {
        alert('You Hit Click.');
      };

    });

  </script>

