// Mask
//==================================================/

[data-mask-mode="number"] {
  text-align: right;

  &.error {
    padding-right: 10px;
  }

  &[data-error-type="tooltip"].error {
    padding-right: 32px;
  }

  &.spinbox {
    text-align: center;
  }
}
