<h1 id="file-upload-advanced-learn-more">File Upload Advanced <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Advanced File Upload Example <a href="../components/fileupload-advanced/example-index">View Example</a></li>
<li>Default File Upload Example <a href="../components/fileupload/example-index">View Example</a></li>
</ol>
  <section>
  
    <h2>Settings</h2>

  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          isStandalone
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 On page(true) -or- on modal (false) , this is used for some visual style only.

        </td>
      </tr>
      <tr>
        <td>
          allowedTypes
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 Restrict file types(ie. 'jpg|png|gif') 
[
'*' all types
]

        </td>
      </tr>
      <tr>
        <td>
          maxFilesInProcess
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 Max number of files can be uploaded

        </td>
      </tr>
      <tr>
        <td>
          maxFileSize
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 Max file size in bytes, -1 for unlimited

        </td>
      </tr>
      <tr>
        <td>
          fileName
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 Variable name to read from server

        </td>
      </tr>
      <tr>
        <td>
          isDisabled
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 Make control disabled

        </td>
      </tr>
      <tr>
        <td>
          showBrowseButton
        </td>
        <td>
          Boolean
        </td>
        <td>
           
-
 
 Add way to browse files to upload

        </td>
      </tr>
      <tr>
        <td>
          send
        </td>
        <td>
          Function
        </td>
        <td>
           
-
 
 Method for send file to upload

        </td>
      </tr>
      <tr>
        <td>
          textDropArea
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Text to show in drop area

        </td>
      </tr>
      <tr>
        <td>
          textDropAreaWithBrowse
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Text to show in drop area when browse option true

        </td>
      </tr>
      <tr>
        <td>
          textBtnCancel
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Hidden text for cancel button

        </td>
      </tr>
      <tr>
        <td>
          textBtnCloseError
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Hidden text for error close button

        </td>
      </tr>
      <tr>
        <td>
          textBtnRemove
        </td>
        <td>
          String
        </td>
        <td>
           
-
 
 Hidden text for remove button

        </td>
      </tr>
    </tbody>
  </table>

  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>handleFileUpload</td>
        <td>
          
                
                  <span>files (Object) =  
-
 
 File object containing uploaded files.
 </span>
                
          
        </td>
        <td>
          <p>Read the file contents using HTML5 FormData()</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>sendFileToServer</td>
        <td>
          
                
                  <span>formData (Object) = Contains the form data / file data.
 </span>
                
                  <span>status (Object) = Status of the upload operation
 </span>
                
          
        </td>
        <td>
          <p>Function you can implement to send data to the server.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Set input to enabled.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Set input to disabled.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>teardown</td>
        <td>
          
        </td>
        <td>
          <p>Teardown - Remove added events</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroy - Remove added markup and events</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  

<h2 id="code-example">Code Example</h2>
<h3 id="file-upload-advanced">File Upload Advanced</h3>
<p>The advanced file upload control just needs a div in which to draw its contents.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2"></a>
<a class="sourceLine" id="cb1-3" data-line-number="3">    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;fileupload-advanced&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">    <span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5"></a></code></pre></div>
<h2 id="implementation-tips">Implementation Tips</h2>
<ul>
<li>This is done by using an html5 drag drop feature. So is only supported well on IE11 +</li>
</ul>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>TODO</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>Not keyboard friendly at this time. Will need a browse button.</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<ul>
<li>Error</li>
<li>Success / Fail</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>The div will size to parent but recomend default size.</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Did not exist</li>
</ul>
