// Uplift Timeline
//================================================== */

/*
.timeline-block {
  .indicator-container {
    width: 36px;

    &::before {
      left: 28px;
    }
  }
}

html[dir='rtl'] {
  .timeline-block {
    .indicator-container {
      &::before {
        left: auto;
        right: 28px;
      }
    }
  }
}

@media (min-width: $breakpoint-phone-to-tablet) {
  .timeline-block {
    .indicator-container {
      margin-left: 190px;

    }
  }

  html[dir='rtl'] {
    .timeline-block {
      .indicator-container {
        margin-left: inherit;
        margin-right: 190px;
      }
    }
  }
}
*/
