// Timeline
//================================================== //
// See also: /sass/controls/_processindicator.scss

.timeline {
  min-height: 44px;
  position: relative;

  // vertical line
  &::before {
    border-left: 1px dashed $timeline-line-color;
    bottom: 60px;
    content: '';
    left: 1.125em;
    position: absolute;
    top: 0;
    width: 3px;
    height: 70%;
  }

  .indicator {
    border: 2px solid $timeline-indicator-color;

    &.processing {
      border: 2px solid $timeline-indicator-processing-color;
    }

    &.complete {
      background-color: $timeline-indicator-complete-color;
      border: 2px solid $timeline-indicator-complete-color;
    }
  }
}

.timeline-block {
  margin-bottom: 20px;
  position: relative;

  // micro-clearfix
  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-last-child(2) {
    &::before {
      border-left: 1px dashed $timeline-line-color;
      content: '';
      position: absolute;
      width: 3px;
      bottom: -18px;
      height: 100%;
      left: 1.22em;

      @media (min-width: $breakpoint-phone-to-tablet) {
        left: 15.27rem;
      }
    }
  }

  .date {
    margin-left: 5em;

    > * {
      vertical-align: middle;
    }

    > span {
      @include font-size(12);

      line-height: 1.5rem;
    }

    > .icon {
      height: 18px;
      margin-right: 2px;
      width: 18px;
    }
  }

  .indicator-container {
    float: left;
    position: relative;
    text-align: center;
    width: 2.5em;

    > * {
      vertical-align: middle;
    }

    // line behind the indicator
    &::before {
      background-color: transparent;
      border-bottom: 1px dashed $timeline-line-color;
      content: '';
      display: inline-block;
      height: 0;
      left: 25px;
      position: absolute;
      top: 0.7em;
      width: 100%;
    }
  }

  .content {
    margin-left: 5em;

    .heading {
      color: $timeline-header-color;
    }
  }
}

@mixin mobile-timeline() {
  .timeline {
    &::before {
      bottom: 44px;
      left: 12.65em;
    }
  }

  .timeline-block {
    .date,
    .indicator-container,
    .content {
      float: left;
    }

    .date {
      margin-left: 0;
      position: absolute;
      text-align: right;
      width: 11em;
    }

    .indicator-container {
      margin-left: 11.5em;
    }

    .content {
      margin-left: 3em;
    }
  }
}

@media (min-width: $breakpoint-phone-to-tablet) {
  @include mobile-timeline();
}

.card .timeline,
.widget .timeline {
  margin-left: 20px;
  margin-top: 20px;
}

.column {
  &.one-third {
    .card .timeline,
    .widget .timeline {
      &::before {
        bottom: 60px;
        left: 1.125em;
        height: 85%;
      }

      .timeline-block {
        &:nth-last-child(2)::before {
          visibility: hidden;
        }

        .indicator-container {
          margin-left: 0;
        }

        .content,
        .date {
          margin-left: 5em;
          float: none;
        }

        .date {
          width: auto;
          top: 85%;
        }
      }
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .timeline {
    // vertical line
    &::before {
      border-left: 0;
      border-right: 1px dashed $timeline-line-color;
      left: auto;
      right: 1.125em;
    }
  }

  .timeline-block {
    .date {
      margin-left: inherit;
      margin-right: 3em;

      > .icon {
        margin-left: 2px;
        margin-right: inherit;
      }
    }

    .indicator-container {
      float: right;

      &::before {
        left: auto;
        right: 25px;
      }
    }

    .content {
      margin-left: inherit;
      margin-right: 5em;
    }
  }

  @media (min-width: $breakpoint-phone-to-tablet) {
    .timeline {
      &::before {
        left: auto;
        right: 12.65em;
      }
    }

    .timeline-block {
      .date,
      .indicator-container,
      .content {
        float: right;
      }

      .date {
        margin-left: inherit;
        margin-right: 0;
        text-align: left;
      }

      .indicator-container {
        margin-left: inherit;
        margin-right: 11.5em;
      }

      .content {
        margin-left: inherit;
        margin-right: 3em;
      }
    }
  }
}
