<div class="row">
  <div class="twelve columns">

    <div class="field colorpicker-min-width">
      <label for="show-label">Default</label>
      <input class="colorpicker" id="show-label" type="text" value="#0E5B52"
        data-options="{'showLabel': true, 'editable': false}" />
    </div>

    <hr class="filedset-hr" /><br />

    <div class="field colorpicker-min-width">
      <label for="show-label-xs">X Small</label>
      <input class="colorpicker colorpicker-input-xs" id="show-label-xs" type="text" value="#0E5B52"
        data-options="{'showLabel': true, 'editable': false}" />
    </div>

    <div class="field colorpicker-min-width">
      <label for="show-label-sm">Small</label>
      <input class="colorpicker colorpicker-input-sm" id="show-label-sm" type="text" value="#0E5B52"
        data-options="{'showLabel': true, 'editable': false}" />
    </div>

    <div class="field colorpicker-min-width">
      <label for="show-label-mm">Small - Medium</label>
      <input class="colorpicker colorpicker-input-mm" id="show-label-mm" type="text" value="#0E5B52"
        data-options="{'showLabel': true, 'editable': false}" />
    </div>

    <div class="field colorpicker-min-width">
      <label for="show-label-md">Medium</label>
      <input class="colorpicker colorpicker-input-md" id="show-label-md" type="text" value="#0E5B52"
        data-options="{'showLabel': true, 'editable': false}" />
    </div>

    <div class="field colorpicker-min-width">
      <label for="show-label-lg">Large</label>
      <input class="colorpicker colorpicker-input-lg" id="show-label-lg" type="text" value="#0E5B52"
        data-options="{'showLabel': true, 'editable': false}" />
    </div>

  </div>
</div>
