<div class="row">
  <div class="twelve columns">
    <h2>Searchfield Example: Categories + Go Button</h2>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">
    <div class="field">
      <label for="searchfield">Search</label>
      <input id="searchfield" data-init="false" placeholder="Search" type="text" class="searchfield"/>
      <button type="button" id="searchfield-go-button" class="btn-secondary go-button">
        <span>Go</span>
      </button>
    </div>
  </div>
</div>

<script>
  const data = [
    {name: 'Animals', id: 'animals-multi', value: 'an', checked: true},
    {name: 'Baby', id: 'baby-multi', value: 'ba', checked: false},
    {name: 'Clothing', id: 'clothing-multi', value: 'cl', checked: true},
    {name: 'Images', id: 'images-multi', value: 'im', checked: true},
    {name: 'People', id: 'people-multi', value: 'pe', checked: false},
    {name: 'Places', id: 'places-multi', value: 'pl', checked: true}
  ];

  $('#searchfield').searchfield({
    categories: data,
    categoryMultiselect: true,
    showCategoryText: true,
    showGoButton: true,
    goButtonAction: function(e, value, categories) {
      const categoryNames = [];
      categories.forEach(function(category) {
        if (category.checked) {
          categoryNames.push(category.name);
        }
      });

      $('body').toast({
        title: 'Selected Categories',
        message: '' + categoryNames.join(', ')
      });
    }
  })
</script>
