<div class="row">
  <div class="twelve columns">
    <h2>Searchfield Example: Go Button</h2>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">
    <div class="field">
      <label for="searchfield">Searchfield with a Go Button</label>
      <input id="searchfield" data-init="false" placeholder="Search" type="text" class="searchfield"/>
      <button type="button" id="searchfield-go-button" class="btn-secondary go-button">
        <span>Go</span>
      </button>
    </div>
  </div>
</div>

<script>
  $('#searchfield').searchfield({
    showGoButton: true,
    goButtonAction: function(e, value, categories) {
      $('body').toast({
        title: 'Go Button Clicked!',
        message: 'The searchfield\'s current value is <b>"'+ value +'"</b>.'
      });
    }
  })
</script>
