<div class="row">
  <div class="six columns">
    <h2>Searchfield Test: Place on Bottom</h2>
    <p>Adjust the browser viewport on this test to flip the Searchfield's list to above the field.</p>
  </div>
</div>

<style id="test-styles">
  .popupmenu.has-icons .icon.for-template:not(.arrow) {
    margin-left: auto;
    margin-top: auto;
    position: static;
  }

  #adjusted-row {
    margin-top: 300px;
  }
</style>

<div class="row" id="adjusted-row">
  <div class="twelve columns">
    <div class="field">
      <label for="searchfield-template">Templated Searchfield</label>
      <input id="searchfield-template" class="searchfield" placeholder="Type to Search" data-options='{ "template": "#searchfield-with-pic", "source": "{{basepath}}api/states?term=" }'>
    </div>
  </div>
</div>

<!--This is only needed because it renders first on the server-->
{{=<% %>=}}
<script id="searchfield-with-pic" type="text/html">
  <li id="{{listItemId}}" {{#hasValue}}data-value="{{value}}" {{/hasValue}}role="listitem">
    <a href="#" tabindex="-1">
      <svg class="icon for-template" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-logo" />
      </svg>
      <span>{{{label}}}</span>
    </a>
  </li>
</script>
<%={{ }}=%>
