<body>
{{> controls/svg}}
<div class="page-container scrollable">
  <div class="wrapper">
  <section class="signin" role="main">

      <svg viewBox="0 0 34 34" class="icon icon-logo" focusable="false" aria-hidden="true" role="presentation" aria-label="Infor Logo">
        <use xlink:href="#icon-logo"></use>
      </svg>

      <h1>Application Name</h1>

      <div class="field">
        <label for="states"class="label">Profile</label>
        <select id="states"name="states"class="dropdown">
          <option value="N">NL</option>
          <option value="U">US</option>
          <option value="E">EU</option>
          <option value="c">China</option>
        </select>
      </div>

      <div class="field">
        <label for="username-display">User</label>
        <input type="text" name="username-display" id="username-display" autocomplete="off" data-validate="required">
      </div>

      <div class="field">
        <label for="password-display">Password</label>
        <input type="password" id="password-display" data-validate="required">
      </div>

      <div class="field">
        <label for="language" class="label">Language</label>
        <select id="language" name="language"class="dropdown">
          <option value="N">English</option>
          <option value="U">Spanish</option>
        </select>
      </div>

      <div class="field">
        <label for="company"class="label">Company</label>
        <select id="company" name="company"class="dropdown">
          <option value="1">Comp 1</option>
          <option value="2">Comp 2</option>
        </select>
      </div>

      <div class="field">
        <label for="environment"class="label">environment</label>
        <select id="environment" name="environment"class="dropdown">
          <option value="N">Env 1</option>
          <option value="U">Env 2</option>
        </select>
      </div>

      <form id="signin" data-validate-on="submit" autocomplete="off">
          <button class="btn-primary" type="submit">Sign in</button>
          <a class="hyperlink" href="forgotpassword">Forgot Password?</a>

          <label for="username" class="audible">Username</label>
          <input type="hidden" name="username" id="username" >
          <label for="password" class="audible">Password</label>
          <input type="hidden" id="password" name="password">
      </form>
  </section>
</div>
</div>
