<h1 id="scrollaction-component-learn-more">ScrollAction Component <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol>
<li>Main Example <a href="../components/scrollaction/example-index.html">View Example</a></li>
</ol>
  <section>
  
    <h2>Settings</h2>

  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          options
        </td>
        <td>
          
        </td>
        <td>
          
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  

