// Simple List
//================================================== //

.listview {
  background-color: inherit;
  height: inherit;
  overflow: auto;
  position: relative;
  width: 100%;

  p[class^="listview-"] {
    margin-top: 0;
  }

  .bold {
    font-weight: bold;
  }

  &:focus {
    outline: none;
  }

  .listview-heading,
  .listview-data {
    @include ellipsis();
    @include font-size(14);
    color: $listview-color;
    font-weight: normal;
    overflow-wrap: break-word;

    &.hyperlink {
      color: $hyperlink-color;
    }
  }

  .image-user-status {
    float: left;
    padding-right: 10px;
  }

  .listview-heading-lg {
    @include font-size(18);
    display: block;
    margin: 8px 0 5px;
    vertical-align: top;

    .icon-favorite {
      display: inline;
      margin-top: -10px;
      position: absolute;
      vertical-align: top;
    }
  }

  .listview-image-column {
    width: 100px;
  }

  .listview-subheading,
  .listview-data-label {
    @include font-size(12);
    color: $listview-secondary-color;
    overflow-wrap: break-word;
  }

  &.alternate-row {
    .listview-text {
      color: $listview-selected-text-color;
    }

    li:not(:hover):not(:focus) {
      &:nth-child(odd) {
        background-color: $listview-bg-color;
      }

      &:nth-child(even) {
        background-color: $listview-bg-color-alternate;
      }
    }
  }

  //Respect min height with pager
  &.paginated {
    min-height: 400px;
  }

  .listview-micro {
    @include font-size(12);
    color: $listview-tertiary-color;

    &::after {
      clear: both;
      content: '';
      display: inline-block;
    }

    .l-pull-right {
      position: static;
    }

    &.l-pull-right {
      top: -7px;
    }
  }

  .badge {
    float: left;
    margin-right: 15px;
    margin-top: -1px;
    min-height: 19px;
    min-width: 19px;
    position: relative;

    &.pending::before {
      // scss-lint:disable ImportantRule
      left: .35em !important;
      // scss-lint:enable ImportantRule
    }
  }

  li {
    @include transition(background-color .15s ease 0s);
    border: 1px solid transparent;
    border-bottom-color: $listview-border-color;
    color: $listview-color;
    padding: 16px 20px 15px;

    &::after {
      clear: both;
      content: '';
      display: inline-block;
      position: absolute;
    }

    &:hover {
      background-color: $listview-hover-bg-color;
      outline: none;
    }

    &:focus {
      // scss-lint:disable ImportantRule - need for modal dialog (personalization in grid)
      border-color: $primary-color !important;
      // scss-lint:enable ImportantRule
      box-shadow: 0 0 4px 1px $focus-box-shadow-color;
      outline: none;

      + li {
        border-top-color: transparent;
      }
    }

    &.error,
    &.alert {
      border-left-style: solid;
      border-left-width: 3px;
      padding: 15px 20px 15px 17px;
    }

    &.error {
      // scss-lint:disable ImportantRule
      border-left-color: $error-color !important;
      // scss-lint:enable ImportantRule

      .days,
      .hours,
      .day-sign,
      .hour-sign {
        color: $error-color;
      }
    }

    &.is-error {
      background-color: $error-bg-color;
      border-color: $error-color;

      &:hover {
        background-color: $error-bg-color;
      }

      + li {
        border-top-color: transparent;
      }
    }

    &.alert {
      // scss-lint:disable ImportantRule
      border-left-color: $alert-orange !important;
      // scss-lint:enable ImportantRule

      .days,
      .hours,
      .day-sign,
      .hour-sign {
        color: $alert-orange;
      }

      .icon-alert {
        // scss-lint:disable ImportantRule
        fill: $alert-orange !important;
        // scss-lint:enable ImportantRule
      }
    }

    > .icon {
      float: left;
      margin: 1px 15px 10px 0;
      vertical-align: middle;

      + * {
        display: inline-block;
      }
    }

    p {
      line-height: normal;
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    > a {
      @include ellipsis();
      @include font-size(14);
      color: $listview-color;
      font-weight: normal;
      text-decoration: none;

      &.hyperlink {
        color: $hyperlink-color;
      }
    }
  }

  &.disable-hover {
    li:hover {
      background-color: transparent;
    }
  }

  i {
    color: $listview-color;
    font-style: normal;
    font-weight: bold;
  }

  .days,
  .hours,
  .day-sign,
  .hour-sign {
    @include font-size(20);
    color: $listview-secondary-color;
  }

  .dropdown-wrapper {
    float: left;
  }

  .l-pull-right {
    position: relative;
    top: -29px;

    button {
      margin: 0 25px;
    }

    .btn-actions {
      margin: 3px -11px;

      svg {
        height: 18px;
        width: 22px;
      }
    }

    .icon-error,
    .icon {
      left: -5px;
      top: 2px;
    }

    .dropdown-wrapper {
      top: 4px;

      .icon {
        left: initial;
        top: initial;
      }
    }
 }

  .field {
    float: left;
  }

  .checkbox-label {
    left: 20px;
    line-height: 18px;
    margin: 0;
    position: relative;
    top: 10px;
  }

  .listview-thumbnail {
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 50px;
    margin-right: 20px;
    margin-top: -7px;
    padding: 0;
    vertical-align: middle;
    width: 50px;
  }

  .listview-cell {
    display: table-cell;
    width: auto;
  }

  p {
    @include font-size(14);
    color: $listview-color;
    line-height: 23px;
  }

  .is-toolbar-open {
    height: calc(100% - 50px);
    margin-top: 50px;
  }

  button {
    &:not(.tableview button) {
      background-color: transparent;
      border-radius: 0;
    }

    svg {
      height: 23px;
      width: 30px;

      &.icon-close {
        height: 15px;
        width: 15px;
      }
    }
  }

  // Selection Styling
  &.is-selectable li ,
  &.is-selectable tr {
    cursor: pointer;

    &.is-disabled {
      cursor: default;
    }
  }

  .is-disabled {
    @include unselectable;
    color: $listview-disabled-color;
    cursor: default;
    -webkit-text-fill-color: $listview-disabled-color;

    * {
      @include unselectable;
      color: $listview-disabled-color;
      cursor: default;
      -webkit-text-fill-color: $listview-disabled-color;
    }

    &:hover {
      background-color: inherit;
    }
  }

  li.is-selected:not(.hide-selected-color),
  tr.is-selected:not(.hide-selected-color) {
    background-color: $selected-bg-color;

    &:hover {
      background-color: $selected-bg-color;
    }
  }

  li.is-activated,
  tr.is-activated {
    background-color: $selected-bg-color;

    &:hover {
      background-color: $selected-bg-color;
    }
  }

  tr.is-selected td:first-child {
    padding: 13px 15px;
  }

  // Selection Checkboxes
  .listview-checkbox {
    margin-left: -5px;
    position: absolute;

    + p {
      margin-left: 35px;
    }
  }

  &.is-muliselect li {
    padding-left: 45px;
    position: relative;

    .listview-selection-checkbox {
      left: 18px;
      margin-top: 2px;
      position: absolute;
    }

    &.is-disabled {
      .listview-selection-checkbox .label-text {
        cursor: default;
      }

      .listview-selection-checkbox .label-text::before,
      .listview-selection-checkbox .checkbox:hover label-text::before {
        // scss-lint:disable ImportantRule
        border-color: $listview-disabled-color !important;
        // scss-lint:enable ImportantRule
        opacity: .5;
      }
    }

  }

  &.tableview {
    background-color: transparent;

    .dropdown-wrapper {
      margin-bottom: 0;
    }

    .info > li,
    .info > li:hover {
      background-color: transparent;
      border: 0 none;
      // scss-lint:disable ImportantRule
      padding: 0 !important;
      // scss-lint:enable ImportantRule

    }

    td {
      .row:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 1.2em;
      }

      button {
        margin: 0;
      }

      input[type='text']:not([class='dropdown']) { //text field center-text
        margin-bottom: 0;
        text-align: center;
      }
    }
  }

  .highlight {
    background-color: transparent;
    color: inherit;
    font-weight: bold;
  }

  // Empty message area
  .empty-message {
    @include vertical-align();
    margin-top: -20px;
  }

}

.listview-table {
  border-collapse: collapse;
  width: 100%;

  tr,
  td {
    @include font-size(14);
    @include transition(background-color .15s ease 0s);
    color: $listview-color;
    padding: 13px 15px;
  }


  tr {
    border-bottom: 1px solid $listview-border-color;
  }

  tr:focus {
    outline: none;
  }

  th {
    display: none;
  }

  &.show-headers {
    thead tr {
      background-color: $listview-header-bg-color;
    }

    th {
      @include font-size(12);
      color: $listview-header-color;
      display: table-cell;
      font-weight: bold;
      padding: 15px;

      span {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }

    th:not(.l-right-text) {
      text-align: left;
    }
  }

}

// White Header for top of flat lists
.listview-header {
  background-color: $panel-bg-color;
  border: 1px solid $panel-border-color;
  padding: 20px;

  .listview-heading {
    @include font-size(18);
  }

  .btn-expand {
    display: inline-block;
    float: left;
    left: -7px;

    .icon.plus-minus::before,
    .icon.plus-minus::after {
      left: .8em;
    }
  }

  .listview-subheading {
    @include font-size(14);
    color: $font-color-lowcontrast;
    font-weight: bold;
    padding-top: 3px;
  }

  + .listview {
    border-left: 1px solid $panel-border-color;
    border-right: 1px solid $panel-border-color;
  }
}

.listview-footer {
  border-bottom: 1px solid $panel-border-color;

  td:first-child {
    padding: 20px;
  }

  p {
    @include font-size(16);
    color: $font-color-highcontrast;
  }

  strong {
    @include font-size(16);
    color: $font-color-highcontrast;
    font-weight: bold;
    margin-top: 10px;
  }
}

// Contextual Toolbar Positioning
.contextual-toolbar {
  + .listview {
    @include css3(transition, height 300ms cubic-bezier(.17, .04, .03, .94));
    height: calc(100% - 50px);
  }

  &.is-hidden {
    + .listview {
      height: 100%;
    }
  }
}

// Search Toolbar on Listview
.listview-search {

  .searchfield-wrapper {
    background-color: $body-bg-color;
    height: 36px;
    margin-bottom: 0;
    width: 100%;

    &.has-focus {
      input {
        border: 1px solid $primary-color;
      }
    }
  }

  .icon:not(.close) {
    left: 10px;
    top: 10px;
  }

  .icon.close {
    right: 10px;
    top: 10px;
  }

  .searchfield {
    background-color: $listview-full-width-bg-color;
    border: 1px solid transparent;
    border-bottom-color: $listview-border-color;
    line-height: 16px;
    padding: 9px 10px 9px 40px;
    width: 100%;
  }

  // Modify the height of the content inside of listview cards
  + .contextual-toolbar {
    + .listview {
      height: calc(100% - 90px);
    }

    &.is-hidden {
      + .listview {
        height: calc(100% - 40px);
      }
    }
  }

  + .listview {
    height: calc(100% - 42px);

  }

}

// Tasks
@media (max-width: 768px) {
  .listview[aria-label='Tasks'] {

    .l-pull-right {
      .days,
      .hours {
        font-size: 1.9rem;
      }

      .icon-error {
        height: 15px;
        left: 0;
        width: 15px;
      }
    }
  }

  .icon-favorite {
    top: 10px;
  }
}

.ios .listview {
  .icon-error,
  .icon-confirm,
  .icon-pending {
    // scss-lint:disable ImportantRule
    top: 3px !important;
    // scss-lint:enable ImportantRule
  }
}

//RTL Styles
html[dir='rtl'] {

  .listview {

    &[aria-label^='Icons'] li {
      padding: 16px 12px 15px;
    }

    .listview-image-round {
      float: right;
      margin-left: 20px;
      margin-right: inherit;
    }

    .badge {
      float: right;
      margin-left: 15px;
      margin-right: inherit;

      &.pending::before {
        left: auto;
        // scss-lint:disable ImportantRule
        right: .35em !important;
        // scss-lint:enable ImportantRule

      }
    }

    li {

      &.error {
        // scss-lint:disable ImportantRule
        border-left: 3px solid $error-color !important;
        border-right: 0 solid $error-color !important;
        // scss-lint:enable ImportantRule
        padding: 15px 17px 15px 20px;
      }

      > .icon {
        float: right;
        margin: 1px 0 10px 15px;
      }
    }

    .day-sign,
    .hour-sign {
      margin-left: 5px;
      margin-right: inherit;
    }

    .dropdown-wrapper {
      float: right;
    }

    .l-pull-right {
      .icon-error,
      .icon-alert {
        left: auto;
        right: -10px;
      }
    }

    .field {
      float: left;
    }

    .checkbox-label {
      left: auto;
      right: 20px;
    }

    .listview-thumbnail {
      float: right;
      margin-left: 20px;
      margin-right: inherit;
    }

    // Selection Checkboxes
    .listview-checkbox {
      margin-left: inherit;
      margin-right: -5px;

      + p {
        margin-left: inherit;
        margin-right: 35px;
      }
    }

    &.is-muliselect li::before {
      left: auto;
      margin-left: inherit;
      margin-right: 0;
      right: 14px;
    }

    &.is-muliselect li {
      padding-left: inherit;
      padding-right: 43px;

      &.is-selected::after {
        left: auto;
        right: 19px;
      }
    }
  }

  .listview-table {
    &.show-headers {
      th:not(.l-right-text) {
        text-align: right;
      }
    }
  }

  .listview-search {

    // scss-lint:disable ImportantRule
    input {
      padding: 11px 40px 7px 10px !important;
    }

    .icon:not(.close) {
      left: 0 !important;
      right: 10px !important;
    }

    .icon.close {
      left: 12px !important;
      right: initial !important;
    }
    // scss-lint:enable ImportantRule

  }
}
