
<div class="row">
  <div class="twelve columns">

    <div class="toolbar" role="toolbar">
      <div class="title">
        1 Previous Order
      </div>
      <div class="buttonset">

        <label class="audible" for="toolbar-example-searchfield">Toolbar Searchfield</label>
        <input class="searchfield" placeholder="keyword" id="toolbar-example-searchfield" name="toolbar-example-searchfield" />

        <button class="btn-tertiary" type="button">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-calendar"></use>
          </svg>
          <span>Date</span>
        </button>

      </div>
    </div>

    <div class="listview-header">
      <button type="button" tabindex="-1" class="btn-icon btn-expand"><span class="icon plus-minus active"></span><span class="audible">Expand / Collapse</span></button>
      <a href="#" class="hyperlink listview-heading">Order #10001-123</a>
      <p class="listview-subheading">Order Placed: May 12, 2015</p>
    </div>
    <div class="listview" id="task-listview" data-options="{ selectable: false, source: '{{basepath}}api/product?limit=4', template: 'products-tmpl' }"></div>

    {{={{{ }}}=}}
    <script id="products-tmpl" type="text/html">

        <table role="grid" class="listview-table">
          <thead>
            <tr>
              <th scope="col" role="columnheader" class="audible">Thumbnail</th>
              <th scope="col" role="columnheader" class="audible">Description</th>
              <th scope="col" role="columnheader" class="audible">Units</th>
              <th scope="col" role="columnheader" class="audible">Price</th>
            </tr>
          </thead>
          <tbody>

          {{#dataset}}
            <tr>
              <td>
              </td>
              <td class="listview-image-column">
                <div class="image-sm">
                  <img alt="Placeholder Image" src="{{thumb}}" />
                </div>
              </td>
              <td>
                <p><a href="#" class="hyperlink listview-heading">{{productName}}</a></p>
                <p class="listview-subheading">#{{productId}}</p>
              </td>
              <td class="l-right-text"><strong> {{units}} </strong></td>
              <td class="l-right-text"><strong> {{unitPrice}} </strong></td>
            </tr>
          {{/dataset}}
          </tbody>
          <tfoot class="listview-footer">
            {{#totals}}
            <tr>
              <td><p> {{count}} Items </p></td>
              <td class="l-right-text" colspan="3"><strong> $ {{unitPrice}} </strong></td>
            </tr>
            {{/totals}}
          </tfoot>

        </table>
    </script>

  </div>
</div>
