<h1 id="listview-learn-more">Listview <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Default Listview Example <a href="../components/listview/example-index">View Example</a></li>
<li>Alternate Row Colors <a href="../components/listview/example-alternate-row-color">View Example</a></li>
<li>Multiple Selection <a href="../components/listview/example-multiselect">View Example</a></li>
<li>Paging Server Side <a href="../components/listview/example-paging">View Example</a></li>
<li>Paging Client Side <a href="../components/listview/example-paging-clientside">View Example</a></li>
<li>Single Select <a href="../components/listview/example-singleselect.html">View Example</a></li>
<li>Status Indicators <a href="../components/listview/example-status">View Example</a></li>
<li>Click Events <a href="../components/listview/example-click-events">View Example</a></li>
<li>Mixed Selection Mode <a href="../components/listview/example-mixed-selection">View Example</a></li>
</ol>
  <section>
  
    
  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
    </tbody>
  </table>


  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          dataset
        </td>
        <td>
          array
        </td>
        <td>
          Array of data to feed the template

        </td>
      </tr>
      <tr>
        <td>
          content
        </td>
        <td>
          string
        </td>
        <td>
          Html Template String

        </td>
      </tr>
      <tr>
        <td>
          description
        </td>
        <td>
          string
        </td>
        <td>
          Audible Label (or use parent title)

        </td>
      </tr>
      <tr>
        <td>
          paging
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, activates paging

        </td>
      </tr>
      <tr>
        <td>
          pagingType
        </td>
        <td>
          string
        </td>
        <td>
          The paging type to use, this can be 'list' (default)
or 'table' or 'firstlast'

        </td>
      </tr>
      <tr>
        <td>
          pagesize
        </td>
        <td>
          number
        </td>
        <td>
          If paging is activated, sets the number of
listview items available per page

        </td>
      </tr>
      <tr>
        <td>
          searchable
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, associates itself with a
Searchfield/Autocomplete and allows itself to be filtered

        </td>
      </tr>
      <tr>
        <td>
          selectable
        </td>
        <td>
          
        </td>
        <td>
          selection mode, can be false, 'single' or
'multiple' or 'mixed'

        </td>
      </tr>
      <tr>
        <td>
          selectOnFocus
        </td>
        <td>
          boolean
        </td>
        <td>
          If true the first item in the list will be
selected as it is focused.

        </td>
      </tr>
      <tr>
        <td>
          showCheckboxes
        </td>
        <td>
          boolean
        </td>
        <td>
          If false will not show checkboxes used with
multiple selection mode only

        </td>
      </tr>
      <tr>
        <td>
          hoverable
        </td>
        <td>
          boolean
        </td>
        <td>
          If true the list element will show a hover action
to indicate its actionable.

        </td>
      </tr>
      <tr>
        <td>
          source
        </td>
        <td>
          
        </td>
        <td>
          If source is a string then it serves as the url
for an ajax call that returns the dataset. If its a function it is a call back for
getting the data asyncronously.

        </td>
      </tr>
      <tr>
        <td>
          disableItemDeactivation
        </td>
        <td>
          boolean
        </td>
        <td>
          If true when an item is activated the
user should not be able to deactivate it by clicking on the activated item. They
can only select another row.

        </td>
      </tr>
      <tr>
        <td>
          showPageSizeSelector
        </td>
        <td>
          boolean
        </td>
        <td>
          If true the page size select will be shown when paging.

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>render</td>
        <td>
          
                
                  <span>dataset (array) = The dataset to use
 </span>
                
                  <span>pagerInfo (object) = Pager instructions
 </span>
                
          
        </td>
        <td>
          <p>Render the template against the dataset.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>refresh</td>
        <td>
          
                
                  <span>dataset (array) = contains a potential new dataset to display inside the listview.
 </span>
                
          
        </td>
        <td>
          <p>Get the Data Source. Can be an array, Object or Url and render the list.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>loadData</td>
        <td>
          
                
                  <span>ds (object) = The dataset to use or will use settings.dataset.
 </span>
                
                  <span>pagerInfo (object) = The pager settings to use (see pager api)
 </span>
                
                  <span>isResponse (boolean) = Flag used to avoid dup source calls.
 </span>
                
          
        </td>
        <td>
          <p>Load Data from an external API</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>toggleAll</td>
        <td>
          
        </td>
        <td>
          <p>Toggle all items from selected to deselected, useful for multi/mixed selection</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>resetSearch</td>
        <td>
          
        </td>
        <td>
          <p>Reset the current search parameters and highlight.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>focus</td>
        <td>
          
                
                  <span>item (jQuery) = The list item (as jQuery) to focus
 </span>
                
          
        </td>
        <td>
          <p>Focus the provided list item with the keyboard</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>remove</td>
        <td>
          
                
                  <span>li () = Either the actually jQuery list element or a zero based index
 </span>
                
          
        </td>
        <td>
          <p>Remove the given list item.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>clear</td>
        <td>
          
        </td>
        <td>
          <p>Remove all list items.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>removeAllSelected</td>
        <td>
          
        </td>
        <td>
          <p>Remove all selected items entirely from the list.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>clearAllSelected</td>
        <td>
          
        </td>
        <td>
          <p>Deselect all selected items.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>sortFunction</td>
        <td>
          
                
                  <span>field (string) = The field in the dataset to sort on.
 </span>
                
                  <span>reverse (string) = If true sort descending.
 </span>
                
                  <span>primer (function) = A sorting primer function.
 </span>
                
          
        </td>
        <td>
          <p>Overridable function to conduct sorting</p>

        </td>
        <td>
          a customized sorting algorithm
function
        </td>
      </tr>
      <tr>
        <td>deselect</td>
        <td>
          
                
                  <span>li () = Either the actually jQuery list element or a zero based index
 </span>
                
          
        </td>
        <td>
          <p>Deselect the given list item.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>unselect</td>
        <td>
          
                
                  <span>li () = a list item
 </span>
                
          
        </td>
        <td>
          <p>Deprivated - use <code>deselect()</code></p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>select</td>
        <td>
          
                
                  <span>li () = Either the actually jQuery list element or a zero based index
 </span>
                
                  <span>noTrigger (boolean) = Do not trigger the selected event.
 </span>
                
          
        </td>
        <td>
          <p>Select the given list item.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>toggleItemActivation</td>
        <td>
          
                
                  <span>li (jQuery) = The jQuery list element.
 </span>
                
          
        </td>
        <td>
          <p>Toggle acivation state on the list item</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>activateItem</td>
        <td>
          
                
                  <span>li () = The jQuery list element or the index.
 </span>
                
          
        </td>
        <td>
          <p>Set item to activated, unactivate others and fire an event.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>activatedItem</td>
        <td>
          
        </td>
        <td>
          <p>Return an object containing info about the currently activated item.</p>

        </td>
        <td>
          An object containing the active row's index, dom element and data.
object
        </td>
      </tr>
      <tr>
        <td>deactivateItem</td>
        <td>
          
                
                  <span>li () = The jQuery list element. The li element or the index.
If null the currently activated one will be deactivated.
 </span>
                
          
        </td>
        <td>
          <p>Set item to deactivated, uand fire an event.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>getSelected</td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          the currently selected ListView item, or an empty jQuery selector
if there are currently no items selected.

        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings () = incoming settings
 </span>
                
          
        </td>
        <td>
          <p>Refresh the list with any optioned options that might have been set.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disables the functionality of a ListView.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enables the functionality of a ListView.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>teardown</td>
        <td>
          
        </td>
        <td>
          <p>Detatch all bound events.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Detatch all events and tear down data object</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>handleEvents</td>
        <td>
          
        </td>
        <td>
          <p>This component fires the following events.</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  

<h2 id="behavior-guidelines">Behavior Guidelines</h2>
<ul>
<li>Lists may be single or multiple selected</li>
<li>You can have a fixed list toolbar on top, which may contain a title and filtering/search options</li>
<li>You can have a contextual action toolbar for selected items</li>
<li>Paging may be supported in the future</li>
</ul>
<h2 id="code-example">Code Example</h2>
<h3 id="basic-list">Basic List</h3>
<p>This example shows using a list with a <a href="https://mustache.github.io/mustache.1.html">mustache template</a>. The list itself is the div with the listview class. This example is showing the list in a card but this is optional.</p>
<p>The template shows the use of an if/else to show a is-disabled class. And also shows the use of the three text sizes available. Note that <code>dataset</code>}}` is required to loop over teh dataset option passed into the control.</p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;listview&quot;</span><span class="ot"> id=</span><span class="st">&quot;id-to-list&quot;</span><span class="ot"> data-tmpl=</span><span class="st">&quot;id-to-task-tmpl&quot;</span><span class="ot"> data-dataset=</span><span class="st">&quot;array or url&quot;</span><span class="kw">&gt;&lt;/div&gt;</span>
</code></pre>
<h3 id="listview---multiselect">Listview - Multiselect</h3>
<p>Creating a Multiselect Listview also uses the listview component. API guidelines are listed on the basic list page. The only special option to create a multiselect list is to add data-selectable=&quot;multiple&quot;. When doing this, a checkbox is added. You can also create a listview-toolbar which will show buttons upon selection of one or more rows.</p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;card&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;card-header&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;h2</span><span class="ot"> class=</span><span class="st">&quot;card-title&quot;</span><span class="kw">&gt;</span>My Tasks<span class="kw">&lt;/h2&gt;</span>
    <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;btn-actions&quot;</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="kw">&gt;</span>Actions<span class="kw">&lt;/span&gt;</span>
      <span class="kw">&lt;svg</span><span class="ot"> class=</span><span class="st">&quot;icon&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-more&quot;</span><span class="kw">&gt;&lt;/use&gt;</span>
      <span class="kw">&lt;/svg&gt;</span>
    <span class="kw">&lt;/button&gt;</span>
    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;popupmenu&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Action One<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Action Two<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;card-content&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;contextual-toolbar toolbar is-hidden&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;buttonset&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;btn-tertiary&quot;</span><span class="ot"> title=</span><span class="st">&quot;Assign Selected Items&quot;</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="kw">&gt;</span>Assign<span class="kw">&lt;/button&gt;</span>
        <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;btn-tertiary&quot;</span><span class="ot"> id=</span><span class="st">&quot;remove&quot;</span><span class="ot"> title=</span><span class="st">&quot;Remove Selected Items&quot;</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="kw">&gt;</span>Remove<span class="kw">&lt;/button&gt;</span>
      <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;listview&quot;</span><span class="ot"> id=</span><span class="st">&quot;multiselect-listview&quot;</span><span class="ot"> data-options=</span><span class="st">&quot;{ template: &#39;multiselect-tmpl&#39;, selectable: &#39;multiple&#39;, dataset: &#39;demoTasks&#39; }&quot;</span><span class="kw">&gt;&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span>
</code></pre>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li><strong>Tab:</strong> When a list is tabbed to, select the first item if nothing else is already selected. A second tab will take the user out of the widget to the next tab stop on the page.</li>
<li><strong>Up/down arrow</strong> navigate up and down the list.</li>
<li><strong>Shift+F10:</strong> If the current item has an associated context menu, then this key combination will launch that menu.</li>
<li><strong>Space bar</strong> toggles <a href="http://access.aol.com/dhtml-style-guide-working-group/#checkbox">checkboxes</a> in the case of multi select or a list item in case of normal select</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<ul>
<li>Hover</li>
<li>Selected</li>
<li>Focus</li>
<li>Disabled</li>
</ul>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Lists must have keyboard support</li>
<li>Lists should have role=&quot;listbox&quot;</li>
<li>The aria tag aria-activedescendant should point to the active item's id</li>
<li>The attribute aria-posinset should point to the position index for each item starting at 1</li>
<li>The attribute aria-setsize - should be the list count</li>
<li>The attribute aria-disabled should be added to any disabled items</li>
<li>The aria-selcted tag should be added to any selected entries</li>
<li>For multiselect note that aria-selected = &quot;true&quot; will set on the selected elements.</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>The list is 100% of the parent container in height and width so can be used in a widget object or responsive grid object.</li>
<li>The list body will expand vertically and horizontally to fill it the size of its parent container.</li>
<li>When used in <a href="../components/homepage">homepages</a>, special rules apply with sizes.</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Single select roughly replaces the inforListBox component.</li>
<li>Multiselect is a new construct, however it replaces the listbox with checkboxes construct.</li>
</ul>
