<div class="row">
  <div class="six columns">
    <h1>Slider Example: Tooltip On Load and Slider Box</h1>
    <p>Setting: <strong>showTooltipOnLoad</strong> has an option to set tooltip on load. <br>
    Setting <strong>sliderBox</strong> has an input box beside slider showing the the slider value.</p>
  </div>

  <div class="twelve columns">
    <div class="field">
      <label for="slider-regular">Tooltip Position: <strong>Bottom</strong></label>
      <p>Press <strong>Enter</strong> to commit new value to slider.</p>
      <input id="slider-regular" name="slider-regular" value="53" class="slider" type="range"
          data-options="{'persistTooltip': true, tooltipContent: [''], 'tooltipPosition': 'bottom', 'showTooltipOnLoad': 'true', 'sliderBox': 'true'}" />
    </div>
  </div>
</div>
