<header class="header is-sticky is-personalizable">
  <div class="flex-toolbar">
    <div class="toolbar-section">
      {{> includes/header-appmenu-trigger}}
    </div>

    <div class="toolbar-section title">
      <h1>My Application</h1>
    </div>

    <div class="toolbar-section search">
      <label class="audible">Search</label>
      <input class="searchfield " data-options="{collapsible: false}" placeholder="Search"/>
    </div>

    {{> includes/header-actionbutton}}
  </div>
</header>
