// About
//================================================== //

.modal.about {
  @include css3(transform, translate(0, 100%));

  &.is-visible {
    @include css3(transform, translate(0, 0));
  }

  .close-container {
    position: absolute;
    right: 5px;
    text-align: right;
    top: 5px;
  }

  .modal-content {
    max-width: 640px;
  }

  .modal-header {
    margin: 3em 0;
    text-align: center;

    h1 {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  .modal-body {
    border: 1px solid transparent;
    border-radius: 3px;
    max-height: 300px;
    outline: medium none;
    overflow-y: scroll;

    &:focus,
    &.focusbody {
      border-color: $input-focus-border-color;
      box-shadow: 0 0 5px rgba(8, 150, 233, .2);
    }
  }

  .additional-content {
    @include font-size(14);
    font-weight: lighter;
    line-height: normal;
    margin: 20px 0;
  }

  .about-logo {
    height: 72px;
    margin-bottom: 1em;
    width: 72px;
  }

  p {
    margin-top: 0;
    padding: 10px;

    &:focus {
      border: 1px solid $azure06;
      outline: none;
    }
  }
}
