// About
//================================================== //

.modal.about {

  .close-container {
    margin-bottom: -27px;
    position: relative;
    right: -12px;
    text-align: right;
    top: -27px;
  }

  &.modal {
    max-width: 576px;
    min-width: 300px;
    width: calc(100% - 40px);
  }

  .modal-header {
    margin: 2em 0;
    text-align: center;

    h1 {
      color: $about-header-color;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  .modal-body {
    border: 1px solid $about-text-border-color;
    border-radius: 2px;
    margin: 0 10px 30px;
    max-height: 199px;
    outline: medium none;
    overflow-y: scroll;

    &:hover {
      border-color: $about-text-hover-border-color;
    }

    &:focus,
    &.focusbody {
      border-color: $input-focus-border-color;
    }
  }

  .additional-content {
    @include font-size(14);
    @include antialiased();
    color: $about-text-color;
    line-height: normal;
  }

  .about-logo {
    height: 72px;
    margin-bottom: 6px;
    width: 72px;
  }

  p {
    color: $about-text-color;
    margin-top: 0;
    padding: 10px;

    &:focus {
      border: 1px solid $azure06;
      outline: none;
    }
  }
}

html[dir='rtl'] {
  .modal.about {
    .close-container {
      float: left;
      right: 13px;
    }

    .about-logo {
      margin-left: -40px;
    }
  }
}
