// New Accordion Style
//========================================================

$accordion-text-color: $graphite06;
$accordion-border-color: $graphite02;
$accordion-icon-color: $graphite05;
$accordion-pane-bg-color: $graphite01;

$accordion-focused-text-color: $primary-color;
$accordion-focused-pane-bg-color: $azure01;
$accordion-selected-bg-color: $primary-color;
$accordion-selected-text-color: $white;

.accordion {
  background-color: $white;
  overflow-x: scroll;
  overflow-y: visible;
}

.accordion-header {
  @include font-size(16);
  border-bottom: 1px solid $accordion-border-color;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;

  > * {
    vertical-align: middle;
  }

  // Makes Vertical Alignment work well
  &::before {
    @include vertical-alignment-spacer;
  }

  &:not(.is-selected) {
    > a {
      color: $accordion-text-color;
    }

    > [class^="btn"] {
      .icon {
        fill: $accordion-icon-color;

        &.plus-minus {
          &::before,
          &::after {
            background-color: $accordion-icon-color;
          }
        }
      }
    }
  }

  > a {
    color: $accordion-text-color;
    display: inline-block;
    padding: 14px 0 14px 16px;
    text-decoration: none;
    width: calc(100% - 1px);
  }

  > [class^="btn"] {
    background-color: transparent;
    border-color: transparent;
    height: 40px;
    margin: 3px 0 3px 3px;
    min-width: 0;
    padding: 0 10px;
    width: 40px;

    > * {
      pointer-events: none;
    }

    + a {
      margin-left: 6px;
      width: calc(100% - 54px);
    }

    .icon {
      fill: $accordion-icon-color;
      padding-left: 0;
      padding-right: 3px;
      position: relative;
      width: 20px;

      &:not(.plus-minus) {
        top: -1px;
      }

      &.plus-minus {
        &::before,
        &::after {
          left: .15em;
          top: .75em;
        }
      }
    }

    &:active {
      .icon {
        fill: $accordion-selected-text-color;
      }

      .plus-minus {
        &::before,
        &::after {
          background-color: $accordion-selected-text-color;
        }
      }
    }
  }

  > [class^="btn"],
  > .icon {
    + a {
      padding-left: 0;
    }
  }

  // Selected color scheme
  &.is-focused {
    background-color: $accordion-selected-bg-color;
    border-bottom-color: $accordion-selected-bg-color;

    > a {
      color: $accordion-selected-text-color;
    }

    > [class^="btn"] {
      .icon {
        fill: $accordion-selected-text-color;

        &.plus-minus {
          &::before,
          &::after {
            background-color: $accordion-selected-text-color;
          }
        }
      }
    }

    [class^="btn"]:focus {
      border: 1px solid $accordion-selected-text-color;
      box-shadow: none;
    }

    .accordion-header {
      border-bottom-color: $accordion-selected-bg-color;
    }

    + .accordion-pane {
      background-color: $accordion-focused-pane-bg-color;

      .accordion-content {
        border-bottom-color: $accordion-focused-pane-bg-color;
      }

      .accordion-header {
        border-bottom-color: $accordion-focused-pane-bg-color;
      }

      .accordion-pane {
        background-color: $accordion-focused-pane-bg-color;
      }
    }
  }
}

// Level 1 Accordion Pane
.accordion-pane {
  background-color: $accordion-pane-bg-color;
  overflow-x: visible;
  overflow-y: hidden;

  .accordion-content {
    border-bottom: 1px solid $accordion-border-color;
    color: $accordion-text-color;
    padding-left: 16px;
  }

  // These rules allow the accordion to expand
  // Level 2 Accordion Header
  .accordion-header {
    @include font-size(14);

    &:first-child {
      //border-top: 1px solid $accordion-border-color;
    }

    &:not(:first-child) {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 1px solid $accordion-border-color;
    }

    > a {
      padding: 12px 0 12px 49px;
    }

    > [class^="btn"],
    > .icon {
      margin-left: 35px;

      + a {
        padding: 12px 0;
        width: calc(100% - 83px);
      }
    }

    > [class^="btn"] {
      height: 33px;
      width: 40px;

      .icon.plus-minus {
        &::before,
        &::after {
          left: .25em;
          top: .85em;
          width: 12px;
        }
      }
    }
  }

  // Level 2 Accordion Pane
  .accordion-pane {

    .accordion-content {
      padding-left: 49px;
    }

    // Level 3 Accordion Header
    .accordion-header {
      > a {
        padding-left: 81px;
      }

      > [class^="btn"],
      > .icon {
        margin-left: 67px;

        + a {
          padding-left: 0;
          width: calc(100% - 114px);
        }
      }

    }

    // Level 3 Accordion Pane
    .accordion-pane {

      .accordion-content {
        padding-left: 81px;
      }

      // Level 4 Accordion Header
      .accordion-header {
        > a {
          padding-left: 113px;
        }

        > [class^="btn"],
        > .icon {
          margin-left: 99px;

          + a {
            padding-left: 0;
            width: calc(100% - 146px);
          }
        }
      }

      // Level 4 Accordion Pane
      .accordion-pane {

        .accordion-content {
          padding-left: 113px;
        }

        // Level 5 Accordion Header
        .accordion-header {
          > a {
            padding-left: 145px;
          }

          > [class^="btn"],
          > .icon {
            margin-left: 128px;

            + a {
              padding-left: 0;
              width: calc(100% - 178px);
            }
          }
        }

        // Level 5 Accordion Pane
        .accordion-pane {

          .accordion-content {
            padding-left: 145px;
          }

          // Level 6 Accordion Header
          .accordion-header {
            > a {
              padding-left: 175px;
            }

            > [class^="btn"],
            > .icon {
              margin-left: 162px;

              + a {
                padding-left: 0;
                width: calc(100% - 212px);
              }
            }
          }

          // Level 6 Accordion Pane
          .accordion-pane {
            .accordion-content {
              padding-left: 175px;
            }
          }
        }
      }
    }
  }
}

.accordion-content {
  padding: 14px 0;
}
