// Accordion
//================================================== //
//

$light-accordion-header-text-color: #616161;
$light-accordion-header-bg-color: #ffffff;
$light-accordion-header-border-color: #d8d8d8;
$light-accordion-pane-bg-color: #f2f2f2;

$dark-accordion-header-text-color: #acadae;
$dark-accordion-header-bg-color: #383838;
$dark-accordion-header-border-color: #1a1a1a;
$dark-accordion-pane-bg-color: #292929;

$accordion-selected-text-color: $primary-color;
$accordion-focused-bg-color: $primary-color;
$accordion-focused-text-color: #ffffff;

.accordion {
  @include font-size(18);

  a {
    display: block;
    padding: 1em;
    text-decoration: none;

    &:focus {
      outline: 0;
    }

    > * {
      display: inline-block;
      pointer-events: none;
      vertical-align: bottom;
    }

    > .icon {
      height: 1.3em;

      + .title {
        margin-left: 0;
      }
    }

    > .title,
      .panel {
      margin-left: .4em;
    }

    > .panel {
      display: block;

      &:after {
        clear: both;
        content: '';
        display: table;
      }
    }

    .badge,
    .tag {
      float: right;
      margin-right: 0;
      position: relative;
    }

  }

  .accordion-header {
    position: relative;

    &[aria-expanded="true"] {
      > .accordion-pane {
        display: block;
      }
    }
  }

  .separator {
    margin: 1em 1em 0 3em;
    overflow: hidden;
    padding-bottom: 1em;

    &:before {
      border-bottom: 1px solid transparent;
      content: '';
      display: block;
      width: 100%;
    }
  }

  > .accordion-header {
    border-bottom: 1px solid transparent;

    &:last-child {
      border-bottom: 0;
    }
  }

  .accordion-pane {
    display: none;
    @include font-size(16);
    overflow: auto;

    .accordion-pane {
      padding-left: 2em;
    }

    &.indented {
      padding-left: 28px;
    }

    a > .title,
    a > .panel {
      margin-left: 2.5em;
    }

    .accordion-header[aria-expanded] {
      &:before {
        content: '+';
        left: 1.88em;
        pointer-events: none;
        position: absolute;
        top: .9em;
      }

      &.is-expanded {
        &:before {
          content: '–';
          left: 1.94em;
        }
      }
    }

    .badge,
    .tag {
      @include font-size(11);
      height: 17px;
      line-height: 17px;
      padding: 0 7px;
    }
  }

  .accordion-content {
    font-weight: lighter;
    line-height: 1.2em;
    margin: 1em 1em 1em 3.68em;
  }

  &.light {
    background-color: #ffffff;

    .badge,
    .tag {
      background-color: $amber09 !important;
      color: #ffffff !important;
    }

    > .accordion-header {
      border-bottom-color: #d8d8d8;
      color: $light-accordion-header-text-color;

      > a {
        color: $light-accordion-header-text-color;
      }

      .icon {
        color: $light-accordion-header-text-color;
      }

      &:before {
        color: $light-accordion-header-text-color;
      }
    }

    .accordion-pane {
      background-color: #f2f2f2;

      a {
        color: $light-accordion-header-text-color;
      }
    }

    .separator {
      &:before {
        border-color: #d8d8d8;
      }
    }

    &.is-disabled {
      background-color: $input-disabled-bg-color;

      > .accordion-header {
        border-bottom-color: $input-disabled-border-color;
      }

      a {
        cursor: default;
      }

      .accordion-header,
      .accordion-header.is-selected,
      .accordion-header.is-selected.is-focused {
        background-color: transparent;
        color: $input-disabled-color;

        span {
          color: $input-disabled-color;
        }

        .icon {
          fill: $input-disabled-color;
        }
      }
    }
  }

  &.dark {
    background-color: $dark-accordion-header-bg-color;
    color: $dark-accordion-header-text-color;

    .badge,
    .tag {
      background-color: $amber08 !important;
      color: #ffffff !important;
    }

    > .accordion-header {
      border-bottom-color: $dark-accordion-header-border-color;

      > a {
        color: $dark-accordion-header-text-color;

        .icon.plus-minus {
          top: -13px;
        }
      }

      &:before {
        color: $dark-accordion-header-text-color;
      }
    }

    .icon {
      fill: $dark-accordion-header-text-color;
    }

    .accordion-pane {
      background-color: $dark-accordion-pane-bg-color;

      a {
        color: $dark-accordion-header-text-color;
      }
    }

    .separator {
      &:before {
        border-color: $dark-accordion-header-text-color;
      }
    }

    &.is-disabled {
      background-color: $input-disabled-bg-color;

      > .accordion-header {
        border-bottom-color: $input-disabled-border-color;
      }

      a {
        cursor: default;
      }

      .accordion-header,
      .accordion-header.is-selected,
      .accordion-header.is-selected.is-focused {
        background-color: transparent;
        color: $input-disabled-color;

        a {
          color: $input-disabled-color;
        }

        .icon {
          fill: $input-disabled-color;
        }

        .icon.plus-minus::before,
        .icon.plus-minus::after {
          background-color: $input-disabled-color;
        }
      }
    }
  }

  &.light,
  &.dark {

    .accordion-header.is-selected,
    .accordion-header.child-selected {
      &:before {
        color: $accordion-selected-text-color;
      }

      > a {
        color: $accordion-selected-text-color;
      }

      .icon {
        fill: $accordion-selected-text-color;
      }

      .icon.plus-minus::before,
      .icon.plus-minus::after {
        background-color: $accordion-selected-text-color;
      }
    }

    .accordion-header.is-focused.is-selected {
      background-color: $accordion-focused-bg-color;

      &:before {
        color: $accordion-focused-text-color;
      }

      > a {
        color: $accordion-focused-text-color;
      }

      .icon {
        fill: $accordion-focused-text-color;
      }

      .icon.plus-minus::before,
      .icon.plus-minus::after {
        background-color: $accordion-focused-text-color;
      }
    }

  }
}
