// Application Nav Control
//================================================== //

.application-nav {
  background-color: #383838;
  @include css3(box-shadow, 0 0 20px 1px rgba(0, 0, 0, 0));
  bottom: 0;
  color: #acadae;
  left: -300px;
  overflow: hidden;
  position: fixed;
  top: 8em;
  @include transition(left 300ms cubic-bezier(.17, .04, .03, .94),
    -moz-box-shadow 300ms cubic-bezier(.17, .04, .03, .94),
    -ms-box-shadow 300ms cubic-bezier(.17, .04, .03, .94),
    -o-box-shadow 300ms cubic-bezier(.17, .04, .03, .94),
    -webkit-box-shadow 300ms cubic-bezier(.17, .04, .03, .94),
    box-shadow 300ms cubic-bezier(.17, .04, .03, .94));
  width: 300px;
  z-index: 9000;

  &.short {
    top: 3em;
  }

  &.is-open {
    left: 0;
    @include css3(box-shadow, 0 0 20px 1px rgba(0, 0, 0, .75));
  }

  .branding {
    padding: 1em;
  }

  > .accordion {
    height: calc(100% - 5em);
    overflow-y: auto;
  }

  .panel.logout {

    .icon.avatar {
      border-radius: 24px;
      float: left;
      height: 48px;
      width: 48px;
    }

    .content {
      padding-left: 1em;

      > * {
        display: block;
        line-height: 1.5em;
      }

      > .name {
        @include font-size(16);
        line-height: 1.8em;
      }
    }

    span {
      display: inline-block;
    }

  }

  .accordion {
    .name {
      color: #ffffff;
    }
  }
}
