// Application Menu Control
//================================================== //

$app-accordion-header-text-color: $slate02;
$app-accordion-header-text-hover-color: $slate01;
$app-accordion-header-bg-color: $slate08;
$app-accordion-icon-color: $graphite05;
$app-accordion-border-color: $slate09;
$app-accordion-pane-bg-color: $slate09;
$app-accordion-pane-text-color: $slate01;
$app-accordion-focused-pane-bg-color: $azure10;

$application-menu-width: 300px;

.application-menu {
  background-color: #383838;
  @include css3(box-shadow, 0 0 20px 1px rgba(0, 0, 0, 0));
  bottom: 0;
  color: #acadae;
  height: 100%;
  left: -$application-menu-width;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  @include css3(transform, translateZ(0));
  @include transition(left 300ms cubic-bezier(.17, .04, .03, .94),
    -moz-box-shadow 300ms cubic-bezier(.17, .04, .03, .94),
    -ms-box-shadow 300ms cubic-bezier(.17, .04, .03, .94),
    -o-box-shadow 300ms cubic-bezier(.17, .04, .03, .94),
    -webkit-box-shadow 300ms cubic-bezier(.17, .04, .03, .94),
    box-shadow 300ms cubic-bezier(.17, .04, .03, .94));
  width: $application-menu-width;
  z-index: 500;

  &.is-open {
    left: 0;
    @include css3(box-shadow, 0 0 20px 1px rgba(0, 0, 0, .75));
  }

  // Add animation to the page container when Nav is in use
  + .page-container {
    right: 0;
    @include transition(height 300ms cubic-bezier(.17, .04, .03, .94),
      margin 300ms cubic-bezier(.17, .04, .03, .94),
      width 300ms cubic-bezier(.17, .04, .03, .94));
  }

  .panel {
    padding-left: 49px;

    > * {
      vertical-align: middle;
    }

    &.logout {
      .icon.avatar {
        border-radius: 32px;
        height: 64px;
        width: 64px;
      }

      .content {
        @include font-size(14);
        padding-left: 1em;

        > * {
          display: block;
          line-height: 1.5em;
        }

        > .name {
          @include font-size(20);
          line-height: 2em;
        }
      }

      span {
        display: inline-block;
      }
    }
  }

  .accordion {
    background-color: $app-accordion-header-bg-color;
    color: $app-accordion-header-text-color;

    margin-bottom: calc(-2rem - 38px);
    min-height: 100%;

    &::after {
      content: '';
      display: block;
    }

    .name {
      color: #ffffff;
    }
  }

  .accordion-header {
    border-bottom: 1px solid $app-accordion-border-color;
    color: $app-accordion-header-text-color;

    > a {
      color: $app-accordion-header-text-color;
    }

    &:not(.is-focused) {
      > [class^="btn"] {
        .icon {
          fill: $app-accordion-header-text-color;
        }

        .plus-minus {
          &::before,
          &::after {
            background-color: $app-accordion-header-text-color;
          }
        }
      }

      &:hover {
        > a {
          color: $app-accordion-header-text-hover-color;
        }

        > [class^="btn"] {
          .icon {
            fill: $app-accordion-header-text-hover-color;
          }

          .plus-minus {
            &::before,
            &::after {
              background-color: $app-accordion-header-text-hover-color;
            }
          }
        }
      }
    }

    &.is-focused {
      border-bottom-color: $accordion-selected-bg-color;

      > a {
        color: $accordion-selected-text-color;
      }

      > [class^="btn"],
      > .icon {
        fill: $accordion-selected-text-color;

        .plus-minus {
          &::before,
          &::after {
            background-color: $accordion-selected-text-color;
          }
        }
      }

      + .accordion-pane {
        background-color: $app-accordion-focused-pane-bg-color;

        .accordion-content {
          border-bottom-color: $app-accordion-focused-pane-bg-color;
        }

        .accordion-header {
          border-bottom-color: $app-accordion-focused-pane-bg-color;

          &:last-child {
            border-bottom-color: $app-accordion-focused-pane-bg-color;
          }
        }

        .accordion-pane {
          background-color: $app-accordion-focused-pane-bg-color;
        }
      }
    }

    &.has-chevron {
      .icon + a {
        width: calc(100% - 111px);
      }
    }

  }

  .accordion-pane {
    background-color: $app-accordion-pane-bg-color;

    .accordion-content {
      border-bottom: $app-accordion-border-color;
    }

    .accordion-header {
      > a {
        color: $app-accordion-pane-text-color;
      }

      > [class^="btn"],
      > .icon {
        fill: $app-accordion-pane-text-color;

        .plus-minus {
          &::before,
          &::after {
            background-color: $app-accordion-pane-text-color;
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid $app-accordion-border-color;
      }
    }
  }

  .accordion-content {
    color: $slate03;

    h1,
    h2,
    h3,
    h4 {
      color: $slate01;
    }
  }

  .accordion::after,
  .branding {
    height: calc(2rem + 38px);
  }

  .branding {
    padding: 1rem 1rem 1rem 2.5rem;

    .icon {
      height: 34px;
      margin-top: 1px;
      width: 34px;
    }
  }




  // Level 1 Header
  .accordion-header {
    > a {
      padding-left: 26px;
    }

    > [class^="btn"]:not(:last-child),
    > .icon {
      margin-left: 26px;

      + a {
        padding-left: 0;
        width: calc(100% - 68px);
      }
    }
  }

  // Level 1 Pane
  .accordion-pane {

    .accordion-content {
      padding-left: 26px;
    }

    // Level 2 Header
    .accordion-header {
      > a {
        padding-left: 62px;
      }

      > [class^="btn"],
      > .icon {
        margin-left: 49px;

        + a {
          padding-left: 0;
          width: calc(100% - 96px);
        }
      }
    }

    // Level 2 Pane
    .accordion-pane {

      .accordion-content {
        padding-left: 63px;
      }

      // Level 3 Accordion Header
      .accordion-header {
        > a {
          padding-left: 95px;
        }

        > [class^="btn"],
        > .icon {
          margin-left: 81px;

          + a {
            padding-left: 0;
            width: calc(100% - 128px);
          }
        }

      }

      // Level 3 Accordion Pane
      .accordion-pane {

        .accordion-content {
          padding-left: 96px;
        }

        // Level 4 Accordion Header
        .accordion-header {
          > a {
            padding-left: 127px;
          }

          > [class^="btn"],
          > .icon {
            margin-left: 113px;

            + a {
              padding-left: 0;
              width: calc(100% - 160px);
            }
          }
        }

        // Level 4 Accordion Pane
        .accordion-pane {

          .accordion-content {
            padding-left: 128px;
          }

          // Level 5 Accordion Header
          .accordion-header {
            > a {
              padding-left: 159px;
            }

            > [class^="btn"],
            > .icon {
              margin-left: 145px;

              + a {
                padding-left: 0;
                width: calc(100% - 192px);
              }
            }
          }

          // Level 5 Accordion Pane
          .accordion-pane {

            .accordion-content {
              padding-left: 159px;
            }

            // Level 6 Accordion Header
            .accordion-header {
              > a {
                padding-left: 191px;
              }

              > [class^="btn"],
              > .icon {
                margin-left: 177px;

                + a {
                  padding-left: 0;
                  width: calc(100% - 224px);
                }
              }
            }

            // Level 6 Accordion Pane
            .accordion-pane {
              .accordion-content {
                padding-left: 192px;
              }
            }
          }
        }
      }
    }
  }

}

// On large + extra-large breakpoints, the .page-content element will shift to the left while the menu is open
@media (min-width: $breakpoint-phone-to-tablet) {
  .application-menu {

    + .page-container {
      margin: 0 0 0 auto;
      width: 100%;
      @include css3(transform, translateZ(0));
    }

    &.is-open {
      @include css3(box-shadow, none);

      + .page-container {
        width: calc(100% - 300px);

        &.scrollable {
          right: 0;
        }
      }
    }
  }
}
