// Autocomplete
//================================================== //

// Uses Many Popup Menu Styles and Text Input
.popupmenu.autocomplete {
  border: 1px solid $input-focus-border-color;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid $dropdown-menu-separator-color;
  box-shadow: 0 1px 0 1px rgba(8, 150, 233, .2);
  margin-top: -11px;
  overflow: auto;

  li {
    color: $autocomplete-light-text;

    &.is-selected,
    &:hover {
      background-color: $popupmenu-hover-color;
    }
  }

  a {
    color: inherit;
    padding: 0 10px;

    > * {
      vertical-align: middle;
    }

    > .icon {
      position: static;
    }
  }

  a:before,
  a:after {
    display: none;
  }
}

input.autocomplete.is-open {
  background-color: $popupmenu-bg-color;
  border: 1px solid $dropdown-menu-border-color;
  border-bottom: 1px solid $dropdown-menu-separator-color;
  border-radius: 3px 3px 0 0;
}
