// Autocomplete
//================================================== //

// Uses Many Popup Menu Styles and Text Input
.popupmenu.autocomplete {
  border: 1px solid $input-focus-border-color;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid $dropdown-menu-separator-color;
  line-height: 30px;
  margin-top: -11px;
  overflow: auto;

  li {
    color: $popupmenu-color;

    &.is-selected,
    &:hover {
      background-color: $popupmenu-hover-color;
    }
  }

  a {
    color: inherit;
    padding: 0 10px;

    > * {
      vertical-align: middle;
    }

    > .icon {
      position: static;
    }

    span {
      line-height: normal;
    }
  }

  a:before,
  a:after {
    display: none;
  }
}

input.autocomplete.is-open {
  background-color: $autocomplete-active-bg-color;
  border: 1px solid $dropdown-menu-border-color;
  border-bottom: 1px solid $dropdown-menu-separator-color;
  border-radius: 3px 3px 0 0;

  ~ .icon:not(.close) {
    fill: $primary-color;
  }
}
