/* Autocomplete
================================================== */

// Uses Many Popup Menu Styles and Text Input
.popupmenu.autocomplete {
  box-shadow: 0 1px 0 1px rgba(8, 150, 233, 0.2), -1px 1px 0 rgba(8, 150, 233, 0.2), 1px 1px 1px rgba(8, 150, 233, 0.2);
  //5px 5px 5px -5px rgba(8, 150, 233, 0.2);
  border: 1px solid $dropdown-focus-border-color;
  border-top: 1px solid #d2d2d2;
  border-radius: 0 0 3px 3px;
  a {
    padding: 0 30px;
  }
}

input.autocomplete.is-open {
  background-color: $inverse-color;
  border: 1px solid $dropdown-focus-border-color;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 3px 3px 0 0;
}
