// Badges
//================================================== */

// See also Colors.scss
.tag {
  background-color: $graphite05;
  border-radius: 15px;
  color: #ffffff;
  display: inline-block;
  @include font-size(14);
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  margin: 0 0 8px;
  padding: 0 12px 0 12px;
  text-decoration: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;

  &.error {
    background-color: $ruby06;
  }

  &.graphite03,
  &.graphite02 {
    color: $font-color-dark;
  }
}

.badge {
  border-radius: 16px;
  color: #ffffff;
  display: inline-block;
  @include font-size(13);
  font-weight: 400;
  height: 22px;
  line-height: 24px;
  margin: 0 10px 5px 0;
  position: relative;
  text-align: center;
  width: 22px;

  &.error {
    background-color: $ruby06;
  }

  &.alert {
    background-color: $amber06;
  }

  &.good {
    background-color: $emerald06;
  }

  &.pending {

    // Clock circle
    &:before {
      border: .15em solid #ffffff;
      border-radius: 55%;
      content: '';
      height: 58%;
      left: .3em;
      position: absolute;
      top: .25em;
      width: 58%;
    }

    // Clock hands
    &:after {
      border-bottom: .15em solid #ffffff;
      border-left: .1em solid #ffffff;
      content: '';
      height: 24%;
      left: .75em;
      position: absolute;
      top: .5em;
      width: 19.5%;
    }

    [class*='ie'] &:before {
      left: 3px;
      top: 3px;
    }

    &.current {
      background-color: $amber06;
    }
  }

  &.large {
    height: 32px;
    @include font-size(20);
    line-height: 32px;
    padding-top: 1px;
    width: 32px;

    [class*='ie'] & {
      padding: 0 1px;
    }
  }
}


