// Badges
//================================================== */

// See also Colors.scss
.tag {
  background-color: $graphite;
  border-radius: 15px;
  color: #ffffff;
  display: inline-block;
  @include font-size(13);
  height: 22px;
  line-height: 22px;
  margin-right: 10px;
  padding: 0 11px;
  vertical-align: middle;
}

.badge {
  background-color: $graphite;
  border-radius: 16px;
  color: #ffffff;
  display: inline-block;
  height: 22px;
  @include font-size(13);
  line-height: 22px;
  text-align: center;
  width: 22px;

  &.error {
    background-color: $ruby07;
  }

  &.large {
    height: 32px;
    @include font-size(20);
    line-height: 32px;
    width: 32px;
  }
}
