// Badges
//================================================== */

// See also Colors.scss
.tag,
.badge {
  background-color: $badge-neutral-bg-color;
  border-radius: 15px;
  color: $badge-neutral-color;
  display: inline-block;
  @include font-size(12);
  @include antialiased();
  font-weight: normal;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  text-decoration: none;
  vertical-align: middle;

  &.error {
    background-color: $error-color;
    color: $white;
  }

  &.alert {
    background-color: $alert-yellow;
    color: $font-color-highcontrast;
  }

  &.neutral {
    background-color: $badge-neutral-bg-color;
    color: $font-color-highcontrast;
  }

  &.good {
    background-color: $alert-green;
    color: $white;
  }

  &.info {
    background-color: $badge-info-bg-color;
    color: $white;
  }

  &.graphite03,
  &.graphite02 {
    color: $font-color-highcontrast;
  }

  &.round {
    padding: 0 8px;
  }
}

.badge {

  &.pending {
    min-height: 22px;
    position: relative;

    // Clock circle
    &:before {
      border: .15em solid #ffffff;
      border-radius: 55%;
      content: '';
      height: 58%;
      left: .22em;
      position: absolute;
      top: .25em;
      width: 60%;
    }

    // Clock hands
    &:after {
      border-bottom: .15em solid #ffffff;
      border-left: .1em solid #ffffff;
      content: '';
      height: 24%;
      left: .75em;
      position: absolute;
      top: .5em;
      width: 19.5%;
    }

    [class*='ie'] &:before {
      left: 3px !important;
      top: 2.5px;
    }

    &.current {
      background-color: $alert-orange;
    }
  }

  &.checked {
    &::after {
      border-color: $checkbox-arrow-color;
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      height: 10px;
      left: 8px;
      margin-top: 4px;
      position: absolute;
      @include css3(transform, scaleX(-1) rotate(135deg));
      width: 4px;
    }
  }

  &.exclamation {
    &::before {
      color: #ffffff;
      content: '!';
      display: inline-block;
      font-size: 1.3em;
      font-weight: bold;
      height: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 100%;
    }
  }
}

.hyperlink + .tag {
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: -2px;
}

.alert {
  &.slate03 {
    background-color: transparent;

    svg {
      fill: $slate03;
    }
  }
}

//RTL Styles
html[dir='rtl'] {
  .hyperlink + .tag {
    margin-left: inherit;
    margin-right: 10px;
  }
}
