//  Block Grid
//================================================== //


.blockgrid {
  margin: 20px auto;
  max-width: 100%;
  text-align: center;

  > * {
    display: inline-block;
    margin: 10px 0 0 10px;
  }

}
