// Buttons
//================================================== //

.breadcrumb {

  ol {
    li {
      display: inline-block;
    }
  }

  .hyperlink {
    color: $breadcrumb-color;
    font-size: 16px;
    font-weight: 100;
    text-decoration: none;

    &:visited {
      color: $breadcrumb-color;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      border: 1px solid $primary-color;
      border-radius: 2px;
      color: $primary-color;
    }

    &:active {
      color: $breadcrumb-active-bg-color;
      text-decoration: underline;
    }

    &.current {
      font-weight: 500;
    }
  }

  .breadcrumb-arrow {
    color: $breadcrumb-disabled-color;
    position: relative;
    top: -2px;
    vertical-align: middle;
  }

}

//TODO Confirm Responsive and Style on a Header

.header .breadcrumb {

  .hyperlink {
    color: #ffffff !important;
    margin-left: 10px;
  }

  svg {
    fill: #ffffff;
  }
}
