// Buttons
//================================================== //

.breadcrumb {
  li {
    display: inline-block;
    list-style: none;

    &:after {
      content: '/';
      padding: 0 12px;
    }

    &:last-child:after {
      content: '';
      padding: 0;
    }

    .current,
    &.current {
      @include font-size(12);
      color: $breadcrumb-color;
      font-weight: bold;
    }
  }

  .hyperlink {
    @include font-size(12);
    color: $breadcrumb-color;
    font-weight: 100;
    line-height: 2em;
    text-decoration: none;

    &:visited {
      color: $breadcrumb-color;
    }

    &:hover:not([disabled]) {
      border-bottom: 1px solid $breadcrumb-color !important;
    }

    &:focus {
      border-bottom: 1px solid $breadcrumb-color !important;
      border-radius: 2px;
      color: $breadcrumb-color;
    }

    &:active {
      border-bottom: 1px solid $breadcrumb-color !important;
      color: $breadcrumb-color;
    }

    &.current {
      font-weight: bold;
    }
  }

  .breadcrumb-arrow {
    color: $breadcrumb-disabled-color;
    position: relative;
    top: -2px;
    vertical-align: middle;
  }
}
