// Busy Indicator
//================================================== //

$busy-indicator-size: 6.2em;
$busy-indicator-color: $primary-btn-bg-color;
$busy-indicator-check-color: $inverse-color;

.busy-indicator-container {
  @include opacity(1);
  @include transition(opacity 500ms);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  z-index: 1010;

  &.is-hidden {
    @include opacity(0);
  }

  &.blocked-ui {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 58px); // 115/2, 115 is the height of .busy-indicator-container
  }

  span {
    @include font-size(16);
    color: $busy-indicator-color;
    display: block;
  }
}

.busy-indicator {
  @include opacity(1);
  display: inline-block;
  height: $busy-indicator-size;
  margin: .8em;
  position: relative;
  vertical-align: middle;
  width: $busy-indicator-size;

  &.is-hidden {
    @include opacity(0);
  }

  .bar {
    background-color: $busy-indicator-color;
    display: inline-block;
    height: 5em;
    margin-right: .5em;
    width: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  // Animation doesn't happen when the container is hidden
  &:not(.is-hidden) > .bar {
    @include css3(animation, stretchdelay 1s infinite ease-in-out);
    &.one { @include css3(animation-delay, -.5s); }
    &.two { @include css3(animation-delay, -.4s); }
    &.three { @include css3(animation-delay, -.3s); }
    &.four { @include css3(animation-delay, -.2s); }
    &.five { @include css3(animation-delay, -.1s); }
  }

}

// Overlay Override for Busy Indicator
.busy.overlay {
  @include opacity(.75);
  @include transition(opacity 500ms);
  background-color: $body-bg-color;
  position: absolute;
  visibility: visible;
}

// Animation Keyframes
@include keyframes(stretchdelay) {
  0%, 70%, 100% { @include css3(transform, scaleY(.5)); }
  35% { @include css3(transform, scaleY(1)); }
}

// Display changes based on host element type
input + .busy-indicator-container,
.dropdown-wrapper > .busy-indicator-container {
  position: absolute;

  + .busy.overlay {
    @include opacity(.5);

    &.is-hidden {
      @include opacity(0);
    }
  }

  .busy-indicator {
    background-color: $body-bg-color;
    height: 22px;
    margin: 6px 1px 1px;
    position: absolute;
    right: 0;
    width: 40px;

    .bar {
      height: 2.2em;
      margin-right: .3em;
      width: .3em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.inline {
  + .busy-indicator-container,
  .dropdown-wrapper > .busy-indicator-container {
    .busy-indicator {
      background-color: $body-bg-color;
      height: 22px;
      margin: 5px 1px 1px;
      position: absolute;
      right: 0;
      width: 40px;

      .bar {
        height: 2.4em;
        margin-right: .3em;
        width: .3em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// scss-lint:disable VendorPrefix
.ie9 {
  .busy-indicator {
    .bar {
      -ms-transform: scaleY(.6);
      -ms-transform-origin: 50% 50%;

      &.half {
        -ms-transform: scaleY(.8);
      }

      &.full {
        -ms-transform: scaleY(1);
      }
    }
  }
}
// scss-lint:enable VendorPrefix

// bump everything up 1px because Firefox
.is-firefox {
  input + .busy-indicator-container,
  .dropdown-wrapper > .busy-indicator-container {
    position: absolute;

    .busy-indicator {
      margin: 7px 5px 1px;
    }
  }
}

.busy-xs {
  min-height: 20px;
  min-width: 20px;

  .busy-indicator-container.blocked-ui {
    top: calc(50% - 8px);
  }

  .busy-indicator {
    height: inherit;
    margin: 2px;
    width: inherit;

    .bar {
      height: 1.2em;
      margin-right: .1em;
      width: .2em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.busy-sm {
  min-height: 28px;
  min-width: 40px;

  .busy-indicator-container.blocked-ui {
    top: calc(50% - 18px);
  }

  .busy-indicator {
    height: inherit;
    margin: 4px;
    width: inherit;

    .bar {
      height: 2.2em;
      margin-right: .3em;
      width: .3em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

//RTL Styles
html[dir='rtl'] {
  .busy-indicator {
    .bar {
      margin-left: .5em;
      margin-right: 0;

      &:last-child {
        margin-left: 0;
      }
    }
  }

  // Display changes based on host element type
  input + .busy-indicator-container,
  .dropdown-wrapper > .busy-indicator-container {
    .busy-indicator {
      left: 0;
      right: auto;

      .bar {
        margin-left: .3em;
        margin-right: 0;

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  .busy-xs {
    .busy-indicator {
      .bar {
        margin-left: .1em;
        margin-right: 0;

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  .busy-sm {
    .busy-indicator {
      .bar {
        margin-left: .3em;
        margin-right: 0;

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}
