// Busy Indicator
//================================================== //

$busy-indicator-size: 6.2em;
$busy-indicator-color: $primary-btn-bg-color;
$busy-indicator-check-color: $inverse-color;

.busy-indicator-container {
  display: inline-block;
  @include opacity(1);
  text-align: center;
  @include transition(opacity 500ms);
  vertical-align: middle;
  z-index: 1010;

  &.is-hidden {
    @include opacity(0);
  }

  &.blocked-ui {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 58px); // 115/2, 115 is the height of .busy-indicator-container
  }

  span {
    color: $busy-indicator-color;
    @include font-size(16);
    display: block;
  }
}

.busy-indicator {
  display: inline-block;
  height: $busy-indicator-size;
  margin: 2em;
  @include opacity(1);
  position: relative;
  vertical-align: middle;
  width: $busy-indicator-size;

  &.is-hidden {
    @include opacity(0);
  }

  .bar {
    background-color: $busy-indicator-color;
    display: inline-block;
    height: 5em;
    margin-right: .5em;
    width: .6em;

    &:last-child {
      margin-right: 0;
    }
  }

  // Animation doesn't happen when the container is hidden
  &:not(.is-hidden) > .bar {
    @include css3(animation, stretchdelay 1.2s infinite ease-in-out);

    &.two { @include css3(animation-delay, -1.1s); }
    &.three { @include css3(animation-delay, -1s); }
    &.four { @include css3(animation-delay, -.9s); }
    &.five { @include css3(animation-delay, -.8s); }
  }

}

// Overlay Override for Busy Indicator
.busy.overlay {
  background-color: $body-bg-color;
  @include opacity(.85);
  position: absolute;
  @include transition(opacity 500ms);
  visibility: visible;


  &.is-hidden {
    @include opacity(0);
  }
}

// Animation Keyframes
@include keyframes(stretchdelay) {
  0%, 40%, 100% { @include css3(transform, scaleY(.4)); }
  20% { @include css3(transform, scaleY(1)); }
}

// Display changes based on host element type
input + .busy-indicator-container,
.dropdown-wrapper > .busy-indicator-container {
  position: absolute;

  .busy-indicator {
    height: 34px;
    margin: .35em .3em .3em;
    position: absolute;
    right: 0;
    width: 40px;

    .bar {
      height: 2.8em;
      margin-right: .3em;
      width: .3em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.ie9 {
  .busy-indicator {
    .bar {
      -ms-transform: scaleY(.4em);
      -ms-transform-origin: 50% 50%;

      &.half {
        -ms-transform: scaleY(.7em);
      }

      &.full {
        -ms-transform: scaleY(1em);
      }
    }
  }
}
