// Buttons
//================================================== //

button {
  background-color: transparent;
  font-family: $font-regular;
}

// Buttons - button = secondary button
.button,
.button-secondary,
.button-primary,
.button-destructive,
.button-menu {
  background-color: $primary-button-bg-color;
  border: 1px solid transparent;
  border-radius: 2px;
  color: $inverse-color;
  font-family: $font-semibold;
  height: 34px;
  margin-left: 5px;
  margin-top: 5px;
  min-width: 100px;
  overflow: hidden;
  @include font-size(14);
  padding: 0 30px;
  position: relative;
  transition: all .2s ease-in-out 0s;
  width: auto;
}

// standard, primary, destructive
.button-primary {
  &:hover {
    background-color: $primary-button-hover-bg-color;
  }

  &:active {
    background-color: $primary-button-active-bg-color;
  }

  &:focus {
    background-color: $primary-button-bg-color;
    border: 1px solid $primary-button-bg-color;
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $primary-button-bg-color;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $primary-button-disabled-bg-color;
    border-color: 1px solid primary-button-disabled-bg-color;
    cursor: default;
  }

  .ripple-effect {
    background-color: #ffffff;
  }
}

// Normal / Secondary Button
.button,
.button-secondary {
  background-color: $button-bg-color;
  color: $button-color;

  &:hover {
    background-color: $button-hover-bg-color;
  }

  &:active {
    background-color: $button-active-bg-color;
    color: $button-active-color;
  }

  &:focus {
    background-color: $button-focus-bg-color;
    border: 1px solid $button-hover-bg-color;
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $button-hover-bg-color;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $button-disabled-bg-color;
    color: $font-color-disabled;
    cursor: default;
  }

  .ripple-effect {
    background-color: #efefef;
  }
}

// Destructive Actions / Third Level Button
.button-destructive,
.button-tertiary {
  background-color: transparent;
  color: $font-color;

  &:hover {
    color: $font-color-dark;
  }

  &:active {
    color: $primary-button-active-bg-color;
  }

  &:focus {
    border: 1px solid $tertiary-button-focus-border-color;
    box-shadow: none;
    color: $tertiary-button-focus-color;
  }

  &[disabled],
  &[disabled]:hover {
    color: $font-color-disabled;
    cursor: default;
  }

  .ripple-effect {
    background-color: #8dd2fb;
  }
}

// Ripple Effect
.ripple {
  overflow: hidden;
}

.ripple-effect {
  -webkit-animation: ripple-animation .5s;
  animation: ripple-animation .5s;
  background-color: #cccccc;
  border-radius: 50%;
  height: 10px;
  opacity: .2;
  position: absolute;
  -webkit-transform: scale(6);
  transform: scale(6);
  width: 10px;
}

@-webkit-keyframes ripple-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(1);
  }

  to {
    opacity: .2;
    -webkit-transform: scale(6);
  }
}

@keyframes ripple-animation {
  from {
    opacity: 0;
    transform: scale(1);
  }

  to {
    opacity: .2;
    transform: scale(6);
  }
}
