/* Buttons of All Types
================================================== */
button {
  font-family: $font-regular;
}

// Buttons - button = secondary button
.button, .button-secondary, .button-primary, .button-destructive, .button-menu {
  border-radius: 2px;
  height: 34px;
  font-family: $font-semibold;
  @include font-size(14);
  color: $inverse-color;
  background-color: $primary-button-color;
  min-width: 100px;
  overflow: hidden;
  padding: 0px 30px;
  position: relative;
  transition: background 0.2s ease-in-out 0s;
  width: auto;
}

// standard, primary, destructive
.button-primary {
  &:hover {
    background-color: $primary-button-hover-color;
  }
  &:active {
    background-color: $primary-button-active-color;
  }
  &[disabled], &[disabled]:hover {
    background-color: $primary-button-disabled-color;
    cursor: default;
  }
}

.button, .button-secondary {
  background-color: #d2d2d2;
  color: $font-color;

  &:hover {
    background-color: #b6b6b6;
  }
  &:active {
    background-color: #a8a8a8;
  }
  &[disabled], &[disabled]:hover {
    background-color: #d2d2d2;
    color: $font-color-disabled;
    cursor: default;
  }
}

.button-destructive, .button-tertiary {
  background-color: transparent;
  color: $font-color;

  &:hover {
    color: $font-color-dark;
  }
  &:active {
    color: $primary-button-color;
  }
  &[disabled], &[disabled]:hover {
    color: $font-color-disabled;
    cursor: default;
  }
}

// Ripple Effect
.ripple {
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #e4ebf0;
  animation: ripple-animation 2s;
  -webkit-animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
    opacity: .4;
  }
  to {
    -webkit-transform: scale(100);
    opacity: 0;
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: .4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
