/* Buttons of All Types
================================================== */
.btn, .btn-default, .btn-cancel, .btn-accept, .btn-menu {
  width: auto;
  height:  36px;
  font-family: $font-stack;
  @include font-size(15);
  font-weight: lighter;
  color: white;
  background-color: $btn-color;
  min-width: 99px;
  margin: 0 10px 10px 0;
  padding: 10px 15px;
  border-radius: 2px;
  box-shadow: inset 0 -1px rgba(0,0,0,.2);
  transition: background 0.2s ease-in-out 0s;
}

button {
  font-family: $font-stack;
}

.btn:hover, .btn-menu:hover {
  background-color: #909090;
}

.btn:focus, .btn-cancel:focus, .btn-accept:focus, .btn-default:focus, .btn-menu:focus {
  box-shadow: 0 0 1px #FFFFFF, 0 0 5px #0095FF;
}

.btn:active, .btn-menu:active {
  background-color: #ababab;
  box-shadow: none;
}

.btn-default {
  background-color: $accent-color;
}

.btn-default:hover {
  background-color: #2b97e5;
}

.btn-default:active {
  background-color: #53a8e6;
}

.btn:disabled, .btn-default:disabled, .btn-menu:disabled {
  background-color: #d9d9d9;
  color: #666;
  box-shadow: none;
  cursor: default;
}

.btn-cancel {
  background-color: #d5000e;

  &:hover {
    background-color: #cc3333;
  }

  &:active {
    background-color: #cc6666;
  }
}

.btn-accept {
  background-color: #2db329;
  &:hover {
    background-color: #33cc33;
  }

  &:active {
    background-color: #66cc66;
  }
}

/* Menu Buttons */
.btn-menu .icon {
  display: inline-block;
  fill: white;
  margin-top: -7px;
  margin-left: 4px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.btn-menu {
  padding-right: 6px;
}

.btn-menu span {
  color: white;
  display: inline-block;
  float: left;
  line-height: 19px;
}
