// Buttons
//================================================== //

// Also see:
// sass/controls/_icons.scss

button {
  background-color: transparent;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

// How all button types will deal with iconography
[class^="btn"] {
  //Fixes an issue about the circle effect coming out of the button.
  @include css3-extended(backface-visibility, hidden, (-webkit-, -moz-));
  @include css3-extended(transform, translate3d(0, 0, 0), (-webkit-, -moz-));
  @include css3-extended(color, transparent, (-webkit-tap-highlight-));
  @include font-size($button-font-size);
  @include transition(color 300ms cubic-bezier(.17, .04, .03, .94), background-color 300ms cubic-bezier(.17, .04, .03, .94));
  color: inherit;
  font-weight: 700;
  height: 34px;
  min-width: 100px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;

  > * {
    vertical-align: middle;
  }

  > svg {
    pointer-events: none;
  }

  > .icon {
    fill: inherit;
    position: static;
    width: 16px;

    + span:not(.audible) {
      padding-left: 5px;
    }

    + * + span {
      padding-left: 0;
    }

    + .icon {
      margin-left: 0;
    }
  }

  .icon {
    @include transition(fill 300ms cubic-bezier(.17, .04, .03, .94));
  }

  span {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;

    + .icon {
      margin-left: 5px;
    }

    &.audible {
      + .icon {
        margin-left: 0;
      }
    }

    &:empty:not(.icon):not(.one):not(.two):not(.three):not(.four)
    :not(.five):not(.six):not(.seven):not(.eight):not(.nine) {
      display: none;
    }
  }
}

.btn,
.btn-primary,
.btn-secondary {
  border-radius: 2px;
  padding: 0 15px;
}

// standard, primary, destructive
.btn-primary {
  background-color: $primary-btn-bg-color;
  border: 1px solid $primary-btn-bg-color;
  color: $primary-btn-color;

  .icon {
    fill: $primary-btn-color;
  }

  &:hover {
    background-color: $primary-btn-hover-bg-color;
    border: 1px solid $primary-btn-hover-bg-color;
  }

  &:active {
    background-color: $primary-btn-active-bg-color;
    border: 1px solid $primary-btn-active-bg-color;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid $primary-btn-bg-color;
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $primary-btn-bg-color;

    &:active {
      background-color: $primary-btn-active-bg-color;
      box-shadow: none;
    }
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $primary-btn-disabled-bg-color;
    border-color: $primary-btn-disabled-border-color;
    box-shadow: none;
    color: $primary-btn-disabled-color;
    cursor: default;
    opacity: $primary-btn-disabled-opacity;

    .icon {
      fill: $white;
    }
  }

  .ripple-effect {
    background-color: $white;
    opacity: .7;
    pointer-events: none;
  }
}

a.btn,
a.btn-icon,
a.btn-primary,
a.btn-secondary,
a.btn-tertiary,
a.btn-menu {
  display: inline-block;
  line-height: 31px;
  margin-bottom: -2px;
  min-width: auto;
  text-decoration: none;
  width: auto;

  &:not(:root:root) {
    margin-bottom: auto;
  }

  &.btn-icon {
    line-height: 32px;
    padding: 0 6px;
  }
}


//Split Button
.btn-split-menu {
  + .separator {
    // scss-lint:disable ImportantRule
    margin: 3px 3px 0 -10px !important;
    // scss-lint:enable ImportantRule

    + .btn-split-menu {
      margin-left: -3px;
      min-width: 20px;
      width: 20px;

      .icon {
        margin-left: -7px;
      }
    }
  }

  &:focus + .separator {
    opacity: 0;
  }

  &.btn {
    margin-right: -8px;
  }
}

@-moz-document url-prefix() {
  a.btn,
  a.btn-primary,
  a.btn-secondary,
  a.btn-tertiary,
  a.btn-menu {
    line-height: 32px;
    margin-bottom: -3px;
  }
}


// Normal / Secondary Button
.btn,
.btn-secondary {
  background-color: $btn-bg-color;
  border: 1px solid $btn-bg-color;
  color: $btn-color;

  .icon {
    fill: $btn-color;
  }

  &:hover {
    background-color: $btn-hover-bg-color;
    border: 1px solid $btn-hover-bg-color;
  }

  &:active {
    background-color: $btn-active-bg-color;
    border: 1px solid $btn-active-bg-color;
 }

  &:focus {
    border: 1px solid $btn-focus-bg-color;
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 3px $btn-focus-border-color;

    &:active {
      background-color: $btn-active-bg-color;
      box-shadow: none;
    }
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $btn-disabled-bg-color;
    border: 1px solid $btn-disabled-border-color;
    box-shadow: none;
    color: $btn-disabled-color;
    cursor: default;
    opacity: $btn-disabled-opacity;
  }

  .ripple-effect {
    background: $graphite02;
  }
}

// Destructive Actions / Third Level Button
.btn-tertiary,
.btn-icon,
.btn-actions,
.btn-menu {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  color: $tertiary-btn-color;
  overflow: hidden;

  &:hover {
    color: $tertiary-btn-hover-color;

    .icon {
      fill: $tertiary-btn-hover-color;
    }
  }

  &:active {
    color: $tertiary-btn-active-color;
  }

  &:focus:not(.hide-focus) {
    box-shadow: 0 0 0 2px transparent, 0 0 0 1px $btn-focus-bg-color;

    &:active {
      box-shadow: none;
    }
  }

  &[disabled],
  &[disabled]:hover {
    color: $tertiary-btn-disabled-color;
    cursor: default;
    opacity: $tertiary-btn-disabled-opacity;

    .icon {
      fill: $tertiary-btn-disabled-color;
    }
  }

  span {
    color: inherit;
  }

  .icon {
    fill: $tertiary-btn-color;
  }

  .ripple-effect {
    background-color: $tertiary-btn-ripple-color;
  }

}

// Menu Buttons have a special state that shows up when their menus are visible.
.btn-menu,
.btn-actions {
  &.is-open {
    color: $tertiary-btn-open-color;

    .icon {
      fill: $tertiary-btn-open-color;
    }
  }
}

.btn-tertiary,
.btn-menu {
  padding: 0 10px;
}

// Icon Buttons
// Also see ./_icons.scss
.btn-icon,
.btn-actions,
.btn-close {
  border-radius: 18px;
  height: 36px;
  margin-top: 0;
  min-height: 36px;
  min-width: 36px;
  padding: 0;
  width: 36px;

  // Icon Buttons only have one icon (never two) and no text visible, so disable padding
  > .icon {
    padding-right: 0;
  }

  > span {
    display: inline-block;
    pointer-events: none;
    position: absolute;
    width: 0;
  }

  &:hover {
    > span {
      color: transparent;
    }
  }
}

// Specific Icon Button styles
.btn-icon {
  > span:not(.icon) {
    visibility: hidden;
  }

  .icon.app-header {
    left: 0;
    margin-left: 0;
    position: relative;
    top: 2px;
  }

  &.has-content {
    .icon {
      fill: $azure06;
    }

    &:hover .icon {
      fill: $azure08;
    }
  }
}

// Ripple Effect
.ripple-effect {
  border-radius: 50%;
  height: 2px;
  opacity: 0;
  position: absolute;
  width: 2px;

  &.is-animation {
    @include css3(animation, ripple-animation 1s);
  }

  .ripple-circle {
    fill: rgba($white, 0);
  }
}

@include keyframes(ripple-animation) {
  0% {
    opacity: .5;
  }

  100% {
    @include css3(transform, scale(50));
    opacity: 0;
  }
}

@include respond-to(phone) {
  // Reset the above rule when these types of buttons appear in toolbars
  .toolbar {
    .btn,
    .btn-teritary {
      padding: 0 10px;

      .icon {
        // If an icon is present, the span should not be visible at this breakpoint
        + span { // prevents oblong-shaped focus state around buttons
          position: absolute;
        }
      }
    }
 	}
}

// Short field buttons
.field-short {
  [class*="btn"] {
    height: 25px;
    margin-bottom: 10px;
    min-width: 0;

    > .icon:not(.icon-dropdown) {
      height: 14px;

      + span:not(.audible) {
        display: inline-block;
        padding: 1px 4px 0 0;
      }
    }
  }

  .btn,
  .btn-primary,
  .btn-secondary,
  .btn-tertiary,
  .btn-menu,
  .btn-icon,
  .btn-actions,
  .btn-close {
    padding: 0 5px;
  }

  .btn-icon,
  .btn-actions,
  .btn-close {
    border-radius: 12px;
  }
}

//RTL Styles
html[dir='rtl'] {
  button {
    margin-left: 5px;
    margin-right: 0;

    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  // How all button types will deal with iconography
  [class^="btn"] {
    > .icon {

      + span:not(.audible) {
        padding-right: 10px;
      }

      + * + span {
        padding-right: 0;
      }
    }

    span {
      + .icon {
        margin-right: 5px;
      }

      + * + .icon {
        margin-right: 5px;
      }

      &.audible {
        + .icon {
          margin-right: 0;
        }
      }
    }
  }
}

//Special "Ghost" Secondary Border button-font-size
.btn-secondary-border {
  @include transition(all 300ms cubic-bezier(.17, .04, .03, .94));
  border: 1px solid $secondary-border-btn-border-color;
  border-radius: 2px;
  color: $secondary-border-btn-color;

  span {
    padding: 0 26px;
  }

  &:hover:not(:disabled) {
    border-color: $secondary-border-btn-hover-border-color;
    color: $secondary-border-btn-hover-color;
  }

  &:focus {
    box-shadow: 0 0 0 1px $body-bg-color, 0 0 0 2px $primary-color;
  }

  &:disabled {
    cursor: default;
    opacity: .5;
  }

  .ripple-effect {
    background-color: $secondary-border-btn-ripple-color;
  }
}

//Grid Filter button
.btn-filter {
  min-width: 45px;
  width: 45px;
}
