/* Cardstack
================================================== */
.cardstack {
  background-color: white;

  //TODO SASS Variable
  border: 1px solid #ececec;
  border-left: 4px solid #ececec;
  font-family: $font-regular;
  overflow: auto;
  width: 100%;

  .header {
    @include font-size(16);
    color: #333333;
  }

  li {
    border-bottom: 1px solid #ececec;
    padding: 14px 23px;
  }

  li:hover {
    background-color: $menu-hover-color;
    transition: background-color 0.3s ease 0s;
  }

  p {
    @include font-size(16);
  }

  .error {
    border-left: 4px solid #d5000e;
  }
  .alert {
    border-left: 4px solid #ffa800;
  }
  .good {
    border-left: 4px solid #2db329;
  }
}
