// Cardlist
//================================================== //

.cardlist {
  background-color: #ffffff;

  font-family: $font-regular;
  overflow: auto;
  width: 100%;

  .header {
    @include font-size(16);
    color: #333333;
  }

  li {
    border-bottom: 1px solid #e5e5e5;
    padding: 14px 23px;
  }

  li:hover {
    background-color: $menu-hover-color;
    transition: background-color .3s ease 0s;
  }

  p {
    @include font-size(16);
  }
}
