// Card Containers
//==================================================//

.card {
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  margin-bottom: 20px;
  min-height: 200px;
  overflow: auto;
  width: 100%;

  .card-header {
    border-bottom: 1px solid #d8d8d8;
    height: 50px;
    line-height: 50px;
    padding: 13px 20px;

    > * {
      display: inline-block;
      float: left;
    }
  }
}
