// Chart - Svg and Css
//==================================================//

// Alternate Text message
.chart-message {
  background-color: $ruby01;
  color: $font-color-dark;
  padding: 20px;
  text-align: center;
}

// SVG Chart Styles
.chart-container {

  // Center
  svg {
    display: block;
    margin: 0 auto;
  }

  // Line Colors - and Visibility
  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #c2c2c2;  //Make a Variable
  }

  .axis.x .domain {
    stroke: transparent;
  }

  // Text Color
  text {
    fill: $font-color;
    font-family: $font-regular;
    font-weight: lighter;
    @include font-size(14);
  }

  .chart-donut-text {
    @include font-size(18);
    font-weight: lighter;
  }

  // Bar Chart Style
  .bar,
  .arc {
    cursor: pointer;
  }

  .bar {
    cursor: pointer;
    stroke: $inverse-color;
    stroke-width: 1px;
  }

  // Svg Hidden
  .is-hidden {
    @include opacity(0);
  }

  // Pie Chart
  .pie path {
    stroke: $inverse-color;
    stroke-width: 1px;
  }

  &.chart-vertical-bar {
    margin: 0 auto;
    max-width: 540px;
  }
}

// Tooltip Swatch
.chart-swatch > div {
  display: table-cell;
  height: 14px;
  width: 14px;
}

.chart-swatch > span,
.chart-swatch > b {
  color: #ffffff;
  display: table-cell;
  line-height: 12px;
  padding-left: 10px;
}

.chart-swatch > br {
  display: block;
  margin: 5px 0;
}

.chart-tooltip-total {
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.chart-legend {
  margin-top: 10px;
  text-align: center;
}

.is-below {
  .chart-legend-color {
    top: 0;
  }
}

.chart-legend-color {
  display: inline-block;
  height: 12px;
  margin-left: 20px;
  margin-right: 7px;
  position: relative;
  top: -8px;
  width: 12px;
}

.chart-legend-item-text {
  width: auto;
  @include ellipsis;
}


// Legend on the side... TODO - Use Lines.
.vertical-legend {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

  .chart-legend {
    float: right;
    padding-right: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;

    .chart-legend-item {
      display: block;
      padding-top: 5px;
      position: relative;
      text-align: left;
    }

    .chart-legend-percent {
      font-weight: bold;
      margin-left: 7px;
      vertical-align: top;
    }

    .chart-legend-item-text {
      display: inline-block;
      @include ellipsis;
      padding-right: 5px;
    }

    &.is-below {
      margin: 20px 0;
      text-align: center;

      .chart-legend-item {
        margin-right: 20px;
      }
    }

  }
}

// Pie Charts Specifics
.chart-pie {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 56%;


  @include respond-to(phone) {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  @include respond-to(tabletdown) {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  svg {
    @include respond-to(phone) {
      width: 60%;
    }

    @include respond-to(tablet) {
      width: 60%;
    }
  }
}

.one-third .chart-pie {
  svg {
    @include respond-to(tabletdown) {
      width: 60%;
    }
  }
}

// Spark Line Charts
.sparkline {
  height: 70px;
  margin: 50px auto;
  position: relative;
  width: 200px;

  path {
    fill: none;
    stroke-width: 3px;
  }

  svg {
    position: absolute;
  }

  .bar-rect {
    fill: transparent;
    stroke-width: 0;
  }

  .point {
    stroke-width: 4.5;
  }
}
