// Chart - Svg and Css
//==================================================//

// Alternate Text message
.chart-message {
  background-color: $ruby01;
  color: $font-color-dark;
  padding: 20px;
  text-align: center;
}

// SVG Chart Styles
.chart-container {

  // Center
  svg {
    display: block;
    margin: 0 auto;
  }

  // Line Colors - and Visibility
  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #c2c2c2;  //Make a Variable
  }

  .axis.x .domain {
    stroke: transparent;
  }

  // Text Color
  text {
    fill: $font-color;
    font-family: $font-regular;
    font-weight: lighter;
    @include font-size(14);
  }

  .chart-donut-text {
    @include font-size(18);
    font-weight: lighter;
  }

  // Bar Chart Style
  .bar,
  .arc {
    cursor: pointer;
  }

  .bar {
    cursor: pointer;
    stroke: $inverse-color;
    stroke-width: 1px;
  }

  // Svg Hidden
  .is-hidden {
    @include opacity(0);
  }

  // Pie Chart
  .pie path {
    stroke: $inverse-color;
    stroke-width: 1px;
  }

  &.chart-vertical-bar {
    margin: 0 auto;
    max-width: 540px;

    svg {
      // width: 100%;
    }
  }

}

.chart-legend-item {
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 2px 0;
  position: relative;
  text-align: left;
  min-width: 150px;

  &:focus {
    border: 1px solid $primary-color;
    border-radius: 2px;
    outline: none;
  }

  > span {
    display: inline-block;
    // padding-left: 12%;
    padding-left: 25px;
    width: 90%;
  }
}

.chart-legend-color {
  // display: inline-block;
  height: 12px;
  margin: 0 8px;
  width: 12px;
  // width: 7%;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -9px;
}

.chart-legend-item-text {
  width: 78%;
  display: inline-block;
  @include ellipsis; 
}

// .chart-vertical-bar .chart-legend-item-text {
//   min-width: 150px;
// }

.chart-legend-percent {
  font-weight: bold;
  padding-left: 5px;
  width: 33%;
  display: inline-block;
  position: absolute;
  right: 0;
}

// Tooltip Swatch
.chart-swatch > div {
  display: table-cell;
  height: 14px;
  width: 14px;
}

.chart-swatch > span,
.chart-swatch > b {
  color: #ffffff;
  display: table-cell;
  line-height: 12px;
  padding-left: 10px;
}

.chart-swatch > br {
  display: block;
  margin: 5px 0;
}

.chart-tooltip-total {
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

// Chart Specific Centering and Styling
.chart-pie {
  display: inline-block;
  // height: 98%;
  padding: 15px;
  // width: 38%;
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);

  + .chart-legend {
    display: inline-block;
    @include vertical-align();
    padding-left: 10px;
    width: 45%;
    max-width: 190px;

    .chart-legend-item {
      display: block;
    }

    @include respond-to(tablet) {
      display: none;
    }
  }
}

.one-third .chart-pie {
  // margin-top: 35px;
  padding: 0;
  width: 53%;
}

.sparkline {
  height: 70px;
  margin: 50px auto;
  position: relative;
  width: 200px;

  path {
    fill: none;
    stroke-width: 3px;
  }

  svg {
    position: absolute;
  }

  .bar-rect {
    fill: transparent;
    stroke-width: 0;
  }

  .point {
    stroke-width: 4.5;
  }

}

// Media Queries
@include respond-to(tablet) {
  /* .chart-pie {
    height: 97%;
    // margin-left: -50px;
    // margin-top: 5px;
    // width: 56%;
    width: 50%;
    // top: 50%;
    top: 0;
    position: relative;
    // margin-top: -95px;
    margin-top: -115px;
    margin-left: 0;
  } */

 /*  .one-third .chart-pie {
    margin: 0 auto 0 -20px;
    margin-bottom: -65px;
    padding: 0;
    width: 83%;
    margin-left: 0;
  } */

}

@include respond-to(phone) {
  /* .chart-container .chart-legend {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .chart-pie {
    margin-bottom: -65px;
    // margin-left: -20px;
    margin-left: 0;
    width: 100%;
  }

  .one-third .chart-pie {
    margin-top: 0;
    width: 50%;
  } */
}


