// Chart - Svg and Css
//==================================================//

// Alternate Text message
.chart-message {
  background-color: $ruby01;
  color: $font-color-dark;
  padding: 20px;
  text-align: center;
}

// SVG Chart Styles
.chart-container {
  display: table;
  margin: 0 auto;

  // Center
  svg {
    display: table-cell;
  }

  // Line Colors - and Visibility
  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #c2c2c2;  //Make a Variable
  }

  .axis.x .domain {
    stroke: transparent;
  }

  // Text Color
  text {
    fill: $font-color;
    font-family: $font-regular;
    font-weight: lighter;
    @include font-size(14);
  }

  .chart-donut-text {
    @include font-size(18);
    font-weight: lighter;
  }

  // Bar Chart Style
  .bar,
  .arc {
    cursor: pointer;
  }

  .bar {
    cursor: pointer;
    stroke: $inverse-color;
    stroke-width: 1px;
  }

  // Svg Hidden
  .is-hidden {
    @include opacity(0);
  }

  // Pie Chart
  .pie path {
    stroke: $inverse-color;
    stroke-width: 1px;
  }

  // Legend
  .chart-legend {
    display: table-cell;
    vertical-align: middle;
  }

  .chart-legend-item {
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    padding: 5px 10px 2px 0;

    &:focus {
      border: 1px solid $primary-color;
      border-radius: 2px;
      outline: none;
    }
  }

  .chart-legend-color {
    display: inline-block;
    height: 12px;
    margin: 0 8px;
    width: 12px;
  }

  .chart-legend-percent {
    font-weight: bold;
    padding-left: 5px;
  }
}


// Alternate Content

.alt-message {
  background-color: #ffe0e2;
  border-radius: 4px;
  line-height: 18px;
  padding: 20px;
  text-align: center;
}

// Tooltip Swatch

.chart-swatch > div {
  display: table-cell;
  height: 12px;
  width: 12px;
}

.chart-swatch > span,
.chart-swatch > b {
  display: table-cell;
  line-height: 12px;
  padding-left: 7px;
}

.chart-swatch > br {
  display: block;
  margin: 3px 0;
}

// Media Queries
@include respond-to(phone) {
  .chart-container .chart-legend {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
  }
}

