/* Checkboxes
================================================== */
input.checkbox, span.checkbox > input {
  position: absolute;
  left: -9999px;
}

input.checkbox + label, input.checkbox + input[type="hidden"] + label, span.checkbox > label {
  display: inline-block;
  cursor: pointer;
  padding-left: 24px;
}

input.checkbox + label:before, input.checkbox + input[type="hidden"] + label:before, span.checkbox > label:before {
  border: 2px solid #999;
  border-radius: 2px;
  content: "";
  height: 14px;
  margin-left: -26px;
  position: absolute;
  width: 14px;
}

input.checkbox:checked + label:before, input.checkbox:checked + input[type="hidden"] + label:before, span.checkbox > input:checked + label:before {
  background-color: $accent-color;
  border-color: $accent-color;
}

input.checkbox:checked + label:after, input.checkbox:checked + input[type="hidden"] + label:after, span.checkbox > input:checked + label:after {
  border-color: transparent;
  border-style: solid;
  border-width: 0 3px 3px 0;
  content: "";
  height: 10px;
  left: 5.5px;
  margin-top: 1px;
  position: absolute;
  transform: rotate(45deg);
  transition: all 0.2s ease 0s;
  width: 4px;
}

input.checkbox:checked + label:after, input.checkbox:checked + input[type="hidden"] + label:after, span.checkbox > input:checked + label:after {
  border-color: white;
}

/* Disabled State */
input.checkbox:disabled + label, input.checkbox:disabled + input[type="hidden"] + label, span.checkbox > input:disabled + label {
  color: #aaa; /*$disabled-color;*/
  cursor: default;
}

input.checkbox:disabled:not(:checked) + label:before, input.checkbox:disabled:not(:checked) + input[type="hidden"] + label:before, span.checkbox > input:disabled:not(:checked) + label:before {
  border-color: #bbb;
}

input.checkbox:disabled:checked + label:before, input.checkbox:disabled:checked + input[type="hidden"] + label:before, span.checkbox > input:disabled:checked + label:before {
  opacity: .6;
}

/* Focus State */
input.checkbox:focus + label:before, input.checkbox:focus + input[type="hidden"] + label:before, span.checkbox > input:focus + label:before {
  box-shadow: $focus-shadow;
}
