// Circle Pager
//================================================== //

.circlepager {
  overflow: hidden;
  position: relative;
  width: 100%;

  .slides {
    left: 0;
    overflow: hidden;
    position: relative;
    transition: left .3s ease 0s;

    > .slide {
      float: left;
      position: relative;
    }
  }

  .controls {
    display: none;
  }


  &.is-active {
    .controls {
      bottom: 20px;
      display: block;
      left: 50%;
      margin-left: -50%;
      position: absolute;
      text-align: center;
      width: 100%;

      .control-button {
        background-color: $circlepager-control-button-bg-color;
        border: 1px solid $circlepager-control-button-border-color;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin: 0 20px 0 0;
        text-align: center;
        text-decoration: none;
        width: 10px;

        &:last-child {
          margin: 0;
        }

        &:hover {
          background-color: $circlepager-control-button-hover-bg-color;
          border-color: $circlepager-control-button-hover-border-color;
        }

        &.is-active {
          background-color: $circlepager-control-button-active-bg-color;
          border-color: $circlepager-control-button-active-border-color;

          &:hover {
            background-color: $circlepager-control-button-active-hover-bg-color;
            border-color: $circlepager-control-button-active-hover-border-color;
          }
        }

        &[disabled],
        &.is-disable {
          background-color: $circlepager-control-button-disable-bg-color;
          border-color: $circlepager-control-button-disable-border-color;

          &:hover {
            background-color: $circlepager-control-button-disable-hover-bg-color;
            border-color: $circlepager-control-button-disable-hover-border-color;
          }
        }
      }
    }
  }
}

// html[dir='rtl'] {
// }
