// Color Picker
//================================================== //

.colorpicker-container {
  background-color: $input-bg-color;
  border: 1px solid $input-border-color;
  border-radius: 2px;
  overflow: hidden;
  width: 150px;

  &.is-focused {
    border-color: $input-focus-border-color;
  }

  &.is-disabled {
    background-color: $input-disabled-bg-color;
    border-color: $input-disabled-border-color;
  }

  &:hover:not(.is-focused):not(.is-open) {
    border-color: $input-hover-border-color;
  }

  &.is-open {
    border-color: $input-focus-border-color;
  }

  .trigger {
    cursor: pointer;
    display: inline-block;
    height: 34px;
    margin-left: -5px;
    vertical-align: top;
    width: 31px;
  }

  .icon {
    fill: $trigger-icon-fill-color;
    height: 17px;
    left: 8px;
    position: relative;
    top: 9px;
    width: 17px;

    &:hover {
      fill: $trigger-hover-color;
    }
  }

  // Color Piece
  .swatch {
    background-color: $colorpicker-initial-bg-color;
    border-radius: 2px;
    display: inline-block;
    height: 32px;
    left: 1px;
    position: relative;
    top: 1px;
    vertical-align: top;
    width: 32px;

    // Trigger Button
    .icon {
      background-color: transparent;
      height: 16px;
      left: 46px;
      top: 9px;
      width: 16px;
    }

    &:hover:not(:disabled) .icon {
      fill: $primary-color;
    }

    &:active .icon {
      fill: $primary-color;
    }
  }

  .colorpicker {
    border: 0;
    max-height: 34px;
    padding: 11px 10px 8px;
    width: 90px; //Small Size

    &::-ms-clear {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:disabled + .swatch {
      cursor: default;
      opacity: .6;
    }

  }
}

.popupmenu.colorpicker {
  margin-left: -33px;
  max-width: 342px;
  min-height: 50px;
  min-width: 200px;
  padding: 20px 20px 0;
  width: auto;

  li {
    display: inline-block;
    height: 20px;
    margin: 4px;
    width: 22px;

    a {
      border: 1px solid $white;
      padding: 0;

      &:focus {
        outline: 1px solid $primary-color;
      }
    }
  }

  .swatch {
    background-color: $graphite04;
    display: block;
    height: 20px;
    width: 20px;
  }

  + .arrow {
    left: 44px;
  }

  .popup-footer {
    display: block;
    margin-left: -20px;
    margin-top: 15px;
    width: calc(100% + 40px);
  }

}

.field > .colorpicker-container {
  margin-bottom: 20px;
}

//RTL Styles
html[dir='rtl'] {

  .colorpicker {

    // Color Piece
    + .swatch {
      border-left: inherit;
      border-right: 1px solid $input-border-color;
      left: inherit;
      right: -10px;

      // Trigger Button
      .icon {
        left: inherit;
        right: 37px;
      }
    }

    //Open/Focus State is in the input
    &.is-open + .swatch {
      border-left-color: inherit;
      border-right-color: transparent;
    }
  }

}
