// Color Classes
//================================================== //

@each $name in $color-names {
  $i: index($color-names, $name);
  $color: nth($color-vars, $i);

  .#{$name} {
    background: $color;
  }

  //Classes for Tags
  .#{$name}.tag {
    background: nth($color-vars, $i);
  }
}

// Palette Shapes
.palette-column {
  @include font-size(14);
  @include antialiased();
  display: inline-block;
  margin: 10px;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  width: 120px;

  .palette-color {
    height: 34px;
    line-height: 36px;
  }

  .dark-color {
    color: $black;
  }

  .light-color {
    color: $white;
  }

  .palette-label {
    @include antialiased();
    color: $font-color;
    display: block;
    font-size: 1.6rem;
    padding-bottom: 15px;
    text-align: left;
    text-transform: none;
  }

  .palette-number {
    float: left;
    margin-left: 15px;
    position: relative;
    top: 10px;
    vertical-align: middle;
    width: 10px;
  }

  .palette-hex {
    margin-left: -10px;
  }
}

// Personalization Colors
.personalization-bg-color {
  background-color: $white;
}


//RTL Styles
html[dir='rtl'] {
  .palette-column {

    .palette-label {
      text-align: right;
    }

    .palette-number {
      float: right;
      margin-left: 0;
      margin-right: 15px;
    }
  }
}
