// Color Classes
//================================================== //

@each $name in $color-names {
  $i: index($color-names, $name);
  $color: nth($color-vars, $i);

  .#{$name} {
    background: $color;
  }

  //Classes for Tags
  .#{$name}.tag {
    background: nth($color-vars, $i);
  }
}
