// Color Picker
//================================================== //

.colorpicker-container {
  background-color: $input-bg-color;;
  border: 1px solid $input-border-color;
  border-radius: 2px;
  overflow: hidden;
  width: 150px;

  &.is-focused {
    border-color: $input-focus-border-color;
    box-shadow: 0 0 5px rgba(8, 150, 233, .2);
  }

  &.is-disabled {
    background-color: $input-disabled-bg-color;
    border-color: $input-disabled-border-color;
  }

  &.is-open {
    border-color: $input-focus-border-color;
  }
}

.field > .colorpicker-container {
  margin-bottom: 20px;
}

.colorpicker {
  border: 0 !important;
  padding: 11px 10px 8px;
  max-height: 34px;
  width: 90px; //Small Size

  // Color Piece
  + .swatch {
    background-color: $colorpicker-initial-bg-color;
    border-left: 1px solid $input-border-color;
    cursor: pointer;
    display: inline-block;
    height: 34px;
    left: -10px;
    position: relative;
    top: 0;
    vertical-align: top;
    width: 40px;

    // Trigger Button
    .icon {
      background-color: transparent;
      height: 32px;
      left: 36px;
      width: 34px;
    }

    &:hover:not(:disabled) .icon {
      fill: $primary-color;
    }

    &:active .icon {
      fill: $primary-color;
    }
  }

  &::-ms-clear {
    display: none;
  }

  &:disabled + .swatch {
    cursor: default;
    opacity: .6;
  }

  //Open/Focus State is in the input
  &.is-open + .swatch {
    border-left-color: transparent;
  }

  &.popupmenu {
    border: 1px solid $input-focus-border-color;
    border-radius: 0 0 3px 3px;
    max-height: 160px;
    min-width: 69px;
    width: auto;

    li a {
      padding: 1px;
    }

    li a:focus {
      background-color: transparent !important;
      border-color: $input-focus-border-color;
    }

    .swatch {
      background-color: #333333;
      display: block;
      height: 33px;
      width: 48px;
    }

    &.is-open {
      border: 1px solid $input-focus-border-color !important;
      margin-top: -10px;
      padding: 0;
    }
  }
}
