// Composite Form Tabs
//================================================== //

$composite-tabs-height: 50px;

.tab-container.composite-tabs {
  background-color: $composite-tabs-bg-color;
  border-top: 1px solid $composite-tabs-border-color;

  //========================================
  // Before/After control the faded edges
  //========================================
  &::after,
  &::before {
    @include transition(width 200ms $cubic-ease);
    background-color: transparent;
    content: '';
    display: inline-block;
    height: $composite-tabs-height;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 20;
  }

  // Background fade on the left edge
  &::before {
    background-image: linear-gradient(
      to right,
      rgba($composite-tabs-bg-color, 1),
      rgba($composite-tabs-bg-color, 0)
    );
    left: 0;
  }

  // Background fade on the right edge
  &::after {
    background-image: linear-gradient(
      to right,
      rgba($composite-tabs-bg-color, 0),
      rgba($composite-tabs-bg-color, 1)
    );
    right: 51px; // bleed into the tab list (width of this element + 1 for border)
  }

  &.scrolled-left::after,
  &.scrolled-right::before {
    width: 40px;
  }

  .tab-list-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: calc(100% - 51px);
  }

  .tab-list {
    display: inline-block;
    height: $composite-tabs-height;
    white-space: nowrap;
  }

  .tab-more {
    background-color: $composite-tabs-bg-color;
    border-left: 1px solid $composite-tabs-border-color;
    height: $composite-tabs-height;
    padding: 16px;
    position: relative;
    vertical-align: top;
    width: 50px;

    .icon {
      fill: $composite-tabs-text-color;
    }
  }

  .animated-bar {
    background-color: $composite-tabs-focus-state-color;
  }

  .tab-focus-indicator {
    &.is-visible {
      border-color: $composite-tabs-focus-state-color;
    }
  }

  .tab {
    @include font-size(14);

    a {
      margin-top: 3px;
      padding: 14px 10px 17px;
    }
  }
}

.header {
  .tab-container.composite-tabs {
    margin-top: 1px;
    padding: 0;
  }

  &.has-composite-tabs {
    border-bottom: 1px solid $composite-tabs-border-color;
  }
}

// RTL Styles
html[dir="rtl"] {

  .tab-container.composite-tabs {
    .tab-more {
      border-left: 1px solid $composite-tabs-border-color;
    }
  }

}
