// Contextual Action Panel
//================================================== //

.modal.contextual-action-panel {
  @include css3(transform, translate(0, 100%));
  @include css3(transition-timing-function, cubic-bezier(.17, .04, .03, .94));

  &.is-visible {
    @include css3(transform, translate(0, 0));
    @include css3(transition-timing-function, cubic-bezier(.94, .03, .04, .17));
  }

  .modal-content {
    padding: 0;
  }

  .modal-header {
    background-color: $contextual-panel-bg;
    padding: 1em 2em;
  }

  .toolbar {
    margin-bottom: 0;

    .title {
      @include font-size(18);
    }

    .searchfield:focus {
      width: 175px;
    }

    .separator {
      margin: 3px 5px 0;
    }

  }

  .modal-body {
    padding: 2em;
  }

  .icon {
    fill: $contextual-panel-color;
  }

  button:hover .icon {
    fill: $tertiary-btn-hover-color;
  }

  .btn {
    background-color: transparent;
    border: 1px solid transparent;

    &:hover span {
      color: $tertiary-btn-hover-color;
    }
  }

  .btn-icon.has-text > span,
  .title {
    color: $contextual-panel-color;
  }

  @include respond-to(phone) {
    .btn-close .icon {
      width: 32px;
    }
  }

}
