// Datagrid
//================================================== //

$datagrid-header-height: 39px;  //1px border in parent
$datagrid-filterable-header-height: 61px;

$datagrid-row-height: 43px;
$datagrid-medium-header-height: 30px;
$datagrid-medium-row-height: 33px;
$datagrid-short-header-height: 25px;
$datagrid-short-row-height: 23px;

//Main Datagrid Container
.datagrid-container {
  background-color: transparent;
  border: 1px solid $datagrid-cell-border-color;
  clear: both;
  height: inherit;
  min-width: 100%;
  overflow: hidden;
  position: relative;

  // Empty Space Background Fill
  &.is-windows {
    background-color: $datagrid-header-bg-color;

    .datagrid-body {
      background-color: $datagrid-empty-bg-color;
    }
  }

  .datagrid-body {
    height: calc(100% - 40px);

    &.paginated {
      background-color: $datagrid-empty-bg-color;
    }
  }

  //Heights for scrollbars
  &.paginated {
    height: calc(100% - 40px);
  }

  &.has-toolbar.paginated {
    height: calc(100% - 103px);
  }

  //Adjust borders and IE adjustment for vertical scrollbars
  &.has-vertical-scroll {
    //Fix IE Scrollbar Offset Issue
    &.is-windows .datagrid-header {
      margin-right: 18px;
    }
  }

  td:last-child {
    border-right-color: transparent;
  }

  tr:last-child td {
    border-bottom-color: transparent;
  }

  &.has-less-rows tr:last-child td {
    border-bottom-color: $datagrid-cell-border-color;
  }

  //State Change
  &.is-readonly {
    border: 0;
  }

  //Hidden Headers
  colgroup {
    col.is-hidden {
      display: none;
    }
  }

  .resize-handle {
    border: 0;
    cursor: col-resize;
    height: $datagrid-header-height;
    left: -999px;
    top: auto;
    width: 11px;
    z-index: 2;
  }

  // States - List Style Datagrid
  &.is-gridlist {
    background-color: transparent;
    border: 0;

    &.datagrid-alternate-bg-color {
      background-color: $panel-bg-color;
    }

    tr:hover:not(.datagrid-expandable-row) td:not(.is-editing) {
      background-color: $datagrid-list-row-hover-color;

      .is-readonly {
        background-color: transparent;
      }
    }

    th {
      background-color: $datagrid-list-header-bg-color;
      border-right: 0;

      .datagrid-header-text {
        color: $datagrid-list-header-color;
      }

      &.is-sortable:hover {
        background-color: $datagrid-list-header-hover-color;
      }

      .sort-indicator .icon {
        fill: $datagrid-list-sort-icon-color;
      }

      &:focus {
        background-color: $datagrid-list-header-bg-color;
      }

      &.is-active {
        background-color: $datagrid-list-header-active-color;
      }

      &.is-sorted-asc .sort-asc .icon,
      &.is-sorted-desc .sort-desc .icon {
        fill: $datagrid-list-sort-icon-hover-color;
      }

      .datagrid-checkbox {
        &::before {
          border: 1px solid $datagrid-list-header-checkbox-border-color;
        }
      }
    }

    td {
      background-color: transparent;
      border-top: 0;

      .is-readonly {
        background-color: transparent;
      }
    }

    .datagrid-body {
      background-color: transparent;
    }

    .datagrid-header {
      background-color: $datagrid-list-header-bg-color;
    }

    tr td {
      border-left: 0;
      border-right: 0;
    }

    //Filter Row
    .datagrid-filter-wrapper {
      input,
      div.dropdown {
        // scss-lint:disable ImportantRule
        border-color: $datagrid-list-filter-border-color !important;
        color: $datagrid-list-filter-color;
        -webkit-text-fill-color: $datagrid-list-filter-color;

        &:disabled,
        &.is-disabled {
          border-color: $datagrid-list-filter-disabled-color !important;

          + .icon {
            fill: $datagrid-list-filter-disabled-color !important;
          }
        }

        &:focus {
          border-color: $datagrid-list-filter-focus-color !important;
        }

        &:hover:not(:disabled):not(:focus) {
          border-color: $datagrid-list-filter-hover-border-color !important;
        }
        // scss-lint:enable ImportantRule
      }

      // scss-lint:disable ImportantRule
      .btn-filter {
        .icon,
        .icon-dropdown {
          fill: $datagrid-list-filter-icon-color !important;
        }

        &:hover:not(.is-open):not(:disabled) .icon,
        &:hover:not(.is-open):not(:disabled) .icon-dropdown {
          fill: $datagrid-list-filter-hover-color !important;
        }

        &:disabled .icon {
          fill: $datagrid-list-filter-disabled-color !important;
        }

        &.is-open .icon {
          fill: $datagrid-list-filter-active-color !important;
        }
      }

      .datepicker,
      .dropdown {
        + .icon {
          fill: $datagrid-list-filter-icon-color !important;
        }

        &:hover:not(:disabled) + .icon {
          fill: $datagrid-list-filter-hover-color !important;
        }
      }
      // scss-lint:enable ImportantRule
    }
  }

  //Short and Medium Row height
  &.short-rowheight {

    //Set Container Heights for scrolling
    .datagrid-body {
      height: calc(100% - 25px);
    }

    &.has-toolbar {
      height: calc(100% - 45px);
    }

    &.paginated {
      height: calc(100% - 45px);
    }

    //Resize Drag Arrows
    .drag-target-arrows {
      font-size: 1.5em;
      height: $datagrid-short-header-height - 2;
      padding: 1px 0 0 5px;
      width: 14px;
    }

    //Resize the headers too
    .datagrid-column-wrapper,
    th {
      height: $datagrid-short-header-height;

      .handle,
      .is-draggable-target {
        @include font-size(22);
        height: $datagrid-short-header-height;
        padding: 0 0 0 2px;
      }

      .datagrid-checkbox {
        top: -1px;
        vertical-align: top;
      }
    }

    .datagrid-column-wrapper {
      padding: 0 10px;

      &.l-right-text {
        .datagrid-header-text {
          margin-top: 6px;
        }

        .sort-indicator {
          margin: 0 2px;
        }
      }

      .datagrid-checkbox {
        top: -13px;
      }
    }

    .sort-indicator {
      margin: 0 0 0 4px;

      .icon {
        height: 16px;
        width: 16px;
      }

      .sort-desc {
        margin-top: -1px;
      }
    }

    .is-filterable .datagrid-filter-wrapper {
      top: -4px;
    }

    .arrange-placeholder {
      height: $datagrid-short-row-height + 7;
    }
  }

  &.medium-rowheight {
    //Set Container Heights for scrolling
    .datagrid-body {
      height: calc(100% - 30px);
    }

    .drag-target-arrows {
      font-size: 1.6em;
      height: $datagrid-medium-header-height;
      padding: 2px 0 0 7px;
      width: 16px;
    }

    .datagrid-column-wrapper,
    th {
      height: $datagrid-medium-header-height;

      .handle,
      .is-draggable-target {
        font-size: 2.3em;
        height: $datagrid-medium-header-height;
        padding: 2px 0 0 7px;
        width: 16px;
      }
    }

    .datagrid-column-wrapper {
      padding: 0 15px;

      &.l-right-text {
        .datagrid-header-text {
          margin-top: 9px;
        }

        .sort-indicator {
          margin: 1px 5px 0;
        }
      }
    }

    .sort-indicator {
      margin: 1px 0 0 4px;
    }

    .is-filterable .datagrid-filter-wrapper {
      top: -6px;
    }

    .arrange-placeholder {
      height: $datagrid-medium-row-height + 10;
    }

  }

}

// Grid Body container
.datagrid-body {
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  width: 100%;

  table {
    empty-cells: show;
  }

}

// Grid Styling
.datagrid {
  @include font-size(14);
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0;
  //This lets us resize to lower than content width but it causes layout issues with default col sizes
  table-layout: fixed;
  width: 100%;

  //Row Height Feature
  &.medium-rowheight {
    tbody tr {
      line-height: $datagrid-medium-row-height;
      min-height: $datagrid-medium-row-height;

      td {

        .datagrid-row-heading {
          margin-top: 25px;
        }

        .btn-actions {
          top: 13px;
        }

        .datagrid-alert-icon:not(.icon-dirty) {
          top: 5px;
        }

        .hyperlink {
          margin-top: 5px;
          vertical-align: top;
        }

        .datagrid-drilldown {
          height: 25px;
          min-height: 25px;
          min-width: 25px;
          top: -2px;
          width: 25px;
        }

        //Editing
        // scss-lint:disable NestingDepth
        &.is-editing {

          .datepicker {
            margin-top: 12px;
            padding: 0 15px;
          }

          input {
            padding: 8px 0 7px;
            vertical-align: top;

            &.lookup {
              width: calc(100% - 21px);

              ~.trigger .icon {
                top: calc(50% - 6px);
                width: inherit;
              }
            }

            &.timepicker {
              margin-top: 11px;
              padding: 0 15px;
              width: calc(100% - 26px);

              ~.icon {
                left: auto;
                margin-left: -5px;
                top: calc(50% - 18px);
              }
            }

          }

          .dropdown {
            padding: 2px 15px;
          }

          div.dropdown + .icon,
          div.multiselect + .icon {
            top: 2px;
          }

        }
        // scss-lint:enable NestingDepth

        //validation
        &.error {
          &.datagrid-trigger-cell .icon-error {
            margin-top: auto;
          }

          .datagrid-cell-wrapper .icon-error {
            top: 10px;
          }
        }

      }
    }

    .datagrid-cell-wrapper {
      min-height: 39px;
      padding: 4px 15px 0;

      .icon-calendar {
        // scss-lint:disable ImportantRule
        left: 0 !important;
        // scss-lint:enable ImportantRule
      }

    }

    // scss-lint:disable ImportantRule
    .lookup-wrapper {
      padding-left: 14px !important;
      padding-top: 2px !important;

      .trigger {
        margin-left: -10px !important;
        margin-top: -5px !important;
      }
    }
    // scss-lint:enable ImportantRule

    .datagrid-drilldown {
      top: -1px;
    }

    .datagrid-trigger-cell .icon {
      left: -6px;
      top: 3px;
    }

  }

  &.short-rowheight {

    tbody tr {
      line-height: $datagrid-short-row-height;
      min-height: $datagrid-short-row-height + 6;

      &:last-child td {
        height: $datagrid-short-row-height + 1;
      }

      td {

        span {
          line-height: $datagrid-short-row-height;
        }

        .badge {
          line-height: 22px;
          top: 0;

          &::before {
            margin-top: 0;
          }
        }

        // scss-lint:disable ImportantRule
        .btn {
          top: -3px !important;
        }
        // scss-lint:disable ImportantRule

        .datagrid-expand-btn {
          height: 24px;
          margin-top: -4px;
          min-height: 24px;
          min-width: 24px;
          vertical-align: middle;
          width: 24px;

          .icon {
            position: relative;
            right: 4px;
            top: -5px;
          }
        }

        .datagrid-drilldown {
          height: 22px;
          min-height: 20px;
          min-width: 22px;
          top: -2px;
          width: 22px;
        }

        .datagrid-alert-icon:not(.icon-dirty) {
          // scss-lint:disable ImportantRule
          height: 19px;
          margin-left: 0 !important;
          top: 0 !important;
          width: 18px;
          // scss-lint:enable ImportantRule
        }

        .tag {
          height: 22px;
          line-height: 24px;
          margin-top: 0;
          padding: 0 10px 4px;
        }

        .hyperlink {
          line-height: 1.4rem;
          margin-top: 3px;
          padding-top: 0;
          vertical-align: top;
        }

        .row-btn {
          height: 26px;
          min-width: 80px;
          top: -10px;
          vertical-align: middle;

          span {
            line-height: 26px;
          }

          &.btn-icon {
            height: 20px;
            margin-bottom: -20px;
            min-width: 20px;
          }
        }

        a.row-btn {
          // scss-lint:disable ImportantRule
          top: -3px;
          // scss-lint:disable ImportantRule

          .icon {
            margin: 0;
          }
        }

        &.datagrid-trigger-cell {
          .icon {
            height: 16px;
            margin-bottom: -1px;
            top: 3px;

            // scss-lint:disable NestingDepth
            &.icon-calendar {
              height: 15px;
              left: -5px;
              top: 1px;
            }

            &.icon-clock {
              left: -8px;
              top: 1px;
            }
            // scss-lint:enable NestingDepth
          }

          .dropdown-trigger + .icon {
            left: -3px;
          }
        }

        //Editing
        // scss-lint:disable NestingDepth
        &.is-editing {

          .datepicker {
            margin-top: 6px;
            padding: 0 10px;

            + .icon {
              height: 15px;
              top: -2px;
            }
          }

          .timepicker {
            margin-top: 6px;
            padding: 0 10px;

            + .icon {
              margin-left: -2px;
              top: -4px;
            }
          }

          input {
            padding: 2px 0 0;
            vertical-align: top;
          }

          .dropdown {
            padding: 2px 20px;
          }

          .lookup-wrapper {
            padding-left: 10px;

            .trigger {
              margin-left: -18px;
              top: -7px;
            }
          }

        }
        // scss-lint:enable NestingDepth

        //validation
        &.error {
          &.datagrid-trigger-cell .icon-error {
            margin-top: auto;
          }

          .datagrid-cell-wrapper .icon-error {
            height: 16px;
            top: 6px;
          }
        }

      }
    }

    .datagrid-cell-wrapper {
      padding: 3px 10px 0;
    }

    .icon-search-list {
      // scss-lint:disable ImportantRule
      left: -9px !important;
      // scss-lint:enable ImportantRule
    }

    .icon-error {
      // scss-lint:disable ImportantRule
      margin-left: -29px !important;
      // scss-lint:enable ImportantRule
    }

  }

  // Table Rows
  tbody tr {
    line-height: $datagrid-row-height;
    min-height: $datagrid-row-height + 6;

    &.is-active-row {
      outline: 1px solid $primary-color;
      outline-offset: -1px;

      td {
        border-bottom-color: transparent;
      }
    }

    //Error validation
    &.error td {
      background-color: $alert-bg-color;
      //border-color: $alert-red; - Use for focus state
    }

    .is-editor {
      ul,
      ol {
        list-style: inherit;
        margin: 5px auto 5px 15px;
      }

      ol {
        list-style: decimal;
      }
    }

    // Datagrid Reorder
    .datagrid-reorder-icon {
      cursor: move;

      .icon {
        fill: $tertiary-btn-color;
        vertical-align: middle;

        &:hover {
          fill: $tertiary-btn-hover-color;
        }

        &:active {
          fill: $tertiary-btn-active-color;
        }
      }
    }

    &.arrange-dragging {
      td {
        // scss-lint:disable ImportantRule
        background-color: $datagrid-cell-bg-color !important;
        border-bottom: 1px solid $datagrid-cell-border-color;
        border-top: 1px solid $datagrid-cell-border-color;
        // scss-lint:enable ImportantRule

        &:first-child {
          border-left: 1px solid $datagrid-cell-border-color;
        }
      }
    }

    &.arrange-placeholder {
      height: $datagrid-row-height + 7;

      td {
        background-color: $body-bg-color;
      }
    }

    //Tree - Collapsed rows
    &.is-hidden {
      display: none;
    }

    // Hover States
    &:not(.error):not(.datagrid-expandable-row):hover td:not(.is-editing):not(.error) {
      background-color: $datagrid-row-hover-color;

      .is-readonly {
        background-color: $datagrid-row-hover-color;
      }
    }

    &.is-selected:not(.hide-selected-color) td:not(.is-editing),
    &.is-selected:not(.hide-selected-color) td:not(.is-editing) .datagrid-cell-wrapper {
      background-color: $datagrid-row-selected-color;
    }

    &.is-rowactivated td:not(.is-editing),
    &.is-rowactivated td:not(.is-editing) .datagrid-cell-wrapper {
      background-color: $datagrid-row-selected-color;

      .btn.row-btn {
        background-color: $primary-btn-bg-color;
        border: 1px solid  $primary-btn-bg-color;
        color: $primary-btn-color;

        &:hover {
          background-color: $primary-btn-hover-bg-color;
        }

        &:active {
          background-color: $primary-btn-active-bg-color;
        }
      }
    }

    &.is-selected:not(.hide-selected-color) .is-readonly:not(.is-editing) .datagrid-cell-wrapper {
      background-color: $datagrid-row-selected-color-dark;

      span {
        // scss-lint:disable ImportantRule
        background-color: transparent !important;
        // scss-lint:enable ImportantRule
      }
    }

    &.is-active-row,
    &.is-clickable {
      cursor: pointer;

      td:focus .datagrid-cell-wrapper {
        border-color: transparent;
      }
    }

    .icon.plus-minus::before,
    .icon.plus-minus::after {
      background-color: $tertiary-btn-color;
    }

    &.alt-shading {
      td {
        background-color: $datagrid-alternate-bg-color;
      }
    }

    &:hover.alt-shading {
      td {
        background-color: $datagrid-alternate-row-hover-color;
      }
    }

    .btn-icon span {
      color: transparent;
    }

    .datagrid-alert-text {
      display: inline-block;
      line-height: 25px;
      padding-left: 10px;
      text-align: left;
      width: inherit;
    }

    .datagrid-alert-icon {
      display: inline-block;
      height: 20px;
      top: 10px;

      &.icon-dirty {
        height: 16px;
        top: 0;
        vertical-align: middle;
        width: 16px;
      }
    }

    .badge {
      color: $font-color-extrahighcontrast;
      line-height: 24px;
      margin-top: 0;
      top: 0;

      &[class*='azure'] {
        color: $inverse-color;
      }

      &.info .audible {
        background-color: $graphite05;
      }
    }

    // Fix: Not sure why, but ie9 need this to overwrite
    // so the rule is more strict
    // as ".datagrid tr .azure07.tag" insted of ".azure07.tag"
    @each $name in $color-names {
      $i: index($color-names, $name);
      $color: nth($color-vars, $i);

      .#{$name}.tag {
        background: $color;
      }
    }

    .tag {

      &[class*='azure'] {
        color: $white;
      }
    }

    .row-btn {
      line-height: normal;
      padding: 0 30px;
      position: relative;
      top: -3px;
    }

    a.row-btn {
      height: 34px;
      min-height: 34px;
      min-width: 34px;
      padding: 0;
      vertical-align: middle;
      width: 34px;

      .icon {
        margin: 7px 0 0;
      }
    }

    .datagrid-cell-wrapper {
      border: 1px solid transparent;
      display: block;
      min-height: inherit;
      overflow: hidden;
      padding: 4px 20px 0;
    }

    .icon-favorite {
      position: relative;
      top: 3px;
    }

    .datagrid-img {
      display: block;
      height: 38px;
      width: 38px;
    }
  }

  //Table Body
  td {
    background-color: $datagrid-cell-bg-color;
    border-bottom: 1px solid $datagrid-cell-border-color;
    border-right: 1px solid $datagrid-cell-border-color;
    color: $datagrid-data-color;
    height: inherit;
    line-height: inherit;
    min-height: inherit;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus ,
    &.is-focused {
      .datagrid-cell-wrapper {
        border: 1px solid $primary-color;
      }
    }

    // Validation Cell Styles
    &.error {
      background-color: $alert-bg-color;

      .datagrid-cell-wrapper {
        position: relative;

        .icon-error {
          left: 100%;
          margin-left: -30px;
          position: absolute;
          top: 15px;
          visibility: visible;
        }
      }

      &:focus .datagrid-cell-wrapper {
        border-color: $alert-red;
      }

      &.l-right-text {
        .datagrid-cell-wrapper .icon-error {
          left: -100%;
          margin-left: 0;
          margin-right: -15px;
        }
      }
    }

    &.is-hidden {
      display: none;
    }

    .hyperlink {
      @include font-size(14);
      color: $hyperlink-color;
      display: inline-block;
      margin-top: -4px;
      overflow: hidden;
      //text-overflow: ellipsis;
      vertical-align: middle;

      &:focus {
        outline: none;
      }
    }

    //Keyword Search Results
    .search-mode {
      i {
        font-style: normal;
        font-weight: bold;
      }
    }

    //Readonly
    &.is-readonly {
      background-color: $datagrid-cell-readonly-bg-color;
    }

    //Cell Contents but not outer cell is readonly
    &.is-cell-readonly {
      .hyperlink {
        color: $hyperlink-disabled-color;

        &:hover,
        &:focus {
          border-bottom: 0;
          outline: none;
        }
      }
    }

    //Inline Editting
    &.is-editing {
      background-color: $panel-bg-color;
      position: relative;

      .datagrid-cell-wrapper {
        border: 1px solid $primary-color;
        left: 0;
        position: absolute;
        text-overflow: initial;
        top: 0;
        width: 100%;
      }

      .lookup-wrapper {
        margin-bottom: 0;
        padding-left: 19px;
        padding-top: 4px;
        vertical-align: top;
        width: 100%;

        .trigger {
          margin-left: -21px;
          margin-top: 2px;
        }
      }

      .checkbox-label::before {
        margin-left: -25px;
      }

      .checkbox-label::after {
        left: 9px;
      }

      //Normal Input
      input {
        border: 1px solid transparent;
        outline: none;
        padding: 12px 0 8px;
        vertical-align: top;
        width: 100%;

        &.lookup {
          width: calc(100% - 21px);

          ~.trigger .icon {
            top: calc(50% - 6px);
            width: inherit;
          }
        }

        &.timepicker {
          margin-top: 16px;
          padding: 0 19px;
          width: calc(100% - 26px);

          ~.icon {
            left: auto;
            margin-left: -5px;
            top: calc(50% - 16px);
          }
        }

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      //Drop Down
      .dropdown {
        border: medium none;
        line-height: inherit;
        padding: 0 20px;
      }

      //Text Area
      textarea {
        border: 0;
        padding: 5px 0 0;
        width: inherit;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      .icon {
        visibility: visible;
      }

      //Date Picker
      .datepicker {
        border: 0;
        margin-top: 17px;
        padding: 0 20px;
        width: calc(100% - 28px);

        ~ .icon {
          left: auto;
          margin-left: 3px;
          top: calc(50% - 15px);
        }

        &:disabled .icon {
          fill: $slate05;
        }
      }
    }

    &.l-right-text {
      .datagrid-cell-wrapper {
        text-align: right;
      }
    }

    &.l-center-text {
      .datagrid-cell-wrapper {
        text-align: center;
      }
    }

    &.text-ellipsis {
      .datagrid-cell-wrapper {
        cursor: default;
        text-overflow: ellipsis;
      }
    }

    span {

      &.exclamation {
        line-height: 44px;
      }
    }

  }

}

//Grid Headers
.datagrid-header {
  background-color: $datagrid-header-bg-color;
  overflow: hidden;

  table {
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    table-layout: fixed;
    width: 100%;
  }

  // Table Headers
  th {
    background-color: $datagrid-header-bg-color;
    border-right: 1px solid $datagrid-header-border-color;
    height: $datagrid-header-height;
    overflow: hidden;
    position: relative;
    text-align: left;

    &.l-center-text {
      text-align: center;

      .datagrid-header-text {
        text-align: center;
        width: auto;
      }

      .datagrid-filter-wrapper .btn-filter {
        left: 18px;
      }
    }

    &.is-hidden {
      display: none;
    }

    &:last-child {
      border-right: 0;
    }

    .datagrid-header-text {
      @include font-size(12);
      @include no-select();
      color: $datagrid-header-color;
      direction: ltr;
      display: table-cell;
      font-weight: bold;
      text-align: left;
      vertical-align: middle;
      white-space: nowrap;

      &.required::after {
        @include required-indicator();
        color: $datagrid-required-icon-color;
      }
    }

    //Checkboxes
    .datagrid-checkbox {
      top: -12px;

      &::before {
        border: 1px solid $datagrid-header-checkbox-border-color;
      }

      &.is-checked::before {
        border: 1px solid $checkbox-color;
      }
    }


    // Centering Text
    .datagrid-column-wrapper.l-center-text {
      width: 100%;

      .sort-indicator {
        display: none;
      }
    }

    &.is-active {
      background-color: $datagrid-header-active-color;
    }

    //Editing and Focus State
    &:focus {
      background-color: $datagrid-header-focus-bg-color;
      color: $datagrid-header-color;
      outline: 1px solid $datagrid-header-focus-border-color;
      outline-offset: -1px;

      .icon {
        fill: $datagrid-sort-icon-color;
        opacity: 1;
      }

      &.is-sorted-asc .sort-asc .icon,
      &.is-sorted-desc .sort-desc .icon {
        fill: $datagrid-sort-icon-sorted-color;
      }
    }

    &.is-sortable:hover {
      background-color: $datagrid-header-hover-color;
      cursor: pointer;

      .icon {
        opacity: 1;
      }
    }

  }

  //Grouped Headers
  thead tr + tr th {
    border-top: 1px solid $datagrid-header-border-color;
  }

  .datagrid-header-groups {
    th {
      background-color: $datagrid-header-active-color;
    }
  }

  //Column Resize
  .datagrid-column-wrapper {
    display: table;
    height: 40px;
    padding: 0 20px;

    &.l-right-text {
      direction: rtl;
      float: right;

      .sort-indicator {
        margin: 5px 5px 0;
      }

    }
  }

  //Datagrid filterrow
  .is-filterable {
    th {
      height: 59px;

      .datagrid-column-wrapper {
        position: relative;
        top: -2px;

        &.l-right-text {

          + .datagrid-filter-wrapper {
            clear: both;
          }
        }
      }

    }

    .datagrid-filter-wrapper {
      display: block;
      line-height: 30px;
      max-height: 22px;
      max-width: calc(100% - 20px);
      position: relative;
      top: -9px;
      width: calc(100% - 20px);

      input {
        background-color: transparent;
        border-color: $datagrid-filter-border-color;
        color: $datagrid-filter-color;
        height: 24px;
        left: 12px;
        padding: 3px 0 2px 5px;
        position: relative;
        vertical-align: top;
        width: calc(100% - 44px);

        &:focus {
          border-color: $datagrid-filter-focus-color;
        }

        &:hover:not(:disabled):not(:focus) {
          border-color: $datagrid-filter-hover-border-color;
        }

        &:disabled {
          border-color: $datagrid-filter-disabled-color;
        }
      }

      [data-mask-mode="number"] {
        padding: 3px 7px 2px 0;
      }

      .dropdown {
        background-color: transparent;
        color: $datagrid-filter-color;
        height: 24px;
        line-height: 24px;
        padding: 0 0 0 5px;
        -webkit-text-fill-color: $datagrid-filter-color;
        vertical-align: top;
        width: calc(100% - 5px);

        &:hover {
          // scss-lint:disable ImportantRule
          border-color: $datagrid-filter-hover-border-color !important;
          // scss-lint:enable ImportantRule

          + .icon {
            // scss-lint:disable ImportantRule
            fill: $datagrid-filter-hover-color !important;
            // scss-lint:enable ImportantRule
          }
        }

        &div:hover:not(:disabled) {
          // scss-lint:disable ImportantRule
          border-color: $datagrid-filter-hover-border-color !important;
          // scss-lint:enable ImportantRule
        }

        + .icon {
          right: 4px;
          top: -2px;
        }

        &.is-disabled {
          border-color: $datagrid-filter-disabled-color;

          + .icon {
            fill: $datagrid-filter-disabled-color;
          }
        }

        > span {
          color: inherit;
          -webkit-text-fill-color: inherit;
          width: calc(100% - 16px);
        }

      }

      .dropdown-wrapper {
        background-color: transparent;
        display: inline;
        left: 13px;
        vertical-align: top;
        width: calc(100% - 44px);

        .icon {
          height: 16px;
          vertical-align: top;
          width: 16px;
        }

        div.dropdown {
          border: 1px solid $datagrid-filter-border-color;

          &:hover {
            border: 1px solid $datagrid-filter-hover-border-color;
          }
        }
      }

      .datepicker,
      .dropdown {
        + .icon {
          fill: $datagrid-filter-icon-color;
          height: 13px;
          margin-left: -9px;
          top: -3px;
          width: 13px;
        }

        &:hover:not(:disabled) + .icon {
          // scss-lint:disable ImportantRule
          fill: $datagrid-filter-hover-color !important;
          // scss-lint:enable ImportantRule
        }

        &:disabled + .icon {
          // scss-lint:disable ImportantRule
          fill: $datagrid-list-filter-disabled-color !important;
          // scss-lint:enable ImportantRule
          opacity: .6;
        }

      }

      .btn-filter {
        height: 21px;
        left: 15px;
        min-width: 34px;
        padding-top: 3px;
        top: 1px;
        vertical-align: top;
        width: 34px;

        &:disabled {
          opacity: .6;

          .icon {
            fill: $datagrid-filter-disabled-color;
          }
        }

        .icon-dropdown {
          // scss-lint:disable ImportantRule
          fill: $datagrid-filter-icon-color !important;
          // scss-lint:enable ImportantRule
          height: 14px;
          left: -7px;
          position: relative;
          vertical-align: top;
          width: 14px;

          + .icon-dropdown {
            left: -5px;
          }
        }

        &.is-open .icon {
          // scss-lint:disable ImportantRule
          fill: $datagrid-filter-active-color !important;
          // scss-lint:enable ImportantRule
        }

        &:hover:not(.is-open):not(:disabled) {
          .icon {
            // scss-lint:disable ImportantRule
            fill: $datagrid-filter-hover-color !important;
            // scss-lint:enable ImportantRule
          }
        }

        &:focus:not(.hide-focus) {
          border: 1px solid $datagrid-filter-focus-color;

          .icon {
            // scss-lint:disable ImportantRule
            fill: $datagrid-filter-focus-color !important;
            // scss-lint:enable ImportantRule
          }
        }
      }
    }
  }

}

.datagrid-rowgroup-header {

  //Animating while closing
  &.is-animating {
    opacity: .2;
  }

  td {
    background-color: $datagrid-rowgroup-header;
    border: 1px solid transparent;
    border-bottom: 1px solid $datagrid-cell-border-color;
    border-right: 1px solid $datagrid-cell-border-color;
    padding: 0 20px;

    &:focus ,
    &.is-focused {
      border: 1px solid $primary-color;
    }

    span {
      color: $datagrid-rowgroup-color;
      font-weight: bold;
    }

    .icon {
      fill: $datagrid-rowgroup-color;
    }
  }
}

// Sorting
.sort-indicator {
  display: inline-block;
  margin: 5px 1px 0;
  vertical-align: top;

  .icon {
    @include transition(all 250ms ease);
    fill: $datagrid-sort-icon-color;
    height: 18px;
    opacity: 0;
    width: 18px;
  }

  .sort-asc > .icon {
    @include css3(transform, rotate(180deg));
    left: -2px;
  }

  span {
    display: block;
    height: 10px;
    margin-left: 5px;
  }
}

.is-sorted-asc {
  .sort-indicator .icon {
    opacity: 1;
  }

  .sort-asc .icon {
    fill: $datagrid-sort-icon-sorted-color;
  }
}

.is-sorted-desc {
  .sort-indicator .icon {
    opacity: 1;
  }

  .sort-desc .icon {
    fill: $datagrid-sort-icon-sorted-color;
  }
}

// Cell Template Styling
.datagrid-row-heading {
  @include font-size(16);
  @include ellipsis();
  color: $datagrid-cell-color;
  line-height: 22px;
  padding-top: 6px;
}

.datagrid-row-subheading {
  @include font-size(14);
  color: $datagrid-cell-color;
  line-height: 22px;
  margin-top: -4px;
}

.datagrid-row-micro {
  @include font-size(12);
  color: $datagrid-cell-color;
  line-height: 2rem;
}

.datagrid-drilldown {
  background-color: transparent;
  border-radius: 50%;
  margin: 0 auto;

  .icon {
    fill: $font-color;
    height: 20px;
    width: 20px;
  }
}

td .btn-actions {
  background-color: transparent;
}

.datagrid-multiline-text {
  display: block;
  height: inherit;
  line-height: 22px;
  margin: 0 -20px;
  overflow: auto;
  padding: 5px 20px;
  white-space: pre-line;
  word-wrap: break-word;
}

//Grid Checkboxes
.datagrid-checkbox {
  cursor: pointer;
  display: inline-block;
  left: -7px;
  position: relative;
  top: -14px;

  &::before {
    @include checkbox-unchecked-before-style;
    margin-left: 0;
    top: -4px;
  }

  &.is-checked::before {
    @include checkbox-checked-before-style;
  }

  &.is-checked::after {
    @include checkbox-checked-after-style;
    @include css3(transform-origin, -11px top 0);
    @include checkbox-animation;
    left: 5px;
    margin-top: 0;
    top: 1px;
  }

  &.is-partial {
    @include no-animation();
  }

  &.is-partial::after {
    @include  checkbox-partial-after-style;
    @include no-animation();
    margin-left: -2px;
    margin-top: -4px;
    top: 2px;
  }

}

[aria-readonly="true"] {
  .datagrid-checkbox {
    cursor: default;
  }
}

//Datagrid Dropdown Formatter
.datagrid-trigger-cell {
  &:not(.is-readonly) {
    cursor: pointer;
  }

  .icon {
    fill: $trigger-icon-fill-color;
    left: 4px;
    top: 5px;
    visibility: hidden;

    &.icon-search-list {
      left: -2px;
    }
  }

  .icon-clock {
    left: -1px;
  }

  .icon-calendar {
    height: 16px;
    left: 5px;
    top: 3px;
    width: 16px;
  }

  .trigger {
    color: $datagrid-cell-color;
    display: inline-block;
    text-align: left;
    width: calc(100% - 10px);
  }

  &:not(.is-readonly):hover,
  &:not(.is-readonly):focus {
    .icon {
      visibility: visible;
    }
  }

  //Datagrid Dropdown Editor
  &.is-editing {
    padding: 0;

    .datagrid-cell-wrapper {
      padding: 0;
    }

    .dropdown-wrapper {
      height: inherit;
      margin-bottom: 0;
      width: inherit;
    }
  }
}

.datagrid-checkbox-wrapper {
  min-height: 12px;
  position: relative;
}

//Grid Expand Button
.datagrid-expand-btn {
  background-color: transparent;
  height: 32px;
  left: -10px;
  min-height: 32px;
  min-width: 32px;
  vertical-align: middle;
  width: 32px;

  span:not(.icon) {
    color: transparent;
  }

  + span {
    color: $datagrid-cell-color;
    margin-left: -10px;
    position: relative;
  }

  .icon.plus-minus::before,
  .icon.plus-minus::after {
    left: 10px;
    top: 14px;
    width: 14px;
  }

  &:hover {
    .icon.plus-minus::before,
    .icon.plus-minus::after {
      background-color: $tertiary-btn-hover-color;
    }

    span {
      color: transparent;
    }
  }

}

.ie9 .datagrid-expand-btn {
  top: 5px;
}

//Grid Expandable Area
.datagrid-expandable-row {
  td {
    border-bottom: 0;
    height: auto;
    line-height: normal;
  }

  &:not(.is-expanded) {
    display: none;
  }

  .datagrid-wrapped-text {
    display: table;
    line-height: 1.4em;
    margin-bottom: 10px;
    max-width: calc(100% - 30px);
    white-space: normal;
  }

  .datagrid-row-detail {
    border-bottom: 1px solid $datagrid-cell-border-color;
    height: 0;
    margin: -1px -20px 0;
    padding: 0 20px;
  }

  .datagrid-row-detail-padding {
    overflow: hidden;
    padding: 30px;
  }

  .datagrid-row-micro-text {
    @include font-size(12);
    color: $font-color-lowcontrast;
  }

  .datagrid-cell-layout {
    display: table-cell;
    padding: 0 30px 0 0;
    vertical-align: top;
  }
}

.datagrid-result-count {
  @include font-size(14);
  display: inline-block;
  margin-top: -4px;
  // scss-lint:disable ImportantRule
  vertical-align: middle !important;
  // scss-lint:enable ImportantRule
}

.ie-edge {
  .datagrid-container.has-vertical-scroll.is-windows .datagrid-header {
    margin-right: 12px;
  }
}

.is-firefox {
  .datagrid-result-count {
    margin-top: 0;
  }

  .short-rowheight th .datagrid-checkbox {
    top: -2px;
  }

  .datagrid {
    td.is-editing {

      .datepicker {
        ~ .icon {
          top: calc(50% - 16px);
        }
      }

      .timepicker {
        margin-top: 17px;

        ~ .icon {
          top: calc(50% - 16px);
        }
      }

    }

    &.medium-rowheight {
      td.is-editing {
        // scss-lint:disable NestingDepth
        .lookup-wrapper {
          margin-top: 4px;

          .lookup ~ .trigger .icon {
            top: calc(50% - 9px);
          }
        }
        // scss-lint:enable NestingDepth

        .datepicker {
          margin-top: 13px;

          ~ .icon {
            top: calc(50% - 15px);
          }
        }

        .timepicker {
          margin-top: 12px;

          ~ .icon {
            top: calc(50% - 16px);
          }
        }
      }
    }

    &.short-rowheight {
      td.is-editing {
        // scss-lint:disable NestingDepth
        .lookup-wrapper {
          margin-top: 4px;

          .lookup ~ .trigger .icon {
            top: calc(50% - 7px);
          }
        }
        // scss-lint:enable NestingDepth

        .datepicker {
          margin-top: 8px;

          ~ .icon {
            top: calc(50% - 14px);
          }
        }

        .timepicker {
          margin-top: 7px;

          ~ .icon {
            top: calc(50% - 15px);
          }
        }

      }
    }

  }
}

.datagrid-row-count {
  line-height: 10px;
}

//Inline Editing - Dropdown
.datagrid-dropdown-list {
  border-radius: 0 0 3px 3px;
  margin-left: -1px;
  margin-top: -1px;

  &.is-editing {
    margin-top: -2.5px;
  }

  input {
    height: 49px;
    text-indent: 10px;
    // scss-lint:disable ImportantRule
    width: 100% !important;
    // scss-lint:enable ImportantRule
  }

  &.short-rowheight {
    input {
      height: 30px;
      padding-top: 9px;
      text-indent: 0;
      // scss-lint:disable ImportantRule
      width: 100% !important;
      // scss-lint:enable ImportantRule
    }

    .trigger .icon {
      height: 16px;
      left: 2px;
      margin-top: -1px;
      top: 8px;
    }
  }

  &.medium-rowheight {
    input {
      height: 40px;
      padding-top: 10px;
      text-indent: 5px;
      // scss-lint:disable ImportantRule
      width: 100% !important;
      // scss-lint:enable ImportantRule
    }

    .trigger .icon {
      left: -1px;
      margin-top: 4px;
    }
  }

  .icon {
    fill: $graphite10;
    margin-top: 9px;
    right: 2px;

    &.search {
      margin-top: 14px;
    }
  }

  li a {
    padding-left: 10px;
  }
}

//Inline Editing Date Picker
.is-focused .trigger + .icon {
  visibility: visible;
}

// scss-lint:disable ImportantRule
//RTL Styles
html[dir='rtl'] {
  .datagrid {
    //Restore right Border
    th:last-child {
      border-right: 1px solid $datagrid-header-border-color;
    }

    td:last-child {
      border-right: 1px solid $datagrid-cell-border-color;
    }

    //Push sort indicator over
    .sort-indicator {
      margin: 6px 3px 0;
    }
  }

  //Datagrid Dropdown Formatter
  .datagrid-trigger-cell {
    .icon-calendar {
      left: auto;
      right: 3px;
    }

    .trigger {
      text-align: right;
    }
  }

  //Grid Checkboxes
  .datagrid-checkbox {
    left: auto;
    right: -10px;

    &::before {
      margin-left: inherit;
      margin-right: 0;
    }

    &.is-checked::after {
      left: auto;
      right: 5px;
    }

    &.is-partial::after {
      margin-left: inherit;
      margin-right: -3px;
    }
  }

  //Filter Row
  .datagrid-filter-wrapper {
    .btn-filter {
      left: 0 !important;
      margin-left: 0;
      width: 37px !important;

      .icon-dropdown {
        margin-left: 0;
        padding-right: 0;
        right: -7px;
      }
    }

    input {
      left: 0 !important;
      right: 5px;
    }

    .dropdown-wrapper {
      left: 0 !important;
      right: 6px;
    }

    .dropdown + .icon {
      margin-left: 0 !important;
      margin-right: -9px;
    }

    .datepicker + .icon {
      margin-left: 0;
      margin-right: -15px;
    }
  }

  th.l-center-text .btn-filter {
    left: 0;
    right: 9px;
  }

  tr .datagrid-alert-text {
    padding-left: 0;
    padding-right: 10px;
  }
}
// scss-lint:enable ImportantRule

// Reorder Column styles
.has-draggable-columns {
  .drag-target-arrows {
    display: none;
    font-size: 2.8em;
    height: $datagrid-header-height;
    margin: 0;
    padding: 4px 0 0 7px;
    position: fixed;
    top: 0;
    z-index: 10;

    &.is-over {
      display: inline-block;
    }

    &::before,
    &::after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: '';
      display: inline-block;
      height: 0;
      left: -6px;
      position: absolute;
      width: 0;
    }

    &::before {
      border-top: 5px solid $datagrid-header-hover-color;
      top: -9px;
    }

    &::after {
      border-bottom: 5px solid $datagrid-header-hover-color;
      bottom: -9px;
    }

  }

  th {
    .handle,
    .is-draggable-target {
      display: none;
      font-size: 2.6em;
      height: $datagrid-header-height + 2;
      left: 0;
      margin: 0;
      padding: 5px 0 0 6px;
      position: absolute;
      top: 0;

      &.is-draggable-target {
        &.last {
          left: auto;
          right: -8px;
        }

        &.is-over {
          display: inline-block;
        }
      }

      &.handle {
        color: $datagrid-sort-icon-color;
        cursor: move;
        width: 18px;
        z-index: 1;

        &:hover {
          color: $datagrid-header-color;
        }
      }
    }

    &.is-dragging {
      background-color: lighten($datagrid-header-bg-color, 30%);
    }

    &.is-dragging-clone {
      max-width: 125px;
      // scss-lint:disable ImportantRule
      min-width: 100px !important;
      // scss-lint:enable ImportantRule
      position: fixed;
      z-index: 2;

      .datagrid-header-text {
        @include ellipsis();
        @include no-select();
      }

      .sort-indicator {
        opacity: 0;
      }
    }

    &:hover,
    &.is-dragging,
    &.is-dragging-clone {
      .handle {
        display: inline-block;
      }
    }
  }

  &.has-filterable-columns {
    .is-draggable-target,
    .drag-target-arrows {
      height: $datagrid-filterable-header-height;
    }
  }

}

// Firefox on Mac only
.is-mac.is-firefox {
  .has-draggable-columns {

    th {
      .handle {
        padding: 8px 0 0 7px;
      }
    }

    &.short-rowheight {
      th {
        .handle {
          padding: 4px 0 0 2px;
        }
      }
    }

    &.medium-rowheight {
      th {
        .handle {
          padding: 5px 0 0 5px;
        }
      }
    }

  }

  .datagrid tr .tag {
    line-height: 24px;
  }
}

//Contextual toolbar
.datagrid-contextual-toolbar.contextual-toolbar {
  margin-left: 1px;
  margin-right: 1px;
  padding: 0 20px;

  .buttonset {
    height: 40px;
    padding-left: 2px;
  }

  .title {
    padding-top: 3px;
  }
}

//Columns Personalization
.datagrid-columns-dialog {
  .label-text {
    @include font-size(14);
  }

  label.inline {
    line-height: 30px;
  }

  .label {
    margin: 0;
  }

  li {
    height: 30px;
    padding: 0 15px;

    &:first-child {
      margin-top: 3px;
    }
  }

  .listview-search {
    width: 360px;
  }

}

//Filter Dropdown Style
.datagrid-filter-dropdown {
  .dropdown-search {
    height: 28px;
    padding: 4px 32px 1px 7px;
  }

  .trigger .icon {
    height: 24px;
    left: 4px;
    width: 16px;
  }

  .dropdown-list {
    li {
      min-height: 28px;
    }

    ul {
      line-height: 28px;
      text-indent: 7px;
    }

    .icon.search {
      height: 14px;
      margin-top: 6px;
      width: 16px;
    }
  }
}

//Summary totals
.datagrid-summary-row {
  td {
    border-right-color: transparent;
  }

  .datagrid-summary-totals {
    color: font-color-lowcontrast;
    float: left;
  }
}

.card,
.widget {

  .datagrid-container.short-rowheight.paginated {
    height: 100%;
  }

  &.has-datagrid {

    .pager-prev,
    .pager-next {
      position: static;
    }

    .pager-count {
      vertical-align: middle;
    }

    .card-footer {
      border-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

}

//Modal Lists
.modal table {
  width: auto;
}

// Popup Adjustments
.editor-popup {
  border-radius: 2px;
  max-width: inherit;
  padding: 0;
  z-index: 1020;

  .arrow {
    display: none;
  }

  .tooltip-content {
    padding: 0;

    .editor-toolbar {
      border-width: 0 0 1px;
      margin: 0;
    }

    .editor {
      border: 0;
      height: inherit;
      margin: 0;
      min-height: inherit;

      ul,
      ol {
        margin: 5px auto 5px 15px;
      }

      li {
        list-style: inherit;
      }
    }
  }
}

.content-tooltip {
  &.popover.alternate {
    @include font-size(12);
    background-color: $datagrid-cell-bg-color;
    padding-bottom: inherit;

    &.top .arrow::after {
      border-top-color: $datagrid-cell-bg-color;
    }

    &.bottom .arrow::after {
      border-bottom-color: $datagrid-cell-bg-color;
    }

    &.right .arrow::after {
      border-right-color: $datagrid-cell-bg-color;
    }

    &.left .arrow::after {
      border-left-color: $datagrid-cell-bg-color;
    }

    .tooltip-content {
      padding: 15px;
    }
  }
}

//Ios Hacks
.ios .datagrid:not(.short-rowheight):not(.medium-rowheight) {
  .icon-error,
  .icon-confirm,
  .icon-pending {
    // scss-lint:disable ImportantRule
    top: 15px !important;
    // scss-lint:enable ImportantRule
  }
}

// Safari Hacks
.is-safari {
  a.btn-icon.row-btn {
    top: -4px;
  }
}

.ie {
  .datagrid-body {
    tbody tr.is-active-row {
      outline: 0;

      td {
        .datagrid-cell-wrapper {
          border-color: $primary-color;
          border-style: solid;
          border-width: 1px 0;
        }

        &:first-child {
          .datagrid-cell-wrapper {
            border-width: 1px 0 1px 1px;
          }
        }

        &:last-child {
          .datagrid-cell-wrapper {
            border-width: 1px 1px 1px 0;
          }
        }
      }
    }
  }
}
