//* Date Picker
//================================================== *

.datepicker {
  width: 150px;

  + .icon {
    cursor: pointer;
    fill: #999999;
    height: 18px;
    margin-left: -30px;
    margin-top: 7px;
    position: absolute;

    &:hover {
      fill: #666666;
    }
  }

  &:disabled {
    + .icon {
      fill: #c3c3c3;
    }
  }
}

.calendar {
  background-color: $inverse-color;
  display: inline-block;
  min-height: 300px;
  min-width: 300px;
  text-align: center;
  vertical-align: middle;
  width: auto;

  tr {
    text-align: center;
  }

  // Header
  thead {
    th {
      color: $font-color-dark;
      font-family: $font-semibold;
      @include rem(font-size, 1.2rem);
      margin: 20px;
      text-transform: uppercase;
      width: 35px;
    }
  }

  // Cells / Days
  td {
    border: 1px solid transparent;
    border-radius: 35px;
    color: $font-color-dark;
    cursor: pointer;
    font-family: $font-regular;
    @include rem(font-size, 1.2rem);
    height: 35px;
    padding: 10px;
    transition: .2s background-color ease;
    width: 35px;

    //Other month color
    &.alt {
      color: $datepicker-alt-month-color;
    }

    //Today
    &.today {
      border-color: $datepicker-today-color;
      color: $datepicker-today-color;
      font-family: $font-semibold;
    }

    //Selected
    &:hover {
      background-color: $datepicker-hover-bg-color;
    }

    &.selected,
    &.selected:hover {
      background-color: $datepicker-selected-bg-color;
      color: $datepicker-selected-color;
      font-family: $font-semibold;
    }

  }

  .calendar-table {
    margin: 17px auto 0;
    padding: 0 10px;
    width: 100%;
  }
}

// Header Area of Calendar
.calendar-header {
  border-bottom: 1px solid #eeeeee;
  height: 74px;
  line-height: 85px;
  position: relative;
  text-align: center;

  button {
    border: 1px solid transparent;
    border-radius: 2px;
    color: transparent;
    display: block;
    height: 30px;
    left: 20px;
    margin-top: 11px;
    position: absolute;
    top: 13px;
    transition: border-color .3s ease;
    width: 30px;

    &:after {
      border-left: 2px solid #999999;
      border-top: 2px solid #999999;
      content: '';
      height: 10px;
      margin-left: -24px;
      margin-top: -8px;
      position: absolute;
      transform: rotate(-45deg);
      width: 10px;
    }

    &:hover:after {
      border-color: #333333;
    }

    &:focus {
      border-color: #0896e9;
    }

    &.next {
      left: initial;
      right: 20px;

      &:after {
        margin-left: -28px;
        transform: rotate(135deg);
      }
    }
  }

  .month,
  .year {
    @include font-size(20);
    color: $font-color-dark;
    text-transform: capitalize;
  }
}


//Footer Buttons
.calendar-footer {
  border-top: 1px solid #eeeeee;
  height: 40px;
  padding-top: 10px;

  .cancel {
    color: $font-color-light;
    float: left;
    line-height: inherit;
    margin-left: 20px;
  }

  .set {
    float: right;
    line-height: inherit;
    margin-right: 20px;
    text-transform: uppercase;
  }
}

// Popup Adjustments
#calendar-popup {
  .arrow {
    left: 137px;
  }

  .tooltip-content {
    padding: 0;
  }
}

