//* Date Picker
//================================================== *

.datepicker {
  width: 150px;

  + .icon,
  + .tooltip-description + .icon {
    cursor: pointer;
    fill: $trigger-icon-fill-color;
    height: 16px;
    margin-left: -24px;
    margin-top: 8px;
    position: absolute;
    width: 16px;
    z-index: 1;

    &:hover {
      fill: $primary-color;
    }

    &:active {
      fill: $primary-color;
    }
  }

  + .icon + .icon-error {
    right: 50px;
  }

  + .audible + .icon + .icon-error {
    right: 50px;
  }

  &:disabled {
    + .icon {
      cursor: default;
      fill: $input-disabled-border-color;
    }
  }

  &[readonly] {
    + .icon {
      cursor: default;
      fill: $trigger-icon-fill-color;
    }
  }
}

// IE Hack
.ie9 .datepicker + .icon,
.ie10 .datepicker + .icon {
  background-color: rgba($white, 0);
}

.calendar {
  background-color: $popover-bg-color;
  display: inline-block;
  min-height: 300px;
  min-width: 300px;
  text-align: center;
  vertical-align: middle;
  width: auto;

  tr {
    text-align: center;
  }

  // Header
  thead {
    th {
      color: $font-color-highcontrast;
      @include rem(font-size, 1.2rem);
      margin: 20px;
      text-transform: uppercase;
      width: 35px;
    }
  }

  // Cells / Days
  td {
    border: 1px solid transparent;
    border-radius: 35px;
    color: $font-color-highcontrast;
    cursor: pointer;
    @include rem(font-size, 1.2rem);
    height: 35px;
    padding: 10px;
    transition: .2s background-color ease;
    width: 35px;

    span {
      line-height: normal;
      width: auto;
    }

    //Other month color
    &.alt {
      color: $datepicker-alt-month-color;

      span {
        color: $datepicker-alt-month-color;
      }
    }

    //Today
    &.is-today,
    &.is-today:focus {
      border-color: $datepicker-today-color;
      color: $datepicker-today-color;

      span {
        color: $datepicker-today-color;
      }

      &.is-selected,
      &.is-selected span {
        color: $datepicker-selected-color;
      }
    }

    //Selected
    &:hover {
      background-color: $datepicker-hover-bg-color;
    }

    &.is-disabled,
    &.is-disabled:active {
      @include unselectable;
      background-color: $datepicker-hover-bg-color;
      cursor: default;
    }

    &.is-selected,
    &.is-selected:hover {
      background-color: $datepicker-selected-bg-color;
      color: $datepicker-selected-color;

      span {
        color: $datepicker-selected-color;
      }
    }

    &:focus {
      border-color: $datepicker-selected-bg-color;
      outline: none;
      -moz-outline-style: none;
    }

    &:active {
      background-color: $datepicker-selected-bg-color;
      color: $datepicker-selected-color;
    }

  }

  .calendar-table {
    margin: 17px auto 0;
    padding: 0 10px;
    width: 100%;

    thead {
      height: 20px;
      vertical-align: top;
    }
  }
}

// Header Area of Calendar
.calendar-header {
  border-bottom: 1px solid $popover-separator-color;
  height: 56px;
  line-height: 62px;
  position: relative;
  text-align: left;
  text-indent: 25px;

  button {
    background-color: $popover-bg-color;
    border: 1px solid transparent;
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
    display: block;
    right: 37px;
    line-height: 1;
    margin-top: 11px;
    position: absolute;
    top: 3px;
    transition: border-color .3s ease;

    &.prev {
      margin: 8px 5px 0 0;

      svg {
        height: 28px;
        width: 28px;
        left: 0;
        top: 0;
      }
    }

    &.next {
      left: auto;
      margin: 8px 0 0 5px;
      right: 11px;

      svg {
        height: 28px;
        width: 28px;
        left: 0;
        top: 0;
      }
    }

  }

  .month,
  .year {
    @include font-size(20);
    color: $font-color-highcontrast;
    text-transform: capitalize;
  }
}


//Footer Buttons
.calendar-footer {
  border-top: 1px solid $popover-separator-color;
  height: 50px;
  margin-top: 10px;

  button {
    @include css3(transition, color .3s ease 0s);
    @include font-size(12);
    border: 1px solid transparent;
    border-left: 1px solid $popover-separator-color;
    border-radius: 0;
    color: $modal-btn-color;
    float: left;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;

    &:hover {
      color: $modal-btn-hover-color;
    }

    &:nth-child(1) {
      border-left: 1px solid transparent;
    }
  }
}

// Popup Adjustments
#calendar-popup {
  border-radius: 2px;

  .arrow {
    left: 137px;
  }

  .tooltip-content {
    padding: 0;
  }
}

// Short fields
.field-short {
  .datepicker {
    padding-right: 18px;

    + .icon {
      height: 13px;
      margin-left: -18px;
      margin-top: 6px;
    }
  }
}
