// Datagrid
//================================================== //

// Grid Container Div
.datagrid-container {
  border: 1px solid #ebebeb;
  border-radius: 2px;
  clear: both;
  height: auto;
  overflow: hidden;
  width: auto;
}

// Grid Styling
.datagrid {
  border: 0;
  border-collapse: collapse;
  height: 100%;
  overflow: auto;
  width: 100%;
  @include font-size(14);

  // Table Headers
  th {
    background-color: #e8eaeb;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #f5f7f7;
    color: $label-color;
    @include font-size(13);
    height: 32px;
    padding: 0 10px;
    text-align: left;
    text-transform: uppercase;

    .datagrid-header-text {
      line-height: normal;
      position: relative;
      top: 3px;
    }
  }

  .is-sortable:hover {
    background-color: #d3d3d3;
    cursor: pointer;
  }

  // Table Rows
  td {
    background-color: #ffffff;
    border-bottom: 1px solid #dee0e0;
    color: $label-color;
    line-height: 50px;
    max-width: 100px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // States
  .is-disabled {
    color: #767676;
  }
}

.sort-indicator {
  display: inline-block;
  left: 4px;
  position: relative;
  top: -6px;
  vertical-align: top;

  svg {
    fill: #666666;
    height: 20px;
    width: 20px;
  }

  span {
    display: block;
    height: 7px;
  }
}

