// Datagrid
//================================================== //

// Grid Container Div
.datagrid-container {
  border: 1px solid #ebebeb;
  border-radius: 2px;
  clear: both;
  height: auto;
  overflow-x: auto;
  width: auto;
}

// Grid Styling
.datagrid {
  border: 0;
  border-collapse: collapse;
  height: 100%;
  overflow: auto;
  width: 100%;
  @include font-size(14);

  // Table Headers
  th {
    background-color: #616161;
    border-left: 1px solid #d8d8d8;
    height: 40px;
    padding: 0 20px;
    text-align: left;
    @include transition(background-color 250ms ease);

    .datagrid-header-text {
      color: #ffffff;
      @include font-size(12);
      font-weight: bold;
      line-height: normal;
      position: relative;
      top: 0;
    }
  }

  .is-sortable:hover {
    background-color: #454545;
    cursor: pointer;

    .icon {
      opacity: 1;
    }
  }

  // Table Rows
  tr {

    // Hover States
    &:hover td {
      background-color: #e4e4e4;

      .is-readonly {
        background-color: #e4e4e4;
      }
    }

    .hyperlink {
      color: $primary-color;
      display: block;
      margin-left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    //Row Height Feature
    &.tall-rowheight td {
      height: 100px;
    }

    &.short-rowheight td {
      height: 22px;
    }
  }

  td {
    background-color: #ffffff;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    color: $font-color-extradark;
    height: 48px;
    max-width: 100px;
    overflow: hidden;
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
      border-right: 1px solid #d8d8d8;
    }

    span {
      line-height: 48px;
    }
  }

  // States
  .is-readonly {
    background-color: #f2f2f2;
  }
}

// Sorting
.sort-indicator {
  display: inline-block;
  float: right;
  margin-left: 6px;
  margin-top: -10px;
  position: absolute;
  vertical-align: top;

  .icon {
    fill: #999999;
    height: 28px;
    opacity: 0;
    @include transition(all 250ms ease);
    width: 28px;
  }

  span {
    display: block;
    height: 8px;
  }
}

.is-sorted-asc {
  .sort-indicator .icon {
    opacity: 1;
  }

  .sort-asc .icon {
    fill: $inverse-color;
  }
}

.is-sorted-desc {
  .sort-indicator .icon {
    opacity: 1;
  }

  .sort-desc .icon {
    fill: $inverse-color;
  }
}

// Cell Template Styling
.datagrid-row-heading {
  @include font-size(16);
  color: #1a1a1a;
  @include ellipsis();
}

.datagrid-row-subheading {
  @include font-size(14);
  color: #666666;
}

.datagrid-row-micro {
  @include font-size(12);
  color: #666666;
  line-height: 2rem;
}

.datagrid-drilldown {
  margin: 0 auto;
}

//
.datagrid-checkbox {
  text-indent: 14px;

  &:before {
    @include checkbox-unchecked-before-style;
    margin-left: -12px;
    margin-top: -8px;
  }

  &.is-checked:before {
    @include checkbox-checked-before-style;
  }

  &.is-checked:after {
    @include checkbox-checked-after-style;
    @include css3(transform-origin, -11px top 0);
    @include checkbox-animation;
    left: unset;
    margin-left: -5px;
    margin-top: -5px;
  }
}
