// Drag and Drop Styling
//================================================== //

.disable-select * {
  @include no-select;
}

.draggable {
  cursor: move;

  // transition: all .2s ease;
  z-index: 7000;

  &.animated {
    transition: all .2s ease;
  }
}

// Resize Styling
.resize-handle {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #13a7ff;
  cursor: e-resize;
  height: inherit;
  margin-left: -9px;
  @include no-select;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 10px;
}
