// Drag and Drop Styling
//================================================== //

.disable-select * {
  @include no-select;
}

.draggable {
  cursor: move;
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  z-index: 7000;

  &.animated {
    transition: all .2s ease;
  }
}

// Resize Styling
.resize-handle {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #13a7ff;
  cursor: e-resize;
  height: inherit;
  @include no-select;
  position: absolute;
  width: 10px;
}
