// Select (DropDown)
//================================================== //

select.dropdown {
  font-size: 50px;
  left: -9999px;
  position: absolute;
}

input.dropdown {
  background-color: transparent;
  border-color: $input-border-color;
  color: $dropdown-color;
  cursor: pointer;
  display: inline-block;
  padding: 9px 24px 9px 10px;
  -webkit-text-fill-color: $dropdown-color;

  &[disabled] {
    background-color: $dropdown-disabled-bg-color;
    border-color: $dropdown-disabled-border-color;
    color: $dropdown-disabled-color;
    cursor: default;

    &.dropdown + .icon {
      cursor: default;
      fill: #999999;
    }
  }

  // Icon States
  + .icon {
    cursor: pointer;
    display: inline-block;
    fill: $input-border-color;
    height: 32px;
    margin-left: -32px;
    top: 11px;
    pointer-events: none;
    position: relative;
    width: 32px;
  }

  &:focus {
    border-color: $input-focus-border-color;
  }
}

// The List
.dropdown-list {
  background-color: $inverse-color;
  border: 1px solid $menu-border-color;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(8, 150, 233, .2);
  max-height: 300px;
  min-height: 30px;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  transition: height .3s ease 0s;
  white-space: nowrap;
  width: auto;
  z-index: 4501;

  ul {
    color: $menu-color;
    font-family: $font-regular;
    @include font-size(14);
    height: auto;
    line-height: 32px;
    max-height: 260px;
    min-height: inherit;
    overflow: auto;
    position: relative;
    text-indent: 31px;
  }

  li:hover {
    background-color: $menu-hover-color;
    cursor: pointer;
    outline: none;
  }

  li.selected:before {
    border-color: #1a1a1a;
    border-style: solid;
    border-width: 0 3px 3px 0;
    content: '';
    height: 10px;
    left: 12px;
    margin-top: 6px;
    position: absolute;
    transform: rotate(45deg);
    width: 4px;
  }

  li b {
    color: $dropdown-filter-color;
    font-style: normal;
    letter-spacing: 1px;
    text-decoration: underline;
  }

  .icon {
    fill: $input-border-color;
    margin-left: -30px;
    position: absolute;
    transform: rotate(180deg);
  }
}

.dropdown-search {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0;
  color: $dropdown-color;
  width: 100%;

  &::-ms-clear {
    display: none;
  }

  &:focus {
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: none;
  }
}

.is-ontop .dropdown-search {
  border-bottom: 0;
  border-top: 1px solid #d2d2d2;
}

.dropdown.error {
  border-color: $error-color;
}

.dropdown.error:focus {
  border-color: $error-color !important;
  box-shadow: 0 0 5px rgba(237, 28, 36, .2);
  color: $input-color !important;
}
