// Select (DropDown)
//================================================== //

select.dropdown {
  font-size: 50px;
  left: -9999px;
  position: absolute;
}

.dropdown-wrapper {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 100%;
  position: relative;

  .icon + .icon-error { // display errors
    left: auto;
    position: absolute;
    right: 32px;
    top: 7px;
  }
}

input.dropdown {
  background-color: transparent;
  border-color: $input-border-color;
  color: $dropdown-color;
  cursor: pointer;
  display: block;
  padding: 9px 32px 8px 10px;
  -webkit-text-fill-color: $dropdown-color;
  text-overflow: ellipsis;
  vertical-align: middle;

  &[disabled] {
    background-color: $input-disabled-bg-color;
    border-color: $input-disabled-border-color;
    color: $input-disabled-color;
    cursor: default;

    + .icon {
      background-color: $input-disabled-bg-color;
      cursor: default;
      fill: $input-disabled-border-color;
    }
  }

  &:hover {
    + .icon {
      fill: $primary-color;
    }
  }

  // Icon States
  + .icon {
    background-color: inherit;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    fill: $graphite04;
    height: 31px;
    margin-left: -33px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 32px;
  }

  &:focus {
    border-color: $input-focus-border-color;
  }
}

.modal-body .dropdown + .icon {
  background-color: #ffffff;
}

// The List
.dropdown-list {
  background-color: $inverse-color;
  border: 1px solid $menu-border-color;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(8, 150, 233, .2);
  max-height: 300px;
  min-height: 30px;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  transition: height .3s ease 0s;
  white-space: nowrap;
  width: auto;
  z-index: 4501;

  &:active {
    outline: 0;
  }

  ul {
    color: $menu-color;
    font-family: $font-regular;
    @include font-size(14);
    height: auto;
    line-height: 32px;
    max-height: 260px;
    min-height: inherit;
    overflow: auto;
    position: relative;
    text-indent: 10px;
  }

  li {
    position: relative;

    i {
      color: $dropdown-filter-color;
      font-style: normal;
      text-decoration: none;
    }

    &:hover,
    &.hover {
      background-color: $menu-hover-color;
      cursor: pointer;
      outline: none;
    }

    &.is-disabled {
      > a {
        color: #b6b6b6;
      }

      &:hover,
      &.hover {
        background-color: transparent;
        cursor: default;
      }
    }

    &:focus {
      background-color: $menu-hover-color;
      cursor: pointer;
      outline: none;
    }

    &.is-focused {
      background-color: $primary-color;
      color: $inverse-color;

      > a {
        color: $inverse-color;
      }

      &:not(.group-label):before {
        @include checkbox-checked-before-style;
        border-color: $inverse-color;
      }
    }
  }

  a {
    color: $menu-color;
    text-decoration: none;
  }

  // Added to the dropdown list when doing a search
  &.search-mode {

    li {
      i {
        color: $azure06;
      }

      &.is-focused {
        a {
          color: $azure01;
        }

        i {
          color: $inverse-color;
        }
      }

      &.is-disabled {
        a {
          color: #b6b6b6;
        }
      }
    }

  }

  &.multiple {

    ul {
      text-indent: 42px;
    }

    li:not(.group-label):before {
      top: 6px;
      @include checkbox-unchecked-before-style;
    }

    li.is-disabled:not(.group-label):before {
      @include checkbox-unchecked-disabled-before-style;
    }

    li.is-focused:not(.group-label):before {
      @include checkbox-unchecked-before-style;
      background-color: $menu-hover-color;
    }

    li.is-focused,
    li.is-selected.is-focused,
    li:hover:not(.group-label) {
      background-color: $menu-hover-color;

      > a {
        color: $font-color-highcontrast;
      }
    }

    li.is-selected:not(.group-label):before {
      @include checkbox-checked-before-style;
    }

    li.is-selected:not(.group-label):after {
      @include checkbox-checked-after-style;
      left: 18px;
      margin-top: 8px;
    }

    li.is-disabled.is-selected:not(.group-label):before {
      @include checkbox-checked-disabled-before-style;
    }

    li.is-disabled.is-selected:not(.group-label):after {
      @include checkbox-checked-disabled-after-style;
      left: 25px;
      margin-top: 8px;
    }

    a {
      color: $font-color-highcontrast;
    }

    &.search-mode {
      a {
        i {
          color: $azure06;
        }
      }
    }
  }

  .group-label {
    @include css3(user-select, none);
    @include font-size(11);
    color: $graphite04;
    padding: 10px 0 2px;
    text-indent: 10px;
    text-transform: uppercase;

    &:not(:first-child) {
      border-top: 1px solid $popover-separator-color;
      margin-top: 10px;
    }

    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }

  .icon {
    fill: $graphite05;
    height: 32px;
    margin-left: -30px;
    position: absolute;
    @include css3(transform, rotate(180deg));

    &.search {
      height: 18px;
      margin-top: 7px;
      @include css3(transform, rotate(0deg));
    }
  }
}

.dropdown-search {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0;
  color: $dropdown-color;
  padding: 9px 32px 8px 10px;
  text-overflow: ellipsis;
  width: 100%;

  &::-ms-clear {
    display: none;
  }

  &:focus {
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: none;
    outline: none;
  }
}

.is-ontop .dropdown-search {
  border-bottom: 0;
  border-top: 1px solid #d2d2d2;
}

.dropdown.error {
  border-color: $error-color;

  &::-webkit-input-placeholder {
    color: $error-color;
  }
}

.dropdown.error:focus {
  border-color: $error-color !important;
  box-shadow: 0 0 5px rgba(237, 28, 36, .2);
  color: $input-color !important;
}
