// Editor (Rich Text)
//================================================== //

.editor-container {
  overflow: hidden;

  &.is-readonly,
  &.is-disabled {
    .editor {
      border-top: 1px solid $editor-border-color;
    }

    .editor-toolbar {
      display: none;
    }
  }

  &.is-disabled .editor {
    cursor: default;
  }

  &.is-readonly .editor {
    background-color: $input-readonly-bg-color;
    border-color: $input-readonly-border-color;
    color: $input-readonly-color;
    cursor: text;

    .hyperlink {
      color: $hyperlink-color;
    }
  }

  //Error message - validation adjustments
  .error-message {
    margin-top: 0;
  }

  .editor-source.hidden + .editor + .error-message {
    margin-top: -10px;
  }

  // Customize the formatter toolbar if it's inside an editor
  .formatter-toolbar {
    // border-bottom: 1px solid $editor-middle-border-color;
    margin-bottom: 0;
    z-index: 20;

    [class^="btn"] {
      border-radius: 2px;
    }
  }

  &:hover {
    .toolbar.formatter-toolbar:not(.error) {
      border-color: $editor-hover-border-color $editor-hover-border-color $editor-border-color;
    }

    .editor:not(.error),
    .editor-source:not(.error) {
      border-color: transparent $editor-hover-border-color $editor-hover-border-color;
    }
  }

  &.is-active,
  &.is-active:hover:not(.error) {
    .toolbar.formatter-toolbar {
      border-left-color: $editor-focus-border-color;
      border-right-color: $editor-focus-border-color;
      border-top-color: $editor-focus-border-color;

      &.error {
        border-left-color: $error-color;
        border-right-color: $error-color;
        border-top-color: $error-color;
      }
    }

    .editor,
    .editor-source {
      border-color: transparent $editor-focus-border-color $editor-focus-border-color;

      &.error {
        border-color: transparent $error-color $error-color;
      }
    }
  }

  .editor[data-error-type='tooltip'] + .audible +  .icon-error {
    left: 100%;
    margin-left: -33px;
    position: absolute;
    top: 54px;
  }

}

.editor {
  @include font-size(14);
  @include rem(line-height, 2.2rem);
  background-color: $editor-bg-color;
  border: 1px solid;
  border-color: transparent $editor-border-color $editor-border-color;
  border-radius: 0 0 2px 2px;
  color: $editor-color;
  display: block;
  height: 320px;
  margin-bottom: 20px;
  min-height: 128px;
  outline: none;
  overflow: auto;
  padding: 15px 10px 10px;
  width: 100%;

  &.is-disabled {
    background-color: $input-disabled-bg-color;
    border: 1px solid $input-disabled-border-color;
    padding: 10px;

    > * {
      color: $disabled-color;
    }
  }

  // Element Style
  p {
    @include font-size(14);
    @include rem(line-height, 2.2rem);
    color: $editor-color;
    margin-bottom: 15px;

    .hyperlink {
      color: $hyperlink-color;
    }
  }

  h3 {
    @include font-size(24);
    @include rem(line-height, 2.4rem);
    @include rem(margin-bottom, 1.5rem);
    color: $editor-color;
  }

  h4 {
    @include font-size(18);
    @include rem(line-height, 1.8rem);
    @include rem(margin-bottom, 1.5rem);
    color: $editor-color;
  }

  ul,
  ol {
    @include rem(line-height, 2.2rem);
    @include rem(margin-left, 2rem);
    @include font-size(14);
    color: $input-color;
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  b,
  strong {
    font-weight: 800;
  }

  blockquote {
    border-left: 5px solid $input-color;
    line-height: 22px;
    margin-bottom: 15px;
    margin-left: 7px;
    padding-left: 15px;
  }

  img {
    margin: 0 auto;
    max-width: 80%;
  }
}

// Toolbar
.toolbar.formatter-toolbar {
  background-color: $editor-toolbar-bg-color;
  border: 1px solid $editor-border-color;
  border-radius: 2px 2px 0 0;
  overflow-x: visible;

  .buttonset {
    height: 32px;

    [class^="btn"] {

      &:first-child {
        margin-left: 16px;
      }
    }
  }

  &.has-more-button {
    .buttonset {
      width: calc(100% - 50px);
    }

    .more {
      margin-top: 0;

      .btn-actions {
        height: 22px;
        margin-top: -1px;
        min-height: 22px;
        width: 25px;
      }
    }
  }

  [class^="btn"] {
    background-color: $editor-toolbar-bg-color;
    border: 1px solid transparent;
    color: $editor-btn-color;
    height: 20px;
    margin-top: 6px;
    min-width: 18px;
    // scss-lint:disable ImportantRule
    padding: 0 !important; //overrides some media queries
    // scss-lint:enable ImportantRule
    text-align: left;

    span:not(.audible) {
      color: $font-color;
      display: inline-block;

      &:not(:last-child) {
        padding: 0;
      }

      + .icon {
        padding-left: 0;
      }
    }

    .icon {
      fill: $editor-btn-color;
      height: 18px;
      margin: -1px 0 0;
      padding: 0;
      pointer-events: none;
      width: 18px;
    }

    &:focus:not(.hide-focus),
    &.is-active:not(.error) {
      color: $editor-btn-active-color;

      span {
        color: $editor-btn-active-color;
      }

      .icon {
        fill: $editor-btn-active-color;
      }

      &:not(.hide-focus) {
        box-shadow: $editor-btn-active-box-shadow;
      }
    }

    &.is-active {
      box-shadow: none;
    }

    &:hover {
      background-color: transparent;
      border: 1px solid transparent;
      color: $editor-btn-hover-color;

      .icon {
        fill: $editor-btn-hover-color;
      }

      span {
        color: $editor-btn-hover-color;
      }
    }

    &.btn-actions > .icon {
      left: 2px;
      position: relative;
      top: 1px;
    }

    .html-icon {
      margin-left: -32px;
      width: 85px;
    }

    .visual-icon {
      margin-left: -12px;
      margin-right: -11px;
      width: 85px;
    }

    &[data-action="visual"] {
      span {
        @include font-size(16);
        margin-left: -1px;
        margin-top: 2px;
      }
    }

    &[data-element='h3'],
    &[data-element='h4'] {
      margin-right: 15px;

      .icon {
        margin-left: -5px;
        width: 28px;
      }
    }

    &[data-element='b'],
    &[data-element='i'] {
      margin-right: 8px;
    }

    &[data-element='strike'] {
      margin-right: 8px;

      svg {
        height: 22px;
        width: 15px;
      }
    }

    &[data-element='foreColor'] {
      .icon {
        margin-top: 0;
      }

      .trigger {
        padding-left: 0;
        padding-right: 5px;

        .icon {
          height: 16px;
          margin-left: -5px;
          width: 16px;
        }
      }

      + .separator {
        margin-left: -3px;
      }
    }

    &[data-element='backColor'] {
      .icon {
        margin-top: 0;
      }

      .trigger {
        padding-left: 0;
        padding-right: 0;

        .icon {
          height: 16px;
          width: 16px;
        }
      }
    }

    &[data-element='u'] {
      margin-right: 10px;

      .icon {
        height: 17px;
        margin-top: 2px;
      }
    }

    &[data-action='justifyLeft'] {
      margin-left: 4px;
      margin-right: 18px;
    }

    &[data-action='justifyCenter'] {
      margin-right: 18px;
    }

    &[data-action='justifyRight'] {
      margin-right: 16px;
    }

    &[data-element='blockquote'] {
      margin-left: 1px;
      margin-right: 15px;
    }

    &[data-element='ol'] {
      margin-right: 18px;
    }

    &[data-element='ul'] {
      margin-right: 16px;
    }

    &[data-element='a'],
    &[data-element='img'] {
      margin-left: 4px;
      margin-right: 16px;
    }
  }

  .separator {
    height: 18px;
    margin: 1px 15px 0 3px;
  }

}

.is-disabled .editor-toolbar {
  display: none;
}

// Dialog Styling

.editor-source {
  @include font-size(14);
  border: 1px solid;
  border-color: transparent $editor-border-color $editor-border-color;
  border-radius: 0 0 2px 2px;
  height: 320px;
  margin: 0 0 10px;
  min-height: 88px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;

  textarea {
    @include font-size(14);
    background-color: $editor-bg-color;
    border: 0;
    color: $editor-color;
    font-weight: normal;
    height: 100%;
    line-height: 2.4rem;
    outline: none;
    overflow: hidden;
    padding: 14px 10px 10px;
    width: 100%;

    &:focus,
    &.is-focused {
      box-shadow: none;
    }
  }

  > * {
    vertical-align: top;
  }

  > .text-container {
    display: inline-block;
    min-height: 100%;
    overflow: visible;
    width: 100%;
  }

  > .line-numbers {
    background-color: $editor-bg-color;
    display: inline-block;
    min-height: 100%;
    padding: 15px 10px 10px;

    > li {
      @include font-size(12);
      line-height: 2.41rem;
      text-align: center;
    }

    span {
      color: $editor-line-number-color;
    }
  }
}

//Error Text
.editor-placeholder {
  color: $input-placeholder-color;

  &.error {
    border-color: transparent $error-color $error-color;
    color: $error-color;
  }
}

.editor-toolbar {
  &.error {
    border-color: $error-color $error-color $editor-border-color;

    + .editor-source {
      border-color: transparent $error-color $error-color;
    }
  }
}

.editor-placeholder::after {
  @include font-size(14);
  content: attr(data-placeholder);
  font-weight: 100;
  left: 10px;
  margin-top: -38px;
  position: absolute;
  white-space: pre;
}

// Older versions of Internet Explorer incorrectly size the line number fonts,
// So we need to adjust it slightly.
.ie8 .editor-source,
.ie9 .editor-source {
  .line-numbers li {
    @include font-size(14.5);
  }
}

//RTL Styles
html[dir='rtl'] {
  .editor-container {
    .editor[data-error-type='tooltip'] {
      ~ .icon-error {
        left: 40px;
      }
    }
  }
}

.popupmenu .icon {
  fill: $editor-btn-color;

}
