/* Editor (Rich Text)
================================================== */
// Editor
.editor {
  background-color: transparent;
  border: 1px solid $editor-border-color;
  border-radius: 0 0 2px 2px;
  color: $editor-color;
  display: block;
  float: left;
  font-family: $font-regular;
  @include font-size(16);
  height: 400px;
  min-height: 90px;
  outline: none;
  overflow: auto;
  padding: 10px;
  width: 100%;

  //States
  &:focus,
  &.is-active {
    border: 1px solid $editor-focus-border-color;
    box-shadow: $editor-focus-shadow;
  }

  // Element Style
  p {
    @include font-size(14);
    color: $editor-color;
    @include rem(line-height, 2.2rem);
    margin-bottom: 15px;
  }

  h3 {
    color: $editor-color;
    @include font-size(24);
    @include rem(line-height, 2.4rem);
    @include rem(margin-bottom, 1.5rem);
  }

  h4 {
    color: $input-color;
    @include font-size(18);
    @include rem(line-height, 1.8rem);
    @include rem(margin-bottom, 1.5rem);
  }

  ul,
  ol {
    color: $input-color;
    @include rem(line-height, 2.2rem);
    @include rem(margin-left, 2rem);
    @include font-size(14);
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  b,
  strong {
    font-weight: bolder;
  }

  blockquote {
    border-left: 5px solid $input-color;
    line-height: 22px;
    margin-bottom: 15px;
    margin-left: 7px;
    padding-left: 15px;
  }

}

// Toolbar
.editor-toolbar {
  background-color: $editor-toolbar-bg-color;
  border: 1px solid $editor-border-color;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  display: block;
  float: left;
  font-family: $font-regular;
  height: 40px;
  margin-top: 3px;
  padding: 0 10px;
  @include font-size(14);

  li {
    float: left;
    list-style: none;

    button {
      background-color: $editor-toolbar-bg-color;
      border: 1px solid transparent;
      color: $editor-button-color;
      cursor: pointer;
      display: block;
      fill: $editor-button-color;
      height: 30px;
      line-height: 0;
      margin: 5px 2px;
      min-width: 30px;
      outline: none;
      padding: 8px 5px;
      @include font-size(16);
      text-decoration: none;
      -webkit-transition: background-color .2s ease-in;
      transition: background-color .2s ease-in;

      &:hover,
      &:active,
      &.is-active {
        background-color: #e5e5e5;
        border-color: #d2d2d2;
        color: #5c5c5c;
      }

      &:focus {
        border: 1px solid $editor-focus-border-color;
        box-shadow: $editor-focus-shadow;
      }

      b {
        font-weight: bold;
      }
    }

    .editor-action-underline {
      text-decoration: underline;
    }

    .icon {
      fill: $editor-button-color;
      height: 25px;
      pointer-events: none;
      position: relative;
      top: -7px;
      width: 25px;
    }

    .seperator {
      background-color: #b6b6b6;
      display: block;
      height: 20px;
      margin: 9px 15px;
      width: 1px;
    }

  }
}

// Dialog Styling
#editor-modal-image {
  width: 50%;
}

.editor-source {
  border: 1px solid $editor-border-color;
  border-radius: 0 0 2px 2px;
  @include font-size(14);
  height: 400px;
  margin: 0 0 10px;
  min-height: 88px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  textarea {
    background-color: transparent;
    border: 0;
    color: $input-color;
    font-family: $font-regular;
    @include font-size(16);
    height: 100%;
    line-height: 2.4rem;
    outline: none;
    overflow: hidden;
    padding: 10px;
    width: 100%;

    &:focus,
    &.is-focused {
      box-shadow: none;
    }
  }

  &.is-focused {
    border: 1px solid $editor-focus-border-color;
    box-shadow: $editor-focus-shadow;
  }

  > * {
    vertical-align: top;
  }

  > .text-container {
    display: inline-block;
    min-height: 100%;
    overflow: visible;
    width: 100%;
  }

  > .line-numbers {
    background-color: #e5e5e5;
    color: #ffffff;
    display: inline-block;
    min-height: 100%;
    padding: 10px;

    > li {
      @include font-size(14);
      line-height: 2.4rem;
      text-align: center;
    }
  }
}

// Older versions of Internet Explorer incorrectly size the line number fonts,
// So we need to adjust it slightly.
.ie8,
.ie9 {
  .editor-source {
    > .line-numbers {
      > li {
        font-size: 1.45rem;
      }
    }
  }
}
