// Expandable Area
//================================================== //

.expandable-area {

  //Header Area
  .expandable-header {
    border-top: 1px solid $expandable-area-border-color;
    padding-top: 28px;
    position: relative;

    > * {
      vertical-align: top;
    }

    &[aria-expanded="true"] {
      + .expandable-pane {
        display: block;
        height: auto;
      }
    }

    &.is-focused {
      color: $primary-color;

      &::-moz-focus-inner {
        border: 0;
      }

      &:focus {
        outline: none;
      }
    }

  }

  //Area that hides/shows
  .expandable-pane {
    @include font-size(14);
    font-weight: 100;
    height: 0;
    overflow: hidden;

    > .content {
      padding: 0 20px 15px 50px;

      .column:first-child {
        margin-left: 0;
        padding-left: 0;
      }

      .column {
        padding-left: 0;
      }
    }

    .columns {
      margin-left: 0;
    }
  }

  //Footer area with the link
  .expandable-footer {
    margin-bottom: 26px;
    margin-top: 4px;
  }

  //Hide Border on the first
  &:first-child {
    .expandable-header {
      border-top-color: transparent;
    }
  }

  //Icon on the header
  .title {
    @include font-size(16);
    color: $expandable-area-title-color;
  }

}
