// Expandable Area (accordion like, single-paned content area)
//================================================== //

.expandable-area {

  .expandable-header {
    border-top: 1px solid $expandable-area-border-color;
    @include font-size(16);
    position: relative;

    > * {
      vertical-align: top;
    }

    > a {
      cursor: pointer;
      display: block;
      padding: 15px 0 15px 5px;

      > * {
        vertical-align: middle;
      }

      > .icon.plus-minus {
        border: 1px solid transparent;
        @include font-size(10);
        height: 30px;
        margin-right: 1em;
        margin-top: -4px;
        width: 30px;

        &::before,
        &::after {
          background-color: $font-color;
        }
      }
    }

    &[aria-expanded="true"] {
      + .expandable-pane {
        display: block;
        height: auto;
      }
    }

    &.is-focused {
      color: $primary-color;

      &::-moz-focus-inner {
        border: 0;
      }

      &:focus {
        outline: none;
      }

      > a > .icon.plus-minus {
        border: 1px solid $primary-color;
        border-radius: 2px;

        &::before,
        &::after {
          background-color: $primary-color;
        }
      }
    }

  }

  .expandable-pane {
    @include font-size(14);
    font-weight: 100;
    height: 0;
    overflow: hidden;

    @include css3(transition, height 300ms cubic-bezier(.17, .04, .03, .94) 0s);

    > .content {
      padding: 0 50px 15px;
    }
  }

}
