// Field Set Css.
//================================================== //

fieldset {
  > legend {
    @include font-size(16);
    @include antialiased();
    color: $fieldset-title-color;
    font-weight: normal;
    padding-bottom: 25px;
  }

  &[disabled] {
    > legend {
      color: $disabled-color;
    }
  }

  .column:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  .row:last-child {
    margin-bottom: 0;
  }
}

.fieldset-title,
.section-title {
  @include antialiased();
  @include font-size(16);
  color: $fieldset-title-color;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-top: 15px;
}

.row fieldset:not(.radio-group):nth-child(n + 2),
.row .fieldset:not(.radio-group):nth-child(n + 2) {
  border-top: 1px solid $fieldset-border-top-color;
  margin-top: 30px;
  padding-top: 20px;
}

.fieldset-hr {
  border-bottom: 0 none;
  border-top: 1px solid $fieldset-border-top-color;
  height: 1px;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 0;
}
