// Field Set Css.
//================================================== //

fieldset {
  > legend {
    color: $graphite09;
    @include font-size(16);
    @include antialiased();
    padding-bottom: 20px;
    padding-top: 10px;
  }
}
