// File Upload
//================================================== //

label.fileupload {
  display: inline-block;
  position: absolute;
  left: 300px;
  top: 12px;

  // Label
  span:not(.audible) {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    left: -35px;
    outline: 0;
    padding-top: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 34px;

    &:hover {
      svg {
        fill: $primary-color;
      }
    }

    svg {
      height: 16px;
      width: 16px;
    }
  }

  // Make this flow offscreen
  input[type="file"] {
    left: -1000px;
    position: fixed;

    &:disabled + span:not(.audible) {
      cursor: default;

      svg {
        fill: $input-disabled-border-color;
      }

      &:hover {
        svg {
          fill: $input-disabled-border-color;
        }
      }
    }
  }
}
