// Flying Focus
//================================================== //

#flying-focus {
  background: transparent;
  border-radius: 2px;
  box-shadow: 0 0 2px 3px $primary-color, 0 0 2px $primary-color inset;
  margin: 0;
  pointer-events: none;
  position: absolute;
  @include css3(transition-property, left, top, width, height);
  @include css3(transition-timing-function, cubic-bezier(0, 1, 0, 1));
  //@include css3(transition-duration, 150ms);
  visibility: hidden;

  &.is-visible {
    visibility: visible;
    z-index: 9999;
  }

}

.flying-focus-target {
  outline: none !important; // Doesn't work in Firefox

  &::-moz-focus-inner {
    border: 0 !important;
  }
}

// Replace this with @supports rule when browsers catch up
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #flying-focus {
    box-shadow: none;
    outline: 5px auto $primary-color;
    outline-offset: -3px;
  }
}

