/* Responsive 12 Column Grid Based on http://thisisdallas.github.com/Simple-Grid/
================================================== */
[class*="col-"] {
  float: left;
  margin-bottom: 10px;
}

/* TODO: Improve Nice animation at breaks similar to https://member.theladders.com/member/saved-jobs */
.grid {
  width: 100%;
  max-width: 1480px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.grid .content {
  background-color: $primary-color;
  color: $inverse-color;
  height: 100px;
}

.grid .content h3{
  color: $inverse-color;
  padding: 35px 10px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* Content Columns */

.col-1-1 {
  width: 100%;
}
.col-2-3, .col-8-12 {
  width: 66.66%;
}

.col-1-2, .col-6-12 {
  width: 50%;
}

.col-1-3, .col-4-12 {
  width: 33.33%;
}

.col-1-4, .col-3-12 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6, .col-2-12 {
  width: 16.667%;
}

.col-1-7 {
  width: 14.28%;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-9 {
  width: 11.1%;
}

.col-1-10 {
  width: 10%;
}

.col-1-11 {
  width: 9.09%;
}

.col-1-12 {
  width: 8.33%
}

/* Layout Columns */

.col-11-12 {
  width: 91.66%
}

.col-10-12 {
  width: 83.333%;
}

.col-9-12 {
  width: 75%;
}

.col-5-12 {
  width: 41.66%;
}

.col-7-12 {
  width: 58.33%
}

@media handheld, only screen and (max-width: 1480px) {
  .grid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  [class*="col-"] {
    width: auto;
    float: none;
    padding-left: 30px;
    padding-right: 30px;
  }
}
