//  Responsive 12 Column Grid loosely
//  loosely based bootstrap/
//================================================== //

$gutter-size: 20px;

//$breakpoint-phone: 320px;
//$breakpoint-phone-to-tablet: 768px;
//$breakpoint-tablet-to-desktop: 1160px;
//$breakpoint-desktop-to-extralarge: 1440px;

.container {
  margin: 0 auto;
  max-width: $breakpoint-desktop-to-extralarge;
  width: 100%;

  .content {
    background: none repeat scroll 0 0 #dadada;
    color: #444444;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
  }
}

// For this App Space out the Header
.header + .svg-icons + .container {
  margin-top: 10px;
}

.column,
.columns {
  float: left;
  width: 100%;

  &.pad {
    padding: $gutter-size;
  }
}

// For mobile devices smaller than 320px
@media (min-width: $breakpoint-phone) {
  .container {
    padding: 0 $gutter-size;
    width: 100%;
  }
}

// For devices larger than 550px
@media (min-width: $breakpoint-phone-to-tablet) {
  .column,
  .columns {
    padding-right: $gutter-size;

    &:last-child {
      padding-right: 0;
    }
  }

  .one.column,
  .one.columns {
    width: 8.33333333333%;
  }

  .two.columns {
    width: 16.6666666666%;
  }

  .three.columns {
    width: 25%;
  }

  .four.columns {
    width: 33.3333333333%;
  }

  .five.columns {
    width: 41.6666666666%;
  }

  .six.columns {
    width: 50%;
  }

  .seven.columns {
    width: 58.3333333333%;
  }

  .eight.columns {
    width: 66.6666666666%;
  }

  .nine.columns {
    width: 75%;
  }

  .ten.columns {
    width: 83.3333333333%;
  }

  .eleven.columns {
    width: 91.6666666666%;
  }

  .twelve.columns,
  .full.column {
    margin-left: 0;
    width: 100%;
  }

  .one-third.column {
    width: 33.3333333333%;
  }

  .two-thirds.column {
    width: 66.6666666666%;
  }

  .one-half.column {
    width: 50%;
  }
}
