// Styles for Header Tabs
//================================================== //

.tab-container.header-tabs {
  height: 40px;
  margin-bottom: 0;
  margin-top: -12px;
  padding: 1px 20px 0;

  &::before {
    background-image: linear-gradient(
      to right,
      rgba($header-bg-color, 1),
      rgba($header-bg-color, 0)
    );
  }

  &::after {
    background-image: linear-gradient(
      to right,
      rgba($header-bg-color, 0),
      rgba($header-bg-color, 1)
    );
    right: 71px; // Adjust for the extra 20px of right-padding on Header tabs.
  }

  > .tab-list-container {
    border-bottom: 0;
    height: inherit;

    .tab {
      color: $header-tab-normal-color;
      font-weight: bold;
      overflow: hidden;

      &::before {
        background-color: rgba($header-tab-normal-color, 0);
        bottom: 0;
      }

      a {
        line-height: 12px;
        overflow: hidden;
        padding: 14px 11px 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:first-child {
        padding-left: 0;
      }

      &:hover:not(.is-disabled) {
        color: $header-tab-hover-color;

        &::before {
          background-color: rgba($header-tab-hover-color, 1);
        }

        .icon:not(.is-error):not(.icon-error) {
          fill: $header-tab-hover-color;
        }
      }

      &.is-selected:not(.is-disabled) {
        color: $header-tab-hover-color;

        &::before {
          background-color: rgba($header-tab-hover-color, 1);
        }

        &:hover {
          color: $header-tab-hover-color;

          &::before {
            background-color: rgba($header-tab-hover-color, 1);
          }
        }
      }

      &.dismissible {
        .icon {
          fill: $white;
          opacity: .6;
        }

        &:hover,
        &.is-selected {
          .icon:not(.is-error):not(.icon-error) {
            fill: $white;
            opacity: 1;
          }
        }
      }
    }
  }

  .animated-bar {
    background-color: $header-tab-hover-color;
    margin-top: 8px;
  }

  .tab-focus-indicator.is-visible {
    border-color: $header-tab-hover-color;
  }

  .tab-more,
  .add-tab-button {
    color: $header-tab-normal-color;

    span {
      color: inherit;
    }

    .icon {
      fill: $header-tab-normal-color;
    }

    &:hover {
      color: $header-tab-hover-color;

      .icon:not(.is-error):not(.icon-error) {
        fill: $header-tab-hover-color;
      }
    }

    &.is-open,
    &.is-selected {
      color: $header-tab-selected-color;

      .icon:not(.is-error):not(.icon-error) {
        fill: $header-tab-selected-color;
      }
    }
  }

  .tab-more {
    padding: 12px 9px;
  }

  .add-tab-button {
    padding: 12px 0 12px 18px;
  }

  &.has-more-button {
  }

  &.has-add-button {
    .add-tab-button {
      width: 44px;
    }

    &.has-more-button {
      .tab-more {
        right: 86px;
      }
    }
  }

// Alternate Header-Tab Backgrounds (Page Context)
//=================================================

  &.alternate {
    background-color: $header-tab-alt-bg-color;
    border-bottom: 1px solid $header-tabcontainer-border-color;
    margin-top: -5px;

    > .tab-list {

      > .tab {
        color: $header-tab-alt-normal-color;

        &:before {
          background-color: rgba($header-tab-alt-normal-color, 0);
        }

        a { // has 12px line height;
          padding: 16px 11px 15px;
        }

        &:hover:not(.is-disabled) {
          color: $header-tab-alt-hover-color;

          &:before {
            background-color: rgba($header-tab-alt-hover-color, 1);
          }
        }

        &.is-selected:not(.is-disabled) {
          color: $header-tab-alt-selected-color;

          &:before {
            background-color: rgba($header-tab-alt-selected-color, 1);
          }

          .icon:not(.is-error):not(.icon-error) {
            fill: $header-tab-alt-selected-color;
          }
        }
      }

    }

    .tab-list {
      height: 43px; // Reset to 43
    }

    .animated-bar {
      background-color: rgba($header-tab-alt-selected-color, 1);
      margin-top: 0;
      top: 42px;
    }

    .tab-focus-indicator.is-visible {
      border-color: $header-tab-alt-selected-color;
    }

    .tab-more {
      color: $header-tab-alt-normal-color;
      padding: 13px 0 14px 14px;

      .icon {
        fill: $header-tab-alt-normal-color;
      }

      &:hover {
        color: $header-tab-alt-hover-color;

        .icon:not(.is-error):not(.icon-error) {
          fill: $header-tab-alt-hover-color;
        }
      }

      &.is-selected,
      &.is-open {
        color: $header-tab-alt-selected-color;

        .icon:not(.is-error):not(.icon-error) {
          fill: $header-tab-alt-selected-color;
        }
      }
    }
  }
}
