// Styles for Header Tabs
//================================================== //

.tab-container.header-tabs {
  height: 40px;
  margin-bottom: 0;
  padding: 0 0 0 20px;

  &::before {
    background-image: linear-gradient(
      to right,
      rgba($header-bg-color, 1),
      rgba($header-bg-color, 0)
    );
    left: 20px;
  }

  &::after {
    background-image: linear-gradient(
      to right,
      rgba($header-bg-color, 0),
      rgba($header-bg-color, 1)
    );
  }

  > .tab-list-container {
    border-bottom: 0;
    height: inherit;

    .tab {
      color: $header-tab-normal-color;
      font-weight: bold;
      overflow: hidden;

      &::before {
        background-color: rgba($header-tab-normal-color, 0);
        bottom: 0;
      }

      a {
        overflow: hidden;
        padding: 12px 11px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:first-child {
        padding-left: 0;
      }

      &:hover:not(.is-disabled) {
        color: $header-tab-hover-color;

        &::before {
          background-color: rgba($header-tab-hover-color, 1);
        }

        .icon:not(.is-error):not(.icon-error) {
          fill: $header-tab-hover-color;
        }
      }

      &.is-selected:not(.is-disabled) {
        color: $header-tab-hover-color;

        &::before {
          background-color: rgba($header-tab-hover-color, 1);
        }

        &:hover {
          color: $header-tab-hover-color;

          &::before {
            background-color: rgba($header-tab-hover-color, 1);
          }
        }
      }

      &.dismissible {
        .icon {
          fill: $white;
          opacity: .6;
        }

        &:hover,
        &.is-selected {
          .icon:not(.is-error):not(.icon-error) {
            fill: $white;
            opacity: 1;
          }
        }
      }
    }
  }

  .animated-bar {
    background-color: $header-tab-hover-color;
    margin-top: 8px;
  }

  .tab-focus-indicator.is-visible {
    border-color: $header-tab-hover-color;
  }

  .tab-more,
  .add-tab-button {
    color: $header-tab-normal-color;

    span {
      color: inherit;
    }

    .icon {
      fill: $header-tab-normal-color;
    }

    &:hover {
      color: $header-tab-hover-color;

      .icon:not(.is-error):not(.icon-error) {
        fill: $header-tab-hover-color;
      }
    }

    &.is-open,
    &.is-selected {
      color: $header-tab-selected-color;

      .icon:not(.is-error):not(.icon-error) {
        fill: $header-tab-selected-color;
      }
    }
  }

  .tab-more {
    padding: 12px 4px 11px 14px;

    &::before {
      background-color: rgba($header-tab-separator, .8);
      content: '';
      display: inline-block;
      height: 30px;
      left: 7px;
      position: absolute;
      top: 4px;
      width: 1px;
    }
  }

  .add-tab-button {
    padding: 12px 0 12px 18px;
  }

  &.has-add-button {
    .add-tab-button {
      width: 44px;
    }

    &.has-more-button {
      .tab-more {
        right: 86px;
      }
    }
  }

// Alternate Header-Tab Backgrounds (Page Context)
//=================================================

  &.alternate {
    background-color: $header-tab-alt-bg-color;
    border-bottom: 1px solid $header-tabcontainer-border-color;

    &::before,
    &::after {
      height: 39px;
    }

    &::before {
      background-image: linear-gradient(
        to right,
        rgba($header-tab-alt-bg-color, 1),
        rgba($header-tab-alt-bg-color, 0)
      );
    }

    &::after {
      background-image: linear-gradient(
        to right,
        rgba($header-tab-alt-bg-color, 0),
        rgba($header-tab-alt-bg-color, 1)
      );
    }

    > .tab-list-container {

      .tab {
        color: $header-tab-alt-normal-color;

        &::before {
          background-color: rgba($header-tab-alt-normal-color, 0);
          bottom: 1px;
        }

        a { // has 12px line height;
          padding: 12px 11px;
        }

        &:hover:not(.is-disabled) {
          color: $header-tab-alt-hover-color;

          &:before {
            background-color: rgba($header-tab-alt-hover-color, 1);
          }
        }

        &.is-selected:not(.is-disabled) {
          color: $header-tab-alt-selected-color;

          &:before {
            background-color: rgba($header-tab-alt-selected-color, 1);
          }

          .icon:not(.is-error):not(.icon-error) {
            fill: $header-tab-alt-selected-color;
          }
        }
      }

    }

    .animated-bar {
      background-color: rgba($header-tab-alt-selected-color, 1);
      margin-top: 0;
      top: 36px;
    }

    .tab-focus-indicator.is-visible {
      border-color: $header-tab-alt-selected-color;
    }

    .tab-more {
      color: $header-tab-alt-normal-color;

      &::before {
        background-color: $header-tab-alt-separator;
      }

      .icon {
        fill: $header-tab-alt-normal-color;
      }

      &:hover {
        color: $header-tab-alt-hover-color;

        .icon:not(.is-error):not(.icon-error) {
          fill: $header-tab-alt-hover-color;
        }
      }

      &.is-selected,
      &.is-open {
        color: $header-tab-alt-selected-color;

        .icon:not(.is-error):not(.icon-error) {
          fill: $header-tab-alt-selected-color;
        }
      }
    }
  }
}

// RTL Styles for Header Tabs
html[dir='rtl'] {

  .tab-container.header-tabs {
    padding: 0 20px 0 0;

    &::before {
      background-image: linear-gradient(
        to left,
        rgba($header-bg-color, 1),
        rgba($header-bg-color, 0)
      );
      left: auto;
      right: 20px;
    }

    &::after {
      background-image: linear-gradient(
        to left,
        rgba($header-bg-color, 0),
        rgba($header-bg-color, 1)
      );
      left: 51px;
      right: auto;
    }

    &.alternate {
      &::before {
        background-image: linear-gradient(
          to left,
          rgba($header-tab-alt-bg-color, 1),
          rgba($header-tab-alt-bg-color, 0)
        );
      }

      &::after {
        background-image: linear-gradient(
          to left,
          rgba($header-tab-alt-bg-color, 0),
          rgba($header-tab-alt-bg-color, 1)
        );
      }
    }
  }

}
