// Site/App Header
//================================================== //

// Variables for this file
$header-height: 60px;

// Top Header
.header {
  background-color: $header-bg-color;
  display: block;
  height: $header-height;
  overflow: hidden;
  @include transition(background-color 1s ease 0s,
    height 300ms cubic-bezier(.17, .04, .03, .94));
  width: 100%;

  .row {
    max-width: 100% !important;
    width: 100%;
  }

  > * {
    vertical-align: middle;
  }

  h1 {
    color: $inverse-color;
    display: inline;
    font-family: $font-regular;
    font-weight: normal;
    @include font-size(20);
    @include transition(transform 150ms cubic-bezier(.17, .04, .03, .94));
    line-height: 44px;
  }

  .hamburger-menu + h {
    margin-left: 13px;
  }

  .seperator {
    color: $inverse-color;
    @include font-size(22);
    padding: 0 4px 0 5px;
    position: relative;
    top: 1px;
  }

  .btn-actions,
  .btn-icon,
  .btn-menu {
    background-color: transparent;
    border: 1px solid transparent;

    .icon {
      fill: $header-icon-color;
    }

    &:focus,
    &:hover,
    &:active,
    &[aria-expanded="true"] {
      .icon {
        fill: $inverse-color !important;
      }
    }

    &:focus,
    &[aria-expanded="true"] {
      border: 1px solid $inverse-color;
      box-shadow: none;
    }

    .ripple {
      background-color: #ffffff;
    }

    span {
      color: #ffffff;
    }
  }

  .header-search {
    margin-left: -3px;

    > .icon {
      height: 21px;
    }
  }

  .header-right {
    float: right;
    position: relative;
    top: -7px;
  }

  .toolbar {
    margin: 10px 20px;

    .title {
      line-height: 38px;
      margin: 0;
      overflow: visible;
      padding: 0;
    }

    .buttonset {
      height: ($header-height / 2) + 2;
    }
  }

  .title .app-header {
    height: 28px;
    width: 32px;

    &.icon > span {
      background-color: $header-icon-color;
    }
  }

  .btn-icon:hover {
    span:not(.icon) {
      background-color: $inverse-color;
    }
  }

  .breadcrumb {
    display: block;
    padding: 1px 20px 0;

    ol {
      padding: 3px 0;
    }

    .hyperlink {
      color: $inverse-color;

      &:active,
      &:hover {
        border-bottom: 1px solid $inverse-color;
      }
    }

    li {
      color: $inverse-color;

      &:after {
        color: $inverse-color;
      }
    }

    &.alternate {
      background-color: $inverse-color;
      border-bottom: 1px solid #d8d8d8;

      &:hidden {
        border-bottom: 0;
      }

      ol {
        padding: 15px 0;
      }

      .hyperlink {
        color: $font-color-highcontrast;

        &:active,
        &:hover {
          border-bottom: 1px solid $font-color-highcontrast;
        }
      }

      li {
        color: $font-color-highcontrast;

        &:after {
          color: $font-color-highcontrast;
        }
      }
    }

  }

  .toolbar.has-title-button + .breadcrumb {
    padding-left: 65px;
  }

  // Tabs
  .tab {
    font-weight: bold;
    padding: 6px 6px 7px;

    &:before {
      background-color: rgba($inverse-color, 0);
    }

    &:not(.is-disabled):hover {
      color: $inverse-color;

      &:before {
        background-color: rgba($inverse-color, 1);
      }

      a {
        color: $inverse-color;
      }
    }

    &.is-selected {
      &:before {
        background-color: rgba($inverse-color, 1);
      }

      &:not(.is-disabled):hover {
        &:before {
          background-color: rgba($inverse-color, 1);
        }
      }

      a:hover {
        color: $inverse-color;
      }
    }

    a {
      color: $inverse-color;
    }
  }

  .tab-container {
    padding: 1px 20px 0;

    &.alternate {
      background-color: $inverse-color;
      border-bottom: 1px solid #d8d8d8;
      padding: 0 20px;

      .animated-bar {
        background-color: rgba($font-color-highcontrast, 1);
        margin-top: 1px;
      }

      .tab-focus-indicator.is-visible {
        border-color: $font-color-highcontrast;
      }

      .tab {
        &:before {
          background-color: rgba($font-color-highcontrast, 0);
        }

        &:not(.is-disabled):hover {
          color: $font-color-highcontrast;

          &:before {
            background-color: rgba($font-color-highcontrast, 1);
          }

          a {
            color: $font-color-highcontrast;
          }
        }

        &.is-selected {
          &:before {
            background-color: rgba($font-color-highcontrast, 1);
          }

          &:not(.is-disabled):hover {
            &:before {
              background-color: rgba($font-color-highcontrast, 1);
            }
          }

          a:hover {
            color: $font-color-highcontrast;
          }
        }

        a {
          color: $font-color-highcontrast;
        }
      }
    }

    .animated-bar {
      background-color: $inverse-color;
      margin-top: 2px;
    }

    .tab-focus-indicator.is-visible {
      border-color: $inverse-color;
    }

    .tab-list {
      border-bottom: 0;
    }
  }

  // Sticky Header
  &.is-sticky {
    z-index: 9000;
  }

}

//Hide Text
@media (max-width: $breakpoint-slim) {
  .header h1 {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .header .btn-icon {
    margin-top: -10px;
  }
}

// Print Style Sheet
@media print {
  body {
    background-color: transparent;
    width: 100%;
  }

  header.header,
  .masthead {
    background-color: transparent !important;
  }

  header.header .title {
    color: $graphite07 !important;
  }

  svg {
    fill: $graphite07 !important;
  }
}
