// Site/App Header
//================================================== //

// Variables for this file
$header-height: 70px;
$header-bg-color: #454545;

// Top Header
.header {
  background-color: $header-bg-color;
  display: block;
  height: $header-height;
  overflow: hidden;
  transition: background-color 1s ease 0s;
  width: 100%;

  .column {
    margin-top: 25px;

    > * {
      display: inline-block;
    }
  }

  h1 {
    color: $inverse-color;
    font-family: $font-regular;
    @include font-size(20);
    line-height: inherit;
    margin-left: 13px;
  }

  .seperator {
    color: $inverse-color;
    @include font-size(20);
    padding: 0 4px 0 5px;
    position: relative;
    top: -2px;
  }

  .btn-actions {
    background-color: transparent;
    border: 1px solid transparent;

    .icon {
      fill: $inverse-color;
    }

    &:focus,
    &:hover,
    &:active,
    &[aria-expanded="true"] {
      .icon {
        fill: $inverse-color !important;
      }
    }

    &:focus,
    &[aria-expanded="true"] {
      border: 1px solid $inverse-color;
      box-shadow: none;
    }

    .ripple {
      background-color: #ffffff;
    }
  }

  .header-right {
    float: right;
    position: relative;
    top: -7px;
  }

  .header-search {
    background-color: transparent;
    border: 1px solid transparent;
    height: 34px;
    margin-right: 5px;
    vertical-align: top;
    width: 34px;

    .icon {
      fill: $inverse-color;
      left: 5px;
      top: 6px;
    }

    &:hover .icon {
      fill: $inverse-color;
    }

    &:focus {
      border: 1px solid $inverse-color;
      box-shadow: none;
    }

    .ripple {
      background-color: #ffffff;
    }

  }

  // Sticky Header
  &.is-sticky {
    position: fixed;
    top: 0;
    z-index: 9000;

    + .container,
    + .site-content,
    + .hero,
    + .svg-icons + .container {
      margin-top: 90px;
    }

    + .scrollable-container,
    + .svg-icons + .scrollable-container {
      margin-top: 70px;
      padding-top: 20px;
    }

  }
}

// Hamburger Icon
.hamburger-menu {
  background-color: #ffffff;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 2px;
  position: relative;
  top: 2px;
  vertical-align: top;
  width: 25px;

  &:after,
  &:before {
    background-color: $inverse-color;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 100%;
  }

  &:before {
    top: 12px;
  }
}

// Print Style Sheet
@media print {
  body {
    background-color: transparent;
    width: 100%;
  }

  header.header {
    background-color: transparent !important;
  }

  header.header .title {
    color: #333333 !important;
  }
}
