// Site/App Header
//================================================== //

header.header {
  background-color: $header-color;
  height: 100px;
  padding-top: 35px;

  .title {
    color: $inverse-color;
    font-family: $font-semibold;
    @include font-size(24);
    @include rem(line-height, 2.4rem);
  }

  // Change invisible Label color to trick 508 checkers
  .audible {
    color: #ffffff;
  }
}

.header + .svg-icons + .grid,
.header + .grid {
  margin-top: 40px;
}

// Print Style Sheet
@media print {
  body {
    background-color: transparent;
    width: 100%;
  }

  header.header {
    background-color: transparent !important;
  }

  header.header .title {
    color: #333333 !important;
  }
}

//TODO: Remove was for demo only - will have a switcher
.header .field.aligned {
  position: absolute;
  right: 50px;
  top: 28px;

  input {
    background-color: #ffffff;
    width: 202px;
  }
}
