/* Hero Image / Banner
================================================== */
.hero {
  padding: 27px 47px;
  background-color: $primary-color;
}

.hero > h1, .hero > h2 {
  color: #fff;
  @include font-size(24);
  font-weight: lighter;
}

