// Regular, in-page Horizontal Tabs
//================================================== //

.tab-container.horizontal {
  margin-bottom: 20px;

  > .tab-list {
    border-bottom: 1px solid $tab-border-color;
    height: 50px;

    .icon:not(.icon-error) {
      fill: $tab-text-color;
    }

    > .tab {
      color: $tab-text-color;

      a {
        line-height: 12px;
        padding: 20px 11px 18px;
      }

      &:hover:not(.is-disabled) {
        color: $tab-hover-color;

        .icon:not(.is-error):not(.icon-error) {
          fill: $tab-hover-color;
        }
      }

      &.is-selected {
        color: $tab-selected-color;

        .icon:not(.is-error):not(.icon-error) {
          fill: $tab-selected-color;
        }
      }
    }
  }

  .tab-more,
  .add-tab-button {
    @include font-size(14);
    background-color: transparent;
    color: $tab-text-color;
    line-height: 12px;

    .icon {
      fill: $tab-text-color;
    }

    &:hover {
      color: $tab-hover-color;

      .icon:not(.is-error):not(.icon-error) {
        fill: $tab-hover-color;
      }
    }

    &.is-open,
    &.is-selected {
      color: $tab-selected-color;

      span {
        text-decoration: none;
      }

      .icon:not(.is-error):not(.icon-error) {
        fill: $tab-selected-color;
      }
    }
  }

  .tab-more {
    max-width: 102px;
    padding: 17px 0 16px 11px;
  }

  .add-tab-button {
    padding: 17px 0 16px 17px;
    width: 44px;
  }

  .animated-bar {
    top: 47px;
  }

  // Displays the Big Numbers over top of each title
  &.has-counts {

    .tab-list {
      height: 62px;
    }

    .tab {
      a {
        padding: 11px 11px 10px;
      }

      &.dismissible {
        .icon {
          position: static;
        }
      }
    }

    .animated-bar {
      top: 59px;
    }

    .tab-more {
      padding: 22px 0 22px 14px;
    }

  }

}
