// Regular, in-page Horizontal Tabs
//================================================== //

$horizontal-tabs-height: 40px;

.tab-container.horizontal {
  border-bottom: 1px solid $tab-border-color;

  &::before {
    background-image: linear-gradient(
      to right,
      rgba($body-bg-color, 1),
      rgba($body-bg-color, 0)
    );
    height: ($horizontal-tabs-height - 1px);
  }

  &::after {
    background-image: linear-gradient(
      to right,
      rgba($body-bg-color, 0),
      rgba($body-bg-color, 1)
    );
    height: ($horizontal-tabs-height - 1px);
  }

  > .tab-list-container {

    .icon:not(.icon-error) {
      fill: $tab-text-color;
    }

    .tab {
      color: $tab-text-color;

      a {
        padding: 12px 11px;
      }

      &:hover:not(.is-disabled) {
        color: $tab-hover-color;

        .icon:not(.is-error):not(.icon-error) {
          fill: $tab-hover-color;
        }
      }

      &.is-selected {
        color: $tab-selected-color;

        .icon:not(.is-error):not(.icon-error) {
          fill: $tab-selected-color;
        }
      }
    }
  }

  .tab-more,
  .add-tab-button {
    @include font-size(14);
    background-color: transparent;
    color: $tab-text-color;
    line-height: 12px;

    .icon {
      fill: $tab-text-color;
    }

    &:hover {
      color: $tab-hover-color;

      .icon:not(.is-error):not(.icon-error) {
        fill: $tab-hover-color;
      }
    }

    &.is-open,
    &.is-selected {
      color: $tab-selected-color;

      span {
        text-decoration: none;
      }

      .icon:not(.is-error):not(.icon-error) {
        fill: $tab-selected-color;
      }
    }
  }

  .tab-more {
    padding: 12px 4px 11px 14px;

    &::before {
      background-color: rgba($tab-border-color, .8);
      content: '';
      display: inline-block;
      height: 30px;
      left: 7px;
      position: absolute;
      top: 4px;
      width: 1px;
    }
  }

  .animated-bar {
    top: 36px;
  }

  // Displays the Big Numbers over top of each title
  &.has-counts {

    .tab {
      a {
        padding: 11px 11px 10px;
      }

      &.dismissible {
        .icon {
          position: static;
        }
      }

    }

    .animated-bar {
      top: 61px;
    }

    .tab-more {
      padding: 24px 0 24px 14px;

      &::before {
        height: 50px;
      }
    }

    .separator {
      &::before {
        height: 50px;
      }
    }
  }

  + .tab-panel-container {
    margin-bottom: 20px;
  }
}
