// Hyperhyperlinks
//================================================== //

.hyperlink {
  border: 1px solid transparent;
  border-radius: 2px;
  color: $hyperlink-color;
  cursor: pointer;
  font-family: $font-regular;
  @include font-size(14);
  line-height: 25px;
  margin-left: -5px;
  padding: 7px;
  position: relative;
  text-decoration: none;
  @include transition(all .3ms);
  white-space: nowrap;

  // Mouse Over States is Same as the focus
  &:hover {
    color: $hyperlink-hover-color;
    text-decoration: underline;
  }

  &:focus {
    border-color: $hyperlink-color;
    color: $hyperlink-color;
  }

  &:active {
    border-color: transparent;
    color: $hyperlink-active-color;
  }

  //Disabled
  &[disabled] {
    color: #b6b6b6;

    &:hover {
      border-bottom-color: transparent;
      color: #b6b6b6;
      cursor: default;
      text-decoration: none;
    }

    &:active {
      color: #b6b6b6;
    }
  }

  .ripple-wrapper {
    border-radius: 8px;
    margin-left: 20%;
    width: 60%;
  }
}

.link-list {
  margin-bottom: 40px;

  div {
    border-bottom: 1px solid $graphite02;
    margin-bottom: 10px;
    padding-bottom: 5px;

    &:last-child {
      border: 0;
    }

  }

  &.no-border div {
    border-bottom: 0;
  }
}


