// Hyperlinks
//================================================== //

.link {
  color: $link-color;
  cursor: pointer;
  font-family: $font-regular;
  @include font-size(14);
  line-height: 25px;
  margin-left: 5px;
  padding: 0 1px 0 0;
  text-decoration: none;
  white-space: nowrap;

  &:visited {
    color: $link-color; //#7533a6
  }

  // Mouse Over States is Same as the focus
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted $link-hover-color;
    outline-offset: 2px;
  }

  // TODO: Visited Style

  //Disabled
  &[disabled] {
    color: #666666;
    filter: alpha(opacity = 50);
    opacity: .5;

    &:hover {
      color: #666666;
      cursor: default;
      text-decoration: none;
    }

    &:active {
      color: $link-active-color;
      outline: thin dotted $link-active-color;
      text-decoration: underline;
    }
  }
}



