// Hyperlinks
//================================================== //

.hyperlink {
  @include font-size(12);
  @include antialiased();
  border: 1px solid transparent;
  border-radius: 2px;
  color: $hyperlink-color;
  cursor: pointer;
  line-height: 16px;
  padding-top: 2px;
  text-decoration: none;
  white-space: nowrap;

  &:hover:not([disabled]) {
    border-bottom-color: $hyperlink-hover-color;
    color: $hyperlink-hover-color;
  }

  &.object-count {
    display: inline-block;
    margin: 60px 20px 40px;
    text-align: center;
  }

  .xl-text {
    @include font-size(50);
    font-weight: lighter;
  }

  &.show-visited:visited {
    color: $hyperlink-visited-color;

    &:focus {
      outline: 1px solid $hyperlink-visited-color;
    }

    &:hover {
      border-bottom-color: $hyperlink-disabled-color;
    }
  }

  &:focus:not(.hide-focus) {
    outline: 1px solid $hyperlink-focus-border-color;
    outline-offset: 3px;
  }

  &:active {
    outline: none;
    outline-offset: 3px;
  }

  &[disabled] {
    color: $hyperlink-disabled-color;

    &:hover {
      cursor: default;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }

    &:focus {
      outline: 1px solid $disabled-color;
    }
  }

  &.back,
  &.directional {
    @include font-size(12);
    color: $hyperlink-color;
    display: inline-block;

    .icon {
      display: inline;
      fill: $hyperlink-color;
      height: 22px;
      left: -5px;
      margin-right: -11px;
      position: relative;
      top: -1px;
      vertical-align: middle;
      width: 22px;
    }

    &:active:not([disabled]),
    &:focus:not([disabled]),
    &:hover:not([disabled]):not(.no-focus) {
      border-bottom: 1px solid transparent;
      outline: none;
    }

    &:hover:not([disabled]) {
      span {
        border-bottom: 1px solid $hyperlink-hover-color;
      }
    }

    &:focus:not(.hide-focus) span {
      outline: 1px solid $hyperlink-focus-border-color;
      outline-offset: 3px;
    }
  }

  &.directional {

    .icon {
      left: -5px;
      margin-right: -7px;
      top: -1px;
    }
  }
}

// Links Stacked - as on the controls index page
.link-list {
  margin-bottom: 40px;

  li {
    line-height: 25px;

    svg {
      fill: $primary-color;
      height: 16px;
      left: 0;
      margin-right: 2px;
      top: 4px;
      width: 16px;
    }

    a span {
      border: 1px solid transparent;
      position: relative;
      text-transform: capitalize;
      top: 2px;
    }

    a:hover:not([disabled]) {
      border-bottom-color: transparent;

      span {
        border-bottom-color: $primary-color;
      }
    }
  }

  div {
    margin-bottom: 10px;
    padding-bottom: 5px;

    &:last-child {
      border: 0;
    }

  }

  &.no-border div {
    border-bottom: 0;
  }

  .timestamp {
    color: $graphite04;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: static;
    text-transform: uppercase;
  }
}

//Inline text should be 14px to match content
p .hyperlink {
  @include font-size(14);
}

//Right To Left Styles
html[dir='rtl'] {
  .hyperlink.back span {
    margin-left: 7px;
    margin-right: 0;
  }

  .hyperlink.forward::after {
    padding-left: 0;
    padding-right: 5px;
  }
}
