/* Icons and Icon Buttons
================================================== */

// Buttons
.btn-icon {
  cursor: pointer;
  border: none;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid transparent;
  color: transparent;
  fill: #666;
}

.btn-icon span {
  width: 0;
  color: transparent;
  position: absolute;
}

.btn-icon svg {
  height: 32px;
  margin: -2px -6px;
  width: 32px;
}

// Svg Styles
svg.icon {
  display: inline-block;
  fill: #666;
  height: 32px;
  position: relative;
  width: 32px;
}

svg.icon-logo {
  height: 34px;
  width: 34px;
}

.btn-icon:hover, .btn-icon:active {
  fill: #333;
}

.btn-icon:focus {
  border: 1px solid #0099ff;
  outline: 0;
}


// Specific Buttons
svg.icon.icon-error, svg.icon.icon-validated {
  display: inline;
  fill: $red;
  height: 16px;
  left: -2px;
  position: relative;
  top: 3px;
  width: 20px;
}

svg.icon.icon-validated {
  fill: $emerald;
}

svg.icon.icon-dirty {
  fill: $amber;
  position: absolute;
  transform: rotate(135deg);
  margin-left: -12px;
  margin-top: -12px;
  pointer-events: none;
}
