// Icons and Icon Buttons
//================================================== //

// Buttons
.btn-icon {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  color: transparent;
  cursor: pointer;
  fill: #999999;
  height: 32px;
  width: 32px;

  span {
    color: transparent;
    position: absolute;
    width: 0;
  }

  svg {
    height: 32px;
    margin: -2px -6px;
    width: 32px;
  }
}

// Svg Styles
svg.icon {
  display: inline-block;
  fill: #999999;
  height: 32px;
  position: relative;
  width: 32px;

  // Specific Buttons
  &.icon-error,
  &.icon-validated {
    display: inline;
    fill: $error-icon-fill;
    height: 18px;
    left: -2px;
    position: relative;
    top: 3px;
    width: 18px;
  }

  &.icon-validated {
    fill: $validated-icon-fill;
  }

  &.icon-dirty {
    fill: $dirty-icon-fill;
    margin-left: -12px;
    margin-top: -12px;
    pointer-events: none;
    position: absolute;
    @include css3(transform, rotate(135deg));

    &.checked {
      margin-left: -8px;
      margin-top: -8px;
    }
  }

}

svg.icon-logo {
  height: 34px;
  width: 34px;
}

.btn-icon:hover  svg,
.btn-icon:active svg {
  fill: #333333;
}

.btn-icon:focus {
  border: 1px solid #0896e9;
  outline: 0;
}
