// Icons and Icon Buttons
//================================================== //

.icon {
  display: inline-block;
  height: 32px;
  position: relative;
  width: 32px;
}

// Svg Styles
svg.icon {
  fill: #999999;

  // Specific Buttons
  &.icon-error,
  &.icon-validated {
    fill: $alert-red;
    height: 22px;
    width: 22px;
  }

  &.icon-validated {
    fill: $validated-icon-fill;
  }

  &.icon-dirty {
    fill: $dirty-icon-fill;
    margin-left: -12px;
    margin-top: -12px;
    pointer-events: none;
    position: absolute;
    @include css3(transform, rotate(135deg));
    z-index: 10;

    &.checked {
      margin-left: -9px;
      margin-top: -9px;
    }
  }

  &.icon-close {
    position: relative;
    top: -1.5px;
  }
}

svg.icon-logo {
  height: 34px;
  width: 34px;
}

svg.icon-tree {
  stroke: #999999;
}

.field .icon-error,
.field .icon-validated {
  display: inline-block !important;
  position: absolute;
  margin-left: -30px;
  margin-top: -1px;
  left: 300px;
  top: 23px;
  vertical-align: top;
}

.img-placeholder {
  background-color: #ececec;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  display: table-cell;
  height: 100px;
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
  width: 100px;

  svg {
    display: inline-block;
    fill: #ffffff;
    height: 45px;
    margin-left: 26px;
    margin-top: 25px;
    position: relative;
    width: 45px;
  }

}

.drilldown.btn-icon {
  border-radius: 0;

  svg {
    height: 23px;
    width: 23px;
  }

  span {
    color: transparent;
  }
}

// Psuedo-element Icons
//================================================== //

.icon.plus-minus {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    background-color: $font-color-light;
    border-radius: 2px;
    content: '';
    height: 2px;
    left: .65em;
    position: absolute;
    top: 1.4em;
    width: 14px;
    @include css3(transform-origin, 50% 50% 0);
    @include transition(transform 300ms cubic-bezier(.17, .04, .03, .94) 0s);
  }

  &::before {
    @include css3(transform, rotate(90deg));
  }

  &::after {
    @include css3(transform, rotate(0deg));
  }

  &.active {
    &::before,
    &::after {
      @include css3(transform, rotate(180deg));
    }
  }

}
