/* User Input - TextBox, Textarea
================================================== */

// Field Style
.field .checkbox-label,
.field .checkbox > label {
  margin-bottom: 5px;
  margin-top: 4px;
}

.field > input,
.field > textarea {
  margin-bottom: 20px;
}

.field {
  position: relative;

  > .textarea-wordcount {
    margin-bottom: 14px;
  }
}

// Input Style
input,
textarea {
  background-color: transparent;
  border: 1px solid $input-border-color;
  border-collapse: separate;
  border-radius: 2px;
  color: $input-color;
  display: inline-block;
  font-family: $font-regular;
  @include font-size(14);
  max-width: 100%;
  padding: 6px 10px;
  resize: none;
  text-align: left;
  width: 300px;
  -webkit-appearance: none;
}

input[disabled],
textarea[disabled],
input[readonly],
textarea[readonly] {
  background-color: $input-disabled-bg-color;
  border: solid 1px $input-disabled-border-color;
  color: $input-disabled-color;
  -webkit-text-fill-color: $disabled-color;
}

input[readonly],
textarea[readonly] {
  border-color: $input-readonly-border-color;
  color: $input-color;
}

input:focus,
textarea:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-shadow;
}

// Text Area
textarea {
  @include rem(line-height, 2rem);
  min-height: 80px;
  width: 362px;

  &.resizable {
    resize: vertical;
  }

  .almost-empty {
    border-color: $error-color;
  }
}

.textarea-wordcount {
  display: block;
  @include font-size(10);
  @include rem(line-height, 2rem);
  margin-top: -20px;
  min-height: auto;
  text-transform: uppercase;
  width: 362px;

  .focus {
    color: $input-color;
  }

  .almost-empty {
    color: $error-color;
  }
}

textarea[readonly] + .textarea-wordcount,
textarea[disabled] + .textarea-wordcount {
  display: none;
}

.textarea-print {
  display: none;
  white-space: pre-line;
}

// Print Style Sheet
@media print {
  textarea,
  .textarea-wordcount {
    display: none !important;
  }

  .textarea-print {
    display: inline-block !important;
    height: auto;
    width: 362px;
  }
}

// Required Indicator
.required:after {
  color: #ff3333;
  content: '*';
  display: inline-block;
  font-family: $font-regular;
  @include font-size(11);
  left: 2px;
  position: relative;
  speak: none;
  top: -1px;
}

@media reader, speech, aural {
  .required:after {
    content: '';
    display: none;
    visibility: hidden;
  }
}

// Placeholder - Inline help
::-webkit-input-placeholder {
  color: $input-placeholder-color;
  @include font-size(14);
  opacity: 1;
}

::-moz-placeholder {
  color: $input-placeholder-color;
  @include font-size(14);
  opacity: 1;
}

:-ms-input-placeholder {
  color: $input-placeholder-color;
  @include font-size(14);
  opacity: 1;
}

// Error States
.error,
.error-message {
  color: $error-color;
}

.field .icon-error,
.field .icon-validated {
  display: inline-block;
  margin-left: -30px;
  top: 3px;
}

input.error,
textarea.error {
  border-color: $error-color;
}

input.error:focus,
textarea.error:focus {
  box-shadow: 0 0 5px rgba(237, 28, 36, 0.2);
  color: $input-color !important;
}

textarea + .icon-error {
  left: 1px !important;
  top: -75px !important;
}

.error::-webkit-input-placeholder {
  color: $error-color;
  opacity: 1;
}

.error::-moz-placeholder {
  color: $error-color;
  opacity: 1;
}

.error:-ms-input-placeholder {
  color: #d5000e;
  opacity: 1;
}

// Text Selection
::selection {
  background: $primary-color;
  color: $inverse-color;
}

::-moz-selection {
  background: $primary-color;
  color: $inverse-color;
}

.input-wrapper {
  display: inline-block;
  margin-bottom: 20px;

  > .currency {
    color: $input-placeholder-color;
    line-height: normal;
    display: inline-block;
    padding: 6px 10px;
    position: absolute;
  }
}

