/* User Input - TextBox, TextArea
================================================== */

// Field Style
.field .checkbox-label, .field .checkbox > label {
  margin-bottom: 5px;
  margin-left: 2px;
}

.field > input {
  margin-bottom: 20px;
}

.field {
  position: relative;
}

// Input Style
input, textarea {
  background-color: transparent;
  border: 1px solid $input-border-color;
  border-collapse: separate;
  border-radius: 2px;
  color: $input-color;
  display: inline-block;
  font-family: $font-regular;
  @include font-size(14);
  max-width: 100%;
  padding: 6px 10px;
  resize: none;
  text-align: left;
  width: 300px;
}

input[disabled], textarea[disabled], input[readonly], textarea[readonly] {
  color: $input-disabled-color;
  -webkit-text-fill-color: $disabled-color;
  background-color: $input-disabled-bg-color;
  border: solid 1px $input-disabled-border-color;
}

input[readonly], textarea[readonly] {
  color: $input-color;
  border-color: $input-readonly-border-color;
}

input:focus, textarea:focus {
  box-shadow: $input-focus-shadow;
  border-color: $input-focus-border-color;
}

/* Required Indicator */
.required:after {
  color: #ff3333;
  content: "*";
  display: inline-block;
  font-family: $font-regular;
  @include font-size(11);
  left: 2px;
  position: relative;
  top: -1px;
}

@media reader, speech, aural {
  .required:after {
    content: "";
    display: none;
    visibility: hidden;
  }
}

// Placeholder - Inline help
::-webkit-input-placeholder {
 color: $input-placeholder-color;
 @include font-size(14);
}

::-moz-placeholder {
 color: $input-placeholder-color;
 @include font-size(14);
}

:-ms-input-placeholder {
 color: $input-placeholder-color;
 @include font-size(14);
}

// Error States
.error, .error-message {
  color: $error-color;
}

.field .icon-error, .field .icon-validated {
  display: inline-block;
  margin-left: -30px;
  top: 3px;
}

input.error {
  border-color: $error-color;
}

input.error:focus {
  color: $input-color !important;
  box-shadow: 0 0 5px rgba(237,28,36,.2);
}

.error::-webkit-input-placeholder {
 color: $error-color;
}

.error::-moz-placeholder {
 color: $error-color;
}

.error:-ms-input-placeholder {
 color: #d5000e;
}

// Text Selection
::selection {
  background: $primary-color;
  color: $inverse-color;
}
::-moz-selection {
  background: $primary-color;
  color: $inverse-color;
}
