// User Input - TextBox, Textarea
//================================================== //

// Field Style
.field .checkbox-label,
.field .checkbox > label {
  margin-bottom: 11px;
  margin-left: -5px;
  margin-top: -6px;
}

.field > input,
.field > textarea {
  margin-bottom: 20px;
}


// Two Connected Fields
.compound-field > .field {
  clear: both;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.field {
  position: relative;

  > .textarea-wordcount {
    margin-bottom: 14px;
  }

  &.l-pull-left {
    margin-right: 20px;
  }

  &.currency:before {
    color: $input-placeholder-color;
    content: attr(data-currency-symbol);
    display: inline-block;
    font-family: $font-regular;
    @include font-size(14);
    left: 10px;
    position: absolute;
    top: 29px;
  }

}

// Input Style
input,
textarea {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid $input-border-color;
  border-collapse: separate;
  border-radius: 2px;
  color: $input-color;
  display: inline-block;
  font-family: $font-regular;
  @include font-size(14);
  max-width: 100%;
  padding: 9px 10px 8px;
  resize: none;
  text-align: left;
  width: 300px;
}

input[disabled],
textarea[disabled] {
  background-color: $input-disabled-bg-color;
  border: solid 1px $input-disabled-border-color;
  color: $input-disabled-color;
  -webkit-text-fill-color: $input-disabled-color;
}

input[readonly],
textarea[readonly] {
  background-color: $input-readonly-bg-color;
  border-color: $input-readonly-border-color;
  color: $input-readonly-color;
  -webkit-text-fill-color: $input-readonly-color;
}

input:focus,
textarea:focus,
input.is-active {
  border-color: $input-focus-border-color;
  box-shadow: 0 0 5px rgba(8, 150, 233, .2);
}

// Text Area
textarea {
  @include rem(line-height, 2rem);
  min-height: 90px;
  overflow: auto;
  padding: 10px;
  width: 362px;

  &.resizable {
    resize: vertical;
  }

  .almost-empty {
    border-color: $error-color;
  }

  &.error {
    padding: 10px 25px 10px 10px;
  }

  + .icon-error {
    left: 362px !important;
  }

}

.textarea-wordcount {
  display: block;
  @include font-size(10);
  @include rem(line-height, 2rem);
  margin-top: -20px;
  min-height: auto;
  text-transform: uppercase;
  width: 362px;

  .focus {
    color: $input-color;
  }

  &.almost-empty {
    color: $error-color;
  }
}

textarea[readonly] + .textarea-wordcount,
textarea[disabled] + .textarea-wordcount {
  display: none;
}

.textarea-print {
  display: none;
  white-space: pre-line;
}

// Print Style Sheet
@media print {
  textarea,
  .textarea-wordcount {
    display: none !important;
  }

  .textarea-print {
    display: inline-block !important;
    height: auto;
    width: 362px;
  }
}

// Required Indicator
label.required:after,
.label.required:after {
  color: $error-color;
  content: '*';
  display: inline-block;
  font-family: $font-regular;
  @include font-size(18);
  left: 3px;
  line-height: 10px;
  position: relative;
  top: 2px;
}

// Placeholder - Inline help
::-webkit-input-placeholder {
  color: $input-placeholder-color;
  font-weight: lighter;
  @include font-size(14);
  line-height: 16px;
  opacity: 1;
}

::-moz-placeholder {
  color: $input-placeholder-color;
  font-weight: lighter;
  @include font-size(14);
  line-height: 16px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $input-placeholder-color;
  font-weight: lighter;
  @include font-size(14);
  line-height: 16px;
  opacity: 1;
}

::-ms-clear {
  display: none;
}

// Error States
.error,
.error-message {
  color: $error-color;
}

input.error,
textarea.error,
.editor.error {
  border-color: $error-color;
}

input.error:focus,
textarea.error:focus,
.editor.error:focus {
  border-color: $error-color !important;
  box-shadow: 0 0 5px rgba(237, 28, 36, .2);
  color: $input-color !important;
}

.error::-webkit-input-placeholder {
  color: $error-color;
  opacity: 1;
}

.error::-moz-placeholder {
  color: $error-color;
  opacity: 1;
}

.error:-ms-input-placeholder {
  color: #d5000e;
  opacity: 1;
}

.error-container {
  border: 1px solid #d5000e;
  left: 10px;
  max-width: 0;
  position: fixed;
  top: 10px;

  span {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    margin: 0 0 6px;
    overflow: hidden;
    padding: 10px 32px 10px 12px;
    position: relative;
    width: auto;
  }
}

// Text Selection
::selection {
  background: $primary-color;
  color: $inverse-color;
  -webkit-text-fill-color: $inverse-color;
}

::-moz-selection {
  background: $primary-color;
  color: $inverse-color;
}

// Field Sizes
.input-lg {
  width: 400px;
}

.input-med {  //Default
  width: 300px;
}

.input-sm {
  width: 150px;
}

.input-xs {
  width: 75px;
}

.input-full {
  width: 100%;
}

