// Css Application Layouts
//================================================== //

.l-pull-right {
  float: right;
}

.l-pull-left {
  float: left;
}

.l-center-text {
  text-align: center;
}

.l-right-text {
  text-align: right;
}

.l-vertical-center {
  @include vertical-align();
}

//An extra Div to pad down
.page-contents {
  margin-top: 30px;
}

// Single Column Layout
.header.is-sticky + .single-column {
  margin-top: 100px;
}

.single-column {
  height: calc(100% - 120px);
  margin: 20px 20px 30px;
  width: calc(100% - 40px);

  .content {
    background-color: $inverse-color;
    border: 1px solid $graphite02;
  }
}

// Give Space from header
.header + section {
  margin-top: 30px;
}

// scss-lint:disable ImportantRule
.no-scroll {
  overflow: hidden !important;
}
// scss-lint:enable ImportantRule

body.no-scroll {
  height: 100%;
}

// Two Column Layout
.two-column {
  font-size: 0;

  .main,
  .sidebar {
    background-color: $panel-bg-color;
    display: inline-block;

    &.scrollable {
      height: 100%;
      width: 100%;
    }

    &.scrollable-y {
      height: 100%;
    }
  }

  .main {
    border-right: 1px solid $panel-border-color;
    height: 100%;
    width: calc(75%);

    + .sidebar {
      border-right: 0;
      margin-right: 0 !important;
    }
  }

  .sidebar {
    background-color: $body-bg-color;
    border-right: 1px solid $panel-border-color;
    height: 100%;
    width: calc(25%);

    + .main {
      border-right: 0;
    }

    .listview {
      background-color: $body-bg-color;
      height: calc(100% - 70px);

      &.paginated {
        height: calc(100% - 108px);
      }
    }

    .listview-search + .listview {
      height: calc(100% - 90px);

      &.paginated {
        height: calc(100% - 140px);
      }
    }
  }

  &.fixed {

    .sidebar {
      width: 250px;
    }

    .main {
      min-height: 100%;
      vertical-align: top;
      width: calc(100% - 250px);
    }

  }

  &.fixed-md {

    .sidebar {
      width: 350px;
    }

    .main {
      min-height: 100%;
      vertical-align: top;
      width: calc(100% - 350px);
    }

  }

  &.fixed-lg {

    .sidebar {
      width: 450px;
    }

    .main {
      min-height: 100%;
      vertical-align: top;
      width: calc(100% - 450px);
    }

  }

  .content {
    height: 100%;
  }
}

.page-container .two-column,
.page-container .three-column {
  height: 100%;
}

.three-column {

  .main,
  .sidebar {
    background-color: $inverse-color;
    display: inline-block;
    vertical-align: top;

    &.scrollable {
      height: calc(100% - 3px);
      width: 100%;
    }

    &.scrollable-x {
      width: 100%;
    }

    &.scrollable-y {
      height: calc(100% - 3px);
    }
  }

  .main {
    border-left: 1px solid $graphite02;
    border-right: 1px solid $graphite02;
    width: calc(60% - 3px);

    &.scrollable,
    &.scrollable-y {
      border-left: 0;
      border-right: 0;
    }

    + .sidebar {
      float: right;
    }
  }

  .sidebar {
    background-color: $body-bg-color;
    width: 20%;
  }

  // Adding "fixed" class and a "left" and/or "right" class will make fixed-width columns
  // TODO: Determine actual widths
  &.fixed {
    &.left,
    &.right {
      .main {
        width: calc(80% - 254px);
      }
    }

    &.left {
      .sidebar:first-child {
        width: 250px;
      }

      .sidebar:last-child {
        width: 20%;
      }
    }

    &.right {
      .sidebar {
        width: 20%;
      }

      .main + .sidebar {
        width: 250px;
      }
    }

    &.both {
      .main {
        width: calc(100% - 504px);
      }

      .sidebar {
        width: 250px;
      }
    }
  }

}

.modal-body {
  .two-column,
  .three-column {
    margin: -20px -20px -24px;
  }
}

@include respond-to(phone) {
  .two-column {
    .main,
    .sidebar {
      display: block;
      width: 100%;

      &.scrollable,
      &.scrollable-y {
        height: auto;
        overflow: visible;
      }
    }

    .main {
      border: 0;
      border-bottom: 1px solid $graphite02;
    }

    .sidebar + .main {
      border-bottom: 0;
      border-top: 1px solid $graphite02;
    }

    // Undo fixed-widths
    &.fixed,
    &.fixed-md,
    &.fixed-lg {
      .main,
      .sidebar {
        display: block;
        // scss-lint:disable ImportantRule
        width: 100% !important; //Override Inline Css
        // scss-lint:enable ImportantRule
      }
    }

    // In List-Detail View, Main/Sidebar slide left/right instead of being stacked
    &.builder {
      .main,
      .sidebar {
        &.scrollable,
        &.scrollable-y {
          height: 100%;
          overflow: auto;
        }
      }
    }
  }

}

@media (max-width: $breakpoint-phone-to-tablet - 1) {
  .three-column,
  .three-column.fixed {
    .main,
    .sidebar {
      display: block;
      vertical-align: initial;
      width: 100%;

      &.scrollable,
      &.scrollable-y {
        height: auto;
        overflow: visible;
      }
    }

    &.left,
    &.right {
      .main,
      .sidebar {
        display: block;
        width: 100%;

        &:first-child,
        &:last-child {
          width: 100%;
        }
      }
    }

    .main {
      border-bottom: 1px solid $graphite02;
      border-left: 0;
      border-right: 0;
    }

    .sidebar + .main {
      border-top: 1px solid $graphite02;
    }
  }
}

// Modifications to Page Content based on different header types
//==============================================================

// Makes the internal content section of the page a scrollable <div>
// Use this in conjunction with a "no-scroll" class on the body tag
.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable-x {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollable-y {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

.page-container {
  @include transition(height 300ms cubic-bezier(.17, .04, .03, .94));
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;

  &.top-padding {
    padding-top: 20px;
  }

  > .row:first-child {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  > .row:last-child {
    padding-bottom: 20px;
  }

  .svg-patterns + .row {
    padding-top: 20px;
  }
}

.header {
  + .container,
  + .site-content,
  + .site-hero,
  + .application-menu + .site-hero,
  + .svg-icons + .container {
    margin-top: 60px;
  }

  + .page-container,
  + .application-menu + .page-container {
    @include transition(height 300ms cubic-bezier(.17, .04, .03, .94));
    height: calc(100% - 60px);
    margin-top: 60px;
  }

  &.has-tabs {
    height: 94px;

    + .page-container,
    + .application-menu + .page-container {
      height: calc(100% - 94px);
      margin-top: 94px;
    }
  }

  &.has-breadcrumb,
  &.has-alternate-tabs {
    height: 105px;

    + .page-container,
    + .application-menu + .page-container {
      height: calc(100% - 105px);
      margin-top: 105px;
    }
  }

  // Alternate breadcrumb is taller than regular breadcrumb
  &.has-alternate-breadcrumb {
    height: 120px;

    + .page-container,
    + .application-menu + .page-container {
      height: calc(100% - 120px);
      margin-top: 120px;
    }
  }

  &.has-wizard {
    height: 144px;

    + .page-container,
    + .application-menu + .page-container {
      height: calc(100% - 144px);
      margin-top: 144px;
    }
  }

  ~ .masthead + .page-container {
    height: calc(100% - 98px);
    margin-top: 98px;
  }

}

//Stands on its own content header - assumes header above it
.content-container-header {
  @include transition(height 300ms cubic-bezier(.17, .04, .03, .94));
  height: calc(100% - 60px);
  margin: 30px;
}

//Header on Side Panels - fx: tests/tree/expand-collapse-splitter
.panel-header {
  background-color: $panel-header-bg-color;
  height: 60px;
  line-height: 60px;

  .title {
    @include font-size(16);
    padding-left: 20px;
  }

  + .splitter {
    height: 100%;
    top: 0;
  }
}

.masthead {
  + .header.is-sticky {

    + .site-content,
    + .site-hero,
    + .application-nav + .site-hero,
    + .svg-icons + .page-container {
      margin-top: 135px;
    }

    + .page-container,
    + .application-menu + .page-container {
      height: calc(100% - 95px);
    }

    &.has-breadcrumb ,
    &.has-tabs {
      + .page-container,
      + .application-menu + .page-container {
        height: calc(100% - 133px);
        margin-top: 133px;
      }
    }

    &.has-wizard {
      height: 179px;

      + .page-container,
      + .application-menu + .page-container {
        height: calc(100% - 179px);
        margin-top: 179px;
      }
    }

  }

  + .page-container,
  + .application-menu + .page-container {
    height: calc(100% - 38px);
    margin-top: 38px;
  }

  + .header + .page-container,
  + .header + .application-menu + .page-container {
    height: calc(100% - 98px);
    margin-top: 98px;
  }

  + .module-tabs + .page-container,
  + .module-tabs + .application-menu + .page-container {
    height: calc(100% - 74px);
    margin-top: 74px;
  }

}

.module-tabs {
  + .page-container,
  + .application-menu + .page-container {
    height: calc(100% - 36px);
    margin-top: 36px;
  }
}

// Editorial Pattern
//==============================================================
.no-transform {
  // scss-lint:disable ImportantRule
  transform: none !important;
 // scss-lint:disable ImportantRule
}

.editorial {
  background-color: $inverse-color;

  .main {
    height: auto;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;

    > .content {
      display: inline-block;
      margin-top: 48px;
      max-width: calc(100% - 240px);
      padding: 0 30px;

      > h3,
      > h2 {
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 68%;
      }

    }

    > p {
      margin-bottom: 25px;
    }

  }

  .tag-list .tag {
    clear: both;
    display: block;
    float: left;
    margin: 5px 0;
    width: auto;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .is-sticky {
    .content {
      position: fixed;
      top: 60px;
    }
  }

  .hero {
    background-color: $body-bg-color;
    border-bottom: 1px solid $graphite02;
    height: 350px;
  }

  .section-tracker {
    margin-bottom: 20px;

    a {
      border-bottom: medium none;
      border-left: 3px solid transparent;
      color: $graphite05;
      height: auto;
      line-height: 25px;
      padding: 5px 10px;

      &:hover,
      &:active,
      &:focus,
      &.is-active {
        border-bottom: 0;
        border-left: 3px solid $primary-color;
        color: $primary-color;
        outline: none;
      }
    }
  }
}

@include respond-to(phone) {
  .editorial {
    .main .content {
      min-width: 100%;
    }

    .sidebar-nav {
      display: none;
    }
  }
}

// Responsive Images
.img-responsive {
  border: 0 none;
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

// Banner Detail Pattern
.page-container {
  .banner-detail {
    margin-top: -40px;
  }
}

.banner-detail {
  .banner {
    background-color: $panel-bg-color;
    border-bottom: 1px solid $panel-border-color;
    min-height: 320px;
    padding: 40px 0;
  }

  .detail {
    background-color: $body-bg-color;
    height: calc(100% - 320px);
  }
}

// Different hierarchy of info shown in a contrasting color panel - i.e. header detail
.content-area {
  background-color: $panel-bg-color;
  border: 1px solid $panel-border-color;

  h2 {
    color: $font-color;
  }
}

@include respond-to(phone) {

  .builder {
    .main,
    .sidebar {
      @include transform-transition-list(300ms cubic-bezier(.17, .04, .03, .94));
      position: absolute;
    }

    .main {
      @include css3(transform, translateX(100%));
    }

    .sidebar {
      @include css3(transform, translateX(0));
    }

    &.show-detail {
      .main {
        @include css3(transform, translateX(0));
      }

      .sidebar {
        @include css3(transform, translateX(-100%));
      }
    }
  }
}

// Scrollable Canvas
//==============================================================
.scrollable.canvas,
.scrollable-x.canvas,
.scrollable-y.canvas {
  min-height: calc(100% - 60px);
  min-width: 100%;
  -webkit-overflow-scrolling: touch;
}

//RTL Styles
html[dir='rtl'] {
  .two-column {
    .sidebar {
      border-left: 1px solid $panel-border-color;
      border-right: 0 solid $panel-border-color;
    }
  }

  .scrollable {
    direction: ltr;

    > * {
      direction: rtl;
    }
  }

  .l-pull-right {
    float: left;
  }

  .l-pull-left {
    float: right;
  }

  .l-right-text {
    text-align: left;
  }
}
