// Css Application Layouts
//================================================== //

.l-pull-right {
  float: right;
}

.l-pull-left {
  float: left;
}

.l-center-text {
  text-align: center;
}

// Single Column Layout
.header.is-sticky + .single-column {
  margin-top: 100px;
}

.single-column {
  height: calc(100% - 120px);
  margin: 20px 20px 30px;
  width: calc(100% - 40px);

  .content {
    background-color: $inverse-color;
    border: 1px solid #d8d8d8;
  }
}

// Give Space from header
.header + section {
  margin-top: 30px;
}

.no-scroll {
  overflow: hidden;
}

body.no-scroll {
  height: 100%;
}

// Two Column Layout
.two-column {

  .main,
  .sidebar {
    background-color: $inverse-color;
    display: inline-block;

    &.scrollable {
      height: calc(100% - 3px);
      width: 100%;
    }

    &.scrollable-y {
      height: calc(100% - 3px);
    }
  }

  .main {
    border-right: 1px solid $graphite02;
    width: calc(75% - 2px);
  }

  .sidebar {
    background-color: $body-bg-color;
    height: auto;
    width: calc(25% - 1px);

    & + .main {
      border-left: 1px solid $graphite02;
      border-right: 0;
    }
  }

  header {
    margin: 25px;
  }
}

.three-column {

  .main,
  .sidebar {
    background-color: $inverse-color;
    display: inline-block;

    &.scrollable {
      height: calc(100% - 3px);
      width: 100%;
    }

    &.scrollable-x {
      width: 100%;
    }

    &.scrollable-y {
      height: calc(100% - 3px);
    }
  }

  .main {
    border-left: 1px solid $graphite02;
    border-right: 1px solid $graphite02;
    width: calc(60% - 3px);

    &.scrollable,
    &.scrollable-y {
      border-left: 0;
      border-right: 0;
    }

    + .sidebar {
      float: right;
    }
  }

  .sidebar {
    background-color: $body-bg-color;
    width: 20%;
  }

}

@include respond-to(phone) {
  .two-column {
    .main,
    .sidebar {
      display: block;
      width: 100%;

      &.scrollable,
      &.scrollable-y {
        height: auto;
        overflow: visible;
      }
    }

    .main {
      border: 0;
      border-bottom: 1px solid $graphite02;
    }

    .sidebar + .main {
      border-bottom: 0;
      border-top: 1px solid $graphite02;
    }
  }

}

@include respond-to(tabletdown) {
  .three-column {
    .main,
    .sidebar {
      display: block;
      width: 100%;

      &.scrollable,
      &.scrollable-y {
        height: auto;
        overflow: visible;
      }
    }

    .main {
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid $graphite02;
    }

    .sidebar + .main {
      border-top: 1px solid $graphite02;
    }
  }
}

// Modifications to Page Content based on different header types
//==============================================================

// Makes the internal content section of the page a scrollable <div>
// Use this in conjunction with a "no-scroll" class on the body tag
.scrollable {
  overflow: auto;
}

.scrollable-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollable-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.page-container {
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.header {
  + .container,
  + .site-content,
  + .site-hero,
  + .application-menu + .site-hero,
  + .svg-icons + .container {
    margin-top: 80px;
  }

  + .page-container,
  + .application-menu + .page-container {
    height: calc(100% - 80px);
    margin-top: 80px;
  }
}

.masthead {
  + .header.is-sticky {

    + .page-container,
    + .site-content,
    + .site-hero,
    + .application-nav + .site-hero,
    + .svg-icons + .page-container {
      margin-top: 135px;
    }

    + .page-container,
    + .application-menu + .page-container {
      height: calc(100% - 114px);
      margin-top: 114px;
    }

  }
}

// Editorial Pattern
//==============================================================
.editorial {
  background-color: $inverse-color;

  .main {
    background-color: $inverse-color;
    height: auto;
    margin: 0 auto;
    max-width: 1080px;//$breakpoint-wide-tablet;
    width: 100%;

    .content {
      display: inline-block;
      float: left;
      margin-bottom: 50px;
      margin-top: 40px;
      max-width: calc(100% - 370px);
      min-width: 300px;
      padding: 0 30px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  // Sticky Way Points Sidebar Nav
  .sidebar-nav {
    display: inline-block;
    float: right;
    height: auto;
    margin-right: 30px;
    min-height: 100px;
    width: 300px;

    .content {
      background-color: $body-bg-color;
      border: 1px solid $graphite02;
      height: auto;
      padding: 0 30px 30px;
      width: 300px;
    }

    h3 {
      clear: both;
      margin-bottom: 20px !important;
      padding-top: 30px;

      &:not(:first-child) {
        border-top: 1px solid $graphite02;
      }
    }
  }

  .tag-list .tag {
    clear: both;
    display: block;
    float: left;
    width: auto;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .is-sticky {
    .content {
      position: fixed;
      top: 80px;
    }
  }


  .hero {
    background-color: $body-bg-color;
    border-bottom: 1px solid $graphite02;
    height: 500px;
  }
}

@include respond-to(tabletdown) {
  .editorial {
    .main .content {
      min-width: 100%;
    }

    .sidebar-nav {
      display: none;
    }
  }
}

// Responsive Images
.img-responsive {
  border: 0 none;
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

// Scrollable Canvas
//==============================================================
.scrollable.canvas,
.scrollable-x.canvas,
.scrollable-y.canvas {
  -webkit-overflow-scrolling: touch;
  min-height: calc(100% - 80px);
  min-width: 100%;
}
