// Simple List
//================================================== //

$listview-selected-bg-color: $primary-color;
$listview-selected-text-color: $inverse-color;

.listview {
  background-color: #ffffff;
  font-family: $font-regular;
  height: inherit;
  overflow: auto;
  position: relative;
  width: 100%;

  .listview-heading {
    @include font-size(16);
    color: #1a1a1a;
    @include ellipsis();
  }

  .listview-subheading {
    @include font-size(14);
    color: #666666;
  }

  .listview-micro {
    @include font-size(12);
    color: #666666;
    line-height: 18px;
  }

  .badge {
    float: left;
    margin-right: 15px;
    margin-top: -1px;

    &.pending::before {
      left: .35em !important;
    }
  }

  li.error {
    border-left: 3px solid $error-color;
    padding: 15px 20px 15px 17px;
  }

  .days,
  .hours {
    @include font-size(24);
    position: relative;
    top: -3px;
  }

  .day-sign,
  .hour-sign {
    @include font-size(16);
    margin-right: 5px;
    position: relative;
    top: -3px;
  }

  .dropdown-wrapper {
    float: left;
  }

  .l-pull-right {
    position: relative;
    top: -50px;

    .icon.icon-error {
      left: -10px;
      position: relative;
      top: 0;
      vertical-align: top;
    }
  }

  .field {
    float: left;
  }

  .checkbox-label {
    color: #1a1a1a;
    left: 10px;
    position: relative;
    top: 3px;
  }

  .listview-thumbnail {
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 50px;
    margin-right: 20px;
    margin-top: -3px;
    padding: 0;
    vertical-align: middle;
    width: 50px;
  }

  .listview-cell {
    display: table-cell;
    width: auto;
  }

  li {
    border-bottom: 1px solid #e5e5e5;
    color: #1a1a1a;
    padding: 15px 20px;
    @include transition(background-color .15s ease 0s);

    &:hover,
    &:focus {
      background-color: $menu-hover-color;
      outline: none;
    }

  }

  p {
    @include font-size(14);
    color: #1a1a1a;
    line-height: 23px;
  }

  .is-toolbar-open {
    height: calc(100% - 50px);
    margin-top: 50px;
  }

  button {
    background-color: transparent;
    border-radius: 0;
    margin: 0 15px;

    svg {
      height: 23px;
      margin-top: -5px;
      width: 30px;
    }
  }

  // Selection Styling
  &.is-selectable li,
  &.is-selectable tr {
    cursor: pointer;
  }

  li.is-selected,
  tr.is-selected {
    background-color: $azure01; //bde7ff

    &:hover {
      background-color: $azure01;
    }
  }

  tr.is-selected td:first-child {
    padding: 13px 15px;
  }

  // Selection Checkboxes
  .listview-checkbox {
    margin-left: -5px;
    position: absolute;

    + p {
      margin-left: 35px;
    }
  }

  &.is-muliselect li:before {
    @include checkbox-unchecked-before-style;
    left: 14px;
    margin-left: 0;
  }

  &.is-muliselect li {
    position: relative;
    text-indent: 30px;

    &.is-selected:before {
      @include checkbox-checked-before-style;
    }

    &.is-selected:after {
      @include checkbox-checked-after-style;
      @include css3(transform-origin, -11px top 0);
      @include checkbox-animation;
      left: 20px;
      margin-top: 0;
      top: 17px;
    }
  }
}

.listview-toolbar {
  background-color: $listview-selected-bg-color;
  border-radius: 2px 2px 0 0;
  display: none;
  height: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  @include transition(height 1.2s ease-out 0s);
  text-align: right;
  width: 100%;
  z-index: 20;

  &.is-visible {
    height: 52px;

    + .listview {
      height: calc(100% - 50px);
      margin-top: 50px;
    }
  }

  button {
    color: $listview-selected-text-color;
    @include font-size(12);
    font-weight: bold;
    margin-top: 9px;
    text-transform: uppercase;

    &:focus {
      box-shadow: 0 0 0 2px $listview-selected-bg-color, 0 0 0 3px $listview-selected-text-color;
    }

    &:hover,
    &:focus {
      color: $listview-selected-text-color;

      > span {
        color: $listview-selected-text-color;
      }
    }

    &:last-child {
      margin-right: 20px;
    }

    .ripple {
      background-color: $listview-selected-text-color;
    }
  }

  .listview-selection-count {
    color: $listview-selected-text-color;
    @include font-size(16);
    float: left;
    line-height: 54px;
    margin-left: 20px;
  }
}

.listview-table {
  border-collapse: collapse;
  width: 100%;

  tr,
  td {
    @include font-size(14);
    color: #1a1a1a;
    font-weight: lighter;
    padding: 13px 15px;
    @include transition(background-color .15s ease 0s);
  }

  tr:hover,
  tr:focus {
    background-color: $listview-selected-bg-color;
    outline: none;
  }

  &.show-header th {
    color: $graphite10;
    display: table-cell;
    @include font-size(16);
    font-weight: bold;
    padding: 10px 15px;
    text-align: left;
  }

  th {
    display: none;
  }

  tr {
    border-bottom: 1px solid #e5e5e5;
  }
}

