// Simple List
//================================================== //

.listview {
  background-color: #ffffff;
  font-family: $font-regular;
  overflow: auto;
  position: relative;
  width: 100%;

  .header {
    @include font-size(16);
    color: #333333;
  }

  li {
    border-bottom: 1px solid #e5e5e5;
    padding: 14px 23px;
  }

  li:hover {
    background-color: $menu-hover-color;
    transition: background-color .15s ease 0s;
  }

  p {
    @include font-size(16);
  }
}

.card {
  > .overlay {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 10;
  }

  &.menu-engaged {
    > .overlay {
      opacity: .3;
      visibility: visible;
    }
  }

}
