// Simple List
//================================================== //

$listview-selected-text-color: $inverse-color;

.listview {
  background-color: $inverse-color;
  height: inherit;
  overflow: auto;
  position: relative;
  width: 100%;

  .listview-heading {
    @include ellipsis();
    @include font-size(16);
    color: $font-color-extrahighcontrast;
    font-weight: lighter;
  }

  .listview-image-round {
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 70px;
    margin-right: 20px;
    width: 70px;
  }

  .listview-subheading {
    @include font-size(14);
    color: $font-color;
  }

  .listview-micro {
    @include font-size(12);
    color: $font-color;
    line-height: 18px;
  }

  .badge {
    float: left;
    margin-right: 15px;
    margin-top: -1px;

    &.pending::before {
      left: .35em !important;
    }
  }

  li {
    @include transition(background-color .15s ease 0s);
    border: 1px solid transparent;
    border-bottom: 1px solid $graphite02;
    color: $font-color;
    padding: 20px 20px 15px;

    &:after {
      clear: both;
      content: '';
      display: inline;
    }

    &:hover,
    &:focus {
      background-color: $popupmenu-hover-color;
      outline: none;

      &:focus {
        //@include css3(box-shadow, 0 0 1px 1px $primary-color inset);
        border: 1px solid $primary-color;
      }

    }

    &.error {
      border-left: 3px solid $error-color !important;
      padding: 15px 20px 15px 17px;
    }

    .btn-icon {
      top: 5px;
    }
  }

  .days,
  .hours {
    @include font-size(24);
    position: relative;
    top: -3px;
  }

  .day-sign,
  .hour-sign {
    @include font-size(16);
    margin-right: 5px;
    position: relative;
    top: -3px;
  }

  .dropdown-wrapper {
    float: left;
  }

  .l-pull-right {
    position: relative;
    top: -30px;

    .icon.icon-error {
      left: -10px;
      position: relative;
      top: -8px;
      vertical-align: middle;
    }

    &.listview-micro {
      top: -50px;
    }
  }

  .field {
    float: left;
  }

  .checkbox-label {
    left: 20px;
    position: relative;
    top: 15px;
  }

  .listview-thumbnail {
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 50px;
    margin-right: 20px;
    margin-top: -3px;
    padding: 0;
    vertical-align: middle;
    width: 50px;
  }

  .listview-cell {
    display: table-cell;
    width: auto;
  }


  p {
    @include font-size(14);
    color: $font-color-highcontrast;
    line-height: 23px;
  }

  .is-toolbar-open {
    height: calc(100% - 50px);
    margin-top: 50px;
  }

  button {
    margin: 0 25px;

    &:not(.tableview button) {
      background-color: transparent;
      border-radius: 0;
    }

    svg {
      height: 23px;
      // margin-top: -5px;
      width: 30px;
    }
  }

  // Selection Styling
  &.is-selectable li ,
  &.is-selectable tr {
    cursor: pointer;

    &.is-disabled {
      cursor: default;
    }
  }

  .is-disabled {
    @include unselectable;
    color: $input-disabled-color;
    cursor: default;
    -webkit-text-fill-color: $input-disabled-color;

    p {
      color: $input-disabled-color;
      -webkit-text-fill-color: $input-disabled-color;
    }

    &:hover {
      background-color: inherit;
    }
  }

  li.is-selected,
  tr.is-selected {
    background-color: $azure01; //bde7ff

    &:hover {
      background-color: $azure01;
    }
  }

  tr.is-selected td:first-child {
    padding: 13px 15px;
  }

  // Selection Checkboxes
  .listview-checkbox {
    margin-left: -5px;
    position: absolute;

    + p {
      margin-left: 35px;
    }
  }

  &.is-muliselect li:before {
    @include checkbox-unchecked-before-style;
    left: 14px;
    margin-left: 0;
  }

  &.is-muliselect li {
    position: relative;
    text-indent: 25px;

    &.is-selected:before {
      @include checkbox-checked-before-style;
    }

    &.is-selected:after {
      @include checkbox-checked-after-style;
      @include css3(transform-origin, -11px top 0);
      @include checkbox-animation;
      left: 20px;
      margin-top: 0;
      top: 22px;
    }
  }

  &.tableview {
    background-color: transparent;

    .dropdown-wrapper {
      margin-bottom: 0;
    }

    .info > li,
    .info > li:hover {
      background-color: transparent;
      border: 0 none;
      padding: 0 !important;
    }

    td {

      .row:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 1.2em;
      }

      button {
        margin: 0;
      }

      input[type='text']:not([class='dropdown']) { //text field center-text
        margin-bottom: 0;
        text-align: center;
      }
    }
  }}

.listview-toolbar {
  background-color: $primary-color;
  border-radius: 2px 2px 0 0;
  margin: 0;
  overflow: hidden;
  text-align: right;
  z-index: 20;

  + .listview {
    @include css3(transition, height 300ms cubic-bezier(.17, .04, .03, .94));
    height: calc(100% - 50px);
  }

  // Override Toolbar styles
  &.toolbar {
    margin-bottom: 0;

    .buttonset {
      height: 44px;
      margin: 5px 13px 5px 1px;
    }

    .more {
      top: 5px;
    }
  }

  &.is-hidden {
    height: 0;

    + .listview {
      height: 100%;
    }
  }

  .btn-actions {
    > .icon {
      fill: $listview-selected-text-color;
    }

    &:hover,
    &:focus:not(.hide-focus) {
      > .icon {
        fill: $listview-selected-text-color;
      }
    }
  }

  *[class^="btn-"] {
    @include font-size(12);
    color: $listview-selected-text-color;
    font-weight: bold;
    min-width: 50px;
    text-transform: uppercase;

    &:focus {
      box-shadow: 0 0 0 2px $primary-color, 0 0 0 3px $listview-selected-text-color;
    }

    &:hover,
    &:focus:not(.hide-focus) {
      color: $listview-selected-text-color;

      > span {
        color: $listview-selected-text-color;
      }
    }

    .ripple {
      background-color: $listview-selected-text-color;
    }
  }

  .listview-selection-count {
    @include font-size(16);
    color: $listview-selected-text-color;
    float: left;
    line-height: 54px;
    margin-left: 20px;
  }
}

.listview-table {
  border-collapse: collapse;
  margin: 2px;
  width: calc(100% - 4px);

  tr,
  td {
    @include font-size(14);
    @include transition(background-color .15s ease 0s);
    color: $font-color-extrahighcontrast;
    font-weight: lighter;
    padding: 13px 15px;
  }

  tr {
    border-bottom: 1px solid $graphite02;
  }

  tr:focus {
    // @include css3(box-shadow, 0 0 1px 1px $primary-color inset);
    outline: 1px solid $input-focus-border-color;
  }

  th {
    display: none;
  }

}


