// Lookup
//================================================== //

.lookup-wrapper {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 100%;
  position: relative;

  .lookup {
    padding-right: 35px;
    text-overflow: ellipsis;

    &[readonly] + .trigger,
    &[disabled] + .trigger {
      cursor: default;

      .icon {
        fill: $input-disabled-bg-color;
      }
    }

    &[disabled] + .trigger > .icon {
      fill: $input-disabled-color;
    }

    &.is-not-editable {
      background-color: $input-bg-color;
      border: 1px solid $input-border-color;
      color: $input-color;

      &:not([disabled]) + .trigger {
        cursor: pointer;
      }

      &:focus {
        @include focus-state();
      }
    }
  }

  .trigger {
    cursor: pointer;
    display: inline-block;
    height: 34px;
    margin-left: -35px;
    outline: none;
    position: absolute;
    width: 34px;

    .icon {
      background-color: inherit;
      fill: $trigger-icon-fill-color;
      height: 18px;
      pointer-events: none;
      right: -7px;
      top: 8px;
      width: 18px;
    }

    &:hover .icon {
      fill: $trigger-hover-color;
    }
  }

}

.ie9 .lookup-wrapper .trigger,
.ie10 .lookup-wrapper .trigger {
  background-color: rgba($white, 0);
}

.lookup-modal {

  &.lookup-no-search {
    .toolbar {
      margin-bottom: 0;
      margin-top: -40px;
    }

    .modal-header {
      padding: 15px 20px 5px;
    }
  }

  .datagrid tr:last-child td {
    border-bottom: 0;
  }

  .toolbar {
    margin-bottom: 15px;
    padding: 0;

    .buttonset {
      width: 100%;
    }
  }

  .modal-body-wrapper {
    background-color: inherit;
    overflow: hidden;
    padding: 0 18px 10px;
  }

  .modal-buttonset {
    background-color: inherit;
    margin-top: 0;
  }

  .modal-content {
    margin: 0;
  }

  .modal-header {
    padding: 20px 20px 10px;
  }

  .title {
    @include font-size(18);
    @include antialiased();
  }

  tr.is-clickable {
    cursor: pointer;

    td:focus,
    td.is-focused {
      box-shadow: none;
    }

    &:hover:not(.datagrid-expandable-row) td:not(.is-editing) {
      background-color: $datagrid-row-hover-color;
    }
  }

  .toolbar-searchfield-wrapper.non-collapsible {
    // scss-lint:disable ImportantRule
    width: 100% !important;
    // scss-lint:enable ImportantRule

    input {
      background-color: $searchfield-lighter-bg-color;

      // scss-lint:disable VendorPrefix
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
        &:-ms-input-placeholder {
        color: $searchfield-lighter-text-color;
      }
      // scss-lint:disable VendorPrefix

    }
  }

}

.ie11 {
  .lookup-modal .modal-body .toolbar .more {
    position: relative;
    z-index: 1;
  }
}


// Short fields
.field-short {
  .lookup-wrapper {
    margin-bottom: 0;

    .trigger {
      height: 24px;
      margin-left: -22px;
      width: 18px;

      .icon {
        height: 14px;
        right: 0;
        top: 6px;
        width: 18px;
      }

      + .icon {
        margin-left: -41px;
      }
    }
  }

  .lookup {
    padding-right: 18px;
  }
}

//RTL Styles
html[dir="rtl"] {

  .lookup-wrapper .trigger {
    margin-left: 0;
    margin-right: -33px;

    .icon {
      height: 14px;
      left: 0;
      right: auto;
      top: 6px;
      width: 18px;
    }

    + .icon {
      margin-left: -41px;
    }
  }

  .field-short .lookup-wrapper .trigger {
    margin-left: 0;
    margin-right: -20px;

    .icon {
      height: 14px;
      left: 0;
      right: auto;
      top: 3px;
      width: 18px;
    }
  }

  .lookup-wrapper .lookup {
    padding-left: 35px;
    padding-right: 10px;
    text-align: right;
    text-overflow: ellipsis;
  }
}
