// Masthead
//================================================== //

$masthead-bg-color: $slate07;
$masthead-border-color: $slate08;
$masthead-text-color: $slate03;
$masthead-button-color: $slate04;
$masthead-button-hover-color: $white;
$masthead-button-focus-color: $white;

.masthead {
  background-color: $masthead-bg-color;
  border-bottom: 1px solid $masthead-border-color;
  height: 38px;
  width: 100%;
  z-index: 9000;

  .masthead-icon {
    border-radius: 0;
    height: 32px;
    margin-right: 0;
    padding: 0;
    width: 32px;

    > .icon {
      height: 30px;
      width: 30px;
    }

    .ripple-effect {
      background-color: transparent;
    }
  }

  [class^="btn"],
  .btn {
    height: 32px;
    min-width: 32px;
    padding: 0;
  }

  .btn-icon,
  .btn-actions,
  .btn-close {
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
  }

  .toolbar-searchfield-wrapper {

    > .icon:not(.close, .error) {
      fill: $masthead-button-color;
      height: 18px;
      opacity: 1;
    }

    &.has-focus:not(.active) {
      > .icon {
        color: $masthead-button-hover-color;
      }
    }
  }

  .searchfield {
    height: 28px;
  }

  .toolbar {
    height: 100%;
    margin-bottom: 0;

    .title {
      height: 100%;
      padding: 0;

      > *:first-child {
        margin-left: 10px;
      }

      > button + h1 {
        margin-left: 10px;
      }
    }

    .buttonset {
      height: 36px;

      > *:not(.toolbar-searchfield-wrapper) {
        margin: 3px 5px 2px 0;
      }

      .toolbar-searchfield-wrapper {
        margin: 2px 5px 1px 0;
      }
    }

    [class^="btn"],
    .btn {
      color: $masthead-text-color;

      .ripple-effect {
        background-color: transparent;
      }

      span {
        color: inherit;
      }

      .icon {
        fill: $masthead-button-color;

        &.app-drawer {
          left: -6px;
          // scss-lint:disable ImportantRule
          position: relative !important;
          // scss-lint:enable ImportantRule
          top: -6px;
        }
      }

      &:hover:not([disabled]) {
        color: $masthead-button-hover-color;

        .icon {
          fill: $masthead-button-hover-color;
        }
      }

      &:focus:not(.hide-focus) {
        box-shadow: 0 0 0 2px transparent, 0 0 0 1px $masthead-button-focus-color;

        .icon {
          fill: $masthead-button-focus-color;
        }
      }

      &.is-selected {
        &:focus:not(.hide-focus) {
          color: $masthead-button-focus-color;

          .icon {
            fill: $masthead-button-focus-color;
          }
        }
      }
    }
  }
}

.twelve {
  .masthead {
    position: static;
  }
}

.masthead-appname {
  @include font-size(12);
  color: $masthead-text-color;
  display: inline-block;
  font-weight: bold;
  line-height: 38px;
  margin: 0;
  vertical-align: top;
}
