// Masthead
//================================================== //

$masthead-button-text-color: $slate03;
$masthead-button-text-hover-color: $white;
$masthead-button-text-focus-color: $white;

.masthead {
  background-color: $masthead-bg-color;
  border-bottom: 1px solid $masthead-border-color;
  height: 38px;
  width: 100%;
  z-index: 9000;

  .icon {
    fill: $masthead-button-text-color;
  }

  .ripple-effect {
    background-color: $masthead-button-text-hover-color;
  }

  *[class^="btn"] {
    color: $masthead-button-text-color;

    > span.audible {
      color: $masthead-button-text-color !important;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px transparent, 0 0 0 1px $masthead-button-text-hover-color;
      color: $masthead-button-text-hover-color;

      > span {
        color: $masthead-button-text-hover-color;
      }

      > .icon {
        fill: $masthead-button-text-hover-color;

        &.app-header span:not(.audible) {
          background-color: $masthead-button-text-hover-color;
        }
      }
    }

    &.is-selected {
      > span {
        color: $masthead-button-text-focus-color;
      }

      > .icon {
        fill: $masthead-button-text-hover-color;
      }
    }
  }

  button {
    height: 28px;
    margin-top: 0;
    min-width: 28px;
    padding-top: 0;
    vertical-align: middle;

    > span {
      color: $masthead-button-text-color;
    }

    > .icon:not(.icon-logo) {
      height: 20px;
      margin-left: 0;
      top: -5px;
      width: 20px;

      &.app-header {
        left: -5px;
        top: -8px;
        @include css3(transform, scale(.8));
      }

      &.icon-dropdown {
        height: 11px;
      }
    }
  }

  .btn-icon {
    min-height: 24px;
    min-width: 24px;
  }

  .l-pull-right {
    .btn-icon {
      margin-right : 5px;
    }

    .btn-icon:last-child {
      margin-right: 20px;
    }
  }

  //Logo
  > .icon {
    height: 24px;
    left: 13px;
    margin-right: 20px;
    top: 5px;
  }

  > .icon-logo {
    height: 32px;
    left: 20px;
    margin-right: 20px;
    top: 3px;
  }

  .l-pull-right {
    height: 33px;
  }

  .btn-icon {
    &.has-text > span {
      color: $slate03;
    }

    &:hover,
    &:active {

    &.has-text > span {
      color: $white;
    }

      svg {
        fill: $white;
      }
    }
  }

  .btn-actions:not(.hide-focus) {
    .icon {
      fill: $slate03;
    }

    &:focus {
      box-shadow: 0 0 0 1px $white;

      .icon {
        fill: $white;
      }
    }
  }

  > .toolbar {
    height: 100%;

    .title {
      height: 100%;
      padding: 0;

      > *:first-child {
        margin-left: 1.9rem;
      }
    }

    button {
      > .icon-logo {
        height: 28px;
        width: 28px;
      }
    }

    .buttonset {
      height: 30px;

      button {
        margin-bottom: 2px;
        margin-top: 1px;
      }

      .btn-icon.has-text {
        span:not(.audible) {
          display: inline-block;
          position: relative;
        }
      }
    }

    .more .btn-actions {
      margin: 3px 5px 0 0;
    }

    .searchfield {
      padding: 5px 10px;
      width: 32px;

      &:focus {
        background-color: $masthead-border-color;
        border-color: $masthead-border-color;
        color: $white;
        padding: 5px 10px 5px 32px;
      }
    }

    .searchfield-wrapper {
      .icon {
        top: 5px;
        fill: $slate03;
      }
    }
  }
}

.twelve {
  .masthead {
    position: static;
  }
}

.masthead-appname {
  color: $slate03;
  display: inline-block;
  font-weight: bold;
  @include font-size(12);
  line-height: 38px;
  margin: 0;
  vertical-align: top;
}

@include respond-to(phone) {
  .btn-icon {
    width: 28px;

    &.has-text > span {
      display: none;
    }
  }
}
