// Menu Buttons
//================================================== */

.btn-group > * {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}

.btn-split,
.btn-menu,
.btn-actions {
  height: $menubutton-height;
  min-width: 0;
  padding: 0;

  span {
    @include rem(padding, 1rem);
    @include font-size(12);
    font-weight: 700;
    line-height: $menubutton-height;
    text-transform: uppercase;
    vertical-align: top;
  }

  .icon {
    pointer-events: none;
  }
}

.btn-actions {
  background-color: transparent;
  border-radius: 18px;
  box-shadow: 0 0 0 2px transparent;
  position: relative;

  > .icon {
    fill: $tertiary-btn-color;
  }

  > * {
    pointer-events: none;
  }

  &:before {
    border-radius: 12px;
  }

  &:hover {
    > .icon {
      fill: $tertiary-btn-hover-color;
    }
  }

  &:focus {
    box-shadow: 0 0 0 1px $primary-btn-bg-color;

    > .icon {
      fill: $tertiary-btn-hover-color;
    }
  }

  &[aria-expanded="true"] {
    box-shadow: 0 0 0 1px $primary-btn-bg-color;

    > .icon {
      fill: $tertiary-btn-hover-color;
    }
  }


  .ripple-wrapper {
    border-radius: 18px;
  }
}
