// Menu Buttons
//================================================== */

.btn-group > * {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}

.btn-split,
.btn-menu,
.btn-actions {
  background-color: $menubutton-bg-color;
  border: 1px solid $menubutton-border-color;
  border-radius: 2px;
  @include font-size(18);
  height: $menubutton-height;

  span {
    @include rem(padding, 1rem);
    line-height: $menubutton-height;
    vertical-align: top;
  }

  &:focus {
    border-color: $menubutton-focus-border-color;
  }

  &[disabled] {
    background-color: $menubutton-disabled-bg-color;
    border-color: $menubutton-disabled-border-color;
    cursor: default;

    span {
      color: $menubutton-disabled-color;
    }
  }

  .icon {
    fill: $menubutton-border-color;
    pointer-events: none;
  }
}

.btn-split {
  border-radius: 2px 0 0 2px;

  + .btn-menu {
    border-radius: 0 2px 2px 0;
    margin-left: -21px;
  }

  &:focus + .btn-menu {
    border-left: 1px solid $menubutton-focus-border-color;
  }
}

.btn-actions {
  border: 1px solid transparent;

  > .icon {
    fill: $font-color-extradark;
  }

  > * {
    pointer-events: none;
  }

  &:before {
    background-color: rgba($primary-color, .3);
    border-radius: 12px;
  }

  &:focus,
  &:hover {
    > .icon {
      fill: $font-color-extradark;
    }

    &[aria-expanded="true"] {
      > .icon {
        fill: $menubutton-focus-border-color;
      }
    }
  }

  &:focus {
    border-color: $primary-color !important;

    > .icon {
      fill: $font-color-extradark;
    }
  }

  &[aria-expanded="true"] {
    > .icon {
      fill: $menubutton-focus-border-color;
    }
  }
}
