// Menu Buttons
//================================================== */

.btn-group > * {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}

.btn-split,
.btn-menu {
  background-color: $menubutton-bg-color;
  border: 1px solid $menubutton-border-color;
  border-radius: 2px;
  height: $menubutton-height;

  span {
    @include rem(padding, 1rem);
    line-height: $menubutton-height;
    vertical-align: top;
  }

  &:focus {
    border-color: $menubutton-focus-border-color;
    box-shadow: $menubutton-focus-shadow;
  }

  &[disabled] {
    background-color: $menubutton-disabled-bg-color;
    border-color: $menubutton-disabled-border-color;
    cursor: default;

    span {
      color: $menubutton-disabled-color;
    }
  }

  .icon {
    fill: $menubutton-border-color;
    pointer-events: none;
  }
}

.btn-split {
  border-radius: 2px 0 0 2px;

  + .btn-menu {
    border-radius: 0 2px 2px 0;
    margin-left: -21px;
  }

  &:focus + .btn-menu {
    border-left: 1px solid $menubutton-focus-border-color;
  }
}
