// Modal Dialog and Messages
//================================================== //

// NOTE:  this element gets a margin dynamically set in the "resize" method of modal.js
.modal {
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  min-width: 200px;
  opacity: 0;

  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  // Ignoring the mixin and doing manual CSS3 vendor-prefixing here because this is complicated
  @include css3(transform, scale(.9));
  -moz-transition: opacity .2s, -moz-transform .2s;
  -ms-transition: opacity .2s, -ms-transform .2s;
  -o-transition: opacity .2s, -o-transform .2s;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  width: auto;
  top: 50%;
  z-index: 1001;

  &.is-visible {
    opacity: 1;
    @include css3(transform, scale(1));
  }

  textarea {
    margin-bottom: 10px;
    width: 300px;

    + .icon-error {
      left: 271px !important;
      margin-top: 23px;
      position: absolute;
      top: 0 !important;
    }
  }

  .textarea-wordcount {
    margin-bottom: 10px;
    margin-top: -9px;
    width: auto;
  }

  hr {
    border-bottom: 0 none;
    border-top: 1px solid $fieldset-border-top-color;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-top: 10px;
    padding: 0;
  }
}

.overlay {
  background: #000000;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  @include css3(transition, all .2s);
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}

.modal-engaged .overlay {
  opacity: .30;
  visibility: visible;
}

.modal-content {
  background: $modal-bg-color;
  box-shadow: $modal-shadow;
  color: #666666;
  margin: 5px;
  padding: 20px 0 0 20px;
  position: relative;

//
//3D sign Effect
//@include css3(transform-origin, 50% 50% 0);
//@include css3(transition, all .3s);
//@include css3(backface-visibility, hidden);
//

  // Messages/Content
  h1 {
    color: $modal-color;
    @include font-size(18);
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;

    &:focus {
      outline: thin dotted #666666;
      outline-offset: 2px;
    }

    &.is-error {
      color: $ruby05;

      svg {
        margin-left: -2px;
        margin-right: 10px;
        top: 2px;
      }

      &:focus {
        outline: thin dotted $ruby05;
      }
    }
  }

  .modal-body-wrapper {
    overflow: auto;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  // Modal Buttons
  .modal-body > button {
    display: block;
    font-size: 1.5rem;
    margin: 25px auto 5px;
  }

  .message {
    color: #666666;
    font-size: 1.5rem;
    line-height: 20px;
    max-width: 369px;
    padding: 15px 0 25px;
    text-align: left;
  }

  p + p {
    margin-top: 20px;
  }

  &.has-icon .message {
    margin: 25px 33px -6px;
  }
}

//Toolbar Buttons
.modal-buttonset {
  border-top: 1px solid $modal-btn-border-color;
  height: 50px;
  margin: 5px 0px 5px -20px;

  button {
    border: 1px solid transparent;
    border-left: 1px solid $modal-btn-border-color;
    color: $modal-btn-color;
    cursor: pointer;
    float: left;
    font-weight: bold;
    @include font-size(12);
    height: 50px;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    @include css3(transition, color .3s ease 0s);
    width: 100%;

    &:hover {
      color: $modal-btn-hover-color;
    }

    &:nth-child(1) {
      border-left: 1px solid transparent;
    }

    &:focus {
      @include focus-state();
      box-shadow: none;
    }

    &[disabled],
    &[disabled]:hover {
      color: $modal-btn-disabled-color;
      cursor: default;
      text-decoration: none;
    }

    &[disabled]:focus {
      text-decoration: underline;
    }

    .ripple-effect {
      background-color: $primary-btn-bg-color;
    }
  }

  .btn-modal-primary {
    color: $modal-btn-primary-color;

    &:hover {
      color: $modal-btn-primary-hover-color;
    }
  }
}
