// Modal Search
//================================================== //
//

.modal.modal-search {
  background-color: transparent;
  margin: 0 !important;
  max-width: 100%;
  overflow: scroll;
  height: 100%;
  width: 100%;
  z-index: 10000;

  .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

}

.overlay.modal-search {
  background-color: #ffffff;
  z-index: 10001;
}

.modal-engaged {
  .overlay.modal-search {
    opacity: 1;
  }
}
