// Modal Dialog and Messages
//================================================== //

// NOTE:  this element gets a margin dynamically set in the "resize" method of modal.js
.modal-wrapper {
  display: table;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.modal-page-container {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal {
  @include css3(transform, scale(.9, .9));
  @include css3(transition, opacity .2s, transform .2s);
  //Added after size calc bottom: 0;
  display: table-cell;
  height: auto;
  max-height: 90%;
  max-width: 90%;
  min-width: 200px;
  opacity: 0;
  position: relative;
  vertical-align: middle;
  width: auto;
  z-index: 1001;

  &.is-visible {
    @include css3(transform, scale(1, 1));
    opacity: 1;
  }

  .field {
    textarea {
      width: 300px;

      &.input-lg {
        min-height: inherit;
        width: 400px;
      }
    }
  }

  .field:last-child input:not(.spinbox, .colorpicker),
  .field:last-child textarea {
    margin-bottom: 10px;
  }

  .textarea-wordcount {
    width: auto;
  }

  hr {
    border-bottom: 0 none;
    border-top: 1px solid $fieldset-border-top-color;
    margin-bottom: -10px;
    margin-left: -27px;
    margin-top: 10px;
    padding: 0;
  }

  &.full-width {
    margin: auto;
    width: auto;

    .modal-content {
      .modal-body-wrapper {
        padding: 5px 0 0;
      }

      .no-full-width {
        padding: 0 20px;
      }

      .modal-buttonset {
        margin-top: 0;
      }
    }
  }

  &.divider-top {
    .modal-content {
      .modal-header {
        border-bottom: 1px solid $modal-border-color;
        padding-bottom: 15px;
      }

      .modal-body-wrapper {
        padding: 0;
      }
    }

  }

  .listview-search {

    + .listview {
      max-height: 220px;
      min-height: 220px;
    }

    .searchfield-wrapper {
      min-width: 300px;
      width: 100%;

      input {
        border-color: $fieldset-border-top-color;
        width: 100%;
      }
    }
  }

  .alternate-bg {

    &.listview {
      background-color: $listview-full-width-bg-color;

      li {
        border-color: transparent;

        &:not(.is-selected):hover {
          background-color: $listview-full-width-hover-color;
        }
      }
    }

    &.listview-search input {
      border-color: $listview-full-width-border-color;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }

  // Messages
  &.message {
    .modal-buttonset {
      margin-top: 20px;
    }
  }

}

.overlay {
  @include css3(transition, all .2s);
  background: $black;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}

.modal-engaged .overlay {
  opacity: .70;
  visibility: visible;
}

.modal-header {
  padding: 20px;
}

.modal-content {
  background: $modal-bg-color;
  border: 1px solid $modal-border-color;
  border-radius: 2px;
  box-shadow: $modal-box-shadow;
  color: $modal-secondary-color;
  margin: 10px;

  // Messages/Content
  h1 {
    @include font-size(18);
    color: $modal-primary-color;
    font-weight: normal;
    -webkit-margin-after: 0;
    text-align: left;

    > * {
      vertical-align: middle;
    }

    &:focus {
      outline: none;
    }

    &.is-error {
      color: $error-color;

      .icon {
        fill: $error-color;
        left: -6px;
        margin-left: 5px;
        margin-right: 4px;
        top: auto;
      }
    }
  }

  h2 {
    @include font-size(16);
    color: $modal-primary-color;
    font-weight: normal;
    -webkit-margin-after: 0;
    text-align: left;

    + p {
      margin: 15px 0;
    }
  }

  .modal-body-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    padding: 0 20px;
  }

  // Modal Buttons
  .modal-body > button {
    display: block;
    font-size: 1.5rem;
    margin: 25px auto 5px;
  }

  .message {
    color: $modal-color;
    font-size: 1.4rem;
    line-height: 20px;
    max-width: 369px;
    padding: 15px 0 25px;
    text-align: left;
  }

  .alert-text {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
  }

  p + p {
    margin-top: 20px;
  }

  &.has-icon .message {
    margin: 25px 33px -6px;
  }
}

.modal-body {
  > *:last-child {
    margin-bottom: 0;
  }

  p:first-of-type {
    padding-top: 0;
  }

  p:last-child {
    padding-bottom: 0;
  }
}

//Toolbar Buttons
.modal-buttonset {
  border-top: 1px solid $modal-btn-border-color;
  height: 50px;
  padding: 2px;// Keep 2px padding around for border to show around on focus

  button {
    @include font-size(12);
    @include css3(transition, color .3s ease 0s);
    border: 1px solid transparent;
    border-left: 1px solid $modal-btn-border-color;
    border-radius: 0;
    color: $modal-btn-color;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 46px;// [50px-4px] Keep smaller 4px for border to show around on focus
    margin-right: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      color: $modal-btn-hover-color;
    }

    &:nth-child(1) {
      border-left: 1px solid transparent;
    }

    &:focus:not(.hide-focus) {
      border: 1px solid $input-focus-border-color;
      outline: none;
      outline-color: transparent;
    }

    &[disabled],
    &[disabled]:hover {
      color: $modal-btn-disabled-color;
      cursor: default;
      opacity: $modal-btn-disabled-opacity;
      text-decoration: none;
    }

    &[disabled]:focus {
      text-decoration: underline;
    }

    .ripple-effect {
      background-color: $primary-btn-bg-color;
    }
  }

  .btn-modal-primary {
    color: $modal-btn-primary-color;

    &[disabled] {
      color: $modal-btn-primary-disabled-color;
      opacity: $modal-btn-disabled-opacity;
    }

    &:hover {
      color: $modal-btn-primary-hover-color;
    }
  }
}

//RTL Styles
html[dir='rtl'] {
  .modal-buttonset {
    margin: 0;

    button {
      float: right;
      margin-left: 0;

      &:nth-child(1) {
        border-left: 1px solid $modal-btn-border-color;
      }
    }

  }

  .modal-content {
    padding: 0;

    // Messages/Content
    h1 {
      margin-left: 25px;
      margin-right: inherit;
      padding-left: 20px;
      text-align: right;

      &.is-error {
        svg {
          left: auto;
          margin-left: 10px;
          margin-right: 8px;
          right: 5px;
        }
      }
    }

    .modal-body-wrapper {
      padding-left: 30px;
    }

    h2,
    .message {
      text-align: right;
    }
  }
}
