// Modal Search
//================================================== //
//

.modal.modal-search {
  background-color: transparent;
  height: 100%;
  // scss-lint:disable ImportantRule
  margin: 0 !important;
  // scss-lint:enable ImportantRule
  max-width: 100%;
  overflow: auto;
  width: 100%;
  z-index: 10000;

  .modal-content {
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

}

.overlay.modal-search {
  background-color: $white;
  z-index: 10001;
}

.modal-engaged {
  .overlay.modal-search {
    opacity: 1;
  }
}
