// Module Tabs
//================================================== //

.tab-container.module-tabs {
  @include transition(background-color 500ms cubic-bezier(.17, .04, .03, .94));
  background-color: $module-tabs-bg-color;
  border-bottom: 1px solid $module-tabs-y-border-color;
  border-top: 1px solid $module-tabs-y-border-color;
  font-size: 0;
  height: 36px;
  overflow: hidden;

  // Acts as a spacer that causes the toolbar items to vertically align.
  &::before {
    @include vertical-alignment-spacer;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  [class^="btn"] {
    @include font-size(12);
    background-color: $module-tabs-bg-color;
    border: 0;
    color: $module-tabs-inactive-text-color;
    min-width: 0;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .icon {
      fill: $module-tabs-inactive-text-color;
    }

    span {
      color: inherit;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .icon {
    fill: $module-tabs-inactive-text-color;

    &.app-header {
      left: -6px;
      position: relative;
      top: -5px;

      span:not(.audible) {
        background-color: $module-tabs-inactive-text-color;
      }
    }
  }

  .tab-list-container {
    position: relative;
    width: calc(100% - 1px);
  }

  .tab-list {
    height: 34px;
    overflow: hidden;
    width: 100%;
  }

  &.has-toolbar {
    .tab-list-container {
      width: calc(70% - 1px); // 1px vertical centerer

      + .toolbar {
        border-left: 1px solid $module-tabs-x-border-color;
        width: calc(30% - 1px); // 1px border
      }
    }
  }

  .separator {
    display: none !important;
  }

  .tab {
    @include transition(background-color 500ms cubic-bezier(.17, .04, .03, .94), border-color 500ms cubic-bezier(.17, .04, .03, .94));
    @include font-size(12);
    color: $module-tabs-inactive-text-color;
    min-width: 120px;
    text-align: center;

    &:not(:first-child) {
      border-left: 1px solid $module-tabs-x-border-color;
    }

    &::before {
      display: none !important;
    }

    &::after {
      display: none !important;
    }

    a {
      @include font-size(12);
      display: block;
      font-weight: bold;
      margin: 0 auto;
      max-width: 80%;
      overflow: hidden;
      padding: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > span:not(.icon) {
        font-weight: bold;
        margin-left: 5px;
      }
    }

    &.is-selected {
      background-color: $module-tabs-active-bg-color;
      color: $module-tabs-active-text-color;
    }

    /*
    // NOTE: Remove the comments in order to hide the X on anything but hover/focus.
    // This creates weird visual padding on small tabs.
    &.dismissible {
      .icon {
        @include transition(opacity .25s ease);
        opacity: 0;
      }

      &:hover,
      &.is-focused {
        .icon {
          opacity: 1;
        }
      }
    }
    */

    &:hover/*,
    &.is-focused*/ {
      background-color: $module-tabs-hover-bg-color;
      color: $module-tabs-hover-text-color;
    }

    // Individual Tab Disable
    &.is-disabled {
      background-color: $module-tabs-disabled-bg-color;
      color: $module-tabs-disabled-text-color;

      &:not(:first-child) {
        border-left: 1px solid $module-tabs-disabled-x-border-color;
      }

      &.is-selected {
        background-color: $module-tabs-disabled-bg-color;
        color: $module-tabs-disabled-text-color;
      }

      &:hover/*,
      &.is-focused*/ {
        background-color: $module-tabs-disabled-bg-color;
        color: $module-tabs-disabled-text-color;
      }
    }

    &.dismissible {
      .icon {
        @include css3(transform, translateY(-50%));
        height: 14px;
        position: absolute;
        right: 10px;
        top: 50%;
      }

      a {
        padding: 10px 32px 10px 0;
      }
    }

    &.application-menu-trigger {
      a {
        padding: 9px 10px 7px;
      }
    }
  }

  .add-tab-button {
    @include font-size(24);
    font-weight: normal;
    height: 34px;
    padding-bottom: 5px;
    padding-top: 1px;
    width: 44px;
  }

  .tab-focus-indicator {
    border-radius: 0;
    z-index: 10;

    &.is-visible {
      border-color: $white;
    }
  }

  .tab-more {
    width: 120px;
  }

  .tab-more,
  .add-tab-button {
    @include font-size(12);
    border-left: 1px solid $module-tabs-x-border-color;
    color: $module-tabs-inactive-text-color;
    font-weight: bold;
    padding: 8px 10px;
    text-align: center;

    .icon {
      fill: $module-tabs-inactive-text-color;
    }

    span {
      font-weight: bold;
    }

    &.is-selected {
      background-color: $module-tabs-active-bg-color;
      color: $module-tabs-active-text-color;

      .icon {
        fill: $module-tabs-active-text-color;
      }
    }

    &:hover,
    &.is-open {
      background-color: $module-tabs-hover-bg-color;
      color: $module-tabs-hover-text-color;

      .icon {
        fill: $module-tabs-hover-text-color;
      }
    }
  }

  .toolbar {
    margin-bottom: 0;
    overflow: hidden;

    .buttonset {
      height: 34px;
      text-align: right;

      > * {
        margin: 0 5px 0 0;
      }
    }

    .more {
      height: 34px;
    }

    [class^="btn"],
    .btn-menu:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-tertiary) {
      color: $module-tabs-inactive-text-color;
      height: 32px;
      margin-top: 1px;

      &:not(.btn-menu) {
        border-color: $module-tabs-inactive-text-color;
      }

      .ripple-effect {
        background-color: $module-tabs-active-text-color;
      }

      .icon {
        fill: $module-tabs-inactive-text-color;
      }

      span {
        color: inherit;
      }

      &:hover {
        color: $module-tabs-hover-text-color;

        .icon {
          fill: $module-tabs-hover-text-color;
        }
      }

      &:focus,
      &.is-selected:focus {
        color: $module-tabs-active-text-color;

        .icon {
          fill: $module-tabs-active-text-color;
        }

        &:not(.hide-focus) {
          border-color: transparent;
          box-shadow: 0 0 0 2px transparent,
            0 0 0 1px $module-tabs-hover-text-color;
        }
      }

      &.is-open {
        span {
          color: inherit;
        }

        .icon {
          fill: $module-tabs-active-text-color;
        }
      }
    }

    .btn-actions {
      min-height: 32px;
      min-width: 32px;
      width: 32px;
    }
  }

  .toolbar-searchfield-wrapper {
    .icon:not(.error) {
      fill: $module-tabs-inactive-text-color;
    }

    .searchfield {
      background-color: rgba($searchfield-moduletabs-bg-color, 0);
      border-bottom-color: rgba($searchfield-moduletabs-border-color, 0);
      border-top-color: rgba($searchfield-moduletabs-bg-color, 0);
      color: $module-tabs-inactive-text-color;
    }

    &.non-collapsible {
      .searchfield {
        background-color: rgba($searchfield-moduletabs-bg-color, .4);
        border-bottom-color: rgba($searchfield-moduletabs-border-color, .4);
        border-top-color: rgba($searchfield-moduletabs-bg-color, .4);
        color: $module-tabs-inactive-text-color;
      }
    }

    &.active {
      .searchfield {
        background-color: rgba($searchfield-moduletabs-bg-color, .4);
        border-bottom-color: rgba($searchfield-moduletabs-border-color, .4);
      }
    }

    &.has-focus {
      .searchfield {
        color: $module-tabs-active-text-color;
      }

      .icon:not(.error) {
        fill: $module-tabs-active-text-color;
      }
    }
  }

  > .toolbar-searchfield-wrapper.active {
    width: 100%;
  }

  &.has-add-button {
    .tab-list {
      width: calc(100% - 45px);
    }

    .add-tab-button {
      right: 0;
      top: 0;
    }
  }

  // Change state when the spillover button is necessary
  &.has-more-button {
    .tab-list {
      width: calc(100% - 121px);
    }

    .tab-more {
      right: 0;
      top: 0;
    }

    &.has-toolbar {
      .tab-list-container {
        width: calc(70% - 1px);
      }
    }

    &.has-add-button {
      .tab-list {
        width: calc(100% - 166px);
      }

      .tab-more {
        right: 45px;
        top: 0;
      }

      .add-tab-button {
        right: 0;
        top: 0;
      }
    }
  }

  // Entire Control is Disabled
  &.is-disabled {
    background-color: $module-tabs-disabled-bg-color;
    border-bottom: 1px solid $module-tabs-disabled-y-border-color;
    border-top: 1px solid $module-tabs-disabled-y-border-color;

    [class^="btn"] {
      background-color: $module-tabs-disabled-bg-color;
      color: $module-tabs-disabled-text-color;

      .icon {
        fill: $module-tabs-disabled-text-color;
      }
    }

    .icon {
      fill: $module-tabs-disabled-text-color;

      &.app-header {
        span:not(.audible) {
          background-color: $module-tabs-disabled-text-color;
        }
      }
    }

    &.has-toolbar {
      .tab-list-container {
        + .toolbar {
          border-left: 1px solid $module-tabs-disabled-x-border-color;
        }
      }
    }

    .tab {
      color: $module-tabs-disabled-text-color;

      &:not(:first-child) {
        border-left: 1px solid $module-tabs-disabled-x-border-color;
      }

      &.is-selected {
        background-color: $module-tabs-disabled-bg-color;
        color: $module-tabs-disabled-text-color;
      }

      &:hover,
      &.is-focused {
        background-color: $module-tabs-disabled-bg-color;
        color: $module-tabs-disabled-text-color;
      }
    }

    .tab-more {
      border-left: 1px solid $module-tabs-disabled-x-border-color;
      color: $module-tabs-disabled-text-color;

      .icon {
        fill: $module-tabs-disabled-text-color;
      }

      &.is-selected {
        background-color: $module-tabs-disabled-bg-color;
        color: $module-tabs-disabled-text-color;

        .icon {
          fill: $module-tabs-disabled-text-color;
        }
      }

      &:hover,
      &.is-focused,
      &.is-open {
        background-color: $module-tabs-disabled-bg-color;
        color: $module-tabs-disabled-text-color;

        .icon {
          fill: $module-tabs-disabled-text-color;
        }
      }
    }

    .toolbar {
      [class^="btn"],
      .btn-menu:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-tertiary) {
        color: $module-tabs-disabled-text-color;
        cursor: default !important;

        &:not(.btn-menu) {
          border-color: $module-tabs-disabled-text-color;
        }

        .ripple-effect {
          background-color: $module-tabs-disabled-text-color;
        }

        .icon {
          fill: $module-tabs-disabled-text-color;
        }

        &:hover {
          color: $module-tabs-disabled-text-color;

          .icon {
            fill: $module-tabs-disabled-text-color;
          }
        }

        &:focus,
        &.is-selected:focus {
          color: $module-tabs-disabled-text-color;

          .icon {
            fill: $module-tabs-disabled-text-color;
          }

          &:not(.hide-focus) {
            border-color: transparent;
            box-shadow: 0 0 0 2px transparent,
              0 0 0 1px $module-tabs-disabled-text-color;
          }
        }

        &.is-open {
          .icon {
            fill: $module-tabs-disabled-text-color;
          }
        }
      }
    }

    .toolbar-searchfield-wrapper {
      .icon:not(.error) {
        fill: $module-tabs-disabled-text-color;
      }

      .searchfield {
        background-color: rgba($searchfield-moduletabs-disabled-bg-color, 0);
        border-bottom-color: rgba($searchfield-moduletabs-disabled-bg-color, 0);
        border-top-color: rgba($searchfield-moduletabs-disabled-bg-color, 0);
        color: $module-tabs-disabled-text-color;
      }

      &.active {
        .searchfield {
          background-color: rgba($searchfield-moduletabs-disabled-bg-color, 1);
          border-bottom-color: rgba($searchfield-moduletabs-disabled-border-color, 1);
        }
      }

      &.has-focus {
        .searchfield {
          color: $module-tabs-disabled-text-color;
        }

        .icon:not(.error) {
          fill: $module-tabs-disabled-text-color;
        }
      }
    }

  }
}

.masthead + .tab-container.module-tabs {
  border-top: 1px solid transparent;
}

// Firefox has weird padding on the Add Tabs Button and Application Menu Triggers without this bit of code
.is-firefox {
  .tab-container.module-tabs {
    .tab {
      a {
        height: 34px;
        padding: 11px 10px 9px;
      }

      &.dismissible a {
        padding: 11px 32px 9px 0;
      }
    }

    .add-tab-button {
      a {
        padding-top: 3px;
      }
    }

    .application-menu-trigger {
      a {
        padding-bottom: 8px;
        padding-top: 8px;
      }
    }
  }
}

@include respond-to(phone) {
  .tab-container.module-tabs {
    .tab.application-menu-trigger {
      min-width: 0;

      a > span:not(.icon):not(.audible) {
        width: 0;
      }
    }
  }
}

// For non-collapsible searchfields:  Only be non-collapsible on larger breakpoints.
@media(min-width: $breakpoint-phone-to-tablet) {
  .toolbar-searchfield-wrapper.non-collapsible {
    .searchfield {
      background-color: rgba($searchfield-moduletabs-bg-color, .4);
      border-bottom-color: rgba($searchfield-moduletabs-border-color, .4);
    }
  }
}
