/* Modal Dialog and Messages
================================================== */

.modal {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  height: auto;
  left: 50%;
  max-width: 630px;
  min-width: 200px;
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -o-perspective: 1300px;
  perspective: 1300px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
  overflow: hidden;
  width: auto;
  z-index: 1001;
}

.is-visible {
  visibility: visible;
}

.overlay {
  background: #333333;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}

.modal-engaged .overlay {
  opacity: .7;
  visibility: visible;
}

.modal-content {
  background: #e5e5e5;
  color: #666666;
  margin: 0 auto;
  opacity: 0;
  padding: 20px 30px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotateX(-60deg);
  -moz-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  -o-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.is-visible .modal-content {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* Messages/Content */

.modal-content h1 {
  @include font-size(22);
  color: $label-color;
  font-weight: normal;
  text-align: left;
  margin-bottom: 10px;
}

.modal-content .message {
  @include font-size(14);
  color: $label-color;
  text-align: left;
}

.modal-content p + p {
  margin: -15px 30px 21px 11px;
}

.modal-content.has-icon .message {
  margin: 25px 33px -6px 33px;
}

.modal-content input {
  width: 100% !important;
}

/* Buttons */

.modal-body > button {
  display: block;
  margin: 25px auto 5px auto;
}

.modal-buttonset button, .modal-buttonset a {
  display: inline-block;
  margin: 0 3px;
}

.modal-buttonset a {
  margin: 0 30px;
}

.modal-buttonset {
  margin: 15px auto 0 auto;
  text-align: right;
}

.ui-draggable .modal-title {
  cursor: move;
}
