// Modal Dialog and Messages
//================================================== //

.modal {
  border-radius: 2px;
  display: none;
  -webkit-font-smoothing: antialiased;
  height: auto;
  left: 50%;
  max-height: 100%;
  max-width: 90%;
  min-width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  width: auto;
  z-index: 1001;

  &.is-visible {
    display: block;
  }

  textarea {
    width: 100%;
  }
}

.overlay {
  background: #000000;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  @include css3(transition, all .3s);
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}

.modal-engaged .overlay {
  opacity: .30;
  visibility: visible;
}

.modal-content {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  color: #666666;
  margin: 5px;
  opacity: 0;
  padding: 21px 28px 0;
  position: relative;
  @include css3(transition, all .3s);
  @include css3(transform, scale(.7));

//
//3D sign Effect
//@include css3(transform-origin, 50% 50% 0);
//@include css3(transition, all .3s);
//@include css3(backface-visibility, hidden);
//

  // Messages/Content
  h1 {
    color: #666666;
    @include font-size(18);
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;

    &:focus {
      outline: thin dotted #666666;
      outline-offset: 2px;
    }

    &.is-error {
      color: $ruby05;

      svg {
        margin-left: -2px;
        margin-right: 5px;
      }

      &:focus {
        outline: thin dotted $ruby05;
      }
    }
  }

  .message {
    color: #666666;
    font-size: 1.5rem;
    line-height: 20px;
    max-width: 369px;
    padding: 15px 0 25px;
    text-align: left;
  }

  p + p {
    margin: -15px 30px 21px 11px;
  }

  &.has-icon .message {
    margin: 25px 33px -6px;
  }
}

//Toolbar Buttons
.modal-buttonset {
  border-top: 1px solid #e5e5e5;
  height: 50px;
  margin: 25px -28px 0;

  button {
    border: 1px solid transparent;
    border-left: 1px solid #e5e5e5;
    color: $modal-btn-color;
    cursor: pointer;
    float: left;
    font-weight: bold;
    @include font-size(12);
    height: 50px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    @include css3(transition, color .3s ease 0s);
    width: 100%;

    &:hover {
      color: $modal-btn-hover-color;
    }

    &:nth-child(1) {
      border-left: 1px solid transparent;
    }

    &:focus {
      // border-color: $primary-color; - TODO: Design Variation
      text-decoration: underline;
    }

    &[disabled],
    &[disabled]:hover {
      color: $modal-btn-disabled-color;
      cursor: default;
      text-decoration: none;
    }

    &[disabled]:focus {
      text-decoration: underline;
    }
  }

  .btn-modal-primary {
    color: $modal-btn-primary-color;

    &:hover {
      color: $modal-btn-primary-hover-color;
    }
  }
}

.is-visible .modal-content {
  opacity: 1;
  @include css3(transform, scale(1));

  // 3d Sign Effect
  //opacity: 1;
  //@include css3(transform, translateZ(0) rotateX(0deg));
}

// Modal Buttons
.modal-body > button {
  display: block;
  font-size: 1.5rem;
  margin: 25px auto 5px;
}
