// Pager
//================================================== //

.pager-toolbar {
  @include font-size(14);
  margin: 10px 0;
  max-height: 38px;
  overflow: hidden;
  text-align: center;

  li {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: auto;

    a {
      border: 1px solid transparent;
      border-radius: 3px;
      color: $label-color;
      cursor: pointer;
      display: inline-block;
      height: 28px;
      line-height: 30px;
      margin: 3px 0 0;
      padding: 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all .2s ease;
      width: 28px;

      &:focus {
        @include css3(box-shadow, 0 0 1px 1px $pager-focus-border-color inset);
      }

      // Disabled
      &[disabled] {
        cursor: default;

        svg {
          fill: $pager-disabled-color;
        }
      }
    }

    &.selected a {
      background-color: $pager-selected-color;
      color: $inverse-color;

      &:focus {
        @include css3(box-shadow, 0 0 1px 1px #ffffff inset);
      }
    }
  }

  li:not(.selected) a:hover:not([disabled]) svg {
    fill: $pager-hover-color;
  }

  li:not(.selected) a:active:not([disabled]) svg {
    fill: $pager-hover-color;
  }

}

// Buttons
.pager-prev svg,
.pager-first svg,
.pager-last svg,
.pager-next svg {
  fill: $font-color;
  height: 17px;
  left: 1px;
  top: 4px;
  width: 18px;
}

.paginated li {
  @include font-size(14);
}

// Pager for Tables
.pager-count {
  @include font-size(14);
  display: inline-block;
  line-height: 23px;
  margin: 7px -13px 5px 10px;
  vertical-align: top;

  input {
    @include font-size(14);
    height: 23px;
    line-height: 23px;
    padding: 3px 0 1px;
    text-align: center;
    width: 30px;
  }

  .pager-total-pages {
    display: inline-block;
    line-height: 23px;
    min-width: 35px;
    text-align: left;
  }
}

//Special Styles for Datagrid
.datagrid + .pager-toolbar {
  li a {
    margin: 0;
    padding: 0;
    width: 28px;
  }

  .pager-prev {
    margin-right: 5px;
  }

}

.pager-pagesize {
  float: right;

  .btn-menu {
    height: 30px;
    margin: 1px 0 0;

    &:focus {
      border-color: $primary-color;
      box-shadow: none;
    }

    span {
      @include font-size(14);
      font-weight: normal;
      line-height: 30px;
      text-transform: none;
    }

    .icon {
      height: 22px;
      margin-left: -2px;
      margin-right: 2px;
      width: 22px;
    }
  }
}

.ie {
  .pager-count {
    input {
      margin-top: 2px;
      padding-top: 0;
    }
  }
}

