// Popup Menu
// ==================================================

// Contains the main popupmenu UL for positioning.
.popupmenu-wrapper {
  display: inline-block;
  left: -999px;
  position: absolute;
  z-index: 4000;
}

.popupmenu {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  color: $input-color;
  display: none;
  font-family: $font-regular;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;

  &.checkmark a {
    padding: 0 30px;
  }

  &.is-open {
    display: block;
  }

  li {
    cursor: pointer;
    line-height: 30px;
    padding: 0;
    position: static;
    white-space: nowrap;
    &:hover {
      background-color: $menu-hover-color;
    }
    &:not(.is-selected) > a:focus {
      background-color: $menu-hover-color;
    }
    &.disabled > a:focus {
      box-shadow: none;
    }
    // Selected
    &.is-selected a:before, &.checkmark a:before {
      border-color: #1a1a1a;
      border-style: solid;
      border-width: 0 3px 3px 0;
      content: "";
      height: 10px;
      left: 12px;
      margin-top: 6px;
      position: absolute;
      @include css3(transform, rotate(45deg));
      width: 4px;
    }
  }
  a {
    border: 1px solid transparent;
    color: $input-color;
    display: block;
    @include font-size(14);
    padding: 0 30px 0 20px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    > span {
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
    }
    &[disabled] {
      color: $disabled-color;
      opacity: .6;
    }
  }
  //Text Underline on Terms
  i {
    color: $menu-underline-color;
    font-style: normal;
    font-family: $font-semibold;
    text-decoration: underline;
  }
  //Icon Positioning
  .icon {
    fill: $input-color;
    left: -8px;
    position: relative;
    top: 9px;
  }
  // Disabled
  li.is-disabled a,
  li.disabled a {
    background-color: transparent;
    color: $disabled-color;
    cursor: default;
  }
  li.is-disabled:hover,
  li.disabled:hover {
    background-color: transparent;
  }
  .submenu {
    .wrapper {
      display: block;
      position: absolute;
      z-index: 4000;
    }
    .popupmenu.is-open {
      display: block;
      visibility: visible;
    }
    > a {
      padding-right: 48px;
      > .icon.arrow {
        border-width: 0;
        left: auto;
        position: absolute;
        right: 0;
        top: -1px;
        @include css3(transform, rotate(-90deg));
      }
    }
  }
  // Seperator
  .separator {
    border-bottom: 1px solid #d2d2d2;
    margin: 10px 0px;
  }
}
