// Popdown Control
//================================================== /

.popdown {
  @include transition(opacity 400ms cubic-bezier(.17, .04, .03, .94),
    -moz-transform 400ms cubic-bezier(.17, .04, .03, .94),
    -ms-transform 400ms cubic-bezier(.17, .04, .03, .94),
    -o-transform 400ms cubic-bezier(.17, .04, .03, .94),
    -webkit-transform 400ms cubic-bezier(.17, .04, .03, .94),
    transform 400ms cubic-bezier(.17, .04, .03, .94));
  @include css3(transform, translate3d(0, -10%, 0));
  background-clip: padding-box;
  background-color: $popupmenu-bg-color;
  border: 1px solid $popupmenu-border-color;
  border-radius: 4px;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: 0;
  white-space: normal;
  width: 300px;
  z-index: 5010;

  h2 {
    color: $font-color-extrahighcontrast;

    .extra {
      color: $font-color;
    }
  }

  .arrow {
    position: absolute;
    z-index: 10;
  }

  .arrow,
  .arrow::after {
    border-width: 12px;
  }

  &.top {
    @include css3(transform, translate3d(0, 10%, 0));

    .arrow {
      border-top-color: $popupmenu-border-color;

      &::after {
        border-top-color: $popupmenu-bg-color;
      }
    }
  }

  &.bottom {
    .arrow {
      border-bottom-color: $popupmenu-border-color;
      top: -24px !important;

      &::after {
        border-bottom-color: $popupmenu-bg-color;
        top: -11px !important;
        left: -12px !important;
      }
    }
  }

  &.visible {
    opacity: 1;
    @include css3(transform, translate3d(0, 0%, 0));

    &.top {
      @include css3(transform, translate3d(0, 0%, 0));
    }
  }

  // Customized cards/widgets for use inside the popdown
  .card,
  .widget {
    border: 0;
    height: auto;
    margin-bottom: 0;

    .card-footer,
    .widget-footer {
      padding: 0;
    }
  }

  .modal-buttonset {
    margin: 0;
  }
}
