// Radio Buttons
//================================================== //

.radio:not(:checked),
.radio:checked {
  left: -9999px;
  position: absolute;
}

.radio:not(:checked) + label,
.radio:checked + label {
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 4px;
  padding-left: 35px;
  position: relative;
}

.radio:not(:checked) + label:before,
.radio:checked + label:before {
  border: 1px solid $radio-border-color;
  border-radius: 50%;
  content: '';
  height: 18px;
  margin-left: -31px;
  margin-top: -1px;
  position: absolute;
  width: 18px;
}

.radio:checked + label:before {
  border: 1px solid $radio-selected-color;
}

.radio-label {
  display: inline-block;
  line-height: 20px;
}

.radio:not(:checked) + label:after,
.radio:checked + label:after {
  background-color: $body-bg-color;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: '';
  height: 10px;
  left: 9px;
  position: absolute;
  top: 4px;
  transition: all .2s ease 0s;
  width: 10px;
}

.radio:checked + label:before {
  background-color: $radio-selected-color;
  border-color: $radio-selected-color;
}

// checked mark aspect changes
.radio:not(:checked) + label:after {
  @include opacity(0);
  transform: scale(0);
}

.radio:checked + label:after {
  @include opacity(1);
  transform: scale(1);
}

// disabled radio
.radio:disabled:not(:checked) + label:before,
.radio:disabled:checked + label:before {
  background-color: $radio-disabled-bg-color;
  border-color: $radio-disabled-border-color;
  cursor: default;
}

.radio:disabled:checked + label:before {
  background-color: $radio-disabled-select-bg-color;
  border-color: $radio-disabled-select-bg-color;
  cursor: default;
}

.radio:disabled:checked + label:after {
  @include opacity($radio-disabled-opacity);
}

.radio:disabled:not(:checked) + label:before {
  border-color: #bbbbbb;
  box-shadow: none;
}

.radio:disabled + label {
  color: #aaaaaa;
  cursor: default;
}

.radio:checked:focus + label:before, .radio:not(:checked):focus + label:before {
  box-shadow: $radio-focus-shadow;
}

