// Radio Buttons
//================================================== //

.radio:not(:checked),
.radio:checked {
  margin-left: 7px;
  margin-top: 7px;
  opacity: 0;
  position: absolute;
  width: auto;
}

.radio:not(:checked) + label,
.radio:checked + label {
  cursor: pointer;
  margin-bottom: 12px;
  margin-top: 4px;
  padding-left: 35px;
  position: relative;
}

.radio:not(:checked) + label:before,
.radio:checked + label:before {
  border: 1px solid $radio-border-color;
  border-radius: 50%;
  content: '';
  height: 18px;
  margin-left: -31px;
  margin-top: -1px;
  position: absolute;
  width: 18px;
}

.radio:checked + label:before {
  border: 1px solid $radio-selected-color;
}

.radio:hover + label:before {
  border-color: $primary-color;
}

.radio-label {
  display: inline-block;
  line-height: 20px;
}

.radio:not(:checked) + label:after,
.radio:checked + label:after {
  border: 2px solid $body-bg-color;
  border-radius: 50%;
  content: '';
  height: 8px;
  left: .67em;
  position: absolute;
  top: .25em;
  transition: all .2s ease 0s;
  width: 8px;
}

.radio:checked + label:before {
  background-color: $radio-selected-color;
  border-color: $radio-selected-color;
}

// checked mark aspect changes
.radio:not(:checked) + label:after {
  @include opacity(0);
  transform: scale(0);
}

.radio:checked + label:after {
  @include opacity(1);
  transform: scale(1);
}

// disabled radio
.radio:disabled:not(:checked) + label:before,
.radio:disabled:checked + label:before {
  background-color: $radio-disabled-bg-color;
  border-color: $radio-disabled-border-color;
  cursor: default;
}

.radio:disabled:checked + label:before {
  background-color: $radio-disabled-select-bg-color;
  border-color: $radio-disabled-select-bg-color;
  cursor: default;
}

.radio:disabled:checked + label:after {
  @include opacity($radio-disabled-opacity);
}

.radio:disabled:not(:checked) + label:before {
  border-color: #bbbbbb;
  box-shadow: none;
}

.radio:disabled + label {
  color: $disabled-color;
  cursor: default;
}

.radio:checked:focus + label:before,
.radio:not(:checked):focus + label:before {
  box-shadow: $radio-focus-shadow;
}

// Print Support
@media print {
  .radio:not(:checked) + label::before,
  .radio:checked + label::before {
    content: none;
  }

  .radio:not(:checked),
  .radio:checked {
    left: unset;
    position: unset;
    width: unset;
  }

  .radio:not(:checked) + label,
  .radio:checked + label {
    padding-left: 9px;
  }

  .radio:not(:checked) + label::after,
  .radio:checked + label::after {
    border: 0;
  }
}

.radio-group {
  legend {
    color: $label-color;
    @include font-size(12);
    padding-bottom: 10px;
    padding-top: 0;
  }

  &.is-disabled,
  &[disabled] {
    legend {
      color: $disabled-color;
    }
  }
}

// Radio Section
//================================================== //
.radio-section {
  margin-top: 30px;

  .option {
    padding-left: 0;

    .btn-primary {
      margin-top: inherit;
      padding: inherit;

      &[disabled] {
        border: 0;
      }
    }

    .large-txt {
      @include font-size(14);
    }

    .line-through {
      text-decoration: line-through;
    }

    .radio-label {
      margin-bottom: 2.3em;

      .in-label {
        line-height: 25px;
        margin-top: -10px;
        @include font-size(14);
      }

      span {
        display: block;
      }
    }

    &:first-child {
      position: relative;
      margin-left: 0;
      margin-bottom: 30px;

      &:after {
        border-right: 1px solid $graphite03;
        bottom: 15px;
        content: ' ';
        position: absolute;
        right: 0;
        top: 15px;
      }
    }
  }
}

.info {
  .radiosection .option {
    margin-left: inherit;

    &:first-child {
      margin-right: 10px;
    }
  }

  .row:last-child {
    margin-bottom: 0;
  }
}

@include respond-to(tabletdown) {
  .radio-section .option {
    margin-left: 0;
    text-align: left;
    width: 95%;

    .row:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-right: inherit;
      position: static;

      &:after {
        display: none;
      }
    }

    &:not(:first-child) {
      border-top: 1px solid $graphite03;
      padding-top: 15px;
    }

  }
}

//RTL Styles
html[dir='rtl'] {

  .radio:not(:checked),
  .radio:checked {
    margin-left: inherit;
    margin-right: 7px;
  }

  .radio:not(:checked) + label,
  .radio:checked + label {
    padding-left: inherit;
    padding-right: 36px;
  }

  .radio:not(:checked) + label:before,
  .radio:checked + label:before {
    margin-left: inherit;
    margin-right: -31px;
  }


  .radio:not(:checked) + label:after,
  .radio:checked + label:after {
    left: auto;
    right: .67em;
  }

  // Radio Section
  .radio-section {
    .option {
      padding-left: inherit;
      padding-right: 0;

      &:first-child {
        margin-left: inherit;
        margin-right: 0;

        &:after {
          left: 0;
          right: auto;
        }
      }
    }
  }

  .info {
    .radiosection .option {
      margin-right: inherit;

      &:first-child {
        margin-left: inherit;
        margin-right: 10px;
      }
    }
  }

  @include respond-to(tabletdown) {
    .radio-section .option {
      margin-left: inherit;
      margin-right: 0;
      text-align: right;

      &:first-child {
        margin-left: inherit;
      }
    }
  }

}
