// Search Field
//================================================== //

.searchfield-wrapper {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  > .icon {
    fill: $trigger-icon-fill-color;
    height: 17px;
    position: absolute;
    right: 0;
    top: 9px;
  }
}

@mixin searchfield-text-style() {
  color: $graphite06;
  font-weight: bold;
  @include font-size(12);
  text-transform: uppercase;
}

// This variation Slides out on focus
.toolbar {
  .searchfield-wrapper {
    margin: 4px 0px 6px;

    + span {
      color: $graphite06;
      font-weight: bold;
      @include font-size(12);
      margin-left: -85px;
      pointer-events: none;
      text-transform: uppercase;
    }
  }

  .searchfield {

    border: 0;
    @include searchfield-text-style();
    cursor: pointer;
    padding-left: 35px;
    transition: width .3s ease-out .1s;
    width: 110px;

    &:focus {
      background-color: #ffffff;
      border: 1px solid $graphite03;
      color: initial;
      cursor: text;
      width: 225px;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }
    }

    + svg {
      fill: $graphite06;
      left: 2px;
      pointer-events: none;
    }

    &::-webkit-input-placeholder {
      @include searchfield-text-style();
    }

    &::-moz-placeholder {
      @include searchfield-text-style();
    }

    &:-ms-input-placeholder {
      @include searchfield-text-style();
    }

  }
}

// This variation has different style
.header {
  .searchfield-wrapper {
    margin-top: 13px;
  }

  .searchfield {
    background-color: $slate08;
    border-color: transparent transparent $slate09 transparent;
    color: $white;
    padding-left: 32px;
    text-transform: none;

    + svg.icon {
      fill: $header-icon-color;
      left: 0;

    }
  }

  .toolbar {
    .searchfield {
      border-bottom: 1px solid $slate09;
      width: 300px;
    }
  }
}
