// Search Field
//================================================== //

@mixin searchfield-text-style() {
  color: $font-color;
  font-weight: bold;
  @include font-size(12);
  text-transform: uppercase;
}

@mixin searchfield-text-style-hover() {
  color: $primary-color;
  font-weight: bold;
  @include font-size(12);
  text-transform: uppercase;
}

@mixin context-searchfield-boxshadow() {
  box-shadow: 0 3px 5px 0 rgba($searchfield-context-boxshadow-color, .7);
}

.searchfield-wrapper {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  > .icon {
    background-color: rgba($white, 0); // IE 10
    fill: $trigger-icon-fill-color;
    height: 14px;
    position: absolute;
    top: 8px;

    &:not(.close):not(.icon-error) {
      left: 8px;
      pointer-events: none;
    }

    &.close {
      right: 5px;
      top: 11px;
    }

    &.icon-error {
      fill: $error-color;
      left: auto;
      right: auto;
      top: auto;
    }
  }

  &:hover input:not([disabled]):not(:focus) {
    + svg {
      fill: $tertiary-btn-hover-color;
    }
  }

  .icon-dropdown {
    margin-left: 2px;
  }

  .searchfield {
    padding-left: 34px;
    padding-right: 34px;
  }

  // This variation is used on white-backgrounds (usually in list-detail, listviews, or builder pattern)
  &.context {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    > .searchfield {
      background-color: $searchfield-context-bg;
      border-bottom: 1px solid $searchfield-context-border-color;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      padding-left: 32px;
      width: 100%;

      &.is-open {
        @include context-searchfield-boxshadow();
      }
    }

    > .icon {
      fill: $searchfield-context-icon-color;
      top: 9px;

      &:not(.close) {
        left: 6px;
        right: auto;
      }

      &.close {
        right: 6px;
      }
    }

    .btn {
      background-color: $searchfield-context-bg;
      border: 0;
      border-bottom: 1px solid $searchfield-context-border-color;
      height: 33px;

      + .searchfield {
        margin-left: 0;
      }
    }

    &.alternate {
      > .searchfield {
        background-color: $searchfield-context-alt-bg;
      }

      .btn {
        background-color: $searchfield-context-alt-bg;
      }
    }

    &.has-categories {
      > .searchfield {
        width: calc(100% - 39px);
      }
    }

    &.is-hovered {
      .btn {
        border-color: $input-hover-border-color;
        color: $input-hover-border-color;

        .icon {
          fill: $input-hover-border-color;
        }
      }
    }

    &.has-focus {
      .btn {
        border-color: $searchfield-context-border-color;
      }

      .searchfield {
        border-color: $searchfield-context-border-color;
      }
    }

  }

  &.is-hovered {
    .btn {
      border-color: $input-hover-border-color;
      color: $input-hover-border-color;

      .icon {
        fill: $input-hover-border-color;
      }
    }

    .searchfield {
      border-color: $input-hover-border-color;
    }

    &.has-categories {
      .searchfield {
        border-left-color: transparent;
      }

      &.show-category {
        .searchfield {
          border-left-color: $input-hover-border-color;
        }
      }
    }
  }

  &.has-focus {
    .btn {
      border-color: $input-focus-border-color;

      &:focus,
      &:active {
        color: $input-focus-border-color;
      }
    }

    .searchfield {
      border-color: $input-focus-border-color;
    }

    &.has-categories {
      .searchfield {
        border-left-color: transparent;
      }

      &.show-category {
        .searchfield {
          border-left-color: $input-focus-border-color;
        }
      }
    }
  }

  // Buttons inside of searchfields
  .btn {
    @include css3(transition, border 300ms ease 0s); // Matches the one on inputs
    background-color: transparent;
    border-bottom-right-radius: 0;
    border-color: $input-border-color;
    border-right: 0;
    border-top-right-radius: 0;
    color: $font-color;
    font-weight: normal;
    height: 34px;
    margin: 0;
    min-width: 0;
    padding: 0 0 0 10px;
    position: relative;
    text-transform: none;

    + .searchfield {
      border-bottom-left-radius: 0;
      border-left: 1px solid transparent;
      border-top-left-radius: 0;
      margin-left: -1px;
      padding-left: 10px;
    }

    .icon {
      fill: $font-color;
      width: 14px;
    }

    // Disable default focus state
    &:focus {
      box-shadow: none;
    }

    &.is-open {
      color: $input-focus-border-color;

      .icon {
        fill: $input-focus-border-color;
      }
    }
  }

  &.has-categories {
    > * {
      vertical-align: top;
    }

    &.show-category {
      .btn {
        padding-right: 10px;
      }

      .searchfield {
        border-left: 1px solid $input-border-color;
      }
    }
  }

  //Call to action button
  + .btn.go-button {
    margin-left: 10px;
    margin-top: 0;
    min-width: 0;
    position: absolute;
  }
}

.inline.searchfield-wrapper:not(.toolbar-searchfield-wrapper) {
  > .icon:not(.icon-error) {
    top: 30px;
  }
}

// Context Searchfield's Popupmenu has alternate styles
.popupmenu.autocomplete.context {
  @include context-searchfield-boxshadow();
  border: 0;
  border-top: 1px solid $searchfield-context-border-color !important;
}

@include respond-to(phablet) {
  .toolbar .searchfield {
    text-overflow: clip;

    &::-webkit-input-placeholder {
      color: transparent !important;
    }

    &::-moz-placeholder {
      color: transparent !important;
    }

    &:-ms-input-placeholder {
      color: transparent !important;
    }
  }
}

.is-firefox.is-mac {
  .searchfield-wrapper .btn {
    height: 33px;
  }

  .searchfield-wrapper.context .btn {
    height: 32px;
  }
}

//RTL Styles
html[dir='rtl'] {
  .searchfield-wrapper {
    > .icon {
      &:not(.close) {
        left: auto;
        right: 8px;
      }

      &.close {
        left: 5px;
        right: auto;
      }
    }
  }
}
