
.select {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAABGdBTUEAALGPC/xhBQAAADlQTFRFZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmAAAAZmZm2V0SyQAAABJ0Uk5TcvKp0aT6z2+yu7EKugbuAQkABl6sYAAAACxJREFUCNcdxccRACAMAzDTO8Hef1gO9BHyTpLbAUUfYPHtDVxTaocgT6+DvCzVAhgkQJ5TAAAAAElFTkSuQmCC") no-repeat scroll 97% center #fff;
  cursor: pointer;
}

.select.is-open {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAABGdBTUEAALGPC/xhBQAAADNQTFRFZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmAAAAZmZmMXptBQAAABB0Uk5T9KcB0nGkac/9Bgnusgi6AOSjwOsAAAArSURBVAjXHcGHDQAgDAOwsEdbkv+vBWGD3O5BgnGks4ic9DSi6usoBmnauC0QAeXNS3pJAAAAAElFTkSuQmCC") no-repeat scroll 97% center #fff;
}


.select-btn {
  cursor: pointer;
  height: 48px;
  width: 48px;
  display: inline-block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAABGdBTUEAALGPC/xhBQAAADlQTFRFZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmAAAAZmZm2V0SyQAAABJ0Uk5TcvKp0aT6z2+yu7EKugbuAQkABl6sYAAAACxJREFUCNcdxccRACAMAzDTO8Hef1gO9BHyTpLbAUUfYPHtDVxTaocgT6+DvCzVAhgkQJ5TAAAAAElFTkSuQmCC") no-repeat scroll 97% center #fff;
}

.select-list {
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  font-family: $font-stack;
  @include font-size(14);
  height: 200px;
  left: 1px;
  line-height: 47px;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  text-indent: 18px;
  top: 1px;
  transition: height 0.2s ease 0s, background-color 0.2s ease 0s;
  width: auto;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
}

.select-list li:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.select-list li.is-selected {
  color: $accent-color;
  font-weight: bold;
}
