// Skip Link
//================================================== //

.skip-link {
  @include font-size(12);
  background: $skip-link-bg-color;
  border: 1px solid $skip-link-border-color;
  border-bottom-right-radius: 2px;
  border-top: 1px;
  color: $skip-link-color;
  left: 0;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  text-decoration: none;
  top: -40px;
  transition: top 1s ease-out 0s, background 1s linear 0s;
  z-index: 100;

  &:hover {
    color: $skip-link-color;
    text-decoration: underline;
  }
}

.skip-link:focus {
  left: 0;
  outline: 0 none;
  position: absolute;
  top: 0;
  transition: top .3s ease-in 0s, background .3s linear 0s;
}

//Right To Left Styles
html[dir='rtl'] {
  .skip-link:focus {
    left: initial;
    right: 0;
  }
}
