// Skip Link
//================================================== //

.skip-link {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  color: $primary-color;
  @include font-size(14);
  left: 0;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  top: -40px;
  transition: top 1s ease-out 0s, background 1s linear 0s;
  z-index: 100;

  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.skip-link:focus {
  border-color: $primary-color;
  left: 0;
  outline: 0 none;
  position: absolute;
  top: 0;
  transition: top .3s ease-in 0s, background .3s linear 0s;
}

