// Sliders
//================================================== //
.slider-wrapper {
  background-color: $slider-bg-color;
  height: 4px;
  margin: 25px 4% 50px;
  position: relative;
  @include css3(touch-callout, none);
  @include css3(user-select, none);
  width: 92%;

  .slider-hit-area {
    bottom: -10px;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: -10px;
  }

  > .tick {
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    margin-top: -4px;
    outline: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    width: 12px;

    &.complete:after {
      background-color: $slider-active-bg-color;
    }

    &:after {
      background-color: $slider-bg-color;
      border-radius: 50%;
      content: '';
      height: 12px;
      margin-left: -6px;
      position: absolute;
      width: 12px;
    }

    &.inherit:after {
      background-color: inherit !important;
    }

    > .label {
      left: 3px;
      position: absolute;
      text-overflow: ellipsis;
      top: 26px;
      white-space: nowrap;
    }

  }

  &.is-disabled {
    background-color: #d2d2d2 !important;

    > .tick {
      background-color: #d2d2d2 !important;
      cursor: default;

      > .label {
        color: #d2d2d2;
      }
    }

    > .slider-range {
      visibility: hidden;
    }

    > .slider-handle {
      cursor: default;
      visibility: hidden;
    }
  }

}

.ie9 {
  .slider-wrapper > .tick::after {
    margin-left: 0;
    z-index: -1;
  }
}

.slider-handle {
  background-color: $slider-active-bg-color;
  border: 6px solid $slider-active-bg-color;
  border-radius: 24px;
  box-shadow: 0 0 0 20px transparent; //Increase touch point
  color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-top: -10px;
  position: absolute;
  width: 24px;
  @include css3(touch-callout, none);
  z-index: 20;

  &.is-animated {
    @include css3(transition, left 200ms, right 200ms);
  }

  // Focus Border
  &::after {
    border: 1px solid;
    border-color: inherit;
    border-radius: 50%;
    content: '';
    height: 40px;
    left: -15px;
    position: absolute;
    @include scale(0);
    top: -15px;
    @include transition(transform 200ms ease 0s);
    width: 40px;
    z-index: 19;
  }

  // Transparent BGs
  &::before {
    border: 21px solid;
    border-color: inherit;
    border-radius: 50%;
    content: '';
    left: -14px;
    opacity: .1;
    position: absolute;
    top: -15px;
    @include transition(transform 200ms ease 0s);
    @include scale(0);
    z-index: 19;
  }

  &:focus,
  &:active {
    background-color: $inverse-color !important; // Needs !important to override inline CSS for background color on active state.
    border-color: $slider-active-bg-color;
    outline: 0;
  }

  &:focus {
    &::before,
    &::after {
      @include scale(.96);
    }
  }

  &:active,
  &.is-active {
    &::after {
      border: 0;
    }
  }

  &.is-dragging {
    @include css3(transition, none);
  }

}

.slider-range {
  background-color: $primary-color;
  cursor: pointer;
  display: block;
  height: inherit;
  position: absolute;

  &.is-animated {
    @include css3(transition, left 200ms, right 200ms);
  }

  &.is-dragging {
    @include css3(transition, none);
  }
}

@include respond-to(large) {
  .slider-wrapper {
    margin: 25px 3% 50px;
    width: 94%;
  }
}

@include respond-to(extralarge) {
  .slider-wrapper {
    margin: 25px 2.5% 50px;
    width: 95%;
  }
}
