// Sliders
//================================================== //
.slider {
  background-color: $slider-bg-color;
  height: 4px;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.slider-handle {
  background-color: $slider-active-bg-color;
  border: 3px solid $slider-active-bg-color;
  border-radius: 24px;
  color: transparent;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-left: -15px;
  margin-top: -10px;
  position: absolute;
  width: 24px;

  &:focus,
  &:active,
  &.is-active {
    background-color: $inverse-color;
    border-color: $slider-active-bg-color;
  }
}

.slider-range {
  background-color: $primary-color;
  display: block;
  height: inherit;
  position: absolute;
  width: inherit;
}
