// Spinboxes
//================================================== //

// Overrides some basic styles from the "input".
.spinbox {
  border-radius: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
  padding: 9px;
  text-align: center;
  width: 84px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.field {
  > .spinbox {
    margin-bottom: 0;
  }

  > .spinbox-wrapper {
    margin-bottom: 20px;
    position: relative;
  }
}

.spinbox-control {
  backface-visibility: hidden;  // Makes the round ripple-effect pressed state work
  background-color: $spinbox-button-color;
  border: 1px solid $input-border-color;
  border-collapse: separate;
  color: $font-color;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: normal;
  @include font-size(14);
  overflow: hidden;
  padding: 9px 10px;
  position: relative;
  resize: none;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);  // Makes the round ripple-effect pressed state work
  -moz-transform: translate3d(0, 0, 0);  // Makes the round ripple-effect pressed state work
  @include css3(user-select, none);
  width: 33px;

  &.up {
    border-bottom-right-radius: 2px;
    border-left: 0;
    border-top-right-radius: 2px;
  }

  &.down {
    border-bottom-left-radius: 2px;
    border-right: 0;
    border-top-left-radius: 2px;
  }

  &:hover {
    color: $spinbox-hover-color;
  }

  &.is-active {
    color: $spinbox-active-color;
  }

  &.is-disabled {
    background-color: $input-disabled-bg-color;
    border-color: $input-disabled-border-color;
    color: $disabled-color;
    cursor: default;
    -webkit-text-fill-color: $disabled-color;
  }
}

// Everything inside the spinbox wrapper is vertically-aligned middle.
.spinbox-wrapper {
  display: inline-block;

  > * {
    vertical-align: middle;
  }

  .icon-error {
    margin-right: auto;
    right: 38px;
    top: 0;
  }

  &.is-focused {

    > .spinbox-control {
      border-color: $input-focus-border-color;

      &.is-active {
        border-color: $input-focus-border-color;
      }

      &.is-disabled {
        background-color: $input-disabled-bg-color;
        border-color: $input-disabled-border-color;
        color: $disabled-color;
        cursor: default;
        -webkit-text-fill-color: $disabled-color;
      }
    }

  }

  &.is-disabled {
    > .spinbox-control {
      background-color: $input-disabled-bg-color;
      border-color: $input-disabled-border-color;
      color: $disabled-color;
      cursor: default;
      -webkit-text-fill-color: $disabled-color;
    }
  }

  .ripple-effect {
    background-color: $tertiary-btn-ripple-color;
  }
}

// Short Fields
.field-short {
  .spinbox-wrapper {
    margin-bottom: 0;
  }

  .spinbox {
    margin-bottom: 0;
  }

  .spinbox-control {
    padding: 4px 10px;
  }
}


//RTL Styles
html[dir='rtl'] {
  .spinbox-control {
    &.up {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 0;
      border-left: 1px solid $input-border-color;
      border-right: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
    }

    &.down {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 2px;
      border-left: 0;
      border-right: 1px solid $input-border-color;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
    }

    &.is-disabled {
      border-color: $input-disabled-border-color;
    }
  }

  .spinbox-wrapper {
    .icon-error {
      left: 40px;
      right: auto;
    }

    &.is-focused {
      > .spinbox-control {
        border-color: $input-focus-border-color;

        &.is-active {
          border-color: $input-focus-border-color;
        }

        &.is-disabled {
          border-color: $input-disabled-border-color;
        }
      }

    }

    &.is-disabled {
      > .spinbox-control {
        border-color: $input-disabled-border-color;
      }
    }
  }
}
