/* Spinboxes
================================================== */

// Overrides some basic styles from the "input".
.spinbox {
  border-radius: 0;
  font-weight: 400;
  text-align: center;
  width: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

.field {
  > .spinbox {
    margin-bottom: 0;
  }

  > .spinbox-wrapper {
    margin-bottom: 20px;
  }
}

.spinbox-control {
  width: 3.4rem;

  background-color: transparent;
  border: 1px solid $input-border-color;
  border-collapse: separate;
  color: $font-color;
  cursor: pointer;
  display: inline-block;
  font-family: $font-regular;
  font-weight: 700;
  line-height: normal;
  @include font-size(14);
  padding: 6px 10px;
  resize: none;
  text-align: center;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  &.up {
    border-bottom-right-radius: 2px;
    border-left: 0;
    border-top-right-radius: 2px;
  }

  &.down {
    border-bottom-left-radius: 2px;
    border-right: 0;
    border-top-left-radius: 2px;
  }

  &:hover {
    color: $accent-color;
  }

  &.is-active {
    color: $font-color-dark;
    box-shadow: $spinbox-bg-shadow;
    background-color: $spinbox-bg-color;
  }
}

// Everything inside the spinbox wrapper is vertically-aligned middle.
.spinbox-wrapper {
  display: inline-block;

  > * {
    vertical-align: middle;
  }

  &:hover {
    > .spinbox {
      color: $accent-color;
    }
  }

  &.is-focused {

    > .spinbox {
      color: $font-color;
    }

    > .spinbox-control {
      box-shadow: $input-focus-shadow;
      border-color: $input-focus-border-color;

      &.is-active {
        box-shadow: $input-focus-shadow, $spinbox-bg-shadow;
      }
    }

  }

  &.is-focused:hover {
    > .spinbox {
      color: $accent-color;
    }
  }

  &.is-disabled {

    > .spinbox-control {
      background-color: $input-disabled-bg-color;
      border-color: $input-disabled-border-color;
      color: $input-disabled-color;
      cursor: default;
    }
  }
}
