// Splitter
//========================================================

.splitter {
  @include transition(background-color 300ms cubic-bezier(.17, .04, .03, .94));
  background-color: inherit;
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  width: 20px;

  &:hover,
  &:active,
  &.is-dragging {
    background-color: $splitter-active-bg-color;

    &::after {
      color: $splitter-active-grip-bg-color;
    }
  }

  &.is-dragging {
    box-shadow: -2px 0 3px 0 $splitter-box-shadow-color;
  }

  &::after {
    color: $splitter-grip-bg-color;
    content: '⁞';
    display: block;
    font-size: 28px;
    left: 5px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
  }

  //Other Layouts
  &.splitter-right {

    &.is-dragging {
      box-shadow: 2px 0 3px 0 $splitter-box-shadow-color;
    }
  }
}

@include respond-to(phone) {
  .splitter {
    display: none;
  }
}


