// Application Subheaders
//================================================== //

// Variables for this file
$subheader-height: 50px;

.sub-header {
  @include transition(background-color 500ms cubic-bezier(.17, .04, .03, .94));
  background-color: $subhead-bg-color;
  display: block;
  height: $subheader-height;
  overflow: hidden;
  //padding-top: .8rem;
  width: 100%;

  .searchfield-wrapper {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .full-searchfield-container {
    max-width: $breakpoint-tablet-to-desktop;
    margin: 0 auto;
    padding: .85rem 1rem 0 1rem;
  }
}
