// Swaplist
//================================================== //
@mixin is-dragging() {
  @include css3(box-shadow, 0 0 5px 0 rgba($swaplist-shadow-color, .75));
  background-color: $swaplist-bg-color;
  border: 1px solid $swaplist-bg-color;
  opacity: .4;
  padding: 9px 20px 8px;
}

@mixin is-dragging-touch() {
  @include is-dragging();
  position: absolute;
  z-index: 2;
}

.swaplist {

  .card {
    border-left-width: 0;
    float: left;
    width: 50%;

    &:first-child {
      border-left-width: 1px;
    }

    .card-header .btn {
      background-color: transparent;
      border: 0;
      color: $swaplist-icon-color;
      line-height: normal;
      margin: 0;
      min-width: 0;
      padding: 0;
      width: 35px;

      &:after,
      &:before {
        border-style: dotted;
        border-width: 1px;
        content: '';
        display: inline-block;
        height: 18px;
        position: absolute;
        top: 7px;
        width: 3px;
      }

      &:after {
        border-color: $swaplist-icon-color $swaplist-icon-color $swaplist-icon-color transparent;
        right: 6px;
      }

      &:before {
        border-color: $swaplist-icon-color transparent $swaplist-icon-color $swaplist-icon-color;
        left: 6px;
      }

      &:hover,
      &:focus:not(.hide-focus):not(.is-disabled) {
        &:after {
          border-color: $swaplist-border-color-hover $swaplist-border-color-hover $swaplist-border-color-hover transparent;
        }

        &:before {
          border-color: $swaplist-border-color-hover transparent $swaplist-border-color-hover $swaplist-border-color-hover;
        }
      }
      &:focus:not(.hide-focus):not(.is-disabled) {
        box-shadow: 0 0 0 1px $swaplist-border-color-hover;
      }

      .icon {
        fill: $swaplist-icon-color;
        margin: 0 3px;
        width: 15px;
      }
    }

    .buttons {
      position: absolute;
      right: 10px;
      top: 0;
    }
  }

  &.one-third {
    min-width: 370px;

    .card {
      width: 33%;
    }

    @include respond-to(phone) {
      .card {
        width: 50%;

        &:nth-child(2) {
          height: 180px;
          min-height: 180px;

          .btn:last-child svg {
            @include rotate(90);
          }

          .card-content {
            height: 130px;
            min-height: 130px;
          }
        }

        &:nth-child(3) {
          border-top: 0;
          height: 190px;
          margin-top: -20px;
          min-height: 190px;

          .btn svg {
            @include rotate(90);
          }

          .card-content {
            height: 130px;
            min-height: 130px;
          }
        }

        .buttons {
          right: 5px;
        }
      }
    }
  }

  .handle {
    color: $swaplist-icon-color-hover;
    display: none;
    font-size: 2em;
    left: 10px;
    position: absolute;
    top: 12px;
  }

  .is-muliselect {
    ul {
      min-height: 100%;
    }

    li {
      border: 1px solid transparent;
      padding: 9px 20px 7px;

      &:before,
      &:after,
      &.is-selected:after {
        content: none;
      }

      &.draggable {
        cursor: move;
      }

      &:hover:not(.is-disabled) .handle {
        display: inline-block;
      }

      &.is-dragging {
        @include is-dragging();
      }
    }

    .over {
      border: 1px dashed $swaplist-border-color;
    }
  }

  .is-dragging-touch {
    @include is-dragging-touch();
  }
}

// Webkit-based browsers (Chrome, Safari, etc.)
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .swaplist {
    .handle {
      top: 10px;
    }
  }
}

// Ios
.ios {
  .swaplist {
    .handle {
      top: 8px;
    }
  }
}

// Firefox
.is-firefox {
  .swaplist {
    &.one-third {
      @include respond-to(phone) {
        .card {
          &:nth-child(2) {
            .btn:last-child svg {
              transform: translateX(5px) translateY(0) rotate(45deg);
            }
          }
          &:nth-child(3) {
            .btn svg {
              margin-right: 10px;
              transform: translateX(7px) translateY(0) rotate(45deg);
            }
          }
        }
      }
    }
  }
}

// IE9
.ie9 {
  .swaplist {
    .is-muliselect {
      [aria-grabbed="true"]:not(.is-dragging) {
        display: none;
      }
    }
  }
}

// Touch placeholder
#sl-placeholder-container {
  p,
  div {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .is-dragging-touch {
    @include is-dragging-touch();
  }
}

