//Toggle Switches
//================================================== //

.switch {
  margin: 4px;
  position: relative;
  width: 44px;
  @include no-select;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  border: 2px solid #999999;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.switch-inner {
  display: block;
  margin-left: -100%;
  @include css3(transition, margin .3s ease-in 0s);
  width: 200%;
}

.switch-inner:before,
.switch-inner:after {
  color: #ffffff;
  display: block;
  float: left;
  height: 10px;
  line-height: 10px;
  padding: 0;
  width: 50%;
}

.switch-inner:before {
  background-color: #34a7c1;
  color: #ffffff;
  content: '';
  padding-left: 10px;
}

.switch-inner:after {
  background-color: #eeeeee;
  color: #999999;
  content: '';
  padding-right: 10px;
  text-align: right;
}

.switch-knob {
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 50px;
  bottom: 0;
  display: block;
  height: 20px;
  margin: -5px;
  position: absolute;
  right: 46px;
  @include css3(transition, all .3s ease-in 0s);
  top: 0;
  width: 20px;
}

.switch-checkbox:checked + .switch-label .switch-inner {
  margin-left: 0;
}

.switch-checkbox:checked + .switch-label .switch-knob {
  right: 0;
}

.switch-text {
  display: inline;
  height: 33px;
  left: 100%;
  position: absolute;
  width: auto;
}
