/* Toggle Switches
================================================== */
.switch {
  position: relative;
  @include no-select;
  display: inline-block;
  padding-left: 3px;
}

.switch-checkbox {
  display: block;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.switch-checkbox:disabled + .switch-container .switch-control,
.switch-checkbox:disabled + .switch-container .switch-label {
  cursor: default;
  opacity: .5;
}

.switch .switch-container {
  display: inline-block;
  font-size: inherit;
  padding: 0 15px 0 0;
}

.switch-control {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #666666;
  border-radius: 17px;
  background-color: #666666;
  position: relative;
  width: 66px;
  height: 33px;
}

.switch-inner {
  width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.switch-checkbox:focus + .switch-container > .switch-control {
  box-shadow: $focus-shadow;
}

.switch-inner:before, .switch-inner:after {
  display: inline-block;
  width: 100%;
  height: 33px;
  padding: 0;
  line-height: 33px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.switch-inner:before {
  content: "";
  padding-left: 5px;
  background-color: #2db329;
  border-radius: 10px;
}

.switch-inner:after {
  content: "";
  padding-right: 5px;
  background-color: #666666;
  text-align: right;
}

.switch-knob {
  width: 33px;
  height: 33px;
  margin: 0;
  background: #FFFFFF;
  border: 2px solid #666666;
  border-radius: 17px;
  position: absolute;
  top: -2px;
  bottom: 0;
  right: 31px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.switch-checkbox:checked + .switch-container > .switch-control {
  border: 2px solid #2db329;
  margin-left: 0;
}

.switch-checkbox:checked + .switch-container .switch-control .switch-inner {
  margin-left: 0;
}

.switch-checkbox:checked + .switch-container .switch-control .switch-knob {
  right: -2px;
  border: 2px solid #2db329;
}

.switch-label {
  cursor: pointer;
  text-align: left;
  display: inline-block;
  font-family: $font-stack;
  @include font-size(14);
  line-height: 20px;
  position: relative;
  top: 0;
  position: relative;
  text-indent: 10px;
  top: -12px;
}
