// Switch
//================================================== //

.switch {
  clear: both;
  display: block;
  margin: 20px 0;

  // Text Label
  label {
    display: inline-block;
    text-indent: 60px;
  }

  //Invisible Input
  input {
    position: absolute;
  }

  // Unchecked Styling
  input:empty {
    margin-left: -999px;

    ~ label {
      @include no-select();
      cursor: pointer;
      line-height: 17px;
      position: relative;
    }

    ~ label:before {
      background-color: $switch-unchecked-bar-color;
      border-radius: 2px;
      height: 5px;
      left: 0;
      top: 5px;
      width: 44px;
    }

    ~ label:before,
    ~ label:after {
      @include css3(transition, all 200ms cubic-bezier(.17, .04, .03, .94) 0s);
      content: ' ';
      display: block;
      position: absolute;
    }

    ~ label:after {
      background-color: $switch-unchecked-color;
      border: solid 6px $switch-unchecked-color;
      border-radius: 50%;
      height: 10px;
      left: 0;
      top: -4px;
      width: 10px;
    }
  }

  //Checked Styling - Inner
  input:checked ~ label:before {
    background-color: $switch-checked-bg-color;
  }

  //Checked Styling - Toggle Handle
  input:checked ~ label:after {
    background: $switch-checked-color;
    border-color: $switch-checked-color;
    left: 29px;
  }

  // Active State
  input:not(:disabled):active ~ label:after {
    background-color: $body-bg-color;
    border-color: $switch-checked-color;
    left: 12px;
  }

  //Disabled
  input:disabled ~ label {
    color: $switch-disabled-label-color;
    cursor: default;
  }

  input:disabled ~ label:before {
    background-color: $switch-disabled-color;
  }

  input:disabled ~ label:after {
    background-color: $switch-disabled-color;
    border-color: $switch-disabled-color;
  }

  input:focus {
    ~ label:after {
      background-color: $body-bg-color;
    }
  }

}

//Rule to remove bottom padding on modal if its the last element.
.modal-body-wrapper .switch:last-child {
  margin-bottom: 0;
}

