/* Tabs (Vertical and Horizontal)
================================================== */
.tab-container {
  margin: 20px;
}

/* Headers */
.tab-list {
  border-bottom: 1px solid #d2d2d2;
  display: inline-block;
  height: 40px;
  list-style: none outside none;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.tab-container.has-more-button > .tab-list {
  width: calc(100% - 102px);
}

.tab-list li {
  display: inline-block;
  height: 40px;
  border-radius: 2px 2px 0 0;
  border: 1px solid transparent;
  padding: 0 25px;
  cursor: pointer;
}

.tab-list li:hover {
  background-color: #f2f2f2;
  color: #333333;
}

.tab-list li a {
  text-decoration: none;
  color: #666666;
  line-height: 39px;
  @include font-size(14);
  font-weight: lighter;
}

.tab-list a:focus {
  outline: 1px dotted #fff;
}

/* Tab Body */
.tab-panel {
  margin-top: 20px;
}

/* States */
.tab-list li.is-selected {
  background-color: $accent-color;
}

.tab-list li.is-selected a {
  color: white;
}

/* More Button */
.tab-more {
  border-radius: 2px 2px 0 0;
  max-width: 102px;
  line-height: 39px;
  padding: 0 9px 0 25px;
  border-bottom: 1px solid #d2d2d2;
  background-color: transparent;
  display: none;
}

.tab-more > span {
  font-weight: lighter;
}

.tab-more.popup-is-open {
  background-color: $accent-color;
  color: #fff;
}

.tab-more.popup-is-open > span {
  color: #fff;
}

.tab-more.popup-is-open > .icon {
  fill: #fff;
}

.tab-more > * {
  vertical-align: middle;
}

.tab-container.has-more-button > .tab-more {
  display: inline-block;
  float: right;
}
