// Tabs (Vertical and Horizontal)
//==================================================/
.tab-container {
  &.has-more-button > .tab-list {
    width: calc(100% - 102px);
  }

  &.has-more-button > .tab-more {
    display: inline-block;
    float: right;
  }
}

// Tab Headers aka Notches
.tab-list {
  border-bottom: 1px solid $tab-border-color;
  display: inline-block;
  height: 40px;
  list-style: none outside none;
  overflow: hidden;
  padding: 0;
  width: 100%;

  li {
    border-bottom: 3px solid transparent;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    padding: 0 25px;
    transition: border-color .35s ease 0s;

    &:hover {
      background-color: $tab-hover-color;
      border-color: #333333;
    }

    a {
      color: #666666;
      @include font-size(14);
      font-weight: normal;
      line-height: 39px;
      text-decoration: none;

      &:focus {
        text-decoration: underline;
      }
    }

    &.is-selected {
      border-color: $primary-color;

      a {
        color: $tab-selected-color;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}

// Tab Body
.tab-panel {
  margin-top: 20px;
}

// More Button
.tab-more {
  background-color: transparent;
  border-bottom: 1px solid $tab-border-color;
  border-radius: 2px 2px 0 0;
  display: none;
  line-height: 39px;
  max-width: 102px;
  padding: 0 13px 0 25px;

  > span {
    font-weight: normal;
  }

  &.popup-is-open,
  &.is-selected {
    span {
      color: $tab-selected-color;
    }

    svg {
      fill: $tab-selected-color;
    }

    &:after {
      background-color: $tab-selected-color;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      margin: -2px -13px 0 -20px;
      position: relative;
      width: inherit;
    }
  }

  &.popup-is-open span {
    text-decoration: underline;
  }

  // Position Elements in menu
  > * {
    vertical-align: middle;
  }
}

#tab-container-popupmenu li.is-selected {
  background-color: $tab-selected-color;

  a {
    color: $inverse-color;

    &:before {  //Removes default check icon
      border-color: transparent;
    }
  }
}
