// TimePicker
// ==================================================

.timepicker {
  width: 150px;

  + .icon {
    cursor: pointer;
    fill: $graphite05;
    height: 17px;
    margin-left: -32px;
    margin-top: 9px;
    position: absolute;
    @include css3(user-select, none);

    &:hover {
      fill: $primary-color;
    }
  }

  &:disabled {
    + .icon {
      cursor: default;
      fill: #c3c3c3;
    }
  }
}

.timepicker-popup {

  > .tooltip-content {
    padding: 0;
  }

  .time-parts {
    padding: 13px;
    text-align: center;

    > label {
      width: 72px;
    }
  }

  .dropdown-wrapper {
    margin-bottom: 0;
  }

  .dropdown {
    display: inline-block;
    width: 72px;

    + .icon {
      background-color: $popupmenu-bg-color;
    }
  }

  .label {
    display: inline-block;
    padding: 0 2px;
  }

  .modal-buttonset {
    margin: 0;
  }

}
