// TimePicker
// ==================================================

.timepicker {
  width: 150px;

  + .icon {
    cursor: pointer;
    fill: #999999;
    height: 18px;
    margin-left: -30px;
    margin-top: 9px;
    position: absolute;
    @include css3(user-select, none);

    &:hover {
      fill: #666666;
    }
  }

  &:disabled {
    + .icon {
      cursor: default;
      fill: #c3c3c3;
    }
  }
}

.timepicker-popup {

  > .tooltip-content {
    padding: 0;
  }

  .time-parts {
    border-bottom: 1px solid $popover-separator-color;
    padding: 13px;
    text-align: center;

    > label {
      width: 72px;
    }
  }

  .controls {
    padding: 7px 13px;
    text-align: center;
  }

  .dropdown {
    display: inline-block;
    width: 72px;
  }

  .label {
    display: inline-block;
    padding: 0 2px;
  }

}
