// TimePicker
// ==================================================

.timepicker {
  width: 150px;

  + .icon,
  + .tooltip-description + .icon {
    cursor: pointer;
    fill: $trigger-icon-fill-color;
    height: 17px;
    margin-left: -32px;
    margin-top: 9px;
    position: absolute;
    @include css3(user-select, none);

    &:hover {
      fill: $primary-color;
    }
  }

  + .icon + .icon-error {
    right: 50px;
  }

  + .audible + .icon + .icon-error {
    right: 55px;
  }

  &:disabled {
    + .icon {
      cursor: default;
      fill: $input-disabled-border-color;
    }
  }
}

.ie9 .timepicker + .icon {
  background-color: rgba($white, 0);
}

.timepicker-popup {

  > .tooltip-content {
    padding: 0;
  }

  .time-parts {
    padding: 15px;
    text-align: center;

    > label {
      width: 72px;
    }
  }

  .dropdown-wrapper {
    margin-bottom: 0;
  }

  .dropdown {
    display: inline-block;
    width: 72px;

    + .icon {
      background-color: $popupmenu-bg-color;
      height: 31px;
      right: 10px;
      top: 1px;
    }
  }

  .label {
    display: inline-block;
    padding: 0 2px;
  }

  .modal-buttonset {
    margin: 0;
  }

}

// Short Fields
.field-short {
  .timepicker {
    padding-right: 18px;

    + .icon,
    + .tooltip-description + .icon {
      height: 14px;
      margin-left: -24px;
      margin-top: 6px;
    }
  }
}
