// Tooltips
//================================================== /
.popover,
.tooltip {
  background-clip: padding-box;
  background-color: $tooltip-bg-color;
  border: 1px solid $tooltip-border-color;
  border-radius: 2px;
  color: $tooltip-color;
  @include font-size(15);
  left: -9999px;
  max-width: 300px;
  min-width: 60px;
  opacity: 1;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 0;
  transition: opacity .4s ease;
  white-space: normal;
  z-index: 5010;
}

.tooltip {

  @include word-wrap();

  .links-clickable {
    pointer-events: auto;
  }

  &.is-clickable {
    pointer-events: initial;
  }

  &.top:not(.is-error) .arrow:after {
    border-top-color: $tooltip-bg-color;
  }

  &.bottom:not(.is-error) .arrow:after {
    border-bottom-color: $tooltip-bg-color;
  }

  &.right:not(.is-error) .arrow:after {
    border-right-color: $tooltip-bg-color;
  }

  &.left:not(.is-error) .arrow:after {
    border-left-color: $tooltip-bg-color;
  }

  &.is-error {
    background-color: $tooltip-error-bg-color;
    pointer-events: auto;

    p {
      color: $tooltip-error-color;
    }

    &.top {
      .arrow {
        border-top-color: $tooltip-error-bg-color;
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: $tooltip-error-bg-color;
      }
    }

    &.left {
      .arrow {
        border-left-color: $tooltip-error-bg-color;
      }
    }

    &.right {
      .arrow {
        border-right-color: $tooltip-error-bg-color;
      }
    }
  }

  p {
    color: $tooltip-error-color;
    text-align: center;
    word-break: normal;
    word-wrap: break-word;
  }

  .icon {
    display: inline-block;
    fill: $tooltip-color;
    width: 18px;

    + p {
      display: inline-block;
      margin-left: 5px;
      margin-top: 7px;
      vertical-align: top;
      width: auto;
    }
  }

}

.popover {
  background-color: $popover-bg-color;
  border: 1px solid $popover-border-color;
  box-shadow: $popover-box-shadow;
  color: $popover-color;
  pointer-events: auto;
  z-index: 3010;

  &.top {
    .arrow {
      border-top-color: $popover-arrow-border-color;
    }

    .arrow:after {
      border-top-color: $popover-bg-color;
    }
  }

  &.bottom {
    .arrow {
      border-bottom-color: $popover-arrow-border-color;
      top: -12px;
    }

    .arrow:after {
      border-bottom-color: $popover-bg-color;
      top: 2px;
    }
  }

  &.right {
    .arrow {
      border-right-color: $popover-arrow-border-color;
    }

    .arrow:after {
      border-right-color: $popover-bg-color;
    }
  }

  &.left {
    .arrow {
      border-left-color:$popover-arrow-border-color;
    }

    .arrow:after {
      border-left-color: $popover-bg-color;
    }
  }

  p {
    color: $popover-color;
    max-width: none;
  }

  .tooltip-content {
    padding: 20px;

    > div {
      overflow: hidden;
    }
  }

}

.popover p,
.tooltip p {
  line-height: 15px;
  max-width: 315px;
}

.popover.is-hidden,
.tooltip.is-hidden {
  opacity: 0 !important;
  visibility: hidden;
}

.tooltip-title {
  border-bottom: 1px solid $graphite02;
  color: $font-color-highcontrast;
  @include font-size(16);
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 10px 20px;
}

.tooltip-content {
  padding: 7px 13px;

  // Error Tooltip Styling
  li {
    list-style: none outside none;
  }

  p {
    margin-left: 0;
  }
}

.popover-content {
  margin-left: 0;
}

.arrow,
.arrow:after {
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.arrow:after {
  content: '';
}

.top {
  .arrow {
    border-bottom-width: 0;
    bottom: -10px;
    left: 50%;
    margin-left: -11px;

    &:after {
      border-bottom-width: 0;
      left: -11px;
      top: -11px;
    }
  }
}

.bottom {
  .arrow {
    border-top-width: 0;
    left: 50%;
    margin-left: -12px;
    top: -11px;

    &:after {
      border-top-width: 0;
      left: -11px;
      top: 0;
    }
  }

  &.offset {
    .arrow {
      left: auto;
      right: 18px;
    }
  }
}

.right {
  .arrow {
    border-left-width: 0;
    left: -11px;
    margin-top: -11px;
    top: 50%;

    &:after {
      border-left-width: 0;
      left: 1px;
      top: -11px;
    }
  }
}

.left {
  .arrow {
    border-right-width: 0;
    margin-top: -11px;
    right: -10px;
    top: 50%;

    &:after {
      border-right-width: 0;
      left: -11px;
      top: -11px;
    }
  }
}
