// Toolbar Searchfields
//================================================== */

$toolbarsearchfield-border-color: $graphite05;

$toolbarsearchfield-max-width: 225px;
$toolbarsearchfield-filled-out-width: 100px;
$toolbarsearchfield-empty-width: 34px;

.toolbar-searchfield-wrapper {
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0 !important;
  width: $toolbarsearchfield-empty-width;
  @include transition(width 300ms cubic-bezier(.17, .04, .03, .94));

  > * {
    vertical-align: middle;
  }

  &.active {
    width: 225px;
  }

  &.has-focus {
    box-shadow: 0 0 0 2px transparent,
      0 0 0 1px $primary-color;
  }

  &.has-text {
    width: $toolbarsearchfield-filled-out-width;

    &.active {
      width: $toolbarsearchfield-max-width;
    }
  }

  // NOTE: Javascript will set the width, left, and right properties of the wrapper

  .searchfield {
    border: 0 !important;
    box-shadow: none !important;
    color: $tertiary-btn-color;
    @include font-size(12);
    font-weight: 700;
    height: 34px;
    outline: 0 !important;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 100%;

    &::-webkit-input-placeholder {
      color: $tertiary-btn-color;
      @include font-size(12);
      font-weight: 700;
    }

    &::-moz-placeholder {
      color: $tertiary-btn-color;
      @include font-size(12);
      font-weight: 700;
    }

    &:-ms-input-placeholder {
      color: $tertiary-btn-color;
      @include font-size(12);
      font-weight: 700;
    }
  }

  .icon {
    fill: $tertiary-btn-color;
  }
}
