// Toolbar Searchfields
//================================================== */

$toolbarsearchfield-border-color: $graphite05;

$toolbarsearchfield-max-width: 225px;
$toolbarsearchfield-filled-out-width: 100px;
$toolbarsearchfield-empty-width: 34px;

.toolbar-searchfield-wrapper {
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0 !important;
  width: $toolbarsearchfield-empty-width;
  @include transition(width 300ms cubic-bezier(.17, .04, .03, .94),
    left 300ms cubic-bezier(.17, .04, .03, .94),
    right 300ms cubic-bezier(.17, .04, .03, .94));

  > * {
    vertical-align: middle;
  }

  .searchfield {
    @include antialiased();
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none !important;
    color: $tertiary-btn-color;
    @include font-size(12);
    font-weight: 700;
    height: 34px;
    outline: 0 !important;
    text-overflow: ellipsis;
    text-transform: uppercase;
    @include transition(background-color 300ms cubic-bezier(.17, .04, .03, .94),
      border-color 300ms cubic-bezier(.17, .04, .03, .94));
    width: 100%;

    &::-webkit-input-placeholder {
      color: $tertiary-btn-color;
      @include font-size(12);
      font-weight: 700;
    }

    &::-moz-placeholder {
      color: $tertiary-btn-color;
      @include font-size(12);
      font-weight: 700;
    }

    &:-ms-input-placeholder {
      color: $tertiary-btn-color;
      @include font-size(12);
      font-weight: 700;
    }
  }

  .icon {
    fill: $tertiary-btn-color;
  }

  &.active {
    width: 225px;

    // During the animation "out", the text goes transparent
    .searchfield {
      background-color: rgba($graphite02, 1);
      border-bottom-color: rgba($graphite03, 1);
      color: transparent;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }
    }

    // Once the field is open, color and font size change to match other Searchfields.
    &.is-open {
      .searchfield {
        color: $tertiary-btn-color;
        @include font-size(14);
        font-weight: normal;
        text-transform: none;

        &::-webkit-input-placeholder {
          color: $tertiary-btn-color;
          @include font-size(14);
          font-weight: normal;
          text-transform: none;
        }

        &::-moz-placeholder {
          color: $tertiary-btn-color;
          @include font-size(14);
          font-weight: normal;
          text-transform: none;
        }

        &:-ms-input-placeholder {
          color: $tertiary-btn-color;
          @include font-size(14);
          font-weight: normal;
          text-transform: none;
        }
      }
    }

  }

  &.has-focus {
    .icon {
      fill: $primary-color;
    }

    &.active {
      .icon {
        fill: $tertiary-btn-color;
      }
    }
  }

  &.has-text {
    width: $toolbarsearchfield-filled-out-width;

    &.active {
      width: $toolbarsearchfield-max-width;
    }
  }
}

// Set positioning logic of the wrapper when it takes up the fullscreen
.toolbar > .toolbar-searchfield-wrapper {
  left: 0;
  position: absolute;
  right: 100%;
  width: 100%;
  z-index: 10;

  &.active {
    right: 0;
    width: 100%;
  }

  &.has-text {
    width: 100%;

    &.active {
      width: 100%;
    }
  }
}
