// Toolbars
//================================================== */

// See also Colors.scss
.toolbar,
.formatter-toolbar {
  height: $toolbar-height;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;

  &.has-more-button {
    .buttonset {
      padding-right: 44px;
    }

    .more {
      display: inline-block;
    }
  }

  .title {
    color: $font-color;
    display: inline-block;
    @include font-size(16);
    left: 0;
    margin: 5px 1em 5px 0;
    max-width: 40%;
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;

    > * {
      vertical-align: middle;
    }
  }

  .buttonset {
    height: $toolbar-height - 10;
    margin: 0 5px 0 1px;
    padding: 0;

    > * {
      vertical-align: middle;
    }

    > .btn-group {
      display: inline-block;

      > * {
        margin-right: 0;
      }
    }

    button {
      margin-bottom: 5px;
      margin-top: 5px;
    }

  }

  button {
    min-width: 32px;

    > .icon {
      height: 20px;
      position: relative;
    }

    &.btn-actions > .icon {
      height: 20px;
      top: 1px;
    }

    &.btn-menu > .icon:last-of-type {
      height: (($button-font-size * 2) + 8) + px;
      top: -1px;
    }
  }

  // Container for More Button
  .more {
    display: none;
    position: absolute;
    right: 0;
    top: 0;

    .btn-actions {
      margin: 5px 5px 0 0;
    }
  }

  .separator {
    background-color: #b6b6b6;
    display: inline-block;
    height: 20px;
    margin: 9px 15px;
    width: 1px;
  }

  .overflow-break {
    height: 100%;
  }
}

// Styles for regular toolbar only
.toolbar {
  .title {
    + .buttonset {
      margin: 0 0 0 50%;
      max-width: 50%;
      text-align: right;
    }
  }
}

// Used in Editor, some card menus, etc.

.popupmenu.toolbar-options {
  li {
    > a {
      padding: 0 30px;
    }

    > .icon,
    > b {
      margin-left: 10px;
      width: 28px;
    }

    &.is-selected {
      background-color: $menu-hover-color;
      color: $font-color-highcontrast;

      > .icon {
        fill: $font-color-highcontrast;
      }
    }
  }

  &.has-icons {
    li {
      > a {
        padding: 0 30px 0 45px;
      }
    }
  }
}
