// Toolbars
//================================================== */

$toolbar-height: 44px;

// See also Colors.scss
.toolbar,
.formatter-toolbar {
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;

  // Acts as a spacer that causes the toolbar items to vertically align.
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    visibility: hidden;
    width: 1px;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  .buttonset {
    overflow: hidden;
    white-space: nowrap;

    > * {
      @include transition(opacity 300ms cubic-bezier(.17, .04, .03, .94));
      margin-bottom: 5px;
      margin-top: 5px;

      &:first-child {
        margin-left: 1px;
      }

      &:last-child {
        margin-right: 1px;
      }
    }

    > .is-overflowed {
      opacity: 0;
    }

    button {
      margin-right: 0;
    }
  }

  .title {
    overflow: hidden;
    @include css3(transition, left 300ms cubic-bezier(.17, .04, .03, .94));
    white-space: nowrap;
    width: 45%;

    > * {
      vertical-align: middle;
    }

    > h1 {
      text-overflow: ellipsis;
    }

    + .buttonset {
      width: 54%;
    }
  }

  // Container for More Button
  .more {
    display: none;
    width: 60px;
    @include css3(transition, right 300ms cubic-bezier(.17, .04, .03, .94));
  }

  .separator {
    background-color: #b6b6b6;
    display: inline-block;
    height: 20px;
    margin: 3px 16px 0;
    position: relative;
    top: 6px;
    width: 1px;
  }

  &.has-more-button {
    .buttonset {
      width: calc(100% - 48px);
    }

    .title {
      width: 45%;

      + .buttonset {
        width: calc(55% - 50px); // 55% - (width of the possible 'more' button + weird, inexplicable spacing that's necessary)
      }
    }

    .more {
      display: inline-block !important;
      text-align: right;
      width: 38px;
    }
  }

}

// Styles for regular toolbar only
.toolbar {
  margin-bottom: 5px;

  .title {
    color: $font-color;
    @include antialiased();
    @include font-size(16);

    + .buttonset {
      text-align: right;
      @include css3(transition, width 300ms cubic-bezier(.17, .04, .03, .94),
        margin 300ms cubic-bezier(.17, .04, .03, .94));
    }
  }

  // Change the ".btn" class to be more like ".btn-tertiary/destructive" specifically on toolbars
  .btn {
    border: 1px solid transparent;
    border-radius: 18px;
    box-shadow: none;
    color: $tertiary-btn-color;
    overflow: hidden;
  }

  // Add special coloring to toolbar buttons for ".is-selected" state
  [class^="btn"].is-selected:focus:not(.hide-focus) {
    color: $tertiary-btn-hover-color;

    span {
      color: $tertiary-btn-hover-color;
    }

    .icon {
      fill: $tertiary-btn-hover-color;
    }
  }
}

// Used in Editor, some card menus, etc.
.popupmenu.toolbar-options {
  li {
    > a {
      padding: 0 30px;
    }

    > .icon,
    > b {
      margin-left: 10px;
      width: 28px;
    }

    &.is-selected {
      background-color: $popupmenu-hover-color;
      color: $font-color-highcontrast;

      > .icon {
        fill: $font-color-highcontrast;
      }
    }
  }

  &.has-icons {
    li {
      > a {
        padding: 0 30px 0 45px;
      }
    }
  }
}

@media (max-width: $breakpoint-phone-to-tablet - 1) {
  .toolbar {
    // Show text with icon buttons by using this class.
    // Text will still become invisible on small breakpoint (but still visible to screen readers).
    // See respond-to(tabletdown) below.
    .btn-tertiary,
    .btn-destructive {
      min-width: 0;
      width: auto;

      span:not(.audible) {
        display: inline-block;
        padding: 0 10px;
      }

      .icon {
        padding-right: 0;
        width: 32px;

        + span {
          color: transparent !important;
          padding: 0;
          width: 0;
        }
      }
    }
  }
}

// Special Rules for iOS, for unknown reasons this design just doesn't play nice with iOS
// TODO: Figure out why
.ios .toolbar {
  &.searchfield-active {
    .title,
    .more {
      display: none !important;
      width: 0 !important;

      > * {
        display: none !important;
      }
    }

    &.has-more-button {
      .buttonset {
        width: calc(100% - 2px);
      }
    }
  }
}

// Fix an issue where on slightly smaller viewports, sometimes toolbar widths are off
@media (max-width: $breakpoint-wide-tablet) {
  .toolbar {
    // Slightly modify the width of these elements on smaller breakpoints (they don't line up in some browsers)
    .title {
      width: 44% !important;
    }
  }
}

@include respond-to(phablet) {
  .toolbar {
    .buttonset {
      z-index: 10;
    }

    .searchfield-wrapper {
      z-index: 10;

      // Standalone Searchfields in a buttonset need to be positioned differently to account for
      // vertical alignmnent of the buttonset (buttonset height will be zero in this case, so starting position of the
      // searchfield wrapper would be halfway down the toolbar without this)/
      &:only-child {
        top: -10%;
      }
    }

    .searchfield {
      text-overflow: none;
      width: 32px;

      &.empty {
        padding-left: 0;
        width: 32px;

        &[placeholder] {
          padding-left: 0;
          width: 32px;
        }
      }
    }

    &.searchfield-active {
      .searchfield-wrapper {
        left: 0;
        position: absolute;
        width: calc(100% - 2px) !important; // 2px accounts for borders
      }

      .searchfield {
        &.active,
        &:active,
        &.empty.active,
        &.empty:active {
          padding-left: 32px;
          width: 100% !important;
        }
      }
    }
  }
}
