// Tree
//================================================== //

.tree {

  // Tree Items

  a {
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 100;
    @include font-size(16);
    padding: 5px;
    text-decoration: none;
    color: $breadcrumb-color;
    font-size: 16px;

    &:visited {
      color: $breadcrumb-color;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      border: 1px solid $primary-color;
      border-radius: 2px;
      color: $primary-color;
    }

    &:active {
      color: $breadcrumb-active-bg-color;
      text-decoration: underline;
    }

  }

  }

  li.folder {
    position: relative;
  }

  // Selected State
  li.is-selected {
    a {
      color: #333333;
    }

    svg {
      stroke: #1a1a1a;
    }
  }

  // Sub Nodes
  ul {
    display: none;
    left: 30px;
    overflow: hidden;
    position: relative;

    // Open Tree Nodes
    &.is-open {
      display: block;

      li {
        margin: 6px 0 0;
        position: relative;
      }

      a {
        margin: 0 0 0 14px;
        // transition: 500ms;

        &:before {
          background-color: #d8d8d8;
          content: '';
          height: 1px;
          left: -6px;
          position: absolute;
          top: 20px;
          width: 29px;
        }
      }

      // The Lines
      &:before {
        background-color: #d8d8d8;
        content: '';
        height: calc(100% - 7px);
        position: absolute;
        width: 1px;
      }



      ul:before {
        background-color: #d8d8d8;
        content: '';
        height: calc(100% - 7px);
        position: absolute;
        width: 1px;
      }
    }
  }

  .root {
    left: 16px;
    overflow: hidden;
    position: relative;
  }

  // Icons
  svg {
    margin: 0 10px -8px 0;
    stroke: #1a1a1a;
    top: 3px;
    width: 20px;
  }
}
