// Tree
//================================================== //

.tree {

  // Tree Items
  a {
    border: 1px solid transparent;
    border-radius: 2px;
    color: $tree-link-color;
    @include font-size(16);
    font-weight: 300;
    line-height: 34px;
    padding: 7px 8px 5px 5px;
    text-decoration: none;

    &:visited {
      color: $tree-link-color;
    }

    &:hover {
      color: $tree-folder-link-color;
      text-decoration: underline;

      svg {
        stroke: $tree-folder-link-color;
      }
    }

    &:focus {
      border: 1px solid $tree-selected-color;
      border-radius: 2px;
      color: $tree-selected-color;

      svg {
        fill: $tree-selected-color;
        stroke: $tree-selected-color;
      }
    }

    &:active {
      border: 1px solid transparent;
      color: $tree-selected-color;
    }

    &.is-disabled {
      @include unselectable;
      cursor: default;
      opacity: $tree-disabled-opacity;
            
      &:hover {
        text-decoration: none;
        
        svg {
          stroke: $tree-icon-color;
        }
      }

      &:focus {
        border: none;
        color: $tree-link-color;

        svg {
          stroke: $tree-icon-color;
        }
      }
    }

  }

  // List Elements
  li {

    &.folder {

      &.is-open {
        margin-bottom: 0;
      }

      > a {
        color: $tree-folder-link-color;
      }
    }

    // Selected State
    &.is-selected {
      > a {
        color: $tree-selected-color;
        text-decoration: none;

        svg {
          stroke: $tree-selected-color;
        }
      }
    }
  }

  // Sub Nodes
  ul {
    display: none;
    left: 16px;
    overflow: hidden;
    position: relative;
    top: -7px;

    a {
      margin: 0 0 0 5px;

      &:before {
        background-color: $tree-line-color;
        content: '';
        height: 1px;
        left: 0;
        margin-top: 15px;
        position: absolute;
        width: 22px;
      }
    }

    ul a:before {
      left: 4px;
      width: 21px;
    }

    li:first-child {
      margin-top: 8px;
    }

    // The Lines
    &:before {
      background-color: $tree-line-color;
      content: '';
      height: calc(100% - 17px);
      position: absolute;
      width: 1px;      
    }

    &.is-disabled:before {
      opacity: .5;
    }    

    ul:before {
      background-color: $tree-line-color;
      content: '';
      height: calc(100% - 17px);
      left: 4px;
      position: absolute;
      width: 1px;
    }

    li {
      margin-left: 10px;
      margin-top: 2px;
    }

    // Open Tree Nodes
    &.is-open {
      display: block;
    }
  }

  // Icons
  svg {
    height: 20px;
    margin: 0 7px 0 0;
    stroke: $tree-icon-color;
    top: 4px;
    width: 20px;
  }
}
