// Tree Component
//================================================== //

.tree {

  // Tree Items
  a {
    @include font-size(14);
    @include antialiased();
    @include transition(background-color 500ms cubic-bezier(.17, .04, .03, .94),
      opacity 500ms cubic-bezier(.17, .04, .03, .94));

    border: 1px solid transparent;
    border-radius: 2px;
    color: $tree-link-color;
    line-height: 29px;
    padding: 4px 5px;
    text-decoration: none;

    //Text in the tree items
    .tree-text {
      @include transition(border 300ms cubic-bezier(.17, .04, .03, .94), color 300ms cubic-bezier(.17, .04, .03, .94));
      border-bottom: 1px solid transparent;
      color: $tree-link-color;
    }

    // Icons
    svg {
      @include transition(fill 300ms cubic-bezier(.17, .04, .03, .94));
      fill: $tree-icon-color;
      height: 15px;
      margin: 0 9px 0 0;
      top: 2px;
      width: 15px;
    }

    //Ignore Visited Color Change
    &:visited {
      color: $tree-link-color;
    }

    //Focus State
    &:not(.hide-focus):focus {
      border: 1px solid $tree-focus-border-color;
      border-radius: 2px;
      color: $tree-link-color;

      svg {
        fill: $tree-icon-color;
      }
    }

    //Hover State
    &:hover {
      color: $tree-hover-color;

      svg {
        fill: $tree-hover-icon-color;
      }

      .tree-text {
        color: $tree-hover-color;
      }
    }

    //Active State
    &:active {
      background-color: $tree-active-bg-color;
      border: 1px solid transparent;
      border-radius: 5px;

      .tree-text {
        border-bottom-color: transparent;
      }
    }

    //Disable State
    &.is-disabled {
      @include unselectable;
      cursor: default;

      .tree-text {
        color: $tree-disabled-color;
      }

      svg {
        fill: $tree-disabled-color;
      }

      &:hover {
        color: $tree-disabled-color;

        svg {
          fill: $tree-disabled-color;
        }

        .tree-text {
          color: $tree-disabled-color;
        }
      }
    }

    //Loading State
    &.is-loading {
      opacity: .5;
    }
  }

  // List Elements
  li {

    &.folder {
      &.is-open {
        margin-bottom: 0;
      }
    }

    // Selected State
    &.is-selected {
      > a {
        // background-color: $tree-selected-bg-color;
        color: $tree-selected-color;

        svg {
          fill: $tree-selected-color;
        }

        .tree-text {
          border-color: transparent;
          color: $tree-selected-color;
        }
      }
    }
  }

  // Sub Nodes
  ul {
    display: none;
    left: 13px;
    overflow: hidden;
    position: relative;
    top: -7px;

    a {
      margin: 0 0 0 5px;
    }

    ul {
      left: 15px;
    }

    li:first-child {
      margin-top: 8px;
    }

    &.is-disabled::before {
      opacity: .5;
    }

    li {
      margin-left: 10px;
      margin-top: 2px;
    }

    // Open Tree Nodes
    &.is-open {
      display: block;
    }
  }

}

.tree-container {
  position: relative;
  z-index: 1;

  .focused-item-indicator,
  .selected-item-indicator {
    // border-radius: 2px;
    height: 26px;
    position: absolute;
    top: -999999px;
    width: 100%;
    z-index: -1;

    &.focused-item-indicator {
      border: 1px solid $tree-focus-border-color;
    }

    &.selected-item-indicator {
      background-color: $tree-selected-bg-color;
    }
  }
}

// Firefox on Mac only
.is-mac.is-firefox {
  .tree-container {
    .selected-item-indicator {
      margin-top: -2px;
    }
  }
}

//Tree Detail Pattern
.sidebar .tree {
  float: left;
  margin: 20px;
  min-width: 200px;
}

//RTL Tree
html[dir='rtl'] {
  .tree {
    a {
      padding: 10px 6px 5px 8px;
    }

    ul {
      left: auto;
      right: 15px;

      a {
        margin: 0 5px 0 0;
      }

      li {
        margin-left: inherit;
        margin-right: 10px;
      }
    }

    svg {
      margin: 0 0 0 9px;
    }
  }
}
