// Typography
//================================================== */

// Font Variables
$font-regular: Helvetica, Arial;

// Special Fonts for Certain Languages
$cultures-font-family: (
  'ar-EG': ('Helvetica', 'Arial', 'Tahoma', 'DejaVu'),
  'ar-SA': ('Helvetica', 'Arial', 'Tahoma', 'DejaVu', 'Helvetica', 'Arial'),
  'ja-JP': ('Helvetica', 'Arial', 'MS PGothic'),
  'ko-KR': ('Helvetica', 'Arial', 'Batang', 'Gulim'),
  'zh-CN': ('Helvetica', 'Arial', 'Microsoft YaHei New', '微软雅黑', '宋体', 'SimSun', 'STXihei', '华文细黑'),
  'zh-tw': ('Helvetica', 'Arial', 'MingLiU')
);

// Body Sizes and Color
html {
  font-size: 62.5%;

  body {
    background-color: $body-bg-color;
    color: $font-color;
    font-family: $font-regular;
    font-size: 1rem;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  @each $key, $value in $cultures-font-family {
    &[lang='#{$key}'] body {
      font-family: $value;
    }
  }
}

// Text Elements
h1,
h2,
h3,
h4,
label,
p,
small,
span,
ul,
ol {
  @include antialiased();
  font-weight: normal;
  line-height: normal;
}

h1,
h2,
h3,
h4 {
  @include rem(margin-bottom, 1rem);
  color: $font-color-highcontrast;
  font-weight: lighter;

  .extra {
    color: $font-color-lowcontrast;
    font-weight: lighter;
  }
}

h1 {
  @include font-size(28);

  + p {
    margin: 20px 0;
  }
}

h2 {
  @include font-size(24);

  + p {
    margin: 20px 0;
  }
}

h3 {
  @include font-size(20);
}

h4 {
  @include font-size(16);
}

p {
  @include font-size(14);
  color: $font-color;
  line-height: 1.5em;

  + h1,
  + h2,
  + h3,
  + h4 {
    @include rem(margin-top, 2rem);
  }

  + p {
    @include rem(margin-top, 1.5rem);
  }
}

// Add Some Seperation in Kitchen Sink Page
.columns > h1 {
  margin-top: 30px;
}

// Labels
label,
.label {
  @include font-size(12);
  color: $label-color;
  display: block;
  line-height: 13px;
  margin-bottom: 10px;
  min-height: 13px; //prevents need to use &nbsp;
}

.is-disabled.label,
.is-disabled .label,
label.is-disabled,
.is-disabled label {
  color: $label-disabled-color;
}

.data-description {
  @include font-size(14);
  color: $font-color-extrahighcontrast;
  margin-left: 6px;
}

label.side,
.label.side {
  @include font-size(14);
  color: $label-color;
  display: inline-block;
  height: 100%;
  line-height: 1.5;
  min-width: 120px;
}

// App Specific Typography Classes

.widget-title,
.card-title {
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2.2rem);
  @include font-size(16);
  @include ellipsis();
  color: $cardlist-header-color;
  margin-top: 2px;
  max-width: calc(100% - 45px);
}

.list-title {
  @include font-size(16);
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2rem);
  color: $font-color-highcontrast;
}

small,
.micro-text {
  @include font-size(12);
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 1.5rem);
  color: $font-color;
}

.stamp-text,
.alert-text {
  @include font-size(11);
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2rem);
  color: $font-color-lowcontrast;
  font-weight: bold; //Accessible
  text-transform: uppercase;
}

.error-text {
  @include font-size(11);
  color: $alert01;
  font-weight: bold;
}

.warning-text {
  @include font-size(11);
  color: $alert02;
  font-weight: bold;
}

.good-text {
  @include font-size(11);
  color: $alert04;
  font-weight: bold;
}

.info-text {
  @include font-size(11);
  color: $azure07;
  font-weight: bold;
}

.small-thin-text {
  @include font-size(10);
  color: $font-color;
  font-weight: bold;
}

.larger-heavy-text {
  @include font-size(14);
  color: $font-color-highcontrast;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.align-text-left {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.center-text {
  text-align: center;
}

.alert-text {
  color: $alert-red;
  padding-left: 15px;

  &::before {
    background-color: $alert-red;
    border-radius: 50%;
    content: '';
    height: 8px;
    margin-left: -14px;
    margin-top: 4px;
    position: absolute;
    width: 8px;
  }
}

.stamp-text {
  // Used for showing groupings within a line of text.
  // Uses the '#text-arrow' SVG symbol.
  > .text-arrow {
    @include transform(rotate(-90deg));
    fill: $font-color;
    height: .9rem;
    margin: 0 .6rem;

    &.left {
      @include transform(rotate(90deg));
    }
  }

  + .stamp-text {
    margin-top: 0;
  }
}

.small-thin-text {
  + .small-thin-text {
    margin-top: 0;
  }
}

//RTL Styles
html[dir='rtl'] {

  .alert-text {
    padding-left: inherit;
    padding-right: 15px;

    &::before {
      margin-left: inherit;
      margin-right: -14px;
    }
  }

}
