// Typography
//================================================== */

// Font Variables
$font-regular: Helvetica, Arial;

// Special Fonts for Certain Languages
$cultures-font-family: (
  'ar-EG': ('Tahoma', 'DejaVu'),
  'ar-SA': ('Tahoma', 'DejaVu'),
  'ja-JP': ('MS PGothic', 'ＭＳ Ｐゴシック', 'MS Gothic', 'MS Mincho', 'メイリオ'),
  'ko-KR': ('Batang', 'Gulim'),
  'zh-CN': ('SimSun', 'NSimSun', 'SimHei'),
  'zh-tw': ('MingLiU')
);


// Body Sizes and Color
html {
  font-size: 62.5%;

  body {
    background-color: $body-bg-color;
    color: $font-color;
    font-family: $font-regular;
    font-size: 1rem;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  @each $key, $value in $cultures-font-family {
    &[lang='#{$key}'] body {
      font-family: $value, $font-regular;
    }
  }
}

// Text Elements
h1,
h2,
h3,
h4,
label,
p,
small,
span,
ul {
  @include antialiased();
  font-weight: normal;
  line-height: normal;
}

h1,
h2,
h3,
h4 {
  color: $font-color-highcontrast;
  font-weight: lighter;
  @include rem(margin-bottom, 1rem);
}

h1 {
  @include font-size(28);

  + p {
    margin: 20px 0;
  }
}

h2 {
  @include font-size(24);

  + p {
    margin: 20px 0;
  }
}

h3 {
  @include font-size(20);
}

h4 {
  @include font-size(16);
}

p {
  @include font-size(14);
  line-height: 1.5em;

  + h1,
  + h2,
  + h3,
  + h4 {
    @include rem(margin-top, 2rem);
  }
}

// Add Some Seperation in Kitchen Sink Page
.columns > h1 {
  margin-top: 30px;
}

// Labels
label,
.label {
  color: $label-color;
  display: block;
  @include font-size(12);
  margin-bottom: 4px;
}

.data-description {
  @include font-size(14);
  margin-left: 10px;
}

label.side,
.label.side {
  color: $label-color;
  display: inline-block;
  //float: left;
  @include font-size(14);
  height: 100%;
  line-height: 1.5;
  min-width: 120px;
}

// App Specific Typography Classes

.widget-title,
.card-title {
  @include font-size(18);
  color: $font-color-highcontrast;
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2.2rem);
}

.list-title {
  @include font-size(16);
  color: $font-color-highcontrast;
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2rem);
}

small,
.micro-text {
  @include font-size(12);
  color: $font-color;
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 1.5rem);
}

.stamp-text,
.alert-text {
  @include font-size(11);
  color: $font-color-lowcontrast;
  font-weight: bold; //Accessible
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2rem);
  text-transform: uppercase;
}

.alert-text {
  color: $alert-red;
  padding-left: 15px;

  &:before {
    background-color: $alert-red;
    border-radius: 50%;
    content: '';
    height: 8px;
    margin-left: -14px;
    margin-top: 4px;
    position: absolute;
    width: 8px;
  }
}

.stamp-text {
  // Used for showing groupings within a line of text.
  // Uses the '#text-arrow' SVG symbol.
  > .text-arrow {
    fill: $font-color;
    height: .9rem;
    margin: 0 .6rem;
    @include transform(rotate(-90deg));

    &.left {
      @include transform(rotate(90deg));
    }
  }
}

