// Typography
//================================================== */

// Font Variables
$font-regular: Helvetica, Arial;

// Body Sizes and Color
html {
  font-size: 62.5%;
}

body {
  background-color: $body-bg-color;
  color: $font-color;
  font-family: $font-regular;
  font-size: 1rem;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

// Text Elements
h1,
h2,
h3,
h4,
label,
p,
small,
span,
ul {
  font-family: $font-regular;
  -webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
  line-height: normal;
}

h1,
h2,
h3,
h4 {
  color: $font-color-dark;
  @include rem(margin-bottom, 1rem);
}

h1 {
  @include font-size(24);
}

h2 {
  @include font-size(20);
}

h3 {
  @include font-size(18);

}

h4 {
  @include font-size(16);
}

p {
  @include font-size(14);
  line-height: 1.5em;
}

// Add Some Seperation in Kitchen Sink Page
.columns > h1 {
  margin-top: 30px;
}

// Labels
label,
.label {
  color: $label-color;
  display: block;
  @include font-size(12);
  font-family: $font-regular;
  margin-bottom: 4px;
}

// App Specific Typography Classes
.app-title {
  @include font-size(20);
  color: $primary-color-text;
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2.5rem);
}

.widget-title,
.card-title {
  @include font-size(18);
  color: $font-color-extradark;
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2.2rem);
}

.list-title {
  @include font-size(16);
  color: $font-color-extradark;
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2rem);
}

small,
.micro-text {
  @include font-size(12);
  color: #616161; //Accessible
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 1.5rem);
}

.stamp-text,
.alert-text {
  @include font-size(11);
  color: #616161;
  font-weight: bold; //Accessible
  @include rem(margin-bottom, 1rem);
  @include rem(line-height, 2rem);
  text-transform: uppercase;
}

.alert-text {
  color: #ed1c24;
  padding-left: 15px;

  &:before {
    background-color: #ed1c24;
    border-radius: 50%;
    content: '';
    height: 8px;
    margin-left: -14px;
    margin-top: 4px;
    position: absolute;
    width: 8px;
  }
}

// Horizontal Rule
hr {
  border-bottom: 1px solid $hr-bottom-color;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid $hr-top-color;
  height: 2px;
  @include rem(margin-top, 1.25rem);
  @include rem(margin-bottom, 2.25rem);
}
