// User Input - Labels, TextBox, TextArea, Visibility Classes
//================================================== //

.show {
  display: block !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.collapsed {
  visibility: collapse;
}

.invisible {
  visibility: hidden;
}

// Off Screen Text
.sr-only,
.audible {
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Disable transitions
.no-animation {
  @include css3(animation, none !important);

  &::before {
    @include css3(animation, none !important);
  }

  &::after {
    @include css3(animation, none !important);
  }
}

.no-transition {
  @include css3(transition, none !important);

  &::before {
    @include css3(transition, none !important);
  }

  &::after {
    @include css3(transition, none !important);
  }
}

// visibility classes for different form factors
[class*="visible-sm-"] {
  display: none;
}

.visible-sm-block {
  @include respond-to(phone) { display: block; }
}

.visible-sm-inline {
  @include respond-to(phone) { display: inline; }
}

.visible-sm-inline-block {
  @include respond-to(phone) { display: inline-block; }
}

.hidden-sm {
  @include respond-to(phone) { display: none !important; }
}

[class*="visible-md-"] {
  display: none;
}

.visible-md-block {
  @include respond-to(tablet) { display: block; }
}

.visible-md-inline {
  @include respond-to(tablet) { display: inline; }
}

.visible-md-inline-block {
  @include respond-to(tablet) { display: inline-block; }
}

.hidden-md {
  @include respond-to(tablet) { display: none; }
}

[class*="visible-lg-"] {
  display: none;
}

.visible-lg-block {
  @include respond-to(desktop) { display: block; }
}

.visible-lg-inline {
  @include respond-to(desktop) { display: inline; }
}

.visible-lg-inline-block {
  @include respond-to(desktop) { display: inline-block; }
}

.hidden-lg {
  @include respond-to(desktop) { display: none; }
}

[class*="visible-xl-"] {
  display: none;
}

.visible-xl-block {
  @include respond-to(extralarge) { display: block; }
}

.visible-xl-inline {
  @include respond-to(extralarge) { display: inline; }
}

.visible-xl-inline-block {
  @include respond-to(extralarge) { display: inline-block; }
}

.hidden-xl {
  @include respond-to(extralarge) { display: none; }
}

// Print Visibility Clases
[class*="visible-print-"] {
  display: none !important;
}

// Classes
@media print {
  .visible-print-block {
    display: block !important;
  }

  .visible-print-inline {
    display: inline !important;
  }

  .visible-print-inline-block {
    display: inline-block !important;
  }

  .hidden-print {
    display: none !important;
  }
}
