<h1 id="masthead-learn-more">Masthead <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Default Masthead Example <a href="../components/masthead/example-index">View Example</a></li>
</ol>
<h2 id="code-example">Code Example</h2>
<p>The masthead can be added to applications when not running inside mingle to add functionality that mingle would add that you need standalone. When running in mingle, detect and do not show the mast head.</p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;section</span><span class="ot"> class=</span><span class="st">&quot;masthead&quot;</span><span class="ot"> role=</span><span class="st">&quot;banner&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;toolbar no-actions-button&quot;</span><span class="ot"> data-options=</span><span class="st">&quot;{maxVisibleButtons: 6}&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;title&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;button</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="ot"> class=</span><span class="st">&quot;masthead-icon&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;svg</span><span class="ot"> class=</span><span class="st">&quot;icon icon-logo&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="kw">&gt;</span>
          <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-logo&quot;</span><span class="kw">&gt;&lt;/use&gt;</span>
        <span class="kw">&lt;/svg&gt;</span>
         <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="kw">&gt;</span>Go To Home<span class="kw">&lt;/span&gt;</span>
      <span class="kw">&lt;/button&gt;</span>
      <span class="kw">&lt;h1</span><span class="ot"> class=</span><span class="st">&quot;masthead-appname&quot;</span><span class="kw">&gt;</span>Infor Application<span class="kw">&lt;/h1&gt;</span>
    <span class="kw">&lt;/div&gt;</span>

    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;buttonset&quot;</span><span class="kw">&gt;</span>

      <span class="kw">&lt;button</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="ot"> class=</span><span class="st">&quot;btn&quot;</span><span class="ot"> title=</span><span class="st">&quot;Show User&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;svg</span><span class="ot"> class=</span><span class="st">&quot;icon&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="kw">&gt;</span>
          <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-user&quot;</span><span class="kw">&gt;&lt;/use&gt;</span>
        <span class="kw">&lt;/svg&gt;</span>
        <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="kw">&gt;</span>User<span class="kw">&lt;/span&gt;</span>
      <span class="kw">&lt;/button&gt;</span>

      <span class="kw">&lt;button</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="ot"> class=</span><span class="st">&quot;btn&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;svg</span><span class="ot"> class=</span><span class="st">&quot;icon&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="kw">&gt;</span>
          <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-mingle-share&quot;</span><span class="kw">&gt;&lt;/use&gt;</span>
        <span class="kw">&lt;/svg&gt;</span>
        <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="kw">&gt;</span>Share<span class="kw">&lt;/span&gt;</span>
      <span class="kw">&lt;/button&gt;</span>

      <span class="kw">&lt;button</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="ot"> class=</span><span class="st">&quot;btn btn-menu&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;svg</span><span class="ot"> class=</span><span class="st">&quot;icon&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="kw">&gt;</span>
          <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-bookmark-filled&quot;</span><span class="kw">&gt;&lt;/use&gt;</span>
        <span class="kw">&lt;/svg&gt;</span>
        <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="kw">&gt;</span>Bookmark<span class="kw">&lt;/span&gt;</span>
      <span class="kw">&lt;/button&gt;</span>
      <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;popupmenu has-icons&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Option 1<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Option 2<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;/ul&gt;</span>

      <span class="kw">&lt;input</span><span class="ot"> class=</span><span class="st">&quot;searchfield&quot;</span> <span class="kw">/&gt;</span>

      <span class="kw">&lt;button</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="ot"> class=</span><span class="st">&quot;btn&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;svg</span><span class="ot"> class=</span><span class="st">&quot;icon&quot;</span><span class="ot"> focusable=</span><span class="st">&quot;false&quot;</span><span class="ot"> aria-hidden=</span><span class="st">&quot;true&quot;</span><span class="ot"> role=</span><span class="st">&quot;presentation&quot;</span><span class="kw">&gt;</span>
          <span class="kw">&lt;use</span><span class="ot"> xlink:href=</span><span class="st">&quot;#icon-expand-app-tray&quot;</span><span class="kw">&gt;&lt;/use&gt;</span>
        <span class="kw">&lt;/svg&gt;</span>
        <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;audible&quot;</span><span class="kw">&gt;</span>Expand App Tray<span class="kw">&lt;/span&gt;</span>
      <span class="kw">&lt;/button&gt;</span>

    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/section&gt;</span>
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Use the role=&quot;banner&quot; landmark role</li>
<li>Should use html5 section or nav type.</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>The header action buttons should function as a toolbar, see toolbar page for guidelines.</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>Menu will resize vertically, if buttons do not fit will fold into the more menu like a toolbar.</li>
</ul>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Masthead Replaces the inforTopBanner css. The markup and css is entirely different to support new look and behavior.</li>
</ul>
