<style>
  .dark-fill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    height: 120px;
    width: 120px;
  }
  .white-fill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px dotted #000000;
    height: 120px;
    width: 120px;
  }
  .normal-fill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted transparent;
    height: 120px;
    width: 120px;
  }
  svg.icon-logo {
    height: 68px;
    width: 70px;
  }
</style>


<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Icons - Logos</h2>
  </div>
</div>

<div class="row top-padding demo">
  <div class="twelve columns">
    <span class="normal-fill">
      <svg class="icon icon-logo" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-logo"></use>
      </svg>
    </span>&nbsp;
    <span class="normal-fill">
      <svg class="icon icon-logo" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-logo-dark"></use>
      </svg>
    </span>&nbsp;
    <span class="dark-fill">
      <svg class="icon icon-logo" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-logo-white"></use>
      </svg>
    </span>&nbsp;
    <span class="dark-fill">
      <svg class="icon icon-logo" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-logo-white-trademark"></use>
      </svg>
    </span>&nbsp;
  </div>
</div>
