
<div class="row top-padding">
  <div class="twelve columns">
    <h2 class="fieldset-title">Icons - Animated Pseudo-Elements</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <span id="icon-plus-minus" class="icon plus-minus" aria-hidden="true" focusable="false" title="ExpandCollapse">
      <span class="audible">Plus &amp; Minus Icon</span>
    </span>

    &nbsp;&nbsp;

    <span id="icon-app-header" class="icon app-header" aria-hidden="true" focusable="false" title="OpenBackClose">
      <span class="audible">Application Header Icon</span>
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
    </span>

    &nbsp;&nbsp;

    <span id="icon-app-drawer" class="icon app-drawer" aria-hidden="true" focusable="false" title="AppDrawerClose">
      <span class="audible">Ming.le App Drawer Icon</span>
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
      <span class="four"></span>
      <span class="five"></span>
      <span class="six"></span>
      <span class="seven"></span>
      <span class="eight"></span>
      <span class="nine"></span>
    </span>

  </div>
</div>

<script>
$('body').on('initialized', function() {

  $('#icon-plus-minus').click(function() {
    $(this).toggleClass('active');
  });

  $('#icon-app-header').click(function() {
    var mode = $(this).data('mode');
    if (!mode || mode === undefined) {
      mode = 0;
    }
    mode++;

    switch(mode) {
      case 1:
        $(this).removeClass('close').addClass('go-back');
        break;
      case 2:
        $(this).removeClass('go-back').addClass('close');
        break;
      case 3:
        $(this).removeClass('close').removeClass('go-back');
        mode = 0;
        break;
    }

    $(this).data('mode', mode);
  });

  $('#icon-app-drawer').click(function() {
    $(this).toggleClass('active');
  });

  // in the Masthead
  $('#application-switcher').click(function() {
    $(this).children('.app-drawer').toggleClass('active');
  });

});
</script>
