<style>
  svg {
    color: #999999 !important;
  }
</style>
<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Icons - Logos</h2>
  </div>
</div>

<div class="row top-padding demo">
  <div class="twelve columns">
    <svg class="icon icon-logo" focusable="false" aria-hidden="true" role="presentation">
      <use href="#icon-logo"></use>
    </svg><br /><br />
    <svg class="icon icon-sohoxi" focusable="false" aria-hidden="true" role="presentation">
      <use href="#icon-sohoxi"></use>
    </svg>
  </div>
</div>
