
<div class="row top-padding">
  <div class="twelve columns">
    <h2 class="fieldset-title">Icons - Tree</h2>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">

    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-closed-folder"></use>
    </svg>

    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-open-folder"></use>
    </svg>

    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-tree-node"></use>
    </svg>

    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-user-folder-closed"></use>
    </svg>

    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-user-folder-open"></use>
    </svg>

    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-shared-folder-closed"></use>
    </svg>

    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-shared-folder-open"></use>
    </svg>

  </div>
</div>
