<div class="row">
    <div class="two-thirds column">
        <div class="widget">
          <div class="widget-header">
            <h2 class="widget-title">Line Chart: Zero Value</h2>
          </div>
          <div class="widget-content">
            <div id="line-example" class="chart-container">
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <script>
  $('body').on('initialized', function () {
  
      var dataset = [{
        "data":[
          {"name":"test 1","value": 0},
          {"name":"test 2","value": 0},
          {"name":"test 3","value": 0},
          {"name":"test 4","value": 0},
          {"name":"test 5","value": 0}],
        name: 'Component C'
      }];
  
    $('#line-example').chart({
      type: 'line',
      dataset: dataset,
      yAxis: {
        ticks: {
          number: 5,
          format: 's'
        }
      }
    });
  
  });
  </script>
  