<div class="row">
  <div class="six columns">
    <h2>New Expandable Card</h2>
    <br />
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div id="new-expandable-card-example" class="card expandable-card">
      <div class="card-header expandable-card-header">
        <p class="heading">Tuesday, 21st September</p>
        <p class="sub-heading">8:40AM-2:00PM</p>
        <button type="button" class="btn-actions" type="button" id="btn-1">
          <span class="audible">Actions</span>
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use href="#icon-more"></use>
          </svg>
        </button>
        <ul class="popupmenu actions">
          <li><a href="#" id="action-1">Action One</a></li>
          <li><a href="#" id="action-2">Action Two</a></li>
        </ul>
      </div>
      <div class="card-pane">
        <div id="data-list" class="listview tableview">
          <ul class="card-content-list">
            <li class="card-list-item alternate" tabindex="-1">
              <div class="card-list-title-container">
                <p class="micro-text">Coworker</p>
              </div>
              <div class="card-list-title-text-container">
                <button type="button" id="caret-right-icon" class="btn-icon">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-caret-right"></use>
                  </svg>
              </div>
            </li>
            <li class="card-list-item alternate">
              <div class="card-list-title-container">
                <p class="micro-text">Location</p>
              </div>
              <div class="card-list-title-text-container">
                <p class="micro-text">NE Campus</p>
              </div>
            </li>
            <li class="card-list-item alternate">
              <div class="card-list-title-container">
                <p class="micro-text">Job</p>
              </div>
              <div class="card-list-title-text-container">
                <p class="micro-text">Cashier II</p>
              </div>
            </li>
            <li class="card-list-item alternate">
              <div class="card-list-title-container">
                <p class="micro-text">Team</p>
              </div>
              <div class="card-list-title-text-container">
                <p class="micro-text">NE_FLR</p>
              </div>
            </li>
            <li class="card-list-item alternate">
              <div class="card-list-title-container">
                <p class="micro-text">Department</p>
              </div>
              <div class="card-list-title-text-container">
                <p class="micro-text">DEPT A</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#new-expandable-card-example').cards({
    expandableHeader: true,
    verticalButtonAction: true,
    attributes: [{
        name: 'id',
        value: 'card-id-1'
      },
      {
        name: 'data-automation-id',
        value: 'card-automation-id-1'
      }
    ]
  });

</script>

<script>
  $('#data-list').listview({
    selectable: false,
  });

</script>

<style>
  .card-list-title-container {
    width: 50%;
  }

  .card-list-title-text-container {
    text-align: right;
    width: 50%;
  }

  .card-list-title-text-container button svg {
    color: #666666;
    height: 18px;
    vertical-align: middle;
    width: 18px;
  }

  .card-list-title-text-container p {
    color: #606066;
  }

</style>
