
<div class="row">
    <div class="one-third column">
        <h2 class="fieldset-title">Status (Item)</h2>
    </div>
</div>
<div class="row">
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-content">
                <div class="card-content-status success">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-user-status-busy"></use>
                    </svg>
                    Action Item
                </div>
                <div class="card-content-header">Submit 360 Review</div>
                <div class="card-content-sub">Send review by May, 2nd</div>
            </div>
            <div class="card-buttonset">
                <div class="card-content-action">
                    <button class="btn-actions" type="button" id="btn-1" tabindex="-1" data-popupmenu="popupmenu">
                        <span class="audible">Actions</span>
                        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                            <use href="#icon-drag"></use>
                        </svg>
                    </button>
                    <ul class="popupmenu actions top" id="popupmenu" role="menu">
                        <li role="presentation"><a href="#" role="menuitem" id="sales"><span>Action 1</span></a></li> 
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem" id="filter">Action 2</a></li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-content">
                <div class="card-content-status error">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-user-status-busy"></use>
                    </svg>
                    Action Item
                </div>
                <div class="card-content-header">Submit 360 Review</div>
                <div class="card-content-sub">Send review by May, 2nd</div>
            </div>
            <div class="card-buttonset">
                <div class="card-content-action">
                    <button class="btn-actions" type="button" id="btn-1" tabindex="-1" data-popupmenu="popupmenu">
                        <span class="audible">Actions</span>
                        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                            <use href="#icon-drag"></use>
                        </svg>
                    </button>
                    <ul class="popupmenu actions top" id="popupmenu" role="menu">
                        <li role="presentation"><a href="#" role="menuitem" id="sales"><span>Action 1</span></a></li> 
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem" id="filter">Action 2</a></li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-content">
                <div class="card-content-status alert">
                    <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                        <use href="#icon-user-status-busy"></use>
                    </svg>
                    Action Item
                </div>
                <div class="card-content-header">Submit 360 Review</div>
                <div class="card-content-sub">Send review by May, 2nd</div>
            </div>
            <div class="card-buttonset">
                <div class="card-content-action">
                    <button class="btn-actions" type="button" id="btn-1" tabindex="-1" data-popupmenu="popupmenu">
                        <span class="audible">Actions</span>
                        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                            <use href="#icon-drag"></use>
                        </svg>
                    </button>
                    <ul class="popupmenu actions top" id="popupmenu" role="menu">
                        <li role="presentation"><a href="#" role="menuitem" id="sales"><span>Action 1</span></a></li> 
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem" id="filter">Action 2</a></li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="one-third column">
        <h2 class="fieldset-title">Status (Account)</h2>
    </div>
</div>
<div class="row">
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-image">
                <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of John" tabindex="0"/>
            </div>
            <div class="card-content">
                <div class="card-content-header">John Smith <span class="header-status available">(Available)</span></div>
                <div class="card-content-sub">Designer</a></div>
            </div>
        </div>
    </div>
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-image">
                <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of John" tabindex="0"/>
            </div>
            <div class="card-content">
                <div class="card-content-header">John Smith <span class="header-status busy">(Busy)</span></div>
                <div class="card-content-sub">Designer</a></div>
            </div>
        </div>
    </div>
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-image">
                <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of John" tabindex="0"/>
            </div>
            <div class="card-content">
                <div class="card-content-header">John Smith <span class="header-status away">(Away)</span></div>
                <div class="card-content-sub">Designer</a></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="one-third column">
        <h2 class="fieldset-title">Hyperlink</h2>
    </div>
</div>
<div class="row">
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-content">
                <div class="card-content-header">Tuesday, 21st September</div>
                <div class="card-content-sub">Not scheduled. <a class="hyperlink hide-focus" href="#">Join shift?</a></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="one-third column">
        <h2 class="fieldset-title">Photo Card</h2>
    </div>
</div>
<div class="row">
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-image">
                <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of John" tabindex="0"/>
            </div>
            <div class="card-content">
                <div class="card-content-header">John Smith</div>
                <div class="card-content-sub">Designer</a></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="one-third column">
        <h2 class="fieldset-title">Single Action</h2>
    </div>
</div>
<div class="row">
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-image">
                <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of John" tabindex="0"/>
            </div>
            <div class="card-content">
                <div class="card-content-header">John Smith</div>
                <div class="card-content-sub">Designer</a></div>
            </div>
            <div class="card-buttonset">
                <div class="card-content-action">
                    <button class="btn-actions" type="button" id="btn-1" tabindex="-1" data-popupmenu="popupmenu">
                        <span class="audible">Actions</span>
                        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                            <use href="#icon-drag"></use>
                        </svg>
                    </button>
                    <ul class="popupmenu actions top" id="popupmenu" role="menu">
                        <li role="presentation"><a href="#" role="menuitem" id="sales"><span>Action 1</span></a></li> 
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem" id="filter">Action 2</a></li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-image">
                <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of John" tabindex="0"/>
            </div>
            <div class="card-content">
                <div class="card-content-header">John Smith</div>
                <div class="card-content-sub">Designer</a></div>
            </div>
            <div class="card-buttonset">
                <div class="card-content-action">
                    <button class="btn" type="button">
                        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                          <use href="#icon-phone-linear"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="one-third column">
        <div class="card card-variant">
            <div class="card-image">
                <img class="image-round" src="{{basepath}}/images/10.jpg" alt="Photo of John" tabindex="0"/>
            </div>
            <div class="card-content">
                <div class="card-content-header">John Smith</div>
                <div class="card-content-sub">Designer</a></div>
            </div>
            <div class="card-buttonset">
                <div class="card-content-action">
                    <button class="btn" type="button">
                        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                          <use href="#icon-phone-linear"></use>
                        </svg>
                        <span>Call</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.card-variant').on('click', function () {
      alert('Test Click Card.');
    });
</script>
  