
<div class="row">
  <div class="one-half column">
    <div class="card border-less">
      <div class="card-header">
          <h2 class="widget-title">Card</h2>
      </div>
      <div class="card-content" style="padding: 20px">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
  <div class="one-half column">
    <div id="expandable-card" class="card border-less" data-options="{ expandableHeader: true }">
      <div class="card-header">
        <p class="heading">Expandable Card</p>
      </div>
      <div class="card-pane">
        <div id="data-list" class="listview tableview">
          <ul class="card-content-list">
            <li class="card-list-item alternate" tabindex="-1">
              <div class="card-list-title-container">
                <p class="micro-text">Coworker</p>
              </div>
              <div class="card-list-title-text-container">
                <button type="button" id="caret-right-icon" class="btn-icon">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-caret-right"></use>
                  </svg>
              </div>
            </li>
            <li class="card-list-item alternate">
              <div class="card-list-title-container">
                <p class="micro-text">Location</p>
              </div>
              <div class="card-list-title-text-container">
                <p class="micro-text">NE Campus</p>
              </div>
            </li>
            <li class="card-list-item alternate">
              <div class="card-list-title-container">
                <p class="micro-text">Job</p>
              </div>
              <div class="card-list-title-text-container">
                <p class="micro-text">Cashier II</p>
              </div>
            </li>
            <li class="card-list-item alternate">
              <div class="card-list-title-container">
                <p class="micro-text">Team</p>
              </div>
              <div class="card-list-title-text-container">
                <p class="micro-text">NE_FLR</p>
              </div>
            </li>
            <li class="card-list-item alternate">
              <div class="card-list-title-container">
                <p class="micro-text">Department</p>
              </div>
              <div class="card-list-title-text-container">
                <p class="micro-text">DEPT A</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="one-half column">
    <button class="btn card border-less" type="button">Actionable Button Card</button>
  </div>
  <div class="one-half column">
    <a href="#" class="btn card border-less" type="button">Actionable Link Card</a>
  </div>
</div>
