
<div class="row">
  <div class="one-third column" id="container">
    <button class="btn-secondary" id="leakie">Cause a Leak</button>
    <div class="card">
      <div class="card-header">
          <h2 class="widget-title">Card Title</h2>
      </div>
      <div class="card-content">

      </div>
    </div>
  </div>
</div>



<script>
  const cardHTML = `<div class="card">
      <div class="card-header">
          <h2 class="widget-title">Card Title</h2>
      </div>
      <div class="card-content">

      </div>
    </div>`;

  $('#leakie').on('click', () => {
    $('.card').data('cards').destroy();
    $('.card').remove();
    $('#container').append(cardHTML);
    $('.card').cards();
  });
</script>
