
<div class="row">
  <div class="one-half column">
    <div class="card border-less">
      <div class="card-header">
          <h2 class="widget-title">Card</h2>
      </div>
      <div class="card-content" style="padding: 20px">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="card border-less">
      <div class="card-header">
          <h2 class="widget-title">Card</h2>
      </div>
      <div class="card-content" style="padding: 20px">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
  <div class="one-half column">
    <div class="card border-less">
      <div class="card-header">
          <h2 class="widget-title">Card</h2>
      </div>
      <div class="card-content" style="padding: 20px">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="card border-less">
      <div class="card-header">
          <h2 class="widget-title">Card</h2>
      </div>
      <div class="card-content" style="padding: 20px">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
