// Variables
//================================================== //

// Form Background Color
$header-bg-color: $theme-color-brand-primary-alt;
$subhead-bg-color: $azure08;
$transparent: transparent;

$header-border-color: $azure08;
$header-button-color: rgba($white, 0.7);
$header-button-focus-color: rgba($white, 1);
$header-button-hover-color: rgba($white, 1);
$header-button-disabled-color: rgba($white, 0.3);
$header-primary-btn-background-color: $azure05;
$header-primary-btn-background-hover-color: $theme-color-brand-primary-base;
$header-text-color: $white;
$header-disabled-color: $slate05;
$header-focus-box-shadow:  0 0 4px 3px rgba(255, 255, 255, 0.3);

$dropdown-search-bg-color: $graphite01;
$panel-bg-color: $white;
$panel-border-color: $graphite03;
$panel-header-bg-color: $graphite02;
$drop-shadow-depth: rgba(0, 0, 0, 0.2);

$focus-box-shadow-color: rgba(54, 138, 192, 0.3);
$focus-box-shadow-transparent: 0 0 4px 3px transparent; //Should be same size as $focus-box-shadow (only color transparent)
$focus-box-shadow: 0 0 4px 3px $focus-box-shadow-color;  //Old Style:  0 0 5px rgba(8, 150, 233, .2)
$focus-box-shadow-spinbox: 0 -3px 3px 0 $focus-box-shadow-color,
  0 3px 3px 0 $focus-box-shadow-color;

$focus-box-shadow-spinbox-down: 0 -3px 3px 0 $focus-box-shadow-color,
  0 3px 3px 0 $focus-box-shadow-color,
  -3px 0 3px 0 $focus-box-shadow-color;

$focus-box-shadow-spinbox-up: 0 -3px 3px 0 $focus-box-shadow-color,
  0 3px 3px 0 $focus-box-shadow-color,
  3px 0 3px 0 $focus-box-shadow-color;

// Base Colors
$inverse-color: $button-color-primary-initial-font;

// Text Color
// These are Deprecated. Use "Default, Descriptive, Link, Muted, Alert" ect going forward
$font-color-extrahighcontrast: $theme-color-font-base;
$font-color-highcontrast: $theme-color-brand-secondary-contrast;
$font-color: $graphite06;
$font-color-lowcontrast: $theme-color-brand-secondary-alt;
$label-color: $graphite06;
$label-disabled-color: $theme-color-brand-secondary-alt;
$disabled-color: $theme-color-brand-secondary-alt;
$signin-title-color: $graphite07;

// New Text Colors
$font-color-default: $theme-color-font-base;
$font-color-descriptive: $theme-color-font-info;
$font-color-hyperlink: $theme-color-brand-primary-base;
$font-color-muted: $theme-color-font-muted;
$font-color-alert: $theme-color-status-danger;

//The hyperlink Style
$hyperlink-color: $link-color-initial-font;
$hyperlink-focus-border-color: $link-color-initial-font;
$hyperlink-visited-color: $link-color-visited-font;
$hyperlink-disabled-color: $link-color-disabled-font;
$hyperlink-hover-color: $link-color-hover-font;

// Rules
$hr-top-color: $theme-color-brand-secondary-base;
$hr-bottom-color: $white;

// Circle Pager
$circlepager-bg-color: transparent;
$circlepager-border-color: $theme-color-brand-secondary-alt;
$circlepager-hover-bg-color: transparent;
$circlepager-hover-border-color: $theme-color-brand-secondary-contrast;
$circlepager-focus-bg-color: transparent;
$circlepager-focus-border-color: $theme-color-brand-primary-base;

$circlepager-active-bg-color: $theme-color-brand-primary-base;
$circlepager-active-border-color: $theme-color-brand-primary-base;
$circlepager-active-hover-bg-color: $theme-color-brand-primary-base;
$circlepager-active-hover-border-color: $theme-color-brand-primary-base;
$circlepager-active-focus-bg-color: $theme-color-brand-primary-base;
$circlepager-active-focus-border-color: $theme-color-brand-primary-base;

$circlepager-disable-bg-color: transparent;
$circlepager-disable-border-color: $graphite03;
$circlepager-disable-hover-bg-color: transparent;
$circlepager-disable-hover-border-color: $graphite03;
$circlepager-disable-focus-bg-color: transparent;
$circlepager-disable-focus-border-color: $graphite03;

// Popovers
$popover-bg-color: $white;
$popover-border-color: $graphite03;
$popover-arrow-border-color: $graphite03;
$popover-box-shadow: 0 2px 5px $drop-shadow-depth;
$popover-color: $theme-color-font-base;
$popover-separator-color: $graphite03;
$popover-alternate-color: $graphite10;
$popover-alternate-subheader-color: $graphite06;
$popover-alternate-bg-color: $graphite01;
$popover-alternate-arrow-color: $graphite01;
$popover-alternate-title-bg-color: $white;
$popover-alternate-table-header: $graphite01;

// Tooltips
$tooltip-bg-color: $slate08;
$tooltip-border-color: $slate08;
$tooltip-box-shadow: 0 2px 5px $drop-shadow-depth;
$tooltip-color: $white;
$tooltip-error-bg-color: $theme-color-status-danger;
$tooltip-error-border-color:  $theme-color-status-danger;
$tooltip-error-color: $white;

// Badges
$badge-neutral-color: $graphite10;
$badge-neutral-bg-color: $graphite02;
$badge-neutral-hover-bg-color: $graphite03;
$badge-secondary-color: $graphite10;
$badge-secondary-bg-color: $white;
$badge-secondary-border-color: $graphite03;
$badge-error-color: $white;
$badge-alert-color: $graphite10;
$badge-good-color: $white;
$badge-info-color: $white;
$badge-info-bg-color: $azure07;
$badge-neutral-icon-color: $graphite06;
$badge-neutral-hover-icon-color: $graphite10;

// Popup Menu
$popupmenu-color: $font-color-extrahighcontrast;
$popupmenu-icon-color: $graphite06;
$popupmenu-heading-color: $theme-color-brand-secondary-alt;
$popupmenu-bg-color: $button-color-primary-initial-font;
$popupmenu-border-color: $graphite03;
$popupmenu-box-shadow: 0 2px 5px $drop-shadow-depth;
$popupmenu-checked-color: $theme-color-brand-primary-base;
$popupmenu-checked-color-inverse: $theme-color-brand-primary-base;
$popupmenu-hover-color: $graphite02;

// Dark UI Popupmenu
$popupmenu-dark-color: $white;
$popupmenu-dark-icon-color: $slate01;
$popupmenu-dark-heading-color: $slate04;
$popupmenu-dark-bg-color: $slate07;
$popupmenu-dark-border-color: $slate05;
$popupmenu-dark-box-shadow: 0 2px 5px $drop-shadow-depth;
$popupmenu-dark-hover-color: $slate06;

// Tertiary Buttons
$tertiary-btn-ripple-color: #8dc9e6;

// Tertiary Dark Buttons
$tertiary-btn-dark-color: $slate03;
$tertiary-btn-dark-hover-color: $white;
$tertiary-btn-dark-active-color: $white;

// Secondary with Border
$secondary-border-btn-color:  $graphite06;
$secondary-border-btn-border-color: $theme-color-brand-secondary-alt;
$secondary-border-btn-hover-color:  $theme-color-font-base;
$secondary-border-btn-hover-border-color: $graphite10;
$secondary-border-btn-ripple-color: #8dc9e6;

// Menu Button
$menubutton-height: $button-size-height;

// Input Fields
$input-color: $input-color-initial-font;
$input-disabled-color: $input-color-disabled-font;
$input-placeholder-color: $input-color-initial-placeholder;
$input-readonly-color: $input-color-readonly-font;

//States
$error-color: $theme-color-status-danger;
$error-color-transparent: rgba($theme-color-status-danger, 0.3);
$error-focus-box-shadow:  0 0 4px 2px $error-color-transparent;
$alert-color: $theme-color-status-warning;
$confirm-color: $theme-color-status-success;
$info-color: $theme-color-brand-primary-base;
$error-bg-color: rgba($theme-color-status-danger, 0.1);
$error-icon-fill: $theme-color-status-danger;
$dirty-icon-fill: $theme-color-status-caution;
$confirm-icon-fill: $theme-color-status-success;
$info-icon-fill: $alert-info;
$selected-bg-color: rgba($azure01, 0.7);

// Autocomplete / Triggers
$autocomplete-light-text: $graphite05;
$autocomplete-active-bg-color: transparent;
$autocomplete-box-shadow: 0 2px 5px 2px $focus-box-shadow-color;
$autocomplete-box-shadow-flipped: 0 -2px 5px 2px $focus-box-shadow-color;
$trigger-icon-fill-color: $graphite06;
$trigger-icon-fill-light-color: $graphite05;
$trigger-hover-color: $theme-color-font-base;
$trigger-active-color: $theme-color-brand-primary-base;
$trigger-focus-color: $theme-color-brand-primary-base;
$trigger-disabled-color: $theme-color-brand-secondary-alt;

// Dropdown
$dropdown-menu-border-color: $theme-color-brand-primary-base;
$dropdown-menu-separator-color: $graphite04;
$dropdown-menu-separator-border-color: $graphite03;
$dropdown-box-shadow-top: 0 -5px 5px $drop-shadow-depth;

//List View
$listview-bg-color: $button-color-primary-initial-font;
$listview-bg-color-alternate: $graphite01;
$listview-hover-bg-color: $list-color-item-hover-background;
$listview-border-color: $graphite03;
$listview-color: $theme-color-font-base;
$listview-secondary-color: $graphite06;
$listview-tertiary-color: $theme-color-brand-secondary-alt;
$listview-disabled-color: $input-disabled-color;
$listview-selected-text-color: $graphite06;

$listview-header-bg-color: #e4e4e4;
$listview-header-color: $graphite05;
$listview-subhead-color: $theme-color-brand-secondary-alt;

$listview-toolbar-button-text-color: $button-color-tertiary-initial-font;
$listview-toolbar-button-icon-color: $button-color-tertiary-initial-font;
$listview-toolbar-button-text-hover-color: $theme-color-brand-primary-base;
$listview-toolbar-button-icon-hover-color: $theme-color-brand-primary-base;
$listview-toolbar-button-text-selected-color: $theme-color-brand-primary-base;
$listview-toolbar-button-icon-selected-color: $theme-color-brand-primary-base;

$listview-full-width-bg-color: $graphite01;
$listview-full-width-hover-color: $list-color-item-hover-background;
$listview-full-width-border-color: $graphite03;

$listview-search-disabled-color: $input-color-readonly-background;
$listview-search-disabled-opacity: 0.5;
$listview-search-disabled-border-color: $input-color-readonly-background;
$listview-search-disabled-icon-color: $input-color-readonly-background;

// Listbuilder
$listbuilder-bg-color: $panel-bg-color;
$listbuilder-bg-color-hover: $list-color-item-hover-background;
$listbuilder-bg-color-selected: $theme-color-brand-primary-base;
$listbuilder-border-color: $input-color-initial-border;
$listbuilder-border-color-focus: $theme-color-brand-primary-base;
$listbuilder-icon-color-hover: $theme-color-font-base;
$listbuilder-text-color: $theme-color-font-base;
$listbuilder-text-color-selected: $white;
$listbuilder-input-selection-bg-color: $azure08;

// Toolbar
$toolbar-standalone-bg-color: $graphite02;
$toolbar-standalone-border-color: $graphite03;
$toolbar-standalone-disabled-color: $theme-color-brand-secondary-contrast;
$toolbar-separator-color: $graphite03;

// Field Filter
$fieldfilter-border-side-color: transparent;

// Formatter Toolbar
$formatter-toolbar-separator-color: $theme-color-brand-secondary-alt;

//Contextual Toolbar
$contextual-toolbar-bg-color: $theme-color-brand-primary-base;
$contextual-toolbar-color: $button-color-primary-initial-font;
$contextual-toolbar-button-color: rgba($button-color-primary-initial-font, 0.8);
$contextual-toolbar-button-hover-color: rgba($button-color-primary-initial-font, 1);
$contextual-toolbar-button-disabled-color: rgba($button-color-primary-initial-font, 0.3);
$contextual-panel-seperator-bg-color: $theme-color-brand-secondary-alt;

// Swaplist
$swaplist-bg-color: $graphite01;
$swaplist-bg-color-hover: $list-color-item-hover-background;
$swaplist-bg-color-selected: $theme-color-brand-primary-base;
$swaplist-border-color: $graphite06;
$swaplist-border-color-hover: $theme-color-brand-primary-base;
$swaplist-border-color-focus: $theme-color-brand-primary-base;
$swaplist-border-color-card: $graphite03;
$swaplist-icon-color: $graphite06;
$swaplist-icon-color-hover: $theme-color-font-base;
$swaplist-icon-svg-color: $theme-color-font-base;
$swaplist-icon-svg-color-hover: $black;
$swaplist-shadow-color: $black;
$swaplist-title-text-color: $theme-color-font-base;
$swaplist-text-color: $theme-color-font-base;
$swaplist-text-color-selected: $white;

//Date Picker
$datepicker-icon-active-color: $trigger-active-color;
$datepicker-month-year-color: $theme-color-font-base;
$datepicker-alternate-month-color: $theme-color-brand-secondary-base;
$datepicker-day-color: $graphite06;
$datepicker-focus-border-color: $theme-color-brand-primary-base;
$datepicker-selected-bg-color: $theme-color-brand-primary-base;
$datepicker-selected-color: $button-color-primary-initial-font;
$datepicker-today-color: $theme-color-font-base;
$datepicker-hover-bg-color: $graphite01;
$datepicker-disabled-icon-color: $theme-color-brand-secondary-alt;
$datepicker-disabled-border-color: $graphite03;
$datepicker-disabled-bg-color: $graphite01;
$datepicker-disabled-color: $graphite03;
$datepicker-default-width: 150px;

//Time Picker
$timepicker-disabled-icon-color: $theme-color-brand-secondary-alt;
$timepicker-disabled-border-color: $graphite03;
$timepicker-disabled-color: $graphite03;

// Color Picker
$colorpicker-is-empty-bg-color: $white;
$colorpicker-initial-bg-color: $theme-color-brand-secondary-base;
$colorpicker-swatch-border-color: $graphite02;
$colorpicker-checkmark-one-color: $graphite05;
$colorpicker-checkmark-two-color: $white;
$colorpicker-popup-bg-color: $white;
$colorpicker-popup-border-color: $theme-color-brand-secondary-alt;

// Fileupload
$fileupload-primary-color: $theme-color-font-base;
$fileupload-secondary-color: $graphite06;
$fileupload-hover-color: $theme-color-font-base;
$fileupload-completed-color: $emerald08;
$fileupload-completed-border-color: $emerald08;
$fileupload-error-color: $theme-color-status-danger;
$fileupload-error-hover-color: darken($theme-color-status-danger, 15%);
$fileupload-error-border-color: $theme-color-status-warning;
$fileupload-border-color: $graphite05;
$fileupload-droparea-color: $graphite05;
$fileupload-droparea-bg-color: rgba($graphite02, 0.5);
$fileupload-droparea-hover-color: $theme-color-font-base;
$fileupload-droparea-hover-bg-color: $graphite02;
$fileupload-droparea-hover-border-color: $graphite06;
$fileupload-droparea-hover-icon-color: $graphite05;
$fileupload-droparea-dd-hover-color: $graphite05;
$fileupload-droparea-dd-hover-border-color: $theme-color-brand-primary-base;
$fileupload-droparea-dd-hover-bg-color: rgba(200, 233, 244, 0.3);
$fileupload-status-color: $white;
$fileupload-status-hover-color: $white;
$fileupload-cancel-bg-color: $graphite06;
$fileupload-cancel-hover-bg-color: $graphite10;
$fileupload-disabled-icon-color: $theme-color-brand-secondary-alt;
$fileupload-disabled-border-color: $graphite03;
$fileupload-disabled-bg-color: $graphite01;
$fileupload-disabled-color: $graphite03;

//Spinbox
$spinbox-active-color: $font-color-extrahighcontrast;
$spinbox-button-color: transparent;
$spinbox-hover-color: $theme-color-font-base;

//Skip Link
$skip-link-border-color: $graphite03;
$skip-link-bg-color: $white;
$skip-link-color: $theme-color-brand-primary-base;

// Icons
$icon-color: $icon-color-fill;
$icon-empty-bg-color: $icon-color-fill;

//Field Set
$fieldset-border-top-color: $graphite03;
$fieldset-border-bottom-color: $button-color-primary-initial-font;
$fieldset-title-color: $theme-color-font-base;

// Expandable Area
$expandable-area-border-color: $graphite03;
$expandable-area-title-color: $theme-color-font-base;

// Cardlist
$cardlist-bg-color: $button-color-primary-initial-font;
$cardlist-border-color: $graphite03;
$cardlist-header-color: $theme-color-font-base;
$cardlist-actions-color: $theme-color-font-base;
$cardlist-text-color: $font-color;

// Checkboxes
$checkbox-disabled-text-color: $checkbox-color-unchecked-disabled-font;
$checkbox-disabled-checked-bg-color: $checkbox-color-checked-disabled-background;

// Switch
$focus-color: #cbdce6;
$focus-shadow: rgba(0, 0, 0, 0.3);

$switch-checked-hover-color: $theme-color-brand-primary-alt;
$switch-checked-bg-color: $azure03;
$switch-unchecked-bar-color: $theme-color-brand-secondary-alt;
$switch-unchecked-border-color: $graphite03;
$switch-unchecked-bg-color: $white;
$switch-unchecked-color: $font-color;
$switch-unchecked-pressed-bg-color: $white;
$switch-disabled-border-color: $graphite03;
$switch-disabled-bg-color: $graphite02;
$switch-disabled-bar-color: $graphite03;
$switch-disabled-label-color: $theme-color-brand-secondary-alt;
$switch-focus-box-shadow: 0 0 0 3px $focus-color, 0 0 0 4px $theme-color-brand-primary-base, 0 0 4px 6px rgba(54, 138, 192, 0.3);
$switch-hover-box-shadow: 0 2px 5px $focus-shadow;

// Editor
$editor-bg-color: transparent;
$editor-border-color: $input-color-initial-border;
$editor-hover-border-color: $input-color-hover-border;
$editor-focus-border-color: $input-color-focus-border;
$editor-line-number-color: $theme-color-brand-secondary-alt;
$editor-color: $input-color;
$editor-toolbar-bg-color: $graphite02;
$editor-middle-border-color: $theme-color-brand-secondary-alt;
$editor-btn-color: $graphite06;
$editor-btn-hover-color: $theme-color-font-base;
$editor-btn-active-color: $theme-color-brand-primary-base;
$editor-btn-active-box-shadow: 0 0 0 2px transparent, 0 0 0 1px $theme-color-brand-primary-base, $focus-box-shadow;
$editor-top-focus-box-shadow: -2px -2px 3px 0 rgba(54, 138, 192, 0.3);
$editor-blockquote-color: $graphite06;

//Pager
$pager-text-color: $theme-color-brand-primary-base;
$pager-selected-color: $font-color-extrahighcontrast;
$pager-focus-border-color: $input-color-focus-border;
$pager-hover-color: $font-color-extrahighcontrast;
$pager-disabled-color: $graphite02;

//Slider
$slider-bg-color: $theme-color-brand-secondary-alt;
$slider-active-bg-color: $theme-color-brand-primary-base;
$slider-labels-color: $graphite06;
$slider-disabled-color: $graphite02;
$slider-disabled-active-bg-color: $graphite03;
$slider-disabled-labels-color: $theme-color-brand-secondary-alt;
$slider-disabled-handle-color: $graphite03;
$slider-disabled-range-color: $graphite03;
$slider-readonly-color: $graphite05;
$slider-readonly-active-bg-color: $graphite06;
$slider-readonly-labels-color: $graphite06;
$slider-readonly-handle-color: $graphite05;
$slider-readonly-range-color: $theme-color-brand-secondary-alt;
$slider-hover-shadow: 0 2px 5px 0 rgba($black, 0.2);

//Modal
$modal-bg-color: $white;
$modal-border-color: $graphite03;
$modal-box-shadow: 0 2px 5px $drop-shadow-depth;
$modal-btn-color: $graphite06;
$modal-btn-border-color: $graphite03;
$modal-btn-hover-color: $theme-color-font-base;
$modal-btn-primary-color: $theme-color-brand-primary-base;
$modal-btn-primary-hover-color: $azure08;
$modal-btn-primary-disabled-color: $theme-color-brand-primary-alt;
$modal-btn-disabled-color: $graphite06;
$modal-btn-disabled-opacity: 0.5;
$modal-color: $graphite06;
$modal-primary-color: $theme-color-font-base;
$modal-secondary-color: $graphite06;

// Accordion
$accordion-bg-color: $graphite01;
$accordion-border-color: $graphite02;
$accordion-toplevel-border-color: $graphite03;
$accordion-pane-bg-color: $graphite02;
$accordion-icon-color: $graphite06;
$accordion-icon-hover-color: $theme-color-font-base;
$accordion-text-color: $graphite06;
$accordion-text-active-color: $theme-color-font-base;
$accordion-hover-border-color: $graphite10;
$accordion-hover-text-color: $theme-color-font-base;

$accordion-panel-border-color: $graphite02;

$accordion-alternate-bg-color: $white;
$accordion-alternate-border-color: $graphite02;
$accordion-alternate-pane-bg-color: $graphite02;

$accordion-inverse-bg-color: $slate08;
$accordion-inverse-pane-bg-color: $slate09;
$accordion-inverse-border-color: $slate09;
$accordion-inverse-border-hover-color: $white;
$accordion-inverse-text-color: $slate03;
$accordion-inverse-text-hover-color: $white;
$accordion-inverse-focus-state-color: $theme-color-brand-primary-base;

$accordion-focused-border-color: $theme-color-brand-primary-base;
$accordion-focused-text-color: $theme-color-brand-primary-base;
$accordion-selected-bg-color: $theme-color-brand-primary-base;
$accordion-selected-text-color: $white;

$accordion-highcontrast-text-decoration: none;

$accordion-disabled-bg-color: transparent;
$accordion-disabled-border-color: $slate03;
$accordion-disabled-text-color: $theme-color-brand-secondary-alt;
$accordion-disabled-pane-bg-color: transparent;
$accordion-disabled-pane-text-color: $theme-color-brand-secondary-alt;

$accordion-header-filtered-children-background-color: $graphite09;
$accordion-filtered-background-color: transparent;
$accordion-filtered-text-color: $graphite06;

// Application Menu (extends Accoridon)
$application-menu-width: 300px;
$application-menu-border-color: $slate05;
$application-menu-searchfield-icon-color: $slate05;
$application-menu-searchfield-placeholder-color: $slate05;
$application-menu-searchfield-text-color: $slate05;
$application-menu-trigger-icon-fill-color:$trigger-icon-fill-color;

$application-menu-searchfield-icon-active-color: $white;
$application-menu-searchfield-text-active-color: $white;

// Contextual Action Panel
$contextual-panel-bg: $graphite02;
$contextual-panel-color: $graphite06;
$contextual-panel-border-color: $graphite03;
$contextual-panel-searchfield-bg-color: $body-color-primary-background;
$contextual-panel-searchfield-border-color: $graphite03;

//BreadCrumb
$breadcrumb-color: $graphite06;
$breadcrumb-hover-color: $graphite06;
$breadcrumb-disabled-color: $disabled-color;

// Rating (Stars)
$rating-bg-color: $amber06;
$rating-border-color: $slate04;
$rating-hover-color: $theme-color-brand-primary-base;

// Tabs
$tab-text-color: $font-color;
$tab-selected-color: $theme-color-brand-primary-base;
$tab-border-color: $graphite03;
$tab-hover-color: $font-color-extrahighcontrast;

$tab-alt-bg-color: $white;
$tab-alt-border-color: $graphite03;

// Vertical Tabs
$vertical-tab-text-color: $font-color-extrahighcontrast;
$vertical-tab-text-hover-color: $font-color-extrahighcontrast;
$vertical-tab-text-hover-decoration: none;
$vertical-tab-bg-hover-color: $graphite02;
$vertical-tab-focus-border-color: $theme-color-brand-primary-base;
$vertical-tab-active-text-color: $white;
$vertical-tab-active-bg-color: $theme-color-brand-primary-base;

$vertical-tab-panel-bg-color: $panel-bg-color;
$vertical-tab-sidebar-bg-color: $body-color-primary-background;
$vertical-tab-sidebar-border-color: $graphite02;

//Multi-tabs
$mutlitabs-section-border-color: $theme-color-brand-secondary-alt;
$mutlitabs-section-alt-bg-color: $white;
$mutlitabs-section-alt-border-color: $graphite02;

//Charts
$chart-line-color: $graphite02;
$chart-line-color-axis: $theme-color-brand-secondary-alt;
$chart-font-color: $graphite06;
$chart-font-color-inverse: $theme-color-brand-secondary-contrast;
$chart-bar-stroke: $white;
$chart-arc-stroke: $white;

// DataGrid
$datagrid-border-color: $graphite02;
$datagrid-header-color: #fff;
$datagrid-header-bg-color: $slate06;
$datagrid-nested-header-bg-color: $slate05;
$datagrid-nested-header-border-color: $graphite03;
$datagrid-header-border-color: $graphite03;
$datagrid-header-hover-color: $theme-color-brand-secondary-contrast;
$datagrid-header-active-color: $theme-color-brand-secondary-contrast;
$datagrid-header-checkbox-border-color: $graphite03;
$datagrid-sort-icon-color: $theme-color-brand-secondary-alt;
$datagrid-sort-icon-sorted-color: $white;
$datagrid-required-icon-color: $white;

$datagrid-cell-color: $theme-color-font-base;
$datagrid-cell-bg-color: $white;
$datagrid-cell-readonly-bg-color: $graphite01;
$datagrid-cell-readonly-color: $theme-color-font-base;
$datagrid-cell-border-color: $graphite03;
$datagrid-cell-focus-box-shadow: 0 0 4px 1px rgba(54, 138, 192, 0.4);
$datagrid-data-color: $font-color-extrahighcontrast;
$datagrid-row-selected-color: #d8f0f7;
$datagrid-row-selected-color-dark: #d4ebf3;
$datagrid-row-hover-color: $graphite02;
$datagrid-row-icon-color: $graphite06;

$datagrid-alternate-bg-color: $graphite01;
$datagrid-alternate-row-hover-color: $graphite02;
$datagrid-list-header-bg-color: $list-color-item-hover-background;
$datagrid-list-header-focus-border-color: $theme-color-brand-primary-base;
$datagrid-list-header-box-shadow: 0 0 4px 1px rgba(54, 138, 192, 0.4);
$datagrid-list-header-border-color: $graphite03;
$datagrid-list-header-color: $graphite06;
$datagrid-list-header-hover-color: $list-color-item-hover-background;
$datagrid-list-row-hover-color: transparent;
$datagrid-list-sort-icon-color: $theme-color-brand-secondary-base;
$datagrid-list-sort-icon-hover-color: $graphite05;
$datagrid-header-focus-bg-color: $datagrid-header-bg-color;
$datagrid-header-focus-border-color: $white;
$datagrid-list-header-checkbox-border-color: $theme-color-brand-secondary-alt;
$datagrid-list-header-active-color: $theme-color-brand-secondary-base;

$datagrid-filter-border-color: $slate04;
$datagrid-filter-hover-border-color: $slate02;
$datagrid-filter-color: $white;
$datagrid-filter-hover-color: $white;
$datagrid-filter-disabled-color: $slate05;
$datagrid-filter-icon-color: $slate03;
$datagrid-filter-focus-color: $azure04;
$datagrid-filter-active-color: $azure04;

$datagrid-list-filter-border-color: $slate04;
$datagrid-list-filter-hover-border-color: $slate10;
$datagrid-list-filter-color: $slate10;
$datagrid-list-filter-hover-color: $slate10;
$datagrid-list-filter-icon-color: $slate04;
$datagrid-list-filter-disabled-color: $slate03;
$datagrid-list-filter-focus-color: $theme-color-brand-primary-base;
$datagrid-list-filter-active-color: $theme-color-brand-primary-base;

$datagrid-rowgroup-header: $graphite01;
$datagrid-rowgroup-color: $graphite06;
$datagrid-empty-bg-color: #f4f4f4; //$datagrid-cell-bg-color

// Search Results
$sr-masthead-text-color: $font-color;
$sr-result-bottom-border-color: $hr-top-color;
$sr-masthead-item-color: $font-color-lowcontrast;

// Tree
$tree-selected-color: $theme-color-font-base;
$tree-selected-bg-color: $graphite02;
$tree-placeholder-color: $white;
$tree-isover-bg-color: $azure01;
$tree-isover-border-color: $azure04;
$tree-placeholder-bg-color: $theme-color-brand-primary-base;
$tree-focus-border-color: $theme-color-brand-primary-base;
$tree-active-bg-color: #d7e8f2;
$tree-icon-color: $graphite06;
$tree-link-color: $graphite06;
$tree-disabled-color: $theme-color-brand-secondary-alt;
$tree-hover-color: $theme-color-font-base;
$tree-hover-icon-color: $theme-color-font-base;

//Progress
$progress-bg-color: transparent;
$progress-border-color: $theme-color-brand-secondary-alt;
$progress-bar-bg-color: $theme-color-brand-primary-base;

//Chart Progress Bar
$chart-progressbar-bg-color: $theme-color-brand-secondary-base;
$chart-progressbar-bg-color-dark: $theme-color-brand-secondary-alt;
$chart-progressbar-completed-fill: $emerald07;
$chart-progressbar-target-fill: $theme-color-brand-secondary-alt;
$chart-progressbar-primary-fill: $theme-color-brand-primary-base;
$chart-progressbar-dark-fill: $graphite06;
$chart-targeted-achievement-bg-color: $theme-color-brand-secondary-base;

//Timeline
$timeline-indicator-color: $theme-color-brand-secondary-base;
$timeline-indicator-processing-color: $theme-color-brand-primary-base;
$timeline-indicator-complete-color: $theme-color-brand-primary-base;
$timeline-line-color: $theme-color-brand-secondary-alt;
$timeline-header-color: $theme-color-brand-primary-base;

//Wizard
$wizard-default-bg: $body-color-primary-background;
$wizard-bar-bg: $theme-color-brand-secondary-base;
$wizard-color: $graphite06;
$wizard-disabled-color: $theme-color-brand-secondary-alt;
$wizard-active-color: $theme-color-brand-primary-base;
$wizard-active-text-color: $theme-color-brand-primary-base;
$wizard-focus-box-shadow: 0 0 0 1px $theme-color-brand-primary-base;
$wizard-header-color: $white;
$wizard-header-secondary-color: rgba($white, 0.4);
$wizard-header-disabled-color: rgba($white, 0.3);
$wizard-header-text-color: rgba($white, 0.5);
$wizard-header-focus-box-shadow: 0 0 0 1px $white;

//Hierarch
$hierarchy-line-color: $graphite03;

//Searchfield Colors
$searchfield-bg-color: $graphite02;
$searchfield-border-color: $graphite03;
$searchfield-icon-color: $button-color-tertiary-initial-font;
$searchfield-text-color: $button-color-tertiary-initial-font;
$searchfield-lighter-bg-color: $graphite01;
$searchfield-lighter-text-color: $theme-color-brand-secondary-alt;
$searchfield-active-icon-color: $theme-color-brand-primary-alt;

$searchfield-alt-bg-color: $white;
$searchfield-alt-border-color: $graphite01;

$searchfield-context-bg: $graphite01;
$searchfield-context-alt-bg: $white;
$searchfield-context-border-color: $graphite03;
$searchfield-context-box-shadow-color: $graphite03;
$searchfield-context-icon-color: $theme-color-brand-secondary-alt;
$searchfield-context-text-color: $font-color;

$searchfield-card-bg-color: $graphite01;
$searchfield-card-border-color: $graphite02;
$searchfield-card-icon-color: $theme-color-brand-secondary-base;
$searchfield-card-text-color: $font-color;

$searchfield-header-bg-color: $slate08;
$searchfield-header-border-color: $slate09;
$searchfield-header-text-color: $white;
$searchfield-header-placeholder-text-color: $slate03;
$searchfield-header-icon-color: $header-button-color;

$searchfield-moduletabs-bg-color: $slate09;
$searchfield-moduletabs-border-color: $slate10;
$searchfield-moduletabs-disabled-bg-color: $slate07;
$searchfield-moduletabs-disabled-border-color: $slate08;

//Image Border Color
$image-border-color: $graphite02;
$image-background-color: $graphite02;

//Toast
$toast-bg-color: $white;
$toast-border-color: $graphite03;
$toast-header-color: $graphite10;
$toast-text-color: $theme-color-font-base;
$toast-shadow: none; //0 0 5px $drop-shadow-depth;

//Builder Pattern
$builder-header-bg-color: $slate06;

//About
$about-header-color: $theme-color-font-base;
$about-text-color: $theme-color-font-base;
$about-text-border-color: $graphite03;
$about-text-hover-border-color: $graphite07;

// Header Tabs
$header-tabcontainer-border-color: $graphite03;
$header-tab-separator: rgba(255, 255, 255, 0.4);
$header-tab-normal-color: rgba(255, 255, 255, 0.7);
$header-tab-hover-color: $button-color-primary-initial-font;
$header-tab-selected-color: $graphite01;
$header-tab-alt-bg-color: $white;
$header-tab-alt-separator: $header-tabcontainer-border-color;
$header-tab-alt-normal-color: $graphite06;
$header-tab-alt-hover-color: $font-color-highcontrast;
$header-tab-alt-selected-color: $theme-color-brand-primary-base;

// Header Breadcrumb
$header-breadcrumb-color: $white;
$header-breadcrumb-alt-bg-color: $white;
$header-breadcrumb-alt-color: $font-color-highcontrast;
$header-breadcrumb-border-color: $graphite03;

// Module Tabs
$module-tabs-bg-color: $azure08;
$module-tabs-x-border-color: $theme-color-brand-primary-base;
$module-tabs-y-border-color: $azure09;
$module-tabs-inactive-bg-color: $azure08;
$module-tabs-active-bg-color: $theme-color-brand-primary-alt;
$module-tabs-hover-bg-color: $azure10;
$module-tabs-inactive-text-color: rgba($white, 0.85);
$module-tabs-active-text-color: $white;
$module-tabs-hover-text-color: $white;
$module-tabs-disabled-bg-color: $theme-color-brand-primary-base;
$module-tabs-disabled-x-border-color: $azure04;
$module-tabs-disabled-y-border-color: $theme-color-brand-primary-alt;
$module-tabs-disabled-text-color: $azure04;

// Composite Form Tabs
$composite-tabs-text-color: $graphite06;
$composite-tabs-bg-color: $graphite02;
$composite-tabs-border-color: $graphite05;
$composite-tabs-focus-state-color: $theme-color-brand-secondary-alt;
$composite-tabs-panel-bg-color: $white;

// Splitter
$splitter-grip-bg-color: $graphite06;
$splitter-active-bg-color: $graphite02;
$splitter-active-grip-bg-color: $graphite10;
$splitter-box-shadow-color: rgba(54, 138, 192, 0.75);

// Step Chart
$step-chart-bg-color: $graphite02;
$step-chart-border-color: $white;
$step-chart-inprogress-bg-color: $ruby02;
$step-chart-completed-bg-color: $theme-color-brand-primary-base;
$step-chart-totally-completed-bg-color: $theme-color-status-success;

// Block Grid
$blockgrid-selected-bg-color: $selected-bg-color;
$blockgrid-selected-border-color: $button-color-secondary-focus-border;
$blockgrid-hover-color: $listview-hover-bg-color;
$blockgrid-focus-border-color: $theme-color-brand-primary-base;

// Tree Map
$treemap-title-bg-color: $slate06;
$treemap-title-color: #fff;

// Textarea
$textarea-size: 362px;

// Calendar
$calendar-bg-color: $panel-bg-color;
$calendar-line-color: $graphite02;
$calendar-selected-border-color: $theme-color-brand-primary-base;
$calendar-selected-bg-color: $graphite01;
$calendar-hover-bg-color: rgba(240, 240, 240, 0.5);
$calendar-disabled-bg-color: $graphite01;
$calendar-disabled-color: $theme-color-brand-secondary-contrast;

// Breakpoint sizes - Grid
$breakpoint-phone: 320px;
$breakpoint-slim: 400px;
$breakpoint-big-phone: 480px;
$breakpoint-phablet: 610px;
$breakpoint-phone-to-tablet: 767px;
$breakpoint-wide-tablet: 968px;
$breakpoint-tablet-reduced: 1040px;
$breakpoint-tablet-to-desktop: 1280px;
$breakpoint-desktop-to-extralarge: 1600px;

// Field Sizes
$field-xs: $input-size-width-xs;
$field-sm: $input-size-width-sm;
$field-mm: 225px;
$field-md: $input-size-width-md;
$field-lg: $input-size-width-lg;
$field-full: 100%;

//Misc
$cubic-ease: cubic-bezier(0.17, 0.04, 0.03, 0.94);
