
<div class="row">
  <div class="six columns">
    <input type="checkbox" class="checkbox emerald07" name="pto" id="pto" checked="true" />
    <label for="pto" class="checkbox-label">Paid Time Off</label>
    <br />
    <input type="checkbox" class="checkbox amethyst07" name="admin" id="admin" checked="true" />
    <label for="admin" class="checkbox-label">Adminstrative Leave</label>
    <br />
    <input type="checkbox" class="checkbox azure07" name="hcm" id="hcm" checked="true" />
    <label for="hcm" class="checkbox-label">HCM team Event Calendar</label>
    <br />
    <input type="checkbox" class="checkbox amber07" name="sick" id="sick" checked="true" />
    <label for="sick" class="checkbox-label">Sick Time</label>
    <br />
    <input type="checkbox" class="checkbox ruby07" name="company" id="company" checked="true" disabled="true"/>
    <label for="company" class="checkbox-label">Company Holiday</label>
  </div>
</div>
