<div class="row">
  <div class="six columns">
    <h2>Popupmenu Test: Inside Scrollable Area</h2>
    <p>Inside the scrollable area, an open popupmenu should follow the scrolling area on a mobile device, and close on a desktop.</p>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="card scrollable" style="height: 300px;">
      <div style="height: 600px; padding: 20px;">

        <div class="field">
          <button class="btn-menu">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-settings"></use>
            </svg>
            <span>Options</span>
          </button>
          <ul class="popupmenu is-selectable">
            <li class="selected"><a href="#">Option #1</a></li>
            <li><a href="#">Option #2</a></li>
            <li><a href="#">Option #3</a></li>
            <li><a href="#">Option #4</a></li>
            <li><a href="#">Option #5</a></li>
            <li class="separator"></li>
            <li class="selected"><a href="#">Other Option #1</a></li>
            <li><a href="#">Other Option #2</a></li>
            <li><a href="#">Other Option #3</a></li>
            <li><a href="#">Other Option #4</a></li>
            <li><a href="#">Other Option #5</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
