// Pager
//================================================== //

.pager-toolbar {
  @include font-size(14);
  height: 38px;
  margin: 10px;
  max-height: 38px;
  text-align: center;

  > * {
    vertical-align: middle;
  }

  > li {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: auto;

    &:hover {
      > a {
        border-bottom: 1px solid $pager-text-color;

        &[disabled] {
          border-bottom: 1px solid transparent;
        }
      }
    }

    &.is-focused {
      > a {
        border: 1px solid $pager-text-color;
        box-shadow: $focus-box-shadow;

        &[disabled] {
          border: 1px solid transparent;
        }
      }

      &.selected,
      &.selected:hover {
        > a {
          border-bottom: 1px solid $pager-text-color;
        }
      }
    }

    &.pager-prev,
    &.pager-last,
    &.pager-first,
    &.pager-next {
      &:not(.is-focused):hover {
        > a {
          border-bottom: 1px solid transparent;
        }
      }
    }

    &.selected > a {
      color: $pager-selected-color;
      font-weight: bold;
    }

    > a {
      border: 1px solid transparent;
      border-radius: 2px;
      color: $pager-text-color;
      cursor: pointer;
      display: inline-block;
      height: 29px;
      margin: 0 2px;
      outline: none;
      padding: 5px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all .2s ease;

      // Disabled
      &[disabled] {
        box-shadow: none;
        cursor: default;

        .icon {
          fill: $pager-disabled-color;
        }
      }

      .audible {
        color: $graphite10;
      }
    }

  }

  li:not(.selected) a:hover:not([disabled]) svg {
    fill: $pager-hover-color;
  }

  li:not(.selected) a:active:not([disabled]) svg {
    fill: $pager-hover-color;
  }

  &.is-listview {
    .pager-prev,
    .pager-next {
      position: static;
    }

    li + .pager-count {
      margin-top: 2px;
    }

    .pager-pagesize {
      padding: 0;
    }

  }

}

// Buttons
.pager-prev,
.pager-first,
.pager-last,
.pager-next {
  margin: 0;
  padding: 0;

  .icon {
    fill: $font-color;
    height: 17px;
    width: 18px;
  }

  a {
    backface-visibility: hidden;  // Makes the round ripple-effect pressed state work
    border-radius: 20px;
    margin: 0;
    overflow: hidden;  // Makes the round ripple-effect pressed state work
    -moz-transform: translate3d(0, 0, 0);  // Makes the round ripple-effect pressed state work
    -webkit-transform: translate3d(0, 0, 0);  // Makes the round ripple-effect pressed state work
  }

  .ripple-effect {
    background-color: $tertiary-btn-ripple-color;
  }
}

.pager-next,
.pager-last {
  .icon {
    left: 1px;
  }
}

.paginated li {
  @include font-size(14);
}

// Pager for Tables
.pager-count {
  @include font-size(14);
  display: inline-block;
  line-height: normal;
  vertical-align: top;

  > label {
    font-size: inherit !important;
    line-height: inherit !important;
    margin-bottom: 0;
  }

  input {
    @include font-size(14);
    height: 30px;
    margin: 0 5px;
    padding: 3px 0 !important;
    text-align: center;
    width: 30px;
  }

  .pager-total-pages {
    display: inline-block;
    text-align: left;
  }

  + li {
    margin-left: 10px;
  }
}

// Put some space between the "count" section and the navigation buttons
li + .pager-count {
  margin-left: 10px;
}

.pager-pagesize {
  float: right;
  padding: 2px;// Keep 2px padding around for border to show around on focus

  .btn-menu {
    height: 30px;
    margin: -1px;

    &:focus {
      border-color: $primary-color;
      box-shadow: $focus-box-shadow;
    }

    span {
      @include font-size(14);
      font-weight: normal;
      line-height: 30px;
      text-transform: none;
    }

    .icon {
      height: 18px;
      margin-left: -2px;
      margin-right: 2px;
      width: 18px;
    }
  }
}

.ie {
  .pager-count {
    input {
      margin-top: 2px;
      padding-top: 0;
    }
  }
}

// Inside Widgets
.card,
.widget {
  .pager-toolbar {
    margin: 0;
  }

  .pager-prev,
  .pager-next {
    position: absolute;
  }

  .pager-prev {
    left: 15px;
  }

  .pager-next {
    right: 15px;
  }

  &.card .card-footer .pager-toolbar {
    height: 30px;

    > li {
      > a {
        height: 30px;
        margin: 0;
        padding: 5px 7px;
      }

      &.pager-prev,
      &.pager-next {
        > a {
          height: 29px;
          padding: 5px;
        }
      }
    }
  }
}

// Adjacent to Listview (list/detail & builder)
.listview + .pager-toolbar {
  padding-top: 5px;
}

//RTL Styles
html[dir='rtl'] {
  // Pager for Tables
  .pager-count {
    .pager-total-pages {
      text-align: right;
    }

    input {
      text-align: center;
    }
  }
}

@include respond-to(phone) {
  .pager-pagesize {
    display: none !important;
  }
}
