<div class="row">
  <div class="six columns">
    <h2>Toolbar Test: MaxVisibleButtons</h2>
    <p>Related JIRA Ticket: <a class="hyperlink" href="https://jira.infor.com/browse/SOHO-7237" target="_blank">SOHO-7237</a>.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <h3>Toolbars with More Button active:</h3>

    <div id="toolbar-1" class="toolbar" data-options='{ "maxVisibleButtons": 1 }'>
      <div class="title">Has 1 Visible Button</div>
      <div class="buttonset">
        <button id="toolbar-1-button-1" class="btn">Button 1</button>
        <button id="toolbar-1-button-2" class="btn">Button 2</button>
        <button id="toolbar-1-button-3" class="btn">Button 3</button>
        <button id="toolbar-1-button-4" class="btn">Button 4</button>
        <button id="toolbar-1-button-5" class="btn">Button 5</button>
      </div>
    </div>

    <div id="toolbar-2" class="toolbar" data-options='{ "maxVisibleButtons": 2 }'>
      <div class="title">Has 2 Visible Buttons</div>
      <div class="buttonset">
        <button id="toolbar-2-button-1" class="btn">Button 1</button>
        <button id="toolbar-2-button-2" class="btn">Button 2</button>
        <button id="toolbar-2-button-3" class="btn">Button 3</button>
        <button id="toolbar-2-button-4" class="btn">Button 4</button>
        <button id="toolbar-2-button-5" class="btn">Button 5</button>
      </div>
    </div>

    <div id="toolbar-3" class="toolbar" data-options='{ "maxVisibleButtons": 3 }'>
      <div class="title">Has 3 Visible Buttons</div>
      <div class="buttonset">
        <button id="toolbar-3-button-1" class="btn">Button 1</button>
        <button id="toolbar-3-button-2" class="btn">Button 2</button>
        <button id="toolbar-3-button-3" class="btn">Button 3</button>
        <button id="toolbar-3-button-4" class="btn">Button 4</button>
        <button id="toolbar-3-button-5" class="btn">Button 5</button>
      </div>
    </div>

    <div id="toolbar-4" class="toolbar" data-options='{ "maxVisibleButtons": 4 }'>
      <div class="title">Has 4 Visible Buttons</div>
      <div class="buttonset">
        <button id="toolbar-4-button-1" class="btn">Button 1</button>
        <button id="toolbar-4-button-2" class="btn">Button 2</button>
        <button id="toolbar-4-button-3" class="btn">Button 3</button>
        <button id="toolbar-4-button-4" class="btn">Button 4</button>
        <button id="toolbar-4-button-5" class="btn">Button 5</button>
      </div>
    </div>

    <div id="toolbar-5" class="toolbar" data-options='{ "maxVisibleButtons": 5 }'>
      <div class="title">Has 5 Visible Buttons</div>
      <div class="buttonset">
        <button id="toolbar-5-button-1" class="btn">Button 1</button>
        <button id="toolbar-5-button-2" class="btn">Button 2</button>
        <button id="toolbar-5-button-3" class="btn">Button 3</button>
        <button id="toolbar-5-button-4" class="btn">Button 4</button>
        <button id="toolbar-5-button-5" class="btn">Button 5</button>
      </div>
    </div>

  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">

    <h3>Toolbars More Button disabled:</h3>

    <div id="toolbar-6" class="toolbar no-actions-button" data-options='{ "maxVisibleButtons": 1 }'>
      <div class="title">Has 1 Visible Button</div>
      <div class="buttonset">
        <button id="toolbar-6-button-1" class="btn">Button 1</button>
        <button id="toolbar-6-button-2" class="btn">Button 2</button>
        <button id="toolbar-6-button-3" class="btn">Button 3</button>
        <button id="toolbar-6-button-4" class="btn">Button 4</button>
        <button id="toolbar-6-button-5" class="btn">Button 5</button>
      </div>
    </div>

    <div id="toolbar-7" class="toolbar no-actions-button" data-options='{ "maxVisibleButtons": 2 }'>
      <div class="title">Has 2 Visible Buttons</div>
      <div class="buttonset">
        <button id="toolbar-7-button-1" class="btn">Button 1</button>
        <button id="toolbar-7-button-2" class="btn">Button 2</button>
        <button id="toolbar-7-button-3" class="btn">Button 3</button>
        <button id="toolbar-7-button-4" class="btn">Button 4</button>
        <button id="toolbar-7-button-5" class="btn">Button 5</button>
      </div>
    </div>

    <div id="toolbar-8" class="toolbar no-actions-button" data-options='{ "maxVisibleButtons": 3 }'>
      <div class="title">Has 3 Visible Buttons</div>
      <div class="buttonset">
        <button id="toolbar-8-button-1" class="btn">Button 1</button>
        <button id="toolbar-8-button-2" class="btn">Button 2</button>
        <button id="toolbar-8-button-3" class="btn">Button 3</button>
        <button id="toolbar-8-button-4" class="btn">Button 4</button>
        <button id="toolbar-8-button-5" class="btn">Button 5</button>
      </div>
    </div>

    <div id="toolbar-9" class="toolbar no-actions-button" data-options='{ "maxVisibleButtons": 4 }'>
      <div class="title">Has 4 Visible Buttons</div>
      <div class="buttonset">
        <button id="toolbar-9-button-1" class="btn">Button 1</button>
        <button id="toolbar-9-button-2" class="btn">Button 2</button>
        <button id="toolbar-9-button-3" class="btn">Button 3</button>
        <button id="toolbar-9-button-4" class="btn">Button 4</button>
        <button id="toolbar-9-button-5" class="btn">Button 5</button>
      </div>
    </div>

    <div id="toolbar-10" class="toolbar no-actions-button" data-options='{ "maxVisibleButtons": 5 }'>
      <div class="title">Has 5 Visible Buttons</div>
      <div class="buttonset">
        <button id="toolbar-10-button-1" class="btn">Button 1</button>
        <button id="toolbar-10-button-2" class="btn">Button 2</button>
        <button id="toolbar-10-button-3" class="btn">Button 3</button>
        <button id="toolbar-10-button-4" class="btn">Button 4</button>
        <button id="toolbar-10-button-5" class="btn">Button 5</button>
      </div>
    </div>

  </div>
</div>
