  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          rightAligned
        </td>
        <td>
          boolean
        </td>
        <td>
          Will always attempt to right-align the contents of
the toolbar. By default if there is no title it will left align. This forces right alignment.

        </td>
      </tr>
      <tr>
        <td>
          maxVisibleButtons
        </td>
        <td>
          number
        </td>
        <td>
          Total amount of buttons that can be present, not
including the More button.

        </td>
      </tr>
      <tr>
        <td>
          resizeContainers
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, uses Javascript to size the Title and
Buttonset elements in a way that shows as much of the Title area as possible.

        </td>
      </tr>
      <tr>
        <td>
          favorButtonset
        </td>
        <td>
          boolean
        </td>
        <td>
          If "resizeContainers" is true, setting this to
true will try to display as many buttons as possible while resizing the toolbar.
Setting to false attempts to show the entire title instead.

        </td>
      </tr>
      <tr>
        <td>
          moreMenuSettings
        </td>
        <td>
          
        </td>
        <td>
          If defined, provides a toolbar-level method of
defining settings that will be applied to the More Actions button's popupmenu instance.

        </td>
      </tr>
      <tr>
        <td>
          noSearchfieldReinvoke
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, does not manage the lifecycle
of an internal toolbarsearchfield automatically.  Allows an external controller
to do it instead.

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>buildMoreActionsMenuItem</td>
        <td>
          
                
                  <span>item () = the source item from the toolbar.
 </span>
                
          
        </td>
        <td>
          <p>Builds a single "More Actions Menu" item from a source toolbar item.
Also sets up linkage between the menu item and the original toolbar item to
allow events/properties to propagate when the More Actions item is acted upon.</p>

        </td>
        <td>
          a jQuery-wrapped 
<li>
 representing a More Actions menu
implementation of the toolbar item.

        </td>
      </tr>
      <tr>
        <td>refreshMoreActionsMenu</td>
        <td>
          
                
                  <span>menu () = the menu/submenu to be refreshed.
 </span>
                
          
        </td>
        <td>
          <p>Refreshes the More Actions Menu items' text content, icons, states, and submenu content
based on changes made directly to their counterpart elements in the Toolbar.  Can also
optionally refresh only part of the menu.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>getItemText</td>
        <td>
          
                
                  <span>item () = the item being evaluated.
 </span>
                
          
        </td>
        <td>
          <p>Gets the complete text contnts of a Toolbar Item, in order to create its
corresponding "more actions" menu item.</p>
<p>Order of operations for populating the List Item text:
1. span contents (.audible), then
2. button title attribute, then
3. tooltip text (if applicable)</p>

        </td>
        <td>
          the complete text representation.
string
        </td>
      </tr>
      <tr>
        <td>handleTransferToMenuButtonItem</td>
        <td>
          
                
                  <span>e (jQuery.Event) = custom 
<code>show-submenu</code>
 jQuery event
 </span>
                
                  <span>li () = the 
<code>li.submenu</code>
 element.
 </span>
                
          
        </td>
        <td>
          <p>Event Handler for the Soho Popupmenu's custom 'show-submenu' event, specifically for
the case of a menu button that's been spilled over into this Toolbar's More Actions menu.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handleResize</td>
        <td>
          
                
                  <span>containerDims () = an object containing dimensions that can be set
on the Toolbar's title and buttonset elements.
 </span>
                
          
        </td>
        <td>
          <p>Re-renders the toolbar element and adjusts all internal parts to account for the new size.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>navigate</td>
        <td>
          
                
                  <span>direction (number) = can be 
<code>-1</code>
 (previous), 
<code>1</code>
 (next), or 
<code>0</code>
 (remain on current).
 </span>
                
          
        </td>
        <td>
          <p>Changes the "active" button on the toolbar.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>getLastVisibleButton</td>
        <td>
          
        </td>
        <td>
          <p>Gets a reference to the last visible (not overflowed) button inside of the buttonset.</p>

        </td>
        <td>
          the last visible button in the buttonset.

        </td>
      </tr>
      <tr>
        <td>getFirstVisibleButton</td>
        <td>
          
        </td>
        <td>
          <p>Gets a reference to the first visible (not overflowed) button inside of the buttonset.</p>

        </td>
        <td>
          the first visible button in the buttonset.

        </td>
      </tr>
      <tr>
        <td>setActiveButton</td>
        <td>
          
                
                  <span>activeButton () = the preferred target element to make active.
 </span>
                
                  <span>noFocus () = if defined, prevents this method from giving focus
to the new active button.
 </span>
                
          
        </td>
        <td>
          <p>Sets the currently "active" (focused) Toolbar item</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>triggerSelect</td>
        <td>
          
                
                  <span>element () = a jQuery Object containing an
anchor tag, button, or input field.
 </span>
                
          
        </td>
        <td>
          <p>Triggers a "selected" event on the base Toolbar element using a common element as an argument.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>getVisibleButtons</td>
        <td>
          
                
                  <span>buttons (array) = an Array of jQuery-wrapped elements that represents toolbar items.
 </span>
                
          
        </td>
        <td>
          <p>Gets and Iterates through a list of toolbar items and determines which are
currently overflowed, and which are visible.</p>

        </td>
        <td>
          
VisibilitySortedToolbarItems
          visible - An array containing all visible items.
VisibilitySortedToolbarItems.Array
          hidden - An array containing all
hidden (overflowed) items.
VisibilitySortedToolbarItems.Array
        </td>
      </tr>
      <tr>
        <td>adjustMenuItemVisibility</td>
        <td>
          
                
                  <span>items (object) = an object (normally generated by 
<code>_.getVisibleButtons()</code>
)
containing arrays of currently visible and hidden buttons, along with some meta-data.
 </span>
                
          
        </td>
        <td>
          <p>Gets and Iterates through the full list of Toolbar Items and determines which
ones should currently be present in the More Actions menu.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>isItemOverflowed</td>
        <td>
          
                
                  <span>item () = the Toolbar item being tested.
 </span>
                
          
        </td>
        <td>
          <p>Detects whether or not a toolbar item is currently overflowed.  In general,
toolbar items are considered overflow if their right-most edge sits past the
right-most edge of the buttonset border.  There are some edge-cases.</p>

        </td>
        <td>
          whether or not the item belongs in the More Actions menu
boolean
        </td>
      </tr>
      <tr>
        <td>moreButtonIsDisabled</td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          whether or not this toolbar is able to have a More Button
boolean
        </td>
      </tr>
      <tr>
        <td>moreButtonIsVisible</td>
        <td>
          
        </td>
        <td>
          <p>Detection for whether or not More Actions menu is currently visible.  This is
different than the More Actions menu being disabled.  This check determines
whether or not items have spilled over, causing the menu to be shown or hidden.</p>

        </td>
        <td>
          whether or not More Actions menu is currently visible.
boolean
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings () = incoming different settings
 </span>
                
          
        </td>
        <td>
          
        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enables the entire Toolbar component</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disables the entire Toolbar component</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>teardown</td>
        <td>
          
        </td>
        <td>
          <p>Returns the Toolbar's internal markup to its original state.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>teardownMoreActionsMenuItem</td>
        <td>
          
                
                  <span>item () = the existing 
<li>
 from inside the More Actions menu.
 </span>
                
                  <span>doRemove (boolean) = if defined, causes the list item to be removed from
the more actions menu.
 </span>
                
          
        </td>
        <td>
          <p>Tears down a More Actions Menu item.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroys this Toolbar Component instance and completely disassociates it from
its corresponding DOM Element.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
