<div class="row">
  <div class="six columns">

    <h2>Tabs Test: Nested Tabs</h2>

    <p>A <a class="hyperlink" href="http://jira/browse/HFC-3125" target="_blank">bug was reported</a> where a nested Tabs Control was having issues activating one of its tabs due to being hidden.  This test attempts to demonstrate Nested Tabs Controls working correctly.  Clicking a "nested" tab shows a <span style="font-weight: bold; color: #1111aa;">blue</span> ID in the Toast, while clicking a top-level tab shows a <span style="font-weight: bold; color: #aa1111;">red</span> ID.</p>

    <p><em>NOTE:</em>  The nested tabs don't show a Toast when they're activated because the "activate" event is stopped from bubbling once it reaches a ".tab-container" element.</p>

    <p></p>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

  <div id="main-tabs-container" class="tab-container">
    <ul class="tab-list">
      <li><a href="#tab1">Tab #1</a></li>
      <li><a href="#tab2">Tab #2</a></li>
    </ul>
    <div id="tab1" class="tab-panel">
      <h2>Tab #1</h2>
      <p>This is a Main Tab.</p>
    </div>
    <div id="tab2" class="tab-panel">
      <h2>Tab #2</h2>
      <p>This is a Main Tab.  Below is a set of child tabs.</p>

      <div id="nested-tabs-container" class="tab-container">
        <ul class="tab-list">
          <li><a href="#tab3">Tab #3</a></li>
          <li><a href="#tab4">Tab #4</a></li>
        </ul>
        <div id="tab3" class="tab-panel">
          <h3>Tab #3</h3>
          <p>This is a Child Tab</p>
        </div>
        <div id="tab4" class="tab-panel">
          <h3>Tab #4</h3>
          <p>This is a Child Tab</p>
        </div>
      </div>

    </div>
  </div>

  </div>
</div>

<script type="text/javascript">
  $('body').on('initialized', function() {
    function tabActivatedHandler(e, anchor) {
      var a = $(anchor),
        color = $(this).is('#main-tabs-container') ? '#aa1111' : '#1111aa';

      $('body').toast({
        title: 'tab <span style="color: '+ color +'; font-weight: bold;">' + a.attr('href') + '</span> triggered!',
        message: 'Tab with text "'+ a.text().trim() +'" was clicked or triggered!'
      });
    }

    $('#main-tabs-container, #nested-tabs-container').on('activated.test', tabActivatedHandler);
  });
</script>
