
<div class="row">
  <div class="twelve columns">

    <div class="timeline">

      <div class="timeline-block">
        <div class="indicator-container">
          <div class="indicator complete"></div>
        </div>
        <div class="content">
          <div class="heading">PO Created / Unreleased</div>
          <div class="sub-heading">By: Buying Department | Sallie Langie</div>
        </div>
        <div class="date">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-datepicker"></use>
          </svg>
          <span>January 23, 2015</span>
          <span>1:15 pm</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="indicator-container">
          <div class="indicator complete"></div>
        </div>
        <div class="content">
          <div class="heading">PO Released</div>
          <div class="sub-heading">By: Buying Department | Sallie Langie</div>
        </div>
        <div class="date">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-datepicker"></use>
          </svg>
          <span>January 23, 2015</span>
          <span>1:16 pm</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="indicator-container">
          <div class="indicator processing"></div>
        </div>
        <div class="content">
          <div class="heading">PO Accepted</div>
          <div class="sub-heading">By: Buying Department | Sallie Langie</div>
        </div>
        <div class="date">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-datepicker"></use>
          </svg>
          <span>January 23, 2015</span>
          <span>1:17 pm</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="indicator-container">
          <div class="indicator"></div>
        </div>
        <div class="content">
          <div class="heading">3 Items in Progress</div>
        </div>
        <div class="date"></div>
      </div>

      <div class="timeline-block">
        <div class="indicator-container">
          <div class="indicator"></div>
        </div>
        <div class="content">
          <div class="heading">Closed</div>
          <div class="sub-heading">By: Buying Department | Sallie Langie</div>
        </div>
        <div class="date ">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-datepicker"></use>
          </svg>
          <span>January 23, 2015</span>
          <span>ESTIMATED</span>
        </div>
      </div>
    </div>

  </div>
</div>
