//  Flexable Table Layout
//================================================== //

.flex-table-row {
  display: flex;
  justify-content: space-between;

  .flex-table-cell {
    flex-basis: 100%;

    &:first-child {
      flex-basis: 200%;
    }
  }

}
