//  Flexable Scroll Area - Middle is scrollable
//================================================== //

.scrollable-flex {
  // scss-lint:disable ImportantRule
  display: flex !important;
  // scss-lint:disable ImportantRule
  flex-direction: column;

  > * {
    flex-grow: 0;
  }
}

.scrollable-flex-header,
.scrollable-flex-grow,
.scrollable-flex-footer {
  flex-grow: 0;
}

.scrollable-flex-header {
  .breadcrumb {
    background-color: $header-bg-color;
    display: block;
    padding: 1px 20px 0;

    ol {
      padding: 15px 0;;
    }

    .hyperlink {
      color: $header-breadcrumb-color;

      &:active:not([disabled]),
      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        color: $header-breadcrumb-color;
      }

      &:focus:not([disabled]):not(.hide-focus) {
        outline: 1px solid $header-breadcrumb-color;
      }

      &:hover:not([disabled]) {
        border-bottom: 1px solid $header-breadcrumb-color;
      }
    }

    li {
      color: $header-breadcrumb-color;

      &::after {
        color: $header-breadcrumb-color;
      }
    }

    &.alternate {
      background-color: $header-breadcrumb-alt-bg-color;
      border-bottom: 1px solid $header-breadcrumb-alt-color;

      &:hidden {
        border-bottom: 0;
      }

      ol {
        padding: 15px 0;
      }

      .hyperlink {
        color: $header-breadcrumb-alt-color;

        &:active:not([disabled]),
        &:hover:not([disabled]),
        &:focus:not([disabled]) {
          color: $header-breadcrumb-alt-color;
        }

        &:focus:not([disabled]):not(.hide-focus) {
          outline: 1px solid $header-breadcrumb-alt-color;
        }

        &:hover:not([disabled]) {
          border-bottom: 1px solid $header-breadcrumb-alt-color;
        }

      }

      li {
        color: $header-breadcrumb-alt-color;

        &::after {
          color: $header-breadcrumb-alt-color;
        }
      }
    }

  }
}

.scrollable-flex-content,
.scrollable-area,
.scrollable-flex-shrink {
  flex-shrink: 1;
  height: 100%;
  overflow-y: scroll;

  &.has-margins {
    margin: 20px;
  }

  .datagrid-container {
    height: 100%;
  }

  // Support for list-detail-popup-search-no-split-header
  &.listview {
    // scss-lint:disable ImportantRule
    height: 100% !important;
    // scss-lint:enable ImportantRule

    + .pager-toolbar {
      height: 100%;
    }
  }

  .toolbar + .datagrid-container.has-toolbar {
    height: calc(100% - 50px);
  }

}
