//  Summary / Report Style Fields
//================================================== //

.summary-form {

  .field {
    margin-bottom: 2.5rem;
    width: 100%;

    &:last-child {
      margin-bottom: -20px;
    }
  }

  .label {
    @include font-size(12);
    color: $label-color;
    display: block;
    margin: 0;
    max-width: 300px;
    padding-bottom: .5rem;
    vertical-align: top;
  }

  .data {
    @include font-size(14);
    color: $font-color-extrahighcontrast;
    display: block;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  i {
    color: $font-color-extrahighcontrast;
    font-style: normal;
  }
}
