//  Tiles
//================================================== //
.tiles {
  margin: 0;
  max-width: 100%;

  .tile {
    display: inline-block;
    margin: 10px 0 0 10px;    
    vertical-align: top;
    width: 18%;
    
    a:active:not([disabled]),
    a:focus:not([disabled]),
    a:hover:not([disabled]) {
      border-bottom: 0;
      text-decoration: underline;
    }
      
    span {
      display: block;
    }
  }
}

// Media queries
//==================================================//
@include respond-to(phone) {
  .tiles {

    .tile {
      display: block;
      width: 100%;
    }
  }  
}

