<h1 id="splitter-component-learn-more">Splitter Component <a href="#">Learn More</a></h1>
<h2 id="configuration-examples">Configuration Examples</h2>
<ol type="1">
<li>Main <a href="../components/splitter/example-index">View Example</a></li>
<li>Splitter Element in Left Pane <a href="../components/splitter/example-splitter-left">View Example</a></li>
<li>Events <a href="../components/splitter/example-events">View Example</a></li>
</ol>
 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      


  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component element.
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The component settings.
    </td>
  </tr>


  <tr>
    <td>
      settings.axis
    </td>
    <td>
      <span>&#39;x&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      The axis on which to split x or y
    </td>
  </tr>


  <tr>
    <td>
      settings.side
    </td>
    <td>
      <span>&#39;left&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      Which side to dock to 'left' or 'right'.
    </td>
  </tr>


  <tr>
    <td>
      settings.resize
    </td>
    <td>
      <span>&#39;immediate&#39;</span>
    </td>
    <td>
      string
    </td>
    <td>
      When to resize, during the drag 'immediate' or 'end'
    </td>
  </tr>


  <tr>
    <td>
      settings.containment
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      
    </td>
    <td>
      When to stop the splitter, this can be document, or a parent element
    </td>
  </tr>


  <tr>
    <td>
      settings.save
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true the split size will automatically be saved for next time
    </td>
  </tr>


  <tr>
    <td>
      settings.maxWidth
    </td>
    <td>
      <span>{left:&#39;auto&#39;,right:&#39;auto&#39;}</span>
    </td>
    <td>
      object
    </td>
    <td>
      Ability to stop dragging at a max left or right size.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The settings to apply.
 </span>
                
          
        </td>
        <td>
          <p>Resync the UI and Settings.</p>

        </td>
        <td>
          The api
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Destroy and remove added markup, all events</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>split
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>split (number)
        
        = value

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when after the split occurs. Allowing you to sync any ui.
</td>
</tr>

      
        <tr>
  <td>updated
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when the component updates.
</td>
</tr>

      
        <tr>
  <td>keydown
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a key is pressed while the component is focused.
</td>
</tr>

      
      </tbody>
    </table>
  </section>

<h2 id="code-example">Code Example</h2>
<p>The splitter component is integrated into several page patterns that contain side bars. It will not work presently in every situation but new situations can be requested. In this example it is integrated in a two-column fixed layout. Fixed means the page is 100% so all inner content panes are also set to 100%.</p>
<p>We add the class splitter-container which will cause all elements with content on them to be 100% height. Each inner content pane may be scrollable.</p>
<p>A div with the class of splitter will become the split handle.</p>
<pre class="sourceCode html"><code class="sourceCode html">
<span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;page-container two-column fixed splitter-container&quot;</span><span class="kw">&gt;</span>

  <span class="kw">&lt;section</span><span class="ot"> class=</span><span class="st">&quot;main&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;content scrollable&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/section&gt;</span>

  <span class="kw">&lt;nav</span><span class="ot"> class=</span><span class="st">&quot;sidebar scrollable&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;content&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;splitter&quot;</span><span class="kw">&gt;&lt;/div&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/nav&gt;</span>

<span class="kw">&lt;/div&gt;</span>
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>This is a presentation only element</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>This is an open item</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<ul>
<li>Normal</li>
<li>Hover</li>
<li>Dragging</li>
</ul>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<ul>
<li>At smaller breakpoints the vertical splitter will be hidden and the sides will stack at 100%</li>
<li>Horizontal splitter will also be hidden at smaller breakpoints</li>
</ul>
