// Card Deck Pattern
//================================================== //

.card-deck {
  background-color: $body-color-primary-background;
  padding-top: 20px;

  //Remove grid padding on last row
  .row:last-child {
    margin-bottom: 0;
  }
}
