<div class="row">
  <div class="six columns">

    <h2>Searchfield Test: Categories</h2>
    <p><a class="hyperlink" href="http://jira/browse/HFC-3356" target="_blank">Related JIRA Ticket</a>.</p>
    <p></p>

  </div>
</div>

<div class="row">
  <div class="six columns">
    <h2 class="hr-title">Single Select</h2>

    <div class="field">
      <label for="short-category-searchfield">Short Category Searchfield</label>
      <input id="short-category-searchfield" class="searchfield" data-options="{ categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'] }"/>
    </div>

    <div class="field">
      <label for="full-size-category-searchfield">Full-sized Category Searchfield</label>
      <input id="full-size-category-searchfield" class="searchfield" data-options="{ showCategoryText: true, categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'] }" />
    </div>
  </div>
  <div class="six columns">
    <h2 class="hr-title">Multi Select</h2>

    <div class="field">
      <label for="short-category-searchfield">Short Category Searchfield</label>
      <input id="short-category-searchfield" class="searchfield" data-options="{ categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'], categoryMultiselect: true }"/>
    </div>

    <div class="field">
      <label for="full-size-category-searchfield">Full-sized Category Searchfield</label>
      <input id="full-size-category-searchfield" class="searchfield" data-options="{ showCategoryText: true, categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'], categoryMultiselect: true }" />
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">

    <h2 id="category-search-in-toolbar" class="hr-title">Category Searches in Toolbars</h2>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">
        Check out the Search
      </div>
      <div class="buttonset">
        <label class="audible" for="toolbar-searchfield">Keyword Search</label>
        <input id="toolbar-searchfield" name="toolbar-searchfield" class="searchfield" data-options="{ categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'] }"/>

        <button type="button" class="btn">
          <span>Button 1</span>
        </button>

        <button type="button" class="btn">
          <span>Button 2</span>
        </button>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #ffffff; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd; padding: 30px 0;">

  <div class="row">
    <div class="six columns">
      <h2 class="hr-title">Single Select</h2>

      <div class="field">
        <label for="searchfield-context-categories">Context Search + Category</label>
        <input id="searchfield-context-categories" name="searchfield-context-categories" class="searchfield context" data-options= "{clearable: true, categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places']}" placeholder="Search For Things..." />
      </div>

      <div class="field">
        <label for="searchfield-context-categories-full">Context Search + Full-Word Category</label>
        <input id="searchfield-context-categories-full" name="searchfield-context-categories-full" class="searchfield context" data-options= "{clearable: true, categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'], showCategoryText: true}" placeholder="Search For Things..." />
      </div>

    </div>
    <div class="six columns">
      <h2 class="hr-title">Mutli Select</h2>

      <div class="field">
        <label for="searchfield-context-categories">Context Search + Category</label>
        <input id="searchfield-context-categories" name="searchfield-context-categories" class="searchfield context" data-options= "{clearable: true, categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'], categoryMultiselect: true }" placeholder="Search For Things..." />
      </div>

      <div class="field">
        <label for="searchfield-context-categories-full">Context Search + Full-Word Category</label>
        <input id="searchfield-context-categories-full" name="searchfield-context-categories-full" class="searchfield context" data-options= "{clearable: true, categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'], showCategoryText: true, categoryMultiselect: true}" placeholder="Search For Things..." />
      </div>

    </div>
  </div>

</div>
