// Error Page
//================================================== //

.error-page-message {
  max-width: 300px;
  padding: 10px 0 50px;
  text-align: center;

  .error-page-icon {
    padding: 25px 0;
  }

  .error-page-title {
    @include font-size(24);

    color: $error-page-title-color;
    font-weight: 600;
    margin: 0 15px;
    padding-bottom: 20px;
  }

  .error-page-info {
    @include font-size(16);

    margin: 0 15px 20px;
  }
}

.error-page-title,
.error-page-info {
  -webkit-font-smoothing: antialiased;
  font-weight: $theme-number-font-weight-base;
  line-height: normal;
  text-align: center;
}
