<style>
  .test-spacer {
    height: 2000px;
  }
</style>

<section class="module-nav-container">
  <aside id="nav" class="module-nav">
    <div class="module-nav-bar">
      <div class="module-nav-accordion accordion panel" data-options="{'allowOnePane': true}">
        <div class="module-nav-header accordion-section">
          <div class="module-nav-switcher"></div>
        </div>
        <div class="module-nav-main accordion-section">
          <div class="accordion-header is-selected">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-url"></use>
            </svg>
            <a href="#" id="item-one" data-automation-id="module-nav-item-one"><span>Label One</span></a>
          </div>

          <div class="accordion-header">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-url"></use>
            </svg>
            <a href="#" id="item-two" data-automation-id="module-nav-item-two"><span>Label Two</span></a>
          </div>

          <div class="accordion-header">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-url"></use>
            </svg>
            <a href="#" id="item-three" data-automation-id="module-nav-item-three"><span>Label Three</span></a>
          </div>

          <div class="accordion-header">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-url"></use>
            </svg>
            <a href="#" id="item-four" data-automation-id="module-nav-item-four"><span>Label Four</span></a>
          </div>
          <div class="accordion-pane">
            <div class="accordion-header">
              <a href="#"><span>Label</span></a>
            </div>

            <div class="accordion-header">
              <a href="#"><span>Label</span></a>
            </div>

            <div class="accordion-header">
              <a href="#"><span>Label</span></a>
            </div>

            <div class="accordion-header">
              <a href="#"><span>Label</span></a>
            </div>
          </div>

          <div class="accordion-header">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-url"></use>
            </svg>
            <a href="#" id="item-five" data-automation-id="module-nav-item-five"><span>Label Five</span></a>
          </div>
        </div>

        <!-- Footer is still part of Accordion, but renders as a separate section -->
        <div class="module-nav-footer accordion-section">
          <div class="accordion-header is-selected">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-report"></use>
            </svg>
            <a href="#" id="module-nav-item-reports" data-automation-id="module-nav-reports"><span>Reports</span></a>
          </div>

          <div class="accordion-header">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-notification"></use>
            </svg>
            <a href="#" id="module-nav-item-notifications"
              data-automation-id="module-nav-notifications"><span>Notification</span></a>
          </div>
        </div>

        <!-- Settings area is also separate and permanently "pinned" to the bottom -->
        <div class="module-nav-settings accordion-section">
          <div class="accordion-header">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-settings"></use>
            </svg>
            <a href="#" id="module-nav-item-settings" data-automation-id="module-nav-settings"><span>Settings</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="module-nav-detail">&nbsp;</div>
  </aside>
  <div class="page-container scrollable">
    <div class="row top-padding">
      <div class="four columns">&nbsp;</div>
      <div class="four columns">&nbsp;</div>
      <div class="four columns">
        <h2 class="fieldset-title">Module Nav</h2>
        <p>Displays top-level navigation in a flyout menu</p>

        <div class="field">
          <label for="display-mode-dropdown" class="label">Display Mode</label>
          <select id="display-mode-dropdown" class="dropdown">
            <option value="">Hidden</option>
            <option value="collapsed">Collapsed</option>
            <option value="expanded">Expanded</option>
          </select>
        </div>

        <div class="field">
          <input type="checkbox" class="checkbox" name="display-detail-check" id="display-detail-check" />
          <label for="display-detail-check" class="checkbox-label">Display Detail View</label>
        </div>

        <div class="field">
          <input type="checkbox" class="checkbox" name="pin-sections" id="pin-sections" />
          <label for="pin-sections" class="checkbox-label">Pin Sections</label>
        </div>
      </div>
    </div>
    <div class="row test-spacer">&nbsp;</div>
    <div class="row">
      <div class="four columns">&nbsp;</div>
      <div class="four columns">&nbsp;</div>
      <div class="four columns">Scrolling this area shouldn't affect the navigation columns.</div>
    </div>
  </div>
</section>

<script>
  $('body').on('initialized', () => {
    const navAPI = $('#nav').data('modulenav');
    const dropdownAPI = $('#display-mode-dropdown').data('dropdown');
    const displayCheckEl = $('#display-detail-check');
    const pinSectionsCheckEl = $('#pin-sections');

    dropdownAPI.element.on('change.test', (e) => {
      navAPI.updated({ displayMode: dropdownAPI.value });
    });

    displayCheckEl.on('change.test', (e) => {
      navAPI.updated({ showDetailView: displayCheckEl[0].checked });
    });

    pinSectionsCheckEl.on('change.test', (e) => {
      navAPI.updated({ pinSections: pinSectionsCheckEl[0].checked });
    });
  });
</script>
