<style>
  .test-spacer {
    height: 2000px;
  }
</style>

<section class="module-nav-container">
  <aside id="nav" class="module-nav">
    <div class="module-nav-bar">
      <div class="module-nav-item">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-url"></use>
        </svg>
        <span>Label</span>
      </div>
      <div class="module-nav-item">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-url"></use>
        </svg>
        <span>Label</span>
      </div>
      <div class="module-nav-item">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-url"></use>
        </svg>
        <span>Label</span>
      </div>
      <div class="module-nav-item">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-url"></use>
        </svg>
        <span>Label</span>
      </div>
      <div class="module-nav-item">
        <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
          <use href="#icon-url"></use>
        </svg>
        <span>Label</span>
      </div>
    </div>
    <div class="module-nav-detail">&nbsp;</div>
  </aside>
  <div class="page-container scrollable">
    <div class="row top-padding">
      <div class="four columns">&nbsp;</div>
      <div class="four columns">&nbsp;</div>
      <div class="four columns">
        <h2 class="fieldset-title">Module Nav</h2>
        <p>Displays top-level navigation in a flyout menu</p>

        <div class="field">
          <label for="display-mode-dropdown" class="label">Display Mode</label>
          <select id="display-mode-dropdown" class="dropdown">
            <option value="">Hidden</option>
            <option value="collapsed">Collapsed</option>
            <option value="expanded">Expanded</option>
          </select>
        </div>

        <div class="field">
          <input type="checkbox" class="checkbox" name="display-detail-check" id="display-detail-check" />
          <label for="display-detail-check" class="checkbox-label">Display Detail View</label>
        </div>
      </div>
    </div>
    <div class="row test-spacer">&nbsp;</div>
    <div class="row">
      <div class="four columns">&nbsp;</div>
      <div class="four columns">&nbsp;</div>
      <div class="four columns">Scrolling this area shouldn't affect the navigation columns.</div>
    </div>
  </div>
</section>

<script>
  $('body').on('initialized', () => {
    const navAPI = $('#nav').data('modulenav');
    const dropdownAPI = $('#display-mode-dropdown').data('dropdown');
    const checkEl = $('#display-detail-check')

    dropdownAPI.element.on('change.test', (e) => {
      navAPI.updated({ displayMode: dropdownAPI.value });
    });

    checkEl.on('change.test', (e) => {
      navAPI.updated({ showDetailView: checkEl[0].checked });
    });
  });
</script>
