// TimePicker
// ==================================================

.timepicker {
  width: 150px;

  + .icon,
  + .tooltip-description + .icon {
    @include css3(user-select, none);
    cursor: pointer;
    fill: $trigger-icon-fill-color;
    height: 18px;
    margin-left: -32px;
    margin-top: 9px;
    position: absolute;

    &:hover {
      fill: $trigger-hover-color;
    }

    &:active {
      fill: $trigger-active-color;
    }

  }

  ~ .icon-error {
    margin-left: -51px;
    // scss-lint:disable ImportantRule
    right: auto !important;
    // scss-lint:enable ImportantRule
  }

  &.error {
    ~ .icon {
      fill: $error-color;
    }
  }

  &.is-open {
    border-color: $input-focus-border-color;

    + .icon {
      fill: $trigger-active-color;
    }
  }

  + .icon + .icon-error {
    right: 50px;
  }

  + .audible + .icon + .icon-error {
    right: 55px;
  }

  &:disabled {
    border-color: $timepicker-disabled-border-color;

    + .icon {
      cursor: default;
      fill: $timepicker-disabled-icon-color;
    }
  }

  &[readonly] {
    + .icon {
      cursor: default;
      fill: $trigger-icon-fill-color;
    }
  }
}

.ie9 .timepicker + .icon,
.ie10 .timepicker + .icon {
  background-color: rgba($white, 0);
}

// scss-lint:disable IdSelector
#timepicker-period + .dropdown-wrapper {
  .dropdown {
    width: 68px;
  }
}

#timepicker-popup {
  max-width: none;

  > .tooltip-content {
    padding: 0;
  }

  .time-parts {
    padding: 15px;
    text-align: center;
    white-space: nowrap;

    > label {
      width: 72px;
    }

    .colons {
      @include rem(font-size, 1.4rem);
      font-weight: bold;
      min-width: 15px;

      &:empty {
        min-width: 10px;
      }
    }
  }

  .dropdown-wrapper {
    margin-bottom: 0;
  }

  .dropdown {
    width: 60px;

    &[aria-label="[TimePeriod]"] {
      width: 63px;
    }

    + .icon {
      height: 31px;
      right: 6px;
      top: 1px;
    }
  }

  .label {
    display: inline-block;
    padding: 0 2px;
  }

  .modal-buttonset {
    margin: 0;
  }

}
// scss-lint:enable IdSelector

// Short Fields
.field-short {
  .timepicker {
    padding-right: 18px;

    + .icon,
    + .tooltip-description + .icon {
      height: 14px;
      margin-left: -24px;
      margin-top: 6px;
    }

    ~ .icon-error {
      margin-left: -40px;
    }

  }
}

//RTL Styles
html[dir='rtl'] {
  .timepicker {
    + .icon,
    + .tooltip-description + .icon {
      margin-left: inherit;
      margin-right: -32px;
    }

    + .icon + .icon-error {
      right: auto;
    }

    + .audible + .icon + .icon-error {
      margin-right: -48px;
      right: auto;
    }
  }

  .timepicker-popup {
    .dropdown {
      + .icon {
        left: 10px;
        right: auto;
      }
    }
  }

  // Short Fields
  .field-short {
    .timepicker {
      padding-left: 18px;
      padding-right: 2px;

      + .icon,
      + .tooltip-description + .icon {
        margin-left: inherit;
        margin-right: -22px;
      }

      ~ .icon-error {
        margin-left: inherit;
        // scss-lint:disable ImportantRule
        margin-right: -38px !important;
        // scss-lint:enable ImportantRule
      }
    }
  }
}
