// Application Menu Control
//================================================== //

.application-menu {
  @include css3(transform, translateZ(0));
  @include transition(left 300ms cubic-bezier(.17, .04, .03, .94),
    box-shadow 300ms cubic-bezier(.17, .04, .03, .94));  background-color: $slate08;

  border-right: 1px solid $application-menu-border-color;
  bottom: 0;
  color: $white;
  height: 100%;
  left: -$application-menu-width;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: $application-menu-width;
  z-index: 500;

  &.is-open {
    left: 0;
  }

  .audible {
    color: $white !important;
  }

  &.show-shadow.is-open {
    @include css3(box-shadow, 0 0 20px 1px rgba(0, 0, 0, .75));
  }

  // Add animation to the page container when Nav is in use
  + .page-container {
    right: 0;
    @include transition(height 300ms cubic-bezier(.17, .04, .03, .94),
      margin 300ms cubic-bezier(.17, .04, .03, .94),
      width 300ms cubic-bezier(.17, .04, .03, .94));
  }

  .searchfield + .accoridon,
  .searchfield-wrapper + .accordion {
    min-height: calc(100% - 34px);
  }

  .accordion {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    margin-bottom: calc(-2rem - 38px);
    margin-left: 1px;
    min-height: 100%;
    width: calc(100% - 1px);

    &::after {
      clear: both;
      content: '';
      display: table;
    }

    .panel {
      padding-left: 49px;

      > * {
        vertical-align: middle;
      }

      &.logout {
        .icon.avatar {
          border-radius: 24px;
          height: 48px;
          width: 48px;
        }

        .content {
          @include font-size(14);
          padding-left: 1em;

          > * {
            display: block;
            line-height: 1.5em;
          }

          > .name {
            @include font-size(20);
            line-height: 2em;
          }
        }

        span {
          display: inline-block;
        }
      }
    }
  }

  .searchfield-wrapper {
    background-color: $accordion-inverse-pane-bg-color;
    margin-bottom: 0;
    width: 100%;

    .icon {
      @include transition(fill 300ms cubic-bezier(.17, .04, .03, .94));

      &:not(.close) {
        left: 18px;
      }
    }

    &.has-go-button {
      .icon {
        &.close {
          right: 45px;
        }
      }
    }

    &.is-hovered {
      .searchfield {
        border-left-color: transparent;
      }

      .searchfield-category-button {
        border-color: transparent;
      }

      .icon {
        fill: $application-menu-searchfield-icon-color;
      }
    }

    &.active,
    &.is-hovered.active {
      .searchfield,
      .searchfield-category-button {
        border-color: transparent;
        color: $application-menu-searchfield-text-active-color;
      }

      .icon {
        fill: $application-menu-searchfield-icon-active-color;

        &.close {
          display: inline-block;
        }
      }
    }

    &.has-categories.show-category {
      .searchfield {
        border-left-color: $application-menu-border-color;
      }

      &.is-hovered {
        .searchfield {
          border-left-color: $application-menu-border-color;
        }
      }
    }

  }

  .searchfield,
  .searchfield-category-button {
    @include transition(
      color 300ms cubic-bezier(.17, .04, .03, .94),
      background-color 300ms cubic-bezier(.17, .04, .03, .94)
    );
    background-color: transparent;
    border-color: transparent;
  }

  .go-button {
    margin: 0;
  }

  .searchfield {
    color: $application-menu-searchfield-text-color;
    padding-left: 53px;
    width: auto;

    &::placeholder {
      color: $application-menu-searchfield-placeholder-color;
    }

    &::-webkit-input-placeholder {
      color: $application-menu-searchfield-placeholder-color;
    }

    &::-moz-placeholder {
      color: $application-menu-searchfield-placeholder-color;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $application-menu-searchfield-placeholder-color;
    }
  }

  .accordion-static-panel {
    background-color: $slate07;
    border-bottom-color: $slate09 !important;
    margin: 0 auto;
    min-height: 85px;
    padding: 10px 30px;

    .icon.avatar {
      border-radius: 20px;
      height: 40px;
      top: 18px;
      width: 40px;
    }

    .name {
      @include font-size(18);
      padding: 10px;
      position: relative;
      top: -3px;
    }

    .btn-menu {
      left: 43px;
      margin-top: -5px;

      span {
        color: inherit;
        display: inline-block;
        max-width: 168px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .accordion-content {
    h1,
    h2,
    h3,
    h4,
    p {
      color: $slate01;
    }
  }

  .accordion::after,
  .branding {
    height: calc(2rem + 38px);
  }

  .branding {
    padding: 1rem 0 0 1rem;

    .icon {
      height: 34px;
      margin-top: 1px;
      width: 34px;
    }
  }
}

// Right-to-Left Styles
html[dir='rtl'] {

  .application-menu {

    @include transition(right 300ms cubic-bezier(.17, .04, .03, .94),
      box-shadow 300ms cubic-bezier(.17, .04, .03, .94));  background-color: $slate08;
    border-left: 1px solid $application-menu-border-color;
    border-right: 0;
    left: initial;
    right: -$application-menu-width;

    &.is-open {
      left: initial;
      right: 0;
    }

    .searchfield-wrapper {
      .icon {
        &:not(.close) {
          left: auto;
          right: 18px;
        }

        &.close {
          left: 45px;
          right: auto;
        }
      }
    }

    .searchfield {
      padding-left: 34px;
      padding-right: 53px;
    }

    .accordion {
      margin-left: 0;
      margin-right: 1px;
    }

    .branding {
      padding: 1rem 1rem 0 0;
    }

    + .page-container {
      left: 0;
      right: initial;
    }

    .btn-menu {
      left: inherit;
      right: 43px;
    }

  }

}

// On large + extra-large breakpoints, the .page-content element will shift to the left while the menu is open
@media (min-width: $breakpoint-phone-to-tablet) {
  .application-menu {

    + .page-container {
      margin: 0 0 0 auto;
      width: 100%;
      //Effects menu calculation
      //@include css3(transform, translateZ(0));
      @include css3(transform, none);
    }

    &.is-open {
      @include css3(box-shadow, none);

      + .page-container {
        width: calc(100% - 300px);

        &.scrollable {
          right: 0;
        }
      }
    }
  }

  html[dir='rtl'] {
    .application-menu.is-open + .page-container.scrollable {
      right: initial;
    }
  }

}

@include respond-to(phabletdown) {
  .application-menu {
    &.no-transition.is-open {
      display: none !important;

      + .page-container {
        @include css3(transform, translateZ(0));
        margin: 0 0 0 auto;
        width: 100% !important;
      }
    }
  }
}
