<div class="row">
  <div class="twelve columns">
    <h1 class="fieldset-title">Locale - Adding a custom locale</h1>

    <div id="output" class="card">
      <div class="row top-padding">
      </div>
    </div>
  </div>
</div>

<script>
  $('body').on('initialized', function() {
    var output = $('#output');
    var append = function (value) {
      output.append('<div class="row"><div class="twelve columns">' + value + '</div></div>');
    };

    // Shows in the passed in url locale
    append(Locale.translate('AboutText') + '<br>');
    append(Locale.translate('SomeTextThatDoesntExist') + '<br>');

    // Add a new locale not in the setup ones
    Soho.Locale.defaultLocales.push({ lang: 'la', default: 'la-IT' });
    Soho.Locale.supportedLocales.push('la-IT');

    Soho.Locale.set('la-lT').done(function () {
      append(Locale.translate('AboutText') + '<br>');
      append(Locale.translate('SomeTextThatDoesntExist') + '<br>');
    });
  });
</script>
