<style>
  .output {
    background-color: white;
    display: block;
    height: 80%;
    line-height: 15px;
    width: 100%;
  }
</style>

<div class="row">
  <div class="twelve columns">
    <h1 class="fieldset-title">Locale - Number Groupsize</h1>

    <div id="output" class="output">
    </div>

    <script>
      $('body').on('initialized', function() {
        var output = $('#output');
        var append = function (value) {
          output.append('<span>' + value + '</span><br>');
        };

        Locale.getLocale('nl-NL').done(function () {
          append('nl-NL');
          append(Locale.formatNumber(123456789.1234, { locale: 'en-US' }));
          append(Locale.formatNumber(123456789.1234, { locale: 'nl-NL' }));
        });

        Locale.getLocale('it-IT').done(function () {
          append('it-IT');
          append(Locale.parseNumber('1.123', { locale: 'nl-NL' }));
          append(Locale.parseNumber('$123456.789,12', { locale: 'nl-NL' }));
        });

        Locale.getLocale('es-ES').done(function () {
          append('es-ES');
          append(Locale.parseDate('2019-01-01', 'yyyy-MM-dd'));
          append(Locale.parseDate('2019-01-01', { dateFormat: 'yyyy-MM-dd', locale: 'es-ES' } ));
          append(Locale.parseDate('20/10/2019 20:12', { date: 'datetime', locale: 'es-ES' }));
          append(Locale.parseDate('Noviembre de 2019', { date: 'year', locale: 'es-ES' }));
        });
      });
    </script>
  </div>
</div>
