<style>
  .output {
    background-color: white;
    display: block;
    height: 80%;
    line-height: 15px;
    width: 100%;
  }
</style>

<div class="row">
  <div class="twelve columns">
    <h1 class="fieldset-title">Locale - Number Groupsize</h1>

    <div id="output" class="output">
    </div>

    <script>
      $('body').on('initialized', function() {
        var output = $('#output');
        var append = function (value) {
          output.append('<span>' + value + '</span><br>');
        };

        append(Locale.formatNumber(-2.53, { style: 'percent', minimumFractionDigits: 2 }));
        append(Locale.formatNumber(1.1234));
        append(Locale.formatNumber(12.1234));
        append(Locale.formatNumber(123.1234));
        append(Locale.formatNumber(1234.1234));
        append(Locale.formatNumber(12345.1234));
        append(Locale.formatNumber(123456.1234));
        append(Locale.formatNumber(1234567.1234));
        append(Locale.formatNumber(12345678.1234));
        append(Locale.formatNumber(123456789.1234));
        append(Locale.formatNumber(1234567890.1234));
        append(Locale.formatNumber(123456789.1234, { style: 'currency' }));
        append(Locale.formatNumber(100, { style: 'percent' }));

        // No Group
        append(Locale.formatNumber(1234567890.1234, { group: '' }));
        append(Locale.formatNumber(1234567890.1234, { groupSizes: [0, 0] }));
      });
    </script>
  </div>
</div>
