 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The plugin element for the constuctor
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      string
    </td>
    <td>
      The settings element.
    </td>
  </tr>


  <tr>
    <td>
      settings.dataset
    </td>
    <td>
      
    </td>
    <td>
      array
    </td>
    <td>
      The data to use in the sparklines.
    </td>
  </tr>


  <tr>
    <td>
      settings.colors
    </td>
    <td>
      <span>[&#39;#1D5F8A&#39;,&#39;#999999&#39;,&#39;#bdbdbd&#39;,&#39;#d8d8d8&#39;]</span>
    </td>
    <td>
      array
    </td>
    <td>
      An array of color sequences in hex format fx #1D5F8A,
defaulting to the correct standard colors.
    </td>
  </tr>


  <tr>
    <td>
      settings.isDots
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      Shows dots on the data points.
    </td>
  </tr>


  <tr>
    <td>
      settings.isPeakDot
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      Highlights the top value as peak with a special dot.
    </td>
  </tr>


  <tr>
    <td>
      settings.isMinMax
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      Shows a continuous shading to highlight the min and max values.
    </td>
  </tr>


  <tr>
    <td>
      settings.isMedianRange
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      Adds a median range display.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The new settings object
 </span>
                
          
        </td>
        <td>
          <p>Handle updated settings and values.</p>

        </td>
        <td>
          The api for chaining.
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown - Remove added markup and events.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  
  </section>
  
