<div class="row">
  <div class="six columns">

    <h2>Tooltip Test: Keep Open Setting</h2>
    <p></p>

  </div>
</div>

<div class="row">
  <div class="six columns">

    <p>
      The hyperlink at the end of this sentence has a tooltip built <a id="test-link" class="hyperlink" href="#">in</a>.
    </p>

  </div>
</div>

<script type="text/javascript">
  $('body').on('initialized', function() {
    $('#test-link').tooltip({
      content: 'This Tooltip should stay open when you move the mouse away...',
      keepOpen: true
    });
  });
</script>
