<h1 id="arrange-learn-more">Arrange <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Default Arrange Example <a href="../components/arrange/example-index">View Example</a></li>
</ol>
  <section>
  
    



  
    



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (Object) = The settings to apply.
 </span>
                
          
        </td>
        <td>
          <p>Resync the UI and Settings.</p>

        </td>
        <td>
          The api
Object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown process for this plugin</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  
  
  </section>

  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>beforearrange
  </td>
  <td>
  
    
      <div>
        <span>event (Object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>status (Object)
        
        = Status for this item

        </span>
        
      </div>
    
  
  </td>
  <td>Fires before moving an element allowing you to access the ui to customize the draggable item.
</td>
</tr>

      
        <tr>
  <td>arrangeupdate
  </td>
  <td>
  
    
      <div>
        <span>event (Object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>status (Object)
        
        = Status for this item

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after moving an element allowing you do any follow up updating.
</td>
</tr>

      
      </tbody>
    </table>
  </section>

<h2 id="code-example">Code Example</h2>
<p>The arrange util is an internally used plugin thats used on components like the swaplist and datagrid row reorder. It is included and documented as it could be reused in certain situations.</p>
<pre class="sourceCode html"><code class="sourceCode html">
  element.arrange({
      placeholder: &#39;<span class="kw">&lt;tr</span><span class="ot"> class=</span><span class="st">&quot;datagrid-reorder-placeholder&quot;</span><span class="kw">&gt;&lt;td</span><span class="ot"> colspan=</span><span class="st">&quot;&#39;+ this.visibleColumns().length +&#39;&quot;</span><span class="kw">&gt;&lt;/td&gt;&lt;/tr&gt;</span>&#39;,
      handle: &#39;.reorder-icon&#39;
    })
    .on(&#39;beforearrange.datagrid&#39;, function(e, status) {
      if (self.isSafari) {
        status.start.css({&#39;display&#39;: &#39;inline-block&#39;});
      }
    })
    .on(&#39;arrangeupdate.datagrid&#39;, function(e, status) {
      if (self.isSafari) {
        status.end.css({&#39;display&#39;: &#39;&#39;});
      }
      // Move the elem in the data set
      self.settings.dataset.splice(status.endIndex, 0, self.settings.dataset.splice(status.startIndex, 1)[0]);
      // Fire an event
      self.element.trigger(&#39;rowreorder&#39;, [status]);
    });
</code></pre>
<h2 id="accessibility">Accessibility</h2>
<ul>
<li>Not implemented. This is not the most accessible functionality. Ideally you would provide a alternate method for doing the action. For example for the grid we would add an &quot;order&quot; column where the user can edit the order by typing not just dragging.</li>
</ul>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li>Not implemented.</li>
</ul>
