<div class="overlay busy"></div>
<div class="busy-indicator-container blocked-ui" aria-live="polite" role="status">
  <div class="busy-indicator active">
    <div class="bar one"></div>
    <div class="bar two"></div>
    <div class="bar three"></div>
    <div class="bar four"></div>
    <div class="bar five"></div>
  </div>
  <span>Loading...</span>
</div>

<div id="maincontent" class="page-container scrollable" role="main">
  <div class="homepage" data-columns="3">
    <div class="content">

      <div class="widget double-height">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x2 (Dom Order 1)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 2)</h2>
        </div>
      </div>

      <div class="widget double-width">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 2x1 (Dom Order 3)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 4)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 5)</h2>
        </div>
      </div>

      <div class="widget double-height">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x2 (Dom Order 6)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 7)</h2>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $('body').on('initialized', function() {});
</script>
