<div class="row">
  <div class="six columns">
    <h2>Busy Indicator Test: AJAX Calls</h2>
    <p><a class="hyperlink" href="" target="_blank">Related JIRA Ticket</a>.</p>
    <p>Fields that make AJAX calls to get data should display a busy indicator when their call is started, and should hide that indicator when the call is complete.</p>
    <p>All the fields on this page are hooked up to AJAX calls that are explicitly delayed by 4000ms.  After 4000ms they will return their results as normal.  This demonstrates a simulated latency that would cause these fields to become "busy".</p>
  </div>
</div>

<div class="row top-padding">
  <div class="six columns">

    <div class="field">
      <label for="autocomplete-busy">Autocomplete</label>
      <input type="text" autocomplete="off" class='autocomplete busy' data-options='{blockUI: false, displayDelay: 0, source: "{{basepath}}api/states?delay=4000&amp;term="}' placeholder="Type to Search" id="autocomplete-busy">
    </div>

  </div>
  <div class="six columns">

    <div class="field">
      <label for="searchfield-busy">Searchfield</label>
      <input type="text" autocomplete="off" class='searchfield busy' data-options='{displayDelay: 0, source: "{{basepath}}api/states?delay=4000&amp;term="}' placeholder="Type to Search" id="searchfield-busy">
    </div>

  </div>
</div>

<div class="row">
  <div class="six columns">

    <div class="field">
      <label for="dropdown-busy">Dropdown</label>
      <select id="dropdown-busy" name="dropdown-busy" class="dropdown busy" data-options="{displayDelay: 0}"></select>
    </div>

  </div>
  <div class="six columns">

    <div class="field">
      <label for="multiselect-busy">Multiselect</label>
      <select multiple id="multiselect-busy" name="multiselect-busy" class="multiselect busy" data-options="{displayDelay: 0}"></select>
    </div>

  </div>
</div>

<div class="row">
  <div class="six columns">

    <div class="field">
      <label for="lookup-busy" class="label">Lookup</label>
      <input id="lookup-busy" class="lookup busy" name="lookup-busy" type="text">
    </div>

  </div>
</div>

<script type="text/javascript">
  $('body').on('initialized', function() {

    function genericSource(response, term) {
      $.getJSON('{{basepath}}api/states?delay=4000', function(data, term) {
        console.log(data, term);
        response(data);
      });
    }

    function getSelector(e) {
      var id = e.target.id ? '#' + e.target.id : undefined,
        tag = e.target.tagName.toLowerCase(),
        className = e.target.className ? '.' + e.target.className.split(' ').join('.') : undefined;

      return tag + (id || '') + (className || '');
    }

    function genericStartHandler(e) {
      console.log('busy indicator started on element "' + getSelector(e) + '".');
    }

    function genericCompleteHandler(e) {
      console.log('busy indicator completed on element "' + getSelector(e) + '".');
    }

    // Setup Dropdown's AJAX Call
    var dropdown = $('#dropdown-busy').dropdown({
      source: genericSource
    });
    var multiselect = $('#multiselect-busy').multiselect({
      source: genericSource
    });

    dropdown.add(multiselect).busyindicator({
      delay: 0
    })
    .on('start.test', genericStartHandler)
    .on('complete.test', genericCompleteHandler);

    // Setup Lookup's AJAX Call
    $('#lookup-busy').lookup({
        field: 'productId',
        beforeShow: function (api, response) {
          var url = '{{basepath}}api/lookupInfo?delay=4000';

          $.getJSON(url, function(data) {
            api.settings.options.columns = data[0].columns;
            api.settings.options.dataset = data[0].dataset;
            response();
          });
        },
        options: {
          selectable: 'single', //multiple or single
          toolbar: {title: 'Products', results: true, collapsibleFilter: false, dateFilter: false ,keywordFilter: true, advancedFilter: true, actions: true, views: true , rowHeight: true}
        }
    });
  });
</script>
