<div class="row">
  <div class="six columns">

    <h2>Dropdown Test: Validation</h2>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label class="label required" for="validated-dd">Validated Dropdown</label>
      <select id="validated-dd" data-validate="required" class="dropdown">
        <option id="-1" value=""></option>
        <option id="1" value="1">One</option>
        <option id="2" value="2">Two</option>
        <option id="3" value="3">Three</option>
        <option id="4" value="4">Four</option>
      </select>
    </div>

  </div>
</div>
