<h1 id="dropdown-learn-more">Dropdown <a href="#">Learn More</a></h1>
<h2 id="configuration-options">Configuration Options</h2>
<ol type="1">
<li>Default Dropdown Example <a href="../components/dropdown/example-index">View Example</a></li>
<li>Clearable Dropdown <a href="../components/dropdown/example-clearable.html">View Example</a></li>
<li>Updating the Contents <a href="../components/dropdown/example-updating.html">View Example</a></li>
<li>Ajax Contents on Open <a href="../components/dropdown/example-ajax.html">View Example</a></li>
<li>Section / Groups <a href="../components/dropdown/example-groups.html">View Example</a></li>
<li>Disable Search <a href="../components/dropdown/example-no-search.html">View Example</a></li>
<li>States <a href="../components/dropdown/example-states.htm">View Example</a></li>
<li>Validation <a href="../components/dropdown/example-validation.html">View Example</a></li>
<li>Widths <a href="../components/dropdown/example-widths.html">View Example</a></li>
<li>Data Attributes <a href="../components/dropdown/example-with-data-attribute.html">View Example</a></li>
<li>Icons <a href="../components/dropdown/example-icons.html">View Example</a></li>
</ol>
  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          closeOnSelect
        </td>
        <td>
          boolean
        </td>
        <td>
          When an option is selected, the list will close if set to
"true".  List stays open if "false".

        </td>
      </tr>
      <tr>
        <td>
          cssClass
        </td>
        <td>
          string
        </td>
        <td>
          Append an optional css class to dropdown-list

        </td>
      </tr>
      <tr>
        <td>
          filterMode
        </td>
        <td>
          string
        </td>
        <td>
          Search mode to use between 'startsWith' and 'contains', false
will not allow client side filter

        </td>
      </tr>
      <tr>
        <td>
          noSearch
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, disables the ability of the user to enter text in the
Search Input field in the open combo box

        </td>
      </tr>
      <tr>
        <td>
          showEmptyGroupHeaders
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, displays 
<optgroup>
 headers in the list even
if no selectable options are present underneath.

        </td>
      </tr>
      <tr>
        <td>
          source
        </td>
        <td>
          boolean
        </td>
        <td>
          A function that can do an ajax call.

        </td>
      </tr>
      <tr>
        <td>
          sourceArguments
        </td>
        <td>
          boolean
        </td>
        <td>
          If a source method is defined, this flexible object can be
passed into the source method, and augmented with parameters specific to the implementation.

        </td>
      </tr>
      <tr>
        <td>
          sourceArguments
        </td>
        <td>
          boolean
        </td>
        <td>
          If a source method is defined, this flexible object can be
passed into the source method, and augmented with parameters specific to the implementation.

        </td>
      </tr>
      <tr>
        <td>
          reloadSourceOnOpen
        </td>
        <td>
          boolean
        </td>
        <td>
          If set to true, will always perform an ajax call whenever
the list is opened.  If false, the first AJAX call's results are cached.

        </td>
      </tr>
      <tr>
        <td>
          empty
        </td>
        <td>
          boolean
        </td>
        <td>
          Initialize Empty Value

        </td>
      </tr>
      <tr>
        <td>
          delay
        </td>
        <td>
          boolean
        </td>
        <td>
          Typing Buffer Delay in ms

        </td>
      </tr>
      <tr>
        <td>
          maxWidth
        </td>
        <td>
          number
        </td>
        <td>
          If set the width of the dropdown is limited to this pixel width. Fx
300 for the 300 px size fields. Default is size of the largest data.

        </td>
      </tr>
    </tbody>
  </table>



  
    



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>activate</td>
        <td>
          
                
                  <span>useSearchInput () =  </span>
                
          
        </td>
        <td>
          <p>Focus the input Element</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>selectValue</td>
        <td>
          
                
                  <span>value () =  </span>
                
                  <span>option (value) = A string containing the value to look for. (Case insensitive)
 </span>
                
          
        </td>
        <td>
          <p>Select an option by the value.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>getDataAttributes</td>
        <td>
          
                
                  <span>attr (array) = List of all attributes.
 </span>
                
                  <span>attrToExclude (array) = List of attributes to be excluded from passed list.
 </span>
                
          
        </td>
        <td>
          <p>Get data attributes from passed list of attributes</p>

        </td>
        <td>
          It will return an object containing two keys
str - string of attributes
obj - object of attributes
object
        </td>
      </tr>
      <tr>
        <td>setCode</td>
        <td>
          
                
                  <span>code (string) = The value to match and set on the value element.
 </span>
                
          
        </td>
        <td>
          <p>External Facing function to set value by code - Depricated set on select and trigger updated.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disable the input element.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isDisabled</td>
        <td>
          
        </td>
        <td>
          <p>Returns true if the dropdown is disabled.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enable the input element.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>readonly</td>
        <td>
          
        </td>
        <td>
          <p>Make the input element readonly.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Tear down events and restore to default.</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  
  
  
  
  </section>

  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>listopened
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>ui (object)
        
        = The dialog object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires as the dropdown list is opened.
</td>
</tr>

      
        <tr>
  <td>listclosed
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>ui (object)
        
        = The dialog object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires as the dropdown list is closed
</td>
</tr>

      
        <tr>
  <td>change
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after the value in the input is changed by any means.
</td>
</tr>

      
        <tr>
  <td>input
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after the value in the input is changed by user interaction.
</td>
</tr>

      
      </tbody>
    </table>
  </section>

<h2 id="behavior-guidelines">Behavior Guidelines</h2>
<ul>
<li>To distinguish between single and multi-select situations, use checkboxes in multi-select lists.</li>
<li>The field height is not dynamic; do not expand the height of the field to display multiple selections. See the live example for how multiple selections are handled in the field display and the list display.</li>
</ul>
<h2 id="code-example">Code Example</h2>
<p>The basic drop down works similar to a standard Html select element, because of styling and functionality requirements we use a stylized shadow widget which implements the drop down behavior and updates in sync with a hidden select element. This allows the select element to be serialized with the DOM like normal. The simplest way to use the drop down is to create markup containing: a field (for field and responsive form alignment), a label and a select. For accessibility and implementation reasons the label is required.<br />
Create a select element with similar markup:</p>
<p>The control is initialized through the page initializer $(‘body’).initialize(‘en-US’); or manually with <code>$('.dropdown').dropdown();</code></p>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb1-1" data-line-number="1"></a>
<a class="sourceLine" id="cb1-2" data-line-number="2"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;field&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-3" data-line-number="3">  <span class="kw">&lt;label</span><span class="ot"> for=</span><span class="st">&quot;states&quot;</span><span class="ot"> class=</span><span class="st">&quot;label&quot;</span><span class="kw">&gt;</span>States<span class="kw">&lt;/label&gt;</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">  <span class="kw">&lt;select</span><span class="ot"> id=</span><span class="st">&quot;states&quot;</span><span class="ot"> name=</span><span class="st">&quot;states&quot;</span><span class="ot"> class=</span><span class="st">&quot;dropdown&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">    <span class="kw">&lt;option</span><span class="ot"> value=</span><span class="st">&quot;AL&quot;</span><span class="kw">&gt;</span>Alabama<span class="kw">&lt;/option&gt;</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6">    <span class="kw">&lt;option</span><span class="ot"> value=</span><span class="st">&quot;CA&quot;</span><span class="kw">&gt;</span>California<span class="kw">&lt;/option&gt;</span></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">    <span class="kw">&lt;option</span><span class="ot"> value=</span><span class="st">&quot;DE&quot;</span><span class="kw">&gt;</span>Delaware<span class="kw">&lt;/option&gt;</span></a>
<a class="sourceLine" id="cb1-8" data-line-number="8">    <span class="kw">&lt;option</span><span class="ot"> value=</span><span class="st">&quot;NY&quot;</span><span class="kw">&gt;</span>New York<span class="kw">&lt;/option&gt;</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">    <span class="kw">&lt;option</span><span class="ot"> value=</span><span class="st">&quot;WY&quot;</span><span class="kw">&gt;</span>Wyoming<span class="kw">&lt;/option&gt;</span></a>
<a class="sourceLine" id="cb1-10" data-line-number="10">  <span class="kw">&lt;/select&gt;</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11"><span class="kw">&lt;/div&gt;</span></a>
<a class="sourceLine" id="cb1-12" data-line-number="12"></a></code></pre></div>
<h2 id="accessibility">Accessibility</h2>
<p>The Dropdown list is fairly complex to make accessible. But generally this can be accomplished in three steps:</p>
<ol type="1">
<li>Make sure the above keyboard shortcuts are used</li>
<li>Make sure that there is a label which matches both the input and any shadow element inputs, and identifies the field and is correctly matched using the label for the input id</li>
<li>Use the following aria tags:
<ul>
<li>role=“combobox” - must be set on the input</li>
<li>aria-expanded - set to true when the list is expanded, set to false when closed</li>
<li>role=“listbox” on the open list</li>
<li>role=“option” on each list item</li>
<li>aria-activedescendant - associates the input to the active list item. Must be removed if no options are selected.</li>
<li>aria-controls on the input field, containing the ID of the matching Dropdown list.</li>
</ul></li>
</ol>
<h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
<ul>
<li><strong>Tab</strong> and <strong>Shift-Tab</strong> moves focus into and out of the Dropdown. If the list is open, tab will close the list selection the current item and tab to the next focusable element.</li>
<li><strong>Alt Down Arrow</strong> or <strong>Down Arrow</strong> opens the dropdown list and moves focus to the selected option. If nothing is selected, then focus moves to the first option in the list. If the combobox is not editable, then the space bar may also be used to open the Dropdown list (future).</li>
<li><strong>Up and Down Arrow</strong> moves focus up and down the list. As focus moves inside the Dropdown list, the edit field is updated.</li>
<li><strong>Enter</strong> selects the current item on the list, updates the edit field, highlights the selected item in the dropdown list, closes the Dropdown list and returns focus to the input field.</li>
<li><strong>Escape key</strong> closes the Dropdown list, returns focus to the edit field, and does not change the current selection.</li>
<li><strong>Typing a letter (printable character) key</strong> opens the list and filters to the items that start with that printable letter.</li>
</ul>
<h2 id="states-and-variations">States and Variations</h2>
<p>The Dropdown input field uses the same states as the Text Input field, while the list values use the same states as those in the context menu. The trigger icon supports the following states:</p>
<ul>
<li>Normal</li>
<li>Focus</li>
<li>Hover</li>
<li>Active</li>
</ul>
<p>When a Dropdown field is read-only or disabled, the trigger icon is not shown.</p>
<h2 id="responsive-guidelines">Responsive Guidelines</h2>
<p>The Dropdown container (the input element) should size to the parent container and the label should remain on the top.</p>
<h2 id="upgrading-from-3.x">Upgrading from 3.X</h2>
<ul>
<li>Include the svg icons in the page</li>
<li>Change the markup on the select to use class=“dropdown”</li>
<li>Ensure the select is attached to a label with class=“label” via the label’s for to select’s id</li>
<li>Ensure the select and input are wrapped in a div with class=“field”</li>
<li>You can remove any calls to .dropdown() or .inforDropDown() as it will now auto initialize to default options</li>
</ul>
