 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      


  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      the base element
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      object
    </td>
    <td>
      incoming settings
    </td>
  </tr>


  <tr>
    <td>
      settings.autocorrectOnBlur
    </td>
    <td>
      <span>false</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true the input will adjust to the nearest step on blur.
    </td>
  </tr>


  <tr>
    <td>
      settings.min
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      
    </td>
    <td>
      if defined, provides a minimum numeric limit
    </td>
  </tr>


  <tr>
    <td>
      settings.max
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      
    </td>
    <td>
      if defined, provides a maximum numeric limit
    </td>
  </tr>


  <tr>
    <td>
      settings.step
    </td>
    <td>
      <span>null</span>
    </td>
    <td>
      
    </td>
    <td>
      if defined, increases or decreases the spinbox value
 by a specific interval whenever the control buttons are used.
    </td>
  </tr>


  <tr>
    <td>
      settings.validateOnInput
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If set to false, will only automatically correct
 the spinbox value after the spinbox has lost focus.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>increaseValue</td>
        <td>
          
        </td>
        <td>
          <p>Increases the value of the Spinbox field, constrained by the step interval and maximum limit.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>decreaseValue</td>
        <td>
          
        </td>
        <td>
          <p>Decreases the value of the Spinbox field, constrained by the step interval and minimum limit.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>updateVal</td>
        <td>
          
                
                  <span>newVal () = the value to set on the spinbox
 </span>
                
          
        </td>
        <td>
          <p>Sets a new spinbox value and focuses the spinbox.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enables the Spinbox</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disables the Spinbox</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>isDisabled</td>
        <td>
          
        </td>
        <td>
          <p>Determines whether or not the spinbox is disabled.</p>

        </td>
        <td>
          whether or not the spinbox is disabled.
boolean
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = incoming settings
 </span>
                
          
        </td>
        <td>
          <p>Updated</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>focus
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when the input gains focus.
</td>
</tr>

      
        <tr>
  <td>blur
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when the input looses focus.
</td>
</tr>

      
        <tr>
  <td>keydown
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a key is pressed down.
</td>
</tr>

      
        <tr>
  <td>keypress
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a key is pressed.
</td>
</tr>

      
        <tr>
  <td>keyup
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a key is pressed up.
</td>
</tr>

      
        <tr>
  <td>afterpaste
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires after input is pasted in.
</td>
</tr>

      
      </tbody>
    </table>
  </section>
