<div class="row">
  <div class="full column">

    <div class="palette-column">
      <span class="palette-label">Ruby</span>
      <div class="palette-color ruby01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby06">
        <span class="light-color">
          <span class="palette-number">6</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color ruby10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Amber</span>
      <div class="palette-color amber01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber07">
        <span class="dark-color">
          <span class="palette-number">7</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber08">
        <span class="dark-color">
          <span class="palette-number">8</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber09">
        <span class="dark-color">
          <span class="palette-number">9</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amber10">
        <span class="dark-color">
          <span class="palette-number">10</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Emerald</span>
      <div class="palette-color emerald01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald07">
        <span class="dark-color">
          <span class="palette-number">7</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald08">
        <span class="dark-color">
          <span class="palette-number">8</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color emerald10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Azure</span>
      <div class="palette-color azure01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color azure10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Turquoise</span>
      <div class="palette-color turquoise01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise07">
        <span class="dark-color">
          <span class="palette-number">7</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color turquoise10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Amethyst</span>
      <div class="palette-color amethyst01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst05">
        <span class="dark-color">
          <span class="palette-number">5</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst06">
        <span class="dark-color">
          <span class="palette-number">6</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color amethyst10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Slate</span>
      <div class="palette-color slate01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate05">
        <span class="light-color">
          <span class="palette-number">5</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate06">
        <span class="light-color">
          <span class="palette-number">6</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color slate10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Graphite</span>
      <div class="palette-color graphite01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite05">
        <span class="light-color">
          <span class="palette-number">5</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite06">
        <span class="light-color">
          <span class="palette-number">6</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite07">
        <span class="light-color">
          <span class="palette-number">7</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite08">
        <span class="light-color">
          <span class="palette-number">8</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite09">
        <span class="light-color">
          <span class="palette-number">9</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color graphite10">
        <span class="light-color">
          <span class="palette-number">10</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Alert</span>
      <div class="palette-color alert01">
        <span class="dark-color">
          <span class="palette-number">1</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color alert02">
        <span class="dark-color">
          <span class="palette-number">2</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color alert03">
        <span class="dark-color">
          <span class="palette-number">3</span>
          <span class="palette-hex"></span>
        </span>
      </div>
      <div class="palette-color alert04">
        <span class="dark-color">
          <span class="palette-number">4</span>
          <span class="palette-hex"></span>
        </span>
      </div>
    </div>

    <div class="palette-column">
      <span class="palette-label">Text Alert</span>
      <div class="palette-color">
        <p class="error-text">Error</p>
      </div>
      <div class="palette-color">
        <p class="warning-text">Warning</p>
      </div>
      <div class="palette-color">
        <p class="info-text">Info</p>
      </div>
      <div class="palette-color">
        <p class="good-text">Good</p>
      </div>
    </div>

  </div>
</div>

<script>
  const paletteColor = document.querySelectorAll('.palette-color');

  function valueToHex(v) {
    const hex = v.toString(16);
    return hex.length === 1 ?  0 + hex : hex;
  }

  function rgbToHex(r,g,b) {
    return '#' + valueToHex(parseInt(r)) + valueToHex(parseInt(g)) + valueToHex(parseInt(b));
  }

  Array.prototype.forEach.call(paletteColor, function(color) {
    const paletteHex = color.querySelector('.palette-hex');
    const bgColor = window.getComputedStyle(color, null).getPropertyValue("background-color");
    const rgbValues = bgColor.match(/\d+/g);

    if (paletteHex !== null) {
      paletteHex.innerHTML = rgbToHex(rgbValues[0], rgbValues[1], rgbValues[2]);
    }
  })
</script>
