<div class="page-container no-scroll">
  <header class="header is-sticky">
    <div class="toolbar">
      <div class="title">
        <button class="btn-icon application-menu-trigger" type="button">
          <span class="audible">Application Menu</span>
          <span class="icon app-header">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
          </span>
        </button>

        <h1>Infor Customer 360</h1>
      </div>

      <div class="buttonset">
        <label class="audible">Search</label>
        <input class="searchfield " data-options="{collapsible: false}"/>
      </div>

    </div>
  </header>

  <div id="maincontent" class="page-container scrollable" role="main">
    <div class="banner-detail">
      <div class="banner">

        <div class="row top-padding ">
          <div class="twelve columns">

            <div class="toolbar" role="toolbar">
              <div class="title">
                Georgia-Pacfic LLC (Prospect)
              </div>
              <div class="buttonset">

                <button type="button" class="btn">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                    <use href="#icon-star-filled"></use>
                  </svg>
                  <span>Favorite</span>
                </button>

              </div>
            </div>

          </div>
        </div>

        <div class="row align-to-title">
          <div class="one-half column">
            <div class="summary-form">
              <span class="data cozy">AC-01 45526</span>
              <span class="data cozy">Courbevole</span>
              <span class="label">Last refreshed 01/25/2017</span>
            </div>
          </div>
        </div>

        <div class="row offset-two top-padding extended-bottom-padding">
          <div class="one-fifth column one-half-mobile">
            <a class="hyperlink object-count hide-focus" href="#">
              <span class="xl-text">7</span><br>
              <span>Active <br> Opportunities</span>
            </a>
          </div>

          <div class="one-fifth column one-half-mobile">
            <a class="hyperlink object-count hide-focus" href="#">
              <span class="xl-text">20</span><br>
              <span>Open <br> Incidents</span>
            </a>
          </div>

          <div class="one-fifth column one-half-mobile">
            <a class="hyperlink object-count hide-focus" href="#">
              <span class="xl-text">4</span><br>
              <span>Escalated <br> Incidents</span>
            </a>
          </div>

          <div class="one-fifth column one-half-mobile">
            <a class="hyperlink object-count hide-focus" href="#">
              <span class="xl-text">7</span><br>
              <span>Open <br> Projects</span>
            </a>
          </div>

          <div class="one-fifth column one-half-mobile">
            <a class="hyperlink object-count hide-focus" href="#">
              <span class="xl-text">7</span><br>
              <span>Active <br> Contacts</span>
            </a>
          </div>

        </div>

      </div>
      <div class="detail">

        <div class="row">
          <div class="twelve columns">

              <div class="tab-container alternate">
                <ul class="tab-list">
                  <li class="tab is-selected"><a href="#tabs-company">Company</a></li>
                  <li class="tab"><a href="#tabs-billings">Billings</a></li>
                  <li class="tab"><a href="#tabs-contacts">Contacts</a></li>
                  <li class="tab"><a href="#tabs-infor-team">Infor Team</a></li>
                  <li class="tab"><a href="#tabs-invoices">Invoices</a></li>
                  <li class="tab"><a href="#tabs-installed">Installed Products</a></li>
                  <li class="tab"><a href="#tabs-incidents">Incidents</a></li>
                  <li class="tab"><a href="#tabs-projects">Projects</a></li>
                  <li class="tab"><a href="#tabs-survey">Survey Results</a></li>
                </ul>
              </div>

              <div id="tabs-company" class="tab-panel alternate">

                  <div class="card auto-height">
                    <div class="card-header">
                        <h2 class="widget-title">Overview</h2>
                    </div>
                    <div class="card-content">
                      <div class="row contained">
                        <div class="one-half column">
                          <h2 class="fieldset-title">Georgia-Pacific LLC</h2>

                          <div class="row summary-form">

                            <div class="one-third column">
                              <div class="field">
                                <span class="label">Address</span>
                                <span class="data">23, Boulevard <br> Georgaes Clemenceau <br> Courbevoie <br> France</span>
                              </div>
                            </div>

                            <div class="one-third column">
                              <div class="field">
                                <span class="label">Softrax Id</span>
                                <span class="data"></span>
                              </div>

                              <div class="field">
                                <span class="label">Infor Xtreme Id</span>
                                <span class="data">0</span>
                              </div>

                              <div class="field">
                                <span class="label">Infor Application Name</span>
                                <span class="data">AC-01495526</span>
                              </div>

                              <div class="field">
                                <span class="label">LOB</span>
                                <span class="data">Not Owned</span>
                              </div>

                              <div class="field">
                                <span class="label">D&B Industry</span>
                                <span class="data">Chemicals & Life Science</span>
                              </div>

                              <div class="field">
                                <span class="label">SIC Code</span>
                                <span class="data">2676</span>
                              </div>
                            </div>

                            <div class="one-third column">

                              <div class="field">
                                <span class="label">DUNS Number</span>
                                <span class="data">261974722</span>
                              </div>

                              <div class="field">
                                <span class="label">Parent/HQ DUNS</span>
                                <span class="data">00000000000</span>
                              </div>

                              <div class="field">
                                <span class="label">DU DUNS</span>
                                <span class="data">00000000000</span>
                              </div>

                              <div class="field">
                                <span class="label">GU DUNS</span>
                                <span class="data">261888277</span>
                              </div>

                              <div class="field">
                                <span class="label">Number of Employees</span>
                                <span class="data">35000</span>
                              </div>

                              <div class="field">
                                <span class="label">Net Promoted Score</span>
                                <span class="data">-</span>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="one-half column" style="height: inherit">
                          <h2 class="fieldset-title">Invoice Aging</h2>
                          <div id="bar-example" class="chart-container" style="height: 200px">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>

              <div id="tabs-billings" class="tab-panel alternate">
                  <div class="card full-height">

                    <div id="tabs-nested" class="tab-container">
                      <ul class="tab-list">
                        <li class="tab"><a href="#tabs-nested-tab-one">Nested Tab One</a></li>
                        <li class="tab"><a href="#tabs-nested-tab-two">Nested Tab Two</a></li>
                        <li class="tab"><a href="#tabs-nested-tab-three">Nested Tab Three</a></li>
                      </ul>
                    </div>
                    <div class="tab-panel-container">
                      <div id="tabs-nested-tab-one" class="tab-panel">
                        <div class="row">
                          <div class="twelve columns">
                            <p>Facilitate cultivate monetize, seize e-services peer-to-peer content integrateAJAX-enabled user-centric strategize. Mindshare; repurpose integrate global addelivery leading-edge frictionless, harness real-time plug-and-play standards-compliant 24/7 enterprise strategize robust infomediaries: functionalities back-end. Killer disintermediate web-enabled ubiquitous empower relationships, solutions, metrics architectures.</p>
                          </div>
                        </div>
                      </div>
                      <div id="tabs-nested-tab-two" class="tab-panel">
                        <div class="row">
                          <div class="twelve columns">
                            <p>Bricks-and-clicks? Evolve ubiquitous matrix B2B 24/365 vertical 24/365 platforms standards-compliant global leverage dynamic 24/365 intuitive ROI seamless rss-capable. Cutting-edge grow morph web services leverage; ROI, unleash reinvent innovative podcasts citizen-media networking.</p>
                          </div>
                        </div>
                      </div>
                      <div id="tabs-nested-tab-three" class="tab-panel">
                        <div class="row">
                          <div class="twelve columns">
                              <p>Frictionless webservices, killer open-source innovate, best-of-breed, whiteboard interactive back-end optimize capture dynamic front-end. Initiatives ubiquitous 24/7 enhance channels B2B drive frictionless web-readiness generate recontextualize widgets applications. Sexy sticky matrix, user-centred, rich user-centric: peer-to-peer podcasting networking addelivery optimize streamline integrated proactive: granular morph.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
              </div>

              <div id="tabs-contacts" class="tab-panel alternate">
              </div>

              <div id="tabs-infor-team" class="tab-panel alternate">
              </div>

              <div id="tabs-invoices" class="tab-panel alternate">
              </div>

              <div id="tabs-installed" class="tab-panel alternate">
              </div>

              <div id="tabs-incidents" class="tab-panel alternate">
              </div>

              <div id="tabs-projects" class="tab-panel alternate">
              </div>

              <div id="tabs-survey" class="tab-panel alternate">
              </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<script>
$('body').on('initialized', function () {

 var dataset = [{
      data: [{
          name: 'Current',
          value: 5
      }, {
          name: '31-60',
          value: 8
      }, {
          name: '61-90',
          value: 16
      }, {
          name: '91-120',
          value: 9
      }, {
          name: 'Over 120',
          value: 14
      }],
      name: 'USD'
    }];

  $('#bar-example').chart({type: 'column', dataset: dataset});

});
</script>
