{{> includes/header}}
<div class="two-column fixed page-container" role="main">

  <div class="sidebar scrollable">
    <ul role="tree" aria-label="Asset Types" class="tree" data-init="false" id="json-tree">
    </ul>
    <div class="splitter splitter-right"></div>
  </div>

  <div class="main" role="main">
    <div class="content">

      <div class="full-width">
        <p>Action-items holistic bandwidth paradigms networking reinvent A-list impactful technologies seamless back-end mashups; one-to-one generate mesh niches communities leading-edge revolutionary--interfaces, repurpose iterate." Synergies drive target, integrated enable widgets disintermediate B2B long-tail deliverables mindshare one-to-one whiteboard experiences. Synergize, generate aggregate platforms content. Back-end viral benchmark holistic enable platforms collaborative scalable, maximize networkeffects networks B2C methodologies web-readiness user-centric embrace. Create synergistic expedite.</p>
        <p>E-enable extensible, networks synergies reinvent feeds cross-platform deliver disintermediate cross-platform widgets e-tailers e-commerce social functionalities widgets mashups collaborative. Best-of-breed; magnetic proactive target: extend? Users social reinvent transition folksonomies applications vortals cultivate e-commerce grow platforms bricks-and-clicks user-centred--eyeballs experiences communities, methodologies ecologies. Viral; whiteboard: viral remix social ubiquitous vortals, reinvent reinvent monetize markets disintermediate transition global.</p>
        <p>Blogospheres drive; functionalities data-driven e-commerce extensible peer-to-peer repurpose rich applications synergistic enterprise recontextualize harness back-end. IntegrateAJAX-enabled drive reintermediate extend architectures weblogs weblogs, enhance solutions orchestrate embedded peer-to-peer incentivize standards-compliant implement reinvent incentivize mesh, incentivize networks. Beta-test productize web-enabled mashups, initiatives facilitate out-of-the-box tagclouds: B2B.</p>
      </div>

    </div>
  </div>

</div>

<script>
  var sampleData;

  sampleData = [{
    "id": "node1",
    "text": "Node One",
    "open": false,
    "selected": false,
    "href": '/somelink/'
  }, {
    "id": "node2",
    "text": "Node Two",
    "open": true,
    "selected": true,
    "focus": true,
    "children": [{
        "id": "node3",
        "text": "Node 2.1"
      }, {
        "id": "node4",
        "text": "Node 2.2",
        "children": [{
          "id": "node5",
          "text": "Node 2.2.1",
          "icon": "icon-tree-chart",
          "children": [{
            "id": "node6",
            "text": "Node 2.2.1.1",
            "icon": "icon-tree-chart"
          }]
        }]
      }]
  }];

  $('#json-tree').tree({dataset: sampleData});
</script>
