// Empty Message - Uplift / Vibrant
//================================================== //

.icon-empty-state {
  fill: transparent;
  height: 100px;
  width: 100px;

  &.is-graphite {
    color: $icon-empty-bg-color;
    fill: transparent;
  }
}

.card-empty-title,
.widget-empty-title,
.empty-title {
  font-size: 2.2rem;
  font-weight: $theme-number-font-weight-bold;
  margin-top: -5px;
  padding: 0 0 10px;
}

.card-empty-info,
.widget-empty-info,
.empty-info {
  color: $font-color;
  font-size: 1.6rem;
  padding: 0 20px 20px;
}
