// Empty Message
//================================================== //

.modal-engaged.empty-message {
  .overlay {
    background: $modal-overlay-empty-message-bg-color;
  }
}

.modal.message {
  &.empty-state-message {
    .modal-body {
      .empty-icon {
        padding: 79px 0 35px;

        svg.icon-empty-state {
          height: 141px;
          width: 145px;
        }
      }

      .empty-title {
        @include font-size(24);

        color: $modal-empty-message-title-font-color;
        font-weight: 600;
        line-height: 18px;
      }

      .empty-info {
        @include font-size(16);

        color: $modal-empty-message-info-font-color;
        line-height: 18px;
        max-width: 320px;
        padding: 0 20px 22px;
      }

      .empty-actions {
        padding: 0 0 62px;

        button {
          @include font-size(16);

          border-radius: 8px;
          height: 40px;
          width: 100%;

          @media (min-width: $breakpoint-phone) {
            width: 180px;
          }

          span {
            @include ellipsis();

            display: block;
          }
        }
      }
    }
  }
}

.empty-message {
  min-height: 60px;
  padding-bottom: 5px;

  .empty-title {
    padding: 0 0 15px;

    &:not(.empty-icon) {
      padding-bottom: 20px;
    }
  }

  .empty-icon {
    padding: 25px 0;
  }
}

.icon-empty-state {
  color: $theme-color-brand-primary-base;
  display: inline-block;
  fill: $theme-color-brand-primary-base;
  height: 65px;
  position: relative;
  width: 65px;

  &.is-graphite {
    color: $icon-empty-bg-color;
    fill: $icon-empty-bg-color;
  }
}

// color defs
.icon-empty-offset-color {
  opacity: 0.4;
}

.icon-empty-center-color {
  color: $theme-color-palette-white;
}

.space-icons {
  svg {
    margin-right: 20px;
  }
}

.datagrid-container {
  .empty-message-container {
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  &.has-filterable-columns .empty-message {
    top: calc(50% + 32px) !important;
  }

  .empty-message {
    position: absolute;
    top: calc(50% + 20px);
    transform: translate(0, -50%);
    width: inherit;
  }
}

// IE11
.ie11 {
  .datagrid-container {
    .empty-message-container {
      left: 0;
      top: 0;
    }
  }
}
