// Empty Message - Uplift / Vibrant
//================================================== //

.icon-empty-state {
  fill: transparent;
  height: 80px;
  width: 80px;

  &.is-graphite {
    color: $icon-empty-bg-color;
    fill: transparent;
  }
}

.card-empty-title,
.widget-empty-title,
.empty-title {
  font-size: $ids-size-font-px-20;
  font-weight: $ids-number-font-weight-bold;
  margin-top: -5px;
  padding: 0 0 10px;
}

.card-empty-info,
.widget-empty-info,
.empty-info {
  color: $font-color-muted;
  font-size: 1.6rem;
  padding: 0 20px 20px;
}

.empty-title,
.card-empty-title {
  color: $font-color-muted;
}

.empty-icon,
.card-empty-icon {
  padding-bottom: $ids-number-spacing-base;
}
