// Empty Message
//================================================== //

.empty-message {
  min-height: 60px;
  padding-bottom: 5px;

  .empty-title {
    padding: 0 0 15px;

    &:not(.empty-icon) {
      padding-bottom: 20px;
    }
  }

  .empty-icon {
    padding: 25px 0;
  }
}

.empty-message-height-small {
  .empty-message {
    .empty-icon,
    .empty-info,
    .empty-actions {
      display: none !important;
    }
  }
}

.icon-empty-state {
  color: $ids-color-brand-primary-base;
  display: inline-block;
  fill: $ids-color-brand-primary-base;
  height: 65px;
  position: relative;
  width: 65px;

  &.is-graphite {
    color: $icon-empty-bg-color;
    fill: $icon-empty-bg-color;
  }

  &.is-slate {
    color: $icon-empty-bg-color;
    fill: $icon-empty-bg-color;
  }
}

// color defs
.icon-empty-offset-color {
  opacity: 0.4;
}

.icon-empty-center-color {
  color: $ids-color-palette-white;
}

.space-icons {
  svg {
    margin-right: 20px;
  }
}

.datagrid-container {
  .empty-message-container {
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  &.has-filterable-columns .empty-message {
    top: calc(50% + 32px) !important;
  }

  .empty-message {
    position: absolute;
    top: calc(50% + 20px);
    transform: translate(0, -50%);
    width: inherit;

    button {
      pointer-events: initial;
    }
  }
}

// IE11
.ie11 {
  .datagrid-container {
    .empty-message-container {
      left: 0;
      top: 0;
    }
  }
}
