<div class="page-container two-column fixed splitter-container">
  <section class="main">
    <div class="content scrollable">
      <div class="row full-width">
        <div class="field">
          <label for="searchfield">Search</label>
          <input id="searchfield" name="searchfield" class="searchfield autocomplete" data-options= '{"clearable": "true", "showAllResults": false, "source": "//latest-enterprise.demo.design.infor.com/api/states?term="}' placeholder="Type a search term"/>
        </div>
      </div>
    </div>
  </section>
  <nav class="sidebar scrollable">
    <div class="content">
      <div id="splitter" class="splitter"></div>
    </div>
  </nav>
</div>
<script>
$('#splitter').splitter({
  attributes: [
    { name: 'id', value: 'splitter-id-1' },
    { name: 'data-automation-id', value: 'splitter-automation-id-1' }
  ]
});
</script>
