<style>
  .app-wrapper {
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
  }

  .controls {
    width: 100%;
    background: #00a2c2;
  }

  .my-splitter {
    width: 100vw;
    height: 24px;
    border-top: 1px solid gray;
  }

  .splitter-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    width: 100% !important;
  }
</style>
<div class="page-container scrollable app-wrapper">
  <div id="blue" class="controls">
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
  </div>
  <div class="splitter-wrapper">
    <div style="background: orange; width: 100%; overflow: hidden;">
      <div style="height: 100%; overflow: auto;">
        <div style="cursor: pointer" id="close-blue">Click to hide blue</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
      </div>
    </div>
    <div id="splitter" class="splitter splitter-horizontal" data-options="{axis: 'y'}"></div>
    <div style="background: gray; width: 100%; overflow: hidden;">
      <div style="height: 100%; overflow: auto;">
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
        <div>...</div>
      </div>
    </div>
  </div>

</div>

<script>
  $('body').one('initialized', function () {
    let toggleBlue = true;
    const blue = $('#blue');
    $('#close-blue').on('click', () => {
      if (toggleBlue) {
        blue.hide();
        toggleBlue = false;
      } else {
        blue.show();
        toggleBlue = true;
      }
    });
 });
</script>
