
<div class="page-container two-column fixed">

  <section class="demo-column-content main" role="main">
    <div class="content">

      <div id="tabs-normal" class="tab-container alternate">
        <ul class="tab-list">
          <li class="tab"><a href="#tabs-normal-contracts">Contracts</a></li>
          <li class="tab"><a href="#tabs-normal-opportunities">Opportunites</a></li>
          <li class="tab is-selected"><a href="#tabs-normal-attachments">Attachments</a></li>
          <li class="tab"><a href="#tabs-normal-contacts">Contacts</a></li>
          <li class="tab"><a href="#tabs-normal-notes">Notes</a></li>
        </ul>
      </div>
      <div class="tab-panel-container"></div>

    </div>
  </section>

  <nav class="demo-column-content sidebar">
    <div class="content">

      <div class="splitter"></div>
      <div id="tabs-normal2" class="tab-container">
        <ul class="tab-list">
          <li class="tab"><a href="#tabs-normal-contracts">Contracts</a></li>
          <li class="tab"><a href="#tabs-normal-opportunities">Opportunites</a></li>
          <li class="tab"><a href="#tabs-normal-attachments">Attachments</a></li>
        </ul>
      </div>
      <div class="tab-panel-container"></div>

    </div>
  </nav>

</div>
