// Radio Buttons
//================================================== //

.radio {
  left: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.inline-radio {
  margin-bottom: 0;
}

.inline .radio ~ .label-text,
.radio + label {
  @include font-size(14);
  color: $checkbox-label-color;
  cursor: pointer;
  line-height: 24px;
  margin-bottom: 6px;
  outline: none;
  padding-left: 26px;
  position: relative;
}

.inline .radio ~ .label-text::before,
.radio + label::before {
  background-color: $radio-bg-color;
  border: 1px solid $radio-border-color;
  border-radius: 50%;
  content: '';
  height: 14px;
  margin-left: -25px;
  margin-top: 4px;
  position: absolute;
  width: 14px;
}

.inline .radio ~ .label-text::before {
  margin-top: 2px;
}

.inline .radio:hover ~ .label-text::before,
.radio:hover + label::before {
  @include css3(transition, border-color 300ms ease);
  border-color: $radio-hover-border-color;
}

.inline .radio ~ .label-text,
.radio-label {
  display: inline-block;
  line-height: 20px;

  &.radio-label:first-of-type {
    margin-top: 4px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.inline .radio ~ .label-text::after,
.radio + label::after {
  background-color: $radio-selected-bg-color;
  border: 2px solid $radio-selected-bg-color;
  border-radius: 50%;
  content: '';
  height: 4px;
  left: 5px;
  position: absolute;
  top: 8px;
  transition: all .2s ease 0s;
  width: 4px;
}

.inline .radio ~ .label-text::after {
  top: 6px;
}

.inline .radio:checked ~ .label-text::before,
.radio:checked + label::before {
  background-color: $radio-selected-color;
  border: 1px solid $radio-selected-color;
}

// checked mark aspect changes
.inline .radio:not(:checked) ~ .label-text::after,
.radio:not(:checked) + label::after {
  @include opacity(0);
  transform: scale(0);
}

.inline .radio:checked ~ .label-text::after,
.radio:checked + label::after {
  @include opacity(1);
  transform: scale(1);
}

// disabled radio
.inline .radio:disabled ~ .label-text::before,
.radio:disabled + label::before {
  background-color: $radio-disabled-bg-color;
  border-color: $radio-disabled-border-color;
  cursor: default;
}

.inline .radio:disabled:checked ~ .label-text::before,
.radio:disabled:checked + label::before {
  background-color: $radio-disabled-border-color;
  border-color: $radio-disabled-border-color;
  cursor: default;
}

.inline .radio:disabled:checked ~ .label-text::before,
.radio:disabled:checked + label::after {
  background-color: $radio-disabled-select-bg-color;
  border: 2px solid $radio-disabled-select-bg-color;
}

.inline .radio:disabled ~ .label-text,
.radio:disabled + label {
  color: $disabled-color;
  cursor: default;
}

.inline .radio:not(.hide-focus):focus ~ .label-text::before,
.radio:not(.hide-focus):focus + label::before {
  box-shadow: $radio-focus-shadow;
}

// Print Support
@media print {
  .inline .radio ~ .label-text::before,
  .radio + label::before {
    content: none;
  }

  .radio {
    left: unset;
    position: unset;
    width: unset;
  }

  .inline .radio ~ .label-text,
  .radio + label {
    padding-left: 9px;
  }

  .inline .radio ~ .label-text::after,
  .radio + label::after {
    border: 0;
  }
}

.radio-group {
  margin-bottom: 10px;
  margin-top: 0;

  legend {
    @include font-size(12);
    color: $label-color;
    padding-bottom: 5px;
  }

  &.is-disabled,
  &[disabled] {
    legend {
      color: $disabled-color;
    }
  }

  .field,
  .field-short {
    margin-bottom: 0;
  }

  + .field {
    margin-top: 20px;
  }

  + .field-short {
    margin-top: 10px;
  }
}

// Radio Section
//================================================== //
.radio-section {
  margin-bottom: 10px !important;
  margin-top: 30px;

  .option {
    padding-left: 0;

    .btn-primary {
      margin-top: inherit;
      padding: inherit;

      &[disabled] {
        border: 0;
      }
    }

    .large-txt {
      @include font-size(14);
    }

    .line-through {
      text-decoration: line-through;
    }

    .radio-label {
      margin-bottom: 2.3em;

      .in-label {
        @include font-size(14);
        line-height: 25px;
        margin-top: -10px;
      }

      span {
        display: block;
      }
    }

    &:first-child {
      margin-left: 0;
      position: relative;

      &::after {
        border-right: 1px solid $graphite03;
        bottom: 15px;
        content: ' ';
        position: absolute;
        right: 0;
        top: 15px;
      }
    }
  }
}

.info {
  .radiosection .option {
    margin-left: inherit;

    &:first-child {
      margin-right: 10px;
    }
  }

  .row:last-child {
    margin-bottom: 0;
  }
}

@include respond-to(tabletdown) {
  .radio-section .option {
    margin-left: 0;
    text-align: left;
    width: 95%;

    .row:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-right: inherit;
      position: static;

      &::after {
        display: none;
      }
    }

    &:not(:first-child) {
      border-top: 1px solid $graphite03;
      padding-top: 15px;
    }

  }
}

//RTL Styles
html[dir='rtl'] {

  .radio {
    margin-left: inherit;
    margin-right: 7px;
  }

  .inline .radio ~ .label-text,
  .radio + label {
    padding-left: inherit;
    padding-right: 36px;
  }

  .inline .radio ~ .label-text::before,
  .radio + label::before {
    margin-left: inherit;
    margin-right: -33px;
  }


  .inline .radio ~ .label-text::after,
  .radio + label::after {
    left: auto;
    right: .53em;
  }

  // Radio Section
  .radio-section {
    .option {
      padding-left: inherit;
      padding-right: 0;

      &:first-child {
        margin-left: inherit;
        margin-right: 0;

        &::after {
          left: 0;
          right: auto;
        }
      }
    }
  }

  .info {
    .radiosection .option {
      margin-right: inherit;

      &:first-child {
        margin-left: inherit;
        margin-right: 10px;
      }
    }
  }

  @include respond-to(tabletdown) {
    .radio-section .option {
      margin-left: inherit;
      margin-right: 0;
      text-align: right;

      &:first-child {
        margin-left: inherit;
      }
    }
  }

}

// Short Fields
.field-short {

  .inline .radio ~ .label-text,
  .radio + label {
    margin-bottom: 0;
    margin-top: 0;
  }

  .radio-label {
    width: auto;
  }

  .inline .radio ~ .label-text::after,
  .radio + label::after {
    top: 13px;
  }

}

// Error States
.inline .radio.error ~ .label-text,
.radio.error + label {
  color: $error-color;

  &::before {
    border-color: $error-color;
  }
}
// disabled radio
.inline .radio.error:disabled ~ .label-text,
.radio.error:disabled + label {
  color: rgba($error-color, .4);

  &::before {
    border-color: rgba($error-color, .4);
  }
}

.radio-group-error {
  margin-left: 2px;
  margin-top: 5px;
}
