.toolbar-container {
  &.in-page {
    height: 40px;
  }
}

.flex-toolbar {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
}

.toolbar-section {
  white-space: nowrap;

  &.title,
  &.buttonset {
    flex-grow: 1;
  }

  &.title {
    overflow-x: hidden;
    text-overflow: ellipsis;

    h1, h2, h3, h4, h5, h6, {
      display: inline-block;
    }

    .page-title, .section-title {
      display: block;
      overflow-x: hidden;
      padding: 0;
      text-overflow: ellipsis;
    }

    .section-title {
      @include font-size(12);
    }

    + .toolbar-section.buttonset {
      text-align: right;
    }
  }

  + .toolbar-section.title {
    padding-left: 10px;
  }

  &.search {
    padding: 0 10px;
  }

  .searchfield-wrapper {
    margin-bottom: 0;
  }
}

// RTL Styles
html[dir='rtl'] {

  .toolbar-section {
    &.title + .toolbar-section.buttonset {
      text-align: left;
    }

    + .toolbar-section.title {
      padding-left: 0;
      padding-right: 10px;
    }
  }

}
