<div class="row">
  <div class="six columns">
    <h2>Flexible Toolbar Component</h2>
    <p>JIRA: <a class="hyperlink" href="https://jira.infor.com/browse/SOHO-7475" target="_blank">SOHO-7475</a></p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="flex-toolbar">

      <div class="toolbar-section">
        <h2>Toolbar Title</h2>
      </div>

      <div class="toolbar-section">
        <button class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-settings"></use>
          </svg>
          <span class="audible">Settings</span>
        </button>

        <button class="btn">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-trash"></use>
          </svg>
          <span class="audible">Trash</span>
        </button>
      </div>

      <div class="toolbar-section">
        <div class="searchfield-wrapper">
          <label for="toolbar-searchfield">Toolbar Search</label>
          <input id="toolbar-searchfield" class="searchfield" placeholder="Search..."/>
        </div>
      </div>

      <div class="toolbar-section">
        <button class="btn-actions">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-more"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>
</div>
