//  Flexable Scroll Area - Middle is scrollable
//================================================== //

.scrollable-flex {
  display: flex !important;
  flex-direction: column;

  > * {
    flex-grow: 0;
  }
}

.scrollable-flex-header,
.scrollable-flex-grow,
.scrollable-flex-footer {
  flex-grow: 0;
}

.scrollable-flex-header {
  .breadcrumb {
    background-color: $header-bg-color;
    display: block;
    padding: 1px 20px 0;

    ol {
      padding: 15px 0;
    }

    .hyperlink {
      color: $header-breadcrumb-color;

      &:active:not([disabled]),
      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        color: $header-breadcrumb-color;
      }

      &:focus:not([disabled]):not(.hide-focus) {
        outline: 1px solid $header-breadcrumb-color;
      }

      &:hover:not([disabled]) {
        border-bottom: 1px solid $header-breadcrumb-color;
      }
    }

    li {
      color: $header-breadcrumb-color;

      &::after {
        color: $header-breadcrumb-color;
      }
    }

    &.alternate {
      background-color: $header-breadcrumb-alt-bg-color;
      border-bottom: 1px solid $header-breadcrumb-border-color;

      ol {
        padding: 15px 0;
      }

      .hyperlink {
        color: $header-breadcrumb-alt-color;

        &:active:not([disabled]),
        &:hover:not([disabled]),
        &:focus:not([disabled]) {
          color: $header-breadcrumb-alt-color;
        }

        &:focus:not([disabled]):not(.hide-focus) {
          outline: 1px solid $header-breadcrumb-alt-color;
        }

        &:hover:not([disabled]) {
          border-bottom: 1px solid $header-breadcrumb-alt-color;
        }

      }

      li {
        color: $header-breadcrumb-alt-color;

        &::after {
          color: $header-breadcrumb-alt-color;
        }
      }
    }

  }
}

.scrollable-flex-content,
.scrollable-area,
.scrollable-flex-shrink {
  flex-shrink: 1;
  height: 100%;
  overflow-y: auto;

  &.has-margins {
    margin: 20px;
  }

  .datagrid-container {
    height: 100%;

    &.paginated {
      height: calc(100% - 40px);
    }
  }

  // Support for list-detail-popup-search-no-split-header
  &.listview {
    height: 100% !important;

    + .pager-toolbar {
      height: 100%;
    }
  }

  .toolbar + .datagrid-container.has-toolbar {
    height: calc(100% - 50px);
  }

  &.card .empty-message {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    vertical-align: top;
  }
}
