<div class="row">
  <div class="twelve columns">
    <div class="toolbar">
      <div class="title">Toolbar Title</div>
      <div class="buttonset">
        <button
          id="btn-0"
          class="btn-icon"
          type="button"
          data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-right', color: 'warning'}}"
        >
          <svg
            class="icon"
            focusable="false"
            aria-hidden="true"
            role="presentation"
          >
            <use href="#icon-calendar"></use>
          </svg>
          <span>Badge btn</span>
        </button>
        <button id="btn-1" class="btn" type="button">
          <span>Button #1</span>
        </button>
    
        <button id="btn-2" class="btn" type="button">
          <span>Button #2</span>
        </button>
    
        <button id="btn-3" class="btn" type="button">
          <span>Button #3</span>
        </button>
    
        <button
          id="btn-4"
          class="btn"
          type="button"
          data-options="{notificationBadge: 'true', notificationBadgeOptions: {position: 'lower-right', color: 'warning'}}"
        >
          <svg
            class="icon"
            focusable="false"
            aria-hidden="true"
            role="presentation"
          >
            <use href="#icon-calendar"></use>
          </svg>
          <span>Badge btn</span>
        </button>
      </div>
      <div class="more">
        <button class="btn-actions" type="button">
          <svg
            class="icon"
            focusable="false"
            aria-hidden="true"
            role="presentation"
          >
            <use href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#" id="action-item-one">Pre-defined Option #1</a></li>
          <li><a href="#" id="action-item-two">Pre-defined Option #2</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>