<div class="row">
  <div class="six columns">
    <h2>Popupmenu Test: Single-Selectable Menu</h2>
    <p>Common configuration for single-select popupmenus attached to buttons.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <!-- Single Select Menu -->
    <div class="field">
      <button id="single-select-popupmenu-trigger" class="btn-menu hide-focus">
        <span>Selectable Menu</span>
        <svg role="presentation" aria-hidden="true" focusable="false" class="icon icon-dropdown">
          <use xlink:href="#icon-dropdown"></use>
        </svg>
      </button>
      <ul class="popupmenu is-selectable">
        <li><a href="#">Menu Option #1</a></li>
        <li><a href="#">Menu Option #2</a></li>
        <li><a href="#">Menu Option #3</a></li>
        <li class="is-checked"><a href="#">Sub Option #4</a></li>
        <li><a href="#">Menu Option #5</a></li>
        <li><a href="#">Menu Option #6</a></li>
      </ul>
    </div>

  </div>
</div>
