<style id="demoapp-listing-styles">
  .directory-listing {
    margin-top: 20px;
  }

  .badge.test-type {
    min-width: 75px;
    text-align: center;
  }

  .badge.azure07,
  .badge.ruby07 {
    color: white;
  }
</style>

<div class="row">
  <div class="six columns">

    <ul class="directory-listing link-list">
      {{#paths}}
        <li>
          {{#icon}}
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="{{icon}}"></use>
            </svg>
            &nbsp;
          {{/icon}}
          {{^icon}}
            {{#pageType}}
              <span class="badge test-type {{labelColor}}">
                {{pageType}}
              </span>
              &nbsp;
            {{/pageType}}
          {{/icon}}
          <a class="hyperlink" href="{{href}}">
            <span>{{text}}</span>
          </a>
        </li>
      {{/paths}}
    </ul>

  </div>
</div>
