<div class="row">
  <div class="twelve columns">

    <span class="field-info">
        <svg role="presentation" aria-hidden="true" focusable="false" class="icon icon-info-field">
           <use xlink:href="#icon-info-field"/>
        </svg>
        <span class="audible">Information</span>
        <span>The name of the host where the application server is installed.
      </span>
    </span>

    <span class="error-message">
        <svg class="icon icon-error" focusable="false" aria-hidden="true" role="presentation"><use xlink:href="#icon-error"/></svg>
        <span class="audible">Error</span>
        <span>This is a custom validation rule that duplicates the functionality of the "required" rule built into the validator, but has this really long message instead.  This is testing the size of error message tooltips, as well as testing that custom rules work properly.</span>
    </span>

    <span class="alert-message">
        <svg class="icon icon-alert" focusable="false" aria-hidden="true" role="presentation"><use xlink:href="#icon-alert"/></svg>
        <span class="audible">Alert</span>
        <span>This is a custom validation rule that duplicates the functionality of the "required" rule built into the validator, but has this really long message instead.  This is testing the size of error message tooltips, as well as testing that custom rules work properly.</span>
    </span>

  </div>
</div>
