<div class="row">
  <div class="twelve columns">

    <div class="field-info">
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon icon-info-field">
         <use xlink:href="#icon-info-field"/>
      </svg>
      <p class="message-text">This is short info.</p>
      <pre class="audible">Info</pre>
    </div>

    <div class="field-info">
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon icon-info-field">
         <use xlink:href="#icon-info-field"/>
      </svg>
      <p class="message-text">The name of the host where the application server is installed.</p>
      <pre class="audible">Information</pre>
    </div>

    <div class="error-message">
      <svg class="icon icon-error" focusable="false" aria-hidden="true" role="presentation"><use xlink:href="#icon-error"/></svg>
      <p class="message-text">This is a custom validation rule that duplicates the functionality of the "required" rule built into the validator, but has this really long message instead.  This is testing the size of error message tooltips, as well as testing that custom rules work properly.</p>
      <pre class="audible">Error</pre>
    </div>

    <div class="field-info">
      <svg class="icon icon-alert" focusable="false" aria-hidden="true" role="presentation"><use xlink:href="#icon-alert"/></svg>
      <p class="message-text">This is a custom validation rule that duplicates the functionality of the "required" rule built into the validator, but has this really long message instead.  This is testing the size of error message tooltips, as well as testing that custom rules work properly.</p>
      <pre class="audible">Alert</pre>
    </div>
  </div>
</div>
