// Calendar Toolbar - Uplift
//================================================== //

.calendar-toolbar {
  .datepicker {
    @include font-size(20);

    padding: 4px 36px 4px 8px;
  }

  .today {
    @include font-size(14);
  }

  .toolbar-section > .month,
  .toolbar-section > .year {
    @include font-size(20);
  }

  .dropdown-wrapper {
    top: 12px;
  }
}
