<div class="row">
  <div class="six columns">

    <h2>Searchfield Test: Categories</h2>
    <p><a class="hyperlink" href="http://jira/browse/HFC-3356" target="_blank">Related JIRA Ticket</a>.</p>
    <p></p>

  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="field">
      <label for="short-category-searchfield">Short Category Searchfield</label>
      <input id="short-category-searchfield" class="searchfield" data-options="{ categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'] }"/>
    </div>

    <div class="field">
      <label for="full-size-category-searchfield">Full-sized Category Searchfield</label>
      <input id="full-size-category-searchfield" class="searchfield" data-options="{ showCategoryText: true, categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'] }" />
    </div>
  </div>
</div>
