<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">
        Toolbar Search with Category Text
      </div>
      <div class="buttonset">
        <label class="audible" for="toolbar-searchfield">Keyword Search</label>
        <input id="toolbar-searchfield" name="toolbar-searchfield" class="searchfield" data-options="{ categories: ['Animals', 'Baby', 'Clothing', 'Images', 'People', 'Places'], showCategoryText: true }"/>

        <button class="btn">
          <span>Button</span>
        </button>
      </div>
    </div>

  </div>
</div>
