// Accordion Mixins
//================================================== //

// Left-to-Right
//================================================== //

@mixin left-align-cascade-styles-header($a-padding, $icon-margin, $width, $li-padding) {
  > a {
    padding-inline-start: $a-padding;
  }

  > .icon,
  > [class^='btn'] {
    margin-inline-start: $icon-margin;

    + a {
      padding-inline-start: 0;
      width: calc(100% - #{$width});
    }
  }

  &.list-item {
    &::before {
      padding-inline-start: $li-padding;
    }

    a {
      padding-inline-start: 0;
      width: calc(100% - #{$width});
    }
  }
}

@mixin left-align-cascade-styles-pane($leftPadding, $iconLinkPadding, $iconContentPadding) {
  .accordion-content {
    padding-inline-start: $leftPadding;
  }

  &.has-icons {
    .accordion-header.no-icon > a {
      padding-inline-start: $iconLinkPadding;
    }

    .accordion-content {
      padding-inline-start: $iconContentPadding;
    }
  }
}

// Right-To-Left
//================================================== //

@mixin right-align-cascade-styles-header($a-padding, $icon-margin, $width, $li-padding) {
  > a {
    padding-inline-start: 0;
    padding-inline-end: $a-padding;
  }

  > .icon,
  > [class^='btn'] {
    margin-inline-start: auto;
    margin-inline-end: $icon-margin;

    + a {
      padding-inline-end: 0;
      width: calc(100% - #{$width});
    }
  }

  &.list-item {
    &::before {
      padding-inline-start: 0;
      padding-inline-end: $li-padding;
    }

    a {
      padding-inline-end: 0;
      width: calc(100% - #{$width});
    }
  }
}

@mixin right-align-cascade-styles-pane($rightPadding, $iconLinkPadding, $iconContentPadding) {
  .accordion-content {
    padding-inline-start: 0;
    padding-inline-end: $rightPadding;
  }

  &.has-icons {
    .accordion-header.no-icon > a {
      padding-inline-start: 0;
      padding-inline-end: $iconLinkPadding;
    }

    .accordion-content {
      padding-inline-start: 0;
      padding-inline-end: $iconContentPadding;
    }
  }
}
