  <section>
  
    

  <h2>Settings</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>
          dataset
        </td>
        <td>
          array
        </td>
        <td>
          The data to use in the line/area/bubble.

        </td>
      </tr>
      <tr>
        <td>
          isStacked
        </td>
        <td>
          boolean
        </td>
        <td>
          Default is a single or stacked chart.

        </td>
      </tr>
      <tr>
        <td>
          isNormalized
        </td>
        <td>
          boolean
        </td>
        <td>
          If true its a 100% bar chart

        </td>
      </tr>
      <tr>
        <td>
          isGrouped
        </td>
        <td>
          boolean
        </td>
        <td>
          If true its a grouped bar chart

        </td>
      </tr>
      <tr>
        <td>
          showLegend
        </td>
        <td>
          boolean
        </td>
        <td>
          If false the legend will not be shown.

        </td>
      </tr>
      <tr>
        <td>
          animate
        </td>
        <td>
          
        </td>
        <td>
          true|false - will do or not do the animation.
'initial' will do only first time the animation.

        </td>
      </tr>
      <tr>
        <td>
          redrawOnResize
        </td>
        <td>
          boolean
        </td>
        <td>
          If true, the component will not resize when resizing the page.

        </td>
      </tr>
      <tr>
        <td>
          formatterString
        </td>
        <td>
          string
        </td>
        <td>
          Use d3 format some examples can be found on 
<a href="http://bit.ly/1IKVhHh">http://bit.ly/1IKVhHh</a>

        </td>
      </tr>
      <tr>
        <td>
          format
        </td>
        <td>
          string
        </td>
        <td>
          The d3 axis format

        </td>
      </tr>
      <tr>
        <td>
          tooltip
        </td>
        <td>
          string
        </td>
        <td>
          A tooltip for the whole chart

        </td>
      </tr>
      <tr>
        <td>
          useLogScale
        </td>
        <td>
          boolean
        </td>
        <td>
          If true log scale is enabled.

        </td>
      </tr>
      <tr>
        <td>
          ticks
        </td>
        <td>
          object
        </td>
        <td>
          Settings for the chart ticks.
Can set ticks: {format: d3Format, number: n}

        </td>
      </tr>
      <tr>
        <td>
          showLines
        </td>
        <td>
          boolean
        </td>
        <td>
          Show the in the axis lines or not.

        </td>
      </tr>
      <tr>
        <td>
          labelFactor
        </td>
        <td>
          number
        </td>
        <td>
          How far out than the outer circle should the labels be placed,
this may be useful to adjust for some labels.

        </td>
      </tr>
      <tr>
        <td>
          wrapWidth
        </td>
        <td>
          number
        </td>
        <td>
          The number of pixels after which a label needs to be
given a new line. You may want to change this based on label data.

        </td>
      </tr>
      <tr>
        <td>
          emptyMessage
        </td>
        <td>
          object
        </td>
        <td>
          An empty message will be displayed when there is no chart data.
This accepts an object of the form emptyMessage:

<code>{title: 'No Data Available', info: 'Make a selection on the list above to see results', icon: 'icon-empty-no-data', button: {text: 'xxx', click: &#x3C;function>} }</code>

Set this to null for no message or will default to 'No Data Found with an icon.'

        </td>
      </tr>
    </tbody>
  </table>



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = The new settings to use.
 </span>
                
          
        </td>
        <td>
          <p>Handle updated settings and values.</p>

        </td>
        <td>
          The api for chaining.
object
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
        </td>
        <td>
          <p>Teardown - Remove added markup and events.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  
  </section>

  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>rendered
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
      <div>
        <span>svg (array)
        
        = The svg object.

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when the chart is complete done rendering, for customization.
</td>
</tr>

      
      </tbody>
    </table>
  </section>
