
<div class="row">
  <div class="two-thirds column">
      <div class="widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Bar Negative Value</h2>
        </div>
        <div class="widget-content">
          <div id="bar-example" class="chart-container">
          </div>
        </div>
      </div>
  </div>
</div>


<script>
$('body').on('initialized', function () {

 var dataset = [{
      data: [{
          name: 'Category A',
          value: 373
      }, {
          name: 'Category B',
          value: -72
      }, {
          name: 'Category C',
          value: 236
      }],
      name: ''
    }];

  $('#bar-example').chart({type: 'bar', dataset: dataset});

});
</script>
