// Uplift Monthview
//================================================== //

.monthview-popup.popover .hyperlink.today {
  font-size: 1.4rem;
  font-weight: 400;
  top: -1px;
}

.monthview.is-fullsize {
  .toolbar-section {
    margin-top: -6px;
  }
}
