// Uplift Monthview
//================================================== //

.monthview-header {
  .month,
  .year {
    font-size: 2.4rem;
  }

  .btn-monthyear-pane {
    font-size: 2.4rem;
    padding: 0 4px 1px 7px;
  }
}
