// Tree Uplift
//================================================== */
.tree a {
  padding: 5px;
}

.tree.is-multiselect li .tree-checkbox {
  top: 2px;
}

.tree-drag-target-arrow::before {
  margin-top: -4px;
}
