// Toolbar Searchfields
//================================================== */

$toolbarsearchfield-max-width: 225px;
$toolbarsearchfield-filled-out-width: 100px;
$toolbarsearchfield-empty-width: 34px;

$toolbarsearchfield-category-empty-width: 54px;

.toolbar-searchfield-wrapper {
  @include transition(width 300ms cubic-bezier(.17, .04, .03, .94),
    left 300ms cubic-bezier(.17, .04, .03, .94),
    right 300ms cubic-bezier(.17, .04, .03, .94));
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  width: $toolbarsearchfield-empty-width;

  > * {
    vertical-align: middle;
  }

  .searchfield {
    @include antialiased();
    @include font-size(12);
    @include transition(background-color 300ms cubic-bezier(.17, .04, .03, .94),
    border-color 300ms cubic-bezier(.17, .04, .03, .94));
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none !important;
    color: $searchfield-text-color;
    font-weight: 700;
    height: 34px;
    outline: 0 !important;
    text-overflow: ellipsis;
    width: 100%;

    &::-webkit-input-placeholder {
      @include font-size(12);
      color: $searchfield-text-color;
      font-weight: 700;
    }

    &::-moz-placeholder {
      @include font-size(12);
      color: $searchfield-text-color;
      font-weight: 700;
    }

    &:-ms-input-placeholder {
      @include font-size(12);
      color: $searchfield-text-color;
      font-weight: 700;
    }
  }

  &.has-go-button {
    .searchfield {
      width: calc(100% - 39px);
    }

    > .icon {
      &.close {
        right: 45px;
      }
    }
  }

  label {
    display: none;
  }

  .icon {
    fill: $searchfield-text-color;

    &.close {
      background-color: rgba($searchfield-bg-color, 0);
      fill: rgba($searchfield-text-color, 0);
    }

    &:not(.close) {
      @include transition(height 300ms cubic-bezier(.17, .04, .03, .94),
        top 300ms cubic-bezier(.17, .04, .03, .94),
        left 300ms cubic-bezier(.17, .04, .03, .94));
      height: 18px;
      top: 8px;
    }
  }

  .inline ~ .icon {
    top: 11px;
  }

  .icon.close {
    top: 10px;
  }

  .btn {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
  }

  .searchfield-category-button,
  .go-button {
    &:focus {
      border: 1px solid transparent;

      &:not(.hide-focus) {
        box-shadow: none;
        color: $btn-color;

        &::after {
          border: 1px solid $button-focus-color;
          border-radius: 2px;
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  &.is-hovered {
    .searchfield {
      border-color: transparent;
      border-bottom-color: rgba($searchfield-border-color, 0);
    }

    .btn {
      border-color: transparent;
      border-bottom-color: rgba($searchfield-border-color, 0);
    }

    .go-button {
      color: rgba($searchfield-text-color, .7);

      .icon {
        fill: rgba($searchfield-text-color, .7);
      }
    }

    &.active,
    &.is-open {
      .searchfield {
        border-bottom-color: rgba($searchfield-border-color, 1);
      }

      .btn {
        border-bottom-color: rgba($searchfield-border-color, 1);
      }
    }
  }

  &.non-collapsible {
    .icon:not(.close) {
      height: 14px;
      top: 10px;
    }
  }

  &.is-open {
    .searchfield,
    .btn {
      background-color: rgba($searchfield-bg-color, 1);
      border-bottom-color: rgba($searchfield-border-color, 1);
    }

    &.alternate {
      .searchfield,
      .btn {
        background-color: rgba($searchfield-alt-bg-color, 1);
        border-bottom-color: rgba($searchfield-alt-border-color, 1);
      }
    }
  }

  &.active {
    // During the animation "out", the text goes transparent
    .searchfield {
      background-color: rgba($searchfield-bg-color, 1);
      border-bottom-color: rgba($searchfield-border-color, 1);
      color: transparent;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }
    }

    .btn {
      background-color: rgba($searchfield-bg-color, 1);
      border-bottom-color: rgba($searchfield-border-color, 1);
    }

    &.alternate {
      .searchfield,
      .btn {
        background-color: rgba($searchfield-alt-bg-color, 1);
        border-bottom-color: rgba($searchfield-alt-border-color, 1);
      }
    }

    .icon {
      &:not(.close) {
        left: 8px;
      }

      &.close {
        fill: rgba($searchfield-text-color, 0);
        @include transition(fill 300ms cubic-bezier(.17, .04, .03, .94));
      }
    }

    // Once the field is open, color and font size change to match other Searchfields.
    &.is-open {
      .searchfield {
        color: $searchfield-text-color;
        @include font-size(14);
        font-weight: normal;
        padding-right: 34px;
        text-transform: none;

        &::-webkit-input-placeholder {
          color: $searchfield-text-color;
          @include font-size(14);
          font-weight: normal;
          text-transform: none;
        }

        &::-moz-placeholder {
          color: $searchfield-text-color;
          @include font-size(14);
          font-weight: normal;
          text-transform: none;
        }

        &:-ms-input-placeholder {
          color: $searchfield-text-color;
          @include font-size(14);
          font-weight: normal;
          text-transform: none;
        }
      }

      .icon {
        &.close {
          fill: rgba($searchfield-text-color, 1);
        }
      }
    }

  }

  &:not(.is-open) {
    .icon.close {
      display: none !important;
    }
  }

  &.has-focus {
    .icon {
      fill: $tertiary-btn-hover-color;
    }

    .searchfield {
      border-color: transparent;
    }

    &.active {
      .icon {
        fill: $searchfield-text-color;
        height: 14px;
        top: 10px;
      }

      .inline ~ .icon {
        top: 15px;
      }

      .searchfield {
        border-color: transparent transparent rgba($searchfield-border-color, 1);
      }

      .btn {
        border-color: transparent transparent rgba($searchfield-border-color, 1);
      }
    }
  }

  &.has-text {
    width: $toolbarsearchfield-filled-out-width;

    &.active {
      width: $toolbarsearchfield-max-width;
    }

    .searchfield {
      padding-right: 0;
    }
  }

  &.has-categories {
    width: $toolbarsearchfield-category-empty-width;

    &.active {
      width: $toolbarsearchfield-max-width;
    }

    &.has-text {
      width: $toolbarsearchfield-filled-out-width;

      &.active {
        width: $toolbarsearchfield-max-width;
      }
    }

    .searchfield {
      border: 1px solid transparent;
      padding-right: 0;
      width: calc(100% - 39px);
    }

    .btn {
      border: 1px solid transparent;
      height: 34px;
    }

    &.searchfield-wrapper.show-category {
      .searchfield {
        border-left-color: transparent;
      }
    }
  }

}

.azure07 .active input {
  background-color: rgba(29, 95, 138, .5) !important;  //08
  border-bottom-color: rgba(19, 77, 113, .7) !important;  //09
  color: $white;

  &::-webkit-input-placeholder {
    color: $white !important;
    opacity: 0.7;
  }

  &::-moz-placeholder {
    color: $white !important;
    opacity: 0.7;
  }

  &:-ms-input-placeholder {
    color: $white !important;
    opacity: 0.7;
  }
}

// Set positioning logic of the wrapper when it takes up the fullscreen
.toolbar > .toolbar-searchfield-wrapper {
  left: 0;
  position: absolute;
  right: 100%;
  top: 5px;
  //width: 100%;
  z-index: 10;

  &.active {
    right: 0;
    //width: 100%;
  }

  &.has-text {
    //width: 100%;

    &.active {
      //width: 100%;
    }
  }
}

// Inside of Listviews
.card-header,
.widget-header {
  .toolbar-searchfield-wrapper {
    .icon.close {
      background-color: rgba($searchfield-card-bg-color, 0);
      border-color: rgba($searchfield-card-border-color, 0);
    }

    &.is-open {
      .searchfield {
        background-color: rgba($searchfield-card-bg-color, 1);
        border-bottom-color: rgba($searchfield-card-border-color, 1);
      }

      .icon.close {
        background-color: rgba($searchfield-card-bg-color, 1);
      }
    }

    &.has-focus {
      .icon {
        fill: $listview-toolbar-button-icon-color;
      }
    }

    &:hover {
      input:not([disabled]):not(:focus) {
        + svg {
          fill: $listview-toolbar-button-icon-hover-color;
        }
      }
    }
  }
}

.header,
.masthead {
  .toolbar-searchfield-wrapper {
    .icon {
      fill: $searchfield-header-icon-color;
      opacity: .7;
    }

    .searchfield {
      background-color: rgba($searchfield-header-bg-color, 0);
      border-color: rgba($searchfield-header-border-color, 0);
      color: $searchfield-header-text-color;
    }

    .go-button {
      background-color: $btn-bg-color;
      border-color: $btn-bg-color;
      color: $btn-color;

      .icon {
        fill: $btn-color;
      }

      &:hover {
        background-color: $btn-hover-bg-color;
        border: 1px solid $btn-hover-bg-color;
      }

      &:active {
        background-color: $btn-active-bg-color;
        border: 1px solid $btn-active-bg-color;
      }

      &:focus {
        &:active {
          background-color: $btn-active-bg-color;
          box-shadow: none;
        }
      }

      &[disabled],
      &[disabled]:hover {
        background-color: $btn-disabled-bg-color;
        border: 1px solid $btn-disabled-border-color;
        box-shadow: none;
        color: $btn-disabled-color;
        cursor: default;
        opacity: $btn-disabled-opacity;
      }

      .ripple-effect {
        background: $graphite02;
      }
    }

    .searchfield-category-button,
    .go-button {
      &:focus {
        border: 1px solid transparent;

        &:not(.hide-focus) {
          box-shadow: none;
          color: $btn-color;

          &::after {
            border: 1px solid $header-button-focus-color;
            border-radius: 2px;
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &:hover {
      input:not([disabled]):not(:focus) {
        + svg {
          fill: $searchfield-header-icon-color;
          opacity: 1;
        }
      }
    }

    &.is-hovered {
      .btn {
        color: rgba($searchfield-header-text-color, .7);
      }

      .icon {
        fill: rgba($searchfield-header-icon-color, .7);
      }
    }

    &.is-open {
      .searchfield,
      .btn {
        background-color: rgba($searchfield-header-bg-color, .5);
        border-bottom-color: rgba($searchfield-header-border-color, .7);
      }
    }

    &.active {
      .searchfield,
      .btn {
        background-color: rgba($searchfield-header-bg-color, .5);
        border-bottom-color: rgba($searchfield-header-border-color, .7);
        color: transparent;

        &::-webkit-input-placeholder {
          color: transparent;
        }

        &::-moz-placeholder {
          color: transparent;
        }

        &:-ms-input-placeholder {
          color: transparent;
        }
      }

      .icon.close {
        background-color: transparent;
      }

      &.is-open {
        .searchfield,
        .btn {
          color: $searchfield-header-text-color;

          &::-webkit-input-placeholder {
            color: $searchfield-header-placeholder-text-color;
          }

          &::-moz-placeholder {
            color: $searchfield-header-placeholder-text-color;
          }

          &:-ms-input-placeholder {
            color: $searchfield-header-placeholder-text-color;
          }
        }
      }
    }

    &.has-focus.active {
      .icon {
        fill: $searchfield-header-icon-color;
      }
    }
  }

  // Small adjustments for being the full-width toolbar searchfield
  .toolbar > .toolbar-searchfield-wrapper.active {
    .searchfield {
      // Don't be semi-transparent in this mode, since it sits over top of other things
      background-color: rgba($searchfield-header-bg-color, 1);
      border-bottom-color: rgba($searchfield-header-border-color, 1);
    }
  }
}

.header {
  .toolbar > .toolbar-searchfield-wrapper {
    left: 20px;
    top: 12px;
  }
}

// For non-collapsible searchfields:  Only be non-collapsible on larger breakpoints.
@media(min-width: $breakpoint-phone-to-tablet) {

  .toolbar-searchfield-wrapper.non-collapsible {
    width: $toolbarsearchfield-max-width;

    // reset all the styling for the searchfield to correctly appear open.
    .searchfield {
      @include font-size(14);
      background-color: rgba($searchfield-bg-color, 1);
      border-bottom-color: rgba($searchfield-border-color, 1);
      border-radius: 0;
      color: $searchfield-text-color;
      font-weight: normal;
      text-transform: none;

      &::-webkit-input-placeholder {
        @include font-size(14);
        color: $searchfield-text-color;
        font-weight: normal;
        text-transform: none;
      }

      &::-moz-placeholder {
        @include font-size(14);
        color: $searchfield-text-color;
        font-weight: normal;
        text-transform: none;
      }

      &:-ms-input-placeholder {
        @include font-size(14);
        color: $searchfield-text-color;
        font-weight: normal;
        text-transform: none;
      }
    }

    &.has-text {
      width: $toolbarsearchfield-max-width;

      &.active {
        width: $toolbarsearchfield-max-width;
      }
    }

    &.has-focus {
      .icon {
        fill: $searchfield-text-color;
      }
    }
  }

  .card-header,
  .widget-header {
    .toolbar-searchfield-wrapper.non-collapsible {
      // reset all the styling for the searchfield to correctly appear open.
      .searchfield {
        background-color: rgba($searchfield-card-bg-color, 1);
        border-bottom-color: rgba($searchfield-card-border-color, 1);
      }

      &.has-focus {
        .icon {
          fill: $listview-toolbar-button-icon-color;
        }
      }
    }
  }

  .header,
  .masthead,
  .module-tabs {
    .toolbar-searchfield-wrapper.non-collapsible {
      // reset all the styling for the searchfield to correctly appear open.
      .searchfield {
        color: $searchfield-header-text-color;

        &::-webkit-input-placeholder {
          color: $searchfield-header-placeholder-text-color;
        }

        &::-moz-placeholder {
          color: $searchfield-header-placeholder-text-color;
        }

        &:-ms-input-placeholder {
          color: $searchfield-header-placeholder-text-color;
        }
      }

      &.has-focus {
        .icon {
          fill: $searchfield-header-icon-color;
        }
      }
    }
  }

  .header,
  .masthead {
    .toolbar-searchfield-wrapper.non-collapsible {
      .searchfield {
        background-color: rgba($searchfield-moduletabs-bg-color, .5);
        border-bottom-color: rgba($searchfield-moduletabs-border-color, .7);
      }
    }
  }

  .module-tabs {
    .toolbar-searchfield-wrapper.non-collapsible {
      // reset all the styling for the searchfield to correctly appear open.
      .searchfield {
        background-color: rgba($searchfield-header-bg-color, .5);
        border-bottom-color: rgba($searchfield-header-border-color, .7);
      }
    }
  }

}

@include respond-to(phone) {

  .toolbar-searchfield-wrapper:not(.is-open) {
    .searchfield.alternate {
      background-color: transparent !important;
    }
  }

}

html[dir='rtl'] {
  .toolbarsearchfield-wrapper {
    &.has-text {
      .searchfield {
        padding-right: auto;
        padding-left: 0;
      }
    }
  }
}
