<div class="row">
  <div class="six columns">
    <h2>Toolbar Searchfield Test: Go Buttons</h2>
    <p>
      Related JIRA: <a class="hyperlink" href="https://jira.infor.com/browse/SOHO-6711" target="_blank"/>SOHO-6711</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">Toolbar with Categories</div>
      <div class="buttonset">
        <label for="searchfield-go">Searchfield with Go Button</label>
        <input id="searchfield-go" class="searchfield toolbar-searchfield" data-options='{ "categories": [ "Books", "Movies", "Music", "Video Games" ] }'/>
      </div>
      <div class="more">
        <button class="btn-actions">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#">Option 1</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">Toolbar with Search/Go</div>
      <div class="buttonset">
        <label for="searchfield-go">Searchfield with Go Button</label>
        <input id="searchfield-go" class="searchfield toolbar-searchfield" data-options='{ "showGoButton": true }'/>
      </div>
      <div class="more">
        <button class="btn-actions">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#">Option 1</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="toolbar">
      <div class="title">Toolbar with Categories/Search/Go</div>
      <div class="buttonset">
        <label for="searchfield-go">Searchfield with Go Button</label>
        <input id="searchfield-go" class="searchfield toolbar-searchfield" data-options='{ "categories": [ "Books", "Movies", "Music", "Video Games" ], "showGoButton": true }'/>
      </div>
      <div class="more">
        <button class="btn-actions">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-more"></use>
          </svg>
          <span class="audible">More Actions</span>
        </button>
        <ul class="popupmenu">
          <li><a href="#">Option 1</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
