 <section>
    <h2>Settings</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Default</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      

  <tr>
    <td>
      element
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      the base element
    </td>
  </tr>


  <tr>
    <td>
      settings
    </td>
    <td>
      
    </td>
    <td>
      object
    </td>
    <td>
      incoming settings
    </td>
  </tr>


  <tr>
    <td>
      settings.clearable
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If "true", provides an "x" button on the right edge that clears the field
    </td>
  </tr>


  <tr>
    <td>
      settings.collapsible
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If "true", allows the field to expand/collapse on larger breakpoints when
focused/blurred respectively
    </td>
  </tr>


  <tr>
    <td>
      settings.collapsibleOnMobile
    </td>
    <td>
      <span>true</span>
    </td>
    <td>
      boolean
    </td>
    <td>
      If true, overrides `collapsible` only on mobile settings.
    </td>
  </tr>


      </tbody>
    </table>
  </section>
  <section>
  
    
  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>hasFocus</td>
        <td>
          
        </td>
        <td>
          <p>Detects whether or not the Toolbar Searchfield has focus.</p>

        </td>
        <td>
          whether or not the Toolbar Searchfield has focus.
boolean
        </td>
      </tr>
      <tr>
        <td>hasCategories</td>
        <td>
          
        </td>
        <td>
          <p>Detects the existence of a "Categories" button added to the searchfield</p>

        </td>
        <td>
          whether or not a categories button exists.
boolean
        </td>
      </tr>
      <tr>
        <td>hasGoButton</td>
        <td>
          
        </td>
        <td>
          <p>Detects the existence of a "Go" button added to the main searchfield API</p>

        </td>
        <td>
          whether or not a "Go" button exists.
boolean
        </td>
      </tr>
      <tr>
        <td>handleFocus</td>
        <td>
          
        </td>
        <td>
          <p>Handles the focus of the searchfield.</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>expand</td>
        <td>
          
                
                  <span>noFocus (boolean) = If defined, causes the searchfield component not to become focused
at the end of the expand method. Its default functionality is that it will become focused.
 </span>
                
          
        </td>
        <td>
          <p>Expands the Searchfield</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>collapse</td>
        <td>
          
        </td>
        <td>
          <p>Collapses the Searchfield</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings (object) = incoming settings
 </span>
                
          
        </td>
        <td>
          <p>Used when the control has its settings or structural markup changed.
Rebuilds key parts of the control that otherwise wouldn't automatically update.</p>

        </td>
        <td>
          component instance
this
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enables the Searchfield</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disables the Searchfield</p>

        </td>
        <td>
          
void
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
                
                  <span>dontDestroySearchfield (boolean) = if true, will not pass through and destroy
a linked instance of the Searchfield component.
 </span>
                
          
        </td>
        <td>
          <p>Removes the entire control from the DOM and from this element's internal data</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handleEvents</td>
        <td>
          
        </td>
        <td>
          <p>Removes the entire control from the DOM and from this element's internal data</p>

        </td>
        <td>
          
void
        </td>
      </tr>
    </tbody>
  </table>


  </section>
  <section>
    <h2>Events</h2>
    <table class="section-table">
      <thead>
        <th>Name</th>
        <th>Args</th>
        <th>Description</th>
      </thead>
      <tbody>
      
        <tr>
  <td>keydown
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object
/
/**
Fires when the searchfield is focused.

        </span>
        
      </div>
    
      <div>
        <span>event (object)
        
        = The jquery event object
/
/**
Fires when a key is pressed inside of the searchfield.

        </span>
        
      </div>
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when the searchfield is clicked (if enabled).
</td>
</tr>

      
        <tr>
  <td>keydown
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a 
<code>keydown</code>
 event is triggered at the 
<code>document</code>
 level.
</td>
</tr>

      
        <tr>
  <td>collapse
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a 
<code>collapse</code>
 event is triggered externally on the searchfield.
</td>
</tr>

      
        <tr>
  <td>beforeopen
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a 
<code>beforeopen</code>
 event is triggered on the searchfield's optional categories menubutton.
</td>
</tr>

      
        <tr>
  <td>navigate
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a 
<code>navigate</code>
 event is triggered on the searchfield's parent toolbar.
</td>
</tr>

      
        <tr>
  <td>resize
  </td>
  <td>
  
    
      <div>
        <span>event (object)
        
        = The jquery event object

        </span>
        
      </div>
    
  
  </td>
  <td>Fires when a 
<code>resize</code>
 event is triggered at the 
<code>body</code>
 level.
</td>
</tr>

      
      </tbody>
    </table>
  </section>
