  <section>
  
    



  
    



  
    


  <h2>Methods</h2>
  <table class="section-table">
    <thead>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
      <th>Returns</th>
    </thead>
    <tbody>
      <tr>
        <td>build</td>
        <td>
          
        </td>
        <td>
          <p>Creates and manages any markup the control needs to function.</p>

        </td>
        <td>
          
this
        </td>
      </tr>
      <tr>
        <td>hasFocus</td>
        <td>
          
        </td>
        <td>
          <p>Detects whether or not the Toolbar Searchfield has focus.</p>

        </td>
        <td>
          
boolean
        </td>
      </tr>
      <tr>
        <td>hasCategories</td>
        <td>
          
        </td>
        <td>
          <p>Detects the existence of a "Categories" button added to the searchfield</p>

        </td>
        <td>
          
boolean
        </td>
      </tr>
      <tr>
        <td>hasGoButton</td>
        <td>
          
        </td>
        <td>
          <p>Detects the existence of a "Go" button added to the main searchfield API</p>

        </td>
        <td>
          
boolean
        </td>
      </tr>
      <tr>
        <td>handleFocus</td>
        <td>
          
        </td>
        <td>
          <p>Handles the focus of the searchfield.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handleFakeBlur</td>
        <td>
          
                
                  <span>e () =  </span>
                
          
        </td>
        <td>
          <p>Triggers an artificial "blur" of the searchfield, resulting in a time-delayed collapse.
TODO: Deprecate in 4.4.0</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handleFocusOut</td>
        <td>
          
        </td>
        <td>
          <p>Handles the "focusout" event</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>isSearchfieldElement</td>
        <td>
          
                
                  <span>element (HTMLElement) =  </span>
                
          
        </td>
        <td>
          <p>Detects whether or not an element is part of this instance of the Searchfield component</p>

        </td>
        <td>
          
boolean
        </td>
      </tr>
      <tr>
        <td>handleOutsideClick</td>
        <td>
          
                
                  <span>e () =  </span>
                
          
        </td>
        <td>
          <p>Event Handler for dealing with global (document) level clicks.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handleKeydown</td>
        <td>
          
                
                  <span>e (jQuery.Event) = jQuery-wrapped Keydown event.
 </span>
                
          
        </td>
        <td>
          <p>Handles Keydown Events</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handleOutsideKeydown</td>
        <td>
          
                
                  <span>e (jQuery.Event) = jQuery-wrapped Keydown event
 </span>
                
          
        </td>
        <td>
          <p>Handles global (document) level keydown events that are established to help
collapse/de-highlight searchfields on a timer.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handlePopupBeforeOpen</td>
        <td>
          
                
                  <span>e (jQuery.Event) = jQuery-wrapped 
<code>beforeopen</code>
 Event
 </span>
                
                  <span>menu () =  </span>
                
          
        </td>
        <td>
          <p>Event Handler for the Popupmenu Component's custom <code>beforeopen</code> event.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>getFillSize</td>
        <td>
          
                
                  <span>leftBoundary () =  </span>
                
                  <span>rightBoundary () =  </span>
                
          
        </td>
        <td>
          <p>Retrieves the distance between a left and right boundary.
Used on controls like Lookup, Contextual Panel, etc. to fill the space remaining in a toolbar.</p>

        </td>
        <td>
          
number
        </td>
      </tr>
      <tr>
        <td>isActive</td>
        <td>
          
        </td>
        <td>
          <p>Detects whether or not one of the components inside of this searchfield is the document's "active" element.</p>

        </td>
        <td>
          
boolean
        </td>
      </tr>
      <tr>
        <td>isOpen</td>
        <td>
          
        </td>
        <td>
          <p>Detects whether or not this searchfield instance is currently expanded.</p>

        </td>
        <td>
          
boolean
        </td>
      </tr>
      <tr>
        <td>adjustOnBreakpoint</td>
        <td>
          
        </td>
        <td>
          <p>Makes necessary adjustments to the DOM surrounding the Searchfield element to accommodate
breakpoint changes.</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>expand</td>
        <td>
          
                
                  <span>noFocus () =  </span>
                
          
        </td>
        <td>
          <p>Expands the Searchfield</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>collapse</td>
        <td>
          
        </td>
        <td>
          <p>Collapses the Searchfield</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>updated</td>
        <td>
          
                
                  <span>settings () =  </span>
                
          
        </td>
        <td>
          <p>Used when the control has its settings or structural markup changed.  Rebuilds key parts of the control that
otherwise wouldn't automatically update.</p>

        </td>
        <td>
          
this
        </td>
      </tr>
      <tr>
        <td>enable</td>
        <td>
          
        </td>
        <td>
          <p>Enables the Searchfield</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>disable</td>
        <td>
          
        </td>
        <td>
          <p>Disables the Searchfield</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>teardown</td>
        <td>
          
        </td>
        <td>
          <p>Tears down events, properties, etc. and resets the control to "factory" state</p>

        </td>
        <td>
          
this
        </td>
      </tr>
      <tr>
        <td>destroy</td>
        <td>
          
                
                  <span>dontDestroySearchfield (boolean) = if true, will not pass through and destroy a linked instance of the Searchfield component.
 </span>
                
          
        </td>
        <td>
          <p>Removes the entire control from the DOM and from this element's internal data</p>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>handleEvents</td>
        <td>
          
                
                  <span>mousedown (object) = Fires when the searchfield is clicked (if enabled).
 </span>
                
                  <span>focusin (object) = Fires when the searchfield is focused.
 </span>
                
                  <span>keydown (object) = Fires when a key is pressed inside of the searchfield.
 </span>
                
                  <span>collapse (object) = Fires when a 
<code>collapse</code>
 event is triggered externally on the searchfield.
 </span>
                
                  <span>beforeopen (object) = Fires when a 
<code>beforeopen</code>
 event is triggered on the searchfield's optional categories menubutton.
 </span>
                
                  <span>navigate (object) = Fires when a 
<code>navigate</code>
 event is triggered on the searchfield's parent toolbar.
 </span>
                
                  <span>keydown (object) = Fires when a 
<code>keydown</code>
 event is triggered at the 
<code>document</code>
 level.
 </span>
                
                  <span>resize (object) = Fires when a 
<code>resize</code>
 event is triggered at the 
<code>body</code>
 level.
 </span>
                
          
        </td>
        <td>
          <p>This component fires the following events.</p>

        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  </section>

  
