<div class="row">
  <div class="six columns">
    <h2>Popover Test: Common Configuration</h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <button id="popover-trigger" class="btn-primary">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-duplicate"></use>
      </svg>
      <span>Hover Me To Show Popover</span>
    </button>

  </div>
</div>

<div id="popover-contents" class="hidden">
  <p>This is a popover</p>
</div>

<script type="text/javascript">
  var POPOVER_OPTIONS = {
    content: $('#popover-contents'),
    placement: 'bottom',
    offset: {
      y: 10
    }
  };

  $('#popover-trigger').popover(POPOVER_OPTIONS);
</script>
