
  <div class="row" data-ng-controller="demo">
    <div class="two-thirds column">
        <div class="widget">
          <div class="widget-header">
            <h2 class="widget-title">Pie Chart Title</h2>
          </div>
          <div class="widget-content">
            <div id="pie-chart-example" data-dataset="chartData" data-chart-type="pie" class="chart-container" data-chart>
            </div>
          </div>
        </div>
    </div>
  </div>

  <script>
    // Example App and Controller
    var app = angular.module('exampleApp', ['sohoxi-angular']);

    app.controller('demo', function($scope) {
      $scope.chartData = [{
        data: [{
            name: 'Component A',
            value: 10.1
        }, {
            name: 'Component B',
            value: 10.2
        }, {
            name: 'Component C',
            value: 14.35
        }, {
            name: 'Component D',
            value: 15.6
        }, {
            name: 'Component E',
            value: 1.6
        }, {
            name: 'Component F',
            value: 1.6
        }]
      }];
    });

  </script>
