# This workflow will do a clean install of node dependencies,
# build the source code and run tests across different versions of node.
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  pull_request:
    branches:
      - "*"
      - "*/*"
      - "**"

jobs:
  build:

    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache multiple paths
      uses: actions/cache@v2
      with:
        path: node_modules
        key: enterprise-1021

    - name: Setup timezone
      uses: szenius/set-timezone@v1.0
      with:
        timezoneMacos: "America/New_York"

    - name: Install Dependencies
      run: npm ci

    - name: Build
      run: npm run build

    - name: Run Lint Checks
      run: npm run lint

    - name: Run tests
      run:  (npm run quickstart &) && sleep 5; npm run test;

    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - name: Dump job context
      env:
        JOB_CONTEXT: ${{ toJson(job) }}
      run: echo "$JOB_CONTEXT"
