// =======================================
// Flexible Toolbar - Searchfield Component
// ==================================== //

$flex-toolbar-searchfield-focus-width: 225px;
$responsive-searchfield-filled-out-width: 34px;

.toolbar-section {
  &.search {
    padding: 4px 0;
  }

  .searchfield-wrapper {
    margin: 0 15px 0 0;

    &.has-focus {
      width: $flex-toolbar-searchfield-focus-width;
    }

    .collapse-button {
      display: none;
      height: 38px;
      margin: 0;
      min-width: 0;
      padding: 0;
      width: $responsive-searchfield-filled-out-width + 4;
    }
  }
}

.flex-toolbar {
  .toolbar-searchfield-wrapper {
    &.non-collapsible.has-close-icon-button {
      .btn-icon.close {
        .icon.close {
          top: 0;
        }
      }
    }

    @media (max-width: $breakpoint-phone-to-tablet) {
      &:not(.is-open) {
        .searchfield-category-button {
          position: absolute;
          border-color: transparent;

          .icon-dropdown {
            visibility: hidden;
          }
        }
      }
    }

    .searchfield-category-button {
      svg.icon {
        transform: translateX(-5px);
      }
    }

    > svg.icon {
      top: 10px;
      width: 18px;
    }
  }
}

.flex-toolbar {
  .toolbar-searchfield-wrapper {
    &.has-collapse-button.is-open:not(.non-collapsible) {
      .icon:not(.close):not(.icon-error) {
        color: $searchfield-header-icon-color;
        top: 0;
      }
    }

    &.searchfield-wrapper > svg.icon:not(.icon-error) {
      width: 18px;
      height: 18px;
    }
  }
}

// RTL Styles
html[dir='rtl'] {
  .toolbar-section {
    .searchfield-wrapper {
      margin: 0 0 0 5px;
    }
  }
}

// Special Case for a responsive, active searchfield.
// All toolbar sections except for the one containing the searchfield collapse,
// and the one containing the searchfield expands to fill the entire space.
@include respond-to(phone) {
  .flex-toolbar {
    &.searchfield-active {
      .toolbar-section {
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        width: 0;

        &.search {
          width: 100%;
        }

        .searchfield-wrapper,
        .toolbar-searchfield-wrapper {
          width: 100%;
        }
      }
    }

    // TODO: Remove this once we don't need to support regular Toolbar anymore
    .searchfield-wrapper,
    .toolbar-searchfield-wrapper {
      &.has-text {
        width: 34px;
      }
    }

    .searchfield-wrapper {
      > .icon.close {
        right: 45px;
      }
    }
  }

  .toolbar-section {
    .searchfield-wrapper {
      &.is-open {
        .collapse-button {
          display: inline;
        }

        &.has-collapse-button {
          .searchfield {
            width: calc(100% - 34px);
          }
        }
      }
    }
  }

  html[dir='rtl'] {
    .flex-toolbar {
      .searchfield-wrapper {
        > .icon.close {
          left: 40px;
          right: auto;
        }
      }
    }
  }

  html[class*='theme-classic-'] {
    @media (max-width: 766px) {
      .flex-toolbar.searchfield-active .toolbar-section .searchfield-wrapper,
      .flex-toolbar.searchfield-active .toolbar-section .toolbar-searchfield-wrapper {
        width: calc(100% + 35px);
      }
    }
  }
}
