<nav id="application-menu" class="application-menu is-open">

  <div class="searchfield-wrapper">
    <label class="audible" for="application-menu-searchfield">Search</label>
    <input id="application-menu-searchfield" class="searchfield" data-options='{ "clearable": true, "categories" : [ "Books", "Movies", "Music", "Video Games" ], "showCategoryText": true, "showGoButton": true }' placeholder="Search this menu"/>
  </div>

  <div class="accordion panel inverse" data-options="{'allowOnePane': true}" >
    <div class="accordion-header">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-user"></use>
      </svg>
      <a href="#"><span>My Account</span></a>
    </div>
    <div class="accordion-pane">
      <div class="accordion-content panel logout">
        <svg class="icon avatar" viewBox="0 0 48 48" focusable="false" aria-hidden="true" role="presentation">
          <use xlink:href="#icon-user-avatar"></use>
        </svg>
        <span class="content">
          <span class="name">Ming.le User</span>
          <span><a href="#" class="hyperlink">Sign Out</a></span>
        </span>
      </div>
      <div class="accordion-header">
        <a href="#"><span>Notifications</span></a>
      </div>
      <div class="accordion-header">
        <a href="#"><span>Administrator</span></a>
      </div>
      <div class="accordion-header">
        <a href="#"><span>User Settings</span></a>
      </div>
      <div class="accordion-header">
        <a href="#"><span>Help</span></a>
      </div>
    </div>

    <div class="accordion-header">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-bookmark-filled"></use>
      </svg>
      <a href="#"><span>Bookmarks</span></a>
    </div>

    <div class="accordion-header">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-clock"></use>
      </svg>
      <a href="#"><span>History</span></a>
    </div>

    <div class="accordion-header">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-home"></use>
      </svg>
      <a href="#"><span>Homepages</span></a>
    </div>

    <div class="accordion-header">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-roles"></use>
      </svg>
      <a href="#"><span>My Roles</span></a>
    </div>
    <div class="accordion-pane">
      <div class="accordion-header">
        <a href="#"><span>Role #1</span></a>
      </div>
      <div class="accordion-pane">
        <div class="accordion-header list-item">
          <a href="#"><span>Role #1 Task #1</span></a>
        </div>

        <div class="accordion-header list-item">
          <a href="#"><span>Role #1 Task #2</span></a>
        </div>

        <div class="accordion-header list-item">
          <a href="#"><span>Role #1 Task #3</span></a>
        </div>
      </div>

      <div class="accordion-header">
        <a href="#"><span>Role #2</span></a>
      </div>
      <div class="accordion-pane">
        <div class="accordion-header list-item">
          <a href="#"><span>Role #2 Task #1</span></a>
        </div>

        <div class="accordion-header list-item">
          <a href="#"><span>Role #2 Task #2</span></a>
        </div>

        <div class="accordion-header list-item">
          <a href="#"><span>Role #2 Task #3</span></a>
        </div>
      </div>

      <div class="accordion-header">
        <a href="#"><span>Role #3</span></a>
      </div>

      <div class="accordion-header">
        <a href="#"><span>Role #4</span></a>
      </div>
    </div>

  </div>

  <div class="branding">
    <svg class="icon" viewBox="0 0 34 34" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-logo"></use>
    </svg>
  </div>
</nav>
