// Navigation Menu
//================================================== //

.navigationmenu-container {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  height: 100%;

  .page-container {
    position: static;
  }

  // =====================================================
  // Show/Hide Detail View

  // No detail view = box shadow on the menu itself
  &:not(.show-detail) {
    &.mode-expanded .navigationmenu-bar {
      @include drawer-box-shadow;
    }
  }

  // Detail view = box shadow on detail view
  &.show-detail {
    .navigationmenu-detail {
      @include drawer-box-shadow;
    }
  }

  // =====================================================
  // Display Mode

  &:not(.mode-expanded):not(.mode-collapsed) {
    .navigationmenu {
      pointer-events: none;
    }

    .navigationmenu-bar {
      width: 0px;
    }
  }

  &.mode-collapsed,
  &.mode-expanded {
    .navigationmenu-bar {
      z-index: 1;
    }
  }

  &.mode-collapsed {
    .navigationmenu {
      border-right: 1px solid $nav-menu-border-color;
    }

    .navigationmenu-bar {
      width: $nav-menu-collapsed-size;
    }

    &.show-detail {
      .page-container {
        margin-inline-start: ($nav-menu-submenu-size * -1);
      }
    }
  }

  &.mode-expanded {
    border-right: 1px solid $nav-menu-border-color;

    .navigationmenu-bar {
      width: $nav-menu-expanded-size;
    }

    .page-container {
      margin-inline-start: ($nav-menu-submenu-size * -1);
    }

    &.show-detail {
      .navigationmenu-detail {
        width: $nav-menu-submenu-size;
      }

      .page-container {
        margin-inline-start: ($nav-menu-submenu-size * -2);
      }
    }
  }
}

.navigationmenu {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.navigationmenu-bar {
  background-color: $nav-menu-bg-color;
  color: $nav-menu-text-color;
  height: 100%;
}

.navigationmenu-detail {
  background-color: $nav-menu-detail-bg-color;
  border-right: 1px solid $nav-menu-border-color;
  height: 100%;

  &:not(.visible) {
    display: none;
  }

  &.visible {
    width: $nav-menu-submenu-size;
  }
}
