// Masthead
//================================================== //

.masthead {
  background-color: $masthead-bg-color;
  border-bottom: 1px solid $masthead-border-color;
  height: 38px;
  width: 100%;
  z-index: 9000;

  .masthead-icon {
    border-radius: 0;
    height: 32px;
    margin-top: 4px;
    padding: 0;
    width: 32px;

    > .icon {
      height: 30px;
      width: 30px;
    }

    .ripple-effect {
      background-color: transparent;
    }
  }

  [class^='btn'] {
    height: 32px;
    min-width: 32px;

    &.collapse-button {
      height: inherit;
    }
  }

  .btn {
    padding: 0 10px;
  }

  .btn-icon,
  .btn-actions,
  .btn-close {
    min-height: 32px;
    min-width: 32px;
    width: 32px;
  }

  .toolbar-searchfield-wrapper {
    > .icon:not(.close, .error) {
      color: $masthead-button-color;
      height: 18px;
      opacity: 1;
    }

    &.has-focus:not(.active) {
      > .icon {
        color: $masthead-button-hover-color;
      }
    }
  }

  .searchfield {
    height: 28px;
  }

  .toolbar {
    height: 100%;
    margin-bottom: 0;

    .popupmenu {
      li {
        &.is-checked > a::before {
          border-color: $popupmenu-checked-color-inverse $popupmenu-checked-color-inverse $popupmenu-checked-color-inverse transparent;
        }
      }
    }

    .title {
      height: 100%;
      padding: 0;
    }

    .buttonset {
      height: 36px;

      > *:not(.toolbar-searchfield-wrapper) {
        margin: 3px 3px 2px 0;
      }

      .toolbar-searchfield-wrapper {
        margin: 2px 5px 1px 0;
      }
    }

    .btn-actions {
      margin-left: -8px;
      margin-right: 5px;
    }
  }

  .toolbar {
    [class^='btn'] {
      margin: 3px 3px 2px 0;
      vertical-align: top;
    }
  }

  .flex-toolbar {
    height: inherit;
  }

  .toolbar,
  .flex-toolbar {
    .toolbar-section.logo {
      > *:first-child {
        margin-left: 10px;
      }
    }

    [class^='btn'] {
      background-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      color: $masthead-text-color;

      .ripple-effect {
        background-color: $theme-color-palette-white;
      }

      &:active {
        border-color: transparent;
      }

      span {
        color: inherit;
      }

      .icon {
        color: $masthead-button-color;

        &.app-drawer {
          left: -6px;
          position: relative !important;
          top: -6px;
        }
      }

      &:hover:not([disabled]) {
        color: $masthead-button-hover-color;

        .icon {
          color: $masthead-button-hover-color;
        }
      }

      &.is-open,
      &.is-open:hover {
        color: $masthead-button-hover-color;

        .icon {
          color: $masthead-button-hover-color;
        }
      }

      &:focus:not(.hide-focus) {
        box-shadow: 0 0 0 2px transparent, 0 0 0 1px $masthead-button-focus-color, $header-focus-box-shadow;

        .icon {
          color: $masthead-button-focus-color;
        }
      }

      &.is-selected {
        &:focus:not(.hide-focus) {
          color: $masthead-button-focus-color;

          .icon {
            color: $masthead-button-focus-color;
          }
        }
      }
    }
  }
}

.twelve {
  .masthead {
    position: static;
  }
}

.masthead-appname {
  color: $masthead-text-color;
  display: inline-block;
  font-size: $theme-size-font-sm;
  font-weight: $theme-number-font-weight-bold;
  line-height: 38px;
  margin: 0;
  vertical-align: top;
}
