// Uplift Pager
//================================================== */

.pager-pagesize {
  button {
    height: auto;
    min-height: 26px;
  }
}

.pager-toolbar {
  > li {
    > .btn-icon {
      height: 32px;
    }

    &.pager-prev,
    &.pager-first,
    &.pager-last,
    &.pager-next {
      > .btn-icon {
        border-radius: 8px;
        margin-top: -4px;
        min-width: 30px;
        width: 30px;

        .icon {
          margin-top: -3px;
        }
      }
    }

    &.pager-no {
      border-radius: 8px;

      > .btn-icon {
        border-radius: 8px;
        margin-top: -4px;

        .icon {
          margin-top: -10px;
        }
      }
    }
  }
}

.card,
.widget {
  &.card .card-footer .pager-toolbar {
    height: 30px;
    margin-top: -10px;

    > li {
      &.pager-prev,
      &.pager-first,
      &.pager-last,
      &.pager-next {
        > .btn-icon {
          height: 32px;
          margin-top: -2px;
          padding: 5px;
        }
      }

      &.pager-no {
        > .btn-icon {
          height: 32px;
          margin-top: -4px;
        }
      }
    }
  }
}

.is-firefox {
  .pager-toolbar {
    > li {
      &.pager-prev,
      &.pager-first,
      &.pager-last,
      &.pager-next,
      &.pager-no {
        > .btn-icon {
          margin-top: -4px;
        }
      }
    }
  }

  .card,
  .widget {
    &.card .card-footer .pager-toolbar {
      > li {
        &.pager-prev,
        &.pager-first,
        &.pager-last,
        &.pager-next,
        &.pager-no {
          > .btn-icon {
            margin-top: -4px;
          }
        }
      }
    }
  }
}
