// Uplift Searchfield
//================================================== //

.inline.searchfield-wrapper:not(.toolbar-searchfield-wrapper) {
  > .icon:not(.icon-error) {
    top: 38px;
  }
}

.searchfield-wrapper {
  > .icon {
    top: 12px;

    &.close {
      right: 8px;
      top: 13px;
    }
  }

  .go-button {
    height: 100%;
  }

  .searchfield-category-button {
    height: 38px;
  }
}

// Firefox needs some help
html.is-firefox {
  .searchfield-wrapper {
    height: 34px;

    > .icon {
      top: 10px;
    }

    .searchfield-category-button {
      height: inherit;
    }
  }
}

html[dir='rtl'] {
  .searchfield-wrapper {
    > .icon {
      &.close {
        left: 8px;
        right: auto;
      }
    }

    .searchfield-category-button {
      height: 39px;
    }
  }

  &.is-firefox {
    .searchfield-wrapper {
      > .icon {
        &.close {
          top: 10px;
        }
      }

      .searchfield-category-button {
        height: inherit;
      }
    }
  }
}
