// Search Field
//================================================== //

@mixin searchfield-text-style() {
  color: $font-color;
  font-weight: $theme-number-font-weight-bold;

  @include font-size(14);
}

@mixin searchfield-text-style-hover() {
  color: $theme-color-brand-primary-base;
  font-weight: $theme-number-font-weight-bold;

  @include font-size(14);
}

@mixin context-searchfield-box-shadow() {
  box-shadow: 0 3px 5px 0 rgba($searchfield-context-box-shadow-color, 0.7);
}

$cubic-bezier-ease: cubic-bezier(0.17, 0.04, 0.03, 0.94);

.searchfield-wrapper {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  @include transition(width 300ms $cubic-bezier-ease,
  left 300ms $cubic-bezier-ease,
  right 300ms $cubic-bezier-ease,
  box-shadow 300ms $cubic-bezier-ease);

  > .icon {
    background-color: rgba($theme-color-palette-white, 0); // IE 10
    fill: $trigger-icon-fill-color;
    height: 14px;
    position: absolute;
    top: 10px;

    &:not(.close):not(.icon-error) {
      left: 8px;
      pointer-events: none;
    }

    &.close {
      right: 5px;
      top: 11px;
    }

    &.icon-error {
      fill: $error-color;
      left: auto;
      right: auto;
      top: auto;
    }
  }

  &:hover input:not([disabled]):not(:focus) {
    + svg {
      fill: $button-color-tertiary-hover-font;
    }
  }

  .icon-dropdown {
    margin-left: 5px;
  }

  .searchfield {
    height: 34px;
    padding-left: 34px;
    padding-right: 10px;

    @include transition(background-color 300ms $cubic-bezier-ease,
    border-color 300ms $cubic-bezier-ease);
  }

  // This variation is used on white-backgrounds (usually in list-detail, listviews, or builder pattern)
  &.context {
    white-space: nowrap;
    width: 100%;

    > .searchfield {
      background-color: $searchfield-context-bg;
      border-bottom: 1px solid $searchfield-context-border-color;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      height: 33px;
      padding-left: 32px;
      width: 100%;

      &.is-open {
        @include context-searchfield-box-shadow();
      }

      &.input-xl {
        height: 60px;
      }

    }

    > .icon {
      fill: $searchfield-context-icon-color;
      top: 9px;

      &:not(.close) {
        left: 6px;
        right: auto;
      }

      &.close {
        right: 6px;
      }
    }

    &.popup-is-open {
      > .icon:not(.close) {
        fill: $searchfield-active-icon-color;
      }
    }

    .btn {
      background-color: $searchfield-context-bg;
      border: 0;
      border-bottom: 1px solid $searchfield-context-border-color;
      height: 33px;

      + .searchfield {
        margin-left: 0;
      }
    }

    &.alternate {
      > .searchfield {
        background-color: $searchfield-context-alt-bg;
      }

      .btn {
        background-color: $searchfield-context-alt-bg;
      }
    }

    &.has-categories {
      &:not(.show-category) {
        margin-left: -1px;

        .searchfield {
          width: calc(100% - 37px);
        }

        .searchfield-category-button + .searchfield {
          margin-left: -1px;
        }
      }

      &.show-categories {
        .searchfield {
          border-color: $searchfield-context-border-color;
        }
      }

      > .searchfield {
        width: calc(100% - 39px);
      }
    }

    &.has-focus {
      .btn {
        border-color: $theme-color-brand-primary-base;
      }

      .searchfield {
        border-color: $theme-color-brand-primary-base;
      }
    }

  }

  &.is-hovered {
    .btn {
      border-color: $input-color-hover-border;
      color: $input-color-hover-border;

      .icon {
        fill: $input-color-hover-border;
      }
    }

    &.has-categories {
      .searchfield {
        border-left-color: transparent;
      }
    }
  }

  &.has-focus {
    &:not(.toolbar-searchfield-wrapper) {
      box-shadow: 0 0 4px 1px rgba(54, 138, 192, 0.3);
    }

    .btn {
      border-color: $input-color-focus-border;

      &:focus,
      &:active {
        color: $input-color-focus-border;

        .icon {
          fill: $input-color-focus-border;
        }
      }
    }

    .searchfield {
      border-color: $input-color-focus-border;
    }

    input:focus {
      box-shadow: none;
    }

    &.has-categories {
      .searchfield {
        border-left-color: transparent;
        box-shadow: none;
      }

      &.show-category {
        .searchfield {
          border-left-color: $input-color-focus-border;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    &.has-go-button {
      box-shadow: none;
    }
  }

  // Buttons inside of searchfields
  .btn {
    @include transition(border 300ms $cubic-bezier-ease); // Matches the one on inputs

    background-color: transparent;
    border-bottom-right-radius: 0;
    border-color: $input-color-initial-border;
    border-right: 0;
    border-top-right-radius: 0;
    color: $font-color;
    font-weight: $theme-number-font-weight-base;
    height: 34px;
    margin: 0;
    min-width: 0;
    padding: 0 0 0 10px;
    position: relative;
    text-transform: none;

    + .searchfield {
      border-bottom-left-radius: 0;
      border-left: 1px solid transparent;
      border-top-left-radius: 0;
      padding-left: 10px;
    }

    .icon {
      fill: $font-color;
      width: 14px;
    }

    // Disable default focus state
    &:focus {
      box-shadow: none;
    }

    &.is-open {
      color: $input-color-focus-border;

      .icon {
        fill: $input-color-focus-border;
      }
    }
  }

  &.has-categories {
    > * {
      vertical-align: top;
    }

    &.show-category {
      .btn {
        padding-right: 10px;
      }

      .searchfield {
        border-left: 1px solid $input-color-initial-border;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  //Call to action button
  .go-button {
    margin-left: 10px;
    margin-top: 0;
    min-width: 0;
    padding: 0 5px;
    position: absolute;
    width: 40px;
  }

  + .error-message {
    margin-top: -7px;
  }
}

.searchfield-category-button {
  .category {
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 0;

    + .icon {
      margin-right: 0;
    }
  }
}

.inline.searchfield-wrapper:not(.toolbar-searchfield-wrapper) {
  > .icon:not(.icon-error) {
    top: 30px;
  }
}

// Context Searchfield's Popupmenu has alternate styles
.popupmenu.autocomplete.context {
  @include context-searchfield-box-shadow();

  background-color: $searchfield-context-bg;
  border: 0;
  border-top: 1px solid $theme-color-brand-primary-alt;

  &.alternate {
    background-color: $searchfield-context-alt-bg;
  }
}

// RTL Styles
html[dir='rtl'] {
  .searchfield-wrapper {
    > .icon {
      &:not(.close) {
        left: auto;
        right: 8px;
      }

      &.close {
        left: 5px;
        right: auto;
      }
    }

    .icon-dropdown {
      margin-left: 0;
      margin-right: 5px;
    }

    .icon + .icon-dropdown {
      margin-left: 0;
      margin-right: 0;
    }

    &.has-categories {
      .btn {
        border-left: 0;
        padding-left: 0;
        padding-right: 10px;
      }

      .searchfield {
        border-right: 0;
      }

      &:not(.context) {
        .btn {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 3px;
          border-top-left-radius: 0;
          border-top-right-radius: 3px;
        }

        .category:empty {
          width: 0;
        }

        .searchfield {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 0;
          border-top-left-radius: 3px;
          border-top-right-radius: 0;
        }

        &.show-category {
          .searchfield {
            border-right: 1px solid $input-color-initial-border;
          }
        }
      }

      &:not(.show-category) {
        margin-left: 0;
        margin-right: -1px;

        .searchfield-category-button + .searchfield {
          margin-left: 0;
          margin-right: -1px;
        }
      }

      &.show-category {
        .btn {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &:not(.toolbar-searchfield-wrapper):not(.context) {
      &.has-categories {
        .btn {
          border-right: 1px solid $input-color-initial-border;
        }

        .searchfield {
          border-left: 1px solid $input-color-initial-border;
        }
      }
    }
  }
}

@include respond-to(phablet) {
  .toolbar .searchfield {
    text-overflow: clip;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}

//for iOS & MAC fixes
.ios,
.is-mac {
  .searchfield-wrapper {
    &.context {
      > #searchfield-context-white.searchfield {
        background-color: $searchfield-context-bg;
      }
    }
  }
}

.ios {
  .searchfield-wrapper {
    &.context {
      .btn {
        height: 35px;
      }
    }
  }
}
