<div class="row">
  <div class="six columns">
    <h2>Searchfield Example: Different Template</h2>
    <p>This test demonstrates a Searchfield that is configured to render its results using the Soho Tmpl component and a script-based template.  All search results in this demo are prepended with an Infor logo.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="field">
      <label for="searchfield-template">Templated Searchfield</label>
      <input id="searchfield-template" class="searchfield" placeholder="Type to Search" data-options='{ "template": "#searchfield-with-pic", "source": "{{basepath}}api/states?term=" }'>
    </div>

  </div>
</div>

<!--This is only needed because it renders first on the server-->
{{={{{ }}}=}}
<script id="searchfield-with-pic" type="text/html">
  <li id="{{listItemId}}" {{#hasValue}}data-value="{{value}}" {{/hasValue}}role="listitem">
    <a href="#" tabindex="-1">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-logo" />
      </svg>
      <span>
        {{& label}}
      </span>
    </a>
  </li>
</script>
